---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123&billing_details[address][postal_code]=12345
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 24a78b37-ef22-4a14-ad7a-f328abeb7116
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 24a78b37-ef22-4a14-ad7a-f328abeb7116
      Original-Request:
      - req_iBc51InT9A4MnU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0PTC1U9e1RjUNIyY4ojh5AIw",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": "unchecked",
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1718755512,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 19 Jun 2024 00:05:12 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0PTC1U9e1RjUNIyY4ojh5AIw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=919&currency=usd&description=You+bought+http%3A%2F%2Fedgara77e058546.test.gumroad.com%3A31337%2Fl%2Fy&metadata[purchase]=KYvETFMsWuMr1oJPBKMQUw%3D%3D&transfer_group=34&payment_method_types[0]=card&payment_method=pm_0PTC1U9e1RjUNIyY4ojh5AIw&statement_descriptor_suffix=edgara77e058546
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 53ef56e6-201d-4375-a585-34614705667b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 53ef56e6-201d-4375-a585-34614705667b
      Original-Request:
      - req_RNKMPDQx5WqG65
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2PTC1V9e1RjUNIyY0vf3ZcPI",
          "object": "payment_intent",
          "amount": 919,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2PTC1V9e1RjUNIyY0vf3ZcPI_secret_0mdt17UbVL0kzWUpmfxc3xPYk",
          "confirmation_method": "automatic",
          "created": 1718755513,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgara77e058546.test.gumroad.com:31337/l/y",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchase": "KYvETFMsWuMr1oJPBKMQUw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0PTC1U9e1RjUNIyY4ojh5AIw",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgara77e058546",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "34"
        }
  recorded_at: Wed, 19 Jun 2024 00:05:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2PTC1V9e1RjUNIyY0vf3ZcPI/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - dda75c4f-ff8d-4ed4-ac73-b7fb9eb672d4
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2PTC1V9e1RjUNIyY0VMmaVxE?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2PTC1V9e1RjUNIyY0VMmaVxE",
          "object": "charge",
          "amount": 919,
          "amount_captured": 919,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2PTC1V9e1RjUNIyY0KXBeIW1",
            "object": "balance_transaction",
            "amount": 919,
            "available_on": 1718928000,
            "created": 1718755513,
            "currency": "usd",
            "description": "You bought http://edgara77e058546.test.gumroad.com:31337/l/y",
            "exchange_rate": null,
            "fee": 48,
            "fee_details": [
              {
                "amount": 48,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 871,
            "reporting_category": "charge",
            "source": "ch_2PTC1V9e1RjUNIyY0VMmaVxE",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD.CO* EDGARA77E0",
          "captured": true,
          "created": 1718755513,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgara77e058546.test.gumroad.com:31337/l/y",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "KYvETFMsWuMr1oJPBKMQUw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 8,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2PTC1V9e1RjUNIyY0vf3ZcPI",
          "payment_method": "pm_0PTC1U9e1RjUNIyY4ojh5AIw",
          "payment_method_details": {
            "card": {
              "amount_authorized": 919,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": "pass",
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 919,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUou8HIswYyBtvBrgBADjosFiDYlAnqNx8cRzODUq6asM8wtn9BxM9P3xCnbXFP7U8PN8jaAA3alNzf3R8",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgara77e058546",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "34"
        }
  recorded_at: Wed, 19 Jun 2024 00:05:15 GMT
recorded_with: VCR 6.2.0
