---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000000000003055&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 45a5998c-5522-404f-9619-323226e3c4b1
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 45a5998c-5522-404f-9619-323226e3c4b1
      Original-Request:
      - req_4QRioSz09ilz9T
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfYa9e1RjUNIyY5L47qaqu",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "mkERqR44ISo2dpl6",
            "funding": "credit",
            "generated_from": null,
            "last4": "3055",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703854377,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:52:57 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfYa9e1RjUNIyY5L47qaqu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar5f231a52349.test.gumroad.com%3A31337%2Fl%2Fd&metadata[purchase]=xr1mLyN4aWcUeGdepCqKCg%3D%3D&transfer_group=402&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0OSfYa9e1RjUNIyY5L47qaqu&statement_descriptor_suffix=edgar5f231a52349
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - '0931e309-f338-4f8b-8426-0dc243780ac4'
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '0931e309-f338-4f8b-8426-0dc243780ac4'
      Original-Request:
      - req_6hXEcwbWyKZCQ7
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSfYc9e1RjUNIyY0jY6lzbR",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSfYc9e1RjUNIyY0jY6lzbR_secret_YAqLsnL16klhB8DO1F58Emd2W",
          "confirmation_method": "automatic",
          "created": 1703854378,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar5f231a52349.test.gumroad.com:31337/l/d",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OSfYc9e1RjUNIyY0QwUtofD",
          "livemode": false,
          "metadata": {
            "purchase": "xr1mLyN4aWcUeGdepCqKCg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfYa9e1RjUNIyY5L47qaqu",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar5f231a52349",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "402"
        }
  recorded_at: Fri, 29 Dec 2023 12:52:58 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSfYc9e1RjUNIyY0QwUtofD?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OSfYc9e1RjUNIyY0QwUtofD",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OSfYc9e1RjUNIyY0nrB2wUm",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1704240000,
            "created": 1703854378,
            "currency": "usd",
            "description": "You bought http://edgar5f231a52349.test.gumroad.com:31337/l/d",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2OSfYc9e1RjUNIyY0QwUtofD",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR5F231A",
          "captured": true,
          "created": 1703854378,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar5f231a52349.test.gumroad.com:31337/l/d",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "xr1mLyN4aWcUeGdepCqKCg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 1,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OSfYc9e1RjUNIyY0jY6lzbR",
          "payment_method": "pm_0OSfYa9e1RjUNIyY5L47qaqu",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "mkERqR44ISo2dpl6",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "3055",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoq4K7rAYyBvE0nWU_sTosFpQmZbj9NEiIxCM7Keet6KLt9ydEUlyfU5Kh-JpfgjGOhIGyvAsbXoiHoa4",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar5f231a52349",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "402"
        }
  recorded_at: Fri, 29 Dec 2023 12:52:59 GMT
recorded_with: VCR 6.2.0
