---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QVFpS2paQXFYR2NOX29VOHdoLVJLZWx2Nk5mM0lyV1ZZOUo5cnJoejFwRjdhcWl5Wmp1dFNkRzc1STZhaGQzekplMVRocGtsRnA1ak5tYW46RVBuTmR0QVc2anNVbGVIV1FtanNGTmVmMzdmMUdHV0x3dEp4M3VPMlBSZGJFTkFGeFRnVzFXQTFWODNNVll2U3JScmtIMHRYTmV2RTBDSl8=
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.5.8
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 859b5bf55af54
      X-Paypal-Token-Service:
      - IAAS
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/customer/partner-referrals/readwrite
        https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/payments/realtimepayment
        openid https://uri.paypal.com/services/payments/payment/authcapture https://uri.paypal.com/services/payments/refund
        https://uri.paypal.com/services/customer/onboarding/user https://uri.paypal.com/services/risk/raas/transaction-context
        https://uri.paypal.com/services/partners/merchant-accounts/readwrite https://uri.paypal.com/services/identity/grantdelegation
        https://api.paypal.com/v1/vault/credit-card https://api.paypal.com/v1/payments/.*
        https://uri.paypal.com/services/payments/referenced-payouts-items/readwrite
        https://uri.paypal.com/services/reporting/search/read https://uri.paypal.com/services/customer/onboarding/account
        https://uri.paypal.com/services/customer/partner https://uri.paypal.com/services/customer/onboarding/sessions
        https://uri.paypal.com/payments/payouts https://api.paypal.com/v1/vault/credit-card/.*
        https://uri.paypal.com/services/subscriptions https://uri.paypal.com/services/applications/webhooks","access_token":"A21AAFidI1roi1C5xuN_zteSAPW4oZavYu1A4d1GfdN6Ws5lPyArRBPXpvRsjweRxoRstuqdI_zJd-lAWmFyz1ZS9NtBM5W-w","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":32290,"nonce":"2020-06-17T21:07:19ZR94B_4JEH1vDoaDmBaw_3s3r3gNwZh3VaXaYHkhtMdA"}'
  recorded_at: Wed, 17 Jun 2020 21:09:10 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/payments/captures/3R951669WT495394B/refund
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
      Authorization:
      - Bearer A21AAFidI1roi1C5xuN_zteSAPW4oZavYu1A4d1GfdN6Ws5lPyArRBPXpvRsjweRxoRstuqdI_zJd-lAWmFyz1ZS9NtBM5W-w
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.5.8
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - e612a3d143a34
    body:
      encoding: UTF-8
      string: '{"name":"UNPROCESSABLE_ENTITY","message":"The requested action could
        not be performed, semantically incorrect, or failed business validation.","debug_id":"e612a3d143a34","details":[{"issue":"REFUND_AMOUNT_EXCEEDED","description":"The
        refund amount must be less than or equal to the capture amount that has not
        yet been refunded."}],"links":[{"href":"https://developer.paypal.com/docs/api/payments/v2/#error-REFUND_AMOUNT_EXCEEDED","rel":"information_link"}]}'
  recorded_at: Wed, 17 Jun 2020 21:09:13 GMT
recorded_with: VCR 3.0.3
