---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c8c4fd17-36a0-4fbb-8e4b-f467c2dbedca
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c8c4fd17-36a0-4fbb-8e4b-f467c2dbedca
      Original-Request:
      - req_17xd9JQdGFlRXr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfOg9e1RjUNIyYiQMp0Sac",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703853762,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:42:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSfOg9e1RjUNIyYiQMp0Sac
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 740708d7-372e-41c1-8e34-fc70d7ad32e6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 740708d7-372e-41c1-8e34-fc70d7ad32e6
      Original-Request:
      - req_VtoOsHDy7xWan0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDq3w524qJHuF",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703853762,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "EBA88DC7",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:42:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSfOg9e1RjUNIyYiQMp0Sac&customer=cus_PHDq3w524qJHuF&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7fe09408-4c9f-4c21-a859-3e553112988a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7fe09408-4c9f-4c21-a859-3e553112988a
      Original-Request:
      - req_WHATVqYGzlT1jF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OSfOh9e1RjUNIyYtOItG5s6",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OSfOh9e1RjUNIyYtOItG5s6_secret_PHDqNCAFoZTmMtu7JAWQwT5tjUopTMz",
          "created": 1703853763,
          "customer": "cus_PHDq3w524qJHuF",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0OSfOh9e1RjUNIyYZ9MODe3o",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfOg9e1RjUNIyYiQMp0Sac",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Fri, 29 Dec 2023 12:42:44 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfOg9e1RjUNIyYiQMp0Sac
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500&currency=usd&description=You+bought+http%3A%2F%2Fedgar2607e097150.test.gumroad.com%3A31337%2Fl%2Fs&metadata[purchase]=J1Ypw9BTYIaFwIvJhuxFnw%3D%3D&transfer_group=224&payment_method_types[0]=card&customer=cus_PHDq3w524qJHuF&payment_method=pm_0OSfOg9e1RjUNIyYiQMp0Sac&statement_descriptor_suffix=edgar2607e097150
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bf93eaed-2a14-4f57-ae99-400addb97819
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bf93eaed-2a14-4f57-ae99-400addb97819
      Original-Request:
      - req_P0W6LMdjHRjbkN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSfOj9e1RjUNIyY0Bt0ijFz",
          "object": "payment_intent",
          "amount": 500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSfOj9e1RjUNIyY0Bt0ijFz_secret_uFEGFmCnCtFfti5we3Zh1JbhH",
          "confirmation_method": "automatic",
          "created": 1703853765,
          "currency": "usd",
          "customer": "cus_PHDq3w524qJHuF",
          "description": "You bought http://edgar2607e097150.test.gumroad.com:31337/l/s",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchase": "J1Ypw9BTYIaFwIvJhuxFnw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfOg9e1RjUNIyYiQMp0Sac",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar2607e097150",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "224"
        }
  recorded_at: Fri, 29 Dec 2023 12:42:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSfOj9e1RjUNIyY0Bt0ijFz/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9a112087-a134-4864-9544-f52e2a56ccd8
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSfOj9e1RjUNIyY0SSXQxEG?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OSfOj9e1RjUNIyY0SSXQxEG",
          "object": "charge",
          "amount": 500,
          "amount_captured": 500,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OSfOj9e1RjUNIyY0R1L65C5",
            "object": "balance_transaction",
            "amount": 500,
            "available_on": 1704240000,
            "created": 1703853766,
            "currency": "usd",
            "description": "You bought http://edgar2607e097150.test.gumroad.com:31337/l/s",
            "exchange_rate": null,
            "fee": 30,
            "fee_details": [
              {
                "amount": 30,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 470,
            "reporting_category": "charge",
            "source": "ch_2OSfOj9e1RjUNIyY0SSXQxEG",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR2607E0",
          "captured": true,
          "created": 1703853766,
          "currency": "usd",
          "customer": "cus_PHDq3w524qJHuF",
          "description": "You bought http://edgar2607e097150.test.gumroad.com:31337/l/s",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "J1Ypw9BTYIaFwIvJhuxFnw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 54,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OSfOj9e1RjUNIyY0Bt0ijFz",
          "payment_method": "pm_0OSfOg9e1RjUNIyYiQMp0Sac",
          "payment_method_details": {
            "card": {
              "amount_authorized": 500,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 500,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoyP26rAYyBu-p1b0RvjosFgTCvQYQcoXpB19qu7Pfo1yg-83ED-xpIn5vGsH7EoyjGUD1Wm1k51xUslY",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar2607e097150",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "224"
        }
  recorded_at: Fri, 29 Dec 2023 12:42:48 GMT
recorded_with: VCR 6.2.0
