---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 504063f0-8dc6-4025-a2f0-80679bdc1164
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 504063f0-8dc6-4025-a2f0-80679bdc1164
      Original-Request:
      - req_7TOn2s29lCUoTI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OQzGw9e1RjUNIyYDO0rqMRk",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703453507,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 24 Dec 2023 21:31:47 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OQzGw9e1RjUNIyYDO0rqMRk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=39&email=edgar581d0936_123%40gumroad.com&payment_method=pm_0OQzGw9e1RjUNIyYDO0rqMRk
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - abafd6b9-85d3-49f5-a152-e1facbc81e64
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - abafd6b9-85d3-49f5-a152-e1facbc81e64
      Original-Request:
      - req_bqy8XTPOplIDJa
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PFUFYRYTDQjesG",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703453507,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "39",
          "discount": null,
          "email": "edgar581d0936_123@gumroad.com",
          "invoice_prefix": "0255FC9F",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 24 Dec 2023 21:31:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=300&currency=usd&description=You+bought+http%3A%2F%2Fedgar47f3d79440.test.gumroad.com%3A31337%2Fl%2Fw&metadata[purchase]=fjUeSyuGe9Mc1g9Wla8aXQ%3D%3D&transfer_group=53&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PFUFYRYTDQjesG&payment_method=pm_0OQzGw9e1RjUNIyYDO0rqMRk&statement_descriptor_suffix=edgar47f3d79440
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a4a8ad56-6225-45f9-993f-705fd396dbd1
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a4a8ad56-6225-45f9-993f-705fd396dbd1
      Original-Request:
      - req_r45QYC4Lur1KJi
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OQzGz9e1RjUNIyY16oux4cq",
          "object": "payment_intent",
          "amount": 300,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 300,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OQzGz9e1RjUNIyY16oux4cq_secret_S47KLW6j8lpAzk4lNOlx3Z5mx",
          "confirmation_method": "automatic",
          "created": 1703453509,
          "currency": "usd",
          "customer": "cus_PFUFYRYTDQjesG",
          "description": "You bought http://edgar47f3d79440.test.gumroad.com:31337/l/w",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OQzGz9e1RjUNIyY1cuFEjRE",
          "livemode": false,
          "metadata": {
            "purchase": "fjUeSyuGe9Mc1g9Wla8aXQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OQzGw9e1RjUNIyYDO0rqMRk",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar47f3d79440",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "53"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OQzGz9e1RjUNIyY1cuFEjRE?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OQzGz9e1RjUNIyY1cuFEjRE",
          "object": "charge",
          "amount": 300,
          "amount_captured": 300,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OQzGz9e1RjUNIyY1wYfjKKa",
            "object": "balance_transaction",
            "amount": 300,
            "available_on": 1703635200,
            "created": 1703453509,
            "currency": "usd",
            "description": "You bought http://edgar47f3d79440.test.gumroad.com:31337/l/w",
            "exchange_rate": null,
            "fee": 20,
            "fee_details": [
              {
                "amount": 20,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 280,
            "reporting_category": "charge",
            "source": "ch_2OQzGz9e1RjUNIyY1cuFEjRE",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR47F3D7",
          "captured": true,
          "created": 1703453509,
          "currency": "usd",
          "customer": "cus_PFUFYRYTDQjesG",
          "description": "You bought http://edgar47f3d79440.test.gumroad.com:31337/l/w",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "fjUeSyuGe9Mc1g9Wla8aXQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 37,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OQzGz9e1RjUNIyY16oux4cq",
          "payment_method": "pm_0OQzGw9e1RjUNIyYDO0rqMRk",
          "payment_method_details": {
            "card": {
              "amount_authorized": 300,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 300,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUox8airAYyBm5r9u7XXzosFt0Bo1wBfssB86GuFOdB2iabSH77OSiJBl9yZw6JP-tvNEdJdDb9pYqcVZo",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar47f3d79440",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "53"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_2OQzGz9e1RjUNIyY16oux4cq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OQzGz9e1RjUNIyY1cuFEjRE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OQzH29e1RjUNIyY1xRIhdQH?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
