---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fe869b7f-b9bc-4bc5-9336-793ec2c4095d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fe869b7f-b9bc-4bc5-9336-793ec2c4095d
      Original-Request:
      - req_GrkZEd0uauJyX6
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O4uWE9e1RjUNIyYH82TFxuf",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698192019,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 25 Oct 2023 00:00:19 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O4uWE9e1RjUNIyYH82TFxuf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar09d4cc3e369.test.gumroad.com%3A31337%2Fl%2Fa&metadata[purchase]=E1jMv_K8Tgn1cCjOp_AdsA%3D%3D&transfer_group=338&automatic_payment_methods[enabled]=true&automatic_payment_methods[allow_redirects]=never&confirm=true&off_session=true&payment_method=pm_0O4uWE9e1RjUNIyYH82TFxuf&statement_descriptor_suffix=edgar09d4cc3e369
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1addb7d9-91c4-41e0-b667-62fbe642c117
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1addb7d9-91c4-41e0-b667-62fbe642c117
      Original-Request:
      - req_8wOfNYpHXlQ2Fr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O4uWG9e1RjUNIyY1KADAXBb",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "never",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O4uWG9e1RjUNIyY1KADAXBb_secret_0mU21z5pL3h8KZcEATLOha2C3",
          "confirmation_method": "automatic",
          "created": 1698192020,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar09d4cc3e369.test.gumroad.com:31337/l/a",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O4uWG9e1RjUNIyY1A3WpEdA",
          "livemode": false,
          "metadata": {
            "purchase": "E1jMv_K8Tgn1cCjOp_AdsA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O4uWE9e1RjUNIyYH82TFxuf",
          "payment_method_configuration_details": {
            "id": "pmc_0KYMlf9e1RjUNIyYT1l4J38o",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar09d4cc3e369",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "338"
        }
  recorded_at: Wed, 25 Oct 2023 00:00:21 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O4uWG9e1RjUNIyY1A3WpEdA?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O4uWG9e1RjUNIyY1A3WpEdA",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O4uWG9e1RjUNIyY1ijy28Zs",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1698364800,
            "created": 1698192020,
            "currency": "usd",
            "description": "You bought http://edgar09d4cc3e369.test.gumroad.com:31337/l/a",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2O4uWG9e1RjUNIyY1A3WpEdA",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR09D4CC",
          "captured": true,
          "created": 1698192020,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar09d4cc3e369.test.gumroad.com:31337/l/a",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "E1jMv_K8Tgn1cCjOp_AdsA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 40,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O4uWG9e1RjUNIyY1KADAXBb",
          "payment_method": "pm_0O4uWE9e1RjUNIyYH82TFxuf",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUolbXhqQYyBpV9sxNdETosFt2VIYoz87SVB4DZT-_HxE3su8kVZvWMUuom6BV5IYWyCB-w1YC615XDaHY",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar09d4cc3e369",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "338"
        }
  recorded_at: Wed, 25 Oct 2023 00:00:21 GMT
recorded_with: VCR 6.2.0
