---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa&billing_details[address][postal_code]=<STRONGBOX_GENERAL_PASSWORD>5
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7b37627b-34d2-464a-bff2-ca9a83e7e934
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7b37627b-34d2-464a-bff2-ca9a83e7e934
      Original-Request:
      - req_p7wAOGNLBKXnkm
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1ULnhqIBOqvOFDrf0b4sUJc7",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "<STRONGBOX_GENERAL_PASSWORD>5",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": "unchecked",
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 10,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1790875422,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Thu, 01 Oct 2026 17:23:42 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1ULnhqIBOqvOFDrf0b4sUJc7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=2860&email=sahil%40gumroad.com&payment_method=pm_1ULnhqIBOqvOFDrf0b4sUJc7
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8877f51f-22b7-476a-9e10-dd92861ddf5e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8877f51f-22b7-476a-9e10-dd92861ddf5e
      Original-Request:
      - req_QiAvsYDqZUZWy9
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VMWlV27Jrhqrzv",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1790875423,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": "2860",
          "discount": null,
          "email": "sahil@gumroad.com",
          "invoice_prefix": "5EQWUDMM",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 01 Oct 2026 17:23:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=600&currency=usd&description=You+bought+http%3A%2F%2Fedgar9ffaf47034.test.gumroad.com%3A31337%2Fl%2Fu%21&metadata[purchase]=VserRIXh8Mhwb1OZ8PqLkw%3D%3D&transfer_group=1537&payment_method_types[0]=card&setup_future_usage=off_session&customer=cus_VMWlV27Jrhqrzv&payment_method=pm_1ULnhqIBOqvOFDrf0b4sUJc7&statement_descriptor_suffix=edgar9ffaf47034
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5eea962e-6c45-432e-a71a-5e821cf234e4
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5eea962e-6c45-432e-a71a-5e821cf234e4
      Original-Request:
      - req_Umx680f5zfVve2
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3ULnhrIBOqvOFDrf0iBh6FS4",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 600,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3ULnhrIBOqvOFDrf0iBh6FS4_secret_ixkWLMX3dYUiXPs0bPJEQutC3",
          "confirmation_method": "automatic",
          "created": 1790875423,
          "currency": "usd",
          "customer": "cus_VMWlV27Jrhqrzv",
          "customer_account": null,
          "description": "You bought http://edgar9ffaf47034.test.gumroad.com:31337/l/u!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "purchase": "VserRIXh8Mhwb1OZ8PqLkw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1ULnhqIBOqvOFDrf0b4sUJc7",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "payment_record": null,
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar9ffaf47034",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "1537"
        }
  recorded_at: Thu, 01 Oct 2026 17:23:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3ULnhrIBOqvOFDrf0iBh6FS4/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - add4bdf7-ab1a-4655-8607-69bd2bb42d46
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3ULnhrIBOqvOFDrf0vOGfzZR?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3ULnhrIBOqvOFDrf0vOGfzZR",
          "object": "charge",
          "amount": 600,
          "amount_captured": 600,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3ULnhrIBOqvOFDrf036gTIuC",
            "object": "balance_transaction",
            "amount": 600,
            "available_on": 1791417600,
            "balance_type": "payments",
            "created": 1790875424,
            "currency": "usd",
            "description": "You bought http://edgar9ffaf47034.test.gumroad.com:31337/l/u!",
            "exchange_rate": null,
            "fee": 47,
            "fee_details": [
              {
                "amount": 47,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 553,
            "reporting_category": "charge",
            "source": "ch_3ULnhrIBOqvOFDrf0vOGfzZR",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "<STRONGBOX_GENERAL_PASSWORD>5",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR9FFAF4703",
          "captured": true,
          "created": 1790875424,
          "currency": "usd",
          "customer": "cus_VMWlV27Jrhqrzv",
          "description": "You bought http://edgar9ffaf47034.test.gumroad.com:31337/l/u!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "VserRIXh8Mhwb1OZ8PqLkw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 44,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3ULnhrIBOqvOFDrf0iBh6FS4",
          "payment_method": "pm_1ULnhqIBOqvOFDrf0b4sUJc7",
          "payment_method_details": {
            "card": {
              "amount_authorized": 600,
              "authorization_code": "329339",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": "pass",
                "cvc_check": "pass"
              },
              "country": "US",
              "electronic_commerce_indicator": "07",
              "exp_month": 10,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 600,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "transaction_link_id": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKKGu-tUGMga5rCwZFmQ6LBYAV1yCP7bLLl9YejknRXfT2qB6OBquWZBwjU1fUpZ0Hf9lk0U6TMf5dssm",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar9ffaf47034",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1537"
        }
  recorded_at: Thu, 01 Oct 2026 17:23:45 GMT
recorded_with: VCR 6.2.0
