---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0036&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123&billing_details[address][postal_code]=12344
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2b14469e-4de6-4d82-8b06-a764cf7102f6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2b14469e-4de6-4d82-8b06-a764cf7102f6
      Original-Request:
      - req_Tl6HD7kYPFScj3
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6tLr9e1RjUNIyYREZg0AKI",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12344",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": "unchecked",
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "nPSe1apG4W9vdMFZ",
            "funding": "credit",
            "generated_from": null,
            "last4": "0036",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698664187,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 11:09:47 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6tLr9e1RjUNIyYREZg0AKI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=91&email=sahil%40gumroad.com&payment_method=pm_0O6tLr9e1RjUNIyYREZg0AKI
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2ea09d14-f865-4e43-9b69-0db58e2a1c48
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2ea09d14-f865-4e43-9b69-0db58e2a1c48
      Original-Request:
      - req_Y0RUhRb2ngyiaR
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "incorrect_zip",
            "doc_url": "https://stripe.com/docs/error-codes/incorrect-zip",
            "message": "Your card could not be authorized using the postal code provided. Please update the postal code, or contact your card issuer for further details.",
            "param": "address_zip",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_Y0RUhRb2ngyiaR?t=1698664188",
            "type": "card_error"
          }
        }
  recorded_at: Mon, 30 Oct 2023 11:09:49 GMT
recorded_with: VCR 6.2.0
