---
http_interactions:
- request:
    method: get
    uri: https://v3.api.taxid.pro/validate?country=IS&tin=528491
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TAX_ID_PRO_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Rndr-Id:
      - e382c91a-f88a-4b1d
      X-Render-Origin-Server:
      - uvicorn
    body:
      encoding: ASCII-8BIT
      string: '{"country_name":null,"tin_compact":"528491","tin_standard":"528491","format_name":"Virdisaukaskattsnumer","is_valid":true,"message":null}'
  recorded_at: Wed, 18 Dec 2024 08:20:43 GMT
recorded_with: VCR 6.2.0
