---
http_interactions:
- request:
    method: get
    uri: https://vimeo.com/api/oembed.json?maxwidth=670&url=https://vimeo.com/30698649
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 28 Oct 2025 07:06:26 GMT
      Etag:
      - W/"57f0d8d54adde7bb7397e37573639197fc3fe7c2"
      X-Bapp-Server:
      - pweb-79c59bc85-vf9qb
      X-Varnish-Cache:
      - '0'
      X-Vserver:
      - web-varnish-77575bbdb5-dvfnn
      X-Backend-Proxy:
      - web-varnish-77575bbdb5-dvfnn
    body:
      encoding: ASCII-8BIT
      string: '{"type":"video","version":"1.0","provider_name":"Vimeo","provider_url":"https:\/\/vimeo.com\/","title":"The
        Art of Making, The Carpenter","author_name":"Deep Green Sea","author_url":"https:\/\/vimeo.com\/deepgreensea","is_plus":"0","account_type":"basic","html":"<iframe
        src=\"https:\/\/player.vimeo.com\/video\/30698649?app_id=122963\" width=\"670\"
        height=\"335\" frameborder=\"0\" allow=\"autoplay; fullscreen; picture-in-picture;
        clipboard-write; encrypted-media; web-share\" referrerpolicy=\"strict-origin-when-cross-origin\"
        title=\"The Art of Making, The Carpenter\"><\/iframe>","width":670,"height":335,"duration":101,"description":"This
        is where it all began. It was our first attempt to design and produce one
        of our ideas for a film. Having done the shooting, we were not happy with
        the result and so we had to scrap the initial idea and start all over. We
        experimented and improvised with the music, the editing and the graphics until
        we felt we had something. Having no expectations, we posted it on vimeo. The
        feedback was quick and overwhelming. People\u2019s comments from around the
        world, gave us the motivation to continue with more films for the series.\n\nhttp:\/\/deepgreensea.net\/projects\/the-carpenter.html\n\ndirected
        \/ edited \/ vfx - Dimitris Ladopoulos, Spiros Rasidakis\ndirector of photography
        - Nikos Mexis\nsound design - Nikos Tsines\nmusic - The Three Corners of the
        Earth, The Fire Shall Devour Us\n\n(shot using available light, with Canon
        5D+7D, edited in Final Cut Pro X, tracked with PFTrack, composited in After
        Effects)","thumbnail_url":"https:\/\/i.vimeocdn.com\/video\/212645621-df44232fa6e6b46afd643f7e733a7bfe2cc7cb97486158998bfbc601231722e9-d_640?region=us","thumbnail_width":640,"thumbnail_height":320,"thumbnail_url_with_play_button":"https:\/\/i.vimeocdn.com\/filter\/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F212645621-df44232fa6e6b46afd643f7e733a7bfe2cc7cb97486158998bfbc601231722e9-d_640%3Fregion%3Dus&src1=http%3A%2F%2Ff.vimeocdn.com%2Fp%2Fimages%2Fcrawler_play.png","upload_date":"2011-10-17
        17:15:28","video_id":30698649,"uri":"\/videos\/30698649"}'
  recorded_at: Tue, 28 Oct 2025 13:52:53 GMT
recorded_with: VCR 6.2.0
