---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_visa_debit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1Ts7V9IBOqvOFDrfhYZpjBir",
          "object": "token",
          "card": {
            "id": "card_1Ts7V9IBOqvOFDrfomDi5uhR",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "currency": "usd",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "email": null,
            "exp_month": 7,
            "exp_year": 2027,
            "fingerprint": "ZKA785EqNIB6mi55",
            "funding": "debit",
            "last4": "5556",
            "metadata": {},
            "name": null,
            "networks": {
              "preferred": null
            },
            "phone": null,
            "regulated_status": "unregulated",
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": null,
          "created": 1783801675,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 11 Jul 2026 20:27:55 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_1Ts7V9IBOqvOFDrfhYZpjBir
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API vers[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&card=tok_1Ts7V9IBOqvOFDrfhYZpjBir&expand[0]=sources
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f5254835-a9cc-4bee-85da-9315e30b6ab5
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f5254835-a9cc-4bee-85da-9315e30b6ab5
      Original-Request:
      - req_foiiEfsvWRdd3X
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UrrDXkkp1m4JmJ",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1783801675,
          "currency": null,
          "customer_account": null,
          "default_source": "card_1Ts7V9IBOqvOFDrfomDi5uhR",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "MLSTWQKX",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1Ts7V9IBOqvOFDrfomDi5uhR",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "allow_redisplay": "unspecified",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_UrrDXkkp1m4JmJ",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "email": null,
                "exp_month": 7,
                "exp_year": 2027,
                "fingerprint": "ZKA785EqNIB6mi55",
                "funding": "debit",
                "last4": "5556",
                "metadata": {},
                "name": null,
                "phone": null,
                "regulated_status": "unregulated",
                "tokenization_method": null,
                "wallet": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_UrrDXkkp1m4JmJ/sources"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 11 Jul 2026 20:27:56 GMT
recorded_with: VCR 6.2.0
