---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2050&card[cvc]=123&card[address_zip]=12345
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 482e78e4-834d-44e2-a5d6-b6c31e861c88
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 482e78e4-834d-44e2-a5d6-b6c31e861c88
      Original-Request:
      - req_8JtPFgYwFqiw0E
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_0O6zm79e1RjUNIyY5YRSja1r",
          "object": "token",
          "card": {
            "id": "card_0O6zm79e1RjUNIyYTVP1ozb2",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": "12345",
            "address_zip_check": "unchecked",
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2050,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": "49.36.35.35",
          "created": 1698688879,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 30 Oct 2023 18:01:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_0O6zm79e1RjUNIyY5YRSja1r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&card=tok_0O6zm79e1RjUNIyY5YRSja1r&expand[0]=sources
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - da538ba1-6780-4a51-92d0-de1b97516c03
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - da538ba1-6780-4a51-92d0-de1b97516c03
      Original-Request:
      - req_ME3mBDvlSsbEJp
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OupRJ6i1XxFSLh",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698688880,
          "currency": null,
          "default_source": "card_0O6zm79e1RjUNIyYTVP1ozb2",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "75559032",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_0O6zm79e1RjUNIyYTVP1ozb2",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "12345",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_OupRJ6i1XxFSLh",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2050,
                "fingerprint": "W691J2Ye3VDoq6Ij",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null,
                "wallet": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_OupRJ6i1XxFSLh/sources"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 18:01:21 GMT
recorded_with: VCR 6.2.0
