---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=transfers&country=KR&default_currency=krw&metadata[user_id]=3570347218825&metadata[tos_agreement_id]=3aEZi0v2fXHG85EILQA-DA%3D%3D&metadata[user_compliance_info_id]=zaATNfmg6MDBIEBbdBJwEQ%3D%3D&metadata[bank_account_id]=bjBrR-B01I26yeUz6ujtBQ%3D%3D&tos_acceptance[date]=1427846400&tos_acceptance[ip]=54.234.242.13&tos_acceptance[service_agreement]=recipient&business_type=individual&business_profile[name]=Chuck+Bartowski&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=chuck%40gum.com&individual[phone]=0000000000&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=California&individual[address][postal_code]=94107&individual[address][country]=KR&individual[id_number]=000000000&bank_account[country]=KR&bank_account[currency]=krw&bank_account[account_number]=000<STRONGBOX_GENERAL_PASSWORD>56789&bank_account[routing_number]=SGSEKRSLXXX&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=false
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3f038b40-cfca-49eb-ac6c-3bb007c3f95e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3f038b40-cfca-49eb-ac6c-3bb007c3f95e
      Original-Request:
      - req_Cm3rSZuKyb5KBV
      Stripe-Notice:
      - '2 notices for this request: (1) You are using an outdated API version (2023-10-16).
        We recommend upgrading to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
        (2) We recommend building your integration using Accounts v2. See https://docs.stripe.com/api/v2/core/accounts'
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1TykWcRHi0PMO5yV",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": null,
            "minority_owned_business_designation": null,
            "name": "Chuck Bartowski",
            "product_description": "Chuck Bartowski",
            "specified_commercial_transactions_act_url": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "transfers": "active"
          },
          "charges_enabled": true,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "KR",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "directors_provided": true,
            "directorship_declaration": null,
            "executives_provided": true,
            "name": null,
            "name_kana": null,
            "name_kanji": null,
            "owners_provided": true,
            "ownership_declaration": null,
            "phone": "+10000000000",
            "representative_declaration": null,
            "tax_id_provided": false,
            "vat_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "KR",
          "created": 1785381652,
          "default_currency": "krw",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1TykWdRHi0PMO5yVUdOz9Xk0",
                "object": "bank_account",
                "account": "acct_1TykWcRHi0PMO5yV",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "SG SECURITIES KOREA CO., LTD.",
                "country": "KR",
                "currency": "krw",
                "default_for_currency": true,
                "fingerprint": "m71KKchjsX6sUga4",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "SGSEKRSLXXX",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1TykWcRHi0PMO5yV/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1TykWdRHi0PMO5yVz50qszPB",
            "object": "person",
            "account": "acct_1TykWcRHi0PMO5yV",
            "address": {
              "city": "San Francisco",
              "country": "KR",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "created": 1785381651,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "chuck@gum.com",
            "first_name": "Chuck",
            "first_name_kana": null,
            "first_name_kanji": null,
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "gender": null,
            "id_number_provided": true,
            "last_name": "Bartowski",
            "last_name_kana": null,
            "last_name_kanji": null,
            "maiden_name": null,
            "metadata": {},
            "nationality": null,
            "phone": "+10000000000",
            "relationship": {
              "authorizer": false,
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [
                "verification.document"
              ],
              "past_due": [],
              "pending_verification": []
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "unverified"
            }
          },
          "metadata": {
            "bank_account_id": "bjBrR-B01I26yeUz6ujtBQ==",
            "tos_agreement_id": "3aEZi0v2fXHG85EILQA-DA==",
            "user_compliance_info_id": "zaATNfmg6MDBIEBbdBJwEQ==",
            "user_id": "3570347218825"
          },
          "payouts_enabled": true,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [
              "individual.verification.document"
            ],
            "past_due": [],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "CHUCK BART",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Chuck Bartowski",
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null,
              "hosted_payment_method_save": "offer"
            },
            "payments": {
              "statement_descriptor": "CHUCK BARTOWSKI",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 7,
                "interval": "manual"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1427846400,
            "ip": "54.234.242.13",
            "service_agreement": "recipient",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Thu, 30 Jul 2026 03:20:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1TykWcRHi0PMO5yV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1TykWcRHi0PMO5yV
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1TykWcRHi0PMO5yV",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
        [...]
