---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0101&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d8e58d44-da41-4cbd-bc36-659891574df7
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d8e58d44-da41-4cbd-bc36-659891574df7
      Original-Request:
      - req_Brl6iqzbbsg8Ga
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6uuo9e1RjUNIyYIPKET9ZX",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "ozNUiPGS1W6xWvQ1",
            "funding": "credit",
            "generated_from": null,
            "last4": "0101",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698670198,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 12:49:58 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6uuo9e1RjUNIyYIPKET9ZX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar1d7f2f41122.test.gumroad.com%3A31337%2Fl%2Fo&metadata[purchase]=MgtsLkcq5GaemnRvvfS3og%3D%3D&transfer_group=95&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=false&payment_method=pm_0O6uuo9e1RjUNIyYIPKET9ZX&statement_descriptor_suffix=edgar1d7f2f41122
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 86aa577d-413e-417e-ba77-f4dbeae8216a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 86aa577d-413e-417e-ba77-f4dbeae8216a
      Original-Request:
      - req_48CYEgl0iB4H6t
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_2O6uup9e1RjUNIyY0fcuZZmm",
            "code": "incorrect_cvc",
            "doc_url": "https://stripe.com/docs/error-codes/incorrect-cvc",
            "message": "Your card's security code is incorrect.",
            "param": "cvc",
            "payment_intent": {
              "id": "pi_2O6uup9e1RjUNIyY0JgQH1Hv",
              "object": "payment_intent",
              "amount": 100,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic",
              "client_secret": "pi_2O6uup9e1RjUNIyY0JgQH1Hv_secret_iUUOuwfKJ8n0UnDLwfyB7mr4z",
              "confirmation_method": "manual",
              "created": 1698670199,
              "currency": "usd",
              "customer": null,
              "description": "You bought http://edgar1d7f2f41122.test.gumroad.com:31337/l/o",
              "invoice": null,
              "last_payment_error": {
                "charge": "ch_2O6uup9e1RjUNIyY0fcuZZmm",
                "code": "incorrect_cvc",
                "doc_url": "https://stripe.com/docs/error-codes/incorrect-cvc",
                "message": "Your card's security code is incorrect.",
                "param": "cvc",
                "payment_method": {
                  "id": "pm_0O6uuo9e1RjUNIyYIPKET9ZX",
                  "object": "payment_method",
                  "billing_details": {
                    "address": {
                      "city": null,
                      "country": null,
                      "line1": null,
                      "line2": null,
                      "postal_code": null,
                      "state": null
                    },
                    "email": null,
                    "name": null,
    [...]
