---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=6&metadata[tos_agreement_id]=mtabiDhnS39Er_d5VMNXfg%3D%3D&metadata[user_compliance_info_id]=qDxWZX1yty55FhpCg9GiuQ%3D%3D&metadata[bank_account_id]=uVYUM9-D9NBIgXhWO992hg%3D%3D&tos_acceptance[date]=1698781745&tos_acceptance[ip]=0.0.0.0&business_type=individual&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=&individual[email]=edgar36a59a4f_6888%40gumroad.com&individual[address][country]=US&bank_account[country]=US&bank_account[currency]=usd&bank_account[account_number]=000123456789&bank_account[routing_number]=110000000&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bbb170b6-477b-4e4a-8d70-b0526479369d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bbb170b6-477b-4e4a-8d70-b0526479369d
      Original-Request:
      - req_JCjoTlgSjQuAfr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1O7NvyS6ztEExa5R",
          "object": "account",
          "business_profile": {
            "mcc": "5192",
            "name": null,
            "product_description": "",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "inactive",
            "transfers": "inactive"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "US",
          "created": 1698781747,
          "default_currency": "usd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1O7NvyS6ztEExa5Rwr8Lgieq",
                "object": "bank_account",
                "account": "acct_1O7NvyS6ztEExa5R",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard",
                  "instant"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "dx7dqwoGHEQDKLLK",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1O7NvyS6ztEExa5R/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1712084400,
            "currently_due": [
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.dob.day",
              "individual.dob.month",
              "individual.dob.year",
              "individual.first_name",
              "individual.last_name",
              "individual.phone",
              "individual.ssn_last_4"
            ],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.dob.day",
              "individual.dob.month",
              "individual.dob.year",
              "individual.first_name",
              "individual.id_number",
              "individual.last_name",
              "individual.phone",
              "individual.ssn_last_4"
            ],
            "past_due": [
              "individual.first_name",
              "individual.last_name"
            ],
            "pending_verification": [
              "business_profile.url"
            ]
          },
          "individual": {
            "id": "person_1O7NvyS6ztEExa5RDjsy4CEo",
            "object": "person",
            "account": "acct_1O7NvyS6ztEExa5R",
            "address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "created": 1698781746,
            "dob": {
              "day": null,
              "month": null,
              "year": null
            },
            "email": "edgar36a59a4f_6888@gumroad.com",
            "first_name": null,
            "future_requirements": {
              "alternatives": [],
              "currently_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "last_name",
                "phone",
                "ssn_last_4"
              ],
              "errors": [],
              "eventually_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "id_number",
                "last_name",
                "phone",
                "ssn_last_4"
              ],
              "past_due": [
                "first_name",
                "last_name"
              ],
              "pending_verification": []
            },
            "id_number_provided": false,
            "last_name": null,
            "metadata": {},
            "relationship": {
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "last_name",
                "phone",
                "ssn_last_4"
              ],
              "errors": [],
              "eventually_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "last_name",
                "phone",
                "ssn_last_4"
              ],
              "past_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "last_name",
                "phone",
                "ssn_last_4"
              ],
              "pending_verification": []
            },
            "ssn_last_4_provided": false,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "unverified"
            }
          },
          "metadata": {
            "bank_account_id": "uVYUM9-D9NBIgXhWO992hg==",
            "tos_agreement_id": "mtabiDhnS39Er_d5VMNXfg==",
            "user_compliance_info_id": "qDxWZX1yty55FhpCg9GiuQ==",
            "user_id": "6"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.dob.day",
              "individual.dob.month",
              "individual.dob.year",
              "individual.first_name",
              "individual.last_name",
  [...]
