---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=Gumroad+Charge+7-RrdvIoUS_D2srgUHAytg%3D%3D&metadata[purchase]=CH-7-RrdvIoUS_D2srgUHAytg%3D%3D&payment_method_types[0]=card&transfer_group=CH-2&statement_descriptor_suffix=edgar31a68db42
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - deferred_intent_test_7cf0c47a5387691349f223f374b14db5
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - deferred_intent_test_7cf0c47a5387691349f223f374b14db5
      Original-Request:
      - req_RVg2WbygWmwiJo
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3ToQfAIBOqvOFDrf0ohOaat5",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3ToQfAIBOqvOFDrf0ohOaat5_secret_vol1okhN3wIRNt9EWJmUxUQ2w",
          "confirmation_method": "automatic",
          "created": 1782922020,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "Gumroad Charge 7-RrdvIoUS_D2srgUHAytg==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "purchase": "CH-7-RrdvIoUS_D2srgUHAytg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar31a68db42",
          "status": "requires_payment_method",
          "transfer_data": null,
          "transfer_group": "CH-2"
        }
  recorded_at: Wed, 01 Jul 2026 16:07:00 GMT
recorded_with: VCR 6.2.0
