---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/checkout/orders
    body:
      encoding: UTF-8
      string: '{"intent":"CAPTURE","purchase_units":[{"amount":{"currency_code":"gbp","value":"12.46","breakdown":{"shipping":{"currency_code":"GBP","value":"1.01"},"tax_total":{"currency_code":"GBP","value":"1.35"},"item_total":{"currency_code":"GBP","value":"10.1"}}},"payee":{"merchant_id":"CJS32DZ7NDN5L"},"items":[{"name":"j","unit_amount":{"currency_code":"GBP","value":"5.05"},"quantity":2,"sku":"j"}],"soft_descriptor":"edgar6c2bd36b6","payment_instruction":{"platform_fees":[{"amount":{"currency_code":"GBP","value":"0.71"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>"}}]}}],"application_context":{"brand_name":"Gumroad","shipping_preference":"NO_SHIPPING"}}'
    headers:
      Authorization:
      - Bearer A21AAI9v6NTs3Y42Ufo-5Q-cskFZtTLkOodRO1uJQvdaWnsbiCt078vvzYnSy5X1gLFwGZIyhtT6D_EUZyyyp_YjB9CudeK7w
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
      Paypal-Request-Id:
      - '1640851074592855'
      Prefer:
      - return=representation
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.4
      Sdk-Tech-Stack:
      - Ruby3.0.2
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Application-Id:
      - APP-80W284485P519543T
      Caller-Acct-Num:
      - <PAYPAL_PARTNER_MERCHANT_ID>
      Paypal-Debug-Id:
      - 457bde60974fa
    body:
      encoding: UTF-8
      string: '{"id":"2A515824JW5487826","intent":"CAPTURE","status":"CREATED","purchase_units":[{"reference_id":"default","amount":{"currency_code":"GBP","value":"12.46","breakdown":{"item_total":{"currency_code":"GBP","value":"10.10"},"shipping":{"currency_code":"GBP","value":"1.01"},"tax_total":{"currency_code":"GBP","value":"1.35"}}},"payee":{"merchant_id":"CJS32DZ7NDN5L"},"payment_instruction":{"platform_fees":[{"amount":{"currency_code":"GBP","value":"0.71"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>"}}]},"soft_descriptor":"edgar6c2bd36b6","items":[{"name":"j","unit_amount":{"currency_code":"GBP","value":"5.05"},"quantity":"2","sku":"j"}]}],"create_time":"2021-12-30T07:57:56Z","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/2A515824JW5487826","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/checkoutnow?token=2A515824JW5487826","rel":"approve","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/2A515824JW5487826","rel":"update","method":"PATCH"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/2A515824JW5487826/capture","rel":"capture","method":"POST"}]}'
  recorded_at: Thu, 30 Dec 2021 07:57:56 GMT
recorded_with: VCR 6.0.0
