---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"16400 17th Street","city":"San Francisco","state":"CA","zip":"94107","country":"United
        States"},"verify":["delivery"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic RVpUSzJhNDk1NTQyNTdlODQ5YmRiMTc5NDI4YTc2MTZkZWY2S2x5U3lkZkIxdjd2UkpDZFpjeGtzQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 60001eda629e010ae2c497bf000603c6
      Location:
      - "/api/v2/addresses/adr_959d8a80e59c11ec921dac1f6bc7bdc6"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6cbda4c0732511b1bd99a430e33e0046"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202206030043-0fd9609f83-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 0910011e7e
      - intlb1nuq 570dfcbc0a
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_959d8a80e59c11ec921dac1f6bc7bdc6","object":"Address","created_at":"2022-06-06T13:28:42+00:00","updated_at":"2022-06-06T13:28:42+00:00","name":null,"company":null,"street1":"16400
        17th Street","street2":null,"city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":false,"errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
        not found","suggestion":null}],"details":{}}}}'
  recorded_at: Mon, 06 Jun 2022 13:28:43 GMT
recorded_with: VCR 6.1.0
