---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8e72b58b-ce95-4193-aa74-2f06511c9f11
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8e72b58b-ce95-4193-aa74-2f06511c9f11
      Original-Request:
      - req_cxlgNIx8ETBj9Y
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UKVFJIBOqvOFDrfOuns6fbl",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 9,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1790566133,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Mon, 28 Sep 2026 03:28:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1UKVFJIBOqvOFDrfOuns6fbl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=407&email=edgarabf0c94d_7%40gumroad.com&payment_method=pm_1UKVFJIBOqvOFDrfOuns6fbl
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 643941f0-6b7a-4654-8abe-6b14c63eefcb
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 643941f0-6b7a-4654-8abe-6b14c63eefcb
      Original-Request:
      - req_6CWIeI1uqKkkpj
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VLBcB6KYM7P2DZ",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1790566133,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": "407",
          "discount": null,
          "email": "edgarabf0c94d_7@gumroad.com",
          "invoice_prefix": "HQYBXYPX",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 28 Sep 2026 03:28:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=599&currency=usd&description=You+bought+http%3A%2F%2Fedgare3176a8e5.test.gumroad.com%3A31337%2Fl%2Fe%21&metadata[purchase]=SVC9ENBcmneBQ_TrKV0wGw%3D%3D&transfer_group=337&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_VLBcB6KYM7P2DZ&payment_method=pm_1UKVFJIBOqvOFDrfOuns6fbl&statement_descriptor_suffix=edgare3176a8e5
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1e3d6c5d-3738-4c92-b7a9-e6770661afa2
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1e3d6c5d-3738-4c92-b7a9-e6770661afa2
      Original-Request:
      - req_ZW6cY3pjDcFKxT
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3UKVFLIBOqvOFDrf0QwKTZ2g",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 599,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 599,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3UKVFLIBOqvOFDrf0QwKTZ2g_secret_LIayEBtdDRus7FE2jRGXwVu3Y",
          "confirmation_method": "automatic",
          "created": 1790566135,
          "currency": "usd",
          "customer": "cus_VLBcB6KYM7P2DZ",
          "customer_account": null,
          "description": "You bought http://edgare3176a8e5.test.gumroad.com:31337/l/e!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3UKVFLIBOqvOFDrf0phWYR2K",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "purchase": "SVC9ENBcmneBQ_TrKV0wGw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1UKVFJIBOqvOFDrfOuns6fbl",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "payment_record": null,
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare3176a8e5",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "337"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3UKVFLIBOqvOFDrf0phWYR2K?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3UKVFLIBOqvOFDrf0phWYR2K",
          "object": "charge",
          "amount": 599,
          "amount_captured": 599,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3UKVFLIBOqvOFDrf0LcwTeE6",
            "object": "balance_transaction",
            "amount": 599,
            "available_on": 1791158400,
            "balance_type": "payments",
            "created": 1790566135,
            "currency": "usd",
            "description": "You bought http://edgare3176a8e5.test.gumroad.com:31337/l/e!",
            "exchange_rate": null,
            "fee": 47,
            "fee_details": [
              {
                "amount": 47,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 552,
            "reporting_category": "charge",
            "source": "ch_3UKVFLIBOqvOFDrf0phWYR2K",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGARE3176A8E5",
          "captured": true,
          "created": 1790566135,
          "currency": "usd",
          "customer": "cus_VLBcB6KYM7P2DZ",
          "description": "You bought http://edgare3176a8e5.test.gumroad.com:31337/l/e!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "SVC9ENBcmneBQ_TrKV0wGw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 13,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3UKVFLIBOqvOFDrf0QwKTZ2g",
          "payment_method": "pm_1UKVFJIBOqvOFDrfOuns6fbl",
          "payment_method_details": {
            "card": {
              "amount_authorized": 599,
              "authorization_code": "045492",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "electronic_commerce_indicator": "02",
              "exp_month": 9,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 599,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "transaction_link_id": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKPe959UGMgbQ2qR18KA6LBZzz6oFqqPZoZA_Ah55GXqAeNirCJLP9KdfZfJ8OO_V3rUqhD8QmwKFDtK4",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare3176a8e5",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "337"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_card_indiaRecurringMandateSetupAndRenewalsSuccess
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - Y[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_card_indiaRecurringMandateSetupAndRenewalsSuccess&customer=cus_VLBc2jzBDwFwxn&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9baaf6ee-9b7d-4553-a591-b620d4d04e52
      Stripe-Version:
   [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3UKVFPIBOqvOFDrf13GJCWBX/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2ebeb879-cc66-4072-b891-92b61eefde4d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
