---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&default_currency=usd&type=custom&business_type=individual&tos_acceptance[date]=1427846400&tos_acceptance[ip]=54.234.242.13&business_profile[url]=www.gumroad.com&business_profile[product_description]=Test+product&business_profile[mcc]=5734&individual[verification][document][front]=file_identity_document_success&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[phone]=0000000000&individual[id_number]=000000000&individual[email]=me%40example.com&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=CA&individual[address][postal_code]=94107&individual[address][country]=US&individual[ssn_last_4]=0000&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&external_account[object]=bank_account&external_account[country]=US&external_account[currency]=usd&external_account[routing_number]=111000000&external_account[account_number]=000<STRONGBOX_GENERAL_PASSWORD>56789
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 70a3f6d3-e4e9-4dc7-91a8-979198069b8b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 70a3f6d3-e4e9-4dc7-91a8-979198069b8b
      Original-Request:
      - req_KP4bqexgZfGKBu
      Stripe-Notice:
      - '2 notices for this request: (1) You are using an outdated API version (2023-10-16).
        We recommend upgrading to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
        (2) We recommend building your integration using Accounts v2. See https://docs.stripe.com/api/v2/core/accounts'
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1Tnr6pEkwWejOvqQ",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5734",
            "minority_owned_business_designation": null,
            "name": null,
            "product_description": "Test product",
            "specified_commercial_transactions_act_url": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "www.gumroad.com"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "active"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "CA"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "US",
          "created": 1782785353,
          "default_currency": "usd",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1Tnr6qEkwWejOvqQgvYHZjh9",
                "object": "bank_account",
                "account": "acct_1Tnr6pEkwWejOvqQ",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "xadKCGTmvYR41F1v",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "111000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1Tnr6pEkwWejOvqQ/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1Tnr6qEkwWejOvqQiTYt1G3h",
            "object": "person",
            "account": "acct_1Tnr6pEkwWejOvqQ",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "CA"
            },
            "created": 1782785353,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "me@example.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "authorizer": false,
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": "file_1Tnr6pIBOqvOFDrfYR5pbfIl"
              },
              "status": "pending"
            }
          },
          "metadata": {},
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": "requirements.pending_verification",
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "GUMROAD.CO",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Gumroad",
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null,
              "hosted_payment_method_save": "offer"
            },
            "payments": {
              "statement_descriptor": "GUMROAD.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1427846400,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Tue, 30 Jun 2026 02:09:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1Tnr6pEkwWejOvqQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1Tnr6pEkwWejOvqQ
      Stripe-Notice:
      - '2 notices for this request: (1) You are using an outdated API version (2023-10-16).
        We recommend upgrading to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
        (2) We recommend building your integration using Accounts v2. See https://docs.stripe.com/api/v2/core/accounts'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
     [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 46a7aec7-680e-4c35-8e5c-4d6e816631d7
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 46a7aec7-680e-4c35-8e5c-4d6e816631d7
      Original-Request:
      - req_xNM9nTSl3SuTU8
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1Tnr7mIBOqvOFDrfAsV4k97l",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 6,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1782785410,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Tue, 30 Jun 2026 02:10:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1Tnr7mIBOqvOFDrfAsV4k97l
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=Gumroad+Charge+FYUj2xiXNPPT0J2o02Wr-g%3D%3D&metadata[purchases%7B0%7D]=Z-XNPzI7PnTv_LKJb-uyHQ%3D%3D&transfer_group=CH-3&payment_method_types[0]=card&off_session=false&payment_method=pm_1Tnr7mIBOqvOFDrfAsV4k97l&statement_descriptor_suffix=edgard67b16331&transfer_data[destination]=acct_1Tnr6pEkwWejOvqQ&transfer_data[amount]=791
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8f6dadbf-4c03-4769-80a7-8ef80490c1d9
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8f6dadbf-4c03-4769-80a7-8ef80490c1d9
      Original-Request:
      - req_uUbKAZ5cRYakDU
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3Tnr7nIBOqvOFDrf0vGYrtzw",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3Tnr7nIBOqvOFDrf0vGYrtzw_secret_uROEXHgSCaJO9Bs8R9KdEsIFV",
          "confirmation_method": "automatic",
          "created": 1782785411,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "Gumroad Charge FYUj2xiXNPPT0J2o02Wr-g==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "purchases{0}": "Z-XNPzI7PnTv_LKJb-uyHQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1Tnr7mIBOqvOFDrfAsV4k97l",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgard67b16331",
          "status": "requires_confirmation",
          "transfer_data": {
            "amount": 791,
            "destination": "acct_1Tnr6pEkwWejOvqQ"
          },
          "transfer_group": "CH-3"
        }
  recorded_at: Tue, 30 Jun 2026 02:10:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3Tnr7nIBOqvOFDrf0vGYrtzw/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 28b7c5e7-08b0-4c72-bd33-bb87c7966b1c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3Tnr7nIBOqvOFDrf0XCZe3qi?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3Tnr7nIBOqvOFDrf0XCZe3qi",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3Tnr7nIBOqvOFDrf0PRDSLC5",
            "object": "balance_transaction",
            "amount": 1000,
            "available_on": 1783382400,
            "balance_type": "payments",
            "created": 1782785411,
            "currency": "usd",
            "description": "Gumroad Charge FYUj2xiXNPPT0J2o02Wr-g==",
            "exchange_rate": null,
            "fee": 59,
            "fee_details": [
              {
                "amount": 59,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 941,
            "reporting_category": "charge",
            "source": "ch_3Tnr7nIBOqvOFDrf0XCZe3qi",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGARD67B16331",
          "captured": true,
          "created": 1782785411,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge FYUj2xiXNPPT0J2o02Wr-g==",
          "destination": "acct_1Tnr6pEkwWejOvqQ",
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "Z-XNPzI7PnTv_LKJb-uyHQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 46,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3Tnr7nIBOqvOFDrf0vGYrtzw",
          "payment_method": "pm_1Tnr7mIBOqvOFDrfAsV4k97l",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "authorization_code": "306676",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "ds_transaction_id": null,
              "exp_month": 6,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "transaction_link_id": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKIXLjNIGMgahxJQbXZ06LBaI7nc53XPfTGQYozBSoOdVkYkPgNcUpfod0NoSgozkch4U3LpR9PrlhvJp",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgard67b16331",
          "status": "succeeded",
          "transfer": "tr_3Tnr7nIBOqvOFDrf0puo2JzQ",
          "transfer_data": {
            "amount": 791,
            "destination": "acct_1Tnr6pEkwWejOvqQ"
          },
          "transfer_group": "CH-3"
        }
  recorded_at: Tue, 30 Jun 2026 02:10:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_3Tnr7nIBOqvOFDrf0puo2JzQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_3Tnr7nIBOqvOFDrf0puo2JzQ",
          "object": "transfer",
          "amount": 791,
          "amount_reversed": 0,
          "balance_transaction": "txn_3Tnr7nIBOqvOFDrf026f7YsU",
          "created": 1782785412,
          "currency": "usd",
          "description": null,
          "destination": "acct_1Tnr6pEkwWejOvqQ",
          "destination_payment": "py_1Tnr7oEkwWejOvqQV8TqFLtI",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_3Tnr7nIBOqvOFDrf0puo2JzQ/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_3Tnr7nIBOqvOFDrf0XCZe3qi",
          "source_type": "card",
          "transfer_group": "CH-3"
        }
  recorded_at: Tue, 30 Jun 2026 02:10:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1Tnr7oEkwWejOvqQV8TqFLtI?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1Tnr6pEkwWejOvqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
