---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4720815a-b2f3-4a5b-8d2d-db59d40a778d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4720815a-b2f3-4a5b-8d2d-db59d40a778d
      Original-Request:
      - req_kaRwzDW3iL9PvF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SVZVJIBOqvOFDrfD94lOdhy",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 11,
            "exp_year": 2026,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1763651437,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Thu, 20 Nov 2025 15:10:36 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SVZVJIBOqvOFDrfD94lOdhy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar55630dee141.test.gumroad.com%3A31337%2Fl%2Fh%21&metadata[purchase]=JUjSxFE1_ykNPNp42UHe6Q%3D%3D&transfer_group=165&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_1SVZVJIBOqvOFDrfD94lOdhy&statement_descriptor_suffix=edgar55630dee141
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 10b4a805-d27f-46ab-93d8-2d2da120f1ad
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 10b4a805-d27f-46ab-93d8-2d2da120f1ad
      Original-Request:
      - req_kuwWXDOcvCAhWq
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SVZVKIBOqvOFDrf0o4DrZHZ",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SVZVKIBOqvOFDrf0o4DrZHZ_secret_yyFEC4lYLkTnrbRaVicKuwSV0",
          "confirmation_method": "automatic",
          "created": 1763651438,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar55630dee141.test.gumroad.com:31337/l/h!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SVZVKIBOqvOFDrf0ZpbdGRK",
          "livemode": false,
          "metadata": {
            "purchase": "JUjSxFE1_ykNPNp42UHe6Q=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SVZVJIBOqvOFDrfD94lOdhy",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar55630dee141",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "165"
        }
  recorded_at: Thu, 20 Nov 2025 15:10:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SVZVKIBOqvOFDrf0ZpbdGRK?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SVZVKIBOqvOFDrf0ZpbdGRK",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SVZVKIBOqvOFDrf0O9yH7Bs",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1764201600,
            "balance_type": "payments",
            "created": 1763651438,
            "currency": "usd",
            "description": "You bought http://edgar55630dee141.test.gumroad.com:31337/l/h!",
            "exchange_rate": null,
            "fee": 33,
            "fee_details": [
              {
                "amount": 33,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 67,
            "reporting_category": "charge",
            "source": "ch_3SVZVKIBOqvOFDrf0ZpbdGRK",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR55630DEE1",
          "captured": true,
          "created": 1763651438,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar55630dee141.test.gumroad.com:31337/l/h!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "JUjSxFE1_ykNPNp42UHe6Q=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 27,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SVZVKIBOqvOFDrf0o4DrZHZ",
          "payment_method": "pm_1SVZVJIBOqvOFDrfD94lOdhy",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "authorization_code": "931501",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 11,
              "exp_year": 2026,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKO_e_MgGMgbsQbtD02g6LBZoQ4f5MD0jDt_Pulsap9LQbs80WWvtbkv4BgEya8c0uyrlBisMOkR2jMqv",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar55630dee141",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "165"
        }
  recorded_at: Thu, 20 Nov 2025 15:10:39 GMT
recorded_with: VCR 6.2.0
