---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=547405856835&metadata[tos_agreement_id]=YdlpgXKoPes9-0Txji1iRw%3D%3D&metadata[user_compliance_info_id]=l_pCoJcu2VY3M6Iv_YK6bg%3D%3D&tos_acceptance[date]=1703496933&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=edgar44b2fd43_433%40gumroad.com&individual[phone]=0000000000&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=California&individual[address][postal_code]=94107&individual[address][country]=US&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[id_number]=000000000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 46499108-d9f5-4b5f-bb5e-0f4b29a98c57
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 46499108-d9f5-4b5f-bb5e-0f4b29a98c57
      Original-Request:
      - req_KuxWtT398jP3AA
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1ORAZOS0koirvKqk",
          "object": "account",
          "business_profile": {
            "mcc": "5192",
            "name": null,
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "pending"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "US",
          "created": 1703496935,
          "default_currency": "usd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1ORAZOS0koirvKqk/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1712084400,
            "currently_due": [
              "external_account",
              "individual.phone"
            ],
            "disabled_reason": null,
            "errors": [
              {
                "code": "invalid_phone_number",
                "reason": "This phone number has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                "requirement": "individual.phone"
              }
            ],
            "eventually_due": [
              "external_account",
              "individual.phone"
            ],
            "past_due": [
              "external_account"
            ],
            "pending_verification": [
              "business_profile.url",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "individual": {
            "id": "person_1ORAZOS0koirvKqkObbgFORC",
            "object": "person",
            "account": "acct_1ORAZOS0koirvKqk",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "created": 1703496934,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "edgar44b2fd43_433@gumroad.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [
                "phone"
              ],
              "errors": [
                {
                  "code": "invalid_phone_number",
                  "reason": "This phone number has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                  "requirement": "phone"
                }
              ],
              "eventually_due": [
                "phone"
              ],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "pending"
            }
          },
          "metadata": {
            "tos_agreement_id": "YdlpgXKoPes9-0Txji1iRw==",
            "user_compliance_info_id": "l_pCoJcu2VY3M6Iv_YK6bg==",
            "user_id": "547405856835"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "external_account"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [],
            "eventually_due": [
              "external_account"
            ],
            "past_due": [
              "external_account"
            ],
            "pending_verification": [
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "VIPUL.GUMR",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "vipul.gumroad",
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "VIPUL.GUMROAD.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1703496933,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Mon, 25 Dec 2023 09:35:37 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1ORAZOS0koirvKqk/persons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ORAZOS0koirvKqk
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "person_1ORAZOS0koirvKqkObbgFORC",
              "object": "person",
              "account": "acct_1ORAZOS0koirvKqk",
              "additional_tos_acceptances": {
                "account": {
                  "date": null,
                  "ip": null,
                  "user_agent": null
                }
              },
              "address": {
                "city": "San Francisco",
                "country": "US",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "94107",
                "state": "California"
              },
              "created": 1703496934,
              "dob": {
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1ORAZOS0koirvKqk/persons/person_1ORAZOS0koirvKqkObbgFORC
    body:
      encoding: UTF-8
      string: verification[document][front]=file_identity_document_success
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - eb4bc197-62f1-4944-9b3f-533f1793e43b
      Stripe-Version:
      - '2023-10-16'
  response:
    stat[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1ORAZOS0koirvKqk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ORAZOS0koirvKqk
      Stripe-Ver[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2186ecca-94de-4f91-9cdd-337a12806230
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2186ecca-94de-4f91-9cdd-337a12806230
      Original-Request:
      - req_OFmNJXchCaNEu0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0ORAZe9e1RjUNIyYdH9Km1yK",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703496950,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 25 Dec 2023 09:35:50 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0ORAZe9e1RjUNIyYdH9Km1yK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0ORAZe9e1RjUNIyYdH9Km1yK
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 98a07d0e-46ba-4421-b412-f3d40593e7d9
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 98a07d0e-46ba-4421-b412-f3d40593e7d9
      Original-Request:
      - req_sCNEYXJbsHF5Bg
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PFfvIvGBZrNUVf",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703496951,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "EDE78E25",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 25 Dec 2023 09:35:52 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar1fce534f138.test.gumroad.com%3A31337%2Fl%2Fu&metadata[purchase]=rm5D2kE5C-tOn7FF_tyDxg%3D%3D&transfer_group=137&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PFfvp4AAWo9NhL&payment_method=pm_1ORAZgCOxuflorGurvspwaWY&statement_descriptor_suffix=edgar1fce534f138&application_fee_amount=25
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - dc2f34c4-8517-4438-bbfd-909e91e88347
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - dc2f34c4-8517-4438-bbfd-909e91e88347
      Original-Request:
      - req_sHYK37sWajSTE7
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3ORAZhCOxuflorGu0Ak2x7nB",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee_amount": 25,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3ORAZhCOxuflorGu0Ak2x7nB_secret_GQtlbUvRf8EuSDBUosYpNYYdM",
          "confirmation_method": "automatic",
          "created": 1703496953,
          "currency": "usd",
          "customer": "cus_PFfvp4AAWo9NhL",
          "description": "You bought http://edgar1fce534f138.test.gumroad.com:31337/l/u",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3ORAZhCOxuflorGu0BoY0bGl",
          "livemode": false,
          "metadata": {
            "purchase": "rm5D2kE5C-tOn7FF_tyDxg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1ORAZgCOxuflorGurvspwaWY",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar1fce534f138",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "137"
        }
  recorded_at: Mon, 25 Dec 2023 09:35:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3ORAZhCOxuflorGu0BoY0bGl?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3ORAZhCOxuflorGu0BoY0bGl",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": {
            "id": "fee_1ORAZiCOxuflorGuJ9CJeO8e",
            "object": "application_fee",
            "account": "acct_1MFA1rCOxuflorGu",
            "amount": 25,
            "amount_refunded": 0,
            "application": "<STRIPE_CONNECT_CLIENT_ID>",
            "balance_transaction": {
              "id": "txn_0ORAZi9e1RjUNIyYs4YzFuzX",
              "object": "balance_transaction",
              "amount": 25,
              "available_on": 1704067200,
              "created": 1703496954,
              "currency": "usd",
              "description": "Application fee from application Gumroad for acct_1MFA1rCOxuflorGu (acct_1MFA1rCOxuflorGu)",
              "exchange_rate": 1.29726,
              "fee": 0,
              "fee_details": [],
              "net": 25,
              "reporting_category": "platform_earning",
              "source": "fee_1ORAZiCOxuflorGuJ9CJeO8e",
              "status": "pending",
              "type": "application_fee"
            },
            "charge": "ch_3ORAZhCOxuflorGu0BoY0bGl",
            "created": 1703496954,
            "currency": "usd",
            "livemode": false,
            "originating_transaction": null,
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/application_fees/fee_1ORAZiCOxuflorGuJ9CJeO8e/refunds"
            }
          },
          "application_fee_amount": 25,
          "balance_transaction": {
            "id": "txn_3ORAZhCOxuflorGu0cJERlAc",
            "object": "balance_transaction",
            "amount": 130,
            "available_on": 1704067200,
            "created": 170349[...]
