---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OTlIf9e1RjUNIyY1adIdtGp?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OTlIf9e1RjUNIyY1adIdtGp",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 1000,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OTlIf9e1RjUNIyY1NOXCmQI",
            "object": "balance_transaction",
            "amount": 1000,
            "available_on": 1704240000,
            "created": 1704114781,
            "currency": "usd",
            "description": "You bought https://gumroadteamowner.staging.gumroad.com/l/vayq",
            "exchange_rate": null,
            "fee": 50,
            "fee_details": [
              {
                "amount": 50,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 950,
            "reporting_category": "charge",
            "source": "ch_2OTlIf9e1RjUNIyY1adIdtGp",
            "status": "available",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* TEAM OWNER",
          "captured": true,
          "created": 1704114781,
          "currency": "usd",
          "customer": "cus_PIM0zB4GT1Mvpn",
          "description": "You bought https://gumroadteamowner.staging.gumroad.com/l/vayq",
          "destination": "acct_1MdawPS4gcql7bLm",
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "RmeR9EmLJ078uIRnPBUQKg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 38,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OTlIf9e1RjUNIyY1032CvYE",
          "payment_method": "pm_0OTlIb9e1RjUNIyYhf6ZJl9U",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "brand": "mastercard",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2034,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "a67p1Ydvd9i3mqYP",
              "funding": "debit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "8210",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "mastercard",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo-vvTsAYyBndSSSWOhTosFjIKX6j0Sf3rKy8acCLaH6SnuG1cF3Zk7cmmkTSG4-ufavbw_boM_N7OY1w",
          "refunded": true,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "Team Owner",
          "status": "succeeded",
          "transfer": "tr_2OTlIf9e1RjUNIyY15QeXxZP",
          "transfer_data": {
            "amount": 841,
            "destination": "acct_1MdawPS4gcql7bLm"
          },
          "transfer_group": "249279"
        }
  recorded_at: Tue, 09 Apr 2024 08:36:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2OTlIf9e1RjUNIyY15QeXxZP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2OTlIf9e1RjUNIyY15QeXxZP",
          "object": "transfer",
          "amount": 841,
          "amount_reversed": 841,
          "balance_transaction": "txn_2OTlIf9e1RjUNIyY1MND9hBT",
          "created": 1704114781,
          "currency": "usd",
          "description": null,
          "destination": "acct_1MdawPS4gcql7bLm",
          "destination_payment": "py_1OTlIfS4gcql7bLmA20buCxQ",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [
              {
                "id": "trr_0OTlJX9e1RjUNIyY6FwzREII",
                "object": "transfer_reversal",
                "amount": 841,
                "balance_transaction": "txn_0OTlJY9e1RjUNIyY2CKDVWAA",
                "created": 1704114835,
                "currency": "usd",
                "destination_payment_refund": "pyr_1OTlJXS4gcql7bLms4RS8Xw7",
                "metadata": {},
                "source_refund": "re_2OTlIf9e1RjUNIyY1vQHIv4A",
                "transfer": "tr_2OTlIf9e1RjUNIyY15QeXxZP"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/transfers/tr_2OTlIf9e1RjUNIyY15QeXxZP/reversals"
          },
          "reversed": true,
          "source_transaction": "ch_2OTlIf9e1RjUNIyY1adIdtGp",
          "source_type": "card",
          "transfer_group": "249279"
        }
  recorded_at: Tue, 09 Apr 2024 08:36:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1OTlIfS4gcql7bLmA20buCxQ?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MdawPS4gcql7bLm
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MdawPS4gcql7bLm
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1OTlIfS4gcql7bLmA20buCxQ",
          "object": "charge",
          "amount": 841,
          "amount_captured": 841,
          "amount_refunded": 841,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1OTlIgS4gcql7bLmq0kaWzFQ",
            "object": "balance_transaction",
            "amount": 841,
            "available_on": 1704240000,
            "created": 1704114782,
            "currency": "usd",
            "description": null,
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 841,
            [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5e0bc4a7-52f9-4af3-b79a-fc8c286f5f94
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5e0bc4a7-52f9-4af3-b79a-fc8c286f5f94
      Original-Request:
      - req_CnjI8sUC69Rb4t
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0P3aA49e1RjUNIyYD5BNIrUn",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1712651772,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 09 Apr 2024 08:36:12 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0P3aA49e1RjUNIyYD5BNIrUn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0P3aA49e1RjUNIyYD5BNIrUn
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f1612bbb-288d-489b-905e-1453f634e75b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f1612bbb-288d-489b-905e-1453f634e75b
      Original-Request:
      - req_OnxhKdxMfkyYFb
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PtMtNeNa88P5gm",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1712651773,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "42131B64",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 09 Apr 2024 08:36:13 GMT
recorded_with: VCR 6.2.0
