---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QVFpS2paQXFYR2NOX29VOHdoLVJLZWx2Nk5mM0lyV1ZZOUo5cnJoejFwRjdhcWl5Wmp1dFNkRzc1STZhaGQzekplMVRocGtsRnA1ak5tYW46RVBuTmR0QVc2anNVbGVIV1FtanNGTmVmMzdmMUdHV0x3dEp4M3VPMlBSZGJFTkFGeFRnVzFXQTFWODNNVll2U3JScmtIMHRYTmV2RTBDSl8=
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.5.8
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 8de4f937dfcf4
      X-Paypal-Token-Service:
      - IAAS
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/customer/partner-referrals/readwrite
        https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/payments/realtimepayment
        openid https://uri.paypal.com/services/payments/payment/authcapture https://uri.paypal.com/services/payments/refund
        https://uri.paypal.com/services/customer/onboarding/user https://uri.paypal.com/services/risk/raas/transaction-context
        https://uri.paypal.com/services/partners/merchant-accounts/readwrite https://uri.paypal.com/services/identity/grantdelegation
        https://api.paypal.com/v1/vault/credit-card https://api.paypal.com/v1/payments/.*
        https://uri.paypal.com/services/payments/referenced-payouts-items/readwrite
        https://uri.paypal.com/services/reporting/search/read https://uri.paypal.com/services/customer/onboarding/account
        https://uri.paypal.com/services/customer/partner https://uri.paypal.com/services/customer/onboarding/sessions
        https://uri.paypal.com/payments/payouts https://api.paypal.com/v1/vault/credit-card/.*
        https://uri.paypal.com/services/subscriptions https://uri.paypal.com/services/applications/webhooks","access_token":"A21AAEoHdxMrfOn2fqQGB61AqZmJby4k19FR7F58IsuDEeAVR7UeXVfTiazgv1SeBaZdLp2ErjifHB6zmIUPA59bO2wwTVQDw","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":31146,"nonce":"2020-06-17T18:00:55ZDAXKs4lu6PBXC2_Sj67ziK7g3eSspVl-FkEG-hiakU0"}'
  recorded_at: Wed, 17 Jun 2020 18:21:50 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/checkout/orders
    body:
      encoding: UTF-8
      string: '{"intent":"CAPTURE","purchase_units":[{"reference_id":"G_-mnBf9b1j9A7a4ub4nFQ==","amount":{"currency_code":"USD","value":"5.00","breakdown":{"shipping":{"currency_code":"USD","value":"0.00"},"tax_total":{"currency_code":"USD","value":"0.00"},"item_total":{"currency_code":"USD","value":"5.00"}}},"payee":{"email_address":"<PAYPAL_MERCHANT_EMAIL>"},"items":[{"name":"The
        Works of Edgar Gumstein","unit_amount":{"currency_code":"USD","value":"5.00"},"quantity":1,"sku":"Z"}],"soft_descriptor":"You
        bought /l/Z"}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
      Authorization:
      - Bearer A21AAEoHdxMrfOn2fqQGB61AqZmJby4k19FR7F58IsuDEeAVR7UeXVfTiazgv1SeBaZdLp2ErjifHB6zmIUPA59bO2wwTVQDw
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.5.8
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - c29446bc352f1
    body:
      encoding: UTF-8
      string: '{"id":"0T022567XC990424P","intent":"CAPTURE","purchase_units":[{"reference_id":"G_-mnBf9b1j9A7a4ub4nFQ==","amount":{"currency_code":"USD","value":"5.00","breakdown":{"item_total":{"currency_code":"USD","value":"5.00"},"shipping":{"currency_code":"USD","value":"0.00"},"tax_total":{"currency_code":"USD","value":"0.00"}}},"payee":{"email_address":"<PAYPAL_MERCHANT_EMAIL>"},"soft_descriptor":"You
        bought /l/Z","items":[{"name":"The Works of Edgar Gumstein","unit_amount":{"currency_code":"USD","value":"5.00"},"quantity":"1","sku":"Z"}]}],"create_time":"2020-06-17T18:21:51Z","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/0T022567XC990424P","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/checkoutnow?token=0T022567XC990424P","rel":"approve","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/0T022567XC990424P","rel":"update","method":"PATCH"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/0T022567XC990424P/capture","rel":"capture","method":"POST"}],"status":"CREATED"}'
  recorded_at: Wed, 17 Jun 2020 18:21:52 GMT
recorded_with: VCR 3.0.3
