---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/tax/forms?payee%5Baccount%5D=acct_1234567890&type=us_1099_k
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; retrieve_tax_forms_beta=v1;
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; retrieve_tax_forms_beta=v1;
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "count": 5,
          "data": [
            {
              "id": "taxform_1",
              "object": "tax.form",
              "corrected_by": null,
              "created": 1737614171,
              "filing_statuses": [
                {
                  "effective_at": 1737803273,
                  "jurisdiction": {
                    "country": "US",
                    "level": "country",
                    "state": null
                  },
                  "value": "accepted"
                }
              ],
              "livemode": true,
              "payee": {
                "account": "acct_1234567890",
                "external_reference": null,
                "type": "account"
              },
              "type": "us_1099_k",
              "us_1099_k": {
                "reporting_year": 2024
              }
            },
            {
              "id": "taxform_2",
              "object": "tax.form",
              "corrected_by": null,
              "created": 1706110032,
              "filing_statuses": [
                {
                  "effective_at": 1706272380,
                  "jurisdiction": {
                    "country": "US",
                    "level": "country",
                    "state": null
                  },
                  "value": "accepted"
  [...]
