---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa_chargeDeclined
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5d4eafd8-b3f7-41b5-b002-fdcb56774592
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5d4eafd8-b3f7-41b5-b002-fdcb56774592
      Original-Request:
      - req_GpvN4i0zzvXFA0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzH5VIBOqvOFDrfYG8hDF1z",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "cQWd8hUpgSG2iRvA",
            "funding": "credit",
            "generated_from": null,
            "last4": "0002",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730485,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:34:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzH5VIBOqvOFDrfYG8hDF1z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1500&currency=usd&description=Gumroad+Charge+X5vpEuUunNTIrpZQgAlCNQ%3D%3D&metadata[purchases%7B0%7D]=7yhX9OfDTcUvKBHCZsdxTQ%3D%3D%2CC4Pnr2YCpQ3CBW7FSh7mkw%3D%3D&transfer_group=CH-771&payment_method_types[0]=card&off_session=false&payment_method=pm_1SzH5VIBOqvOFDrfYG8hDF1z&statement_descriptor_suffix=edgar1ec0c3b333
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ca421bae-6afe-4d05-9050-9c1189a603f8
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ca421bae-6afe-4d05-9050-9c1189a603f8
      Original-Request:
      - req_6Wui4ApBsfSyny
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzH5WIBOqvOFDrf0OlZLIqB",
          "object": "payment_intent",
          "amount": 1500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzH5WIBOqvOFDrf0OlZLIqB_secret_Nl2f27OOtOilioyzfklRSuCkF",
          "confirmation_method": "automatic",
          "created": 1770730486,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "Gumroad Charge X5vpEuUunNTIrpZQgAlCNQ==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "7yhX9OfDTcUvKBHCZsdxTQ==,C4Pnr2YCpQ3CBW7FSh7mkw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH5VIBOqvOFDrfYG8hDF1z",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar1ec0c3b333",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-771"
        }
  recorded_at: Tue, 10 Feb 2026 13:34:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SzH5WIBOqvOFDrf0OlZLIqB/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 52e564e4-767f-48fb-9918-4fd821763810
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 52e564e4-767f-48fb-9918-4fd821763810
      Original-Request:
      - req_vTIMsqZ4IbJO3t
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "advice_code": "try_again_later",
            "charge": "ch_3SzH5WIBOqvOFDrf0Ckerbtp",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "network_decline_code": "01",
            "payment_intent": {
              "id": "pi_3SzH5WIBOqvOFDrf0OlZLIqB",
              "object": "payment_intent",
              "amount": 1500,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "[...]
