---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/checkout/orders
    body:
      encoding: UTF-8
      string: '{"intent":"CAPTURE","purchase_units":[{"amount":{"currency_code":"usd","value":"1.0","breakdown":{"shipping":{"currency_code":"USD","value":"0.0"},"tax_total":{"currency_code":"USD","value":"0.0"},"item_total":{"currency_code":"USD","value":"1.0"}}},"payee":{"merchant_id":null},"items":[{"name":"The
        Works of Edgar Gumstein","unit_amount":{"currency_code":"USD","value":"1.0"},"quantity":1,"sku":"n"}],"soft_descriptor":"Gumroad","payment_instruction":{"platform_fees":[{"amount":{"currency_code":"USD","value":"0.3"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>"}}]},"invoice_id":"G_-mnBf9b1j9A7a4ub4nFQ=="}]}'
    headers:
      Authorization:
      - Bearer A21AAJv46HmuBQZkh2reWQ5hnQkeGwGWh3KHCCplCmOrIKbGHctVQZ9vTs-N47d5zn9QSsLAcMw-bdrUtXyKz0vNUJWb8evZQ
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
      Paypal-Request-Id:
      - '1618231343713137'
      Prefer:
      - return=representation
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.7.2
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 6c08c71951413
    body:
      encoding: UTF-8
      string: '{"id":"1KE14363W5765483F","intent":"CAPTURE","status":"CREATED","purchase_units":[{"reference_id":"default","amount":{"currency_code":"USD","value":"1.00","breakdown":{"item_total":{"currency_code":"USD","value":"1.00"},"shipping":{"currency_code":"USD","value":"0.00"},"tax_total":{"currency_code":"USD","value":"0.00"}}},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>","merchant_id":"<PAYPAL_PARTNER_MERCHANT_ID>"},"payment_instruction":{"platform_fees":[{"amount":{"currency_code":"USD","value":"0.30"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>"}}]},"invoice_id":"G_-mnBf9b1j9A7a4ub4nFQ==","soft_descriptor":"Gumroad","items":[{"name":"The
        Works of Edgar Gumstein","unit_amount":{"currency_code":"USD","value":"1.00"},"quantity":"1","sku":"n"}]}],"create_time":"2021-04-12T12:42:26Z","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/1KE14363W5765483F","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/checkoutnow?token=1KE14363W5765483F","rel":"approve","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/1KE14363W5765483F","rel":"update","method":"PATCH"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/1KE14363W5765483F/capture","rel":"capture","method":"POST"}]}'
  recorded_at: Mon, 12 Apr 2021 12:42:26 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/1KE14363W5765483F/capture
    body:
      encoding: UTF-8
      string: '{"payment_source":{"token":{"id":"B-38D505255T217912K","type":"BILLING_AGREEMENT"}}}'
    headers:
      Authorization:
      - Bearer A21AAJv46HmuBQZkh2reWQ5hnQkeGwGWh3KHCCplCmOrIKbGHctVQZ9vTs-N47d5zn9QSsLAcMw-bdrUtXyKz0vNUJWb8evZQ
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
      Paypal-Request-Id:
      - capture-1KE14363W5765483F
      Prefer:
      - return=representation
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.7.2
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 66043568c430e
    body:
      encoding: UTF-8
      string: '{"id":"1KE14363W5765483F","intent":"CAPTURE","status":"COMPLETED","purchase_units":[{"reference_id":"default","amount":{"currency_code":"USD","value":"1.00","breakdown":{"item_total":{"currency_code":"USD","value":"1.00"},"shipping":{"currency_code":"USD","value":"0.00"},"handling":{"currency_code":"USD","value":"0.00"},"tax_total":{"currency_code":"USD","value":"0.00"},"insurance":{"currency_code":"USD","value":"0.00"},"shipping_discount":{"currency_code":"USD","value":"0.00"}}},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>","merchant_id":"<PAYPAL_PARTNER_MERCHANT_ID>"},"payment_instruction":{"platform_fees":[{"amount":{"currency_code":"USD","value":"0.30"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>","merchant_id":"<PAYPAL_PARTNER_MERCHANT_ID>"}}]},"description":"The
        Works of Edgar Gumstein","invoice_id":"G_-mnBf9b1j9A7a4ub4nFQ==","items":[{"name":"The
        Works of Edgar Gumstein","unit_amount":{"currency_code":"USD","value":"1.00"},"tax":{"currency_code":"USD","value":"0.00"},"quantity":"1","sku":"n"}],"shipping":{"name":{"full_name":"Gumbot
        Gumstein"},"address":{}},"payments":{"captures":[{"id":"0N408534GP680181C","status":"COMPLETED","amount":{"currency_code":"USD","value":"1.00"},"final_capture":true,"disbursement_mode":"INSTANT","seller_protection":{"status":"ELIGIBLE","dispute_categories":["ITEM_NOT_RECEIVED","UNAUTHORIZED_TRANSACTION"]},"seller_receivable_breakdown":{"gross_amount":{"currency_code":"USD","value":"1.00"},"paypal_fee":{"currency_code":"USD","value":"0.33"},"platform_fees":[{"amount":{"currency_code":"USD","value":"0.30"},"payee":{"merchant_id":"<PAYPAL_PARTNER_MERCHANT_ID>"}}],"net_amount":{"currency_code":"USD","value":"0.37"}},"invoice_id":"G_-mnBf9b1j9A7a4ub4nFQ==","links":[{"href":"https://api.sandbox.paypal.com/v2/payments/captures/0N408534GP680181C","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/payments/captures/0N408534GP680181C/refund","rel":"refund","method":"POST"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/1KE14363W5765483F","rel":"up","method":"GET"}],"create_time":"2021-04-12T12:42:35Z","update_time":"2021-04-12T12:42:35Z"}]}}],"payer":{"name":{"given_name":"Gumbot","surname":"Gumstein"},"email_address":"paypal-gr-integspecs@gumroad.com","payer_id":"92SVVJSWYT72E","address":{"country_code":"US"}},"create_time":"2021-04-12T12:42:26Z","update_time":"2021-04-12T12:42:35Z","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/1KE14363W5765483F","rel":"self","method":"GET"}]}'
  recorded_at: Mon, 12 Apr 2021 12:42:36 GMT
recorded_with: VCR 6.0.0
