---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2902a9ce-800e-4c3d-962c-2a09eae7e2f8
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2902a9ce-800e-4c3d-962c-2a09eae7e2f8
      Original-Request:
      - req_vYz6p5QGpRzzK8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OUZIC9e1RjUNIyYMIfw6tiq",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1704306953,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 03 Jan 2024 18:35:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OUZIC9e1RjUNIyYMIfw6tiq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=5&email=edgar00fb129a_9%40gumroad.com&payment_method=pm_0OUZIC9e1RjUNIyYMIfw6tiq
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a1ef9c59-4f62-488e-ab72-de9db1301cbf
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a1ef9c59-4f62-488e-ab72-de9db1301cbf
      Original-Request:
      - req_cGAkTsHA6KnN9z
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PJBfQo4pRvUeoy",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1704306953,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "5",
          "discount": null,
          "email": "edgar00fb129a_9@gumroad.com",
          "invoice_prefix": "F3D5F112",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 03 Jan 2024 18:35:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=599&currency=usd&description=You+bought+http%3A%2F%2Fedgar68f49e7c6.test.gumroad.com%3A31337%2Fl%2Fo&metadata[purchase]=P5ppE6H8XIjy2JSCgUhbAw%3D%3D&transfer_group=2&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_PJBfQo4pRvUeoy&payment_method=pm_0OUZIC9e1RjUNIyYMIfw6tiq&statement_descriptor_suffix=edgar68f49e7c6
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ea558ab2-c222-4bcd-b2ae-457e27d45414
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ea558ab2-c222-4bcd-b2ae-457e27d45414
      Original-Request:
      - req_kIrVjPUSZZRGnx
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OUZIE9e1RjUNIyY0uvdS9bL",
          "object": "payment_intent",
          "amount": 599,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 599,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OUZIE9e1RjUNIyY0uvdS9bL_secret_vaET1e9XD1W2fw3GIYnXJZkaV",
          "confirmation_method": "manual",
          "created": 1704306954,
          "currency": "usd",
          "customer": "cus_PJBfQo4pRvUeoy",
          "description": "You bought http://edgar68f49e7c6.test.gumroad.com:31337/l/o",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OUZIE9e1RjUNIyY00oZ2uGa",
          "livemode": false,
          "metadata": {
            "purchase": "P5ppE6H8XIjy2JSCgUhbAw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OUZIC9e1RjUNIyYMIfw6tiq",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar68f49e7c6",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "2"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OUZIE9e1RjUNIyY00oZ2uGa?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OUZIE9e1RjUNIyY00oZ2uGa",
          "object": "charge",
          "amount": 599,
          "amount_captured": 599,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OUZIE9e1RjUNIyY0Hcrhdc7",
            "object": "balance_transaction",
            "amount": 599,
            "available_on": 1704412800,
            "created": 1704306955,
            "currency": "usd",
            "description": "You bought http://edgar68f49e7c6.test.gumroad.com:31337/l/o",
            "exchange_rate": null,
            "fee": 35,
            "fee_details": [
              {
                "amount": 35,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 564,
            "reporting_category": "charge",
            "source": "ch_2OUZIE9e1RjUNIyY00oZ2uGa",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR68F49E",
          "captured": true,
          "created": 1704306955,
          "currency": "usd",
          "customer": "cus_PJBfQo4pRvUeoy",
          "description": "You bought http://edgar68f49e7c6.test.gumroad.com:31337/l/o",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "P5ppE6H8XIjy2JSCgUhbAw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 49,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OUZIE9e1RjUNIyY0uvdS9bL",
          "payment_method": "pm_0OUZIC9e1RjUNIyYMIfw6tiq",
          "payment_method_details": {
            "card": {
              "amount_authorized": 599,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 599,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUojNLWrAYyBmcQuYSXuDosFgERDi6XNRi2H6g-ZYVz_v76lYEb5sy9gKt4IZE9QWRN7UvLExvL-P-I1Uo",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar68f49e7c6",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "2"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: ASCII-8BIT
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"WA","to_zip":"98121","shipping":0.0,"line_items":[{"quantity":1,"unit_price":1.0,"discount":0,"product_tax_code":"31000"}],"nexus_addresses":[{"country":"US","state":"WA"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d26186a61eae69c02d62884212fd6e87"
    body:
      encoding: UTF-8
      string: '{"tax":{"order_total_amount":1.0,"shipping":0.0,"taxable_amount":1.0,"amount_to_collect":0.1,"rate":0.1025,"has_nexus":true,"freight_taxable":true,"tax_source":"destination","jurisdictions":{"country":"US","state":"WA","county":"KING","city":"SEATTLE"},"breakdown":{"taxable_amount":1.0,"tax_collectable":0.1,"combined_tax_rate":0.1025,"state_taxable_amount":1.0,"state_tax_rate":0.065,"state_tax_collectable":0.07,"county_taxable_amount":1.0,"county_tax_rate":0.003,"county_tax_collectable":0.0,"city_taxable_amount":1.0,"city_tax_rate":0.0115,"city_tax_collectable":0.01,"special_district_taxable_amount":1.0,"special_tax_rate":0.023,"special_district_tax_collectable":0.02,"shipping":{"taxable_amount":0.0,"tax_collectable":0.0,"combined_tax_rate":0.1025,"state_taxable_amount":0.0,"state_sales_tax_rate":0.065,"state_amount":0.0,"county_taxable_amount":0.0,"county_tax_rate":0.003,"county_amount":0.0,"city_taxable_amount":0.0,"city_tax_rate":0.0115,"city_amount":0.0,"special_taxable_amount":0.0,"special_tax_rate":0.023,"special_district_amount":0.0},"line_items":[{"id":"1","taxable_amount":1.0,"tax_collectable":0.1,"combined_tax_rate":0.1025,"state_taxable_amount":1.0,"state_sales_tax_rate":0.065,"state_amount":0.07,"county_taxable_amount":1.0,"county_tax_rate":0.003,"county_amount":0.0,"city_taxable_amount":1.0,"city_tax_rate":0.0115,"city_amount":0.01,"special_district_taxable_amount":1.0,"special_tax_rate":0.023,"special_district_amount":0.02}]}}}'
  recorded_at: Wed, 03 Jan 2024 18:35:57 GMT
recorded_with: VCR 6.2.0
