---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9997c877-d45f-4cf3-860e-415fff753ec6
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9997c877-d45f-4cf3-860e-415fff753ec6
      Original-Request:
      - req_IgLXBeXWYQhXvm
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0RtOfx9e1RjUNIyY9YOQmIsO",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1754553350,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Thu, 07 Aug 2025 07:55:50 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0RtOfx9e1RjUNIyY9YOQmIsO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar4b28465667.test.gumroad.com%3A31337%2Fl%2Fn%21&metadata[purchase]=RyiMYN1DFinqsNHkgc4XpA%3D%3D&transfer_group=38&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0RtOfx9e1RjUNIyY9YOQmIsO&statement_descriptor_suffix=edgar4b28465667
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d85e5825-e06d-4a5e-a369-ec6c3fb3a5dc
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d85e5825-e06d-4a5e-a369-ec6c3fb3a5dc
      Original-Request:
      - req_4dumUtGRd5fzQz
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2RtOfy9e1RjUNIyY1Vzaglt5",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2RtOfy9e1RjUNIyY1Vzaglt5_secret_c0ReJMMOwC42K0bdvThCAmrgr",
          "confirmation_method": "automatic",
          "created": 1754553350,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar4b28465667.test.gumroad.com:31337/l/n!",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2RtOfy9e1RjUNIyY1BmkPQqY",
          "livemode": false,
          "metadata": {
            "purchase": "RyiMYN1DFinqsNHkgc4XpA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0RtOfx9e1RjUNIyY9YOQmIsO",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar4b28465667",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "38"
        }
  recorded_at: Thu, 07 Aug 2025 07:55:51 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2RtOfy9e1RjUNIyY1BmkPQqY?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2RtOfy9e1RjUNIyY1BmkPQqY",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2RtOfy9e1RjUNIyY1BFMPmVh",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1754870400,
            "balance_type": "payments",
            "created": 1754553350,
            "currency": "usd",
            "description": "You bought http://edgar4b28465667.test.gumroad.com:31337/l/n!",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 100,
            "reporting_category": "charge",
            "source": "ch_2RtOfy9e1RjUNIyY1BmkPQqY",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGAR4B284656",
          "captured": true,
          "created": 1754553350,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar4b28465667.test.gumroad.com:31337/l/n!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "RyiMYN1DFinqsNHkgc4XpA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 13,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2RtOfy9e1RjUNIyY1Vzaglt5",
          "payment_method": "pm_0RtOfx9e1RjUNIyY9YOQmIsO",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "authorization_code": "122383",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "875457497450891",
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoh7jRxAYyBu8o_mAk4josFl3LysrqXwffn-xeO_vEh3hYqOlkdeCddPwSZ7A4ocqCm7SmyyKogSuN4TE",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar4b28465667",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "38"
        }
  recorded_at: Thu, 07 Aug 2025 07:55:51 GMT
recorded_with: VCR 6.2.0
