---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c2e6e1c5-87fd-4f59-ba41-a6f242f9920a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c2e6e1c5-87fd-4f59-ba41-a6f242f9920a
      Original-Request:
      - req_5oowRIXNCHOEdv
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzH8WIBOqvOFDrfTpoC5PUt",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730672,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:37:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH8WIBOqvOFDrfTpoC5PUt
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fb717e2e-7f34-4c45-8b3c-47afe89a9614
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fb717e2e-7f34-4c45-8b3c-47afe89a9614
      Original-Request:
      - req_JvLVixM5ESJleD
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TxBVghbsDs8NyB",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1770730672,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "YW2B6RSS",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 10 Feb 2026 13:37:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH8WIBOqvOFDrfTpoC5PUt&customer=cus_TxBVghbsDs8NyB&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6c752343-dbfa-415d-b4f6-aca4a1a80a9f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6c752343-dbfa-415d-b4f6-aca4a1a80a9f
      Original-Request:
      - req_LCSeSJ3UYfZZQD
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1SzH8XIBOqvOFDrfyUE6gBk7",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_1SzH8XIBOqvOFDrfyUE6gBk7_secret_TxBVpxrLFMziM9poySdIuFPKU720f6Q",
          "created": 1770730673,
          "customer": "cus_TxBVghbsDs8NyB",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_1SzH8XIBOqvOFDrfXzCqBIX8",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH8WIBOqvOFDrfTpoC5PUt",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 10 Feb 2026 13:37:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzH8WIBOqvOFDrfTpoC5PUt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2000&currency=usd&description=Gumroad+Charge+ZOZcl1lwpknBPRcA7rKnAw%3D%3D&metadata[purchases%7B0%7D]=5TvmtfxZNnrOLT24q7sneQ%3D%3D%2CaYzeFZiDShjMt8sEIIumHA%3D%3D&transfer_group=CH-821&payment_method_types[0]=card&off_session=false&customer=cus_TxBVghbsDs8NyB&payment_method=pm_1SzH8WIBOqvOFDrfTpoC5PUt&statement_descriptor_suffix=edgara84e5c10112
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 256562a7-0308-47cb-8582-aaf7b247d082
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 256562a7-0308-47cb-8582-aaf7b247d082
      Original-Request:
      - req_xQRIJ4lhel685W
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzH8YIBOqvOFDrf0x117xiC",
          "object": "payment_intent",
          "amount": 2000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzH8YIBOqvOFDrf0x117xiC_secret_HMqRUVOupVqsjFz8uKkz5qplh",
          "confirmation_method": "automatic",
          "created": 1770730674,
          "currency": "usd",
          "customer": "cus_TxBVghbsDs8NyB",
          "customer_account": null,
          "description": "Gumroad Charge ZOZcl1lwpknBPRcA7rKnAw==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "5TvmtfxZNnrOLT24q7sneQ==,aYzeFZiDShjMt8sEIIumHA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH8WIBOqvOFDrfTpoC5PUt",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgara84e5c10112",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-821"
        }
  recorded_at: Tue, 10 Feb 2026 13:37:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SzH8YIBOqvOFDrf0x117xiC/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 84329d3d-c522-459b-b076-b7d9a4431eb4
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SzH8YIBOqvOFDrf01lEgzUU?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SzH8YIBOqvOFDrf01lEgzUU",
          "object": "charge",
          "amount": 2000,
          "amount_captured": 2000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SzH8YIBOqvOFDrf04mmIOdt",
            "object": "balance_transaction",
            "amount": 2000,
            "available_on": 1771286400,
            "balance_type": "payments",
            "created": 1770730675,
            "currency": "usd",
            "description": "Gumroad Charge ZOZcl1lwpknBPRcA7rKnAw==",
            "exchange_rate": null,
            "fee": 88,
            "fee_details": [
              {
                "amount": 88,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1912,
            "reporting_category": "charge",
            "source": "ch_3SzH8YIBOqvOFDrf01lEgzUU",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGARA84E5C101",
          "captured": true,
          "created": 1770730675,
          "currency": "usd",
          "customer": "cus_TxBVghbsDs8NyB",
          "description": "Gumroad Charge ZOZcl1lwpknBPRcA7rKnAw==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "5TvmtfxZNnrOLT24q7sneQ==,aYzeFZiDShjMt8sEIIumHA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 22,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SzH8YIBOqvOFDrf0x117xiC",
          "payment_method": "pm_1SzH8WIBOqvOFDrfTpoC5PUt",
          "payment_method_details": {
            "card": {
              "amount_authorized": 2000,
              "authorization_code": "461106",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 2000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKLTprMwGMgbHYZLn-t46LBZ9FCxKzZ95iKv0xeuAH3Up9KUPsZpDD33yKTXs9_T2JUiZWB7sfd6dKbOl",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgara84e5c10112",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-821"
        }
  recorded_at: Tue, 10 Feb 2026 13:37:56 GMT
recorded_with: VCR 6.2.0
