---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a71439c8-b077-4a85-b267-4bd0914319a2
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a71439c8-b077-4a85-b267-4bd0914319a2
      Original-Request:
      - req_VjkOGPPNM53PGC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6s8o9e1RjUNIyYWjXXxXRH",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698659534,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 09:52:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6s8o9e1RjUNIyYWjXXxXRH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgarc49f884a39.test.gumroad.com%3A31337%2Fl%2Fq&metadata[purchase]=XVo7MdZ6iKIIr-WxnHrEug%3D%3D&transfer_group=48&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0O6s8o9e1RjUNIyYWjXXxXRH&statement_descriptor_suffix=edgarc49f884a39
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8a58ddf4-f0bc-41db-9fcd-aa90e1e31aa6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8a58ddf4-f0bc-41db-9fcd-aa90e1e31aa6
      Original-Request:
      - req_MeZFH1epUlLHBa
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6s8p9e1RjUNIyY1iFH4QYq",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6s8p9e1RjUNIyY1iFH4QYq_secret_8Axrl2gCEfndEHJqdl0xSPVie",
          "confirmation_method": "manual",
          "created": 1698659535,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarc49f884a39.test.gumroad.com:31337/l/q",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6s8p9e1RjUNIyY1po5kUYv",
          "livemode": false,
          "metadata": {
            "purchase": "XVo7MdZ6iKIIr-WxnHrEug=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6s8o9e1RjUNIyYWjXXxXRH",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarc49f884a39",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "48"
        }
  recorded_at: Mon, 30 Oct 2023 09:52:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6s8p9e1RjUNIyY1po5kUYv?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6s8p9e1RjUNIyY1po5kUYv",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6s8p9e1RjUNIyY1u7GqzmF",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1698796800,
            "created": 1698659535,
            "currency": "usd",
            "description": "You bought http://edgarc49f884a39.test.gumroad.com:31337/l/q",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2O6s8p9e1RjUNIyY1po5kUYv",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARC49F88",
          "captured": true,
          "created": 1698659535,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarc49f884a39.test.gumroad.com:31337/l/q",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "XVo7MdZ6iKIIr-WxnHrEug=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 18,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6s8p9e1RjUNIyY1iFH4QYq",
          "payment_method": "pm_0O6s8o9e1RjUNIyYWjXXxXRH",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo0Pn9qQYyBsDv2KXiwTosFnfaE5xaRVkJyrjfDH5GLA19mEavLfMd4PYL5ufCpXO6O4UMG7tNnjnHQDA",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarc49f884a39",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "48"
        }
  recorded_at: Mon, 30 Oct 2023 09:52:16 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6s8r9e1RjUNIyYFSbALon6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6s8s9e1RjUNIyY1Ap347Bs?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=CA&default_currency=cad&metadata[user_id]=7231643323450&metadata[tos_agreement_id]=NBKNZwwDs8H_JBX8R4qB3w%3D%3D&metadata[user_compliance_info_id]=NBKNZwwDs8H_JBX8R4qB3w%3D%3D&tos_acceptance[date]=1698659540&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[url][...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1O6s8uS0vZxva0js/persons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O6s8uS0vZxva0js
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "person_1O6s8vS0vZxva0jsrW9qCo6D",
              "object": "person",
              "account": "acct_1O6s8uS0vZxva0js",
              "additional_tos_acceptances": {
                "account": {
                  "date": null,
                  "ip": null,
                  "user_agent": null
                }
              },
              "address": {
                "city": "San Francisco",
                "country": "CA",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "M4C 1T2",
                "state": "BC"
              },
              "created": 1698659541,
              "dob": {
                "day": 1,
                "month": 1,
                "year": 1901
              },
              "email": "edgar21b9c4dd_124@gumroad.com",
              "first_name": "Chuck",
              "future_requirements": {
                "alternatives": [],
                "currently_due": [],
                "errors": [],
                "eventually_due": [],
                "past_due": [],
                "pending_verification": []
              },
              "id_number_provided": true,
              "last_name": "Bartowski",
              "metadata": {},
              "phone": "+10000000000",
              "relationship": {
                "director": false,
                "executive": false,
                "legal_guardian": false,
                "owner": false,
                "percent_ownership": null,
                "representative": true,
                "title": null
              },
              "requirements": {
                "alternatives": [],
                "currently_due": [],
                "errors": [],
                "eventually_due": [],
                "past_due": [],
                "pending_verification": []
              },
              "ssn_last_4_provided": true,
              "verification": {
                "additional_document": {
                  "back": null,
                  "details": null,
                  "details_code": null,
                  "front": null
                },
                "details": null,
                "details_code": null,
                "document": {
                  "back": null,
                  "details": null,
                  "details_code": null,
                  "front": null
                },
                "status": "pending"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/accounts/acct_1O6s8uS0vZxva0js/persons"
        }
  recorded_at: Mon, 30 Oct 2023 09:52:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1O6s8uS0vZxva0js/persons/person_1O6s8vS0vZxva0jsrW9qCo6D
    body:
      encoding: UTF-8
      string: verification[document][front]=file_identity_document_success
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 416abf9b-6bec-4d6f-99a2-a7acb1b05bc7
      Stripe-Version:
      - '2023-10-16'
  response:
    stat[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1O6s8uS0vZxva0js
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O6s8uS0vZxva0js
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1O6s8uS0vZxva0js",
          "object": "account",
          "business_profile": {
            "mcc": "5192",
            "name": null,
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "active",
            "transfers": "active"
          },
          "charges_enabled": true,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "CA",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "M4C 1T2",
              "state": "BC"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "CA",
          "created": 1698659542,
          "default_currency": "cad",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1O6s8uS0vZxva0js/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1O6s8vS0vZxva0jsrW9qCo6D",
            "object": "person",
            "account": "acct_1O6s8uS0vZxva0js",
            "address": {
              "city": "San Francisco",
              "country": "CA",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "M4C 1T2",
              "state": "BC"
            },
            "created": 1698659541,
            "dob": {
              "day": 1,
              "month": 1,
      [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6s919e1RjUNIyYmLZzqaZG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6s939e1RjUNIyY0ecAxWhW?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2O6s939e1RjUNIyY0iHPLRBp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2O6s939e1RjUNIyY0iHPLRBp",
          "object": "transfer",
          "amount": 61,
          "amount_reversed": 0,
          "balance_transaction": "txn_2O6s939e1RjUNIyY0ZfQzbeI",
          "created": 1698659549,
          "currency": "usd",
          "description": null,
          "destination": "acct_1O6s8uS0vZxva0js",
          "destination_payment": "py_1O6s93S0vZxva0jsoiymlhul",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_2O6s939e1RjUNIyY0iHPLRBp/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_2O6s939e1RjUNIyY0ecAxWhW",
          "source_type": "card",
          "transfer_group": "50"
        }
  recorded_at: Mon, 30 Oct 2023 09:52:31 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1O6s93S0vZxva0jsoiymlhul?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1O6s8uS0vZxva0js
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O6s8uS0vZxva0js
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1O6s93S0vZxva0jsoiymlhul",
          "object": "charge",
          "amount": 61,
          "amount_captured": 61,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1O6s94S0vZxva0jsNocI2eNI",
            "object": "balance_transaction",
            "amount": 83,
            "available_on": 1699228800,
            "created": 1698659549,
            "currency": "cad",
            "description": null,
            "exchange_rate": 1.35883,
            "fee": 0,
            "fee_details": [],
            "net": 83,
           [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6s939e1RjUNIyY0ecAxWhW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2O6s939e1RjUNIyY0ecAxWhW&amount=20
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f7fda055-6619-4602-b54a-89e5e1ad9094
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f7fda055-6619-4602-b54a-89e5e1ad9094
      Original-Request:
      - req_NhuOukMQ7IfKcR
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2O6s939e1RjUNIyY0sP5v16F",
          "object": "refund",
          "amount": 20,
          "balance_transaction": "txn_2O6s939e1RjUNIyY0BcIIOO1",
          "charge": "ch_2O6s939e1RjUNIyY0ecAxWhW",
          "created": 1698659553,
          "currency": "usd",
          "metadata": {},
          "payment_intent": "pi_2O6s939e1RjUNIyY076hy98m",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Mon, 30 Oct 2023 09:52:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2O6s939e1RjUNIyY0sP5v16F?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6s939e1RjUNIyY0ecAxWhW?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1O6s93S0vZxva0jsoiymlhul?expand%5B%5D=application_fee.refunds&expand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1O6s8uS0vZxva0js
  response:
    status:
      code: 200
    [...]
