---
http_interactions:
- request:
    method: post
    uri: https://api-3t.sandbox.paypal.com/2.0/
    body:
      encoding: US-ASCII
      string: <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns="urn:ebay:api:PayPalAPI" xmlns:ebl="urn:ebay:apis:eBLBaseComponents"
        xmlns:cc="urn:ebay:apis:CoreComponentTypes" xmlns:ed="urn:ebay:apis:EnhancedDataTypes"><soapenv:Header><ns:RequesterCredentials><ebl:Credentials><ebl:Username><PAYPAL_USERNAME></ebl:Username><ebl:Password><PAYPAL_PASSWORD></ebl:Password><ebl:Signature><PAYPAL_SIGNATURE></ebl:Signature></ebl:Credentials></ns:RequesterCredentials></soapenv:Header><soapenv:Body><ns:RefundTransactionReq><ns:RefundTransactionRequest><ebl:Version>117.0</ebl:Version><ns:TransactionID>dummy_charge_id</ns:TransactionID><ns:RefundType>Full</ns:RefundType></ns:RefundTransactionRequest></ns:RefundTransactionReq></soapenv:Body></soapenv:Envelope>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Paypal-Debug-Id:
      - a568d75aee3c7
      X-Paypal-Api-Rc:
      - '10011'
      X-Paypal-Operation-Name:
      - RefundTransaction
      X-Slr-Retry-Api:
      - RefundTransaction
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:cc="urn:ebay:apis:CoreComponentTypes" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
        xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
        xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/12/secext" xmlns:ed="urn:ebay:apis:EnhancedDataTypes"
        xmlns:ebl="urn:ebay:apis:eBLBaseComponents" xmlns:ns="urn:ebay:api:PayPalAPI"><SOAP-ENV:Header><Security
        xmlns="http://schemas.xmlsoap.org/ws/2002/12/secext" xsi:type="wsse:SecurityType"></Security><RequesterCredentials
        xmlns="urn:ebay:api:PayPalAPI" xsi:type="ebl:CustomSecurityHeaderType"><Credentials
        xmlns="urn:ebay:apis:eBLBaseComponents" xsi:type="ebl:UserIdPasswordType"><Username
        xsi:type="xs:string"></Username><Password xsi:type="xs:string"></Password><Signature
        xsi:type="xs:string"></Signature><Subject xsi:type="xs:string"></Subject></Credentials></RequesterCredentials></SOAP-ENV:Header><SOAP-ENV:Body
        id="_0"><RefundTransactionResponse xmlns="urn:ebay:api:PayPalAPI"><Timestamp
        xmlns="urn:ebay:apis:eBLBaseComponents">2020-06-17T19:29:40Z</Timestamp><Ack
        xmlns="urn:ebay:apis:eBLBaseComponents">Failure</Ack><CorrelationID xmlns="urn:ebay:apis:eBLBaseComponents">a568d75aee3c7</CorrelationID><Errors
        xmlns="urn:ebay:apis:eBLBaseComponents" xsi:type="ebl:ErrorType"><ShortMessage
        xsi:type="xs:string">Invalid transaction id value</ShortMessage><LongMessage
        xsi:type="xs:string">Transaction refused because of an invalid transaction
        id value</LongMessage><ErrorCode xsi:type="xs:token">10011</ErrorCode><SeverityCode
        xmlns="urn:ebay:apis:eBLBaseComponents">Error</SeverityCode></Errors><Version
        xmlns="urn:ebay:apis:eBLBaseComponents">117.0</Version><Build xmlns="urn:ebay:apis:eBLBaseComponents">54634679</Build><RefundTransactionID></RefundTransactionID></RefundTransactionResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Wed, 17 Jun 2020 19:29:41 GMT
recorded_with: VCR 3.0.3
