---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/oembed/?format=json&maxwidth=670&scheme=https&url=https://www.youtube.com/watch?v=apiu3pTIwuY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"title":"The Daily Dweebs - 8K UHD Stereoscopic 3D","author_name":"Blender
        Studio","author_url":"https://www.youtube.com/c/BlenderAnimationStudio","type":"video","height":200,"width":356,"version":"1.0","provider_name":"YouTube","provider_url":"https://www.youtube.com/","thumbnail_height":360,"thumbnail_width":480,"thumbnail_url":"https://i.ytimg.com/vi/apiu3pTIwuY/hqdefault.jpg","html":"\u003ciframe
        width=\u0022356\u0022 height=\u0022200\u0022 src=\u0022https://www.youtube.com/embed/apiu3pTIwuY?feature=oembed\u0022
        frameborder=\u00220\u0022 allow=\u0022accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture\u0022 allowfullscreen\u003e\u003c/iframe\u003e"}'
  recorded_at: Tue, 25 May 2021 21:17:36 GMT
recorded_with: VCR 6.0.0
