---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5045f3d0-812c-48e6-81a1-1c2fb78f1a6b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5045f3d0-812c-48e6-81a1-1c2fb78f1a6b
      Original-Request:
      - req_sUDL3VR3TRooqa
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzH74IBOqvOFDrfK1hvDwCp",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730582,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:36:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH74IBOqvOFDrfK1hvDwCp
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 50aacbd3-fc5a-4777-94c4-2eda4aefa763
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 50aacbd3-fc5a-4777-94c4-2eda4aefa763
      Original-Request:
      - req_2sDUVbtaLqBqJ0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TxBUXJ07DalU9O",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1770730582,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "H5EXRQHH",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 10 Feb 2026 13:36:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH74IBOqvOFDrfK1hvDwCp&customer=cus_TxBUXJ07DalU9O&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7895eba5-b70a-4fbf-8c77-6b642c786c43
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7895eba5-b70a-4fbf-8c77-6b642c786c43
      Original-Request:
      - req_JvMr0Wb84mYfhC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1SzH75IBOqvOFDrfDTrg8pkj",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_1SzH75IBOqvOFDrfDTrg8pkj_secret_TxBUSN5cQ9xdOgiFbfbXWJT6Ld3KN2o",
          "created": 1770730583,
          "customer": "cus_TxBUXJ07DalU9O",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_1SzH75IBOqvOFDrf8GhCUNcx",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH74IBOqvOFDrfK1hvDwCp",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 10 Feb 2026 13:36:24 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzH74IBOqvOFDrfK1hvDwCp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1700&currency=usd&description=Gumroad+Charge+9nzQRQp_NJzpOqV_WJBpRQ%3D%3D&metadata[purchases%7B0%7D]=VnFT8otlW-uzgkgYPUFBhg%3D%3D%2Cczsz0DLCjX_jeO4-bz4Gnw%3D%3D&transfer_group=CH-800&payment_method_types[0]=card&off_session=false&customer=cus_TxBUXJ07DalU9O&payment_method=pm_1SzH74IBOqvOFDrfK1hvDwCp&statement_descriptor_suffix=edgarb2d6f41365
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 244dbeca-c1a9-4a14-89cf-05a4ab8d9848
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 244dbeca-c1a9-4a14-89cf-05a4ab8d9848
      Original-Request:
      - req_HZXDIoMpSC55qJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzH77IBOqvOFDrf1TjBEhMN",
          "object": "payment_intent",
          "amount": 1700,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzH77IBOqvOFDrf1TjBEhMN_secret_WMsH8roIQzv55SIIPvW11jD0b",
          "confirmation_method": "automatic",
          "created": 1770730585,
          "currency": "usd",
          "customer": "cus_TxBUXJ07DalU9O",
          "customer_account": null,
          "description": "Gumroad Charge 9nzQRQp_NJzpOqV_WJBpRQ==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "VnFT8otlW-uzgkgYPUFBhg==,czsz0DLCjX_jeO4-bz4Gnw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH74IBOqvOFDrfK1hvDwCp",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarb2d6f41365",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-800"
        }
  recorded_at: Tue, 10 Feb 2026 13:36:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SzH77IBOqvOFDrf1TjBEhMN/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ef3f3ebf-5824-4748-94ac-851ceb726fe2
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SzH77IBOqvOFDrf1zvg6Bld?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SzH77IBOqvOFDrf1zvg6Bld",
          "object": "charge",
          "amount": 1700,
          "amount_captured": 1700,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SzH77IBOqvOFDrf1RUokpXb",
            "object": "balance_transaction",
            "amount": 1700,
            "available_on": 1771286400,
            "balance_type": "payments",
            "created": 1770730585,
            "currency": "usd",
            "description": "Gumroad Charge 9nzQRQp_NJzpOqV_WJBpRQ==",
            "exchange_rate": null,
            "fee": 79,
            "fee_details": [
              {
                "amount": 79,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1621,
            "reporting_category": "charge",
            "source": "ch_3SzH77IBOqvOFDrf1zvg6Bld",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGARB2D6F4136",
          "captured": true,
          "created": 1770730585,
          "currency": "usd",
          "customer": "cus_TxBUXJ07DalU9O",
          "description": "Gumroad Charge 9nzQRQp_NJzpOqV_WJBpRQ==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "VnFT8otlW-uzgkgYPUFBhg==,czsz0DLCjX_jeO4-bz4Gnw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 14,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SzH77IBOqvOFDrf1TjBEhMN",
          "payment_method": "pm_1SzH74IBOqvOFDrfK1hvDwCp",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1700,
              "authorization_code": "917823",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 1700,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKNrorMwGMgY34iS9bH06LBYCZoWCDKjyBpRS80XNEjkzoCNXuxuU-HQp34JLuHUp4DAXra6DTdlnuvwz",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarb2d6f41365",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-800"
        }
  recorded_at: Tue, 10 Feb 2026 13:36:26 GMT
recorded_with: VCR 6.2.0
