---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8e5fa7df-9443-4d12-9656-afe9bfe11e81
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8e5fa7df-9443-4d12-9656-afe9bfe11e81
      Original-Request:
      - req_q4tnJN1vaxoGkR
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSf1a9e1RjUNIyYG3QDHfeQ",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703852330,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:18:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSf1a9e1RjUNIyYG3QDHfeQ
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bd3e8000-c60a-4e31-84d5-2e1e09db3c2b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bd3e8000-c60a-4e31-84d5-2e1e09db3c2b
      Original-Request:
      - req_GXad267fsLY554
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDSOA1eELAwBG",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703852330,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "4E373799",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:18:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSf1a9e1RjUNIyYG3QDHfeQ&customer=cus_PHDSOA1eELAwBG&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3cdf81ee-7868-472b-bdf6-500b84aefea2
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3cdf81ee-7868-472b-bdf6-500b84aefea2
      Original-Request:
      - req_PwEetPe43ekEHh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OSf1b9e1RjUNIyYMUH3DtGs",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OSf1b9e1RjUNIyYMUH3DtGs_secret_PHDShTmQSb2Hq55yszCmLYdPSWBJfiL",
          "created": 1703852331,
          "customer": "cus_PHDSOA1eELAwBG",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0OSf1b9e1RjUNIyYMXH4BqFv",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSf1a9e1RjUNIyYG3QDHfeQ",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Fri, 29 Dec 2023 12:18:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSf1a9e1RjUNIyYG3QDHfeQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1700&currency=usd&description=Gumroad+Charge+L87x1x0a6u11J1wNRJ5oTg%3D%3D&metadata[VBElIwSe6w_q8HQl3Wjfmw%3D%3D]=%7B%3Aprice_cents%3D%3E500%2C+%3Afee_cents%3D%3E75%2C+%3Aaffiliate_credit_cents%3D%3E0%2C+%3Agumroad_tax_cents%3D%3E0%2C+%3Atotal_transaction_cents%3D%3E500%7D&metadata[hi6paBy6lD9TgH9k_ZJyEQ%3D%3D]=%7B%3Aprice_cents%3D%3E1200%2C+%3Afee_cents%3D%3E138%2C+[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSf1d9e1RjUNIyY1gRYtSbr/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6981e294-8398-42d6-92d6-b1d814449aae
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6981e294-8398-42d6-92d6-b1d814449aae
      Original-Request:
      - req_1zTkDNKDPLsy6A
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSf1d9e1RjUNIyY1gRYtSbr",
          "object": "payment_intent",
          "amount": 1700,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1700,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSf1d9e1RjUNIyY1gRYtSbr_secret_G4rgXbGr8ZMTD5726UwzbN9bR",
          "confirmation_method": "automatic",
          "created": 1703852333,
          "currency": "usd",
          "customer": "cus_PHDSOA1eELAwBG",
          "description": "Gumroad Charge L87x1x0a6u11J1wNRJ5oTg==",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OSf1d9e1RjUNIyY1fWeJmn8",
          "livemode": false,
          "metadata": {
            "VBElIwSe6w_q8HQl3Wjfmw==": "{:price_cents=>500, :fee_cents=>75, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>500}",
            "hi6paBy6lD9TgH9k_ZJyEQ==": "{:price_cents=>1200, :fee_cents=>138, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>1200}"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSf1a9e1RjUNIyYG3QDHfeQ",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar685db8c066",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-45"
        }
  recorded_at: Fri, 29 Dec 2023 12:18:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSf1d9e1RjUNIyY1fWeJmn8?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OSf1d9e1RjUNIyY1fWeJmn8",
          "object": "charge",
          "amount": 1700,
          "amount_captured": 1700,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OSf1d9e1RjUNIyY13ElO842",
            "object": "balance_transaction",
            "amount": 1700,
            "available_on": 1704240000,
            "created": 1703852334,
            "currency": "usd",
            "description": "Gumroad Charge L87x1x0a6u11J1wNRJ5oTg==",
            "exchange_rate": null,
            "fee": 64,
            "fee_details": [
              {
                "amount": 64,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1636,
            "reporting_category": "charge",
            "source": "ch_2OSf1d9e1RjUNIyY1fWeJmn8",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR685DB8",
          "captured": true,
          "created": 1703852334,
          "currency": "usd",
          "customer": "cus_PHDSOA1eELAwBG",
          "description": "Gumroad Charge L87x1x0a6u11J1wNRJ5oTg==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "VBElIwSe6w_q8HQl3Wjfmw==": "{:price_cents=>500, :fee_cents=>75, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>500}",
            "hi6paBy6lD9TgH9k_ZJyEQ==": "{:price_cents=>1200, :fee_cents=>138, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>1200}"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 38,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OSf1d9e1RjUNIyY1gRYtSbr",
          "payment_method": "pm_0OSf1a9e1RjUNIyYG3QDHfeQ",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1700,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1700,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUor_K6rAYyBkm7H26rMDosFgeQ48ka8GktcBYkSuYg8slvWimnkGKdaeTghCM7G8QsRJy8QI2gGBy_EkA",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar685db8c066",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-45"
        }
  recorded_at: Fri, 29 Dec 2023 12:18:55 GMT
recorded_with: VCR 6.2.0
