---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_threeDSecure2Required
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0b9dad0f-8e12-40c0-9c87-6b0f6a9c1dc3
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0b9dad0f-8e12-40c0-9c87-6b0f6a9c1dc3
      Original-Request:
      - req_28LViZ2cUWuO88
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzH5uIBOqvOFDrfkYcwGnnq",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "IE",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "T8fOJvtEUmrVM6Qh",
            "funding": "credit",
            "generated_from": null,
            "last4": "3220",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730510,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:35:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzH5uIBOqvOFDrfkYcwGnnq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_1SzH5uIBOqvOFDrfkYcwGnnq
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 20cbd20a-5052-4144-a16a-ee1ee490ebd8
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 20cbd20a-5052-4144-a16a-ee1ee490ebd8
      Original-Request:
      - req_mSr2osHlLZ3Cz6
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TxBSmNt8HXdJ7D",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1770730511,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "4KAPOYP3",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 10 Feb 2026 13:35:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=Gumroad+Charge+bbasmxyiGvDzy-LIYbZwZQ%3D%3D&metadata[purchases%7B0%7D]=UKWTgfBfjBEPnlvK9TWPfA%3D%3D&transfer_group=CH-780&payment_method_types[0]=card&off_session=false&setup_future_usage=off_session&customer=cus_TxBSmNt8HXdJ7D&payment_method=pm_1SzH5uIBOqvOFDrfkYcwGnnq&statement_descriptor_suffix=edgar10eea67242
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3561a525-fe5e-4b3f-bf9d-97e9bfc37faa
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3561a525-fe5e-4b3f-bf9d-97e9bfc37faa
      Original-Request:
      - req_VfnnqaRZkS4kbL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzH5wIBOqvOFDrf1fXS2nLb",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzH5wIBOqvOFDrf1fXS2nLb_secret_vIVnKE1mrZIzzQnLACSQjWaNG",
          "confirmation_method": "automatic",
          "created": 1770730512,
          "currency": "usd",
          "customer": "cus_TxBSmNt8HXdJ7D",
          "customer_account": null,
          "description": "Gumroad Charge bbasmxyiGvDzy-LIYbZwZQ==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "UKWTgfBfjBEPnlvK9TWPfA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH5uIBOqvOFDrfkYcwGnnq",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar10eea67242",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-780"
        }
  recorded_at: Tue, 10 Feb 2026 13:35:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SzH5wIBOqvOFDrf1fXS2nLb/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - acda58ba-18be-4c3f-89e1-973d88073fdb
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
