---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9898008f-248d-48a8-9aaa-60c91ecb9e8d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9898008f-248d-48a8-9aaa-60c91ecb9e8d
      Original-Request:
      - req_bYhOqsWLLTRhDb
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OToYf9e1RjUNIyYDy5aBwpt",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1704127305,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 01 Jan 2024 16:41:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OToYf9e1RjUNIyYDy5aBwpt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0OToYf9e1RjUNIyYDy5aBwpt
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f2657aaf-de6d-4276-bfa7-59be202f7358
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f2657aaf-de6d-4276-bfa7-59be202f7358
      Original-Request:
      - req_8W5Q0X6ZMN9VWs
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PIPNOpmL2F5EVD",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1704127306,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "06A9848F",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 01 Jan 2024 16:41:46 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OToYh9e1RjUNIyYnZBgsZpX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_2OToWV9e1RjUNIyY0BJU6iP9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OToWV9e1RjUNIyY0BJU6iP9",
          "object": "payment_intent",
          "amount": 600,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 600,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OToWV9e1RjUNIyY0BJU6iP9_secret_IqWhCRCUQ9JpKASDwy736Wg01",
          "confirmation_method": "automatic",
          "created": 1704127171,
          "currency": "usd",
          "customer": "cus_PIPLGhezunZeyY",
          "description": "You bought https://inc.gumroad.dev/l/pd",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OToWV9e1RjUNIyY05q34rxx",
          "livemode": false,
          "metadata": {
            "purchase": "CG93GB2kNT_WKegX31yB1w=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OToWS9e1RjUNIyYX1ywIsIy",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": {
                "amount": 600,
                "amount_type": "maximum",
                "description": null,
                "end_date": null,
                "interval": "month",
                "interval_count": 6,
                "reference": "Mandate-8e9a09d2b960e6434326789bf5ae5d0d",
                "start_date": 1704127171,
                "supported_types": [
                  "india"
                ]
              },
              "network": null,
              "request_three_d_secure": "any"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "in cr",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1306"
        }
  recorded_at: Mon, 01 Jan 2024 16:41:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OToWV9e1RjUNIyY05q34rxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OToWV9e1RjUNIyY05q34rxx",
          "object": "charge",
          "amount": 600,
          "amount_captured": 600,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_2OToWV9e1RjUNIyY09XoWQkd",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* IN CR",
          "captured": true,
          "created": 1704127233,
          "currency": "usd",
          "customer": "cus_PIPLGhezunZeyY",
          "description": "You bought https://inc.gumroad.dev/l/pd",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "CG93GB2kNT_WKegX31yB1w=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 24,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OToWV9e1RjUNIyY0BJU6iP9",
          "payment_method": "pm_0OToWS9e1RjUNIyYX1ywIsIy",
          "payment_method_details": {
            "card": {
              "amount_authorized": 600,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "IN",
              "exp_month": 12,
              "exp_year": 2032,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "23bVsZmSLioucocm",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "0263",
              "mandate": "mandate_0OToXW9e1RjUNIyYghejircq",
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 600,
                "status": "unavailable"
              },
              "three_d_secure": {
                "authentication_flow": "challenge",
                "electronic_commerce_indicator": "05",
                "exemption_indicator": null,
                "result": "authenticated",
                "result_reason": null,
                "transaction_id": "6c9785c8-7440-44ab-ae2e-d9b99aa09070",
                "version": "2.1.0"
              },
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo0dbLrAYyBvGC5btEFTosFl6n1SZ5XV_d3podmaxIeEebkanLK5LIukix5EorhGAR0CHA3ihqhTX78mY",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "in cr",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1306"
        }
  recorded_at: Mon, 01 Jan 2024 16:41:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500&currency=usd&description=You+bought+http%3A%2F%2Fedgar6791b5e13.test.gumroad.com%3A31337%2Fl%2Fn&metadata[purchase]=bfi_30HLgGWL8H2wo_Gzlg%3D%3D&transfer_group=3&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PIPLGhezunZeyY&payment_method=pm_0OToWS9e1RjUNIyYX1ywIsIy&mandate=mandate_0OToXW9e1RjUNIyYghejircq&statement_descriptor_suffix=edgar6791b5e13
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 75ff2689-86e4-4916-a56b-a45d34be0299
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 75ff2689-86e4-4916-a56b-a45d34be0299
      Original-Request:
      - req_Wm4BvxRdIEqaik
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "india_recurring_payment_mandate_canceled",
            "message": "The provided mandate has been canceled by the card holder.",
            "payment_intent": {
              "id": "pi_2OToYn9e1RjUNIyY1aDI7sOv",
              "object": "payment_intent",
              "amount": 500,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application[...]
