---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3MewQfKQKir5qdfM0ymugP3A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3MewQfKQKir5qdfM0ymugP3A",
          "object": "charge",
          "amount": 30000,
          "amount_captured": 30000,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": "fee_1MewQgKQKir5qdfM4JccaNQx",
          "application_fee_amount": 3000,
          "balance_transaction": "txn_3MewQfKQKir5qdfM0wBJu38c",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUM.CO/CC* 60704159041",
          "captured": true,
          "created": 1677226498,
          "currency": "usd",
          "customer": null,
          "description": "You bought https://607041590413.stripe-connect-save-card.apps.staging.gumroad.org/l/o",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "oy8Z4iNnA2K6GX8Pon6iAw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 5,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3MewQfKQKir5qdfM0uYT8Eaa",
          "payment_method": "pm_1MewQfKQKir5qdfMTCtTit4Z",
          "payment_method_details": {
            "card": {
              "amount_authorized": 30000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "ikzQiMcILaotxLpq",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 30000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xTWVGYm1LUUtpcjVxZGZNKIbE_6kGMgbb4fpqSCE6LBZBvT3WSnPAQmlLr3wmiOmiEp67WTFRHNa8vlIDpJSrMaxvoyV-OFX37Akc",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "607041590413",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "44"
        }
  recorded_at: Mon, 30 Oct 2023 17:04:06 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3MewQfKQKir5qdfM0ymugP3A&amount=10000&refund_application_fee=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7ef9b0ec-5d96-4fcf-92e3-51754afc15b0
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7ef9b0ec-5d96-4fcf-92e3-51754afc15b0
      Original-Request:
      - req_oq2sk3XFKr41n8
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3MewQfKQKir5qdfM0Cf1bQzL",
          "object": "refund",
          "amount": 10000,
          "balance_transaction": "txn_3MewQfKQKir5qdfM0dtHRJm1",
          "charge": "ch_3MewQfKQKir5qdfM0ymugP3A",
          "created": 1698685447,
          "currency": "usd",
          "metadata": {},
          "payment_intent": "pi_3MewQfKQKir5qdfM0uYT8Eaa",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Mon, 30 Oct 2023 17:04:09 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_3MewQfKQKir5qdfM0Cf1bQzL?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3MewQfKQKir5qdfM0Cf1bQzL",
          "object": "refund",
          "amount": 10000,
          "balance_transaction": {
            "id": "txn_3MewQfKQKir5qdfM0dtHRJm1",
            "object": "balance_transaction",
            "amount": -10000,
            "available_on": 1698685447,
            "created": 1698685447,
            "currency": "usd",
            "description": "REFUND FOR CHARGE (You bought https://607041590413.stripe-connect-save-card.apps.staging.gumroad.org/l/o)",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": -10000,
            "reporting_category": "refund",
            "source": "re_3MewQfKQKir5qdfM0Cf1bQzL",
            "status": "available",
            "type": "refund"
          },
          "charge": "ch_3MewQfKQKir5qdfM0ymugP3A",
          "created": 1698685447,
          "currency": "usd",
          "metadata": {},
          "payment_intent": "pi_3MewQfKQKir5qdfM0uYT8Eaa",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Mon, 30 Oct 2023 17:04:09 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3MewQfKQKir5qdfM0ymugP3A?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3MewQfKQKir5qdfM0ymugP3A",
          "object": "charge",
          "amount": 30000,
          "amount_captured": 30000,
          "amount_refunded": 10000,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": {
            "id": "fee_1MewQgKQKir5qdfM4JccaNQx",
            "object": "application_fee",
            "account": "acct_1MeFbmKQKir5qdfM",
            "amount": 3000,
            "amount_refunded": 1000,
            "application": "<STRIPE_CONNECT_CLIENT_ID>",
            "balance_transaction": "txn_0MewQh9e1RjUNIyY26tHYN5W",
            "charge": "ch_3MewQfKQKir5qdfM0ymugP3A",
            "created": 1677226498,
            "currency": "usd",
            "livemode": false,
            "originating_transaction": null,
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [
                {
                  "id": "fr_1O6yslKQKir5qdfM9vdhFhn6",
                  "object": "fee_refund",
                  "amount": 1000,
                  "balance_transaction": {
                    "id": "txn_0O6ysm9e1RjUNIyYbulicr99",
                    "object": "balance_transaction",
                    "amount": -1000,
                    "available_on": 1698685448,
                    "created": 1698685448,
                    "currency": "usd",
                    "description": "REFUND FOR APPLICATION FEE",
                    "exchange_rate": null,
                    "fee": 0,
                    "fee_details": [],
                    "net": -1000,
                    "reporting_category": "platform_earning_refund",
                    "source": "fee_1MewQgKQKir5qdfM4JccaNQx",
                    "status": "available",
                    "type": "application_fee_refund"
                  },
                  "created": 1698685448,
                  "currency": "usd",
                  "fee": "fee_1MewQgKQKir5qdfM4JccaNQx",
                  "metadata": {}
                }
              ],
              "has_more": false,
              "total_count": 1,
              "url": "/v1/application_fees/fee_1MewQgKQKir5qdfM4JccaNQx/refunds"
            }
          },
          "application_fee_amount": 3000,
          "balance_transaction": {
            "id": "txn_3MewQfKQKir5qdfM0wBJu38c",
            "object": "balance_transaction",
            "amount": 30000,
            "available_on": 1677801600,
            "created": 1677226498,
            "currency": "usd",
            "description": "You bought https://607041590413.stripe-connect-save-card.apps.staging.gumroad[...]
