---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b66e1ac9-ba6f-44f0-a992-5e7e745093c8
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b66e1ac9-ba6f-44f0-a992-5e7e745093c8
      Original-Request:
      - req_MBO4o7SQtt89NW
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0ORAc39e1RjUNIyYk3u1ksjS",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703497100,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 25 Dec 2023 09:38:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0ORAc39e1RjUNIyYk3u1ksjS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0ORAc39e1RjUNIyYk3u1ksjS
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 28f0a417-77be-4d1f-a268-cbd41f0044b5
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 28f0a417-77be-4d1f-a268-cbd41f0044b5
      Original-Request:
      - req_BUGU4lpAsFjQ8k
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PFfyJoIKTYQVeG",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703497100,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "AEAAF676",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 25 Dec 2023 09:38:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: customer=cus_PFfyJoIKTYQVeG&payment_method=pm_0ORAc39e1RjUNIyYk3u1ksjS
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 14679d20-a2a5-4041-afaa-9826618fde12
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 14679d20-a2a5-4041-afaa-9826618fde12
      Original-Request:
      - req_JbWwzjMGKJ9TLw
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1ORAc5COxuflorGuC[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgard90e18ac25.test.gumroad.com%3A31337%2Fl%2Fg&metadata[purchase]=7S4JkjZTyTd3FMg_kDUo_w%3D%3D&transfer_group=37&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PFfyaj6TP5YxD0&payment_method=pm_1ORAc5COxuflorGuC2Zznk5A&statement_descriptor_suffix=edgard90e18ac25&application_fee_amount=13
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b01045f6-8be1-4796-8fc2-3012b407d23a
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b01045f6-8be1-4796-8fc2-3012b407d23a
      Original-Request:
      - req_VW3rwt39Y8uE5H
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3ORAc6COxuflorGu0YPNO3Mr",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee_amount": 13,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3ORAc6COxuflorGu0YPNO3Mr_secret_UshjZC3AKaQd01cSRZaYWRMxq",
          "confirmation_method": "automatic",
          "created": 1703497102,
          "currency": "usd",
          "customer": "cus_PFfyaj6TP5YxD0",
          "description": "You bought http://edgard90e18ac25.test.gumroad.com:31337/l/g",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3ORAc6COxuflorGu03YbWfG4",
          "livemode": false,
          "metadata": {
            "purchase": "7S4JkjZTyTd3FMg_kDUo_w=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1ORAc5COxuflorGuC2Zznk5A",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgard90e18ac25",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "37"
        }
  recorded_at: Mon, 25 Dec 2023 09:38:23 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3ORAc6COxuflorGu03YbWfG4?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3ORAc6COxuflorGu03YbWfG4",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": {
            "id": "fee_1ORAc7COxuflorGubDAfXJhm",
            "object": "application_fee",
            "account": "acct_1MFA1rCOxuflorGu",
            "amount": 13,
            "amount_refunded": 0,
            "application": "<STRIPE_CONNECT_CLIENT_ID>",
            "balance_transaction": {
              "id": "txn_0ORAc89e1RjUNIyYTlvXXLQh",
              "object": "balance_transaction",
              "amount": 13,
              "available_on": 1704067200,
              "created": 1703497103,
              "currency": "usd",
              "description": "Application fee from application Gumroad for acct_1MFA1rCOxuflorGu (acct_1MFA1rCOxuflorGu)",
              "exchange_rate": 1.29726,
              "fee": 0,
              "fee_details": [],
              "net": 13,
              "reporting_category": "platform_earning",
              "source": "fee_1ORAc7COxuflorGubDAfXJhm",
              "status": "pending",
              "type": "application_fee"
            },
            "charge": "ch_3ORAc6COxuflorGu03YbWfG4",
            "created": 1703497103,
            "currency": "usd",
            "livemode": false,
            "originating_transaction": null,
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/application_fees/fee_1ORAc7COxuflorGubDAfXJhm/refunds"
            }
          },
          "application_fee_amount": 13,
          "balance_transaction": {
            "id": "txn_3ORAc6COxuflorGu0V2rffQL",
            "object": "balance_transaction",
            "amount": 130,
            "available_on": 1704067200,
            "created": 1703497103,
            "currency": "sgd",
            "description": "You bought http://edgard90e18ac25.test.gumroad.com:31337/l/g",
            "excha[...]
