---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/2763276372637263
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such charge: '2763276372637263'",
            "param": "id",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_4IrUWuxjhKYSK7?t=1715828747",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 16 May 2024 03:05:47 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/2763276372637263
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such charge: '2763276372637263'",
            "param": "id",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_WaPy8ioQeXUcwJ?t=1715828747",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 16 May 2024 03:05:47 GMT
recorded_with: VCR 6.2.0
