---
http_interactions:
  - request:
      method: post
      uri: https://elastictranscoder.us-east-1.amazonaws.com/2012-09-25/jobs
      body:
        encoding: UTF-8
        string: '{"PipelineId":"1390090734092-rg9pq5","Input":{"Key":"specs/ScreenRecording.mov","FrameRate":"auto","Resolution":"auto","AspectRatio":"auto","Interlaced":"auto","Container":"auto"},"Outputs":[{"Key":"hls_480p_","ThumbnailPattern":"","Rotate":"auto","PresetId":"1591945700851-ma7v1l","SegmentDuration":"10"}],"OutputKeyPrefix":"specs/ScreenRecording/hls/","Playlists":[{"Name":"index","Format":"HLSv3","OutputKeys":["hls_480p_"]}]}'
      headers:
        Content-Type:
          - ""
        X-Amz-Content-Sha256:
          - e35cd50cc2b95f75c11eedfb58f46f0b093e532d7aaba5a9d2e6b40c65c7f938
        X-Amz-Date:
          - 20210415T143517Z
        Authorization:
          - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20210415/us-east-1/elastictranscoder/aws4_request,
            SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=8abe698821188d575c92049a9a308393981176d55383da0653b4b56303f9a75c
    response:
      status:
        code: 201
        message: ""
      headers:
        X-Amzn-Requestid:
          - 9d2e9d12-b735-4972-9cb5-a4eb4742eaf1
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: '{"Job":{"Arn":"arn:aws:elastictranscoder:us-east-1:<AWS_ACCOUNT_ID>:job/1618497318141-gnmnhf","Id":"1618497318141-gnmnhf","Input":{"AspectRatio":"auto","Container":"auto","DetectedProperties":null,"Encryption":null,"FrameRate":"auto","InputCaptions":null,"Interlaced":"auto","Key":"specs/ScreenRecording.mov","Resolution":"auto","TimeSpan":null},"Inputs":[{"AspectRatio":"auto","Container":"auto","DetectedProperties":null,"Encryption":null,"FrameRate":"auto","InputCaptions":null,"Interlaced":"auto","Key":"specs/ScreenRecording.mov","Resolution":"auto","TimeSpan":null}],"Output":{"AlbumArt":null,"AppliedColorSpaceConversion":null,"Captions":null,"Composition":null,"Duration":null,"DurationMillis":null,"Encryption":null,"FileSize":null,"FrameRate":null,"Height":null,"Id":"1","Key":"hls_480p_","PresetId":"1591945700851-ma7v1l","Rotate":"auto","SegmentDuration":"10.0","Status":"Submitted","StatusDetail":null,"ThumbnailEncryption":null,"ThumbnailPattern":"","Watermarks":[],"Width":null},"OutputKeyPrefix":"specs/ScreenRecording/hls/","Outputs":[{"AlbumArt":null,"AppliedColorSpaceConversion":null,"Captions":null,"Composition":null,"Duration":null,"DurationMillis":null,"Encryption":null,"FileSize":null,"FrameRate":null,"Height":null,"Id":"1","Key":"hls_480p_","PresetId":"1591945700851-ma7v1l","Rotate":"auto","SegmentDuration":"10.0","Status":"Submitted","StatusDetail":null,"ThumbnailEncryption":null,"ThumbnailPattern":"","Watermarks":[],"Width":null}],"PipelineId":"1390090734092-rg9pq5","Playlists":[{"Format":"HLSv3","HlsContentProtection":null,"Name":"index","OutputKeys":["hls_480p_"],"PlayReadyDrm":null,"Status":"Submitted","StatusDetail":null}],"Status":"Submitted","Timing":{"FinishTimeMillis":null,"StartTimeMillis":null,"SubmitTimeMillis":1618497318158},"UserMetadata":null}}'
    recorded_at: Thu, 15 Apr 2021 14:35:18 GMT
recorded_with: VCR 6.0.0
