---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ac5c11be-0f12-4c85-ac47-d4b667877b6f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ac5c11be-0f12-4c85-ac47-d4b667877b6f
      Original-Request:
      - req_roiXRtp7CcylxT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6x9z9e1RjUNIyY8XRlTZm0",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698678828,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 15:13:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6x9z9e1RjUNIyY8XRlTZm0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O6x9z9e1RjUNIyY8XRlTZm0
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ac2611ac-222b-4123-b890-2b7612edcc91
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ac2611ac-222b-4123-b890-2b7612edcc91
      Original-Request:
      - req_Gqqbgv8RgFEgia
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OumjfFIkPfUwhn",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698678828,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "50F02497",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 15:13:49 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xA29e1RjUNIyYhybUcWaM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=3500&currency=usd&description=You+bought+http%3A%2F%2Fedgar89291995189.test.gumroad.com%3A31337%2Fl%2Fo&metadata[purchase]=t7PU1XUKESuw0oRrlj1vNA%3D%3D&transfer_group=114&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OumjC6Xyu3bHsF&payment_method=pm_0O6xA29e1RjUNIyYhybUcWaM&statement_descriptor_suffix=edgar89291995189
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5b103fc6-770f-45e5-a832-a1758541f820
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5b103fc6-770f-45e5-a832-a1758541f820
      Original-Request:
      - req_ndcL0fAn5dul3s
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6xA49e1RjUNIyY1O1AjX4L",
          "object": "payment_intent",
          "amount": 3500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 3500,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6xA49e1RjUNIyY1O1AjX4L_secret_zuNV1EtkDE5XJRqWN6PMBTAk0",
          "confirmation_method": "manual",
          "created": 1698678832,
          "currency": "usd",
          "customer": "cus_OumjC6Xyu3bHsF",
          "description": "You bought http://edgar89291995189.test.gumroad.com:31337/l/o",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6xA49e1RjUNIyY1j16GMG1",
          "livemode": false,
          "metadata": {
            "purchase": "t7PU1XUKESuw0oRrlj1vNA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6xA29e1RjUNIyYhybUcWaM",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar89291995189",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "114"
        }
  recorded_at: Mon, 30 Oct 2023 15:13:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6xA49e1RjUNIyY1j16GMG1?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6xA49e1RjUNIyY1j16GMG1",
          "object": "charge",
          "amount": 3500,
          "amount_captured": 3500,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6xA49e1RjUNIyY1dZ9zGeE",
            "object": "balance_transaction",
            "amount": 3500,
            "available_on": 1698796800,
            "created": 1698678832,
            "currency": "usd",
            "description": "You bought http://edgar89291995189.test.gumroad.com:31337/l/o",
            "exchange_rate": null,
            "fee": 100,
            "fee_details": [
              {
                "amount": 100,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 3400,
            "reporting_category": "charge",
            "source": "ch_2O6xA49e1RjUNIyY1j16GMG1",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR892919",
          "captured": true,
          "created": 1698678832,
          "currency": "usd",
          "customer": "cus_OumjC6Xyu3bHsF",
          "description": "You bought http://edgar89291995189.test.gumroad.com:31337/l/o",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "t7PU1XUKESuw0oRrlj1vNA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 30,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6xA49e1RjUNIyY1O1AjX4L",
          "payment_method": "pm_0O6xA29e1RjUNIyYhybUcWaM",
          "payment_method_details": {
            "card": {
              "amount_authorized": 3500,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 3500,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUosZD_qQYyBuuHPzGrjjosFktq_6tSs3VOCxzsNFOSXGWOaDFMOg0stBx7VFZWG_7NEinqvnGoPNZpy1w",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar89291995189",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "114"
        }
  recorded_at: Mon, 30 Oct 2023 15:13:54 GMT
recorded_with: VCR 6.2.0
