---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 104bc86b-42d7-4dea-8315-560759b6f9aa
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 104bc86b-42d7-4dea-8315-560759b6f9aa
      Original-Request:
      - req_EFPhSiwTS3snmw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6xA69e1RjUNIyYVQT0S4FE",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698678834,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 15:13:55 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xA69e1RjUNIyYVQT0S4FE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O6xA69e1RjUNIyYVQT0S4FE
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ac914e8b-3e2e-47e5-a5fa-1bb070bfc318
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ac914e8b-3e2e-47e5-a5fa-1bb070bfc318
      Original-Request:
      - req_hJ3tQqrM7z5QBj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Oumjp6lz4J2EQC",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698678835,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "54C403EC",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 15:13:56 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xA89e1RjUNIyY4LoyOHcj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=3500&currency=usd&description=You+bought+http%3A%2F%2Fedgara8a49580193.test.gumroad.com%3A31337%2Fl%2Fn&metadata[purchase]=3gJjLfwK0DEaa3dn9StIpA%3D%3D&transfer_group=117&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OumjOxsmgeb4ti&payment_method=pm_0O6xA89e1RjUNIyY4LoyOHcj&statement_descriptor_suffix=edgara8a49580193
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c49e8a6e-1860-4757-8ac3-f1d8fc853abc
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c49e8a6e-1860-4757-8ac3-f1d8fc853abc
      Original-Request:
      - req_gDw3icBylpNhqk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6xAA9e1RjUNIyY0u0cxoO0",
          "object": "payment_intent",
          "amount": 3500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 3500,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6xAA9e1RjUNIyY0u0cxoO0_secret_e6IfE874f0kTZU6CSTFx3W5hc",
          "confirmation_method": "manual",
          "created": 1698678838,
          "currency": "usd",
          "customer": "cus_OumjOxsmgeb4ti",
          "description": "You bought http://edgara8a49580193.test.gumroad.com:31337/l/n",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6xAA9e1RjUNIyY0oGvqkXi",
          "livemode": false,
          "metadata": {
            "purchase": "3gJjLfwK0DEaa3dn9StIpA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6xA89e1RjUNIyY4LoyOHcj",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgara8a49580193",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "117"
        }
  recorded_at: Mon, 30 Oct 2023 15:13:59 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6xAA9e1RjUNIyY0oGvqkXi?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6xAA9e1RjUNIyY0oGvqkXi",
          "object": "charge",
          "amount": 3500,
          "amount_captured": 3500,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6xAA9e1RjUNIyY0nBlOsyi",
            "object": "balance_transaction",
            "amount": 3500,
            "available_on": 1698796800,
            "created": 1698678839,
            "currency": "usd",
            "description": "You bought http://edgara8a49580193.test.gumroad.com:31337/l/n",
            "exchange_rate": null,
            "fee": 100,
            "fee_details": [
              {
                "amount": 100,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 3400,
            "reporting_category": "charge",
            "source": "ch_2O6xAA9e1RjUNIyY0oGvqkXi",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARA8A495",
          "captured": true,
          "created": 1698678839,
          "currency": "usd",
          "customer": "cus_OumjOxsmgeb4ti",
          "description": "You bought http://edgara8a49580193.test.gumroad.com:31337/l/n",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "3gJjLfwK0DEaa3dn9StIpA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 0,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6xAA9e1RjUNIyY0u0cxoO0",
          "payment_method": "pm_0O6xA89e1RjUNIyY4LoyOHcj",
          "payment_method_details": {
            "card": {
              "amount_authorized": 3500,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 3500,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUouJD_qQYyBhFokbp3vzosFlJsp-X3yhaLNniF2n83Fl75CP4pO4qVjTI1CDf6bWHW_kxKHF-DyuK5aY8",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgara8a49580193",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "117"
        }
  recorded_at: Mon, 30 Oct 2023 15:14:00 GMT
recorded_with: VCR 6.2.0
