---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 763d8f49-d5db-4903-825e-49314761aa01
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 763d8f49-d5db-4903-825e-49314761aa01
      Original-Request:
      - req_gS3jLSvU4VrtUF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O1Vyg9e1RjUNIyYTjrAnysp",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1697382698,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 15 Oct 2023 15:11:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O1Vyg9e1RjUNIyYTjrAnysp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O1Vyg9e1RjUNIyYTjrAnysp
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8aaf21de-a048-42cd-91df-f6cff2dd15b9
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8aaf21de-a048-42cd-91df-f6cff2dd15b9
      Original-Request:
      - req_AZOy4LV4TgQi8b
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OpAJyJoPHITlNG",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1697382698,
          "currency": null,
          "default_currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "5A05502C",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 15 Oct 2023 15:11:39 GMT
recorded_with: VCR 6.2.0
