---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0002&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - cfc9ddb9-b823-4edd-986c-3a10c040ca4b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cfc9ddb9-b823-4edd-986c-3a10c040ca4b
      Original-Request:
      - req_l1e8mlufjqs3Nb
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6tQV9e1RjUNIyYr6EB5TRZ",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "oiLxi0ZM3Ud9pQDh",
            "funding": "credit",
            "generated_from": null,
            "last4": "0002",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698664475,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 11:14:35 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6tQV9e1RjUNIyYr6EB5TRZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&description=You+bought+http%3A%2F%2Fedgar740186a6259.test.gumroad.com%3A31337%2Fl%2Fd&metadata[purchase]=wH0NZpkWLPwE9BQSZFez-Q%3D%3D&transfer_group=203&payment_method_types[0]=card&confirmation_method=manual&confirm=true&payment_method=pm_0O6tQV9e1RjUNIyYr6EB5TRZ&statement_descriptor_suffix=edgar740186a6259
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 06b5236a-5f00-4983-a75b-91a9ea7777fb
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 06b5236a-5f00-4983-a75b-91a9ea7777fb
      Original-Request:
      - req_nAvgcTaFIigllm
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_2O6tQW9e1RjUNIyY1BHPA7li",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "payment_intent": {
              "id": "pi_2O6tQW9e1RjUNIyY166eQtji",
              "object": "payment_intent",
              "amount": 3000,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic",
              "client_secret": "pi_2O6tQW9e1RjUNIyY166eQtji_secret_bNbeJVb7bhQ6nu1uymSx53NG4",
              "confirmation_method": "manual",
              "created": 1698664476,
              "currency": "usd",
              "customer": null,
              "description": "You bought http://edgar740186a6259.test.gumroad.com:31337/l/d",
              "invoice": null,
              "last_payment_error": {
                "charge": "ch_2O6tQW9e1RjUNIyY1BHPA7li",
                "code": "card_declined",
                "decline_code": "generic_decline",
                "doc_url": "https://stripe.com/docs/error-codes/card-declined",
                "message": "Your card was declined.",
                "payment_method": {
                  "id": "pm_0O6tQV9e1RjUNIyYr6EB5TRZ",
                  "object": "payment_method",
                  "billing_details": {
                    "address": {
                      "city": null,
                      "country": null,
                      "line1": null,
                      "line2": null,
                      "postal_code": null,
                      "state": null
                    },
                    "email": null,
                    "name": null,
    [...]
