---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=6313311221866&metadata[tos_agreement_id]=wIfssDxlK0ZKxrUDzkea2g%3D%3D&metadata[user_compliance_info_id]=hdpKl5ZZ4XTQ1_y-Zx58rw%3D%3D&metadata[bank_account_id]=c0mu12TrePKmRiWVmk_ZDA%3D%3D&tos_acceptance[date]=1761606895&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[name]=Chuck+Bartowski&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=edgar464b97f4_3%40gumroad.com&individual[phone]=0000000000&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=California&individual[address][postal_code]=94107&individual[address][country]=US&individual[id_number]=000000000&bank_account[country]=US&bank_account[currency]=usd&bank_account[account_number]=000<STRONGBOX_GENERAL_PASSWORD>56789&bank_account[routing_number]=110000000&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b1e2dbf7-42e9-4b19-aa5d-8168fdb813d0
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b1e2dbf7-42e9-4b19-aa5d-8168fdb813d0
      Original-Request:
      - req_yLpW4n0FvWBAIf
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1SMzcrS7avV5bfJi",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "minority_owned_business_designation": null,
            "name": "Chuck Bartowski",
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "pending"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "US",
          "created": 1761606898,
          "default_currency": "usd",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1SMzcrS7avV5bfJiv79Y5neX",
                "object": "bank_account",
                "account": "acct_1SMzcrS7avV5bfJi",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard",
                  "instant"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "dx7dqwoGHEQDKLLK",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1SMzcrS7avV5bfJi/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1SMzcrS7avV5bfJiNkSDNJ6h",
            "object": "person",
            "account": "acct_1SMzcrS7avV5bfJi",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "created": 1761606898,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "edgar464b97f4_3@gumroad.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "authorizer": false,
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "pending"
            }
          },
          "metadata": {
            "bank_account_id": "c0mu12TrePKmRiWVmk_ZDA==",
            "tos_agreement_id": "wIfssDxlK0ZKxrUDzkea2g==",
            "user_compliance_info_id": "hdpKl5ZZ4XTQ1_y-Zx58rw==",
            "user_id": "6313311221866"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": "requirements.pending_verification",
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "risk_controls": {
            "charges": {
              "pause_requested": false
            },
            "payouts": {
              "pause_requested": false
            }
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "capital": {},
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "CHUCK BART",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Chuck Bartowski",
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null,
              "hosted_payment_method_save": "offer"
            },
            "payments": {
              "statement_descriptor": "CHUCK BARTOWSKI",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 1,
                "interval": "manual"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {},
            "tax_forms": {
              "consented_to_paperless_delivery": false
            }
          },
          "tos_acceptance": {
            "date": 1761606895,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Mon, 27 Oct 2025 23:15:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1SMzcrS7avV5bfJi/persons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1SMzcrS7avV5bfJi
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "person_1SMzcrS7avV5bfJiNkSDNJ6h",
              "object": "person",
              "account": "acct_1SMzcrS7avV5bfJi",
              "additional_tos_acceptances": {
                "account": {
                  "date": null,
                  "ip": null,
                  "user_agent": null
                }
              },
              "address": {
                "city": "San Francisco",
                "country": "US",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "94107",
                "state": "California"
              },
              "created": 1761606898,
              "dob": {
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1SMzcrS7avV5bfJi/persons/person_1SMzcrS7avV5bfJiNkSDNJ6h
    body:
      encoding: UTF-8
      string: verification[document][front]=file_identity_document_success
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d653ca98-6bab-401a-8f3c-8e13be1e9d38
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1SMzcrS7avV5bfJi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1SMzc[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: destination=acct_1SMzcrS7avV5bfJi&currency=usd&description=Funds+held+by+Gumroad+for+Payment+CYDNCKJ_OXyLVjsrfrxrVg%3D%3D.&amount=2000&metadata[payment]=CYDNCKJ_OXyLVjsrfrxrVg%3D%3D&metadata[balances%7B0%7D]=JpO-qmIRaZq_wy5FMYd-5w%3D%3D&expand[0]=balance_transaction
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4890f599-3de5-4453-9efa-859e311c2859
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4890f599-3de5-4453-9efa-859e311c2859
      Original-Request:
      - req_aP0JiLwkRfJw6M
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_0SMzii9e1RjUNIyYjPJd9S3h",
          "object": "transfer",
          "amount": 2000,
          "amount_reversed": 0,
          "balance_transaction": {
            "id": "txn_0SMzii9e1RjUNIyYaBp5ufsu",
            "object": "balance_transaction",
            "amount": -2000,
            "available_on": 1761607260,
            "balance_type": "payments",
            "created": 1761607260,
            "currency": "usd",
            "description": "Funds held by Gumroad for Payment CYDNCKJ_OXyLVjsrfrxrVg==.",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": -2000,
            "reporting_category": "transfer",
            "source": "tr_0SMzii9e1RjUNIyYjPJd9S3h",
            "status": "available",
            "type": "transfer"
          },
          "created": 1761607260,
          "currency": "usd",
          "description": "Funds held by Gumroad for Payment CYDNCKJ_OXyLVjsrfrxrVg==.",
          "destination": "acct_1SMzcrS7avV5bfJi",
          "destination_payment": "py_1SMziiS7avV5bfJi168hdUSs",
          "livemode": false,
          "metadata": {
            "balances{0}": "JpO-qmIRaZq_wy5FMYd-5w==",
            "payment": "CYDNCKJ_OXyLVjsrfrxrVg=="
          },
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_0SMzii9e1RjUNIyYjPJd9S3h/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Mon, 27 Oct 2025 23:21:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1SMziiS7avV5bfJi168hdUSs?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1SMzcrS7avV5bfJi
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1SMzcrS7avV5bfJi
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1SMziiS7avV5bfJi168hdUSs",
          "object": "charge",
          "amount": 2000,
          "amount_captured": 2000,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1SMziiS7avV5bfJiBuHjoX7v",
            "object": "balance_transaction",
            "amount": 2000,
            "available_on": 1761607260,
            "balance_type": "payments",
            "created": 1761607260,
            "currency": "usd",
            "description": null,
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 2000,
            "reporting_category": "charge",
            "source": "py_1SMziiS7avV5bfJi168hdUSs",
            "status": "available",
            "type": "payment"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": null,
          "captured": true,
          "created": 1761607260,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": null,
          "paid": true,
          "payment_intent": null,
          "payment_method": null,
          "payment_method_details": {
            "stripe_account": {},
            "type": "stripe_account"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU016Y3JTN2F2VjViZkppKN38_8cGMgauDaSv1gs6LBYLF9x3QdGErN4hbLLoJWTlETDjdI8lA1FJ-TSPEXxw6q7n8wVJTqAzkl4r",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": {
            "id": "<STRIPE_PLATFORM_ACCOUNT_ID>",
            "object": "account",
            "application_icon": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV96QURJZllYTVhmQTEwQWswUmg3MlRpOGI00M3h6olFO",
            "application_logo": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV9WNnByazhHekswejFlUGh3a1M0dnRxZko00eY1DsvrA",
            "application_name": "Gumroad",
            "application_url": "https://gumroad.com"
          },
          "source_transfer": "tr_0SMzii9e1RjUNIyYjPJd9S3h",
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 27 Oct 2025 23:21:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payouts
    body:
      encoding: UTF-8
      string: amount=2000&currency=usd&destination=ba_1SMzcrS7avV5bfJiv79Y5neX&statement_descriptor=Gumroad&description=CYDNCKJ_OXyLVjsrfrxrVg%3D%3D&metadata[payment]=CYDNCKJ_OXyLVjsrfrxrVg%3D%3D&metadata[bank_account]=c0mu12TrePKmRiWVmk_ZDA%3D%3D&metadata[balances%7B0%7D]=JpO-qmIRaZq_wy5FMYd-5w%3D%3D&method=standard
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f47f9e3e-a0f3-44f4-8ef1-f1f6084550a3
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1SMzcrS7avV5bfJi
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f47f9e3e-a0f3-44f4-8ef1-f1f6084550a3
      Original-Request:
      - req_L2xgj9gCwSo2w1
      Stripe-Account:
      - acct_1SMzcrS7avV5bfJi
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "po_1SMzikS7avV5bfJidu8ESytR",
          "object": "payout",
          "amount": 2000,
          "application_fee": null,
          "application_fee_amount": null,
          "arrival_date": 1761609600,
          "automatic": false,
          "balance_transaction": "txn_1SMzikS7avV5bfJipTryN506",
          "created": 1761607261,
          "currency": "usd",
          "description": "CYDNCKJ_OXyLVjsrfrxrVg==",
          "destination": "ba_1SMzcrS7avV5bfJiv79Y5neX",
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {
            "balances{0}": "JpO-qmIRaZq_wy5FMYd-5w==",
            "bank_account": "c0mu12TrePKmRiWVmk_ZDA==",
            "payment": "CYDNCKJ_OXyLVjsrfrxrVg=="
          },
          "method": "standard",
          "original_payout": null,
          "payout_method": null,
          "reconciliation_status": "not_applicable",
          "reversed_by": null,
          "source_type": "card",
          "statement_descriptor": "Gumroad",
          "status": "pending",
          "trace_id": {
            "status": "pending",
            "value": null
          },
          "type": "bank_account"
        }
  recorded_at: Mon, 27 Oct 2025 23:21:02 GMT
recorded_with: VCR 6.2.0
