---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0101&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fe724410-4988-4f24-ac3a-345f7c80a7db
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fe724410-4988-4f24-ac3a-345f7c80a7db
      Original-Request:
      - req_xAXkq9meBk8Ns1
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6yZ39e1RjUNIyYDBMqOKvi",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "ozNUiPGS1W6xWvQ1",
            "funding": "credit",
            "generated_from": null,
            "last4": "0101",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698684225,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 16:43:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=test+description&metadata[purchase]=reference&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0O6yZ39e1RjUNIyYDBMqOKvi
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b7b24529-ed54-4e94-be5b-9c2409ae49e5
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b7b24529-ed54-4e94-be5b-9c2409ae49e5
      Original-Request:
      - req_xPbFpDEy3LIUwu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_2O6yZ39e1RjUNIyY1zbTIuJf",
            "code": "incorrect_cvc",
            "doc_url": "https://stripe.com/docs/error-codes/incorrect-cvc",
            "message": "Your card's security code is incorrect.",
            "param": "cvc",
            "payment_intent": {
              "id": "pi_2O6yZ39e1RjUNIyY1J2gkZXC",
              "object": "payment_intent",
              "amount": 100,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic",
              "client_secret": "pi_2O6yZ39e1RjUNIyY1J2gkZXC_secret_mRWI07FP6EUJfWBARwBq1NCtP",
              "confirmation_method": "manual",
              "created": 1698684225,
              "currency": "usd",
              "customer": null,
              "description": "test description",
              "invoice": null,
              "last_payment_error": {
                "charge": "ch_2O6yZ39e1RjUNIyY1zbTIuJf",
                "code": "incorrect_cvc",
                "doc_url": "https://stripe.com/docs/error-codes/incorrect-cvc",
                "message": "Your card's security code is incorrect.",
                "param": "cvc",
                "payment_method": {
                  "id": "pm_0O6yZ39e1RjUNIyYDBMqOKvi",
                  "object": "payment_method",
                  "billing_details": {
                    "address": {
                      "city": null,
                      "country": null,
                      "line1": null,
                      "line2": null,
                      "postal_code": null,
                      "state": null
                    },
                    "email": null,
                    "name": null,
    [...]
