---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3552d05b-d492-42dc-98a8-048c4b577893
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3552d05b-d492-42dc-98a8-048c4b577893
      Original-Request:
      - req_LGcWJ7F7ZW7pKE
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfG29e1RjUNIyY8STFOvnC",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703853226,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:33:46 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfG29e1RjUNIyY8STFOvnC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=35&email=edgard603c539_69%40gumroad.com&payment_method=pm_0OSfG29e1RjUNIyY8STFOvnC
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8b92cb54-403e-4b19-b983-64f05e6a3349
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8b92cb54-403e-4b19-b983-64f05e6a3349
      Original-Request:
      - req_QqYlrCDokmpbWU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDhuhXz2KS8mE",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703853227,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "35",
          "discount": null,
          "email": "edgard603c539_69@gumroad.com",
          "invoice_prefix": "3B118583",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:33:47 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_PHDhuhXz2KS8mE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDhuhXz2KS8mE",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703853227,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "35",
          "discount": null,
          "email": "edgard603c539_69@gumroad.com",
          "invoice_prefix": "3B118583",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:33:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_PHDhuhXz2KS8mE&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "pm_0OSfG29e1RjUNIyY8STFOvnC",
              "object": "payment_method",
              "billing_details": {
                "address": {
                  "city": null,
                  "country": null,
                  "line1": null,
                  "line2": null,
                  "postal_code": null,
                  "state": null
                },
                "email": null,
                "name": null,
                "phone": null
            [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: customer=cus_PHDhuhXz2KS8mE&payment_method=pm_0OSfG29e1RjUNIyY8STFOvnC
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - db622f85-033e-4200-9642-c74afece01b0
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - db622f85-033e-4200-9642-c74afece01b0
      Original-Request:
      - req_qX4SkUonY55HZh
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1OSfG5COxuflorGue[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=test+description&metadata[purchase]=reference&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_1OSfG5COxuflorGuegCG3G95&application_fee_amount=24
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5d7f2a72-fa4d-4ec2-8c27-64dc0621aae6
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5d7f2a72-fa4d-4ec2-8c27-64dc0621aae6
      Original-Request:
      - req_1qZK42VIWLvvBU
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3OSfG5COxuflorGu0ShuEAN1",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee_amount": 24,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3OSfG5COxuflorGu0ShuEAN1_secret_Hhb3U64vkipt6ZZXpd61iHgX7",
          "confirmation_method": "automatic",
          "created": 1703853229,
          "currency": "usd",
          "customer": null,
          "description": "test description",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3OSfG5COxuflorGu0TG8T5ax",
          "livemode": false,
          "metadata": {
            "purchase": "reference"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1OSfG5COxuflorGuegCG3G95",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Fri, 29 Dec 2023 12:33:50 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3OSfG5COxuflorGu0TG8T5ax?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3OSfG5COxuflorGu0TG8T5ax",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": {
            "id": "fee_1OSfG6COxuflorGuNeTjJuiq",
            "object": "application_fee",
            "account": "acct_1MFA1rCOxuflorGu",
            "amount": 24,
            "amount_refunded": 0,
            "application": "<STRIPE_CONNECT_CLIENT_ID>",
            "balance_transaction": {
              "id": "txn_0OSfG79e1RjUNIyYaqVgb2qi",
              "object": "balance_transaction",
              "amount": 24,
              "available_on": 1704412800,
              "created": 1703853230,
              "currency": "usd",
              "description": "Application fee from application Gumroad for acct_1MFA1rCOxuflorGu (acct_1MFA1rCOxuflorGu)",
              "exchange_rate": 1.29278,
              "fee": 0,
              "fee_details": [],
              "net": 24,
              "reporting_category": "platform_earning",
              "source": "fee_1OSfG6COxuflorGuNeTjJuiq",
              "status": "pending",
              "type": "application_fee"
            },
            "charge": "ch_3OSfG5COxuflorGu0TG8T5ax",
            "created": 1703853230,
            "currency": "usd",
            "livemode": false,
            "originating_transaction": null,
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/application_fees/fee_1OSfG6COxuflorGuNeTjJuiq/refunds"
            }
          },
          "application_fee_amount": 24,
          "balance_transaction": {
            "id": "txn_3OSfG5COxuflorGu08Y3Bxer",
            "object": "balance_transaction",
            "amount": 129,
            "available_on": 1704412800,
            "created": 1703853229,
            "currency": "sgd",
            "description": "test description",
            "exchange_rate": 1.29278,
            "fee": 86,
 [...]
