---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a1fece9e-54f3-449d-9075-0fc552f59584
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a1fece9e-54f3-449d-9075-0fc552f59584
      Original-Request:
      - req_gFNs18v7rboyut
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfFz9e1RjUNIyYGnfhCdVf",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703853223,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:33:43 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfFz9e1RjUNIyYGnfhCdVf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=33&email=edgarb119f2c8_65%40gumroad.com&payment_method=pm_0OSfFz9e1RjUNIyYGnfhCdVf
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 28ecb62e-3c63-4429-b470-0741f0c8c124
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 28ecb62e-3c63-4429-b470-0741f0c8c124
      Original-Request:
      - req_Bp4MGR7Km09Dmo
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDheXqX1Be2mB",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703853224,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "33",
          "discount": null,
          "email": "edgarb119f2c8_65@gumroad.com",
          "invoice_prefix": "CC1E4EA8",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:33:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_PHDheXqX1Be2mB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDheXqX1Be2mB",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703853224,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "33",
          "discount": null,
          "email": "edgarb119f2c8_65@gumroad.com",
          "invoice_prefix": "CC1E4EA8",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:33:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_PHDheXqX1Be2mB&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "pm_0OSfFz9e1RjUNIyYGnfhCdVf",
              "object": "payment_method",
              "billing_details": {
                "address": {
                  "city": null,
                  "country": null,
                  "line1": null,
                  "line2": null,
                  "postal_code": null,
                  "state": null
                },
                "email": null,
                "name": null,
                "phone": null
            [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: customer=cus_PHDheXqX1Be2mB&payment_method=pm_0OSfFz9e1RjUNIyYGnfhCdVf
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 47111a72-31a6-434a-991e-66a6824b238e
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 47111a72-31a6-434a-991e-66a6824b238e
      Original-Request:
      - req_knt1LLfed6tQ0l
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1OSfG2COxuflorGuk[...]
