---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0002&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 74e0bce1-c588-4537-968c-edb06592ed2b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 74e0bce1-c588-4537-968c-edb06592ed2b
      Original-Request:
      - req_mGq41Jao7A8dpf
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfVh9e1RjUNIyYYqVmfwQG",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "oiLxi0ZM3Ud9pQDh",
            "funding": "credit",
            "generated_from": null,
            "last4": "0002",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703854197,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:49:57 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfVh9e1RjUNIyYYqVmfwQG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500&currency=usd&description=You+bought+http%3A%2F%2Fedgarfb4e2a2b290.test.gumroad.com%3A31337%2Fl%2Fx&metadata[purchase]=MYKHO-REiRld_XCuF8swqg%3D%3D&transfer_group=345&payment_method_types[0]=card&payment_method=pm_0OSfVh9e1RjUNIyYYqVmfwQG&statement_descriptor_suffix=edgarfb4e2a2b290
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1dc2c8c0-9f26-48f4-a56c-a2099140f755
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1dc2c8c0-9f26-48f4-a56c-a2099140f755
      Original-Request:
      - req_rzvZzxDxo9Mjv3
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSfVi9e1RjUNIyY0XMkXqlo",
          "object": "payment_intent",
          "amount": 500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSfVi9e1RjUNIyY0XMkXqlo_secret_5TjPvu3s7usofnXA53PKS1Qdi",
          "confirmation_method": "automatic",
          "created": 1703854198,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarfb4e2a2b290.test.gumroad.com:31337/l/x",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchase": "MYKHO-REiRld_XCuF8swqg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfVh9e1RjUNIyYYqVmfwQG",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarfb4e2a2b290",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "345"
        }
  recorded_at: Fri, 29 Dec 2023 12:49:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSfVi9e1RjUNIyY0XMkXqlo/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e9a7226f-d2d9-4d24-a5fa-76d492872cbb
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e9a7226f-d2d9-4d24-a5fa-76d492872cbb
      Original-Request:
      - req_QXhoxJIKrZiH8V
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_2OSfVi9e1RjUNIyY0nOPA84z",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "payment_intent": {
              "id": "pi_2OSfVi9e1RjUNIyY0XMkXqlo",
              "object": "payment_intent",
              "amount": 500,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=You+bought+http%3A%2F%2Fedgar8da33f0f291.test.gumroad.com%3A31337%2Fl%2Fa&metadata[purchase]=Mxo9rEVm4dmhUpFsq-5ghA%3D%3D&transfer_group=346&payment_method_types[0]=card&payment_method=pm_0OSfVh9e1RjUNIyYYqVmfwQG&statement_descriptor_suffix=edgar8da33f0f291
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 06210141-5bd8-4c7f-ac40-bfd25d14a3c5
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 06210141-5bd8-4c7f-ac40-bfd25d14a3c5
      Original-Request:
      - req_zxLQ2XFzR9pJuZ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "The provided PaymentMethod was previously used with a PaymentIntent without Customer attachment, shared with a connected account without Customer attachment, or was detached from a Customer. It may not be used again. To use a PaymentMethod multiple times, you must attach it to a Customer first.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_zxLQ2XFzR9pJuZ?t=1703854200",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Fri, 29 Dec 2023 12:50:00 GMT
recorded_with: VCR 6.2.0
