---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8da41b3f-e4dd-4173-afc2-200b1190085b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8da41b3f-e4dd-4173-afc2-200b1190085b
      Original-Request:
      - req_xLr8pm2hCWwGbK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzH3vIBOqvOFDrfC0dEIUL7",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730387,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:33:07 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzH3vIBOqvOFDrfC0dEIUL7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500&currency=usd&description=Gumroad+Charge+oq5OZZXSppItuELZvZDF4Q%3D%3D&metadata[purchases%7B0%7D]=srRzwj5veU1HT2h1hRDWcA%3D%3D&transfer_group=CH-746&payment_method_types[0]=card&off_session=false&payment_method=pm_1SzH3vIBOqvOFDrfC0dEIUL7&statement_descriptor_suffix=edgar75a34e351
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c7746950-625e-4c61-8d05-3ded93503355
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c7746950-625e-4c61-8d05-3ded93503355
      Original-Request:
      - req_iEWE1enHqkabiK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzH3wIBOqvOFDrf0JLXAf8D",
          "object": "payment_intent",
          "amount": 500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzH3wIBOqvOFDrf0JLXAf8D_secret_GZxmxlhvfmJCfKHBxQ0sChle8",
          "confirmation_method": "automatic",
          "created": 1770730388,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "Gumroad Charge oq5OZZXSppItuELZvZDF4Q==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "srRzwj5veU1HT2h1hRDWcA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH3vIBOqvOFDrfC0dEIUL7",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar75a34e351",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-746"
        }
  recorded_at: Tue, 10 Feb 2026 13:33:08 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SzH3wIBOqvOFDrf0JLXAf8D/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d4700223-ddc7-45e2-a956-9f6509d2335b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SzH3wIBOqvOFDrf0maWC6Yq?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SzH3wIBOqvOFDrf0maWC6Yq",
          "object": "charge",
          "amount": 500,
          "amount_captured": 500,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SzH3wIBOqvOFDrf0Riv1Ojt",
            "object": "balance_transaction",
            "amount": 500,
            "available_on": 1771286400,
            "balance_type": "payments",
            "created": 1770730389,
            "currency": "usd",
            "description": "Gumroad Charge oq5OZZXSppItuELZvZDF4Q==",
            "exchange_rate": null,
            "fee": 45,
            "fee_details": [
              {
                "amount": 45,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 455,
            "reporting_category": "charge",
            "source": "ch_3SzH3wIBOqvOFDrf0maWC6Yq",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR75A34E351",
          "captured": true,
          "created": 1770730389,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge oq5OZZXSppItuELZvZDF4Q==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "srRzwj5veU1HT2h1hRDWcA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 14,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SzH3wIBOqvOFDrf0JLXAf8D",
          "payment_method": "pm_1SzH3vIBOqvOFDrfC0dEIUL7",
          "payment_method_details": {
            "card": {
              "amount_authorized": 500,
              "authorization_code": "963065",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 500,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKJbnrMwGMgajnS1Hvy86LBaVyqnEvTssKCufLaJCzyEm0zx_-U1iL_71OCebV7cDIvRhe17YyeJcGKTV",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar75a34e351",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-746"
        }
  recorded_at: Tue, 10 Feb 2026 13:33:10 GMT
recorded_with: VCR 6.2.0
