---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fa113bd4-3a9d-4a9a-895f-47723aed268c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fa113bd4-3a9d-4a9a-895f-47723aed268c
      Original-Request:
      - req_jsMOSmEXuWxJZP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6so59e1RjUNIyYSQHf3zj8",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698662094,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sat, 28 Oct 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6so59e1RjUNIyYSQHf3zj8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&description=You+bought+http%3A%2F%2Fedgar2cca4dee7.test.gumroad.com%3A31337%2Fl%2Fm&metadata[purchase]=2WgvpOIHRqiJULYaxPCBSg%3D%3D&transfer_group=29&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0O6so59e1RjUNIyYSQHf3zj8&statement_descriptor_suffix=edgar2cca4dee7
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 16db98b7-8557-4dd2-84e5-00ff0fa6a24b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 16db98b7-8557-4dd2-84e5-00ff0fa6a24b
      Original-Request:
      - req_9BGPEJSBnS3mkm
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6so79e1RjUNIyY0doBIHYs",
          "object": "payment_intent",
          "amount": 3000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 3000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6so79e1RjUNIyY0doBIHYs_secret_ttICKItgGEAWfuLp27jZZARqi",
          "confirmation_method": "manual",
          "created": 1698662095,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar2cca4dee7.test.gumroad.com:31337/l/m",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6so79e1RjUNIyY08GxzGzM",
          "livemode": false,
          "metadata": {
            "purchase": "2WgvpOIHRqiJULYaxPCBSg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6so59e1RjUNIyYSQHf3zj8",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar2cca4dee7",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "29"
        }
  recorded_at: Sat, 28 Oct 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6so79e1RjUNIyY08GxzGzM?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6so79e1RjUNIyY08GxzGzM",
          "object": "charge",
          "amount": 3000,
          "amount_captured": 3000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6so79e1RjUNIyY0gIC4jca",
            "object": "balance_transaction",
            "amount": 3000,
            "available_on": 1698796800,
            "created": 1698662095,
            "currency": "usd",
            "description": "You bought http://edgar2cca4dee7.test.gumroad.com:31337/l/m",
            "exchange_rate": null,
            "fee": 90,
            "fee_details": [
              {
                "amount": 90,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 2910,
            "reporting_category": "charge",
            "source": "ch_2O6so79e1RjUNIyY08GxzGzM",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR2CCA4D",
          "captured": true,
          "created": 1698662095,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar2cca4dee7.test.gumroad.com:31337/l/m",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "2WgvpOIHRqiJULYaxPCBSg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 16,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6so79e1RjUNIyY0doBIHYs",
          "payment_method": "pm_0O6so59e1RjUNIyYSQHf3zj8",
          "payment_method_details": {
            "card": {
              "amount_authorized": 3000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 3000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo0I3-qQYyBignd-SIETosFn2001gWoCNaErRMzNh8BZLyZVEPeiL8ubSMMdinjQQC5YyGkovKpEFTgcM",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar2cca4dee7",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "29"
        }
  recorded_at: Sat, 28 Oct 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6so79e1RjUNIyY08GxzGzM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2O6so79e1RjUNIyY08GxzGzM&amount=1000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c8abc8de-40f9-4994-8fae-7f4e12d6fe12
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c8abc8de-40f9-4994-8fae-7f4e12d6fe12
      Original-Request:
      - req_JXrl3CJHGyb9Ko
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2O6so79e1RjUNIyY0loDwmf0",
          "object": "refund",
          "amount": 1000,
          "balance_transaction": "txn_2O6so79e1RjUNIyY0klwPSzu",
          "charge": "ch_2O6so79e1RjUNIyY08GxzGzM",
          "created": 1698662098,
          "currency": "usd",
          "metadata": {},
          "payment_intent": "pi_2O6so79e1RjUNIyY0doBIHYs",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Sat, 28 Oct 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2O6so79e1RjUNIyY0loDwmf0?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6so79e1RjUNIyY08GxzGzM?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2O6so79e1RjUNIyY01LelmFH?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
[...]
