---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6ee310a7-cf09-41c3-a6c9-fb512f984214
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6ee310a7-cf09-41c3-a6c9-fb512f984214
      Original-Request:
      - req_SccG0p8RRNe28Q
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OR00r9e1RjUNIyYVhwQbJi8",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703456353,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 24 Dec 2023 22:19:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OR00r9e1RjUNIyYVhwQbJi8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=183&email=edgar985aed7b_368%40gumroad.com&payment_method=pm_0OR00r9e1RjUNIyYVhwQbJi8
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f2bb1d1c-2bf3-428e-8348-579d7bdf8bcd
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f2bb1d1c-2bf3-428e-8348-579d7bdf8bcd
      Original-Request:
      - req_uYuDDkIvNrbAp9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PFV01lAMa0A4iu",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703456354,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "183",
          "discount": null,
          "email": "edgar985aed7b_368@gumroad.com",
          "invoice_prefix": "03581BFB",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 24 Dec 2023 22:19:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=599&currency=usd&description=You+bought+http%3A%2F%2Fedgarc253ab25184.test.gumroad.com%3A31337%2Fl%2Fl&metadata[purchase]=puXYpSaDNZGPPfAVTqRBVA%3D%3D&transfer_group=164&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PFV01lAMa0A4iu&payment_method=pm_0OR00r9e1RjUNIyYVhwQbJi8&statement_descriptor_suffix=edgarc253ab25184
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 486c6ba9-837b-4e17-9510-9e4357817410
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 486c6ba9-837b-4e17-9510-9e4357817410
      Original-Request:
      - req_krQlj5MQ8I4d8o
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OR00u9e1RjUNIyY0xUEuuV2",
          "object": "payment_intent",
          "amount": 599,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 599,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OR00u9e1RjUNIyY0xUEuuV2_secret_vvgzkmdqKGzfWUdmU15oOpjBt",
          "confirmation_method": "automatic",
          "created": 1703456356,
          "currency": "usd",
          "customer": "cus_PFV01lAMa0A4iu",
          "description": "You bought http://edgarc253ab25184.test.gumroad.com:31337/l/l",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OR00u9e1RjUNIyY0rhqrQ50",
          "livemode": false,
          "metadata": {
            "purchase": "puXYpSaDNZGPPfAVTqRBVA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OR00r9e1RjUNIyYVhwQbJi8",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarc253ab25184",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "164"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OR00u9e1RjUNIyY0rhqrQ50?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OR00u9e1RjUNIyY0rhqrQ50",
          "object": "charge",
          "amount": 599,
          "amount_captured": 599,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OR00u9e1RjUNIyY0hrp07Ea",
            "object": "balance_transaction",
            "amount": 599,
            "available_on": 1703635200,
            "created": 1703456356,
            "currency": "usd",
            "description": "You bought http://edgarc253ab25184.test.gumroad.com:31337/l/l",
            "exchange_rate": null,
            "fee": 35,
            "fee_details": [
              {
                "amount": 35,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 564,
            "reporting_category": "charge",
            "source": "ch_2OR00u9e1RjUNIyY0rhqrQ50",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARC253AB",
          "captured": true,
          "created": 1703456356,
          "currency": "usd",
          "customer": "cus_PFV01lAMa0A4iu",
          "description": "You bought http://edgarc253ab25184.test.gumroad.com:31337/l/l",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "puXYpSaDNZGPPfAVTqRBVA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 54,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OR00u9e1RjUNIyY0xUEuuV2",
          "payment_method": "pm_0OR00r9e1RjUNIyYVhwQbJi8",
          "payment_method_details": {
            "card": {
              "amount_authorized": 599,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 599,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo5dyirAYyBmkq4661kjosFksejcYnZYIOAT1ZzBiZ-5eanSuFdeS04djCk_mkOT9AhEVQIKGhb9JAKRA",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarc253ab25184",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "164"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
recorded_with: VCR 6.2.0
