---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"WA","to_zip":"98121","shipping":0.0,"line_items":[{"quantity":1,"unit_price":100.0,"discount":0,"product_tax_code":"31000"}],"nexus_addresses":[{"country":"US","state":"WA"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - bba6f55c-63aa-40aa-ad21-c738d44935f8
      X-Amz-Apigw-Id:
      - RF5onHZXoAMEY3g=
    body:
      encoding: UTF-8
      string: '{"tax":{"freight_taxable":true,"tax_source":"destination","rate":0.1035,"jurisdictions":{"state":"WA","city":"SEATTLE","country":"US","county":"KING"},"shipping":0.0,"taxable_amount":100.0,"has_nexus":true,"order_total_amount":100.0,"breakdown":{"line_items":[{"id":"1","tax_collectable":10.35,"taxable_amount":100.0,"combined_tax_rate":0.1035,"state_taxable_amount":100.0,"county_taxable_amount":100.0,"city_taxable_amount":100.0,"special_district_taxable_amount":100.0,"city_tax_rate":0.0115,"county_tax_rate":0.004,"special_tax_rate":0.023,"special_district_amount":2.3,"city_amount":1.15,"county_amount":0.4,"state_amount":6.5,"state_sales_tax_rate":0.065}],"shipping":{"tax_collectable":0.0,"taxable_amount":0.0,"combined_tax_rate":0.1035,"state_taxable_amount":0.0,"county_taxable_amount":0.0,"city_taxable_amount":0.0,"city_tax_rate":0.0115,"county_tax_rate":0.004,"special_tax_rate":0.023,"special_district_amount":0.0,"special_taxable_amount":0.0,"city_amount":0.0,"county_amount":0.0,"state_amount":0.0,"state_sales_tax_rate":0.065},"tax_collectable":10.35,"taxable_amount":100.0,"combined_tax_rate":0.1035,"state_taxable_amount":100.0,"state_tax_collectable":6.5,"county_taxable_amount":100.0,"county_tax_collectable":0.4,"city_taxable_amount":100.0,"city_tax_collectable":1.15,"special_district_taxable_amount":100.0,"special_district_tax_collectable":2.3,"city_tax_rate":0.0115,"county_tax_rate":0.004,"special_tax_rate":0.023,"state_tax_rate":0.065},"amount_to_collect":10.35}}'
  recorded_at: Thu, 18 Sep 2025 09:51:50 GMT
recorded_with: VCR 6.2.0
