---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/checkout/orders
    body:
      encoding: UTF-8
      string: '{"intent":"CAPTURE","purchase_units":[{"reference_id":"P5ppE6H8XIjy2JSCgUhbAw==","amount":{"currency_code":"usd","value":"1.0","breakdown":{"shipping":{"currency_code":"USD","value":"0.0"},"tax_total":{"currency_code":"USD","value":"0.0"},"item_total":{"currency_code":"USD","value":"1.0"}}},"payee":{"merchant_id":"MN7CSWD6RCNJ8"},"items":[{"name":"Conversation
        Casanova Mastery: 48 Conversation Tactics, Techniques and Mindsets to Start
        Conversations, Flirt like a Master and","unit_amount":{"currency_code":"USD","value":"1.0"},"quantity":1,"sku":"cc"}],"soft_descriptor":"Gumroad","payment_instruction":{"platform_fees":[{"amount":{"currency_code":"USD","value":"0.3"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>"}}]}}]}'
    headers:
      Authorization:
      - Bearer A21AAJ8ZuWAicvxc4m42ewOeup4rWt82bMaSINuAQdFgQTAdKeNmDa5at6XxUhbVnnLGbAYxMX_ZWIQZPcYZMDbmmscb60srw
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
      Paypal-Request-Id:
      - create-order-P5ppE6H8XIjy2JSCgUhbAw==
      Prefer:
      - return=representation
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.7.2
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 00ffb0d474ba0
    body:
      encoding: UTF-8
      string: '{"id":"13B85227K7716654M","intent":"CAPTURE","status":"CREATED","purchase_units":[{"reference_id":"P5ppE6H8XIjy2JSCgUhbAw==","amount":{"currency_code":"USD","value":"1.00","breakdown":{"item_total":{"currency_code":"USD","value":"1.00"},"shipping":{"currency_code":"USD","value":"0.00"},"tax_total":{"currency_code":"USD","value":"0.00"}}},"payee":{"merchant_id":"MN7CSWD6RCNJ8"},"payment_instruction":{"platform_fees":[{"amount":{"currency_code":"USD","value":"0.30"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>"}}]},"soft_descriptor":"Gumroad","items":[{"name":"Conversation
        Casanova Mastery: 48 Conversation Tactics, Techniques and Mindsets to Start
        Conversations, Flirt like a Master and","unit_amount":{"currency_code":"USD","value":"1.00"},"quantity":"1","sku":"cc"}]}],"create_time":"2021-01-15T14:12:35Z","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/13B85227K7716654M","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/checkoutnow?token=13B85227K7716654M","rel":"approve","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/13B85227K7716654M","rel":"update","method":"PATCH"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/13B85227K7716654M/capture","rel":"capture","method":"POST"}]}'
  recorded_at: Fri, 15 Jan 2021 14:12:36 GMT
recorded_with: VCR 6.0.0
