---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - de21505c-daa1-4816-95ca-8fc4d677ac7a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - de21505c-daa1-4816-95ca-8fc4d677ac7a
      Original-Request:
      - req_PxUabnqb5JH0Pe
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzH5OIBOqvOFDrfEcpJ8SD2",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730478,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:34:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH5OIBOqvOFDrfEcpJ8SD2
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1de284d8-f474-4df4-8900-7e247a050ccf
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1de284d8-f474-4df4-8900-7e247a050ccf
      Original-Request:
      - req_C17Rcc8sS2ZlQR
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TxBSOAC5dBe5pR",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1770730478,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "O3ZSB60L",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 10 Feb 2026 13:34:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH5OIBOqvOFDrfEcpJ8SD2&customer=cus_TxBSOAC5dBe5pR&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 41486fa9-70b1-492e-828a-605fdb1c3500
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 41486fa9-70b1-492e-828a-605fdb1c3500
      Original-Request:
      - req_RaqGYppF4mFc6v
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1SzH5PIBOqvOFDrfMEXCvj0e",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_1SzH5PIBOqvOFDrfMEXCvj0e_secret_TxBSsF6Dd04bfBPdYc5q2OneMz6AeDq",
          "created": 1770730479,
          "customer": "cus_TxBSOAC5dBe5pR",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_1SzH5PIBOqvOFDrftUfn8iEj",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH5OIBOqvOFDrfEcpJ8SD2",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 10 Feb 2026 13:34:40 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzH5OIBOqvOFDrfEcpJ8SD2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1500&currency=usd&description=Gumroad+Charge+-vFaJ3OQHyKB3K4KdkIfQQ%3D%3D&metadata[purchases%7B0%7D]=cIx5BnImjK_dKUgWC74zLA%3D%3D%2CtOto890DJpWlJcWJhZTbBw%3D%3D&transfer_group=CH-769&payment_method_types[0]=card&off_session=false&customer=cus_TxBSOAC5dBe5pR&payment_method=pm_1SzH5OIBOqvOFDrfEcpJ8SD2&statement_descriptor_suffix=edgar700a092431
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - eda08045-873c-420b-bc9f-db9c528f0e99
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - eda08045-873c-420b-bc9f-db9c528f0e99
      Original-Request:
      - req_ClhaJner3Pas2A
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzH5RIBOqvOFDrf182C3Im8",
          "object": "payment_intent",
          "amount": 1500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzH5RIBOqvOFDrf182C3Im8_secret_8mp3rGKmfvOg5AVhE0UjmSUS3",
          "confirmation_method": "automatic",
          "created": 1770730481,
          "currency": "usd",
          "customer": "cus_TxBSOAC5dBe5pR",
          "customer_account": null,
          "description": "Gumroad Charge -vFaJ3OQHyKB3K4KdkIfQQ==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "cIx5BnImjK_dKUgWC74zLA==,tOto890DJpWlJcWJhZTbBw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH5OIBOqvOFDrfEcpJ8SD2",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar700a092431",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-769"
        }
  recorded_at: Tue, 10 Feb 2026 13:34:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SzH5RIBOqvOFDrf182C3Im8/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c2e315c2-e8cc-4c31-861e-4589dc6b797d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SzH5RIBOqvOFDrf1plKu3fr?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SzH5RIBOqvOFDrf1plKu3fr",
          "object": "charge",
          "amount": 1500,
          "amount_captured": 1500,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SzH5RIBOqvOFDrf1Al1PUW6",
            "object": "balance_transaction",
            "amount": 1500,
            "available_on": 1771286400,
            "balance_type": "payments",
            "created": 1770730481,
            "currency": "usd",
            "description": "Gumroad Charge -vFaJ3OQHyKB3K4KdkIfQQ==",
            "exchange_rate": null,
            "fee": 74,
            "fee_details": [
              {
                "amount": 74,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1426,
            "reporting_category": "charge",
            "source": "ch_3SzH5RIBOqvOFDrf1plKu3fr",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR700A09243",
          "captured": true,
          "created": 1770730481,
          "currency": "usd",
          "customer": "cus_TxBSOAC5dBe5pR",
          "description": "Gumroad Charge -vFaJ3OQHyKB3K4KdkIfQQ==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "cIx5BnImjK_dKUgWC74zLA==,tOto890DJpWlJcWJhZTbBw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 14,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SzH5RIBOqvOFDrf182C3Im8",
          "payment_method": "pm_1SzH5OIBOqvOFDrfEcpJ8SD2",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1500,
              "authorization_code": "955354",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 1500,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKPLnrMwGMgaCnmxzdHQ6LBY5KYvY2tt4bO89OQk1I7pUTNIBjAyqPP0qVWmj_6KbXpHlxO_WWXxaTGp9",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar700a092431",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-769"
        }
  recorded_at: Tue, 10 Feb 2026 13:34:42 GMT
recorded_with: VCR 6.2.0
