---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6d46cbe9-ef7d-42ed-a79b-27447b318deb
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6d46cbe9-ef7d-42ed-a79b-27447b318deb
      Original-Request:
      - req_8AkJc8bno7A24s
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SAt0VR9FW4kGYto3vEKlzTb",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "8K9D1RscR3MwZCT1",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1758721520,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 24 Sep 2025 13:45:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SAt0VR9FW4kGYto3vEKlzTb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=10000&currency=usd&description=You+bought+http%3A%2F%2Fedgar646a6c9f71.test.gumroad.com%3A31337%2Fl%2Fg%21&metadata[purchase]=11FNWDf6JZCWd5Xz7Yz6mQ%3D%3D&transfer_group=1594&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_1SAt0VR9FW4kGYto3vEKlzTb&statement_descriptor_suffix=edgar646a6c9f71
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4624c8e8-9d02-4a76-bd23-4a94c204f800
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4624c8e8-9d02-4a76-bd23-4a94c204f800
      Original-Request:
      - req_NNNZsnEYnUTAtM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SAt0WR9FW4kGYto1WDNJMxF",
          "object": "payment_intent",
          "amount": 10000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 10000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SAt0WR9FW4kGYto1WDNJMxF_secret_5Tk1q7BbEfwgVpLoynWOktq40",
          "confirmation_method": "automatic",
          "created": 1758721520,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar646a6c9f71.test.gumroad.com:31337/l/g!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SAt0WR9FW4kGYto1ouH4170",
          "livemode": false,
          "metadata": {
            "purchase": "11FNWDf6JZCWd5Xz7Yz6mQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SAt0VR9FW4kGYto3vEKlzTb",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar646a6c9f71",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1594"
        }
  recorded_at: Wed, 24 Sep 2025 13:45:21 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SAt0WR9FW4kGYto1ouH4170?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SAt0WR9FW4kGYto1ouH4170",
          "object": "charge",
          "amount": 10000,
          "amount_captured": 10000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SAt0WR9FW4kGYto14ubhoeZ",
            "object": "balance_transaction",
            "amount": 10000,
            "available_on": 1759276800,
            "balance_type": "payments",
            "created": 1758721520,
            "currency": "usd",
            "description": "You bought http://edgar646a6c9f71.test.gumroad.com:31337/l/g!",
            "exchange_rate": null,
            "fee": 320,
            "fee_details": [
              {
                "amount": 320,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 9680,
            "reporting_category": "charge",
            "source": "ch_3SAt0WR9FW4kGYto1ouH4170",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR646A6C9F7",
          "captured": true,
          "created": 1758721520,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar646a6c9f71.test.gumroad.com:31337/l/g!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "11FNWDf6JZCWd5Xz7Yz6mQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 40,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SAt0WR9FW4kGYto1WDNJMxF",
          "payment_method": "pm_1SAt0VR9FW4kGYto3vEKlzTb",
          "payment_method_details": {
            "card": {
              "amount_authorized": 10000,
              "authorization_code": "524665",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "8K9D1RscR3MwZCT1",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "567557684982115",
              "overcapture": {
                "maximum_amount_capturable": 10000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xUmtKQlJSOUZXNGtHWXRvKPLrz8YGMgb4GyBapoI6LBbtkXRlSIRDLAu9CT2SMb-2CtOVBTD91nejN0WVaWfBCINlyz7C8bJ6CU1o",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar646a6c9f71",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1594"
        }
  recorded_at: Wed, 24 Sep 2025 13:45:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/2763276372637263
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such charge: '2763276372637263'",
            "param": "id",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_TfFwoIShtf2vER?t=1758721522",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Wed, 24 Sep 2025 13:45:23 GMT
recorded_with: VCR 6.2.0
