---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=1697116618884&metadata[tos_agreement_id]=BhOHgwVyg1_-bYvQzyjpaA%3D%3D&metadata[user_compliance_info_id]=BhOHgwVyg1_-bYvQzyjpaA%3D%3D&metadata[bank_account_id]=YdlpgXKoPes9-0Txji1iRw%3D%3D&tos_acceptance[date]=1732707615&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[name]=Chuck+Bartowski&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=edgarfe5ec268_25%40gumroad.com&individual[phone]=0000000000&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=California&individual[address][postal_code]=94107&individual[address][country]=US&individual[id_number]=000000000&bank_account[country]=US&bank_account[currency]=usd&bank_account[account_number]=000123456789&bank_account[routing_number]=110000000&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e9036ef3-a51f-4632-83d1-c844dce264d0
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e9036ef3-a51f-4632-83d1-c844dce264d0
      Original-Request:
      - req_AzKdcgeFI9vRyq
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1QPjbQ2mbne8Mg1E",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "name": "Chuck Bartowski",
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "pending"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "US",
          "created": 1732707617,
          "default_currency": "usd",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1QPjbQ2mbne8Mg1EML0OCTGV",
                "object": "bank_account",
                "account": "acct_1QPjbQ2mbne8Mg1E",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard",
                  "instant"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "dx7dqwoGHEQDKLLK",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1QPjbQ2mbne8Mg1E/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1717516800,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "business_profile.url",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "individual": {
            "id": "person_1QPjbQ2mbne8Mg1E3P72QQA9",
            "object": "person",
            "account": "acct_1QPjbQ2mbne8Mg1E",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "created": 1732707617,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "edgarfe5ec268_25@gumroad.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "authorizer": false,
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "pending"
            }
          },
          "metadata": {
            "bank_account_id": "YdlpgXKoPes9-0Txji1iRw==",
            "tos_agreement_id": "BhOHgwVyg1_-bYvQzyjpaA==",
            "user_compliance_info_id": "BhOHgwVyg1_-bYvQzyjpaA==",
            "user_id": "1697116618884"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": "requirements.pending_verification",
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "business_profile.url",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "capital": {},
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "CHUCK BART",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Chuck Bartowski",
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null
            },
            "payments": {
              "statement_descriptor": "CHUCK BARTOWSKI",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 1,
                "interval": "manual"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1732707615,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Wed, 27 Nov 2024 11:40:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1QPjbQ2mbne8Mg1E
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1QPjbQ2mbne8Mg1E
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1QPjbQ2mbne8Mg1E",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "name": "Chuck Bartowski",
            "product_description": "Chuck Bartowski",
            "[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1QPjbV2nOGnhhXX0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1QPjb[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: destination=acct_1QPjbV2nOGnhhXX0&currency=usd&amount=1001200
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c957f6f9-66cf-4560-8ddf-507b38fc185e
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c957f6f9-66cf-4560-8ddf-507b38fc185e
      Original-Request:
      - req_mX0O1fEmUWy5tZ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_0QPjbx9e1RjUNIyY1ADr3gu9",
          "object": "transfer",
          "amount": 1001200,
          "amount_reversed": 0,
          "balance_transaction": "txn_0QPjbx9e1RjUNIyYynHhcmQA",
          "created": 1732707649,
          "currency": "usd",
          "description": null,
          "destination": "acct_1QPjbV2nOGnhhXX0",
          "destination_payment": "py_1QPjbx2nOGnhhXX05CPfboXE",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_0QPjbx9e1RjUNIyY1ADr3gu9/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Wed, 27 Nov 2024 11:40:50 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: destination=acct_1QPjbQ2mbne8Mg1E&currency=usd&description=Funds+held+by+Gumroad+for+Payment+GCNaB6KFAA5mlIj83tg18g%3D%3D.&amount=1201000&metadata[payment]=GCNaB6KFAA5mlIj83tg18g%3D%3D&metadata[balances%7B0%7D]=CNACW0UZp8SoSs-thTpKzQ%3D%3D%2CCtsHatsaPp04w6OhgcIcAQ%3D%3D&expand[0]=balance_transaction
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 26f9fb47-67be-4f57-b688-3e6500778aba
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 26f9fb47-67be-4f57-b688-3e6500778aba
      Original-Request:
      - req_hwdiI6vhIfPufT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_0QPjc19e1RjUNIyY0A8c5VXC",
          "object": "transfer",
          "amount": 1201000,
          "amount_reversed": 0,
          "balance_transaction": {
            "id": "txn_0QPjc19e1RjUNIyYeTgzKD0F",
            "object": "balance_transaction",
            "amount": -1201000,
            "available_on": 1732707653,
            "created": 1732707653,
            "currency": "usd",
            "description": "Funds held by Gumroad for Payment GCNaB6KFAA5mlIj83tg18g==.",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": -1201000,
            "reporting_category": "transfer",
            "source": "tr_0QPjc19e1RjUNIyY0A8c5VXC",
            "status": "available",
            "type": "transfer"
          },
          "created": 1732707653,
          "currency": "usd",
          "description": "Funds held by Gumroad for Payment GCNaB6KFAA5mlIj83tg18g==.",
          "destination": "acct_1QPjbQ2mbne8Mg1E",
          "destination_payment": "py_1QPjc12mbne8Mg1EoEYIwm3h",
          "livemode": false,
          "metadata": {
            "balances{0}": "CNACW0UZp8SoSs-thTpKzQ==,CtsHatsaPp04w6OhgcIcAQ==",
            "payment": "GCNaB6KFAA5mlIj83tg18g=="
          },
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_0QPjc19e1RjUNIyY0A8c5VXC/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Wed, 27 Nov 2024 11:40:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1QPjc12mbne8Mg1EoEYIwm3h?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1QPjbQ2mbne8Mg1E
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1QPjbQ2mbne8Mg1E
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1QPjc12mbne8Mg1EoEYIwm3h",
          "object": "charge",
          "amount": 1201000,
          "amount_captured": 1201000,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1QPjc12mbne8Mg1EVDXrmTs4",
            "object": "balance_transaction",
            "amount": 1201000,
            "available_on": 1732707653,
            "created": 1732707653,
            "currency": "usd",
            "description": null,
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 1201000,
            "reporting_category": "charge",
            "source": "py_1QPjc12mbne8Mg1EoEYIwm3h",
            "status": "available",
            "type": "payment"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": null,
          "captured": true,
          "created": 1732707653,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": null,
          "paid": true,
          "payment_intent": null,
          "payment_method": null,
          "payment_method_details": {
            "stripe_account": {},
            "type": "stripe_account"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xUVBqYlEybWJuZThNZzFFKMaKnLoGMgb2_P0TjVk6LBbYEACUlTUSZrrV9G6KBxu4GcKoNKEOrCH1sMXhrSh90QkJa6NqJk2K_tkp",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": {
            "id": "<STRIPE_PLATFORM_ACCOUNT_ID>",
            "object": "account",
            "application_icon": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV96QURJZllYTVhmQTEwQWswUmg3MlRpOGI00M3h6olFO",
            "application_logo": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV9WNnByazhHekswejFlUGh3a1M0dnRxZko00eY1DsvrA",
            "application_name": "Gumroad",
            "application_url": "https://gumroad.com"
          },
          "source_transfer": "tr_0QPjc19e1RjUNIyY0A8c5VXC",
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Wed, 27 Nov 2024 11:40:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payouts
    body:
      encoding: UTF-8
      string: amount=1166019&currency=usd&destination=ba_1QPjbQ2mbne8Mg1EML0OCTGV&statement_descriptor=Gumroad&description=GCNaB6KFAA5mlIj83tg18g%3D%3D&metadata[payment]=GCNaB6KFAA5mlIj83tg18g%3D%3D&metadata[bank_account]=YdlpgXKoPes9-0Txji1iRw%3D%3D&metadata[balances%7B0%7D]=CNACW0UZp8SoSs-thTpKzQ%3D%3D%2CCtsHatsaPp04w6OhgcIcAQ%3D%3D&method=instant
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 937228c9-49c7-48dc-bebe-4346ea13ef99
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1QPjbQ2mbne8Mg1E
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 937228c9-49c7-48dc-bebe-4346ea13ef99
      Original-Request:
      - req_4DIX82VKOxxXEB
      Stripe-Account:
      - acct_1QPjbQ2mbne8Mg1E
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Instant Payouts to bank accounts are only supported for amounts less than or equal to $9999",
            "request_log_url": "https://dashboard.stripe.com/acct_1QPjbQ2mbne8Mg1E/test/logs/req_4DIX82VKOxxXEB?t=1732707654",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Wed, 27 Nov 2024 11:40:55 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_0QPjc19e1RjUNIyY0A8c5VXC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 202[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers/tr_0QPjc19e1RjUNIyY0A8c5VXC/reversals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3c14d876-61b8-47be-955a-cbbebad971ca
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3c14d876-61b8-47be-955a-cbbebad971ca
      Original-Request:
      - req_H4ZtUI83nGE4mB
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "trr_0QPjc49e1RjUNIyYgPonarXX",
          "object": "transfer_reversal",
          "amount": 1201000,
          "balance_transaction": "txn_0QPjc49e1RjUNIyYHu9HmAAO",
          "created": 1732707656,
          "currency": "usd",
          "destination_payment_refund": "pyr_1QPjc32mbne8Mg1EgsOxp8Gc",
          "metadata": {},
          "source_refund": null,
          "transfer": "tr_0QPjc19e1RjUNIyY0A8c5VXC"
        }
  recorded_at: Wed, 27 Nov 2024 11:40:56 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1QPjc12mbne8Mg1EoEYIwm3h?expand%5B%5D=balance_transaction&expand%5B%5D=refunds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1QPjbQ2mbne8Mg1E
  response:
    status:
      code: 200
     [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/balance_transactions/txn_1QPjc32mbne8Mg1Ed7fA54EO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1QPjbQ2mbne8Mg1E
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1QPjbQ2mbne8Mg1E
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "txn_1QPjc32mbne8Mg1Ed7fA54EO",
          "object": "balance_transaction",
          "amount": -1201000,
          "available_on": 1732707655,
          "created": 1732707655,
          "currency": "usd",
          "description": "REFUND FOR PAYMENT",
          "exchange_rate": null,
          "fee": 0,
          "fee_details": [],
          "net": -1201000,
          "reporting_category": "refund",
          "source": "pyr_1QPjc32mbne8Mg1EgsOxp8Gc",
          "status": "available",
          "type": "payment_refund"
        }
  recorded_at: Wed, 27 Nov 2024 11:40:58 GMT
[...]
