---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=7536261101450&metadata[tos_agreement_id]=bfi_30HLgGWL8H2wo_Gzlg%3D%3D&metadata[user_compliance_info_id]=bfi_30HLgGWL8H2wo_Gzlg%3D%3D&metadata[bank_account_id]=G_-mnBf9b1j9A7a4ub4nFQ%3D%3D&tos_acceptance[date]=1732684580&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[name]=Chuck+Bartowski&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=edgare468ea3b_5%40gumroad.com&individual[phone]=0000000000&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=California&individual[address][postal_code]=94107&individual[address][country]=US&individual[id_number]=000000000&bank_account[country]=US&bank_account[currency]=usd&bank_account[account_number]=000123456789&bank_account[routing_number]=110000000&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b8cc4cdd-5268-4e8f-b5bb-afc3d2d30304
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b8cc4cdd-5268-4e8f-b5bb-afc3d2d30304
      Original-Request:
      - req_gPTTUnwuw0BPKL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1QPdbt2mMkd0KgJZ",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "name": "Chuck Bartowski",
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "pending"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "US",
          "created": 1732684583,
          "default_currency": "usd",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1QPdbt2mMkd0KgJZVtWf9CoB",
                "object": "bank_account",
                "account": "acct_1QPdbt2mMkd0KgJZ",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard",
                  "instant"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "dx7dqwoGHEQDKLLK",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1QPdbt2mMkd0KgJZ/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1717516800,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "business_profile.url",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "individual": {
            "id": "person_1QPdbu2mMkd0KgJZxCAfr5W2",
            "object": "person",
            "account": "acct_1QPdbt2mMkd0KgJZ",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "created": 1732684582,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "edgare468ea3b_5@gumroad.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "authorizer": false,
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "pending"
            }
          },
          "metadata": {
            "bank_account_id": "G_-mnBf9b1j9A7a4ub4nFQ==",
            "tos_agreement_id": "bfi_30HLgGWL8H2wo_Gzlg==",
            "user_compliance_info_id": "bfi_30HLgGWL8H2wo_Gzlg==",
            "user_id": "7536261101450"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": "requirements.pending_verification",
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "business_profile.url",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "capital": {},
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "CHUCK BART",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Chuck Bartowski",
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null
            },
            "payments": {
              "statement_descriptor": "CHUCK BARTOWSKI",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 1,
                "interval": "manual"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1732684580,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Wed, 27 Nov 2024 05:16:26 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1QPdbt2mMkd0KgJZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1QPdbt2mMkd0KgJZ
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1QPdbt2mMkd0KgJZ",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "name": "Chuck Bartowski",
            "product_description": "Chuck Bartowski",
            "[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1QPdbz2nTKNDgcrX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1QPdb[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: destination=acct_1QPdbz2nTKNDgcrX&currency=usd&amount=1001200
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 73c484ca-0d33-493a-9605-cc2a71fe7026
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 73c484ca-0d33-493a-9605-cc2a71fe7026
      Original-Request:
      - req_ZbHGy4tHyMmhpw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_0QPdcQ9e1RjUNIyYbkrE0i26",
          "object": "transfer",
          "amount": 1001200,
          "amount_reversed": 0,
          "balance_transaction": "txn_0QPdcQ9e1RjUNIyY18XpQRzM",
          "created": 1732684614,
          "currency": "usd",
          "description": null,
          "destination": "acct_1QPdbz2nTKNDgcrX",
          "destination_payment": "py_1QPdcQ2nTKNDgcrXFhbIUloT",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_0QPdcQ9e1RjUNIyYbkrE0i26/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Wed, 27 Nov 2024 05:16:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: destination=acct_1QPdbt2mMkd0KgJZ&currency=usd&description=Funds+held+by+Gumroad+for+Payment+P5ppE6H8XIjy2JSCgUhbAw%3D%3D.&amount=1001100&metadata[payment]=P5ppE6H8XIjy2JSCgUhbAw%3D%3D&metadata[balances%7B0%7D]=P5ppE6H8XIjy2JSCgUhbAw%3D%3D%2Cbfi_30HLgGWL8H2wo_Gzlg%3D%3D&expand[0]=balance_transaction
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 78b62d3f-c444-4d1a-9c39-c00334856311
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 78b62d3f-c444-4d1a-9c39-c00334856311
      Original-Request:
      - req_JWZlD7CI9YewAA
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_0QPdcR9e1RjUNIyYWyCRHgdN",
          "object": "transfer",
          "amount": 1001100,
          "amount_reversed": 0,
          "balance_transaction": {
            "id": "txn_0QPdcR9e1RjUNIyYxymZjcw6",
            "object": "balance_transaction",
            "amount": -1001100,
            "available_on": 1732684615,
            "created": 1732684615,
            "currency": "usd",
            "description": "Funds held by Gumroad for Payment P5ppE6H8XIjy2JSCgUhbAw==.",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": -1001100,
            "reporting_category": "transfer",
            "source": "tr_0QPdcR9e1RjUNIyYWyCRHgdN",
            "status": "available",
            "type": "transfer"
          },
          "created": 1732684615,
          "currency": "usd",
          "description": "Funds held by Gumroad for Payment P5ppE6H8XIjy2JSCgUhbAw==.",
          "destination": "acct_1QPdbt2mMkd0KgJZ",
          "destination_payment": "py_1QPdcR2mMkd0KgJZCQJCWUUA",
          "livemode": false,
          "metadata": {
            "balances{0}": "P5ppE6H8XIjy2JSCgUhbAw==,bfi_30HLgGWL8H2wo_Gzlg==",
            "payment": "P5ppE6H8XIjy2JSCgUhbAw=="
          },
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_0QPdcR9e1RjUNIyYWyCRHgdN/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Wed, 27 Nov 2024 05:16:56 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1QPdcR2mMkd0KgJZCQJCWUUA?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1QPdbt2mMkd0KgJZ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1QPdbt2mMkd0KgJZ
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1QPdcR2mMkd0KgJZCQJCWUUA",
          "object": "charge",
          "amount": 1001100,
          "amount_captured": 1001100,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1QPdcR2mMkd0KgJZoOdFBnz1",
            "object": "balance_transaction",
            "amount": 1001100,
            "available_on": 1732684615,
            "created": 1732684615,
            "currency": "usd",
            "description": null,
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 1001100,
            "reporting_category": "charge",
            "source": "py_1QPdcR2mMkd0KgJZCQJCWUUA",
            "status": "available",
            "type": "payment"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": null,
          "captured": true,
          "created": 1732684615,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": null,
          "paid": true,
          "payment_intent": null,
          "payment_method": null,
          "payment_method_details": {
            "stripe_account": {},
            "type": "stripe_account"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xUVBkYnQybU1rZDBLZ0paKMjWmroGMgbhu_Pkpig6LBZ1YsebzHe7loPJ1H6wvH_3tt3Xc6B7aWnvAWhlKd9sW71OyM5Kfa94jZpK",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": {
            "id": "<STRIPE_PLATFORM_ACCOUNT_ID>",
            "object": "account",
            "application_icon": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV96QURJZllYTVhmQTEwQWswUmg3MlRpOGI00M3h6olFO",
            "application_logo": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV9WNnByazhHekswejFlUGh3a1M0dnRxZko00eY1DsvrA",
            "application_name": "Gumroad",
            "application_url": "https://gumroad.com"
          },
          "source_transfer": "tr_0QPdcR9e1RjUNIyYWyCRHgdN",
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Wed, 27 Nov 2024 05:16:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payouts
    body:
      encoding: UTF-8
      string: amount=1001100&currency=usd&destination=ba_1QPdbt2mMkd0KgJZVtWf9CoB&statement_descriptor=Gumroad&description=P5ppE6H8XIjy2JSCgUhbAw%3D%3D&method=standard&metadata[payment]=P5ppE6H8XIjy2JSCgUhbAw%3D%3D&metadata[bank_account]=G_-mnBf9b1j9A7a4ub4nFQ%3D%3D&metadata[balances%7B0%7D]=P5ppE6H8XIjy2JSCgUhbAw%3D%3D%2Cbfi_30HLgGWL8H2wo_Gzlg%3D%3D
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 233045ab-3a11-4aa7-86b2-909a8ff76cb3
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1QPdbt2mMkd0KgJZ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 233045ab-3a11-4aa7-86b2-909a8ff76cb3
      Original-Request:
      - req_1XqaZuAT6Zhm2P
      Stripe-Account:
      - acct_1QPdbt2mMkd0KgJZ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "po_1QPdcT2mMkd0KgJZiceqXzW6",
          "object": "payout",
          "amount": 1001100,
          "application_fee": null,
          "application_fee_amount": null,
          "arrival_date": 1732665600,
          "automatic": false,
          "balance_transaction": "txn_1QPdcT2mMkd0KgJZ7Wc4J7M5",
          "created": 1732684617,
          "currency": "usd",
          "description": "P5ppE6H8XIjy2JSCgUhbAw==",
          "destination": "ba_1QPdbt2mMkd0KgJZVtWf9CoB",
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {
            "balances{0}": "P5ppE6H8XIjy2JSCgUhbAw==,bfi_30HLgGWL8H2wo_Gzlg==",
            "bank_account": "G_-mnBf9b1j9A7a4ub4nFQ==",
            "payment": "P5ppE6H8XIjy2JSCgUhbAw=="
          },
          "method": "standard",
          "original_payout": null,
          "reconciliation_status": "not_applicable",
          "reversed_by": null,
          "source_type": "card",
          "statement_descriptor": "Gumroad",
          "status": "pending",
          "trace_id": {
            "status": "pending",
            "value": null
          },
          "type": "bank_account"
        }
  recorded_at: Wed, 27 Nov 2024 05:16:57 GMT
[...]
