---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=7874674217009&metadata[tos_agreement_id]=YdlpgXKoPes9-0Txji1iRw%3D%3D&metadata[user_compliance_info_id]=YdlpgXKoPes9-0Txji1iRw%3D%3D&metadata[bank_account_id]=l5C1XQfr2TG3WXcGY7YrUg%3D%3D&tos_acceptance[date]=1732707566&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[name]=Chuck+Bartowski&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=edgar73d1acd1_21%40gumroad.com&individual[phone]=0000000000&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=California&individual[address][postal_code]=94107&individual[address][country]=US&individual[id_number]=000000000&bank_account[country]=US&bank_account[currency]=usd&bank_account[account_number]=000123456789&bank_account[routing_number]=110000000&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - dea2cead-c7ee-4d14-ba24-847b7383ab61
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - dea2cead-c7ee-4d14-ba24-847b7383ab61
      Original-Request:
      - req_jNLcWtaSKQlWVj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1QPjadS2KWpHHVxp",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "name": "Chuck Bartowski",
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "pending"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "US",
          "created": 1732707569,
          "default_currency": "usd",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1QPjadS2KWpHHVxpwQOuHqiq",
                "object": "bank_account",
                "account": "acct_1QPjadS2KWpHHVxp",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard",
                  "instant"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "dx7dqwoGHEQDKLLK",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1QPjadS2KWpHHVxp/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1717516800,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "business_profile.url",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "individual": {
            "id": "person_1QPjaeS2KWpHHVxpSwd5KhsD",
            "object": "person",
            "account": "acct_1QPjadS2KWpHHVxp",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "created": 1732707568,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "edgar73d1acd1_21@gumroad.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "authorizer": false,
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "pending"
            }
          },
          "metadata": {
            "bank_account_id": "l5C1XQfr2TG3WXcGY7YrUg==",
            "tos_agreement_id": "YdlpgXKoPes9-0Txji1iRw==",
            "user_compliance_info_id": "YdlpgXKoPes9-0Txji1iRw==",
            "user_id": "7874674217009"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": "requirements.pending_verification",
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "business_profile.url",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "capital": {},
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "CHUCK BART",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Chuck Bartowski",
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null
            },
            "payments": {
              "statement_descriptor": "CHUCK BARTOWSKI",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 1,
                "interval": "manual"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1732707566,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Wed, 27 Nov 2024 11:39:31 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1QPjadS2KWpHHVxp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1QPjadS2KWpHHVxp
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1QPjadS2KWpHHVxp",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "name": "Chuck Bartowski",
            "product_description": "Chuck Bartowski",
            "[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1QPjajS8zNmR9W5H
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1QPja[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: destination=acct_1QPjajS8zNmR9W5H&currency=usd&amount=1001200
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f4abe162-cf77-4db1-aa89-47f85e7702e4
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f4abe162-cf77-4db1-aa89-47f85e7702e4
      Original-Request:
      - req_nvK3LzFCvAFWnm
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_0QPjbK9e1RjUNIyYPdJL9xmG",
          "object": "transfer",
          "amount": 1001200,
          "amount_reversed": 0,
          "balance_transaction": "txn_0QPjbK9e1RjUNIyY0VGujF5n",
          "created": 1732707610,
          "currency": "usd",
          "description": null,
          "destination": "acct_1QPjajS8zNmR9W5H",
          "destination_payment": "py_1QPjbKS8zNmR9W5HPNZtotLP",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_0QPjbK9e1RjUNIyYPdJL9xmG/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Wed, 27 Nov 2024 11:40:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: destination=acct_1QPjadS2KWpHHVxp&currency=usd&description=Funds+held+by+Gumroad+for+Payment+kuaXCPHTmRuoK13rNGVbxg%3D%3D.&amount=999900&metadata[payment]=kuaXCPHTmRuoK13rNGVbxg%3D%3D&metadata[balances%7B0%7D]=idn-cYPBiUMJiJV3hKUaCQ%3D%3D%2C06J-t3UfgpiLO1FwpWT01w%3D%3D&expand[0]=balance_transaction
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1e3d75ee-54ff-468b-8bf4-1e74b97cba2a
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1e3d75ee-54ff-468b-8bf4-1e74b97cba2a
      Original-Request:
      - req_dYFrDRlwWTE4bF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_0QPjbL9e1RjUNIyYJzZggpAZ",
          "object": "transfer",
          "amount": 999900,
          "amount_reversed": 0,
          "balance_transaction": {
            "id": "txn_0QPjbL9e1RjUNIyYVl73EIju",
            "object": "balance_transaction",
            "amount": -999900,
            "available_on": 1732707611,
            "created": 1732707611,
            "currency": "usd",
            "description": "Funds held by Gumroad for Payment kuaXCPHTmRuoK13rNGVbxg==.",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": -999900,
            "reporting_category": "transfer",
            "source": "tr_0QPjbL9e1RjUNIyYJzZggpAZ",
            "status": "available",
            "type": "transfer"
          },
          "created": 1732707611,
          "currency": "usd",
          "description": "Funds held by Gumroad for Payment kuaXCPHTmRuoK13rNGVbxg==.",
          "destination": "acct_1QPjadS2KWpHHVxp",
          "destination_payment": "py_1QPjbLS2KWpHHVxpcrpCSBTY",
          "livemode": false,
          "metadata": {
            "balances{0}": "idn-cYPBiUMJiJV3hKUaCQ==,06J-t3UfgpiLO1FwpWT01w==",
            "payment": "kuaXCPHTmRuoK13rNGVbxg=="
          },
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_0QPjbL9e1RjUNIyYJzZggpAZ/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Wed, 27 Nov 2024 11:40:12 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1QPjbLS2KWpHHVxpcrpCSBTY?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1QPjadS2KWpHHVxp
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1QPjadS2KWpHHVxp
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1QPjbLS2KWpHHVxpcrpCSBTY",
          "object": "charge",
          "amount": 999900,
          "amount_captured": 999900,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1QPjbLS2KWpHHVxpHJ1S5Spa",
            "object": "balance_transaction",
            "amount": 999900,
            "available_on": 1732707611,
            "created": 1732707611,
            "currency": "usd",
            "description": null,
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 999900,
            "reporting_category": "charge",
            "source": "py_1QPjbLS2KWpHHVxpcrpCSBTY",
            "status": "available",
            "type": "payment"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": null,
          "captured": true,
          "created": 1732707611,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": null,
          "paid": true,
          "payment_intent": null,
          "payment_method": null,
          "payment_method_details": {
            "stripe_account": {},
            "type": "stripe_account"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xUVBqYWRTMktXcEhIVnhwKJyKnLoGMgbC4gq91NU6LBYCH-qOB6IKkyYzakmR5rtbTih_nOC0JVq8Lrtf47ORi_mW1JOgwPX7PPLa",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": {
            "id": "<STRIPE_PLATFORM_ACCOUNT_ID>",
            "object": "account",
            "application_icon": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV96QURJZllYTVhmQTEwQWswUmg3MlRpOGI00M3h6olFO",
            "application_logo": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV9WNnByazhHekswejFlUGh3a1M0dnRxZko00eY1DsvrA",
            "application_name": "Gumroad",
            "application_url": "https://gumroad.com"
          },
          "source_transfer": "tr_0QPjbL9e1RjUNIyYJzZggpAZ",
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Wed, 27 Nov 2024 11:40:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payouts
    body:
      encoding: UTF-8
      string: amount=970776&currency=usd&destination=ba_1QPjadS2KWpHHVxpwQOuHqiq&statement_descriptor=Gumroad&description=kuaXCPHTmRuoK13rNGVbxg%3D%3D&metadata[payment]=kuaXCPHTmRuoK13rNGVbxg%3D%3D&metadata[bank_account]=l5C1XQfr2TG3WXcGY7YrUg%3D%3D&metadata[balances%7B0%7D]=idn-cYPBiUMJiJV3hKUaCQ%3D%3D%2C06J-t3UfgpiLO1FwpWT01w%3D%3D&method=instant
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 21c296bb-3648-4387-b93e-61e732b9e66f
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1QPjadS2KWpHHVxp
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 21c296bb-3648-4387-b93e-61e732b9e66f
      Original-Request:
      - req_rp7vQlEHzOYvec
      Stripe-Account:
      - acct_1QPjadS2KWpHHVxp
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "po_1QPjbNS2KWpHHVxpKRRgwfZg",
          "object": "payout",
          "amount": 970776,
          "application_fee": "fee_1QPjbNS2KWpHHVxpT3FIdVGh",
          "application_fee_amount": 29123,
          "arrival_date": 1732707613,
          "automatic": false,
          "balance_transaction": "txn_1QPjbNS2KWpHHVxplH6znV4j",
          "created": 1732707613,
          "currency": "usd",
          "description": "kuaXCPHTmRuoK13rNGVbxg==",
          "destination": "ba_1QPjadS2KWpHHVxpwQOuHqiq",
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {
            "balances{0}": "idn-cYPBiUMJiJV3hKUaCQ==,06J-t3UfgpiLO1FwpWT01w==",
            "bank_account": "l5C1XQfr2TG3WXcGY7YrUg==",
            "payment": "kuaXCPHTmRuoK13rNGVbxg=="
          },
          "method": "instant",
          "original_payout": null,
          "reconciliation_status": "not_applicable",
          "reversed_by": null,
          "source_type": "card",
          "statement_descriptor": "Gumroad",
          "status": "pending",
          "trace_id": {
            "status": "pending",
            "value": null
          },
          "type": "bank_account"
        }
  recorded_at: Wed, 27 Nov 2024 11:40:14 GMT
[...]
