---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=CA&default_currency=cad&metadata[user_id]=5191142875111&metadata[tos_agreement_id]=bfi_30HLgGWL8H2wo_Gzlg%3D%3D&metadata[user_compliance_info_id]=bfi_30HLgGWL8H2wo_Gzlg%3D%3D&tos_acceptance[date]=1698659438&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=edgarc844c2ef_90%40gumroad.com&individual[phone]=0000000000&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=BC&individual[address][postal_code]=M4C+1T2&individual[address][country]=CA&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[id_number]=000000000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 21abd346-5a64-4d73-9620-63081259a3ad
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 21abd346-5a64-4d73-9620-63081259a3ad
      Original-Request:
      - req_xSBQvhMHoamRZ9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1O6s7GS6VjtOzHDw",
          "object": "account",
          "business_profile": {
            "mcc": "5192",
            "name": null,
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "active",
            "transfers": "active"
          },
          "charges_enabled": true,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "CA",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "M4C 1T2",
              "state": "BC"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "CA",
          "created": 1698659439,
          "default_currency": "cad",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1O6s7GS6VjtOzHDw/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1O6s7GS6VjtOzHDwaUoZBuE6",
            "object": "person",
            "account": "acct_1O6s7GS6VjtOzHDw",
            "address": {
              "city": "San Francisco",
              "country": "CA",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "M4C 1T2",
              "state": "BC"
            },
            "created": 1698659439,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "edgarc844c2ef_90@gumroad.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "pending"
            }
          },
          "metadata": {
            "tos_agreement_id": "bfi_30HLgGWL8H2wo_Gzlg==",
            "user_compliance_info_id": "bfi_30HLgGWL8H2wo_Gzlg==",
            "user_id": "5191142875111"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "external_account"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [],
            "eventually_due": [
              "external_account"
            ],
            "past_due": [
              "external_account"
            ],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {},
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "VIPUL.GUMR",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "vipul.gumroad",
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "VIPUL.GUMROAD.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 7,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1698659438,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Mon, 30 Oct 2023 09:50:40 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1O6s7GS6VjtOzHDw/persons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O6s7GS6VjtOzHDw
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "person_1O6s7GS6VjtOzHDwaUoZBuE6",
              "object": "person",
              "account": "acct_1O6s7GS6VjtOzHDw",
              "additional_tos_acceptances": {
                "account": {
                  "date": null,
                  "ip": null,
                  "user_agent": null
                }
              },
              "address": {
                "city": "San Francisco",
                "country": "CA",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "M4C 1T2",
                "state": "BC"
              },
              "created": 1698659439,
              "dob": {
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1O6s7GS6VjtOzHDw/persons/person_1O6s7GS6VjtOzHDwaUoZBuE6
    body:
      encoding: UTF-8
      string: verification[document][front]=file_identity_document_success
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e377aa8b-8b51-481a-bbbf-f58bafbc444e
      Stripe-Version:
      - '2023-10-16'
  response:
    stat[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1O6s7GS6VjtOzHDw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O6s7GS6VjtOzHDw
      Stripe-Ver[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2499cd01-168b-44ff-8f36-e14a64502190
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2499cd01-168b-44ff-8f36-e14a64502190
      Original-Request:
      - req_eyvLyBq4VA1e9J
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6s7N9e1RjUNIyY93wJcjM7",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698659445,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 09:50:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6s7N9e1RjUNIyY93wJcjM7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar970657dd30.test.gumroad.com%3A31337%2Fl%2Fz&metadata[purchase]=4LhjQ6P6vcFQEZKk42sLbQ%3D%3D&transfer_group=32&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0O6s7N9e1RjUNIyY93wJcjM7&statement_descriptor_suffix=edgar970657dd30&transfer_data[destination]=acct_1O6s7GS6VjtOzHDw&transfer_data[amount]=61
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2dffe8ec-a5c0-477d-91dd-2e2059c5775a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2dffe8ec-a5c0-477d-91dd-2e2059c5775a
      Original-Request:
      - req_u6Mw7UkKdGV0ay
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6s7O9e1RjUNIyY1UEBXqhe",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6s7O9e1RjUNIyY1UEBXqhe_secret_Doy60vjVQB1F7DsnUzerLpYkS",
          "confirmation_method": "manual",
          "created": 1698659446,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar970657dd30.test.gumroad.com:31337/l/z",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6s7O9e1RjUNIyY1VnORqJH",
          "livemode": false,
          "metadata": {
            "purchase": "4LhjQ6P6vcFQEZKk42sLbQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6s7N9e1RjUNIyY93wJcjM7",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar970657dd30",
          "status": "succeeded",
          "transfer_data": {
            "amount": 61,
            "destination": "acct_1O6s7GS6VjtOzHDw"
          },
          "transfer_group": "32"
        }
  recorded_at: Mon, 30 Oct 2023 09:50:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6s7O9e1RjUNIyY1VnORqJH?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6s7O9e1RjUNIyY1VnORqJH",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6s7O9e1RjUNIyY1Cwy7mUA",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1699228800,
            "created": 1698659447,
            "currency": "usd",
            "description": "You bought http://edgar970657dd30.test.gumroad.com:31337/l/z",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2O6s7O9e1RjUNIyY1VnORqJH",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR970657",
          "captured": true,
          "created": 1698659447,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar970657dd30.test.gumroad.com:31337/l/z",
          "destination": "acct_1O6s7GS6VjtOzHDw",
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "4LhjQ6P6vcFQEZKk42sLbQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 40,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6s7O9e1RjUNIyY1UEBXqhe",
          "payment_method": "pm_0O6s7N9e1RjUNIyY93wJcjM7",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo-fj9qQYyBhZcoaTOIjosFvUxw_9Ae9hc1_8VgN16WPf-JA-joiVzb52PWy-s2Nl2nTKC4n7SrNFONYw",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar970657dd30",
          "status": "succeeded",
          "transfer": "tr_2O6s7O9e1RjUNIyY1QYv2Smj",
          "transfer_data": {
            "amount": 61,
            "destination": "acct_1O6s7GS6VjtOzHDw"
          },
          "transfer_group": "32"
        }
  recorded_at: Mon, 30 Oct 2023 09:50:49 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2O6s7O9e1RjUNIyY1QYv2Smj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2O6s7O9e1RjUNIyY1QYv2Smj",
          "object": "transfer",
          "amount": 61,
          "amount_reversed": 0,
          "balance_transaction": "txn_2O6s7O9e1RjUNIyY1p4lvCOa",
          "created": 1698659447,
          "currency": "usd",
          "description": null,
          "destination": "acct_1O6s7GS6VjtOzHDw",
          "destination_payment": "py_1O6s7PS6VjtOzHDw4uTh4krY",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_2O6s7O9e1RjUNIyY1QYv2Smj/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_2O6s7O9e1RjUNIyY1VnORqJH",
          "source_type": "card",
          "transfer_group": "32"
        }
  recorded_at: Mon, 30 Oct 2023 09:50:49 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1O6s7PS6VjtOzHDw4uTh4krY?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1O6s7GS6VjtOzHDw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O6s7GS6VjtOzHDw
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1O6s7PS6VjtOzHDw4uTh4krY",
          "object": "charge",
          "amount": 61,
          "amount_captured": 61,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1O6s7PS6VjtOzHDwwU38DbgJ",
            "object": "balance_transaction",
            "amount": 83,
            "available_on": 1699228800,
            "created": 1698659447,
            "currency": "cad",
            "description": null,
            "exchange_rate": 1.35883,
            "fee": 0,
            "fee_details": [],
            "net": 83,
           [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6s7O9e1RjUNIyY1VnORqJH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2O6s7O9e1RjUNIyY1VnORqJH&reverse_transfer=true&refund_application_fee=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 618b03f0-a5fb-42f5-b6f3-e559883c828c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 618b03f0-a5fb-42f5-b6f3-e559883c828c
      Original-Request:
      - req_AdZu90LSo0Q7Nx
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2O6s7O9e1RjUNIyY1uAEwWvt",
          "object": "refund",
          "amount": 100,
          "balance_transaction": "txn_2O6s7O9e1RjUNIyY1kTJBY9M",
          "charge": "ch_2O6s7O9e1RjUNIyY1VnORqJH",
          "created": 1698659451,
          "currency": "usd",
          "metadata": {},
          "payment_intent": "pi_2O6s7O9e1RjUNIyY1UEBXqhe",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": "trr_0O6s7T9e1RjUNIyY1I9TtssM"
        }
  recorded_at: Fri, 06 Oct 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2O6s7O9e1RjUNIyY1uAEwWvt?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6s7O9e1RjUNIyY1VnORqJH?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2O6s7O9e1RjUNIyY1QYv2Smj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2O6s7O9e1RjUNIyY1QYv2Smj",
          "object": "transfer",
          "amount": 61,
          "amount_reversed": 61,
          "balance_transaction": "txn_2O6s7O9e1RjUNIyY1p4lvCOa",
          "created": 1698659447,
          "currency": "usd",
          "description": null,
          "destination": "acct_1O6s7GS6VjtOzHDw",
          "destination_payment": "py_1O6s7PS6VjtOzHDw4uTh4krY",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [
              {
                "id": "trr_0O6s7T9e1RjUNIyY1I9TtssM",
                "object": "transfer_reversal",
                "amount": 61,
                "balance_transaction": "txn_0O6s7T9e1RjUNIyYuKGQbh3h",
                "created": 1698659451,
                "currency": "usd",
                "destination_payment_refund": "pyr_1O6s7TS6VjtOzHDwiDo0JNCN",
                "metadata": {},
                "source_refund": "re_2O6s7O9e1RjUNIyY1uAEwWvt",
                "transfer": "tr_2O6s7O9e1RjUNIyY1QYv2Smj"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/transfers/tr_2O6s7O9e1RjUNIyY1QYv2Smj/reversals"
          },
          "reversed": true,
          "source_transaction": "ch_2O6s7O9e1RjUNIyY1VnORqJH",
          "source_type": "card",
          "transfer_group": "32"
        }
  recorded_at: Fri, 06 Oct 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1O6s7PS6VjtOzHDw4uTh4krY?expand%5B%5D=application_fee.refunds&expand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1O6s7GS6VjtOzHDw
  response:
    status:
      code: 200
[...]
