---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1faeaccf-8aad-4670-ab56-7f34c23566ff
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1faeaccf-8aad-4670-ab56-7f34c23566ff
      Original-Request:
      - req_k8MeCfNOqB9xM1
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzH6mIBOqvOFDrfZcbAmXIA",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730564,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:36:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH6mIBOqvOFDrfZcbAmXIA
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7088e569-e9d1-456e-98b3-62eb51749d30
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7088e569-e9d1-456e-98b3-62eb51749d30
      Original-Request:
      - req_5WZEe6QyeNyUwf
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TxBTs7wFuDPQjw",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1770730564,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "867DHW3J",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 10 Feb 2026 13:36:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH6mIBOqvOFDrfZcbAmXIA&customer=cus_TxBTs7wFuDPQjw&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7c83099a-521c-48d4-ae9b-3a7a5997f186
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7c83099a-521c-48d4-ae9b-3a7a5997f186
      Original-Request:
      - req_Y2rMeiqHHtX0p8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1SzH6nIBOqvOFDrfT76N2yiN",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_1SzH6nIBOqvOFDrfT76N2yiN_secret_TxBTpTRAnodjFYTgbUNpUZrD2YkNIEy",
          "created": 1770730565,
          "customer": "cus_TxBTs7wFuDPQjw",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_1SzH6nIBOqvOFDrfHr1kvQwg",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH6mIBOqvOFDrfZcbAmXIA",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 10 Feb 2026 13:36:05 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzH6mIBOqvOFDrfZcbAmXIA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1700&currency=usd&description=Gumroad+Charge+mB0SRosGAOEg-Q9xJzdPdw%3D%3D&metadata[purchases%7B0%7D]=AzJ6XpjTxuPr3iQbWsh1tQ%3D%3D%2Cu3wu6-dqc8cRIspY7fXOQA%3D%3D&transfer_group=CH-796&payment_method_types[0]=card&off_session=false&customer=cus_TxBTs7wFuDPQjw&payment_method=pm_1SzH6mIBOqvOFDrfZcbAmXIA&statement_descriptor_suffix=edgaraa48e3ca61
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 024bd4b6-be57-44b7-858a-48fcb6111b5b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 024bd4b6-be57-44b7-858a-48fcb6111b5b
      Original-Request:
      - req_axZIdnPW28AIuC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzH6oIBOqvOFDrf1hTEwEPZ",
          "object": "payment_intent",
          "amount": 1700,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzH6oIBOqvOFDrf1hTEwEPZ_secret_d0wFgQWdbDzRStNn9GcT1CDxP",
          "confirmation_method": "automatic",
          "created": 1770730566,
          "currency": "usd",
          "customer": "cus_TxBTs7wFuDPQjw",
          "customer_account": null,
          "description": "Gumroad Charge mB0SRosGAOEg-Q9xJzdPdw==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "AzJ6XpjTxuPr3iQbWsh1tQ==,u3wu6-dqc8cRIspY7fXOQA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH6mIBOqvOFDrfZcbAmXIA",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgaraa48e3ca61",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-796"
        }
  recorded_at: Tue, 10 Feb 2026 13:36:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SzH6oIBOqvOFDrf1hTEwEPZ/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - cdad03ac-ed57-44bf-9a94-05be5c17655b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SzH6oIBOqvOFDrf1nfOIBi7?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SzH6oIBOqvOFDrf1nfOIBi7",
          "object": "charge",
          "amount": 1700,
          "amount_captured": 1700,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SzH6oIBOqvOFDrf1wXE64rM",
            "object": "balance_transaction",
            "amount": 1700,
            "available_on": 1771286400,
            "balance_type": "payments",
            "created": 1770730567,
            "currency": "usd",
            "description": "Gumroad Charge mB0SRosGAOEg-Q9xJzdPdw==",
            "exchange_rate": null,
            "fee": 79,
            "fee_details": [
              {
                "amount": 79,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1621,
            "reporting_category": "charge",
            "source": "ch_3SzH6oIBOqvOFDrf1nfOIBi7",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGARAA48E3CA6",
          "captured": true,
          "created": 1770730567,
          "currency": "usd",
          "customer": "cus_TxBTs7wFuDPQjw",
          "description": "Gumroad Charge mB0SRosGAOEg-Q9xJzdPdw==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "AzJ6XpjTxuPr3iQbWsh1tQ==,u3wu6-dqc8cRIspY7fXOQA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 10,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SzH6oIBOqvOFDrf1hTEwEPZ",
          "payment_method": "pm_1SzH6mIBOqvOFDrfZcbAmXIA",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1700,
              "authorization_code": "621787",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 1700,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKMjorMwGMgbLFqtFI3k6LBajGrGe0FKbWIWvbRAsXYYGy5hGrFhbUC39Ad605Ltf9J3TfD4K10R4Se2G",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgaraa48e3ca61",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-796"
        }
  recorded_at: Tue, 10 Feb 2026 13:36:08 GMT
recorded_with: VCR 6.2.0
