---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 25d470f5-3cf7-4b82-865d-7374a40045bd
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 25d470f5-3cf7-4b82-865d-7374a40045bd
      Original-Request:
      - req_zO3SPgXhUXuDUg
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSf1B9e1RjUNIyYByGOHI9x",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703852305,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:18:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSf1B9e1RjUNIyYByGOHI9x
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d898048d-1116-4384-b1e5-a64374698a87
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d898048d-1116-4384-b1e5-a64374698a87
      Original-Request:
      - req_q2ijJmG6BTt9h4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDSPsJkYA7HUQ",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703852305,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "41B731B0",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:18:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSf1B9e1RjUNIyYByGOHI9x&customer=cus_PHDSPsJkYA7HUQ&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b42fa34e-9a48-419c-bd77-b5a135b58bd6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b42fa34e-9a48-419c-bd77-b5a135b58bd6
      Original-Request:
      - req_bCXaeR343ylJiZ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OSf1C9e1RjUNIyYuKCz6dil",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OSf1C9e1RjUNIyYuKCz6dil_secret_PHDSxJnvr7lTqDJbA57rA2Be1Wqrhl7",
          "created": 1703852306,
          "customer": "cus_PHDSPsJkYA7HUQ",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0OSf1C9e1RjUNIyYFEeYRBHz",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSf1B9e1RjUNIyYByGOHI9x",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Fri, 29 Dec 2023 12:18:27 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSf1B9e1RjUNIyYByGOHI9x
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1700&currency=usd&description=Gumroad+Charge+_DWJNj70RpMsQ2KGnajJgg%3D%3D&metadata[gVAvHgiokXbOPuGkAhR5vw%3D%3D]=%7B%3Aprice_cents%3D%3E500%2C+%3Afee_cents%3D%3E75%2C+%3Aaffiliate_credit_cents%3D%3E0%2C+%3Agumroad_tax_cents%3D%3E0%2C+%3Atotal_transaction_cents%3D%3E500%7D&metadata[45A98XwOaJPO6vIagVE_Fw%3D%3D]=%7B%3Aprice_cents%3D%3E1200%2C+%3Afee_cents%3D%3E138%2C+[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSf1E9e1RjUNIyY0wY3lvZX/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8bf9c20b-3114-4362-972c-33aaf81e3430
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8bf9c20b-3114-4362-972c-33aaf81e3430
      Original-Request:
      - req_zLveeUDH7kPy7Z
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSf1E9e1RjUNIyY0wY3lvZX",
          "object": "payment_intent",
          "amount": 1700,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1700,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSf1E9e1RjUNIyY0wY3lvZX_secret_9OfEAQaYb2IAPyVBJ8AHYRiZU",
          "confirmation_method": "automatic",
          "created": 1703852308,
          "currency": "usd",
          "customer": "cus_PHDSPsJkYA7HUQ",
          "description": "Gumroad Charge _DWJNj70RpMsQ2KGnajJgg==",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OSf1E9e1RjUNIyY0nLdX5Oo",
          "livemode": false,
          "metadata": {
            "45A98XwOaJPO6vIagVE_Fw==": "{:price_cents=>1200, :fee_cents=>138, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>1200}",
            "gVAvHgiokXbOPuGkAhR5vw==": "{:price_cents=>500, :fee_cents=>75, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>500}"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSf1B9e1RjUNIyYByGOHI9x",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar5a7fab5d62",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-41"
        }
  recorded_at: Fri, 29 Dec 2023 12:18:29 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSf1E9e1RjUNIyY0nLdX5Oo?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OSf1E9e1RjUNIyY0nLdX5Oo",
          "object": "charge",
          "amount": 1700,
          "amount_captured": 1700,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OSf1E9e1RjUNIyY0Ckmk9Ns",
            "object": "balance_transaction",
            "amount": 1700,
            "available_on": 1704240000,
            "created": 1703852308,
            "currency": "usd",
            "description": "Gumroad Charge _DWJNj70RpMsQ2KGnajJgg==",
            "exchange_rate": null,
            "fee": 64,
            "fee_details": [
              {
                "amount": 64,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1636,
            "reporting_category": "charge",
            "source": "ch_2OSf1E9e1RjUNIyY0nLdX5Oo",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR5A7FAB",
          "captured": true,
          "created": 1703852308,
          "currency": "usd",
          "customer": "cus_PHDSPsJkYA7HUQ",
          "description": "Gumroad Charge _DWJNj70RpMsQ2KGnajJgg==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "45A98XwOaJPO6vIagVE_Fw==": "{:price_cents=>1200, :fee_cents=>138, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>1200}",
            "gVAvHgiokXbOPuGkAhR5vw==": "{:price_cents=>500, :fee_cents=>75, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>500}"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 37,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OSf1E9e1RjUNIyY0wY3lvZX",
          "payment_method": "pm_0OSf1B9e1RjUNIyYByGOHI9x",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1700,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1700,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUolvK6rAYyBluUOBu4ATosFlhMYyvK4qN928CbwmCbtvR-yIUfGb45EfH0rPAT73yCYpo-vjiKMQ10eHI",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar5a7fab5d62",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-41"
        }
  recorded_at: Fri, 29 Dec 2023 12:18:30 GMT
recorded_with: VCR 6.2.0
