---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/invalid_order
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer A21AAI0voI7lUfAhh7zxjIOM32FDiibOJABpmM1Xv3lfLgkTvj4KdYgA3fFj0L071C2zPormfa3KwOEEfFC78d3rVEiXUHf7A
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
      Paypal-Request-Id:
      - '1614621608101706'
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.7.2
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 8eb636035d06
    body:
      encoding: UTF-8
      string: '{"name":"RESOURCE_NOT_FOUND","details":[{"issue":"INVALID_RESOURCE_ID","description":"Specified
        resource ID does not exist. Please check the resource ID and try again."}],"message":"The
        specified resource does not exist.","debug_id":"8eb636035d06","links":[{"href":"https://developer.paypal.com/docs/api/orders/v2/#error-INVALID_RESOURCE_ID","rel":"information_link","method":"GET"}]}'
  recorded_at: Mon, 01 Mar 2021 18:00:10 GMT
recorded_with: VCR 6.0.0
