---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c9b36d85-a1e0-4f14-bbc1-287eea92c75e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c9b36d85-a1e0-4f14-bbc1-287eea92c75e
      Original-Request:
      - req_sZfOkLKWOUPESH
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1TQizbIBOqvOFDrfXCyPsbvk",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 4,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1777272607,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Mon, 27 Apr 2026 06:50:07 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1TQizbIBOqvOFDrfXCyPsbvk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=1036&email=edgar0f0174f3_1%40gumroad.com&payment_method=pm_1TQizbIBOqvOFDrfXCyPsbvk
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 45d5080a-0b0c-4352-84df-cff357584147
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 45d5080a-0b0c-4352-84df-cff357584147
      Original-Request:
      - req_6cL8EyeSxSLe6R
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UPY5Jadn0WawQa",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1777272608,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": "1036",
          "discount": null,
          "email": "edgar0f0174f3_1@gumroad.com",
          "invoice_prefix": "PPB05L15",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 27 Apr 2026 06:50:08 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=599&currency=usd&description=You+bought+http%3A%2F%2Fedgar1332e1c22.test.gumroad.com%3A31337%2Fl%2Fv%21&metadata[purchase]=EdnKCSNDsrr6xJ2MZ6ij8Q%3D%3D&transfer_group=805&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_UPY5Jadn0WawQa&payment_method=pm_1TQizbIBOqvOFDrfXCyPsbvk&statement_descriptor_suffix=edgar1332e1c22
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b03ab3de-d658-41a6-8a44-c56313dbd1b0
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b03ab3de-d658-41a6-8a44-c56313dbd1b0
      Original-Request:
      - req_u52hUCQK9nm6kN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3TQizeIBOqvOFDrf1EJjtivT",
          "object": "payment_intent",
          "amount": 599,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 599,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3TQizeIBOqvOFDrf1EJjtivT_secret_SBgK5U83wbAA7G8hifmAx6qbE",
          "confirmation_method": "automatic",
          "created": 1777272610,
          "currency": "usd",
          "customer": "cus_UPY5Jadn0WawQa",
          "customer_account": null,
          "description": "You bought http://edgar1332e1c22.test.gumroad.com:31337/l/v!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3TQizeIBOqvOFDrf1vxAkzr4",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "purchase": "EdnKCSNDsrr6xJ2MZ6ij8Q=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1TQizbIBOqvOFDrfXCyPsbvk",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar1332e1c22",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "805"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3TQizeIBOqvOFDrf1vxAkzr4?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3TQizeIBOqvOFDrf1vxAkzr4",
          "object": "charge",
          "amount": 599,
          "amount_captured": 599,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3TQizeIBOqvOFDrf1zETzDp5",
            "object": "balance_transaction",
            "amount": 599,
            "available_on": 1777852800,
            "balance_type": "payments",
            "created": 1777272610,
            "currency": "usd",
            "description": "You bought http://edgar1332e1c22.test.gumroad.com:31337/l/v!",
            "exchange_rate": null,
            "fee": 47,
            "fee_details": [
              {
                "amount": 47,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 552,
            "reporting_category": "charge",
            "source": "ch_3TQizeIBOqvOFDrf1vxAkzr4",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR1332E1C22",
          "captured": true,
          "created": 1777272610,
          "currency": "usd",
          "customer": "cus_UPY5Jadn0WawQa",
          "description": "You bought http://edgar1332e1c22.test.gumroad.com:31337/l/v!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "EdnKCSNDsrr6xJ2MZ6ij8Q=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 29,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3TQizeIBOqvOFDrf1EJjtivT",
          "payment_method": "pm_1TQizbIBOqvOFDrfXCyPsbvk",
          "payment_method_details": {
            "card": {
              "amount_authorized": 599,
              "authorization_code": "175719",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "ds_transaction_id": null,
              "exp_month": 4,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 599,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKKOOvM8GMga5BzePdIQ6LBZQU8I9ZgLFUKpwcJoCXuXsh-GlUfj6Drif1Rg4FhyqEQ6jbaVeuLx7L_H9",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar1332e1c22",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "805"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3TQizgIBOqvOFDrf1V5ApXNT?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
