---
http_interactions:
  - request:
      method: get
      uri: https://api.stripe.com/v1/charges?transfer_group=1234567890
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - "2023-10-16"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Stripe-Version:
          - "2023-10-16"
      body:
        encoding: UTF-8
        string: |-
          {
            "object": "list",
            "data": [],
            "has_more": false,
            "url": "/v1/charges"
          }
    recorded_at: Mon, 30 Oct 2023 16:38:59 GMT
  - request:
      method: get
      uri: https://api.stripe.com/v1/charges?created%5Bgte%5D=1621973384&created%5Blte%5D=1621973414&limit=100
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - "2023-10-16"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Stripe-Version:
          - "2023-10-16"
      body:
        encoding: UTF-8
        string: |-
          {
            "object": "list",
            "data": [
              {
                "id": "ch_0Iv6Zr9e1RjUNIyYiyvZ9Jxm",
                "object": "charge",
                "amount": 10000,
                "amount_captured": 10000,
                "amount_refunded": 0,
                "amount_updates": [],
                "application": null,
                "application_fee": null,
                "application_fee_amount": null,
                "balance_transaction": "txn_0Iv6Zs9e1RjUNIyYqgKmx1cv",
                "billing_details": {
                  "address": {
                    "city": null,
                    "country": null,
                    "line1": null,
                    "line2": null,
                    "postal_code": "",
                    "state": null
                  },
                  "email": null,
                  "name": null,
                  "phone": null
                },
                "calculated_statement_descriptor": "GUM.CO/CC* GUMROAD",
                "captured": true,
                "created": 1621973411,
                "currency": "usd",
                "customer": null,
                "description": "You bought http://127.0.0.1:31337/l/D",
                "destination": null,
                "dispute": null,
                "disputed": false,
                "failure_balance_transaction": null,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {},
                "invoice": null,
                "livemode": false,
                "metadata": {
                  "purchase": "G_-mnBf9b1j9A7a4ub4nFQ=="
                },
                "on_behalf_of": null,
                "order": null,
                "outcome": {
                  "network_status": "approved_by_network",
                  "reason": null,
                  "risk_level": "normal",
                  "risk_score": 52,
                  "seller_message": "Payment complete.",
                  "type": "authorized"
                },
                "paid": true,
                "payment_intent": "pi_0Iv6Zr9e1RjUNIyY2K9Ocuxv",
                "payment_method": "pm_0Iv6Zp9e1RjUNIyYtV7iVbqH",
                "payment_method_details": {
                  "card": {
                    "amount_authorized": null,
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": "pass"
                    },
                    "country": "US",
                    "exp_month": 12,
                    "exp_year": 2021,
                    "extended_authorization": {
                      "status": "disabled"
                    },
                    "fingerprint": "W691J2Ye3VDoq6Ij",
                    "funding": "credit",
                    "incremental_authorization": {
                      "status": "unavailable"
                    },
                    "installments": null,
                    "last4": "4242",
                    "mandate": null,
                    "multicapture": {
                      "status": "unavailable"
                    },
                    "network": "visa",
                    "network_token": {
                      "used": false
                    },
                    "overcapture": {
                      "maximum_amount_capturable": 10000,
                      "status": "unavailable"
                    },
                    "three_d_secure": null,
                    "wallet": null
                  },
                  "type": "card"
                },
                "receipt_email": null,
                "receipt_number": null,
                "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoo7j_qQYyBjjMutbZfzosFpY9tAGe64hEUt3fgBWvtgmL60_9KxORTBK1Vro9nMqnAOHu_6OjLIb7Dcs",
                "refunded": false,
                "review": null,
                "shipping": null,
                "source": null,
                "source_transfer": null,
                "statement_descriptor": null,
                "statement_descriptor_suffix": "Gumroad",
                "status": "succeeded",
                "transfer_data": null,
                "transfer_group": "1"
              },
              {
                "id": "ch_0Iv6Zm9e1RjUNIyYnFgXfQfF",
                "object": "charge",
                "amount": 7000,
                "amount_captured": 7000,
                "amount_refunded": 0,
                "amount_updates": [],
                "application": null,
                "application_fee": null,
                "application_fee_amount": null,
                "balance_transaction": "txn_0Iv6Zm9e1RjUNIyYcwwcHM3k",
                "billing_de[...]
