---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges?transfer_group=90
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "ch_3Mf0eOKQKir5qdfM0a39SBQE",
              "object": "charge",
              "amount": 15500,
              "amount_captured": 15500,
              "amount_refunded": 15500,
              "application": "<STRIPE_CONNECT_CLIENT_ID>",
              "application_fee": "fee_1Mf0eOKQKir5qdfM47EKPW1S",
              "application_fee_amount": 8835,
              "balance_transaction": "txn_3Mf0eOKQKir5qdfM01GN4Q9H",
              "billing_details": {
                "address": {
                  "city": null,
                  "country": null,
                  "line1": null,
                  "line2": null,
                  "postal_code": "",
                  "state": null
                },
                "email": null,
                "name": null,
                "phone": null
              },
              "calculated_statement_descriptor": "GUM.CO/CC* 60704159041",
              "captured": true,
              "created": 1677242724,
              "currency": "usd",
              "customer": null,
              "description": "You bought https://607041590413.stripe-connect-save-card.apps.staging.gumroad.org/l/o",
              "destination": null,
              "dispute": null,
              "disputed": false,
              "failure_balance_transaction": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {
                "purchase": "zyVcslyRTLm32RQ20xTNCA=="
              },
              "on_behalf_of": null,
              "order": null,
              "outcome": {
                "network_status": "approved_by_network",
                "reason": null,
                "risk_level": "normal",
                "risk_score": 30,
                "seller_message": "Payment complete.",
                "type": "authorized"
              },
              "paid": true,
              "payment_intent": "pi_3Mf0eOKQKir5qdfM0K1zp51u",
              "payment_method": "pm_1Mf0eNKQKir5qdfMtnwE3t4p",
              "payment_method_details": {
                "card": {
                  "amount_authorized": 15500,
                  "brand": "visa",
                  "checks": {
                    "address_line1_check": null,
                    "address_postal_code_check": null,
                    "cvc_check": null
                  },
                  "country": "US",
                  "exp_month": 12,
                  "exp_year": 2023,
                  "extended_authorization": {
                    "status": "disabled"
                  },
                  "fingerprint": "ikzQiMcILaotxLpq",
                  "funding": "credit",
                  "incremental_authorization": {
                    "status": "unavailable"
                  },
                  "installments": null,
                  "last4": "4242",
                  "mandate": null,
                  "multicapture": {
                    "status": "unavailable"
                  },
                  "network": "visa",
                  "network_token": {
                    "used": false
                  },
                  "overcapture": {
                    "maximum_amount_capturable": 15500,
                    "status": "unavailable"
                  },
                  "three_d_secure": null,
                  "wallet": null
                },
                "type": "card"
              },
              "receipt_email": null,
              "receipt_number": null,
              "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xTWVGYm1LUUtpcjVxZGZNKKOCjbIGMgYJ3iz5UMU6LBauKRZo519qqAgGakU3oWF2FVTGpzjrud7N1PXZcrqXvG9NkV3W0X5nYEd8",
              "refunded": true,
              "review": null,
              "shipping": null,
              "source": null,
              "source_transfer": null,
              "statement_descriptor": null,
              "statement_descriptor_suffix": "607041590413",
              "status": "succeeded",
              "transfer_data": null,
              "transfer_group": "90"
            }
          ],
          "has_more": false,
          "url": "/v1/charges"
        }
  recorded_at: Tue, 14 May 2024 10:46:59 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/balance_transactions/txn_3Mf0eOKQKir5qdfM01GN4Q9H
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "txn_3Mf0eOKQKir5qdfM01GN4Q9H",
          "object": "balance_transaction",
          "amount": 15500,
          "available_on": 1677801600,
          "created": 1677242724,
          "currency": "usd",
          "description": "You bought https://607041590413.stripe-connect-save-card.apps.staging.gumroad.org/l/o",
          "exchange_rate": null,
          "fee": 9315,
          "fee_details": [
            {
              "amount": 8835,
              "application": "<STRIPE_CONNECT_CLIENT_ID>",
              "currency": "usd",
              "description": "Gumroad application fee",
              "type": "application_fee"
            },
            {
              "amount": 480,
              "application": null,
              "currency": "usd",
              "description": "Stripe processing fees",
              "type": "stripe_fee"
            }
          ],
          "net": 6185,
          "reporting_category": "charge",
          "source": "ch_3Mf0eOKQKir5qdfM0a39SBQE",
          "status": "available",
          "type": "charge"
        }
  recorded_at: Tue, 14 May 2024 10:46:59 GMT
recorded_with: VCR 6.2.0
