---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 474b9ea8-5372-448c-85db-79b7f49e524f
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 474b9ea8-5372-448c-85db-79b7f49e524f
      Original-Request:
      - req_iZwY6wiw2CM3zN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0QVXAR9e1RjUNIyYmaCsv9kq",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1734089783,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 13 Dec 2024 11:36:23 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0QVXAR9e1RjUNIyYmaCsv9kq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0QVXAR9e1RjUNIyYmaCsv9kq
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e9ba1043-3be8-43c3-9c2a-788d10a58675
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e9ba1043-3be8-43c3-9c2a-788d10a58675
      Original-Request:
      - req_roiNX3zReN7kY3
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_ROJoMy4zIwcvUx",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1734089786,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "9BAA9A9F",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 13 Dec 2024 11:36:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=You+bought+http%3A%2F%2Fcreator2.test.gumroad.com%3A31337%2Fl%2Fkb&metadata[purchase]=GCNaB6KFAA5mlIj83tg18g%3D%3D&transfer_group=10&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_ROJoMy4zIwcvUx&payment_method=pm_0QVXAR9e1RjUNIyYmaCsv9kq&statement_descriptor_suffix=creator2
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 28b00497-e6f9-45a9-b99a-0ae2057dca36
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 28b00497-e6f9-45a9-b99a-0ae2057dca36
      Original-Request:
      - req_HNEl4sJ1yilntX
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2QVXAV9e1RjUNIyY1bKn53X9",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2QVXAV9e1RjUNIyY1bKn53X9_secret_uSUhKkukibCDMbjd06G9lvq9c",
          "confirmation_method": "automatic",
          "created": 1734089787,
          "currency": "usd",
          "customer": "cus_ROJoMy4zIwcvUx",
          "description": "You bought http://creator2.test.gumroad.com:31337/l/kb",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2QVXAV9e1RjUNIyY1R55JuDX",
          "livemode": false,
          "metadata": {
            "purchase": "GCNaB6KFAA5mlIj83tg18g=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0QVXAR9e1RjUNIyYmaCsv9kq",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "creator2",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "10"
        }
  recorded_at: Fri, 13 Dec 2024 11:36:28 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2QVXAV9e1RjUNIyY1R55JuDX?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2QVXAV9e1RjUNIyY1R55JuDX",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2QVXAV9e1RjUNIyY1RquxRer",
            "object": "balance_transaction",
            "amount": 1000,
            "available_on": 1734393600,
            "created": 1734089787,
            "currency": "usd",
            "description": "You bought http://creator2.test.gumroad.com:31337/l/kb",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 1000,
            "reporting_category": "charge",
            "source": "ch_2QVXAV9e1RjUNIyY1R55JuDX",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD.COM/* CREATOR2",
          "captured": true,
          "created": 1734089787,
          "currency": "usd",
          "customer": "cus_ROJoMy4zIwcvUx",
          "description": "You bought http://creator2.test.gumroad.com:31337/l/kb",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "GCNaB6KFAA5mlIj83tg18g=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 62,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2QVXAV9e1RjUNIyY1bKn53X9",
          "payment_method": "pm_0QVXAR9e1RjUNIyYmaCsv9kq",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "authorization_code": null,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUovLjwugYyBpOoWMTSEDosFpKepFSiZw1Sjr1T2GYYOuykEO4cQmJbnH7O48AiTe-N1ZIkllNWh4bwb0Y",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "creator2",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "10"
        }
  recorded_at: Fri, 13 Dec 2024 11:36:28 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2QVXAV9e1RjUNIyY1R55JuDX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2QVXAV9e1RjUNIyY1R55JuDX
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 15e2da03-026a-420c-aa51-d506124734b0
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 15e2da03-026a-420c-aa51-d506124734b0
      Original-Request:
      - req_HujSC8JuQ8YgUr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2QVXAV9e1RjUNIyY1qwM6KXl",
          "object": "refund",
          "amount": 1000,
          "balance_transaction": "txn_2QVXAV9e1RjUNIyY1HlCC2gL",
          "charge": "ch_2QVXAV9e1RjUNIyY1R55JuDX",
          "created": 1734089790,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_2QVXAV9e1RjUNIyY1bKn53X9",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Fri, 13 Dec 2024 11:36:31 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2QVXAV9e1RjUNIyY1qwM6KXl?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2QVXAV9e1RjUNIyY1R55JuDX?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: O[...]
