---
http_interactions:
- request:
    method: get
    uri: https://svcnab2b.revenuquebec.ca/2019/02/ValidationTVQ/1002092821TQ0001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Gx-Temps-Execution:
      - '00:00:00.0565365'
    body:
      encoding: ASCII-8BIT
      string: '{"Resultat":{"StatutSousDossierUsager":"R","DescriptionStatut":"Regulier","DateStatut":"1992-07-01T00:00:00","NomEntreprise":"APPLE
        CANADA INC.","RaisonSociale":null},"OperationReussie":true,"MessagesFonctionnels":[],"MessagesInformatifs":[]}'
  recorded_at: Fri, 21 Jun 2024 23:56:30 GMT
recorded_with: VCR 6.2.0
