---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"UT","to_zip":"84101","shipping":0.0,"line_items":[{"quantity":1,"unit_price":1.0,"discount":0,"product_tax_code":"31000"}],"nexus_addresses":[{"country":"US","state":"UT"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 6f8d2646-460b-463b-b34a-fb4e1075d73d
      X-Amz-Apigw-Id:
      - Bt4uuFDdIAMEq-Q=
    body:
      encoding: UTF-8
      string: '{"tax":{"order_total_amount":1.0,"shipping":0.0,"taxable_amount":1.0,"amount_to_collect":0.08,"rate":0.0775,"has_nexus":true,"freight_taxable":false,"tax_source":"origin","jurisdictions":{"country":"US","state":"UT","county":"SALT
        LAKE","city":"SALT LAKE CITY"},"breakdown":{"taxable_amount":1.0,"tax_collectable":0.08,"combined_tax_rate":0.0775,"state_taxable_amount":1.0,"state_tax_rate":0.0485,"state_tax_collectable":0.05,"county_taxable_amount":1.0,"county_tax_rate":0.024,"county_tax_collectable":0.02,"city_taxable_amount":1.0,"city_tax_rate":0.005,"city_tax_collectable":0.01,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_tax_collectable":0.0,"line_items":[{"id":"1","taxable_amount":1.0,"tax_collectable":0.08,"combined_tax_rate":0.0775,"state_taxable_amount":1.0,"state_sales_tax_rate":0.0485,"state_amount":0.05,"county_taxable_amount":1.0,"county_tax_rate":0.024,"county_amount":0.02,"city_taxable_amount":1.0,"city_tax_rate":0.005,"city_amount":0.01,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_amount":0.0}]}}}'
  recorded_at: Sat, 23 Nov 2024 20:29:30 GMT
recorded_with: VCR 6.2.0
