---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"NC","to_zip":"27513","shipping":0.0,"line_items":[{"quantity":1,"unit_price":1.0,"discount":0,"product_tax_code":"31000"}],"nexus_addresses":[{"country":"US","state":"NC"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - c1e17918-f308-452a-819f-11eb968e3f9e
      X-Amz-Apigw-Id:
      - EGr8jFv_oAMEJpQ=
    body:
      encoding: UTF-8
      string: '{"tax":{"order_total_amount":1.0,"shipping":0.0,"taxable_amount":1.0,"amount_to_collect":0.07,"rate":0.0725,"has_nexus":true,"freight_taxable":true,"tax_source":"destination","jurisdictions":{"country":"US","state":"NC","county":"WAKE","city":"CARY"},"breakdown":{"taxable_amount":1.0,"tax_collectable":0.07,"combined_tax_rate":0.0725,"state_taxable_amount":1.0,"state_tax_rate":0.0475,"state_tax_collectable":0.05,"county_taxable_amount":1.0,"county_tax_rate":0.02,"county_tax_collectable":0.02,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_tax_collectable":0.0,"special_district_taxable_amount":1.0,"special_tax_rate":0.005,"special_district_tax_collectable":0.01,"shipping":{"taxable_amount":0.0,"tax_collectable":0.0,"combined_tax_rate":0.0725,"state_taxable_amount":0.0,"state_sales_tax_rate":0.0475,"state_amount":0.0,"county_taxable_amount":0.0,"county_tax_rate":0.02,"county_amount":0.0,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_amount":0.0,"special_taxable_amount":0.0,"special_tax_rate":0.005,"special_district_amount":0.0},"line_items":[{"id":"1","taxable_amount":1.0,"tax_collectable":0.07,"combined_tax_rate":0.0725,"state_taxable_amount":1.0,"state_sales_tax_rate":0.0475,"state_amount":0.05,"county_taxable_amount":1.0,"county_tax_rate":0.02,"county_amount":0.02,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_amount":0.0,"special_district_taxable_amount":1.0,"special_tax_rate":0.005,"special_district_amount":0.01}]}}}'
  recorded_at: Thu, 09 Jan 2025 05:08:57 GMT
recorded_with: VCR 6.2.0
