---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0025+0000+3155&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a6ec562f-4b12-453d-8c2c-33af2a848376
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a6ec562f-4b12-453d-8c2c-33af2a848376
      Original-Request:
      - req_kUhRa821x0YyZu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfOv9e1RjUNIyYdFQqkFTA",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "FR",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "oAfFzXbpUnAdpxWE",
            "funding": "credit",
            "generated_from": null,
            "last4": "3155",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703853777,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:42:58 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfOv9e1RjUNIyYdFQqkFTA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0OSfOv9e1RjUNIyYdFQqkFTA
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7d1da27f-0c7a-46c5-a900-72a3f365a86d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7d1da27f-0c7a-46c5-a900-72a3f365a86d
      Original-Request:
      - req_6J8PirJhYzqYyv
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDqiD8x3bdtl6",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703853778,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "CF60DDBF",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:42:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: customer=cus_PHDqiD8x3bdtl6&payment_method=pm_0OSfOv9e1RjUNIyYdFQqkFTA
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 538251be-4463-4adb-af57-1bc6c57de9c2
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 538251be-4463-4adb-af57-1bc6c57de9c2
      Original-Request:
      - req_Wnthb3SRUm1WP4
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1OSfOxKQKir5qdfMv[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=You+bought+http%3A%2F%2Fedgarc857339c157.test.gumroad.com%3A31337%2Fl%2Fp&metadata[purchase]=g3ZrTqX74bNcz0vX-MTb8g%3D%3D&transfer_group=230&payment_method_types[0]=card&payment_method=pm_1OSfOxKQKir5qdfMvcVOfJ2Y&statement_descriptor_suffix=edgarc857339c157&application_fee_amount=100
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d187bae9-0539-477e-8595-d68e5e202e6e
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d187bae9-0539-477e-8595-d68e5e202e6e
      Original-Request:
      - req_LucviOUeVPUq81
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3OSfOyKQKir5qdfM0o2W1cxq",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee_amount": 100,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3OSfOyKQKir5qdfM0o2W1cxq_secret_0sJz7D92Z4tGpaz4h0qCnoXGt",
          "confirmation_method": "automatic",
          "created": 1703853780,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarc857339c157.test.gumroad.com:31337/l/p",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchase": "g3ZrTqX74bNcz0vX-MTb8g=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1OSfOxKQKir5qdfMvcVOfJ2Y",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarc857339c157",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "230"
        }
  recorded_at: Fri, 29 Dec 2023 12:43:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3OSfOyKQKir5qdfM0o2W1cxq/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4bb0584b-8efe-4e47-9759-5c004b9316dc
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
  response:
    status:
      code: 200
  [...]
