---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1RuM4VPSKqtlYPhZXaTNDk8R",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 8,
            "exp_year": 2026,
            "fingerprint": "173qhkAqTEhqfsgJ",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1754781667,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sat, 09 Aug 2025 23:21:07 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1RuM4VPSKqtlYPhZXaTNDk8R
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_1RuM4VPSKqtlYPhZXaTNDk8R
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Sq28rffYYmsuzQ",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1754781667,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "IOLNLGQS",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 09 Aug 2025 23:21:08 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1RuM4WPSKqtlYPhZLjyQ86sp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgarb7bf922e10.test.gumroad.com%3A31337%2Fl%2Fd%21&metadata[purchase]=4awXaQAbKr4Add_Ex8KkmQ%3D%3D&transfer_group=13&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_Sq28caQHkvMKnZ&payment_method=pm_1RuM4WPSKqtlYPhZLjyQ86sp&statement_descriptor_suffix=edgarb7bf922e10
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3RuM4YPSKqtlYPhZ0XqHkbk5",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3RuM4YPSKqtlYPhZ0XqHkbk5_secret_wZh2NyQLVqX8IbLYupuEm6fa8",
          "confirmation_method": "automatic",
          "created": 1754781670,
          "currency": "usd",
          "customer": "cus_Sq28caQHkvMKnZ",
          "description": "You bought http://edgarb7bf922e10.test.gumroad.com:31337/l/d!",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3RuM4YPSKqtlYPhZ0jybbA90",
          "livemode": false,
          "metadata": {
            "purchase": "4awXaQAbKr4Add_Ex8KkmQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1RuM4WPSKqtlYPhZLjyQ86sp",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarb7bf922e10",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "13"
        }
  recorded_at: Sat, 09 Aug 2025 23:21:11 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3RuM4YPSKqtlYPhZ0jybbA90?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3RuM4YPSKqtlYPhZ0jybbA90",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3RuM4YPSKqtlYPhZ0FXf5fnA",
            "object": "balance_transaction",
            "amount": 84,
            "available_on": 1755302400,
            "balance_type": "payments",
            "created": 1754781670,
            "currency": "eur",
            "description": "You bought http://edgarb7bf922e10.test.gumroad.com:31337/l/d!",
            "exchange_rate": 0.841448,
            "fee": 28,
            "fee_details": [
              {
                "amount": 28,
                "application": null,
                "currency": "eur",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 56,
            "reporting_category": "charge",
            "source": "ch_3RuM4YPSKqtlYPhZ0jybbA90",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGARB7BF922E1",
          "captured": true,
          "created": 1754781670,
          "currency": "usd",
          "customer": "cus_Sq28caQHkvMKnZ",
          "description": "You bought http://edgarb7bf922e10.test.gumroad.com:31337/l/d!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "4awXaQAbKr4Add_Ex8KkmQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 27,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3RuM4YPSKqtlYPhZ0XqHkbk5",
          "payment_method": "pm_1RuM4WPSKqtlYPhZLjyQ86sp",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "authorization_code": "731185",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 8,
              "exp_year": 2026,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "173qhkAqTEhqfsgJ",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "495551113104107",
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xUnVIWVFQU0txdGxZUGhaKOev38QGMgbMARW8aaY6LBZdCPuixF4oalpFvecakUCME_HWPKS_yc_YSv63UP95vYutusvgqs_M5-4e",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarb7bf922e10",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "13"
        }
  recorded_at: Sat, 09 Aug 2025 23:21:11 GMT
recorded_with: VCR 6.2.0
