---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/an-invalid-charge-id?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such charge: 'an-invalid-charge-id'",
            "param": "id",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_e3KZSVMtnuSfox?t=1698683918",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 30 Oct 2023 16:38:38 GMT
recorded_with: VCR 6.2.0
