---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"WI","to_zip":"53703","shipping":0.0,"line_items":[{"quantity":1,"unit_price":10.0,"discount":0,"product_tax_code":"31000"}],"nexus_addresses":[{"country":"US","state":"WI"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - b3d4a176-aad5-42fa-b449-601c922fccbe
      X-Amz-Apigw-Id:
      - RF5h4GaQoAMEBTw=
    body:
      encoding: UTF-8
      string: '{"tax":{"rate":0.055,"freight_taxable":true,"tax_source":"destination","shipping":0.0,"taxable_amount":10.0,"jurisdictions":{"state":"WI","city":"MADISON","country":"US","county":"DANE
        COUNTY"},"breakdown":{"line_items":[{"id":"1","tax_collectable":0.55,"taxable_amount":10.0,"combined_tax_rate":0.055,"state_taxable_amount":10.0,"county_taxable_amount":10.0,"city_taxable_amount":0.0,"special_district_taxable_amount":0.0,"city_tax_rate":0.0,"county_tax_rate":0.005,"special_tax_rate":0.0,"special_district_amount":0.0,"city_amount":0.0,"county_amount":0.05,"state_amount":0.5,"state_sales_tax_rate":0.05}],"shipping":{"tax_collectable":0.0,"taxable_amount":0.0,"combined_tax_rate":0.055,"state_taxable_amount":0.0,"county_taxable_amount":0.0,"city_taxable_amount":0.0,"city_tax_rate":0.0,"county_tax_rate":0.005,"special_tax_rate":0.0,"special_district_amount":0.0,"special_taxable_amount":0.0,"city_amount":0.0,"county_amount":0.0,"state_amount":0.0,"state_sales_tax_rate":0.05},"tax_collectable":0.55,"taxable_amount":10.0,"combined_tax_rate":0.055,"state_taxable_amount":10.0,"state_tax_collectable":0.5,"county_taxable_amount":10.0,"county_tax_collectable":0.05,"city_taxable_amount":0.0,"city_tax_collectable":0.0,"special_district_taxable_amount":0.0,"special_district_tax_collectable":0.0,"city_tax_rate":0.0,"county_tax_rate":0.005,"special_tax_rate":0.0,"state_tax_rate":0.05},"has_nexus":true,"amount_to_collect":0.55,"order_total_amount":10.0}}'
  recorded_at: Thu, 18 Sep 2025 09:51:07 GMT
[...]
