---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"WI","to_zip":"53703","shipping":0.0,"line_items":[{"quantity":1,"unit_price":100.0,"discount":0,"product_tax_code":null}],"nexus_addresses":[{"country":"US","state":"WI"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - f5d6ad5e-b088-415f-8b09-2a976b9ee08a
      X-Amz-Apigw-Id:
      - RF58AE1XIAMEm8w=
    body:
      encoding: UTF-8
      string: '{"tax":{"rate":0.055,"freight_taxable":true,"tax_source":"destination","shipping":0.0,"taxable_amount":100.0,"jurisdictions":{"state":"WI","city":"MADISON","country":"US","county":"DANE
        COUNTY"},"breakdown":{"line_items":[{"id":"1","tax_collectable":5.5,"taxable_amount":100.0,"combined_tax_rate":0.055,"state_taxable_amount":100.0,"county_taxable_amount":100.0,"city_taxable_amount":0.0,"special_district_taxable_amount":0.0,"city_tax_rate":0.0,"county_tax_rate":0.005,"special_tax_rate":0.0,"special_district_amount":0.0,"city_amount":0.0,"county_amount":0.5,"state_amount":5.0,"state_sales_tax_rate":0.05}],"shipping":{"tax_collectable":0.0,"taxable_amount":0.0,"combined_tax_rate":0.055,"state_taxable_amount":0.0,"county_taxable_amount":0.0,"city_taxable_amount":0.0,"city_tax_rate":0.0,"county_tax_rate":0.005,"special_tax_rate":0.0,"special_district_amount":0.0,"special_taxable_amount":0.0,"city_amount":0.0,"county_amount":0.0,"state_amount":0.0,"state_sales_tax_rate":0.05},"tax_collectable":5.5,"taxable_amount":100.0,"combined_tax_rate":0.055,"state_taxable_amount":100.0,"state_tax_collectable":5.0,"county_taxable_amount":100.0,"county_tax_collectable":0.5,"city_taxable_amount":0.0,"city_tax_collectable":0.0,"special_district_taxable_amount":0.0,"special_district_tax_collectable":0.0,"city_tax_rate":0.0,"county_tax_rate":0.005,"special_tax_rate":0.0,"state_tax_rate":0.05},"has_nexus":true,"amount_to_collect":5.5,"order_total_amount":100.0}}'
  recorded_at: Thu, 18 Sep 2025 09:53:54 GMT
recorded_with: VCR 6.2.0
