---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6134fa10-f8bc-459b-9551-a4a3b88df3e1
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6134fa10-f8bc-459b-9551-a4a3b88df3e1
      Original-Request:
      - req_cuS1B7qShzTvRW
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SOefBIBOqvOFDrfFuumAgvJ",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 11,
            "exp_year": 2026,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1762002973,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sat, 01 Nov 2025 13:16:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SOefBIBOqvOFDrfFuumAgvJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=5713&email=edgar03b9cf5a_4%40gumroad.com&payment_method=pm_1SOefBIBOqvOFDrfFuumAgvJ
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d7d0e285-28d4-4dcb-b669-e94cabe825c2
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d7d0e285-28d4-4dcb-b669-e94cabe825c2
      Original-Request:
      - req_aAMhtsjNG3rEyk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TLLLGeJfQJz1H9",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1762002974,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "5713",
          "discount": null,
          "email": "edgar03b9cf5a_4@gumroad.com",
          "invoice_prefix": "L4J6KNZ8",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 01 Nov 2025 13:16:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=599&currency=usd&description=You+bought+http%3A%2F%2Fedgarab5eb8a43.test.gumroad.com%3A31337%2Fl%2Fg%21&metadata[purchase]=IZX6GepDNKkoppB8-ttt7g%3D%3D&transfer_group=4244&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_TLLLGeJfQJz1H9&payment_method=pm_1SOefBIBOqvOFDrfFuumAgvJ&statement_descriptor_suffix=edgarab5eb8a43
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 72776ca3-024b-45e7-855a-297ff1d87bac
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 72776ca3-024b-45e7-855a-297ff1d87bac
      Original-Request:
      - req_ifthzzKmXfJfHE
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SOefEIBOqvOFDrf1sqxHE7D",
          "object": "payment_intent",
          "amount": 599,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 599,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SOefEIBOqvOFDrf1sqxHE7D_secret_xkRIy4zV3elihXUE28mBjwGOM",
          "confirmation_method": "automatic",
          "created": 1762002976,
          "currency": "usd",
          "customer": "cus_TLLLGeJfQJz1H9",
          "description": "You bought http://edgarab5eb8a43.test.gumroad.com:31337/l/g!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SOefEIBOqvOFDrf1rZsy1AS",
          "livemode": false,
          "metadata": {
            "purchase": "IZX6GepDNKkoppB8-ttt7g=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SOefBIBOqvOFDrfFuumAgvJ",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarab5eb8a43",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "4244"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SOefEIBOqvOFDrf1rZsy1AS?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SOefEIBOqvOFDrf1rZsy1AS",
          "object": "charge",
          "amount": 599,
          "amount_captured": 599,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SOefEIBOqvOFDrf1N8rCNrq",
            "object": "balance_transaction",
            "amount": 599,
            "available_on": 1762560000,
            "balance_type": "payments",
            "created": 1762002976,
            "currency": "usd",
            "description": "You bought http://edgarab5eb8a43.test.gumroad.com:31337/l/g!",
            "exchange_rate": null,
            "fee": 47,
            "fee_details": [
              {
                "amount": 47,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 552,
            "reporting_category": "charge",
            "source": "ch_3SOefEIBOqvOFDrf1rZsy1AS",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGARAB5EB8A43",
          "captured": true,
          "created": 1762002976,
          "currency": "usd",
          "customer": "cus_TLLLGeJfQJz1H9",
          "description": "You bought http://edgarab5eb8a43.test.gumroad.com:31337/l/g!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "IZX6GepDNKkoppB8-ttt7g=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 44,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SOefEIBOqvOFDrf1sqxHE7D",
          "payment_method": "pm_1SOefBIBOqvOFDrfFuumAgvJ",
          "payment_method_details": {
            "card": {
              "amount_authorized": 599,
              "authorization_code": "661535",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 11,
              "exp_year": 2026,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 599,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKKGQmMgGMgaaxzOopQ86LBbbAUAKiSLzE_4JvLbpATdxJF7ZvDyvfmryeB0Q44WJEOgjvieGWp3psAVy",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarab5eb8a43",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "4244"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SOefGIBOqvOFDrfYiFkvOOu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_visa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1SOefHIBOqvOFDrfnE33AkZP",
          "object": "token",
          "card": {
            "id": "card_1SOefHIBOqvOFDrfmFf2rPXA",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "currency": "usd",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "email": null,
            "exp_month": 11,
            "exp_year": 2026,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "networks": {
              "preferred": null
            },
            "phone": null,
            "regulated_status": "unregulated",
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": null,
          "created": 1762002979,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 01 May 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_1SOefHIBOqvOFDrfnE33AkZP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - [...]
[...]
