---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ca99b96b-9646-4e07-84de-b42df1422ddc
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ca99b96b-9646-4e07-84de-b42df1422ddc
      Original-Request:
      - req_q0qlEG86XoIvAr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0S94aG9e1RjUNIyY6tHw2qdt",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1758289364,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 19 Sep 2025 13:42:44 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0S94aG9e1RjUNIyY6tHw2qdt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar281446c05.test.gumroad.com%3A31337%2Fl%2Fw%21&metadata[purchase]=purwctexi6K8Ov4lIAIL6w%3D%3D&transfer_group=1964&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0S94aG9e1RjUNIyY6tHw2qdt&statement_descriptor_suffix=edgar281446c05
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0d4a20f8-94e7-4968-a3e7-2d2ec1dfafd9
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0d4a20f8-94e7-4968-a3e7-2d2ec1dfafd9
      Original-Request:
      - req_QnesfQjZL6C2tx
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2S94aH9e1RjUNIyY0N3J30uq",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2S94aH9e1RjUNIyY0N3J30uq_secret_Y9Bu4ZECZ1r7TpSIr31DldBjD",
          "confirmation_method": "automatic",
          "created": 1758289365,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar281446c05.test.gumroad.com:31337/l/w!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2S94aH9e1RjUNIyY0w1JEmXa",
          "livemode": false,
          "metadata": {
            "purchase": "purwctexi6K8Ov4lIAIL6w=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0S94aG9e1RjUNIyY6tHw2qdt",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar281446c05",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1964"
        }
  recorded_at: Fri, 19 Sep 2025 13:42:46 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2S94aH9e1RjUNIyY0w1JEmXa?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2S94aH9e1RjUNIyY0w1JEmXa",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2S94aH9e1RjUNIyY0rZH4ITP",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1758585600,
            "balance_type": "payments",
            "created": 1758289365,
            "currency": "usd",
            "description": "You bought http://edgar281446c05.test.gumroad.com:31337/l/w!",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 100,
            "reporting_category": "charge",
            "source": "ch_2S94aH9e1RjUNIyY0w1JEmXa",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGAR281446C0",
          "captured": true,
          "created": 1758289365,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar281446c05.test.gumroad.com:31337/l/w!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "purwctexi6K8Ov4lIAIL6w=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 4,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2S94aH9e1RjUNIyY0N3J30uq",
          "payment_method": "pm_0S94aG9e1RjUNIyY6tHw2qdt",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "authorization_code": "507215",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "875457497450891",
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo1ru1xgYyBqlxp1cQcDosFgFC_-d9kEUlnQjDaffmdtB4_ypy9h-KllSWNC2rYCvwMxHC0W_NzG38gV8",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar281446c05",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1964"
        }
  recorded_at: Fri, 19 Sep 2025 13:42:46 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0S94aJ9e1RjUNIyYqNKbAkdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0S94aJ9e1RjUNIyYqNKbAkdc
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 23c47b16-6c65-452f-8a8b-bb00a82fff1b
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 23c47b16-6c65-452f-8a8b-bb00a82fff1b
      Original-Request:
      - req_nWDEFaeWVWrWQh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_T5F4FnY0Xw5pQs",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1758289368,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "DHIANIVD",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 19 Sep 2025 13:42:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: customer=cus_T5F4FnY0Xw5pQs&payment_method=pm_0S94aJ9e1RjUNIyYqNKbAkdc
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7acbdf91-2cbe-4c49-84b9-fe48dbf387f5
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7acbdf91-2cbe-4c49-84b9-fe48dbf387f5
      Original-Request:
      - req_TFz3eklARcI0UW
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      str[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3S94aLCOxuflorGu16G9vsbq?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3S94aLCOxuflorGu16G9vsbq",
          "object": "charge",
          "amount": 2500,
          "amount_captured": 2500,
          "amount_refunded": 0,
          "application": "ca_42fpqGTJ6VQbAkyhmnG4BLS1vq0slNN4",
          "application_fee": {
            "id": "fee_1S94aMCOxuflorGuNlFRnmoq",
            "object": "application_fee",
            "account": "acct_1MFA1rCOxuflorGu",
            "amount": 300,
            "amount_refunded": 0,
            "application": "ca_42fpqGTJ6VQbAkyhmnG4BLS1vq0slNN4",
            "balance_transaction": {
              "id": "txn_0S94aN9e1RjUNIyYXIXL3eoi",
              "object": "balance_transaction",
              "amount": 300,
              "available_on": 1758844800,
              "balance_type": "payments",
              "created": 1758289370,
              "currency": "usd",
              "description": "Application fee from application Gumroad for acct_1MFA1rCOxuflorGu (acct_1MFA1rCOxuflorGu)",
              "exchange_rate": 1.25969,
              "fee": 0,
              "fee_details": [],
              "net": 300,
              "reporting_category": "platform_earning",
              "source": "fee_1S94aMCOxuflorGuNlFRnmoq",
              "status": "pending",
              "type": "application_fee"
            },
            "charge": "ch_3S94aLCOxuflorGu16G9vsbq",
            "created": 1758289370,
            "currency": "usd",
            "fee_source": {
              "charge": "ch_3S94aLCOxuflorGu16G9vsbq",
              "type": "charge"
            },
            "livemode": false,
            "originating_transaction": null,
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/application_fees/fee_1S94aMCOxuflorGuNlFRnmoq/refunds"
            }
          },
          "application_fee_amount": 300,
          "balance_transaction": {
            "id": "txn_3S94aLCOxuflorGu1kNQ7dJ1",
            "object": "balance_transaction",
            "amount": 3149,
            "available_on": 1758844800,
            "balance_type": "payments",
            "created": 1758289370,
            "currency": "sgd",
            "description": "You bought http://edgar281446c05.test.g[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3S94aLCOxuflorGu16G9vsbq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3S94aLCOxuflorGu16G9vsbq&refund_application_fee=false
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 35bb4136-69b4-4e96-a118-6c4bc89713d7
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 35bb4136-69b4-4e96-a118-6c4bc89713d7
      Original-Request:
      - req_zj4gAt5jj2hHlJ
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3S94aLCOxuflorGu17SD72Ro",
          "object": "refund",
          "amount": 2500,
          "balance_transaction": "txn_3S94aLCOxuflorGu1rZsOaMo",
          "charge": "ch_3S94aLCOxuflorGu16G9vsbq",
          "created": 1758289373,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_3S94aLCOxuflorGu1jfDI2WQ",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Fri, 19 Sep 2025 13:42:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_3S94aLCOxuflorGu17SD72Ro?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    head[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3S94aLCOxuflorGu16G9vsbq?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  re[...]
