---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2NJ2gI9e1RjUNIyY05mygCqr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2NJ2gI9e1RjUNIyY05mygCqr",
          "object": "transfer",
          "amount": 3454,
          "amount_reversed": 1000,
          "balance_transaction": "txn_2NJ2gI9e1RjUNIyY0cOaCEse",
          "created": 1686783651,
          "currency": "usd",
          "description": null,
          "destination": "acct_1MdawPS4gcql7bLm",
          "destination_payment": "py_1NJ2gJS4gcql7bLmn4QCddUY",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [
              {
                "id": "trr_0O4yJe9e1RjUNIyYof5m9VWk",
                "object": "transfer_reversal",
                "amount": 1000,
                "balance_transaction": "txn_0O4yJe9e1RjUNIyYekArzM1K",
                "created": 1698206614,
                "currency": "usd",
                "destination_payment_refund": "pyr_1O4yJdS4gcql7bLmdrtW3bdN",
                "metadata": {},
                "source_refund": null,
                "transfer": "tr_2NJ2gI9e1RjUNIyY05mygCqr"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/transfers/tr_2NJ2gI9e1RjUNIyY05mygCqr/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_2NJ2gI9e1RjUNIyY0ANYbwt0",
          "source_type": "card",
          "transfer_group": "183468"
        }
  recorded_at: Mon, 30 Oct 2023 16:58:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers/tr_2NJ2gI9e1RjUNIyY05mygCqr/reversals
    body:
      encoding: UTF-8
      string: amount=1000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e835473f-e4c9-497f-9999-fbfb79561635
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e835473f-e4c9-497f-9999-fbfb79561635
      Original-Request:
      - req_zKJaplj8vKO2cQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "trr_0O6yng9e1RjUNIyYZhWyzyls",
          "object": "transfer_reversal",
          "amount": 1000,
          "balance_transaction": "txn_0O6yng9e1RjUNIyY4DGUU1nk",
          "created": 1698685132,
          "currency": "usd",
          "destination_payment_refund": "pyr_1O6yngS4gcql7bLmENz0m5WZ",
          "metadata": {},
          "source_refund": null,
          "transfer": "tr_2NJ2gI9e1RjUNIyY05mygCqr"
        }
  recorded_at: Mon, 30 Oct 2023 16:58:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/pyr_1O6yngS4gcql7bLmENz0m5WZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MdawPS4gcql7bLm
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MdawPS4gcql7bLm
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pyr_1O6yngS4gcql7bLmENz0m5WZ",
          "object": "refund",
          "amount": 1000,
          "balance_transaction": "txn_1O6yngS4gcql7bLm6WyXIz23",
          "charge": "py_1NJ2gJS4gcql7bLmn4QCddUY",
          "created": 1698685132,
          "currency": "usd",
          "metadata": {},
          "payment_intent": null,
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": "trr_0O6yng9e1RjUNIyYZhWyzyls",
          "status": "succeeded",
          "transfer_reversal": "trr_0O6yng9e1RjUNIyYZhWyzyls"
        }
  recorded_at: Mon, 30 Oct 2023 16:58:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/balance_transactions/txn_1O6yngS4gcql7bLm6WyXIz23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MdawPS4gcql7bLm
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MdawPS4gcql7bLm
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "txn_1O6yngS4gcql7bLm6WyXIz23",
          "object": "balance_transaction",
          "amount": -1000,
          "available_on": 1698685132,
          "created": 1698685132,
          "currency": "usd",
          "description": "REFUND FOR PAYMENT",
          "exchange_rate": null,
          "fee": 0,
          "fee_details": [],
          "net": -1000,
          "reporting_category": "refund",
          "source": "pyr_1O6yngS4gcql7bLmENz0m5WZ",
          "status": "available",
          "type": "payment_refund"
        }
  recorded_at: Mon, 30 Oct 2023 16:58:53 GMT
recorded_with: VCR 6.2.0
