---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers?created%5Blt%5D=1686182400&destination=acct_1MdawPS4gcql7bLm&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "tr_2NGFam9e1RjUNIyY0ZK2wWHK",
              "object": "transfer",
              "amount": 841,
              "amount_reversed": 0,
              "balance_transaction": "txn_2NGFam9e1RjUNIyY0iFgvzhk",
              "created": 1686118297,
              "currency": "usd",
              "description": null,
              "destination": "acct_1MdawPS4gcql7bLm",
              "destination_payment": "py_1NGFanS4gcql7bLmBTAwpVlO",
              "livemode": false,
              "metadata": {},
              "reversals": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/transfers/tr_2NGFam9e1RjUNIyY0ZK2wWHK/reversals"
              },
              "reversed": false,
              "source_transaction": "ch_2NGFam9e1RjUNIyY0huMIRjt",
              "source_type": "card",
              "transfer_group": "180953"
            },
            {
              "id": "tr_2NGFZR9e1RjUNIyY1tq3dfMR",
              "object": "transfer",
              "amount": 841,
              "amount_reversed": 0,
              "balance_transaction": "txn_2NGFZR9e1RjUNIyY1JRYOkL9",
              "created": 1686118214,
              "currency": "usd",
              "description": null,
              "destination": "acct_1MdawPS4gcql7bLm",
              "destination_payment": "py_1NGFZSS4gcql7bLmeYWdc6nn",
             [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers/tr_2N91qf9e1RjUNIyY0ONPodmq/reversals
    body:
      encoding: UTF-8
      string: amount=1000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 70616720-76a6-416e-8e96-b2df5393042e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 70616720-76a6-416e-8e96-b2df5393042e
      Original-Request:
      - req_Exdrch5lxEG2FT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "trr_0O6ynk9e1RjUNIyYCVl3lO83",
          "object": "transfer_reversal",
          "amount": 1000,
          "balance_transaction": "txn_0O6ynk9e1RjUNIyY19vZxjeN",
          "created": 1698685136,
          "currency": "usd",
          "destination_payment_refund": "pyr_1O6ynjS4gcql7bLmySnMMdxk",
          "metadata": {},
          "source_refund": null,
          "transfer": "tr_2N91qf9e1RjUNIyY0ONPodmq"
        }
  recorded_at: Fri, 06 Oct 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/pyr_1O6ynjS4gcql7bLmySnMMdxk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MdawPS4gcql7bLm
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MdawPS4gcql7bLm
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pyr_1O6ynjS4gcql7bLmySnMMdxk",
          "object": "refund",
          "amount": 1000,
          "balance_transaction": "txn_1O6ynkS4gcql7bLmoA3ab9iU",
          "charge": "py_1N91qgS4gcql7bLmKFnyaT14",
          "created": 1698685135,
          "currency": "usd",
          "metadata": {},
          "payment_intent": null,
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": "trr_0O6ynk9e1RjUNIyYCVl3lO83",
          "status": "succeeded",
          "transfer_reversal": "trr_0O6ynk9e1RjUNIyYCVl3lO83"
        }
  recorded_at: Fri, 06 Oct 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/balance_transactions/txn_1O6ynkS4gcql7bLmoA3ab9iU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MdawPS4gcql7bLm
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MdawPS4gcql7bLm
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "txn_1O6ynkS4gcql7bLmoA3ab9iU",
          "object": "balance_transaction",
          "amount": -1000,
          "available_on": 1698685135,
          "created": 1698685135,
          "currency": "usd",
          "description": "REFUND FOR PAYMENT",
          "exchange_rate": null,
          "fee": 0,
          "fee_details": [],
          "net": -1000,
          "reporting_category": "refund",
          "source": "pyr_1O6ynjS4gcql7bLmySnMMdxk",
          "status": "available",
          "type": "payment_refund"
        }
  recorded_at: Fri, 06 Oct 2023 00:00:00 GMT
recorded_with: VCR 6.2.0
