---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=1841457737661&metadata[tos_agreement_id]=BhOHgwVyg1_-bYvQzyjpaA%3D%3D&metadata[user_compliance_info_id]=BXQa0Dr2OP6nH6zg1EDAIg%3D%3D&tos_acceptance[date]=1703496991&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=edgar59bb9b33_443%40gumroad.com&individual[phone]=0000000000&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=California&individual[address][postal_code]=94107&individual[address][country]=US&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[id_number]=000000000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f6cecdb4-e318-4bb5-856e-784b59dbaff8
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f6cecdb4-e318-4bb5-856e-784b59dbaff8
      Original-Request:
      - req_IjQmpDz6IMYoy1
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1ORAaJS4XvYsfQDl",
          "object": "account",
          "business_profile": {
            "mcc": "5192",
            "name": null,
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "pending"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "US",
          "created": 1703496992,
          "default_currency": "usd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1ORAaJS4XvYsfQDl/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1712084400,
            "currently_due": [
              "external_account",
              "individual.phone"
            ],
            "disabled_reason": null,
            "errors": [
              {
                "code": "invalid_phone_number",
                "reason": "This phone number has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                "requirement": "individual.phone"
              }
            ],
            "eventually_due": [
              "external_account",
              "individual.phone"
            ],
            "past_due": [
              "external_account"
            ],
            "pending_verification": [
              "business_profile.url",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "individual": {
            "id": "person_1ORAaJS4XvYsfQDl7LHdZU8k",
            "object": "person",
            "account": "acct_1ORAaJS4XvYsfQDl",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "created": 1703496992,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "edgar59bb9b33_443@gumroad.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [
                "phone"
              ],
              "errors": [
                {
                  "code": "invalid_phone_number",
                  "reason": "This phone number has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                  "requirement": "phone"
                }
              ],
              "eventually_due": [
                "phone"
              ],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "pending"
            }
          },
          "metadata": {
            "tos_agreement_id": "BhOHgwVyg1_-bYvQzyjpaA==",
            "user_compliance_info_id": "BXQa0Dr2OP6nH6zg1EDAIg==",
            "user_id": "1841457737661"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "external_account"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [],
            "eventually_due": [
              "external_account"
            ],
            "past_due": [
              "external_account"
            ],
            "pending_verification": [
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "VIPUL.GUMR",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "vipul.gumroad",
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "VIPUL.GUMROAD.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1703496991,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Mon, 25 Dec 2023 09:36:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1ORAaJS4XvYsfQDl/persons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ORAaJS4XvYsfQDl
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "person_1ORAaJS4XvYsfQDl7LHdZU8k",
              "object": "person",
              "account": "acct_1ORAaJS4XvYsfQDl",
              "additional_tos_acceptances": {
                "account": {
                  "date": null,
                  "ip": null,
                  "user_agent": null
                }
              },
              "address": {
                "city": "San Francisco",
                "country": "US",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "94107",
                "state": "California"
              },
              "created": 1703496992,
              "dob": {
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1ORAaJS4XvYsfQDl/persons/person_1ORAaJS4XvYsfQDl7LHdZU8k
    body:
      encoding: UTF-8
      string: verification[document][front]=file_identity_document_success
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 33bb69f5-0070-4086-8e2b-614d3caa4885
      Stripe-Version:
      - '2023-10-16'
  response:
    stat[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1ORAaJS4XvYsfQDl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ORAaJS4XvYsfQDl
      Stripe-Ver[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 68568dda-6540-4a63-b096-5c438972fbad
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 68568dda-6540-4a63-b096-5c438972fbad
      Original-Request:
      - req_vfdulVO3Q5AvcT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0ORAaa9e1RjUNIyYJAh1wOyE",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703497008,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 25 Dec 2023 09:36:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0ORAaa9e1RjUNIyYJAh1wOyE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0ORAaa9e1RjUNIyYJAh1wOyE
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9cb9c408-f101-4345-9a58-606680d64828
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9cb9c408-f101-4345-9a58-606680d64828
      Original-Request:
      - req_SiRz8NRqqV2DRd
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PFfwCl6dbFsecY",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703497009,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "D9B2F275",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 25 Dec 2023 09:36:49 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar31dc0f0a140.test.gumroad.com%3A31337%2Fl%2Fn&metadata[purchase]=MrOjtlkZKqLIvNWMogjwEg%3D%3D&transfer_group=139&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PFfwNnmL0Whx7j&payment_method=pm_1ORAacCOxuflorGukwqtwkRt&statement_descriptor_suffix=edgar31dc0f0a140&application_fee_amount=25
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8603c782-3ab0-45ab-8a53-d3eecac5962e
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8603c782-3ab0-45ab-8a53-d3eecac5962e
      Original-Request:
      - req_q4hZ7JQ4x9fPuJ
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3ORAadCOxuflorGu0EXDrITZ",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee_amount": 25,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3ORAadCOxuflorGu0EXDrITZ_secret_MV1Vr98bzHh832gNISTNNPOiN",
          "confirmation_method": "automatic",
          "created": 1703497011,
          "currency": "usd",
          "customer": "cus_PFfwNnmL0Whx7j",
          "description": "You bought http://edgar31dc0f0a140.test.gumroad.com:31337/l/n",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3ORAadCOxuflorGu0fUPQhT0",
          "livemode": false,
          "metadata": {
            "purchase": "MrOjtlkZKqLIvNWMogjwEg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1ORAacCOxuflorGukwqtwkRt",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar31dc0f0a140",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "139"
        }
  recorded_at: Mon, 25 Dec 2023 09:36:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3ORAadCOxuflorGu0fUPQhT0?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3ORAadCOxuflorGu0fUPQhT0",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": {
            "id": "fee_1ORAadCOxuflorGuZCp22Opd",
            "object": "application_fee",
            "account": "acct_1MFA1rCOxuflorGu",
            "amount": 25,
            "amount_refunded": 0,
            "application": "<STRIPE_CONNECT_CLIENT_ID>",
            "balance_transaction": {
              "id": "txn_0ORAae9e1RjUNIyYoXGHwFyD",
              "object": "balance_transaction",
              "amount": 25,
              "available_on": 1704067200,
              "created": 1703497011,
              "currency": "usd",
              "description": "Application fee from application Gumroad for acct_1MFA1rCOxuflorGu (acct_1MFA1rCOxuflorGu)",
              "exchange_rate": 1.29726,
              "fee": 0,
              "fee_details": [],
              "net": 25,
              "reporting_category": "platform_earning",
              "source": "fee_1ORAadCOxuflorGuZCp22Opd",
              "status": "pending",
              "type": "application_fee"
            },
            "charge": "ch_3ORAadCOxuflorGu0fUPQhT0",
            "created": 1703497011,
            "currency": "usd",
            "livemode": false,
            "originating_transaction": null,
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/application_fees/fee_1ORAadCOxuflorGuZCp22Opd/refunds"
            }
          },
          "application_fee_amount": 25,
          "balance_transaction": {
            "id": "txn_3ORAadCOxuflorGu0uDYeDA0",
            "object": "balance_transaction",
            "amount": 130,
            "available_on": 1704067200,
            "created": 170349[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3ORAadCOxuflorGu0fUPQhT0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3ORAadCOxuflorGu0fUPQhT0",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": "fee_1ORAadCOxuflorGuZCp22Opd",
          "application_fee_amount": 25,
          "balance_transaction": "txn_3ORAadCOxuflorGu0uDYeDA0",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR31DC0F",
          "captured": true,
          "created": 1703497011,
          "currency": "usd",
          "customer": "cus_PFfwNnmL0Whx7j",
          "description": "You bought http://edgar31dc0f0a140.test.gumroad.com:31337/l/n",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "MrOjtlkZKqLIvNWMogjwEg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 48,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3ORAadCOxuflorGu0EXDrITZ",
          "payment_method": "pm_1ORAacCOxuflorGukwqtwkRt",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "ikzQiMcILaotxLpq",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xTUZBMXJDT3h1Zmxvckd1KLWapawGMgbdYbhUBss6LBZcwA0gInZyAd_UphrgRL7_hGmp5o8zcuzOBtgdVL6rDwKUEHnd9UlnC5nn",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar31dc0f0a140",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "139"
        }
  recorded_at: Mon, 25 Dec 2023 09:36:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3ORAadCOxuflorGu0fUPQhT0&refund_application_fee=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9c4694eb-7eed-408e-926f-e1c441ba5a2b
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9c4694eb-7eed-408e-926f-e1c441ba5a2b
      Original-Request:
      - req_epLl1nDDUKcL3W
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3ORAadCOxuflorGu00C7BJ8m",
          "object": "refund",
          "amount": 100,
          "balance_transaction": "txn_3ORAadCOxuflorGu0Jmh1mDx",
          "charge": "ch_3ORAadCOxuflorGu0fUPQhT0",
          "created": 1703497013,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_3ORAadCOxuflorGu0EXDrITZ",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Mon, 25 Dec 2023 09:36:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_3ORAadCOxuflorGu00C7BJ8m?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3ORAadCOxuflorGu0fUPQhT0?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      co[...]
