---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000+0566+5566+5556&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123&card[currency]=usd
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 267f8d9c-16cf-4207-bba1-9f41fb05360b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 267f8d9c-16cf-4207-bba1-9f41fb05360b
      Original-Request:
      - req_CYQDXFAlx7jySw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_0O7Ny89e1RjUNIyYyTUKDcHr",
          "object": "token",
          "card": {
            "id": "card_0O7Ny89e1RjUNIyY6BuwpW3C",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "currency": "usd",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "5IdckE5bfj42lL1I",
            "funding": "debit",
            "last4": "5556",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": "49.36.35.35",
          "created": 1698781880,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 31 Oct 2023 19:51:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_0O7Ny89e1RjUNIyYyTUKDcHr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&card=tok_0O7Ny89e1RjUNIyYyTUKDcHr&expand[0]=sources
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 71115d67-928e-4196-bfc9-65884aef50e7
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 71115d67-928e-4196-bfc9-65884aef50e7
      Original-Request:
      - req_xrlTeUL85gxqah
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OvERWPZbs9b40M",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698781880,
          "currency": null,
          "default_source": "card_0O7Ny89e1RjUNIyY6BuwpW3C",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "86A4C6E7",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_0O7Ny89e1RjUNIyY6BuwpW3C",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_OvERWPZbs9b40M",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2023,
                "fingerprint": "5IdckE5bfj42lL1I",
                "funding": "debit",
                "last4": "5556",
                "metadata": {},
                "name": null,
                "tokenization_method": null,
                "wallet": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_OvERWPZbs9b40M/sources"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 31 Oct 2023 19:51:21 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_0O7Ny99e1RjUNIyYkZuNNJtl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=6&metadata[tos_agreement_id]=HUtSNFosobj2KKPPiEtcBg%3D%3D&metadata[user_compliance_info_id]=c7UXbygNdqnD7YkH0fftfQ%3D%3D&tos_acceptance[date]=1698781882&tos_acceptance[ip]=0.0.0.0&business_type=individual&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=&individual[email]=seller%40example.com&individual[address][country]=US
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d175f58d-bc35-4038-9852-e783f256adcd
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d175f58d-bc35-4038-9852-e783f256adcd
      Original-Request:
      - req_7kALLgDmkQP9XY
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1O7NyBS1fk2ACVGL",
          "object": "account",
          "business_profile": {
            "mcc": "5192",
            "name": null,
            "product_description": "",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "inactive",
            "transfers": "inactive"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "US",
          "created": 1698781885,
          "default_currency": "usd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1O7NyBS1fk2ACVGL/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1712084400,
            "currently_due": [
              "external_account",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.dob.day",
              "individual.dob.month",
              "individual.dob.year",
              "individual.first_name",
              "individual.last_name",
              "individual.phone",
              "individual.ssn_last_4"
            ],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [
              "external_account",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.dob.day",
              "individual.dob.month",
              "individual.dob.year",
              "individual.first_name",
              "individual.id_number",
              "individual.last_name",
              "individual.phone",
              "individual.ssn_last_4"
            ],
            "past_due": [
              "external_account",
              "individual.first_name",
              "individual.last_name"
            ],
            "pending_verification": [
              "business_profile.url"
            ]
          },
          "individual": {
            "id": "person_1O7NyCS1fk2ACVGLfJV7aBO7",
            "object": "person",
            "account": "acct_1O7NyBS1fk2ACVGL",
            "address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "created": 1698781884,
            "dob": {
              "day": null,
              "month": null,
              "year": null
            },
            "email": "seller@example.com",
            "first_name": null,
            "future_requirements": {
              "alternatives": [],
              "currently_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "last_name",
                "phone",
                "ssn_last_4"
              ],
              "errors": [],
              "eventually_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "id_number",
                "last_name",
                "phone",
                "ssn_last_4"
              ],
              "past_due": [
                "first_name",
                "last_name"
              ],
              "pending_verification": []
            },
            "id_number_provided": false,
            "last_name": null,
            "metadata": {},
            "relationship": {
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "last_name",
                "phone",
                "ssn_last_4"
              ],
              "errors": [],
              "eventually_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "last_name",
                "phone",
                "ssn_last_4"
              ],
              "past_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "last_name",
                "phone",
                "ssn_last_4"
              ],
              "pending_verification": []
            },
            "ssn_last_4_provided": false,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "unverified"
            }
          },
          "metadata": {
            "tos_agreement_id": "HUtSNFosobj2KKPPiEtcBg==",
            "user_compliance_info_id": "c7UXbygNdqnD7YkH0fftfQ==",
            "user_id": "6"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "external_account",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.dob.day",
              "individual.dob.month",
              "individual.dob.year",
              "individual.first_name",
      [...]
