---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c17f9c52-4a1a-4ca4-85f8-47ae35e36955
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c17f9c52-4a1a-4ca4-85f8-47ae35e36955
      Original-Request:
      - req_u59ZiaA2SrwrKK
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1TomnPIBOqvOFDrf4PSX3qNF",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 7,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1783007099,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Wed, 10 Aug 2022 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1TomnPIBOqvOFDrf4PSX3qNF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated [...]
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"WA","to_zip":"98121","shipping":0.0,"line_items":[{"quantity":1,"unit_price":100.0,"discount":0,"product_tax_code":"31000"}],"nexus_addresses":[{"country":"US","state":"WA"}]}'
    headers:
      Authorization:
      - 'Bearer '
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 4b9c06d7-252b-4402-a2e6-796915cf3729
      X-Amz-Apigw-Id:
      - f4obYHRnIAMEVCQ=
    body:
      encoding: UTF-8
      string: '{"detail":"Not authorized for route ''POST /v2/taxes''","status":401,"error":"Unauthorized"}'
  recorded_at: Wed, 10 Aug 2022 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=10000&currency=usd&description=You+bought+http%3A%2F%2Fedgardcc060574.test.gumroad.com%3A31337%2Fl%2Fv%21&metadata[purchase]=tKDJVeTSb2eXbAmGaaVsTw%3D%3D&transfer_group=8&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_1TomnPIBOqvOFDrf4PSX3qNF&statement_descriptor_suffix=edgardcc060574
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9c1c169b-e333-45ad-a029-a1dca237fa99
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9c1c169b-e333-45ad-a029-a1dca237fa99
      Original-Request:
      - req_dD15dkAd8eFPPh
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3TomnPIBOqvOFDrf04dsnEVB",
          "object": "payment_intent",
          "amount": 10000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 10000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3TomnPIBOqvOFDrf04dsnEVB_secret_QoRAtvaTJqqYYVJ4IXAMAmtp3",
          "confirmation_method": "automatic",
          "created": 1783007099,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "You bought http://edgardcc060574.test.gumroad.com:31337/l/v!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3TomnPIBOqvOFDrf05pBhfEG",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "purchase": "tKDJVeTSb2eXbAmGaaVsTw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1TomnPIBOqvOFDrf4PSX3qNF",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgardcc060574",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "8"
        }
  recorded_at: Wed, 10 Aug 2022 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3TomnPIBOqvOFDrf05pBhfEG?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3TomnPIBOqvOFDrf05pBhfEG",
          "object": "charge",
          "amount": 10000,
          "amount_captured": 10000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3TomnPIBOqvOFDrf0q1xSapC",
            "object": "balance_transaction",
            "amount": 10000,
            "available_on": 1783555200,
            "balance_type": "payments",
            "created": 1783007100,
            "currency": "usd",
            "description": "You bought http://edgardcc060574.test.gumroad.com:31337/l/v!",
            "exchange_rate": null,
            "fee": 320,
            "fee_details": [
              {
                "amount": 320,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 9680,
            "reporting_category": "charge",
            "source": "ch_3TomnPIBOqvOFDrf05pBhfEG",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGARDCC060574",
          "captured": true,
          "created": 1783007100,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgardcc060574.test.gumroad.com:31337/l/v!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "tKDJVeTSb2eXbAmGaaVsTw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 0,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3TomnPIBOqvOFDrf04dsnEVB",
          "payment_method": "pm_1TomnPIBOqvOFDrf4PSX3qNF",
          "payment_method_details": {
            "card": {
              "amount_authorized": 10000,
              "authorization_code": "200135",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "ds_transaction_id": null,
              "exp_month": 7,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 10000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "transaction_link_id": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKP2OmtIGMgZMH5eTdWk6LBZ6fq0s_7EhO2jCOhnzGe-QwALfa_8Ut4mpReOCCKxQT_uqesfqAQWecLFJ",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgardcc060574",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "8"
        }
  recorded_at: Wed, 10 Aug 2022 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1TomnRIBOqvOFDrfZUA0YxQe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3TomnSIBOqvOFDrf1fKmiWG3?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
