---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/oembed/?format=json&maxwidth=670&scheme=https&url=https://youtu.be/YE7VzlLtp-4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"title":"Big Buck Bunny","author_name":"Blender","author_url":"https://www.youtube.com/@BlenderOfficial","type":"video","height":200,"width":356,"version":"1.0","provider_name":"YouTube","provider_url":"https://www.youtube.com/","thumbnail_height":360,"thumbnail_width":480,"thumbnail_url":"https://i.ytimg.com/vi/YE7VzlLtp-4/hqdefault.jpg","html":"\u003ciframe
        width=\u0022356\u0022 height=\u0022200\u0022 src=\u0022https://www.youtube.com/embed/YE7VzlLtp-4?feature=oembed\u0022
        frameborder=\u00220\u0022 allow=\u0022accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture; web-share\u0022 allowfullscreen
        title=\u0022Big Buck Bunny\u0022\u003e\u003c/iframe\u003e"}'
  recorded_at: Thu, 12 Jan 2023 15:58:13 GMT
recorded_with: VCR 6.1.0
