---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=7709717476757&metadata[tos_agreement_id]=Ib34I3f_YczvvshiHTJ0FQ%3D%3D&metadata[user_compliance_info_id]=1P4aHrL_eETCOSXy-SvQDQ%3D%3D&tos_acceptance[date]=1698779550&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=edgar1bd809f4_2580%40gumroad.com&individual[phone]=0000000000&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=California&individual[address][postal_code]=94107&individual[address][country]=US&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[id_number]=000000000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8da709c5-a42b-4f71-bd88-c3a1def27b27
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8da709c5-a42b-4f71-bd88-c3a1def27b27
      Original-Request:
      - req_HVN8JZwlZSRKjr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1O7NMYS1F92zw4No",
          "object": "account",
          "business_profile": {
            "mcc": "5192",
            "name": null,
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "pending"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "US",
          "created": 1698779552,
          "default_currency": "usd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1O7NMYS1F92zw4No/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1712084400,
            "currently_due": [
              "external_account",
              "individual.phone"
            ],
            "disabled_reason": null,
            "errors": [
              {
                "code": "invalid_phone_number",
                "reason": "This phone number has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                "requirement": "individual.phone"
              }
            ],
            "eventually_due": [
              "external_account",
              "individual.phone"
            ],
            "past_due": [
              "external_account"
            ],
            "pending_verification": [
              "business_profile.url",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "individual": {
            "id": "person_1O7NMZS1F92zw4No0hBxaOsS",
            "object": "person",
            "account": "acct_1O7NMYS1F92zw4No",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "created": 1698779551,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "edgar1bd809f4_2580@gumroad.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [
                "phone"
              ],
              "errors": [
                {
                  "code": "invalid_phone_number",
                  "reason": "This phone number has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                  "requirement": "phone"
                }
              ],
              "eventually_due": [
                "phone"
              ],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "pending"
            }
          },
          "metadata": {
            "tos_agreement_id": "Ib34I3f_YczvvshiHTJ0FQ==",
            "user_compliance_info_id": "1P4aHrL_eETCOSXy-SvQDQ==",
            "user_id": "7709717476757"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "external_account"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [],
            "eventually_due": [
              "external_account"
            ],
            "past_due": [
              "external_account"
            ],
            "pending_verification": [
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "settings": {
            "bacs_debit_payments": {},
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "VIPUL.GUMR",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "vipul.gumroad",
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "VIPUL.GUMROAD.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1698779550,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Tue, 31 Oct 2023 19:12:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1O7NMYS1F92zw4No/persons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O7NMYS1F92zw4No
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "person_1O7NMZS1F92zw4No0hBxaOsS",
              "object": "person",
              "account": "acct_1O7NMYS1F92zw4No",
              "additional_tos_acceptances": {
                "account": {
                  "date": null,
                  "ip": null,
                  "user_agent": null
                }
              },
              "address": {
                "city": "San Francisco",
                "country": "US",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "94107",
                "state": "California"
              },
              "created": 1698779551,
              "dob": {
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1O7NMYS1F92zw4No/persons/person_1O7NMZS1F92zw4No0hBxaOsS
    body:
      encoding: UTF-8
      string: verification[document][front]=file_identity_document_success
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4d08f64d-c81e-4d8b-a708-09ff8b7199ea
      Stripe-Version:
      - '2023-10-16'
  response:
    stat[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1O7NMYS1F92zw4No
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O7NMYS1F92zw4No
      Stripe-Ver[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "<STRIPE_PLATFORM_ACCOUNT_ID>",
          "object": "account",
          "capabilities": {
            "affirm_payments": "active",
            "card_issuing": "active",
            "card_payments": "active",
            "cashapp_payments": "active",
            "klarna_payments": "active",
            "link_payments": "active",
            "transfers": "active",
            "us_bank_account_ach_payments": "active"
          },
          "charges_enabled": true,
          "country": "US",
          "default_currency": "usd",
          "details_submitted": true,
          "payouts_enabled": true,
          "settings": {
            "bacs_debit_payments": {},
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": 1604952069,
                "ip": null
              }
            },
            "card_payments": {
              "statement_descriptor_prefix": "GUMRD.COM",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Gumroad",
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "GUMROAD.COM/C",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 2,
                "interval": "manual"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "type": "standard"
        }
  recorded_at: Tue, 31 Oct 2023 19:12:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: amount=33&currency=usd&destination=<STRIPE_PLATFORM_ACCOUNT_ID>
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 60ea7bfb-97b4-4299-b3bd-72ca059ff69c
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1O7NMYS1F92zw4No
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 60ea7bfb-97b4-4299-b3bd-72ca059ff69c
      Original-Request:
      - req_VEWpZUMxlJMY7G
      Stripe-Account:
      - acct_1O7NMYS1F92zw4No
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_1O7NMwS1F92zw4NohXZNUsVT",
          "object": "transfer",
          "amount": 33,
          "amount_reversed": 0,
          "balance_transaction": "txn_1O7NMwS1F92zw4NoyQdnyxpS",
          "created": 1698779574,
          "currency": "usd",
          "description": null,
          "destination": "<STRIPE_PLATFORM_ACCOUNT_ID>",
          "destination_payment": "py_0O7NMw9e1RjUNIyY4CGJhho6",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1O7NMwS1F92zw4NohXZNUsVT/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Tue, 31 Oct 2023 19:12:55 GMT
recorded_with: VCR 6.2.0
