---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1SOb0DEwFhlcVS6d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1SOb0DEwFhlcVS6d
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1SOb0DEwFhlcVS6d",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": null,
            "minority_owned_business_designation": null,
            "name": null,
            "product_description": null,
            "specified_commercial_transactions_act_url": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": null
          },
          "business_type": "individual",
          "capabilities": {
            "acss_debit_payments": "inactive",
            "affirm_payments": "inactive",
            "afterpay_clearpay_payments": "inactive",
            "amazon_pay_payments": "inactive",
            "bancontact_payments": "inactive",
            "card_payments": "inactive",
            "cartes_bancaires_payments": "inactive",
            "cashapp_payments": "inactive",
            "eps_payments": "inactive",
            "giropay_payments": "inactive",
            "ideal_payments": "inactive",
            "kakao_pay_payments": "inactive",
            "klarna_payments": "inactive",
            "kr_card_payments": "inactive",
            "link_payments": "inactive",
            "mb_way_payments": "inactive",
            "multibanco_payments": "inactive",
            "naver_pay_payments": "inactive",
            "p24_payments": "inactive",
            "payco_payments": "inactive",
            "pix_payments": "inactive",
            "samsung_pay_payments": "inactive",
            "sepa_bank_transfer_payments": "inactive",
            "sepa_debit_payments": "inactive",
            "sofort_payments": "inactive",
            "tax_reporting_us_1099_k": "active",
            "tax_reporting_us_1099_misc": "active",
            "transfers": "inactive",
            "us_bank_account_ach_payments": "inactive",
            "us_bank_transfer_payments": "inactive",
            "zip_payments": "inactive"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "account"
            },
            "is_controller": true,
            "losses": {
              "payments": "stripe"
            },
            "requirement_collection": "stripe",
            "stripe_dashboard": {
              "type": "full"
            },
            "type": "application"
          },
          "country": "US",
          "created": 1761988902,
          "default_currency": "usd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1SOb0DEwFhlcVS6d/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "past_due": [
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "pending_verification": []
          },
          "metadata": {},
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": 1763208247,
            "currently_due": [
              "business_profile.mcc",
              "business_profile.product_description",
              "business_profile.support_email",
              "business_profile.support_phone",
              "business_profile.url",
              "external_account",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",[...]
