---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa&billing_details[address][postal_code]=<STRONGBOX_GENERAL_PASSWORD>5
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8c12f515-c3fb-4aab-8646-0ad208e895d3
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8c12f515-c3fb-4aab-8646-0ad208e895d3
      Original-Request:
      - req_RpoZyPAZn3ZlqR
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UKIFLIBOqvOFDrf8XdoUjqQ",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "<STRONGBOX_GENERAL_PASSWORD>5",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": "unchecked",
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 9,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1790516163,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Sun, 27 Sep 2026 13:36:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1UKIFLIBOqvOFDrf8XdoUjqQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=600&currency=usd&description=You+bought+http%3A%2F%2Fedgar4c97f1f06.test.gumroad.com%3A31337%2Fl%2Fm%21&metadata[purchase]=2JLltwtko554TD2xomuaHw%3D%3D&transfer_group=375521616&payment_method_types[0]=card&payment_method=pm_1UKIFLIBOqvOFDrf8XdoUjqQ&statement_descriptor_suffix=edgar4c97f1f06
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 75925c6f-a92d-464e-ac24-a3eb93515e77
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 75925c6f-a92d-464e-ac24-a3eb93515e77
      Original-Request:
      - req_PkgHF5741eLFlA
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3UKIFLIBOqvOFDrf1y65Ar5y",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 600,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3UKIFLIBOqvOFDrf1y65Ar5y_secret_B8s6e78qL4uwe5TrlLU6ZzxfD",
          "confirmation_method": "automatic",
          "created": 1790516163,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "You bought http://edgar4c97f1f06.test.gumroad.com:31337/l/m!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "purchase": "2JLltwtko554TD2xomuaHw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1UKIFLIBOqvOFDrf8XdoUjqQ",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "payment_record": null,
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar4c97f1f06",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "375521616"
        }
  recorded_at: Sun, 27 Sep 2026 13:36:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3UKIFLIBOqvOFDrf1y65Ar5y/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 36985961-2191-4e04-8027-0e8015b78f11
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3UKIFLIBOqvOFDrf1rN4jWV5?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3UKIFLIBOqvOFDrf1rN4jWV5",
          "object": "charge",
          "amount": 600,
          "amount_captured": 600,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3UKIFLIBOqvOFDrf1fCsMfp6",
            "object": "balance_transaction",
            "amount": 600,
            "available_on": 1791072000,
            "balance_type": "payments",
            "created": 1790516164,
            "currency": "usd",
            "description": "You bought http://edgar4c97f1f06.test.gumroad.com:31337/l/m!",
            "exchange_rate": null,
            "fee": 47,
            "fee_details": [
              {
                "amount": 47,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 553,
            "reporting_category": "charge",
            "source": "ch_3UKIFLIBOqvOFDrf1rN4jWV5",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "<STRONGBOX_GENERAL_PASSWORD>5",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR4C97F1F06",
          "captured": true,
          "created": 1790516164,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar4c97f1f06.test.gumroad.com:31337/l/m!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "2JLltwtko554TD2xomuaHw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 59,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3UKIFLIBOqvOFDrf1y65Ar5y",
          "payment_method": "pm_1UKIFLIBOqvOFDrf8XdoUjqQ",
          "payment_method_details": {
            "card": {
              "amount_authorized": 600,
              "authorization_code": "225735",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": "pass",
                "cvc_check": "pass"
              },
              "country": "US",
              "electronic_commerce_indicator": "07",
              "exp_month": 9,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 600,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "transaction_link_id": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKMW35NUGMgb_Cqq7chY6LBYYzvV0sefRN-eNFTxT9N-IKs5NH4SuvwM6-BjBQxiA5xWIZc3rBpVuEB-x",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar4c97f1f06",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "375521616"
        }
  recorded_at: Sun, 27 Sep 2026 13:36:05 GMT
recorded_with: VCR 6.2.0
