---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0038+0000+0446&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ab141615-5036-4f16-b555-e48d7922d0d7
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ab141615-5036-4f16-b555-e48d7922d0d7
      Original-Request:
      - req_UPhvdkqVm6tM71
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6yWQ9e1RjUNIyYZCgwYQ8m",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "IT",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "dfmA7aKnqsg6sYhn",
            "funding": "credit",
            "generated_from": null,
            "last4": "0446",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698684062,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 16:41:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6yWQ9e1RjUNIyYZCgwYQ8m
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=test+description&metadata[purchase]=reference&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=false&setup_future_usage=off_session&payment_method=pm_0O6yWQ9e1RjUNIyYZCgwYQ8m
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2048dea2-0552-435d-bbaa-93645c5b1500
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2048dea2-0552-435d-bbaa-93645c5b1500
      Original-Request:
      - req_ChVA2OoZMA6lLk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6yWR9e1RjUNIyY0VmwPfPM",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6yWR9e1RjUNIyY0VmwPfPM_secret_ZMM6mdeU2BlVElSjK2BFw99TV",
          "confirmation_method": "manual",
          "created": 1698684063,
          "currency": "usd",
          "customer": null,
          "description": "test description",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchase": "reference"
          },
          "next_action": {
            "type": "use_stripe_sdk",
            "use_stripe_sdk": {
              "source": "src_0O6yWS9e1RjUNIyYFnVkLmCN",
              "stripe_js": "https://hooks.stripe.com/redirect/authenticate/src_0O6yWS9e1RjUNIyYFnVkLmCN?client_secret=src_client_secret_zNCje2I2r8mwf5SSRpS8jGwR&source_redirect_slug=test_OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUsX091bzh0MXFsbDdFdTZBQ0VqWEVNMVJTSVc3SXNxVHE0100f3dR62sl",
              "type": "three_d_secure_redirect"
            }
          },
          "on_behalf_of": null,
          "payment_method": "pm_0O6yWQ9e1RjUNIyYZCgwYQ8m",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_action",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 30 Oct 2023 16:41:04 GMT
recorded_with: VCR 6.2.0
