---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/radar/early_fraud_warnings/issfr_1O9ttzGFgEK9GGWTiwPNm9WO?expand%5B%5D=charge
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1O9tZ6GFgEK9GGWT
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O9tZ6GFgEK9GGWT
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "issfr_1O9ttzGFgEK9GGWTiwPNm9WO",
          "object": "radar.early_fraud_warning",
          "actionable": false,
          "charge": {
            "id": "ch_3O9ttyGFgEK9GGWT0BVMJhq1",
            "object": "charge",
            "amount": 4999,
            "amount_captured": 4999,
            "amount_refunded": 4999,
            "application": "<STRIPE_CONNECT_CLIENT_ID>",
            "application_fee": "fee_1O9ttyGFgEK9GGWTIBFBzMht",
            "application_fee_amount": 500,
            "balance_transaction": "txn_3O9ttyGFgEK9GGWT01lJxbmN",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": "",
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null
            },
            "calculated_statement_descriptor": "GUMRD.COM* SELLER US",
            "captured": true,
            "created": 1699381286,
            "currency": "usd",
            "customer": null,
            "description": "You bought https://unitedstates.gumroad.dev/l/a",
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "invoice": null,
            "livemode": false,
            "metadata": {
              "purchase": "gTNRmhM8EWg_YOF1sneJhQ=="
            },
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 56,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_3O9ttyGFgEK9GGWT0Gd0cFFf",
            "payment_method": "pm_1O9ttxGFgEK9GGWTNWfav01J",
            "payment_method_details": {
              "card": {
                "amount_authorized": 4999,
                "brand": "visa",
                "checks": {
                  "address_line1_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": "pass"
                },
                "country": "US",
                "exp_month": 1,
                "exp_year": 2034,
                "extended_authorization": {
                  "status": "disabled"
                },
                "fingerprint": "I03xpzqac6uXAW7s",
                "funding": "credit",
                "incremental_authorization": {
                  "status": "unavailable"
                },
                "installments": null,
                "last4": "5423",
                "mandate": null,
                "multicapture": {
                  "status": "unavailable"
                },
                "network": "visa",
                "network_token": {
                  "used": false
                },
                "overcapture": {
                  "maximum_amount_capturable": 4999,
                  "status": "unavailable"
                },
                "three_d_secure": null,
                "wallet": null
              },
              "type": "card"
            },
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xTzl0WjZHRmdFSzlHR1dUKOyBkbIGMgYKE3pNH_Q6LBa1SI_KGUAV5jDV-UMDJEtWhIXu75VtarUh72bI34n72jOobsVQVhK8ppKZ",
            "refunded": true,
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": "Seller US",
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": "390"
          },
          "created": 1699381287,
          "fraud_type": "made_with_stolen_card",
          "livemode": false,
          "payment_intent": "pi_3O9ttyGFgEK9GGWT0Gd0cFFf"
        }
  recorded_at: Wed, 15 May 2024 04:58:20 GMT
recorded_with: VCR 6.2.0
