---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0162e763-6552-4428-89c1-76c8a70b3929
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0162e763-6552-4428-89c1-76c8a70b3929
      Original-Request:
      - req_3TRa6oW1Rfb4cf
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzH9JIBOqvOFDrfZZXx9EAw",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730721,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:38:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzH9JIBOqvOFDrfZZXx9EAw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_1SzH9JIBOqvOFDrfZZXx9EAw
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - dc9d8bf8-497d-4727-9504-dc5692fc1fb3
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - dc9d8bf8-497d-4727-9504-dc5692fc1fb3
      Original-Request:
      - req_RYP8iJD7xj6eYX
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TxBWPb9t6jgVNp",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1770730721,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "MFREZ20Z",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 10 Feb 2026 13:38:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1500&currency=usd&description=Gumroad+Charge+_VyrjfOHwKXWHVLDZEe4MQ%3D%3D&metadata[purchases%7B0%7D]=smnBM27_8CHeX_jA5rY1jw%3D%3D%2C5uK6UIPH_xXy69Q9QA2kNA%3D%3D&transfer_group=CH-837&payment_method_types[0]=card&off_session=false&customer=cus_TxBWPb9t6jgVNp&payment_method=pm_1SzH9JIBOqvOFDrfZZXx9EAw&statement_descriptor_suffix=edgar3e6dfac6134
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - de5f9ab0-d02b-4b1c-8bd2-378f4c3e8a7a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - de5f9ab0-d02b-4b1c-8bd2-378f4c3e8a7a
      Original-Request:
      - req_bzIkmZADGCtAsL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzH9LIBOqvOFDrf1FKJ8WAO",
          "object": "payment_intent",
          "amount": 1500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzH9LIBOqvOFDrf1FKJ8WAO_secret_SpdY7EGXqD7cQWe9vhWCLPMUD",
          "confirmation_method": "automatic",
          "created": 1770730723,
          "currency": "usd",
          "customer": "cus_TxBWPb9t6jgVNp",
          "customer_account": null,
          "description": "Gumroad Charge _VyrjfOHwKXWHVLDZEe4MQ==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "smnBM27_8CHeX_jA5rY1jw==,5uK6UIPH_xXy69Q9QA2kNA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH9JIBOqvOFDrfZZXx9EAw",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar3e6dfac6134",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-837"
        }
  recorded_at: Tue, 10 Feb 2026 13:38:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SzH9LIBOqvOFDrf1FKJ8WAO/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2df96a5e-129d-4b09-b7fd-7b74a47f7a36
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SzH9LIBOqvOFDrf1wI5wrqq?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SzH9LIBOqvOFDrf1wI5wrqq",
          "object": "charge",
          "amount": 1500,
          "amount_captured": 1500,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SzH9LIBOqvOFDrf1ArzMe1v",
            "object": "balance_transaction",
            "amount": 1500,
            "available_on": 1771286400,
            "balance_type": "payments",
            "created": 1770730723,
            "currency": "usd",
            "description": "Gumroad Charge _VyrjfOHwKXWHVLDZEe4MQ==",
            "exchange_rate": null,
            "fee": 74,
            "fee_details": [
              {
                "amount": 74,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1426,
            "reporting_category": "charge",
            "source": "ch_3SzH9LIBOqvOFDrf1wI5wrqq",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR3E6DFAC61",
          "captured": true,
          "created": 1770730723,
          "currency": "usd",
          "customer": "cus_TxBWPb9t6jgVNp",
          "description": "Gumroad Charge _VyrjfOHwKXWHVLDZEe4MQ==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "smnBM27_8CHeX_jA5rY1jw==,5uK6UIPH_xXy69Q9QA2kNA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 48,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SzH9LIBOqvOFDrf1FKJ8WAO",
          "payment_method": "pm_1SzH9JIBOqvOFDrfZZXx9EAw",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1500,
              "authorization_code": "244485",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 1500,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKOTprMwGMgbVkkRR12o6LBYGL9VJiNeXmYuHviDU9632-dSpDNrkU5zbG4--JILLrWbL1kx_VWvZ5YWw",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar3e6dfac6134",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-837"
        }
  recorded_at: Tue, 10 Feb 2026 13:38:44 GMT
recorded_with: VCR 6.2.0
