---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1a73c111-0868-4ca9-b449-fcb1bff5a82c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1a73c111-0868-4ca9-b449-fcb1bff5a82c
      Original-Request:
      - req_pe9KepZXtkfsnB
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6xCB9e1RjUNIyY2Nqhk1Jg",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698678963,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 15:16:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xCB9e1RjUNIyY2Nqhk1Jg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O6xCB9e1RjUNIyY2Nqhk1Jg
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4800aa2e-fe13-4c26-88b1-03fec9a7dc39
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4800aa2e-fe13-4c26-88b1-03fec9a7dc39
      Original-Request:
      - req_bWuFKhEMSvap7c
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OumltlDlQuwHcn",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698678964,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "76BC269B",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 15:16:04 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xCD9e1RjUNIyYuBHozcKl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=400&currency=usd&description=You+bought+http%3A%2F%2Fedgard16e31cc288.test.gumroad.com%3A31337%2Fl%2Ff&metadata[purchase]=NTYYkBfblBqQE0-82qVIIw%3D%3D&transfer_group=182&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OumlPxKvC5W1wP&payment_method=pm_0O6xCD9e1RjUNIyYuBHozcKl&statement_descriptor_suffix=edgard16e31cc288
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b6f97475-1201-4574-b134-d8d7496445ef
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b6f97475-1201-4574-b134-d8d7496445ef
      Original-Request:
      - req_MZCUgdJYcxGdXZ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6xCF9e1RjUNIyY0MF7vWIN",
          "object": "payment_intent",
          "amount": 400,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 400,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6xCF9e1RjUNIyY0MF7vWIN_secret_zrm4YEhF7mvjV3vLwAMBo77D8",
          "confirmation_method": "manual",
          "created": 1698678967,
          "currency": "usd",
          "customer": "cus_OumlPxKvC5W1wP",
          "description": "You bought http://edgard16e31cc288.test.gumroad.com:31337/l/f",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6xCF9e1RjUNIyY0lOkmdv3",
          "livemode": false,
          "metadata": {
            "purchase": "NTYYkBfblBqQE0-82qVIIw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6xCD9e1RjUNIyYuBHozcKl",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgard16e31cc288",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "182"
        }
  recorded_at: Mon, 30 Oct 2023 15:16:08 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6xCF9e1RjUNIyY0lOkmdv3?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6xCF9e1RjUNIyY0lOkmdv3",
          "object": "charge",
          "amount": 400,
          "amount_captured": 400,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6xCF9e1RjUNIyY0dcmaCWh",
            "object": "balance_transaction",
            "amount": 400,
            "available_on": 1698796800,
            "created": 1698678967,
            "currency": "usd",
            "description": "You bought http://edgard16e31cc288.test.gumroad.com:31337/l/f",
            "exchange_rate": null,
            "fee": 25,
            "fee_details": [
              {
                "amount": 25,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 375,
            "reporting_category": "charge",
            "source": "ch_2O6xCF9e1RjUNIyY0lOkmdv3",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARD16E31",
          "captured": true,
          "created": 1698678967,
          "currency": "usd",
          "customer": "cus_OumlPxKvC5W1wP",
          "description": "You bought http://edgard16e31cc288.test.gumroad.com:31337/l/f",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "NTYYkBfblBqQE0-82qVIIw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 6,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6xCF9e1RjUNIyY0MF7vWIN",
          "payment_method": "pm_0O6xCD9e1RjUNIyYuBHozcKl",
          "payment_method_details": {
            "card": {
              "amount_authorized": 400,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 400,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUouZH_qQYyBvJJJBPnRzosFu9sLVoLAmmGrEYMkqAXc-XRsupHV3U3JP4kDna2fTvJ9l7FN_jK50WC4tg",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgard16e31cc288",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "182"
        }
  recorded_at: Mon, 30 Oct 2023 15:16:09 GMT
recorded_with: VCR 6.2.0
