---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_visa_debit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1SOgqVIBOqvOFDrfyJfherbX",
          "object": "token",
          "card": {
            "id": "card_1SOgqVIBOqvOFDrfnMGzuz5d",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "currency": "usd",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "email": null,
            "exp_month": 11,
            "exp_year": 2026,
            "fingerprint": "ZKA785EqNIB6mi55",
            "funding": "debit",
            "last4": "5556",
            "metadata": {},
            "name": null,
            "networks": {
              "preferred": null
            },
            "phone": null,
            "regulated_status": "unregulated",
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": null,
          "created": 1762011363,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 01 Nov 2025 15:36:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_1SOgqVIBOqvOFDrfyJfherbX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&card=tok_1SOgqVIBOqvOFDrfyJfherbX&expand[0]=sources
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 95207f76-fdc9-43ad-8ab0-9e92bd4a6c55
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 95207f76-fdc9-43ad-8ab0-9e92bd4a6c55
      Original-Request:
      - req_duezsHanfm8GqX
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TLNbLQXFJkNZ7y",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1762011363,
          "currency": null,
          "default_source": "card_1SOgqVIBOqvOFDrfnMGzuz5d",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "WTWN8WWQ",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1SOgqVIBOqvOFDrfnMGzuz5d",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "allow_redisplay": "unspecified",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_TLNbLQXFJkNZ7y",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "email": null,
                "exp_month": 11,
                "exp_year": 2026,
                "fingerprint": "ZKA785EqNIB6mi55",
                "funding": "debit",
                "last4": "5556",
                "metadata": {},
                "name": null,
                "phone": null,
                "regulated_status": "unregulated",
                "tokenization_method": null,
                "wallet": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_TLNbLQXFJkNZ7y/sources"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 01 Nov 2025 15:36:04 GMT
recorded_with: VCR 6.2.0
