---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bcead6f8-a098-47db-8acb-d3f7e0d6aecb
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bcead6f8-a098-47db-8acb-d3f7e0d6aecb
      Original-Request:
      - req_PI5F3B1CaEE7Tv
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SsRnZIBOqvOFDrf5gP7xMQr",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 1,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1769103361,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Thu, 22 Jan 2026 17:36:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SsRnZIBOqvOFDrf5gP7xMQr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_1SsRnZIBOqvOFDrf5gP7xMQr
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3bc4e874-f9f0-4d1d-a874-d90e1f688155
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3bc4e874-f9f0-4d1d-a874-d90e1f688155
      Original-Request:
      - req_kQAbt39tL5QJxv
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Tq83Bx9QhqTciF",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1769103361,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "IUJJZWYQ",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 22 Jan 2026 17:36:02 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SsRnaIBOqvOFDrf473ElFlr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=300&currency=usd&description=You+bought+http%3A%2F%2Fedgaref3df76713.test.gumroad.com%3A31337%2Fl%2Fc%21&metadata[purchase]=AgOubuUBtF4TWJZuFdPZRA%3D%3D&transfer_group=24&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_Tq83j7Gvg1s9He&payment_method=pm_1SsRnaIBOqvOFDrf473ElFlr&statement_descriptor_suffix=edgaref3df76713
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2fff21fc-25e1-44ce-abe8-e4682a04037a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2fff21fc-25e1-44ce-abe8-e4682a04037a
      Original-Request:
      - req_wXeusX6Myg5vqj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SsRncIBOqvOFDrf1lCR6GYc",
          "object": "payment_intent",
          "amount": 300,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 300,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SsRncIBOqvOFDrf1lCR6GYc_secret_2WiotaCL3kWw1UcA8miJQLxqn",
          "confirmation_method": "automatic",
          "created": 1769103364,
          "currency": "usd",
          "customer": "cus_Tq83j7Gvg1s9He",
          "customer_account": null,
          "description": "You bought http://edgaref3df76713.test.gumroad.com:31337/l/c!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SsRncIBOqvOFDrf1S6F5wLL",
          "livemode": false,
          "metadata": {
            "purchase": "AgOubuUBtF4TWJZuFdPZRA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SsRnaIBOqvOFDrf473ElFlr",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgaref3df76713",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "24"
        }
  recorded_at: Thu, 22 Jan 2026 17:36:05 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SsRncIBOqvOFDrf1S6F5wLL?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SsRncIBOqvOFDrf1S6F5wLL",
          "object": "charge",
          "amount": 300,
          "amount_captured": 300,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SsRncIBOqvOFDrf1dcvE1Gi",
            "object": "balance_transaction",
            "amount": 300,
            "available_on": 1769644800,
            "balance_type": "payments",
            "created": 1769103365,
            "currency": "usd",
            "description": "You bought http://edgaref3df76713.test.gumroad.com:31337/l/c!",
            "exchange_rate": null,
            "fee": 39,
            "fee_details": [
              {
                "amount": 39,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 261,
            "reporting_category": "charge",
            "source": "ch_3SsRncIBOqvOFDrf1S6F5wLL",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAREF3DF7671",
          "captured": true,
          "created": 1769103365,
          "currency": "usd",
          "customer": "cus_Tq83j7Gvg1s9He",
          "description": "You bought http://edgaref3df76713.test.gumroad.com:31337/l/c!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "AgOubuUBtF4TWJZuFdPZRA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 20,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SsRncIBOqvOFDrf1lCR6GYc",
          "payment_method": "pm_1SsRnaIBOqvOFDrf473ElFlr",
          "payment_method_details": {
            "card": {
              "amount_authorized": 300,
              "authorization_code": "290417",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 1,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 300,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKIbAycsGMgaYRghTW9o6LBY7zBeWHoLGuAKgTU2wjkf0i0H8zHwXbqiVHvmbN6VOU2q040xJoZDrBj5v",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgaref3df76713",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "24"
        }
  recorded_at: Thu, 22 Jan 2026 17:36:05 GMT
recorded_with: VCR 6.2.0
