---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123&billing_details[address][postal_code]=12345
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4dfb1996-4b99-456d-99d5-165170f72e26
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4dfb1996-4b99-456d-99d5-165170f72e26
      Original-Request:
      - req_wYNlg5tqd3H8va
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6tNC9e1RjUNIyYXzj51L7F",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": "unchecked",
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698664270,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 11:11:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6tNC9e1RjUNIyYXzj51L7F
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O6tNC9e1RjUNIyYXzj51L7F
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 422c1a75-b730-43e8-9826-a20403407fa0
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 422c1a75-b730-43e8-9826-a20403407fa0
      Original-Request:
      - req_I5hvRM5Lux46ky
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OuiovkL4LUt9so",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698664271,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "168B2145",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 11:11:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=10000&currency=usd&description=You+bought+http%3A%2F%2Fedgar56cf0f50130.test.gumroad.com%3A31337%2Fl%2Fx&metadata[purchase]=MgtsLkcq5GaemnRvvfS3og%3D%3D&transfer_group=95&payment_method_types[0]=card&confirmation_method=manual&confirm=true&setup_future_usage=off_session&payment_method=pm_0O6tNC9e1RjUNIyYXzj51L7F&customer=cus_OuiovkL4LUt9so&statement_descriptor_suffix=edgar56cf0f50130
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 21107d59-1d06-419e-84dc-23562066917f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 21107d59-1d06-419e-84dc-23562066917f
      Original-Request:
      - req_gEMmla7ERjfgG4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6tNE9e1RjUNIyY1TaEkzGO",
          "object": "payment_intent",
          "amount": 10000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 10000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6tNE9e1RjUNIyY1TaEkzGO_secret_PgYzqt9s8GslIPRjBjSYwC5ol",
          "confirmation_method": "manual",
          "created": 1698664272,
          "currency": "usd",
          "customer": "cus_OuiovkL4LUt9so",
          "description": "You bought http://edgar56cf0f50130.test.gumroad.com:31337/l/x",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6tNE9e1RjUNIyY1ZzJWs5G",
          "livemode": false,
          "metadata": {
            "purchase": "MgtsLkcq5GaemnRvvfS3og=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6tNC9e1RjUNIyYXzj51L7F",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar56cf0f50130",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "95"
        }
  recorded_at: Mon, 30 Oct 2023 11:11:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6tNE9e1RjUNIyY1ZzJWs5G?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6tNE9e1RjUNIyY1ZzJWs5G",
          "object": "charge",
          "amount": 10000,
          "amount_captured": 10000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6tNE9e1RjUNIyY1I7btoFk",
            "object": "balance_transaction",
            "amount": 10000,
            "available_on": 1698796800,
            "created": 1698664272,
            "currency": "usd",
            "description": "You bought http://edgar56cf0f50130.test.gumroad.com:31337/l/x",
            "exchange_rate": null,
            "fee": 230,
            "fee_details": [
              {
                "amount": 230,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 9770,
            "reporting_category": "charge",
            "source": "ch_2O6tNE9e1RjUNIyY1ZzJWs5G",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR56CF0F",
          "captured": true,
          "created": 1698664272,
          "currency": "usd",
          "customer": "cus_OuiovkL4LUt9so",
          "description": "You bought http://edgar56cf0f50130.test.gumroad.com:31337/l/x",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "MgtsLkcq5GaemnRvvfS3og=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 53,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6tNE9e1RjUNIyY1TaEkzGO",
          "payment_method": "pm_0O6tNC9e1RjUNIyYXzj51L7F",
          "payment_method_details": {
            "card": {
              "amount_authorized": 10000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": "pass",
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 10000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo0p7-qQYyBhuFs3JuKTosFvP9XZlt-KY1qyOv7PhibjgJaCYjfr7zbsqUnPBZiA8dBVeqfSwtZWkd-nA",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar56cf0f50130",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "95"
        }
  recorded_at: Mon, 30 Oct 2023 11:11:14 GMT
recorded_with: VCR 6.2.0
