---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - aadcb846-1e44-4f2b-9815-3982c40b33b0
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - aadcb846-1e44-4f2b-9815-3982c40b33b0
      Original-Request:
      - req_g4gvll0QAozKPc
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfFv9e1RjUNIyYXX1AiIvT",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703853219,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:33:39 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfFv9e1RjUNIyYXX1AiIvT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=31&email=edgar09b396a1_61%40gumroad.com&payment_method=pm_0OSfFv9e1RjUNIyYXX1AiIvT
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f572024b-7648-4a6d-8046-9181665c9625
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f572024b-7648-4a6d-8046-9181665c9625
      Original-Request:
      - req_7Ile0Wa9xQesC9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDhA2s8YAN3Q1",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703853220,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "31",
          "discount": null,
          "email": "edgar09b396a1_61@gumroad.com",
          "invoice_prefix": "039D5310",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:33:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: customer=cus_PHDhA2s8YAN3Q1&payment_method=pm_0OSfFv9e1RjUNIyYXX1AiIvT
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b5febb7a-5be9-4989-ab02-ac9ce45c0d70
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b5febb7a-5be9-4989-ab02-ac9ce45c0d70
      Original-Request:
      - req_bKaYxrlTEpxnTV
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1OSfFwCOxuflorGub[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=test+description&metadata[purchase]=reference&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_1OSfFwCOxuflorGubOCPGugv&application_fee_amount=24
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 40091f78-4c7d-41c5-a1a2-efc6fbff0a14
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 40091f78-4c7d-41c5-a1a2-efc6fbff0a14
      Original-Request:
      - req_bpLfGRVeYTond5
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3OSfFxCOxuflorGu1BsSjJol",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee_amount": 24,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3OSfFxCOxuflorGu1BsSjJol_secret_o8yb8oHaYHEQ3rww252JgBmiS",
          "confirmation_method": "automatic",
          "created": 1703853221,
          "currency": "usd",
          "customer": null,
          "description": "test description",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3OSfFxCOxuflorGu1jqRbAlp",
          "livemode": false,
          "metadata": {
            "purchase": "reference"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1OSfFwCOxuflorGubOCPGugv",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Fri, 29 Dec 2023 12:33:42 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3OSfFxCOxuflorGu1jqRbAlp?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3OSfFxCOxuflorGu1jqRbAlp",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": {
            "id": "fee_1OSfFxCOxuflorGuyhac6oMh",
            "object": "application_fee",
            "account": "acct_1MFA1rCOxuflorGu",
            "amount": 24,
            "amount_refunded": 0,
            "application": "<STRIPE_CONNECT_CLIENT_ID>",
            "balance_transaction": {
              "id": "txn_0OSfFy9e1RjUNIyYvRJC5Oie",
              "object": "balance_transaction",
              "amount": 24,
              "available_on": 1704412800,
              "created": 1703853221,
              "currency": "usd",
              "description": "Application fee from application Gumroad for acct_1MFA1rCOxuflorGu (acct_1MFA1rCOxuflorGu)",
              "exchange_rate": 1.29278,
              "fee": 0,
              "fee_details": [],
              "net": 24,
              "reporting_category": "platform_earning",
              "source": "fee_1OSfFxCOxuflorGuyhac6oMh",
              "status": "pending",
              "type": "application_fee"
            },
            "charge": "ch_3OSfFxCOxuflorGu1jqRbAlp",
            "created": 1703853221,
            "currency": "usd",
            "livemode": false,
            "originating_transaction": null,
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/application_fees/fee_1OSfFxCOxuflorGuyhac6oMh/refunds"
            }
          },
          "application_fee_amount": 24,
          "balance_transaction": {
            "id": "txn_3OSfFxCOxuflorGu1GGRN1y9",
            "object": "balance_transaction",
            "amount": 129,
            "available_on": 1704412800,
            "created": 1703853221,
            "currency": "sgd",
            "description": "test description",
            "exchange_rate": 1.29278,
            "fee": 86,
 [...]
