---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 639202ae-a519-48aa-9391-c5e4bd975688
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 639202ae-a519-48aa-9391-c5e4bd975688
      Original-Request:
      - req_MJKfzi1ElcFxDZ
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UKWeDIBOqvOFDrfpblP39GU",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 9,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1790571521,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Mon, 28 Sep 2026 04:58:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1UKWeDIBOqvOFDrfpblP39GU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=482&email=edgar5cc191fb_1%40gumroad.com&payment_method=pm_1UKWeDIBOqvOFDrfpblP39GU
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7098addf-65ba-4a1f-870b-76e68cdbb51d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7098addf-65ba-4a1f-870b-76e68cdbb51d
      Original-Request:
      - req_Pq7ApQKvAmDYvk
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VLD4siuQKJzi5y",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1790571521,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": "482",
          "discount": null,
          "email": "edgar5cc191fb_1@gumroad.com",
          "invoice_prefix": "QTHNJHLN",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 28 Sep 2026 04:58:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=599&currency=usd&description=You+bought+http%3A%2F%2Fedgar3f6a96332.test.gumroad.com%3A31337%2Fl%2Fy%21&metadata[purchase]=ipRRidcZO5jqU_q7Nebxhw%3D%3D&transfer_group=401&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_VLD4siuQKJzi5y&payment_method=pm_1UKWeDIBOqvOFDrfpblP39GU&statement_descriptor_suffix=edgar3f6a96332
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - de6c45d6-652b-4777-ba77-6e9e51b25391
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - de6c45d6-652b-4777-ba77-6e9e51b25391
      Original-Request:
      - req_zXgpiV2s9xwORG
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3UKWeEIBOqvOFDrf0ABcaXGN",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 599,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 599,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3UKWeEIBOqvOFDrf0ABcaXGN_secret_PUJURCWyAFMqCyyZsXoeVnIWS",
          "confirmation_method": "automatic",
          "created": 1790571522,
          "currency": "usd",
          "customer": "cus_VLD4siuQKJzi5y",
          "customer_account": null,
          "description": "You bought http://edgar3f6a96332.test.gumroad.com:31337/l/y!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3UKWeEIBOqvOFDrf0KSjEQCK",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "purchase": "ipRRidcZO5jqU_q7Nebxhw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1UKWeDIBOqvOFDrfpblP39GU",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "payment_record": null,
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar3f6a96332",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "401"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3UKWeEIBOqvOFDrf0KSjEQCK?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3UKWeEIBOqvOFDrf0KSjEQCK",
          "object": "charge",
          "amount": 599,
          "amount_captured": 599,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3UKWeEIBOqvOFDrf0oE9HVYR",
            "object": "balance_transaction",
            "amount": 599,
            "available_on": 1791158400,
            "balance_type": "payments",
            "created": 1790571523,
            "currency": "usd",
            "description": "You bought http://edgar3f6a96332.test.gumroad.com:31337/l/y!",
            "exchange_rate": null,
            "fee": 47,
            "fee_details": [
              {
                "amount": 47,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 552,
            "reporting_category": "charge",
            "source": "ch_3UKWeEIBOqvOFDrf0KSjEQCK",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR3F6A96332",
          "captured": true,
          "created": 1790571523,
          "currency": "usd",
          "customer": "cus_VLD4siuQKJzi5y",
          "description": "You bought http://edgar3f6a96332.test.gumroad.com:31337/l/y!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "ipRRidcZO5jqU_q7Nebxhw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 55,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3UKWeEIBOqvOFDrf0ABcaXGN",
          "payment_method": "pm_1UKWeDIBOqvOFDrfpblP39GU",
          "payment_method_details": {
            "card": {
              "amount_authorized": 599,
              "authorization_code": "514236",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "electronic_commerce_indicator": "02",
              "exp_month": 9,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 599,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "transaction_link_id": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKIPo59UGMgZoue3ciF86LBZ0kHC25L197PQIOnjarOl6O6TcX2FE_LO0uYaxuvWNX0EUxDlu8tGBv0ai",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar3f6a96332",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "401"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_card_indiaRecurringMandateSetupAndRenewalsSuccess
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - Y[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_card_indiaRecurringMandateSetupAndRenewalsSuccess&customer=cus_VLD4Zn9j2SIlmg&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7a1a9e4c-9af3-4ca3-a101-3534cc2768d8
      Stripe-Version:
   [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3UKWeIIBOqvOFDrf1LRtNH7F/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ae052d7f-f645-4098-8a4d-77336d82af76
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
