---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"CO","to_zip":"80202","shipping":0.0,"line_items":[{"quantity":1,"unit_price":1.0,"discount":0,"product_tax_code":"31000"}],"nexus_addresses":[{"country":"US","state":"CO"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 9bfeb5ed-a319-4b79-bd15-8168fbcf3327
      X-Amz-Apigw-Id:
      - EGr9eHuSoAMEtnQ=
    body:
      encoding: UTF-8
      string: '{"tax":{"order_total_amount":1.0,"shipping":0.0,"taxable_amount":1.0,"amount_to_collect":0.04,"rate":0.04,"has_nexus":true,"freight_taxable":true,"tax_source":"destination","jurisdictions":{"country":"US","state":"CO","county":"DENVER","city":"DENVER"},"breakdown":{"taxable_amount":1.0,"tax_collectable":0.04,"combined_tax_rate":0.04,"state_taxable_amount":1.0,"state_tax_rate":0.029,"state_tax_collectable":0.03,"county_taxable_amount":0.0,"county_tax_rate":0.0,"county_tax_collectable":0.0,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_tax_collectable":0.0,"special_district_taxable_amount":1.0,"special_tax_rate":0.011,"special_district_tax_collectable":0.01,"shipping":{"taxable_amount":0.0,"tax_collectable":0.0,"combined_tax_rate":0.04,"state_taxable_amount":0.0,"state_sales_tax_rate":0.029,"state_amount":0.0,"county_taxable_amount":0.0,"county_tax_rate":0.0,"county_amount":0.0,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_amount":0.0,"special_taxable_amount":0.0,"special_tax_rate":0.011,"special_district_amount":0.0},"line_items":[{"id":"1","taxable_amount":1.0,"tax_collectable":0.04,"combined_tax_rate":0.04,"state_taxable_amount":1.0,"state_sales_tax_rate":0.029,"state_amount":0.03,"county_taxable_amount":0.0,"county_tax_rate":0.0,"county_amount":0.0,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_amount":0.0,"special_district_taxable_amount":1.0,"special_tax_rate":0.011,"special_district_amount":0.01}]}}}'
  recorded_at: Thu, 09 Jan 2025 05:09:03 GMT
recorded_with: VCR 6.2.0
