---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"TX","to_zip":"78701","shipping":0.0,"line_items":[{"quantity":1,"unit_price":1.0,"discount":0,"product_tax_code":"31000"}],"nexus_addresses":[{"country":"US","state":"TX"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 769e6b72-fdbf-4a0e-82db-4752dc2675b1
      X-Amz-Apigw-Id:
      - EGsBlF5DIAMErOQ=
    body:
      encoding: UTF-8
      string: '{"tax":{"order_total_amount":1.0,"shipping":0.0,"taxable_amount":1.0,"amount_to_collect":0.08,"rate":0.0825,"has_nexus":true,"freight_taxable":true,"tax_source":"destination","jurisdictions":{"country":"US","state":"TX","county":"TRAVIS","city":"AUSTIN"},"breakdown":{"taxable_amount":1.0,"tax_collectable":0.08,"combined_tax_rate":0.0825,"state_taxable_amount":1.0,"state_tax_rate":0.0625,"state_tax_collectable":0.06,"county_taxable_amount":0.0,"county_tax_rate":0.0,"county_tax_collectable":0.0,"city_taxable_amount":1.0,"city_tax_rate":0.01,"city_tax_collectable":0.01,"special_district_taxable_amount":1.0,"special_tax_rate":0.01,"special_district_tax_collectable":0.01,"shipping":{"taxable_amount":0.0,"tax_collectable":0.0,"combined_tax_rate":0.0825,"state_taxable_amount":0.0,"state_sales_tax_rate":0.0625,"state_amount":0.0,"county_taxable_amount":0.0,"county_tax_rate":0.0,"county_amount":0.0,"city_taxable_amount":0.0,"city_tax_rate":0.01,"city_amount":0.0,"special_taxable_amount":0.0,"special_tax_rate":0.01,"special_district_amount":0.0},"line_items":[{"id":"1","taxable_amount":1.0,"tax_collectable":0.08,"combined_tax_rate":0.0825,"state_taxable_amount":1.0,"state_sales_tax_rate":0.0625,"state_amount":0.06,"county_taxable_amount":0.0,"county_tax_rate":0.0,"county_amount":0.0,"city_taxable_amount":1.0,"city_tax_rate":0.01,"city_amount":0.01,"special_district_taxable_amount":1.0,"special_tax_rate":0.01,"special_district_amount":0.01}]}}}'
  recorded_at: Thu, 09 Jan 2025 05:09:29 GMT
recorded_with: VCR 6.2.0
