---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"HI","to_zip":"96813","shipping":0.0,"line_items":[{"quantity":1,"unit_price":1.0,"discount":0,"product_tax_code":"31000"}],"nexus_addresses":[{"country":"US","state":"HI"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - e1896496-b5b8-4a3c-9319-8ca6bed6d00c
      X-Amz-Apigw-Id:
      - Bt4s5H1hIAMEUVQ=
    body:
      encoding: UTF-8
      string: '{"tax":{"order_total_amount":1.0,"shipping":0.0,"taxable_amount":1.0,"amount_to_collect":0.05,"rate":0.045,"has_nexus":true,"freight_taxable":true,"tax_source":"destination","jurisdictions":{"country":"US","state":"HI","county":"HONOLULU","city":"URBAN
        HONOLULU"},"breakdown":{"taxable_amount":1.0,"tax_collectable":0.05,"combined_tax_rate":0.045,"state_taxable_amount":1.0,"state_tax_rate":0.04,"state_tax_collectable":0.04,"county_taxable_amount":1.0,"county_tax_rate":0.005,"county_tax_collectable":0.01,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_tax_collectable":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_tax_collectable":0.0,"shipping":{"taxable_amount":0.0,"tax_collectable":0.0,"combined_tax_rate":0.045,"state_taxable_amount":0.0,"state_sales_tax_rate":0.04,"state_amount":0.0,"county_taxable_amount":0.0,"county_tax_rate":0.005,"county_amount":0.0,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_amount":0.0,"special_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_amount":0.0},"line_items":[{"id":"1","taxable_amount":1.0,"tax_collectable":0.05,"combined_tax_rate":0.045,"state_taxable_amount":1.0,"state_sales_tax_rate":0.04,"state_amount":0.04,"county_taxable_amount":1.0,"county_tax_rate":0.005,"county_amount":0.01,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_amount":0.0}]}}}'
  recorded_at: Sat, 23 Nov 2024 20:29:18 GMT
recorded_with: VCR 6.2.0
