---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a09afd08-2639-47a1-8620-b0df80175a79
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a09afd08-2639-47a1-8620-b0df80175a79
      Original-Request:
      - req_mNg6rj9Vu8qZz0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABC
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0Qipu89e1RjUNIyYMGtGY2uj",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1737260072,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 19 Jan 2025 04:14:32 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0Qipu89e1RjUNIyYMGtGY2uj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=You+bought+http%3A%2F%2Fedgare48df5ca20.test.gumroad.com%3A31337%2Fl%2Fq%21&metadata[purchase]=dQMAHeiff1UMsaDDxJzpTQ%3D%3D&transfer_group=20&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0Qipu89e1RjUNIyYMGtGY2uj&statement_descriptor_suffix=edgare48df5ca20
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3c54825a-fff0-41ac-b54b-df51af86c570
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3c54825a-fff0-41ac-b54b-df51af86c570
      Original-Request:
      - req_jkwvLg69GtWxtV
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABC
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2Qipu99e1RjUNIyY0JhJeWcC",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2Qipu99e1RjUNIyY0JhJeWcC_secret_2N0nwJyk0riGyHIzroHa3zW7J",
          "confirmation_method": "automatic",
          "created": 1737260073,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgare48df5ca20.test.gumroad.com:31337/l/q!",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2Qipu99e1RjUNIyY0zte4imJ",
          "livemode": false,
          "metadata": {
            "purchase": "dQMAHeiff1UMsaDDxJzpTQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0Qipu89e1RjUNIyYMGtGY2uj",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare48df5ca20",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "20"
        }
  recorded_at: Sun, 19 Jan 2025 04:14:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2Qipu99e1RjUNIyY0zte4imJ?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABC
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2Qipu99e1RjUNIyY0zte4imJ",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2Qipu99e1RjUNIyY0VHd47VI",
            "object": "balance_transaction",
            "amount": 1000,
            "available_on": 1737504000,
            "created": 1737260073,
            "currency": "usd",
            "description": "You bought http://edgare48df5ca20.test.gumroad.com:31337/l/q!",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 1000,
            "reporting_category": "charge",
            "source": "ch_2Qipu99e1RjUNIyY0zte4imJ",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGARE48DF5CA",
          "captured": true,
          "created": 1737260073,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgare48df5ca20.test.gumroad.com:31337/l/q!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "dQMAHeiff1UMsaDDxJzpTQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 37,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2Qipu99e1RjUNIyY0JhJeWcC",
          "payment_method": "pm_0Qipu89e1RjUNIyYMGtGY2uj",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "authorization_code": null,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "875457497450891",
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoqvixvAYyBnVInIMNaTosFnEo-I_2Tk27gTzOvNjUCr90vZkC7g0Sg2jZuSAa4piuyNbU5De-LMJ_QT8",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare48df5ca20",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "20"
        }
  recorded_at: Sun, 19 Jan 2025 04:14:34 GMT
recorded_with: VCR 6.2.0
