---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d3492402-5b09-402c-b6f8-6156e006ce99
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d3492402-5b09-402c-b6f8-6156e006ce99
      Original-Request:
      - req_ddH9z7ZsfIAZa4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6xCI9e1RjUNIyY7dAf2ePD",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698678970,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 15:16:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xCI9e1RjUNIyY7dAf2ePD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O6xCI9e1RjUNIyY7dAf2ePD
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 78c56b5e-1400-44c4-b2ab-eff15ed29e80
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 78c56b5e-1400-44c4-b2ab-eff15ed29e80
      Original-Request:
      - req_Dfq2p2dW04NtCr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OumlTY0hTkWPMj",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698678971,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "D713A8F8",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 15:16:11 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xCK9e1RjUNIyYVBneOLFi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xCM9e1RjUNIyYQ4wWAUJv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=800&currency=usd&description=You+bought+http%3A%2F%2Fedgarebeefeb7294.test.gumroad.com%3A31337%2Fl%2Fe&metadata[purchase]=t_s-4PmVYhGnU3bQWIWeWQ%3D%3D&transfer_group=186&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OumlZEQwfOe3MY&payment_method=pm_0O6xCM9e1RjUNIyYQ4wWAUJv&statement_descriptor_suffix=edgarebeefeb7294
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f8ff7f8e-aba1-4832-83ce-f92de8cd9283
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f8ff7f8e-aba1-4832-83ce-f92de8cd9283
      Original-Request:
      - req_hpnPJaEkUtPFvM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6xCO9e1RjUNIyY1wMo0coW",
          "object": "payment_intent",
          "amount": 800,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 800,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6xCO9e1RjUNIyY1wMo0coW_secret_YTUzFC0bH3ZhYebIcNQrY8zz7",
          "confirmation_method": "manual",
          "created": 1698678976,
          "currency": "usd",
          "customer": "cus_OumlZEQwfOe3MY",
          "description": "You bought http://edgarebeefeb7294.test.gumroad.com:31337/l/e",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6xCO9e1RjUNIyY1xfIkRfe",
          "livemode": false,
          "metadata": {
            "purchase": "t_s-4PmVYhGnU3bQWIWeWQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6xCM9e1RjUNIyYQ4wWAUJv",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarebeefeb7294",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "186"
        }
  recorded_at: Mon, 30 Oct 2023 15:16:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6xCO9e1RjUNIyY1xfIkRfe?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6xCO9e1RjUNIyY1xfIkRfe",
          "object": "charge",
          "amount": 800,
          "amount_captured": 800,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6xCO9e1RjUNIyY1Cd5zaUP",
            "object": "balance_transaction",
            "amount": 800,
            "available_on": 1698796800,
            "created": 1698678976,
            "currency": "usd",
            "description": "You bought http://edgarebeefeb7294.test.gumroad.com:31337/l/e",
            "exchange_rate": null,
            "fee": 45,
            "fee_details": [
              {
                "amount": 45,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 755,
            "reporting_category": "charge",
            "source": "ch_2O6xCO9e1RjUNIyY1xfIkRfe",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAREBEEFE",
          "captured": true,
          "created": 1698678976,
          "currency": "usd",
          "customer": "cus_OumlZEQwfOe3MY",
          "description": "You bought http://edgarebeefeb7294.test.gumroad.com:31337/l/e",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "t_s-4PmVYhGnU3bQWIWeWQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 33,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6xCO9e1RjUNIyY1wMo0coW",
          "payment_method": "pm_0O6xCM9e1RjUNIyYQ4wWAUJv",
          "payment_method_details": {
            "card": {
              "amount_authorized": 800,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 800,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUowpH_qQYyBq_f5248_DosFp3WjdjJrzvhycZeJPQ7871nqIUzQcHRLzqYowNIAKV-R1OdycLCVPvzZS0",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarebeefeb7294",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "186"
        }
  recorded_at: Mon, 30 Oct 2023 15:16:18 GMT
recorded_with: VCR 6.2.0
