---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0259&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c7d778ba-1735-4b36-95c1-6462fc6def43
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c7d778ba-1735-4b36-95c1-6462fc6def43
      Original-Request:
      - req_tgqr6Vn8iIAF8W
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0Ow6sE9e1RjUNIyYjZgI8AAq",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "VxUGbAs1AGxaj8mD",
            "funding": "credit",
            "generated_from": null,
            "last4": "0259",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1710870894,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 19 Mar 2024 17:54:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=2782420105969&metadata[tos_agreement_id]=G_-mnBf9b1j9A7a4ub4nFQ%3D%3D&metadata[user_compliance_info_id]=G_-mnBf9b1j9A7a4ub4nFQ%3D%3D&metadata[bank_account_id]=G_-mnBf9b1j9A7a4ub4nFQ%3D%3D&tos_acceptance[date]=1710870894&tos_acceptance[ip]=54.23[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1Ow6sGS3dTbuSVbJ/persons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1Ow6sGS3dTbuSVbJ
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "person_1Ow6sGS3dTbuSVbJ7HGKAWN5",
              "object": "person",
              "account": "acct_1Ow6sGS3dTbuSVbJ",
              "additional_tos_acceptances": {
                "account": {
                  "date": null,
                  "ip": null,
                  "user_agent": null
                }
              },
              "address": {
                "city": "San Francisco",
                "country": "US",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "94107",
                "state": "California"
              },
              "created": 1710870897,
              "dob": {
                "day": 1,
                "month": 1,
                "year": 1901
              },
              "email": "edgarf928172d_1@gumroad.com",
              "first_name": "Chuck",
              "future_requirements": {
                "alternatives": [],
                "currently_due": [
                  "phone"
                ],
                "errors": [
                  {
                    "code": "invalid_phone_number",
                    "reason": "This field must contain a valid phone number for your country, or it has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                    "requirement": "phone"
                  }
                ],
                "eventually_due": [
                  "phone"
                ],
                "past_due": [],
                "pending_verification": [
                  "address.city",
                  "address.line1",
                  "address.postal_code",
                  "address.state",
                  "id_number",
                  "verification.document"
                ]
              },
              "id_number_provided": true,
              "last_name": "Bartowski",
              "metadata": {},
              "phone": "+10000000000",
              "relationship": {
                "director": false,
                "executive": false,
                "legal_guardian": false,
                "owner": false,
                "percent_ownership": null,
                "representative": true,
                "title": null
              },
              "requirements": {
                "alternatives": [],
                "currently_due": [],
                "errors": [],
                "eventually_due": [],
                "past_due": [],
                "pending_verification": [
                  "address.city",
                  "address.line1",
                  "address.postal_code",
                  "address.state",
                  "id_number",
                  "verification.document"
                ]
              },
              "ssn_last_4_provided": true,
              "verification": {
                "additional_document": {
                  "back": null,
                  "details": null,
                  "details_code": null,
                  "front": null
                },
                "details": null,
                "details_code": null,
                "document": {
                  "back": null,
                  "details": null,
                  "details_code": null,
                  "front": null
                },
                "status": "pending"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/accounts/acct_1Ow6sGS3dTbuSVbJ/persons"
        }
  recorded_at: Tue, 19 Mar 2024 17:55:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1Ow6sGS3dTbuSVbJ/persons/person_1Ow6sGS3dTbuSVbJ7HGKAWN5
    body:
      encoding: UTF-8
      string: verification[document][front]=file_identity_document_success
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 638775c5-6879-47cc-b7c2-13021e24c2c7
      Stripe-Version:
      - '2023-10-16'
  response:
    stat[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1Ow6sGS3dTbuSVbJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1Ow6sGS3dTbuSVbJ
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1Ow6sGS3dTbuSVbJ",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "name": "Chuck Bartowski",
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "pending"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "US",
          "created": 1710870897,
          "default_currency": "usd",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1Ow6sGS3dTbuSVbJRr6TkXrT",
                "object": "bank_account",
                "account": "acct_1Ow6sGS3dTbuSVbJ",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard",
                  "instant"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "dx7dqwoGHEQDKLLK",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1Ow6sGS3dTbuSVbJ/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1713294000,
            "currently_due": [
              "individual.phone"
            ],
            "disabled_reason": null,
            "errors": [
              {
                "code": "invalid_phone_number",
                "reason": "This field must contain a valid phone number for your country, or it has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                "requirement": "individual.phone"
              }
            ],
            "eventually_due": [
              "individual.phone"
            ],
            "past_due": [],
            "pending_verification": [
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "individual": {
            "id": "person_1Ow6sGS3dTbuSVbJ7HGKAWN5",
            "object": "person",
            "account": "acct_1Ow6sGS3dTbuSVbJ",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "created": 1710870897,
            "dob": {
              "day": 1,
              "month": 1,
[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0Ow6sE9e1RjUNIyYjZgI8AAq&payment_method_types[0]=card&currency=usd&amount=1000&transfer_data[destination]=acct_1Ow6sGS3dTbuSVbJ&transfer_data[amount]=841
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 722bf9d1-2def-4b95-a0c2-a8d5723512de
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 722bf9d1-2def-4b95-a0c2-a8d5723512de
      Original-Request:
      - req_IXxWpP2xtSAP34
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2Ow6sZ9e1RjUNIyY1T3WWSfd",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2Ow6sZ9e1RjUNIyY1T3WWSfd_secret_JDxBnlQlIPeogMszzPaj43fnQ",
          "confirmation_method": "automatic",
          "created": 1710870915,
          "currency": "usd",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0Ow6sE9e1RjUNIyYjZgI8AAq",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": {
            "amount": 841,
            "destination": "acct_1Ow6sGS3dTbuSVbJ"
          },
          "transfer_group": null
        }
  recorded_at: Tue, 19 Mar 2024 17:55:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2Ow6sZ9e1RjUNIyY1T3WWSfd/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b0b1dcfa-2b20-44ae-82fe-d15e7ead606c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2Ow6sZ9e1RjUNIyY1oYaD04l
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2Ow6sZ9e1RjUNIyY1oYaD04l",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_2Ow6sZ9e1RjUNIyY1k83CNoN",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD.COM/C",
          "captured": true,
          "created": 1710870916,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": "acct_1Ow6sGS3dTbuSVbJ",
          "dispute": "dp_0Ow6sb9e1RjUNIyYG1TUE4Rr",
          "disputed": true,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 38,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2Ow6sZ9e1RjUNIyY1T3WWSfd",
          "payment_method": "pm_0Ow6sE9e1RjUNIyYjZgI8AAq",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "VxUGbAs1AGxaj8mD",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "0259",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUohqPnrwYyBkhBoauigTosFvCcEeJdC6PupLCRP5Y9VvDwO7bYHU_MoplDTwxEusPXgSvHc04Or6-Gj_A",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer": "tr_2Ow6sZ9e1RjUNIyY1mV9miaS",
          "transfer_data": {
            "amount": 841,
            "destination": "acct_1Ow6sGS3dTbuSVbJ"
          },
          "transfer_group": "group_pi_2Ow6sZ9e1RjUNIyY1T3WWSfd"
        }
  recorded_at: Tue, 19 Mar 2024 17:55:18 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/disputes/dp_0Ow6sb9e1RjUNIyYG1TUE4Rr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "dp_0Ow6sb9e1RjUNIyYG1TUE4Rr",
          "object": "dispute",
          "amount": 1000,
          "balance_transaction": "txn_0Ow6sb9e1RjUNIyYYqHPnUZx",
          "balance_transactions": [
            {
              "id": "txn_0Ow6sb9e1RjUNIyYYqHPnUZx",
              "object": "balance_transaction",
              "amount": -1000,
              "available_on": 1710892800,
              "created": 1710870917,
              "currency": "usd",
              "description": "Chargeback withdrawal for ch_2Ow6sZ9e1RjUNIyY1oYaD04l",
              "exchange_rate": null,
              "fee": 1500,
              "fee_details": [
                {
                  "amount": 1500,
                  "application": null,
                  "currency": "usd",
                  "description": "Dispute fee",
                  "type": "stripe_fee"
                }
              ],
              "net": -2500,
              "reporting_category": "dispute",
              "source": "dp_0Ow6sb9e1RjUNIyYG1TUE4Rr",
              "status": "pending",
              "type": "adjustment"
            }
          ],
          "charge": "ch_2Ow6sZ9e1RjUNIyY1oYaD04l",
          "created": 1710870917,
          "currency": "usd",
          "evidence": {
            "access_activity_log": null,
            "billing_address": null,
            "cancellation_policy": null,
            "cancellation_policy_disclosure": null,
            "cancellation_rebuttal": null,
            "customer_communication": null,
            "customer_email_address": null,
            "customer_name": null,
            "customer_purchase_ip": null,
            "customer_signature": null,
            "duplicate_charge_documentation": null,
            "duplicate_charge_explanation": null,
            "duplicate_charge_id": null,
            "product_description": null,
            "receipt": null,
            "refund_policy": null,
            "refund_policy_disclosure": null,
            "refund_refusal_explanation": null,
            "service_date": null,
            "service_documentation": null,
            "shipping_address": null,
            "shipping_carrier": null,
            "shipping_date": null,
            "shipping_documentation": null,
            "shipping_tracking_number": null,
            "uncategorized_file": null,
            "uncategorized_text": null
          },
          "evidence_details": {
            "due_by": 1711670399,
            "has_evidence": false,
            "past_due": false,
            "submission_count": 0
          },
          "is_charge_refundable": false,
          "livemode": false,
          "metadata": {},
          "payment_intent": "pi_2Ow6sZ9e1RjUNIyY1T3WWSfd",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "network_reason_code": "83"
            },
            "type": "card"
          },
          "reason": "fraudulent",
          "status": "needs_response"
        }
  recorded_at: Tue, 19 Mar 2024 17:55:20 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2Ow6sZ9e1RjUNIyY1mV9miaS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2Ow6sZ9e1RjUNIyY1mV9miaS",
          "object": "transfer",
          "amount": 841,
          "amount_reversed": 841,
          "balance_transaction": "txn_2Ow6sZ9e1RjUNIyY1cUv8MFz",
          "created": 1710870916,
          "currency": "usd",
          "description": null,
          "destination": "acct_1Ow6sGS3dTbuSVbJ",
          "destination_payment": "py_1Ow6saS3dTbuSVbJ7GxnzMOp",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [
              {
                "id": "trr_0Ow6sh9e1RjUNIyYXESbZELI",
                "object": "transfer_reversal",
                "amount": 841,
                "balance_transaction": "txn_0Ow6sh9e1RjUNIyYT5iIW1jB",
                "created": 1710870923,
                "currency": "usd",
                "destination_payment_refund": "pyr_1Ow6shS3dTbuSVbJRMturlkV",
                "metadata": {},
                "source_refund": null,
                "transfer": "tr_2Ow6sZ9e1RjUNIyY1mV9miaS"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/transfers/tr_2Ow6sZ9e1RjUNIyY1mV9miaS/reversals"
          },
          "reversed": true,
          "source_transaction": "ch_2Ow6sZ9e1RjUNIyY1oYaD04l",
          "source_type": "card",
          "transfer_group": "group_pi_2Ow6sZ9e1RjUNIyY1T3WWSfd"
        }
  recorded_at: Tue, 19 Mar 2024 17:55:26 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/disputes/dp_0Ow6sb9e1RjUNIyYG1TUE4Rr?expand%5B%5D=balance_transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2Ow6sZ9e1RjUNIyY1oYaD04l?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction&expand%5B%5D=transfer.reversals.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
   [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: destination=acct_1Ow6sGS3dTbuSVbJ&currency=usd&description=Dispute+dp_0Ow6sb9e1RjUNIyYG1TUE4Rr+won+Related+Charge+ID%3A+ch_2Ow6sZ9e1RjUNIyY1oYaD04l.&amount=841&expand[0]=balance_transaction
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1da015ad-daea-47f9-924c-532361bc[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1Ow6snS3dTbuSVbJOlEzAxoQ?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1Ow6sGS3dTbuSVbJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1Ow6sGS3dTbuSVbJ
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1Ow6snS3dTbuSVbJOlEzAxoQ",
          "object": "charge",
          "amount": 841,
          "amount_captured": 841,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1Ow6snS3dTbuSVbJuITrz8mP",
            "object": "balance_transaction",
            "amount": 841,
            "available_on": 1710870929,
            "created": 1710870929,
            "currency": "usd",
            "description": null,
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 841,
            [...]
