---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJwbGF5LWJpbGxpbmctYXBpQGd1bXJvYWQtbGlicmFyeS5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsImF1ZCI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL29hdXRoMi92NC90b2tlbiIsImV4cCI6MTcyMDI3NzQyNSwiaWF0IjoxNzIwMjc3MzA1LCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvYW5kcm9pZHB1Ymxpc2hlciJ9.jM7TBOAwN_4sOitHVh2-B2MAO2D8mxHAjSAxXpc3hHY1vE5oIXriQSvRjcJAnSGXPIS_piCAwj3BMx1Mzd4bdb60U61s_ihihZg5I_WGH862Q3bl6CnSHK6xBj5mQ5OhOpfVWnjLnikgrGkPOlJP1oTl-yGxw1OZyqK7EIrd3Pq7xmlpgv7fmRalRWaMBM5xQ2LK7MIiyzr7wLUmsUqOu4hYm-tQHsLGTwIXg_sOtuhimkOmUwv5J4PMJqoD9D_xj6fWgljIeXGA7fiAu9GQJ0y6thXGtlicmElNGXLfPGr5IpvDPyNUGQcY8yWt8Tfoq7QNKCqzL4dLodjr6wkHrQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ya29.c.c0AY_VpZjOECbrJy9UFzA8qc0bZx1kL-64Y0thD2zyN82f3D95ghzCi6aaNusYZYGWE83vDWm0QHjeODZVkqgryV6RGs8KvATFRk_NqDCR-1XK72JzxNIL-w1XaCxYDGa9D9ibLR7Jqp7f7CqrZ7KSOr1uRf6_crOIffa6l6I07IBBK6uOmRIS4DM9iDwlBLWtP621C1yUVVgGcjZd2NMhFw9RKICbl2vGSelhM5SmCDjyYAk3vPnwYViVwbv1Vwupi59a7SrWIiBi9MSNOVElKtxzjllDvWZNAPu-mTwpxdNEetzoz0WBcGNv1oSYRmqARiJGLNCrXNnrlKp3z-qq3cXODUvP5KIz2gaoDqFXSVql4X1QL3lzaJBwG385PvczbQd5BkZucald0WjX2vqf9wZJUOZ6lelvk0nwXtw52jY9QFtknl7rZIzv1Z7tZlilmcwoM0W8MyBrtIr2q2yscRkX7YZr1_1zcefQxqmI_mJUUY_-QVjObwad_lBl6cReYzhd9o8vzf-mkUjVzc52gOBhW2XBlcO6y-hrjd9l2_MSFFvc4cuzYfcR0jm7WWbfOBgtMFWblUW5vBUIic52zttxRf0v_jo2345Zyp-u-iMJjJfB2wpO-X8QjV4V9ZkskprBI9sXYo2o6s8b-in0do9b1SI9zY1wcrZdS3wqW9tYbh-jdeYcb609tpll8_yXo11QrqOoav_dVv0FOVZRV1l5trst-I6-kliMouesaqgO7BkxF0Rv3UhutZZh5idw2QcpiFMlz3_0tO5jFO_58_oSalMZpXRhFZJaoonb2XoYZciumFWfgtYkd0vpksx5rnxUBkR6jM2W4-yp3bu0YhMiByqQStknQpIgXdkxUlz_nQwoXwQ6abfx037YJRcgFzodS85aBl7g4oBFyIm0W9RR8VtXqIVvXF5cOUI88UX0h6rXtlIdmji06wrzUi11r7avqoa6BQ_bRs_f4goB1Bit2S60flYag0R07a-85Ow-rldgdeWfsM6","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Sat, 06 Jul 2024 14:49:25 GMT
- request:
    method: get
    uri: https://androidpublisher.googleapis.com/androidpublisher/v3/applications/com.gumroad.app/purchases/products/com.gumroad.product_2/tokens/ioaofjheincpkpjngbpeklnj.AO-J1Oz2PB6tI_SYNj1vMDgLuNffrzVMNNZwV9vpOUqFOzicks0zTDZl6xh1q3StS-gxZf0WVjyAyayhPh0-6TwAS8gkahn7FQ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.c0AY_VpZjOECbrJy9UFzA8qc0bZx1kL-64Y0thD2zyN82f3D95ghzCi6aaNusYZYGWE83vDWm0QHjeODZVkqgryV6RGs8KvATFRk_NqDCR-1XK72JzxNIL-w1XaCxYDGa9D9ibLR7Jqp7f7CqrZ7KSOr1uRf6_crOIffa6l6I07IBBK6uOmRIS4DM9iDwlBLWtP621C1yUVVgGcjZd2NMhFw9RKICbl2vGSelhM5SmCDjyYAk3vPnwYViVwbv1Vwupi59a7SrWIiBi9MSNOVElKtxzjllDvWZNAPu-mTwpxdNEetzoz0WBcGNv1oSYRmqARiJGLNCrXNnrlKp3z-qq3cXODUvP5KIz2gaoDqFXSVql4X1QL3lzaJBwG385PvczbQd5BkZucald0WjX2vqf9wZJUOZ6lelvk0nwXtw52jY9QFtknl7rZIzv1Z7tZlilmcwoM0W8MyBrtIr2q2yscRkX7YZr1_1zcefQxqmI_mJUUY_-QVjObwad_lBl6cReYzhd9o8vzf-mkUjVzc52gOBhW2XBlcO6y-hrjd9l2_MSFFvc4cuzYfcR0jm7WWbfOBgtMFWblUW5vBUIic52zttxRf0v_jo2345Zyp-u-iMJjJfB2wpO-X8QjV4V9ZkskprBI9sXYo2o6s8b-in0do9b1SI9zY1wcrZdS3wqW9tYbh-jdeYcb609tpll8_yXo11QrqOoav_dVv0FOVZRV1l5trst-I6-kliMouesaqgO7BkxF0Rv3UhutZZh5idw2QcpiFMlz3_0tO5jFO_58_oSalMZpXRhFZJaoonb2XoYZciumFWfgtYkd0vpksx5rnxUBkR6jM2W4-yp3bu0YhMiByqQStknQpIgXdkxUlz_nQwoXwQ6abfx037YJRcgFzodS85aBl7g4oBFyIm0W9RR8VtXqIVvXF5cOUI88UX0h6rXtlIdmji06wrzUi11r7avqoa6BQ_bRs_f4goB1Bit2S60flYag0R07a-85Ow-rldgdeWfsM6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "purchaseTimeMillis": "1720126119585",
          "purchaseState": 0,
          "consumptionState": 1,
          "developerPayload": "",
          "orderId": "GPA.3375-1247-2605-34469",
          "purchaseType": 0,
          "acknowledgementState": 1,
          "kind": "androidpublisher#productPurchase",
          "regionCode": "US"
        }
  recorded_at: Sat, 06 Jul 2024 14:49:25 GMT
[...]
- request:
    method: get
    uri: https://androidpublisher.googleapis.com/androidpublisher/v3/applications/com.gumroad.app/inappproducts/com.gumroad.product_2
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.c0AY_VpZh5o6ZAS-eAaSwtNq1r02wSB86IDf-PtjRBPVuLJa4EKhpEnTyPIRCd7zilcXlI2cyodflgtzyCKneAFwF-vWJ7TK_hU2qqEuO4eUAT4O2wsCPs8YXLTCNySTo2Q0JaIsEt9VMXnk6FgreZEn-YlPYCAlFUMLZNrjFJ-fLInWURaj8zK4YWwm-NK2a1Ea74GITS-cJ3-DXVsoj_RFmqjIJt9XmQ_9G3WnrVM5tXEb5QrpbbxUas3DNYXbfq_j2a7AS8ZWLPrxM0BV9wBe8Z2C77xq3U9QwX10B8nmPNa3eyaGGzE95Xj5KZetSZOdGlJFI0CFoRshy9g7DgkO7XMuEf-yYZ-W_CticXHdMt9j5IVJcHsQG383Dmm_JmwVjJ94FF5siblYBMw315oUSOIYJg5oURf72_hFOMxiQphB3wQyQj5cyRkf9XoxajVkcIFcR_iZYozdt5iSzjRswz6dogzxO12ru4Wmvr_XzpouXmU5a4iBvUSrnVhhquhqkwcQszt-klfbuj8Iy1b8MvZWm72xFJbp8w1uBpJ-XaIVvjoxp1F1Xy3meSbSsny_8Y8wzpu62UvbJYXbfvwziS7xXoh4zdfnzjBV0zm3t3Mm0UtUcJyFvssndgR5lcq2ZoMg0UgFilmQ88RW3hg-rM6Xfs29IoZIoBgobIJbfFgaecfbJfj6OgnF2I18thsZj5YwIVkrwlVbfcaZV1YzhBFbqYIXvZQBnbfpx5bpylltRkhoikU6hlt_VjJnRmI5o-8UbUkFkt5YSQZf-bsWVRzY22qcyoU8huIgVtg1-nyb-3-kakIssnWcYzeb-IFOj8UrsyJgOiYcte3kuUwho9teMa5B4vJrvmguMnz2hs-c7bO9io6-ll78ol1ifVrVMtBZI7ec_ne_Omit720Ian3wJ0kkilWf-bZi31j4RigJ-3Mq5c1xguFRiFXc6rvoyJuiR0l4t5lZZvIX692I43ooJwzw7o_Rsy4fsSO6nzrjQiaSIfl7Q
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 463f267a1a4746487ce42c921603d7faf6324bee
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "packageName": "com.gumroad.app",
          "sku": "com.gumroad.product_2",
          "status": "active",
          "purchaseType": "managedUser",
          "defaultPrice": {
            "priceMicros": "2000000",
            "currency": "USD"
          },
          "prices": {
            "AE": {
              "priceMicros": "7690000",
              "currency": "AED"
            },
            "AT": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "AU": {
              "priceMicros": "3290000",
              "currency": "AUD"
            },
            "BD": {
              "priceMicros": "290000000",
              "currency": "BDT"
            },
            "BE": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "BG": {
              "priceMicros": "4290000",
              "currency": "BGN"
            },
            "BH": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "BM": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "BO": {
              "priceMicros": "13990000",
              "currency": "BOB"
            },
            "BR": {
              "priceMicros": "10990000",
              "currency": "BRL"
            },
            "CA": {
              "priceMicros": "2690000",
              "currency": "CAD"
            },
            "CH": {
              "priceMicros": "1800000",
              "currency": "CHF"
            },
            "CL": {
              "priceMicros": "2200000000",
              "currency": "CLP"
            },
            "CO": {
              "priceMicros": "8000000000",
              "currency": "COP"
            },
            "CR": {
              "priceMicros": "1100000000",
              "currency": "CRC"
            },
            "CY": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "CZ": {
              "priceMicros": "54990000",
              "currency": "CZK"
            },
            "DE": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "DK": {
              "priceMicros": "17000000",
              "currency": "DKK"
            },
            "DZ": {
              "priceMicros": "275000000",
              "currency": "DZD"
            },
            "EC": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "EE": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "EG": {
              "priceMicros": "109990000",
              "currency": "EGP"
            },
            "ES": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "FI": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "FM": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "FR": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "GB": {
              "priceMicros": "1890000",
              "currency": "GBP"
            },
            "GE": {
              "priceMicros": "7000000",
              "currency": "GEL"
            },
            "GH": {
              "priceMicros": "40000000",
              "currency": "GHS"
            },
            "GI": {
              "priceMicros": "1590000",
              "currency": "GBP"
            },
            "GR": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "HK": {
              "priceMicros": "15000000",
              "currency": "HKD"
            },
            "HR": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "HU": {
              "priceMicros": "899000000",
              "currency": "HUF"
            },
            "ID": {
              "priceMicros": "33000000000",
              "currency": "IDR"
            },
            "IE": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "IL": {
              "priceMicros": "7500000",
              "currency": "ILS"
            },
            "IN": {
              "priceMicros": "200000000",
              "currency": "INR"
            },
            "IQ": {
              "priceMicros": "2600000000",
              "currency": "IQD"
            },
            "IT": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "JO": {
              "priceMicros": "1400000",
              "currency": "JOD"
            },
            "JP": {
              "priceMicros": "320000000",
              "currency": "JPY"
            },
            "KE": {
              "priceMicros": "300000000",
              "currency": "KES"
            },
            "KH": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "KR": {
              "priceMicros": "3000000000",
              "currency": "KRW"
            },
            "KW": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "KY": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "KZ": {
              "priceMicros": "1090000000",
              "currency": "KZT"
            },
            "LI": {
              "priceMicros": "1900000",
              "currency": "CHF"
            },
            "LK": {
              "priceMicros": "600000000",
              "currency": "LKR"
            },
            "LT": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "LU": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "LV": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "MA": {
              "priceMicros": "23990000",
              "currency": "MAD"
            },
            "MC": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "MM": {
              "priceMicros": "4000000000",
              "currency": "MMK"
            },
            "MO": {
              "priceMicros": "15990000",
              "currency": "MOP"
            },
            "MX": {
              "priceMicros": "42000000",
              "currency": "MXN"
            },
            "MY": {
              "priceMicros": "9990000",
              "currency": "MYR"
            },
            "NG": {
              "priceMicros": "3280000000",
              "currency": "NGN"
            },
            "NL": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "NO": {
              "priceMicros": "26000000",
              "currency": "NOK"
            },
            "NZ": {
              "priceMicros": "3790000",
              "currency": "NZD"
            },
            "OM": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "PA": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "PE": {
              "priceMicros": "7490000",
              "currency": "PEN"
            },
            "PH": {
              "priceMicros": "119000000",
              "currency": "PHP"
            },
            "PK": {
              "priceMicros": "550000000",
              "currency": "PKR"
            },
            "PL": {
              "priceMicros": "9690000",
              "currency": "PLN"
            },
            "PT": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "PY": {
              "priceMicros": "20000000000",
              "currency": "PYG"
            },
            "QA": {
              "priceMicros": "7500000",
              "currency": "QAR"
            },
            "RO": {
              "priceMicros": "10990000",
              "currency": "RON"
            },
            "RS": {
              "priceMicros": "249000000",
              "currency": "RSD"
            },
            "RU": {
              "priceMicros": "179000000",
              "currency": "RUB"
            },
            "SA": {
              "priceMicros": "8590000",
              "currency": "SAR"
            },
            "SE": {
              "priceMicros": "26000000",
              "currency": "SEK"
            },
            "SG": {
              "priceMicros": "2980000",
              "currency": "SGD"
            },
            "SI": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "SK": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "SM": {
              "priceMicros": "1890000",
              "currency": "EUR"
            },
            "SV": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "TC": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "TH": {
              "priceMicros": "78000000",
              "currency": "THB"
            },
            "TR": {
              "priceMicros": "77990000",
              "currency": "TRY"
            },
            "TW": {
              "priceMicros": "68000000",
              "currency": "TWD"
            },
            "TZ": {
              "priceMicros": "5500000000",
              "currency": "TZS"
            },
            "UA": {
              "priceMicros": "94990000",
              "currency": "UAH"
            },
            "US": {
              "priceMicros": "2000000",
              "currency": "USD"
            },
            "VA": {
              "priceMicros": "1890000",
              "currency": "EUR"
            },
            "VG": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "VN": {
              "priceMicros": "51000000000",
              "currency": "VND"
            },
            "ZA": {
              "priceMicros": "41990000",
              "currency": "ZAR"
            }
          },
          "listings": {
            "en-US": {
              "title": "Gumroad Product",
              "description": "Gumroad Product $2"
            }
          },
          "defaultLanguage": "en-US",
          "managedProductTaxesAndComplianceSettings": {
            "eeaWithdrawalRightType": "WITHDRAWAL_RIGHT_DIGITAL_CONTENT"
          }
        }
  recorded_at: Sat, 06 Jul 2024 14:49:26 GMT
recorded_with: VCR 6.2.0
