---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2ae3f85b-0e81-4a5d-8630-7137c482b8ae
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2ae3f85b-0e81-4a5d-8630-7137c482b8ae
      Original-Request:
      - req_8brjdSaJQK1zgL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0PYcSm9e1RjUNIyYZUtaPqno",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1720048788,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 03 Jul 2024 23:19:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0PYcSm9e1RjUNIyYZUtaPqno
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=2&email=edgar59ae752f_4%40gumroad.com&payment_method=pm_0PYcSm9e1RjUNIyYZUtaPqno
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 373fe5b9-5f17-4473-9fa6-c3f691fd3bab
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 373fe5b9-5f17-4473-9fa6-c3f691fd3bab
      Original-Request:
      - req_DiVx77Rl5TQVu4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_QPRL3Exl5m3HiC",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1720048789,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "2",
          "discount": null,
          "email": "edgar59ae752f_4@gumroad.com",
          "invoice_prefix": "F4799F58",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 03 Jul 2024 23:19:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=599&currency=usd&description=You+bought+http%3A%2F%2Fedgarc9d437e93.test.gumroad.com%3A31337%2Fl%2Fe&metadata[purchase]=G_-mnBf9b1j9A7a4ub4nFQ%3D%3D&transfer_group=1&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_QPRL3Exl5m3HiC&payment_method=pm_0PYcSm9e1RjUNIyYZUtaPqno&statement_descriptor_suffix=edgarc9d437e93
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 394abebd-1a7b-49ea-8fa4-1e246ed87f85
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 394abebd-1a7b-49ea-8fa4-1e246ed87f85
      Original-Request:
      - req_zoWUSj5dYE5Iqc
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2PYcSq9e1RjUNIyY1tWDvHgB",
          "object": "payment_intent",
          "amount": 599,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 599,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2PYcSq9e1RjUNIyY1tWDvHgB_secret_ffexcJ36q7dtLO2p83jWa6HcK",
          "confirmation_method": "automatic",
          "created": 1720048792,
          "currency": "usd",
          "customer": "cus_QPRL3Exl5m3HiC",
          "description": "You bought http://edgarc9d437e93.test.gumroad.com:31337/l/e",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2PYcSq9e1RjUNIyY178WxECz",
          "livemode": false,
          "metadata": {
            "purchase": "G_-mnBf9b1j9A7a4ub4nFQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0PYcSm9e1RjUNIyYZUtaPqno",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarc9d437e93",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2PYcSq9e1RjUNIyY178WxECz?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2PYcSq9e1RjUNIyY178WxECz",
          "object": "charge",
          "amount": 599,
          "amount_captured": 599,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2PYcSq9e1RjUNIyY1HSanM3H",
            "object": "balance_transaction",
            "amount": 599,
            "available_on": 1720396800,
            "created": 1720048792,
            "currency": "usd",
            "description": "You bought http://edgarc9d437e93.test.gumroad.com:31337/l/e",
            "exchange_rate": null,
            "fee": 35,
            "fee_details": [
              {
                "amount": 35,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 564,
            "reporting_category": "charge",
            "source": "ch_2PYcSq9e1RjUNIyY178WxECz",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD.CO* EDGARC9D43",
          "captured": true,
          "created": 1720048792,
          "currency": "usd",
          "customer": "cus_QPRL3Exl5m3HiC",
          "description": "You bought http://edgarc9d437e93.test.gumroad.com:31337/l/e",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "G_-mnBf9b1j9A7a4ub4nFQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 22,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2PYcSq9e1RjUNIyY1tWDvHgB",
          "payment_method": "pm_0PYcSm9e1RjUNIyYZUtaPqno",
          "payment_method_details": {
            "card": {
              "amount_authorized": 599,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 599,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUombmXtAYyBhv7k-Rn6DosFhg5d8nypkYY7Fg6urupu9F3Fcv7hz0ElQRr1Hsel6EXXrlRxz5ZMXCF6Jg",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarc9d437e93",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0PYcSs9e1RjUNIyY7XG4ojhm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123&card[currency]=usd
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4a26e2a3-3273-4fd2-89a9-e8776c3dd1e7
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4a26e2a3-3273-4fd2-89a9-e8776c3dd1e7
      Original-Request:
      - req_hzJvzlBJ3Nulo9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_0PYcSu9e1RjUNIyYq8DyIxdF",
          "object": "token",
          "card": {
            "id": "card_0PYcSu9e1RjUNIyYZW9a5ECz",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "currency": "usd",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "networks": {
              "preferred": null
            },
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": "177.220.187.197",
          "created": 1720048796,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 01 May 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_0PYcSu9e1RjUNIyYq8DyIxdF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
[...]
