---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7975001c-6457-4fec-a12c-d82ffbf3b5fa
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7975001c-6457-4fec-a12c-d82ffbf3b5fa
      Original-Request:
      - req_FIr8rTpFLcrUUV
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6xC49e1RjUNIyYf906EVpr",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698678956,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 15:15:56 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xC49e1RjUNIyYf906EVpr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O6xC49e1RjUNIyYf906EVpr
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b79ff069-2ff5-4190-b522-8808f7b44cc1
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b79ff069-2ff5-4190-b522-8808f7b44cc1
      Original-Request:
      - req_xc4o8sg7mj1v1g
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OumlOX3wHCKTXo",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698678957,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "133D6E8B",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 15:15:57 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xC69e1RjUNIyYntoEzJW9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=444&currency=usd&description=You+bought+http%3A%2F%2Fedgare9541fe5284.test.gumroad.com%3A31337%2Fl%2Fy&metadata[purchase]=uRfeJJQ8VX4SO5vR_8iUuA%3D%3D&transfer_group=179&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OumlMOOHRFCt6z&payment_method=pm_0O6xC69e1RjUNIyYntoEzJW9&statement_descriptor_suffix=edgare9541fe5284
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2343b953-ad33-421e-9c5e-54927d60e983
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2343b953-ad33-421e-9c5e-54927d60e983
      Original-Request:
      - req_wlaDU2gkiV8Ktx
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6xC89e1RjUNIyY008xdsag",
          "object": "payment_intent",
          "amount": 444,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 444,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6xC89e1RjUNIyY008xdsag_secret_reHwU5qJyMQPzSkt6SuJNQUvY",
          "confirmation_method": "manual",
          "created": 1698678960,
          "currency": "usd",
          "customer": "cus_OumlMOOHRFCt6z",
          "description": "You bought http://edgare9541fe5284.test.gumroad.com:31337/l/y",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6xC89e1RjUNIyY0ZurCyDI",
          "livemode": false,
          "metadata": {
            "purchase": "uRfeJJQ8VX4SO5vR_8iUuA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6xC69e1RjUNIyYntoEzJW9",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare9541fe5284",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "179"
        }
  recorded_at: Thu, 30 Nov 2023 15:16:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6xC89e1RjUNIyY0ZurCyDI?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6xC89e1RjUNIyY0ZurCyDI",
          "object": "charge",
          "amount": 444,
          "amount_captured": 444,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6xC89e1RjUNIyY0BWpOlVj",
            "object": "balance_transaction",
            "amount": 444,
            "available_on": 1698796800,
            "created": 1698678960,
            "currency": "usd",
            "description": "You bought http://edgare9541fe5284.test.gumroad.com:31337/l/y",
            "exchange_rate": null,
            "fee": 27,
            "fee_details": [
              {
                "amount": 27,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 417,
            "reporting_category": "charge",
            "source": "ch_2O6xC89e1RjUNIyY0ZurCyDI",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARE9541F",
          "captured": true,
          "created": 1698678960,
          "currency": "usd",
          "customer": "cus_OumlMOOHRFCt6z",
          "description": "You bought http://edgare9541fe5284.test.gumroad.com:31337/l/y",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "uRfeJJQ8VX4SO5vR_8iUuA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 0,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6xC89e1RjUNIyY008xdsag",
          "payment_method": "pm_0O6xC69e1RjUNIyYntoEzJW9",
          "payment_method_details": {
            "card": {
              "amount_authorized": 444,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 444,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUospH_qQYyBrjLl5oH4zosFrPuPoj_v98V70mc8d9UxC-Qt0x0iD5UHYeOTwSdMtHR6Mn9IOYFwCi_-Rg",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare9541fe5284",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "179"
        }
  recorded_at: Thu, 30 Nov 2023 15:16:00 GMT
recorded_with: VCR 6.2.0
