---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e5c47262-4eb9-49c3-8f41-cc751e98552e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e5c47262-4eb9-49c3-8f41-cc751e98552e
      Original-Request:
      - req_0ldfeH5GNI7d8p
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O7NlQ9e1RjUNIyYxNx0wZ5F",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698781092,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 31 Oct 2023 19:38:12 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7NlQ9e1RjUNIyYxNx0wZ5F
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O7NlQ9e1RjUNIyYxNx0wZ5F
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d755e181-189c-4871-9acd-1b257280f30d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d755e181-189c-4871-9acd-1b257280f30d
      Original-Request:
      - req_2gY6lseRk4Y83G
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OvED2KHTjmRXcC",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698781094,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "EF03B146",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 31 Oct 2023 19:38:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: confirm=true&payment_method_types[0]=card&usage=off_session&payment_method=pm_0O7NlQ9e1RjUNIyYxNx0wZ5F&customer=cus_OvED2KHTjmRXcC
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5b098ef3-13ed-4764-9d91-8562f9397296
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5b098ef3-13ed-4764-9d91-8562f9397296
      Original-Request:
      - req_gDRFRBSlRWPm0q
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0O7NlT9e1RjUNIyYhG32IWd0",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0O7NlT9e1RjUNIyYhG32IWd0_secret_OvED7wY64buUvnA1WAqzxGYA6OeUBf3",
          "created": 1698781095,
          "customer": "cus_OvED2KHTjmRXcC",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0O7NlT9e1RjUNIyYkoELFjQ0",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7NlQ9e1RjUNIyYxNx0wZ5F",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 31 Oct 2023 19:38:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1800&currency=usd&description=You+bought+http%3A%2F%2Fedgarc9e69c242171.test.gumroad.com%3A31337%2Fl%2Ff&metadata[purchase]=VW-bSRpRzxFUeRvSIO-XPw%3D%3D&transfer_group=1192&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OvED2KHTjmRXcC&payment_method=pm_0O7NlQ9e1RjUNIyYxNx0wZ5F&statement_descriptor_suffix=edgarc9e69c242171
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ae363013-0965-424e-95c1-5ace48766811
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ae363013-0965-424e-95c1-5ace48766811
      Original-Request:
      - req_A7ngcnmuwxcsy4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O7NlV9e1RjUNIyY0LPNNWMO",
          "object": "payment_intent",
          "amount": 1800,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1800,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O7NlV9e1RjUNIyY0LPNNWMO_secret_MZhOEKTzvTcT1D8iTSMT6Zj72",
          "confirmation_method": "manual",
          "created": 1698781097,
          "currency": "usd",
          "customer": "cus_OvED2KHTjmRXcC",
          "description": "You bought http://edgarc9e69c242171.test.gumroad.com:31337/l/f",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O7NlV9e1RjUNIyY0zOF8mAn",
          "livemode": false,
          "metadata": {
            "purchase": "VW-bSRpRzxFUeRvSIO-XPw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7NlQ9e1RjUNIyYxNx0wZ5F",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarc9e69c242171",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1192"
        }
  recorded_at: Tue, 31 Oct 2023 19:38:18 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7NlV9e1RjUNIyY0zOF8mAn?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O7NlV9e1RjUNIyY0zOF8mAn",
          "object": "charge",
          "amount": 1800,
          "amount_captured": 1800,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O7NlV9e1RjUNIyY0JR1IGSR",
            "object": "balance_transaction",
            "amount": 1800,
            "available_on": 1698883200,
            "created": 1698781097,
            "currency": "usd",
            "description": "You bought http://edgarc9e69c242171.test.gumroad.com:31337/l/f",
            "exchange_rate": null,
            "fee": 66,
            "fee_details": [
              {
                "amount": 66,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1734,
            "reporting_category": "charge",
            "source": "ch_2O7NlV9e1RjUNIyY0zOF8mAn",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARC9E69C",
          "captured": true,
          "created": 1698781097,
          "currency": "usd",
          "customer": "cus_OvED2KHTjmRXcC",
          "description": "You bought http://edgarc9e69c242171.test.gumroad.com:31337/l/f",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "VW-bSRpRzxFUeRvSIO-XPw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 51,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O7NlV9e1RjUNIyY0LPNNWMO",
          "payment_method": "pm_0O7NlQ9e1RjUNIyYxNx0wZ5F",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1800,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1800,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoqq-FqgYyBvAkc-JH7DosFvT5-f8yCy2rJ2X2E-9AHuw9-AMNryXyxT7NOZ6BhxZuD-eF-CM27M5KxdU",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarc9e69c242171",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1192"
        }
  recorded_at: Tue, 31 Oct 2023 19:38:18 GMT
recorded_with: VCR 6.2.0
