---
http_interactions:
  - request:
      method: post
      uri: https://api.stripe.com/v1/payment_methods
      body:
        encoding: UTF-8
        string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Idempotency-Key:
          - 64c59b69-d8f2-4602-8a48-e68abc3949cb
        Stripe-Version:
          - "2023-10-16"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - 64c59b69-d8f2-4602-8a48-e68abc3949cb
        Original-Request:
          - req_VpHoJttdujaoIf
        Stripe-Should-Retry:
          - "false"
        Stripe-Version:
          - "2023-10-16"
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "pm_0O7Nna9e1RjUNIyYNF9QUJbn",
            "object": "payment_method",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null
            },
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "unchecked"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "generated_from": null,
              "last4": "4242",
              "networks": {
                "available": [
                  "visa"
                ],
                "preferred": null
              },
              "three_d_secure_usage": {
                "supported": true
              },
              "wallet": null
            },
            "created": 1698781226,
            "customer": null,
            "livemode": false,
            "metadata": {},
            "type": "card"
          }
    recorded_at: Tue, 31 Oct 2023 19:40:27 GMT
[...]
  - request:
      method: get
      uri: https://api.stripe.com/v1/payment_methods/pm_0O7Nna9e1RjUNIyYNF9QUJbn
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - "2023-10-16"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
       [...]
  - request:
      method: post
      uri: https://api.stripe.com/v1/customers
      body:
        encoding: UTF-8
        string: description=&payment_method=pm_0O7Nna9e1RjUNIyYNF9QUJbn
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Idempotency-Key:
          - 015a8f2e-2f47-4403-9ee0-ec856865d832
        Stripe-Version:
          - "2023-10-16"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - 015a8f2e-2f47-4403-9ee0-ec856865d832
        Original-Request:
          - req_papjFCg3HbuWU9
        Stripe-Should-Retry:
          - "false"
        Stripe-Version:
          - "2023-10-16"
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "cus_OvEG2P1fLCc1Tr",
            "object": "customer",
            "address": null,
            "balance": 0,
            "created": 1698781229,
            "currency": null,
            "default_source": null,
            "delinquent": false,
            "description": null,
            "discount": null,
            "email": null,
            "invoice_prefix": "27357CC0",
            "invoice_settings": {
              "custom_fields": null,
              "default_payment_method": null,
              "footer": null,
              "rendering_options": null
            },
            "livemode": false,
            "metadata": {},
            "name": null,
            "next_invoice_sequence": 1,
            "phone": null,
            "preferred_locales": [],
            "shipping": null,
            "tax_exempt": "none",
            "test_clock": null
          }
    recorded_at: Tue, 31 Oct 2023 19:40:30 GMT
  - request:
      method: post
      uri: https://api.stripe.com/v1/setup_intents
      body:
        encoding: UTF-8
        string: confirm=true&payment_method_types[0]=card&usage=off_session&payment_method=pm_0O7Nna9e1RjUNIyYNF9QUJbn&customer=cus_OvEG2P1fLCc1Tr
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Idempotency-Key:
          - a2520823-25f6-448b-8cb8-b6246dedb195
        Stripe-Version:
          - "2023-10-16"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - a2520823-25f6-448b-8cb8-b6246dedb195
        Original-Request:
          - req_XmMNF0H4bMK0tG
        Stripe-Should-Retry:
          - "false"
        Stripe-Version:
          - "2023-10-16"
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "seti_0O7Nne9e1RjUNIyYmW1CxOaz",
            "object": "setup_intent",
            "application": null,
            "automatic_payment_methods": null,
            "cancellation_reason": null,
            "client_secret": "seti_0O7Nne9e1RjUNIyYmW1CxOaz_secret_OvEGVRyb4tCAjgJC66ODWDZc9M0clJJ",
            "created": 1698781230,
            "customer": "cus_OvEG2P1fLCc1Tr",
            "description": null,
            "flow_directions": null,
            "last_setup_error": null,
            "latest_attempt": "setatt_0O7Nne9e1RjUNIyYaVlAp3M7",
            "livemode": false,
            "mandate": null,
            "metadata": {},
            "next_action": null,
            "on_behalf_of": null,
            "payment_method": "pm_0O7Nna9e1RjUNIyYNF9QUJbn",
            "payment_method_configuration_details": null,
            "payment_method_options": {
              "card": {
                "mandate_options": null,
                "network": null,
                "request_three_d_secure": "automatic"
              }
            },
            "payment_method_types": [
              "card"
            ],
            "single_use_mandate": null,
            "status": "succeeded",
            "usage": "off_session"
          }
    recorded_at: Tue, 31 Oct 2023 19:40:31 GMT
  - request:
      method: post
      uri: https://api.stripe.com/v1/payment_intents
      body:
        encoding: UTF-8
        string: amount=1000&currency=usd&description=You+bought+http%3A%2F%2Fedgar482944d62190.test.gumroad.com%3A31337%2Fl%2Fc&metadata[purchase]=dZ0hSITJZB0-thNA4e59HA%3D%3D&transfer_group=1231&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OvEG2P1fLCc1Tr&payment_method=pm_0O7Nna9e1RjUNIyYNF9QUJbn&statement_descriptor_suffix=edgar482944d62190
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Idempotency-Key:
          - a8ba2a5b-e502-4d74-b277-98a39a35d414
        Stripe-Version:
          - "2023-10-16"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - a8ba2a5b-e502-4d74-b277-98a39a35d414
        Original-Request:
          - req_3ecDcQYLxXAvoR
        Stripe-Should-Retry:
          - "false"
        Stripe-Version:
          - "2023-10-16"
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "pi_2O7Nnf9e1RjUNIyY1z2KGF9V",
            "object": "payment_intent",
            "amount": 1000,
            "amount_capturable": 0,
            "amount_details": {
              "tip": {}
            },
            "amount_received": 1000,
            "application": null,
            "application_fee_amount": null,
            "automatic_payment_methods": null,
            "canceled_at": null,
            "cancellation_reason": null,
            "capture_method": "automatic",
            "client_secret": "pi_2O7Nnf9e1RjUNIyY1z2KGF9V_secret_rHLa30Sx82L8wkF2nNycTkj3v",
            "confirmation_method": "manual",
            "created": 1698781231,
            "currency": "usd",
            "customer": "cus_OvEG2P1fLCc1Tr",
            "description": "You bought http://edgar482944d62190.test.gumroad.com:31337/l/c",
            "invoice": null,
            "last_payment_error": null,
            "latest_charge": "ch_2O7Nnf9e1RjUNIyY18YbmsYw",
            "livemode": false,
            "metadata": {
              "purchase": "qMqa0TLcYiy4yKiY_EHQKQ=="
            },
            "next_action": null,
            "on_behalf_of": null,
            "payment_method": "pm_0O7Nna9e1RjUNIyYNF9QUJbn",
            "payment_method_configuration_details": null,
            "payment_method_options": {
              "card": {
                "installments": null,
                "mandate_options": null,
                "network": null,
                "request_three_d_secure": "automatic"
              }
            },
            "payment_method_types": [
              "card"
            ],
            "processing": null,
            "receipt_email": null,
            "review": null,
            "setup_future_usage": null,
            "shipping": null,
            "source": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": "edgar482944d62190",
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": "1231"
          }
    recorded_at: Tue, 31 Oct 2023 19:40:32 GMT
  - request:
      method: get
      uri: https://api.stripe.com/v1/charges/ch_2O7Nnf9e1RjUNIyY18YbmsYw?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - "2023-10-16"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Stripe-Version:
          - "2023-10-16"
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "ch_2O7Nnf9e1RjUNIyY18YbmsYw",
            "object": "charge",
            "amount": 1000,
            "amount_captured": 1000,
            "amount_refunded": 0,
            "amount_updates": [],
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": {
              "id": "txn_2O7Nnf9e1RjUNIyY1wwmXS5n",
              "object": "balance_transaction",
              "amount": 1000,
              "available_on": 1698883200,
              "created": 1698781232,
              "currency": "usd",
              "description": "You bought http://edgar482944d62190.test.gumroad.com:31337/l/c",
              "exchange_rate": null,
              "fee": 50,
              "fee_details": [
                {
                  "amount": 50,
                  "application": null,
                  "currency": "usd",
                  "description": "Stripe processing fees",
                  "type": "stripe_fee"
                }
              ],
              "net": 950,
              "reporting_category": "charge",
              "source": "ch_2O7Nnf9e1RjUNIyY18YbmsYw",
              "status": "pending",
              "type": "charge"
            },
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null
            },
            "calculated_statement_descriptor": "GUMRD.COM* EDGAR482944",
            "captured": true,
            "created": 1698781232,
            "currency": "usd",
            "customer": "cus_OvEG2P1fLCc1Tr",
            "description": "You bought http://edgar482944d62190.test.gumroad.com:31337/l/c",
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "invoice": null,
            "livemode": false,
            "metadata": {
              "purchase": "qMqa0TLcYiy4yKiY_EHQKQ=="
            },
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 59,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_2O7Nnf9e1RjUNIyY1z2KGF9V",
            "payment_method": "pm_0O7Nna9e1RjUNIyYNF9QUJbn",
            "payment_method_details": {
              "card": {
                "amount_authorized": 1000,
                "brand": "visa",
                "checks": {
                  "address_line1_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": "pass"
                },
                "country": "US",
                "exp_month": 12,
                "exp_year": 2023,
                "extended_authorization": {
                  "status": "disabled"
                },
                "fingerprint": "W691J2Ye3VDoq6Ij",
                "funding": "credit",
                "incremental_authorization": {
                  "status": "unavailable"
                },
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "multicapture": {
                  "status": "unavailable"
                },
                "network": "visa",
                "network_token": {
                  "used": false
                },
                "overcapture": {
                  "maximum_amount_capturable": 1000,
                  "status": "unavailable"
                },
                "three_d_secure": null,
                "wallet": null
              },
              "type": "card"
            },
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUosbCFqgYyBsJ11fViHjosFpYGqtbr40hRPuFk8AnpT7v9-Uo4mabF-bJR9VeX64EndbwH9hNxijTNqmQ",
            "refunded": false,
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": "edgar482944d62190",
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": "1231"
          }
    recorded_at: Tue, 31 Oct 2023 19:40:33 GMT
recorded_with: VCR 6.2.0
