---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 108dd821-a2db-4473-bb17-5dfbb6d654a2
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 108dd821-a2db-4473-bb17-5dfbb6d654a2
      Original-Request:
      - req_djbyCOBQtxNBVe
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O7Nle9e1RjUNIyYOCuZukhn",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698781107,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 31 Oct 2023 19:38:27 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7Nle9e1RjUNIyYOCuZukhn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O7Nle9e1RjUNIyYOCuZukhn
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4d22d9e0-c03d-480b-850f-49f60c441bfb
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4d22d9e0-c03d-480b-850f-49f60c441bfb
      Original-Request:
      - req_XSdvAlO4ffvHIS
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OvEEwlJzygJanA",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698781109,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "77B84D00",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 31 Oct 2023 19:38:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: confirm=true&payment_method_types[0]=card&usage=off_session&payment_method=pm_0O7Nle9e1RjUNIyYOCuZukhn&customer=cus_OvEEwlJzygJanA
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c9c166df-697c-49f5-af75-dbec702c7b10
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c9c166df-697c-49f5-af75-dbec702c7b10
      Original-Request:
      - req_AWBGNGU5otohhz
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0O7Nli9e1RjUNIyY8QVpWGL7",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0O7Nli9e1RjUNIyY8QVpWGL7_secret_OvEEdYyVjcuxhKMNE6FacXEamNzDP7G",
          "created": 1698781110,
          "customer": "cus_OvEEwlJzygJanA",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0O7Nli9e1RjUNIyYTeGAp1Q5",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7Nle9e1RjUNIyYOCuZukhn",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 31 Oct 2023 19:38:31 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=600&currency=usd&description=You+bought+http%3A%2F%2Fedgar7edbe4cf2173.test.gumroad.com%3A31337%2Fl%2Fr&metadata[purchase]=t8BkHWH11kMkP3bS3FoUxw%3D%3D&transfer_group=1196&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OvEEwlJzygJanA&payment_method=pm_0O7Nle9e1RjUNIyYOCuZukhn&statement_descriptor_suffix=edgar7edbe4cf2173
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e4b2fc81-7156-408f-a774-912fc8f94ff2
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e4b2fc81-7156-408f-a774-912fc8f94ff2
      Original-Request:
      - req_yLjXTsBEZZGp4l
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O7Nlk9e1RjUNIyY0WS4sdey",
          "object": "payment_intent",
          "amount": 600,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 600,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O7Nlk9e1RjUNIyY0WS4sdey_secret_42JmQKTw1NPy592ach7RiwgyA",
          "confirmation_method": "manual",
          "created": 1698781112,
          "currency": "usd",
          "customer": "cus_OvEEwlJzygJanA",
          "description": "You bought http://edgar7edbe4cf2173.test.gumroad.com:31337/l/r",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O7Nlk9e1RjUNIyY0MavbnD1",
          "livemode": false,
          "metadata": {
            "purchase": "t8BkHWH11kMkP3bS3FoUxw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7Nle9e1RjUNIyYOCuZukhn",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar7edbe4cf2173",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1196"
        }
  recorded_at: Tue, 31 Oct 2023 19:38:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7Nlk9e1RjUNIyY0MavbnD1?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O7Nlk9e1RjUNIyY0MavbnD1",
          "object": "charge",
          "amount": 600,
          "amount_captured": 600,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O7Nlk9e1RjUNIyY0AuUUHYD",
            "object": "balance_transaction",
            "amount": 600,
            "available_on": 1698883200,
            "created": 1698781112,
            "currency": "usd",
            "description": "You bought http://edgar7edbe4cf2173.test.gumroad.com:31337/l/r",
            "exchange_rate": null,
            "fee": 35,
            "fee_details": [
              {
                "amount": 35,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 565,
            "reporting_category": "charge",
            "source": "ch_2O7Nlk9e1RjUNIyY0MavbnD1",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR7EDBE4",
          "captured": true,
          "created": 1698781112,
          "currency": "usd",
          "customer": "cus_OvEEwlJzygJanA",
          "description": "You bought http://edgar7edbe4cf2173.test.gumroad.com:31337/l/r",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "t8BkHWH11kMkP3bS3FoUxw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 32,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O7Nlk9e1RjUNIyY0WS4sdey",
          "payment_method": "pm_0O7Nle9e1RjUNIyYOCuZukhn",
          "payment_method_details": {
            "card": {
              "amount_authorized": 600,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 600,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoua-FqgYyBihLgBzf4TosFpJUkZA0xHjo7SBnfd6X3EI-l0ZyAmgfl3QfsY-kSjbVJPf5AA-N8VU2fWo",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar7edbe4cf2173",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1196"
        }
  recorded_at: Tue, 31 Oct 2023 19:38:33 GMT
recorded_with: VCR 6.2.0
