---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1c9da9fb-f8d6-4b3b-a78c-ce116eec8bc6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1c9da9fb-f8d6-4b3b-a78c-ce116eec8bc6
      Original-Request:
      - req_CCPGIyjSZQFbVe
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O7NmG9e1RjUNIyYJ144bB7J",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698781144,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:04 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7NmG9e1RjUNIyYJ144bB7J
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O7NmG9e1RjUNIyYJ144bB7J
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e1012da6-1376-4bb1-b83b-e1c407a200be
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e1012da6-1376-4bb1-b83b-e1c407a200be
      Original-Request:
      - req_Cu3ECNX4THlxgF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OvEEScjMKN4TXH",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698781146,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "4D541088",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 31 Oct 2023 19:39:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: confirm=true&payment_method_types[0]=card&usage=off_session&payment_method=pm_0O7NmG9e1RjUNIyYJ144bB7J&customer=cus_OvEEScjMKN4TXH
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a0c58ddc-f955-4271-b507-86697d07ca0e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a0c58ddc-f955-4271-b507-86697d07ca0e
      Original-Request:
      - req_yPvjXbWUNayFh1
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0O7NmJ9e1RjUNIyY6TwrEoNY",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0O7NmJ9e1RjUNIyY6TwrEoNY_secret_OvEEa5j8H35h0bQ9MKiiB43CM00YJ7s",
          "created": 1698781147,
          "customer": "cus_OvEEScjMKN4TXH",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0O7NmJ9e1RjUNIyYS3qVm9gf",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7NmG9e1RjUNIyYJ144bB7J",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:08 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=700&currency=usd&description=You+bought+http%3A%2F%2Fedgard2e322c72178.test.gumroad.com%3A31337%2Fl%2Fl&metadata[purchase]=Iqn5pJc7TWM5pxY5MdVebw%3D%3D&transfer_group=1206&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OvEEScjMKN4TXH&payment_method=pm_0O7NmG9e1RjUNIyYJ144bB7J&statement_descriptor_suffix=edgard2e322c72178
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2e0a5a52-4be5-48d5-a03a-f4b465eee086
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2e0a5a52-4be5-48d5-a03a-f4b465eee086
      Original-Request:
      - req_0BjDOmdKhkpysj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O7NmL9e1RjUNIyY1BDGwJ70",
          "object": "payment_intent",
          "amount": 700,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 700,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O7NmL9e1RjUNIyY1BDGwJ70_secret_Lv0GUUgFPBSo2kYm4XW0sITKD",
          "confirmation_method": "manual",
          "created": 1698781149,
          "currency": "usd",
          "customer": "cus_OvEEScjMKN4TXH",
          "description": "You bought http://edgard2e322c72178.test.gumroad.com:31337/l/l",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O7NmL9e1RjUNIyY1jCWmolh",
          "livemode": false,
          "metadata": {
            "purchase": "Iqn5pJc7TWM5pxY5MdVebw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7NmG9e1RjUNIyYJ144bB7J",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgard2e322c72178",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1206"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7NmL9e1RjUNIyY1jCWmolh?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O7NmL9e1RjUNIyY1jCWmolh",
          "object": "charge",
          "amount": 700,
          "amount_captured": 700,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O7NmL9e1RjUNIyY1XlHtV4P",
            "object": "balance_transaction",
            "amount": 700,
            "available_on": 1698883200,
            "created": 1698781149,
            "currency": "usd",
            "description": "You bought http://edgard2e322c72178.test.gumroad.com:31337/l/l",
            "exchange_rate": null,
            "fee": 40,
            "fee_details": [
              {
                "amount": 40,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 660,
            "reporting_category": "charge",
            "source": "ch_2O7NmL9e1RjUNIyY1jCWmolh",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARD2E322",
          "captured": true,
          "created": 1698781149,
          "currency": "usd",
          "customer": "cus_OvEEScjMKN4TXH",
          "description": "You bought http://edgard2e322c72178.test.gumroad.com:31337/l/l",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "Iqn5pJc7TWM5pxY5MdVebw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 52,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O7NmL9e1RjUNIyY1BDGwJ70",
          "payment_method": "pm_0O7NmG9e1RjUNIyYJ144bB7J",
          "payment_method_details": {
            "card": {
              "amount_authorized": 700,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 700,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo3q-FqgYyBqV4PrvZsjosFv2YCGr5nYdgk6_tzrJ-SXzDhMwFBjRAfp8ZK43T52yIAb40qPppKcGOe0Q",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgard2e322c72178",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1206"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:10 GMT
recorded_with: VCR 6.2.0
