---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 32718d6d-a31d-4102-b258-1ecb5a9857ea
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 32718d6d-a31d-4102-b258-1ecb5a9857ea
      Original-Request:
      - req_nMnBFnsbMPBDBG
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O7NnE9e1RjUNIyYfX3SZEXd",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698781204,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 31 Oct 2023 19:40:04 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7NnE9e1RjUNIyYfX3SZEXd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O7NnE9e1RjUNIyYfX3SZEXd
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 75e00208-0d19-4b45-90ae-5cb418f1fd97
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 75e00208-0d19-4b45-90ae-5cb418f1fd97
      Original-Request:
      - req_VJtrGfr77GyrP3
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OvEFMG8OtENIqA",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698781207,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "EF8A1DA1",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 31 Oct 2023 19:40:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: confirm=true&payment_method_types[0]=card&usage=off_session&payment_method=pm_0O7NnE9e1RjUNIyYfX3SZEXd&customer=cus_OvEFMG8OtENIqA
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 779db8eb-e52c-4ea7-be6c-6a0f2104398c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 779db8eb-e52c-4ea7-be6c-6a0f2104398c
      Original-Request:
      - req_XbQo3MyQ9JxpQp
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0O7NnI9e1RjUNIyYNJgmEMSR",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0O7NnI9e1RjUNIyYNJgmEMSR_secret_OvEF41avO4Uh0PargCstpVqEVPTkvq3",
          "created": 1698781208,
          "customer": "cus_OvEFMG8OtENIqA",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0O7NnI9e1RjUNIyYa1woCyon",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7NnE9e1RjUNIyYfX3SZEXd",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 31 Oct 2023 19:40:08 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=900&currency=usd&description=You+bought+http%3A%2F%2Fedgare9480c632187.test.gumroad.com%3A31337%2Fl%2Fk&metadata[purchase]=kQAMj64UdpdJ-iU3wHmEAg%3D%3D&transfer_group=1225&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OvEFMG8OtENIqA&payment_method=pm_0O7NnE9e1RjUNIyYfX3SZEXd&statement_descriptor_suffix=edgare9480c632187
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 42d1706f-00e6-40d5-a309-2d3bcc2ba687
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 42d1706f-00e6-40d5-a309-2d3bcc2ba687
      Original-Request:
      - req_Bdij7B1Oc6EqlE
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O7NnJ9e1RjUNIyY05kf1UTb",
          "object": "payment_intent",
          "amount": 900,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 900,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O7NnJ9e1RjUNIyY05kf1UTb_secret_zVT5EWODRwrzO6Q6l4BPdfIUt",
          "confirmation_method": "manual",
          "created": 1698781209,
          "currency": "usd",
          "customer": "cus_OvEFMG8OtENIqA",
          "description": "You bought http://edgare9480c632187.test.gumroad.com:31337/l/k",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O7NnJ9e1RjUNIyY07o9mtiB",
          "livemode": false,
          "metadata": {
            "purchase": "kQAMj64UdpdJ-iU3wHmEAg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7NnE9e1RjUNIyYfX3SZEXd",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare9480c632187",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1225"
        }
  recorded_at: Tue, 31 Oct 2023 19:40:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7NnJ9e1RjUNIyY07o9mtiB?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O7NnJ9e1RjUNIyY07o9mtiB",
          "object": "charge",
          "amount": 900,
          "amount_captured": 900,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O7NnJ9e1RjUNIyY0UdUeeUU",
            "object": "balance_transaction",
            "amount": 900,
            "available_on": 1698883200,
            "created": 1698781209,
            "currency": "usd",
            "description": "You bought http://edgare9480c632187.test.gumroad.com:31337/l/k",
            "exchange_rate": null,
            "fee": 48,
            "fee_details": [
              {
                "amount": 48,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 852,
            "reporting_category": "charge",
            "source": "ch_2O7NnJ9e1RjUNIyY07o9mtiB",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARE9480C",
          "captured": true,
          "created": 1698781209,
          "currency": "usd",
          "customer": "cus_OvEFMG8OtENIqA",
          "description": "You bought http://edgare9480c632187.test.gumroad.com:31337/l/k",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "kQAMj64UdpdJ-iU3wHmEAg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 64,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O7NnJ9e1RjUNIyY05kf1UTb",
          "payment_method": "pm_0O7NnE9e1RjUNIyYfX3SZEXd",
          "payment_method_details": {
            "card": {
              "amount_authorized": 900,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 900,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUom7CFqgYyBmj188pXnzosFnbdwGlC0PUh3mltgFXZQWXVWXcmIeTzoecAkGjCIoH3tX5MFZ8o_l5uXl0",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare9480c632187",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1225"
        }
  recorded_at: Tue, 31 Oct 2023 19:40:11 GMT
recorded_with: VCR 6.2.0
