---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bb88d3e1-6677-478b-a089-7f04c2fafd84
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bb88d3e1-6677-478b-a089-7f04c2fafd84
      Original-Request:
      - req_YTWnAzjjCZ5Pm9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O7Nmc9e1RjUNIyYYpdaMu5o",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698781166,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:26 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7Nmc9e1RjUNIyYYpdaMu5o
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O7Nmc9e1RjUNIyYYpdaMu5o
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 58593b8d-3d95-4872-9cbc-144fa8bfe135
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 58593b8d-3d95-4872-9cbc-144fa8bfe135
      Original-Request:
      - req_gFehr4YvLid8F3
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OvEFmllc1A3m78",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698781169,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "C430EF22",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 31 Oct 2023 19:39:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: confirm=true&payment_method_types[0]=card&usage=off_session&payment_method=pm_0O7Nmc9e1RjUNIyYYpdaMu5o&customer=cus_OvEFmllc1A3m78
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1474bcca-b3f6-46bf-9ff0-b26a559493e4
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1474bcca-b3f6-46bf-9ff0-b26a559493e4
      Original-Request:
      - req_r3FXHiHDVCzG5S
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0O7Nmg9e1RjUNIyYLYJmzIQY",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0O7Nmg9e1RjUNIyYLYJmzIQY_secret_OvEFWvmBFo4sps6Y2GeY2aUOsvfeIDx",
          "created": 1698781170,
          "customer": "cus_OvEFmllc1A3m78",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0O7Nmg9e1RjUNIyYMtlACW6q",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7Nmc9e1RjUNIyYYpdaMu5o",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=900&currency=usd&description=You+bought+http%3A%2F%2Fedgarf5f8b8f62182.test.gumroad.com%3A31337%2Fl%2Fd&metadata[purchase]=Nv8wzr2B9HoQRChqlRwUwQ%3D%3D&transfer_group=1213&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OvEFmllc1A3m78&payment_method=pm_0O7Nmc9e1RjUNIyYYpdaMu5o&statement_descriptor_suffix=edgarf5f8b8f62182
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - cd93eeac-2911-4e9e-ab8d-f7e241cb69dd
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cd93eeac-2911-4e9e-ab8d-f7e241cb69dd
      Original-Request:
      - req_f62OC3eCM94LKG
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O7Nmh9e1RjUNIyY1QdDg5LX",
          "object": "payment_intent",
          "amount": 900,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 900,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O7Nmh9e1RjUNIyY1QdDg5LX_secret_Olk5d31Q7WlwElKn6sQA9JnNQ",
          "confirmation_method": "manual",
          "created": 1698781171,
          "currency": "usd",
          "customer": "cus_OvEFmllc1A3m78",
          "description": "You bought http://edgarf5f8b8f62182.test.gumroad.com:31337/l/d",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O7Nmh9e1RjUNIyY1GHmv0mS",
          "livemode": false,
          "metadata": {
            "purchase": "Nv8wzr2B9HoQRChqlRwUwQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7Nmc9e1RjUNIyYYpdaMu5o",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarf5f8b8f62182",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1213"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:32 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7Nmh9e1RjUNIyY1GHmv0mS?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O7Nmh9e1RjUNIyY1GHmv0mS",
          "object": "charge",
          "amount": 900,
          "amount_captured": 900,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O7Nmh9e1RjUNIyY11p5vHpZ",
            "object": "balance_transaction",
            "amount": 900,
            "available_on": 1698883200,
            "created": 1698781171,
            "currency": "usd",
            "description": "You bought http://edgarf5f8b8f62182.test.gumroad.com:31337/l/d",
            "exchange_rate": null,
            "fee": 48,
            "fee_details": [
              {
                "amount": 48,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 852,
            "reporting_category": "charge",
            "source": "ch_2O7Nmh9e1RjUNIyY1GHmv0mS",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARF5F8B8",
          "captured": true,
          "created": 1698781171,
          "currency": "usd",
          "customer": "cus_OvEFmllc1A3m78",
          "description": "You bought http://edgarf5f8b8f62182.test.gumroad.com:31337/l/d",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "Nv8wzr2B9HoQRChqlRwUwQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 10,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O7Nmh9e1RjUNIyY1QdDg5LX",
          "payment_method": "pm_0O7Nmc9e1RjUNIyYYpdaMu5o",
          "payment_method_details": {
            "card": {
              "amount_authorized": 900,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 900,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo9a-FqgYyBqEeeAHsnDosFnoIVFGGEOOoQ9erziG1yHIGToUGIbbI8Nj6GGuYtOQtiVNtqZw4TlyN8LE",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarf5f8b8f62182",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1213"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:33 GMT
recorded_with: VCR 6.2.0
