---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 62bfe728-a34d-45c7-a5de-06ef297d22ee
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 62bfe728-a34d-45c7-a5de-06ef297d22ee
      Original-Request:
      - req_QjoVbGWpYW6w2b
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O7Nlm9e1RjUNIyYdzUC7Rjd",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698781114,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 31 Oct 2023 19:38:34 GMT
[...]
- request:
    method: post
    uri: https://ec.europa.eu/taxation_customs/vies/services/checkVatService
    body:
      encoding: UTF-8
      string: |
        <soapenv:Envelope
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:urn="urn:ec.europa.eu:taxud:vies:services:checkVat:types">
        <soapenv:Header/>
        <soapenv:Body>
        <urn:checkVatApprox>
        <urn:countryCode>IE</urn:countryCode>
        <urn:vatNumber>6388047V</urn:vatNumber>

        <urn:requesterCountryCode>IE</urn:requesterCountryCode>
        <urn:requesterVatNumber>6388047V</urn:requesterVatNumber>

        </urn:checkVatApprox>
        </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Soapaction:
      - '""'
      Proxy-Connection:
      - Keep-Alive
    body:
      encoding: ASCII-8BIT
      string: <env:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header/><env:Body><ns2:checkVatApproxResponse
        xmlns:ns2="urn:ec.europa.eu:taxud:vies:services:checkVat:types"><ns2:countryCode>IE</ns2:countryCode><ns2:vatNumber>6388047V</ns2:vatNumber><ns2:requestDate>2023-10-31+01:00</ns2:requestDate><ns2:valid>true</ns2:valid><ns2:traderName>GOOGLE
        IRELAND LIMITED</ns2:traderName><ns2:traderCompanyType>---</ns2:traderCompanyType><ns2:traderAddress>3RD
        FLOOR, GORDON HOUSE, BARROW STREET, DUBLIN 4</ns2:traderAddress><ns2:requestIdentifier>WAPIAAAAYuHPrzWg</ns2:requestIdentifier></ns2:checkVatApproxResponse></env:Body></env:Envelope>
  recorded_at: Tue, 31 Oct 2023 19:38:37 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7Nlm9e1RjUNIyYdzUC7Rjd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O7Nlm9e1RjUNIyYdzUC7Rjd
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f4fe0e87-1f66-4cb4-816a-7fdf22d0cdc8
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f4fe0e87-1f66-4cb4-816a-7fdf22d0cdc8
      Original-Request:
      - req_vRbf6qTZG3l7tK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OvEEfwzNvgb7qX",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698781118,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "518ACAD9",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 31 Oct 2023 19:38:39 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: confirm=true&payment_method_types[0]=card&usage=off_session&payment_method=pm_0O7Nlm9e1RjUNIyYdzUC7Rjd&customer=cus_OvEEfwzNvgb7qX
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2cb5cc97-63fe-4d20-8f3d-085c75ef85a3
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2cb5cc97-63fe-4d20-8f3d-085c75ef85a3
      Original-Request:
      - req_Xi0Ccez3qlzd42
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0O7Nls9e1RjUNIyY6ZBB76zw",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0O7Nls9e1RjUNIyY6ZBB76zw_secret_OvEEtGauHTqLd6a6hMLG0sBV4vmFbRs",
          "created": 1698781120,
          "customer": "cus_OvEEfwzNvgb7qX",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0O7Nls9e1RjUNIyYDrohZkhM",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7Nlm9e1RjUNIyYdzUC7Rjd",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 31 Oct 2023 19:38:40 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=600&currency=usd&description=You+bought+http%3A%2F%2Fedgar6235a51e2174.test.gumroad.com%3A31337%2Fl%2Fk&metadata[purchase]=bl2v6tT0eAMgjW7_xTyLqA%3D%3D&transfer_group=1198&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OvEEfwzNvgb7qX&payment_method=pm_0O7Nlm9e1RjUNIyYdzUC7Rjd&statement_descriptor_suffix=edgar6235a51e2174
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - '0692ef90-c916-4a92-9ef2-d5293b9169e3'
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '0692ef90-c916-4a92-9ef2-d5293b9169e3'
      Original-Request:
      - req_7oeU4XTn3YokqU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O7Nlw9e1RjUNIyY1GCV3wIO",
          "object": "payment_intent",
          "amount": 600,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 600,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O7Nlw9e1RjUNIyY1GCV3wIO_secret_hbJ31SWOWB19xPiexFlhCH4wM",
          "confirmation_method": "manual",
          "created": 1698781124,
          "currency": "usd",
          "customer": "cus_OvEEfwzNvgb7qX",
          "description": "You bought http://edgar6235a51e2174.test.gumroad.com:31337/l/k",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O7Nlw9e1RjUNIyY13yP0CXc",
          "livemode": false,
          "metadata": {
            "purchase": "bl2v6tT0eAMgjW7_xTyLqA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7Nlm9e1RjUNIyYdzUC7Rjd",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar6235a51e2174",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1198"
        }
  recorded_at: Tue, 31 Oct 2023 19:38:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7Nlw9e1RjUNIyY13yP0CXc?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O7Nlw9e1RjUNIyY13yP0CXc",
          "object": "charge",
          "amount": 600,
          "amount_captured": 600,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O7Nlw9e1RjUNIyY1pXDQPP8",
            "object": "balance_transaction",
            "amount": 600,
            "available_on": 1698883200,
            "created": 1698781124,
            "currency": "usd",
            "description": "You bought http://edgar6235a51e2174.test.gumroad.com:31337/l/k",
            "exchange_rate": null,
            "fee": 35,
            "fee_details": [
              {
                "amount": 35,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 565,
            "reporting_category": "charge",
            "source": "ch_2O7Nlw9e1RjUNIyY13yP0CXc",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR6235A5",
          "captured": true,
          "created": 1698781124,
          "currency": "usd",
          "customer": "cus_OvEEfwzNvgb7qX",
          "description": "You bought http://edgar6235a51e2174.test.gumroad.com:31337/l/k",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "bl2v6tT0eAMgjW7_xTyLqA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 11,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O7Nlw9e1RjUNIyY1GCV3wIO",
          "payment_method": "pm_0O7Nlm9e1RjUNIyYdzUC7Rjd",
          "payment_method_details": {
            "card": {
              "amount_authorized": 600,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 600,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoxa-FqgYyBsoDs8dZkjosFl2Tukl-FuY_E-poZU0yCOldpNWGydcE5USVO5RwfKI3tqOaIc4kWyLoUsw",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar6235a51e2174",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1198"
        }
  recorded_at: Tue, 31 Oct 2023 19:38:46 GMT
recorded_with: VCR 6.2.0
