---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=Gumroad+Charge+1UokxkyxJ__gd-gssE0g7w%3D%3D&metadata[purchase]=CH-1UokxkyxJ__gd-gssE0g7w%3D%3D&payment_method_types[0]=card&payment_method_types[1]=link&payment_method_types[2]=cashapp&transfer_group=CH-1&statement_descriptor_suffix=edgare880424a1
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - deferred_intent_test_01a12f89c00673a0edf9db702f4da174
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - deferred_intent_test_01a12f89c00673a0edf9db702f4da174
      Original-Request:
      - req_gMO5829TctSh85
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3UEo0cIBOqvOFDrf0pUeoRUI",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3UEo0cIBOqvOFDrf0pUeoRUI_secret_yP8zYiyxcLFg17911Cs56ELNb",
          "confirmation_method": "automatic",
          "created": 1789208290,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "Gumroad Charge 1UokxkyxJ__gd-gssE0g7w==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "purchase": "CH-1UokxkyxJ__gd-gssE0g7w=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "cashapp": {},
            "link": {
              "persistent_token": null
            }
          },
          "payment_method_types": [
            "card",
            "link",
            "cashapp"
          ],
          "payment_record": null,
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare880424a1",
          "status": "requires_payment_method",
          "transfer_data": null,
          "transfer_group": "CH-1"
        }
  recorded_at: Sat, 12 Sep 2026 10:18:10 GMT
recorded_with: VCR 6.2.0
