---
http_interactions:
  - request:
      method: post
      uri: https://elastictranscoder.us-east-1.amazonaws.com/2012-09-25/jobs
      body:
        encoding: UTF-8
        string: '{"PipelineId":"1390090734092-rg9pq5","Input":{"Key":"files/43a5363194e74e9ee75b6203eaea6705/original/test.mp4","FrameRate":"auto","Resolution":"auto","AspectRatio":"auto","Interlaced":"auto","Container":"auto"},"Outputs":[{"Key":"hls_480p_","ThumbnailPattern":"","Rotate":"auto","PresetId":"1591945700851-ma7v1l","SegmentDuration":"10"}],"OutputKeyPrefix":"files/43a5363194e74e9ee75b6203eaea6705/original/test/hls/","Playlists":[{"Name":"index","Format":"HLSv3","OutputKeys":["hls_480p_"]}]}'
      headers:
        Content-Type:
          - ""
        X-Amz-Date:
          - 20210407T223511Z
        X-Amz-Content-Sha256:
          - 89ebf7e9c799d40b7f4880983e9f8d8d8adbef5494bfba3bf051e647b28e3798
        Authorization:
          - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20210407/us-east-1/elastictranscoder/aws4_request,
            SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=cba42a2f8fdf810efeafb1cc65f869899a8612a37e7d2b18eb575d9e2d5f7a48
    response:
      status:
        code: 201
        message: ""
      headers:
        X-Amzn-Requestid:
          - 33f632c7-a39d-4838-9507-c4d5244adb69
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: '{"Job":{"Arn":"arn:aws:elastictranscoder:us-east-1:<AWS_ACCOUNT_ID>:job/1617834912643-srwb7t","Id":"1617834912643-srwb7t","Input":{"AspectRatio":"auto","Container":"auto","DetectedProperties":null,"Encryption":null,"FrameRate":"auto","InputCaptions":null,"Interlaced":"auto","Key":"files/43a5363194e74e9ee75b6203eaea6705/original/test.mp4","Resolution":"auto","TimeSpan":null},"Inputs":[{"AspectRatio":"auto","Container":"auto","DetectedProperties":null,"Encryption":null,"FrameRate":"auto","InputCaptions":null,"Interlaced":"auto","Key":"files/43a5363194e74e9ee75b6203eaea6705/original/test.mp4","Resolution":"auto","TimeSpan":null}],"Output":{"AlbumArt":null,"AppliedColorSpaceConversion":null,"Captions":null,"Composition":null,"Duration":null,"DurationMillis":null,"Encryption":null,"FileSize":null,"FrameRate":null,"Height":null,"Id":"1","Key":"hls_480p_","PresetId":"1591945700851-ma7v1l","Rotate":"auto","SegmentDuration":"10.0","Status":"Submitted","StatusDetail":null,"ThumbnailEncryption":null,"ThumbnailPattern":"","Watermarks":[],"Width":null},"OutputKeyPrefix":"files/43a5363194e74e9ee75b6203eaea6705/original/test/hls/","Outputs":[{"AlbumArt":null,"AppliedColorSpaceConversion":null,"Captions":null,"Composition":null,"Duration":null,"DurationMillis":null,"Encryption":null,"FileSize":null,"FrameRate":null,"Height":null,"Id":"1","Key":"hls_480p_","PresetId":"1591945700851-ma7v1l","Rotate":"auto","SegmentDuration":"10.0","Status":"Submitted","StatusDetail":null,"ThumbnailEncryption":null,"ThumbnailPattern":"","Watermarks":[],"Width":null}],"PipelineId":"1390090734092-rg9pq5","Playlists":[{"Format":"HLSv3","HlsContentProtection":null,"Name":"index","OutputKeys":["hls_480p_"],"PlayReadyDrm":null,"Status":"Submitted","StatusDetail":null}],"Status":"Submitted","Timing":{"FinishTimeMillis":null,"StartTimeMillis":null,"SubmitTimeMillis":1617834912658},"UserMetadata":null}}'
    recorded_at: Wed, 07 Apr 2021 22:35:12 GMT
recorded_with: VCR 6.0.0
