---
http_interactions:
  - request:
      method: post
      uri: https://elastictranscoder.us-east-1.amazonaws.com/2012-09-25/jobs
      body:
        encoding: UTF-8
        string: '{"PipelineId":"1390090734092-rg9pq5","Input":{"Key":"files/43a5363194e74e9ee75b6203eaea6705/original/test.mp4","FrameRate":"auto","Resolution":"auto","AspectRatio":"auto","Interlaced":"auto","Container":"auto"},"Outputs":[{"Key":"hls_480p_","ThumbnailPattern":"","Rotate":"auto","PresetId":"1591945700851-ma7v1l","SegmentDuration":"10"}],"OutputKeyPrefix":"files/43a5363194e74e9ee75b6203eaea6705/original/test/hls/","Playlists":[{"Name":"index","Format":"HLSv3","OutputKeys":["hls_480p_"]}]}'
      headers:
        Content-Type:
          - application/json
        X-Amz-Date:
          - 20220508T160249Z
        X-Amz-Content-Sha256:
          - 89ebf7e9c799d40b7f4880983e9f8d8d8adbef5494bfba3bf051e647b28e3798
        Authorization:
          - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20220508/us-east-1/elastictranscoder/aws4_request,
            SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=8a6445e405aa261c0f590710a8c07d0cb7662c5cd4b6278247c802f64b093563
    response:
      status:
        code: 201
        message: Created
      headers:
        X-Amzn-Requestid:
          - e0cc4c75-b528-4859-bf0c-811b6240cb63
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: '{"Job":{"Arn":"arn:aws:elastictranscoder:us-east-1:<AWS_ACCOUNT_ID>:job/1652025770893-de18ly","Id":"1652025770893-de18ly","Input":{"AspectRatio":"auto","Container":"auto","DetectedProperties":null,"Encryption":null,"FrameRate":"auto","InputCaptions":null,"Interlaced":"auto","Key":"files/43a5363194e74e9ee75b6203eaea6705/original/test.mp4","Resolution":"auto","TimeSpan":null},"Inputs":[{"AspectRatio":"auto","Container":"auto","DetectedProperties":null,"Encryption":null,"FrameRate":"auto","InputCaptions":null,"Interlaced":"auto","Key":"files/43a5363194e74e9ee75b6203eaea6705/original/test.mp4","Resolution":"auto","TimeSpan":null}],"Output":{"AlbumArt":null,"AppliedColorSpaceConversion":null,"Captions":null,"Composition":null,"Duration":null,"DurationMillis":null,"Encryption":null,"FileSize":null,"FrameRate":null,"Height":null,"Id":"1","Key":"hls_480p_","PresetId":"1591945700851-ma7v1l","Rotate":"auto","SegmentDuration":"10.0","Status":"Submitted","StatusDetail":null,"ThumbnailEncryption":null,"ThumbnailPattern":"","Watermarks":[],"Width":null},"OutputKeyPrefix":"files/43a5363194e74e9ee75b6203eaea6705/original/test/hls/","Outputs":[{"AlbumArt":null,"AppliedColorSpaceConversion":null,"Captions":null,"Composition":null,"Duration":null,"DurationMillis":null,"Encryption":null,"FileSize":null,"FrameRate":null,"Height":null,"Id":"1","Key":"hls_480p_","PresetId":"1591945700851-ma7v1l","Rotate":"auto","SegmentDuration":"10.0","Status":"Submitted","StatusDetail":null,"ThumbnailEncryption":null,"ThumbnailPattern":"","Watermarks":[],"Width":null}],"PipelineId":"1390090734092-rg9pq5","Playlists":[{"Format":"HLSv3","HlsContentProtection":null,"Name":"index","OutputKeys":["hls_480p_"],"PlayReadyDrm":null,"Status":"Submitted","StatusDetail":null}],"Status":"Submitted","Timing":{"FinishTimeMillis":null,"StartTimeMillis":null,"SubmitTimeMillis":1652025770912},"UserMetadata":null}}'
    recorded_at: Sun, 08 May 2022 16:02:50 GMT
recorded_with: VCR 6.1.0
