---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/customer/partner-referrals
    body:
      encoding: UTF-8
      string: '{"tracking_id":"9557026015931-1600186491","email":"sb-oy4cl2265599@business.example.com","partner_config_override":{"return_url":"http://example.com","partner_logo_url":"https://gumroad.com/button/button_logo.png"},"operations":[{"operation":"API_INTEGRATION","api_integration_preference":{"rest_api_integration":{"integration_method":"PAYPAL","integration_type":"THIRD_PARTY","third_party_details":{"features":["PAYMENT","REFUND","PARTNER_FEE","DELAY_FUNDS_DISBURSEMENT","ACCESS_MERCHANT_INFORMATION","READ_SELLER_DISPUTE","UPDATE_SELLER_DISPUTE"]}}}}],"products":["EXPRESS_CHECKOUT"],"legal_consents":[{"type":"SHARE_DATA_CONSENT","granted":true}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - invalid header
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 54939080ea041
    body:
      encoding: UTF-8
      string: '{"name":"AUTHENTICATION_FAILURE","message":"Authentication failed due
        to invalid authentication credentials or a missing Authorization header.","links":[{"href":"https://developer.paypal.com/docs/api/overview/#error","rel":"information_link"}]}'
  recorded_at: Tue, 15 Sep 2020 16:14:52 GMT
recorded_with: VCR 6.0.0
