---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 82f5f0b2-f080-40ad-91ec-20bcbb0430df
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 82f5f0b2-f080-40ad-91ec-20bcbb0430df
      Original-Request:
      - req_VJyfTzu5tSpCMe
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0TzSwT9e1RjUNIyYDUjcfTYq",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 8,
            "exp_year": 2027,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1785552389,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Sat, 01 Aug 2026 02:46:29 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0TzSwT9e1RjUNIyYDUjcfTYq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=4983&email=edgara4be2b6e_4%40gumroad.com&payment_method=pm_0TzSwT9e1RjUNIyYDUjcfTYq
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 56e9d86d-6039-4e46-bd10-56611215503c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 56e9d86d-6039-4e46-bd10-56611215503c
      Original-Request:
      - req_iDLQtWTiCNBVjW
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UzRqaRelSyzbQm",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1785552390,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": "4983",
          "discount": null,
          "email": "edgara4be2b6e_4@gumroad.com",
          "invoice_prefix": "OHHDARPE",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 01 Aug 2026 02:46:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=599&currency=usd&description=You+bought+http%3A%2F%2Fedgar25cccdc13.test.gumroad.com%3A31337%2Fl%2Ft%21&metadata[purchase]=SeiFIUOL-yjBGmwIWFQFbg%3D%3D&transfer_group=1944&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_UzRqaRelSyzbQm&payment_method=pm_0TzSwT9e1RjUNIyYDUjcfTYq&statement_descriptor_suffix=edgar25cccdc13
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0a54abca-05b3-4d4f-9abf-497f8b34b3d6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0a54abca-05b3-4d4f-9abf-497f8b34b3d6
      Original-Request:
      - req_TOa21Pm84Tu9HC
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2TzSwW9e1RjUNIyY1A7nXKV2",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 599,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 599,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2TzSwW9e1RjUNIyY1A7nXKV2_secret_ofiH7maHxnFfdqaaiqCFIF9BE",
          "confirmation_method": "automatic",
          "created": 1785552392,
          "currency": "usd",
          "customer": "cus_UzRqaRelSyzbQm",
          "customer_account": null,
          "description": "You bought http://edgar25cccdc13.test.gumroad.com:31337/l/t!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2TzSwW9e1RjUNIyY1ZtijF6q",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "purchase": "SeiFIUOL-yjBGmwIWFQFbg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0TzSwT9e1RjUNIyYDUjcfTYq",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar25cccdc13",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1944"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2TzSwW9e1RjUNIyY1ZtijF6q?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2TzSwW9e1RjUNIyY1ZtijF6q",
          "object": "charge",
          "amount": 599,
          "amount_captured": 599,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2TzSwW9e1RjUNIyY1H5fSKWD",
            "object": "balance_transaction",
            "amount": 599,
            "available_on": 1785801600,
            "balance_type": "payments",
            "created": 1785552392,
            "currency": "usd",
            "description": "You bought http://edgar25cccdc13.test.gumroad.com:31337/l/t!",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 599,
            "reporting_category": "charge",
            "source": "ch_2TzSwW9e1RjUNIyY1ZtijF6q",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGAR25CCCDC1",
          "captured": true,
          "created": 1785552392,
          "currency": "usd",
          "customer": "cus_UzRqaRelSyzbQm",
          "description": "You bought http://edgar25cccdc13.test.gumroad.com:31337/l/t!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "SeiFIUOL-yjBGmwIWFQFbg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 16,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2TzSwW9e1RjUNIyY1A7nXKV2",
          "payment_method": "pm_0TzSwT9e1RjUNIyYDUjcfTYq",
          "payment_method_details": {
            "card": {
              "amount_authorized": 599,
              "authorization_code": "179364",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 8,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "875457497450891",
              "overcapture": {
                "maximum_amount_capturable": 599,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "transaction_link_id": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoiby10wYyBjukk4rmSDosFvBM8FApkNHJn2L_IqttH5-diAax-9dqZvrreYbK5qp2SQ6D7bjIF0btVoY",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar25cccdc13",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1944"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_visa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_0TzSwX9e1RjUNIyYtKmy7qda",
          "object": "token",
          "card": {
            "id": "card_0TzSwX9e1RjUNIyYaiajj3r9",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "currency": "usd",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "email": null,
            "exp_month": 8,
            "exp_year": 2027,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "networks": {
              "preferred": null
            },
            "phone": null,
            "regulated_status": "unregulated",
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": null,
          "created": 1785552393,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 01 May 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_0TzSwX9e1RjUNIyYtKmy7qda
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API vers[...]
[...]
