---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - '0493f733-d9e9-4c03-935d-03aab45aac11'
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '0493f733-d9e9-4c03-935d-03aab45aac11'
      Original-Request:
      - req_1TjStd2Rr55FjH
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSf3J9e1RjUNIyYDLfTLRvL",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703852437,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:20:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSf3J9e1RjUNIyYDLfTLRvL
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4179f34c-fec8-40b1-bfe6-c3e203ad0337
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4179f34c-fec8-40b1-bfe6-c3e203ad0337
      Original-Request:
      - req_8uO81eDRfiA9pZ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDUE1RrVW5cXW",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703852437,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "05592CC4",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:20:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSf3J9e1RjUNIyYDLfTLRvL&customer=cus_PHDUE1RrVW5cXW&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 70d7d0cb-f93e-4409-b039-629ebe13aff0
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 70d7d0cb-f93e-4409-b039-629ebe13aff0
      Original-Request:
      - req_z1aB1ecaxwpS5p
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OSf3K9e1RjUNIyYDub19ZS7",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OSf3K9e1RjUNIyYDub19ZS7_secret_PHDUd87OvvwkLcymIBX48Y3GH0y2fnD",
          "created": 1703852438,
          "customer": "cus_PHDUE1RrVW5cXW",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0OSf3K9e1RjUNIyY4yuHuY2D",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSf3J9e1RjUNIyYDLfTLRvL",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Fri, 29 Dec 2023 12:20:39 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSf3J9e1RjUNIyYDLfTLRvL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2000&currency=usd&description=Gumroad+Charge+zw4CRcmgQOKxFhMY8HoycQ%3D%3D&metadata[yym02AzMJGSfD9fv-lA16w%3D%3D]=%7B%3Aprice_cents%3D%3E1000%2C+%3Afee_cents%3D%3E120%2C+%3Aaffiliate_credit_cents%3D%3E100%2C+%3Agumroad_tax_cents%3D%3E0%2C+%3Atotal_transaction_cents%3D%3E1000%7D&metadata[LNQuEnD7FzbQArQNW6sTtw%3D%3D]=%7B%3Aprice_cents%3D%3E1000%2C+%3Afee_cents%3D%3E12[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSf3M9e1RjUNIyY0iKgoDXc/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9b4f0915-fbf0-4a03-bd09-f5cee352ad38
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9b4f0915-fbf0-4a03-bd09-f5cee352ad38
      Original-Request:
      - req_PQomjRvyhni04s
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSf3M9e1RjUNIyY0iKgoDXc",
          "object": "payment_intent",
          "amount": 2000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 2000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSf3M9e1RjUNIyY0iKgoDXc_secret_vfej3Haes1AjuXWJINvAWdOpW",
          "confirmation_method": "automatic",
          "created": 1703852440,
          "currency": "usd",
          "customer": "cus_PHDUE1RrVW5cXW",
          "description": "Gumroad Charge zw4CRcmgQOKxFhMY8HoycQ==",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OSf3M9e1RjUNIyY0q8RyQT1",
          "livemode": false,
          "metadata": {
            "LNQuEnD7FzbQArQNW6sTtw==": "{:price_cents=>1000, :fee_cents=>120, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>1000}",
            "yym02AzMJGSfD9fv-lA16w==": "{:price_cents=>1000, :fee_cents=>120, :affiliate_credit_cents=>100, :gumroad_tax_cents=>0, :total_transaction_cents=>1000}"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSf3J9e1RjUNIyYDLfTLRvL",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare89feb4a103",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-64"
        }
  recorded_at: Fri, 29 Dec 2023 12:20:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSf3M9e1RjUNIyY0q8RyQT1?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OSf3M9e1RjUNIyY0q8RyQT1",
          "object": "charge",
          "amount": 2000,
          "amount_captured": 2000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OSf3M9e1RjUNIyY0jROQurP",
            "object": "balance_transaction",
            "amount": 2000,
            "available_on": 1704240000,
            "created": 1703852441,
            "currency": "usd",
            "description": "Gumroad Charge zw4CRcmgQOKxFhMY8HoycQ==",
            "exchange_rate": null,
            "fee": 70,
            "fee_details": [
              {
                "amount": 70,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1930,
            "reporting_category": "charge",
            "source": "ch_2OSf3M9e1RjUNIyY0q8RyQT1",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARE89FEB",
          "captured": true,
          "created": 1703852441,
          "currency": "usd",
          "customer": "cus_PHDUE1RrVW5cXW",
          "description": "Gumroad Charge zw4CRcmgQOKxFhMY8HoycQ==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "LNQuEnD7FzbQArQNW6sTtw==": "{:price_cents=>1000, :fee_cents=>120, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>1000}",
            "yym02AzMJGSfD9fv-lA16w==": "{:price_cents=>1000, :fee_cents=>120, :affiliate_credit_cents=>100, :gumroad_tax_cents=>0, :total_transaction_cents=>1000}"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 41,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OSf3M9e1RjUNIyY0iKgoDXc",
          "payment_method": "pm_0OSf3J9e1RjUNIyYDLfTLRvL",
          "payment_method_details": {
            "card": {
              "amount_authorized": 2000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 2000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUomvO6rAYyBkf8ww7RCjosFkvBVTiTI-bGramK8VKr3J-F8sRvKKIGjTDWy-CiG3f7719C1x4BBeKYAwA",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare89feb4a103",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-64"
        }
  recorded_at: Fri, 29 Dec 2023 12:20:42 GMT
recorded_with: VCR 6.2.0
