---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"255 King Street","city":"San Francisco","state":"CA","zip":"94107","country":"United
        States"},"verify":["delivery"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic RVpUSzJhNDk1NTQyNTdlODQ5YmRiMTc5NDI4YTc2MTZkZWY2S2x5U3lkZkIxdjd2UkpDZFpjeGtzQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 60001edd629e0108e2c497be0006030d
      Location:
      - "/api/v2/addresses/adr_944c2c85e59c11ecacebac1f6bc72124"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ff86f66760ec60b6246a23ac78360815"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202206030043-0fd9609f83-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 0910011e7e
      - intlb1nuq 570dfcbc0a
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_944c2c85e59c11ecacebac1f6bc72124","object":"Address","created_at":"2022-06-06T13:28:40+00:00","updated_at":"2022-06-06T13:28:40+00:00","name":null,"company":null,"street1":"255
        KING ST","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94107-1700","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.77704,"longitude":-122.39292,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Mon, 06 Jun 2022 13:28:41 GMT
recorded_with: VCR 6.1.0
