---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6b8f482d-eda8-4fc1-ac14-b10a3b791c11
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6b8f482d-eda8-4fc1-ac14-b10a3b791c11
      Original-Request:
      - req_cL5w5YzBPYCndL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O7N5y9e1RjUNIyY4NPrzDGr",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698778522,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 31 Oct 2023 18:55:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7N5y9e1RjUNIyY4NPrzDGr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O7N5y9e1RjUNIyY4NPrzDGr
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bf345a6f-17a7-4a72-a3e3-6cc88abd99c0
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bf345a6f-17a7-4a72-a3e3-6cc88abd99c0
      Original-Request:
      - req_9lTyzAE0zjRn7X
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OvDXMKlmqOnNRK",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698778525,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "47B99FBF",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 31 Oct 2023 18:55:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=You+bought+http%3A%2F%2Fcreator2.test.gumroad.com%3A31337%2Fl%2Fj&metadata[purchase]=0gK25I2vTHhaNe_zz7kNPw%3D%3D&transfer_group=69&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0O7N5y9e1RjUNIyY4NPrzDGr&customer=cus_OvDXMKlmqOnNRK&statement_descriptor_suffix=creator2
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 850c515f-13f4-45b1-8c84-b9f9388f0b09
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 850c515f-13f4-45b1-8c84-b9f9388f0b09
      Original-Request:
      - req_7zumigTkHYwyJX
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O7N629e1RjUNIyY1zwK3mzn",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O7N629e1RjUNIyY1zwK3mzn_secret_AeunGlA5ckQM9qUpvlynvwcr8",
          "confirmation_method": "manual",
          "created": 1698778526,
          "currency": "usd",
          "customer": "cus_OvDXMKlmqOnNRK",
          "description": "You bought http://creator2.test.gumroad.com:31337/l/j",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O7N629e1RjUNIyY1elr3nG8",
          "livemode": false,
          "metadata": {
            "purchase": "0gK25I2vTHhaNe_zz7kNPw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7N5y9e1RjUNIyY4NPrzDGr",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "creator2",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "69"
        }
  recorded_at: Tue, 31 Oct 2023 18:55:26 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7N629e1RjUNIyY1elr3nG8?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O7N629e1RjUNIyY1elr3nG8",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O7N629e1RjUNIyY1rssCU4w",
            "object": "balance_transaction",
            "amount": 1000,
            "available_on": 1698883200,
            "created": 1698778526,
            "currency": "usd",
            "description": "You bought http://creator2.test.gumroad.com:31337/l/j",
            "exchange_rate": null,
            "fee": 50,
            "fee_details": [
              {
                "amount": 50,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 950,
            "reporting_category": "charge",
            "source": "ch_2O7N629e1RjUNIyY1elr3nG8",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* CREATOR2",
          "captured": true,
          "created": 1698778526,
          "currency": "usd",
          "customer": "cus_OvDXMKlmqOnNRK",
          "description": "You bought http://creator2.test.gumroad.com:31337/l/j",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "0gK25I2vTHhaNe_zz7kNPw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 6,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O7N629e1RjUNIyY1zwK3mzn",
          "payment_method": "pm_0O7N5y9e1RjUNIyY4NPrzDGr",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUon5uFqgYyBqfBESInUjosFk4sdyssPKWzgLbPnheXo18X4b5kkIBNGmFEkzX5O5HFNFgFfaErElHm59g",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "creator2",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "69"
        }
  recorded_at: Tue, 31 Oct 2023 18:55:27 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7N629e1RjUNIyY1elr3nG8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2O7N629e1RjUNIyY1elr3nG8
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bb3f9e16-f19b-4014-af8d-af213ff90366
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bb3f9e16-f19b-4014-af8d-af213ff90366
      Original-Request:
      - req_0NpSFoYeeNj3bQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2O7N629e1RjUNIyY1gdNF97j",
          "object": "refund",
          "amount": 1000,
          "balance_transaction": "txn_2O7N629e1RjUNIyY1cy5Rses",
          "charge": "ch_2O7N629e1RjUNIyY1elr3nG8",
          "created": 1698778529,
          "currency": "usd",
          "metadata": {},
          "payment_intent": "pi_2O7N629e1RjUNIyY1zwK3mzn",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Tue, 31 Oct 2023 18:55:29 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2O7N629e1RjUNIyY1gdNF97j?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7N629e1RjUNIyY1elr3nG8?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
