---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f0c9934c-1898-45c1-b700-e3ea2d157a01
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f0c9934c-1898-45c1-b700-e3ea2d157a01
      Original-Request:
      - req_RkuEpf5ixr7Ak3
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6uuL9e1RjUNIyYrEliqshx",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698670169,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 12:49:29 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6uuL9e1RjUNIyYrEliqshx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2000&currency=usd&description=You+bought+http%3A%2F%2Fedgare6283b69106.test.gumroad.com%3A31337%2Fl%2Fb&metadata[purchase]=TsjVZQwcTdKA5FNnfDPG7w%3D%3D&transfer_group=84&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0O6uuL9e1RjUNIyYrEliqshx&statement_descriptor_suffix=edgare6283b69106
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 42b004ab-8e02-4101-b5a5-18e53d2b9dfc
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 42b004ab-8e02-4101-b5a5-18e53d2b9dfc
      Original-Request:
      - req_UDgmagkGgpRloh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6uuM9e1RjUNIyY0NwwiEeC",
          "object": "payment_intent",
          "amount": 2000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 2000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6uuM9e1RjUNIyY0NwwiEeC_secret_9HMh61NnoQ6W3ZeGUEc89VWVt",
          "confirmation_method": "manual",
          "created": 1698670170,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgare6283b69106.test.gumroad.com:31337/l/b",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6uuM9e1RjUNIyY0LE9MNZ4",
          "livemode": false,
          "metadata": {
            "purchase": "TsjVZQwcTdKA5FNnfDPG7w=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6uuL9e1RjUNIyYrEliqshx",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare6283b69106",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "84"
        }
  recorded_at: Mon, 30 Oct 2023 12:49:31 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6uuM9e1RjUNIyY0LE9MNZ4?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6uuM9e1RjUNIyY0LE9MNZ4",
          "object": "charge",
          "amount": 2000,
          "amount_captured": 2000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6uuM9e1RjUNIyY0oBg4GHj",
            "object": "balance_transaction",
            "amount": 2000,
            "available_on": 1698796800,
            "created": 1698670170,
            "currency": "usd",
            "description": "You bought http://edgare6283b69106.test.gumroad.com:31337/l/b",
            "exchange_rate": null,
            "fee": 70,
            "fee_details": [
              {
                "amount": 70,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1930,
            "reporting_category": "charge",
            "source": "ch_2O6uuM9e1RjUNIyY0LE9MNZ4",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARE6283B",
          "captured": true,
          "created": 1698670170,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgare6283b69106.test.gumroad.com:31337/l/b",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "TsjVZQwcTdKA5FNnfDPG7w=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 44,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6uuM9e1RjUNIyY0NwwiEeC",
          "payment_method": "pm_0O6uuL9e1RjUNIyYrEliqshx",
          "payment_method_details": {
            "card": {
              "amount_authorized": 2000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 2000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo3Mz-qQYyBtIpo2S4LDosFsxsUfAkaEJlYuKhzUQOchOI2wYgHI2xyQJykDzZ_Hedb9koZ6iDALLUxe0",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare6283b69106",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "84"
        }
  recorded_at: Mon, 30 Oct 2023 12:49:32 GMT
recorded_with: VCR 6.2.0
