---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/payments/captures/3K928030M4826742P/refund
    body:
      encoding: UTF-8
      string: '{"amount":{"currency_code":"USD","value":"2.0"}}'
    headers:
      Authorization:
      - Bearer A21AAJ8ZuWAicvxc4m42ewOeup4rWt82bMaSINuAQdFgQTAdKeNmDa5at6XxUhbVnnLGbAYxMX_ZWIQZPcYZMDbmmscb60srw
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
      Paypal-Request-Id:
      - refund-3K928030M4826742P-200-16107232094907897
      Prefer:
      - return=representation
      Paypal-Auth-Assertion:
      - eyJhbGciOiJub25lIn0=.eyJwYXllcl9pZCI6Ik1ON0NTV0Q2UkNOSjgiLCJpc3MiOiJBYUR2TEl5RjBUVGVVQmpQQjAzcEFWR2NEUzVLQk16cWRyS3I1T1VFc3ZNZ0E2czlzM1M0d1pjVTRybVVQMjRaNzN4STZ4dGVjYjYyNWJsNiJ9.
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.7.2
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - b5edad4ff2d96
    body:
      encoding: UTF-8
      string: '{"id":"5A693194V8984854T","amount":{"currency_code":"USD","value":"2.00"},"seller_payable_breakdown":{"gross_amount":{"currency_code":"USD","value":"2.00"},"paypal_fee":{"currency_code":"USD","value":"0.06"},"platform_fees":[{"amount":{"currency_code":"USD","value":"0.10"}}],"net_amount":{"currency_code":"USD","value":"1.84"},"total_refunded_amount":{"currency_code":"USD","value":"2.00"}},"status":"COMPLETED","create_time":"2021-01-15T07:06:53-08:00","update_time":"2021-01-15T07:06:53-08:00","links":[{"href":"https://api.sandbox.paypal.com/v2/payments/refunds/5A693194V8984854T","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/payments/captures/3K928030M4826742P","rel":"up","method":"GET"}]}'
  recorded_at: Fri, 15 Jan 2021 15:06:54 GMT
recorded_with: VCR 6.0.0
