---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=transfers&country=SN&default_currency=xof&metadata[user_id]=191424179841&metadata[tos_agreement_id]=G_-mnBf9b1j9A7a4ub4nFQ%3D%3D&metadata[user_compliance_info_id]=G_-mnBf9b1j9A7a4ub4nFQ%3D%3D&metadata[bank_account_id]=G_-mnBf9b1j9A7a4ub4nFQ%3D%3D&tos_acceptance[date]=1427846400&tos_acceptance[ip]=54.234.242.13&tos_acceptance[service_agreement]=recipient&business_type=individual&business_profile[name]=Chuck+Bartowski&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=chuck%40gum.com&individual[phone]=0000000000&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[address][line1]=address_full_match&individual[address][city]=Dakar&individual[address][postal_code]=12500&individual[address][country]=SN&bank_account[country]=SN&bank_account[currency]=xof&bank_account[account_number]=SN08SN0100152000048500003035&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=false
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 01a1bae3-da37-4356-8a6a-4cf10c2c904e
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 01a1bae3-da37-4356-8a6a-4cf10c2c904e
      Original-Request:
      - req_JLhpmy06SYCSdP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1QHHPxS6qbvGg4Hq",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "name": "Chuck Bartowski",
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "transfers": "active"
          },
          "charges_enabled": true,
          "company": {
            "address": {
              "city": "Dakar",
              "country": "SN",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "12500",
              "state": null
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "name_kana": null,
            "name_kanji": null,
            "owners_provided": true,
            "ownership_declaration": null,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "vat_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "SN",
          "created": 1730692650,
          "default_currency": "xof",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1QHHPxS6qbvGg4HqEgPvZ4VB",
                "object": "bank_account",
                "account": "acct_1QHHPxS6qbvGg4Hq",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "SN",
                "currency": "xof",
                "default_for_currency": true,
                "fingerprint": "gdIhMDFHUaQCTqCO",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "3035",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1QHHPxS6qbvGg4Hq/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1QHHPxS6qbvGg4HqFcRZH25v",
            "object": "person",
            "account": "acct_1QHHPxS6qbvGg4Hq",
            "address": {
              "city": "Dakar",
              "country": "SN",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "12500",
              "state": null
            },
            "created": 1730692650,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "chuck@gum.com",
            "first_name": "Chuck",
            "first_name_kana": null,
            "first_name_kanji": null,
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "gender": null,
            "id_number_provided": false,
            "last_name": "Bartowski",
            "last_name_kana": null,
            "last_name_kanji": null,
            "maiden_name": null,
            "metadata": {},
            "nationality": null,
            "phone": "+10000000000",
            "relationship": {
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [
                "verification.document"
              ],
              "past_due": [],
              "pending_verification": []
            },
            "ssn_last_4_provided": false,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "unverified"
            }
          },
          "metadata": {
            "bank_account_id": "G_-mnBf9b1j9A7a4ub4nFQ==",
            "tos_agreement_id": "G_-mnBf9b1j9A7a4ub4nFQ==",
            "user_compliance_info_id": "G_-mnBf9b1j9A7a4ub4nFQ==",
            "user_id": "191424179841"
          },
          "payouts_enabled": true,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [
              "individual.verification.document"
            ],
            "past_due": [],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "capital": {},
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "CHUCK BART",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Chuck Bartowski",
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null
            },
            "payments": {
              "statement_descriptor": "CHUCK BARTOWSKI",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 1,
                "interval": "manual"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1427846400,
            "ip": "54.234.242.13",
            "service_agreement": "recipient",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Mon, 04 Nov 2024 03:57:31 GMT
recorded_with: VCR 6.2.0
