---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJwbGF5LWJpbGxpbmctYXBpQGd1bXJvYWQtbGlicmFyeS5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsImF1ZCI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL29hdXRoMi92NC90b2tlbiIsImV4cCI6MTcyMDEzNjAyOSwiaWF0IjoxNzIwMTM1OTA5LCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvYW5kcm9pZHB1Ymxpc2hlciJ9.RcXFrH1CmINYQ5MofKGj5L-j-iGjIBaMy9qPnS8qTIiuAP1qn1KVJRx7tqwkRJwsxkkEzX2mSWxo5b0F9K2jKrqOdO183T2v80F1Odn7PLdolWmABd6kPGogLLIVl1QU5ulZm8vMdPI4cF6cYb3kV2gmlDqTWCEI4rZ_lhRW9NxCGV5s5sPIi2pbgTa4pnpu1iQ-ahW1g0bGB7ok_vwtP6qG_oogfMKUN2vQuffwVya7AIuxN8wtRthTMX9CRXGsSXYkxQCmkx4cV2Fd6BUmzSgMYcB51HKCRr225M2DCrCxAlRh98rYk38HhqOsL2sBgPcQErQ95DOjnIyhsmttgQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ya29.c.c0AY_VpZiBhXgN5G-jr6Q_zNO_XfjF4nJPp9RcQnOR_6_aJcQaA8LqN2HK3vUPTihTbgdF7DUNMOuLZPfcvmLdLR0DIeosg4DUT4HUq7SGW5IDA8T6-XlzfkLuBlyMcjVZMFCG-mE1HtXIGRTww6YX7kAPb0jWOOAdygs-pMRCJmF6IYDecHn_6l1fO2E_HJYm2yKZ21oIajV-jYX5v50H7e_MjUeSoAn0McrlvSC2q2crX78hloLIF65vsb5bGDV_HODr5xuU1ByHi0TYfrIeJxAeO7FngjsmxB-wnSwhcKTDT680zuB3OBF4MSGGGKz0vWfmbdWWMrVBZkGOcngrQjzrjjpZwi8tl9PVmCl8zQNj5WUMlGGwQgG383DJ-O9w2MiOFhYXg53c6xwRZ7i5n7gq5fu7Qajj2YqvtioQWoB0rjOuMkt7Qff6ze7nweYxu2p4VWcYodqtRfqQ8advB9lxVlhfIOBxipBMry_-blYbSJjpdyMhdIzlds3elQ0rbZ67s6ahkOQZc1aceF1Qb_FcyRO6OsznWt1cgBF65Wqn9S8bVOV9ai47jZ3p897zV_WO6IxjvQVjqeIB3dzt8eju5XjWWygj7t1o4mwcOSq_m25wbp0fiM426Q4ez39Ue9Zh4mB55p3pj3YwwV9fVYdOQiObke1M7k7Z58UcR1JxO4pR16qmrUb1p3k_nVBudaihe-VY3Sam3tn-M_jlnJm_YW9iV1r0r5WJ7ra3Wvu5osvc0IycXwVWMd_yZm5rs9fF1aUOmMeMrskz3XMpVohs7dlzrOsntnifYdJ0ns0sRtos_7zeMfeeo7g1Sk9B5c-_xSWWQjFV-bcfV1slxYsbbw-wXjw-pb-wXOJ6vyci_tQMW0fwb186-5inVsrtgsmvqFvMIOBBS0n-h7o0ZYcZm29byf7eYQ3opjuZyZ_2kVm0tayaWOqfUv9ylF5wd5wfZuO5ShyFgk0tn-4W67Vr2Voitbyf-xrmsoinhxOkYlspfM7hYlz","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Thu, 04 Jul 2024 23:32:49 GMT
- request:
    method: get
    uri: https://androidpublisher.googleapis.com/androidpublisher/v3/applications/com.gumroad.app/inappproducts/com.gumroad.product_2
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.c0AY_VpZiBhXgN5G-jr6Q_zNO_XfjF4nJPp9RcQnOR_6_aJcQaA8LqN2HK3vUPTihTbgdF7DUNMOuLZPfcvmLdLR0DIeosg4DUT4HUq7SGW5IDA8T6-XlzfkLuBlyMcjVZMFCG-mE1HtXIGRTww6YX7kAPb0jWOOAdygs-pMRCJmF6IYDecHn_6l1fO2E_HJYm2yKZ21oIajV-jYX5v50H7e_MjUeSoAn0McrlvSC2q2crX78hloLIF65vsb5bGDV_HODr5xuU1ByHi0TYfrIeJxAeO7FngjsmxB-wnSwhcKTDT680zuB3OBF4MSGGGKz0vWfmbdWWMrVBZkGOcngrQjzrjjpZwi8tl9PVmCl8zQNj5WUMlGGwQgG383DJ-O9w2MiOFhYXg53c6xwRZ7i5n7gq5fu7Qajj2YqvtioQWoB0rjOuMkt7Qff6ze7nweYxu2p4VWcYodqtRfqQ8advB9lxVlhfIOBxipBMry_-blYbSJjpdyMhdIzlds3elQ0rbZ67s6ahkOQZc1aceF1Qb_FcyRO6OsznWt1cgBF65Wqn9S8bVOV9ai47jZ3p897zV_WO6IxjvQVjqeIB3dzt8eju5XjWWygj7t1o4mwcOSq_m25wbp0fiM426Q4ez39Ue9Zh4mB55p3pj3YwwV9fVYdOQiObke1M7k7Z58UcR1JxO4pR16qmrUb1p3k_nVBudaihe-VY3Sam3tn-M_jlnJm_YW9iV1r0r5WJ7ra3Wvu5osvc0IycXwVWMd_yZm5rs9fF1aUOmMeMrskz3XMpVohs7dlzrOsntnifYdJ0ns0sRtos_7zeMfeeo7g1Sk9B5c-_xSWWQjFV-bcfV1slxYsbbw-wXjw-pb-wXOJ6vyci_tQMW0fwb186-5inVsrtgsmvqFvMIOBBS0n-h7o0ZYcZm29byf7eYQ3opjuZyZ_2kVm0tayaWOqfUv9ylF5wd5wfZuO5ShyFgk0tn-4W67Vr2Voitbyf-xrmsoinhxOkYlspfM7hYlz
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 463f267a1a4746487ce42c921603d7faf6324bee
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "packageName": "com.gumroad.app",
          "sku": "com.gumroad.product_2",
          "status": "active",
          "purchaseType": "managedUser",
          "defaultPrice": {
            "priceMicros": "2000000",
            "currency": "USD"
          },
          "prices": {
            "AE": {
              "priceMicros": "7690000",
              "currency": "AED"
            },
            "AT": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "AU": {
              "priceMicros": "3290000",
              "currency": "AUD"
            },
            "BD": {
              "priceMicros": "290000000",
              "currency": "BDT"
            },
            "BE": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "BG": {
              "priceMicros": "4290000",
              "currency": "BGN"
            },
            "BH": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "BM": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "BO": {
              "priceMicros": "13990000",
              "currency": "BOB"
            },
            "BR": {
              "priceMicros": "10990000",
              "currency": "BRL"
            },
            "CA": {
              "priceMicros": "2690000",
              "currency": "CAD"
            },
            "CH": {
              "priceMicros": "1800000",
              "currency": "CHF"
            },
            "CL": {
              "priceMicros": "2200000000",
              "currency": "CLP"
            },
            "CO": {
              "priceMicros": "8000000000",
              "currency": "COP"
            },
            "CR": {
              "priceMicros": "1100000000",
              "currency": "CRC"
            },
            "CY": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "CZ": {
              "priceMicros": "54990000",
              "currency": "CZK"
            },
            "DE": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "DK": {
              "priceMicros": "17000000",
              "currency": "DKK"
            },
            "DZ": {
              "priceMicros": "275000000",
              "currency": "DZD"
            },
            "EC": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "EE": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "EG": {
              "priceMicros": "109990000",
              "currency": "EGP"
            },
            "ES": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "FI": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "FM": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "FR": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "GB": {
              "priceMicros": "1890000",
              "currency": "GBP"
            },
            "GE": {
              "priceMicros": "7000000",
              "currency": "GEL"
            },
            "GH": {
              "priceMicros": "40000000",
              "currency": "GHS"
            },
            "GI": {
              "priceMicros": "1590000",
              "currency": "GBP"
            },
            "GR": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "HK": {
              "priceMicros": "15000000",
              "currency": "HKD"
            },
            "HR": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "HU": {
              "priceMicros": "899000000",
              "currency": "HUF"
            },
            "ID": {
              "priceMicros": "33000000000",
              "currency": "IDR"
            },
            "IE": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "IL": {
              "priceMicros": "7500000",
              "currency": "ILS"
            },
            "IN": {
              "priceMicros": "200000000",
              "currency": "INR"
            },
            "IQ": {
              "priceMicros": "2600000000",
              "currency": "IQD"
            },
            "IT": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "JO": {
              "priceMicros": "1400000",
              "currency": "JOD"
            },
            "JP": {
              "priceMicros": "320000000",
              "currency": "JPY"
            },
            "KE": {
              "priceMicros": "300000000",
              "currency": "KES"
            },
            "KH": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "KR": {
              "priceMicros": "3000000000",
              "currency": "KRW"
            },
            "KW": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "KY": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "KZ": {
              "priceMicros": "1090000000",
              "currency": "KZT"
            },
            "LI": {
              "priceMicros": "1900000",
              "currency": "CHF"
            },
            "LK": {
              "priceMicros": "600000000",
              "currency": "LKR"
            },
            "LT": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "LU": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "LV": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "MA": {
              "priceMicros": "23990000",
              "currency": "MAD"
            },
            "MC": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "MM": {
              "priceMicros": "4000000000",
              "currency": "MMK"
            },
            "MO": {
              "priceMicros": "15990000",
              "currency": "MOP"
            },
            "MX": {
              "priceMicros": "42000000",
              "currency": "MXN"
            },
            "MY": {
              "priceMicros": "9990000",
              "currency": "MYR"
            },
            "NG": {
              "priceMicros": "3280000000",
              "currency": "NGN"
            },
            "NL": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "NO": {
              "priceMicros": "26000000",
              "currency": "NOK"
            },
            "NZ": {
              "priceMicros": "3790000",
              "currency": "NZD"
            },
            "OM": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "PA": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "PE": {
              "priceMicros": "7490000",
              "currency": "PEN"
            },
            "PH": {
              "priceMicros": "119000000",
              "currency": "PHP"
            },
            "PK": {
              "priceMicros": "550000000",
              "currency": "PKR"
            },
            "PL": {
              "priceMicros": "9690000",
              "currency": "PLN"
            },
            "PT": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "PY": {
              "priceMicros": "20000000000",
              "currency": "PYG"
            },
            "QA": {
              "priceMicros": "7500000",
              "currency": "QAR"
            },
            "RO": {
              "priceMicros": "10990000",
              "currency": "RON"
            },
            "RS": {
              "priceMicros": "249000000",
              "currency": "RSD"
            },
            "RU": {
              "priceMicros": "179000000",
              "currency": "RUB"
            },
            "SA": {
              "priceMicros": "8590000",
              "currency": "SAR"
            },
            "SE": {
              "priceMicros": "26000000",
              "currency": "SEK"
            },
            "SG": {
              "priceMicros": "2980000",
              "currency": "SGD"
            },
            "SI": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "SK": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "SM": {
              "priceMicros": "1890000",
              "currency": "EUR"
            },
            "SV": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "TC": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "TH": {
              "priceMicros": "78000000",
              "currency": "THB"
            },
            "TR": {
              "priceMicros": "77990000",
              "currency": "TRY"
            },
            "TW": {
              "priceMicros": "68000000",
              "currency": "TWD"
            },
            "TZ": {
              "priceMicros": "5500000000",
              "currency": "TZS"
            },
            "UA": {
              "priceMicros": "94990000",
              "currency": "UAH"
            },
            "US": {
              "priceMicros": "2000000",
              "currency": "USD"
            },
            "VA": {
              "priceMicros": "1890000",
              "currency": "EUR"
            },
            "VG": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "VN": {
              "priceMicros": "51000000000",
              "currency": "VND"
            },
            "ZA": {
              "priceMicros": "41990000",
              "currency": "ZAR"
            }
          },
          "listings": {
            "en-US": {
              "title": "Gumroad Product",
              "description": "Gumroad Product $2"
            }
          },
          "defaultLanguage": "en-US",
          "managedProductTaxesAndComplianceSettings": {
            "eeaWithdrawalRightType": "WITHDRAWAL_RIGHT_DIGITAL_CONTENT"
          }
        }
  recorded_at: Thu, 04 Jul 2024 23:32:50 GMT
[...]
- request:
    method: get
    uri: https://androidpublisher.googleapis.com/androidpublisher/v3/applications/com.gumroad.app/purchases/products/com.gumroad.product_2/tokens/ioaofjheincpkpjngbpeklnj.AO-J1Oz2PB6tI_SYNj1vMDgLuNffrzVMNNZwV9vpOUqFOzicks0zTDZl6xh1q3StS-gxZf0WVjyAyayhPh0-6TwAS8gkahn7FQ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.c0AY_VpZgvuZn4XRXBqZbgfRobA3HcB2DokU8GP2QY09T89WhNjPI9cKG4h-AbPbz5dnxVerm_qDk7w3giWUlo3IkhPj0LlFmp[...]
