---
http_interactions:
- request:
    method: get
    uri: https://app.circle.so/api/v1/communities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token <CIRCLE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c9f064a2f2417780b20c7fc34676473"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":3512,"name":"Gumroad","slug":"gumroad","icon_url":"https://d2y5h3osumboay.cloudfront.net/o4431o822um5prcmyefm7pc9fhht","logo_url":"https://d2y5h3osumboay.cloudfront.net/jwp8ec5m46vtdw05eki9fd38ga7zJ5Hj6yK1","owner_id":200455,"is_private":false,"space_ids":[24914,24916,24918,24919,25148,25159,27096,32841,42109,42111,42112,76381,77110,97329,97374,97376,97377,97378,98660,98664,105741,105742,116356,116357,132358,132553,132554,132556,132557,132559,132560,132561,132562,132563,132565,132566,132567,132568,132569,132571,132573,132574,132575,134985,139900,140195,142769,142937],"last_visited_by_current_user":true,"default_existing_member_space_id":0,"root_url":"community.gumroad.com","display_on_switcher":true,"prefs":{"has_posts":true,"has_spaces":true,"has_topics":true,"brand_color":"#00959A","has_seen_widget":true,"has_invited_member":true,"has_completed_onboarding":true}}]'
  recorded_at: Fri, 20 Aug 2021 14:03:38 GMT
- request:
    method: get
    uri: https://app.circle.so/api/v1/space_groups?community_id=3512
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token <CIRCLE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"825032513f9d214a065f9253a5c53d8b"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":8015,"name":"Community","is_hidden_from_non_members":false,"allow_members_to_create_spaces":false,"community_id":3512,"space_order_array":["77110","24914","32841","132358","25159","97329","76381",76381,77110,134985,32841,132358,24914,97329,140195],"created_at":"2020-10-17T00:52:17.905Z","updated_at":"2021-08-06T00:34:52.373Z","automatically_add_members_to_new_spaces":false,"add_members_to_space_group_on_space_join":false,"slug":"community","hide_non_member_spaces_from_sidebar":false},{"id":8017,"name":"14
        Day Product","is_hidden_from_non_members":true,"allow_members_to_create_spaces":false,"community_id":3512,"space_order_array":["25148","27096","24918","25157","24916","24919","27095",24918,27096,25148,24916,24919],"created_at":"2020-10-17T00:56:17.325Z","updated_at":"2021-04-27T08:42:23.214Z","automatically_add_members_to_new_spaces":true,"add_members_to_space_group_on_space_join":true,"slug":"14dayproduct","hide_non_member_spaces_from_sidebar":true},{"id":13[...]
