---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 481c2754-d0c5-4402-bf14-b462e3cef1ad
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 481c2754-d0c5-4402-bf14-b462e3cef1ad
      Original-Request:
      - req_UKsPOSDbn7VoGC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O7NlJ9e1RjUNIyYKRoCgdBr",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698781085,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 31 Oct 2023 19:38:05 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7NlJ9e1RjUNIyYKRoCgdBr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O7NlJ9e1RjUNIyYKRoCgdBr
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 718bf316-9d5a-494d-97e2-a365964cd68b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 718bf316-9d5a-494d-97e2-a365964cd68b
      Original-Request:
      - req_zAKvkxoIjv0mZU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OvEDd9jB8o8Vq4",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698781087,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "8A877665",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 31 Oct 2023 19:38:08 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: confirm=true&payment_method_types[0]=card&usage=off_session&payment_method=pm_0O7NlJ9e1RjUNIyYKRoCgdBr&customer=cus_OvEDd9jB8o8Vq4
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d18de107-928f-40bf-846f-37afe6c57fbf
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d18de107-928f-40bf-846f-37afe6c57fbf
      Original-Request:
      - req_DfC7eL2q8xqwOo
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0O7NlM9e1RjUNIyYhfVckeot",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0O7NlM9e1RjUNIyYhfVckeot_secret_OvEDdYgwRrPv3h9Ix1HIARJJB2h5cSX",
          "created": 1698781088,
          "customer": "cus_OvEDd9jB8o8Vq4",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0O7NlM9e1RjUNIyYWjzqxqVH",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7NlJ9e1RjUNIyYKRoCgdBr",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 31 Oct 2023 19:38:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=900&currency=usd&description=You+bought+http%3A%2F%2Fedgar5ff0df112170.test.gumroad.com%3A31337%2Fl%2Fk&metadata[purchase]=W8K1Gt5IdHwJqNqXuOdkNQ%3D%3D&transfer_group=1190&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OvEDd9jB8o8Vq4&payment_method=pm_0O7NlJ9e1RjUNIyYKRoCgdBr&statement_descriptor_suffix=edgar5ff0df112170
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 948018db-0e81-4ab4-8afe-bf87d0028687
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 948018db-0e81-4ab4-8afe-bf87d0028687
      Original-Request:
      - req_cUIrtFMGFhYDnq
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O7NlN9e1RjUNIyY1a8Px9Bf",
          "object": "payment_intent",
          "amount": 900,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 900,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O7NlN9e1RjUNIyY1a8Px9Bf_secret_2u7e20YDJ0eGzrSoH8mph2KMP",
          "confirmation_method": "manual",
          "created": 1698781089,
          "currency": "usd",
          "customer": "cus_OvEDd9jB8o8Vq4",
          "description": "You bought http://edgar5ff0df112170.test.gumroad.com:31337/l/k",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O7NlN9e1RjUNIyY1i8uI9sL",
          "livemode": false,
          "metadata": {
            "purchase": "W8K1Gt5IdHwJqNqXuOdkNQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7NlJ9e1RjUNIyYKRoCgdBr",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar5ff0df112170",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1190"
        }
  recorded_at: Tue, 31 Oct 2023 19:38:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7NlN9e1RjUNIyY1i8uI9sL?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O7NlN9e1RjUNIyY1i8uI9sL",
          "object": "charge",
          "amount": 900,
          "amount_captured": 900,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O7NlN9e1RjUNIyY1RrHZm17",
            "object": "balance_transaction",
            "amount": 900,
            "available_on": 1698883200,
            "created": 1698781090,
            "currency": "usd",
            "description": "You bought http://edgar5ff0df112170.test.gumroad.com:31337/l/k",
            "exchange_rate": null,
            "fee": 48,
            "fee_details": [
              {
                "amount": 48,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 852,
            "reporting_category": "charge",
            "source": "ch_2O7NlN9e1RjUNIyY1i8uI9sL",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR5FF0DF",
          "captured": true,
          "created": 1698781090,
          "currency": "usd",
          "customer": "cus_OvEDd9jB8o8Vq4",
          "description": "You bought http://edgar5ff0df112170.test.gumroad.com:31337/l/k",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "W8K1Gt5IdHwJqNqXuOdkNQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 48,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O7NlN9e1RjUNIyY1a8Px9Bf",
          "payment_method": "pm_0O7NlJ9e1RjUNIyYKRoCgdBr",
          "payment_method_details": {
            "card": {
              "amount_authorized": 900,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 900,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoo6-FqgYyBj0odlqSrDosFkmbhodCbydmJ381_hJvmUdgHPMf4g8wWUBA51V-OuUdGj1TnQoxm9ccb_o",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar5ff0df112170",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1190"
        }
  recorded_at: Tue, 31 Oct 2023 19:38:11 GMT
recorded_with: VCR 6.2.0
