---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d8aad92a-6bf5-4d50-97ff-6d4413311fe8
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d8aad92a-6bf5-4d50-97ff-6d4413311fe8
      Original-Request:
      - req_zWyj18bfokcAUn
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O7NmN9e1RjUNIyYntYaMYgp",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698781151,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:11 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7NmN9e1RjUNIyYntYaMYgp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O7NmN9e1RjUNIyYntYaMYgp
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e8e459c6-a396-4d56-8038-c9c3fca3c34d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e8e459c6-a396-4d56-8038-c9c3fca3c34d
      Original-Request:
      - req_bNp8KuQX3tw24h
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OvEEGV1ht6wF5h",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698781154,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "5310F900",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 31 Oct 2023 19:39:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: confirm=true&payment_method_types[0]=card&usage=off_session&payment_method=pm_0O7NmN9e1RjUNIyYntYaMYgp&customer=cus_OvEEGV1ht6wF5h
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - '0310188d-ea9b-4f7f-92d6-ad413269cb8f'
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '0310188d-ea9b-4f7f-92d6-ad413269cb8f'
      Original-Request:
      - req_UGPf51cDBj38CJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0O7NmR9e1RjUNIyYazpJB4nQ",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0O7NmR9e1RjUNIyYazpJB4nQ_secret_OvEELO6HASTBhOcRxQO5wx0r5bI04L5",
          "created": 1698781155,
          "customer": "cus_OvEEGV1ht6wF5h",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0O7NmR9e1RjUNIyYS2CWIEqK",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7NmN9e1RjUNIyYntYaMYgp",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=700&currency=usd&description=You+bought+http%3A%2F%2Fedgar43864a0c2179.test.gumroad.com%3A31337%2Fl%2Fn&metadata[purchase]=jKKV9z3KaWP-HphJB7cCeA%3D%3D&transfer_group=1208&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OvEEGV1ht6wF5h&payment_method=pm_0O7NmN9e1RjUNIyYntYaMYgp&statement_descriptor_suffix=edgar43864a0c2179
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d1b3684a-a756-46d5-bc01-e32a3d24cc83
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d1b3684a-a756-46d5-bc01-e32a3d24cc83
      Original-Request:
      - req_VTULiLHQB0gjcg
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O7NmS9e1RjUNIyY1M5HWGCv",
          "object": "payment_intent",
          "amount": 700,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 700,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O7NmS9e1RjUNIyY1M5HWGCv_secret_FlZbgADQ1eBfYMaAyNa7mrPZc",
          "confirmation_method": "manual",
          "created": 1698781156,
          "currency": "usd",
          "customer": "cus_OvEEGV1ht6wF5h",
          "description": "You bought http://edgar43864a0c2179.test.gumroad.com:31337/l/n",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O7NmS9e1RjUNIyY1NeMN2tb",
          "livemode": false,
          "metadata": {
            "purchase": "jKKV9z3KaWP-HphJB7cCeA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7NmN9e1RjUNIyYntYaMYgp",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar43864a0c2179",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1208"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7NmS9e1RjUNIyY1NeMN2tb?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O7NmS9e1RjUNIyY1NeMN2tb",
          "object": "charge",
          "amount": 700,
          "amount_captured": 700,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O7NmS9e1RjUNIyY1zX6m74n",
            "object": "balance_transaction",
            "amount": 700,
            "available_on": 1698883200,
            "created": 1698781156,
            "currency": "usd",
            "description": "You bought http://edgar43864a0c2179.test.gumroad.com:31337/l/n",
            "exchange_rate": null,
            "fee": 40,
            "fee_details": [
              {
                "amount": 40,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 660,
            "reporting_category": "charge",
            "source": "ch_2O7NmS9e1RjUNIyY1NeMN2tb",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR43864A",
          "captured": true,
          "created": 1698781156,
          "currency": "usd",
          "customer": "cus_OvEEGV1ht6wF5h",
          "description": "You bought http://edgar43864a0c2179.test.gumroad.com:31337/l/n",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "jKKV9z3KaWP-HphJB7cCeA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 1,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O7NmS9e1RjUNIyY1M5HWGCv",
          "payment_method": "pm_0O7NmN9e1RjUNIyYntYaMYgp",
          "payment_method_details": {
            "card": {
              "amount_authorized": 700,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 700,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo5q-FqgYyBjrOO7qI0DosFiSiDhyhDQXs_6qlhX7RhdBpFaDn445GG9-uIleT32PDcmoo22hZ2dHCcQs",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar43864a0c2179",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1208"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:18 GMT
recorded_with: VCR 6.2.0
