---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - dac6e1c8-1033-467b-bc78-0bcbe410b679
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - dac6e1c8-1033-467b-bc78-0bcbe410b679
      Original-Request:
      - req_n4I98v69yUBM3c
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O7Nmr9e1RjUNIyYGvt4gD9h",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698781181,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:41 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7Nmr9e1RjUNIyYGvt4gD9h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O7Nmr9e1RjUNIyYGvt4gD9h
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e74f1536-36c8-492a-9828-8dc0eda1fe1f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e74f1536-36c8-492a-9828-8dc0eda1fe1f
      Original-Request:
      - req_WcV60tRz3MueRm
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OvEFt2ceIoXfAL",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698781184,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "1E9135F2",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 31 Oct 2023 19:39:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: confirm=true&payment_method_types[0]=card&usage=off_session&payment_method=pm_0O7Nmr9e1RjUNIyYGvt4gD9h&customer=cus_OvEFt2ceIoXfAL
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - aca4567d-8f31-4479-9653-91d2112f27d6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - aca4567d-8f31-4479-9653-91d2112f27d6
      Original-Request:
      - req_6yC1jLZPNCrsme
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0O7Nmv9e1RjUNIyYS7R8kHBA",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0O7Nmv9e1RjUNIyYS7R8kHBA_secret_OvEF69OF9hSFKn3h9bWEAULVGWcHRrv",
          "created": 1698781185,
          "customer": "cus_OvEFt2ceIoXfAL",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0O7Nmv9e1RjUNIyYxSVP9S2u",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7Nmr9e1RjUNIyYGvt4gD9h",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=600&currency=usd&description=You+bought+http%3A%2F%2Fedgar527790f32184.test.gumroad.com%3A31337%2Fl%2Fa&metadata[purchase]=MslCjXtc7__n-zKF5W8OEQ%3D%3D&transfer_group=1219&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OvEFt2ceIoXfAL&payment_method=pm_0O7Nmr9e1RjUNIyYGvt4gD9h&statement_descriptor_suffix=edgar527790f32184
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3c5f9397-10f8-4626-a0d5-da2012402fdb
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3c5f9397-10f8-4626-a0d5-da2012402fdb
      Original-Request:
      - req_NLQ9AhzWrRGYn9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O7Nmw9e1RjUNIyY1Qn6eJaZ",
          "object": "payment_intent",
          "amount": 600,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 600,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O7Nmw9e1RjUNIyY1Qn6eJaZ_secret_U5jAHVSHez682naqcYRwJYhh6",
          "confirmation_method": "manual",
          "created": 1698781186,
          "currency": "usd",
          "customer": "cus_OvEFt2ceIoXfAL",
          "description": "You bought http://edgar527790f32184.test.gumroad.com:31337/l/a",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O7Nmw9e1RjUNIyY1B2hRsip",
          "livemode": false,
          "metadata": {
            "purchase": "MslCjXtc7__n-zKF5W8OEQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7Nmr9e1RjUNIyYGvt4gD9h",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar527790f32184",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1219"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:47 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7Nmw9e1RjUNIyY1B2hRsip?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O7Nmw9e1RjUNIyY1B2hRsip",
          "object": "charge",
          "amount": 600,
          "amount_captured": 600,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O7Nmw9e1RjUNIyY1t7nmCRp",
            "object": "balance_transaction",
            "amount": 600,
            "available_on": 1698883200,
            "created": 1698781186,
            "currency": "usd",
            "description": "You bought http://edgar527790f32184.test.gumroad.com:31337/l/a",
            "exchange_rate": null,
            "fee": 35,
            "fee_details": [
              {
                "amount": 35,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 565,
            "reporting_category": "charge",
            "source": "ch_2O7Nmw9e1RjUNIyY1B2hRsip",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR527790",
          "captured": true,
          "created": 1698781186,
          "currency": "usd",
          "customer": "cus_OvEFt2ceIoXfAL",
          "description": "You bought http://edgar527790f32184.test.gumroad.com:31337/l/a",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "MslCjXtc7__n-zKF5W8OEQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 51,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O7Nmw9e1RjUNIyY1Qn6eJaZ",
          "payment_method": "pm_0O7Nmr9e1RjUNIyYGvt4gD9h",
          "payment_method_details": {
            "card": {
              "amount_authorized": 600,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 600,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUohLCFqgYyBqNl3zu6mjosFg64G0DRVWaHMXl74ks61iOboQVjVHxQHD-zFrzAO4hMfaj5tBO47V_-xD4",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar527790f32184",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1219"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:48 GMT
recorded_with: VCR 6.2.0
