---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 82906f89-8794-4c91-8dfe-df4e84433ad4
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 82906f89-8794-4c91-8dfe-df4e84433ad4
      Original-Request:
      - req_sKfnLLhSEnxG0n
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O7Nm19e1RjUNIyY2tUvNMUa",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698781129,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 31 Oct 2023 19:38:49 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7Nm19e1RjUNIyY2tUvNMUa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O7Nm19e1RjUNIyY2tUvNMUa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7bbd6931-bda5-4b51-8c0f-bdc7956fbb3d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7bbd6931-bda5-4b51-8c0f-bdc7956fbb3d
      Original-Request:
      - req_iH8oq9HnxdsykI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OvEEBhlZGnR5IS",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698781132,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "507F640A",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 31 Oct 2023 19:38:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: confirm=true&payment_method_types[0]=card&usage=off_session&payment_method=pm_0O7Nm19e1RjUNIyY2tUvNMUa&customer=cus_OvEEBhlZGnR5IS
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5c7b8062-324a-4c0c-91fa-cd7737dd2419
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5c7b8062-324a-4c0c-91fa-cd7737dd2419
      Original-Request:
      - req_bgMUdP0n1JL2cQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0O7Nm49e1RjUNIyYD6hZPAEe",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0O7Nm49e1RjUNIyYD6hZPAEe_secret_OvEEVcu678uhUq8ztzt5Fq6HLtDszEI",
          "created": 1698781132,
          "customer": "cus_OvEEBhlZGnR5IS",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0O7Nm59e1RjUNIyYvJEb7klc",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7Nm19e1RjUNIyY2tUvNMUa",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 31 Oct 2023 19:38:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=300&currency=usd&description=You+bought+http%3A%2F%2Fedgar8b5347812176.test.gumroad.com%3A31337%2Fl%2Fv&metadata[purchase]=ENhhrySoEBolNjOTR0jk6w%3D%3D&transfer_group=1202&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OvEEBhlZGnR5IS&payment_method=pm_0O7Nm19e1RjUNIyY2tUvNMUa&statement_descriptor_suffix=edgar8b5347812176
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0a3ce5c9-26b8-4b67-90f3-08dcf2215b16
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0a3ce5c9-26b8-4b67-90f3-08dcf2215b16
      Original-Request:
      - req_HTdyza9CcmN08c
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O7Nm69e1RjUNIyY1HKJdKSM",
          "object": "payment_intent",
          "amount": 300,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 300,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O7Nm69e1RjUNIyY1HKJdKSM_secret_hHjzWiMqMTz7U3aeLWVPsl5Bh",
          "confirmation_method": "manual",
          "created": 1698781134,
          "currency": "usd",
          "customer": "cus_OvEEBhlZGnR5IS",
          "description": "You bought http://edgar8b5347812176.test.gumroad.com:31337/l/v",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O7Nm69e1RjUNIyY1bPSbPVT",
          "livemode": false,
          "metadata": {
            "purchase": "ENhhrySoEBolNjOTR0jk6w=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7Nm19e1RjUNIyY2tUvNMUa",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar8b5347812176",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1202"
        }
  recorded_at: Tue, 31 Oct 2023 19:38:55 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7Nm69e1RjUNIyY1bPSbPVT?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O7Nm69e1RjUNIyY1bPSbPVT",
          "object": "charge",
          "amount": 300,
          "amount_captured": 300,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O7Nm69e1RjUNIyY1u4JFenX",
            "object": "balance_transaction",
            "amount": 300,
            "available_on": 1698883200,
            "created": 1698781134,
            "currency": "usd",
            "description": "You bought http://edgar8b5347812176.test.gumroad.com:31337/l/v",
            "exchange_rate": null,
            "fee": 20,
            "fee_details": [
              {
                "amount": 20,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 280,
            "reporting_category": "charge",
            "source": "ch_2O7Nm69e1RjUNIyY1bPSbPVT",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR8B5347",
          "captured": true,
          "created": 1698781134,
          "currency": "usd",
          "customer": "cus_OvEEBhlZGnR5IS",
          "description": "You bought http://edgar8b5347812176.test.gumroad.com:31337/l/v",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "ENhhrySoEBolNjOTR0jk6w=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 56,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O7Nm69e1RjUNIyY1HKJdKSM",
          "payment_method": "pm_0O7Nm19e1RjUNIyY2tUvNMUa",
          "payment_method_details": {
            "card": {
              "amount_authorized": 300,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 300,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoz6-FqgYyBkmRdD4leTosFgbPy9MB47E8wYHKWhBFAZgwL9QDv5JULyh8f2XTZfa6sKWXT_8Q8EaJrs4",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar8b5347812176",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1202"
        }
  recorded_at: Tue, 31 Oct 2023 19:38:56 GMT
recorded_with: VCR 6.2.0
