---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6e601c6c-e46c-4f90-ad8f-a03abf2d8906
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6e601c6c-e46c-4f90-ad8f-a03abf2d8906
      Original-Request:
      - req_954a3C8WDjZ6lX
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O7Nn69e1RjUNIyY2ZwOfhJC",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698781196,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:57 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7Nn69e1RjUNIyY2ZwOfhJC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O7Nn69e1RjUNIyY2ZwOfhJC
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b58dd138-ebd2-47e0-8839-56c25e1322dc
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b58dd138-ebd2-47e0-8839-56c25e1322dc
      Original-Request:
      - req_I3aiL0cM3wQcyq
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OvEFG9LqniMyZF",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698781199,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "68D06916",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 31 Oct 2023 19:40:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: confirm=true&payment_method_types[0]=card&usage=off_session&payment_method=pm_0O7Nn69e1RjUNIyY2ZwOfhJC&customer=cus_OvEFG9LqniMyZF
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4c93acd3-2abb-4bc1-8ced-1ba6dd599baf
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4c93acd3-2abb-4bc1-8ced-1ba6dd599baf
      Original-Request:
      - req_UZNxKtxOawfVC5
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0O7NnA9e1RjUNIyYsF9GOazH",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0O7NnA9e1RjUNIyYsF9GOazH_secret_OvEFANK8HfvMFRfnlaUNGYhPlr6tDIp",
          "created": 1698781200,
          "customer": "cus_OvEFG9LqniMyZF",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0O7NnA9e1RjUNIyYpYk8BXRT",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7Nn69e1RjUNIyY2ZwOfhJC",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 31 Oct 2023 19:40:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1200&currency=usd&description=You+bought+http%3A%2F%2Fedgar86f9e10a2186.test.gumroad.com%3A31337%2Fl%2Fy&metadata[purchase]=ZTgjAvEuMmk4noqykA_VNg%3D%3D&transfer_group=1223&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OvEFG9LqniMyZF&payment_method=pm_0O7Nn69e1RjUNIyY2ZwOfhJC&statement_descriptor_suffix=edgar86f9e10a2186
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7ac18ab1-f0d6-4907-89a8-dd9751b6631d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7ac18ab1-f0d6-4907-89a8-dd9751b6631d
      Original-Request:
      - req_QQyX0SIzZUOS9Y
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O7NnB9e1RjUNIyY1ZUVFUiF",
          "object": "payment_intent",
          "amount": 1200,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1200,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O7NnB9e1RjUNIyY1ZUVFUiF_secret_Y5KrnO7XLAt3ZgDH8fdI0dMla",
          "confirmation_method": "manual",
          "created": 1698781201,
          "currency": "usd",
          "customer": "cus_OvEFG9LqniMyZF",
          "description": "You bought http://edgar86f9e10a2186.test.gumroad.com:31337/l/y",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O7NnB9e1RjUNIyY1xQYVVlf",
          "livemode": false,
          "metadata": {
            "purchase": "ZTgjAvEuMmk4noqykA_VNg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7Nn69e1RjUNIyY2ZwOfhJC",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar86f9e10a2186",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1223"
        }
  recorded_at: Tue, 31 Oct 2023 19:40:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7NnB9e1RjUNIyY1xQYVVlf?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O7NnB9e1RjUNIyY1xQYVVlf",
          "object": "charge",
          "amount": 1200,
          "amount_captured": 1200,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O7NnB9e1RjUNIyY1CxgVcdJ",
            "object": "balance_transaction",
            "amount": 1200,
            "available_on": 1698883200,
            "created": 1698781202,
            "currency": "usd",
            "description": "You bought http://edgar86f9e10a2186.test.gumroad.com:31337/l/y",
            "exchange_rate": null,
            "fee": 54,
            "fee_details": [
              {
                "amount": 54,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1146,
            "reporting_category": "charge",
            "source": "ch_2O7NnB9e1RjUNIyY1xQYVVlf",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR86F9E1",
          "captured": true,
          "created": 1698781202,
          "currency": "usd",
          "customer": "cus_OvEFG9LqniMyZF",
          "description": "You bought http://edgar86f9e10a2186.test.gumroad.com:31337/l/y",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "ZTgjAvEuMmk4noqykA_VNg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 36,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O7NnB9e1RjUNIyY1ZUVFUiF",
          "payment_method": "pm_0O7Nn69e1RjUNIyY2ZwOfhJC",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1200,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1200,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUok7CFqgYyBvfyJkRM3zosFp9wwAwwXJWSj4S3D5hmQh5c0RxKS8dgdrLKYemsK2hmzqiVhQml_dwOIFU",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar86f9e10a2186",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1223"
        }
  recorded_at: Tue, 31 Oct 2023 19:40:03 GMT
recorded_with: VCR 6.2.0
