---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f1a294b8-7efc-4f24-91e4-ed7bfc0d85c7
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f1a294b8-7efc-4f24-91e4-ed7bfc0d85c7
      Original-Request:
      - req_vTMALH8vJwuBoK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O7NmU9e1RjUNIyYI2xMSAkC",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698781159,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:19 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7NmU9e1RjUNIyYI2xMSAkC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O7NmU9e1RjUNIyYI2xMSAkC
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e6007ba1-d313-4549-9612-22cc9b6a56d3
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e6007ba1-d313-4549-9612-22cc9b6a56d3
      Original-Request:
      - req_K7N9WNPxoVbWJU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OvEFBdGkaR70bl",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698781161,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "2C835F0B",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 31 Oct 2023 19:39:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: confirm=true&payment_method_types[0]=card&usage=off_session&payment_method=pm_0O7NmU9e1RjUNIyYI2xMSAkC&customer=cus_OvEFBdGkaR70bl
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4ff8fb3f-f7c7-4e4f-8981-b6cfb151b95e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4ff8fb3f-f7c7-4e4f-8981-b6cfb151b95e
      Original-Request:
      - req_nYZcNiTReQ3fv1
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0O7NmY9e1RjUNIyYmTi9BPqf",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0O7NmY9e1RjUNIyYmTi9BPqf_secret_OvEFfINaHI7QeeDJrqi3Z1009VGWBXt",
          "created": 1698781162,
          "customer": "cus_OvEFBdGkaR70bl",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0O7NmY9e1RjUNIyYmrdVEfJj",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7NmU9e1RjUNIyYI2xMSAkC",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=400&currency=usd&description=You+bought+http%3A%2F%2Fedgar6be80b7f2180.test.gumroad.com%3A31337%2Fl%2Ft&metadata[purchase]=rVKREjRqVic3sf9819_n-A%3D%3D&transfer_group=1210&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OvEFBdGkaR70bl&payment_method=pm_0O7NmU9e1RjUNIyYI2xMSAkC&statement_descriptor_suffix=edgar6be80b7f2180
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 132ea4cb-ca52-4eef-bcfd-183c3599ce6a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 132ea4cb-ca52-4eef-bcfd-183c3599ce6a
      Original-Request:
      - req_fNgsppcH8pJ1bP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O7NmZ9e1RjUNIyY0xusZE1d",
          "object": "payment_intent",
          "amount": 400,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 400,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O7NmZ9e1RjUNIyY0xusZE1d_secret_RO2AO00f4YlsGvRU3fpE5uHEd",
          "confirmation_method": "manual",
          "created": 1698781163,
          "currency": "usd",
          "customer": "cus_OvEFBdGkaR70bl",
          "description": "You bought http://edgar6be80b7f2180.test.gumroad.com:31337/l/t",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O7NmZ9e1RjUNIyY0CV2HMMD",
          "livemode": false,
          "metadata": {
            "purchase": "rVKREjRqVic3sf9819_n-A=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7NmU9e1RjUNIyYI2xMSAkC",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar6be80b7f2180",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1210"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:24 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7NmZ9e1RjUNIyY0CV2HMMD?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O7NmZ9e1RjUNIyY0CV2HMMD",
          "object": "charge",
          "amount": 400,
          "amount_captured": 400,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O7NmZ9e1RjUNIyY0DCsaYFm",
            "object": "balance_transaction",
            "amount": 400,
            "available_on": 1698883200,
            "created": 1698781164,
            "currency": "usd",
            "description": "You bought http://edgar6be80b7f2180.test.gumroad.com:31337/l/t",
            "exchange_rate": null,
            "fee": 25,
            "fee_details": [
              {
                "amount": 25,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 375,
            "reporting_category": "charge",
            "source": "ch_2O7NmZ9e1RjUNIyY0CV2HMMD",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR6BE80B",
          "captured": true,
          "created": 1698781164,
          "currency": "usd",
          "customer": "cus_OvEFBdGkaR70bl",
          "description": "You bought http://edgar6be80b7f2180.test.gumroad.com:31337/l/t",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "rVKREjRqVic3sf9819_n-A=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 6,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O7NmZ9e1RjUNIyY0xusZE1d",
          "payment_method": "pm_0O7NmU9e1RjUNIyYI2xMSAkC",
          "payment_method_details": {
            "card": {
              "amount_authorized": 400,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 400,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo7a-FqgYyBoqXiKJfoDosFoOAavQwyhgCg0uPg-34g0IqttK_FH3WQ4NaKxs7Bf4IH1q2qQvCvuSEMmw",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar6be80b7f2180",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1210"
        }
  recorded_at: Tue, 31 Oct 2023 19:39:25 GMT
recorded_with: VCR 6.2.0
