---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/checkout/orders
    body:
      encoding: UTF-8
      string: '{"intent":"CAPTURE","purchase_units":[{"reference_id":"G_-mnBf9b1j9A7a4ub4nFQ==","amount":{"currency_code":"usd","value":"1.00","breakdown":{"shipping":{"currency_code":"USD","value":"0.00"},"tax_total":{"currency_code":"USD","value":"0.00"},"item_total":{"currency_code":"USD","value":"1.00"}}},"payee":{"merchant_id":"B66YJBBNCRW6L"},"items":[{"name":"The
        Works of Edgar Gumstein","unit_amount":{"currency_code":"USD","value":"1.00"},"quantity":1,"sku":"j"}],"soft_descriptor":"Gumroad","payment_instruction":{"platform_fees":[{"amount":{"currency_code":"USD","value":"0.30"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>"}}]}}]}'
    headers:
      Authorization:
      - Bearer A21AAIW-mWqtYFHC_juLm6Ded4UvrZmFdAprGbqIsnyf9Tjay2qdeZqLzZnjGJfNAcQvdNS4Rx0Hgbyu2ukMDARwWHEEBdh1Q
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
      Paypal-Request-Id:
      - '1609785331'
      Prefer:
      - return=representation
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.7.2
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 3a23a3eaea837
    body:
      encoding: UTF-8
      string: '{"id":"9G670229VY375905Y","intent":"CAPTURE","status":"CREATED","purchase_units":[{"reference_id":"G_-mnBf9b1j9A7a4ub4nFQ==","amount":{"currency_code":"USD","value":"1.00","breakdown":{"item_total":{"currency_code":"USD","value":"1.00"},"shipping":{"currency_code":"USD","value":"0.00"},"tax_total":{"currency_code":"USD","value":"0.00"}}},"payee":{"merchant_id":"B66YJBBNCRW6L"},"payment_instruction":{"platform_fees":[{"amount":{"currency_code":"USD","value":"0.30"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>"}}]},"soft_descriptor":"Gumroad","items":[{"name":"The
        Works of Edgar Gumstein","unit_amount":{"currency_code":"USD","value":"1.00"},"quantity":"1","sku":"j"}]}],"create_time":"2021-01-04T18:35:33Z","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/9G670229VY375905Y","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/checkoutnow?token=9G670229VY375905Y","rel":"approve","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/9G670229VY375905Y","rel":"update","method":"PATCH"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/9G670229VY375905Y/capture","rel":"capture","method":"POST"}]}'
  recorded_at: Mon, 04 Jan 2021 18:35:35 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/9G670229VY375905Y/capture
    body:
      encoding: UTF-8
      string: '{"payment_source":{"token":{"id":"B-38D505255T217912K","type":"BILLING_AGREEMENT"}}}'
    headers:
      Authorization:
      - Bearer A21AAIW-mWqtYFHC_juLm6Ded4UvrZmFdAprGbqIsnyf9Tjay2qdeZqLzZnjGJfNAcQvdNS4Rx0Hgbyu2ukMDARwWHEEBdh1Q
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
      Paypal-Request-Id:
      - '1609785335'
      Prefer:
      - return=representation
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.7.2
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 19f31be1aad85
    body:
      encoding: UTF-8
      string: '{"id":"9G670229VY375905Y","intent":"CAPTURE","status":"COMPLETED","purchase_units":[{"reference_id":"G_-mnBf9b1j9A7a4ub4nFQ==","amount":{"currency_code":"USD","value":"1.00","breakdown":{"item_total":{"currency_code":"USD","value":"1.00"},"shipping":{"currency_code":"USD","value":"0.00"},"handling":{"currency_code":"USD","value":"0.00"},"tax_total":{"currency_code":"USD","value":"0.00"},"insurance":{"currency_code":"USD","value":"0.00"},"shipping_discount":{"currency_code":"USD","value":"0.00"}}},"payee":{"email_address":"sb-byx2u2205460@business.example.com","merchant_id":"B66YJBBNCRW6L"},"payment_instruction":{"platform_fees":[{"amount":{"currency_code":"USD","value":"0.30"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>","merchant_id":"<PAYPAL_PARTNER_MERCHANT_ID>"}}]},"description":"The
        Works of Edgar Gumstein","items":[{"name":"The Works of Edgar Gumstein","unit_amount":{"currency_code":"USD","value":"1.00"},"tax":{"currency_code":"USD","value":"0.00"},"quantity":"1","sku":"j"}],"shipping":{"name":{"full_name":"Gumbot
        Gumstein"},"address":{}},"payments":{"captures":[{"id":"6YV39801251112419","status":"COMPLETED","amount":{"currency_code":"USD","value":"1.00"},"final_capture":true,"disbursement_mode":"INSTANT","seller_protection":{"status":"ELIGIBLE","dispute_categories":["ITEM_NOT_RECEIVED","UNAUTHORIZED_TRANSACTION"]},"seller_receivable_breakdown":{"gross_amount":{"currency_code":"USD","value":"1.00"},"paypal_fee":{"currency_code":"USD","value":"0.33"},"platform_fees":[{"amount":{"currency_code":"USD","value":"0.30"},"payee":{"merchant_id":"<PAYPAL_PARTNER_MERCHANT_ID>"}}],"net_amount":{"currency_code":"USD","value":"0.37"}},"links":[{"href":"https://api.sandbox.paypal.com/v2/payments/captures/6YV39801251112419","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/payments/captures/6YV39801251112419/refund","rel":"refund","method":"POST"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/9G670229VY375905Y","rel":"up","method":"GET"}],"create_time":"2021-01-04T18:35:40Z","update_time":"2021-01-04T18:35:40Z"}]}}],"payer":{"name":{"given_name":"Gumbot","surname":"Gumstein"},"email_address":"paypal-gr-integspecs@gumroad.com","payer_id":"92SVVJSWYT72E","address":{"country_code":"US"}},"create_time":"2021-01-04T18:35:33Z","update_time":"2021-01-04T18:35:40Z","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/9G670229VY375905Y","rel":"self","method":"GET"}]}'
  recorded_at: Mon, 04 Jan 2021 18:35:41 GMT
recorded_with: VCR 6.0.0
