---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 372096c1-60c0-44eb-a7e9-1d034e466b0c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 372096c1-60c0-44eb-a7e9-1d034e466b0c
      Original-Request:
      - req_vFpJLicPbvvTFP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SkCbiIBOqvOFDrfsKbbACtx",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2026,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1767138342,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 30 Dec 2025 23:45:42 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SkCbiIBOqvOFDrfsKbbACtx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgard4e69b7d103.test.gumroad.com%3A31337%2Fl%2Fq%21&metadata[purchase]=DYdUPm4GtknaOyaIcfuVew%3D%3D&transfer_group=411&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_1SkCbiIBOqvOFDrfsKbbACtx&statement_descriptor_suffix=edgard4e69b7d103
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bba809dd-20b4-448e-8efc-54587f6ed740
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bba809dd-20b4-448e-8efc-54587f6ed740
      Original-Request:
      - req_rklcsmxar0RkwJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SkCbjIBOqvOFDrf0KiWRwgN",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SkCbjIBOqvOFDrf0KiWRwgN_secret_VBnkYtGlBPN2K3mPRrX3UrbiR",
          "confirmation_method": "automatic",
          "created": 1767138343,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "You bought http://edgard4e69b7d103.test.gumroad.com:31337/l/q!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SkCbjIBOqvOFDrf0q8fG85K",
          "livemode": false,
          "metadata": {
            "purchase": "DYdUPm4GtknaOyaIcfuVew=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SkCbiIBOqvOFDrfsKbbACtx",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgard4e69b7d103",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "411"
        }
  recorded_at: Tue, 30 Dec 2025 23:45:43 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SkCbjIBOqvOFDrf0q8fG85K?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SkCbjIBOqvOFDrf0q8fG85K",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SkCbjIBOqvOFDrf0M2nIjNu",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1767657600,
            "balance_type": "payments",
            "created": 1767138343,
            "currency": "usd",
            "description": "You bought http://edgard4e69b7d103.test.gumroad.com:31337/l/q!",
            "exchange_rate": null,
            "fee": 33,
            "fee_details": [
              {
                "amount": 33,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 67,
            "reporting_category": "charge",
            "source": "ch_3SkCbjIBOqvOFDrf0q8fG85K",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGARD4E69B7D1",
          "captured": true,
          "created": 1767138343,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgard4e69b7d103.test.gumroad.com:31337/l/q!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "DYdUPm4GtknaOyaIcfuVew=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 10,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SkCbjIBOqvOFDrf0KiWRwgN",
          "payment_method": "pm_1SkCbiIBOqvOFDrfsKbbACtx",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "authorization_code": "905103",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2026,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKKjI0coGMgbHaCR6yxw6LBZ_nA-_psXq35_PWqpcYuxgtXsrJflpePeVKOw68k4c0HQJuZRZSyCvY6rj",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgard4e69b7d103",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "411"
        }
  recorded_at: Tue, 30 Dec 2025 23:45:44 GMT
recorded_with: VCR 6.2.0
