---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0259&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 76a27220-9f7f-4d67-9969-c1fea776f83a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 76a27220-9f7f-4d67-9969-c1fea776f83a
      Original-Request:
      - req_N0ml2BShpf3tjN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6zHr9e1RjUNIyYvLOOkI5y",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "VxUGbAs1AGxaj8mD",
            "funding": "credit",
            "generated_from": null,
            "last4": "0259",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698687003,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 17:30:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=CA&default_currency=cad&type=custom&business_type=individual&tos_acceptance[date]=1427846400&tos_acceptance[ip]=54.234.242.13&business_profile[url]=www.gumroad.com&business_profile[product_description]=Test+product&business_profile[mcc]=5734&individual[verification][document][front]=file_identity_document_success&individual[dob][day]=1&individual[dob][month]=1&individual[[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1O6zHsS8EEtvYKTO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O6zHsS8EEtvYKTO
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1O6zHsS8EEtvYKTO",
          "object": "account",
          "business_profile": {
            "mcc": "5734",
            "name": null,
            "product_description": "Test product",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "www.gumroad.com"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "active",
            "transfers": "active"
          },
          "charges_enabled": true,
          "company": {
            "address": {
              "city": "Toronto",
              "country": "CA",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "M4C 1T2",
              "state": "ON"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "CA",
          "created": 1698687006,
          "default_currency": "cad",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1O6zHsS8EEtvYKTOmUogiYAC",
                "object": "bank_account",
                "account": "acct_1O6zHsS8EEtvYKTO",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "CA",
                "currency": "cad",
                "default_for_currency": true,
                "fingerprint": "bHAdUgrfRKNYlJ4L",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "11000-000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1O6zHsS8EEtvYKTO/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1O6zHtS8EEtvYKTO7OB4M1ZR",
            "object": "person",
            "account": "acct_1O6zHsS8EEtvYKTO",
            "address": {
              "city": "Toronto",
              "country": "CA",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "M4C 1T2",
              "state": "ON"
            },
            "created": 1698687005,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "me@example.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": "file_0O6zHs9e1RjUNIyY3bLNeobS"
              },
              "status": "verified"
            }
          },
          "metadata": {},
          "payouts_enabled": true,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {},
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "GUMROAD.CO",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Gumroad",
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "GUMROAD.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 7,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1427846400,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Mon, 30 Oct 2023 17:30:08 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0O6zHr9e1RjUNIyYvLOOkI5y&confirmation_method=manual&payment_method_types[0]=card&confirm=true&currency=usd&amount=1000&transfer_data[destination]=acct_1O6zHsS8EEtvYKTO&transfer_data[amount]=900
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c6536872-9b7b-414f-95df-d1e7731c20d6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c6536872-9b7b-414f-95df-d1e7731c20d6
      Original-Request:
      - req_wJfnKZNaR39IIz
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6zHx9e1RjUNIyY0jGbrSRS",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6zHx9e1RjUNIyY0jGbrSRS_secret_mKixfqVvpSWFpZWJ8ZbPT5QfU",
          "confirmation_method": "manual",
          "created": 1698687009,
          "currency": "usd",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6zHx9e1RjUNIyY01xwxGFw",
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6zHr9e1RjUNIyYvLOOkI5y",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": {
            "amount": 900,
            "destination": "acct_1O6zHsS8EEtvYKTO"
          },
          "transfer_group": "group_pi_2O6zHx9e1RjUNIyY0jGbrSRS"
        }
  recorded_at: Mon, 30 Oct 2023 17:30:11 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6zHx9e1RjUNIyY01xwxGFw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6zHx9e1RjUNIyY01xwxGFw",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_2O6zHx9e1RjUNIyY0OTPrzaS",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD.COM/C",
          "captured": true,
          "created": 1698687009,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": "acct_1O6zHsS8EEtvYKTO",
          "dispute": "dp_0O6zHy9e1RjUNIyYbKmaXNaT",
          "disputed": true,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 10,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6zHx9e1RjUNIyY0jGbrSRS",
          "payment_method": "pm_0O6zHr9e1RjUNIyYvLOOkI5y",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "VxUGbAs1AGxaj8mD",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "0259",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoo9D_qQYyBnnT-iVqqzosFqK_eMVl9wqlfaPdgcVuyV7VR68JAVKjOmkSgGQyeWOnG9J4VkPlrfC4HdI",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer": "tr_2O6zHx9e1RjUNIyY0KZVgoEQ",
          "transfer_data": {
            "amount": 900,
            "destination": "acct_1O6zHsS8EEtvYKTO"
          },
          "transfer_group": "group_pi_2O6zHx9e1RjUNIyY0jGbrSRS"
        }
  recorded_at: Mon, 30 Oct 2023 17:30:11 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/disputes/dp_0O6zHy9e1RjUNIyYbKmaXNaT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "dp_0O6zHy9e1RjUNIyYbKmaXNaT",
          "object": "dispute",
          "amount": 1000,
          "balance_transaction": "txn_0O6zHy9e1RjUNIyYj4GOjmyw",
          "balance_transactions": [
            {
              "id": "txn_0O6zHy9e1RjUNIyYj4GOjmyw",
              "object": "balance_transaction",
              "amount": -1000,
              "available_on": 1699228800,
              "created": 1698687010,
              "currency": "usd",
              "description": "Chargeback withdrawal for ch_2O6zHx9e1RjUNIyY01xwxGFw",
              "exchange_rate": null,
              "fee": 1500,
              "fee_details": [
                {
                  "amount": 1500,
                  "application": null,
                  "currency": "usd",
                  "description": "Dispute fee",
                  "type": "stripe_fee"
                }
              ],
              "net": -2500,
              "reporting_category": "dispute",
              "source": "dp_0O6zHy9e1RjUNIyYbKmaXNaT",
              "status": "pending",
              "type": "adjustment"
            }
          ],
          "charge": "ch_2O6zHx9e1RjUNIyY01xwxGFw",
          "created": 1698687010,
          "currency": "usd",
          "evidence": {
            "access_activity_log": null,
            "billing_address": null,
            "cancellation_policy": null,
            "cancellation_policy_disclosure": null,
            "cancellation_rebuttal": null,
            "customer_communication": null,
            "customer_email_address": null,
            "customer_name": null,
            "customer_purchase_ip": null,
            "customer_signature": null,
            "duplicate_charge_documentation": null,
            "duplicate_charge_explanation": null,
            "duplicate_charge_id": null,
            "product_description": null,
            "receipt": null,
            "refund_policy": null,
            "refund_policy_disclosure": null,
            "refund_refusal_explanation": null,
            "service_date": null,
            "service_documentation": null,
            "shipping_address": null,
            "shipping_carrier": null,
            "shipping_date": null,
            "shipping_documentation": null,
            "shipping_tracking_number": null,
            "uncategorized_file": null,
            "uncategorized_text": null
          },
          "evidence_details": {
            "due_by": 1699487999,
            "has_evidence": false,
            "past_due": false,
            "submission_count": 0
          },
          "is_charge_refundable": false,
          "livemode": false,
          "metadata": {},
          "payment_intent": "pi_2O6zHx9e1RjUNIyY0jGbrSRS",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "network_reason_code": "83"
            },
            "type": "card"
          },
          "reason": "fraudulent",
          "status": "needs_response"
        }
  recorded_at: Mon, 30 Oct 2023 17:30:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/disputes/dp_0O6zHy9e1RjUNIyYbKmaXNaT?expand%5B%5D=balance_transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6zHx9e1RjUNIyY01xwxGFw?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction&expand%5B%5D=transfer.reversals.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
   [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers/tr_2O6zHx9e1RjUNIyY0KZVgoEQ/reversals
    body:
      encoding: UTF-8
      string: refund_application_fee=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f6f7d3f1-e0b1-4096-85b8-b99f6e8e457d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f6f7d3f1-e0b1-4096-85b8-b99f6e8e457d
      Original-Request:
      - req_htcQ7tFjgq2VRt
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "trr_0O6zI39e1RjUNIyYjloXsfYa",
          "object": "transfer_reversal",
          "amount": 900,
          "balance_transaction": "txn_0O6zI39e1RjUNIyYzvSS7a6b",
          "created": 1698687015,
          "currency": "usd",
          "destination_payment_refund": "pyr_1O6zI3S8EEtvYKTOaEpQA4lZ",
          "metadata": {},
          "source_refund": null,
          "transfer": "tr_2O6zHx9e1RjUNIyY0KZVgoEQ"
        }
  recorded_at: Mon, 30 Oct 2023 17:30:15 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2O6zHx9e1RjUNIyY0KZVgoEQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2O6zHx9e1RjUNIyY0KZVgoEQ",
          "object": "transfer",
          "amount": 900,
          "amount_reversed": 900,
          "balance_transaction": "txn_2O6zHx9e1RjUNIyY0hOT803P",
          "created": 1698687009,
          "currency": "usd",
          "description": null,
          "destination": "acct_1O6zHsS8EEtvYKTO",
          "destination_payment": "py_1O6zHxS8EEtvYKTOx4Uw9z07",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [
              {
                "id": "trr_0O6zI39e1RjUNIyYjloXsfYa",
                "object": "transfer_reversal",
                "amount": 900,
                "balance_transaction": "txn_0O6zI39e1RjUNIyYzvSS7a6b",
                "created": 1698687015,
                "currency": "usd",
                "destination_payment_refund": "pyr_1O6zI3S8EEtvYKTOaEpQA4lZ",
                "metadata": {},
                "source_refund": null,
                "transfer": "tr_2O6zHx9e1RjUNIyY0KZVgoEQ"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/transfers/tr_2O6zHx9e1RjUNIyY0KZVgoEQ/reversals"
          },
          "reversed": true,
          "source_transaction": "ch_2O6zHx9e1RjUNIyY01xwxGFw",
          "source_type": "card",
          "transfer_group": "group_pi_2O6zHx9e1RjUNIyY0jGbrSRS"
        }
  recorded_at: Mon, 30 Oct 2023 17:30:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1O6zHxS8EEtvYKTOx4Uw9z07?expand%5B%5D=application_fee.refunds&expand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1O6zHsS8EEtvYKTO
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O6zHsS8EEtvYKTO
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1O6zHxS8EEtvYKTOx4Uw9z07",
          "object": "charge",
          "amount": 900,
          "amount_captured": 900,
          "amount_refunded": 900,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_1O6zHyS8EEtvYKTOCHMPds7S",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": null,
          "captured": true,
          "created": 1698687009,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": null,
          "paid": true,
          "payment_intent": null,
          "payment_method": null,
          "payment_method_details": {
            "stripe_account": {},
            "type": "stripe_account"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xTzZ6SHNTOEVFdHZZS1RPKKnQ_6kGMgawuEUmPl46LBZAr8s0xDtYQRsHdiZYHuTk9wVR0yvMJkfy97dSi_i521FCI5iMxYoPjOMf",
          "refunded": true,
          "refunds": {
            "object": "list",
            "data": [
              {
                "id": "pyr_1O6zI3S8EEtvYKTOaEpQA4lZ",
                "object": "refund",
                "amount": 900,
                "balance_transaction": {
                  "id": "txn_1O6zI3S8EEtvYKTOjXvpaELN",
                  "object": "balance_transaction",
                  "amount": -1245,
                  "available_on": 1699228800,
                  "created": 1698687015,
                  "currency": "cad",
                  "description": "REFUND FOR PAYMENT",
                  "exchange_rate": 1.38343,
                  "fee": 0,
                  "fee_details": [],
                  "net": -1245,
                  "reporting_category": "refund",
                  "source": "pyr_1O6zI3S8EEtvYKTOaEpQA4lZ",
                  "status": "pending",
                  "type": "payment_refund"
                },
                "charge": "py_1O6zHxS8EEtvYKTOx4Uw9z07",
                "created": 1698687015,
                "currency": "usd",
                "metadata": {},
                "payment_intent": null,
                "reason": null,
                "receipt_number": null,
                "source_transfer_reversal": "trr_0O6zI39e1RjUNIyYjloXsfYa",
                "status": "succeeded",
                "transfer_reversal": "trr_0O6zI39e1RjUNIyYjloXsfYa"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges/py_1O6zHxS8EEtvYKTOx4Uw9z07/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "<STRIPE_PLATFORM_ACCOUNT_ID>",
            "object": "account",
[...]
