---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/payments/captures/09G1866342856691M/refund
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer A21AAJ8ZuWAicvxc4m42ewOeup4rWt82bMaSINuAQdFgQTAdKeNmDa5at6XxUhbVnnLGbAYxMX_ZWIQZPcYZMDbmmscb60srw
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
      Paypal-Request-Id:
      - refund-09G1866342856691M--16107228406399426
      Prefer:
      - return=representation
      Paypal-Auth-Assertion:
      - eyJhbGciOiJub25lIn0=.eyJwYXllcl9pZCI6Ik1ON0NTV0Q2UkNOSjgiLCJpc3MiOiJBYUR2TEl5RjBUVGVVQmpQQjAzcEFWR2NEUzVLQk16cWRyS3I1T1VFc3ZNZ0E2czlzM1M0d1pjVTRybVVQMjRaNzN4STZ4dGVjYjYyNWJsNiJ9.
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.7.2
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 4a77e21f5bf46
    body:
      encoding: UTF-8
      string: '{"id":"4JU43981TY9576422","amount":{"currency_code":"USD","value":"15.00"},"seller_payable_breakdown":{"gross_amount":{"currency_code":"USD","value":"15.00"},"paypal_fee":{"currency_code":"USD","value":"0.44"},"platform_fees":[{"amount":{"currency_code":"USD","value":"1.00"}}],"net_amount":{"currency_code":"USD","value":"13.56"},"total_refunded_amount":{"currency_code":"USD","value":"15.00"}},"status":"COMPLETED","create_time":"2021-01-15T07:00:45-08:00","update_time":"2021-01-15T07:00:45-08:00","links":[{"href":"https://api.sandbox.paypal.com/v2/payments/refunds/4JU43981TY9576422","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/payments/captures/09G1866342856691M","rel":"up","method":"GET"}]}'
  recorded_at: Fri, 15 Jan 2021 15:00:46 GMT
recorded_with: VCR 6.0.0
