---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 19030f6d-5df4-4adf-b103-29103fe2bd97
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 19030f6d-5df4-4adf-b103-29103fe2bd97
      Original-Request:
      - req_65aC5fHg1AKPum
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OHJlv9e1RjUNIyYxQSpuKAk",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1701149027,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sat, 18 Nov 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OHJlv9e1RjUNIyYxQSpuKAk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgard479e4fe3.test.gumroad.com%3A31337%2Fl%2Fq&metadata[purchase]=RwtKZN3ru9U9In38aZSD2g%3D%3D&transfer_group=5&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0OHJlv9e1RjUNIyYxQSpuKAk&statement_descriptor_suffix=edgard479e4fe3
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bbda5e9e-de84-459a-86f8-2654f31efdbc
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bbda5e9e-de84-459a-86f8-2654f31efdbc
      Original-Request:
      - req_zGJEe5FTwrPJFP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OHJlw9e1RjUNIyY1ZbU6KeG",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OHJlw9e1RjUNIyY1ZbU6KeG_secret_aj5jyAMXFrZAKk17pHgiW8Qav",
          "confirmation_method": "manual",
          "created": 1701149028,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgard479e4fe3.test.gumroad.com:31337/l/q",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OHJlw9e1RjUNIyY1frYLhx8",
          "livemode": false,
          "metadata": {
            "purchase": "RwtKZN3ru9U9In38aZSD2g=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OHJlv9e1RjUNIyYxQSpuKAk",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgard479e4fe3",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "5"
        }
  recorded_at: Sat, 18 Nov 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHJlw9e1RjUNIyY1frYLhx8?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OHJlw9e1RjUNIyY1frYLhx8",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OHJlw9e1RjUNIyY183jjKJN",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1701302400,
            "created": 1701149028,
            "currency": "usd",
            "description": "You bought http://edgard479e4fe3.test.gumroad.com:31337/l/q",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2OHJlw9e1RjUNIyY1frYLhx8",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARD479E4",
          "captured": true,
          "created": 1701149028,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgard479e4fe3.test.gumroad.com:31337/l/q",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "RwtKZN3ru9U9In38aZSD2g=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 33,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OHJlw9e1RjUNIyY1ZbU6KeG",
          "payment_method": "pm_0OHJlv9e1RjUNIyYxQSpuKAk",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo5vKVqwYyBifDwSnD_TosFsyzYJAtMqKB9ayxwnCctu47RGuVcyg1DjLtavgwgprqHuw1OVswev-ohVw",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgard479e4fe3",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "5"
        }
  recorded_at: Sat, 18 Nov 2023 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=6792524357143&metadata[tos_agreement_id]=bfi_30HLgGWL8H2wo_Gzlg%3D%3D&metadata[user_compliance_info_id]=bfi_30HLgGWL8H2wo_Gzlg%3D%3D&tos_acceptance[date]=1700265600&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[url][...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1OHJlyS9fgs8WA6j/persons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1OHJlyS9fgs8WA6j
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "person_1OHJlzS9fgs8WA6jhol7Erjf",
              "object": "person",
              "account": "acct_1OHJlyS9fgs8WA6j",
              "additional_tos_acceptances": {
                "account": {
                  "date": null,
                  "ip": null,
                  "user_agent": null
                }
              },
              "address": {
                "city": "San Francisco",
                "country": "US",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "94107",
                "state": "California"
              },
              "created": 1701149031,
              "dob": {
                "day": 1,
                "month": 1,
                "year": 1901
              },
              "email": "edgar33302d12_9@gumroad.com",
              "first_name": "Chuck",
              "future_requirements": {
                "alternatives": [],
                "currently_due": [
                  "phone"
                ],
                "errors": [
                  {
                    "code": "invalid_phone_number",
                    "reason": "This phone number has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                    "requirement": "phone"
                  }
                ],
                "eventually_due": [
                  "phone"
                ],
                "past_due": [],
                "pending_verification": [
                  "address.city",
                  "address.line1",
                  "address.postal_code",
                  "address.state",
                  "id_number",
                  "verification.document"
                ]
              },
              "id_number_provided": true,
              "last_name": "Bartowski",
              "metadata": {},
              "phone": "+10000000000",
              "relationship": {
                "director": false,
                "executive": false,
                "legal_guardian": false,
                "owner": false,
                "percent_ownership": null,
                "representative": true,
                "title": null
              },
              "requirements": {
                "alternatives": [],
                "currently_due": [],
                "errors": [],
                "eventually_due": [],
                "past_due": [],
                "pending_verification": [
                  "address.city",
                  "address.line1",
                  "address.postal_code",
                  "address.state",
                  "id_number",
                  "verification.document"
                ]
              },
              "ssn_last_4_provided": true,
              "verification": {
                "additional_document": {
                  "back": null,
                  "details": null,
                  "details_code": null,
                  "front": null
                },
                "details": null,
                "details_code": null,
                "document": {
                  "back": null,
                  "details": null,
                  "details_code": null,
                  "front": null
                },
                "status": "pending"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/accounts/acct_1OHJlyS9fgs8WA6j/persons"
        }
  recorded_at: Sat, 18 Nov 2023 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1OHJlyS9fgs8WA6j/persons/person_1OHJlzS9fgs8WA6jhol7Erjf
    body:
      encoding: UTF-8
      string: verification[document][front]=file_identity_document_success
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 55a53ce6-1cf4-4814-9b50-ef51d6becda4
      Stripe-Version:
      - '2023-10-16'
  response:
    stat[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1OHJlyS9fgs8WA6j
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1OHJlyS9fgs8WA6j
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1OHJlyS9fgs8WA6j",
          "object": "account",
          "business_profile": {
            "mcc": "5192",
            "name": null,
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "active",
            "transfers": "active"
          },
          "charges_enabled": true,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "US",
          "created": 1701149032,
          "default_currency": "usd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1OHJlyS9fgs8WA6j/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1712084400,
            "currently_due": [
              "external_account",
              "individual.phone"
            ],
            "disabled_reason": null,
            "errors": [
              {
                "code": "invalid_phone_number",
                "reason": "This phone number has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                "requirement": "individual.phone"
              }
            ],
            "eventually_due": [
              "external_account",
              "individual.phone"
            ],
            "past_due": [
              "external_account"
            ],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1OHJlzS9fgs8WA6jhol7Erjf",
            "object": "person",
            "account": "acct_1OHJlyS9fgs8WA6j",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "created": 1701149031,
            "dob": {
              "day": 1,
              "month": 1,
[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OHJmD9e1RjUNIyYikY3445R
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHJmF9e1RjUNIyY1KYLe8NF?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2OHJmF9e1RjUNIyY1aMdBp6f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2OHJmF9e1RjUNIyY1aMdBp6f",
          "object": "transfer",
          "amount": 152,
          "amount_reversed": 0,
          "balance_transaction": "txn_2OHJmF9e1RjUNIyY1epBaGnK",
          "created": 1701149047,
          "currency": "usd",
          "description": null,
          "destination": "acct_1OHJlyS9fgs8WA6j",
          "destination_payment": "py_1OHJmFS9fgs8WA6jGHqfjlGS",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_2OHJmF9e1RjUNIyY1aMdBp6f/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_2OHJmF9e1RjUNIyY1KYLe8NF",
          "source_type": "card",
          "transfer_group": "6"
        }
  recorded_at: Sat, 18 Nov 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1OHJmFS9fgs8WA6jGHqfjlGS?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1OHJlyS9fgs8WA6j
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1OHJlyS9fgs8WA6j
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1OHJmFS9fgs8WA6jGHqfjlGS",
          "object": "charge",
          "amount": 152,
          "amount_captured": 152,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1OHJmGS9fgs8WA6jZWSRItUO",
            "object": "balance_transaction",
            "amount": 152,
            "available_on": 1701302400,
            "created": 1701149047,
            "currency": "usd",
            "description": null,
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 152,
            [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHJlw9e1RjUNIyY1frYLhx8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2OHJlw9e1RjUNIyY1frYLhx8
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 82ecbbc2-1202-4f11-b0f8-8a1d17448229
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 82ecbbc2-1202-4f11-b0f8-8a1d17448229
      Original-Request:
      - req_8ioIsPBdLA3LEd
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2OHJlw9e1RjUNIyY10I1Frr2",
          "object": "refund",
          "amount": 100,
          "balance_transaction": "txn_2OHJlw9e1RjUNIyY1XLzhckH",
          "charge": "ch_2OHJlw9e1RjUNIyY1frYLhx8",
          "created": 1701149051,
          "currency": "usd",
          "metadata": {},
          "payment_intent": "pi_2OHJlw9e1RjUNIyY1ZbU6KeG",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Mon, 27 Nov 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2OHJlw9e1RjUNIyY10I1Frr2?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHJlw9e1RjUNIyY1frYLhx8?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHJmF9e1RjUNIyY1KYLe8NF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2OHJmF9e1RjUNIyY1PESDTlD?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHJmF9e1RjUNIyY1KYLe8NF?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2OHJmF9e1RjUNIyY1aMdBp6f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2OHJmF9e1RjUNIyY1aMdBp6f",
          "object": "transfer",
          "amount": 152,
          "amount_reversed": 152,
          "balance_transaction": "txn_2OHJmF9e1RjUNIyY1epBaGnK",
          "created": 1701149047,
          "currency": "usd",
          "description": null,
          "destination": "acct_1OHJlyS9fgs8WA6j",
          "destination_payment": "py_1OHJmFS9fgs8WA6jGHqfjlGS",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [
              {
                "id": "trr_0OHJmL9e1RjUNIyYpRJ3z9AI",
                "object": "transfer_reversal",
                "amount": 152,
                "balance_transaction": "txn_0OHJmM9e1RjUNIyY9RKlxmpK",
                "created": 1701149053,
                "currency": "usd",
                "destination_payment_refund": "pyr_1OHJmLS9fgs8WA6j4LM8jegb",
                "metadata": {},
                "source_refund": "re_2OHJmF9e1RjUNIyY1PESDTlD",
                "transfer": "tr_2OHJmF9e1RjUNIyY1aMdBp6f"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/transfers/tr_2OHJmF9e1RjUNIyY1aMdBp6f/reversals"
          },
          "reversed": true,
          "source_transaction": "ch_2OHJmF9e1RjUNIyY1KYLe8NF",
          "source_type": "card",
          "transfer_group": "6"
        }
  recorded_at: Mon, 27 Nov 2023 00:00:00 GMT
- request:
[...]
