---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 14225cb4-fb3e-4385-9b40-d4eb49c25048
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 14225cb4-fb3e-4385-9b40-d4eb49c25048
      Original-Request:
      - req_NfgADwBT88QhfM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OQzKB9e1RjUNIyYxD6vNyu9",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703453707,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 24 Dec 2023 21:35:07 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OQzKC9e1RjUNIyYCNM1b0EP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0OQzKC9e1RjUNIyYCNM1b0EP
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a42e13c7-4b15-4b5e-aad7-18d042da2330
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a42e13c7-4b15-4b5e-aad7-18d042da2330
      Original-Request:
      - req_QL9dXxONIBet0m
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PFUIxFdHxRz6YR",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703453709,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "8EA261A2",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 24 Oct 2023 21:35:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=300&currency=usd&description=You+bought+http%3A%2F%2Fedgar438f3b2976.test.gumroad.com%3A31337%2Fl%2Fd&metadata[purchase]=oyt6zYaM2u_EQKstcULeMw%3D%3D&transfer_group=56&payment_method_types[0]=card&off_session=false&setup_future_usage=off_session&customer=cus_PFUIxFdHxRz6YR&statement_descriptor_suffix=edgar438f3b2976
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - dfd3ecc8-b868-4066-a2f2-bf26f2f1b988
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - dfd3ecc8-b868-4066-a2f2-bf26f2f1b988
      Original-Request:
      - req_mZ1aTVVRjhYzAr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OQzKE9e1RjUNIyY115aZZDc",
          "object": "payment_intent",
          "amount": 300,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OQzKE9e1RjUNIyY115aZZDc_secret_t6TqlfEfdgxr5yuKDRgYIXMoo",
          "confirmation_method": "automatic",
          "created": 1703453710,
          "currency": "usd",
          "customer": "cus_PFUIxFdHxRz6YR",
          "description": "You bought http://edgar438f3b2976.test.gumroad.com:31337/l/d",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchase": "oyt6zYaM2u_EQKstcULeMw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar438f3b2976",
          "status": "requires_payment_method",
          "transfer_data": null,
          "transfer_group": "56"
        }
  recorded_at: Tue, 24 Oct 2023 21:35:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OQzKE9e1RjUNIyY115aZZDc
    body:
      encoding: UTF-8
      string: payment_method=pm_0OQzKC9e1RjUNIyYCNM1b0EP
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2a103c1d-5806-4538-a0d8-bd2b6c124ccd
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    hea[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OQzKE9e1RjUNIyY115aZZDc/confirm
    body:
      encoding: UTF-8
      string: payment_method=pm_0OQzKC9e1RjUNIyYCNM1b0EP
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d01fbc21-a8e6-4f1f-af3a-3007e0472c07
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OQzKE9e1RjUNIyY14pS49zt?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OQzKE9e1RjUNIyY14pS49zt",
          "object": "charge",
          "amount": 300,
          "amount_captured": 300,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OQzKE9e1RjUNIyY11ULQaYB",
            "object": "balance_transaction",
            "amount": 300,
            "available_on": 1703635200,
            "created": 1703453711,
            "currency": "usd",
            "description": "You bought http://edgar438f3b2976.test.gumroad.com:31337/l/d",
            "exchange_rate": null,
            "fee": 20,
            "fee_details": [
              {
                "amount": 20,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 280,
            "reporting_category": "charge",
            "source": "ch_2OQzKE9e1RjUNIyY14pS49zt",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR438F3B",
          "captured": true,
          "created": 1703453711,
          "currency": "usd",
          "customer": "cus_PFUIxFdHxRz6YR",
          "description": "You bought http://edgar438f3b2976.test.gumroad.com:31337/l/d",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "oyt6zYaM2u_EQKstcULeMw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 61,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OQzKE9e1RjUNIyY115aZZDc",
          "payment_method": "pm_0OQzKC9e1RjUNIyYCNM1b0EP",
          "payment_method_details": {
            "card": {
              "amount_authorized": 300,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 300,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUokciirAYyBlKACHNg8TosFjx0sCVWg7Uu5tK47K3aiHIOXGJ8Sl5vyjcojow6sK0UKhbYJeBPFRxdTXs",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar438f3b2976",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "56"
        }
  recorded_at: Tue, 24 Oct 2023 21:35:07 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OQzKE9e1RjUNIyY14pS49zt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OQzKI9e1RjUNIyY1EnCS8jD?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
