---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5af11062-a10b-4c78-8e46-adbfde359e2b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5af11062-a10b-4c78-8e46-adbfde359e2b
      Original-Request:
      - req_P9205evbpYcVvP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OQzKU9e1RjUNIyYcbckUUlC",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703453726,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 24 Dec 2023 21:35:26 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OQzKV9e1RjUNIyYKdep6fZa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0OQzKV9e1RjUNIyYKdep6fZa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 34abacf4-498e-4ec5-b9bb-a34d17682b30
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 34abacf4-498e-4ec5-b9bb-a34d17682b30
      Original-Request:
      - req_gKGZrZWg6Pohns
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PFUJezB07qtmCD",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703453728,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "FCC813D9",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 24 Oct 2023 21:35:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=300&currency=usd&description=You+bought+http%3A%2F%2Fedgar008747f682.test.gumroad.com%3A31337%2Fl%2Fv&metadata[purchase]=s99uztFfXW4EhSWNDfwyhA%3D%3D&transfer_group=62&payment_method_types[0]=card&off_session=false&setup_future_usage=off_session&customer=cus_PFUJezB07qtmCD&statement_descriptor_suffix=edgar008747f682
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d40b1059-ccda-47d8-b925-e0b479e0d8e9
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d40b1059-ccda-47d8-b925-e0b479e0d8e9
      Original-Request:
      - req_H2zYcN6AWoCbsU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OQzKX9e1RjUNIyY1I235TqE",
          "object": "payment_intent",
          "amount": 300,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OQzKX9e1RjUNIyY1I235TqE_secret_vvxMpMfAwfm4F5EjQiawQFiHn",
          "confirmation_method": "automatic",
          "created": 1703453729,
          "currency": "usd",
          "customer": "cus_PFUJezB07qtmCD",
          "description": "You bought http://edgar008747f682.test.gumroad.com:31337/l/v",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchase": "s99uztFfXW4EhSWNDfwyhA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar008747f682",
          "status": "requires_payment_method",
          "transfer_data": null,
          "transfer_group": "62"
        }
  recorded_at: Tue, 24 Oct 2023 21:35:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OQzKX9e1RjUNIyY1I235TqE
    body:
      encoding: UTF-8
      string: payment_method=pm_0OQzKV9e1RjUNIyYKdep6fZa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9a0dd828-7a31-4fa6-ab4d-e83ca163ad18
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    hea[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OQzKX9e1RjUNIyY1I235TqE/confirm
    body:
      encoding: UTF-8
      string: payment_method=pm_0OQzKV9e1RjUNIyYKdep6fZa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8e2010a8-bfb1-4f80-b02b-f2223116d474
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OQzKX9e1RjUNIyY14nW5XIL?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OQzKX9e1RjUNIyY14nW5XIL",
          "object": "charge",
          "amount": 300,
          "amount_captured": 300,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OQzKX9e1RjUNIyY1hT4dMJS",
            "object": "balance_transaction",
            "amount": 300,
            "available_on": 1703635200,
            "created": 1703453730,
            "currency": "usd",
            "description": "You bought http://edgar008747f682.test.gumroad.com:31337/l/v",
            "exchange_rate": null,
            "fee": 20,
            "fee_details": [
              {
                "amount": 20,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 280,
            "reporting_category": "charge",
            "source": "ch_2OQzKX9e1RjUNIyY14nW5XIL",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR008747",
          "captured": true,
          "created": 1703453730,
          "currency": "usd",
          "customer": "cus_PFUJezB07qtmCD",
          "description": "You bought http://edgar008747f682.test.gumroad.com:31337/l/v",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "s99uztFfXW4EhSWNDfwyhA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 16,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OQzKX9e1RjUNIyY1I235TqE",
          "payment_method": "pm_0OQzKV9e1RjUNIyYKdep6fZa",
          "payment_method_details": {
            "card": {
              "amount_authorized": 300,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 300,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUopMiirAYyBuzFUXNnXjosFm8ZhUl3cgTS3wBlGfFnJn-ZesYS6t7LAUEtBVeQ-2YuHy4wmFhtIzWf1S8",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar008747f682",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "62"
        }
  recorded_at: Tue, 24 Oct 2023 21:35:26 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OQzKX9e1RjUNIyY14nW5XIL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OQzKc9e1RjUNIyY1V2EqELY?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
