---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/oembed/?format=json&maxwidth=670&scheme=https&url=https://www.youtube.com/watch?v=qKebcV1jv3A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"title":"C-A-G-E-D","author_name":"Sheet Music Boss","author_url":"https://www.youtube.com/@SheetMusicBoss","type":"video","height":200,"width":356,"version":"1.0","provider_name":"YouTube","provider_url":"https://www.youtube.com/","thumbnail_height":360,"thumbnail_width":480,"thumbnail_url":"https://i.ytimg.com/vi/qKebcV1jv3A/hqdefault.jpg","html":"\u003ciframe
        width=\u0022356\u0022 height=\u0022200\u0022 src=\u0022https://www.youtube.com/embed/qKebcV1jv3A?feature=oembed\u0022
        frameborder=\u00220\u0022 allow=\u0022accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture; web-share\u0022 referrerpolicy=\u0022strict-origin-when-cross-origin\u0022
        allowfullscreen title=\u0022C-A-G-E-D\u0022\u003e\u003c/iframe\u003e"}'
  recorded_at: Fri, 03 Apr 2026 12:02:24 GMT
recorded_with: VCR 6.2.0
