---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic QWFEdkxJeUYwVFRlVUJqUEIwM3BBVkdjRFM1S0JNenFkcktyNU9VRXN2TWdBNnM5czNTNHdaY1U0cm1VUDI0WjczeEk2eHRlY2I2MjVibDY6RVBMQ2dJOE9CY2g2RzUyeHRTeHNBSVVDbGdobVJqZ3o2T2FvNndmT1RXMGtZN3F1UXFCa1ZsT3c0RFdqU2NlWnNQQ0x4OWczSEEyOFhUbzU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Datadome:
      - protected
      Accept-Ch:
      - Sec-CH-UA,Sec-CH-UA-Mobile,Sec-CH-UA-Platform,Sec-CH-UA-Arch,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Model,Sec-CH-Device-Memory
      Paypal-Debug-Id:
      - a9aa092fe053c
      X-Paypal-Token-Service:
      - IAAS
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/customer/partner-referrals/readwrite
        https://uri.paypal.com/services/payments/partnerfee https://uri.paypal.com/services/invoicing
        https://uri.paypal.com/services/payments/realtimepayment https://uri.paypal.com/services/customer/onboarding/user
        https://api.paypal.com/v1/vault/credit-card https://api.paypal.com/v1/payments/.*
        https://uri.paypal.com/services/payments/referenced-payouts-items/readwrite
        https://uri.paypal.com/services/reporting/search/read https://uri.paypal.com/services/customer/partner
        https://uri.paypal.com/services/customer/merchant-integrations/read https://uri.paypal.com/services/applications/webhooks
        https://uri.paypal.com/services/disputes/update-seller https://uri.paypal.com/services/payments/payment/authcapture
        openid https://uri.paypal.com/services/disputes/read-seller https://uri.paypal.com/services/payments/refund
        https://uri.paypal.com/services/risk/raas/transaction-context https://uri.paypal.com/services/customer/consumer-referrals/create
        https://uri.paypal.com/services/partners/merchant-accounts/readwrite https://uri.paypal.com/services/identity/grantdelegation
        https://uri.paypal.com/services/customer/onboarding/account https://uri.paypal.com/payments/payouts
        https://uri.paypal.com/services/customer/onboarding/sessions https://api.paypal.com/v1/vault/credit-card/.*
        https://uri.paypal.com/services/subscriptions","access_token":"A21AAICKBfOmZZJrNc3-JlT01yNhjTTnvjRccj0A6zDmJFsL0TBg12Qbirzv_xqIgkhj96YAt7p5VmF6lWlUKSHjI4AGSws5A","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":32080,"nonce":"2023-10-30T13:04:19ZWEmxxeY5ZrhLJSXlld88ULDuBocag2tZGhlnp1t93I0"}'
  recorded_at: Mon, 30 Oct 2023 13:09:39 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/checkout/orders
    body:
      encoding: UTF-8
      string: '{"intent":"CAPTURE","purchase_units":[{"amount":{"currency_code":"usd","value":"12.0","breakdown":{"shipping":{"currency_code":"USD","value":"0.0"},"tax_total":{"currency_code":"USD","value":"2.0"},"item_total":{"currency_code":"USD","value":"10.0"}}},"payee":{"merchant_id":"CJS32DZ7NDN5L"},"items":[{"name":"The
        Works of Edgar Gumstein","unit_amount":{"currency_code":"USD","value":"10.0"},"quantity":1,"sku":"n"}],"soft_descriptor":"edgar6cf94a4d82","payment_instruction":{"platform_fees":[{"amount":{"currency_code":"USD","value":"3.34"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>"}}]},"invoice_id":"_Gx4JswgHIhVaTs9khNKvQ=="}],"application_context":{"brand_name":"Gumroad","shipping_preference":"NO_SHIPPING"}}'
    headers:
      Authorization:
      - Bearer A21AAICKBfOmZZJrNc3-JlT01yNhjTTnvjRccj0A6zDmJFsL0TBg12Qbirzv_xqIgkhj96YAt7p5VmF6lWlUKSHjI4AGSws5A
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
      Paypal-Request-Id:
      - '1698671379640686'
      Prefer:
      - return=representation
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.4
      Sdk-Tech-Stack:
      - Ruby3.2.2
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Datadome:
      - protected
      Accept-Ch:
      - Sec-CH-UA,Sec-CH-UA-Mobile,Sec-CH-UA-Platform,Sec-CH-UA-Arch,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Model,Sec-CH-Device-Memory
      Application-Id:
      - APP-80W284485P519543T
      Caller-Acct-Num:
      - <PAYPAL_PARTNER_MERCHANT_ID>
      Paypal-Debug-Id:
      - 39a29d03b172d
    body:
      encoding: UTF-8
      string: '{"id":"3NG68404DG1881621","intent":"CAPTURE","status":"CREATED","purchase_units":[{"reference_id":"default","amount":{"currency_code":"USD","value":"12.00","breakdown":{"item_total":{"currency_code":"USD","value":"10.00"},"shipping":{"currency_code":"USD","value":"0.00"},"tax_total":{"currency_code":"USD","value":"2.00"}}},"payee":{"merchant_id":"CJS32DZ7NDN5L"},"payment_instruction":{"platform_fees":[{"amount":{"currency_code":"USD","value":"3.34"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>"}}]},"invoice_id":"_Gx4JswgHIhVaTs9khNKvQ==","soft_descriptor":"edgar6cf94a4d82","items":[{"name":"The
        Works of Edgar Gumstein","unit_amount":{"currency_code":"USD","value":"10.00"},"quantity":"1","sku":"n"}]}],"create_time":"2023-10-30T13:09:40Z","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/3NG68404DG1881621","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/checkoutnow?token=3NG68404DG1881621","rel":"approve","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/3NG68404DG1881621","rel":"update","method":"PATCH"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/3NG68404DG1881621/capture","rel":"capture","method":"POST"}]}'
  recorded_at: Mon, 30 Oct 2023 13:09:41 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/3NG68404DG1881621/capture
    body:
      encoding: UTF-8
      string: '{"payment_source":{"token":{"id":"B-8AM85704X2276171X","type":"BILLING_AGREEMENT"}}}'
    headers:
      Authorization:
      - Bearer A21AAICKBfOmZZJrNc3-JlT01yNhjTTnvjRccj0A6zDmJFsL0TBg12Qbirzv_xqIgkhj96YAt7p5VmF6lWlUKSHjI4AGSws5A
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
      Paypal-Request-Id:
      - capture-3NG68404DG1881621
      Prefer:
      - return=representation
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.4
      Sdk-Tech-Stack:
      - Ruby3.2.2
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Datadome:
      - protected
      Accept-Ch:
      - Sec-CH-UA,Sec-CH-UA-Mobile,Sec-CH-UA-Platform,Sec-CH-UA-Arch,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Model,Sec-CH-Device-Memory
      Application-Id:
      - APP-80W284485P519543T
      Caller-Acct-Num:
      - <PAYPAL_PARTNER_MERCHANT_ID>
      Paypal-Debug-Id:
      - 55702dc8596fe
    body:
      encoding: UTF-8
      string: '{"id":"3NG68404DG1881621","intent":"CAPTURE","status":"COMPLETED","payment_source":{"paypal":{"email_address":"paypal-gr-integspecs@gumroad.com","account_id":"92SVVJSWYT72E","account_status":"VERIFIED","name":{"given_name":"Gumbot","surname":"Gumstein"},"address":{"address_line_1":"1
        Main St","admin_area_2":"San Jose","admin_area_1":"CA","postal_code":"95131","country_code":"US"}}},"purchase_units":[{"reference_id":"default","amount":{"currency_code":"USD","value":"12.00","breakdown":{"item_total":{"currency_code":"USD","value":"10.00"},"shipping":{"currency_code":"USD","value":"0.00"},"handling":{"currency_code":"USD","value":"0.00"},"tax_total":{"currency_code":"USD","value":"2.00"},"insurance":{"currency_code":"USD","value":"0.00"},"shipping_discount":{"currency_code":"USD","value":"0.00"}}},"payee":{"email_address":"sb-cuv033075110@personal.example.com","merchant_id":"CJS32DZ7NDN5L"},"payment_instruction":{"platform_fees":[{"amount":{"currency_code":"USD","value":"3.34"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>","merchant_id":"<PAYPAL_PARTNER_MERCHANT_ID>"}}]},"description":"The
        Works of Edgar Gumstein","invoice_id":"_Gx4JswgHIhVaTs9khNKvQ==","items":[{"name":"The
        Works of Edgar Gumstein","unit_amount":{"currency_code":"USD","value":"10.00"},"tax":{"currency_code":"USD","value":"0.00"},"quantity":"1","sku":"n"}],"shipping":{"name":{"full_name":"Gumbot
        Gumstein"}},"payments":{"captures":[{"id":"9TK02369G4824601E","status":"COMPLETED","amount":{"currency_code":"USD","value":"12.00"},"final_capture":true,"disbursement_mode":"INSTANT","seller_protection":{"status":"ELIGIBLE","dispute_categories":["ITEM_NOT_RECEIVED","UNAUTHORIZED_TRANSACTION"]},"seller_receivable_breakdown":{"gross_amount":{"currency_code":"USD","value":"12.00"},"paypal_fee":{"currency_code":"USD","value":"0.77"},"platform_fees":[{"amount":{"currency_code":"USD","value":"3.34"},"payee":{"merchant_id":"<PAYPAL_PARTNER_MERCHANT_ID>"}}],"net_amount":{"currency_code":"USD","value":"7.89"},"receivable_amount":{"currency_code":"GBP","value":"5.94"},"exchange_rate":{"source_currency":"USD","target_currency":"GBP","value":"0.753164066"}},"invoice_id":"_Gx4JswgHIhVaTs9khNKvQ==","links":[{"href":"https://api.sandbox.paypal.com/v2/payments/captures/9TK02369G4824601E","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/payments/captures/9TK02369G4824601E/refund","rel":"refund","method":"POST"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/3NG68404DG1881621","rel":"up","method":"GET"}],"create_time":"2023-10-30T13:09:43Z","update_time":"2023-10-30T13:09:43Z"}]}}],"payer":{"name":{"given_name":"Gumbot","surname":"Gumstein"},"email_address":"paypal-gr-integspecs@gumroad.com","payer_id":"92SVVJSWYT72E","address":{"address_line_1":"1
        Main St","admin_area_2":"San Jose","admin_area_1":"CA","postal_code":"95131","country_code":"US"}},"create_time":"2023-10-30T13:09:40Z","update_time":"2023-10-30T13:09:43Z","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/3NG68404DG1881621","rel":"self","method":"GET"}]}'
  recorded_at: Mon, 30 Oct 2023 13:09:44 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/6ST45915RF8949344/capture
    body:
      encoding: UTF-8
      string: '{"payment_source":{"token":{"id":"B-8AM85704X2276171X","type":"BILLING_AGREEMENT"}}}'
    headers:
      Authorization:
      - Bearer A21AAICKBfOmZZJrNc3-JlT01yNhjTTnvjRccj0A6zDmJFsL0TBg12Qbirzv_xqIgkhj96YAt7p5VmF6lWlUKSHjI4AGSws5A
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
 [...]
[...]
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/0BR4093577977053B/capture
    body:
      encoding: UTF-8
      string: '{"payment_source":{"token":{"id":"B-8AM85704X2276171X","type":"BILLING_AGREEMENT"}}}'
    headers:
      Authorization:
      - Bearer A21AAICKBfOmZZJrNc3-JlT01yNhjTTnvjRccj0A6zDmJFsL0TBg12Qbirzv_xqIgkhj96YAt7p5VmF6lWlUKSHjI4AGSws5A
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
 [...]
[...]
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/4KC54998T2915135C/capture
    body:
      encoding: UTF-8
      string: '{"payment_source":{"token":{"id":"B-8AM85704X2276171X","type":"BILLING_AGREEMENT"}}}'
    headers:
      Authorization:
      - Bearer A21AAICKBfOmZZJrNc3-JlT01yNhjTTnvjRccj0A6zDmJFsL0TBg12Qbirzv_xqIgkhj96YAt7p5VmF6lWlUKSHjI4AGSws5A
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
 [...]
[...]
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/41788880S6655282K/capture
    body:
      encoding: UTF-8
      string: '{"payment_source":{"token":{"id":"B-8AM85704X2276171X","type":"BILLING_AGREEMENT"}}}'
    headers:
      Authorization:
      - Bearer A21AAICKBfOmZZJrNc3-JlT01yNhjTTnvjRccj0A6zDmJFsL0TBg12Qbirzv_xqIgkhj96YAt7p5VmF6lWlUKSHjI4AGSws5A
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
 [...]
[...]
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/6D518905248610240/capture
    body:
      encoding: UTF-8
      string: '{"payment_source":{"token":{"id":"B-8AM85704X2276171X","type":"BILLING_AGREEMENT"}}}'
    headers:
      Authorization:
      - Bearer A21AAICKBfOmZZJrNc3-JlT01yNhjTTnvjRccj0A6zDmJFsL0TBg12Qbirzv_xqIgkhj96YAt7p5VmF6lWlUKSHjI4AGSws5A
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
 [...]
