---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_threeDSecureOptional
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3098331c-edb4-4c73-bd32-08c712a214fa
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3098331c-edb4-4c73-bd32-08c712a214fa
      Original-Request:
      - req_D4vgAyIWJf906U
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzHB8IBOqvOFDrfeMRxSIWQ",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "qyHvmPygZ2LaTkOp",
            "funding": "credit",
            "generated_from": null,
            "last4": "3055",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730834,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:40:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzHB8IBOqvOFDrfeMRxSIWQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar886e1237177.test.gumroad.com%3A31337%2Fl%2Fs%21&metadata[purchase]=PIyGuvHiYwKvOtBIZnFLeg%3D%3D&transfer_group=1583&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_1SzHB8IBOqvOFDrfeMRxSIWQ&statement_descriptor_suffix=edgar886e1237177
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a2c1ebe7-21a6-4bfe-8cc0-0818dc6edec6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a2c1ebe7-21a6-4bfe-8cc0-0818dc6edec6
      Original-Request:
      - req_Vn7LtDtMZTiyJh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzHB8IBOqvOFDrf0Zr2W2gf",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzHB8IBOqvOFDrf0Zr2W2gf_secret_WYc1iCRbthBcsjpaAv5n3OLgJ",
          "confirmation_method": "automatic",
          "created": 1770730834,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "You bought http://edgar886e1237177.test.gumroad.com:31337/l/s!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SzHB8IBOqvOFDrf0QSIRzKy",
          "livemode": false,
          "metadata": {
            "purchase": "PIyGuvHiYwKvOtBIZnFLeg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzHB8IBOqvOFDrfeMRxSIWQ",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar886e1237177",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1583"
        }
  recorded_at: Tue, 10 Feb 2026 13:40:35 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SzHB8IBOqvOFDrf0QSIRzKy?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SzHB8IBOqvOFDrf0QSIRzKy",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SzHB8IBOqvOFDrf0aZ8ZMeZ",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1771286400,
            "balance_type": "payments",
            "created": 1770730835,
            "currency": "usd",
            "description": "You bought http://edgar886e1237177.test.gumroad.com:31337/l/s!",
            "exchange_rate": null,
            "fee": 33,
            "fee_details": [
              {
                "amount": 33,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 67,
            "reporting_category": "charge",
            "source": "ch_3SzHB8IBOqvOFDrf0QSIRzKy",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR886E12371",
          "captured": true,
          "created": 1770730835,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar886e1237177.test.gumroad.com:31337/l/s!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "PIyGuvHiYwKvOtBIZnFLeg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 41,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SzHB8IBOqvOFDrf0Zr2W2gf",
          "payment_method": "pm_1SzHB8IBOqvOFDrfeMRxSIWQ",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "authorization_code": "077883",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "qyHvmPygZ2LaTkOp",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "3055",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "113121721181098",
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKNTqrMwGMgYWGGT2DMQ6LBZD7eBEkSmlzC4xjC9wICfq5ZqSZshzn-6UNDEUTZ489RYF2qSb3eIq-1fJ",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar886e1237177",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1583"
        }
  recorded_at: Tue, 10 Feb 2026 13:40:36 GMT
recorded_with: VCR 6.2.0
