---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d645266f-62e1-4a02-94c1-3ab24f901d3a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d645266f-62e1-4a02-94c1-3ab24f901d3a
      Original-Request:
      - req_qYfsxSqwXc4KJv
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O7NGW9e1RjUNIyYAhRZZjb7",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698779176,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 31 Oct 2023 19:06:16 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7NGW9e1RjUNIyYAhRZZjb7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O7NGW9e1RjUNIyYAhRZZjb7
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 37a760dc-99d9-4939-a023-871c9b1dbadb
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 37a760dc-99d9-4939-a023-871c9b1dbadb
      Original-Request:
      - req_ifPUImlQ4sZesb
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OvDhYTHoAvJdNs",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698779178,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "33E9EF99",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 31 Oct 2023 19:06:18 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: confirm=true&payment_method_types[0]=card&usage=off_session&payment_method=pm_0O7NGW9e1RjUNIyYAhRZZjb7&customer=cus_OvDhYTHoAvJdNs
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1825658f-1c04-462d-a51d-d0c0e5482493
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1825658f-1c04-462d-a51d-d0c0e5482493
      Original-Request:
      - req_1ASMTJsu827gr4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0O7NGZ9e1RjUNIyYqrjJw5XK",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0O7NGZ9e1RjUNIyYqrjJw5XK_secret_OvDhoYq3pycK3fjsLqewWyNCoF9Xuvw",
          "created": 1698779179,
          "customer": "cus_OvDhYTHoAvJdNs",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0O7NGZ9e1RjUNIyYxp1BHrP1",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7NGW9e1RjUNIyYAhRZZjb7",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 31 Oct 2023 19:06:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=You+bought+http%3A%2F%2Fedgarec1f81da767.test.gumroad.com%3A31337%2Fl%2Fr&metadata[purchase]=5YferOh7cmT7uqr1SicpuA%3D%3D&transfer_group=662&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OvDhYTHoAvJdNs&payment_method=pm_0O7NGW9e1RjUNIyYAhRZZjb7&statement_descriptor_suffix=edgarec1f81da767
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - df8f7ebb-2aa8-4df7-a68a-73411ac3c316
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - df8f7ebb-2aa8-4df7-a68a-73411ac3c316
      Original-Request:
      - req_VIw6QzXdPcjLm9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O7NGa9e1RjUNIyY1aLJX2Za",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O7NGa9e1RjUNIyY1aLJX2Za_secret_meXQ0ti2Ey7iRonwT4R5qpJWA",
          "confirmation_method": "manual",
          "created": 1698779180,
          "currency": "usd",
          "customer": "cus_OvDhYTHoAvJdNs",
          "description": "You bought http://edgarec1f81da767.test.gumroad.com:31337/l/r",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O7NGa9e1RjUNIyY1h6YYI09",
          "livemode": false,
          "metadata": {
            "purchase": "5YferOh7cmT7uqr1SicpuA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7NGW9e1RjUNIyYAhRZZjb7",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarec1f81da767",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "662"
        }
  recorded_at: Tue, 31 Oct 2023 19:06:21 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7NGa9e1RjUNIyY1h6YYI09?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O7NGa9e1RjUNIyY1h6YYI09",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O7NGa9e1RjUNIyY1SgnCbRk",
            "object": "balance_transaction",
            "amount": 1000,
            "available_on": 1698883200,
            "created": 1698779180,
            "currency": "usd",
            "description": "You bought http://edgarec1f81da767.test.gumroad.com:31337/l/r",
            "exchange_rate": null,
            "fee": 50,
            "fee_details": [
              {
                "amount": 50,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 950,
            "reporting_category": "charge",
            "source": "ch_2O7NGa9e1RjUNIyY1h6YYI09",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAREC1F81",
          "captured": true,
          "created": 1698779180,
          "currency": "usd",
          "customer": "cus_OvDhYTHoAvJdNs",
          "description": "You bought http://edgarec1f81da767.test.gumroad.com:31337/l/r",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "5YferOh7cmT7uqr1SicpuA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 7,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O7NGa9e1RjUNIyY1aLJX2Za",
          "payment_method": "pm_0O7NGW9e1RjUNIyYAhRZZjb7",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUorqCFqgYyBkpe4WIxwzosFvKHqmmq6fytSaIrxMBk-kuhfdJ764yDWh-kXlrbVcwaZiSE5GT4ke6obXg",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarec1f81da767",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "662"
        }
  recorded_at: Tue, 31 Oct 2023 19:06:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7NGW9e1RjUNIyY40LQr6D1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=You+bought+http%3A%2F%2Fedgarec1f81da767.test.gumroad.com%3A31337%2Fl%2Fr&metadata[purchase]=o9leNtOeLQ77u4TkjUnljQ%3D%3D&transfer_group=664&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OvDid5aWC3lVa0&payment_method=pm_0O7NGW9e1RjUNIyY40LQr6D1&statement_descriptor_suffix=edgarec1f81da767
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 168b3992-7d9b-4319-b3f3-618ab27cc4a4
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 168b3992-7d9b-4319-b3f3-618ab27cc4a4
      Original-Request:
      - req_Qh2dUI79JobR6P
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_2O7NGf9e1RjUNIyY0XJ5LI0s",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "payment_intent": {
              "id": "pi_2O7NGf9e1RjUNIyY01Od44yo",
              "object": "payment_intent",
              "amount": 1000,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount"[...]
