---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 71e51b3f-76fc-4dde-80e9-ad49e7cdaa2b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 71e51b3f-76fc-4dde-80e9-ad49e7cdaa2b
      Original-Request:
      - req_yChcsV3DxrxU8c
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzH5EIBOqvOFDrfub14RFp7",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730468,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:34:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH5EIBOqvOFDrfub14RFp7
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c9f075cc-e3bf-4ada-9ec0-5bb6861c099e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c9f075cc-e3bf-4ada-9ec0-5bb6861c099e
      Original-Request:
      - req_sQtm5IoqjLLXgd
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TxBSilS8CQRvQp",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1770730469,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "3CPRVA6D",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 10 Feb 2026 13:34:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH5EIBOqvOFDrfub14RFp7&customer=cus_TxBSilS8CQRvQp&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3e8d96b5-e701-4115-8ff4-f577cf87bcbd
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3e8d96b5-e701-4115-8ff4-f577cf87bcbd
      Original-Request:
      - req_dkWAQlqM18iuU9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1SzH5GIBOqvOFDrfUsE90MqJ",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_1SzH5GIBOqvOFDrfUsE90MqJ_secret_TxBSCqKgSPVFsaLcVYlEYaoUAWW0SWV",
          "created": 1770730470,
          "customer": "cus_TxBSilS8CQRvQp",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_1SzH5GIBOqvOFDrfntoZ74YA",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH5EIBOqvOFDrfub14RFp7",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 10 Feb 2026 13:34:30 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzH5EIBOqvOFDrfub14RFp7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1500&currency=usd&description=Gumroad+Charge+EvWeQyU16HbcNx_umwfqcQ%3D%3D&metadata[purchases%7B0%7D]=Rq2gLwrf5QWhGKsWfQs-Tg%3D%3D%2Cc4Svy24fyP8oLIDBF4BQdw%3D%3D&transfer_group=CH-767&payment_method_types[0]=card&off_session=false&customer=cus_TxBSilS8CQRvQp&payment_method=pm_1SzH5EIBOqvOFDrfub14RFp7&statement_descriptor_suffix=edgar747c3c9129
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0a2a8719-91b2-425f-9734-740ad9f086cd
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0a2a8719-91b2-425f-9734-740ad9f086cd
      Original-Request:
      - req_0FhTxvECYXQQdP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzH5HIBOqvOFDrf0TECFpQC",
          "object": "payment_intent",
          "amount": 1500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzH5HIBOqvOFDrf0TECFpQC_secret_RnMqLDVzk0TtTcRArUEgO5JhP",
          "confirmation_method": "automatic",
          "created": 1770730471,
          "currency": "usd",
          "customer": "cus_TxBSilS8CQRvQp",
          "customer_account": null,
          "description": "Gumroad Charge EvWeQyU16HbcNx_umwfqcQ==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "Rq2gLwrf5QWhGKsWfQs-Tg==,c4Svy24fyP8oLIDBF4BQdw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH5EIBOqvOFDrfub14RFp7",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar747c3c9129",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-767"
        }
  recorded_at: Tue, 10 Feb 2026 13:34:31 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SzH5HIBOqvOFDrf0TECFpQC/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6830fc3d-a3fa-4dd3-b2d9-673e814a5dcc
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SzH5HIBOqvOFDrf0yKSB2eo?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SzH5HIBOqvOFDrf0yKSB2eo",
          "object": "charge",
          "amount": 1500,
          "amount_captured": 1500,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SzH5HIBOqvOFDrf0qK4REDK",
            "object": "balance_transaction",
            "amount": 1500,
            "available_on": 1771286400,
            "balance_type": "payments",
            "created": 1770730471,
            "currency": "usd",
            "description": "Gumroad Charge EvWeQyU16HbcNx_umwfqcQ==",
            "exchange_rate": null,
            "fee": 74,
            "fee_details": [
              {
                "amount": 74,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1426,
            "reporting_category": "charge",
            "source": "ch_3SzH5HIBOqvOFDrf0yKSB2eo",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR747C3C912",
          "captured": true,
          "created": 1770730471,
          "currency": "usd",
          "customer": "cus_TxBSilS8CQRvQp",
          "description": "Gumroad Charge EvWeQyU16HbcNx_umwfqcQ==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "Rq2gLwrf5QWhGKsWfQs-Tg==,c4Svy24fyP8oLIDBF4BQdw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 28,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SzH5HIBOqvOFDrf0TECFpQC",
          "payment_method": "pm_1SzH5EIBOqvOFDrfub14RFp7",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1500,
              "authorization_code": "284751",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 1500,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKOjnrMwGMgZABuE0iqo6LBY9HknVp-toSbYNUHTsd-tMIEMYpuKvndkS4AKcRdg45y9521-q1UuVo9V2",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar747c3c9129",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-767"
        }
  recorded_at: Tue, 10 Feb 2026 13:34:32 GMT
recorded_with: VCR 6.2.0
