---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000+0566+5566+5556&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123&card[currency]=usd
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - def94567-b466-4118-ae4a-1177df0875ad
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - def94567-b466-4118-ae4a-1177df0875ad
      Original-Request:
      - req_aDnxsu2Viih31O
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_0O7Ny09e1RjUNIyYa8U9CgDv",
          "object": "token",
          "card": {
            "id": "card_0O7Ny09e1RjUNIyYWPDHeLei",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "currency": "usd",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "5IdckE5bfj42lL1I",
            "funding": "debit",
            "last4": "5556",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": "49.36.35.35",
          "created": 1698781872,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 31 Oct 2023 19:51:12 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_0O7Ny09e1RjUNIyYa8U9CgDv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&card=tok_0O7Ny09e1RjUNIyYa8U9CgDv&expand[0]=sources
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 97233739-3276-4a93-aa0b-c42eb7ac342a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 97233739-3276-4a93-aa0b-c42eb7ac342a
      Original-Request:
      - req_0ZToHOlKIzcacT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OvEQIG7lpjSsKv",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698781873,
          "currency": null,
          "default_source": "card_0O7Ny09e1RjUNIyYWPDHeLei",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "F891766E",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_0O7Ny09e1RjUNIyYWPDHeLei",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_OvEQIG7lpjSsKv",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2023,
                "fingerprint": "5IdckE5bfj42lL1I",
                "funding": "debit",
                "last4": "5556",
                "metadata": {},
                "name": null,
                "tokenization_method": null,
                "wallet": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_OvEQIG7lpjSsKv/sources"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 31 Oct 2023 19:51:13 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_0O7Ny29e1RjUNIyY6lG3G2eu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=6&metadata[tos_agreement_id]=kVC5_TNZ99-Mqo6U5zY4iA%3D%3D&metadata[user_compliance_info_id]=qJhI7g4hbSAjEytIhsLG8w%3D%3D&tos_acceptance[date]=1698781874&tos_acceptance[ip]=0.0.0.0&business_type=individual&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=&individual[email]=seller%40example.com&individual[address][country]=US
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6bfea0d4-9554-48be-8535-b3c38dcafcab
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6bfea0d4-9554-48be-8535-b3c38dcafcab
      Original-Request:
      - req_6mW2mxiqeWa24p
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1O7Ny4S0362diyUx",
          "object": "account",
          "business_profile": {
            "mcc": "5192",
            "name": null,
            "product_description": "",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "inactive",
            "transfers": "inactive"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "US",
          "created": 1698781877,
          "default_currency": "usd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1O7Ny4S0362diyUx/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1712084400,
            "currently_due": [
              "external_account",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.dob.day",
              "individual.dob.month",
              "individual.dob.year",
              "individual.first_name",
              "individual.last_name",
              "individual.phone",
              "individual.ssn_last_4"
            ],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [
              "external_account",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.dob.day",
              "individual.dob.month",
              "individual.dob.year",
              "individual.first_name",
              "individual.id_number",
              "individual.last_name",
              "individual.phone",
              "individual.ssn_last_4"
            ],
            "past_due": [
              "external_account",
              "individual.first_name",
              "individual.last_name"
            ],
            "pending_verification": [
              "business_profile.url"
            ]
          },
          "individual": {
            "id": "person_1O7Ny4S0362diyUxLdktKGWg",
            "object": "person",
            "account": "acct_1O7Ny4S0362diyUx",
            "address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "created": 1698781877,
            "dob": {
              "day": null,
              "month": null,
              "year": null
            },
            "email": "seller@example.com",
            "first_name": null,
            "future_requirements": {
              "alternatives": [],
              "currently_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "last_name",
                "phone",
                "ssn_last_4"
              ],
              "errors": [],
              "eventually_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "id_number",
                "last_name",
                "phone",
                "ssn_last_4"
              ],
              "past_due": [
                "first_name",
                "last_name"
              ],
              "pending_verification": []
            },
            "id_number_provided": false,
            "last_name": null,
            "metadata": {},
            "relationship": {
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "last_name",
                "phone",
                "ssn_last_4"
              ],
              "errors": [],
              "eventually_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "last_name",
                "phone",
                "ssn_last_4"
              ],
              "past_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "last_name",
                "phone",
                "ssn_last_4"
              ],
              "pending_verification": []
            },
            "ssn_last_4_provided": false,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "unverified"
            }
          },
          "metadata": {
            "tos_agreement_id": "kVC5_TNZ99-Mqo6U5zY4iA==",
            "user_compliance_info_id": "qJhI7g4hbSAjEytIhsLG8w==",
            "user_id": "6"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "external_account",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.dob.day",
              "individual.dob.month",
              "individual.dob.year",
              "individual.first_name",
      [...]
