---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_visa_debit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1SOgINIBOqvOFDrfDdjjxTD8",
          "object": "token",
          "card": {
            "id": "card_1SOgINIBOqvOFDrfbuyImIP3",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "currency": "usd",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "email": null,
            "exp_month": 11,
            "exp_year": 2026,
            "fingerprint": "ZKA785EqNIB6mi55",
            "funding": "debit",
            "last4": "5556",
            "metadata": {},
            "name": null,
            "networks": {
              "preferred": null
            },
            "phone": null,
            "regulated_status": "unregulated",
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": null,
          "created": 1762009247,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 01 Nov 2025 15:00:47 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_1SOgINIBOqvOFDrfDdjjxTD8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&card=tok_1SOgINIBOqvOFDrfDdjjxTD8&expand[0]=sources
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - '08c5d001-fb50-44a3-a45a-80c7d14006b9'
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '08c5d001-fb50-44a3-a45a-80c7d14006b9'
      Original-Request:
      - req_vm64IYhAkxThNI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TLN2z8yDQzyduw",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1762009247,
          "currency": null,
          "default_source": "card_1SOgINIBOqvOFDrfbuyImIP3",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "MBCHNENH",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1SOgINIBOqvOFDrfbuyImIP3",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "allow_redisplay": "unspecified",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_TLN2z8yDQzyduw",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "email": null,
                "exp_month": 11,
                "exp_year": 2026,
                "fingerprint": "ZKA785EqNIB6mi55",
                "funding": "debit",
                "last4": "5556",
                "metadata": {},
                "name": null,
                "phone": null,
                "regulated_status": "unregulated",
                "tokenization_method": null,
                "wallet": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_TLN2z8yDQzyduw/sources"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 01 Nov 2025 15:00:48 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_1SOgIOIBOqvOFDrfgCEQIBOX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=6&metadata[tos_agreement_id]=WwNAVzMc8J94NUz9Lp9wow%3D%3D&metadata[user_compliance_info_id]=g3YMU-XAt_051t3Gs9GjZQ%3D%3D&tos_acceptance[date]=1762009248&tos_acceptance[ip]=0.0.0.0&business_type=individual&business_profile[name]=&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=&individual[email]=seller%40example.com&individual[address][country]=US
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 32700371-626a-447b-9cac-ea6834117c0b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 32700371-626a-447b-9cac-ea6834117c0b
      Original-Request:
      - req_teCAFhOBs5EHV0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1SOgIQIKQGncGi0G",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": null,
            "minority_owned_business_designation": null,
            "name": null,
            "product_description": "",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "inactive",
            "transfers": "inactive"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "US",
          "created": 1762009251,
          "default_currency": "usd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1SOgIQIKQGncGi0G/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1SOgIQIKQGncGi0GlLLvYFsr",
            "object": "person",
            "account": "acct_1SOgIQIKQGncGi0G",
            "address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "created": 1762009250,
            "dob": {
              "day": null,
              "month": null,
              "year": null
            },
            "email": "seller@example.com",
            "first_name": null,
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "id_number_provided": false,
            "last_name": null,
            "metadata": {},
            "relationship": {
              "authorizer": false,
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "last_name",
                "phone",
                "ssn_last_4"
              ],
              "errors": [],
              "eventually_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "last_name",
                "phone",
                "ssn_last_4"
              ],
              "past_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "last_name",
                "phone",
                "ssn_last_4"
              ],
              "pending_verification": []
            },
            "ssn_last_4_provided": false,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "unverified"
            }
          },
          "metadata": {
            "tos_agreement_id": "WwNAVzMc8J94NUz9Lp9wow==",
            "user_compliance_info_id": "g3YMU-XAt_051t3Gs9GjZQ==",
            "user_id": "6"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "business_profile.mcc",
              "external_account",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.dob.day",
              "individual.dob.month",
              "individual.dob.year",
       [...]
