---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/checkout/orders
    body:
      encoding: UTF-8
      string: '{"intent":"CAPTURE","purchase_units":[{"reference_id":"P5ppE6H8XIjy2JSCgUhbAw==","amount":{"currency_code":"USD","value":"5.00","breakdown":{"shipping":{"currency_code":"USD","value":"0.00"},"tax_total":{"currency_code":"USD","value":"0.00"},"item_total":{"currency_code":"USD","value":"5.00"}}},"payee":{"email_address":"<PAYPAL_MERCHANT_EMAIL>"},"items":[{"name":"The
        Works of Edgar Gumstein","unit_amount":{"currency_code":"USD","value":"5.00"},"quantity":0,"sku":"g"}],"soft_descriptor":"You
        bought /l/g"}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
      Authorization:
      - Bearer A21AAEoHdxMrfOn2fqQGB61AqZmJby4k19FR7F58IsuDEeAVR7UeXVfTiazgv1SeBaZdLp2ErjifHB6zmIUPA59bO2wwTVQDw
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.5.8
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 3a05fe1a2ca6f
    body:
      encoding: UTF-8
      string: '{"name":"INVALID_REQUEST","message":"Request is not well-formed, syntactically
        incorrect, or violates schema.","debug_id":"3a05fe1a2ca6f","details":[{"field":"/purchase_units/@reference_id==''P5ppE6H8XIjy2JSCgUhbAw==''/items/0/quantity","value":"0","location":"body","issue":"INVALID_PARAMETER_SYNTAX","description":"The
        value of a field does not conform to the expected format."}],"links":[{"href":"https://developer.paypal.com/docs/api/orders/v2/#error-INVALID_PARAMETER_SYNTAX","rel":"information_link","encType":"application/json"}]}'
  recorded_at: Wed, 17 Jun 2020 18:21:55 GMT
recorded_with: VCR 3.0.3
