---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 197eaf25-f01c-48de-86fb-beedefcb778f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 197eaf25-f01c-48de-86fb-beedefcb778f
      Original-Request:
      - req_nPRddUNNXsbmwP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6xEX9e1RjUNIyYZHKjYkR3",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698679109,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 15:18:30 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xEX9e1RjUNIyYZHKjYkR3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=495&email=edgar1dfb11e6_1054%40gumroad.com&payment_method=pm_0O6xEX9e1RjUNIyYZHKjYkR3
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3b3dc7de-ff80-4c93-b440-ed01f511e5e6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3b3dc7de-ff80-4c93-b440-ed01f511e5e6
      Original-Request:
      - req_EZbTG53TQU0oQI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OumoMPUHEdI823",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698679110,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "495",
          "discount": null,
          "email": "edgar1dfb11e6_1054@gumroad.com",
          "invoice_prefix": "53D4E98E",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 15:18:31 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=599&currency=usd&description=You+bought+http%3A%2F%2Fedgarc5608207494.test.gumroad.com%3A31337%2Fl%2Fb&metadata[purchase]=9rOYvb07wer3NLGTDTQnGw%3D%3D&transfer_group=317&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OumoMPUHEdI823&payment_method=pm_0O6xEX9e1RjUNIyYZHKjYkR3&statement_descriptor_suffix=edgarc5608207494
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 734e05b6-0a7a-40cd-b7c4-1810a65d5f05
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 734e05b6-0a7a-40cd-b7c4-1810a65d5f05
      Original-Request:
      - req_8vy81gpdJBhvrb
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6xEa9e1RjUNIyY0RmOBzIH",
          "object": "payment_intent",
          "amount": 599,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 599,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6xEa9e1RjUNIyY0RmOBzIH_secret_3q5AGKApMyCd6TcozWT81GZMY",
          "confirmation_method": "manual",
          "created": 1698679112,
          "currency": "usd",
          "customer": "cus_OumoMPUHEdI823",
          "description": "You bought http://edgarc5608207494.test.gumroad.com:31337/l/b",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6xEa9e1RjUNIyY0oXiOeDg",
          "livemode": false,
          "metadata": {
            "purchase": "9rOYvb07wer3NLGTDTQnGw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6xEX9e1RjUNIyYZHKjYkR3",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarc5608207494",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "317"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6xEa9e1RjUNIyY0oXiOeDg?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6xEa9e1RjUNIyY0oXiOeDg",
          "object": "charge",
          "amount": 599,
          "amount_captured": 599,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6xEa9e1RjUNIyY0Mu3rtZP",
            "object": "balance_transaction",
            "amount": 599,
            "available_on": 1698796800,
            "created": 1698679112,
            "currency": "usd",
            "description": "You bought http://edgarc5608207494.test.gumroad.com:31337/l/b",
            "exchange_rate": null,
            "fee": 35,
            "fee_details": [
              {
                "amount": 35,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 564,
            "reporting_category": "charge",
            "source": "ch_2O6xEa9e1RjUNIyY0oXiOeDg",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARC56082",
          "captured": true,
          "created": 1698679112,
          "currency": "usd",
          "customer": "cus_OumoMPUHEdI823",
          "description": "You bought http://edgarc5608207494.test.gumroad.com:31337/l/b",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "9rOYvb07wer3NLGTDTQnGw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 50,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6xEa9e1RjUNIyY0RmOBzIH",
          "payment_method": "pm_0O6xEX9e1RjUNIyYZHKjYkR3",
          "payment_method_details": {
            "card": {
              "amount_authorized": 599,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 599,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoypL_qQYyBjOssW2n3TosFr8CgmHrvaRgIj6J0QCAAouS_k0eiDo5i8YTDBOIzj_EPJ5_yLCGZUzT6zg",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarc5608207494",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "317"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
recorded_with: VCR 6.2.0
