---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - cb380a74-ab33-4fb6-93b9-fe75120fbb70
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cb380a74-ab33-4fb6-93b9-fe75120fbb70
      Original-Request:
      - req_7M8Vkmo70vcO27
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SAt0hR9FW4kGYto0wj3eQo9",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "8K9D1RscR3MwZCT1",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1758721531,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 24 Sep 2025 13:45:31 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SAt0hR9FW4kGYto0wj3eQo9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=10000&currency=usd&description=You+bought+http%3A%2F%2Fedgar1f8be77780.test.gumroad.com%3A31337%2Fl%2Fi%21&metadata[purchase]=rqaS2ZPDvVvtUovzeGfpDQ%3D%3D&transfer_group=1620&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_1SAt0hR9FW4kGYto0wj3eQo9&statement_descriptor_suffix=edgar1f8be77780
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - cb36edac-0bb4-4475-8229-524ed22bbbd8
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cb36edac-0bb4-4475-8229-524ed22bbbd8
      Original-Request:
      - req_VCLiRUR33Etees
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SAt0iR9FW4kGYto2twMIDSq",
          "object": "payment_intent",
          "amount": 10000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 10000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SAt0iR9FW4kGYto2twMIDSq_secret_ze13G5OTgttqvAmb5Ku5ewO7e",
          "confirmation_method": "automatic",
          "created": 1758721532,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar1f8be77780.test.gumroad.com:31337/l/i!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SAt0iR9FW4kGYto2tsRRtUF",
          "livemode": false,
          "metadata": {
            "purchase": "rqaS2ZPDvVvtUovzeGfpDQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SAt0hR9FW4kGYto0wj3eQo9",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar1f8be77780",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1620"
        }
  recorded_at: Wed, 24 Sep 2025 13:45:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SAt0iR9FW4kGYto2tsRRtUF?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SAt0iR9FW4kGYto2tsRRtUF",
          "object": "charge",
          "amount": 10000,
          "amount_captured": 10000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SAt0iR9FW4kGYto2iADX3QP",
            "object": "balance_transaction",
            "amount": 10000,
            "available_on": 1759276800,
            "balance_type": "payments",
            "created": 1758721532,
            "currency": "usd",
            "description": "You bought http://edgar1f8be77780.test.gumroad.com:31337/l/i!",
            "exchange_rate": null,
            "fee": 320,
            "fee_details": [
              {
                "amount": 320,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 9680,
            "reporting_category": "charge",
            "source": "ch_3SAt0iR9FW4kGYto2tsRRtUF",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR1F8BE7778",
          "captured": true,
          "created": 1758721532,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar1f8be77780.test.gumroad.com:31337/l/i!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "rqaS2ZPDvVvtUovzeGfpDQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 22,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SAt0iR9FW4kGYto2twMIDSq",
          "payment_method": "pm_1SAt0hR9FW4kGYto0wj3eQo9",
          "payment_method_details": {
            "card": {
              "amount_authorized": 10000,
              "authorization_code": "327079",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "8K9D1RscR3MwZCT1",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "567557684982115",
              "overcapture": {
                "maximum_amount_capturable": 10000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xUmtKQlJSOUZXNGtHWXRvKP3rz8YGMgbMlLcjINs6LBYA3FxBl9Rj-FTJUersMAkJuizAajRhI2eLWILtnQVG_YHylocLBqLk1xSk",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar1f8be77780",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1620"
        }
  recorded_at: Wed, 24 Sep 2025 13:45:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SAt0iR9FW4kGYto2tsRRtUF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3SAt0iR9FW4kGYto2tsRRtUF
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c022666b-733e-4708-9387-40480bf6300f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c022666b-733e-4708-9387-40480bf6300f
      Original-Request:
      - req_nLpwrXZc8NwSAv
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3SAt0iR9FW4kGYto2pthQiNi",
          "object": "refund",
          "amount": 10000,
          "balance_transaction": "txn_3SAt0iR9FW4kGYto2t9ibj35",
          "charge": "ch_3SAt0iR9FW4kGYto2tsRRtUF",
          "created": 1758721534,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_3SAt0iR9FW4kGYto2twMIDSq",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Wed, 24 Sep 2025 13:45:35 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_3SAt0iR9FW4kGYto2pthQiNi?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SAt0iR9FW4kGYto2tsRRtUF?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
