---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/oembed/?format=json&maxwidth=670&scheme=https&url=https://youtu.be/blSl487coFg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"title":"Mulder opening doors","author_name":"Sven","author_url":"https://www.youtube.com/channel/UCbt3UL5blPuHbgnLZPZVamg","type":"video","height":344,"width":612,"version":"1.0","provider_name":"YouTube","provider_url":"https://www.youtube.com/","thumbnail_height":360,"thumbnail_width":480,"thumbnail_url":"https://i.ytimg.com/vi/blSl487coFg/hqdefault.jpg","html":"\u003ciframe
        width=\u0022612\u0022 height=\u0022344\u0022 src=\u0022https://www.youtube.com/embed/blSl487coFg?feature=oembed\u0022
        frameborder=\u00220\u0022 allow=\u0022accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture\u0022 allowfullscreen\u003e\u003c/iframe\u003e"}'
  recorded_at: Fri, 01 Jan 2021 14:00:15 GMT
recorded_with: VCR 6.0.0
