---
http_interactions:
- request:
    method: get
    uri: https://soundcloud.com/oembed?format=json&maxwidth=670&url=https://soundcloud.com/cade-turner/cade-turner-symphony-of-light
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"6f4db9d6361f22c26099ef44e40c66e4"'
    body:
      encoding: ASCII-8BIT
      string: '{"version":1.0,"type":"rich","provider_name":"SoundCloud","provider_url":"https://soundcloud.com","height":400,"width":670,"title":"Cade
        Turner - Symphony Of Light Exhibition by Cade Turner","description":"In this
        podcast, I share the inspiration behind my upcoming exhibition, Symphony of
        Light, for which I''ve produced a series of heart-felt, evanescent landscapes
        that were created completely in-camera.","thumbnail_url":"https://i1.sndcdn.com/artworks-000053047348-b62qv1-t500x500.jpg","html":"\u003Ciframe
        width=\"670\" height=\"400\" scrolling=\"no\" frameborder=\"no\" src=\"https://w.soundcloud.com/player/?visual=true\u0026url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F101276036\u0026show_artwork=true\u0026maxwidth=670\"\u003E\u003C/iframe\u003E","author_name":"Cade
        Turner","author_url":"https://soundcloud.com/cade-turner"}'
  recorded_at: Wed, 04 Nov 2020 23:56:44 GMT
recorded_with: VCR 6.0.0
