---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 20212cd8-6316-4574-9335-f976c0f752c6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 20212cd8-6316-4574-9335-f976c0f752c6
      Original-Request:
      - req_ArhccGqmBwV6yZ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6uu19e1RjUNIyYjpbWmi2s",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698670149,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 12:49:09 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6uu19e1RjUNIyYjpbWmi2s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2500&currency=usd&description=You+bought+http%3A%2F%2Fedgar233a979c98.test.gumroad.com%3A31337%2Fl%2Fj&metadata[purchase]=c_7sILO0OtZ4Hi7KS-NBdA%3D%3D&transfer_group=77&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0O6uu19e1RjUNIyYjpbWmi2s&statement_descriptor_suffix=edgar233a979c98
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7e2a6330-74ff-4267-a076-524559bf4f0b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7e2a6330-74ff-4267-a076-524559bf4f0b
      Original-Request:
      - req_nBFp2Rpix9hELN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6uu29e1RjUNIyY0ZAPR8oh",
          "object": "payment_intent",
          "amount": 2500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 2500,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6uu29e1RjUNIyY0ZAPR8oh_secret_o9JOO6VVyZt5ONIlqCPLe3mLe",
          "confirmation_method": "manual",
          "created": 1698670150,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar233a979c98.test.gumroad.com:31337/l/j",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6uu29e1RjUNIyY0G2cACGi",
          "livemode": false,
          "metadata": {
            "purchase": "c_7sILO0OtZ4Hi7KS-NBdA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6uu19e1RjUNIyYjpbWmi2s",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar233a979c98",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "77"
        }
  recorded_at: Mon, 30 Oct 2023 12:49:11 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6uu29e1RjUNIyY0G2cACGi?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6uu29e1RjUNIyY0G2cACGi",
          "object": "charge",
          "amount": 2500,
          "amount_captured": 2500,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6uu29e1RjUNIyY0choqo6q",
            "object": "balance_transaction",
            "amount": 2500,
            "available_on": 1698796800,
            "created": 1698670150,
            "currency": "usd",
            "description": "You bought http://edgar233a979c98.test.gumroad.com:31337/l/j",
            "exchange_rate": null,
            "fee": 80,
            "fee_details": [
              {
                "amount": 80,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 2420,
            "reporting_category": "charge",
            "source": "ch_2O6uu29e1RjUNIyY0G2cACGi",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR233A97",
          "captured": true,
          "created": 1698670150,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar233a979c98.test.gumroad.com:31337/l/j",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "c_7sILO0OtZ4Hi7KS-NBdA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 57,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6uu29e1RjUNIyY0ZAPR8oh",
          "payment_method": "pm_0O6uu19e1RjUNIyYjpbWmi2s",
          "payment_method_details": {
            "card": {
              "amount_authorized": 2500,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 2500,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUox8z-qQYyBtMp6bvHJzosFveOQsTC6dqEDN-iC4d3-8XyDnmiV0tcDlYdj1k5zjEW6X_OhmHjWG9bRw4",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar233a979c98",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "77"
        }
  recorded_at: Mon, 30 Oct 2023 12:49:12 GMT
recorded_with: VCR 6.2.0
