---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_chargeDeclinedExpiredCard
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b06736fb-b6a4-4b12-9fe3-ac0089b83dd6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b06736fb-b6a4-4b12-9fe3-ac0089b83dd6
      Original-Request:
      - req_XuJabglKHT0VHZ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SOZlvIBOqvOFDrfUXdN3Kv7",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 11,
            "exp_year": 2026,
            "fingerprint": "sF3mt00DGHKrYii7",
            "funding": "credit",
            "generated_from": null,
            "last4": "0069",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1761984171,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sat, 01 Nov 2025 08:02:51 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SOZlvIBOqvOFDrfUXdN3Kv7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1250&currency=usd&description=Gumroad+Charge+LG7t8LZjC_T24cy2SJYfiA%3D%3D&metadata[purchases%7B0%7D]=96B4PO2rC7RtT-y46CAkpg%3D%3D&transfer_group=CH-408&payment_method_types[0]=card&off_session=false&payment_method=pm_1SOZlvIBOqvOFDrfUXdN3Kv7&statement_descriptor_suffix=edgar34c1b6188
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0f60efdb-93d4-42b4-9e9b-98ed977b938a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0f60efdb-93d4-42b4-9e9b-98ed977b938a
      Original-Request:
      - req_Eqxnm90z5TW03o
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SOZlwIBOqvOFDrf0RsHO5Al",
          "object": "payment_intent",
          "amount": 1250,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SOZlwIBOqvOFDrf0RsHO5Al_secret_PdNElhoNcDED8mWO74Ag282Zv",
          "confirmation_method": "automatic",
          "created": 1761984172,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge LG7t8LZjC_T24cy2SJYfiA==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "96B4PO2rC7RtT-y46CAkpg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SOZlvIBOqvOFDrfUXdN3Kv7",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar34c1b6188",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-408"
        }
  recorded_at: Sat, 01 Nov 2025 08:02:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SOZlwIBOqvOFDrf0RsHO5Al/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e649ab22-0c0f-457f-8f83-6a8166ab9dfa
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e649ab22-0c0f-457f-8f83-6a8166ab9dfa
      Original-Request:
      - req_I3d224Rt01v2Mz
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "advice_code": "confirm_card_data",
            "charge": "ch_3SOZlwIBOqvOFDrf0QgpgDBP",
            "code": "expired_card",
            "decline_code": "expired_card",
            "doc_url": "https://stripe.com/docs/error-codes/expired-card",
            "message": "Your card has expired.",
            "network_advice_code": "03",
            "network_decline_code": "54",
            "param": "exp_month",
            "payment_intent": {
              "id": "pi_3SOZlwIBOqvOFDrf0RsHO5Al",
              "object": "payment_intent",
              "amount": 1250,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "[...]
