---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_zitkxbhds3zqlt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such charge: 'ch_zitkxbhds3zqlt'",
            "param": "id",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_poyz1Q9fXwcoLO?t=1709804972",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 07 Mar 2024 09:49:32 GMT
recorded_with: VCR 6.2.0
