---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a5339333-b0d5-4b05-942d-7ccf80759c2a
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a5339333-b0d5-4b05-942d-7ccf80759c2a
      Original-Request:
      - req_vu8DHuX9CTUHON
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0QrD4Y9e1RjUNIyYVMyhjM5D",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1739255754,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 10 Aug 2022 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0QrD4Y9e1RjUNIyYVMyhjM5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"WA","to_zip":"98121","shipping":0.0,"line_items":[{"quantity":1,"unit_price":100.0,"discount":0,"product_tax_code":"31000"}],"nexus_addresses":[{"country":"US","state":"WA"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 9ef25fd7-2044-4889-b1f2-2da452c2f189
      X-Amz-Apigw-Id:
      - FzpoHEsAoAMERHQ=
    body:
      encoding: UTF-8
      string: '{"tax":{"order_total_amount":100.0,"shipping":0.0,"taxable_amount":100.0,"amount_to_collect":10.35,"rate":0.1035,"has_nexus":true,"freight_taxable":true,"tax_source":"destination","jurisdictions":{"country":"US","state":"WA","county":"KING","city":"SEATTLE"},"breakdown":{"taxable_amount":100.0,"tax_collectable":10.35,"combined_tax_rate":0.1035,"state_taxable_amount":100.0,"state_tax_rate":0.065,"state_tax_collectable":6.5,"county_taxable_amount":100.0,"county_tax_rate":0.004,"county_tax_collectable":0.4,"city_taxable_amount":100.0,"city_tax_rate":0.0115,"city_tax_collectable":1.15,"special_district_taxable_amount":100.0,"special_tax_rate":0.023,"special_district_tax_collectable":2.3,"shipping":{"taxable_amount":0.0,"tax_collectable":0.0,"combined_tax_rate":0.1035,"state_taxable_amount":0.0,"state_sales_tax_rate":0.065,"state_amount":0.0,"county_taxable_amount":0.0,"county_tax_rate":0.004,"county_amount":0.0,"city_taxable_amount":0.0,"city_tax_rate":0.0115,"city_amount":0.0,"special_taxable_amount":0.0,"special_tax_rate":0.023,"special_district_amount":0.0},"line_items":[{"id":"1","taxable_amount":100.0,"tax_collectable":10.35,"combined_tax_rate":0.1035,"state_taxable_amount":100.0,"state_sales_tax_rate":0.065,"state_amount":6.5,"county_taxable_amount":100.0,"county_tax_rate":0.004,"county_amount":0.4,"city_taxable_amount":100.0,"city_tax_rate":0.0115,"city_amount":1.15,"special_district_taxable_amount":100.0,"special_tax_rate":0.023,"special_district_amount":2.3}]}}}'
  recorded_at: Wed, 10 Aug 2022 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=11035&currency=usd&description=You+bought+http%3A%2F%2Fedgar6c2bdb431.test.gumroad.com%3A31337%2Fl%2Fy%21&metadata[purchase]=E03ACMtyL0HTcPJ12Bkv0w%3D%3D&transfer_group=1&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0QrD4Y9e1RjUNIyYVMyhjM5D&statement_descriptor_suffix=edgar6c2bdb431
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 60895f0c-65b7-468d-b5e3-19f7f4604b64
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 60895f0c-65b7-468d-b5e3-19f7f4604b64
      Original-Request:
      - req_SeGPXQN679w8tc
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2QrD4b9e1RjUNIyY1di8C7KD",
          "object": "payment_intent",
          "amount": 11035,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 11035,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2QrD4b9e1RjUNIyY1di8C7KD_secret_WWGIeDK63HlRcb8lx3lcmS7Rv",
          "confirmation_method": "automatic",
          "created": 1739255757,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar6c2bdb431.test.gumroad.com:31337/l/y!",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2QrD4b9e1RjUNIyY1D4NKXGj",
          "livemode": false,
          "metadata": {
            "purchase": "E03ACMtyL0HTcPJ12Bkv0w=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0QrD4Y9e1RjUNIyYVMyhjM5D",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar6c2bdb431",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1"
        }
  recorded_at: Wed, 10 Aug 2022 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2QrD4b9e1RjUNIyY1D4NKXGj?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2QrD4b9e1RjUNIyY1D4NKXGj",
          "object": "charge",
          "amount": 11035,
          "amount_captured": 11035,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2QrD4b9e1RjUNIyY1xZxedrU",
            "object": "balance_transaction",
            "amount": 11035,
            "available_on": 1739404800,
            "created": 1739255757,
            "currency": "usd",
            "description": "You bought http://edgar6c2bdb431.test.gumroad.com:31337/l/y!",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 11035,
            "reporting_category": "charge",
            "source": "ch_2QrD4b9e1RjUNIyY1D4NKXGj",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGAR6C2BDB43",
          "captured": true,
          "created": 1739255757,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar6c2bdb431.test.gumroad.com:31337/l/y!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "E03ACMtyL0HTcPJ12Bkv0w=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 1,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2QrD4b9e1RjUNIyY1di8C7KD",
          "payment_method": "pm_0QrD4Y9e1RjUNIyYVMyhjM5D",
          "payment_method_details": {
            "card": {
              "amount_authorized": 11035,
              "authorization_code": null,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "875457497450891",
              "overcapture": {
                "maximum_amount_capturable": 11035,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUozt-rvQYyBhYHXk-JDzosFmNl4mPtQy76OwfQNpA2ViXMG88t9SmmB2_YcJVmTB01My0nkXhDEACLocc",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar6c2bdb431",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1"
        }
  recorded_at: Wed, 10 Aug 2022 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0QrD4d9e1RjUNIyYKQzX2lCt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2QrD4f9e1RjUNIyY0nAKv6Gc?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0QrD4h9e1RjUNIyYpPy6BzNa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2QrD4k9e1RjUNIyY1Fqf8vRD?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0QrD4l9e1RjUNIyYyHhzdr9U
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2QrD4o9e1RjUNIyY0FJgHRLl?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0QrD4q9e1RjUNIyYYgptjytP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2QrD4t9e1RjUNIyY1inz8fP2?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0QrD4v9e1RjUNIyYZtxbHt4D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2QrD4y9e1RjUNIyY0whxpeKJ?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0QrD509e1RjUNIyYQXDzeQKs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2QrD529e1RjUNIyY1EtytQdc?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/transactions/orders
    body:
      encoding: UTF-8
      string: '{"transaction_id":"E03ACMtyL0HTcPJ12Bkv0w==","transaction_date":"2022-08-10T00:00:00Z","provider":"api","from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"WA","to_zip":"98121","amount":100.0,"shipping":0.0,"sales_tax":10.35,"line_items":[{"quantity":1,"unit_price":100.0,"sales_tax":10.35,"product_tax_code":"31000"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Remapped-Date:
      - Tue, 11 Feb 2025 06:36:27 GMT
      X-Amzn-Requestid:
      - 9e1c0f69-3b4e-4a4d-8129-7e49568dddcd
      X-Amzn-Remapped-Content-Length:
      - '605'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Fzps2HwRoAMEW3A=
      Etag:
      - W/"776088ba78a4327831aed5acce8b9d13"
    body:
      encoding: UTF-8
      string: '{"order":{"transaction_id":"E03ACMtyL0HTcPJ12Bkv0w==","user_id":126159,"provider":"api","transaction_date":"2022-08-10T00:00:00.000Z","transaction_reference_id":null,"customer_id":null,"exemption_type":null,"from_country":"US","from_zip":"94104","from_state":"CA","from_city":null,"from_street":null,"to_country":"US","to_zip":"98121","to_state":"WA","to_city":null,"to_street":null,"amount":"100.0","shipping":"0.0","sales_tax":"10.35","line_items":[{"id":0,"quantity":1,"product_identifier":null,"product_tax_code":"31000","description":null,"unit_price":"100.0","discount":"0.0","sales_tax":"10.35"}]}}'
  recorded_at: Tue, 11 Feb 2025 06:36:27 GMT
[...]
