---
http_interactions:
- request:
    method: post
    uri: https://api-3t.sandbox.paypal.com/2.0/
    body:
      encoding: US-ASCII
      string: <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns="urn:ebay:api:PayPalAPI" xmlns:ebl="urn:ebay:apis:eBLBaseComponents"
        xmlns:cc="urn:ebay:apis:CoreComponentTypes" xmlns:ed="urn:ebay:apis:EnhancedDataTypes"><soapenv:Header><ns:RequesterCredentials><ebl:Credentials><ebl:Username><PAYPAL_USERNAME></ebl:Username><ebl:Password><PAYPAL_PASSWORD></ebl:Password><ebl:Signature><PAYPAL_SIGNATURE></ebl:Signature></ebl:Credentials></ns:RequesterCredentials></soapenv:Header><soapenv:Body><ns:RefundTransactionReq><ns:RefundTransactionRequest><ebl:Version>117.0</ebl:Version><ns:TransactionID>58409660Y47347418</ns:TransactionID><ns:RefundType>Full</ns:RefundType></ns:RefundTransactionRequest></ns:RefundTransactionReq></soapenv:Body></soapenv:Envelope>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slr-Retry-Api:
      - RefundTransaction
      X-Paypal-Operation-Name:
      - RefundTransaction
      X-Paypal-Api-Rc:
      - ''
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Paypal-Debug-Id:
      - 50f9b835b7a7f
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:cc="urn:ebay:apis:CoreComponentTypes" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
        xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
        xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/12/secext" xmlns:ed="urn:ebay:apis:EnhancedDataTypes"
        xmlns:ebl="urn:ebay:apis:eBLBaseComponents" xmlns:ns="urn:ebay:api:PayPalAPI"><SOAP-ENV:Header><Security
        xmlns="http://schemas.xmlsoap.org/ws/2002/12/secext" xsi:type="wsse:SecurityType"></Security><RequesterCredentials
        xmlns="urn:ebay:api:PayPalAPI" xsi:type="ebl:CustomSecurityHeaderType"><Credentials
        xmlns="urn:ebay:apis:eBLBaseComponents" xsi:type="ebl:UserIdPasswordType"><Username
        xsi:type="xs:string"></Username><Password xsi:type="xs:string"></Password><Signature
        xsi:type="xs:string"></Signature><Subject xsi:type="xs:string"></Subject></Credentials></RequesterCredentials></SOAP-ENV:Header><SOAP-ENV:Body
        id="_0"><RefundTransactionResponse xmlns="urn:ebay:api:PayPalAPI"><Timestamp
        xmlns="urn:ebay:apis:eBLBaseComponents">2019-10-31T19:59:14Z</Timestamp><Ack
        xmlns="urn:ebay:apis:eBLBaseComponents">Success</Ack><CorrelationID xmlns="urn:ebay:apis:eBLBaseComponents">50f9b835b7a7f</CorrelationID><Version
        xmlns="urn:ebay:apis:eBLBaseComponents">117.0</Version><Build xmlns="urn:ebay:apis:eBLBaseComponents">000000</Build><RefundTransactionID>7B9618018S1984129</RefundTransactionID><NetRefundAmount
        xsi:type="cc:BasicAmountType" currencyID="USD">4.85</NetRefundAmount><FeeRefundAmount
        xsi:type="cc:BasicAmountType" currencyID="USD">0.15</FeeRefundAmount><GrossRefundAmount
        xsi:type="cc:BasicAmountType" currencyID="USD">5.00</GrossRefundAmount><TotalRefundedAmount
        xsi:type="cc:BasicAmountType" currencyID="USD">5.00</TotalRefundedAmount><RefundInfo
        xmlns="urn:ebay:apis:eBLBaseComponents" xsi:type="ebl:RefundInfoType"><RefundStatus
        xsi:type="ebl:PaymentStatusCodeType">Instant</RefundStatus><PendingReason
        xsi:type="ebl:PendingStatusCodeType">none</PendingReason></RefundInfo></RefundTransactionResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Thu, 31 Oct 2019 19:59:15 GMT
recorded_with: VCR 3.0.3
