---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0025+0000+3155&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 31d26f91-ca7e-47bd-ac8a-274eaafeaade
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 31d26f91-ca7e-47bd-ac8a-274eaafeaade
      Original-Request:
      - req_ZOCMG7cs4kjBHK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfA89e1RjUNIyYVoH7czGU",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "FR",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "oAfFzXbpUnAdpxWE",
            "funding": "credit",
            "generated_from": null,
            "last4": "3155",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703852860,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:27:40 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfA89e1RjUNIyYVoH7czGU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0OSfA89e1RjUNIyYVoH7czGU
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fc6f1c49-2df6-4312-bc42-550d00c3e695
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fc6f1c49-2df6-4312-bc42-550d00c3e695
      Original-Request:
      - req_EJEXg8J1vBAvd4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDbWNmFyqt10J",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703852861,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "3CDEE803",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:27:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method_types[0]=card&usage=off_session&customer=cus_PHDbWNmFyqt10J&payment_method=pm_0OSfA89e1RjUNIyYVoH7czGU
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - beddd460-28b5-4a93-a85d-ae673b101846
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - beddd460-28b5-4a93-a85d-ae673b101846
      Original-Request:
      - req_d652hpTpqrG7yI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OSfA99e1RjUNIyYgZqhzPet",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OSfA99e1RjUNIyYgZqhzPet_secret_PHDbmxbvqYVF4mGK3ttu8OO94yhFsIN",
          "created": 1703852861,
          "customer": "cus_PHDbWNmFyqt10J",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": null,
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfA89e1RjUNIyYVoH7czGU",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "requires_confirmation",
          "usage": "off_session"
        }
  recorded_at: Fri, 29 Dec 2023 12:27:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents/seti_0OSfA99e1RjUNIyYgZqhzPet/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f7f23177-82a2-4b47-a3ce-45a016f2234b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f7f23177-82a2-4b47-a3ce-45a016f2234b
      Original-Request:
      - req_p244QnG9RRydSj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OSfA99e1RjUNIyYgZqhzPet",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OSfA99e1RjUNIyYgZqhzPet_secret_PHDbmxbvqYVF4mGK3ttu8OO94yhFsIN",
          "created": 1703852861,
          "customer": "cus_PHDbWNmFyqt10J",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0OSfAA9e1RjUNIyYAbq8NWu4",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": {
            "type": "use_stripe_sdk",
            "use_stripe_sdk": {
              "source": "src_0OSfAA9e1RjUNIyYVWBIS49V",
              "stripe_js": "https://hooks.stripe.com/redirect/authenticate/src_0OSfAA9e1RjUNIyYVWBIS49V?client_secret=src_client_secret_ERIYOAGXB3KT9uDAIFZicBL2&source_redirect_slug=test_OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUsX1BIRGJWdnQyajNlaEx0Zzh1Y1JReVBYUGYwVXNYb1g0100Lrs5WvFW",
              "type": "three_d_secure_redirect"
            }
          },
          "on_behalf_of": null,
          "payment_method": "pm_0OSfA89e1RjUNIyYVoH7czGU",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "requires_action",
          "usage": "off_session"
        }
  recorded_at: Fri, 29 Dec 2023 12:27:42 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/setup_intents/seti_0OSfA99e1RjUNIyYgZqhzPet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents/seti_0OSfA99e1RjUNIyYgZqhzPet/cancel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5fa34acb-4d81-411b-a542-5d16fc474406
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
    [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents/seti_0OSfA99e1RjUNIyYgZqhzPet/cancel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 48c7d8a1-41c0-48c8-9bac-bc1f9e7ecab9
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 48c7d8a1-41c0-48c8-9bac-bc1f9e7ecab9
      Original-Request:
      - req_JyspTPS1SrqY2y
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "setup_intent_unexpected_state",
            "doc_url": "https://stripe.com/docs/error-codes/setup-intent-unexpected-state",
            "message": "You cannot cancel this SetupIntent because it it already canceled.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_JyspTPS1SrqY2y?t=1703852864",
            "setup_intent": {
              "id": "seti_0OSfA99e1RjUNIyYgZqhzPet",
              "object": "setup_intent",
              "application": null,
              "automatic_payment_methods": null,
              "cancellation_reason": null,
              "client_secret": "seti_0OSfA99e1RjUNIyYgZqhzPet_secret_PHDbmxbvqYVF4mGK3ttu8OO94yhFsIN",
              "created": 1703852861,
              "customer": "cus_PHDbWNmFyqt10J",
              "description": null,
              "flow_directions": null,
              "last_setup_error": null,
              "latest_attempt": "setatt_0OSfAA9e1RjUNIyYAbq8NWu4",
              "livemode": false,
              "mandate": null,
              "metadata": {
              },
              "next_action": null,
              "on_behalf_of": null,
              "payment_method": "pm_0OSfA89e1RjUNIyYVoH7czGU",
              "payment_method_configuration_details": null,
              "payment_method_options": {
                "card": {
                  "mandate_options": null,
                  "network": null,
                  "request_three_d_secure": "automatic"
                }
              },
              "payment_method_types": [
                "card"
              ],
              "single_use_mandate": null,
              "status": "canceled",
              "usage": "off_session"
            },
            "type": "invalid_request_error"
          }
        }
  recorded_at: Fri, 29 Dec 2023 12:42:42 GMT
[...]
