---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - '08ca6455-d8c3-46ff-b10a-0770f2e616c6'
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '08ca6455-d8c3-46ff-b10a-0770f2e616c6'
      Original-Request:
      - req_h5FWTIXc7X2sau
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6tFB9e1RjUNIyYnORBHntN",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698663774,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 11:02:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6tFB9e1RjUNIyYnORBHntN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=10000&currency=usd&description=You+bought+http%3A%2F%2Fedgarf75db90091.test.gumroad.com%3A31337%2Fl%2Fv&metadata[purchase]=s490-18g8StBYSKm3vM3Uw%3D%3D&transfer_group=280&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0O6tFB9e1RjUNIyYnORBHntN&statement_descriptor_suffix=edgarf75db90091
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 45c77098-f2a9-4c06-b143-393718dec2c7
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 45c77098-f2a9-4c06-b143-393718dec2c7
      Original-Request:
      - req_v16DNWu6UESLTL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6tFD9e1RjUNIyY1cV8aoU2",
          "object": "payment_intent",
          "amount": 10000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 10000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6tFD9e1RjUNIyY1cV8aoU2_secret_NSRsrVcVLufy6KaddqBLat0E7",
          "confirmation_method": "manual",
          "created": 1698663775,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarf75db90091.test.gumroad.com:31337/l/v",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6tFD9e1RjUNIyY1gJCc8Gx",
          "livemode": false,
          "metadata": {
            "purchase": "s490-18g8StBYSKm3vM3Uw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6tFB9e1RjUNIyYnORBHntN",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarf75db90091",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "280"
        }
  recorded_at: Mon, 30 Oct 2023 11:02:56 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6tFD9e1RjUNIyY1gJCc8Gx?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6tFD9e1RjUNIyY1gJCc8Gx",
          "object": "charge",
          "amount": 10000,
          "amount_captured": 10000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6tFD9e1RjUNIyY1j0zOkXr",
            "object": "balance_transaction",
            "amount": 10000,
            "available_on": 1698796800,
            "created": 1698663775,
            "currency": "usd",
            "description": "You bought http://edgarf75db90091.test.gumroad.com:31337/l/v",
            "exchange_rate": null,
            "fee": 230,
            "fee_details": [
              {
                "amount": 230,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 9770,
            "reporting_category": "charge",
            "source": "ch_2O6tFD9e1RjUNIyY1gJCc8Gx",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARF75DB9",
          "captured": true,
          "created": 1698663775,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarf75db90091.test.gumroad.com:31337/l/v",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "s490-18g8StBYSKm3vM3Uw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 17,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6tFD9e1RjUNIyY1cV8aoU2",
          "payment_method": "pm_0O6tFB9e1RjUNIyYnORBHntN",
          "payment_method_details": {
            "card": {
              "amount_authorized": 10000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 10000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo4Jr-qQYyBjE5rDQnAjosFjlML32NxlH4LsrXbaGn3X_WkE78ImolYvPAqprucMRE-FFuZIHXBZ0vvoM",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarf75db90091",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "280"
        }
  recorded_at: Mon, 30 Oct 2023 11:02:56 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6tFD9e1RjUNIyY1gJCc8Gx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2O6tFD9e1RjUNIyY1gJCc8Gx&amount=-1
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e962ab1b-66b0-4177-b074-c9713504e5e5
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e962ab1b-66b0-4177-b074-c9713504e5e5
      Original-Request:
      - req_voLhssnuhw466Q
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "parameter_invalid_integer",
            "doc_url": "https://stripe.com/docs/error-codes/parameter-invalid-integer",
            "message": "This value must be greater than or equal to 1.",
            "param": "amount",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_voLhssnuhw466Q?t=1698663777",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 30 Oct 2023 11:02:57 GMT
recorded_with: VCR 6.2.0
