---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 66d29350-ddfd-46b1-bc3c-14ce01003caf
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 66d29350-ddfd-46b1-bc3c-14ce01003caf
      Original-Request:
      - req_sMWMBLRKKZAmqo
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6tEm9e1RjUNIyYIgK7n1tt",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698663748,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 11:02:28 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6tEm9e1RjUNIyYIgK7n1tt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=10000&currency=usd&description=You+bought+http%3A%2F%2Fedgar6bdc1bbf82.test.gumroad.com%3A31337%2Fl%2Fe&metadata[purchase]=9UnCMvhTLeUoLhHslwCDWA%3D%3D&transfer_group=256&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0O6tEm9e1RjUNIyYIgK7n1tt&statement_descriptor_suffix=edgar6bdc1bbf82
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2d66ba74-a3f2-4752-bfb3-6288cebd258e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2d66ba74-a3f2-4752-bfb3-6288cebd258e
      Original-Request:
      - req_NL9baIZdmi0Awr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6tEn9e1RjUNIyY0L35rZMO",
          "object": "payment_intent",
          "amount": 10000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 10000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6tEn9e1RjUNIyY0L35rZMO_secret_xL8TVxSg8PLPE6yEqbKoDpYHy",
          "confirmation_method": "manual",
          "created": 1698663749,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar6bdc1bbf82.test.gumroad.com:31337/l/e",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6tEn9e1RjUNIyY0hwDIlgZ",
          "livemode": false,
          "metadata": {
            "purchase": "9UnCMvhTLeUoLhHslwCDWA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6tEm9e1RjUNIyYIgK7n1tt",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar6bdc1bbf82",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "256"
        }
  recorded_at: Mon, 30 Oct 2023 11:02:30 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6tEn9e1RjUNIyY0hwDIlgZ?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6tEn9e1RjUNIyY0hwDIlgZ",
          "object": "charge",
          "amount": 10000,
          "amount_captured": 10000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6tEn9e1RjUNIyY05HyGQ3X",
            "object": "balance_transaction",
            "amount": 10000,
            "available_on": 1698796800,
            "created": 1698663749,
            "currency": "usd",
            "description": "You bought http://edgar6bdc1bbf82.test.gumroad.com:31337/l/e",
            "exchange_rate": null,
            "fee": 230,
            "fee_details": [
              {
                "amount": 230,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 9770,
            "reporting_category": "charge",
            "source": "ch_2O6tEn9e1RjUNIyY0hwDIlgZ",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR6BDC1B",
          "captured": true,
          "created": 1698663749,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar6bdc1bbf82.test.gumroad.com:31337/l/e",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "9UnCMvhTLeUoLhHslwCDWA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 35,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6tEn9e1RjUNIyY0L35rZMO",
          "payment_method": "pm_0O6tEm9e1RjUNIyYIgK7n1tt",
          "payment_method_details": {
            "card": {
              "amount_authorized": 10000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 10000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUox5r-qQYyBnD1psaX7TosFjXfaM5oW8TU65n81xXR4L0y0tCCbdsB-XiPZHDrT_5No8z5ZbO5VXaa2ng",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar6bdc1bbf82",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "256"
        }
  recorded_at: Mon, 30 Oct 2023 11:02:31 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6tEn9e1RjUNIyY0hwDIlgZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2O6tEn9e1RjUNIyY0hwDIlgZ&amount=5050
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4b8dee6c-a5d5-4f36-bf4c-3bcfedba1e49
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4b8dee6c-a5d5-4f36-bf4c-3bcfedba1e49
      Original-Request:
      - req_vMFI2UshhnN07j
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2O6tEn9e1RjUNIyY08RZaitU",
          "object": "refund",
          "amount": 5050,
          "balance_transaction": "txn_2O6tEn9e1RjUNIyY0m4R1035",
          "charge": "ch_2O6tEn9e1RjUNIyY0hwDIlgZ",
          "created": 1698663752,
          "currency": "usd",
          "metadata": {},
          "payment_intent": "pi_2O6tEn9e1RjUNIyY0L35rZMO",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Mon, 30 Oct 2023 11:02:32 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2O6tEn9e1RjUNIyY08RZaitU?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6tEn9e1RjUNIyY0hwDIlgZ?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
