---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic QWFEdkxJeUYwVFRlVUJqUEIwM3BBVkdjRFM1S0JNenFkcktyNU9VRXN2TWdBNnM5czNTNHdaY1U0cm1VUDI0WjczeEk2eHRlY2I2MjVibDY6RVBMQ2dJOE9CY2g2RzUyeHRTeHNBSVVDbGdobVJqZ3o2T2FvNndmT1RXMGtZN3F1UXFCa1ZsT3c0RFdqU2NlWnNQQ0x4OWczSEEyOFhUbzU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 9c930637774e1
      X-Paypal-Token-Service:
      - IAAS
      Http-X-Pp-Az-Locator:
      - ccg18.slc
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/customer/partner-referrals/readwrite
        https://uri.paypal.com/services/payments/partnerfee https://uri.paypal.com/services/invoicing
        https://uri.paypal.com/services/payments/futurepayments https://uri.paypal.com/services/payments/realtimepayment
        https://uri.paypal.com/services/customer/onboarding/user https://api.paypal.com/v1/vault/credit-card
        https://api.paypal.com/v1/payments/.* https://uri.paypal.com/services/payments/referenced-payouts-items/readwrite
        https://uri.paypal.com/services/reporting/search/read https://uri.paypal.com/services/customer/partner
        https://uri.paypal.com/services/customer/merchant-integrations/read https://uri.paypal.com/services/applications/webhooks
        https://uri.paypal.com/services/disputes/update-seller https://uri.paypal.com/services/payments/payment/authcapture
        openid https://uri.paypal.com/services/disputes/read-seller https://uri.paypal.com/services/payments/refund
        https://uri.paypal.com/services/risk/raas/transaction-context https://uri.paypal.com/services/customer/consumer-referrals/create
        https://uri.paypal.com/services/partners/merchant-accounts/readwrite https://uri.paypal.com/services/identity/grantdelegation
        https://uri.paypal.com/services/customer/onboarding/account https://uri.paypal.com/payments/payouts
        https://uri.paypal.com/services/customer/onboarding/sessions https://api.paypal.com/v1/vault/credit-card/.*
        https://uri.paypal.com/services/subscriptions","access_token":"A21AAKmYsFktN0YJC4buFBlff7o_sxfWcGHJrde5yjfqvq0EIVcTC4rRWCKduQ3EoHptEwzltJ3Fut_DCBX6ywQpkykwEDy5A","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":31747,"nonce":"2025-03-28T19:41:19ZK88ALdYTKTbOQFgTC5SiHKb7uwVUVWlZPjcMXAdEGpA"}'
  recorded_at: Fri, 28 Mar 2025 19:52:12 GMT
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v1/customer/partners/<PAYPAL_PARTNER_MERCHANT_ID>/merchant-integrations/B66YJBBNCRW6L
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer A21AAKmYsFktN0YJC4buFBlff7o_sxfWcGHJrde5yjfqvq0EIVcTC4rRWCKduQ3EoHptEwzltJ3Fut_DCBX6ywQpkykwEDy5A
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Application-Id:
      - APP-80W284485P519543T
      Caller-Acct-Num:
      - <PAYPAL_PARTNER_MERCHANT_ID>
      Paypal-Debug-Id:
      - 2289a967b7346
      Http-X-Pp-Az-Locator:
      - ccg18.slc
    body:
      encoding: UTF-8
      string: '{"merchant_id":"B66YJBBNCRW6L","tracking_id":"1592901550","products":[{"name":"PPCP_STANDARD","vetting_status":"SUBSCRIBED","capabilities":["SPEND_FROM_BALANCE"]},{"name":"MOBILE_PAYMENT_ACCEPTANCE","status":"ACTIVE"},{"name":"PPCP_CUSTOM","vetting_status":"SUBSCRIBED","capabilities":["CARD_PROCESSING_VIRTUAL_TERMINAL","COMMERCIAL_ENTITY","DEBIT_CARD_SWITCH","FRAUD_TOOL_ACCESS","AMEX_OPTBLUE","CUSTOM_CARD_PROCESSING"]}],"capabilities":[{"name":"CARD_PROCESSING_VIRTUAL_TERMINAL","status":"ACTIVE"},{"name":"COMMERCIAL_ENTITY","status":"ACTIVE"},{"name":"DEBIT_CARD_SWITCH","status":"ACTIVE"},{"name":"SPEND_FROM_BALANCE","status":"ACTIVE"},{"name":"FRAUD_TOOL_ACCESS","status":"ACTIVE"},{"name":"AMEX_OPTBLUE","status":"ACTIVE"},{"name":"CUSTOM_CARD_PROCESSING","status":"ACTIVE"}],"payments_receivable":true,"legal_name":"John
        Doe''s Test Store","primary_email":"sb-byx2u2205460@business.example.com","primary_email_confirmed":true,"oauth_integrations":[{"integration_type":"OAUTH_THIRD_PARTY","integration_method":"PAYPAL","oauth_third_party":[{"partner_client_id":"<PAYPAL_PARTNER_CLIENT_ID>","merchant_client_id":"AaqC6zBkZjZFpVepKOa8jeJzpnsJw5aF61sa5r-6-WDYhP7hI2_z8tvoJ3i007IaGcJJxx03dPHKpAlO","scopes":["https://uri.paypal.com/services/payments/delay-funds-disbursement","https://uri.paypal.com/services/payments/realtimepayment","https://uri.paypal.com/services/payments/partnerfee","https://uri.paypal.com/services/payments/refund","https://uri.paypal.com/services/customer/merchant-integrations/read","https://uri.paypal.com/services/payments/payment/authcapture"]}]}],"primary_currency":"USD","country":"US"}'
  recorded_at: Fri, 28 Mar 2025 19:52:14 GMT
recorded_with: VCR 6.2.0
