---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/apple_pay/domains
    body:
      encoding: UTF-8
      string: domain_name=sampleusername.gumroad.dev
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 55b39bdd-2120-4ee8-ad15-8510680ca462
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 55b39bdd-2120-4ee8-ad15-8510680ca462
      Original-Request:
      - req_LZZWTB3sknCY13
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "apwc_0JtpVO9e1RjUNIyYKAONFjSs",
          "object": "apple_pay_domain",
          "created": 1636445794,
          "domain_name": "sampleusername.gumroad.dev",
          "livemode": false
        }
  recorded_at: Tue, 31 Oct 2023 19:08:30 GMT
recorded_with: VCR 6.2.0
