---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0025+0000+3155&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9c6188a9-0f60-442f-ad80-1ed26ca82b15
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9c6188a9-0f60-442f-ad80-1ed26ca82b15
      Original-Request:
      - req_tXVkhkOcGLDsGb
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSezh9e1RjUNIyYzoGMPpVW",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "FR",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "oAfFzXbpUnAdpxWE",
            "funding": "credit",
            "generated_from": null,
            "last4": "3155",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703852213,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:16:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSezh9e1RjUNIyYzoGMPpVW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0OSezh9e1RjUNIyYzoGMPpVW
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7c8495fd-a64a-4efc-b4c8-32bc778654d1
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7c8495fd-a64a-4efc-b4c8-32bc778654d1
      Original-Request:
      - req_dB3BOe4hv2APIW
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDQ38jEGS6VSC",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703852214,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "B0423BC7",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:16:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: customer=cus_PHDQ38jEGS6VSC&payment_method=pm_0OSezh9e1RjUNIyYzoGMPpVW
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a930dc6f-c446-41bb-b17f-f77d4dd55d69
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a930dc6f-c446-41bb-b17f-f77d4dd55d69
      Original-Request:
      - req_f9KrEb5x6tub2U
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1OSezjKQKir5qdfMb[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=Gumroad+Charge+oTYQX5WWJ1roefyNCVPSvw%3D%3D&metadata[0on8Dh-3wxE3zc8CKSUIpw%3D%3D]=%7B%3Aprice_cents%3D%3E1000%2C+%3Afee_cents%3D%3E100%2C+%3Aaffiliate_credit_cents%3D%3E0%2C+%3Agumroad_tax_cents%3D%3E0%2C+%3Atotal_transaction_cents%3D%3E1000%7D&transfer_group=CH-28&payment_method_types[0]=card&off_session=false&payment_method=pm_1OSezjKQKir5qdfMbHSbLdjN&statement_descriptor_suffix=edgare43e2ec836&application_fee_amount=100
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3461ccc1-ad78-426b-9db8-ca3c6038db69
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3461ccc1-ad78-426b-9db8-ca3c6038db69
      Original-Request:
      - req_w5NGoc7gHTSwVV
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3OSezjKQKir5qdfM0Mx02UGX",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee_amount": 100,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3OSezjKQKir5qdfM0Mx02UGX_secret_Hk07Rp4e8Vhnb55AICV7spcHU",
          "confirmation_method": "automatic",
          "created": 1703852215,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge oTYQX5WWJ1roefyNCVPSvw==",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "0on8Dh-3wxE3zc8CKSUIpw==": "{:price_cents=>1000, :fee_cents=>100, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>1000}"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1OSezjKQKir5qdfMbHSbLdjN",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare43e2ec836",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-28"
        }
  recorded_at: Fri, 29 Dec 2023 12:16:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3OSezjKQKir5qdfM0Mx02UGX/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 96ddb58b-ffc7-4e8e-b00d-79cb22a5b901
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
  response:
    status:
      code: 200
  [...]
