http_interactions:
- recorded_at: Sat, 11 Nov 2023 20:06:53 GMT
  request:
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123&billing_details[address][postal_code]=12345
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5b06ad3f-2a1a-4c7e-8127-15aebf65d7ca
      Stripe-Version:
      - '2023-10-16'
    method: post
    uri: https://api.stripe.com/v1/payment_methods
  response:
    body:
      encoding: UTF-8
      string: "{\n  \"id\": \"pm_0OBNSD9e1RjUNIyYSA9nPAXo\",\n  \"object\": \"payment_method\"\
        ,\n  \"billing_details\": {\n    \"address\": {\n      \"city\": null,\n \
        \     \"country\": null,\n      \"line1\": null,\n      \"line2\": null,\n\
        \      \"postal_code\": \"12345\",\n      \"state\": null\n    },\n    \"\
        email\": null,\n    \"name\": null,\n    \"phone\": null\n  },\n  \"card\"\
        : {\n    \"brand\": \"visa\",\n    \"checks\": {\n      \"address_line1_check\"\
        : null,\n      \"address_postal_code_check\": \"unchecked\",\n      \"cvc_check\"\
        : \"unchecked\"\n    },\n    \"country\": \"US\",\n    \"exp_month\": 12,\n\
        \    \"exp_year\": 2023,\n    \"fingerprint\": \"W691J2Ye3VDoq6Ij\",\n   \
        \ \"funding\": \"credit\",\n    \"generated_from\": null,\n    \"last4\":\
        \ \"4242\",\n    \"networks\": {\n      \"available\": [\n        \"visa\"\
        \n      ],\n      \"preferred\": null\n    },\n    \"three_d_secure_usage\"\
        : {\n      \"supported\": true\n    },\n    \"wallet\": null\n  },\n  \"created\"\
        : 1699733213,\n  \"customer\": null,\n  \"livemode\": false,\n  \"metadata\"\
        : {},\n  \"type\": \"card\"\n}"
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5b06ad3f-2a1a-4c7e-8127-15aebf65d7ca
      Original-Request:
      - req_npZIeXTBKM1naI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    status:
      code: 200
      message: OK
- recorded_at: Sat, 11 Nov 2023 20:06:54 GMT
  request:
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OBNSD9e1RjUNIyYSA9nPAXo
  response:
    body:
      encoding: UTF-8
      string: "{\n  \"id\": \"pm_0OBNSD9e1RjUNIyYSA9nPAXo\",\n  \"object\": \"paym[...]
