---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5f26d4b2-af6e-4842-a970-5f13ecba5c9f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5f26d4b2-af6e-4842-a970-5f13ecba5c9f
      Original-Request:
      - req_dmNLRnGN8dYmFe
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSezH9e1RjUNIyYOAXD0PyQ",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703852187,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:16:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSezH9e1RjUNIyYOAXD0PyQ
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c4e8ba35-7961-4ecf-ad85-b92941026c8e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c4e8ba35-7961-4ecf-ad85-b92941026c8e
      Original-Request:
      - req_GGWcjGql7AEjxC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDQGDAv2vIIzn",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703852187,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "E169AE13",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:16:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSezH9e1RjUNIyYOAXD0PyQ&customer=cus_PHDQGDAv2vIIzn&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7cd6c10a-9899-4f0d-a906-c2c3e7e31194
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7cd6c10a-9899-4f0d-a906-c2c3e7e31194
      Original-Request:
      - req_31azcMIgTjmJpG
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OSezI9e1RjUNIyYCxZY01e6",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OSezI9e1RjUNIyYCxZY01e6_secret_PHDQfLu3R1UPOqttJjJd6tnvK7plwJA",
          "created": 1703852188,
          "customer": "cus_PHDQGDAv2vIIzn",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0OSezI9e1RjUNIyYntPFlo6R",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSezH9e1RjUNIyYOAXD0PyQ",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Fri, 29 Dec 2023 12:16:29 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSezH9e1RjUNIyYOAXD0PyQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500&currency=usd&description=Gumroad+Charge+1xMAsp7vO8xnlnlkY2qL1Q%3D%3D&metadata[8ev_Q8PW9oU6gj04ZZ5vPg%3D%3D]=%7B%3Aprice_cents%3D%3E500%2C+%3Afee_cents%3D%3E75%2C+%3Aaffiliate_credit_cents%3D%3E0%2C+%3Agumroad_tax_cents%3D%3E0%2C+%3Atotal_transaction_cents%3D%3E500%7D&transfer_group=CH-24&payment_method_types[0]=card&off_session=false&customer=cus_PHDQGDAv2vIIzn&payment_method=pm_0OSezH9e1RjUNIyYOAXD0PyQ&statement_descriptor_suffix=edgare7917e0130
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - be5c7b5e-8aa9-47a6-a022-c560cc54cd6f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - be5c7b5e-8aa9-47a6-a022-c560cc54cd6f
      Original-Request:
      - req_ofIoYSVbl4d7Q6
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSezK9e1RjUNIyY0DnZ5qxn",
          "object": "payment_intent",
          "amount": 500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSezK9e1RjUNIyY0DnZ5qxn_secret_k4fAzYR4DL0kWN1haY3t27N7Y",
          "confirmation_method": "automatic",
          "created": 1703852190,
          "currency": "usd",
          "customer": "cus_PHDQGDAv2vIIzn",
          "description": "Gumroad Charge 1xMAsp7vO8xnlnlkY2qL1Q==",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "8ev_Q8PW9oU6gj04ZZ5vPg==": "{:price_cents=>500, :fee_cents=>75, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>500}"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSezH9e1RjUNIyYOAXD0PyQ",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare7917e0130",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-24"
        }
  recorded_at: Fri, 29 Dec 2023 12:16:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSezK9e1RjUNIyY0DnZ5qxn/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1dd4c225-2ed3-4e31-add4-fb02164c0eac
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSezK9e1RjUNIyY0UvLjYTp?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OSezK9e1RjUNIyY0UvLjYTp",
          "object": "charge",
          "amount": 500,
          "amount_captured": 500,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OSezK9e1RjUNIyY001V4IPc",
            "object": "balance_transaction",
            "amount": 500,
            "available_on": 1704240000,
            "created": 1703852191,
            "currency": "usd",
            "description": "Gumroad Charge 1xMAsp7vO8xnlnlkY2qL1Q==",
            "exchange_rate": null,
            "fee": 30,
            "fee_details": [
              {
                "amount": 30,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 470,
            "reporting_category": "charge",
            "source": "ch_2OSezK9e1RjUNIyY0UvLjYTp",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARE7917E",
          "captured": true,
          "created": 1703852191,
          "currency": "usd",
          "customer": "cus_PHDQGDAv2vIIzn",
          "description": "Gumroad Charge 1xMAsp7vO8xnlnlkY2qL1Q==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "8ev_Q8PW9oU6gj04ZZ5vPg==": "{:price_cents=>500, :fee_cents=>75, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>500}"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 23,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OSezK9e1RjUNIyY0DnZ5qxn",
          "payment_method": "pm_0OSezH9e1RjUNIyYOAXD0PyQ",
          "payment_method_details": {
            "card": {
              "amount_authorized": 500,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 500,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUooPG6rAYyBv_tDAsj3DosFjk7_vrwNP7LJYaLv360gxmH_bDZ64zIci5oO4IxBcUWqXcikKl6SNAPufg",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare7917e0130",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-24"
        }
  recorded_at: Fri, 29 Dec 2023 12:16:33 GMT
recorded_with: VCR 6.2.0
