---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a4b91e1f-9e59-4b44-b6fa-a7906b273f72
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a4b91e1f-9e59-4b44-b6fa-a7906b273f72
      Original-Request:
      - req_seRGKr9Jl36qY5
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6ybQ9e1RjUNIyY60mnPwiN",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698684372,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 16:46:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=CA&default_currency=cad&type=custom&business_type=individual&tos_acceptance[date]=1427846400&tos_acceptance[ip]=54.234.242.13&business_profile[url]=www.gumroad.com&business_profile[product_description]=Test+product&business_profile[mcc]=5734&individual[verification][document][front]=file_identity_document_success&individual[dob][day]=1&individual[dob][month]=1&individual[[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1O6ybRS4E7wxLFo8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O6ybRS4E7wxLFo8
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1O6ybRS4E7wxLFo8",
          "object": "account",
          "business_profile": {
            "mcc": "5734",
            "name": null,
            "product_description": "Test product",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "www.gumroad.com"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "active",
            "transfers": "active"
          },
          "charges_enabled": true,
          "company": {
            "address": {
              "city": "Toronto",
              "country": "CA",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "M4C 1T2",
              "state": "ON"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "CA",
          "created": 1698684375,
          "default_currency": "cad",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1O6ybRS4E7wxLFo8NvcCOwXn",
                "object": "bank_account",
                "account": "acct_1O6ybRS4E7wxLFo8",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "CA",
                "currency": "cad",
                "default_for_currency": true,
                "fingerprint": "bHAdUgrfRKNYlJ4L",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "11000-000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1O6ybRS4E7wxLFo8/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1O6ybSS4E7wxLFo8e04ecmyC",
            "object": "person",
            "account": "acct_1O6ybRS4E7wxLFo8",
            "address": {
              "city": "Toronto",
              "country": "CA",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "M4C 1T2",
              "state": "ON"
            },
            "created": 1698684374,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "me@example.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": "file_0O6ybR9e1RjUNIyYPSy1KoL2"
              },
              "status": "verified"
            }
          },
          "metadata": {},
          "payouts_enabled": true,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {},
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "GUMROAD.CO",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Gumroad",
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "GUMROAD.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 7,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1427846400,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Mon, 30 Oct 2023 16:46:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0O6ybQ9e1RjUNIyY60mnPwiN&confirmation_method=manual&payment_method_types[0]=card&confirm=true&amount=1000&currency=usd&transfer_data[destination]=acct_1O6ybRS4E7wxLFo8&on_behalf_of=acct_1O6ybRS4E7wxLFo8
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d6f275ac-5777-4db3-92b7-ffa733c6895c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d6f275ac-5777-4db3-92b7-ffa733c6895c
      Original-Request:
      - req_1w4n8DIZxhn49n
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6ybV9e1RjUNIyY0peaTd1w",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6ybV9e1RjUNIyY0peaTd1w_secret_GxQVTSBfLVBoMaJgmKf0NNR2J",
          "confirmation_method": "manual",
          "created": 1698684377,
          "currency": "usd",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6ybV9e1RjUNIyY0vAxNOI1",
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": "acct_1O6ybRS4E7wxLFo8",
          "payment_method": "pm_0O6ybQ9e1RjUNIyY60mnPwiN",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": {
            "destination": "acct_1O6ybRS4E7wxLFo8"
          },
          "transfer_group": "group_pi_2O6ybV9e1RjUNIyY0peaTd1w"
        }
  recorded_at: Mon, 30 Oct 2023 16:46:19 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6ybV9e1RjUNIyY0vAxNOI1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6ybV9e1RjUNIyY0vAxNOI1",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_2O6ybV9e1RjUNIyY0q1g79e7",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD.COM",
          "captured": true,
          "created": 1698684378,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": "acct_1O6ybRS4E7wxLFo8",
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": "acct_1O6ybRS4E7wxLFo8",
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 63,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6ybV9e1RjUNIyY0peaTd1w",
          "payment_method": "pm_0O6ybQ9e1RjUNIyY60mnPwiN",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo3Lv_qQYyBkRGgrgz5TosFhtMTDQFgTrfchfeaUXta1Pw8SctYKcRPX202E-FbdqxWgnO1WVUQYrUJDw",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer": "tr_2O6ybV9e1RjUNIyY0T3POSvB",
          "transfer_data": {
            "amount": null,
            "destination": "acct_1O6ybRS4E7wxLFo8"
          },
          "transfer_group": "group_pi_2O6ybV9e1RjUNIyY0peaTd1w"
        }
  recorded_at: Mon, 30 Oct 2023 16:46:20 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2O6ybV9e1RjUNIyY0vAxNOI1&reverse_transfer=true&refund_application_fee=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - be659ac4-a8fc-4799-9d84-f3473e8ef50d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - be659ac4-a8fc-4799-9d84-f3473e8ef50d
      Original-Request:
      - req_plSOTmGInihxZs
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2O6ybV9e1RjUNIyY0eQg7X7S",
          "object": "refund",
          "amount": 1000,
          "balance_transaction": "txn_2O6ybV9e1RjUNIyY0HP5Cngc",
          "charge": "ch_2O6ybV9e1RjUNIyY0vAxNOI1",
          "created": 1698684381,
          "currency": "usd",
          "metadata": {},
          "payment_intent": "pi_2O6ybV9e1RjUNIyY0peaTd1w",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": "trr_0O6ybZ9e1RjUNIyYzfUQc7wL"
        }
  recorded_at: Mon, 30 Oct 2023 16:46:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2O6ybV9e1RjUNIyY0eQg7X7S?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2O6ybV9e1RjUNIyY0eQg7X7S",
          "object": "refund",
          "amount": 1000,
          "balance_transaction": {
            "id": "txn_2O6ybV9e1RjUNIyY0HP5Cngc",
            "object": "balance_transaction",
            "amount": -1383,
            "available_on": 1699228800,
            "created": 1698684381,
            "currency": "cad",
            "description": "REFUND FOR CHARGE",
            "exchange_rate": 1.38343,
            "fee": -69,
            "fee_details": [
              {
                "amount": -69,
                "application": null,
                "currency": "cad",
                "description": "Stripe processing fee refund",
                "type": "stripe_fee"
              }
            ],
            "net": -1314,
            "reporting_category": "refund",
            "source": "re_2O6ybV9e1RjUNIyY0eQg7X7S",
            "status": "pending",
            "type": "refund"
          },
          "charge": "ch_2O6ybV9e1RjUNIyY0vAxNOI1",
          "created": 1698684381,
          "currency": "usd",
          "metadata": {},
          "payment_intent": "pi_2O6ybV9e1RjUNIyY0peaTd1w",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": "trr_0O6ybZ9e1RjUNIyYzfUQc7wL"
        }
  recorded_at: Mon, 30 Oct 2023 16:46:23 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6ybV9e1RjUNIyY0vAxNOI1?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2O6ybV9e1RjUNIyY0T3POSvB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2O6ybV9e1RjUNIyY0T3POSvB",
          "object": "transfer",
          "amount": 1356,
          "amount_reversed": 1356,
          "balance_transaction": "txn_2O6ybV9e1RjUNIyY0CGDrSOW",
          "created": 1698684378,
          "currency": "cad",
          "description": null,
          "destination": "acct_1O6ybRS4E7wxLFo8",
          "destination_payment": "py_1O6ybWS4E7wxLFo8OocMLEHu",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [
              {
                "id": "trr_0O6ybZ9e1RjUNIyYzfUQc7wL",
                "object": "transfer_reversal",
                "amount": 1356,
                "balance_transaction": "txn_0O6yba9e1RjUNIyYTEUUqMnZ",
                "created": 1698684381,
                "currency": "cad",
                "destination_payment_refund": "pyr_1O6ybZS4E7wxLFo8kWth5ue9",
                "metadata": {},
                "source_refund": "re_2O6ybV9e1RjUNIyY0eQg7X7S",
                "transfer": "tr_2O6ybV9e1RjUNIyY0T3POSvB"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/transfers/tr_2O6ybV9e1RjUNIyY0T3POSvB/reversals"
          },
          "reversed": true,
          "source_transaction": "ch_2O6ybV9e1RjUNIyY0vAxNOI1",
          "source_type": "card",
          "transfer_group": "group_pi_2O6ybV9e1RjUNIyY0peaTd1w"
        }
  recorded_at: Mon, 30 Oct 2023 16:46:24 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1O6ybWS4E7wxLFo8OocMLEHu?expand%5B%5D=application_fee.refunds&expand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1O6ybRS4E7wxLFo8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O6ybRS4E7wxLFo8
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1O6ybWS4E7wxLFo8OocMLEHu",
          "object": "charge",
          "amount": 1356,
          "amount_captured": 1356,
          "amount_refunded": 1356,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_1O6ybWS4E7wxLFo8ILZnOfik",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": null,
          "captured": true,
          "created": 1698684378,
          "currency": "cad",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": null,
          "paid": true,
          "payment_intent": null,
          "payment_method": null,
          "payment_method_details": {
            "stripe_account": {},
            "type": "stripe_account"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xTzZ5YlJTNEU3d3hMRm84KOC7_6kGMgbHnFlPo806LBZZWXFzYbZv6DpGoJq9RvcFOwtIbUpqu8di6USblGaX8JnHuW68GQbr4ack",
          "refunded": true,
          "refunds": {
            "object": "list",
            "data": [
              {
                "id": "pyr_1O6ybZS4E7wxLFo8kWth5ue9",
                "object": "refund",
                "amount": 1356,
                "balance_transaction": {
                  "id": "txn_1O6ybaS4E7wxLFo8IIwzxf5E",
                  "object": "balance_transaction",
                  "amount": -1356,
                  "available_on": 1699228800,
                  "created": 1698684381,
                  "currency": "cad",
[...]
