---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123&billing_details[address][postal_code]=12345
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 161c0bb7-801e-4ec1-892f-b4f297d8beb7
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 161c0bb7-801e-4ec1-892f-b4f297d8beb7
      Original-Request:
      - req_b1Sy2bwSPhc0mv
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6tL19e1RjUNIyY3ozkIEE2",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": "unchecked",
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698664136,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 11:08:56 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6tL19e1RjUNIyY3ozkIEE2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=600&currency=usd&description=You+bought+http%3A%2F%2Fedgarab71960b58.test.gumroad.com%3A31337%2Fl%2Fw&metadata[purchase]=LiwbSxjgb3UcT38qWgs9lw%3D%3D&transfer_group=47&payment_method_types[0]=card&confirmation_method=manual&confirm=true&payment_method=pm_0O6tL19e1RjUNIyY3ozkIEE2&statement_descriptor_suffix=edgarab71960b58
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d8b09f01-22d5-48a4-8e82-bf968620b88a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d8b09f01-22d5-48a4-8e82-bf968620b88a
      Original-Request:
      - req_3c3bPQuTvEsW0o
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6tL39e1RjUNIyY1s8DKf60",
          "object": "payment_intent",
          "amount": 600,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 600,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6tL39e1RjUNIyY1s8DKf60_secret_V1ChfAzAdItvfxFoC6Gmn9110",
          "confirmation_method": "manual",
          "created": 1698664137,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarab71960b58.test.gumroad.com:31337/l/w",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6tL39e1RjUNIyY1gmyIjfh",
          "livemode": false,
          "metadata": {
            "purchase": "LiwbSxjgb3UcT38qWgs9lw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6tL19e1RjUNIyY3ozkIEE2",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarab71960b58",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "47"
        }
  recorded_at: Mon, 30 Oct 2023 11:08:58 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6tL39e1RjUNIyY1gmyIjfh?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6tL39e1RjUNIyY1gmyIjfh",
          "object": "charge",
          "amount": 600,
          "amount_captured": 600,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6tL39e1RjUNIyY1aoYmQHM",
            "object": "balance_transaction",
            "amount": 600,
            "available_on": 1698796800,
            "created": 1698664137,
            "currency": "usd",
            "description": "You bought http://edgarab71960b58.test.gumroad.com:31337/l/w",
            "exchange_rate": null,
            "fee": 35,
            "fee_details": [
              {
                "amount": 35,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 565,
            "reporting_category": "charge",
            "source": "ch_2O6tL39e1RjUNIyY1gmyIjfh",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARAB7196",
          "captured": true,
          "created": 1698664137,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarab71960b58.test.gumroad.com:31337/l/w",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "LiwbSxjgb3UcT38qWgs9lw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 17,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6tL39e1RjUNIyY1s8DKf60",
          "payment_method": "pm_0O6tL19e1RjUNIyY3ozkIEE2",
          "payment_method_details": {
            "card": {
              "amount_authorized": 600,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": "pass",
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 600,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoy53-qQYyBnQLr_M8TjosFiIonKMUOXLYDV_NQgwWuzxOjbkFRWMtGEdt05vKIaQCnYf3dp5tCfqSYY8",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarab71960b58",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "47"
        }
  recorded_at: Mon, 30 Oct 2023 11:08:59 GMT
recorded_with: VCR 6.2.0
