---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 036a31c4-2157-4d60-a3c8-76c8c252285b
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 036a31c4-2157-4d60-a3c8-76c8c252285b
      Original-Request:
      - req_NWwvxPeWHTBkrr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0S93q39e1RjUNIyYJkIAsvFt",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1758286499,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 19 Sep 2025 12:55:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0S93q39e1RjUNIyYJkIAsvFt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar7f957e7e1.test.gumroad.com%3A31337%2Fl%2Fs%21&metadata[purchase]=97Ozb8Qt8FuvmhKhyAspEw%3D%3D&transfer_group=1884&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0S93q39e1RjUNIyYJkIAsvFt&statement_descriptor_suffix=edgar7f957e7e1
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c6b75785-031c-42a3-a4b7-5e4591c82600
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c6b75785-031c-42a3-a4b7-5e4591c82600
      Original-Request:
      - req_hOujxPgvmH2BV4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2S93qH9e1RjUNIyY18OsvR8S",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2S93qH9e1RjUNIyY18OsvR8S_secret_SZLpK0FjBn2C9FXQCafbPQ4M5",
          "confirmation_method": "automatic",
          "created": 1758286513,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar7f957e7e1.test.gumroad.com:31337/l/s!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2S93qH9e1RjUNIyY1HQml8V7",
          "livemode": false,
          "metadata": {
            "purchase": "97Ozb8Qt8FuvmhKhyAspEw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0S93q39e1RjUNIyYJkIAsvFt",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar7f957e7e1",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1884"
        }
  recorded_at: Fri, 19 Sep 2025 12:55:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2S93qH9e1RjUNIyY1HQml8V7?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2S93qH9e1RjUNIyY1HQml8V7",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2S93qH9e1RjUNIyY13cWyH3Y",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1758585600,
            "balance_type": "payments",
            "created": 1758286513,
            "currency": "usd",
            "description": "You bought http://edgar7f957e7e1.test.gumroad.com:31337/l/s!",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 100,
            "reporting_category": "charge",
            "source": "ch_2S93qH9e1RjUNIyY1HQml8V7",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGAR7F957E7E",
          "captured": true,
          "created": 1758286513,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar7f957e7e1.test.gumroad.com:31337/l/s!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "97Ozb8Qt8FuvmhKhyAspEw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 58,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2S93qH9e1RjUNIyY18OsvR8S",
          "payment_method": "pm_0S93q39e1RjUNIyYJkIAsvFt",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "authorization_code": "013651",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "875457497450891",
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUos6W1xgYyBhV4G38o7josFqPQ-lmaGwu2mA8inxehOeZzNX59d8HfWMcxYqDjQ_LAKo07UmtwjmaLFSc",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar7f957e7e1",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1884"
        }
  recorded_at: Fri, 19 Sep 2025 12:55:15 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0S93qJ9e1RjUNIyY4cb49oEZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2S93qO9e1RjUNIyY0JB1Ph3R?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers[...]
