---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 12e47e5c-cef9-467b-9c86-0111ea8ca156
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 12e47e5c-cef9-467b-9c86-0111ea8ca156
      Original-Request:
      - req_7FlxX2gmnCDCog
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0S93tH9e1RjUNIyYCVhUDiZr",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1758286700,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 19 Sep 2025 12:58:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0S93tH9e1RjUNIyYCVhUDiZr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar40a191391.test.gumroad.com%3A31337%2Fl%2Fu%21&metadata[purchase]=Z8dmHOp_Y3Lxh-pak1-EtQ%3D%3D&transfer_group=1890&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0S93tH9e1RjUNIyYCVhUDiZr&statement_descriptor_suffix=edgar40a191391
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 650c6d59-0fb1-4c4d-978a-ef651e62815c
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 650c6d59-0fb1-4c4d-978a-ef651e62815c
      Original-Request:
      - req_4oje6OZ7M3GKX0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2S93tQ9e1RjUNIyY0Atzryos",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2S93tQ9e1RjUNIyY0Atzryos_secret_U0csgQ7xzJ1Lo6PnUMGqAM2qr",
          "confirmation_method": "automatic",
          "created": 1758286708,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar40a191391.test.gumroad.com:31337/l/u!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2S93tQ9e1RjUNIyY0QQTw8ZV",
          "livemode": false,
          "metadata": {
            "purchase": "Z8dmHOp_Y3Lxh-pak1-EtQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0S93tH9e1RjUNIyYCVhUDiZr",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar40a191391",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1890"
        }
  recorded_at: Fri, 19 Sep 2025 12:58:29 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2S93tQ9e1RjUNIyY0QQTw8ZV?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2S93tQ9e1RjUNIyY0QQTw8ZV",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2S93tQ9e1RjUNIyY02HTqcBm",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1758585600,
            "balance_type": "payments",
            "created": 1758286709,
            "currency": "usd",
            "description": "You bought http://edgar40a191391.test.gumroad.com:31337/l/u!",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 100,
            "reporting_category": "charge",
            "source": "ch_2S93tQ9e1RjUNIyY0QQTw8ZV",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGAR40A19139",
          "captured": true,
          "created": 1758286709,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar40a191391.test.gumroad.com:31337/l/u!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "Z8dmHOp_Y3Lxh-pak1-EtQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 50,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2S93tQ9e1RjUNIyY0Atzryos",
          "payment_method": "pm_0S93tH9e1RjUNIyYCVhUDiZr",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "authorization_code": "099144",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "875457497450891",
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo9qa1xgYyBmuLaMDG_josFgQgCRFcN_OcGB9l1j_rnbhdrU5kaRIFhsZ2O3UF8XJlsfU-5Qr1MDBbnxs",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar40a191391",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1890"
        }
  recorded_at: Fri, 19 Sep 2025 12:58:30 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0S93tS9e1RjUNIyYRE4Vk1t1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0S93tS9e1RjUNIyYRE4Vk1t1
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d880d906-d5ed-450a-ba10-9ec139834118
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d880d906-d5ed-450a-ba10-9ec139834118
      Original-Request:
      - req_BScu2i7rbW4DGr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_T5EMKO9ckCJmDC",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1758286714,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "TLRWGKG4",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 19 Sep 2025 12:58:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: customer=cus_T5EMKO9ckCJmDC&payment_method=pm_0S93tS9e1RjUNIyYRE4Vk1t1
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 304218eb-3835-423d-b5ba-d7b9762a062a
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 304218eb-3835-423d-b5ba-d7b9762a062a
      Original-Request:
      - req_95kElj8UxcArd3
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      str[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3S93tYCOxuflorGu1sBWDIED?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3S93tYCOxuflorGu1sBWDIED",
          "object": "charge",
          "amount": 2500,
          "amount_captured": 2500,
          "amount_refunded": 0,
          "application": "ca_42fpqGTJ6VQbAkyhmnG4BLS1vq0slNN4",
          "application_fee": {
            "id": "fee_1S93tYCOxuflorGuFSFA4UM8",
            "object": "application_fee",
            "account": "acct_1MFA1rCOxuflorGu",
            "amount": 300,
            "amount_refunded": 0,
            "application": "ca_42fpqGTJ6VQbAkyhmnG4BLS1vq0slNN4",
            "balance_transaction": {
              "id": "txn_0S93ta9e1RjUNIyYUHdaukNo",
              "object": "balance_transaction",
              "amount": 300,
              "available_on": 1758844800,
              "balance_type": "payments",
              "created": 1758286716,
              "currency": "usd",
              "description": "Application fee from application Gumroad for acct_1MFA1rCOxuflorGu (acct_1MFA1rCOxuflorGu)",
              "exchange_rate": 1.25956,
              "fee": 0,
              "fee_details": [],
              "net": 300,
              "reporting_category": "platform_earning",
              "source": "fee_1S93tYCOxuflorGuFSFA4UM8",
              "status": "pending",
              "type": "application_fee"
            },
            "charge": "ch_3S93tYCOxuflorGu1sBWDIED",
            "created": 1758286716,
            "currency": "usd",
            "fee_source": {
              "charge": "ch_3S93tYCOxuflorGu1sBWDIED",
              "type": "charge"
            },
            "livemode": false,
            "originating_transaction": null,
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/application_fees/fee_1S93tYCOxuflorGuFSFA4UM8/refunds"
            }
          },
          "application_fee_amount": 300,
          "balance_transaction": {
            "id": "txn_3S93tYCOxuflorGu1924pr8q",
            "object": "balance_transaction",
            "amount": 3149,
            "available_on": 1758844800,
            "balance_type": "payments",
            "created": 1758286716,
            "currency": "sgd",
            "description": "You bought http://edgar40a191391.test.g[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3S93tYCOxuflorGu1sBWDIED
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3S93tYCOxuflorGu1sBWDIED&refund_application_fee=false
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f7ea2ba3-b4c0-4022-b5d8-8d152de4e920
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f7ea2ba3-b4c0-4022-b5d8-8d152de4e920
      Original-Request:
      - req_luSf9VFS0vzysw
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3S93tYCOxuflorGu1Vydsmcq",
          "object": "refund",
          "amount": 2500,
          "balance_transaction": "txn_3S93tYCOxuflorGu1B2kk4SC",
          "charge": "ch_3S93tYCOxuflorGu1sBWDIED",
          "created": 1758286743,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_3S93tYCOxuflorGu1ig9hPhX",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Fri, 19 Sep 2025 12:59:04 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_3S93tYCOxuflorGu1Vydsmcq?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    head[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3S93tYCOxuflorGu1sBWDIED?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  re[...]
