---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 06470634-5d52-4f23-b50f-95b536101875
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 06470634-5d52-4f23-b50f-95b536101875
      Original-Request:
      - req_bf8MLO05ko00Q0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OHALo9e1RjUNIyYPH8uLd0M",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1701112812,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 27 Nov 2023 19:20:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OHALo9e1RjUNIyYPH8uLd0M
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar7c2139dc1.test.gumroad.com%3A31337%2Fl%2Fo&metadata[purchase]=G_-mnBf9b1j9A7a4ub4nFQ%3D%3D&transfer_group=1&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0OHALo9e1RjUNIyYPH8uLd0M&statement_descriptor_suffix=edgar7c2139dc1
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - acca59f5-ed99-46dd-9a26-0b1f9405791d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - acca59f5-ed99-46dd-9a26-0b1f9405791d
      Original-Request:
      - req_OpE76BkV6vD0sH
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OHALq9e1RjUNIyY0b528ytq",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OHALq9e1RjUNIyY0b528ytq_secret_vXPzBNBj63mA6ms56prnFgssQ",
          "confirmation_method": "manual",
          "created": 1701112814,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar7c2139dc1.test.gumroad.com:31337/l/o",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OHALq9e1RjUNIyY0METiJtn",
          "livemode": false,
          "metadata": {
            "purchase": "G_-mnBf9b1j9A7a4ub4nFQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OHALo9e1RjUNIyYPH8uLd0M",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar7c2139dc1",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1"
        }
  recorded_at: Mon, 27 Nov 2023 19:20:15 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHALq9e1RjUNIyY0METiJtn?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OHALq9e1RjUNIyY0METiJtn",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OHALq9e1RjUNIyY0iYgDMF9",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1701216000,
            "created": 1701112814,
            "currency": "usd",
            "description": "You bought http://edgar7c2139dc1.test.gumroad.com:31337/l/o",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2OHALq9e1RjUNIyY0METiJtn",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR7C2139",
          "captured": true,
          "created": 1701112814,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar7c2139dc1.test.gumroad.com:31337/l/o",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "G_-mnBf9b1j9A7a4ub4nFQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 23,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OHALq9e1RjUNIyY0b528ytq",
          "payment_method": "pm_0OHALo9e1RjUNIyYPH8uLd0M",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo8NeTqwYyBmEz5k__YjosFtKUFUPox64aaI-2CCs0c9ih69HonRveaADnqCCFKgiaUjYtYtq9b5lK0KM",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar7c2139dc1",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1"
        }
  recorded_at: Mon, 27 Nov 2023 19:20:16 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OHALs9e1RjUNIyYuYN5d3BT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHALt9e1RjUNIyY0CcPDC60?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2OHALt9e1RjUNIyY0Vi8LeAB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2OHALt9e1RjUNIyY0Vi8LeAB",
          "object": "transfer",
          "amount": 880,
          "amount_reversed": 0,
          "balance_transaction": "txn_2OHALt9e1RjUNIyY0QCl9u2S",
          "created": 1701112818,
          "currency": "usd",
          "description": null,
          "destination": "acct_1MbQQ6S2yTRm7HHQ",
          "destination_payment": "py_1OHALuS2yTRm7HHQNi2rOLAl",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_2OHALt9e1RjUNIyY0Vi8LeAB/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_2OHALt9e1RjUNIyY0CcPDC60",
          "source_type": "card",
          "transfer_group": "2"
        }
  recorded_at: Mon, 27 Nov 2023 19:20:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1OHALuS2yTRm7HHQNi2rOLAl?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MbQQ6S2yTRm7HHQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MbQQ6S2yTRm7HHQ
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1OHALuS2yTRm7HHQNi2rOLAl",
          "object": "charge",
          "amount": 880,
          "amount_captured": 880,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1OHALuS2yTRm7HHQRj6bdPkv",
            "object": "balance_transaction",
            "amount": 1176,
            "available_on": 1701129600,
            "created": 1701112818,
            "currency": "cad",
            "description": null,
            "exchange_rate": 1.33588,
            "fee": 0,
            "fee_details": [],
            "net": 1176,
       [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHALt9e1RjUNIyY0CcPDC60
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2OHALt9e1RjUNIyY0CcPDC60&amount=200
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - dcb4bea0-20c8-46e1-993c-3f332e4547c2
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - dcb4bea0-20c8-46e1-993c-3f332e4547c2
      Original-Request:
      - req_s2FrWMvIjv16tQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2OHALt9e1RjUNIyY0zyRGTGU",
          "object": "refund",
          "amount": 200,
          "balance_transaction": "txn_2OHALt9e1RjUNIyY0AEOaKSn",
          "charge": "ch_2OHALt9e1RjUNIyY0CcPDC60",
          "created": 1701112822,
          "currency": "usd",
          "metadata": {},
          "payment_intent": "pi_2OHALt9e1RjUNIyY0rofgBar",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Mon, 27 Nov 2023 19:20:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2OHALt9e1RjUNIyY0zyRGTGU?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHALt9e1RjUNIyY0CcPDC60?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1OHALuS2yTRm7HHQNi2rOLAl?expand%5B%5D=application_fee.refunds&expand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MbQQ6S2yTRm7HHQ
  response:
    status:
      code: 200
    [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2OHALt9e1RjUNIyY0RJ8BFkq?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2OHALt9e1RjUNIyY0Vi8LeAB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2OHALt9e1RjUNIyY0Vi8LeAB",
          "object": "transfer",
          "amount": 880,
          "amount_reversed": 733,
          "balance_transaction": "txn_2OHALt9e1RjUNIyY0QCl9u2S",
          "created": 1701112818,
          "currency": "usd",
          "description": null,
          "destination": "acct_1MbQQ6S2yTRm7HHQ",
          "destination_payment": "py_1OHALuS2yTRm7HHQNi2rOLAl",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [
              {
                "id": "trr_0OHAM19e1RjUNIyYLBF287hC",
                "object": "transfer_reversal",
                "amount": 733,
                "balance_transaction": "txn_0OHAM29e1RjUNIyYkykOBPPd",
                "created": 1701112825,
                "currency": "usd",
                "destination_payment_refund": "pyr_1OHAM1S2yTRm7HHQpg8jIFf3",
                "metadata": {},
                "source_refund": "re_2OHALt9e1RjUNIyY0RJ8BFkq",
                "transfer": "tr_2OHALt9e1RjUNIyY0Vi8LeAB"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/transfers/tr_2OHALt9e1RjUNIyY0Vi8LeAB/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_2OHALt9e1RjUNIyY0CcPDC60",
          "source_type": "card",
          "transfer_group": "2"
        }
  recorded_at: Mon, 27 Nov 2023 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers?created%5Blt%5D=1690675200&destination=acct_1MbQQ6S2yTRm7HHQ&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Versi[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers/tr_2MlrJr9e1RjUNIyY0FrWztb8/reversals
    body:
      encoding: UTF-8
      string: amount=54
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 186ceab6-22a7-4634-8759-c1662c75706a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 186ceab6-22a7-4634-8759-c1662c75706a
      Original-Request:
      - req_fsTdh5nxtzQutb
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "trr_0OHAM59e1RjUNIyYJcmZd90x",
          "object": "transfer_reversal",
          "amount": 54,
          "balance_transaction": "txn_0OHAM69e1RjUNIyYDU0FsFMD",
          "created": 1701112829,
          "currency": "usd",
          "destination_payment_refund": "pyr_1OHAM5S2yTRm7HHQwQbm7BEW",
          "metadata": {},
          "source_refund": null,
          "transfer": "tr_2MlrJr9e1RjUNIyY0FrWztb8"
        }
  recorded_at: Mon, 27 Nov 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/pyr_1OHAM5S2yTRm7HHQwQbm7BEW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MbQQ6S2yTRm7HHQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MbQQ6S2yTRm7HHQ
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pyr_1OHAM5S2yTRm7HHQwQbm7BEW",
          "object": "refund",
          "amount": 54,
          "balance_transaction": "txn_1OHAM5S2yTRm7HHQE3a4d4Tn",
          "charge": "py_1MlrJsS2yTRm7HHQx3aXLEV9",
          "created": 1701112829,
          "currency": "usd",
          "metadata": {},
          "payment_intent": null,
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": "trr_0OHAM59e1RjUNIyYJcmZd90x",
          "status": "succeeded",
          "transfer_reversal": "trr_0OHAM59e1RjUNIyYJcmZd90x"
        }
  recorded_at: Mon, 27 Nov 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/balance_transactions/txn_1OHAM5S2yTRm7HHQE3a4d4Tn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MbQQ6S2yTRm7HHQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MbQQ6S2yTRm7HHQ
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "txn_1OHAM5S2yTRm7HHQE3a4d4Tn",
          "object": "balance_transaction",
          "amount": -74,
          "available_on": 1701112829,
          "created": 1701112829,
          "currency": "cad",
          "description": "REFUND FOR PAYMENT",
          "exchange_rate": 1.36314,
          "fee": 0,
          "fee_details": [],
          "net": -74,
          "reporting_category": "refund",
          "source": "pyr_1OHAM5S2yTRm7HHQwQbm7BEW",
          "status": "available",
          "type": "payment_refund"
        }
  recorded_at: Mon, 27 Nov 2023 00:00:00 GMT
recorded_with: VCR 6.2.0
