---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 18928c23-6960-4565-9ffe-c9e53f07efc9
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 18928c23-6960-4565-9ffe-c9e53f07efc9
      Original-Request:
      - req_y3uHPSaX2Yhbdl
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6sBq9e1RjUNIyYdvaRkbsy",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698659722,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 09:55:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6sBq9e1RjUNIyYdvaRkbsy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar9843522656.test.gumroad.com%3A31337%2Fl%2Fa&metadata[purchase]=t8RrJFJcFdRiGEOFcMVYkw%3D%3D&transfer_group=80&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0O6sBq9e1RjUNIyYdvaRkbsy&statement_descriptor_suffix=edgar9843522656
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 23e07763-eba6-40ad-b5f1-7d2abc79aa0d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 23e07763-eba6-40ad-b5f1-7d2abc79aa0d
      Original-Request:
      - req_hfZWHIBDHlHiQ4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6sBr9e1RjUNIyY0cPbwXgX",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6sBr9e1RjUNIyY0cPbwXgX_secret_fHlUzpZ3GEdbG1EXoSL5GqivZ",
          "confirmation_method": "manual",
          "created": 1698659723,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar9843522656.test.gumroad.com:31337/l/a",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6sBr9e1RjUNIyY0shVG2Gn",
          "livemode": false,
          "metadata": {
            "purchase": "t8RrJFJcFdRiGEOFcMVYkw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6sBq9e1RjUNIyYdvaRkbsy",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar9843522656",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "80"
        }
  recorded_at: Mon, 30 Oct 2023 09:55:24 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6sBr9e1RjUNIyY0shVG2Gn?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6sBr9e1RjUNIyY0shVG2Gn",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6sBr9e1RjUNIyY0Kxn6Y4M",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1698796800,
            "created": 1698659723,
            "currency": "usd",
            "description": "You bought http://edgar9843522656.test.gumroad.com:31337/l/a",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2O6sBr9e1RjUNIyY0shVG2Gn",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR984352",
          "captured": true,
          "created": 1698659723,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar9843522656.test.gumroad.com:31337/l/a",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "t8RrJFJcFdRiGEOFcMVYkw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 55,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6sBr9e1RjUNIyY0cPbwXgX",
          "payment_method": "pm_0O6sBq9e1RjUNIyYdvaRkbsy",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUojPv9qQYyBmjEbZg7SzosFkd6r43uxNoovYvcnE2EHE7ZAuQzfT_XEEp4bIAbMYSm9Zzzgb4iE72Ha7Q",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar9843522656",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "80"
        }
  recorded_at: Mon, 30 Oct 2023 09:55:24 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6sBt9e1RjUNIyYDiAfcEnv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6sBu9e1RjUNIyY07sHAdIL?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2O6sBu9e1RjUNIyY0fK8jeYT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2O6sBu9e1RjUNIyY0fK8jeYT",
          "object": "transfer",
          "amount": 880,
          "amount_reversed": 0,
          "balance_transaction": "txn_2O6sBu9e1RjUNIyY0JNGVYCv",
          "created": 1698659727,
          "currency": "usd",
          "description": null,
          "destination": "acct_1MbQQ6S2yTRm7HHQ",
          "destination_payment": "py_1O6sBvS2yTRm7HHQqRFwDtOy",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_2O6sBu9e1RjUNIyY0fK8jeYT/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_2O6sBu9e1RjUNIyY07sHAdIL",
          "source_type": "card",
          "transfer_group": "81"
        }
  recorded_at: Mon, 30 Oct 2023 09:55:29 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1O6sBvS2yTRm7HHQqRFwDtOy?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MbQQ6S2yTRm7HHQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MbQQ6S2yTRm7HHQ
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1O6sBvS2yTRm7HHQqRFwDtOy",
          "object": "charge",
          "amount": 880,
          "amount_captured": 880,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1O6sBvS2yTRm7HHQm6TNS1ET",
            "object": "balance_transaction",
            "amount": 1196,
            "available_on": 1698710400,
            "created": 1698659727,
            "currency": "cad",
            "description": null,
            "exchange_rate": 1.35883,
            "fee": 0,
            "fee_details": [],
            "net": 1196,
       [...]
