---
http_interactions:
- request:
    method: get
    uri: https://app.circle.so/api/v1/space_groups?community_id=3512
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token <CIRCLE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"825032513f9d214a065f9253a5c53d8b"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":8015,"name":"Community","is_hidden_from_non_members":false,"allow_members_to_create_spaces":false,"community_id":3512,"space_order_array":["77110","24914","32841","132358","25159","97329","76381",76381,77110,134985,32841,132358,24914,97329,140195],"created_at":"2020-10-17T00:52:17.905Z","updated_at":"2021-08-06T00:34:52.373Z","automatically_add_members_to_new_spaces":false,"add_members_to_space_group_on_space_join":false,"slug":"community","hide_non_member_spaces_from_sidebar":false},{"id":8017,"name":"14
        Day Product","is_hidden_from_non_members":true,"allow_members_to_create_spaces":false,"community_id":3512,"space_order_array":["25148","27096","24918","25157","24916","24919","27095",24918,27096,25148,24916,24919],"created_at":"2020-10-17T00:56:17.325Z","updated_at":"2021-04-27T08:42:23.214Z","automatically_add_members_to_new_spaces":true,"add_members_to_space_group_on_space_join":true,"slug":"14dayproduct","hide_non_member_spaces_from_sidebar":true},{"id":13[...]
