---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/antiwork/gumroad
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0f947798020bd5d5ad821e8d88b3fe8bb407aa278490bb4c21e224de3ce6c188"
      Last-Modified:
      - Tue, 20 May 2025 20:54:54 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1747782338'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"id":959682770,"node_id":"R_kgDOOTOY0g","name":"gumroad","full_name":"antiwork/gumroad","private":false,"owner":{"login":"antiwork","id":1178890,"node_id":"MDEyOk9yZ2FuaXphdGlvbjExNzg4OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1178890?v=4","gravatar_id":"","url":"https://api.github.com/users/antiwork","html_url":"https://github.com/antiwork","followers_url":"https://api.github.com/users/antiwork/followers","following_url":"https://api.github.com/users/antiwork/following{/other_user}","gists_url":"https://api.github.com/users/antiwork/gists{/gist_id}","starred_url":"https://api.github.com/users/antiwork/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/antiwork/subscriptions","organizations_url":"https://api.github.com/users/antiwork/orgs","repos_url":"https://api.github.com/users/antiwork/repos","events_url":"https://api.github.com/users/antiwork/events{/privacy}","received_events_url":"https://api.github.com/users/antiwork/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/antiwork/gumroad","description":null,"fork":false,"url":"https://api.github.com/repos/antiwork/gumroad","forks_url":"https://api.github.com/repos/antiwork/gumroad/forks","keys_url":"https://api.github.com/repos/antiwork/gumroad/keys{/key_id}","collaborators_url":"https://api.github.com/repos/antiwork/gumroad/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/antiwork/gumroad/teams","hooks_url":"https://api.github.com/repos/antiwork/gumroad/hooks","issue_events_url":"https://api.github.com/repos/antiwork/gumroad/issues/events{/number}","events_url":"https://api.github.com/repos/antiwork/gumroad/events","assignees_url":"https://api.github.com/repos/antiwork/gumroad/assignees{/user}","branches_url":"https://api.github.com/repos/antiwork/gumroad/branches{/branch}","tags_url":"https://api.github.com/repos/antiwork/gumroad/tags","blobs_url":"https://api.github.com/repos/antiwork/gumroad/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/antiwork/gumroad/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/antiwork/gumroad/git/refs{/sha}","trees_url":"https://api.github.com/repos/antiwork/gumroad/git/trees{/sha}","statuses_url":"https://api.github.com/repos/antiwork/gumroad/statuses/{sha}","languages_url":"https://api.github.com/repos/antiwork/gumroad/languages","stargazers_url":"https://api.github.com/repos/antiwork/gumroad/stargazers","contributors_url":"https://api.github.com/repos/antiwork/gumroad/contributors","subscribers_url":"https://api.github.com/repos/antiwork/gumroad/subscribers","subscription_url":"https://api.github.com/repos/antiwork/gumroad/subscription","commits_url":"https://api.github.com/repos/antiwork/gumroad/commits{/sha}","git_commits_url":"https://api.github.com/repos/antiwork/gumroad/git/commits{/sha}","comments_url":"https://api.github.com/repos/antiwork/gumroad/comments{/number}","issue_comment_url":"https://api.github.com/repos/antiwork/gumroad/issues/comments{/number}","contents_url":"https://api.github.com/repos/antiwork/gumroad/contents/{+path}","compare_url":"https://api.github.com/repos/antiwork/gumroad/compare/{base}...{head}","merges_url":"https://api.github.com/repos/antiwork/gumroad/merges","archive_url":"https://api.github.com/repos/antiwork/gumroad/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/antiwork/gumroad/downloads","issues_url":"https://api.github.com/repos/antiwork/gumroad/issues{/number}","pulls_url":"https://api.github.com/repos/antiwork/gumroad/pulls{/number}","milestones_url":"https://api.github.com/repos/antiwork/gumroad/milestones{/number}","notifications_url":"https://api.github.com/repos/antiwork/gumroad/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/antiwork/gumroad/labels{/name}","releases_url":"https://api.github.com/repos/antiwork/gumroad/releases{/id}","deployments_url":"https://api.github.com/repos/antiwork/gumroad/deployments","created_at":"2025-04-03T07:22:41Z","updated_at":"2025-05-20T20:54:54Z","pushed_at":"2025-05-20T20:26:39Z","git_url":"git://github.com/antiwork/gumroad.git","ssh_url":"git@github.com:antiwork/gumroad.git","clone_url":"https://github.com/antiwork/gumroad.git","svn_url":"https://github.com/antiwork/gumroad","homepage":"https://gumroad.com","size":129435,"stargazers_count":5818,"watchers_count":5818,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":true,"forks_count":845,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":31,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":845,"open_issues":31,"watchers":5818,"default_branch":"main","temp_clone_token":null,"custom_properties":{},"organization":{"login":"antiwork","id":1178890,"node_id":"MDEyOk9yZ2FuaXphdGlvbjExNzg4OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1178890?v=4","gravatar_id":"","url":"https://api.github.com/users/antiwork","html_url":"https://github.com/antiwork","followers_url":"https://api.github.com/users/antiwork/followers","following_url":"https://api.github.com/users/antiwork/following{/other_user}","gists_url":"https://api.github.com/users/antiwork/gists{/gist_id}","starred_url":"https://api.github.com/users/antiwork/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/antiwork/subscriptions","organizations_url":"https://api.github.com/users/antiwork/orgs","repos_url":"https://api.github.com/users/antiwork/repos","events_url":"https://api.github.com/users/antiwork/events{/privacy}","received_events_url":"https://api.github.com/users/antiwork/received_events","type":"Organization","user_view_type":"public","site_admin":false},"network_count":845,"subscribers_count":36}'
  recorded_at: Tue, 20 May 2025 22:05:38 GMT
recorded_with: VCR 6.2.0
