---
http_interactions:
  - request:
      method: post
      uri: https://api.notion.com/v1/oauth/token
      body:
        encoding: UTF-8
        string: '{"grant_type":"authorization_code","external_account":{"key":"8479280492347","name":"user@example.com"}}'
      headers:
        Authorization:
          - Basic NGUwNjZmODYtNjRlZS00MDNjLWJjMTgtNjQ0ZWVlZmYzN2FjOnNlY3JldF8yek5hOEp6TU9UWktZekN5TjBpUUt0aHVDVHAwb2tqT3BnSksxTG5PTEZt
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"7f-Vah/qw/W2Cr/oRRfvxcQ3JZEqOA"
      body:
        encoding: UTF-8
        string: '{"access_token":"secret_cKEExFXDe4r0JxyDDwdqhO9rpMKJ_SAMPLE","token_type":"bearer","bot_id":"e511ea88-8c43-410d-848f-0e2804aab14d","workspace_name":"Gumroad","workspace_icon":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/38a1e418-4746-4a1a-9de7-b144db49f20e/Avatar.png","workspace_id":"e13669ed-91b9-4eec-9ae2-4896167e4cde","owner":{"type":"workspace","workspace":true},"duplicated_template_id":null}'
    recorded_at: Fri, 16 Dec 2022 08:13:28 GMT
recorded_with: VCR 6.1.0
