---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b0a8adde-f73d-4b4c-8e15-201950502b9f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b0a8adde-f73d-4b4c-8e15-201950502b9f
      Original-Request:
      - req_MtDWaoqIP3OQXd
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6tES9e1RjUNIyYuwjev6zD",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698663728,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 11:02:08 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6tES9e1RjUNIyYuwjev6zD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=10000&currency=usd&description=You+bought+http%3A%2F%2Fedgard858f96970.test.gumroad.com%3A31337%2Fl%2Ff&metadata[purchase]=dpPm4-2V9NjTH383p5necg%3D%3D&transfer_group=222&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0O6tES9e1RjUNIyYuwjev6zD&statement_descriptor_suffix=edgard858f96970
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c53f4219-4ec8-4b5b-8a6a-3c92e14378c5
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c53f4219-4ec8-4b5b-8a6a-3c92e14378c5
      Original-Request:
      - req_YsD3tohdaMoa3V
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6tET9e1RjUNIyY17Hn6dxV",
          "object": "payment_intent",
          "amount": 10000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 10000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6tET9e1RjUNIyY17Hn6dxV_secret_MpP0lVoqQR6645WREQ4UakOpI",
          "confirmation_method": "manual",
          "created": 1698663729,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgard858f96970.test.gumroad.com:31337/l/f",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6tET9e1RjUNIyY1UjnR9o4",
          "livemode": false,
          "metadata": {
            "purchase": "dpPm4-2V9NjTH383p5necg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6tES9e1RjUNIyYuwjev6zD",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgard858f96970",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "222"
        }
  recorded_at: Mon, 30 Oct 2023 11:02:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6tET9e1RjUNIyY1UjnR9o4?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6tET9e1RjUNIyY1UjnR9o4",
          "object": "charge",
          "amount": 10000,
          "amount_captured": 10000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6tET9e1RjUNIyY1ZUTSN1v",
            "object": "balance_transaction",
            "amount": 10000,
            "available_on": 1698796800,
            "created": 1698663729,
            "currency": "usd",
            "description": "You bought http://edgard858f96970.test.gumroad.com:31337/l/f",
            "exchange_rate": null,
            "fee": 230,
            "fee_details": [
              {
                "amount": 230,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 9770,
            "reporting_category": "charge",
            "source": "ch_2O6tET9e1RjUNIyY1UjnR9o4",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARD858F9",
          "captured": true,
          "created": 1698663729,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgard858f96970.test.gumroad.com:31337/l/f",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "dpPm4-2V9NjTH383p5necg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 64,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6tET9e1RjUNIyY17Hn6dxV",
          "payment_method": "pm_0O6tES9e1RjUNIyYuwjev6zD",
          "payment_method_details": {
            "card": {
              "amount_authorized": 10000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 10000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUos5r-qQYyBtAPenVjujosFmdT6soFyFifRhJNMvqT-I2onePAXxfPKkUELDCeuwxjzOPKC5hGucxEtck",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgard858f96970",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "222"
        }
  recorded_at: Mon, 30 Oct 2023 11:02:11 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/2763276372637263
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such charge: '2763276372637263'",
            "param": "id",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_cOntMoP01gXiF8?t=1698663731",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 30 Oct 2023 11:02:12 GMT
recorded_with: VCR 6.2.0
