---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0259&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f74d2a37-0152-465e-a0f0-17a3628cbd1c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f74d2a37-0152-465e-a0f0-17a3628cbd1c
      Original-Request:
      - req_qRAYYM6byi8A15
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6yjZ9e1RjUNIyYKJL7DbwB",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "VxUGbAs1AGxaj8mD",
            "funding": "credit",
            "generated_from": null,
            "last4": "0259",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698684877,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 16:54:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=9767554989363&metadata[tos_agreement_id]=P5ppE6H8XIjy2JSCgUhbAw%3D%3D&metadata[user_compliance_info_id]=bfi_30HLgGWL8H2wo_Gzlg%3D%3D&metadata[bank_account_id]=P5ppE6H8XIjy2JSCgUhbAw%3D%3D&tos_acceptance[date]=1698684877&tos_acceptance[ip]=54.23[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1O6yja2nhZlXhWfU/persons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O6yja2nhZlXhWfU
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "person_1O6yja2nhZlXhWfUBb0wiKwB",
              "object": "person",
              "account": "acct_1O6yja2nhZlXhWfU",
              "additional_tos_acceptances": {
                "account": {
                  "date": null,
                  "ip": null,
                  "user_agent": null
                }
              },
              "address": {
                "city": "San Francisco",
                "country": "US",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "94107",
                "state": "California"
              },
              "created": 1698684879,
              "dob": {
                "day": 1,
                "month": 1,
                "year": 1901
              },
              "email": "edgar5c470e5b_100@gumroad.com",
              "first_name": "Chuck",
              "future_requirements": {
                "alternatives": [],
                "currently_due": [
                  "phone"
                ],
                "errors": [
                  {
                    "code": "invalid_phone_number",
                    "reason": "This phone number has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                    "requirement": "phone"
                  }
                ],
                "eventually_due": [
                  "phone"
                ],
                "past_due": [],
                "pending_verification": [
                  "address.city",
                  "address.line1",
                  "address.postal_code",
                  "address.state",
                  "id_number",
                  "verification.document"
                ]
              },
              "id_number_provided": true,
              "last_name": "Bartowski",
              "metadata": {},
              "phone": "+10000000000",
              "relationship": {
                "director": false,
                "executive": false,
                "legal_guardian": false,
                "owner": false,
                "percent_ownership": null,
                "representative": true,
                "title": null
              },
              "requirements": {
                "alternatives": [],
                "currently_due": [],
                "errors": [],
                "eventually_due": [],
                "past_due": [],
                "pending_verification": [
                  "address.city",
                  "address.line1",
                  "address.postal_code",
                  "address.state",
                  "id_number",
                  "verification.document"
                ]
              },
              "ssn_last_4_provided": true,
              "verification": {
                "additional_document": {
                  "back": null,
                  "details": null,
                  "details_code": null,
                  "front": null
                },
                "details": null,
                "details_code": null,
                "document": {
                  "back": null,
                  "details": null,
                  "details_code": null,
                  "front": null
                },
                "status": "pending"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/accounts/acct_1O6yja2nhZlXhWfU/persons"
        }
  recorded_at: Mon, 30 Oct 2023 16:54:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1O6yja2nhZlXhWfU/persons/person_1O6yja2nhZlXhWfUBb0wiKwB
    body:
      encoding: UTF-8
      string: verification[document][front]=file_identity_document_success
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 60604e6c-5a67-4915-9718-6ced42933680
      Stripe-Version:
      - '2023-10-16'
  response:
    stat[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1O6yja2nhZlXhWfU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O6yja2nhZlXhWfU
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1O6yja2nhZlXhWfU",
          "object": "account",
          "business_profile": {
            "mcc": "5192",
            "name": null,
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "pending"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "US",
          "created": 1698684879,
          "default_currency": "usd",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1O6yja2nhZlXhWfURIBPa0QD",
                "object": "bank_account",
                "account": "acct_1O6yja2nhZlXhWfU",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard",
                  "instant"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "dx7dqwoGHEQDKLLK",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1O6yja2nhZlXhWfU/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1712084400,
            "currently_due": [
              "individual.phone"
            ],
            "disabled_reason": null,
            "errors": [
              {
                "code": "invalid_phone_number",
                "reason": "This phone number has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                "requirement": "individual.phone"
              }
            ],
            "eventually_due": [
              "individual.phone"
            ],
            "past_due": [],
            "pending_verification": [
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state"
            ]
          },
          "individual": {
            "id": "person_1O6yja2nhZlXhWfUBb0wiKwB",
            "object": "person",
            "account": "acct_1O6yja2nhZlXhWfU",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "created": 1698684879,
            "dob": {
              "day": 1,
              "month": 1,
[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0O6yjZ9e1RjUNIyYKJL7DbwB&confirmation_method=manual&payment_method_types[0]=card&confirm=true&currency=usd&amount=1000&transfer_data[destination]=acct_1O6yja2nhZlXhWfU&on_behalf_of=acct_1O6yja2nhZlXhWfU&application_fee_amount=100
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2f76d8b0-c870-4a0f-9d6f-e5c2c7961273
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2f76d8b0-c870-4a0f-9d6f-e5c2c7961273
      Original-Request:
      - req_87nj4JUz6rqcUL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6yjv9e1RjUNIyY1kpu4gNr",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": null,
          "application_fee_amount": 100,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6yjv9e1RjUNIyY1kpu4gNr_secret_vYVmMdsn5lU5YcK3pvxNt5vwL",
          "confirmation_method": "manual",
          "created": 1698684899,
          "currency": "usd",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6yjv9e1RjUNIyY1DwnmrBq",
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": "acct_1O6yja2nhZlXhWfU",
          "payment_method": "pm_0O6yjZ9e1RjUNIyYKJL7DbwB",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": {
            "destination": "acct_1O6yja2nhZlXhWfU"
          },
          "transfer_group": "group_pi_2O6yjv9e1RjUNIyY1kpu4gNr"
        }
  recorded_at: Mon, 30 Oct 2023 16:55:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6yjv9e1RjUNIyY1DwnmrBq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6yjv9e1RjUNIyY1DwnmrBq",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": "fee_1O6yjw2nhZlXhWfUoGadCPhs",
          "application_fee_amount": 100,
          "balance_transaction": "txn_2O6yjv9e1RjUNIyY1gjn1UuI",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "VIPUL.GUMROAD.COM",
          "captured": true,
          "created": 1698684899,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": "acct_1O6yja2nhZlXhWfU",
          "dispute": "dp_0O6yjx9e1RjUNIyYPjniLbIw",
          "disputed": true,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": "acct_1O6yja2nhZlXhWfU",
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 6,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6yjv9e1RjUNIyY1kpu4gNr",
          "payment_method": "pm_0O6yjZ9e1RjUNIyYKJL7DbwB",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "VxUGbAs1AGxaj8mD",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "0259",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo5r__qQYyBuulTRu2xjosFlXJTl1QqFWzKvqGnadvYygnPzGids1Hz2ByWhr-yIvN7fklEMuEajfyQwk",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer": "tr_2O6yjv9e1RjUNIyY1ZmQLh5e",
          "transfer_data": {
            "amount": null,
            "destination": "acct_1O6yja2nhZlXhWfU"
          },
          "transfer_group": "group_pi_2O6yjv9e1RjUNIyY1kpu4gNr"
        }
  recorded_at: Mon, 30 Oct 2023 16:55:02 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/disputes/dp_0O6yjx9e1RjUNIyYPjniLbIw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "dp_0O6yjx9e1RjUNIyYPjniLbIw",
          "object": "dispute",
          "amount": 1000,
          "balance_transaction": "txn_0O6yjx9e1RjUNIyYj7QJmwIr",
          "balance_transactions": [
            {
              "id": "txn_0O6yjx9e1RjUNIyYj7QJmwIr",
              "object": "balance_transaction",
              "amount": -1000,
              "available_on": 1698710400,
              "created": 1698684901,
              "currency": "usd",
              "description": "Chargeback withdrawal for ch_2O6yjv9e1RjUNIyY1DwnmrBq",
              "exchange_rate": null,
              "fee": 1500,
              "fee_details": [
                {
                  "amount": 1500,
                  "application": null,
                  "currency": "usd",
                  "description": "Dispute fee",
                  "type": "stripe_fee"
                }
              ],
              "net": -2500,
              "reporting_category": "dispute",
              "source": "dp_0O6yjx9e1RjUNIyYPjniLbIw",
              "status": "pending",
              "type": "adjustment"
            }
          ],
          "charge": "ch_2O6yjv9e1RjUNIyY1DwnmrBq",
          "created": 1698684901,
          "currency": "usd",
          "evidence": {
            "access_activity_log": null,
            "billing_address": null,
            "cancellation_policy": null,
            "cancellation_policy_disclosure": null,
            "cancellation_rebuttal": null,
            "customer_communication": null,
            "customer_email_address": null,
            "customer_name": null,
            "customer_purchase_ip": null,
            "customer_signature": null,
            "duplicate_charge_documentation": null,
            "duplicate_charge_explanation": null,
            "duplicate_charge_id": null,
            "product_description": null,
            "receipt": null,
            "refund_policy": null,
            "refund_policy_disclosure": null,
            "refund_refusal_explanation": null,
            "service_date": null,
            "service_documentation": null,
            "shipping_address": null,
            "shipping_carrier": null,
            "shipping_date": null,
            "shipping_documentation": null,
            "shipping_tracking_number": null,
            "uncategorized_file": null,
            "uncategorized_text": null
          },
          "evidence_details": {
            "due_by": 1699487999,
            "has_evidence": false,
            "past_due": false,
            "submission_count": 0
          },
          "is_charge_refundable": false,
          "livemode": false,
          "metadata": {},
          "payment_intent": "pi_2O6yjv9e1RjUNIyY1kpu4gNr",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "network_reason_code": "83"
            },
            "type": "card"
          },
          "reason": "fraudulent",
          "status": "needs_response"
        }
  recorded_at: Mon, 30 Oct 2023 16:55:04 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/disputes/dp_0O6yjx9e1RjUNIyYPjniLbIw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json
      Stripe-Should-Retry:
      - 'true'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "lock_timeout",
            "doc_url": "https://stripe.com/docs/error-codes/lock-timeout",
            "message": "This object cannot be accessed right now because another API request or Stripe process is currently accessing it. If you see this error intermittently, retry the request. If you see this error frequently and are making multiple concurrent requests to a single object, make your requests serially or at a lower rate.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_EoiSH6c5XE2o4K?t=1698684905",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 30 Oct 2023 16:55:10 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2O6yjv9e1RjUNIyY1ZmQLh5e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2O6yjv9e1RjUNIyY1ZmQLh5e",
          "object": "transfer",
          "amount": 1000,
          "amount_reversed": 1000,
          "balance_transaction": "txn_2O6yjv9e1RjUNIyY1aPyad6W",
          "created": 1698684900,
          "currency": "usd",
          "description": null,
          "destination": "acct_1O6yja2nhZlXhWfU",
          "destination_payment": "py_1O6yjw2nhZlXhWfUEOlDALz1",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [
              {
                "id": "trr_0O6yk39e1RjUNIyYkJZ2NwM2",
                "object": "transfer_reversal",
                "amount": 1000,
                "balance_transaction": "txn_0O6yk49e1RjUNIyY2vT68Z5i",
                "created": 1698684907,
                "currency": "usd",
                "destination_payment_refund": "pyr_1O6yk32nhZlXhWfU6xMCCYTc",
                "metadata": {},
                "source_refund": null,
                "transfer": "tr_2O6yjv9e1RjUNIyY1ZmQLh5e"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/transfers/tr_2O6yjv9e1RjUNIyY1ZmQLh5e/reversals"
          },
          "reversed": true,
          "source_transaction": "ch_2O6yjv9e1RjUNIyY1DwnmrBq",
          "source_type": "card",
          "transfer_group": "group_pi_2O6yjv9e1RjUNIyY1kpu4gNr"
        }
  recorded_at: Mon, 30 Oct 2023 16:55:11 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/disputes/dp_0O6yjx9e1RjUNIyYPjniLbIw?expand%5B%5D=balance_transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6yjv9e1RjUNIyY1DwnmrBq?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction&expand%5B%5D=transfer.reversals.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6yjv9e1RjUNIyY1DwnmrBq",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": {
            "id": "fee_1O6yjw2nhZlXhWfUoGadCPhs",
            "object": "application_fee",
            "account": "acct_1O6yja2nhZlXhWfU",
            "amount": 100,
            "amount_refunded": 100,
            "application": "<STRIPE_CONNECT_CLIENT_ID>",
            "balance_transaction": "txn_0O6yjy9e1RjUNIyYucyfJILp",
            "charge": "py_1O6yjw2nhZlXhWfUEOlDALz1",
            "created": 1698684900,
            "currency": "usd",
            "livemode": false,
            "originating_transaction": "ch_2O6yjv9e1RjUNIyY1DwnmrBq",
            "refunded": true,
            "refunds": {
              "object": "list",
              "data": [
                {
                  "id": "fr_1O6yk32nhZlXhWfUp1YyUCUj",
                  "object": "fee_refund",
                  "amount": 100,
                  "balance_transaction": {
                    "id": "txn_0O6yk49e1RjUNIyYdhXpxTZW",
                    "object": "balance_transaction",
                    "amount": -100,
                    "available_on": 1698710400,
                    "created": 1698684907,
            [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: destination=acct_1O6yja2nhZlXhWfU&currency=usd&description=Dispute+dp_0O6yjx9e1RjUNIyYPjniLbIw+won+Related+Charge+ID%3A+ch_2O6yjv9e1RjUNIyY1DwnmrBq.&amount=961&expand[0]=balance_transaction
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 82a6e39e-2af0-4d91-90dc-c392d486[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1O6yk92nhZlXhWfUu8FPMzMj?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1O6yja2nhZlXhWfU
  response:
[...]
