---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - '008a1761-f836-4e2d-bab3-106f58f174b1'
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '008a1761-f836-4e2d-bab3-106f58f174b1'
      Original-Request:
      - req_vIx9gMVzrk7RpL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OHJog9e1RjUNIyYJg8STqVX",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1701149198,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sat, 18 Nov 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OHJog9e1RjUNIyYJg8STqVX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgarb893c9f68.test.gumroad.com%3A31337%2Fl%2Fz&metadata[purchase]=HtQP9j1YxR1IrZ7nNQkRVw%3D%3D&transfer_group=15&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0OHJog9e1RjUNIyYJg8STqVX&statement_descriptor_suffix=edgarb893c9f68
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ed86d98a-88e3-49f4-b204-b5c332e9c41e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ed86d98a-88e3-49f4-b204-b5c332e9c41e
      Original-Request:
      - req_L3YkUC7VPxPza7
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OHJoh9e1RjUNIyY0cm1MB81",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OHJoh9e1RjUNIyY0cm1MB81_secret_Cbq2ogenQLuKpCgwhPFrX4HqS",
          "confirmation_method": "manual",
          "created": 1701149199,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarb893c9f68.test.gumroad.com:31337/l/z",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OHJoh9e1RjUNIyY0Ht2meJ3",
          "livemode": false,
          "metadata": {
            "purchase": "HtQP9j1YxR1IrZ7nNQkRVw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OHJog9e1RjUNIyYJg8STqVX",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarb893c9f68",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "15"
        }
  recorded_at: Sat, 18 Nov 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHJoh9e1RjUNIyY0Ht2meJ3?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OHJoh9e1RjUNIyY0Ht2meJ3",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OHJoh9e1RjUNIyY0JUMHwXS",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1701302400,
            "created": 1701149199,
            "currency": "usd",
            "description": "You bought http://edgarb893c9f68.test.gumroad.com:31337/l/z",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2OHJoh9e1RjUNIyY0Ht2meJ3",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARB893C9",
          "captured": true,
          "created": 1701149199,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarb893c9f68.test.gumroad.com:31337/l/z",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "HtQP9j1YxR1IrZ7nNQkRVw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 55,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OHJoh9e1RjUNIyY0cm1MB81",
          "payment_method": "pm_0OHJog9e1RjUNIyYJg8STqVX",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUokPSVqwYyBnip-FU4wjosFp_6TQxyW5avMzKItMWJmF9x8woDTMLRpQbF_rLyK3FsQbTvFiKN05yVaKo",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarb893c9f68",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "15"
        }
  recorded_at: Sat, 18 Nov 2023 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=5808886203034&metadata[tos_agreement_id]=kuaXCPHTmRuoK13rNGVbxg%3D%3D&metadata[user_compliance_info_id]=kuaXCPHTmRuoK13rNGVbxg%3D%3D&tos_acceptance[date]=1700265600&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[url][...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1OHJoj2mDRpHL6ZE/persons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1OHJoj2mDRpHL6ZE
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "person_1OHJok2mDRpHL6ZECopIol51",
              "object": "person",
              "account": "acct_1OHJoj2mDRpHL6ZE",
              "additional_tos_acceptances": {
                "account": {
                  "date": null,
                  "ip": null,
                  "user_agent": null
                }
              },
              "address": {
                "city": "San Francisco",
                "country": "US",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "94107",
                "state": "California"
              },
              "created": 1701149202,
              "dob": {
                "day": 1,
                "month": 1,
                "year": 1901
              },
              "email": "edgard8062e65_29@gumroad.com",
              "first_name": "Chuck",
              "future_requirements": {
                "alternatives": [],
                "currently_due": [
                  "phone"
                ],
                "errors": [
                  {
                    "code": "invalid_phone_number",
                    "reason": "This phone number has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                    "requirement": "phone"
                  }
                ],
                "eventually_due": [
                  "phone"
                ],
                "past_due": [],
                "pending_verification": [
                  "address.city",
                  "address.line1",
                  "address.postal_code",
                  "address.state",
                  "id_number",
                  "verification.document"
                ]
              },
              "id_number_provided": true,
              "last_name": "Bartowski",
              "metadata": {},
              "phone": "+10000000000",
              "relationship": {
                "director": false,
                "executive": false,
                "legal_guardian": false,
                "owner": false,
                "percent_ownership": null,
                "representative": true,
                "title": null
              },
              "requirements": {
                "alternatives": [],
                "currently_due": [],
                "errors": [],
                "eventually_due": [],
                "past_due": [],
                "pending_verification": [
                  "address.city",
                  "address.line1",
                  "address.postal_code",
                  "address.state",
                  "id_number",
                  "verification.document"
                ]
              },
              "ssn_last_4_provided": true,
              "verification": {
                "additional_document": {
                  "back": null,
                  "details": null,
                  "details_code": null,
                  "front": null
                },
                "details": null,
                "details_code": null,
                "document": {
                  "back": null,
                  "details": null,
                  "details_code": null,
                  "front": null
                },
                "status": "pending"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/accounts/acct_1OHJoj2mDRpHL6ZE/persons"
        }
  recorded_at: Sat, 18 Nov 2023 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1OHJoj2mDRpHL6ZE/persons/person_1OHJok2mDRpHL6ZECopIol51
    body:
      encoding: UTF-8
      string: verification[document][front]=file_identity_document_success
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e69390da-1ebe-467e-92d6-0df6a69fd8c0
      Stripe-Version:
      - '2023-10-16'
  response:
    stat[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1OHJoj2mDRpHL6ZE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1OHJoj2mDRpHL6ZE
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1OHJoj2mDRpHL6ZE",
          "object": "account",
          "business_profile": {
            "mcc": "5192",
            "name": null,
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "pending"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "US",
          "created": 1701149202,
          "default_currency": "usd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1OHJoj2mDRpHL6ZE/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1712084400,
            "currently_due": [
              "external_account",
              "individual.phone"
            ],
            "disabled_reason": null,
            "errors": [
              {
                "code": "invalid_phone_number",
                "reason": "This phone number has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                "requirement": "individual.phone"
              }
            ],
            "eventually_due": [
              "external_account",
              "individual.phone"
            ],
            "past_due": [
              "external_account"
            ],
            "pending_verification": [
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state"
            ]
          },
          "individual": {
            "id": "person_1OHJok2mDRpHL6ZECopIol51",
            "object": "person",
            "account": "acct_1OHJoj2mDRpHL6ZE",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "created": 1701149202,
            "dob": {
              "day": 1,
              "month": 1,
[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OHJpJ9e1RjUNIyY4C3O7QyO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHJpK9e1RjUNIyY0IxSUVAI?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2OHJpK9e1RjUNIyY0LSwoHBN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2OHJpK9e1RjUNIyY0LSwoHBN",
          "object": "transfer",
          "amount": 152,
          "amount_reversed": 0,
          "balance_transaction": "txn_2OHJpK9e1RjUNIyY0soc5L1I",
          "created": 1701149239,
          "currency": "usd",
          "description": null,
          "destination": "acct_1OHJoj2mDRpHL6ZE",
          "destination_payment": "py_1OHJpL2mDRpHL6ZEUEuGsaDY",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_2OHJpK9e1RjUNIyY0LSwoHBN/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_2OHJpK9e1RjUNIyY0IxSUVAI",
          "source_type": "card",
          "transfer_group": "16"
        }
  recorded_at: Sat, 18 Nov 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1OHJpL2mDRpHL6ZEUEuGsaDY?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1OHJoj2mDRpHL6ZE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1OHJoj2mDRpHL6ZE
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1OHJpL2mDRpHL6ZEUEuGsaDY",
          "object": "charge",
          "amount": 152,
          "amount_captured": 152,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1OHJpL2mDRpHL6ZEpUJMhdlc",
            "object": "balance_transaction",
            "amount": 152,
            "available_on": 1701302400,
            "created": 1701149239,
            "currency": "usd",
            "description": null,
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 152,
            [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHJoh9e1RjUNIyY0Ht2meJ3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2OHJoh9e1RjUNIyY0Ht2meJ3
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 88e07cff-051c-462a-92b2-d6114a8ce7e1
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 88e07cff-051c-462a-92b2-d6114a8ce7e1
      Original-Request:
      - req_b71TD6nl04wQ2R
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2OHJoh9e1RjUNIyY0wFfkwsr",
          "object": "refund",
          "amount": 100,
          "balance_transaction": "txn_2OHJoh9e1RjUNIyY04MANWQ8",
          "charge": "ch_2OHJoh9e1RjUNIyY0Ht2meJ3",
          "created": 1701149242,
          "currency": "usd",
          "metadata": {},
          "payment_intent": "pi_2OHJoh9e1RjUNIyY0cm1MB81",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Mon, 27 Nov 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2OHJoh9e1RjUNIyY0wFfkwsr?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHJoh9e1RjUNIyY0Ht2meJ3?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHJpK9e1RjUNIyY0IxSUVAI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2OHJpK9e1RjUNIyY0Zs3QjMe?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHJpK9e1RjUNIyY0IxSUVAI?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2OHJpK9e1RjUNIyY0LSwoHBN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2OHJpK9e1RjUNIyY0LSwoHBN",
          "object": "transfer",
          "amount": 152,
          "amount_reversed": 152,
          "balance_transaction": "txn_2OHJpK9e1RjUNIyY0soc5L1I",
          "created": 1701149239,
          "currency": "usd",
          "description": null,
          "destination": "acct_1OHJoj2mDRpHL6ZE",
          "destination_payment": "py_1OHJpL2mDRpHL6ZEUEuGsaDY",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [
              {
                "id": "trr_0OHJpR9e1RjUNIyYj0gP4lrT",
                "object": "transfer_reversal",
                "amount": 152,
                "balance_transaction": "txn_0OHJpR9e1RjUNIyY5ZOySEAt",
                "created": 1701149245,
                "currency": "usd",
                "destination_payment_refund": "pyr_1OHJpR2mDRpHL6ZEOhlr5XAo",
                "metadata": {},
                "source_refund": "re_2OHJpK9e1RjUNIyY0Zs3QjMe",
                "transfer": "tr_2OHJpK9e1RjUNIyY0LSwoHBN"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/transfers/tr_2OHJpK9e1RjUNIyY0LSwoHBN/reversals"
          },
          "reversed": true,
[...]
