---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=CA&default_currency=cad&metadata[user_id]=2000266191411&metadata[tos_agreement_id]=4LhjQ6P6vcFQEZKk42sLbQ%3D%3D&metadata[user_compliance_info_id]=4LhjQ6P6vcFQEZKk42sLbQ%3D%3D&metadata[bank_account_id]=4LhjQ6P6vcFQEZKk42sLbQ%3D%3D&tos_acceptance[date]=1427846400&tos_acceptance[ip]=54.234.242.13&business_type=company&business_profile[name]=Buy+More%2C+LLC&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Buy+More%2C+LLC&company[name]=Buy+More%2C+LLC&company[address][line1]=address_full_match&company[address][city]=Toronto&company[address][postal_code]=M4C+1T2&company[address][country]=CA&company[tax_id]=000000000&company[phone]=0000000000&company[directors_provided]=true&company[executives_provided]=true&bank_account[country]=US&bank_account[currency]=usd&bank_account[account_number]=000123456789&bank_account[routing_number]=110000000&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 63175ca5-beb3-4ddc-a8b0-03a6a5c06664
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 63175ca5-beb3-4ddc-a8b0-03a6a5c06664
      Original-Request:
      - req_0RhoxLUgDYRmVa
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1Ot4ER2nKhJXigeK",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "name": "Buy More, LLC",
            "product_description": "Buy More, LLC",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "company",
          "capabilities": {
            "card_payments": "inactive",
            "transfers": "inactive"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "Toronto",
              "country": "CA",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "M4C 1T2",
              "state": null
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": "Buy More, LLC",
            "owners_provided": false,
            "phone": "0000000000",
            "tax_id_provided": true,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "CA",
          "created": 1710145756,
          "default_currency": "cad",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1Ot4ER2nKhJXigeKxKYiygrg",
                "object": "bank_account",
                "account": "acct_1Ot4ER2nKhJXigeK",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "dx7dqwoGHEQDKLLK",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1Ot4ER2nKhJXigeK/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1724259600,
            "currently_due": [
              "business_profile.support_phone",
              "company.address.state",
              "company.owners_provided",
              "owners.address.city",
              "owners.address.line1",
              "owners.address.postal_code",
              "owners.address.state",
              "owners.dob.day",
              "owners.dob.month",
              "owners.dob.year",
              "owners.first_name",
              "owners.last_name",
              "representative.address.city",
              "representative.address.line1",
              "representative.address.postal_code",
              "representative.address.state",
              "representative.dob.day",
              "representative.dob.month",
              "representative.dob.year",
              "representative.email",
              "representative.first_name",
              "representative.last_name",
              "representative.phone",
              "representative.relationship.title"
            ],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [
              "business_profile.support_phone",
              "company.address.state",
              "company.owners_provided",
              "owners.address.city",
              "owners.address.line1",
              "owners.address.postal_code",
              "owners.address.state",
              "owners.dob.day",
              "owners.dob.month",
              "owners.dob.year",
              "owners.first_name",
              "owners.last_name",
              "representative.address.city",
              "representative.address.line1",
              "representative.address.postal_code",
              "representative.address.state",
              "representative.dob.day",
              "representative.dob.month",
              "representative.dob.year",
              "representative.email",
              "representative.first_name",
              "representative.last_name",
              "representative.phone",
              "representative.relationship.title"
            ],
            "past_due": [],
            "pending_verification": []
          },
          "metadata": {
            "bank_account_id": "4LhjQ6P6vcFQEZKk42sLbQ==",
            "tos_agreement_id": "4LhjQ6P6vcFQEZKk42sLbQ==",
            "user_compliance_info_id": "4LhjQ6P6vcFQEZKk42sLbQ==",
            "user_id": "2000266191411"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "company.address.state",
              "representative.address.city",
              "representative.address.line1",
              "representative.address.postal_code",
              "representative.address.state",
              "representative.dob.day",
              "representative.dob.month",
              "representative.dob.year",
            [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1Ot4ER2nKhJXigeK/persons
    body:
      encoding: UTF-8
      string: first_name=Chuck&last_name=Bartowski&email=chuck%40gum.com&phone=0000000000&address[line1]=address_full_match&address[city]=Toronto&address[postal_code]=M4C+1T2&address[country]=CA&dob[day]=1&dob[month]=1&dob[year]=1901&id_number=000000000&relationship[representative]=true&relationship[owner]=true&relationship[title]=CEO&relationship[percent_ownership]=100
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2a9ea368-d4d4-41db-8b33-c2d37610b853
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2a9ea368-d4d4-41db-8b33-c2d37610b853
      Original-Request:
      - req_XN7ksV4KLqy9Tv
      Stripe-Account:
      - acct_1Ot4ER2nKhJXigeK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "person_1Ot4EV2nKhJXigeKG1K51Bqp",
          "object": "person",
          "account": "acct_1Ot4ER2nKhJXigeK",
          "additional_tos_acceptances": {
            "account": {
              "date": null,
              "ip": null,
              "user_agent": null
            }
          },
          "address": {
            "city": "Toronto",
            "country": "CA",
            "line1": "address_full_match",
            "line2": null,
            "postal_code": "M4C 1T2",
            "state": null
          },
          "created": 1710145759,
          "dob": {
            "day": 1,
            "month": 1,
            "year": 1901
          },
          "email": "chuck@gum.com",
          "first_name": "Chuck",
          "future_requirements": {
            "alternatives": [],
            "currently_due": [
              "address.state"
            ],
            "errors": [],
            "eventually_due": [
              "address.state"
            ],
            "past_due": [],
            "pending_verification": []
          },
          "id_number_provided": true,
          "last_name": "Bartowski",
          "metadata": {},
          "phone": "+10000000000",
          "relationship": {
            "director": false,
            "executive": false,
            "legal_guardian": false,
            "owner": true,
            "percent_ownership": 100.0,
            "representative": true,
            "title": "CEO"
          },
          "requirements": {
            "alternatives": [],
            "currently_due": [
              "address.state"
            ],
            "errors": [],
            "eventually_due": [
              "address.state"
            ],
            "past_due": [
              "address.state"
            ],
            "pending_verification": []
          },
          "ssn_last_4_provided": true,
          "verification": {
            "additional_document": {
              "back": null,
              "details": null,
              "details_code": null,
              "front": null
            },
            "details": null,
            "details_code": null,
            "document": {
              "back": null,
              "details": null,
              "details_code": null,
              "front": null
            },
            "status": "pending"
          }
        }
  recorded_at: Mon, 11 Mar 2024 08:29:20 GMT
recorded_with: VCR 6.2.0
