---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 449b5b21-7024-4c44-8d59-851809b515c1
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 449b5b21-7024-4c44-8d59-851809b515c1
      Original-Request:
      - req_NxmlwoiLNFPUEI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6tD99e1RjUNIyYi9bikJP0",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698663647,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 11:00:47 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6tD99e1RjUNIyYi9bikJP0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1220&currency=usd&description=You+bought+http%3A%2F%2Fedgar1839d73f22.test.gumroad.com%3A31337%2Fl%2Fd&metadata[purchase]=CNACW0UZp8SoSs-thTpKzQ%3D%3D&transfer_group=22&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0O6tD99e1RjUNIyYi9bikJP0&statement_descriptor_suffix=edgar1839d73f22
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ffe638ed-1d17-420b-a5d4-51418a31b3a9
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ffe638ed-1d17-420b-a5d4-51418a31b3a9
      Original-Request:
      - req_7HXsD7c5iAu9s6
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6tDA9e1RjUNIyY1mX6fWCj",
          "object": "payment_intent",
          "amount": 1220,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1220,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6tDA9e1RjUNIyY1mX6fWCj_secret_0vvOqV6Adr27RSKhnHrynEbek",
          "confirmation_method": "manual",
          "created": 1698663648,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar1839d73f22.test.gumroad.com:31337/l/d",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6tDA9e1RjUNIyY1nSD9Pm0",
          "livemode": false,
          "metadata": {
            "purchase": "CNACW0UZp8SoSs-thTpKzQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6tD99e1RjUNIyYi9bikJP0",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar1839d73f22",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "22"
        }
  recorded_at: Mon, 30 Oct 2023 11:00:49 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6tDA9e1RjUNIyY1nSD9Pm0?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6tDA9e1RjUNIyY1nSD9Pm0",
          "object": "charge",
          "amount": 1220,
          "amount_captured": 1220,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6tDA9e1RjUNIyY1gC3xT12",
            "object": "balance_transaction",
            "amount": 1220,
            "available_on": 1698796800,
            "created": 1698663648,
            "currency": "usd",
            "description": "You bought http://edgar1839d73f22.test.gumroad.com:31337/l/d",
            "exchange_rate": null,
            "fee": 54,
            "fee_details": [
              {
                "amount": 54,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1166,
            "reporting_category": "charge",
            "source": "ch_2O6tDA9e1RjUNIyY1nSD9Pm0",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR1839D7",
          "captured": true,
          "created": 1698663648,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar1839d73f22.test.gumroad.com:31337/l/d",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "CNACW0UZp8SoSs-thTpKzQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 49,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6tDA9e1RjUNIyY1mX6fWCj",
          "payment_method": "pm_0O6tD99e1RjUNIyYi9bikJP0",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1220,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1220,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo4Zn-qQYyBnRzkLhYuDosFjqdG00Xp-lF4-xjAH_ei0_BzUdxxgxqZzocov_uO4GRsT7oVWXhlXlaHYI",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar1839d73f22",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "22"
        }
  recorded_at: Mon, 30 Oct 2023 11:00:49 GMT
recorded_with: VCR 6.2.0
