---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 00b1be65-b9b3-42b9-bf34-a8af8db4b906
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 00b1be65-b9b3-42b9-bf34-a8af8db4b906
      Original-Request:
      - req_LQxteHuwDlj7fV
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O4uY09e1RjUNIyYBwYrmaY5",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698192128,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 25 Oct 2023 00:02:08 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O4uY09e1RjUNIyYBwYrmaY5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=58000&currency=usd&description=You+bought+http%3A%2F%2Fedgarb2b342a2575.test.gumroad.com%3A31337%2Fl%2Fu&metadata[purchase]=X0Zn3Aq8LbTQvkdFnVJntQ%3D%3D&transfer_group=513&automatic_payment_methods[enabled]=true&automatic_payment_methods[allow_redirects]=never&confirm=true&off_session=true&payment_method=pm_0O4uY09e1RjUNIyYBwYrmaY5&statement_descriptor_suffix=edgarb2b342a2575
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 22b1d1e6-0faa-4377-b622-72f123619885
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 22b1d1e6-0faa-4377-b622-72f123619885
      Original-Request:
      - req_Uh5Oe4IfRjR29t
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O4uY19e1RjUNIyY0amgb7sJ",
          "object": "payment_intent",
          "amount": 58000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 58000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "never",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O4uY19e1RjUNIyY0amgb7sJ_secret_El9eLGATjKpG9OrMvHs3N6izW",
          "confirmation_method": "automatic",
          "created": 1698192129,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarb2b342a2575.test.gumroad.com:31337/l/u",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O4uY19e1RjUNIyY0iUvccDL",
          "livemode": false,
          "metadata": {
            "purchase": "X0Zn3Aq8LbTQvkdFnVJntQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O4uY09e1RjUNIyYBwYrmaY5",
          "payment_method_configuration_details": {
            "id": "pmc_0KYMlf9e1RjUNIyYT1l4J38o",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarb2b342a2575",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "513"
        }
  recorded_at: Wed, 25 Oct 2023 00:02:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O4uY19e1RjUNIyY0iUvccDL?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O4uY19e1RjUNIyY0iUvccDL",
          "object": "charge",
          "amount": 58000,
          "amount_captured": 58000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O4uY19e1RjUNIyY0p0NiL6y",
            "object": "balance_transaction",
            "amount": 58000,
            "available_on": 1698364800,
            "created": 1698192129,
            "currency": "usd",
            "description": "You bought http://edgarb2b342a2575.test.gumroad.com:31337/l/u",
            "exchange_rate": null,
            "fee": 1190,
            "fee_details": [
              {
                "amount": 1190,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 56810,
            "reporting_category": "charge",
            "source": "ch_2O4uY19e1RjUNIyY0iUvccDL",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARB2B342",
          "captured": true,
          "created": 1698192129,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarb2b342a2575.test.gumroad.com:31337/l/u",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "X0Zn3Aq8LbTQvkdFnVJntQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 55,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O4uY19e1RjUNIyY0amgb7sJ",
          "payment_method": "pm_0O4uY09e1RjUNIyYBwYrmaY5",
          "payment_method_details": {
            "card": {
              "amount_authorized": 58000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 58000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUog7bhqQYyBjAE4FPAJDosFoIbSZxQAPuNpW1BAyJz2anaXrlo2mnWiShgqG4BGv7lT0y-L4_guCg4dzs",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarb2b342a2575",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "513"
        }
  recorded_at: Wed, 25 Oct 2023 00:02:11 GMT
recorded_with: VCR 6.2.0
