---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 389a154e-7e52-4724-81b7-1c88445e1593
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 389a154e-7e52-4724-81b7-1c88445e1593
      Original-Request:
      - req_jVAIbG8lmtcbpZ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O4uXw9e1RjUNIyYV80j8zEO",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698192124,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 25 Oct 2023 00:02:04 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O4uXw9e1RjUNIyYV80j8zEO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=12000&currency=usd&description=You+bought+http%3A%2F%2Fedgara08b02eb574.test.gumroad.com%3A31337%2Fl%2Fe&metadata[purchase]=z2nzb1M0edR79t4uYqVwGA%3D%3D&transfer_group=512&automatic_payment_methods[enabled]=true&automatic_payment_methods[allow_redirects]=never&confirm=true&off_session=true&payment_method=pm_0O4uXw9e1RjUNIyYV80j8zEO&statement_descriptor_suffix=edgara08b02eb574
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - babc5ab3-9312-4afd-801d-2d66fd9dbcb4
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - babc5ab3-9312-4afd-801d-2d66fd9dbcb4
      Original-Request:
      - req_lJzuu9X8auQztj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O4uXy9e1RjUNIyY13hUZbFy",
          "object": "payment_intent",
          "amount": 12000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 12000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "never",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O4uXy9e1RjUNIyY13hUZbFy_secret_AyN6NLHKTWzNmXaVyYMA2S4G6",
          "confirmation_method": "automatic",
          "created": 1698192126,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgara08b02eb574.test.gumroad.com:31337/l/e",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O4uXy9e1RjUNIyY1exmX6dq",
          "livemode": false,
          "metadata": {
            "purchase": "z2nzb1M0edR79t4uYqVwGA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O4uXw9e1RjUNIyYV80j8zEO",
          "payment_method_configuration_details": {
            "id": "pmc_0KYMlf9e1RjUNIyYT1l4J38o",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgara08b02eb574",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "512"
        }
  recorded_at: Wed, 25 Oct 2023 00:02:07 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O4uXy9e1RjUNIyY1exmX6dq?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O4uXy9e1RjUNIyY1exmX6dq",
          "object": "charge",
          "amount": 12000,
          "amount_captured": 12000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O4uXy9e1RjUNIyY1PUKcr2b",
            "object": "balance_transaction",
            "amount": 12000,
            "available_on": 1698364800,
            "created": 1698192126,
            "currency": "usd",
            "description": "You bought http://edgara08b02eb574.test.gumroad.com:31337/l/e",
            "exchange_rate": null,
            "fee": 270,
            "fee_details": [
              {
                "amount": 270,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 11730,
            "reporting_category": "charge",
            "source": "ch_2O4uXy9e1RjUNIyY1exmX6dq",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARA08B02",
          "captured": true,
          "created": 1698192126,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgara08b02eb574.test.gumroad.com:31337/l/e",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "z2nzb1M0edR79t4uYqVwGA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 41,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O4uXy9e1RjUNIyY13hUZbFy",
          "payment_method": "pm_0O4uXw9e1RjUNIyYV80j8zEO",
          "payment_method_details": {
            "card": {
              "amount_authorized": 12000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 12000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo_7XhqQYyBjGxuml1dTosFjXemZVdkdoZcDnIbjMsxAEpTNIJ7NqEMfuADoJcd_5vzgDQzcIVQzgXDG4",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgara08b02eb574",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "512"
        }
  recorded_at: Wed, 25 Oct 2023 00:02:08 GMT
recorded_with: VCR 6.2.0
