---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4974f7ab-3b48-4dcc-82ce-dfb03b3afbea
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4974f7ab-3b48-4dcc-82ce-dfb03b3afbea
      Original-Request:
      - req_gHshvJKRCP1PBK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6xAT9e1RjUNIyYS6mu6hXC",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698678857,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 15:14:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xAT9e1RjUNIyYS6mu6hXC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O6xAT9e1RjUNIyYS6mu6hXC
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - aaee2537-3afd-4b2d-960f-af16f81e8a05
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - aaee2537-3afd-4b2d-960f-af16f81e8a05
      Original-Request:
      - req_UgWQpLlVI3dqem
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OumjqfEl9B0psA",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698678858,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "4EA551D1",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 15:14:19 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xAV9e1RjUNIyYUhoYrqYs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xAX9e1RjUNIyYfZsOSd3z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=4000&currency=usd&description=You+bought+http%3A%2F%2Fedgarc80b227c206.test.gumroad.com%3A31337%2Fl%2Fx&metadata[purchase]=_AdLZHGO7N2KeCUII_4HdA%3D%3D&transfer_group=128&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OumkzS8oq4jBWp&payment_method=pm_0O6xAX9e1RjUNIyYfZsOSd3z&statement_descriptor_suffix=edgarc80b227c206
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bd433b45-3f1e-41ab-8418-1144a13c3357
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bd433b45-3f1e-41ab-8418-1144a13c3357
      Original-Request:
      - req_I9KWKIDPfPlBE8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6xAZ9e1RjUNIyY1PpcoMSs",
          "object": "payment_intent",
          "amount": 4000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 4000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6xAZ9e1RjUNIyY1PpcoMSs_secret_2LRnEuZiUrDF37jwrAvtb0AcP",
          "confirmation_method": "manual",
          "created": 1698678863,
          "currency": "usd",
          "customer": "cus_OumkzS8oq4jBWp",
          "description": "You bought http://edgarc80b227c206.test.gumroad.com:31337/l/x",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6xAZ9e1RjUNIyY15RVzWgd",
          "livemode": false,
          "metadata": {
            "purchase": "_AdLZHGO7N2KeCUII_4HdA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6xAX9e1RjUNIyYfZsOSd3z",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarc80b227c206",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "128"
        }
  recorded_at: Mon, 30 Oct 2023 15:14:25 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6xAZ9e1RjUNIyY15RVzWgd?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6xAZ9e1RjUNIyY15RVzWgd",
          "object": "charge",
          "amount": 4000,
          "amount_captured": 4000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6xAZ9e1RjUNIyY1hmAvBrt",
            "object": "balance_transaction",
            "amount": 4000,
            "available_on": 1698796800,
            "created": 1698678864,
            "currency": "usd",
            "description": "You bought http://edgarc80b227c206.test.gumroad.com:31337/l/x",
            "exchange_rate": null,
            "fee": 110,
            "fee_details": [
              {
                "amount": 110,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 3890,
            "reporting_category": "charge",
            "source": "ch_2O6xAZ9e1RjUNIyY15RVzWgd",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARC80B22",
          "captured": true,
          "created": 1698678864,
          "currency": "usd",
          "customer": "cus_OumkzS8oq4jBWp",
          "description": "You bought http://edgarc80b227c206.test.gumroad.com:31337/l/x",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "_AdLZHGO7N2KeCUII_4HdA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 48,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6xAZ9e1RjUNIyY1PpcoMSs",
          "payment_method": "pm_0O6xAX9e1RjUNIyYfZsOSd3z",
          "payment_method_details": {
            "card": {
              "amount_authorized": 4000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 4000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo0ZD_qQYyBo4ctMSBFTosFor132ePPo5v892mpssgzIWmxbnZZlLK-paZJMmUhrFwSslyhR8H0x_sKI8",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarc80b227c206",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "128"
        }
  recorded_at: Mon, 30 Oct 2023 15:14:25 GMT
recorded_with: VCR 6.2.0
