---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=GI&default_currency=gbp&metadata[user_id]=6&metadata[tos_agreement_id]=Y7QsiGAUyP9tmCy675T-oQ%3D%3D&metadata[user_compliance_info_id]=exAa43cnKGvc0NgwMnbxiA%3D%3D&metadata[bank_account_id]=S-PuSL3fquHFtHLH6qxCtQ%3D%3D&tos_acceptance[date]=1767529580&tos_acceptance[ip]=0.0.0.0&business_type=individual&business_profile[name]=&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=&individual[email]=edgar880d5d9e_53%40gumroad.com&individual[address][country]=GI&bank_account[country]=GI&bank_account[currency]=gbp&bank_account[account_number]=0<STRONGBOX_GENERAL_PASSWORD>567&bank_account[routing_number]=12-34-56&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 61d9a3dc-b9f7-40da-aa46-eae184a4ef74
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 61d9a3dc-b9f7-40da-aa46-eae184a4ef74
      Original-Request:
      - req_pqiYRKJ7ZhXrXk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "The routing number 12-34-56 does not correspond with a recognized bank. A valid routing number is required in test mode. Consider using a test number from https://stripe.com/docs/connect/testing#account-numbers",
            "param": "bank_account[routing_number]",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_pqiYRKJ7ZhXrXk?t=1767529580",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sun, 04 Jan 2026 12:26:20 GMT
recorded_with: VCR 6.2.0
