---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Ml:
      - A
      Perf:
      - '7402827104'
      Status:
      - 403 Forbidden
      Last-Modified:
      - Wed, 23 Sep 2026 19:48:19 GMT
      X-Transaction:
      - 8619a64878f43476
      X-Transaction-Id:
      - 8619a64878f43476
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '9'
      Origin-Cf-Ray:
      - a3fc10f33fb50f8d-ATL
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":99,"message":"Unable to verify your credentials","label":"authenticity_token_error"}]}'
  recorded_at: Wed, 23 Sep 2026 19:48:19 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?user_id=279418691
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Perf:
      - '7402827104'
      X-Transaction-Id:
      - 01d81c13ce83796b
      X-Response-Time:
      - '9'
      Origin-Cf-Ray:
      - a3fc10f43dba9187-ATL
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Wed, 23 Sep 2026 19:48:19 GMT
recorded_with: VCR 6.2.0
