---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0259&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6333cdd7-8876-46d2-b1a6-467cfdc864ba
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6333cdd7-8876-46d2-b1a6-467cfdc864ba
      Original-Request:
      - req_zL2rm42Nfn0g3s
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6zGR9e1RjUNIyYwZTYGX9s",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "VxUGbAs1AGxaj8mD",
            "funding": "credit",
            "generated_from": null,
            "last4": "0259",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698686915,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 17:28:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=CA&default_currency=cad&type=custom&business_type=individual&tos_acceptance[date]=1427846400&tos_acceptance[ip]=54.234.242.13&business_profile[url]=www.gumroad.com&business_profile[product_description]=Test+product&business_profile[mcc]=5734&individual[verification][document][front]=file_identity_document_success&individual[dob][day]=1&individual[dob][month]=1&individual[[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1O6zGRS8J7Gsyolg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O6zGRS8J7Gsyolg
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1O6zGRS8J7Gsyolg",
          "object": "account",
          "business_profile": {
            "mcc": "5734",
            "name": null,
            "product_description": "Test product",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "www.gumroad.com"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "active",
            "transfers": "active"
          },
          "charges_enabled": true,
          "company": {
            "address": {
              "city": "Toronto",
              "country": "CA",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "M4C 1T2",
              "state": "ON"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "CA",
          "created": 1698686917,
          "default_currency": "cad",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1O6zGSS8J7Gsyolgp2rioGmt",
                "object": "bank_account",
                "account": "acct_1O6zGRS8J7Gsyolg",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "CA",
                "currency": "cad",
                "default_for_currency": true,
                "fingerprint": "bHAdUgrfRKNYlJ4L",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "11000-000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1O6zGRS8J7Gsyolg/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1O6zGSS8J7GsyolgyfOSRULY",
            "object": "person",
            "account": "acct_1O6zGRS8J7Gsyolg",
            "address": {
              "city": "Toronto",
              "country": "CA",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "M4C 1T2",
              "state": "ON"
            },
            "created": 1698686916,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "me@example.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": "file_0O6zGS9e1RjUNIyYs4eJC0zy"
              },
              "status": "pending"
            }
          },
          "metadata": {},
          "payouts_enabled": true,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {},
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "GUMROAD.CO",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Gumroad",
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "GUMROAD.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 7,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1427846400,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Mon, 30 Oct 2023 17:28:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0O6zGR9e1RjUNIyYwZTYGX9s&confirmation_method=manual&payment_method_types[0]=card&confirm=true&currency=usd&amount=1000&transfer_data[destination]=acct_1O6zGRS8J7Gsyolg&transfer_data[amount]=900
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 37b1c58c-5b81-41a8-bb91-146f57b0fd17
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 37b1c58c-5b81-41a8-bb91-146f57b0fd17
      Original-Request:
      - req_fNu3XYH9AgmVOC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6zGV9e1RjUNIyY1M8cPMe0",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6zGV9e1RjUNIyY1M8cPMe0_secret_buN5DEbfTWwAWoiQzAKMeutcq",
          "confirmation_method": "manual",
          "created": 1698686919,
          "currency": "usd",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6zGV9e1RjUNIyY1MQFYDYD",
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6zGR9e1RjUNIyYwZTYGX9s",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": {
            "amount": 900,
            "destination": "acct_1O6zGRS8J7Gsyolg"
          },
          "transfer_group": "group_pi_2O6zGV9e1RjUNIyY1M8cPMe0"
        }
  recorded_at: Mon, 30 Oct 2023 17:28:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6zGV9e1RjUNIyY1MQFYDYD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6zGV9e1RjUNIyY1MQFYDYD",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_2O6zGV9e1RjUNIyY1YFMDbEA",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD.COM/C",
          "captured": true,
          "created": 1698686920,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": "acct_1O6zGRS8J7Gsyolg",
          "dispute": "dp_0O6zGX9e1RjUNIyYWxczWbh3",
          "disputed": true,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 35,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6zGV9e1RjUNIyY1M8cPMe0",
          "payment_method": "pm_0O6zGR9e1RjUNIyYwZTYGX9s",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "VxUGbAs1AGxaj8mD",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "0259",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoys__qQYyBqjForhdKjosFrSuNJ_BAxkiythe4pr81bz7QI4bXKx8I_UcqRBsRThaCJfszbIa--lHHkU",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer": "tr_2O6zGV9e1RjUNIyY1M64r9V1",
          "transfer_data": {
            "amount": 900,
            "destination": "acct_1O6zGRS8J7Gsyolg"
          },
          "transfer_group": "group_pi_2O6zGV9e1RjUNIyY1M8cPMe0"
        }
  recorded_at: Mon, 30 Oct 2023 17:28:42 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/disputes/dp_0O6zGX9e1RjUNIyYWxczWbh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "dp_0O6zGX9e1RjUNIyYWxczWbh3",
          "object": "dispute",
          "amount": 1000,
          "balance_transaction": "txn_0O6zGX9e1RjUNIyYbfcT9W24",
          "balance_transactions": [
            {
              "id": "txn_0O6zGX9e1RjUNIyYbfcT9W24",
              "object": "balance_transaction",
              "amount": -1000,
              "available_on": 1699228800,
              "created": 1698686921,
              "currency": "usd",
              "description": "Chargeback withdrawal for ch_2O6zGV9e1RjUNIyY1MQFYDYD",
              "exchange_rate": null,
              "fee": 1500,
              "fee_details": [
                {
                  "amount": 1500,
                  "application": null,
                  "currency": "usd",
                  "description": "Dispute fee",
                  "type": "stripe_fee"
                }
              ],
              "net": -2500,
              "reporting_category": "dispute",
              "source": "dp_0O6zGX9e1RjUNIyYWxczWbh3",
              "status": "pending",
              "type": "adjustment"
            }
          ],
          "charge": "ch_2O6zGV9e1RjUNIyY1MQFYDYD",
          "created": 1698686921,
          "currency": "usd",
          "evidence": {
            "access_activity_log": null,
            "billing_address": null,
            "cancellation_policy": null,
            "cancellation_policy_disclosure": null,
            "cancellation_rebuttal": null,
            "customer_communication": null,
            "customer_email_address": null,
            "customer_name": null,
            "customer_purchase_ip": null,
            "customer_signature": null,
            "duplicate_charge_documentation": null,
            "duplicate_charge_explanation": null,
            "duplicate_charge_id": null,
            "product_description": null,
            "receipt": null,
            "refund_policy": null,
            "refund_policy_disclosure": null,
            "refund_refusal_explanation": null,
            "service_date": null,
            "service_documentation": null,
            "shipping_address": null,
            "shipping_carrier": null,
            "shipping_date": null,
            "shipping_documentation": null,
            "shipping_tracking_number": null,
            "uncategorized_file": null,
            "uncategorized_text": null
          },
          "evidence_details": {
            "due_by": 1699487999,
            "has_evidence": false,
            "past_due": false,
            "submission_count": 0
          },
          "is_charge_refundable": false,
          "livemode": false,
          "metadata": {},
          "payment_intent": "pi_2O6zGV9e1RjUNIyY1M8cPMe0",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "network_reason_code": "83"
            },
            "type": "card"
          },
          "reason": "fraudulent",
          "status": "needs_response"
        }
  recorded_at: Mon, 30 Oct 2023 17:28:44 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/disputes/dp_0O6zGX9e1RjUNIyYWxczWbh3?expand%5B%5D=balance_transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6zGV9e1RjUNIyY1MQFYDYD?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction&expand%5B%5D=transfer.reversals.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
   [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2O6zGV9e1RjUNIyY1M64r9V1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2O6zGV9e1RjUNIyY1M64r9V1",
          "object": "transfer",
          "amount": 900,
          "amount_reversed": 900,
          "balance_transaction": "txn_2O6zGV9e1RjUNIyY1c6l34kt",
          "created": 1698686920,
          "currency": "usd",
          "description": null,
          "destination": "acct_1O6zGRS8J7Gsyolg",
          "destination_payment": "py_1O6zGWS8J7Gsyolgse8kn3Cq",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [
              {
                "id": "trr_0O6zGa9e1RjUNIyY5p8NyQ77",
                "object": "transfer_reversal",
                "amount": 900,
                "balance_transaction": "txn_0O6zGb9e1RjUNIyYO0ab7WAL",
                "created": 1698686924,
                "currency": "usd",
                "destination_payment_refund": "pyr_1O6zGaS8J7Gsyolgpbzn74W0",
                "metadata": {},
                "source_refund": null,
                "transfer": "tr_2O6zGV9e1RjUNIyY1M64r9V1"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/transfers/tr_2O6zGV9e1RjUNIyY1M64r9V1/reversals"
          },
          "reversed": true,
          "source_transaction": "ch_2O6zGV9e1RjUNIyY1MQFYDYD",
          "source_type": "card",
          "transfer_group": "group_pi_2O6zGV9e1RjUNIyY1M8cPMe0"
        }
  recorded_at: Mon, 30 Oct 2023 17:28:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1O6zGWS8J7Gsyolgse8kn3Cq?expand%5B%5D=application_fee.refunds&expand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1O6zGRS8J7Gsyolg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O6zGRS8J7Gsyolg
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1O6zGWS8J7Gsyolgse8kn3Cq",
          "object": "charge",
          "amount": 900,
          "amount_captured": 900,
          "amount_refunded": 900,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_1O6zGWS8J7GsyolgYHrjqRnP",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": null,
          "captured": true,
          "created": 1698686920,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": null,
          "paid": true,
          "payment_intent": null,
          "payment_method": null,
          "payment_method_details": {
            "stripe_account": {},
            "type": "stripe_account"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xTzZ6R1JTOEo3R3N5b2xnKM7P_6kGMgbONfxS5Dg6LBZ0H85riQWKVCkezJsKid5ta_Xk-8rXZv09GUGMi_izM0W8NLpVs4JP0J9X",
          "refunded": true,
          "refunds": {
            "object": "list",
            "data": [
              {
                "id": "pyr_1O6zGaS8J7Gsyolgpbzn74W0",
                "object": "refund",
                "amount": 900,
                "balance_transaction": {
                  "id": "txn_1O6zGbS8J7GsyolgbxjyyO7l",
                  "object": "balance_transaction",
                  "amount": -1245,
                  "available_on": 1699228800,
                  "created": 1698686924,
                  "currency": "cad",
                  "description": "REFUND FOR PAYMENT",
                  "exchange_rate": 1.38343,
                  "fee": 0,
                  "fee_details": [],
                  "net": -1245,
                  "reporting_category": "refund",
                  "source": "pyr_1O6zGaS8J7Gsyolgpbzn74W0",
                  "status": "pending",
                  "type": "payment_refund"
                },
                "charge": "py_1O6zGWS8J7Gsyolgse8kn3Cq",
                "created": 1698686924,
                "currency": "usd",
                "metadata": {},
                "payment_intent": null,
                "reason": null,
                "receipt_number": null,
                "source_transfer_reversal": "trr_0O6zGa9e1RjUNIyY5p8NyQ77",
                "status": "succeeded",
                "transfer_reversal": "trr_0O6zGa9e1RjUNIyY5p8NyQ77"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges/py_1O6zGWS8J7Gsyolgse8kn3Cq/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "<STRIPE_PLATFORM_ACCOUNT_ID>",
            "object": "account",
            "application_icon": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV96QURJZllYTVhmQTEwQWswUmg3MlRpOGI00M3h6olFO",
            "application_logo": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV9WNnByazhHekswejFlUGh3a1M0dnRxZko00eY1DsvrA",
            "application_name": "Gumroad",
            "application_url": "https://gumroad.com"
          },
          "source_transfer": "tr_2O6zGV9e1RjUNIyY1M64r9V1",
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 30 Oct 2023 17:28:46 GMT
[...]
