---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=CA&default_currency=cad&metadata[user_id]=3083088641536&metadata[tos_agreement_id]=zyVcslyRTLm32RQ20xTNCA%3D%3D&metadata[user_compliance_info_id]=zyVcslyRTLm32RQ20xTNCA%3D%3D&metadata[bank_account_id]=c_7sILO0OtZ4Hi7KS-NBdA%3D%3D&tos_acceptance[date]=1698691714&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=edgar80e9e6bc_675%40gumroad.com&individual[phone]=0000000000&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=BC&individual[address][postal_code]=M4C+1T2&individual[address][country]=CA&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[id_number]=000000000&bank_account[country]=US&bank_account[currency]=usd&bank_account[account_number]=000123456789&bank_account[routing_number]=110000000&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9ce19080-4739-42aa-a7af-0314ca63bb1e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9ce19080-4739-42aa-a7af-0314ca63bb1e
      Original-Request:
      - req_Xboi9VFGbsTPeU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1O70VqS6Iq6AEWhA",
          "object": "account",
          "business_profile": {
            "mcc": "5192",
            "name": null,
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "active",
            "transfers": "active"
          },
          "charges_enabled": true,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "CA",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "M4C 1T2",
              "state": "BC"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "CA",
          "created": 1698691716,
          "default_currency": "cad",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1O70VrS6Iq6AEWhAxilPjHMc",
                "object": "bank_account",
                "account": "acct_1O70VqS6Iq6AEWhA",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "dx7dqwoGHEQDKLLK",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1O70VqS6Iq6AEWhA/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1O70VrS6Iq6AEWhAZ1b284qi",
            "object": "person",
            "account": "acct_1O70VqS6Iq6AEWhA",
            "address": {
              "city": "San Francisco",
              "country": "CA",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "M4C 1T2",
              "state": "BC"
            },
            "created": 1698691715,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "edgar80e9e6bc_675@gumroad.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "pending"
            }
          },
          "metadata": {
            "bank_account_id": "c_7sILO0OtZ4Hi7KS-NBdA==",
            "tos_agreement_id": "zyVcslyRTLm32RQ20xTNCA==",
            "user_compliance_info_id": "zyVcslyRTLm32RQ20xTNCA==",
            "user_id": "3083088641536"
          },
          "payouts_enabled": true,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {},
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "VIPUL.GUMR",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "vipul.gumroad",
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "VIPUL.GUMROAD.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 1,
                "interval": "manual"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1698691714,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Mon, 30 Oct 2023 18:48:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: destination=acct_1O70VqS6Iq6AEWhA&currency=usd&description=Funds+held+by+Gumroad+for+Payment+WO7qvhIJL7ICDwmZPbgUzA%3D%3D.&amount=200&metadata[payment]=WO7qvhIJL7ICDwmZPbgUzA%3D%3D&metadata[balances%7B0%7D]=s490-18g8StBYSKm3vM3Uw%3D%3D%2C3QOQGV2UuAnesNIOdF28xw%3D%3D&expand[0]=balance_transaction
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ed4da2b5-bd2e-43db-9623-8bf3031a7c58
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ed4da2b5-bd2e-43db-9623-8bf3031a7c58
      Original-Request:
      - req_LqahJVqNqQrtmn
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_0O70Vu9e1RjUNIyYlRcfilYi",
          "object": "transfer",
          "amount": 200,
          "amount_reversed": 0,
          "balance_transaction": {
            "id": "txn_0O70Vu9e1RjUNIyYzHgzuyag",
            "object": "balance_transaction",
            "amount": -200,
            "available_on": 1698691718,
            "created": 1698691718,
            "currency": "usd",
            "description": "Funds held by Gumroad for Payment WO7qvhIJL7ICDwmZPbgUzA==.",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": -200,
            "reporting_category": "transfer",
            "source": "tr_0O70Vu9e1RjUNIyYlRcfilYi",
            "status": "available",
            "type": "transfer"
          },
          "created": 1698691718,
          "currency": "usd",
          "description": "Funds held by Gumroad for Payment WO7qvhIJL7ICDwmZPbgUzA==.",
          "destination": "acct_1O70VqS6Iq6AEWhA",
          "destination_payment": "py_1O70VuS6Iq6AEWhANSPc6Hb7",
          "livemode": false,
          "metadata": {
            "balances{0}": "s490-18g8StBYSKm3vM3Uw==,3QOQGV2UuAnesNIOdF28xw==",
            "payment": "WO7qvhIJL7ICDwmZPbgUzA=="
          },
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_0O70Vu9e1RjUNIyYlRcfilYi/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Mon, 30 Oct 2023 18:48:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_0O70Vu9e1RjUNIyYlRcfilYi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      en[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers/tr_0O70Vu9e1RjUNIyYlRcfilYi/reversals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c35ebe01-3d75-423d-ad3b-0e4d70aa1d6d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c35ebe01-3d75-423d-ad3b-0e4d70aa1d6d
      Original-Request:
      - req_fvnzx9Y8tiX8fi
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "trr_0O70Vv9e1RjUNIyYi0Os0AYX",
          "object": "transfer_reversal",
          "amount": 200,
          "balance_transaction": "txn_0O70Vw9e1RjUNIyYceCyvGOC",
          "created": 1698691719,
          "currency": "usd",
          "destination_payment_refund": "pyr_1O70VvS6Iq6AEWhAmUTJlHit",
          "metadata": {},
          "source_refund": null,
          "transfer": "tr_0O70Vu9e1RjUNIyYlRcfilYi"
        }
  recorded_at: Mon, 30 Oct 2023 18:48:40 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1O70VuS6Iq6AEWhANSPc6Hb7?expand%5B%5D=balance_transaction&expand%5B%5D=refunds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1O70VqS6Iq6AEWhA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O70VqS6Iq6AEWhA
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1O70VuS6Iq6AEWhANSPc6Hb7",
          "object": "charge",
          "amount": 200,
          "amount_captured": 200,
          "amount_refunded": 200,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1O70VuS6Iq6AEWhAgCASwQhG",
            "object": "balance_transaction",
            "amount": 200,
            "available_on": 1698691718,
            "created": 1698691718,
            "currency": "usd",
            "description": null,
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 200,
            "reporting_category": "charge",
            "source": "py_1O70VuS6Iq6AEWhANSPc6Hb7",
            "status": "available",
            "type": "payment"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": null,
          "captured": true,
          "created": 1698691718,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": null,
          "paid": true,
          "payment_intent": null,
          "payment_method": null,
          "payment_method_details": {
            "stripe_account": {},
            "type": "stripe_account"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xTzcwVnFTNklxNkFFV2hBKIj1_6kGMgae16Cu97o6LBYCSRbOdBtCi36nid8I_CvYKOKqGWi5ao2XL5m8cT-DtZsBvzFZpqd23l1i",
          "refunded": true,
          "refunds": {
            "object": "list",
            "data": [
              {
                "id": "pyr_1O70VvS6Iq6AEWhAmUTJlHit",
                "object": "refund",
                "amount": 200,
                "balance_transaction": "txn_1O70VwS6Iq6AEWhA5A8R3CPh",
                "charge": "py_1O70VuS6Iq6AEWhANSPc6Hb7",
                "created": 1698691719,
                "currency": "usd",
                "metadata": {},
                "payment_intent": null,
                "reason": null,
                "receipt_number": null,
                "source_transfer_reversal": "trr_0O70Vv9e1RjUNIyYi0Os0AYX",
                "status": "succeeded",
                "transfer_reversal": "trr_0O70Vv9e1RjUNIyYi0Os0AYX"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges/py_1O70VuS6Iq6AEWhANSPc6Hb7/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "<STRIPE_PLATFORM_ACCOUNT_ID>",
            "object": "account",
            "application_icon": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV96QURJZllYTVhmQTEwQWswUmg3MlRpOGI00M3h6olFO",
            "application_logo": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV9WNnByazhHekswejFlUGh3a1M0dnRxZko00eY1DsvrA",
            "application_name": "Gumroad",
            "application_url": "https://gumroad.com"
          },
          "source_transfer": "tr_0O70Vu9e1RjUNIyYlRcfilYi",
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 30 Oct 2023 18:48:40 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/balance_transactions/txn_1O70VwS6Iq6AEWhA5A8R3CPh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1O70VqS6Iq6AEWhA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O70VqS6Iq6AEWhA
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "txn_1O70VwS6Iq6AEWhA5A8R3CPh",
          "object": "balance_transaction",
          "amount": -200,
          "available_on": 1698691719,
          "created": 1698691719,
          "currency": "usd",
          "description": "REFUND FOR PAYMENT",
          "exchange_rate": null,
          "fee": 0,
          "fee_details": [],
          "net": -200,
          "reporting_category": "refund",
          "source": "pyr_1O70VvS6Iq6AEWhAmUTJlHit",
          "status": "available",
          "type": "payment_refund"
        }
  recorded_at: Mon, 30 Oct 2023 18:48:41 GMT
recorded_with: VCR 6.2.0
