---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c3ebb120-7703-41fd-b77c-88c0df217ac8
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c3ebb120-7703-41fd-b77c-88c0df217ac8
      Original-Request:
      - req_3bb0cVpSXMVvxq
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0RlCEu9e1RjUNIyYBfKUqoYG",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1752598920,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Thu, 01 Jan 2015 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0RlCEu9e1RjUNIyYBfKUqoYG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=10000&currency=usd&description=You+bought+http%3A%2F%2Fedgar1dddd9e99.test.gumroad.com%3A31337%2Fl%2Fy%21&metadata[purchase]=TBJBgSb-gnjDWaZllb4NGQ%3D%3D&transfer_group=33&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0RlCEu9e1RjUNIyYBfKUqoYG&statement_descriptor_suffix=edgar1dddd9e99
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 357ad80a-ec6a-4ece-bff6-5d44ffcad5c8
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 357ad80a-ec6a-4ece-bff6-5d44ffcad5c8
      Original-Request:
      - req_bEeN3xnbccvszy
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2RlCEv9e1RjUNIyY1I9TVL3A",
          "object": "payment_intent",
          "amount": 10000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 10000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2RlCEv9e1RjUNIyY1I9TVL3A_secret_dfqxujTRe5zGE35RHoBLahm6F",
          "confirmation_method": "automatic",
          "created": 1752598921,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar1dddd9e99.test.gumroad.com:31337/l/y!",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2RlCEv9e1RjUNIyY1ZUOliCU",
          "livemode": false,
          "metadata": {
            "purchase": "TBJBgSb-gnjDWaZllb4NGQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0RlCEu9e1RjUNIyYBfKUqoYG",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar1dddd9e99",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "33"
        }
  recorded_at: Thu, 01 Jan 2015 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2RlCEv9e1RjUNIyY1ZUOliCU?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2RlCEv9e1RjUNIyY1ZUOliCU",
          "object": "charge",
          "amount": 10000,
          "amount_captured": 10000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2RlCEv9e1RjUNIyY1IBr4K6w",
            "object": "balance_transaction",
            "amount": 10000,
            "available_on": 1752710400,
            "balance_type": "payments",
            "created": 1752598921,
            "currency": "usd",
            "description": "You bought http://edgar1dddd9e99.test.gumroad.com:31337/l/y!",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 10000,
            "reporting_category": "charge",
            "source": "ch_2RlCEv9e1RjUNIyY1ZUOliCU",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGAR1DDDD9E9",
          "captured": true,
          "created": 1752598921,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar1dddd9e99.test.gumroad.com:31337/l/y!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "TBJBgSb-gnjDWaZllb4NGQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 1,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2RlCEv9e1RjUNIyY1I9TVL3A",
          "payment_method": "pm_0RlCEu9e1RjUNIyYBfKUqoYG",
          "payment_method_details": {
            "card": {
              "amount_authorized": 10000,
              "authorization_code": "363233",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "875457497450891",
              "overcapture": {
                "maximum_amount_capturable": 10000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoipPawwYyBrQLcp87mDosFmlNA2I2sDB-phiUojuUsnWoJopR1UFnN204fl-vwi9ooGNm6DfNCXCXp2Q",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar1dddd9e99",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "33"
        }
  recorded_at: Thu, 01 Jan 2015 00:00:00 GMT
recorded_with: VCR 6.2.0
