---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/checkout/orders
    body:
      encoding: UTF-8
      string: '{"intent":"CAPTURE","purchase_units":[{"amount":{"currency_code":"usd","value":"15.0","breakdown":{"shipping":{"currency_code":"USD","value":"1.5"},"tax_total":{"currency_code":"USD","value":"0.0"},"item_total":{"currency_code":"USD","value":"13.5"}}},"payee":{"merchant_id":"MN7CSWD6RCNJ8"},"items":[{"name":"The
        Works of Edgar Gumstein","unit_amount":{"currency_code":"USD","value":"4.5"},"quantity":3,"sku":"aa"}],"soft_descriptor":"edgar17dd31131","payment_instruction":{"platform_fees":[{"amount":{"currency_code":"USD","value":"1.65"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>"}}]},"invoice_id":"G_-mnBf9b1j9A7a4ub4nFQ=="}],"application_context":{"brand_name":"Gumroad","shipping_preference":"NO_SHIPPING"}}'
    headers:
      Authorization:
      - Bearer A21AAI6Qq9kon0Z2N7R6ed3OXwkNxFraroKppGHWHJUU5w-MlQBKKcZd_WlHbQJgh79HLaWQmEnRyj3GZdRW9FMqRbbSkcmBA
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
      Paypal-Request-Id:
      - '16601375220831602'
      Prefer:
      - return=representation
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.4
      Sdk-Tech-Stack:
      - Ruby3.0.3
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Application-Id:
      - APP-80W284485P519543T
      Caller-Acct-Num:
      - <PAYPAL_PARTNER_MERCHANT_ID>
      Paypal-Debug-Id:
      - 7e9fcf52fceca
    body:
      encoding: UTF-8
      string: '{"id":"38675435NM129842M","intent":"CAPTURE","status":"CREATED","purchase_units":[{"reference_id":"default","amount":{"currency_code":"USD","value":"15.00","breakdown":{"item_total":{"currency_code":"USD","value":"13.50"},"shipping":{"currency_code":"USD","value":"1.50"},"tax_total":{"currency_code":"USD","value":"0.00"}}},"payee":{"merchant_id":"MN7CSWD6RCNJ8"},"payment_instruction":{"platform_fees":[{"amount":{"currency_code":"USD","value":"1.65"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>"}}]},"invoice_id":"G_-mnBf9b1j9A7a4ub4nFQ==","soft_descriptor":"edgar17dd31131","items":[{"name":"The
        Works of Edgar Gumstein","unit_amount":{"currency_code":"USD","value":"4.50"},"quantity":"3","sku":"aa"}]}],"create_time":"2022-08-10T13:18:44Z","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/38675435NM129842M","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/checkoutnow?token=38675435NM129842M","rel":"approve","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/38675435NM129842M","rel":"update","method":"PATCH"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/38675435NM129842M/capture","rel":"capture","method":"POST"}]}'
  recorded_at: Wed, 10 Aug 2022 13:18:44 GMT
- request:
    method: patch
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/38675435NM129842M
    body:
      encoding: UTF-8
      string: '[{"op":"replace","path":"/purchase_units/@reference_id==''default''","value":{"amount":{"currency_code":"usd","value":"7.5","breakdown":{"shipping":{"currency_code":"USD","value":"0.75"},"tax_total":{"currency_code":"USD","value":"0.0"},"item_total":{"currency_code":"USD","value":"6.75"}}},"payee":{"merchant_id":"MN7CSWD6RCNJ8"},"items":[{"name":"The
        Works of Edgar Gumstein","unit_amount":{"currency_code":"USD","value":"2.25"},"quantity":3,"sku":"aa"}],"soft_descriptor":"edgar17dd31131","payment_instruction":{"[...]
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/38675435NM129842M
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer A21AAI6Qq9kon0Z2N7R6ed3OXwkNxFraroKppGHWHJUU5w-MlQBKKcZd_WlHbQJgh79HLaWQmEnRyj3GZdRW9FMqRbbSkcmBA
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
      Paypal-Request-Id:
      - '16601375257027059'
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.4
      Sdk-Tech-Stack:
      - Ruby3.0.3
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Application-Id:
      - APP-80W284485P519543T
      Caller-Acct-Num:
      - <PAYPAL_PARTNER_MERCHANT_ID>
      Paypal-Debug-Id:
      - e6044228946f0
    body:
      encoding: UTF-8
      string: '{"id":"38675435NM129842M","intent":"CAPTURE","status":"CREATED","purchase_units":[{"amount":{"currency_code":"USD","value":"7.50","breakdown":{"item_total":{"currency_code":"USD","value":"6.75"},"shipping":{"currency_code":"USD","value":"0.75"},"tax_total":{"currency_code":"USD","value":"0.00"}}},"payee":{"email_address":"sb-c7jpx2385730@business.example.com","display_data":{"brand_name":"Gumroad"}},"payment_instruction":{"platform_fees":[{"amount":{"currency_code":"USD","value":"0.83"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>","merchant_id":"<PAYPAL_PARTNER_MERCHANT_ID>"}}]},"invoice_id":"G_-mnBf9b1j9A7a4ub4nFQ==","soft_descriptor":"edgar17dd31131","items":[{"name":"The
        Works of Edgar Gumstein","unit_amount":{"currency_code":"USD","value":"2.25"},"quantity":"3","sku":"aa"}]}],"create_time":"2022-08-10T13:18:44Z","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/38675435NM129842M","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/checkoutnow?token=38675435NM129842M","rel":"approve","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/38675435NM129842M","rel":"update","method":"PATCH"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/38675435NM129842M/capture","rel":"capture","method":"POST"}]}'
  recorded_at: Wed, 10 Aug 2022 13:18:46 GMT
recorded_with: VCR 6.1.0
