---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5d41e909-eef1-4859-a160-534f8d6138cc
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5d41e909-eef1-4859-a160-534f8d6138cc
      Original-Request:
      - req_7WQNNkGMObF0DR
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-07-29.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1U6EdnIBOqvOFDrfbXyFm1oH",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 8,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1787165711,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Wed, 19 Aug 2026 18:55:11 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1U6EdnIBOqvOFDrfbXyFm1oH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar975e6ec85.app.test.gumroad.com%3A31340%2Fl%2Fi%21&metadata[purchase]=ZNM2e4FTQB6AwwiAU0WbOQ%3D%3D&transfer_group=375521923&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_1U6EdnIBOqvOFDrfbXyFm1oH&statement_descriptor_suffix=edgar975e6ec85
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4c375324-7cc9-465a-87ac-6ae791a0c480
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4c375324-7cc9-465a-87ac-6ae791a0c480
      Original-Request:
      - req_FUGoB3dWCR6s2y
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-07-29.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3U6EdnIBOqvOFDrf161OXFnO",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3U6EdnIBOqvOFDrf161OXFnO_secret_bAWKJqko3zunTYVSUCLesPLUr",
          "confirmation_method": "automatic",
          "created": 1787165711,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "You bought http://edgar975e6ec85.app.test.gumroad.com:31340/l/i!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3U6EdnIBOqvOFDrf1ygJFBAd",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "purchase": "ZNM2e4FTQB6AwwiAU0WbOQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1U6EdnIBOqvOFDrfbXyFm1oH",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar975e6ec85",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "375521923"
        }
  recorded_at: Wed, 19 Aug 2026 18:55:12 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3U6EdnIBOqvOFDrf1ygJFBAd?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-07-29.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3U6EdnIBOqvOFDrf1ygJFBAd",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3U6EdnIBOqvOFDrf1ju02uwh",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1787702400,
            "balance_type": "payments",
            "created": 1787165712,
            "currency": "usd",
            "description": "You bought http://edgar975e6ec85.app.test.gumroad.com:31340/l/i!",
            "exchange_rate": null,
            "fee": 33,
            "fee_details": [
              {
                "amount": 33,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 67,
            "reporting_category": "charge",
            "source": "ch_3U6EdnIBOqvOFDrf1ygJFBAd",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR975E6EC85",
          "captured": true,
          "created": 1787165712,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar975e6ec85.app.test.gumroad.com:31340/l/i!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "ZNM2e4FTQB6AwwiAU0WbOQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 48,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3U6EdnIBOqvOFDrf161OXFnO",
          "payment_method": "pm_1U6EdnIBOqvOFDrfbXyFm1oH",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "authorization_code": "129106",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 8,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "transaction_link_id": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKJD4l9QGMgbhKqrs_zM6LBZsDaD_LysQ3saOflS4gM9VCFAgna4SP51kp8mGqa6PGzrFMDJKtnAUevSg",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar975e6ec85",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "375521923"
        }
  recorded_at: Wed, 19 Aug 2026 18:55:12 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3U6EdnIBOqvOFDrf1ygJFBAd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API vers[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3U6EdnIBOqvOFDrf1ygJFBAd
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 482ad527-0149-4ebe-8e93-82fe1b1393c3
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 482ad527-0149-4ebe-8e93-82fe1b1393c3
      Original-Request:
      - req_F6vlaJVKP2iu9f
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-07-29.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3U6EdnIBOqvOFDrf17XXSg6A",
          "object": "refund",
          "amount": 100,
          "balance_transaction": "txn_3U6EdnIBOqvOFDrf1ucGbEkK",
          "charge": "ch_3U6EdnIBOqvOFDrf1ygJFBAd",
          "created": 1787165713,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_3U6EdnIBOqvOFDrf161OXFnO",
          "payment_method": "pm_1U6EdnIBOqvOFDrfbXyFm1oH",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Wed, 19 Aug 2026 18:55:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_3U6EdnIBOqvOFDrf17XXSg6A?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - Y[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3U6EdnIBOqvOFDrf1ygJFBAd?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
