---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic QWFEdkxJeUYwVFRlVUJqUEIwM3BBVkdjRFM1S0JNenFkcktyNU9VRXN2TWdBNnM5czNTNHdaY1U0cm1VUDI0WjczeEk2eHRlY2I2MjVibDY6RVBMQ2dJOE9CY2g2RzUyeHRTeHNBSVVDbGdobVJqZ3o2T2FvNndmT1RXMGtZN3F1UXFCa1ZsT3c0RFdqU2NlWnNQQ0x4OWczSEEyOFhUbzU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - ec864ca2f5573
      X-Paypal-Token-Service:
      - IAAS
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/customer/partner-referrals/readwrite
        https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/payments/realtimepayment
        https://uri.paypal.com/services/customer/onboarding/user https://api.paypal.com/v1/vault/credit-card
        https://api.paypal.com/v1/payments/.* https://uri.paypal.com/services/payments/referenced-payouts-items/readwrite
        https://uri.paypal.com/services/reporting/search/read https://uri.paypal.com/services/customer/partner
        https://uri.paypal.com/services/customer/merchant-integrations/read https://uri.paypal.com/services/applications/webhooks
        https://uri.paypal.com/services/disputes/update-seller https://uri.paypal.com/services/payments/payment/authcapture
        openid https://uri.paypal.com/services/disputes/read-seller https://uri.paypal.com/services/payments/refund
        https://uri.paypal.com/services/risk/raas/transaction-context https://uri.paypal.com/services/customer/consumer-referrals/create
        https://uri.paypal.com/services/partners/merchant-accounts/readwrite https://uri.paypal.com/services/identity/grantdelegation
        https://uri.paypal.com/services/customer/onboarding/account https://uri.paypal.com/payments/payouts
        https://uri.paypal.com/services/customer/onboarding/sessions https://api.paypal.com/v1/vault/credit-card/.*
        https://uri.paypal.com/services/subscriptions","access_token":"A21AAIIgK8wtvEZkzWUqzs-eYz4pFHnSolMRcq0uIAvxILh8GjUQmqU3KFuhXttr2FvfP0n6IdajKy2Nj-xCAsuAP6EFYbEAw","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":31889,"nonce":"2022-06-21T15:17:26ZamfUtvpW-hbU9G6nKq0WMwDMac4oQODh-RI84lfHyfk"}'
  recorded_at: Tue, 21 Jun 2022 15:25:57 GMT
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v1/customer/partners/<PAYPAL_PARTNER_MERCHANT_ID>/merchant-integrations/GSQ5PDPXZCWGW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer A21AAIIgK8wtvEZkzWUqzs-eYz4pFHnSolMRcq0uIAvxILh8GjUQmqU3KFuhXttr2FvfP0n6IdajKy2Nj-xCAsuAP6EFYbEAw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Application-Id:
      - APP-80W284485P519543T
      Caller-Acct-Num:
      - <PAYPAL_PARTNER_MERCHANT_ID>
      Paypal-Debug-Id:
      - 298b2a708d44e
    body:
      encoding: UTF-8
      string: '{"merchant_id":"GSQ5PDPXZCWGW","tracking_id":"4060399422416-1655199412","products":[{"name":"PPCP_CUSTOM","vetting_status":"SUBSCRIBED","capabilities":["AMEX_OPTBLUE","CARD_PROCESSING_VIRTUAL_TERMINAL","COMMERCIAL_ENTITY","CUSTOM_CARD_PROCESSING","DEBIT_CARD_SWITCH","FRAUD_TOOL_ACCESS"]},{"name":"PPCP_STANDARD","vetting_status":"SUBSCRIBED","capabilities":["ALT_PAY_PROCESSING","PAYPAL_CREDIT_PROCESSING","RECEIVE_MONEY","SEND_MONEY","STANDARD_CARD_PROCESSING","VENMO_PAY_PROCESSING","WITHDRAW_MONEY"]},{"name":"MOBILE_PAYMENT_ACCEPTANCE","status":"ACTIVE"}],"capabilities":[{"name":"AMEX_OPTBLUE","status":"ACTIVE"},{"name":"CARD_PROCESSING_VIRTUAL_TERMINAL","status":"ACTIVE"},{"name":"COMMERCIAL_ENTITY","status":"ACTIVE"},{"name":"CUSTOM_CARD_PROCESSING","status":"ACTIVE"},{"name":"DEBIT_CARD_SWITCH","status":"ACTIVE"},{"name":"FRAUD_TOOL_ACCESS","status":"ACTIVE"},{"name":"ALT_PAY_PROCESSING","status":"ACTIVE"},{"name":"PAYPAL_CREDIT_PROCESSING","status":"ACTIVE"},{"name":"RECEIVE_MONEY","status":"ACTIVE"},{"name":"SEND_MONEY","status":"ACTIVE"},{"name":"STANDARD_CARD_PROCESSING","status":"ACTIVE"},{"name":"VENMO_PAY_PROCESSING","status":"ACTIVE"},{"name":"WITHDRAW_MONEY","status":"ACTIVE"}],"payments_receivable":true,"legal_name":"John
        Doe''s Test Store","primary_email":"sb-6intt2962376@business.example.com","primary_email_confirmed":true,"oauth_integrations":[{"integration_type":"OAUTH_THIRD_PARTY","integration_method":"PAYPAL","oauth_third_party":[{"partner_client_id":"<PAYPAL_PARTNER_CLIENT_ID>","merchant_client_id":"Aa89PinX50UeS8Y0i1uTyy2YEURX1Lhkf3zItNUC104hropkNz_PY8iYCxAJVB8taVM7tvBnf3BERa-8","scopes":["https://uri.paypal.com/services/payments/delay-funds-disbursement","https://uri.paypal.com/services/payments/realtimepayment","https://uri.paypal.com/services/payments/partnerfee","https://uri.paypal.com/services/payments/refund","https://uri.paypal.com/services/customer/merchant-integrations/read","https://uri.paypal.com/services/disputes/update-seller","https://uri.paypal.com/services/payments/payment/authcapture","https://uri.paypal.com/services/disputes/read-seller"]}]}],"primary_currency":"USD","country":"US"}'
  recorded_at: Tue, 21 Jun 2022 15:25:59 GMT
recorded_with: VCR 6.1.0
