---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fe97efa2-837a-4abb-b551-1c653ed53685
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fe97efa2-837a-4abb-b551-1c653ed53685
      Original-Request:
      - req_k8oBVmKGKRpUy4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O4uVU9e1RjUNIyYSuIuaNSI",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698191973,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 24 Oct 2023 23:59:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O4uVU9e1RjUNIyYSuIuaNSI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=You+bought+http%3A%2F%2Fedgar61087e2e362.test.gumroad.com%3A31337%2Fl%2Fy&metadata[purchase]=qDxWZX1yty55FhpCg9GiuQ%3D%3D&transfer_group=329&automatic_payment_methods[enabled]=true&automatic_payment_methods[allow_redirects]=never&confirm=true&off_session=true&payment_method=pm_0O4uVU9e1RjUNIyYSuIuaNSI&statement_descriptor_suffix=edgar61087e2e362&transfer_data[destination]=acct_19paZxAQqMpdRp2I&transfer_data[amount]=880
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 778d8bae-7450-40fb-b7f3-c66614411f67
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 778d8bae-7450-40fb-b7f3-c66614411f67
      Original-Request:
      - req_vLb9sEaMEkp0nJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O4uVW9e1RjUNIyY1Btg45LO",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "never",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O4uVW9e1RjUNIyY1Btg45LO_secret_yc0ukfAVU0IfDrmTLoZjxYVWO",
          "confirmation_method": "automatic",
          "created": 1698191974,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar61087e2e362.test.gumroad.com:31337/l/y",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O4uVW9e1RjUNIyY1dvZF1Qv",
          "livemode": false,
          "metadata": {
            "purchase": "qDxWZX1yty55FhpCg9GiuQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O4uVU9e1RjUNIyYSuIuaNSI",
          "payment_method_configuration_details": {
            "id": "pmc_0KYMlf9e1RjUNIyYT1l4J38o",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar61087e2e362",
          "status": "succeeded",
          "transfer_data": {
            "amount": 880,
            "destination": "acct_19paZxAQqMpdRp2I"
          },
          "transfer_group": "329"
        }
  recorded_at: Tue, 24 Oct 2023 23:59:35 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O4uVW9e1RjUNIyY1dvZF1Qv?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O4uVW9e1RjUNIyY1dvZF1Qv",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O4uVW9e1RjUNIyY15XI7ihc",
            "object": "balance_transaction",
            "amount": 1000,
            "available_on": 1698710400,
            "created": 1698191974,
            "currency": "usd",
            "description": "You bought http://edgar61087e2e362.test.gumroad.com:31337/l/y",
            "exchange_rate": null,
            "fee": 50,
            "fee_details": [
              {
                "amount": 50,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 950,
            "reporting_category": "charge",
            "source": "ch_2O4uVW9e1RjUNIyY1dvZF1Qv",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR61087E",
          "captured": true,
          "created": 1698191974,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar61087e2e362.test.gumroad.com:31337/l/y",
          "destination": "acct_19paZxAQqMpdRp2I",
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "qDxWZX1yty55FhpCg9GiuQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 12,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O4uVW9e1RjUNIyY1Btg45LO",
          "payment_method": "pm_0O4uVU9e1RjUNIyYSuIuaNSI",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo6LThqQYyBrCqADiBbDosFifsFAmdnRHQhTBnWmbsmpb_2X1g7URQBVBQaWANSE3Wo_16sWvaj_gQ5ZI",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar61087e2e362",
          "status": "succeeded",
          "transfer": "tr_2O4uVW9e1RjUNIyY18a2XSD5",
          "transfer_data": {
            "amount": 880,
            "destination": "acct_19paZxAQqMpdRp2I"
          },
          "transfer_group": "329"
        }
  recorded_at: Tue, 24 Oct 2023 23:59:36 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2O4uVW9e1RjUNIyY18a2XSD5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2O4uVW9e1RjUNIyY18a2XSD5",
          "object": "transfer",
          "amount": 880,
          "amount_reversed": 0,
          "balance_transaction": "txn_2O4uVW9e1RjUNIyY1qiLJiPy",
          "created": 1698191974,
          "currency": "usd",
          "description": null,
          "destination": "acct_19paZxAQqMpdRp2I",
          "destination_payment": "py_1O4uVWAQqMpdRp2IPUt1C9Ln",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_2O4uVW9e1RjUNIyY18a2XSD5/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_2O4uVW9e1RjUNIyY1dvZF1Qv",
          "source_type": "card",
          "transfer_group": "329"
        }
  recorded_at: Tue, 24 Oct 2023 23:59:37 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1O4uVWAQqMpdRp2IPUt1C9Ln?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_19paZxAQqMpdRp2I
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_19paZxAQqMpdRp2I
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1O4uVWAQqMpdRp2IPUt1C9Ln",
          "object": "charge",
          "amount": 880,
          "amount_captured": 880,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1O4uVXAQqMpdRp2IXA1lJFHT",
            "object": "balance_transaction",
            "amount": 880,
            "available_on": 1698710400,
            "created": 1698191975,
            "currency": "usd",
            "description": null,
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 880,
            [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O4uVZ9e1RjUNIyYsPjezS3L
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O4uVa9e1RjUNIyY02AzNOo2?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2O4uVa9e1RjUNIyY05VAliAj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2O4uVa9e1RjUNIyY05VAliAj",
          "object": "transfer",
          "amount": 841,
          "amount_reversed": 0,
          "balance_transaction": "txn_2O4uVa9e1RjUNIyY09ScStE3",
          "created": 1698191979,
          "currency": "usd",
          "description": null,
          "destination": "acct_19paZxAQqMpdRp2I",
          "destination_payment": "py_1O4uVbAQqMpdRp2IKRaw9YcT",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_2O4uVa9e1RjUNIyY05VAliAj/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_2O4uVa9e1RjUNIyY02AzNOo2",
          "source_type": "card",
          "transfer_group": "330"
        }
  recorded_at: Tue, 24 Oct 2023 23:59:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1O4uVbAQqMpdRp2IKRaw9YcT?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_19paZxAQqMpdRp2I
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O4uVe9e1RjUNIyY0yiuBsqB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O4uVf9e1RjUNIyY1uJ8o64d?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2O4uVf9e1RjUNIyY1XzhKLd8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2O4uVf9e1RjUNIyY1XzhKLd8",
          "object": "transfer",
          "amount": 880,
          "amount_reversed": 0,
          "balance_transaction": "txn_2O4uVf9e1RjUNIyY10Khcnc5",
          "created": 1698191984,
          "currency": "usd",
          "description": null,
          "destination": "acct_19paZxAQqMpdRp2I",
          "destination_payment": "py_1O4uVgAQqMpdRp2INSmwgOMv",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_2O4uVf9e1RjUNIyY1XzhKLd8/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_2O4uVf9e1RjUNIyY1uJ8o64d",
          "source_type": "card",
          "transfer_group": "331"
        }
  recorded_at: Tue, 24 Oct 2023 23:59:46 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1O4uVgAQqMpdRp2INSmwgOMv?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_19paZxAQqMpdRp2I
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
