/* Font face declarations (migrated from _font.scss) */
@font-face {
  font-family: "ABC Favorit";
  src: url("~fonts/ABCFavorit-Regular.woff2");
}

@font-face {
  font-family: "ABC Favorit";
  src: url("~fonts/ABCFavorit-RegularItalic.woff2");
  font-style: italic;
}

@font-face {
  font-family: "ABC Favorit";
  src: url("~fonts/ABCFavorit-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "ABC Favorit";
  src: url("~fonts/ABCFavorit-BoldItalic.woff2");
  font-weight: 700;
  font-style: italic;
}

@import "../stylesheets/definitions";
@import "../stylesheets/button";

.gumroad-button {
  @include globals;
}

a.gumroad-button {
  --parent-color: 0 0 0 !important;
  @extend %button, .primary;
  font-family: $font-family;
  $icons: [];
  @import "../stylesheets/icons";
}
