---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"WA","to_zip":98039,"shipping":0.0,"line_items":[{"quantity":1,"unit_price":1.0,"discount":0,"product_tax_code":"31000"}],"nexus_addresses":[{"country":"US","state":"WA"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - cddb33b5-6e12-4ad5-8647-b7b3c35ec679
      X-Amz-Apigw-Id:
      - EGgUMGtaoAMEQzg=
    body:
      encoding: UTF-8
      string: '{"tax":{"order_total_amount":1.0,"shipping":0.0,"taxable_amount":1.0,"amount_to_collect":0.1,"rate":0.102,"has_nexus":true,"freight_taxable":true,"tax_source":"destination","jurisdictions":{"country":"US","state":"WA","county":"KING","city":"BELLEVUE"},"breakdown":{"taxable_amount":1.0,"tax_collectable":0.1,"combined_tax_rate":0.102,"state_taxable_amount":1.0,"state_tax_rate":0.065,"state_tax_collectable":0.07,"county_taxable_amount":1.0,"county_tax_rate":0.004,"county_tax_collectable":0.0,"city_taxable_amount":1.0,"city_tax_rate":0.01,"city_tax_collectable":0.01,"special_district_taxable_amount":1.0,"special_tax_rate":0.023,"special_district_tax_collectable":0.02,"shipping":{"taxable_amount":0.0,"tax_collectable":0.0,"combined_tax_rate":0.102,"state_taxable_amount":0.0,"state_sales_tax_rate":0.065,"state_amount":0.0,"county_taxable_amount":0.0,"county_tax_rate":0.004,"county_amount":0.0,"city_taxable_amount":0.0,"city_tax_rate":0.01,"city_amount":0.0,"special_taxable_amount":0.0,"special_tax_rate":0.023,"special_district_amount":0.0},"line_items":[{"id":"1","taxable_amount":1.0,"tax_collectable":0.1,"combined_tax_rate":0.102,"state_taxable_amount":1.0,"state_sales_tax_rate":0.065,"state_amount":0.07,"county_taxable_amount":1.0,"county_tax_rate":0.004,"county_amount":0.0,"city_taxable_amount":1.0,"city_tax_rate":0.01,"city_amount":0.01,"special_district_taxable_amount":1.0,"special_tax_rate":0.023,"special_district_amount":0.02}]}}}'
  recorded_at: Thu, 09 Jan 2025 03:49:34 GMT
[...]
