---
http_interactions:
- request:
    method: get
    uri: https://v3.api.taxid.pro/validate?country=IS&tin=1234567890
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TAX_ID_PRO_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Rndr-Id:
      - f40de8ef-ef73-4499
      X-Render-Origin-Server:
      - uvicorn
    body:
      encoding: ASCII-8BIT
      string: '{"country_name":null,"tin_compact":null,"tin_standard":null,"format_name":null,"is_valid":false,"message":"Invalid
        KN or VSK."}'
  recorded_at: Wed, 18 Dec 2024 08:20:44 GMT
recorded_with: VCR 6.2.0
