---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5a226469-f0d6-45c6-ab28-753c0bb9260e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5a226469-f0d6-45c6-ab28-753c0bb9260e
      Original-Request:
      - req_Ky5Qrvc9UzyQ8h
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OsGzp9e1RjUNIyYndeXr9Ai",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1709956493,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 08 Mar 2024 15:54:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OsGzp9e1RjUNIyYndeXr9Ai
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgarff2b5ab014.test.gumroad.com%3A31337%2Fl%2Fd&metadata[purchase]=dQMAHeiff1UMsaDDxJzpTQ%3D%3D&transfer_group=20&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0OsGzp9e1RjUNIyYndeXr9Ai&statement_descriptor_suffix=edgarff2b5ab014
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - af717da7-aa58-4186-b71b-9b8530d4d2e0
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - af717da7-aa58-4186-b71b-9b8530d4d2e0
      Original-Request:
      - req_qhAtFVzD5LNOpa
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OsGzq9e1RjUNIyY0DUgmcjE",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OsGzq9e1RjUNIyY0DUgmcjE_secret_J3qcuS2r1gNE4uE43nCXh5y2B",
          "confirmation_method": "automatic",
          "created": 1709956494,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarff2b5ab014.test.gumroad.com:31337/l/d",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OsGzq9e1RjUNIyY0NrEPGCg",
          "livemode": false,
          "metadata": {
            "purchase": "dQMAHeiff1UMsaDDxJzpTQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OsGzp9e1RjUNIyYndeXr9Ai",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarff2b5ab014",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "20"
        }
  recorded_at: Fri, 08 Mar 2024 15:54:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OsGzq9e1RjUNIyY0NrEPGCg?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OsGzq9e1RjUNIyY0NrEPGCg",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OsGzq9e1RjUNIyY03PJxEHO",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1710201600,
            "created": 1709956494,
            "currency": "usd",
            "description": "You bought http://edgarff2b5ab014.test.gumroad.com:31337/l/d",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2OsGzq9e1RjUNIyY0NrEPGCg",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARFF2B5A",
          "captured": true,
          "created": 1709956494,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarff2b5ab014.test.gumroad.com:31337/l/d",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "dQMAHeiff1UMsaDDxJzpTQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 12,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OsGzq9e1RjUNIyY0DUgmcjE",
          "payment_method": "pm_0OsGzp9e1RjUNIyYndeXr9Ai",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoj7uvrwYyBrn2ZkWeFjosFv1gjBMJ3CNsuacu-OYVsV7KkLk7kJ3vTBCIPM8OIMphR1YoDlZVjFjponA",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarff2b5ab014",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "20"
        }
  recorded_at: Fri, 08 Mar 2024 15:54:53 GMT
[...]
