---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0002&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0267cec3-4f98-4fa9-bd99-5e70abc5a3c5
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0267cec3-4f98-4fa9-bd99-5e70abc5a3c5
      Original-Request:
      - req_UUbkUBTYXnssOe
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6u0j9e1RjUNIyYtGxbx482",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "oiLxi0ZM3Ud9pQDh",
            "funding": "credit",
            "generated_from": null,
            "last4": "0002",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698666722,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 11:52:02 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6u0m9e1RjUNIyY2EGkSKv2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgarec8ffe3716.test.gumroad.com%3A31337%2Fl%2Fb&metadata[purchase]=wfB4eP8kzEzRsxorEjWmvQ%3D%3D&transfer_group=16&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0O6u0m9e1RjUNIyY2EGkSKv2&statement_descriptor_suffix=edgarec8ffe3716
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5a8c954c-5deb-4a90-947e-d54feb48a7aa
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5a8c954c-5deb-4a90-947e-d54feb48a7aa
      Original-Request:
      - req_kpAUCM6jVQ2uZt
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_2O6u0o9e1RjUNIyY1IRSTYDK",
            "code": "incorrect_zip",
            "doc_url": "https://stripe.com/docs/error-codes/incorrect-zip",
            "message": "Your card could not be authorized using the postal code provided. Please update the postal code, or contact your card issuer for further details.",
            "param": "address_zip",
            "payment_intent": {
              "id": "pi_2O6u0o9e1RjUNIyY10QCjfWq",
              "object": "payment_intent",
              "amount": 100,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic",
              "client_secret": "pi_2O6u0o9e1RjUNIyY10QCjfWq_secret_hWfbgN5k5EyQESsaOfZ7gV3I1",
              "confirmation_method": "manual",
              "created": 1698666726,
              "currency": "usd",
              "customer": null,
              "description": "You bought http://edgarec8ffe3716.test.gumroad.com:31337/l/b",
              "invoice": null,
              "last_payment_error": {
                "charge": "ch_2O6u0o9e1RjUNIyY1IRSTYDK",
                "code": "incorrect_zip",
                "doc_url": "https://stripe.com/docs/error-codes/incorrect-zip",
                "message": "Your card could not be authorized using the postal code provided. Please update the postal code, or contact your card issuer for further details.",
                "param": "address_zip",
                "payment_method": {
                  "id": "pm_0O6u0m9e1RjUNIyY2EGkSKv2",
                  "object": "payment_method",
                  "billing_details": {
                    "address": {
                      "city": null,
                      "country": null,
                      "line1": null,
                      "line2": null,
                      "postal_code": "12345",
                      "state": null
                    },
                    "email": null,
                    "name": null,
 [...]
