---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 69427311-5658-4b30-82f0-647eadce64b7
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 69427311-5658-4b30-82f0-647eadce64b7
      Original-Request:
      - req_9o3Jhn7ezpNXtQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0PP1tc9e1RjUNIyY5Xmf28yN",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1717763272,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 07 Jun 2024 12:27:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0PP1tc9e1RjUNIyY5Xmf28yN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=2570&email=edgardbf12bcc_4779%40gumroad.com&payment_method=pm_0PP1tc9e1RjUNIyY5Xmf28yN
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8c6dea21-b036-4033-af61-02ea4841762e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8c6dea21-b036-4033-af61-02ea4841762e
      Original-Request:
      - req_ADpMFKmnByFDSF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_QFWx6VP894JzPE",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1717763273,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "2570",
          "discount": null,
          "email": "edgardbf12bcc_4779@gumroad.com",
          "invoice_prefix": "104B6EBE",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 07 Jun 2024 12:27:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1800&currency=usd&description=You+bought+http%3A%2F%2Fedgarb0c962872075.test.gumroad.com%3A31337%2Fl%2Fb&metadata[purchase]=GvFYDj_F6H4lJDO8uJb9bA%3D%3D&transfer_group=639&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_QFWx6VP894JzPE&payment_method=pm_0PP1tc9e1RjUNIyY5Xmf28yN&statement_descriptor_suffix=edgarb0c962872075
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8786dc41-e13c-477b-810b-a83a7524a3fa
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8786dc41-e13c-477b-810b-a83a7524a3fa
      Original-Request:
      - req_UM1v79xNnyJceL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2PP1te9e1RjUNIyY0u6PvZhQ",
          "object": "payment_intent",
          "amount": 1800,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1800,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2PP1te9e1RjUNIyY0u6PvZhQ_secret_tUbGDufXTvUnVvfbbkao7fnXx",
          "confirmation_method": "automatic",
          "created": 1717763274,
          "currency": "usd",
          "customer": "cus_QFWx6VP894JzPE",
          "description": "You bought http://edgarb0c962872075.test.gumroad.com:31337/l/b",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2PP1te9e1RjUNIyY0FWi8pLe",
          "livemode": false,
          "metadata": {
            "purchase": "GvFYDj_F6H4lJDO8uJb9bA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0PP1tc9e1RjUNIyY5Xmf28yN",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarb0c962872075",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "639"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2PP1te9e1RjUNIyY0FWi8pLe?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2PP1te9e1RjUNIyY0FWi8pLe",
          "object": "charge",
          "amount": 1800,
          "amount_captured": 1800,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2PP1te9e1RjUNIyY0ZJtNbqO",
            "object": "balance_transaction",
            "amount": 1800,
            "available_on": 1718064000,
            "created": 1717763274,
            "currency": "usd",
            "description": "You bought http://edgarb0c962872075.test.gumroad.com:31337/l/b",
            "exchange_rate": null,
            "fee": 66,
            "fee_details": [
              {
                "amount": 66,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1734,
            "reporting_category": "charge",
            "source": "ch_2PP1te9e1RjUNIyY0FWi8pLe",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD.CO* EDGARB0C96",
          "captured": true,
          "created": 1717763274,
          "currency": "usd",
          "customer": "cus_QFWx6VP894JzPE",
          "description": "You bought http://edgarb0c962872075.test.gumroad.com:31337/l/b",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "GvFYDj_F6H4lJDO8uJb9bA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 26,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2PP1te9e1RjUNIyY0u6PvZhQ",
          "payment_method": "pm_0PP1tc9e1RjUNIyY5Xmf28yN",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1800,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1800,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUozPmLswYyBp9Kq1LD5zosFt4liLb9XGRmQK5eRQhIzXFRThGwTQQT9aoMuWX_ALKS0rr8DuN5BzmyjNQ",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarb0c962872075",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "639"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
recorded_with: VCR 6.2.0
