---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 510364be-795b-43d9-96e8-2eaadf9e7438
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 510364be-795b-43d9-96e8-2eaadf9e7438
      Original-Request:
      - req_xeMBp1mseNIzmh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0ORAbf9e1RjUNIyYa6fNkeNz",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703497075,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 15 Dec 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0ORAbf9e1RjUNIyYa6fNkeNz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgaraa77e88614.test.gumroad.com%3A31337%2Fl%2Fn&metadata[purchase]=bslL87tllJy23oqO9s0oAw%3D%3D&transfer_group=25&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0ORAbf9e1RjUNIyYa6fNkeNz&statement_descriptor_suffix=edgaraa77e88614
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0555caab-430d-409b-989a-2e91ea3fcffd
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0555caab-430d-409b-989a-2e91ea3fcffd
      Original-Request:
      - req_QZjYQJ9GUR0DSV
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2ORAbg9e1RjUNIyY14ncHuI7",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2ORAbg9e1RjUNIyY14ncHuI7_secret_YicFaUjhgIjthWMU4WwZFcywD",
          "confirmation_method": "automatic",
          "created": 1703497076,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgaraa77e88614.test.gumroad.com:31337/l/n",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2ORAbg9e1RjUNIyY1sdzuCYn",
          "livemode": false,
          "metadata": {
            "purchase": "bslL87tllJy23oqO9s0oAw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0ORAbf9e1RjUNIyYa6fNkeNz",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgaraa77e88614",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "25"
        }
  recorded_at: Fri, 15 Dec 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2ORAbg9e1RjUNIyY1sdzuCYn?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2ORAbg9e1RjUNIyY1sdzuCYn",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2ORAbg9e1RjUNIyY1XFnBRsx",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1703635200,
            "created": 1703497076,
            "currency": "usd",
            "description": "You bought http://edgaraa77e88614.test.gumroad.com:31337/l/n",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2ORAbg9e1RjUNIyY1sdzuCYn",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARAA77E8",
          "captured": true,
          "created": 1703497076,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgaraa77e88614.test.gumroad.com:31337/l/n",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "bslL87tllJy23oqO9s0oAw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 15,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2ORAbg9e1RjUNIyY14ncHuI7",
          "payment_method": "pm_0ORAbf9e1RjUNIyYa6fNkeNz",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo9pqlrAYyBrXVT-_Y0zosFu2fBH7SUrq3uliIj78MnWDQ1tLTJOXLlv2UU1RAZC6u74jkQRT-LUd1tYk",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgaraa77e88614",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "25"
        }
  recorded_at: Fri, 15 Dec 2023 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0ORAbi9e1RjUNIyYVHHwiYbo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0ORAbi9e1RjUNIyYVHHwiYbo
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6bc6d501-d888-4e0d-a1c2-1e10bbb5deda
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6bc6d501-d888-4e0d-a1c2-1e10bbb5deda
      Original-Request:
      - req_QVgbIbgblX0A8p
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PFfxn2KnXZC1sV",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703497079,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "1CF386D0",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 15 Dec 2023 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: customer=cus_PFfxn2KnXZC1sV&payment_method=pm_0ORAbi9e1RjUNIyYVHHwiYbo
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 336e05bf-bafe-4bce-8521-0d8527c219df
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 336e05bf-bafe-4bce-8521-0d8527c219df
      Original-Request:
      - req_DOoEcfnUm1ueMX
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1ORAbkCOxuflorGuO[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=200&currency=usd&description=You+bought+http%3A%2F%2Fedgaraa77e88614.test.gumroad.com%3A31337%2Fl%2Fx&metadata[purchase]=gjLBOzc5IFlPFkVMbcB-Fw%3D%3D&transfer_group=26&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PFfxCSTAEiwcP0&payment_method=pm_1ORAbkCOxuflorGuOfo0FgI2&statement_descriptor_suffix=edgaraa77e88614&application_fee_amount=60
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6577ca5b-7733-448e-a6e6-8a846c01cd3e
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6577ca5b-7733-448e-a6e6-8a846c01cd3e
      Original-Request:
      - req_yl8e4657kcNAC1
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3ORAblCOxuflorGu0rPBij8w",
          "object": "payment_intent",
          "amount": 200,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 200,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee_amount": 60,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3ORAblCOxuflorGu0rPBij8w_secret_I33PHEwU5KsqCcYLi2JgB1H8o",
          "confirmation_method": "automatic",
          "created": 1703497081,
          "currency": "usd",
          "customer": "cus_PFfxCSTAEiwcP0",
          "description": "You bought http://edgaraa77e8861[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3ORAblCOxuflorGu0j3f1dcA?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3ORAblCOxuflorGu0j3f1dcA",
          "object": "charge",
          "amount": 200,
          "amount_captured": 200,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": {
            "id": "fee_1ORAblCOxuflorGunJQghhLn",
            "object": "application_fee",
            "account": "acct_1MFA1rCOxuflorGu",
            "amount": 60,
            "amount_refunded": 0,
            "application": "<STRIPE_CONNECT_CLIENT_ID>",
            "balance_transaction": {
              "id": "txn_0ORAbm9e1RjUNIyYLoStgR64",
              "object": "balance_transaction",
              "amount": 60,
              "available_on": 1704067200,
              "created": 1703497081,
              "currency": "usd",
              "description": "Application fee from application Gumroad for acct_1MFA1rCOxuflorGu (acct_1MFA1rCOxuflorGu)",
              "exchange_rate": 1.29726,
              "fee": 0,
              "fee_details": [],
              "net": 60,
              "reporting_category": "platform_earning",
              "source": "fee_1ORAblCOxuflorGunJQghhLn",
              "status": "pending",
              "type": "application_fee"
            },
            "charge": "ch_3ORAblCOxuflorGu0j3f1dcA",
            "created": 1703497081,
            "currency": "usd",
            "livemode": false,
            "originating_transaction": null,
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/application_fees/fee_1ORAblCOxuflorGunJQghhLn/refunds"
            }
          },
          "application_fee_amount": 60,
          "balance_transaction": {
            "id": "txn_3ORAblCOxuflorGu0n0OEKlF",
            "object": "balance_transaction",
            "amount": 259,
            "available_on": 1704067200,
            "created": 1703497081,
            "currency": "sgd",
            "description": "You bought http://edgaraa77e88614.test.gumroad.com:31337/l/x",
            "excha[...]
