---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0341&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6f6bcb84-31b2-4bb9-a32f-a44be8d7b363
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6f6bcb84-31b2-4bb9-a32f-a44be8d7b363
      Original-Request:
      - req_nBOryjoYDlVIsW
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0PGIsO9e1RjUNIyYoOTW3mjA",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "waikMtIz0irgsfaY",
            "funding": "credit",
            "generated_from": null,
            "last4": "0341",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1715683592,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 14 May 2024 10:46:32 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0PGIsO9e1RjUNIyYoOTW3mjA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgara8e8a64719.test.gumroad.com%3A31337%2Fl%2Fc&metadata[purchase]=BhOHgwVyg1_-bYvQzyjpaA%3D%3D&transfer_group=13&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0PGIsO9e1RjUNIyYoOTW3mjA&statement_descriptor_suffix=edgara8e8a64719
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a1a75b18-3be3-45e5-ac0f-839c7c9c9161
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a1a75b18-3be3-45e5-ac0f-839c7c9c9161
      Original-Request:
      - req_MT1VZFT9dOvikf
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_2PGIsP9e1RjUNIyY0cd2j6u1",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "payment_intent": {
              "id": "pi_2PGIsP9e1RjUNIyY0REnTXDD",
              "object": "payment_intent",
              "amount": 100,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic",
              "client_secret": "pi_2PGIsP9e1RjUNIyY0REnTXDD_secret_TtmVMdXqVL9MPKBexmGPFlkK7",
              "confirmation_method": "automatic",
              "created": 1715683593,
              "currency": "usd",
              "customer": null,
              "description": "You bought http://edgara8e8a64719.test.gumroad.com:31337/l/c",
              "invoice": null,
              "last_payment_error": {
                "charge": "ch_2PGIsP9e1RjUNIyY0cd2j6u1",
                "code": "card_declined",
                "decline_code": "generic_decline",
                "doc_url": "https://stripe.com/docs/error-codes/card-declined",
                "message": "Your card was declined.",
                "payment_method": {
                  "id": "pm_0PGIsO9e1RjUNIyYoOTW3mjA",
                  "object": "payment_method",
                  "allow_redisplay": "unspecified",
                  "billing_details": {
                    "address": {
                      "city": null,
                      "country": null,
                      "line1": null,
                      "line2": null,
                      "postal_code": null,
                      "state": null
                    },
                    "[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges?transfer_group=13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Too many charges with transfer group: `13`",
            "param": "transfer_group",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_4451azNSO7ha2c?t=1715683594",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Tue, 14 May 2024 10:46:35 GMT
recorded_with: VCR 6.2.0
