---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0259&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d30bae8a-ea60-46d7-96b8-7088fa09e3bc
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d30bae8a-ea60-46d7-96b8-7088fa09e3bc
      Original-Request:
      - req_8wBbznvSgIjEEP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6zFG9e1RjUNIyYSVfoRaxW",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "VxUGbAs1AGxaj8mD",
            "funding": "credit",
            "generated_from": null,
            "last4": "0259",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698686842,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 17:27:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=CA&default_currency=cad&type=custom&business_type=individual&tos_acceptance[date]=1427846400&tos_acceptance[ip]=54.234.242.13&business_profile[url]=www.gumroad.com&business_profile[product_description]=Test+product&business_profile[mcc]=5734&individual[verification][document][front]=file_identity_document_success&individual[dob][day]=1&individual[dob][month]=1&individual[[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1O6zFGS7u3vylqxg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O6zFGS7u3vylqxg
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1O6zFGS7u3vylqxg",
          "object": "account",
          "business_profile": {
            "mcc": "5734",
            "name": null,
            "product_description": "Test product",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "www.gumroad.com"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "active",
            "transfers": "active"
          },
          "charges_enabled": true,
          "company": {
            "address": {
              "city": "Toronto",
              "country": "CA",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "M4C 1T2",
              "state": "ON"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "CA",
          "created": 1698686844,
          "default_currency": "cad",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1O6zFHS7u3vylqxgIAkg9sPE",
                "object": "bank_account",
                "account": "acct_1O6zFGS7u3vylqxg",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "CA",
                "currency": "cad",
                "default_for_currency": true,
                "fingerprint": "bHAdUgrfRKNYlJ4L",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "11000-000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1O6zFGS7u3vylqxg/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1O6zFHS7u3vylqxgOwFbZL4I",
            "object": "person",
            "account": "acct_1O6zFGS7u3vylqxg",
            "address": {
              "city": "Toronto",
              "country": "CA",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "M4C 1T2",
              "state": "ON"
            },
            "created": 1698686844,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "me@example.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": "file_0O6zFH9e1RjUNIyYdSIV7LZz"
              },
              "status": "pending"
            }
          },
          "metadata": {},
          "payouts_enabled": true,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {},
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "GUMROAD.CO",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Gumroad",
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "GUMROAD.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 7,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1427846400,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Mon, 30 Oct 2023 17:27:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0O6zFG9e1RjUNIyYSVfoRaxW&confirmation_method=manual&payment_method_types[0]=card&confirm=true&currency=usd&amount=1000&transfer_data[destination]=acct_1O6zFGS7u3vylqxg&on_behalf_of=acct_1O6zFGS7u3vylqxg&application_fee_amount=100
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3b13a48a-aff1-40c3-8001-c265de1dc13b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3b13a48a-aff1-40c3-8001-c265de1dc13b
      Original-Request:
      - req_8QLbPkLod9YNY3
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6zFK9e1RjUNIyY0dmUCJZs",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": null,
          "application_fee_amount": 100,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6zFK9e1RjUNIyY0dmUCJZs_secret_frQuuwAa2VIjqDN9a3RcLFX4A",
          "confirmation_method": "manual",
          "created": 1698686846,
          "currency": "usd",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6zFK9e1RjUNIyY0Fgoct5s",
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": "acct_1O6zFGS7u3vylqxg",
          "payment_method": "pm_0O6zFG9e1RjUNIyYSVfoRaxW",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": {
            "destination": "acct_1O6zFGS7u3vylqxg"
          },
          "transfer_group": "group_pi_2O6zFK9e1RjUNIyY0dmUCJZs"
        }
  recorded_at: Mon, 30 Oct 2023 17:27:28 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6zFK9e1RjUNIyY0Fgoct5s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6zFK9e1RjUNIyY0Fgoct5s",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": "fee_1O6zFLS7u3vylqxgkLHS77OL",
          "application_fee_amount": 100,
          "balance_transaction": "txn_2O6zFK9e1RjUNIyY0PFK7tIk",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD.COM",
          "captured": true,
          "created": 1698686847,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": "acct_1O6zFGS7u3vylqxg",
          "dispute": "dp_0O6zFM9e1RjUNIyY1YcOOxzp",
          "disputed": true,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": "acct_1O6zFGS7u3vylqxg",
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 38,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6zFK9e1RjUNIyY0dmUCJZs",
          "payment_method": "pm_0O6zFG9e1RjUNIyYSVfoRaxW",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "VxUGbAs1AGxaj8mD",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "0259",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUogc__qQYyBslBut7Q6josFgNNFq5aS-mDD6YWYLF_41T87Pb-vOo6GV24Lx8bxEhOcklXntIWQOt_x9Y",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer": "tr_2O6zFK9e1RjUNIyY09RvO17C",
          "transfer_data": {
            "amount": null,
            "destination": "acct_1O6zFGS7u3vylqxg"
          },
          "transfer_group": "group_pi_2O6zFK9e1RjUNIyY0dmUCJZs"
        }
  recorded_at: Mon, 30 Oct 2023 17:27:29 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/disputes/dp_0O6zFM9e1RjUNIyY1YcOOxzp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "dp_0O6zFM9e1RjUNIyY1YcOOxzp",
          "object": "dispute",
          "amount": 1000,
          "balance_transaction": "txn_0O6zFM9e1RjUNIyYxTxFUR6C",
          "balance_transactions": [
            {
              "id": "txn_0O6zFM9e1RjUNIyYxTxFUR6C",
              "object": "balance_transaction",
              "amount": -1356,
              "available_on": 1699228800,
              "created": 1698686848,
              "currency": "cad",
              "description": "Chargeback withdrawal for ch_2O6zFK9e1RjUNIyY0Fgoct5s",
              "exchange_rate": null,
              "fee": 1500,
              "fee_details": [
                {
                  "amount": 1500,
                  "application": null,
                  "currency": "cad",
                  "description": "Dispute fee",
                  "type": "stripe_fee"
                }
              ],
              "net": -2856,
              "reporting_category": "dispute",
              "source": "dp_0O6zFM9e1RjUNIyY1YcOOxzp",
              "status": "pending",
              "type": "adjustment"
            }
          ],
          "charge": "ch_2O6zFK9e1RjUNIyY0Fgoct5s",
          "created": 1698686848,
          "currency": "usd",
          "evidence": {
            "access_activity_log": null,
            "billing_address": null,
            "cancellation_policy": null,
            "cancellation_policy_disclosure": null,
            "cancellation_rebuttal": null,
            "customer_communication": null,
            "customer_email_address": null,
            "customer_name": null,
            "customer_purchase_ip": null,
            "customer_signature": null,
            "duplicate_charge_documentation": null,
            "duplicate_charge_explanation": null,
            "duplicate_charge_id": null,
            "product_description": null,
            "receipt": null,
            "refund_policy": null,
            "refund_policy_disclosure": null,
            "refund_refusal_explanation": null,
            "service_date": null,
            "service_documentation": null,
            "shipping_address": null,
            "shipping_carrier": null,
            "shipping_date": null,
            "shipping_documentation": null,
            "shipping_tracking_number": null,
            "uncategorized_file": null,
            "uncategorized_text": null
          },
          "evidence_details": {
            "due_by": 1699487999,
            "has_evidence": false,
            "past_due": false,
            "submission_count": 0
          },
          "is_charge_refundable": false,
          "livemode": false,
          "metadata": {},
          "payment_intent": "pi_2O6zFK9e1RjUNIyY0dmUCJZs",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "network_reason_code": "83"
            },
            "type": "card"
          },
          "reason": "fraudulent",
          "status": "needs_response"
        }
  recorded_at: Mon, 30 Oct 2023 17:27:31 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/disputes/dp_0O6zFM9e1RjUNIyY1YcOOxzp?expand%5B%5D=balance_transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6zFK9e1RjUNIyY0Fgoct5s?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction&expand%5B%5D=transfer.reversals.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6zFK9e1RjUNIyY0Fgoct5s",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": {
            "id": "fee_1O6zFLS7u3vylqxgkLHS77OL",
            "object": "application_fee",
            "account": "acct_1O6zFGS7u3vylqxg",
            "amount": 100,
            "amount_refunded": 0,
            "application": "<STRIPE_CONNECT_CLIENT_ID>",
            "balance_transaction": "txn_0O6zFO9e1RjUNIyYUoZTYsB2",
            "charge": "py_1O6zFLS7u3vylqxgHjzzvChI",
            "created": 1698686847,
            "currency": "usd",
            "livemode": false,
            "originating_transaction": "ch_2O6zFK9e1RjUNIyY0Fgoct5s",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/application_fees/fee_1O6zFLS7u3vylqxgkLHS77OL/refunds"
            }
          },
          "application_fee_amount": 100,
          "balance_transaction": {
            "id": "txn_2O6zFK9e1RjUNIyY0PFK7tIk",
            "object": "balance_transaction",
            "amount": 1356,
            "available_on": 1699228800,
            "created": 1698[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers/tr_2O6zFK9e1RjUNIyY09RvO17C/reversals
    body:
      encoding: UTF-8
      string: refund_application_fee=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c3cc1ffb-3acf-46bc-8ce6-5404981e617e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c3cc1ffb-3acf-46bc-8ce6-5404981e617e
      Original-Request:
      - req_Hmv2bSDtrEez9O
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "trr_0O6zFQ9e1RjUNIyYbuNqxkpt",
          "object": "transfer_reversal",
          "amount": 1356,
          "balance_transaction": "txn_0O6zFR9e1RjUNIyYSE0HB6WF",
          "created": 1698686852,
          "currency": "cad",
          "destination_payment_refund": "pyr_1O6zFQS7u3vylqxgq8h0ZN73",
          "metadata": {},
          "source_refund": null,
          "transfer": "tr_2O6zFK9e1RjUNIyY09RvO17C"
        }
  recorded_at: Mon, 30 Oct 2023 17:27:34 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2O6zFK9e1RjUNIyY09RvO17C
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2O6zFK9e1RjUNIyY09RvO17C",
          "object": "transfer",
          "amount": 1356,
          "amount_reversed": 1356,
          "balance_transaction": "txn_2O6zFK9e1RjUNIyY0FaP33YL",
          "created": 1698686847,
          "currency": "cad",
          "description": null,
          "destination": "acct_1O6zFGS7u3vylqxg",
          "destination_payment": "py_1O6zFLS7u3vylqxgHjzzvChI",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [
              {
                "id": "trr_0O6zFQ9e1RjUNIyYbuNqxkpt",
                "object": "transfer_reversal",
                "amount": 1356,
                "balance_transaction": "txn_0O6zFR9e1RjUNIyYSE0HB6WF",
                "created": 1698686852,
                "currency": "cad",
                "destination_payment_refund": "pyr_1O6zFQS7u3vylqxgq8h0ZN73",
                "metadata": {},
                "source_refund": null,
                "transfer": "tr_2O6zFK9e1RjUNIyY09RvO17C"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/transfers/tr_2O6zFK9e1RjUNIyY09RvO17C/reversals"
          },
          "reversed": true,
          "source_transaction": "ch_2O6zFK9e1RjUNIyY0Fgoct5s",
          "source_type": "card",
          "transfer_group": "group_pi_2O6zFK9e1RjUNIyY0dmUCJZs"
        }
  recorded_at: Mon, 30 Oct 2023 17:27:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1O6zFLS7u3vylqxgHjzzvChI?expand%5B%5D=application_fee.refunds&expand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1O6zFGS7u3vylqxg
  response:
    status:
      code: 200
    [...]
[...]
