---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 91cfc008-bce9-4ec0-9401-0729ac615cb0
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 91cfc008-bce9-4ec0-9401-0729ac615cb0
      Original-Request:
      - req_ZPQvQjeacbjylM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0QkUFy9e1RjUNIyYU0mmHN5P",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1737653514,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Thu, 23 Jan 2025 17:31:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0QkUFy9e1RjUNIyYU0mmHN5P
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500&currency=usd&description=Gumroad+Charge+bfi_30HLgGWL8H2wo_Gzlg%3D%3D&metadata[purchases%7B0%7D]=bfi_30HLgGWL8H2wo_Gzlg%3D%3D&transfer_group=CH-3&payment_method_types[0]=card&off_session=false&payment_method=pm_0QkUFy9e1RjUNIyYU0mmHN5P&statement_descriptor_suffix=edgar62d6fdfe3
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6b241390-c662-4cef-b2ff-de0cc93c41c7
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6b241390-c662-4cef-b2ff-de0cc93c41c7
      Original-Request:
      - req_QJV7uVHYUtuZPs
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2QkUFz9e1RjUNIyY0aF6T2mJ",
          "object": "payment_intent",
          "amount": 500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2QkUFz9e1RjUNIyY0aF6T2mJ_secret_7SdZDldr8szyw54XkY095YOgi",
          "confirmation_method": "automatic",
          "created": 1737653515,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge bfi_30HLgGWL8H2wo_Gzlg==",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "bfi_30HLgGWL8H2wo_Gzlg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0QkUFy9e1RjUNIyYU0mmHN5P",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar62d6fdfe3",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-3"
        }
  recorded_at: Thu, 23 Jan 2025 17:31:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2QkUFz9e1RjUNIyY0aF6T2mJ/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9611dede-d2b1-4e48-9fde-7212fc718c90
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    head[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2QkUFz9e1RjUNIyY0t0LDPmq?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2QkUFz9e1RjUNIyY0t0LDPmq",
          "object": "charge",
          "amount": 500,
          "amount_captured": 500,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2QkUFz9e1RjUNIyY06loWas6",
            "object": "balance_transaction",
            "amount": 500,
            "available_on": 1737936000,
            "created": 1737653516,
            "currency": "usd",
            "description": "Gumroad Charge bfi_30HLgGWL8H2wo_Gzlg==",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 500,
            "reporting_category": "charge",
            "source": "ch_2QkUFz9e1RjUNIyY0t0LDPmq",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGAR62D6FDFE",
          "captured": true,
          "created": 1737653516,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge bfi_30HLgGWL8H2wo_Gzlg==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "bfi_30HLgGWL8H2wo_Gzlg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 16,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2QkUFz9e1RjUNIyY0aF6T2mJ",
          "payment_method": "pm_0QkUFy9e1RjUNIyYU0mmHN5P",
          "payment_method_details": {
            "card": {
              "amount_authorized": 500,
              "authorization_code": null,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "875457497450891",
              "overcapture": {
                "maximum_amount_capturable": 500,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUojfrJvAYyBuv0Olv2zTosFqNd7XLVePm3bxDELRdZ52dGMgDdD4mAYshtqnw8PXTvFMht9Y-X9NG7sgQ",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar62d6fdfe3",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-3"
        }
  recorded_at: Thu, 23 Jan 2025 17:31:57 GMT
recorded_with: VCR 6.2.0
