---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ac2851b9-d82a-4d85-b5c4-95c1ec14cb4e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ac2851b9-d82a-4d85-b5c4-95c1ec14cb4e
      Original-Request:
      - req_ZvpfE5ozfdgW8r
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6x8Q9e1RjUNIyYzmwSkuJm",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698678730,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 15:12:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6x8Q9e1RjUNIyYzmwSkuJm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O6x8Q9e1RjUNIyYzmwSkuJm
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2d0e4e5f-4dc7-424f-b1ee-d0224040598c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2d0e4e5f-4dc7-424f-b1ee-d0224040598c
      Original-Request:
      - req_L6FUIGGWpzGesy
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Oumh1KfH17VdOT",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698678730,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "65439F74",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 15:12:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgare6387c13152.test.gumroad.com%3A31337%2Fl%2Fv&metadata[purchase]=-PURysMRznHezLyPac567A%3D%3D&transfer_group=76&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_Oumh1KfH17VdOT&payment_method=pm_0O6x8Q9e1RjUNIyYzmwSkuJm&statement_descriptor_suffix=edgare6387c13152
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4908a2dd-f1f4-46d9-b1d2-7e091b688728
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4908a2dd-f1f4-46d9-b1d2-7e091b688728
      Original-Request:
      - req_3hW93oOXFIDqjs
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6x8R9e1RjUNIyY0Arm5oVF",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6x8R9e1RjUNIyY0Arm5oVF_secret_Htf0BgxllvYIGTE7iFVw2YHLD",
          "confirmation_method": "manual",
          "created": 1698678731,
          "currency": "usd",
          "customer": "cus_Oumh1KfH17VdOT",
          "description": "You bought http://edgare6387c13152.test.gumroad.com:31337/l/v",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6x8R9e1RjUNIyY0kFxipVG",
          "livemode": false,
          "metadata": {
            "purchase": "-PURysMRznHezLyPac567A=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6x8Q9e1RjUNIyYzmwSkuJm",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare6387c13152",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "76"
        }
  recorded_at: Mon, 30 Oct 2023 15:12:12 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6x8R9e1RjUNIyY0kFxipVG?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6x8R9e1RjUNIyY0kFxipVG",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6x8R9e1RjUNIyY0HCJ4wD2",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1698796800,
            "created": 1698678732,
            "currency": "usd",
            "description": "You bought http://edgare6387c13152.test.gumroad.com:31337/l/v",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2O6x8R9e1RjUNIyY0kFxipVG",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARE6387C",
          "captured": true,
          "created": 1698678732,
          "currency": "usd",
          "customer": "cus_Oumh1KfH17VdOT",
          "description": "You bought http://edgare6387c13152.test.gumroad.com:31337/l/v",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "-PURysMRznHezLyPac567A=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 64,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6x8R9e1RjUNIyY0Arm5oVF",
          "payment_method": "pm_0O6x8Q9e1RjUNIyYzmwSkuJm",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUozY__qQYyBrZxEm8XWDosFuAlwcFL5ptCU0r76yjXHuz5DiT3LqfrPctvibOAWfrQT1TTM1yPhY2szuM",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare6387c13152",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "76"
        }
  recorded_at: Mon, 30 Oct 2023 15:12:13 GMT
recorded_with: VCR 6.2.0
