---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 90a31fe2-af9b-486a-8490-4d5bfcf3ede6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 90a31fe2-af9b-486a-8490-4d5bfcf3ede6
      Original-Request:
      - req_4FpwQxhsURcB5r
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6x8d9e1RjUNIyYdtMtq3gz",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698678743,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 15:12:24 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6x8d9e1RjUNIyYdtMtq3gz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O6x8d9e1RjUNIyYdtMtq3gz
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 54b102bd-1245-48cf-90b0-5ee6446980bc
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 54b102bd-1245-48cf-90b0-5ee6446980bc
      Original-Request:
      - req_WrGKsNf3OagWEN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OumiXgBFrhIb1e",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698678744,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "05BECFCB",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 15:12:25 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6x8f9e1RjUNIyYF7OTx8x4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgarcdc1a4d3158.test.gumroad.com%3A31337%2Fl%2Fv&metadata[purchase]=CRmle7giX5LbyxRMIf4EYQ%3D%3D&transfer_group=83&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OumiWtSSI2s1ee&payment_method=pm_0O6x8f9e1RjUNIyYF7OTx8x4&statement_descriptor_suffix=edgarcdc1a4d3158
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3cb52228-12b2-44b1-a177-ddcbbecb2d85
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3cb52228-12b2-44b1-a177-ddcbbecb2d85
      Original-Request:
      - req_5WAaLaG5nUrv4o
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6x8h9e1RjUNIyY1Ma2JAoo",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6x8h9e1RjUNIyY1Ma2JAoo_secret_eOxt7P8wSbYR6ZqpGy7PM7td8",
          "confirmation_method": "manual",
          "created": 1698678747,
          "currency": "usd",
          "customer": "cus_OumiWtSSI2s1ee",
          "description": "You bought http://edgarcdc1a4d3158.test.gumroad.com:31337/l/v",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6x8h9e1RjUNIyY1UlMm7KY",
          "livemode": false,
          "metadata": {
            "purchase": "CRmle7giX5LbyxRMIf4EYQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6x8f9e1RjUNIyYF7OTx8x4",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarcdc1a4d3158",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "83"
        }
  recorded_at: Mon, 30 Oct 2023 15:12:28 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6x8h9e1RjUNIyY1UlMm7KY?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6x8h9e1RjUNIyY1UlMm7KY",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6x8h9e1RjUNIyY1GRVUBf3",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1698796800,
            "created": 1698678747,
            "currency": "usd",
            "description": "You bought http://edgarcdc1a4d3158.test.gumroad.com:31337/l/v",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2O6x8h9e1RjUNIyY1UlMm7KY",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARCDC1A4",
          "captured": true,
          "created": 1698678747,
          "currency": "usd",
          "customer": "cus_OumiWtSSI2s1ee",
          "description": "You bought http://edgarcdc1a4d3158.test.gumroad.com:31337/l/v",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "CRmle7giX5LbyxRMIf4EYQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 36,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6x8h9e1RjUNIyY1Ma2JAoo",
          "payment_method": "pm_0O6x8f9e1RjUNIyYF7OTx8x4",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "discover",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "ECvtKSJlKEs08gOS",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "9424",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "discover",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo3Y__qQYyBt0mqX-8hTosFvc7druL2aQbIb-eO_TxJjPDeREW_oRqf73cxnltIuN2C2wxuYb1DJVnTy8",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarcdc1a4d3158",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "83"
        }
  recorded_at: Mon, 30 Oct 2023 15:12:29 GMT
recorded_with: VCR 6.2.0
