---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c238ea31-fee5-486b-b7f9-96c4549bf992
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c238ea31-fee5-486b-b7f9-96c4549bf992
      Original-Request:
      - req_xj9SrFxSyL2yKn
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzH8qIBOqvOFDrfcIooGnug",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730692,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:38:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH8qIBOqvOFDrfcIooGnug
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c78797c4-5918-4514-bb7a-e7c083b07487
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c78797c4-5918-4514-bb7a-e7c083b07487
      Original-Request:
      - req_f7qYqMucu9Mtbo
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TxBVEotWWr57Ek",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1770730693,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "59GDWLBB",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 10 Feb 2026 13:38:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH8qIBOqvOFDrfcIooGnug&customer=cus_TxBVEotWWr57Ek&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6c0a36ac-3fda-4b81-a1d7-5b16de02faac
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6c0a36ac-3fda-4b81-a1d7-5b16de02faac
      Original-Request:
      - req_zUVDO9UPLV9XVB
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1SzH8rIBOqvOFDrfmf5MQYSY",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_1SzH8rIBOqvOFDrfmf5MQYSY_secret_TxBVI4ylicRd7XTrXMz6rhGJ2QVtNHK",
          "created": 1770730693,
          "customer": "cus_TxBVEotWWr57Ek",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_1SzH8rIBOqvOFDrfceV8QWsi",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH8qIBOqvOFDrfcIooGnug",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 10 Feb 2026 13:38:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzH8qIBOqvOFDrfcIooGnug
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500&currency=usd&description=Gumroad+Charge+WyEUY8rJO2geDdAPGHGJuw%3D%3D&metadata[purchases%7B0%7D]=DEWj0_RIl7vptG5iBDpHtA%3D%3D&transfer_group=CH-828&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_TxBVEotWWr57Ek&payment_method=pm_1SzH8qIBOqvOFDrfcIooGnug&statement_descriptor_suffix=edgara460bee7121
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c34bb60a-269c-4abf-9e52-597f712883da
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c34bb60a-269c-4abf-9e52-597f712883da
      Original-Request:
      - req_MtFeF3hlDgoBvg
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzH8tIBOqvOFDrf13oZJC63",
          "object": "payment_intent",
          "amount": 500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 500,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzH8tIBOqvOFDrf13oZJC63_secret_SOs1wju0RRlQV3ub8mjmt37yu",
          "confirmation_method": "automatic",
          "created": 1770730695,
          "currency": "usd",
          "customer": "cus_TxBVEotWWr57Ek",
          "customer_account": null,
          "description": "Gumroad Charge WyEUY8rJO2geDdAPGHGJuw==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SzH8tIBOqvOFDrf1JlxOaw8",
          "livemode": false,
          "metadata": {
            "purchases{0}": "DEWj0_RIl7vptG5iBDpHtA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH8qIBOqvOFDrfcIooGnug",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgara460bee7121",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-828"
        }
  recorded_at: Tue, 10 Feb 2026 13:38:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SzH8tIBOqvOFDrf1JlxOaw8?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SzH8tIBOqvOFDrf1JlxOaw8",
          "object": "charge",
          "amount": 500,
          "amount_captured": 500,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SzH8tIBOqvOFDrf1vTpJdYN",
            "object": "balance_transaction",
            "amount": 500,
            "available_on": 1771286400,
            "balance_type": "payments",
            "created": 1770730695,
            "currency": "usd",
            "description": "Gumroad Charge WyEUY8rJO2geDdAPGHGJuw==",
            "exchange_rate": null,
            "fee": 45,
            "fee_details": [
              {
                "amount": 45,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 455,
            "reporting_category": "charge",
            "source": "ch_3SzH8tIBOqvOFDrf1JlxOaw8",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGARA460BEE71",
          "captured": true,
          "created": 1770730695,
          "currency": "usd",
          "customer": "cus_TxBVEotWWr57Ek",
          "description": "Gumroad Charge WyEUY8rJO2geDdAPGHGJuw==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "DEWj0_RIl7vptG5iBDpHtA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 19,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SzH8tIBOqvOFDrf13oZJC63",
          "payment_method": "pm_1SzH8qIBOqvOFDrfcIooGnug",
          "payment_method_details": {
            "card": {
              "amount_authorized": 500,
              "authorization_code": "876625",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 500,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKMjprMwGMgYQ5uSRGtM6LBZGUmFAMbbw96AAYZXleZLV-95PpE-U7ZjqHGD4XLxxTFb48QWB-Au4Pjot",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgara460bee7121",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-828"
        }
  recorded_at: Tue, 10 Feb 2026 13:38:16 GMT
[...]
