---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123&billing_details[address][postal_code]=12345
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5cc4575f-1194-4bf6-b5fc-979d7a02efe3
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5cc4575f-1194-4bf6-b5fc-979d7a02efe3
      Original-Request:
      - req_5g9224tH7CF7Xf
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6tPg9e1RjUNIyY39N2Jnub",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": "unchecked",
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698664424,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 11:13:44 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6tPg9e1RjUNIyY39N2Jnub
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=400&currency=usd&description=You+bought+http%3A%2F%2Fedgard7c9bd4b220.test.gumroad.com%3A31337%2Fl%2Fh&metadata[purchase]=fztrFaFme_ZXVePDgfouRA%3D%3D&transfer_group=172&payment_method_types[0]=card&confirmation_method=manual&confirm=true&payment_method=pm_0O6tPg9e1RjUNIyY39N2Jnub&statement_descriptor_suffix=edgard7c9bd4b220
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5ecb0417-6677-48b7-8a92-b26b7ff25060
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5ecb0417-6677-48b7-8a92-b26b7ff25060
      Original-Request:
      - req_Z4JNxiZavSOB7R
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6tPh9e1RjUNIyY0ip2xRw1",
          "object": "payment_intent",
          "amount": 400,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 400,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6tPh9e1RjUNIyY0ip2xRw1_secret_1TyNZGzaO2wy0SXz7MkCUvV1B",
          "confirmation_method": "manual",
          "created": 1698664425,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgard7c9bd4b220.test.gumroad.com:31337/l/h",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6tPh9e1RjUNIyY0v64ekgB",
          "livemode": false,
          "metadata": {
            "purchase": "fztrFaFme_ZXVePDgfouRA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6tPg9e1RjUNIyY39N2Jnub",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgard7c9bd4b220",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "172"
        }
  recorded_at: Mon, 30 Oct 2023 11:13:46 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6tPh9e1RjUNIyY0v64ekgB?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6tPh9e1RjUNIyY0v64ekgB",
          "object": "charge",
          "amount": 400,
          "amount_captured": 400,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6tPh9e1RjUNIyY01S5T9Tt",
            "object": "balance_transaction",
            "amount": 400,
            "available_on": 1698796800,
            "created": 1698664425,
            "currency": "usd",
            "description": "You bought http://edgard7c9bd4b220.test.gumroad.com:31337/l/h",
            "exchange_rate": null,
            "fee": 25,
            "fee_details": [
              {
                "amount": 25,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 375,
            "reporting_category": "charge",
            "source": "ch_2O6tPh9e1RjUNIyY0v64ekgB",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARD7C9BD",
          "captured": true,
          "created": 1698664425,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgard7c9bd4b220.test.gumroad.com:31337/l/h",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "fztrFaFme_ZXVePDgfouRA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 4,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6tPh9e1RjUNIyY0ip2xRw1",
          "payment_method": "pm_0O6tPg9e1RjUNIyY39N2Jnub",
          "payment_method_details": {
            "card": {
              "amount_authorized": 400,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": "pass",
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 400,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo65_-qQYyBjgCK8YLtzosFl1dyzBBP1w2t9C8T6wLHDQbDlvRE57Vw4Qn9eC485geDkRNVMO00rNPnec",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgard7c9bd4b220",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "172"
        }
  recorded_at: Mon, 30 Oct 2023 11:13:47 GMT
recorded_with: VCR 6.2.0
