---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_card_indiaRecurringMandateSetupAndRenewalsSuccess
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-07-29.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1U4M5aIBOqvOFDrfTu5ts3M6",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "IN",
            "display_brand": "visa",
            "exp_month": 8,
            "exp_year": 2027,
            "fingerprint": "hYEJM5n23nQzebTI",
            "funding": "credit",
            "generated_from": null,
            "last4": "0123",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1786717686,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Fri, 14 Aug 2026 14:28:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=5619&email=edgard4766bef_3%40gumroad.com&payment_method=pm_card_indiaRecurringMandateSetupAndRenewalsSuccess
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e33c577c-6942-49d8-b75d-5aebaffc2132
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e33c577c-6942-49d8-b75d-5aebaffc2132
      Original-Request:
      - req_hDpQl1O1pWH6aU
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-07-29.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_V4V5uVifIUP4xA",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1786717687,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": "5619",
          "discount": null,
          "email": "edgard4766bef_3@gumroad.com",
          "invoice_prefix": "FDQDUCW3",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 14 Aug 2026 14:28:08 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/fx_quotes
    body:
      encoding: UTF-8
      string: to_currency=usd&from_currencies[0]=inr&lock_duration=hour&usage[type]=payment
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c773a30b-d695-4b3e-8961-e64ef982aa5b
      Stripe-Version:
      - 2025-07-30.preview
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c773a30b-d695-4b3e-8961-e64ef982aa5b
      Original-Request:
      - req_0AUlXddfUSX1zj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-07-30.preview
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "fxq_1U4M5cIBOqvOFDrfTPo6y5Y7",
          "object": "fx_quote",
          "created": 1786717688,
          "lock_duration": "hour",
          "lock_expires_at": 1786721288,
          "lock_status": "active",
          "rates": {
            "inr": {
              "exchange_rate": 0.0103528,
              "rate_details": {
                "base_rate": 0.0104679,
                "duration_premium": 0.001,
                "fx_fee_rate": 0.01,
                "reference_rate": 0.0104776,
                "reference_rate_provider": "ecb"
              }
            }
          },
          "to_currency": "usd",
          "usage": {
            "payment": {
              "destination": null,
              "on_behalf_of": null
            },
            "transfer": null,
            "type": "payment"
          }
        }
  recorded_at: Fri, 14 Aug 2026 14:28:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=96592&currency=inr&description=Gumroad+Charge+ZAhPp1lo5cvAhP7PloRooQ%3D%3D&metadata[purchases%7B0%7D]=dJGqcJY9OywO_Qdr4_FEWw%3D%3D&transfer_group=CH-82&payment_method_types[0]=card&off_session=false&setup_future_usage=off_session&fx_quote=fxq_1U4M5cIBOqvOFDrfTPo6y5Y7&payment_method_options[card][mandate_options][reference]=Mandate-8d6ff065dfa6d3c41d65790adae4046c&pa[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3U4M5dIBOqvOFDrf1FCUm0yB/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0ed273f4-dbfd-496a-a418-86113ad96294
      Stripe-Version:
      - 2025-07-30.preview
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0ed273f4-dbfd-496a-a418-86113ad96294
      Original-Request:
      - req_lAPVnR3TgQ7zbE
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-07-30.preview
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3U4M5dIBOqvOFDrf1FCUm0yB",
          "object": "payment_intent",
          "agent_details": null,
          "allowed_payment_method_types": null,
          "amount": 96592,
          "amount_capturable": 0,
          "amount_details": {
            "surcharge": {},
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_secret": "pi_3U4M5dIBOqvOFDrf1FCUm0yB_secret_cNUTEohula4RxgQo0iZP2qJi5",
          "confirmation_method": "automatic",
          "created": 1786717689,
          "currency": "inr",
          "customer": "cus_V4V5uVifIUP4xA",
          "customer_account": null,
          "description": "Gumroad Charge ZAhPp1lo5cvAhP7PloRooQ==",
          "excluded_payment_method_types": null,
          "fx_quote": "fxq_1U4M5cIBOqvOFDrfTPo6y5Y7",
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "purchases{0}": "dJGqcJY9OywO_Qdr4_FEWw=="
          },
          "next_action": {
            "type": "use_stripe_sdk",
            "use_stripe_sdk": {
              "directory_server_encryption": {
                "algorithm": "RSA",
                "certificate": "-----BEGIN CERTIFICATE-----\nMIIGAzCCA+ugAwIBAgIQNyg9v/wemJMz4m18kdvt6zANBgkqhkiG9w0BAQsFADB2\nMQswCQYDVQQGEwJVUzENMAsGA1UECgwEVklTQTEvMC0GA1UECwwmVmlzYSBJbnRl\ncm5hdGlvbmFsIFNlcnZpY2UgQXNzb2NpYXRpb24xJzAlBgNVBAMMHlZpc2EgZUNv\nbW1lcmNlIElzc3VpbmcgQ0EgLSBHMjAeFw0yNDAyMjcyMjQ0MDNaFw0yNzAyMjYy\nMjQ0MDJaMIGhMRgwFgYDVQQHDA9IaWdobGFuZHMgUmFuY2gxETAPBgNVBAgMCENv\nbG9yYWRvMQswCQYDVQQGEwJVUzENMAsGA1UECgwEVklTQTEvMC0GA1UECwwmVmlz\nYSBJbnRlcm5hdGlvbmFsIFNlcnZpY2UgQXNzb2NpYXRpb24xJTAjBgNVBAMMHDNk\nczIucnN[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3U4M5dIBOqvOFDrf1FCUm0yB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated [...]
