---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - dc6a77fe-507b-42a0-b422-172ca45f5deb
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - dc6a77fe-507b-42a0-b422-172ca45f5deb
      Original-Request:
      - req_SdkzEu50F8Q3oH
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0ORAX39e1RjUNIyY3Xq8nlbU",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703496789,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 25 Dec 2023 09:33:09 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0ORAX39e1RjUNIyY3Xq8nlbU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=53&email=edgarcfaec12a_105%40gumroad.com&payment_method=pm_0ORAX39e1RjUNIyY3Xq8nlbU
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b5a004e2-b06f-4439-8581-ad191d801ba5
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b5a004e2-b06f-4439-8581-ad191d801ba5
      Original-Request:
      - req_ylXZCbULGIxdfX
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PFfsOAkD0gYyEH",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703496789,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "53",
          "discount": null,
          "email": "edgarcfaec12a_105@gumroad.com",
          "invoice_prefix": "DDC0B248",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 25 Dec 2023 09:33:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=599&currency=usd&description=You+bought+http%3A%2F%2Fedgar47bf806654.test.gumroad.com%3A31337%2Fl%2Fm&metadata[purchase]=8ev_Q8PW9oU6gj04ZZ5vPg%3D%3D&transfer_group=51&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PFfsOAkD0gYyEH&payment_method=pm_0ORAX39e1RjUNIyY3Xq8nlbU&statement_descriptor_suffix=edgar47bf806654
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6bbd8866-7cfe-4ea0-804c-4a3731d746b4
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6bbd8866-7cfe-4ea0-804c-4a3731d746b4
      Original-Request:
      - req_0nxpeAk7v66ZQw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2ORAX59e1RjUNIyY0XBMR5kd",
          "object": "payment_intent",
          "amount": 599,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 599,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2ORAX59e1RjUNIyY0XBMR5kd_secret_wqU4dCocpwaKzYRfUlESaxYmG",
          "confirmation_method": "automatic",
          "created": 1703496791,
          "currency": "usd",
          "customer": "cus_PFfsOAkD0gYyEH",
          "description": "You bought http://edgar47bf806654.test.gumroad.com:31337/l/m",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2ORAX59e1RjUNIyY0tR67ADg",
          "livemode": false,
          "metadata": {
            "purchase": "8ev_Q8PW9oU6gj04ZZ5vPg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0ORAX39e1RjUNIyY3Xq8nlbU",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar47bf806654",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "51"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2ORAX59e1RjUNIyY0tR67ADg?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2ORAX59e1RjUNIyY0tR67ADg",
          "object": "charge",
          "amount": 599,
          "amount_captured": 599,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2ORAX59e1RjUNIyY0iIP2LyG",
            "object": "balance_transaction",
            "amount": 599,
            "available_on": 1703635200,
            "created": 1703496791,
            "currency": "usd",
            "description": "You bought http://edgar47bf806654.test.gumroad.com:31337/l/m",
            "exchange_rate": null,
            "fee": 35,
            "fee_details": [
              {
                "amount": 35,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 564,
            "reporting_category": "charge",
            "source": "ch_2ORAX59e1RjUNIyY0tR67ADg",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR47BF80",
          "captured": true,
          "created": 1703496791,
          "currency": "usd",
          "customer": "cus_PFfsOAkD0gYyEH",
          "description": "You bought http://edgar47bf806654.test.gumroad.com:31337/l/m",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "8ev_Q8PW9oU6gj04ZZ5vPg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 31,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2ORAX59e1RjUNIyY0XBMR5kd",
          "payment_method": "pm_0ORAX39e1RjUNIyY3Xq8nlbU",
          "payment_method_details": {
            "card": {
              "amount_authorized": 599,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 599,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo2JilrAYyBlDS1ls8cjosFqPrXEMGPtb5nTPUpNXcC8b1hKotMavKffa75PPMxpAt1-ZPdNZSgh1OJ9g",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar47bf806654",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "51"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0ORAX79e1RjUNIyYsjGOKc0u&customer=cus_PFfsrjnPrVq1nW&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - afdea79b-0461-4153-942c-33c2d79ec3df
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - afdea79b-0461-4153-942c-33c2d79ec3df
      Original-Request:
      - req_pFiBYX9n1T8Q4r
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0ORAX89e1RjUNIyYVTqEgrS8",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0ORAX89e1RjUNIyYVTqEgrS8_secret_PFfsGFwAvnNs7wZrKTBYE2YXJTp5KZS",
          "created": 1703496794,
          "customer": "cus_PFfsrjnPrVq1nW",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0ORAX89e1RjUNIyY8k3URQUi",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0ORAX79e1RjUNIyYsjGOKc0u",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Wed, 01 Jul 2020 00:01:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0ORAX79e1RjUNIyYsjGOKc0u
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: customer=cus_PFfsrjnPrVq1nW&payment_method=pm_0ORAX79e1RjUNIyYsjGOKc0u
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - '049d987a-ce0d-4116-ad1c-5e2a29ccc8f1'
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '049d987a-ce0d-4116-ad1c-5e2a29ccc8f1'
      Original-Request:
      - req_ulUW3qGMYlhVZV
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1ORAXACOxuflorG[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=599&currency=usd&description=You+bought+http%3A%2F%2Fedgar47bf806654.test.gumroad.com%3A31337%2Fl%2Fm&metadata[purchase]=I7taHfMPBgh1MY2s1OA_Cw%3D%3D&transfer_group=52&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PFfsLmyLUV3R7Q&payment_method=pm_1ORAXACOxuflorGuVuAnw2Dp&statement_descriptor_suffix=edgar47bf806654&application_fee_amount=42
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 571824b0-de80-4095-8d7e-6cf0ad10e40e
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 571824b0-de80-4095-8d7e-6cf0ad10e40e
      Original-Request:
      - req_mHaVbuiYc0IT4B
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3ORAXBCOxuflorGu1h7swwgE",
          "object": "payment_intent",
          "amount": 599,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 599,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee_amount": 42,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3ORAXBCOxuflorGu1h7swwgE_secret_5eekZbz3VfqPQAUwAqhIw3IYJ",
          "confirmation_method": "automatic",
          "created": 1703496797,
          "currency": "usd",
          "customer": "cus_PFfsLmyLUV3R7Q",
          "description": "You bought http://edgar47bf80665[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3ORAXBCOxuflorGu1ePCiasd?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3ORAXBCOxuflorGu1ePCiasd",
          "object": "charge",
          "amount": 599,
          "amount_captured": 599,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": {
            "id": "fee_1ORAXBCOxuflorGuQ8CfDwOC",
            "object": "application_fee",
            "account": "acct_1MFA1rCOxuflorGu",
            "amount": 42,
            "amount_refunded": 0,
            "application": "<STRIPE_CONNECT_CLIENT_ID>",
            "balance_transaction": {
              "id": "txn_0ORAXC9e1RjUNIyYxH8yNRo8",
              "object": "balance_transaction",
              "amount": 42,
              "available_on": 1704067200,
              "created": 1703496797,
              "currency": "usd",
              "description": "Application fee from application Gumroad for acct_1MFA1rCOxuflorGu (acct_1MFA1rCOxuflorGu)",
              "exchange_rate": 1.29726,
              "fee": 0,
              "fee_details": [],
              "net": 42,
              "reporting_category": "platform_earning",
              "source": "fee_1ORAXBCOxuflorGuQ8CfDwOC",
              "status": "pending",
              "type": "application_fee"
            },
            "charge": "ch_3ORAXBCOxuflorGu1ePCiasd",
            "created": 1703496797,
            "currency": "usd",
            "livemode": false,
            "originating_transaction": null,
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/application_fees/fee_1ORAXBCOxuflorGuQ8CfDwOC/refunds"
            }
          },
          "application_fee_amount": 42,
          "balance_transaction": {
            "id": "txn_3ORAXBCOxuflorGu1obJoUIz",
            "object": "balance_transaction",
            "amount": 777,
            "available_on": 1704067200,
            "created": 1703496797,
            "currency": "sgd",
            "description": "You bought http://edgar47bf806654.test.gumroad.com:31337/l/m",
            "excha[...]
