---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2500&currency=usd&description=Gumroad+Charge+QxdrGCs-7herKVQbBgNoKA%3D%3D&metadata[purchase]=CH-QxdrGCs-7herKVQbBgNoKA%3D%3D&payment_method_types[0]=card&transfer_group=CH-599&statement_descriptor_suffix=edgar5986bdc15
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - deferred_intent_test_3c53140421c24dde2cd207724e917fd6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - deferred_intent_test_3c53140421c24dde2cd207724e917fd6
      Original-Request:
      - req_SbwDY7DVER1euN
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3ToiN7IBOqvOFDrf1yhcSu9h",
          "object": "payment_intent",
          "amount": 2500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3ToiN7IBOqvOFDrf1yhcSu9h_secret_rF4we5I31GJInEPVnSx9GOnC0",
          "confirmation_method": "automatic",
          "created": 1782990093,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "Gumroad Charge QxdrGCs-7herKVQbBgNoKA==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "purchase": "CH-QxdrGCs-7herKVQbBgNoKA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar5986bdc15",
          "status": "requires_payment_method",
          "transfer_data": null,
          "transfer_group": "CH-599"
        }
  recorded_at: Thu, 02 Jul 2026 11:01:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3ToiN7IBOqvOFDrf1yhcSu9h/confirm
    body:
      encoding: UTF-8
      string: payment_method=pm_card_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d97f0f23-35be-420a-af5b-ce819bc38880
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
 [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3ToiN7IBOqvOFDrf1yhcSu9h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3ToiN7IBOqvOFDrf1NNQIl3j?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3ToiN7IBOqvOFDrf1NNQIl3j",
          "object": "charge",
          "amount": 2500,
          "amount_captured": 2500,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3ToiN7IBOqvOFDrf1oPW9L4F",
            "object": "balance_transaction",
            "amount": 2500,
            "available_on": 1783555200,
            "balance_type": "payments",
            "created": 1782990093,
            "currency": "usd",
            "description": "Gumroad Charge QxdrGCs-7herKVQbBgNoKA==",
            "exchange_rate": null,
            "fee": 103,
            "fee_details": [
              {
                "amount": 103,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 2397,
            "reporting_category": "charge",
            "source": "ch_3ToiN7IBOqvOFDrf1NNQIl3j",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR5986BDC15",
          "captured": true,
          "created": 1782990093,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge QxdrGCs-7herKVQbBgNoKA==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "CH-QxdrGCs-7herKVQbBgNoKA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 56,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3ToiN7IBOqvOFDrf1yhcSu9h",
          "payment_method": "pm_1ToiN7IBOqvOFDrfU4XFI2OI",
          "payment_method_details": {
            "card": {
              "amount_authorized": 2500,
              "authorization_code": "723918",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "ds_transaction_id": null,
              "exp_month": 7,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 2500,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "transaction_link_id": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKI-KmdIGMgbOdPjeU7U6LBZhd_bA4IRvlSk0YWKc3n60IAPouFPMhAVTQPrxgrMv3bLC64npafxwMI2V",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar5986bdc15",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-599"
        }
  recorded_at: Thu, 02 Jul 2026 11:01:35 GMT
recorded_with: VCR 6.2.0
