---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=transfers&country=KR&default_currency=krw&metadata[user_id]=8533128722336&metadata[tos_agreement_id]=fztrFaFme_ZXVePDgfouRA%3D%3D&metadata[user_compliance_info_id]=fztrFaFme_ZXVePDgfouRA%3D%3D&metadata[bank_account_id]=ZwEZY4A-0pocpO013zEYvQ%3D%3D&tos_acceptance[date]=1698692798&tos_acceptance[ip]=54.234.242.13&tos_acceptance[service_agreement]=recipient&business_type=individual&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=edgaref7361ae_1599%40gumroad.com&individual[phone]=0000000000&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=California&individual[address][postal_code]=546080&individual[address][country]=KR&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[id_number]=000000000&bank_account[country]=KR&bank_account[currency]=krw&bank_account[account_number]=000123456789&bank_account[routing_number]=SGSEKRSLXXX&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=false
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8dcaacf3-90b5-48c8-819e-e98ff8e40e24
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8dcaacf3-90b5-48c8-819e-e98ff8e40e24
      Original-Request:
      - req_pbk1XSipFu8Muz
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1O70nLS9UdUHx09e",
          "object": "account",
          "business_profile": {
            "mcc": "5192",
            "name": null,
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "transfers": "active"
          },
          "charges_enabled": true,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "KR",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "546080",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "name_kana": null,
            "name_kanji": null,
            "owners_provided": true,
            "ownership_declaration": null,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "vat_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "KR",
          "created": 1698692800,
          "default_currency": "krw",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1O70nLS9UdUHx09e72cnktqe",
                "object": "bank_account",
                "account": "acct_1O70nLS9UdUHx09e",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "SG SECURITIES KOREA CO., LTD.",
                "country": "KR",
                "currency": "krw",
                "default_for_currency": true,
                "fingerprint": "IONXFvybGyPjE91G",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "SGSEKRSLXXX",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1O70nLS9UdUHx09e/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1O70nLS9UdUHx09eifPad36v",
            "object": "person",
            "account": "acct_1O70nLS9UdUHx09e",
            "address": {
              "city": "San Francisco",
              "country": "KR",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "546080",
              "state": "California"
            },
            "created": 1698692800,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "edgaref7361ae_1599@gumroad.com",
            "first_name": "Chuck",
            "first_name_kana": null,
            "first_name_kanji": null,
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "gender": null,
            "id_number_provided": true,
            "last_name": "Bartowski",
            "last_name_kana": null,
            "last_name_kanji": null,
            "maiden_name": null,
            "metadata": {},
            "nationality": null,
            "phone": "+10000000000",
            "relationship": {
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [
                "verification.document"
              ],
              "past_due": [],
              "pending_verification": []
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "unverified"
            }
          },
          "metadata": {
            "bank_account_id": "ZwEZY4A-0pocpO013zEYvQ==",
            "tos_agreement_id": "fztrFaFme_ZXVePDgfouRA==",
            "user_compliance_info_id": "fztrFaFme_ZXVePDgfouRA==",
            "user_id": "8533128722336"
          },
          "payouts_enabled": true,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [
              "individual.verification.document"
            ],
            "past_due": [],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {},
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "VIPUL.GUMR",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "vipul.gumroad",
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "VIPUL.GUMROAD.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 0,
                "interval": "manual"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1698692798,
            "ip": "54.234.242.13",
            "service_agreement": "recipient",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Mon, 30 Oct 2023 19:06:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: destination=acct_1O70nLS9UdUHx09e&currency=usd&description=Funds+held+by+Gumroad+for+Payment+P4aQ5J1-MIqdduSW9PuOOQ%3D%3D.&amount=200&metadata[payment]=P4aQ5J1-MIqdduSW9PuOOQ%3D%3D&metadata[balances%7B0%7D]=XMdegLwgImhJ-IP20X-x0g%3D%3D%2CHSS5BWyAIBTYDNu8PoKUwQ%3D%3D&expand[0]=balance_transaction
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2170bc1f-6d78-4902-880c-67665ae90451
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2170bc1f-6d78-4902-880c-67665ae90451
      Original-Request:
      - req_bCVxpWQW7KsXUM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_0O70nO9e1RjUNIyYdw6tPY1X",
          "object": "transfer",
          "amount": 200,
          "amount_reversed": 0,
          "balance_transaction": {
            "id": "txn_0O70nO9e1RjUNIyYXrxVQCY3",
            "object": "balance_transaction",
            "amount": -200,
            "available_on": 1698692802,
            "created": 1698692802,
            "currency": "usd",
            "description": "Funds held by Gumroad for Payment P4aQ5J1-MIqdduSW9PuOOQ==.",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": -200,
            "reporting_category": "transfer",
            "source": "tr_0O70nO9e1RjUNIyYdw6tPY1X",
            "status": "available",
            "type": "transfer"
          },
          "created": 1698692802,
          "currency": "usd",
          "description": "Funds held by Gumroad for Payment P4aQ5J1-MIqdduSW9PuOOQ==.",
          "destination": "acct_1O70nLS9UdUHx09e",
          "destination_payment": "py_1O70nOS9UdUHx09e8NlRXqB4",
          "livemode": false,
          "metadata": {
            "balances{0}": "XMdegLwgImhJ-IP20X-x0g==,HSS5BWyAIBTYDNu8PoKUwQ==",
            "payment": "P4aQ5J1-MIqdduSW9PuOOQ=="
          },
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_0O70nO9e1RjUNIyYdw6tPY1X/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Mon, 30 Oct 2023 19:06:43 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_0O70nO9e1RjUNIyYdw6tPY1X
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      en[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers/tr_0O70nO9e1RjUNIyYdw6tPY1X/reversals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7c1a2dbb-699d-4ef2-9b13-9aab6e0cb782
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7c1a2dbb-699d-4ef2-9b13-9aab6e0cb782
      Original-Request:
      - req_5RDOyYgllvTCwl
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "trr_0O70nW9e1RjUNIyYTNbYLpum",
          "object": "transfer_reversal",
          "amount": 200,
          "balance_transaction": "txn_0O70nW9e1RjUNIyYnXEqW1wz",
          "created": 1698692810,
          "currency": "usd",
          "destination_payment_refund": "pyr_1O70nVS9UdUHx09emyYVfYOH",
          "metadata": {},
          "source_refund": null,
          "transfer": "tr_0O70nO9e1RjUNIyYdw6tPY1X"
        }
  recorded_at: Mon, 30 Oct 2023 19:06:50 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1O70nOS9UdUHx09e8NlRXqB4?expand%5B%5D=balance_transaction&expand%5B%5D=refunds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1O70nLS9UdUHx09e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O70nLS9UdUHx09e
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1O70nOS9UdUHx09e8NlRXqB4",
          "object": "charge",
          "amount": 200,
          "amount_captured": 200,
          "amount_refunded": 200,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1O70nOS9UdUHx09eeDfstEt7",
            "object": "balance_transaction",
            "amount": 2643,
            "available_on": 1698692802,
            "created": 1698692802,
            "currency": "krw",
            "description": null,
            "exchange_rate": 13.2136,
            "fee": 0,
            "fee_details": [],
            "net": 2643,
            "reporting_category": "charge",
            "source": "py_1O70nOS9UdUHx09e8NlRXqB4",
            "status": "available",
            "type": "payment"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": null,
          "captured": true,
          "created": 1698692802,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": null,
          "paid": true,
          "payment_intent": null,
          "payment_method": null,
          "payment_method_details": {
            "stripe_account": {},
            "type": "stripe_account"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xTzcwbkxTOVVkVUh4MDllKMv9_6kGMgabA4NjqGY6LBYkgAz4wqx1maicjlzcCgymZxnIhWY0kY9QCZgQcnyKcwxOxiveuPa7-mO4",
          "refunded": true,
          "refunds": {
            "object": "list",
            "data": [
              {
                "id": "pyr_1O70nVS9UdUHx09emyYVfYOH",
                "object": "refund",
                "amount": 200,
                "balance_transaction": "txn_1O70nWS9UdUHx09elj9g7Dix",
                "charge": "py_1O70nOS9UdUHx09e8NlRXqB4",
                "created": 1698692809,
                "currency": "usd",
                "metadata": {},
                "payment_intent": null,
                "reason": null,
                "receipt_number": null,
                "source_transfer_reversal": "trr_0O70nW9e1RjUNIyYTNbYLpum",
                "status": "succeeded",
                "transfer_reversal": "trr_0O70nW9e1RjUNIyYTNbYLpum"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges/py_1O70nOS9UdUHx09e8NlRXqB4/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "<STRIPE_PLATFORM_ACCOUNT_ID>",
            "object": "account",
            "application_icon": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV96QURJZllYTVhmQTEwQWswUmg3MlRpOGI00M3h6olFO",
            "application_logo": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV9WNnByazhHekswejFlUGh3a1M0dnRxZko00eY1DsvrA",
            "application_name": "Gumroad",
            "application_url": "https://gumroad.com"
          },
          "source_transfer": "tr_0O70nO9e1RjUNIyYdw6tPY1X",
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 30 Oct 2023 19:06:51 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/balance_transactions/txn_1O70nWS9UdUHx09elj9g7Dix
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1O70nLS9UdUHx09e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O70nLS9UdUHx09e
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "txn_1O70nWS9UdUHx09elj9g7Dix",
          "object": "balance_transaction",
          "amount": -2697,
          "available_on": 1698692809,
          "created": 1698692809,
          "currency": "krw",
          "description": "REFUND FOR PAYMENT",
          "exchange_rate": 13.4833,
          "fee": 0,
          "fee_details": [],
          "net": -2697,
          "reporting_category": "refund",
          "source": "pyr_1O70nVS9UdUHx09emyYVfYOH",
          "status": "available",
          "type": "payment_refund"
        }
  recorded_at: Mon, 30 Oct 2023 19:06:51 GMT
recorded_with: VCR 6.2.0
