---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/invalid_order_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer A21AAEoHdxMrfOn2fqQGB61AqZmJby4k19FR7F58IsuDEeAVR7UeXVfTiazgv1SeBaZdLp2ErjifHB6zmIUPA59bO2wwTVQDw
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.5.8
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 3bb2cb1caa3a5
    body:
      encoding: UTF-8
      string: '{"name":"RESOURCE_NOT_FOUND","details":[{"issue":"INVALID_RESOURCE_ID","description":"Specified
        resource ID does not exist. Please check the resource ID and try again."}],"message":"The
        specified resource does not exist.","debug_id":"3bb2cb1caa3a5","links":[{"href":"https://developer.paypal.com/docs/api/orders/v2/#error-INVALID_RESOURCE_ID","rel":"information_link","method":"GET"}]}'
  recorded_at: Wed, 17 Jun 2020 18:26:36 GMT
recorded_with: VCR 3.0.3
