---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 85cac15b-ebed-4e18-be96-ca1de9051996
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 85cac15b-ebed-4e18-be96-ca1de9051996
      Original-Request:
      - req_MWSTXMnghD5fL5
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSf2S9e1RjUNIyYwkyuSjSU",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703852384,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:19:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSf2S9e1RjUNIyYwkyuSjSU
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1733c4ab-ca17-4d0b-8e17-fe8005d338ed
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1733c4ab-ca17-4d0b-8e17-fe8005d338ed
      Original-Request:
      - req_IMDrComlnBME38
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDTm0q7pR5T5d",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703852385,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "CDB67A03",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:19:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSf2S9e1RjUNIyYwkyuSjSU&customer=cus_PHDTm0q7pR5T5d&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 22ef8813-55aa-409b-9a11-3fad6cf75f81
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 22ef8813-55aa-409b-9a11-3fad6cf75f81
      Original-Request:
      - req_tYK82vbpCNaVjW
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OSf2T9e1RjUNIyY75d70Vk7",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OSf2T9e1RjUNIyY75d70Vk7_secret_PHDTRBCXMcZkrwYAQZkpHfkpyYL5p41",
          "created": 1703852385,
          "customer": "cus_PHDTm0q7pR5T5d",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0OSf2T9e1RjUNIyYhA4dDjex",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSf2S9e1RjUNIyYwkyuSjSU",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Fri, 29 Dec 2023 12:19:46 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSf2S9e1RjUNIyYwkyuSjSU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2000&currency=usd&description=Gumroad+Charge+fjUeSyuGe9Mc1g9Wla8aXQ%3D%3D&metadata[Ph9aMer11olc2LZwLf2AyQ%3D%3D]=%7B%3Aprice_cents%3D%3E1000%2C+%3Afee_cents%3D%3E120%2C+%3Aaffiliate_credit_cents%3D%3E200%2C+%3Agumroad_tax_cents%3D%3E0%2C+%3Atotal_transaction_cents%3D%3E1000%7D&metadata[ZyyuqqBWlqpQ2xT_JIEJzw%3D%3D]=%7B%3Aprice_cents%3D%3E1000%2C+%3Afee_cents%3D%3E12[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSf2V9e1RjUNIyY1VfhGGCz/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4d12d70f-8fdf-4aea-9b28-1a4e9976884b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4d12d70f-8fdf-4aea-9b28-1a4e9976884b
      Original-Request:
      - req_RMnfUkDkW5xdHH
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSf2V9e1RjUNIyY1VfhGGCz",
          "object": "payment_intent",
          "amount": 2000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 2000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSf2V9e1RjUNIyY1VfhGGCz_secret_wes9Xchg6BYXBNO7TvthreLV5",
          "confirmation_method": "automatic",
          "created": 1703852387,
          "currency": "usd",
          "customer": "cus_PHDTm0q7pR5T5d",
          "description": "Gumroad Charge fjUeSyuGe9Mc1g9Wla8aXQ==",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OSf2V9e1RjUNIyY1NXL3krd",
          "livemode": false,
          "metadata": {
            "Ph9aMer11olc2LZwLf2AyQ==": "{:price_cents=>1000, :fee_cents=>120, :affiliate_credit_cents=>200, :gumroad_tax_cents=>0, :total_transaction_cents=>1000}",
            "ZyyuqqBWlqpQ2xT_JIEJzw==": "{:price_cents=>1000, :fee_cents=>120, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>1000}"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSf2S9e1RjUNIyYwkyuSjSU",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar6a33cbf191",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-53"
        }
  recorded_at: Fri, 29 Dec 2023 12:19:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSf2V9e1RjUNIyY1NXL3krd?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OSf2V9e1RjUNIyY1NXL3krd",
          "object": "charge",
          "amount": 2000,
          "amount_captured": 2000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OSf2V9e1RjUNIyY12W4tYWs",
            "object": "balance_transaction",
            "amount": 2000,
            "available_on": 1704240000,
            "created": 1703852388,
            "currency": "usd",
            "description": "Gumroad Charge fjUeSyuGe9Mc1g9Wla8aXQ==",
            "exchange_rate": null,
            "fee": 70,
            "fee_details": [
              {
                "amount": 70,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1930,
            "reporting_category": "charge",
            "source": "ch_2OSf2V9e1RjUNIyY1NXL3krd",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR6A33CB",
          "captured": true,
          "created": 1703852388,
          "currency": "usd",
          "customer": "cus_PHDTm0q7pR5T5d",
          "description": "Gumroad Charge fjUeSyuGe9Mc1g9Wla8aXQ==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "Ph9aMer11olc2LZwLf2AyQ==": "{:price_cents=>1000, :fee_cents=>120, :affiliate_credit_cents=>200, :gumroad_tax_cents=>0, :total_transaction_cents=>1000}",
            "ZyyuqqBWlqpQ2xT_JIEJzw==": "{:price_cents=>1000, :fee_cents=>120, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>1000}"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 9,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OSf2V9e1RjUNIyY1VfhGGCz",
          "payment_method": "pm_0OSf2S9e1RjUNIyYwkyuSjSU",
          "payment_method_details": {
            "card": {
              "amount_authorized": 2000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 2000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo5fK6rAYyBozdJ2_AXDosFkepmVowu7RMD-c6y-LDlJDWpUqMThTPwDqICN0bnpOxXYq-ji2tDLbp-5s",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar6a33cbf191",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-53"
        }
  recorded_at: Fri, 29 Dec 2023 12:19:49 GMT
recorded_with: VCR 6.2.0
