---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - aa737541-7358-4649-9c66-4097ecc33e78
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - aa737541-7358-4649-9c66-4097ecc33e78
      Original-Request:
      - req_QHr5qZbOoESXkb
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSf2x9e1RjUNIyYKZbd98Ls",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703852415,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:20:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSf2x9e1RjUNIyYKZbd98Ls
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d971055f-4ba3-4c8a-9396-a0ab29015c2d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d971055f-4ba3-4c8a-9396-a0ab29015c2d
      Original-Request:
      - req_W4wOWKDBFXXxuL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDTM1zGeRO52Y",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703852415,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "0A8028C9",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:20:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSf2x9e1RjUNIyYKZbd98Ls&customer=cus_PHDTM1zGeRO52Y&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a494fd7f-71c3-4b35-b5b0-28041a5ffed7
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a494fd7f-71c3-4b35-b5b0-28041a5ffed7
      Original-Request:
      - req_ggAqx4ziM16Rtr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OSf2y9e1RjUNIyYax9YciK1",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OSf2y9e1RjUNIyYax9YciK1_secret_PHDTgeuSsTU4kFwmtjyXLaIF1Uy73Ms",
          "created": 1703852416,
          "customer": "cus_PHDTM1zGeRO52Y",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0OSf2y9e1RjUNIyYvL0Oe5ZG",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSf2x9e1RjUNIyYKZbd98Ls",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Fri, 29 Dec 2023 12:20:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSf2x9e1RjUNIyYKZbd98Ls
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=Gumroad+Charge+0on8Dh-3wxE3zc8CKSUIpw%3D%3D&metadata[7IWMWe-Pctv5elG_hkYvtA%3D%3D]=%7B%3Aprice_cents%3D%3E100%2C+%3Afee_cents%3D%3E39%2C+%3Aaffiliate_credit_cents%3D%3E0%2C+%3Agumroad_tax_cents%3D%3E0%2C+%3Atotal_transaction_cents%3D%3E100%7D&transfer_group=CH-59&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PHDTM1zGeRO52Y&payment_method=pm_0OSf2x9e1RjUNIyYKZbd98Ls&statement_descriptor_suffix=gumbo
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f989b140-93b6-4aab-96fe-6607c2f17149
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f989b140-93b6-4aab-96fe-6607c2f17149
      Original-Request:
      - req_PoLGVRptsYscJ8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSf309e1RjUNIyY0yZA4YXP",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSf309e1RjUNIyY0yZA4YXP_secret_4iz9kCaQd5BWEszz7qbp8XicH",
          "confirmation_method": "automatic",
          "created": 1703852418,
          "currency": "usd",
          "customer": "cus_PHDTM1zGeRO52Y",
          "description": "Gumroad Charge 0on8Dh-3wxE3zc8CKSUIpw==",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OSf309e1RjUNIyY0UBvnolj",
          "livemode": false,
          "metadata": {
            "7IWMWe-Pctv5elG_hkYvtA==": "{:price_cents=>100, :fee_cents=>39, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>100}"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSf2x9e1RjUNIyYKZbd98Ls",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "gumbo",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-59"
        }
  recorded_at: Fri, 29 Dec 2023 12:20:19 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSf309e1RjUNIyY0UBvnolj?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OSf309e1RjUNIyY0UBvnolj",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OSf309e1RjUNIyY0XzatIO2",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1704240000,
            "created": 1703852418,
            "currency": "usd",
            "description": "Gumroad Charge 0on8Dh-3wxE3zc8CKSUIpw==",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2OSf309e1RjUNIyY0UBvnolj",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* GUMBO",
          "captured": true,
          "created": 1703852418,
          "currency": "usd",
          "customer": "cus_PHDTM1zGeRO52Y",
          "description": "Gumroad Charge 0on8Dh-3wxE3zc8CKSUIpw==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "7IWMWe-Pctv5elG_hkYvtA==": "{:price_cents=>100, :fee_cents=>39, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>100}"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 22,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OSf309e1RjUNIyY0yZA4YXP",
          "payment_method": "pm_0OSf2x9e1RjUNIyYKZbd98Ls",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUog_O6rAYyBnrE7dE4OzosFvxOvnPnlYir8CYyi3eoBhTHikkdBZXO7MRfavsrr5QpPnGFC9fvBn6PPI0",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "gumbo",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-59"
        }
  recorded_at: Fri, 29 Dec 2023 12:20:19 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSf329e1RjUNIyY1YARQrpD?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
