---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - cac3c8a5-d82a-46f1-a918-38dcf979057a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cac3c8a5-d82a-46f1-a918-38dcf979057a
      Original-Request:
      - req_SZPSa7ocHybY6x
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSf2o9e1RjUNIyYRFmjmQkY",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703852406,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:20:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSf2o9e1RjUNIyYRFmjmQkY
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d5d12747-4a7d-4932-b968-ec157079c16a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d5d12747-4a7d-4932-b968-ec157079c16a
      Original-Request:
      - req_clNVN5eBMRXaPN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDTrhVe252qBw",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703852407,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "ADA66031",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:20:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSf2o9e1RjUNIyYRFmjmQkY&customer=cus_PHDTrhVe252qBw&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 29636420-295b-402c-8108-9dbd10fd89f8
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 29636420-295b-402c-8108-9dbd10fd89f8
      Original-Request:
      - req_cQdi32XmhgiltB
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OSf2q9e1RjUNIyYo9Sz4eAh",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OSf2q9e1RjUNIyYo9Sz4eAh_secret_PHDTos3LB4Q27rxrKxfQKKRC7SY15PZ",
          "created": 1703852408,
          "customer": "cus_PHDTrhVe252qBw",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0OSf2q9e1RjUNIyYPuWvEaLS",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSf2o9e1RjUNIyYRFmjmQkY",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Fri, 29 Dec 2023 12:20:08 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSf2o9e1RjUNIyYRFmjmQkY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=Gumroad+Charge+uVYUM9-D9NBIgXhWO992hg%3D%3D&metadata[cjMfWc6ZkN99o98-tvlt5g%3D%3D]=%7B%3Aprice_cents%3D%3E100%2C+%3Afee_cents%3D%3E39%2C+%3Aaffiliate_credit_cents%3D%3E0%2C+%3Agumroad_tax_cents%3D%3E0%2C+%3Atotal_transaction_cents%3D%3E100%7D&transfer_group=CH-57&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PHDTrhVe252qBw&payment_method=pm_0OSf2o9e1RjUNIyYRFmjmQkY&statement_descriptor_suffix=gumbo
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 036fe88f-049f-4b35-998c-73416c8062cd
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 036fe88f-049f-4b35-998c-73416c8062cd
      Original-Request:
      - req_ZaBOcamRiqLZX6
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSf2r9e1RjUNIyY1HINs60T",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSf2r9e1RjUNIyY1HINs60T_secret_n0GB1KFkc68GeaOZ4lE5RY0qm",
          "confirmation_method": "automatic",
          "created": 1703852409,
          "currency": "usd",
          "customer": "cus_PHDTrhVe252qBw",
          "description": "Gumroad Charge uVYUM9-D9NBIgXhWO992hg==",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OSf2r9e1RjUNIyY14bQ3QOs",
          "livemode": false,
          "metadata": {
            "cjMfWc6ZkN99o98-tvlt5g==": "{:price_cents=>100, :fee_cents=>39, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>100}"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSf2o9e1RjUNIyYRFmjmQkY",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "gumbo",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-57"
        }
  recorded_at: Fri, 29 Dec 2023 12:20:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSf2r9e1RjUNIyY14bQ3QOs?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OSf2r9e1RjUNIyY14bQ3QOs",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OSf2r9e1RjUNIyY1wahFXXM",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1704240000,
            "created": 1703852409,
            "currency": "usd",
            "description": "Gumroad Charge uVYUM9-D9NBIgXhWO992hg==",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2OSf2r9e1RjUNIyY14bQ3QOs",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* GUMBO",
          "captured": true,
          "created": 1703852409,
          "currency": "usd",
          "customer": "cus_PHDTrhVe252qBw",
          "description": "Gumroad Charge uVYUM9-D9NBIgXhWO992hg==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "cjMfWc6ZkN99o98-tvlt5g==": "{:price_cents=>100, :fee_cents=>39, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>100}"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 46,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OSf2r9e1RjUNIyY1HINs60T",
          "payment_method": "pm_0OSf2o9e1RjUNIyYRFmjmQkY",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo-_K6rAYyBodn9HqEHDosFm1xzs9gjXez-hEECsZXLN3mLvc3YXwaWFYTawOfbeBYIJVaDUz-_jvxTNs",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "gumbo",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-57"
        }
  recorded_at: Fri, 29 Dec 2023 12:20:11 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSf2u9e1RjUNIyY1dDAVKun?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
