---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5e9ae904-663f-4bcc-88ce-d840b0731277
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5e9ae904-663f-4bcc-88ce-d840b0731277
      Original-Request:
      - req_vu8yTJo9RmS40u
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzH7gIBOqvOFDrfZl9CqxX4",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730620,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:37:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH7gIBOqvOFDrfZl9CqxX4
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ae6d2888-96f9-41c6-a596-12af0b095adf
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ae6d2888-96f9-41c6-a596-12af0b095adf
      Original-Request:
      - req_BtYukLOdLA6vtg
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TxBUxTN1IDBJRr",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1770730621,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "8LHO41AH",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 10 Feb 2026 13:37:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH7gIBOqvOFDrfZl9CqxX4&customer=cus_TxBUxTN1IDBJRr&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bb747bfa-0b82-432c-89f8-5123f8e89e97
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bb747bfa-0b82-432c-89f8-5123f8e89e97
      Original-Request:
      - req_ujmKEzMfNZfmTC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1SzH7hIBOqvOFDrffC0wxsdj",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_1SzH7hIBOqvOFDrffC0wxsdj_secret_TxBUZsfOWNfQulQWrRhJ0TPPEp0Df9u",
          "created": 1770730621,
          "customer": "cus_TxBUxTN1IDBJRr",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_1SzH7hIBOqvOFDrfMZicQ9WR",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH7gIBOqvOFDrfZl9CqxX4",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 10 Feb 2026 13:37:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzH7gIBOqvOFDrfZl9CqxX4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2000&currency=usd&description=Gumroad+Charge+pCEasdDOqfkHbUNDyo9Dkw%3D%3D&metadata[purchases%7B0%7D]=k_lfJz0tV6Qib9_6ABYwyQ%3D%3D%2C7myS8u-b2frn0lbd0pWNVw%3D%3D&transfer_group=CH-808&payment_method_types[0]=card&off_session=false&customer=cus_TxBUxTN1IDBJRr&payment_method=pm_1SzH7gIBOqvOFDrfZl9CqxX4&statement_descriptor_suffix=edgar44d4590498
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fc586ad7-4ea3-4593-8209-1d1092052372
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fc586ad7-4ea3-4593-8209-1d1092052372
      Original-Request:
      - req_BAIIad6iNPwXsR
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzH7jIBOqvOFDrf0jxVFqkH",
          "object": "payment_intent",
          "amount": 2000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzH7jIBOqvOFDrf0jxVFqkH_secret_UKp3jjWfwuyVvv0YkoTTaC0H9",
          "confirmation_method": "automatic",
          "created": 1770730623,
          "currency": "usd",
          "customer": "cus_TxBUxTN1IDBJRr",
          "customer_account": null,
          "description": "Gumroad Charge pCEasdDOqfkHbUNDyo9Dkw==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "k_lfJz0tV6Qib9_6ABYwyQ==,7myS8u-b2frn0lbd0pWNVw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH7gIBOqvOFDrfZl9CqxX4",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar44d4590498",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-808"
        }
  recorded_at: Tue, 10 Feb 2026 13:37:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SzH7jIBOqvOFDrf0jxVFqkH/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 07a3507e-b5f9-45cf-949c-3cd54d13660e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SzH7jIBOqvOFDrf06p5Iyte?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SzH7jIBOqvOFDrf06p5Iyte",
          "object": "charge",
          "amount": 2000,
          "amount_captured": 2000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SzH7jIBOqvOFDrf0fyVFy8Q",
            "object": "balance_transaction",
            "amount": 2000,
            "available_on": 1771286400,
            "balance_type": "payments",
            "created": 1770730623,
            "currency": "usd",
            "description": "Gumroad Charge pCEasdDOqfkHbUNDyo9Dkw==",
            "exchange_rate": null,
            "fee": 88,
            "fee_details": [
              {
                "amount": 88,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1912,
            "reporting_category": "charge",
            "source": "ch_3SzH7jIBOqvOFDrf06p5Iyte",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR44D459049",
          "captured": true,
          "created": 1770730623,
          "currency": "usd",
          "customer": "cus_TxBUxTN1IDBJRr",
          "description": "Gumroad Charge pCEasdDOqfkHbUNDyo9Dkw==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "k_lfJz0tV6Qib9_6ABYwyQ==,7myS8u-b2frn0lbd0pWNVw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 6,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SzH7jIBOqvOFDrf0jxVFqkH",
          "payment_method": "pm_1SzH7gIBOqvOFDrfZl9CqxX4",
          "payment_method_details": {
            "card": {
              "amount_authorized": 2000,
              "authorization_code": "680874",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 2000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKIDprMwGMgaNvxQcWk46LBbrmXVa-ZNoBJfqh9joNqJIkRignanSGND2TX18YESEkE5eD5kPcGGJXfm7",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar44d4590498",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-808"
        }
  recorded_at: Tue, 10 Feb 2026 13:37:04 GMT
recorded_with: VCR 6.2.0
