---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 951d0056-54d5-4392-a5ee-e4bc2127306f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 951d0056-54d5-4392-a5ee-e4bc2127306f
      Original-Request:
      - req_55ScCNwnHTn5HO
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-05-27.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1TkfKCIBOqvOFDrfhNNx8o0C",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 6,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1782025068,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Sun, 21 Jun 2026 06:57:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1TkfKCIBOqvOFDrfhNNx8o0C
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgare47458fa85.test.gumroad.com%3A31337%2Fl%2Ff%21&metadata[purchase]=jvnuVGE9BWHcYyHqm9MJhw%3D%3D&transfer_group=283&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_1TkfKCIBOqvOFDrfhNNx8o0C&statement_descriptor_suffix=edgare47458fa85
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1f8c92f2-245a-4f8b-b9d7-2dc508439581
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1f8c92f2-245a-4f8b-b9d7-2dc508439581
      Original-Request:
      - req_bkynNELqOXec5n
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-05-27.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3TkfKDIBOqvOFDrf1sCSpvgb",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3TkfKDIBOqvOFDrf1sCSpvgb_secret_ORSVVLHgFalUXiof29YMgXsrH",
          "confirmation_method": "automatic",
          "created": 1782025069,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "You bought http://edgare47458fa85.test.gumroad.com:31337/l/f!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3TkfKDIBOqvOFDrf1F45hIBX",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "purchase": "jvnuVGE9BWHcYyHqm9MJhw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1TkfKCIBOqvOFDrfhNNx8o0C",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare47458fa85",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "283"
        }
  recorded_at: Sun, 21 Jun 2026 06:57:50 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3TkfKDIBOqvOFDrf1F45hIBX?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-05-27.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3TkfKDIBOqvOFDrf1F45hIBX",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3TkfKDIBOqvOFDrf1Q6LKjTv",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1782604800,
            "balance_type": "payments",
            "created": 1782025069,
            "currency": "usd",
            "description": "You bought http://edgare47458fa85.test.gumroad.com:31337/l/f!",
            "exchange_rate": null,
            "fee": 33,
            "fee_details": [
              {
                "amount": 33,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 67,
            "reporting_category": "charge",
            "source": "ch_3TkfKDIBOqvOFDrf1F45hIBX",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGARE47458FA8",
          "captured": true,
          "created": 1782025069,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgare47458fa85.test.gumroad.com:31337/l/f!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "jvnuVGE9BWHcYyHqm9MJhw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 32,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3TkfKDIBOqvOFDrf1sCSpvgb",
          "payment_method": "pm_1TkfKCIBOqvOFDrfhNNx8o0C",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "authorization_code": "805535",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "ds_transaction_id": null,
              "exp_month": 6,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "transaction_link_id": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKO6W3tEGMgboDooSof86LBZpsHHCD2N7kTA6sSmmnlWgQkdSw33MH8YqWQfa_LYvK491Vx74m-0X_jUj",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare47458fa85",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "283"
        }
  recorded_at: Sun, 21 Jun 2026 06:57:50 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1TkfKEIBOqvOFDrfCVCJAdMC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_1TkfKEIBOqvOFDrfCVCJAdMC
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 242410e3-b31e-4e36-9743-c6f5b55371ed
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 242410e3-b31e-4e36-9743-c6f5b55371ed
      Original-Request:
      - req_bx9phsqGhv07CO
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-05-27.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Uk9dvWv8JGK8Rp",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1782025071,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "5U5ADZ5F",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 21 Jun 2026 06:57:52 GMT
recorded_with: VCR 6.2.0
