---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - baba9e8b-8f97-4115-a334-caffb76d129f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - baba9e8b-8f97-4115-a334-caffb76d129f
      Original-Request:
      - req_58DDBJ6jDXE42O
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzH43IBOqvOFDrfbPDl0gvQ",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730395,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:33:15 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzH43IBOqvOFDrfbPDl0gvQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_1SzH43IBOqvOFDrfbPDl0gvQ
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 06ab5f89-3063-413c-a3c6-333090274993
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 06ab5f89-3063-413c-a3c6-333090274993
      Original-Request:
      - req_0ACkWnMptcs0uH
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TxBQ4wvtyapTwh",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1770730396,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "OONYPP58",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 10 Feb 2026 13:33:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=Gumroad+Charge+pNBlfiThNLz31D1xCtwUzg%3D%3D&metadata[purchases%7B0%7D]=DMTCEN2uLjSQ3PIRTIYhQQ%3D%3D&transfer_group=CH-749&payment_method_types[0]=card&off_session=false&setup_future_usage=off_session&customer=cus_TxBQ4wvtyapTwh&payment_method=pm_1SzH43IBOqvOFDrfbPDl0gvQ&statement_descriptor_suffix=edgar7acc7ec64
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e92a0248-9102-4493-9653-8ad4b0eddf2f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e92a0248-9102-4493-9653-8ad4b0eddf2f
      Original-Request:
      - req_bd1RjePnQbL7GP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzH45IBOqvOFDrf05TlzCsc",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzH45IBOqvOFDrf05TlzCsc_secret_nl6cuhFnCNhBeSxTmsMN9ZYbR",
          "confirmation_method": "automatic",
          "created": 1770730397,
          "currency": "usd",
          "customer": "cus_TxBQ4wvtyapTwh",
          "customer_account": null,
          "description": "Gumroad Charge pNBlfiThNLz31D1xCtwUzg==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "DMTCEN2uLjSQ3PIRTIYhQQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH43IBOqvOFDrfbPDl0gvQ",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar7acc7ec64",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-749"
        }
  recorded_at: Tue, 10 Feb 2026 13:33:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SzH45IBOqvOFDrf05TlzCsc/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - '05820afb-4e38-4778-8e46-9d67bf7df89c'
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
 [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SzH45IBOqvOFDrf0RXPN09h?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SzH45IBOqvOFDrf0RXPN09h",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SzH45IBOqvOFDrf0YEik5n2",
            "object": "balance_transaction",
            "amount": 1000,
            "available_on": 1771286400,
            "balance_type": "payments",
            "created": 1770730397,
            "currency": "usd",
            "description": "Gumroad Charge pNBlfiThNLz31D1xCtwUzg==",
            "exchange_rate": null,
            "fee": 59,
            "fee_details": [
              {
                "amount": 59,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 941,
            "reporting_category": "charge",
            "source": "ch_3SzH45IBOqvOFDrf0RXPN09h",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR7ACC7EC64",
          "captured": true,
          "created": 1770730397,
          "currency": "usd",
          "customer": "cus_TxBQ4wvtyapTwh",
          "description": "Gumroad Charge pNBlfiThNLz31D1xCtwUzg==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "DMTCEN2uLjSQ3PIRTIYhQQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 64,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SzH45IBOqvOFDrf05TlzCsc",
          "payment_method": "pm_1SzH43IBOqvOFDrfbPDl0gvQ",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "authorization_code": "123205",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKJ7nrMwGMgZnhC-TApw6LBZDmYxAFbVmBVW_T3piP1HKDw4PISi3wFdpnVgkPQX1ituSde1mubcGBOjL",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar7acc7ec64",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-749"
        }
  recorded_at: Tue, 10 Feb 2026 13:33:18 GMT
recorded_with: VCR 6.2.0
