---
http_interactions:
- request:
    method: get
    uri: https://api.sendgrid.com/v3/suppression/spam_reports/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GUMROAD_TRANSACTIONS_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '599'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1685097900'
      Twilio-Request-Id:
      - RQ2QKMbkQNfFYTuyzKPfmbWkl78uh
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 26 May 2023 10:44:52 GMT
- request:
    method: get
    uri: https://api.sendgrid.com/v3/suppression/spam_reports/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GUMROAD_FOLLOWER_CONFIRMATION_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '599'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1685097900'
      Twilio-Request-Id:
      - RQ2QKMbnEsNm5Y2wUdA2lxblljPce
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 26 May 2023 10:44:53 GMT
- request:
    method: get
    uri: https://api.sendgrid.com/v3/suppression/spam_reports/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GR_CREATORS_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '599'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1685097900'
      Twilio-Request-Id:
      - RQ2QKMc0rbfaFW5iYsvgZ9W3DzlMO
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 26 May 2023 10:44:54 GMT
- request:
    method: get
    uri: https://api.sendgrid.com/v3/suppression/spam_reports/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GR_CUSTOMERS_LEVEL_2_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '599'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1685097900'
      Twilio-Request-Id:
      - RQ2QKMc4Zm2LOH8JzJOzdpXjW1ojJ
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 26 May 2023 10:44:55 GMT
- request:
    method: get
    uri: https://api.sendgrid.com/v3/suppression/spam_reports/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GR_CUSTOMERS_LEVEL_2_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '598'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1685097900'
      Twilio-Request-Id:
      - RQ2QKMc9qZSHdkrdTPFYEi17rMf2W
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 26 May 2023 10:44:56 GMT
recorded_with: VCR 6.1.0
