---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/transactions/orders
    body:
      encoding: UTF-8
      string: '{"transaction_id":"G_-mnBf9b1j9A7a4ub4nFQ==","transaction_date":"2023-08-28T20:06:20Z","provider":"api","from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"PA","to_zip":"19106","amount":15.0,"shipping":5.0,"sales_tax":1.0,"line_items":[{"quantity":1,"unit_price":10.0,"sales_tax":1.0,"product_tax_code":"31000"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4ca66b027588440d0337dffe999cbb56"
    body:
      encoding: UTF-8
      string: '{"order":{"transaction_id":"G_-mnBf9b1j9A7a4ub4nFQ==","user_id":126159,"provider":"api","transaction_date":"2023-08-28T20:06:20.000Z","transaction_reference_id":null,"customer_id":null,"exemption_type":null,"from_country":"US","from_zip":"94104","from_state":"CA","from_city":null,"from_street":null,"to_country":"US","to_zip":"19106","to_state":"PA","to_city":null,"to_street":null,"amount":"15.0","shipping":"5.0","sales_tax":"1.0","line_items":[{"id":0,"quantity":1,"product_identifier":null,"product_tax_code":"31000","description":null,"unit_price":"10.0","discount":"0.0","sales_tax":"1.0"}]}}'
  recorded_at: Sat, 15 Jun 2024 02:35:42 GMT
recorded_with: VCR 6.2.0
