---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/radar/early_fraud_warnings/issfr_0O8n7K9e1RjUNIyYmTbvMMLa?expand%5B%5D=charge
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "issfr_0O8n7K9e1RjUNIyYmTbvMMLa",
          "object": "radar.early_fraud_warning",
          "actionable": false,
          "charge": {
            "id": "ch_2O8n7J9e1RjUNIyY1rs9MIRL",
            "object": "charge",
            "amount": 19523,
            "amount_captured": 19523,
            "amount_refunded": 19523,
            "amount_updates": [],
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": "txn_2O8n7J9e1RjUNIyY1OEx3dMU",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": "",
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null
            },
            "calculated_statement_descriptor": "GUMRD.COM* RAZVAN WITH",
            "captured": true,
            "created": 1699116877,
            "currency": "usd",
            "customer": null,
            "description": "You bought https://rmarescu.gumroad.dev/l/hz",
            "destination": "acct_1JpgXiS0ZnILuwfA",
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {
              "user_report": "fraudulent"
            },
            "invoice": null,
            "livemode": false,
            "metadata": {
              "purchase": "DNZkaw0o-Ucr7hB40jIphg=="
            },
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 35,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_2O8n7J9e1RjUNIyY1X7FyY6q",
            "payment_method": "pm_0O8n7I9e1RjUNIyYncV6sFh4",
            "payment_method_details": {
              "card": {
                "amount_authorized": 19523,
                "brand": "visa",
                "checks": {
                  "address_line1_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": "pass"
                },
                "country": "US",
                "exp_month": 1,
                "exp_year": 2034,
                "extended_authorization": {
                  "status": "disabled"
                },
                "fingerprint": "I03xpzqac6uXAW7s",
                "funding": "credit",
                "incremental_authorization": {
                  "status": "unavailable"
                },
                "installments": null,
                "last4": "5423",
                "mandate": null,
                "multicapture": {
                  "status": "unavailable"
                },
                "network": "visa",
                "network_token": {
                  "used": false
                },
                "overcapture": {
                  "maximum_amount_capturable": 19523,
                  "status": "unavailable"
                },
                "three_d_secure": null,
                "wallet": null
              },
              "type": "card"
            },
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo64GRsgYyBp0FeaiZVjosFmBRPNjIMvnlP2tme4PwDTIY8JQYg3ykk0-V-J98bRtl6qF0OXfXRd0uOOM",
            "refunded": true,
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": "Razvan with a very lon",
            "status": "succeeded",
            "transfer": "tr_2O8n7J9e1RjUNIyY1BxidGvM",
            "transfer_data": {
              "amount": 18907,
              "destination": "acct_1JpgXiS0ZnILuwfA"
            },
            "transfer_group": "384"
          },
          "created": 1699116878,
          "fraud_type": "made_with_stolen_card",
          "livemode": false,
          "payment_intent": "pi_2O8n7J9e1RjUNIyY1X7FyY6q"
        }
  recorded_at: Wed, 15 May 2024 04:58:19 GMT
recorded_with: VCR 6.2.0
