---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0341&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f9848a67-7751-40b1-805f-120b8cb94748
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f9848a67-7751-40b1-805f-120b8cb94748
      Original-Request:
      - req_fFxcWvXqsyQlWo
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfa49e1RjUNIyYRMWtpN1G",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "waikMtIz0irgsfaY",
            "funding": "credit",
            "generated_from": null,
            "last4": "0341",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703854468,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:54:28 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfa49e1RjUNIyYRMWtpN1G
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0OSfa49e1RjUNIyYRMWtpN1G
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1f7175a7-9944-47cc-a137-e917e95626ce
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1f7175a7-9944-47cc-a137-e917e95626ce
      Original-Request:
      - req_SW8bL3nWNcBMY1
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHE2jGckkSvATY",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703854469,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "623A76EF",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:54:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method_types[0]=card&usage=off_session&customer=cus_PHE2jGckkSvATY&payment_method=pm_0OSfa49e1RjUNIyYRMWtpN1G
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2c13d174-88a9-44ad-a1e0-16264eb113ee
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2c13d174-88a9-44ad-a1e0-16264eb113ee
      Original-Request:
      - req_oCceQFe8grwR10
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OSfa69e1RjUNIyYB1QBHBdP",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OSfa69e1RjUNIyYB1QBHBdP_secret_PHE2dQhkRdrNrD3yDLT1NjwZvd7hKwy",
          "created": 1703854470,
          "customer": "cus_PHE2jGckkSvATY",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": null,
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfa49e1RjUNIyYRMWtpN1G",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "requires_confirmation",
          "usage": "off_session"
        }
  recorded_at: Fri, 29 Dec 2023 12:54:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents/seti_0OSfa69e1RjUNIyYB1QBHBdP/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e5d45dd7-32f4-40d5-8019-3bc8b2fd3c73
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=600&currency=usd&description=You+bought+http%3A%2F%2Fedgar056d177a371.test.gumroad.com%3A31337%2Fl%2Ff&metadata[purchase]=aGdhEVAoj_cQ4XgMolk8lw%3D%3D&transfer_group=431&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PHE2jGckkSvATY&payment_method=pm_0OSfa49e1RjUNIyYRMWtpN1G&statement_descriptor_suffix=edgar056d177a371
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6888c079-e749-490b-8a35-7f9b11f571a6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6888c079-e749-490b-8a35-7f9b11f571a6
      Original-Request:
      - req_i41IzHkA9qPFL0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_2OSfa89e1RjUNIyY0asxwyRj",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "payment_intent": {
              "id": "pi_2OSfa89e1RjUNIyY0zmjBUOX",
              "object": "payment_intent",
              "amount": 600,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic",
              "client_secret": "pi_2OSfa89e1RjUNIyY0zmjBUOX_secret_D7kKK2NF9yCt8dwxGoyrosB0u",
              "confirmation_method": "automatic",
              "created": 1703854472,
              "currency": "usd",
              "customer": "cus_PHE2jGckkSvATY",
              "description": "You bought http://edgar056d177a371.test.gumroad.com:31337/l/f",
              "invoice": null,
              "last_payment_error": {
                "charge": "ch_2OSfa89e1RjUNIyY0asxwyRj",
                "code": "card_declined",
                "decline_code": "generic_decline",
                "doc_url": "https://stripe.com/docs/error-codes/card-declined",
                "message": "Your card was declined.",
                "payment_method": {
                  "id": "pm_0OSfa49e1RjUNIyYRMWtpN1G",
                  "object": "payment_method",
                  "billing_details": {
                    "address": {
     [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfa99e1RjUNIyYJlMeMHsR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0OSfa99e1RjUNIyYJlMeMHsR
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0521c81a-85d3-4046-8177-36a51f11e338
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0521c81a-85d3-4046-8177-36a51f11e338
      Original-Request:
      - req_ZF01AjOrDPKEbG
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "expired_card",
            "doc_url": "https://stripe.com/docs/error-codes/expired-card",
            "message": "Your card has expired.",
            "param": "exp_month",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_ZF01AjOrDPKEbG?t=1703854474",
            "type": "card_error"
          }
        }
  recorded_at: Fri, 29 Dec 2023 12:54:34 GMT
[...]
