---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fc4bcf9f-cf64-4112-a079-fa71d15dd65c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fc4bcf9f-cf64-4112-a079-fa71d15dd65c
      Original-Request:
      - req_6EXz4ZLTSNQppX
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSeyy9e1RjUNIyY0INLOVJk",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703852169,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:16:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSeyy9e1RjUNIyY0INLOVJk
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - df104fca-bc8d-4e4f-8033-b5a424a6dc6d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - df104fca-bc8d-4e4f-8033-b5a424a6dc6d
      Original-Request:
      - req_feXpZwJgVuwSuR
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDPzMFoorLtJ7",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703852169,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "63F862BC",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:16:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSeyy9e1RjUNIyY0INLOVJk&customer=cus_PHDPzMFoorLtJ7&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 34f9bee8-67a7-4455-a895-acedb9ca14bc
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 34f9bee8-67a7-4455-a895-acedb9ca14bc
      Original-Request:
      - req_NfUK7VAimGpm25
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OSez09e1RjUNIyYbWuIhVv0",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OSez09e1RjUNIyYbWuIhVv0_secret_PHDP4jS6Tx4UmswdUVlWZ6cJS8XxDhi",
          "created": 1703852170,
          "customer": "cus_PHDPzMFoorLtJ7",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0OSez09e1RjUNIyYuni00C2X",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSeyy9e1RjUNIyY0INLOVJk",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Fri, 29 Dec 2023 12:16:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSeyy9e1RjUNIyY0INLOVJk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1500&currency=usd&description=Gumroad+Charge+dQMAHeiff1UMsaDDxJzpTQ%3D%3D&metadata[RgPQjZT9-D4FdVzRglpnzQ%3D%3D]=%7B%3Aprice_cents%3D%3E500%2C+%3Afee_cents%3D%3E75%2C+%3Aaffiliate_credit_cents%3D%3E0%2C+%3Agumroad_tax_cents%3D%3E0%2C+%3Atotal_transaction_cents%3D%3E500%7D&metadata[oy8Z4iNnA2K6GX8Pon6iAw%3D%3D]=%7B%3Aprice_cents%3D%3E1000%2C+%3Afee_cents%3D%3E120%2C+[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSez29e1RjUNIyY1j8s50Qq/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c39d6526-7290-4938-be0e-36eea50d8e83
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c39d6526-7290-4938-be0e-36eea50d8e83
      Original-Request:
      - req_EIkY3DompkqAzC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSez29e1RjUNIyY1j8s50Qq",
          "object": "payment_intent",
          "amount": 1500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1500,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSez29e1RjUNIyY1j8s50Qq_secret_B5qXIz9tdd6zkCrNW1BVM6Gfb",
          "confirmation_method": "automatic",
          "created": 1703852172,
          "currency": "usd",
          "customer": "cus_PHDPzMFoorLtJ7",
          "description": "Gumroad Charge dQMAHeiff1UMsaDDxJzpTQ==",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OSez29e1RjUNIyY1FdrLoW0",
          "livemode": false,
          "metadata": {
            "RgPQjZT9-D4FdVzRglpnzQ==": "{:price_cents=>500, :fee_cents=>75, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>500}",
            "oy8Z4iNnA2K6GX8Pon6iAw==": "{:price_cents=>1000, :fee_cents=>120, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>1000}"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSeyy9e1RjUNIyY0INLOVJk",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar80fcfdca26",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-20"
        }
  recorded_at: Fri, 29 Dec 2023 12:16:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSez29e1RjUNIyY1FdrLoW0?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OSez29e1RjUNIyY1FdrLoW0",
          "object": "charge",
          "amount": 1500,
          "amount_captured": 1500,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OSez29e1RjUNIyY11lYAqPr",
            "object": "balance_transaction",
            "amount": 1500,
            "available_on": 1704240000,
            "created": 1703852172,
            "currency": "usd",
            "description": "Gumroad Charge dQMAHeiff1UMsaDDxJzpTQ==",
            "exchange_rate": null,
            "fee": 60,
            "fee_details": [
              {
                "amount": 60,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1440,
            "reporting_category": "charge",
            "source": "ch_2OSez29e1RjUNIyY1FdrLoW0",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR80FCFD",
          "captured": true,
          "created": 1703852172,
          "currency": "usd",
          "customer": "cus_PHDPzMFoorLtJ7",
          "description": "Gumroad Charge dQMAHeiff1UMsaDDxJzpTQ==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "RgPQjZT9-D4FdVzRglpnzQ==": "{:price_cents=>500, :fee_cents=>75, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>500}",
            "oy8Z4iNnA2K6GX8Pon6iAw==": "{:price_cents=>1000, :fee_cents=>120, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>1000}"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 40,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OSez29e1RjUNIyY1j8s50Qq",
          "payment_method": "pm_0OSeyy9e1RjUNIyY0INLOVJk",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1500,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1500,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUojvG6rAYyBk-FQz5DTTosFrSqnUwN7LV17ixVT6o2vPgdCIH8otnhuwoFJGwVwqwnwlNnEE1BJosLVkY",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar80fcfdca26",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-20"
        }
  recorded_at: Fri, 29 Dec 2023 12:16:14 GMT
recorded_with: VCR 6.2.0
