---
http_interactions:
  - request:
      method: get
      uri: https://api.stripe.com/v1/charges/ch_2ORDpK9e1RjUNIyY0eJyh91P?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - "2023-10-16"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Stripe-Version:
          - "2023-10-16"
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "ch_2ORDpK9e1RjUNIyY0eJyh91P",
            "object": "charge",
            "amount": 1705,
            "amount_captured": 1705,
            "amount_refunded": 0,
            "amount_updates": [],
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": {
              "id": "txn_2ORDpK9e1RjUNIyY0D2RrELS",
              "object": "balance_transaction",
              "amount": 1705,
              "available_on": 1703548800,
              "created": 1703509957,
              "currency": "usd",
              "description": "You bought https://5557127576064.gumroad.dev/l/mb",
              "exchange_rate": null,
              "fee": 64,
              "fee_details": [
                {
                  "amount": 64,
                  "application": null,
                  "currency": "usd",
                  "description": "Stripe processing fees",
                  "type": "stripe_fee"
                }
              ],
              "net": 1641,
              "reporting_category": "charge",
              "source": "ch_2ORDpK9e1RjUNIyY0eJyh91P",
              "status": "available",
              "type": "charge"
            },
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": "",
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null
            },
            "calculated_statement_descriptor": "GUMRD.COM* 55571275760",
            "captured": true,
            "created": 1703509957,
            "currency": "usd",
            "customer": "cus_PFjCvrVcjT3anY",
            "description": "You bought https://5557127576064.gumroad.dev/l/mb",
            "destination": "acct_1MltEr2mZ9S5oOnc",
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "invoice": null,
            "livemode": false,
            "metadata": {
              "purchase": "qMqa0TLcYiy4yKiY_EHQKQ=="
            },
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 21,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_2ORDpK9e1RjUNIyY0HzsOweC",
            "payment_method": "pm_0ORDjt9e1RjUNIyYKOfpIQNI",
            "payment_method_details": {
              "card": {
                "amount_authorized": 1705,
                "brand": "visa",
                "checks": {
                  "address_line1_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": null
                },
                "country": "IN",
                "exp_month": 12,
                "exp_year": 2034,
                "extended_authorization": {
                  "status": "disabled"
                },
                "fingerprint": "Jc8MwNDiNvhPqNky",
                "funding": "credit",
                "incremental_authorization": {
                  "status": "unavailable"
                },
                "installments": null,
                "last4": "0123",
                "mandate": null,
                "multicapture": {
                  "status": "unavailable"
                },
                "network": "visa",
                "network_token": {
                  "used": false
                },
                "overcapture": {
                  "maximum_amount_capturable": 1705,
                  "status": "unavailable"
                },
                "three_d_secure": null,
                "wallet": null
              },
              "type": "card"
            },
            "radar_options": {},
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUopPe6rAYyBjhfTbM5SzosFt8BifexYiYovdO4fKaNvHaq74jO2Z61DP2DjcxAupT4pckYqzzaHL9F_Fw",
            "refunded": false,
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": "5557127576064",
            "status": "succeeded",
            "transfer": "tr_2ORDpK9e1RjUNIyY0qZQ2QFQ",
            "transfer_data": {
              "amount": 1455,
              "destination": "acct_1MltEr2mZ9S5oOnc"
            },
            "transfer_group": "1231"
          }
    recorded_at: Fri, 29 Dec 2023 12:29:24 GMT
  - request:
      method: get
      uri: https://api.stripe.com/v1/transfers/tr_2ORDpK9e1RjUNIyY0qZQ2QFQ
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - "2023-10-16"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Stripe-Version:
          - "2023-10-16"
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "tr_2ORDpK9e1RjUNIyY0qZQ2QFQ",
            "object": "transfer",
            "amount": 1455,
            "amount_reversed": 0,
            "balance_transaction": "txn_2ORDpK9e1RjUNIyY0KC0nesZ",
            "created": 1703509960,
            "currency": "usd",
            "description": null,
            "destination": "acct_1MltEr2mZ9S5oOnc",
            "destination_payment": "py_1ORDxU2mZ9S5oOncoyeLpgjh",
            "livemode": false,
            "metadata": {},
            "reversals": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/transfers/tr_2ORDpK9e1RjUNIyY0qZQ2QFQ/reversals"
            },
            "reversed": false,
            "source_transaction": "ch_2ORDpK9e1RjUNIyY0eJyh91P",
            "source_type": "card",
            "transfer_group": "1231"
          }
    recorded_at: Fri, 29 Dec 2023 12:29:24 GMT
  - request:
      method: get
      uri: https://api.stripe.com/v1/charges/py_1ORDxU2mZ9S5oOncoyeLpgjh?expand%5B%5D=balance_transaction
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - "2023-10-16"
        Stripe-Account:
          - acct_1MltEr2mZ9S5oOnc
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Stripe-Account:
          - acct_1MltEr2mZ9S5oOnc
        Stripe-Version:
          - "2023-10-16"
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "py_1ORDxU2mZ9S5oOncoyeLpgjh",
            "object": "charge",
            "amount": 1455,
            "amount_captured": 1455,
            "amount_refunded": 0,
            "application": "<STRIPE_CONNECT_CLIENT_ID>",
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": {
              "id": "txn_1ORDxV2mZ9S5oOnclr6JCqiU",
              "object": "balance_transaction",
              "amount": 1888,
              "available_on": 1703548800,
              "created": 1703509960,
              "currency": "sgd",
              "description": null,
              "exchange_rate": 1.29786,
              "fee": 0,
              "fee_details": [],
      [...]
