---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0036&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123&billing_details[address][postal_code]=12345
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 107ab0b2-e357-49cc-a921-43681a873e6a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 107ab0b2-e357-49cc-a921-43681a873e6a
      Original-Request:
      - req_1YLRbUVvQVaZrJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfPK9e1RjUNIyY83QDV6ko",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": "unchecked",
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "nPSe1apG4W9vdMFZ",
            "funding": "credit",
            "generated_from": null,
            "last4": "0036",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703853802,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:43:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfPK9e1RjUNIyY83QDV6ko
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500&currency=usd&description=You+bought+http%3A%2F%2Fedgarfb445ad0175.test.gumroad.com%3A31337%2Fl%2Fi&metadata[purchase]=EBgqPsMR1AhRD-LIX76E9Q%3D%3D&transfer_group=242&payment_method_types[0]=card&payment_method=pm_0OSfPK9e1RjUNIyY83QDV6ko&statement_descriptor_suffix=edgarfb445ad0175
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c3ee7ec3-d0a7-4a5e-b662-6ca190b95a6d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c3ee7ec3-d0a7-4a5e-b662-6ca190b95a6d
      Original-Request:
      - req_N7icnqUew9CaRj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSfPL9e1RjUNIyY0OSIX7L3",
          "object": "payment_intent",
          "amount": 500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSfPL9e1RjUNIyY0OSIX7L3_secret_frLv7hKecxdMIQG9jt1kTHjiY",
          "confirmation_method": "automatic",
          "created": 1703853803,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarfb445ad0175.test.gumroad.com:31337/l/i",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchase": "EBgqPsMR1AhRD-LIX76E9Q=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfPK9e1RjUNIyY83QDV6ko",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarfb445ad0175",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "242"
        }
  recorded_at: Fri, 29 Dec 2023 12:43:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSfPL9e1RjUNIyY0OSIX7L3/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a3a10870-51f8-4411-9987-f4dba7b0759f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a3a10870-51f8-4411-9987-f4dba7b0759f
      Original-Request:
      - req_ve4uFDId2NUugP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_2OSfPL9e1RjUNIyY0uprl2Zc",
            "code": "incorrect_zip",
            "doc_url": "https://stripe.com/docs/error-codes/incorrect-zip",
            "message": "Your card could not be authorized using the postal code provided. Please update the postal code, or contact your card issuer for further details.",
            "param": "address_zip",
            "payment_intent": {
              "id": "pi_2OSfPL9e1RjUNIyY0OSIX7L3",
              "object": "payment_intent",
              "amount": 500,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=You+bought+http%3A%2F%2Fedgarc5640354176.test.gumroad.com%3A31337%2Fl%2Fs&metadata[purchase]=b5pxORZn2p22xOOWnQt1Cw%3D%3D&transfer_group=243&payment_method_types[0]=card&payment_method=pm_0OSfPK9e1RjUNIyY83QDV6ko&statement_descriptor_suffix=edgarc5640354176
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 911bd53c-920f-4c9b-9824-330aa7f88567
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 911bd53c-920f-4c9b-9824-330aa7f88567
      Original-Request:
      - req_sd7wlk5vB1J5O9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "The provided PaymentMethod was previously used with a PaymentIntent without Customer attachment, shared with a connected account without Customer attachment, or was detached from a Customer. It may not be used again. To use a PaymentMethod multiple times, you must attach it to a Customer first.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_sd7wlk5vB1J5O9?t=1703853805",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Fri, 29 Dec 2023 12:43:25 GMT
recorded_with: VCR 6.2.0
