---
http_interactions:
- request:
    method: delete
    uri: https://api.stripe.com/v1/apple_pay/domains/random_stripe_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e9473424-0e46-4b5a-ad16-a045e8212018
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e9473424-0e46-4b5a-ad16-a045e8212018
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such apple_pay_domain: 'random_stripe_id'",
            "param": "domain",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_NSvd7ImD4t15gJ?t=1698779860",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Tue, 31 Oct 2023 19:17:40 GMT
recorded_with: VCR 6.2.0
