---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/apple_pay/domains
    body:
      encoding: UTF-8
      string: domain_name=sampleusername.gumroad.dev
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f72f44ea-9d14-449a-8c0d-a4b3ad31c2a7
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f72f44ea-9d14-449a-8c0d-a4b3ad31c2a7
      Original-Request:
      - req_Pf18yXrytRmOT2
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "apwc_0JtpVO9e1RjUNIyYKAONFjSs",
          "object": "apple_pay_domain",
          "created": 1636445794,
          "domain_name": "sampleusername.gumroad.dev",
          "livemode": false
        }
  recorded_at: Tue, 31 Oct 2023 19:17:39 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/apple_pay/domains/apwc_0JtpVO9e1RjUNIyYKAONFjSs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b6933e89-78e9-4169-a9c7-5baef4aff972
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b6933e89-78e9-4169-a9c7-5baef4aff972
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "apwc_0JtpVO9e1RjUNIyYKAONFjSs",
          "object": "apple_pay_domain",
          "deleted": true
        }
  recorded_at: Tue, 31 Oct 2023 19:17:40 GMT
recorded_with: VCR 6.2.0
