---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - '059293da-701b-4524-9561-9ccd70a62b79'
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '059293da-701b-4524-9561-9ccd70a62b79'
      Original-Request:
      - req_UiZ9GtFMUEaqPv
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6s4i9e1RjUNIyYrxwa2Xag",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698659281,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 09:48:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6s4i9e1RjUNIyYrxwa2Xag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgarf9c94caa8.test.gumroad.com%3A31337%2Fl%2Fn&metadata[purchase]=kuaXCPHTmRuoK13rNGVbxg%3D%3D&transfer_group=8&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0O6s4i9e1RjUNIyYrxwa2Xag&statement_descriptor_suffix=edgarf9c94caa8
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3d69f938-a179-48d9-b0fc-ff541e3b551e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3d69f938-a179-48d9-b0fc-ff541e3b551e
      Original-Request:
      - req_hDcwvWM37SRPwq
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6s4k9e1RjUNIyY1McJCrGt",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6s4k9e1RjUNIyY1McJCrGt_secret_YI4hw3BfXY7HwlGZuRjAI2I25",
          "confirmation_method": "manual",
          "created": 1698659282,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarf9c94caa8.test.gumroad.com:31337/l/n",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6s4k9e1RjUNIyY1fBTyef6",
          "livemode": false,
          "metadata": {
            "purchase": "kuaXCPHTmRuoK13rNGVbxg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6s4i9e1RjUNIyYrxwa2Xag",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarf9c94caa8",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "8"
        }
  recorded_at: Mon, 30 Oct 2023 09:48:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6s4k9e1RjUNIyY1fBTyef6?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6s4k9e1RjUNIyY1fBTyef6",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6s4k9e1RjUNIyY1YsvQgod",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1698796800,
            "created": 1698659282,
            "currency": "usd",
            "description": "You bought http://edgarf9c94caa8.test.gumroad.com:31337/l/n",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2O6s4k9e1RjUNIyY1fBTyef6",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARF9C94C",
          "captured": true,
          "created": 1698659282,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarf9c94caa8.test.gumroad.com:31337/l/n",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "kuaXCPHTmRuoK13rNGVbxg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 44,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6s4k9e1RjUNIyY1McJCrGt",
          "payment_method": "pm_0O6s4i9e1RjUNIyYrxwa2Xag",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo0_f9qQYyBnmO-evNVzosFi_6Pc7sxshQyeKSfnYlTT88FPg9h6TFj2WsfpZzHvJfXLI_EciTLtRCHu0",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarf9c94caa8",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "8"
        }
  recorded_at: Mon, 30 Oct 2023 09:48:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/2763276372637263
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such charge: '2763276372637263'",
            "param": "id",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_Nl85B4dLVbE2qQ?t=1698659284",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 30 Oct 2023 09:48:04 GMT
recorded_with: VCR 6.2.0
