---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123&billing_details[address][postal_code]=12345
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 223a0ae8-5f01-4125-87aa-68256b8938b2
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 223a0ae8-5f01-4125-87aa-68256b8938b2
      Original-Request:
      - req_XJtLVxaZEcWrd0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6tJj9e1RjUNIyYGVRLl1jG",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": "unchecked",
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698664055,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 11:07:35 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6tJj9e1RjUNIyYGVRLl1jG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O6tJj9e1RjUNIyYGVRLl1jG
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 72779cff-42e0-4c1d-b64d-1556f41112f4
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 72779cff-42e0-4c1d-b64d-1556f41112f4
      Original-Request:
      - req_kVNEoJNVg1gVuC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OuilTewcd2eLDm",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698664056,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "19C88A9D",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 11:07:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=600&currency=usd&description=You+bought+http%3A%2F%2Fedgara42bbac531.test.gumroad.com%3A31337%2Fl%2Fz&metadata[purchase]=dQMAHeiff1UMsaDDxJzpTQ%3D%3D&transfer_group=20&payment_method_types[0]=card&confirmation_method=manual&confirm=true&setup_future_usage=off_session&payment_method=pm_0O6tJj9e1RjUNIyYGVRLl1jG&customer=cus_OuilTewcd2eLDm&statement_descriptor_suffix=edgara42bbac531
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 85449136-231f-4f18-8cea-5c3b146c7b82
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 85449136-231f-4f18-8cea-5c3b146c7b82
      Original-Request:
      - req_wyQXqcta89fjAQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6tJl9e1RjUNIyY0bqF0EvA",
          "object": "payment_intent",
          "amount": 600,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 600,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6tJl9e1RjUNIyY0bqF0EvA_secret_imcJRy3zg5hpkPHMnio6QgzDN",
          "confirmation_method": "manual",
          "created": 1698664057,
          "currency": "usd",
          "customer": "cus_OuilTewcd2eLDm",
          "description": "You bought http://edgara42bbac531.test.gumroad.com:31337/l/z",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6tJl9e1RjUNIyY0U1bstov",
          "livemode": false,
          "metadata": {
            "purchase": "dQMAHeiff1UMsaDDxJzpTQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6tJj9e1RjUNIyYGVRLl1jG",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgara42bbac531",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "20"
        }
  recorded_at: Mon, 30 Oct 2023 11:07:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6tJl9e1RjUNIyY0U1bstov?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6tJl9e1RjUNIyY0U1bstov",
          "object": "charge",
          "amount": 600,
          "amount_captured": 600,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6tJl9e1RjUNIyY0Eq6k5lB",
            "object": "balance_transaction",
            "amount": 600,
            "available_on": 1698796800,
            "created": 1698664057,
            "currency": "usd",
            "description": "You bought http://edgara42bbac531.test.gumroad.com:31337/l/z",
            "exchange_rate": null,
            "fee": 35,
            "fee_details": [
              {
                "amount": 35,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 565,
            "reporting_category": "charge",
            "source": "ch_2O6tJl9e1RjUNIyY0U1bstov",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARA42BBA",
          "captured": true,
          "created": 1698664057,
          "currency": "usd",
          "customer": "cus_OuilTewcd2eLDm",
          "description": "You bought http://edgara42bbac531.test.gumroad.com:31337/l/z",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "dQMAHeiff1UMsaDDxJzpTQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 29,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6tJl9e1RjUNIyY0bqF0EvA",
          "payment_method": "pm_0O6tJj9e1RjUNIyYGVRLl1jG",
          "payment_method_details": {
            "card": {
              "amount_authorized": 600,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": "pass",
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 600,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo-5z-qQYyBt07J1tkKjosFkmtx2nAaVIvJGaGCO8mIG86JyTnFoX0k_Ks7okAsIlFEzCpxndmcwpl2Ug",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgara42bbac531",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "20"
        }
  recorded_at: Mon, 30 Oct 2023 11:07:39 GMT
recorded_with: VCR 6.2.0
