---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fbdd37e2-3718-4d13-b84a-30822624c675
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fbdd37e2-3718-4d13-b84a-30822624c675
      Original-Request:
      - req_t2k5Y78xVN5wUU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0Ro6AN9e1RjUNIyY7JQZsixa",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1753290559,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 23 Jul 2025 17:09:18 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0Ro6AN9e1RjUNIyY7JQZsixa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar1fc386d815.test.gumroad.com%3A31337%2Fl%2Fw%21&metadata[purchase]=FO_CmnUke8Uc7q4AOevaMw%3D%3D&transfer_group=5&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0Ro6AN9e1RjUNIyY7JQZsixa&statement_descriptor_suffix=edgar1fc386d815
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 151efc0f-2c91-4412-8175-7f0ea191427a
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 151efc0f-2c91-4412-8175-7f0ea191427a
      Original-Request:
      - req_piiXI1l3orFHZf
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2Ro6AN9e1RjUNIyY0n6ELNEh",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2Ro6AN9e1RjUNIyY0n6ELNEh_secret_pNG6sPHdaxjkhfC3TqA7jgcvZ",
          "confirmation_method": "automatic",
          "created": 1753290559,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar1fc386d815.test.gumroad.com:31337/l/w!",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2Ro6AN9e1RjUNIyY0Rs1LFPe",
          "livemode": false,
          "metadata": {
            "purchase": "FO_CmnUke8Uc7q4AOevaMw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0Ro6AN9e1RjUNIyY7JQZsixa",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar1fc386d815",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "5"
        }
  recorded_at: Wed, 23 Jul 2025 17:09:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2Ro6AN9e1RjUNIyY0Rs1LFPe?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2Ro6AN9e1RjUNIyY0Rs1LFPe",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2Ro6AN9e1RjUNIyY0Y9qt5La",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1753401600,
            "balance_type": "payments",
            "created": 1753290559,
            "currency": "usd",
            "description": "You bought http://edgar1fc386d815.test.gumroad.com:31337/l/w!",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 100,
            "reporting_category": "charge",
            "source": "ch_2Ro6AN9e1RjUNIyY0Rs1LFPe",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGAR1FC386D8",
          "captured": true,
          "created": 1753290559,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar1fc386d815.test.gumroad.com:31337/l/w!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "FO_CmnUke8Uc7q4AOevaMw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 30,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2Ro6AN9e1RjUNIyY0n6ELNEh",
          "payment_method": "pm_0Ro6AN9e1RjUNIyY7JQZsixa",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "authorization_code": "319269",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "875457497450891",
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUowK6ExAYyBvz-tipxGTosFg6puOhfmDdO3aGkBq3YY56zZmVIW2T-ib5wjiy1bRhp2uiAx63ysi6fhAo",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar1fc386d815",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "5"
        }
  recorded_at: Wed, 23 Jul 2025 17:09:20 GMT
recorded_with: VCR 6.2.0
