---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8e2afc6d-eea8-4bd0-9d0f-58fb661290cf
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8e2afc6d-eea8-4bd0-9d0f-58fb661290cf
      Original-Request:
      - req_tcChyOuyKRcJ0q
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OQzd79e1RjUNIyY6ffaQEmK",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703454881,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 24 Dec 2023 21:54:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OQzd79e1RjUNIyY6ffaQEmK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0OQzd79e1RjUNIyY6ffaQEmK
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1bc4c909-611d-4666-b931-03cf7b840136
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1bc4c909-611d-4666-b931-03cf7b840136
      Original-Request:
      - req_dR9wqXZQ0wbfq6
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PFUcJf2qHUNQ2s",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703454882,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "B6102900",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 24 Dec 2023 21:54:43 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OQzd99e1RjUNIyYaOkYuHMX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=599&currency=usd&description=You+bought+http%3A%2F%2Fedgardb8bd41c59.test.gumroad.com%3A31337%2Fl%2Fh&metadata[purchase]=bslL87tllJy23oqO9s0oAw%3D%3D&transfer_group=25&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PFUchLCTNy23en&payment_method=pm_0OQzd99e1RjUNIyYaOkYuHMX&statement_descriptor_suffix=edgardb8bd41c59
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 60920535-037b-4de4-94d0-3b2102b0c718
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 60920535-037b-4de4-94d0-3b2102b0c718
      Original-Request:
      - req_n3MCx0048AQar4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OQzdB9e1RjUNIyY1bv2Kns3",
          "object": "payment_intent",
          "amount": 599,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 599,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OQzdB9e1RjUNIyY1bv2Kns3_secret_ytkQIYXa9yAUMtN2SnEqwvgmq",
          "confirmation_method": "automatic",
          "created": 1703454885,
          "currency": "usd",
          "customer": "cus_PFUchLCTNy23en",
          "description": "You bought http://edgardb8bd41c59.test.gumroad.com:31337/l/h",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OQzdB9e1RjUNIyY1y2RFa8w",
          "livemode": false,
          "metadata": {
            "purchase": "bslL87tllJy23oqO9s0oAw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OQzd99e1RjUNIyYaOkYuHMX",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgardb8bd41c59",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "25"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OQzdB9e1RjUNIyY1y2RFa8w?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OQzdB9e1RjUNIyY1y2RFa8w",
          "object": "charge",
          "amount": 599,
          "amount_captured": 599,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OQzdB9e1RjUNIyY1T3L4Xse",
            "object": "balance_transaction",
            "amount": 599,
            "available_on": 1703635200,
            "created": 1703454886,
            "currency": "usd",
            "description": "You bought http://edgardb8bd41c59.test.gumroad.com:31337/l/h",
            "exchange_rate": null,
            "fee": 35,
            "fee_details": [
              {
                "amount": 35,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 564,
            "reporting_category": "charge",
            "source": "ch_2OQzdB9e1RjUNIyY1y2RFa8w",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARDB8BD4",
          "captured": true,
          "created": 1703454886,
          "currency": "usd",
          "customer": "cus_PFUchLCTNy23en",
          "description": "You bought http://edgardb8bd41c59.test.gumroad.com:31337/l/h",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "bslL87tllJy23oqO9s0oAw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 20,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OQzdB9e1RjUNIyY1bv2Kns3",
          "payment_method": "pm_0OQzd99e1RjUNIyYaOkYuHMX",
          "payment_method_details": {
            "card": {
              "amount_authorized": 599,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 599,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUop9GirAYyBrWOfpWHyzosFlRxp0Eh2_z99hIuf4Dit6_ocu60w5DsSpIc067gdUt_J-hp9yIG_g_dRdw",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgardb8bd41c59",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "25"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_2OQzdB9e1RjUNIyY1bv2Kns3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OQzdB9e1RjUNIyY1y2RFa8w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OQzdE9e1RjUNIyY1Ih3Ug7y?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
