---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c2f785e0-8555-4f5f-bc65-6554969e3268
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c2f785e0-8555-4f5f-bc65-6554969e3268
      Original-Request:
      - req_JIoWONWLNLzhr1
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzHAvIBOqvOFDrfPkvK6P3i",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730821,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:40:21 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzHAvIBOqvOFDrfPkvK6P3i
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500&currency=usd&description=Gumroad+Charge+bDsqyJOTBPWWXqzMWUBclg%3D%3D&metadata[purchases%7B0%7D]=R9-PVEbYT9KqSadQIJlNIw%3D%3D&transfer_group=CH-860&payment_method_types[0]=card&off_session=false&payment_method=pm_1SzHAvIBOqvOFDrfPkvK6P3i&statement_descriptor_suffix=edgar457076b4165
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 98757673-ed7e-458e-8add-3873e13c7615
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 98757673-ed7e-458e-8add-3873e13c7615
      Original-Request:
      - req_hQWJEbc55JuPUH
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzHAwIBOqvOFDrf0mLO7x7c",
          "object": "payment_intent",
          "amount": 500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzHAwIBOqvOFDrf0mLO7x7c_secret_FsmMaE0AymomXuJDodwbKP46c",
          "confirmation_method": "automatic",
          "created": 1770730822,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "Gumroad Charge bDsqyJOTBPWWXqzMWUBclg==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "R9-PVEbYT9KqSadQIJlNIw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzHAvIBOqvOFDrfPkvK6P3i",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar457076b4165",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-860"
        }
  recorded_at: Tue, 10 Feb 2026 13:40:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SzHAwIBOqvOFDrf0mLO7x7c/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - de75b6c6-de38-448f-9107-fc476ab3e342
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SzHAwIBOqvOFDrf0BL7l1ij?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SzHAwIBOqvOFDrf0BL7l1ij",
          "object": "charge",
          "amount": 500,
          "amount_captured": 500,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SzHAwIBOqvOFDrf0KPJWrui",
            "object": "balance_transaction",
            "amount": 500,
            "available_on": 1771286400,
            "balance_type": "payments",
            "created": 1770730823,
            "currency": "usd",
            "description": "Gumroad Charge bDsqyJOTBPWWXqzMWUBclg==",
            "exchange_rate": null,
            "fee": 45,
            "fee_details": [
              {
                "amount": 45,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 455,
            "reporting_category": "charge",
            "source": "ch_3SzHAwIBOqvOFDrf0BL7l1ij",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR457076B41",
          "captured": true,
          "created": 1770730823,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge bDsqyJOTBPWWXqzMWUBclg==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "R9-PVEbYT9KqSadQIJlNIw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 5,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SzHAwIBOqvOFDrf0mLO7x7c",
          "payment_method": "pm_1SzHAvIBOqvOFDrfPkvK6P3i",
          "payment_method_details": {
            "card": {
              "amount_authorized": 500,
              "authorization_code": "219506",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 500,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKMjqrMwGMgbsRVazSIo6LBZ6-LYr2T47aeOcSra4sntF0KgNtlCoavpbjsmmN24z9vzTTjlhwFz9Z3h7",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar457076b4165",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-860"
        }
  recorded_at: Tue, 10 Feb 2026 13:40:24 GMT
recorded_with: VCR 6.2.0
