---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ecee002a-ea04-4f44-8ae0-b3570b97c83d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ecee002a-ea04-4f44-8ae0-b3570b97c83d
      Original-Request:
      - req_YJDWCptPtmJ8Oa
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzHAtIBOqvOFDrfTgDzXFqT",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730819,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:40:19 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzHAtIBOqvOFDrfTgDzXFqT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500&currency=usd&description=Gumroad+Charge+0ts62yGlGpjAE7kCS3gs7A%3D%3D&metadata[purchases%7B0%7D]=O9fR2Vecdu3JemNOnBDpUg%3D%3D&transfer_group=CH-859&payment_method_types[0]=card&off_session=false&payment_method=pm_1SzHAtIBOqvOFDrfTgDzXFqT&statement_descriptor_suffix=edgar2c9b6370164
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8ff62739-e8b0-46e9-9364-fc077f26a05f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8ff62739-e8b0-46e9-9364-fc077f26a05f
      Original-Request:
      - req_OiVor3fkegkrl8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzHAtIBOqvOFDrf1VU1Os9p",
          "object": "payment_intent",
          "amount": 500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzHAtIBOqvOFDrf1VU1Os9p_secret_tJEMjy9bOti35vzdkzjgCtzAo",
          "confirmation_method": "automatic",
          "created": 1770730819,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "Gumroad Charge 0ts62yGlGpjAE7kCS3gs7A==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "O9fR2Vecdu3JemNOnBDpUg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzHAtIBOqvOFDrfTgDzXFqT",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar2c9b6370164",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-859"
        }
  recorded_at: Tue, 10 Feb 2026 13:40:20 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SzHAtIBOqvOFDrf1VU1Os9p/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d5f92199-2b3b-482c-b41c-230f99c996d3
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SzHAtIBOqvOFDrf1hzz8uOu?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SzHAtIBOqvOFDrf1hzz8uOu",
          "object": "charge",
          "amount": 500,
          "amount_captured": 500,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SzHAtIBOqvOFDrf17Y6RN85",
            "object": "balance_transaction",
            "amount": 500,
            "available_on": 1771286400,
            "balance_type": "payments",
            "created": 1770730820,
            "currency": "usd",
            "description": "Gumroad Charge 0ts62yGlGpjAE7kCS3gs7A==",
            "exchange_rate": null,
            "fee": 45,
            "fee_details": [
              {
                "amount": 45,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 455,
            "reporting_category": "charge",
            "source": "ch_3SzHAtIBOqvOFDrf1hzz8uOu",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR2C9B63701",
          "captured": true,
          "created": 1770730820,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge 0ts62yGlGpjAE7kCS3gs7A==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "O9fR2Vecdu3JemNOnBDpUg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 14,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SzHAtIBOqvOFDrf1VU1Os9p",
          "payment_method": "pm_1SzHAtIBOqvOFDrfTgDzXFqT",
          "payment_method_details": {
            "card": {
              "amount_authorized": 500,
              "authorization_code": "820724",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 500,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKMXqrMwGMgYrc0c_V-k6LBYjBmCrjJ2bu2xt3aFg4SX47jhyt9daGgSiNLF_vqtdKbIJZoe2QqdP2mZd",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar2c9b6370164",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-859"
        }
  recorded_at: Tue, 10 Feb 2026 13:40:21 GMT
recorded_with: VCR 6.2.0
