---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6b57dbc1-3891-4cd2-b1c4-8030232d386e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6b57dbc1-3891-4cd2-b1c4-8030232d386e
      Original-Request:
      - req_0Yr4lJlshHkXHj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfKA9e1RjUNIyYGwgz2P4D",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703853482,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:38:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfKA9e1RjUNIyYGwgz2P4D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgarf2776f8d13.test.gumroad.com%3A31337%2Fl%2Fn&metadata[purchase]=4LhjQ6P6vcFQEZKk42sLbQ%3D%3D&transfer_group=32&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0OSfKA9e1RjUNIyYGwgz2P4D&statement_descriptor_suffix=edgarf2776f8d13
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bb5b34c9-f74b-4602-acf7-d3fc0a3c8b34
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bb5b34c9-f74b-4602-acf7-d3fc0a3c8b34
      Original-Request:
      - req_X5fGNGSY6if6Yz
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSfKB9e1RjUNIyY0KUyvGj3",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSfKB9e1RjUNIyY0KUyvGj3_secret_qcgHLYvqyoMVgMaqBZiJY356U",
          "confirmation_method": "automatic",
          "created": 1703853483,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarf2776f8d13.test.gumroad.com:31337/l/n",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OSfKB9e1RjUNIyY0qPvDYFv",
          "livemode": false,
          "metadata": {
            "purchase": "4LhjQ6P6vcFQEZKk42sLbQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfKA9e1RjUNIyYGwgz2P4D",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarf2776f8d13",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "32"
        }
  recorded_at: Fri, 29 Dec 2023 12:38:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSfKB9e1RjUNIyY0qPvDYFv?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OSfKB9e1RjUNIyY0qPvDYFv",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OSfKB9e1RjUNIyY0m3dhQyT",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1704240000,
            "created": 1703853483,
            "currency": "usd",
            "description": "You bought http://edgarf2776f8d13.test.gumroad.com:31337/l/n",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2OSfKB9e1RjUNIyY0qPvDYFv",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARF2776F",
          "captured": true,
          "created": 1703853483,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarf2776f8d13.test.gumroad.com:31337/l/n",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "4LhjQ6P6vcFQEZKk42sLbQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 9,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OSfKB9e1RjUNIyY0KUyvGj3",
          "payment_method": "pm_0OSfKA9e1RjUNIyYGwgz2P4D",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUorPu6rAYyBiy-5cyXJTosFqDSMF23ztEGpddIZktOdX-wlUGRLL_9naVkWnFgZfldhlFDteV4CTszL7I",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarf2776f8d13",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "32"
        }
  recorded_at: Fri, 29 Dec 2023 12:38:04 GMT
recorded_with: VCR 6.2.0
