---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 784cc461-d38a-42fc-9cc9-d9613f94eef5
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 784cc461-d38a-42fc-9cc9-d9613f94eef5
      Original-Request:
      - req_LLfGVzl6UqJCz0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfKJ9e1RjUNIyYLziv8h2g",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703853491,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:38:11 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfKJ9e1RjUNIyYLziv8h2g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgaree27254515.test.gumroad.com%3A31337%2Fl%2Fl&metadata[purchase]=xOT-Wgl-S6m0PIhTlK8qfg%3D%3D&transfer_group=36&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0OSfKJ9e1RjUNIyYLziv8h2g&statement_descriptor_suffix=edgaree27254515
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6deaf402-3816-45ed-a6d9-5d1ef37d4110
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6deaf402-3816-45ed-a6d9-5d1ef37d4110
      Original-Request:
      - req_OCWKA264xmsdDD
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSfKK9e1RjUNIyY1vUTsOBP",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSfKK9e1RjUNIyY1vUTsOBP_secret_seG247CnqSV1y6zP3ZRpIxr5k",
          "confirmation_method": "automatic",
          "created": 1703853492,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgaree27254515.test.gumroad.com:31337/l/l",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OSfKK9e1RjUNIyY182H3EeE",
          "livemode": false,
          "metadata": {
            "purchase": "xOT-Wgl-S6m0PIhTlK8qfg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfKJ9e1RjUNIyYLziv8h2g",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgaree27254515",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "36"
        }
  recorded_at: Fri, 29 Dec 2023 12:38:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSfKK9e1RjUNIyY182H3EeE?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OSfKK9e1RjUNIyY182H3EeE",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OSfKK9e1RjUNIyY1odCizOU",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1704240000,
            "created": 1703853492,
            "currency": "usd",
            "description": "You bought http://edgaree27254515.test.gumroad.com:31337/l/l",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2OSfKK9e1RjUNIyY182H3EeE",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAREE2725",
          "captured": true,
          "created": 1703853492,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgaree27254515.test.gumroad.com:31337/l/l",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "xOT-Wgl-S6m0PIhTlK8qfg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 48,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OSfKK9e1RjUNIyY1vUTsOBP",
          "payment_method": "pm_0OSfKJ9e1RjUNIyYLziv8h2g",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUotvu6rAYyBn9iSKSmvDosFqmZS6TBmagtcH8WacH62XltF9YX-Ruhlp_hVvvE1q1XNSMfxySSmdaANxc",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgaree27254515",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "36"
        }
  recorded_at: Fri, 29 Dec 2023 12:38:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSfKK9e1RjUNIyY182H3EeE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2OSfKK9e1RjUNIyY182H3EeE&amount=50
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 967b12bb-7eff-4861-977a-4f37d9ed13c8
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 967b12bb-7eff-4861-977a-4f37d9ed13c8
      Original-Request:
      - req_XVO8vzEFRhvzpN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2OSfKK9e1RjUNIyY1qbQtWkF",
          "object": "refund",
          "amount": 50,
          "balance_transaction": "txn_2OSfKK9e1RjUNIyY1dkNOeru",
          "charge": "ch_2OSfKK9e1RjUNIyY182H3EeE",
          "created": 1703853495,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_2OSfKK9e1RjUNIyY1vUTsOBP",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Fri, 29 Dec 2023 12:38:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2OSfKK9e1RjUNIyY1qbQtWkF?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSfKK9e1RjUNIyY182H3EeE?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
