---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=DE&default_currency=eur&metadata[user_id]=4064347087293&metadata[tos_agreement_id]=JAJ1BuJJ8_VfUtARQPEegA%3D%3D&metadata[user_compliance_info_id]=JAJ1BuJJ8_VfUtARQPEegA%3D%3D&metadata[bank_account_id]=O0XIU_c0YnO8XSpeCjBB0Q%3D%3D&tos_acceptance[date]=1698691838&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=edgaraf7458ec_955%40gumroad.com&individual[phone]=0000000000&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=California&individual[address][postal_code]=10115&individual[address][country]=DE&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[id_number]=000000000&bank_account[country]=DE&bank_account[currency]=eur&bank_account[account_number]=DE89370400440532013000&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e3092910-59a6-4309-b34c-d823e71e294a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e3092910-59a6-4309-b34c-d823e71e294a
      Original-Request:
      - req_Fx6DJVpmWFEZFG
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1O70XrS55x3UGZRD",
          "object": "account",
          "business_profile": {
            "mcc": "5192",
            "name": null,
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "active",
            "transfers": "active"
          },
          "charges_enabled": true,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "DE",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "10115",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "DE",
          "created": 1698691840,
          "default_currency": "eur",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1O70XrS55x3UGZRDkuL8h3Tg",
                "object": "bank_account",
                "account": "acct_1O70XrS55x3UGZRD",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "DE",
                "currency": "eur",
                "default_for_currency": true,
                "fingerprint": "J8LUFjqxxORXm86s",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "3000",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1O70XrS55x3UGZRD/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1O70XrS55x3UGZRDAFjQvpJd",
            "object": "person",
            "account": "acct_1O70XrS55x3UGZRD",
            "address": {
              "city": "San Francisco",
              "country": "DE",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "10115",
              "state": "California"
            },
            "created": 1698691840,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "edgaraf7458ec_955@gumroad.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "pending"
            }
          },
          "metadata": {
            "bank_account_id": "O0XIU_c0YnO8XSpeCjBB0Q==",
            "tos_agreement_id": "JAJ1BuJJ8_VfUtARQPEegA==",
            "user_compliance_info_id": "JAJ1BuJJ8_VfUtARQPEegA==",
            "user_id": "4064347087293"
          },
          "payouts_enabled": true,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {},
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "VIPUL.GUMR",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "vipul.gumroad",
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "VIPUL.GUMROAD.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 1,
                "interval": "manual"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1698691838,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Mon, 30 Oct 2023 18:50:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: destination=acct_1O70XrS55x3UGZRD&currency=usd&description=Funds+held+by+Gumroad+for+Payment+P0bFHhDm6STyfRgEsKXLMQ%3D%3D.&amount=200&metadata[payment]=P0bFHhDm6STyfRgEsKXLMQ%3D%3D&metadata[balances%7B0%7D]=6FdUJisq0-JdeAkx4x62YQ%3D%3D%2CYQfXxFeQ5ZLjL6l4hrEiew%3D%3D&expand[0]=balance_transaction
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 516090a2-0758-4f0c-89b8-af53595f3acc
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 516090a2-0758-4f0c-89b8-af53595f3acc
      Original-Request:
      - req_Rky8V503v44GBJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_0O70Xv9e1RjUNIyYDIn1v3D6",
          "object": "transfer",
          "amount": 200,
          "amount_reversed": 0,
          "balance_transaction": {
            "id": "txn_0O70Xv9e1RjUNIyYFfcn01uN",
            "object": "balance_transaction",
            "amount": -200,
            "available_on": 1698691843,
            "created": 1698691843,
            "currency": "usd",
            "description": "Funds held by Gumroad for Payment P0bFHhDm6STyfRgEsKXLMQ==.",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": -200,
            "reporting_category": "transfer",
            "source": "tr_0O70Xv9e1RjUNIyYDIn1v3D6",
            "status": "available",
            "type": "transfer"
          },
          "created": 1698691843,
          "currency": "usd",
          "description": "Funds held by Gumroad for Payment P0bFHhDm6STyfRgEsKXLMQ==.",
          "destination": "acct_1O70XrS55x3UGZRD",
          "destination_payment": "py_1O70XvS55x3UGZRDI9Bqjw5B",
          "livemode": false,
          "metadata": {
            "balances{0}": "6FdUJisq0-JdeAkx4x62YQ==,YQfXxFeQ5ZLjL6l4hrEiew==",
            "payment": "P0bFHhDm6STyfRgEsKXLMQ=="
          },
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_0O70Xv9e1RjUNIyYDIn1v3D6/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Mon, 30 Oct 2023 18:50:44 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_0O70Xv9e1RjUNIyYDIn1v3D6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      en[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers/tr_0O70Xv9e1RjUNIyYDIn1v3D6/reversals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d661ca5c-dc0d-4a2c-9f4f-d526d2f5d90c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d661ca5c-dc0d-4a2c-9f4f-d526d2f5d90c
      Original-Request:
      - req_SM1b8Yjaeevndy
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "trr_0O70Xx9e1RjUNIyYSuAMZ6Ub",
          "object": "transfer_reversal",
          "amount": 200,
          "balance_transaction": "txn_0O70Xx9e1RjUNIyY3Evno42G",
          "created": 1698691845,
          "currency": "usd",
          "destination_payment_refund": "pyr_1O70XwS55x3UGZRDoFwyeN5E",
          "metadata": {},
          "source_refund": null,
          "transfer": "tr_0O70Xv9e1RjUNIyYDIn1v3D6"
        }
  recorded_at: Mon, 30 Oct 2023 18:50:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1O70XvS55x3UGZRDI9Bqjw5B?expand%5B%5D=balance_transaction&expand%5B%5D=refunds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1O70XrS55x3UGZRD
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O70XrS55x3UGZRD
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1O70XvS55x3UGZRDI9Bqjw5B",
          "object": "charge",
          "amount": 200,
          "amount_captured": 200,
          "amount_refunded": 200,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1O70XvS55x3UGZRDC9VvXNoZ",
            "object": "balance_transaction",
            "amount": 185,
            "available_on": 1698691843,
            "created": 1698691843,
            "currency": "eur",
            "description": null,
            "exchange_rate": 0.92594,
            "fee": 0,
            "fee_details": [],
            "net": 185,
            "reporting_category": "charge",
            "source": "py_1O70XvS55x3UGZRDI9Bqjw5B",
            "status": "available",
            "type": "payment"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": null,
          "captured": true,
          "created": 1698691843,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": null,
          "paid": true,
          "payment_intent": null,
          "payment_method": null,
          "payment_method_details": {
            "stripe_account": {},
            "type": "stripe_account"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xTzcwWHJTNTV4M1VHWlJEKIb2_6kGMgba94DuzyQ6LBbxhBzFGeBMml70wE79ihk_iHVrqJmO6rkgbjNo9ArR0ROUqIUw4ftl-Ejp",
          "refunded": true,
          "refunds": {
            "object": "list",
            "data": [
              {
                "id": "pyr_1O70XwS55x3UGZRDoFwyeN5E",
                "object": "refund",
                "amount": 200,
                "balance_transaction": "txn_1O70XxS55x3UGZRDWz1It3lE",
                "charge": "py_1O70XvS55x3UGZRDI9Bqjw5B",
                "created": 1698691844,
                "currency": "usd",
                "metadata": {},
                "payment_intent": null,
                "reason": null,
                "receipt_number": null,
                "source_transfer_reversal": "trr_0O70Xx9e1RjUNIyYSuAMZ6Ub",
                "status": "succeeded",
                "transfer_reversal": "trr_0O70Xx9e1RjUNIyYSuAMZ6Ub"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges/py_1O70XvS55x3UGZRDI9Bqjw5B/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "<STRIPE_PLATFORM_ACCOUNT_ID>",
            "object": "account",
            "application_icon": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV96QURJZllYTVhmQTEwQWswUmg3MlRpOGI00M3h6olFO",
            "application_logo": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV9WNnByazhHekswejFlUGh3a1M0dnRxZko00eY1DsvrA",
            "application_name": "Gumroad",
            "application_url": "https://gumroad.com"
          },
          "source_transfer": "tr_0O70Xv9e1RjUNIyYDIn1v3D6",
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 30 Oct 2023 18:50:46 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/balance_transactions/txn_1O70XxS55x3UGZRDWz1It3lE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1O70XrS55x3UGZRD
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O70XrS55x3UGZRD
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "txn_1O70XxS55x3UGZRDWz1It3lE",
          "object": "balance_transaction",
          "amount": -189,
          "available_on": 1698691844,
          "created": 1698691844,
          "currency": "eur",
          "description": "REFUND FOR PAYMENT",
          "exchange_rate": 0.94484,
          "fee": 0,
          "fee_details": [],
          "net": -189,
          "reporting_category": "refund",
          "source": "pyr_1O70XwS55x3UGZRDoFwyeN5E",
          "status": "available",
          "type": "payment_refund"
        }
  recorded_at: Mon, 30 Oct 2023 18:50:46 GMT
recorded_with: VCR 6.2.0
