---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e70a47a0-afc2-4d52-bcca-e912c28a3dee
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e70a47a0-afc2-4d52-bcca-e912c28a3dee
      Original-Request:
      - req_t7aWWeIAjsk4Zf
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OUZMY9e1RjUNIyYIZ0QtZMV",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1704307222,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 03 Jan 2024 18:40:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OUZMY9e1RjUNIyYIZ0QtZMV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: ASCII-8BIT
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"WA","to_zip":"98121","shipping":0.0,"line_items":[{"quantity":1,"unit_price":10.0,"discount":0,"product_tax_code":"31000"}],"nexus_addresses":[{"country":"US","state":"WA"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f36dde823dc19297dbbe122f88e20156"
    body:
      encoding: UTF-8
      string: '{"tax":{"order_total_amount":10.0,"shipping":0.0,"taxable_amount":10.0,"amount_to_collect":1.03,"rate":0.1025,"has_nexus":true,"freight_taxable":true,"tax_source":"destination","jurisdictions":{"country":"US","state":"WA","county":"KING","city":"SEATTLE"},"breakdown":{"taxable_amount":10.0,"tax_collectable":1.03,"combined_tax_rate":0.1025,"state_taxable_amount":10.0,"state_tax_rate":0.065,"state_tax_collectable":0.65,"county_taxable_amount":10.0,"county_tax_rate":0.003,"county_tax_collectable":0.03,"city_taxable_amount":10.0,"city_tax_rate":0.0115,"city_tax_collectable":0.12,"special_district_taxable_amount":10.0,"special_tax_rate":0.023,"special_district_tax_collectable":0.23,"shipping":{"taxable_amount":0.0,"tax_collectable":0.0,"combined_tax_rate":0.1025,"state_taxable_amount":0.0,"state_sales_tax_rate":0.065,"state_amount":0.0,"county_taxable_amount":0.0,"county_tax_rate":0.003,"county_amount":0.0,"city_taxable_amount":0.0,"city_tax_rate":0.0115,"city_amount":0.0,"special_taxable_amount":0.0,"special_tax_rate":0.023,"special_district_amount":0.0},"line_items":[{"id":"1","taxable_amount":10.0,"tax_collectable":1.03,"combined_tax_rate":0.1025,"state_taxable_amount":10.0,"state_sales_tax_rate":0.065,"state_amount":0.65,"county_taxable_amount":10.0,"county_tax_rate":0.003,"county_amount":0.03,"city_taxable_amount":10.0,"city_tax_rate":0.0115,"city_amount":0.12,"special_district_taxable_amount":10.0,"special_tax_rate":0.023,"special_district_amount":0.23}]}}}'
  recorded_at: Wed, 03 Jan 2024 18:40:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1103&currency=usd&description=You+bought+http%3A%2F%2Fedgar209374791.test.gumroad.com%3A31337%2Fl%2Ff&metadata[purchase]=G_-mnBf9b1j9A7a4ub4nFQ%3D%3D&transfer_group=1&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0OUZMY9e1RjUNIyYIZ0QtZMV&statement_descriptor_suffix=edgar209374791
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - '0684cbce-675c-4680-871c-4dc5a3e9362a'
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '0684cbce-675c-4680-871c-4dc5a3e9362a'
      Original-Request:
      - req_5Ag7ECbqLoGmAc
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OUZMZ9e1RjUNIyY1VrBOou6",
          "object": "payment_intent",
          "amount": 1103,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1103,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OUZMZ9e1RjUNIyY1VrBOou6_secret_tBj7fLXMZgInS6f9rsfNGIc50",
          "confirmation_method": "manual",
          "created": 1704307223,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar209374791.test.gumroad.com:31337/l/f",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OUZMZ9e1RjUNIyY1iGpxGaV",
          "livemode": false,
          "metadata": {
            "purchase": "G_-mnBf9b1j9A7a4ub4nFQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OUZMY9e1RjUNIyYIZ0QtZMV",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar209374791",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1"
        }
  recorded_at: Wed, 03 Jan 2024 18:40:24 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OUZMZ9e1RjUNIyY1iGpxGaV?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OUZMZ9e1RjUNIyY1iGpxGaV",
          "object": "charge",
          "amount": 1103,
          "amount_captured": 1103,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OUZMZ9e1RjUNIyY1fqnnsIJ",
            "object": "balance_transaction",
            "amount": 1103,
            "available_on": 1704412800,
            "created": 1704307224,
            "currency": "usd",
            "description": "You bought http://edgar209374791.test.gumroad.com:31337/l/f",
            "exchange_rate": null,
            "fee": 52,
            "fee_details": [
              {
                "amount": 52,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1051,
            "reporting_category": "charge",
            "source": "ch_2OUZMZ9e1RjUNIyY1iGpxGaV",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR209374",
          "captured": true,
          "created": 1704307224,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar209374791.test.gumroad.com:31337/l/f",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "G_-mnBf9b1j9A7a4ub4nFQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 39,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OUZMZ9e1RjUNIyY1VrBOou6",
          "payment_method": "pm_0OUZMY9e1RjUNIyYIZ0QtZMV",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1103,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1103,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUomdTWrAYyBmN5QjaSzzosFrYoeTsAqJLaOjHgZHIF5X3pMStIpADWhV5_Cib4H0Fkg-kP-6uiQen3rVQ",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar209374791",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1"
        }
  recorded_at: Wed, 03 Jan 2024 18:40:25 GMT
recorded_with: VCR 6.2.0
