---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7aecc259-4972-48f4-968f-4314556ece9a
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7aecc259-4972-48f4-968f-4314556ece9a
      Original-Request:
      - req_oAOs10yZr8JrXb
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0QkUHc9e1RjUNIyY6kXM5WW5",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1737653616,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Thu, 23 Jan 2025 17:33:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_0QkUHc9e1RjUNIyY6kXM5WW5
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 69c8139f-c401-41f7-807b-12cc4d7b7b04
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 69c8139f-c401-41f7-807b-12cc4d7b7b04
      Original-Request:
      - req_E0XldrJ18JU7QS
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_RdlpqT1HO0F587",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1737653617,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "3691E6C6",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 23 Jan 2025 17:33:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0QkUHc9e1RjUNIyY6kXM5WW5&customer=cus_RdlpqT1HO0F587&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 93bf51f7-64a4-42f8-b023-f54a398ae2bf
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 93bf51f7-64a4-42f8-b023-f54a398ae2bf
      Original-Request:
      - req_UxLtexkBBtx9Hh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0QkUHe9e1RjUNIyYxFJVuv52",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0QkUHe9e1RjUNIyYxFJVuv52_secret_RdlpnAPk9yUZ7JSyydeDaGCEv9bu1gP",
          "created": 1737653618,
          "customer": "cus_RdlpqT1HO0F587",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0QkUHe9e1RjUNIyY0jNQHWRL",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0QkUHc9e1RjUNIyY6kXM5WW5",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Thu, 23 Jan 2025 17:33:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0QkUHc9e1RjUNIyY6kXM5WW5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500&currency=usd&description=You+bought+http%3A%2F%2Fedgar35a5551a3.test.gumroad.com%3A31337%2Fl%2Fm%21&metadata[purchase]=bfi_30HLgGWL8H2wo_Gzlg%3D%3D&transfer_group=3&payment_method_types[0]=card&customer=cus_RdlpqT1HO0F587&payment_method=pm_0QkUHc9e1RjUNIyY6kXM5WW5&statement_descriptor_suffix=edgar35a5551a3
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - cd4cd864-26de-4219-a465-a22aa09793d1
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cd4cd864-26de-4219-a465-a22aa09793d1
      Original-Request:
      - req_s42YZvtEv0N0Mw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2QkUHf9e1RjUNIyY1KikOFmN",
          "object": "payment_intent",
          "amount": 500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2QkUHf9e1RjUNIyY1KikOFmN_secret_sEAKYwvWiE4KUHbfGxwuQ7M4c",
          "confirmation_method": "automatic",
          "created": 1737653619,
          "currency": "usd",
          "customer": "cus_RdlpqT1HO0F587",
          "description": "You bought http://edgar35a5551a3.test.gumroad.com:31337/l/m!",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchase": "bfi_30HLgGWL8H2wo_Gzlg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0QkUHc9e1RjUNIyY6kXM5WW5",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar35a5551a3",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "3"
        }
  recorded_at: Thu, 23 Jan 2025 17:33:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2QkUHf9e1RjUNIyY1KikOFmN/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - afd26c93-d5ae-4e28-990a-7ad8415e16ef
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    head[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2QkUHf9e1RjUNIyY15reii94?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2QkUHf9e1RjUNIyY15reii94",
          "object": "charge",
          "amount": 500,
          "amount_captured": 500,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2QkUHf9e1RjUNIyY18JtRjyX",
            "object": "balance_transaction",
            "amount": 500,
            "available_on": 1737936000,
            "created": 1737653620,
            "currency": "usd",
            "description": "You bought http://edgar35a5551a3.test.gumroad.com:31337/l/m!",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 500,
            "reporting_category": "charge",
            "source": "ch_2QkUHf9e1RjUNIyY15reii94",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGAR35A5551A",
          "captured": true,
          "created": 1737653620,
          "currency": "usd",
          "customer": "cus_RdlpqT1HO0F587",
          "description": "You bought http://edgar35a5551a3.test.gumroad.com:31337/l/m!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "bfi_30HLgGWL8H2wo_Gzlg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 18,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2QkUHf9e1RjUNIyY1KikOFmN",
          "payment_method": "pm_0QkUHc9e1RjUNIyY6kXM5WW5",
          "payment_method_details": {
            "card": {
              "amount_authorized": 500,
              "authorization_code": null,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "875457497450891",
              "overcapture": {
                "maximum_amount_capturable": 500,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo9frJvAYyBtnWUPubWzosFlo1U_7HgzYY013MycCAxfPCB7TV8pBCsL-QNE6dMTJARgpVXTl7TREZuOA",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar35a5551a3",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "3"
        }
  recorded_at: Thu, 23 Jan 2025 17:33:41 GMT
recorded_with: VCR 6.2.0
