---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0025+0000+3155&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d3f9f998-02d2-4f54-8b06-71036d72dc1e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d3f9f998-02d2-4f54-8b06-71036d72dc1e
      Original-Request:
      - req_i2v2sIyiCYToTF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6yZl9e1RjUNIyYJIaUKvK2",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "FR",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "oAfFzXbpUnAdpxWE",
            "funding": "credit",
            "generated_from": null,
            "last4": "3155",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698684269,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 16:44:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=the+description&metadata[purchase]=reference&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=false&payment_method=pm_0O6yZl9e1RjUNIyYJIaUKvK2
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7d589451-b95a-4ba7-936d-a0d99aa92983
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7d589451-b95a-4ba7-936d-a0d99aa92983
      Original-Request:
      - req_BfzS0UAgPFQpyd
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6yZm9e1RjUNIyY0kqsIjgM",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6yZm9e1RjUNIyY0kqsIjgM_secret_Ip4qMnr2AVkoLHPCGANqs0xOO",
          "confirmation_method": "manual",
          "created": 1698684270,
          "currency": "usd",
          "customer": null,
          "description": "the description",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchase": "reference"
          },
          "next_action": {
            "type": "use_stripe_sdk",
            "use_stripe_sdk": {
              "source": "src_0O6yZn9e1RjUNIyYav6D8xV7",
              "stripe_js": "https://hooks.stripe.com/redirect/authenticate/src_0O6yZn9e1RjUNIyYav6D8xV7?client_secret=src_client_secret_5ObE7tRF2wik6i3q63MaBNcE&source_redirect_slug=test_OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUsX091b0N3OEpuZGZ2NDVjMktoeVM5eGpCbmluNE5kb2401001PdkEDXW",
              "type": "three_d_secure_redirect"
            }
          },
          "on_behalf_of": null,
          "payment_method": "pm_0O6yZl9e1RjUNIyYJIaUKvK2",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_action",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 30 Oct 2023 16:44:31 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_2O6yZm9e1RjUNIyY0kqsIjgM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2O6yZm9e1RjUNIyY0kqsIjgM/cancel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 45efb7d7-2e9c-4afa-b1d9-910bb6371507
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
    [...]
[...]
