---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"17th Street","city":"Burnaby","state":"BC","zip":"V3N
        4H4","country":"Canada"},"verify":["delivery"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic RVpUSzJhNDk1NTQyNTdlODQ5YmRiMTc5NDI4YTc2MTZkZWY2S2x5U3lkZkIxdjd2UkpDZFpjeGtzQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 60001eda629e0116e2c497db000607de
      Location:
      - "/api/v2/addresses/adr_9cb90255e59c11eca2d5ac1f6b0a0d1e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"de7d667f37c260d184638cf2911c8ef5"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202206030043-0fd9609f83-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 0910011e7e
      - intlb2nuq 570dfcbc0a
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_9cb90255e59c11eca2d5ac1f6b0a0d1e","object":"Address","created_at":"2022-06-06T13:28:54+00:00","updated_at":"2022-06-06T13:28:54+00:00","name":null,"company":null,"street1":"17th
        Street","street2":null,"city":"Burnaby","state":"BC","zip":"V3N 4H4","country":"CA","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":false,"errors":[{"code":"E.HOUSE_NUMBER.INVALID","field":"street1","message":"House
        number is invalid","suggestion":null}],"details":{}}}}'
  recorded_at: Mon, 06 Jun 2022 13:28:55 GMT
recorded_with: VCR 6.1.0
