---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/payments/captures/invalid_capture_id/refund
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
      Authorization:
      - Bearer A21AAENfZVAsmd7cbktH4YWCVJgQL7r5X21fgbl-ZRmoMZPNj3PIm5FkNTHN4I0mIFWhNpGv6dLwkpHXZkWEPGWEG2gxXfDSw
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.5.8
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - ed4f0bed948f4
    body:
      encoding: UTF-8
      string: '{"name":"RESOURCE_NOT_FOUND","message":"The specified resource does
        not exist.","debug_id":"ed4f0bed948f4","details":[{"issue":"INVALID_RESOURCE_ID","field":"capture_id","value":"invalid_capture_id","description":"Specified
        resource ID does not exist. Please check the resource ID and try again.","location":"path"}],"links":[{"href":"https://developer.paypal.com/docs/api/payments/v2/#error-INVALID_RESOURCE_ID","rel":"information_link"}]}'
  recorded_at: Wed, 17 Jun 2020 20:47:15 GMT
recorded_with: VCR 3.0.3
