---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=transfers&country=IN&default_currency=inr&metadata[user_id]=3014153461326&metadata[tos_agreement_id]=7-RrdvIoUS_D2srgUHAytg%3D%3D&metadata[user_compliance_info_id]=7-RrdvIoUS_D2srgUHAytg%3D%3D&metadata[bank_account_id]=7-RrdvIoUS_D2srgUHAytg%3D%3D&tos_acceptance[date]=1427846400&tos_acceptance[ip]=54.234.242.13&tos_acceptance[service_agreement]=recipient&business_type=individual&business_profile[name]=Chuck+Bartowski&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=chuck%40gum.com&individual[phone]=0000000000&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[address][line1]=address_full_match&individual[address][city]=Indore&individual[address][postal_code]=452010&individual[address][country]=IN&bank_account[country]=IN&bank_account[currency]=inr&bank_account[account_number]=000<STRONGBOX_GENERAL_PASSWORD>56789&bank_account[routing_number]=HDFC0004051&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=false
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 54ba3663-70f1-48a8-882e-531863f403d7
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 54ba3663-70f1-48a8-882e-531863f403d7
      Original-Request:
      - req_7BKcJtoFxx4LV1
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1TQrXoIHykKyxGcu",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": null,
            "minority_owned_business_designation": null,
            "name": "Chuck Bartowski",
            "product_description": "Chuck Bartowski",
            "specified_commercial_transactions_act_url": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "transfers": "active"
          },
          "charges_enabled": true,
          "company": {
            "address": {
              "city": "Indore",
              "country": "IN",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "452010",
              "state": null
            },
            "directors_provided": true,
            "executives_provided": true,
            "owners_provided": true,
            "phone": "+10000000000",
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "IN",
          "created": 1777305482,
          "default_currency": "inr",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1TQrXoIHykKyxGcum63Fpy0L",
                "object": "bank_account",
                "account": "acct_1TQrXoIHykKyxGcu",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "HDFC BANK - INDIRANAGAR KRISHNA TEMPLE ROAD",
                "country": "IN",
                "currency": "inr",
                "default_for_currency": true,
                "fingerprint": "fTJY3p370mWfmJZX",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "HDFC0004051",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1TQrXoIHykKyxGcu/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1TQrXpIHykKyxGcunBCz4xly",
            "object": "person",
            "account": "acct_1TQrXoIHykKyxGcu",
            "address": {
              "city": "Indore",
              "country": "IN",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "452010",
              "state": null
            },
            "created": 1777305481,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "chuck@gum.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "id_number_type": "pan",
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "authorizer": false,
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [
                "verification.document"
              ],
              "past_due": [],
              "pending_verification": []
            },
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "unverified"
            }
          },
          "metadata": {
            "bank_account_id": "7-RrdvIoUS_D2srgUHAytg==",
            "tos_agreement_id": "7-RrdvIoUS_D2srgUHAytg==",
            "user_compliance_info_id": "7-RrdvIoUS_D2srgUHAytg==",
            "user_id": "3014153461326"
          },
          "payouts_enabled": true,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [
              "individual.verification.document"
            ],
            "past_due": [],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "CHUCK BART",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Chuck Bartowski",
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null,
              "hosted_payment_method_save": "offer"
            },
            "payments": {
              "statement_descriptor": "CHUCK BARTOWSKI",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 2,
                "interval": "manual"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1427846400,
            "ip": "54.234.242.13",
            "service_agreement": "recipient",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Mon, 27 Apr 2026 15:58:04 GMT
recorded_with: VCR 6.2.0
