---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa_chargeDeclined
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2ae42406-4349-4f0e-ab8f-57c711c19a3e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2ae42406-4349-4f0e-ab8f-57c711c19a3e
      Original-Request:
      - req_ua5UKouZTHuQYr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzHARIBOqvOFDrfePbWW23g",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "cQWd8hUpgSG2iRvA",
            "funding": "credit",
            "generated_from": null,
            "last4": "0002",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730791,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:39:51 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzHARIBOqvOFDrfePbWW23g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1500&currency=usd&description=Gumroad+Charge+XKJ34rVF-EySpD3EWLTVvA%3D%3D&metadata[purchases%7B0%7D]=gA0RF2pjqWrrksR_OTvIPw%3D%3D%2CeUeHfbNVSlh_wdcialgQYg%3D%3D&transfer_group=CH-853&payment_method_types[0]=card&off_session=false&payment_method=pm_1SzHARIBOqvOFDrfePbWW23g&statement_descriptor_suffix=edgard0ae3742152
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ca95eb3f-bb64-4a2b-81d8-f64c666a01af
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ca95eb3f-bb64-4a2b-81d8-f64c666a01af
      Original-Request:
      - req_Er0bZKQqrFT7h8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzHASIBOqvOFDrf0JftHhAI",
          "object": "payment_intent",
          "amount": 1500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzHASIBOqvOFDrf0JftHhAI_secret_NFUdpNIynyyI5kyLdFrPS7dFp",
          "confirmation_method": "automatic",
          "created": 1770730792,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "Gumroad Charge XKJ34rVF-EySpD3EWLTVvA==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "gA0RF2pjqWrrksR_OTvIPw==,eUeHfbNVSlh_wdcialgQYg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzHARIBOqvOFDrfePbWW23g",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgard0ae3742152",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-853"
        }
  recorded_at: Tue, 10 Feb 2026 13:39:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SzHASIBOqvOFDrf0JftHhAI/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bdf8cfd0-6548-4d84-9665-19c09f7dba8a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bdf8cfd0-6548-4d84-9665-19c09f7dba8a
      Original-Request:
      - req_kn3D8RyuPkww6s
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "advice_code": "try_again_later",
            "charge": "ch_3SzHASIBOqvOFDrf0BpAPmD8",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "network_decline_code": "01",
            "payment_intent": {
              "id": "pi_3SzHASIBOqvOFDrf0JftHhAI",
              "object": "payment_intent",
              "amount": 1500,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "[...]
