---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=1466882108919&metadata[tos_agreement_id]=CX1DxoG-YVYCvLoCWsko5A%3D%3D&metadata[user_compliance_info_id]=Iaxx4yaUtfY_WFAOnOO4Tg%3D%3D&metadata[bank_account_id]=CX1DxoG-YVYCvLoCWsko5A%3D%3D&tos_acceptance[date]=1427846400&tos_acceptance[ip]=54.234.242.13&business_type=company&business_profile[name]=Buy+More%2C+LLC&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Buy+More%2C+LLC&company[name]=Buy+More%2C+LLC&company[address][line1]=address_full_match&company[address][city]=Burbank&company[address][state]=California&company[address][postal_code]=91506&company[address][country]=US&company[tax_id]=000000000&company[phone]=0000000000&company[directors_provided]=true&company[executives_provided]=true&bank_account[country]=US&bank_account[currency]=usd&bank_account[account_number]=000<STRONGBOX_GENERAL_PASSWORD>56789&bank_account[routing_number]=110000000&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9e004beb-51bb-4c94-8f43-babfcfcbe941
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9e004beb-51bb-4c94-8f43-babfcfcbe941
      Original-Request:
      - req_JjYG8pGJhWdXRq
      Stripe-Notice:
      - '2 notices for this request: (1) You are using an outdated API version (2023-10-16).
        We recommend upgrading to the latest API version, 2026-05-27.dahlia. See https://docs.stripe.com/upgrades
        (2) We recommend building your integration using Accounts v2. See https://docs.stripe.com/api/v2/core/accounts'
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1TiTPPRSo64AENd3",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": null,
            "minority_owned_business_designation": null,
            "name": "Buy More, LLC",
            "product_description": "Buy More, LLC",
            "specified_commercial_transactions_act_url": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "company",
          "capabilities": {
            "card_payments": "inactive",
            "transfers": "active"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "Burbank",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "91506",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": "Buy More, LLC",
            "owners_provided": false,
            "phone": "0000000000",
            "tax_id_provided": true,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "US",
          "created": 1781502609,
          "default_currency": "usd",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1TiTPQRSo64AENd3qeoQE1eL",
                "object": "bank_account",
                "account": "acct_1TiTPPRSo64AENd3",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard",
                  "instant"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "l0OxwqZbI4t8wVSU",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1TiTPPRSo64AENd3/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "metadata": {
            "bank_account_id": "CX1DxoG-YVYCvLoCWsko5A==",
            "tos_agreement_id": "CX1DxoG-YVYCvLoCWsko5A==",
            "user_compliance_info_id": "Iaxx4yaUtfY_WFAOnOO4Tg==",
            "user_id": "1466882108919"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "business_profile.mcc",
              "company.owners_provided",
              "owners.email",
              "owners.first_name",
              "owners.last_name",
              "representative.address.city",
              "representative.address.line1",
              "representative.address.postal_code",
              "representative.address.stat[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/accounts/acct_1TiTPPRSo64AENd3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7e028a20-ac7d-42a3-bd28-254eccfcfb0b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7e028a20-ac7d-42a3-bd28-254eccfcfb0b
      Stripe-Account:
      - acct_1TiTPPRSo64AENd3
      Stripe-Notice:
      - '2 notices for this request: (1) You are using an outdated API version (2023-10-16).
        We recommend upgrading to the latest API version, 2026-05-27.dahlia. See https://docs.stripe.com/upgrades
        (2) We recommend building your integration using Accounts v2. See https://docs.stripe.com/api/v2/core/accounts'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1TiTPPRSo64AENd3",
          "object": "account",
          "deleted": true
        }
  recorded_at: Mon, 15 Jun 2026 05:50:13 GMT
recorded_with: VCR 6.2.0
