---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/test_helpers/confirmation_tokens
    body:
      encoding: UTF-8
      string: payment_method=pm_card_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f0d6952c-95f2-4cc0-933e-d8dc9f52f407
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f0d6952c-95f2-4cc0-933e-d8dc9f52f407
      Original-Request:
      - req_zeTpQ5JRYllxjZ
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ctoken_1TyfSwIBOqvOFDrf8G5gOvmE",
          "object": "confirmation_token",
          "created": 1785362202,
          "expires_at": 1785405402,
          "livemode": false,
          "mandate_data": null,
          "payment_intent": null,
          "payment_method_options": null,
          "payment_method_preview": {
            "allow_redisplay": "unspecified",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null,
              "tax_id": null
            },
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "unchecked"
              },
              "country": "US",
              "display_brand": "visa",
              "exp_month": 7,
              "exp_year": 2027,
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "generated_from": null,
              "last4": "4242",
              "networks": {
                "available": [
                  "visa"
                ],
                "preferred": null
              },
              "regulated_status": "unregulated",
              "three_d_secure_usage": {
                "supported": true
              },
              "wallet": null
            },
            "customer": null,
            "customer_account": null,
            "type": "card"
          },
          "return_url": null,
          "setup_future_usage": null,
          "setup_intent": null,
          "shipping": null,
          "use_stripe_sdk": true
        }
  recorded_at: Wed, 29 Jul 2026 21:56:42 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/confirmation_tokens/ctoken_1TyfSwIBOqvOFDrf8G5gOvmE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an o[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=Gumroad+Charge+Uqct6tD_OVrk3TAqi-6xhA%3D%3D&metadata[purchase]=CH-Uqct6tD_OVrk3TAqi-6xhA%3D%3D&payment_method_types[0]=card&payment_method_types[1]=link&transfer_group=CH-702&statement_descriptor_suffix=edgarf631e8d9370
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - deferred_intent_Uqct6tD_OVrk3TAqi-6xhA==_ctoken_1TyfSwIBOqvOFDrf8G5gOvmE
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - deferred_intent_Uqct6tD_OVrk3TAqi-6xhA==_ctoken_1TyfSwIBOqvOFDrf8G5gOvmE
      Original-Request:
      - req_lFYwgHr14Kx99I
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3TyfSwIBOqvOFDrf1B8NdxOm",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3TyfSwIBOqvOFDrf1B8NdxOm_secret_5WgCSEleTvm8WJ0CPR1a62HTt",
          "confirmation_method": "automatic",
          "created": 1785362202,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "Gumroad Charge Uqct6tD_OVrk3TAqi-6xhA==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "purchase": "CH-Uqct6tD_OVrk3TAqi-6xhA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "link": {
              "persistent_token": null
            }
          },
          "payment_method_types": [
            "card",
            "link"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarf631e8d9370",
          "status": "requires_payment_method",
          "transfer_data": null,
          "transfer_group": "CH-702"
        }
  recorded_at: Wed, 29 Jul 2026 21:56:42 GMT
recorded_with: VCR 6.2.0
