---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 51bfa2ac-40d0-463c-8151-ca7fdc708a80
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 51bfa2ac-40d0-463c-8151-ca7fdc708a80
      Original-Request:
      - req_iplt2saDniwgJI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SAt10R9FW4kGYtoGPKN7ucC",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "8K9D1RscR3MwZCT1",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1758721550,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 24 Sep 2025 13:45:50 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SAt10R9FW4kGYtoGPKN7ucC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=10000&currency=usd&description=You+bought+http%3A%2F%2Fedgarbe624b3089.test.gumroad.com%3A31337%2Fl%2Ff%21&metadata[purchase]=-XZXQiIYrIiXVD0BmZLHLw%3D%3D&transfer_group=1644&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_1SAt10R9FW4kGYtoGPKN7ucC&statement_descriptor_suffix=edgarbe624b3089
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e56c7311-3ee3-443c-b43e-e05b0a392051
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e56c7311-3ee3-443c-b43e-e05b0a392051
      Original-Request:
      - req_YXjI1EANpj7UMp
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SAt11R9FW4kGYto2VDkZFLF",
          "object": "payment_intent",
          "amount": 10000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 10000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SAt11R9FW4kGYto2VDkZFLF_secret_r17vXFTJ0796ClbwS0CVtRuwL",
          "confirmation_method": "automatic",
          "created": 1758721551,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarbe624b3089.test.gumroad.com:31337/l/f!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SAt11R9FW4kGYto2rTbocKp",
          "livemode": false,
          "metadata": {
            "purchase": "-XZXQiIYrIiXVD0BmZLHLw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SAt10R9FW4kGYtoGPKN7ucC",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarbe624b3089",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1644"
        }
  recorded_at: Wed, 24 Sep 2025 13:45:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SAt11R9FW4kGYto2rTbocKp?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SAt11R9FW4kGYto2rTbocKp",
          "object": "charge",
          "amount": 10000,
          "amount_captured": 10000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SAt11R9FW4kGYto2ofvtUD4",
            "object": "balance_transaction",
            "amount": 10000,
            "available_on": 1759276800,
            "balance_type": "payments",
            "created": 1758721551,
            "currency": "usd",
            "description": "You bought http://edgarbe624b3089.test.gumroad.com:31337/l/f!",
            "exchange_rate": null,
            "fee": 320,
            "fee_details": [
              {
                "amount": 320,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 9680,
            "reporting_category": "charge",
            "source": "ch_3SAt11R9FW4kGYto2rTbocKp",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGARBE624B308",
          "captured": true,
          "created": 1758721551,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarbe624b3089.test.gumroad.com:31337/l/f!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "-XZXQiIYrIiXVD0BmZLHLw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 53,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SAt11R9FW4kGYto2VDkZFLF",
          "payment_method": "pm_1SAt10R9FW4kGYtoGPKN7ucC",
          "payment_method_details": {
            "card": {
              "amount_authorized": 10000,
              "authorization_code": "627414",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "8K9D1RscR3MwZCT1",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "567557684982115",
              "overcapture": {
                "maximum_amount_capturable": 10000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xUmtKQlJSOUZXNGtHWXRvKJDsz8YGMgZKyVDN5zc6LBZGpUooWIG-fqOtTVXqKCrnpacNNFnz_qfcJZOuIrzWHqsLFWgJbRIRDbmi",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarbe624b3089",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1644"
        }
  recorded_at: Wed, 24 Sep 2025 13:45:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SAt11R9FW4kGYto2rTbocKp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3SAt11R9FW4kGYto2rTbocKp&amount=4000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 24f89e2e-b866-4bbc-8a16-6172980cdea0
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 24f89e2e-b866-4bbc-8a16-6172980cdea0
      Original-Request:
      - req_3h6Ccq0GvgpqXR
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3SAt11R9FW4kGYto28tVc06i",
          "object": "refund",
          "amount": 4000,
          "balance_transaction": "txn_3SAt11R9FW4kGYto2g80jQlh",
          "charge": "ch_3SAt11R9FW4kGYto2rTbocKp",
          "created": 1758721553,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_3SAt11R9FW4kGYto2VDkZFLF",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Wed, 24 Sep 2025 13:45:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_3SAt11R9FW4kGYto28tVc06i?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SAt11R9FW4kGYto2rTbocKp?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_3SAt11R9FW4kGYto2fBPjTgZ?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
[...]
