---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8a909b4e-e8e3-4acf-8f6c-882c0b3c2d66
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8a909b4e-e8e3-4acf-8f6c-882c0b3c2d66
      Original-Request:
      - req_c03pFDqNWjp8HW
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SAt0oR9FW4kGYtogQJUQywP",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "8K9D1RscR3MwZCT1",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1758721538,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 24 Sep 2025 13:45:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SAt0oR9FW4kGYtogQJUQywP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=10000&currency=usd&description=You+bought+http%3A%2F%2Fedgar1856e69983.test.gumroad.com%3A31337%2Fl%2Fx%21&metadata[purchase]=-7Sfye3KZm2QGcGJOqPUiw%3D%3D&transfer_group=1628&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_1SAt0oR9FW4kGYtogQJUQywP&statement_descriptor_suffix=edgar1856e69983
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8e87d540-a200-42b4-8c6c-09209cfa2aa6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8e87d540-a200-42b4-8c6c-09209cfa2aa6
      Original-Request:
      - req_i6y0DtKtKV0BDI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SAt0pR9FW4kGYto19mqkNBy",
          "object": "payment_intent",
          "amount": 10000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 10000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SAt0pR9FW4kGYto19mqkNBy_secret_a5vkztCZ8bkdzCRPAAstR2Qqp",
          "confirmation_method": "automatic",
          "created": 1758721539,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar1856e69983.test.gumroad.com:31337/l/x!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SAt0pR9FW4kGYto1MXJB9Pk",
          "livemode": false,
          "metadata": {
            "purchase": "-7Sfye3KZm2QGcGJOqPUiw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SAt0oR9FW4kGYtogQJUQywP",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar1856e69983",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1628"
        }
  recorded_at: Wed, 24 Sep 2025 13:45:40 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SAt0pR9FW4kGYto1MXJB9Pk?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SAt0pR9FW4kGYto1MXJB9Pk",
          "object": "charge",
          "amount": 10000,
          "amount_captured": 10000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SAt0pR9FW4kGYto11CgBY9b",
            "object": "balance_transaction",
            "amount": 10000,
            "available_on": 1759276800,
            "balance_type": "payments",
            "created": 1758721539,
            "currency": "usd",
            "description": "You bought http://edgar1856e69983.test.gumroad.com:31337/l/x!",
            "exchange_rate": null,
            "fee": 320,
            "fee_details": [
              {
                "amount": 320,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 9680,
            "reporting_category": "charge",
            "source": "ch_3SAt0pR9FW4kGYto1MXJB9Pk",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR1856E6998",
          "captured": true,
          "created": 1758721539,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar1856e69983.test.gumroad.com:31337/l/x!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "-7Sfye3KZm2QGcGJOqPUiw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 62,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SAt0pR9FW4kGYto19mqkNBy",
          "payment_method": "pm_1SAt0oR9FW4kGYtogQJUQywP",
          "payment_method_details": {
            "card": {
              "amount_authorized": 10000,
              "authorization_code": "356800",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "8K9D1RscR3MwZCT1",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "567557684982115",
              "overcapture": {
                "maximum_amount_capturable": 10000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xUmtKQlJSOUZXNGtHWXRvKITsz8YGMgbdYVGFFpU6LBZ2dTYRLLAnuOVA6-Nl3IkgwatUgogD-UqVpVkcQ0GKOsiDjzS0JOGjPYWQ",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar1856e69983",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1628"
        }
  recorded_at: Wed, 24 Sep 2025 13:45:40 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SAt0pR9FW4kGYto1MXJB9Pk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3SAt0pR9FW4kGYto1MXJB9Pk&amount=5050
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 68010b0d-e0e5-40f5-bd71-f0e6cae8d1ed
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 68010b0d-e0e5-40f5-bd71-f0e6cae8d1ed
      Original-Request:
      - req_RvFKGisPRup6Ws
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3SAt0pR9FW4kGYto1l8jnO4r",
          "object": "refund",
          "amount": 5050,
          "balance_transaction": "txn_3SAt0pR9FW4kGYto1gFwT9vR",
          "charge": "ch_3SAt0pR9FW4kGYto1MXJB9Pk",
          "created": 1758721541,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_3SAt0pR9FW4kGYto19mqkNBy",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Wed, 24 Sep 2025 13:45:42 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_3SAt0pR9FW4kGYto1l8jnO4r?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SAt0pR9FW4kGYto1MXJB9Pk?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
