---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6789f9dd-5bdf-4979-a650-7ffe483ba5aa
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6789f9dd-5bdf-4979-a650-7ffe483ba5aa
      Original-Request:
      - req_WYrYuitUQqwkqr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SAt0uR9FW4kGYtoeCIGGqeA",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "8K9D1RscR3MwZCT1",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1758721544,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 24 Sep 2025 13:45:44 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SAt0uR9FW4kGYtoeCIGGqeA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=10000&currency=usd&description=You+bought+http%3A%2F%2Fedgar7f04ded286.test.gumroad.com%3A31337%2Fl%2Fo%21&metadata[purchase]=a291Mtdqt4xLR-u89nO1gA%3D%3D&transfer_group=1636&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_1SAt0uR9FW4kGYtoeCIGGqeA&statement_descriptor_suffix=edgar7f04ded286
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c7f1a41d-e1f3-4d1e-b439-3d327c17047d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c7f1a41d-e1f3-4d1e-b439-3d327c17047d
      Original-Request:
      - req_NZ39rYAsACMZEJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SAt0vR9FW4kGYto18x4LTKL",
          "object": "payment_intent",
          "amount": 10000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 10000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SAt0vR9FW4kGYto18x4LTKL_secret_GQSic8HIyprFOL0RAa6tWylam",
          "confirmation_method": "automatic",
          "created": 1758721545,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar7f04ded286.test.gumroad.com:31337/l/o!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SAt0vR9FW4kGYto10dYjIBI",
          "livemode": false,
          "metadata": {
            "purchase": "a291Mtdqt4xLR-u89nO1gA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SAt0uR9FW4kGYtoeCIGGqeA",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar7f04ded286",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1636"
        }
  recorded_at: Wed, 24 Sep 2025 13:45:46 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SAt0vR9FW4kGYto10dYjIBI?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SAt0vR9FW4kGYto10dYjIBI",
          "object": "charge",
          "amount": 10000,
          "amount_captured": 10000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SAt0vR9FW4kGYto1Dpl6e2B",
            "object": "balance_transaction",
            "amount": 10000,
            "available_on": 1759276800,
            "balance_type": "payments",
            "created": 1758721545,
            "currency": "usd",
            "description": "You bought http://edgar7f04ded286.test.gumroad.com:31337/l/o!",
            "exchange_rate": null,
            "fee": 320,
            "fee_details": [
              {
                "amount": 320,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 9680,
            "reporting_category": "charge",
            "source": "ch_3SAt0vR9FW4kGYto10dYjIBI",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR7F04DED28",
          "captured": true,
          "created": 1758721545,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar7f04ded286.test.gumroad.com:31337/l/o!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "a291Mtdqt4xLR-u89nO1gA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 34,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SAt0vR9FW4kGYto18x4LTKL",
          "payment_method": "pm_1SAt0uR9FW4kGYtoeCIGGqeA",
          "payment_method_details": {
            "card": {
              "amount_authorized": 10000,
              "authorization_code": "411642",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "8K9D1RscR3MwZCT1",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "567557684982115",
              "overcapture": {
                "maximum_amount_capturable": 10000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xUmtKQlJSOUZXNGtHWXRvKIrsz8YGMgYcRF6egsk6LBZwv_8I4E7kShd5upoZ60HPzqOrRCeUy0pJUeZ4klFheNco5wS8GCk_0xN2",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar7f04ded286",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1636"
        }
  recorded_at: Wed, 24 Sep 2025 13:45:46 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SAt0vR9FW4kGYto10dYjIBI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3SAt0vR9FW4kGYto10dYjIBI
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - '07588197-6664-4c72-9aa0-0cbd0a45adbb'
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '07588197-6664-4c72-9aa0-0cbd0a45adbb'
      Original-Request:
      - req_8VQOcxFkJhxoxu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3SAt0vR9FW4kGYto1IJodTDV",
          "object": "refund",
          "amount": 10000,
          "balance_transaction": "txn_3SAt0vR9FW4kGYto1M3GGlXV",
          "charge": "ch_3SAt0vR9FW4kGYto10dYjIBI",
          "created": 1758721547,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_3SAt0vR9FW4kGYto18x4LTKL",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Wed, 24 Sep 2025 13:45:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_3SAt0vR9FW4kGYto1IJodTDV?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SAt0vR9FW4kGYto10dYjIBI?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
