---
http_interactions:
- request:
    method: post
    uri: https://app.circle.so/api/v1/community_members?community_id=3512&email=circle_test_email@gumroad.com&space_group_ids%5B%5D=43576
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Token <CIRCLE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"90244b2949a6474f2dc8f947d9317ca1"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"This user is already a member of this community
        and has been added to the spaces / space groups specified.","user":{"id":1464458,"email":"circle_test_email@gumroad.com","first_name":null,"last_name":null,"bio":null,"time_zone":null,"accepted_terms_at":null,"accepted_privacy_at":null,"admin":null,"prefs":null,"created_at":"2021-08-19T12:46:28.000Z","updated_at":"2021-08-19T12:46:28.000Z","headline":null,"posts_count":0,"comments_count":0,"profile_info":{"website":null,"twitter_url":null,"facebook_url":null,"linkedin_url":null,"instagram_url":null},"public_uid":"8bdd397d","affiliate_code":null,"affiliate_ref":null,"password_confirmed_at":null,"password_confirmation_sent_at":null,"password_set_at":null,"terms_of_service":null,"attachable_sgid":"BAh7CEkiCGdpZAY6BkVUSSIwZ2lkOi8vanVtcHN0YXJ0LWFwcC9Vc2VyLzE0NjQ0NTg_ZXhwaXJlc19pbgY7AFRJIgxwdXJwb3NlBjsAVEkiD2F0dGFjaGFibGUGOwBUSSIPZXhwaXJlc19hdAY7AFQw--6ef95728d437c7160f528b8f00b67523ad9a6e1a","community_member_id":1719764}}'
  recorded_at: Thu, 19 Aug 2021 13:11:12 GMT
[...]
