---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6a748946-2ca0-4150-9ceb-ba227c7bc804
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6a748946-2ca0-4150-9ceb-ba227c7bc804
      Original-Request:
      - req_aAmnWK4sRVODIn
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0ORALj9e1RjUNIyYYOTsQm9M",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703496088,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 25 Dec 2023 09:21:28 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0ORALj9e1RjUNIyYYOTsQm9M
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0ORALj9e1RjUNIyYYOTsQm9M
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8f080fb7-a854-4f19-9831-043c44a9dc75
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8f080fb7-a854-4f19-9831-043c44a9dc75
      Original-Request:
      - req_dgg6ibdd8Gkkml
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PFfhXyoFy0LxGh",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703496088,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "D93C9EAD",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 25 Dec 2023 09:21:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: customer=cus_PFfhXyoFy0LxGh&payment_method=pm_0ORALj9e1RjUNIyYYOTsQm9M
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 60a59716-bba5-435a-8e6e-770eb79b6524
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 60a59716-bba5-435a-8e6e-770eb79b6524
      Original-Request:
      - req_OhJclC9iBWDugI
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1ORALlCOxuflorGuG[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1220&currency=usd&description=You+bought+http%3A%2F%2Fedgar1a4e65b85.test.gumroad.com%3A31337%2Fl%2Fz&metadata[purchase]=RwtKZN3ru9U9In38aZSD2g%3D%3D&transfer_group=5&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PFfhimZNoosxVe&payment_method=pm_1ORALlCOxuflorGuGjKB6NEB&statement_descriptor_suffix=edgar1a4e65b85&application_fee_amount=320
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 704cd16d-9af6-485e-881a-8bdf34ebffaf
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 704cd16d-9af6-485e-881a-8bdf34ebffaf
      Original-Request:
      - req_JgBBUImfjdCbCt
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3ORALmCOxuflorGu0wZsqz4J",
          "object": "payment_intent",
          "amount": 1220,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1220,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee_amount": 320,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3ORALmCOxuflorGu0wZsqz4J_secret_HMUmbQU8Wqn5oYR2A9sH2n5kl",
          "confirmation_method": "automatic",
          "created": 1703496090,
          "currency": "usd",
          "customer": "cus_PFfhimZNoosxVe",
          "description": "You bought http://edgar1a4e65b85.test.gumroad.com:31337/l/z",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3ORALmCOxuflorGu0aIoGJ0N",
          "livemode": false,
          "metadata": {
            "purchase": "RwtKZN3ru9U9In38aZSD2g=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1ORALlCOxuflorGuGjKB6NEB",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar1a4e65b85",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "5"
        }
  recorded_at: Mon, 25 Dec 2023 09:21:31 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3ORALmCOxuflorGu0aIoGJ0N?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3ORALmCOxuflorGu0aIoGJ0N",
          "object": "charge",
          "amount": 1220,
          "amount_captured": 1220,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": {
            "id": "fee_1ORALnCOxuflorGuf4NGjneY",
            "object": "application_fee",
            "account": "acct_1MFA1rCOxuflorGu",
            "amount": 320,
            "amount_refunded": 0,
            "application": "<STRIPE_CONNECT_CLIENT_ID>",
            "balance_transaction": {
              "id": "txn_0ORALo9e1RjUNIyYUyIjQa0q",
              "object": "balance_transaction",
              "amount": 320,
              "available_on": 1704067200,
              "created": 1703496091,
              "currency": "usd",
              "description": "Application fee from application Gumroad for acct_1MFA1rCOxuflorGu (acct_1MFA1rCOxuflorGu)",
              "exchange_rate": 1.29726,
              "fee": 0,
              "fee_details": [],
              "net": 320,
              "reporting_category": "platform_earning",
              "source": "fee_1ORALnCOxuflorGuf4NGjneY",
              "status": "pending",
              "type": "application_fee"
            },
            "charge": "ch_3ORALmCOxuflorGu0aIoGJ0N",
            "created": 1703496091,
            "currency": "usd",
            "livemode": false,
            "originating_transaction": null,
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/application_fees/fee_1ORALnCOxuflorGuf4NGjneY/refunds"
            }
          },
          "application_fee_amount": 320,
          "balance_transaction": {
            "id": "txn_3ORALmCOxuflorGu0dcSXZpl",
            "object": "balance_transaction",
            "amount": 1583,
            "available_on": 1704067200,
            "created": 1703496090,
            "currency": "sgd",
            "description": "You bought http://edgar1a4e65b85.test.gumroad.com:31337/l/z",
            "exch[...]
