---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0025+0000+3155&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bb772751-e9fb-4361-a92d-43617f6146c0
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bb772751-e9fb-4361-a92d-43617f6146c0
      Original-Request:
      - req_MSDxuAo9QZw9XJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6yVm9e1RjUNIyYdCurya9M",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "FR",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "oAfFzXbpUnAdpxWE",
            "funding": "credit",
            "generated_from": null,
            "last4": "3155",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698684022,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 16:40:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_0O6yVm9e1RjUNIyYdCurya9M
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fb5d33d0-5fc5-42bb-88ed-220c75412a56
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fb5d33d0-5fc5-42bb-88ed-220c75412a56
      Original-Request:
      - req_DIuMPNXX6ZO3Ir
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Ouo808qTtMsDge",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698684022,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "2D848F2A",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 16:40:23 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6yVm9e1RjUNIyYdCurya9M
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: confirm=true&payment_method_types[0]=card&usage=off_session&payment_method=pm_0O6yVm9e1RjUNIyYdCurya9M&customer=cus_Ouo808qTtMsDge
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2ec4207d-c38d-45e8-b63f-ac03aa0ef934
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2ec4207d-c38d-45e8-b63f-ac03aa0ef934
      Original-Request:
      - req_VpdIetYjTogCXw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0O6yVn9e1RjUNIyYuzhUfjuT",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0O6yVn9e1RjUNIyYuzhUfjuT_secret_Ouo8XUw88J2oSV7oLfxK8Zmir73aYYh",
          "created": 1698684023,
          "customer": "cus_Ouo808qTtMsDge",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0O6yVn9e1RjUNIyYDT2K8Wlc",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": {
            "type": "use_stripe_sdk",
            "use_stripe_sdk": {
              "source": "src_0O6yVo9e1RjUNIyYbZQWVrsw",
              "stripe_js": "https://hooks.stripe.com/redirect/authenticate/src_0O6yVo9e1RjUNIyYbZQWVrsw?client_secret=src_client_secret_t0V0F29UNKxXT4hgwUeYktGC&source_redirect_slug=test_OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUsX091bzh1Y0JjMGo3bnFFeVNHSXB0VTFHRU9ZZnVjNnA01005EK78wdE",
              "type": "three_d_secure_redirect"
            }
          },
          "on_behalf_of": null,
          "payment_method": "pm_0O6yVm9e1RjUNIyYdCurya9M",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "requires_action",
          "usage": "off_session"
        }
  recorded_at: Mon, 30 Oct 2023 16:40:24 GMT
recorded_with: VCR 6.2.0
