---
http_interactions:
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/suppression/bounces/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GUMROAD_TRANSACTIONS_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '599'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1684448280'
      Twilio-Request-Id:
      - RQ2Pz7p7WU3lXN3lhNpMU6xtr3fZ2
    body:
      encoding: UTF-8
      string: '{"errors":[{"field":null,"message":"resource not found"}]}'
  recorded_at: Thu, 18 May 2023 22:17:15 GMT
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/suppression/bounces/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GUMROAD_FOLLOWER_CONFIRMATION_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '599'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1684448280'
      Twilio-Request-Id:
      - RQ2Pz7p0jehSHM5HjjaN9M2wrq7nA
    body:
      encoding: UTF-8
      string: '{"errors":[{"field":null,"message":"resource not found"}]}'
  recorded_at: Thu, 18 May 2023 22:17:15 GMT
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/suppression/bounces/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GR_CREATORS_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '599'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1684448280'
      Twilio-Request-Id:
      - RQ2Pz7pCqKbLMGhvL11neRBEkufKn
    body:
      encoding: UTF-8
      string: '{"errors":[{"field":null,"message":"resource not found"}]}'
  recorded_at: Thu, 18 May 2023 22:17:16 GMT
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/suppression/bounces/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GR_CUSTOMERS_LEVEL_2_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '599'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1684448280'
      Twilio-Request-Id:
      - RQ2Pz7pIdf7StqCOSbgsZOU0vsRHx
    body:
      encoding: UTF-8
      string: '{"errors":[{"field":null,"message":"resource not found"}]}'
  recorded_at: Thu, 18 May 2023 22:17:17 GMT
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/suppression/bounces/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GR_CUSTOMERS_LEVEL_2_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '598'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1684448280'
      Twilio-Request-Id:
      - RQ2Pz7pR1dMv5uZ8f2pE4F41dpXQ0
    body:
      encoding: UTF-8
      string: '{"errors":[{"field":null,"message":"resource not found"}]}'
  recorded_at: Thu, 18 May 2023 22:17:18 GMT
recorded_with: VCR 6.1.0
