---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b100e689-8f82-403a-bc18-9a7ff616201f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b100e689-8f82-403a-bc18-9a7ff616201f
      Original-Request:
      - req_zzh6dTz21fUxNJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0P5XF89e1RjUNIyYbCPwMlMJ",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1713117210,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 14 Apr 2024 17:53:30 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0P5XF89e1RjUNIyYbCPwMlMJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar6f6f85491.test.gumroad.com%3A31337%2Fl%2Ft&metadata[purchase]=G_-mnBf9b1j9A7a4ub4nFQ%3D%3D&transfer_group=1&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0P5XF89e1RjUNIyYbCPwMlMJ&statement_descriptor_suffix=edgar6f6f85491
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f8ac4cbf-1598-409d-9fac-f297447bb44b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f8ac4cbf-1598-409d-9fac-f297447bb44b
      Original-Request:
      - req_IXpH4uPwWuK0mx
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2P5XF99e1RjUNIyY0055cNy5",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2P5XF99e1RjUNIyY0055cNy5_secret_04IVMWk8JUzgHnbLLSr9JYhKo",
          "confirmation_method": "automatic",
          "created": 1713117211,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar6f6f85491.test.gumroad.com:31337/l/t",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2P5XF99e1RjUNIyY0qMGlUjn",
          "livemode": false,
          "metadata": {
            "purchase": "G_-mnBf9b1j9A7a4ub4nFQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0P5XF89e1RjUNIyYbCPwMlMJ",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar6f6f85491",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1"
        }
  recorded_at: Sun, 14 Apr 2024 17:53:31 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2P5XF99e1RjUNIyY0qMGlUjn?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2P5XF99e1RjUNIyY0qMGlUjn",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2P5XF99e1RjUNIyY0AqtUfIM",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1713225600,
            "created": 1713117211,
            "currency": "usd",
            "description": "You bought http://edgar6f6f85491.test.gumroad.com:31337/l/t",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2P5XF99e1RjUNIyY0qMGlUjn",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR6F6F85",
          "captured": true,
          "created": 1713117211,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar6f6f85491.test.gumroad.com:31337/l/t",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "G_-mnBf9b1j9A7a4ub4nFQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 45,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2P5XF99e1RjUNIyY0055cNy5",
          "payment_method": "pm_0P5XF89e1RjUNIyYbCPwMlMJ",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUonLDwsAYyBgkelgebujosFjYsPZdsXRYMimfU0HJN1ixWzhRbzXWFPRLFNpQbf6i3BnDRhqZzJrCgRqs",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar6f6f85491",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1"
        }
  recorded_at: Sun, 14 Apr 2024 17:53:32 GMT
- request:
    method: post
    uri: https://apisandbox.iras.gov.sg/iras/sb/GSTListing/SearchGSTRegistered
    body:
      encoding: UTF-8
      string: '{"clientID":"<IRAS_API_ID>","regID":"T9100001B"}'
    headers:
      X-Ibm-Client-Id:
      - <IRAS_API_ID>
      X-Ibm-Client-Secret:
      - <IRAS_API_SECRET>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      True-Client-Ip:
      - 99.199.137.97
      X-Edgeconnect-Session-Id:
      - 69961eb8-661c181d-18d735
      X-Akamai-Config-Log-Detail:
      - 'true'
      Akamai-Origin-Hop:
      - '2'
      X-Global-Transaction-Id:
      - 350421a6661c182102162b03
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - name=default,100;
      X-Ratelimit-Remaining:
      - name=default,95;
    body:
      encoding: UTF-8
      string: '{"returnCode":"10","data":{"gstRegistrationNumber":"M99600001J","registrationId":"T9100001B","RegisteredFrom":"2014-03-14T00:00:00","Status":"Registered","Remarks":"Currently
        registered under Simplified Pay-only Regime"},"info":{"fieldInfoList":[]}}'
  recorded_at: Sun, 14 Apr 2024 17:53:37 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2P5XF99e1RjUNIyY0qMGlUjn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2P5XF99e1RjUNIyY0qMGlUjn&amount=20
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e3951bc9-b0c3-4d68-9030-396ba82a0635
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e3951bc9-b0c3-4d68-9030-396ba82a0635
      Original-Request:
      - req_g9QRQa7KVI0wOm
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2P5XF99e1RjUNIyY0pPwhv71",
          "object": "refund",
          "amount": 20,
          "balance_transaction": "txn_2P5XF99e1RjUNIyY0ZEeZwGA",
          "charge": "ch_2P5XF99e1RjUNIyY0qMGlUjn",
          "created": 1713117218,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_2P5XF99e1RjUNIyY0055cNy5",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Sun, 14 Apr 2024 17:53:39 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2P5XF99e1RjUNIyY0pPwhv71?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2P5XF99e1RjUNIyY0qMGlUjn?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
