---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0025+0000+3155&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a297ca21-e781-425b-91aa-d60190929b0a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a297ca21-e781-425b-91aa-d60190929b0a
      Original-Request:
      - req_n6ut8BkjoZ93gI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6yWB9e1RjUNIyYvy7s72j9",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "FR",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "oAfFzXbpUnAdpxWE",
            "funding": "credit",
            "generated_from": null,
            "last4": "3155",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698684047,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 16:40:47 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=test+description&metadata[purchase]=reference&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0O6yWB9e1RjUNIyYvy7s72j9
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 825693df-c5f9-4025-ae6a-61433d13ed00
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 825693df-c5f9-4025-ae6a-61433d13ed00
      Original-Request:
      - req_93PMI104Vo4iba
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_2O6yWB9e1RjUNIyY0dsc1HY5",
            "code": "authentication_required",
            "decline_code": "authentication_required",
            "doc_url": "https://stripe.com/docs/error-codes/authentication-required",
            "message": "Your card was declined. This transaction requires authentication.",
            "payment_intent": {
              "id": "pi_2O6yWB9e1RjUNIyY0VfHt4fV",
              "object": "payment_intent",
              "amount": 100,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic",
              "client_secret": "pi_2O6yWB9e1RjUNIyY0VfHt4fV_secret_3JSriQiuMols1eE5UQeMmnLYM",
              "confirmation_method": "manual",
              "created": 1698684047,
              "currency": "usd",
              "customer": null,
              "description": "test description",
              "invoice": null,
              "last_payment_error": {
                "charge": "ch_2O6yWB9e1RjUNIyY0dsc1HY5",
                "code": "authentication_required",
                "decline_code": "authentication_required",
                "doc_url": "https://stripe.com/docs/error-codes/authentication-required",
                "message": "Your card was declined. This transaction requires authentication.",
                "payment_method": {
                  "id": "pm_0O6yWB9e1RjUNIyYvy7s72j9",
                  "object": "payment_method",
                  "billing_details": {
                    "address": {
                      "city": null,
                      "country": null,
                      "line1": null,
                      "line2": null,
                      "postal_code": null,
                      "state": null
                    },
                    "email": null,
                    "name": null,
    [...]
