// Use 'px' as the default unit since some email clients don't support 'rem': https://www.caniemail.com/search/?s=rem
$unit: 16px;
// Our default body bg looks weird in email clients
$light-body-bg: #ffffff;

@import "../stylesheets/colors";
@import "../stylesheets/definitions";
@import "../stylesheets/font";
@import "../stylesheets/icon_names";
@import "../stylesheets/icons";

// Base layer styles migrated from _global.scss
@layer base {
  :root,
  :host {
    color-scheme: light dark;
    @include globals;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;
    vertical-align: bottom;
    background-origin: padding-box;
    border-style: solid;
    border-width: 0;
    --border: #{$border};
    --outline: #{$outline};
    @for $i from 1 through length($grays) {
      --gray-#{$i}: #{nth($grays, $i)};
    }
  }

  html,
  body {
    height: 100%;
    width: 100%;
    overflow-wrap: anywhere;
  }

  body {
    @include font-size(2);
    font-family: var(--font-family);
    font-feature-settings: "ss11", "ss04";
    background-color: var(--body-bg);
    -webkit-font-smoothing: antialiased;
    color: full-color(color);
  }

  body:not(.mac) * {
    &::-webkit-scrollbar {
      width: size(0.75);
      background-color: gray(1);
    }
    &::-webkit-scrollbar-thumb {
      background-color: gray(3);
      border-radius: border-radius(2);
    }
  }

  main {
    display: flex;
    flex-direction: column;
  }

  @for $i from 1 through 5 {
    h#{$i} {
      @include font-size(6 - $i);
      font-weight: normal;
    }
  }

  .text-singleline {
    @include text-singleline;
  }

  a {
    color: var(--color);
    text-decoration: underline;
    cursor: pointer;
  }

  .link {
    @extend a;
  }

  sub {
    vertical-align: sub;
  }

  sup {
    vertical-align: super;
  }

  small {
    display: block;
    @include font-size(1);
  }

  hr {
    border: none;
    border-top: $border;
  }

  ol,
  ul {
    padding-left: spacer(6);
  }
}

@import "../stylesheets/button";
@include buttons;
@import "../stylesheets/forms";
@import "../stylesheets/rich_text";
@import "../stylesheets/stack";

@import "../stylesheets/email";

:root {
  color-scheme: light;
}

body {
  height: auto;
  min-height: 100%;
}
