// Use 'px' as the default unit since some email clients don't support 'rem': https://www.caniemail.com/search/?s=rem
$unit: 16px;
// Our default body bg looks weird in email clients
$light-body-bg: #ffffff;

/* Font face declarations (migrated from _font.scss) */
@font-face {
  font-family: "ABC Favorit";
  src: url("~fonts/ABCFavorit-Regular.woff2");
}

@font-face {
  font-family: "ABC Favorit";
  src: url("~fonts/ABCFavorit-RegularItalic.woff2");
  font-style: italic;
}

@font-face {
  font-family: "ABC Favorit";
  src: url("~fonts/ABCFavorit-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "ABC Favorit";
  src: url("~fonts/ABCFavorit-BoldItalic.woff2");
  font-weight: 700;
  font-style: italic;
}

@import "../stylesheets/colors";
@import "../stylesheets/definitions";
@import "../stylesheets/global";
@import "../stylesheets/icon_names";
@import "../stylesheets/icons";

@import "../stylesheets/button";
@include buttons;
@import "../stylesheets/forms";
@import "../stylesheets/rich_text";
@import "../stylesheets/stack";

@import "../stylesheets/email";

:root {
  color-scheme: light;
}

body {
  height: auto;
  min-height: 100%;
}
