---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e9e24415-99fe-4d1b-a189-a681e9070abf
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e9e24415-99fe-4d1b-a189-a681e9070abf
      Original-Request:
      - req_t7b7VfP5iOPNbr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0PGJ2g9e1RjUNIyYLfRa3IVi",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1715684230,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 14 May 2024 10:57:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0PGJ2g9e1RjUNIyYLfRa3IVi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=Gumroad+Charge+AX25z-pFRQaaZI3pvrZeog%3D%3D&metadata[purchases%7B0%7D]=G_-mnBf9b1j9A7a4ub4nFQ%3D%3D&transfer_group=CH-1234567&payment_method_types[0]=card&off_session=false&payment_method=pm_0PGJ2g9e1RjUNIyYLfRa3IVi&statement_descriptor_suffix=edgardcfd92ff1
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8c92159e-9be8-4395-9df1-ac95fabe81d3
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8c92159e-9be8-4395-9df1-ac95fabe81d3
      Original-Request:
      - req_1xUMRg0yeZRwwF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2PGJ2i9e1RjUNIyY1eQvQTQG",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2PGJ2i9e1RjUNIyY1eQvQTQG_secret_teKJ6fHqDjWSb2rFMQ8wm0UJL",
          "confirmation_method": "automatic",
          "created": 1715684232,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge AX25z-pFRQaaZI3pvrZeog==",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "G_-mnBf9b1j9A7a4ub4nFQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0PGJ2g9e1RjUNIyYLfRa3IVi",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgardcfd92ff1",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-1234567"
        }
  recorded_at: Tue, 14 May 2024 10:57:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2PGJ2i9e1RjUNIyY1eQvQTQG/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4d2b510b-b8dd-45ac-8f5d-dea2ddc22b36
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2PGJ2i9e1RjUNIyY167jVVA2?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2PGJ2i9e1RjUNIyY167jVVA2",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2PGJ2i9e1RjUNIyY1R6ILYvX",
            "object": "balance_transaction",
            "amount": 1000,
            "available_on": 1715817600,
            "created": 1715684232,
            "currency": "usd",
            "description": "Gumroad Charge AX25z-pFRQaaZI3pvrZeog==",
            "exchange_rate": null,
            "fee": 50,
            "fee_details": [
              {
                "amount": 50,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 950,
            "reporting_category": "charge",
            "source": "ch_2PGJ2i9e1RjUNIyY167jVVA2",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD.CO* EDGARDCFD9",
          "captured": true,
          "created": 1715684232,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge AX25z-pFRQaaZI3pvrZeog==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "G_-mnBf9b1j9A7a4ub4nFQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 39,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2PGJ2i9e1RjUNIyY1eQvQTQG",
          "payment_method": "pm_0PGJ2g9e1RjUNIyYLfRa3IVi",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoioeNsgYyBjIQTrSu7zosFmm51pFmwivLFREtgdx7zTBgWw_7mihp-437z4gegKb0aaUdZFFwy7xBFLA",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgardcfd92ff1",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-1234567"
        }
  recorded_at: Tue, 14 May 2024 10:57:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges?transfer_group=CH-1234567
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "ch_2PGJ2i9e1RjUNIyY167jVVA2",
              "object": "charge",
              "amount": 1000,
              "amount_captured": 1000,
              "amount_refunded": 0,
              "amount_updates": [],
              "application": null,
              "application_fee": null,
              "application_fee_amount": null,
              "balance_transaction": "txn_2PGJ2i9e1RjUNIyY1R6ILYvX",
              "billing_details": {
                "address": {
    [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/balance_transactions/txn_2PGJ2i9e1RjUNIyY1R6ILYvX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "txn_2PGJ2i9e1RjUNIyY1R6ILYvX",
          "object": "balance_transaction",
          "amount": 1000,
          "available_on": 1715817600,
          "created": 1715684232,
          "currency": "usd",
          "description": "Gumroad Charge AX25z-pFRQaaZI3pvrZeog==",
          "exchange_rate": null,
          "fee": 50,
          "fee_details": [
            {
              "amount": 50,
              "application": null,
              "currency": "usd",
              "description": "Stripe processing fees",
              "type": "stripe_fee"
            }
          ],
          "net": 950,
          "reporting_category": "charge",
          "source": "ch_2PGJ2i9e1RjUNIyY167jVVA2",
          "status": "pending",
          "type": "charge"
        }
  recorded_at: Tue, 14 May 2024 10:57:25 GMT
recorded_with: VCR 6.2.0
