---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_threeDSecureOptional
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a99144f7-a6c0-43c6-8b0e-29f3de562232
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a99144f7-a6c0-43c6-8b0e-29f3de562232
      Original-Request:
      - req_onnDf68ak18Of2
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzHBAIBOqvOFDrfQpPHslIQ",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "qyHvmPygZ2LaTkOp",
            "funding": "credit",
            "generated_from": null,
            "last4": "3055",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730836,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:40:36 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzHBAIBOqvOFDrfQpPHslIQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar69a0742e179.test.gumroad.com%3A31337%2Fl%2Fk%21&metadata[purchase]=RUilSynFeCV_u08I5Y2VyQ%3D%3D&transfer_group=1584&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_1SzHBAIBOqvOFDrfQpPHslIQ&statement_descriptor_suffix=edgar69a0742e179
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - af1688d4-d992-4f2e-a742-e44dd27e8e15
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - af1688d4-d992-4f2e-a742-e44dd27e8e15
      Original-Request:
      - req_HofgvhNPhJ680X
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzHBBIBOqvOFDrf1prlbZc9",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzHBBIBOqvOFDrf1prlbZc9_secret_xtIMoUgojQ2LDOarVWnJJGk8G",
          "confirmation_method": "automatic",
          "created": 1770730837,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "You bought http://edgar69a0742e179.test.gumroad.com:31337/l/k!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SzHBBIBOqvOFDrf1widVo6X",
          "livemode": false,
          "metadata": {
            "purchase": "RUilSynFeCV_u08I5Y2VyQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzHBAIBOqvOFDrfQpPHslIQ",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar69a0742e179",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1584"
        }
  recorded_at: Tue, 10 Feb 2026 13:40:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SzHBBIBOqvOFDrf1widVo6X?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SzHBBIBOqvOFDrf1widVo6X",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SzHBBIBOqvOFDrf1M4hyHVi",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1771286400,
            "balance_type": "payments",
            "created": 1770730837,
            "currency": "usd",
            "description": "You bought http://edgar69a0742e179.test.gumroad.com:31337/l/k!",
            "exchange_rate": null,
            "fee": 33,
            "fee_details": [
              {
                "amount": 33,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 67,
            "reporting_category": "charge",
            "source": "ch_3SzHBBIBOqvOFDrf1widVo6X",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR69A0742E1",
          "captured": true,
          "created": 1770730837,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar69a0742e179.test.gumroad.com:31337/l/k!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "RUilSynFeCV_u08I5Y2VyQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 47,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SzHBBIBOqvOFDrf1prlbZc9",
          "payment_method": "pm_1SzHBAIBOqvOFDrfQpPHslIQ",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "authorization_code": "355143",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "qyHvmPygZ2LaTkOp",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "3055",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "113121721181098",
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKNbqrMwGMgZgoiu8b8A6LBaXAnkmKfj15q9hwIHlFDgUmFtqciRUUHYCxM-YIzVu1LnG4Q9CTxsjWxUY",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar69a0742e179",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1584"
        }
  recorded_at: Tue, 10 Feb 2026 13:40:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3SzHBBIBOqvOFDrf1prlbZc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
[...]
