---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b12ccb2d-01c7-4875-8658-cc8f61c473fa
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b12ccb2d-01c7-4875-8658-cc8f61c473fa
      Original-Request:
      - req_zfdV6uGQFDREWD
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SOduqIBOqvOFDrfWgjKbCDS",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 11,
            "exp_year": 2026,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1762000100,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sat, 01 Nov 2025 12:28:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SOduqIBOqvOFDrfWgjKbCDS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_1SOduqIBOqvOFDrfWgjKbCDS
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b419b0b9-fd20-42b3-b028-6a658319a4f4
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b419b0b9-fd20-42b3-b028-6a658319a4f4
      Original-Request:
      - req_0VjbSYg3oLtydm
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TLKaQLkK9I9WOj",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1762000101,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "QYQZP9NF",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 01 Nov 2025 12:28:21 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_card_indiaRecurringPaymentFailureCanceledMandate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3SOdsrIBOqvOFDrf1VLLMqSi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SOdsrIBOqvOFDrf1VLLMqSi",
          "object": "payment_intent",
          "amount": 500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 500,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SOdsrIBOqvOFDrf1VLLMqSi_secret_fihogR0weFQsIoUdsQ9h0gFV2",
          "confirmation_method": "automatic",
          "created": 1761999977,
          "currency": "usd",
          "customer": "cus_TLKXDRZTbaggkA",
          "description": "Gumroad Charge JL7QYAf6BYAblzFyfjyVog==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SOdsrIBOqvOFDrf1ItxLrnc",
          "livemode": false,
          "metadata": {
            "purchases{0}": "riLlp23MrSk1iYiV7taPwA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SOdsoIBOqvOFDrfq67sVBc6",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": {
                "amount": 500,
                "amount_type": "maximum",
                "description": null,
                "end_date": null,
                "interval": "month",
                "interval_count": 1,
                "reference": "Mandate-c1dc53a28c3ced5abb95b947628c03e1",
                "start_date": 1761999976,
                "supported_types": [
                  "india"
                ]
              },
              "network": null,
              "request_three_d_secure": "any"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "Gumbot",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-1281"
        }
  recorded_at: Sat, 01 Nov 2025 12:28:23 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SOdsrIBOqvOFDrf1ItxLrnc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SOdsrIBOqvOFDrf1ItxLrnc",
          "object": "charge",
          "amount": 500,
          "amount_captured": 500,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3SOdsrIBOqvOFDrf1ZiChiB5",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "",
              "state": null
            },
            "email": "test@gumroad.com",
            "name": "Gumhead Moneybags",
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* GUMBOT",
          "captured": true,
          "created": 1761999984,
          "currency": "usd",
          "customer": "cus_TLKXDRZTbaggkA",
          "description": "Gumroad Charge JL7QYAf6BYAblzFyfjyVog==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "riLlp23MrSk1iYiV7taPwA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 5,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SOdsrIBOqvOFDrf1VLLMqSi",
          "payment_method": "pm_1SOdsoIBOqvOFDrfq67sVBc6",
          "payment_method_details": {
            "card": {
              "amount_authorized": 500,
              "authorization_code": "903691",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "IN",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "IkezddfM73z5gz2d",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "0263",
              "mandate": "mandate_1SOdszIBOqvOFDrfsFzoPoxt",
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "731071011221001",
              "overcapture": {
                "maximum_amount_capturable": 500,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": {
                "authentication_flow": "challenge",
                "electronic_commerce_indicator": "05",
                "exemption_indicator": null,
                "result": "authenticated",
                "result_reason": null,
                "transaction_id": "f4a348b0-f883-4ede-92c3-47accdd10396",
                "version": "2.2.0"
              },
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKOj5l8gGMgb8yiieZoU6LBYwmhqKEQJ8fhBHO2bN1p6_3AXbdZFmdqQj_y6NzUlyUMPeoujDPgMFnLya",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "Gumbot",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-1281"
        }
  recorded_at: Sat, 01 Nov 2025 12:28:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500&currency=usd&description=You+bought+http%3A%2F%2Fedgar2f1f9d6f3.test.gumroad.com%3A31337%2Fl%2Fp%21&metadata[purchase]=E_B_tNF7tHYOckJavqYMPg%3D%3D&transfer_group=4172&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_TLKXDRZTbaggkA&payment_method=pm_1SOdsoIBOqvOFDrfq67sVBc6&mandate=mandate_1SOdszIBOqvOFDrfsFzoPoxt&statement_descriptor_suffix=edgar2f1f9d6f3
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 38fbb51c-2310-4577-8775-22ca60cf0e62
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 38fbb51c-2310-4577-8775-22ca60cf0e62
      Original-Request:
      - req_frRtb1ItmBTcNA
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "india_recurring_payment_mandate_canceled",
            "doc_url": "https://stripe.com/docs/error-codes/india-recurring-payment-mandate-canceled",
            "message": "The provided mandate has been canceled by the card holder.",
            "payment_intent": {
              "id": "pi_3SOduuIBOqvOFDrf1K5JG2RT",
              "object": "payment_intent",
              "amount": 500,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": [...]
