---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2050&card[cvc]=123&card[address_zip]=12345
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c7455532-0c7f-4f49-89df-2de3bcae7d71
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c7455532-0c7f-4f49-89df-2de3bcae7d71
      Original-Request:
      - req_Gc5PBYTFQGtTl8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_0O6zm99e1RjUNIyYzfkNFDLw",
          "object": "token",
          "card": {
            "id": "card_0O6zm99e1RjUNIyYoeOb8Zys",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": "12345",
            "address_zip_check": "unchecked",
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2050,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": "49.36.35.35",
          "created": 1698688881,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 30 Oct 2023 18:01:21 GMT
recorded_with: VCR 6.2.0
