---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d6c2bbaf-4651-4d43-8649-3cebe0739a50
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d6c2bbaf-4651-4d43-8649-3cebe0739a50
      Original-Request:
      - req_kpmkEu5MjWn8PW
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6tCd9e1RjUNIyYCF19Tjvg",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698663615,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 11:00:15 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6tCd9e1RjUNIyYCF19Tjvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1220&currency=usd&description=You+bought+http%3A%2F%2Fedgar999bfc309.test.gumroad.com%3A31337%2Fl%2Fy&metadata[purchase]=l5C1XQfr2TG3WXcGY7YrUg%3D%3D&transfer_group=9&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0O6tCd9e1RjUNIyYCF19Tjvg&statement_descriptor_suffix=edgar999bfc309
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a00be8a1-803e-4f7b-873e-403879557bc4
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a00be8a1-803e-4f7b-873e-403879557bc4
      Original-Request:
      - req_dhyg6gNWvkR0rs
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6tCe9e1RjUNIyY1QWF45Kb",
          "object": "payment_intent",
          "amount": 1220,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1220,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6tCe9e1RjUNIyY1QWF45Kb_secret_us9lJ99uL9e3ezEJhlgskZYSw",
          "confirmation_method": "manual",
          "created": 1698663616,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar999bfc309.test.gumroad.com:31337/l/y",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6tCe9e1RjUNIyY1WV4o7ob",
          "livemode": false,
          "metadata": {
            "purchase": "l5C1XQfr2TG3WXcGY7YrUg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6tCd9e1RjUNIyYCF19Tjvg",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar999bfc309",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "9"
        }
  recorded_at: Mon, 30 Oct 2023 11:00:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6tCe9e1RjUNIyY1WV4o7ob?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6tCe9e1RjUNIyY1WV4o7ob",
          "object": "charge",
          "amount": 1220,
          "amount_captured": 1220,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6tCe9e1RjUNIyY1CSGjGY7",
            "object": "balance_transaction",
            "amount": 1220,
            "available_on": 1698796800,
            "created": 1698663616,
            "currency": "usd",
            "description": "You bought http://edgar999bfc309.test.gumroad.com:31337/l/y",
            "exchange_rate": null,
            "fee": 54,
            "fee_details": [
              {
                "amount": 54,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1166,
            "reporting_category": "charge",
            "source": "ch_2O6tCe9e1RjUNIyY1WV4o7ob",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR999BFC",
          "captured": true,
          "created": 1698663616,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar999bfc309.test.gumroad.com:31337/l/y",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "l5C1XQfr2TG3WXcGY7YrUg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 32,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6tCe9e1RjUNIyY1QWF45Kb",
          "payment_method": "pm_0O6tCd9e1RjUNIyYCF19Tjvg",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1220,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1220,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUowpn-qQYyBlfWmSTJMTosFptZsDn_-33hlTzncYcSJtqBo1bqG_Htp0bLJhv7Bq2VdfzDlkRjS1Ipd7U",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar999bfc309",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "9"
        }
  recorded_at: Mon, 30 Oct 2023 11:00:18 GMT
recorded_with: VCR 6.2.0
