---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 490f1a79-33a4-493d-bf68-88a8d164e18f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 490f1a79-33a4-493d-bf68-88a8d164e18f
      Original-Request:
      - req_XY3BHlLVD4HDCT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzH95IBOqvOFDrfs6Xkg1YV",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730707,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:38:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH95IBOqvOFDrfs6Xkg1YV
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ee6fbc15-c38d-4947-bbe0-685b2e7e3ac0
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ee6fbc15-c38d-4947-bbe0-685b2e7e3ac0
      Original-Request:
      - req_eOXjWxnf1ts5wE
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TxBW157MHV8ejV",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1770730707,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "J5DGIJEF",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 10 Feb 2026 13:38:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH95IBOqvOFDrfs6Xkg1YV&customer=cus_TxBW157MHV8ejV&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1c7ffbb4-869a-4ea8-a378-ac4a2a99ee75
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1c7ffbb4-869a-4ea8-a378-ac4a2a99ee75
      Original-Request:
      - req_OonyH2YPevcWh4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1SzH96IBOqvOFDrfNoYZ97za",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_1SzH96IBOqvOFDrfNoYZ97za_secret_TxBWexD34d809Us1RiiZrljgJ4huP21",
          "created": 1770730708,
          "customer": "cus_TxBW157MHV8ejV",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_1SzH96IBOqvOFDrfMIdsqqrw",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH95IBOqvOFDrfs6Xkg1YV",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 10 Feb 2026 13:38:28 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzH95IBOqvOFDrfs6Xkg1YV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1500&currency=usd&description=Gumroad+Charge+XVoTfR_sxTRGLxMN2p6zFQ%3D%3D&metadata[purchases%7B0%7D]=wtqw45EnXON33tgHL1ihcQ%3D%3D%2CcrhWRMTXDR2SfXfKAvsuxw%3D%3D&transfer_group=CH-834&payment_method_types[0]=card&off_session=false&customer=cus_TxBW157MHV8ejV&payment_method=pm_1SzH95IBOqvOFDrfs6Xkg1YV&statement_descriptor_suffix=edgar490a88e5128
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5a28b6a4-dae9-438b-aec1-2bb60507156c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5a28b6a4-dae9-438b-aec1-2bb60507156c
      Original-Request:
      - req_ziWabF6wjn3qxC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzH97IBOqvOFDrf0HLG8Cjk",
          "object": "payment_intent",
          "amount": 1500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzH97IBOqvOFDrf0HLG8Cjk_secret_gAGkrqt5q2JIDFUcfeodTTeXl",
          "confirmation_method": "automatic",
          "created": 1770730709,
          "currency": "usd",
          "customer": "cus_TxBW157MHV8ejV",
          "customer_account": null,
          "description": "Gumroad Charge XVoTfR_sxTRGLxMN2p6zFQ==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "wtqw45EnXON33tgHL1ihcQ==,crhWRMTXDR2SfXfKAvsuxw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH95IBOqvOFDrfs6Xkg1YV",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar490a88e5128",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-834"
        }
  recorded_at: Tue, 10 Feb 2026 13:38:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SzH97IBOqvOFDrf0HLG8Cjk/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 35386431-3595-498b-8429-28a48d92e89b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SzH97IBOqvOFDrf0dCDLJdW?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SzH97IBOqvOFDrf0dCDLJdW",
          "object": "charge",
          "amount": 1500,
          "amount_captured": 1500,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SzH97IBOqvOFDrf0Z7uuY5e",
            "object": "balance_transaction",
            "amount": 1500,
            "available_on": 1771286400,
            "balance_type": "payments",
            "created": 1770730710,
            "currency": "usd",
            "description": "Gumroad Charge XVoTfR_sxTRGLxMN2p6zFQ==",
            "exchange_rate": null,
            "fee": 74,
            "fee_details": [
              {
                "amount": 74,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1426,
            "reporting_category": "charge",
            "source": "ch_3SzH97IBOqvOFDrf0dCDLJdW",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR490A88E51",
          "captured": true,
          "created": 1770730710,
          "currency": "usd",
          "customer": "cus_TxBW157MHV8ejV",
          "description": "Gumroad Charge XVoTfR_sxTRGLxMN2p6zFQ==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "wtqw45EnXON33tgHL1ihcQ==,crhWRMTXDR2SfXfKAvsuxw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 21,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SzH97IBOqvOFDrf0HLG8Cjk",
          "payment_method": "pm_1SzH95IBOqvOFDrfs6Xkg1YV",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1500,
              "authorization_code": "896797",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 1500,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKNfprMwGMgZ22-5iY0g6LBZP8jEx13Q-jfIkFZ0oQpC-9udumU7nAixQKTjurDk49NB2WkRmZ1XGU26L",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar490a88e5128",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-834"
        }
  recorded_at: Tue, 10 Feb 2026 13:38:31 GMT
recorded_with: VCR 6.2.0
