---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - dcb6254d-357a-475b-bb5c-183ac258b999
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - dcb6254d-357a-475b-bb5c-183ac258b999
      Original-Request:
      - req_b3okP204qm3Joz
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0ORAM99e1RjUNIyY8kp8gOGt",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703496113,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 25 Dec 2023 09:21:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0ORAM99e1RjUNIyY8kp8gOGt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0ORAM99e1RjUNIyY8kp8gOGt
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2ea59e51-ed1d-4164-9bf8-5c5ad7060e6d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2ea59e51-ed1d-4164-9bf8-5c5ad7060e6d
      Original-Request:
      - req_GYKLlvtkYJnuoq
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PFfhjy3KRzE27A",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703496114,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "9222166F",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 25 Dec 2023 09:21:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: customer=cus_PFfhjy3KRzE27A&payment_method=pm_0ORAM99e1RjUNIyY8kp8gOGt
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - dac630bb-f493-479d-88c5-3a644bbdc2f0
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - dac630bb-f493-479d-88c5-3a644bbdc2f0
      Original-Request:
      - req_8cbezF8OahLb6o
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1ORAMACOxuflorGu3[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1220&currency=usd&description=You+bought+http%3A%2F%2Fedgar38b3cc1c10.test.gumroad.com%3A31337%2Fl%2Fs&metadata[purchase]=GCNaB6KFAA5mlIj83tg18g%3D%3D&transfer_group=10&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PFfhiEgGjwr7Y3&payment_method=pm_1ORAMACOxuflorGu3zQtvSBP&statement_descriptor_suffix=edgar38b3cc1c10&application_fee_amount=320
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5ae73f0e-8f91-44cb-920d-de63fc7b03be
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5ae73f0e-8f91-44cb-920d-de63fc7b03be
      Original-Request:
      - req_9a7TEVc5ExIZct
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3ORAMBCOxuflorGu171df833",
          "object": "payment_intent",
          "amount": 1220,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1220,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee_amount": 320,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3ORAMBCOxuflorGu171df833_secret_DWDWlEE3FSFbpcl22J8WuylLf",
          "confirmation_method": "automatic",
          "created": 1703496115,
          "currency": "usd",
          "customer": "cus_PFfhiEgGjwr7Y3",
          "description": "You bought http://edgar38b3cc1c10.test.gumroad.com:31337/l/s",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3ORAMBCOxuflorGu1VfV0KJ5",
          "livemode": false,
          "metadata": {
            "purchase": "GCNaB6KFAA5mlIj83tg18g=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1ORAMACOxuflorGu3zQtvSBP",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar38b3cc1c10",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "10"
        }
  recorded_at: Mon, 25 Dec 2023 09:21:56 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3ORAMBCOxuflorGu1VfV0KJ5?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3ORAMBCOxuflorGu1VfV0KJ5",
          "object": "charge",
          "amount": 1220,
          "amount_captured": 1220,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": {
            "id": "fee_1ORAMCCOxuflorGu6GX6yMif",
            "object": "application_fee",
            "account": "acct_1MFA1rCOxuflorGu",
            "amount": 320,
            "amount_refunded": 0,
            "application": "<STRIPE_CONNECT_CLIENT_ID>",
            "balance_transaction": {
              "id": "txn_0ORAMD9e1RjUNIyYgRkRyZao",
              "object": "balance_transaction",
              "amount": 320,
              "available_on": 1704067200,
              "created": 1703496116,
              "currency": "usd",
              "description": "Application fee from application Gumroad for acct_1MFA1rCOxuflorGu (acct_1MFA1rCOxuflorGu)",
              "exchange_rate": 1.29726,
              "fee": 0,
              "fee_details": [],
              "net": 320,
              "reporting_category": "platform_earning",
              "source": "fee_1ORAMCCOxuflorGu6GX6yMif",
              "status": "pending",
              "type": "application_fee"
            },
            "charge": "ch_3ORAMBCOxuflorGu1VfV0KJ5",
            "created": 1703496116,
            "currency": "usd",
            "livemode": false,
            "originating_transaction": null,
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/application_fees/fee_1ORAMCCOxuflorGu6GX6yMif/refunds"
            }
          },
          "application_fee_amount": 320,
          "balance_transaction": {
            "id": "txn_3ORAMBCOxuflorGu1ZHYbuks",
            "object": "balance_transaction",
            "amount": 1583,
            "available_on": 1704067200,
            "created": 1703496116,
            "currency": "sgd",
            "description": "You bought http://edgar38b3cc1c10.test.gumroad.com:31337/l/s",
            "exc[...]
