---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123&billing_details[address][postal_code]=12345
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d269bdc1-2342-42e0-92b6-9d603e656d25
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d269bdc1-2342-42e0-92b6-9d603e656d25
      Original-Request:
      - req_2cTikC6InOt5sD
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6tQE9e1RjUNIyYBS4XP3xV",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": "unchecked",
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698664459,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 11:14:19 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6tQE9e1RjUNIyYBS4XP3xV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=499845&currency=usd&description=You+bought+http%3A%2F%2Fedgar53101c10253.test.gumroad.com%3A31337%2Fl%2Fh&metadata[purchase]=IJ8k61gTKMmMWqIFkate8w%3D%3D&transfer_group=197&payment_method_types[0]=card&confirmation_method=manual&confirm=true&payment_method=pm_0O6tQE9e1RjUNIyYBS4XP3xV&statement_descriptor_suffix=edgar53101c10253
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ec6ea4a3-ac4e-4be1-a75c-07075ec5d0c7
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ec6ea4a3-ac4e-4be1-a75c-07075ec5d0c7
      Original-Request:
      - req_vm8QdhHK4dNCVo
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6tQG9e1RjUNIyY0bCqXNit",
          "object": "payment_intent",
          "amount": 499845,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 499845,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6tQG9e1RjUNIyY0bCqXNit_secret_5rK8zsCN6tRqBsgAzXUMueCe5",
          "confirmation_method": "manual",
          "created": 1698664460,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar53101c10253.test.gumroad.com:31337/l/h",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6tQG9e1RjUNIyY0DBv0KVS",
          "livemode": false,
          "metadata": {
            "purchase": "IJ8k61gTKMmMWqIFkate8w=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6tQE9e1RjUNIyYBS4XP3xV",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar53101c10253",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "197"
        }
  recorded_at: Mon, 30 Oct 2023 11:14:21 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6tQG9e1RjUNIyY0DBv0KVS?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6tQG9e1RjUNIyY0DBv0KVS",
          "object": "charge",
          "amount": 499845,
          "amount_captured": 499845,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6tQG9e1RjUNIyY0my5tK7D",
            "object": "balance_transaction",
            "amount": 499845,
            "available_on": 1698796800,
            "created": 1698664460,
            "currency": "usd",
            "description": "You bought http://edgar53101c10253.test.gumroad.com:31337/l/h",
            "exchange_rate": null,
            "fee": 10027,
            "fee_details": [
              {
                "amount": 10027,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 489818,
            "reporting_category": "charge",
            "source": "ch_2O6tQG9e1RjUNIyY0DBv0KVS",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR53101C",
          "captured": true,
          "created": 1698664460,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar53101c10253.test.gumroad.com:31337/l/h",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "IJ8k61gTKMmMWqIFkate8w=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 11,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6tQG9e1RjUNIyY0bCqXNit",
          "payment_method": "pm_0O6tQE9e1RjUNIyYBS4XP3xV",
          "payment_method_details": {
            "card": {
              "amount_authorized": 499845,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": "pass",
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 499845,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUojaD-qQYyBtFaeo4N7TosFjCYswLWv1HpQgNJRRsp84iDLQaZl6Yg0AvDBgT2qqnNPGTDQ4bCFFn2acg",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar53101c10253",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "197"
        }
  recorded_at: Mon, 30 Oct 2023 11:14:21 GMT
recorded_with: VCR 6.2.0
