---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 433f9829-aa52-4ece-aa16-ec935fe88b0d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 433f9829-aa52-4ece-aa16-ec935fe88b0d
      Original-Request:
      - req_daiuVgquTzP6My
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OHJmQ9e1RjUNIyY5JTn8djX",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1701149058,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sat, 18 Nov 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OHJmQ9e1RjUNIyY5JTn8djX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgarc3dc83234.test.gumroad.com%3A31337%2Fl%2Fy&metadata[purchase]=bEtKQ3Zu9SgNopem0-ZywA%3D%3D&transfer_group=7&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0OHJmQ9e1RjUNIyY5JTn8djX&statement_descriptor_suffix=edgarc3dc83234
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 520c769a-0abe-4ec2-b807-bdfe70eecadf
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 520c769a-0abe-4ec2-b807-bdfe70eecadf
      Original-Request:
      - req_jvI7d1JUa2nEER
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OHJmR9e1RjUNIyY1GhZf76Q",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OHJmR9e1RjUNIyY1GhZf76Q_secret_TFYM4QKb3FzAg7XpG4Gu6wbmd",
          "confirmation_method": "manual",
          "created": 1701149059,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarc3dc83234.test.gumroad.com:31337/l/y",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OHJmR9e1RjUNIyY1Z0EtZiS",
          "livemode": false,
          "metadata": {
            "purchase": "bEtKQ3Zu9SgNopem0-ZywA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OHJmQ9e1RjUNIyY5JTn8djX",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarc3dc83234",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "7"
        }
  recorded_at: Sat, 18 Nov 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHJmR9e1RjUNIyY1Z0EtZiS?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OHJmR9e1RjUNIyY1Z0EtZiS",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OHJmR9e1RjUNIyY1J4eYAwT",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1701302400,
            "created": 1701149059,
            "currency": "usd",
            "description": "You bought http://edgarc3dc83234.test.gumroad.com:31337/l/y",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2OHJmR9e1RjUNIyY1Z0EtZiS",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARC3DC83",
          "captured": true,
          "created": 1701149059,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarc3dc83234.test.gumroad.com:31337/l/y",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "bEtKQ3Zu9SgNopem0-ZywA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 55,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OHJmR9e1RjUNIyY1GhZf76Q",
          "payment_method": "pm_0OHJmQ9e1RjUNIyY5JTn8djX",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUohPOVqwYyBj_fHO952zosFlgENxdOrjIZKM9cWddv_EE3vLDEfzb4bWuIc48KlfHUH4Wyzf31yGIfS7I",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarc3dc83234",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "7"
        }
  recorded_at: Sat, 18 Nov 2023 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=3567352170619&metadata[tos_agreement_id]=mN7CdHiwHaR9FlxKvF-n-g%3D%3D&metadata[user_compliance_info_id]=mN7CdHiwHaR9FlxKvF-n-g%3D%3D&tos_acceptance[date]=1700265600&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[url][...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1OHJmTS3vpXQEvN6/persons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1OHJmTS3vpXQEvN6
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "person_1OHJmTS3vpXQEvN6B7n3r2rw",
              "object": "person",
              "account": "acct_1OHJmTS3vpXQEvN6",
              "additional_tos_acceptances": {
                "account": {
                  "date": null,
                  "ip": null,
                  "user_agent": null
                }
              },
              "address": {
                "city": "San Francisco",
                "country": "US",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "94107",
                "state": "California"
              },
              "created": 1701149062,
              "dob": {
                "day": 1,
                "month": 1,
                "year": 1901
              },
              "email": "edgar194dbe0a_13@gumroad.com",
              "first_name": "Chuck",
              "future_requirements": {
                "alternatives": [],
                "currently_due": [
                  "phone"
                ],
                "errors": [
                  {
                    "code": "invalid_phone_number",
                    "reason": "This phone number has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                    "requirement": "phone"
                  }
                ],
                "eventually_due": [
                  "phone"
                ],
                "past_due": [],
                "pending_verification": [
                  "address.city",
                  "address.line1",
                  "address.postal_code",
                  "address.state",
                  "id_number",
                  "verification.document"
                ]
              },
              "id_number_provided": true,
              "last_name": "Bartowski",
              "metadata": {},
              "phone": "+10000000000",
              "relationship": {
                "director": false,
                "executive": false,
                "legal_guardian": false,
                "owner": false,
                "percent_ownership": null,
                "representative": true,
                "title": null
              },
              "requirements": {
                "alternatives": [],
                "currently_due": [],
                "errors": [],
                "eventually_due": [],
                "past_due": [],
                "pending_verification": [
                  "address.city",
                  "address.line1",
                  "address.postal_code",
                  "address.state",
                  "id_number",
                  "verification.document"
                ]
              },
              "ssn_last_4_provided": true,
              "verification": {
                "additional_document": {
                  "back": null,
                  "details": null,
                  "details_code": null,
                  "front": null
                },
                "details": null,
                "details_code": null,
                "document": {
                  "back": null,
                  "details": null,
                  "details_code": null,
                  "front": null
                },
                "status": "pending"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/accounts/acct_1OHJmTS3vpXQEvN6/persons"
        }
  recorded_at: Sat, 18 Nov 2023 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1OHJmTS3vpXQEvN6/persons/person_1OHJmTS3vpXQEvN6B7n3r2rw
    body:
      encoding: UTF-8
      string: verification[document][front]=file_identity_document_success
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8ef6b9b0-f60f-4270-935e-44344bc0a316
      Stripe-Version:
      - '2023-10-16'
  response:
    stat[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1OHJmTS3vpXQEvN6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1OHJmTS3vpXQEvN6
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1OHJmTS3vpXQEvN6",
          "object": "account",
          "business_profile": {
            "mcc": "5192",
            "name": null,
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "pending"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "US",
          "created": 1701149062,
          "default_currency": "usd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1OHJmTS3vpXQEvN6/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1712084400,
            "currently_due": [
              "external_account",
              "individual.phone"
            ],
            "disabled_reason": null,
            "errors": [
              {
                "code": "invalid_phone_number",
                "reason": "This phone number has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                "requirement": "individual.phone"
              }
            ],
            "eventually_due": [
              "external_account",
              "individual.phone"
            ],
            "past_due": [
              "external_account"
            ],
            "pending_verification": [
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number"
            ]
          },
          "individual": {
            "id": "person_1OHJmTS3vpXQEvN6B7n3r2rw",
            "object": "person",
            "account": "acct_1OHJmTS3vpXQEvN6",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "created": 1701149062,
            "dob": {
              "day": 1,
              "month": 1,
[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OHJn09e1RjUNIyYnnIsm3aF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHJn19e1RjUNIyY1xizA5bH?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2OHJn19e1RjUNIyY1IOAFXaN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2OHJn19e1RjUNIyY1IOAFXaN",
          "object": "transfer",
          "amount": 152,
          "amount_reversed": 0,
          "balance_transaction": "txn_2OHJn19e1RjUNIyY1whT2N6r",
          "created": 1701149096,
          "currency": "usd",
          "description": null,
          "destination": "acct_1OHJmTS3vpXQEvN6",
          "destination_payment": "py_1OHJn2S3vpXQEvN6OtlZvgDg",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_2OHJn19e1RjUNIyY1IOAFXaN/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_2OHJn19e1RjUNIyY1xizA5bH",
          "source_type": "card",
          "transfer_group": "8"
        }
  recorded_at: Sat, 18 Nov 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1OHJn2S3vpXQEvN6OtlZvgDg?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1OHJmTS3vpXQEvN6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1OHJmTS3vpXQEvN6
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1OHJn2S3vpXQEvN6OtlZvgDg",
          "object": "charge",
          "amount": 152,
          "amount_captured": 152,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1OHJn2S3vpXQEvN6iZwJbAy5",
            "object": "balance_transaction",
            "amount": 152,
            "available_on": 1701302400,
            "created": 1701149096,
            "currency": "usd",
            "description": null,
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 152,
            [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHJmR9e1RjUNIyY1Z0EtZiS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2OHJmR9e1RjUNIyY1Z0EtZiS
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 77d4fb3e-c07f-4231-8af4-8091a5c505b6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 77d4fb3e-c07f-4231-8af4-8091a5c505b6
      Original-Request:
      - req_7CYDrB9qPXmFCh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2OHJmR9e1RjUNIyY1dSfj0Uy",
          "object": "refund",
          "amount": 100,
          "balance_transaction": "txn_2OHJmR9e1RjUNIyY1lmnCMMl",
          "charge": "ch_2OHJmR9e1RjUNIyY1Z0EtZiS",
          "created": 1701149100,
          "currency": "usd",
          "metadata": {},
          "payment_intent": "pi_2OHJmR9e1RjUNIyY1GhZf76Q",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Mon, 27 Nov 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2OHJmR9e1RjUNIyY1dSfj0Uy?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHJmR9e1RjUNIyY1Z0EtZiS?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHJn19e1RjUNIyY1xizA5bH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2OHJn19e1RjUNIyY1hA73scT?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHJn19e1RjUNIyY1xizA5bH?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2OHJn19e1RjUNIyY1IOAFXaN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2OHJn19e1RjUNIyY1IOAFXaN",
          "object": "transfer",
          "amount": 152,
          "amount_reversed": 152,
          "balance_transaction": "txn_2OHJn19e1RjUNIyY1whT2N6r",
          "created": 1701149096,
          "currency": "usd",
          "description": null,
          "destination": "acct_1OHJmTS3vpXQEvN6",
          "destination_payment": "py_1OHJn2S3vpXQEvN6OtlZvgDg",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [
              {
                "id": "trr_0OHJn89e1RjUNIyYEJy6fii4",
                "object": "transfer_reversal",
                "amount": 152,
                "balance_transaction": "txn_0OHJn99e1RjUNIyY41uSB4zU",
                "created": 1701149102,
                "currency": "usd",
                "destination_payment_refund": "pyr_1OHJn8S3vpXQEvN6rPIxbGuP",
                "metadata": {},
                "source_refund": "re_2OHJn19e1RjUNIyY1hA73scT",
                "transfer": "tr_2OHJn19e1RjUNIyY1IOAFXaN"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/transfers/tr_2OHJn19e1RjUNIyY1IOAFXaN/reversals"
          },
[...]
