---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000+0566+5566+5556&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123&card[currency]=usd
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 98837d1d-dace-4ad6-a844-ca3b76d8e613
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 98837d1d-dace-4ad6-a844-ca3b76d8e613
      Original-Request:
      - req_8b1Gs6Z3b31ydU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_0Ot4Le9e1RjUNIyYdEfleyjX",
          "object": "token",
          "card": {
            "id": "card_0Ot4Le9e1RjUNIyYuJ38rQYz",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "currency": "usd",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "5IdckE5bfj42lL1I",
            "funding": "debit",
            "last4": "5556",
            "metadata": {},
            "name": null,
            "networks": {
              "preferred": null
            },
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": "49.36.34.96",
          "created": 1710146202,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 11 Mar 2024 08:36:43 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_0Ot4Le9e1RjUNIyYdEfleyjX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&card=tok_0Ot4Le9e1RjUNIyYdEfleyjX&expand[0]=sources
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 42519241-c539-44cd-ae5f-d7899f2d00df
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 42519241-c539-44cd-ae5f-d7899f2d00df
      Original-Request:
      - req_K4NtPdP7eSsKAj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PiVMyzwRXrkOhd",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1710146203,
          "currency": null,
          "default_source": "card_0Ot4Le9e1RjUNIyYuJ38rQYz",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "471DC7FA",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_0Ot4Le9e1RjUNIyYuJ38rQYz",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_PiVMyzwRXrkOhd",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2024,
                "fingerprint": "5IdckE5bfj42lL1I",
                "funding": "debit",
                "last4": "5556",
                "metadata": {},
                "name": null,
                "tokenization_method": null,
                "wallet": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_PiVMyzwRXrkOhd/sources"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 11 Mar 2024 08:36:44 GMT
recorded_with: VCR 6.2.0
