---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJwbGF5LWJpbGxpbmctYXBpQGd1bXJvYWQtbGlicmFyeS5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsImF1ZCI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL29hdXRoMi92NC90b2tlbiIsImV4cCI6MTcyMDEzNzgwNSwiaWF0IjoxNzIwMTM3Njg1LCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvYW5kcm9pZHB1Ymxpc2hlciJ9.gf_rzR3pk9LES2lR8IrNfElZf-YcbEYUytUnhqDrjPBJO66siHI-JJF4sWrrmuRbNp9Oy0_7ptjLaJTGVZ2DeXS3aJ0Si67RGTBn2dIdt9tBOy_EcIk7kcvEW9xP3FaBtV44D9qEAO7FCytSpf5yV_BgpDP-ZRPwHBIDfY3lJfobUP1m485jBrZV13ccgdSP0owxgPgGMzrFKEApsbMHVoLj5ru5iRBAKBOoUab98Dk18rULGcFEjFVo8O2iAwuxNHWSSXpFdg6GS6tmSTsa8ldLoB9OHVWyIcNpOW2SOm5zxxz9AJbSSY5CV9w65UhDfzwAIXyuR4W_VjLy_EHnFQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ya29.c.c0AY_VpZjouGjreYldWkuGHBZw40UGClV03FXqcNDRUfdY7_-4BQXfUt57Y4sFBNhcjLFX1UYWRv7PbWMzO5mgIXFLcUut69hKSYv9tmhMPnOPmSR3kxJkzEITcMFxgGesiXkEEwO63MhZ-Or5oETT-LYzf3_12v-nF-r5R4pAA-fje-qU8-Mx7pjhFYNwpkGql6IxBaITiulit65VifU1G4zHJdEmBbqh811HN3pD8aWHqkSnHgXrQZFRWfjlvV3i0gKRR1OgMqhUaqt3WbAn4LqItZo2aCSGAZzyb61xJwztMmOhy2HKXc_r5OJdJc0zWzL7OvsW1LFLWE6zSAeTeYxtaM1bwp8O-aNvEE6d419Vm9wgc_-o1Xd2H385KVIuhJd0Oe6tbS0UpykfIbB27-Zq1llhdull7e5hWenVJOJXSXon9ah-nIl8M8y-hO68hU603-favbQgJqawrUFQMOd1cxxm92SnOxR3f8yvxwjcX_Sur8t5Qtd5hz45JqblZu3nUreOk-bSMaWtk7w5fW2kXJg0RYsWXeM1RmMvW6j1Op-Iz16OUrd6z2sijQbn_pjY048pI8QfR4YRm0-vrg26faouageX3smV8gxgaMyO0h92bw3wQ7ah8gWr5arVxf7yaqZizxI1w6cehUs38gM7JpsevtpVXqsZadBYo4uuQbop5q8sXoF4t74-3Ukoe4l94bOzl9hQy16sug_IeuB3_JxMoVufdpt8I_kYqOV34ohUsuuSSckVqqcdmIwopryo_vUj6_-uFigoU5eMYBZ2eUmn7kfxMyMY3R7JY1cvOMM3xmbbYY8za8q7bmfdXQ69_7mosU71_RJWmtBVivksf11wki9gZw7kXox9hxsbgmQmimqIgYUrYXavgd7bgmje5cv9Qc1Yfe_h3Siqc-msixhBvQvYJlOu9ke4pgwRoRRk96hy0JvbIht4I9ysd2QiuVbj7YO3hJ7182bvcsfhe2U6O5cMbZ42tWOtByhp0jpuqMW7-S1","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Fri, 05 Jul 2024 00:02:25 GMT
- request:
    method: get
    uri: https://androidpublisher.googleapis.com/androidpublisher/v3/applications/com.gumroad.app/purchases/products/com.gumroad.product_2/tokens/ioaofjheincpkpjngbpeklnj.AO-J1Oz2PB6tI_SYNj1vMDgLuNffrzVMNNZwV9vpOUqFOzicks0zTDZl6xh1q3StS-gxZf0WVjyAyayhPh0-6TwAS8gkahn7FQ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.c0AY_VpZjouGjreYldWkuGHBZw40UGClV03FXqcNDRUfdY7_-4BQXfUt57Y4sFBNhcjLFX1UYWRv7PbWMzO5mgIXFLcUut69hKSYv9tmhMPnOPmSR3kxJkzEITcMFxgGesiXkEEwO63MhZ-Or5oETT-LYzf3_12v-nF-r5R4pAA-fje-qU8-Mx7pjhFYNwpkGql6IxBaITiulit65VifU1G4zHJdEmBbqh811HN3pD8aWHqkSnHgXrQZFRWfjlvV3i0gKRR1OgMqhUaqt3WbAn4LqItZo2aCSGAZzyb61xJwztMmOhy2HKXc_r5OJdJc0zWzL7OvsW1LFLWE6zSAeTeYxtaM1bwp8O-aNvEE6d419Vm9wgc_-o1Xd2H385KVIuhJd0Oe6tbS0UpykfIbB27-Zq1llhdull7e5hWenVJOJXSXon9ah-nIl8M8y-hO68hU603-favbQgJqawrUFQMOd1cxxm92SnOxR3f8yvxwjcX_Sur8t5Qtd5hz45JqblZu3nUreOk-bSMaWtk7w5fW2kXJg0RYsWXeM1RmMvW6j1Op-Iz16OUrd6z2sijQbn_pjY048pI8QfR4YRm0-vrg26faouageX3smV8gxgaMyO0h92bw3wQ7ah8gWr5arVxf7yaqZizxI1w6cehUs38gM7JpsevtpVXqsZadBYo4uuQbop5q8sXoF4t74-3Ukoe4l94bOzl9hQy16sug_IeuB3_JxMoVufdpt8I_kYqOV34ohUsuuSSckVqqcdmIwopryo_vUj6_-uFigoU5eMYBZ2eUmn7kfxMyMY3R7JY1cvOMM3xmbbYY8za8q7bmfdXQ69_7mosU71_RJWmtBVivksf11wki9gZw7kXox9hxsbgmQmimqIgYUrYXavgd7bgmje5cv9Qc1Yfe_h3Siqc-msixhBvQvYJlOu9ke4pgwRoRRk96hy0JvbIht4I9ysd2QiuVbj7YO3hJ7182bvcsfhe2U6O5cMbZ42tWOtByhp0jpuqMW7-S1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "purchaseTimeMillis": "1720126119585",
          "purchaseState": 0,
          "consumptionState": 1,
          "developerPayload": "",
          "orderId": "GPA.3375-1247-2605-34469",
          "purchaseType": 0,
          "acknowledgementState": 1,
          "kind": "androidpublisher#productPurchase",
          "regionCode": "US"
        }
  recorded_at: Fri, 05 Jul 2024 00:02:26 GMT
[...]
- request:
    method: get
    uri: https://androidpublisher.googleapis.com/androidpublisher/v3/applications/com.gumroad.app/inappproducts/com.gumroad.product_2
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.c0AY_VpZi4QgIqb2uw0lq-FA3gV0crcMWVrd0khZ_TBpLd16pUvPdFh9e2bEPVbxt1eti2ffACVXKeXYpKUG7YM1_TVRrjaYMghQfBxzyUywmZoJATc6eS8frAJYDLa0kak_dFjJeayVE2F9CqJ3YPjw62Nrr5xjVMh25pe4E83VJc4TOHe1BhAZ5IfiyVCAgTKWZcRY_Fevj4FuP41STKD17rS7qNopxAFK6NwY9vHUa1p_iea9swP-9LpiGByRBmbDJt-_QypsZ2wjIlm5e6-PMNDDgBO1jT1up5SARhbqn7Bo1pGPf-O7UFapU6QsmCgHNPftFH_6VBvQKBoiJzWy6tgMSqPrm85s9OEFpQWQ5jccA1n7FJ7RzgL385P8wZOMOX60jxM5lV0Vg90iFx23jIMqdfy5nY0If9X-fRW_Muu_zxe-cl_oOxqzdrRimUURkdpk7jhxYxI895VsekmO5fMs8_0W89Vou41ORq1mtMRsURqyJhJq8zrMJiSzubrZQ1zpb8fuz4fopo2YnFJUc_c16I7ehlc28JegIQa09FzFk-SMqf06Myeh55y2OgRqlkI09tyJRYj_dgduI5n0o8YFczBcgco5QIdXuyl7tazzflS9Vsr4wJko3bBB5cfanMBWsF_4z6h7cZ9xMcd-eao7g7q_wj7g0fqx3p62dimXIOIr5WSvnBW3S2u3ZURtwBdJeIgui9V7i92scXJsQxU2rO_xawsy0mipMVoImwnvgvUgSaWZYSkl1wSpuISb6sQMic0S-lQ7VnVI5My48wphRcoijQk1kzqtcuw6rzszd9wjZhuOsOlFXxdv6sOkuytq2py6jF3fOaar540jBqoJZByZXxkYxJlVnhwMZQUX5cfr0t2aQuo8o4fUM2Z_k9Sz5zoh7914FYZx6J8t6a751-e53huXj64Jml-ZOSiS7JUje1RjjIxkBl7tmkiW8aW-vJuZZ81OVrSc5Q_tbo_xr4h1JgFzm2FwrpdO6QIqpXYfFgiYp
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 463f267a1a4746487ce42c921603d7faf6324bee
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "packageName": "com.gumroad.app",
          "sku": "com.gumroad.product_2",
          "status": "active",
          "purchaseType": "managedUser",
          "defaultPrice": {
            "priceMicros": "2000000",
            "currency": "USD"
          },
          "prices": {
            "AE": {
              "priceMicros": "7690000",
              "currency": "AED"
            },
            "AT": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "AU": {
              "priceMicros": "3290000",
              "currency": "AUD"
            },
            "BD": {
              "priceMicros": "290000000",
              "currency": "BDT"
            },
            "BE": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "BG": {
              "priceMicros": "4290000",
              "currency": "BGN"
            },
            "BH": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "BM": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "BO": {
              "priceMicros": "13990000",
              "currency": "BOB"
            },
            "BR": {
              "priceMicros": "10990000",
              "currency": "BRL"
            },
            "CA": {
              "priceMicros": "2690000",
              "currency": "CAD"
            },
            "CH": {
              "priceMicros": "1800000",
              "currency": "CHF"
            },
            "CL": {
              "priceMicros": "2200000000",
              "currency": "CLP"
            },
            "CO": {
              "priceMicros": "8000000000",
              "currency": "COP"
            },
            "CR": {
              "priceMicros": "1100000000",
              "currency": "CRC"
            },
            "CY": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "CZ": {
              "priceMicros": "54990000",
              "currency": "CZK"
            },
            "DE": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "DK": {
              "priceMicros": "17000000",
              "currency": "DKK"
            },
            "DZ": {
              "priceMicros": "275000000",
              "currency": "DZD"
            },
            "EC": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "EE": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "EG": {
              "priceMicros": "109990000",
              "currency": "EGP"
            },
            "ES": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "FI": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "FM": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "FR": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "GB": {
              "priceMicros": "1890000",
              "currency": "GBP"
            },
            "GE": {
              "priceMicros": "7000000",
              "currency": "GEL"
            },
            "GH": {
              "priceMicros": "40000000",
              "currency": "GHS"
            },
            "GI": {
              "priceMicros": "1590000",
              "currency": "GBP"
            },
            "GR": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "HK": {
              "priceMicros": "15000000",
              "currency": "HKD"
            },
            "HR": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "HU": {
              "priceMicros": "899000000",
              "currency": "HUF"
            },
            "ID": {
              "priceMicros": "33000000000",
              "currency": "IDR"
            },
            "IE": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "IL": {
              "priceMicros": "7500000",
              "currency": "ILS"
            },
            "IN": {
              "priceMicros": "200000000",
              "currency": "INR"
            },
            "IQ": {
              "priceMicros": "2600000000",
              "currency": "IQD"
            },
            "IT": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "JO": {
              "priceMicros": "1400000",
              "currency": "JOD"
            },
            "JP": {
              "priceMicros": "320000000",
              "currency": "JPY"
            },
            "KE": {
              "priceMicros": "300000000",
              "currency": "KES"
            },
            "KH": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "KR": {
              "priceMicros": "3000000000",
              "currency": "KRW"
            },
            "KW": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "KY": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "KZ": {
              "priceMicros": "1090000000",
              "currency": "KZT"
            },
            "LI": {
              "priceMicros": "1900000",
              "currency": "CHF"
            },
            "LK": {
              "priceMicros": "600000000",
              "currency": "LKR"
            },
            "LT": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "LU": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "LV": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "MA": {
              "priceMicros": "23990000",
              "currency": "MAD"
            },
            "MC": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "MM": {
              "priceMicros": "4000000000",
              "currency": "MMK"
            },
            "MO": {
              "priceMicros": "15990000",
              "currency": "MOP"
            },
            "MX": {
              "priceMicros": "42000000",
              "currency": "MXN"
            },
            "MY": {
              "priceMicros": "9990000",
              "currency": "MYR"
            },
            "NG": {
              "priceMicros": "3280000000",
              "currency": "NGN"
            },
            "NL": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "NO": {
              "priceMicros": "26000000",
              "currency": "NOK"
            },
            "NZ": {
              "priceMicros": "3790000",
              "currency": "NZD"
            },
            "OM": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "PA": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "PE": {
              "priceMicros": "7490000",
              "currency": "PEN"
            },
            "PH": {
              "priceMicros": "119000000",
              "currency": "PHP"
            },
            "PK": {
              "priceMicros": "550000000",
              "currency": "PKR"
            },
            "PL": {
              "priceMicros": "9690000",
              "currency": "PLN"
            },
            "PT": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "PY": {
              "priceMicros": "20000000000",
              "currency": "PYG"
            },
            "QA": {
              "priceMicros": "7500000",
              "currency": "QAR"
            },
            "RO": {
              "priceMicros": "10990000",
              "currency": "RON"
            },
            "RS": {
              "priceMicros": "249000000",
              "currency": "RSD"
            },
            "RU": {
              "priceMicros": "179000000",
              "currency": "RUB"
            },
            "SA": {
              "priceMicros": "8590000",
              "currency": "SAR"
            },
            "SE": {
              "priceMicros": "26000000",
              "currency": "SEK"
            },
            "SG": {
              "priceMicros": "2980000",
              "currency": "SGD"
            },
            "SI": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "SK": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "SM": {
              "priceMicros": "1890000",
              "currency": "EUR"
            },
            "SV": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "TC": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "TH": {
              "priceMicros": "78000000",
              "currency": "THB"
            },
            "TR": {
              "priceMicros": "77990000",
              "currency": "TRY"
            },
            "TW": {
              "priceMicros": "68000000",
              "currency": "TWD"
            },
            "TZ": {
              "priceMicros": "5500000000",
              "currency": "TZS"
            },
            "UA": {
              "priceMicros": "94990000",
              "currency": "UAH"
            },
            "US": {
              "priceMicros": "2000000",
              "currency": "USD"
            },
            "VA": {
              "priceMicros": "1890000",
              "currency": "EUR"
            },
            "VG": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "VN": {
              "priceMicros": "51000000000",
              "currency": "VND"
            },
            "ZA": {
              "priceMicros": "41990000",
              "currency": "ZAR"
            }
          },
          "listings": {
            "en-US": {
              "title": "Gumroad Product",
              "description": "Gumroad Product $2"
            }
          },
          "defaultLanguage": "en-US",
          "managedProductTaxesAndComplianceSettings": {
            "eeaWithdrawalRightType": "WITHDRAWAL_RIGHT_DIGITAL_CONTENT"
          }
        }
  recorded_at: Fri, 05 Jul 2024 00:02:27 GMT
recorded_with: VCR 6.2.0
