---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=6&metadata[tos_agreement_id]=nbm9hzKiUucpWAXZbYngLQ%3D%3D&metadata[user_compliance_info_id]=2lq5t9jmZfYGfhaZZdwEGA%3D%3D&metadata[bank_account_id]=LiwbSxjgb3UcT38qWgs9lw%3D%3D&tos_acceptance[date]=1698781699&tos_acceptance[ip]=0.0.0.0&business_type=individual&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=barnabas+barnabastein&individual[first_name]=barnabas&individual[last_name]=barnabastein&individual[email]=seller%40example.com&individual[phone]=%2B16507423913&individual[address][line1]=123+barnabas+st&individual[address][city]=barnabasville&individual[address][state]=NY&individual[address][postal_code]=94104&individual[address][country]=US&individual[dob][day]=4&individual[dob][month]=3&individual[dob][year]=1955&individual[ssn_last_4]=6789&bank_account[country]=US&bank_account[currency]=usd&bank_account[account_number]=000123456789&bank_account[routing_number]=110000000&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c50d9acd-24cc-423b-8921-2cebc0626eb8
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c50d9acd-24cc-423b-8921-2cebc0626eb8
      Original-Request:
      - req_GGb3OPcB150Vtl
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1O7NvES8DfFLIdMu",
          "object": "account",
          "business_profile": {
            "mcc": "5192",
            "name": null,
            "product_description": "barnabas barnabastein",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "pending"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "barnabasville",
              "country": "US",
              "line1": "123 barnabas st",
              "line2": null,
              "postal_code": "94104",
              "state": "NY"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+16507423913",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "US",
          "created": 1698781701,
          "default_currency": "usd",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1O7NvES8DfFLIdMuBIqGJzB6",
                "object": "bank_account",
                "account": "acct_1O7NvES8DfFLIdMu",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard",
                  "instant"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "dx7dqwoGHEQDKLLK",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1O7NvES8DfFLIdMu/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1712084400,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [
              "individual.id_number"
            ],
            "past_due": [],
            "pending_verification": [
              "business_profile.url",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number"
            ]
          },
          "individual": {
            "id": "person_1O7NvES8DfFLIdMuZs4yBKuQ",
            "object": "person",
            "account": "acct_1O7NvES8DfFLIdMu",
            "address": {
              "city": "barnabasville",
              "country": "US",
              "line1": "123 barnabas st",
              "line2": null,
              "postal_code": "94104",
              "state": "NY"
            },
            "created": 1698781701,
            "dob": {
              "day": 4,
              "month": 3,
              "year": 1955
            },
            "email": "seller@example.com",
            "first_name": "barnabas",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [
                "id_number"
              ],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number"
              ]
            },
            "id_number_provided": false,
            "last_name": "barnabastein",
            "metadata": {},
            "phone": "+16507423913",
            "relationship": {
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number"
              ]
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "pending"
            }
          },
          "metadata": {
            "bank_account_id": "LiwbSxjgb3UcT38qWgs9lw==",
            "tos_agreement_id": "nbm9hzKiUucpWAXZbYngLQ==",
            "user_compliance_info_id": "2lq5t9jmZfYGfhaZZdwEGA==",
            "user_id": "6"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": "requirements.pending_verification",
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number"
            ]
          },
          "settings": {
            "bacs_debit_payments": {},
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "VIPUL.GUMR",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "vipul.gumroad",
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "VIPUL.GUMROAD.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 1,
                "interval": "manual"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1698781699,
            "ip": "0.0.0.0",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Tue, 31 Oct 2023 19:48:24 GMT
recorded_with: VCR 6.2.0
