---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/oembed/?format=json&maxwidth=670&scheme=https&url=https://www.youtube.com/watch?v=huKYieB4evw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"title":"The Wedding Present - Brassneck","author_name":"Gabriel Mello","author_url":"https://www.youtube.com/channel/UCMUNIZuTvXd2rM_3GtwpNCQ","type":"video","height":344,"width":459,"version":"1.0","provider_name":"YouTube","provider_url":"https://www.youtube.com/","thumbnail_height":360,"thumbnail_width":480,"thumbnail_url":"https://i.ytimg.com/vi/huKYieB4evw/hqdefault.jpg","html":"\u003ciframe
        width=\u0022459\u0022 height=\u0022344\u0022 src=\u0022https://www.youtube.com/embed/huKYieB4evw?feature=oembed\u0022
        frameborder=\u00220\u0022 allow=\u0022accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture\u0022 allowfullscreen\u003e\u003c/iframe\u003e"}'
  recorded_at: Fri, 01 Jan 2021 14:03:17 GMT
recorded_with: VCR 6.0.0
