---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bc10cbae-ec27-45dd-8fb7-617a19be668f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bc10cbae-ec27-45dd-8fb7-617a19be668f
      Original-Request:
      - req_ZoAIl3GKCctA9x
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-07-29.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1U6Ee3IBOqvOFDrflOCzmUl6",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 8,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1787165727,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Wed, 19 Aug 2026 18:55:27 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1U6Ee3IBOqvOFDrflOCzmUl6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar98bb458317.app.test.gumroad.com%3A31340%2Fl%2Fq%21&metadata[purchase]=n6yuP53tcwjEuM2MmtwMTA%3D%3D&transfer_group=375521931&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_1U6Ee3IBOqvOFDrflOCzmUl6&statement_descriptor_suffix=edgar98bb458317
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 53e2e06c-56f8-42ca-b07f-6149513187c9
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 53e2e06c-56f8-42ca-b07f-6149513187c9
      Original-Request:
      - req_VxKIgEdBKE86fA
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-07-29.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_3U6Ee3IBOqvOFDrf1zifeyB1",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "payment_intent": {
              "id": "pi_3U6Ee3IBOqvOFDrf1xXPRJGa",
              "object": "payment_intent",
              "allowed_payment_method_types": null,
              "amount": 100,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic",
              "client_secret": "pi_3U6Ee3IBOqvOFDrf1xXPRJGa_secret_KlzRbYIXPGWI8IEfk8gtYLTFC",
              "confirmation_method": "automatic",
              "created": 1787165727,
              "currency": "usd",
              "customer": null,
              "customer_account": null,
              "description": "You bought http://edgar98bb458317.app.test.gumroad.com:31340/l/q!",
              "excluded_payment_method_types": null,
              "invoice": null,
              "last_payment_error": {
                "charge": "ch_3U6Ee3IBOqvOFDrf1zifeyB1",
                "code": "card_declined",
                "decline_code": "generic_decline",
                "doc_url": "https://stripe.com/docs/error-codes/card-declined",
                "message": "Your card was declined.",
                "payment_method": {
                  "id": "pm_1U6Ee3IBOqvOFDrflOCzmUl6",
                  "object": "payment_method",
                  "allow_redisplay": "unspecified",
                  "billing_details": {
                    "address": {
                      "city": null,
                      "country": null,
                      "line1": null,
                      "line2": null,
                      "postal_code": null,
                      "state": null
                    },
                    "[...]
