---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c60efd04-fd1c-4892-bd9a-5e369c8f1ed4
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c60efd04-fd1c-4892-bd9a-5e369c8f1ed4
      Original-Request:
      - req_LG4VfeERSDWNBo
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6s5t9e1RjUNIyYHx7j9cSu",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698659353,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 09:49:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6s5t9e1RjUNIyYHx7j9cSu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgarc51f27f322.test.gumroad.com%3A31337%2Fl%2Fy&metadata[purchase]=CNACW0UZp8SoSs-thTpKzQ%3D%3D&transfer_group=22&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0O6s5t9e1RjUNIyYHx7j9cSu&statement_descriptor_suffix=edgarc51f27f322
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 07d268fd-b2f1-4f3c-9f4f-634358a00b1f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 07d268fd-b2f1-4f3c-9f4f-634358a00b1f
      Original-Request:
      - req_dT9xuOH5tDe8G2
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6s5u9e1RjUNIyY1UYiBZh2",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6s5u9e1RjUNIyY1UYiBZh2_secret_FWZI6LzFvTgihcVNmf3DpboTH",
          "confirmation_method": "manual",
          "created": 1698659354,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarc51f27f322.test.gumroad.com:31337/l/y",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6s5u9e1RjUNIyY1FOA7Rhd",
          "livemode": false,
          "metadata": {
            "purchase": "CNACW0UZp8SoSs-thTpKzQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6s5t9e1RjUNIyYHx7j9cSu",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarc51f27f322",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "22"
        }
  recorded_at: Mon, 30 Oct 2023 09:49:15 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6s5u9e1RjUNIyY1FOA7Rhd?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6s5u9e1RjUNIyY1FOA7Rhd",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6s5u9e1RjUNIyY1VmdvqwC",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1698796800,
            "created": 1698659354,
            "currency": "usd",
            "description": "You bought http://edgarc51f27f322.test.gumroad.com:31337/l/y",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2O6s5u9e1RjUNIyY1FOA7Rhd",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARC51F27",
          "captured": true,
          "created": 1698659354,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarc51f27f322.test.gumroad.com:31337/l/y",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "CNACW0UZp8SoSs-thTpKzQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 36,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6s5u9e1RjUNIyY1UYiBZh2",
          "payment_method": "pm_0O6s5t9e1RjUNIyYHx7j9cSu",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUom_j9qQYyBlW3pXnN7josFg6NOmMbZN5NxCoer7Rctjstr9Jm20BPlSsGBjP9sFOSKE5mEqtJyaF8qAg",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarc51f27f322",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "22"
        }
  recorded_at: Mon, 30 Oct 2023 09:49:15 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6s5u9e1RjUNIyY1FOA7Rhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2O6s5u9e1RjUNIyY1FOA7Rhd&amount=50
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0d0f4107-3414-45f2-8363-198a9d930141
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0d0f4107-3414-45f2-8363-198a9d930141
      Original-Request:
      - req_CDK1fO7s1YFl9l
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2O6s5u9e1RjUNIyY1Vx3jGxA",
          "object": "refund",
          "amount": 50,
          "balance_transaction": "txn_2O6s5u9e1RjUNIyY11Wq0VcJ",
          "charge": "ch_2O6s5u9e1RjUNIyY1FOA7Rhd",
          "created": 1698659357,
          "currency": "usd",
          "metadata": {},
          "payment_intent": "pi_2O6s5u9e1RjUNIyY1UYiBZh2",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Mon, 30 Oct 2023 09:49:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2O6s5u9e1RjUNIyY1Vx3jGxA?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6s5u9e1RjUNIyY1FOA7Rhd?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
