---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 98df9887-c422-4cab-9284-22db4f4ad22b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 98df9887-c422-4cab-9284-22db4f4ad22b
      Original-Request:
      - req_fqVwJ81oJJos6L
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0ORALu9e1RjUNIyYLD9GIji5",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703496098,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 25 Dec 2023 09:21:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0ORALu9e1RjUNIyYLD9GIji5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0ORALu9e1RjUNIyYLD9GIji5
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d8c9b5eb-5599-4685-be5f-644dae21f66d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d8c9b5eb-5599-4685-be5f-644dae21f66d
      Original-Request:
      - req_lI0OIm7FLa9p0a
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PFfhpBXSZF9lg4",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703496099,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "D2F09CEC",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 25 Dec 2023 09:21:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: customer=cus_PFfhpBXSZF9lg4&payment_method=pm_0ORALu9e1RjUNIyYLD9GIji5
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6d5c64ba-a0ef-4289-918e-99d81b1e1969
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6d5c64ba-a0ef-4289-918e-99d81b1e1969
      Original-Request:
      - req_IcHzcj6K25pb9i
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1ORALvCOxuflorGuG[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=You+bought+http%3A%2F%2Fedgar9c70f4b87.test.gumroad.com%3A31337%2Fl%2Fs&metadata[purchase]=bEtKQ3Zu9SgNopem0-ZywA%3D%3D&transfer_group=7&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PFfhkDNmGIlhPg&payment_method=pm_1ORALvCOxuflorGuGDAcTH4e&statement_descriptor_suffix=edgar9c70f4b87&application_fee_amount=100
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6c86f497-25b0-404e-bcfb-b51bd857a622
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6c86f497-25b0-404e-bcfb-b51bd857a622
      Original-Request:
      - req_T49i0CKq6NgE1n
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3ORALwCOxuflorGu05XLhrnc",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee_amount": 100,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3ORALwCOxuflorGu05XLhrnc_secret_xxvOCV2F9ewRWohnubK4wDlh3",
          "confirmation_method": "automatic",
          "created": 1703496100,
          "currency": "usd",
          "customer": "cus_PFfhkDNmGIlhPg",
          "description": "You bought http://edgar9c70f4b87.test.gumroad.com:31337/l/s",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3ORALwCOxuflorGu0dr7c2as",
          "livemode": false,
          "metadata": {
            "purchase": "bEtKQ3Zu9SgNopem0-ZywA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1ORALvCOxuflorGuGDAcTH4e",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar9c70f4b87",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "7"
        }
  recorded_at: Mon, 25 Dec 2023 09:21:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3ORALwCOxuflorGu0dr7c2as?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3ORALwCOxuflorGu0dr7c2as",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": {
            "id": "fee_1ORALxCOxuflorGuGrrENdHC",
            "object": "application_fee",
            "account": "acct_1MFA1rCOxuflorGu",
            "amount": 100,
            "amount_refunded": 0,
            "application": "<STRIPE_CONNECT_CLIENT_ID>",
            "balance_transaction": {
              "id": "txn_0ORALy9e1RjUNIyYMRhVAOu3",
              "object": "balance_transaction",
              "amount": 100,
              "available_on": 1704067200,
              "created": 1703496101,
              "currency": "usd",
              "description": "Application fee from application Gumroad for acct_1MFA1rCOxuflorGu (acct_1MFA1rCOxuflorGu)",
              "exchange_rate": 1.29726,
              "fee": 0,
              "fee_details": [],
              "net": 100,
              "reporting_category": "platform_earning",
              "source": "fee_1ORALxCOxuflorGuGrrENdHC",
              "status": "pending",
              "type": "application_fee"
            },
            "charge": "ch_3ORALwCOxuflorGu0dr7c2as",
            "created": 1703496101,
            "currency": "usd",
            "livemode": false,
            "originating_transaction": null,
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/application_fees/fee_1ORALxCOxuflorGuGrrENdHC/refunds"
            }
          },
          "application_fee_amount": 100,
          "balance_transaction": {
            "id": "txn_3ORALwCOxuflorGu04PTedqK",
            "object": "balance_transaction",
            "amount": 1297,
            "available_on": 1704067200,
            "created": 1703496101,
            "currency": "sgd",
            "description": "You bought http://edgar9c70f4b87.test.gumroad.com:31337/l/s",
            "exch[...]
