---
http_interactions:
- request:
    method: get
    uri: https://svcnab2b.revenuquebec.ca/2019/02/ValidationTVQ/1002092821TQ0002
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Gx-Temps-Execution:
      - '00:00:00.0359183'
    body:
      encoding: ASCII-8BIT
      string: '{"Resultat":null,"OperationReussie":true,"MessagesFonctionnels":[{"DescriptionMessage":null,"CodeMessage":"GX.AucuneDonneeTrouvee"}],"MessagesInformatifs":[]}'
  recorded_at: Sat, 15 Jun 2024 21:47:55 GMT
recorded_with: VCR 6.2.0
