---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f046ee30-d4ba-4245-97fa-7e99edaa6b37
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f046ee30-d4ba-4245-97fa-7e99edaa6b37
      Original-Request:
      - req_h7NBvllLKDbE3t
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6xAD9e1RjUNIyY6BGDr8ae",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698678841,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 15:14:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xAD9e1RjUNIyY6BGDr8ae
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O6xAD9e1RjUNIyY6BGDr8ae
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 64928494-6fba-48aa-82d1-4b24b92cca09
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 64928494-6fba-48aa-82d1-4b24b92cca09
      Original-Request:
      - req_3cspYtjD34KQM5
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OumjXXHVkoKQ6W",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698678842,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "46F83E0F",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 15:14:03 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xAF9e1RjUNIyYqFmF0L5n
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=3500&currency=usd&description=You+bought+http%3A%2F%2Fedgare245cbf3197.test.gumroad.com%3A31337%2Fl%2Fq&metadata[purchase]=Ev9Uud5XlcmRxkMUf8dzCA%3D%3D&transfer_group=120&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OumjrBcHjsYSde&payment_method=pm_0O6xAF9e1RjUNIyYqFmF0L5n&statement_descriptor_suffix=edgare245cbf3197
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 127628fa-90a6-4c08-bc1d-75a8f3701689
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 127628fa-90a6-4c08-bc1d-75a8f3701689
      Original-Request:
      - req_cWSiwGaxiKv41u
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6xAI9e1RjUNIyY0YoSQ9UX",
          "object": "payment_intent",
          "amount": 3500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 3500,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6xAI9e1RjUNIyY0YoSQ9UX_secret_1LTfmmKB3oQnuhhkvDdREwVG7",
          "confirmation_method": "manual",
          "created": 1698678846,
          "currency": "usd",
          "customer": "cus_OumjrBcHjsYSde",
          "description": "You bought http://edgare245cbf3197.test.gumroad.com:31337/l/q",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6xAI9e1RjUNIyY0tK45kHM",
          "livemode": false,
          "metadata": {
            "purchase": "Ev9Uud5XlcmRxkMUf8dzCA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6xAF9e1RjUNIyYqFmF0L5n",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare245cbf3197",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "120"
        }
  recorded_at: Mon, 30 Oct 2023 15:14:06 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6xAI9e1RjUNIyY0tK45kHM?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6xAI9e1RjUNIyY0tK45kHM",
          "object": "charge",
          "amount": 3500,
          "amount_captured": 3500,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6xAI9e1RjUNIyY0LzhQdin",
            "object": "balance_transaction",
            "amount": 3500,
            "available_on": 1698796800,
            "created": 1698678846,
            "currency": "usd",
            "description": "You bought http://edgare245cbf3197.test.gumroad.com:31337/l/q",
            "exchange_rate": null,
            "fee": 100,
            "fee_details": [
              {
                "amount": 100,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 3400,
            "reporting_category": "charge",
            "source": "ch_2O6xAI9e1RjUNIyY0tK45kHM",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARE245CB",
          "captured": true,
          "created": 1698678846,
          "currency": "usd",
          "customer": "cus_OumjrBcHjsYSde",
          "description": "You bought http://edgare245cbf3197.test.gumroad.com:31337/l/q",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "Ev9Uud5XlcmRxkMUf8dzCA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 43,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6xAI9e1RjUNIyY0YoSQ9UX",
          "payment_method": "pm_0O6xAF9e1RjUNIyYqFmF0L5n",
          "payment_method_details": {
            "card": {
              "amount_authorized": 3500,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 3500,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUov5D_qQYyBj932tMqZzosFtZyukHZsmGGsZXWbaRMoMJabFTODUOFxFGR-n28FBSbR--OxXH-1wUX2DU",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare245cbf3197",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "120"
        }
  recorded_at: Mon, 30 Oct 2023 15:14:07 GMT
recorded_with: VCR 6.2.0
