---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2021&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_0IEM3N9e1RjUNIyYU87fETO6",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2021,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1611784798,
          "customer": null,
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Wed, 27 Jan 2021 21:59:58 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0IEM3N9e1RjUNIyYU87fETO6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0IEM3N9e1RjUNIyYU87fETO6
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Iq278exgLyDA4Q",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1611784802,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "49C4DD48",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Wed, 27 Jan 2021 22:00:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: confirm=true&usage=off_session&payment_method=pm_0IEM3N9e1RjUNIyYU87fETO6&customer=cus_Iq278exgLyDA4Q
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "seti_0IEM3U9e1RjUNIyYA8yjKeih",
          "object": "setup_intent",
          "application": null,
          "cancellation_reason": null,
          "client_secret": "seti_0IEM3U9e1RjUNIyYA8yjKeih_secret_Iq27K8kTy6lJ0XnVwlwhzEDFZ5dXlrg",
          "created": 1611784804,
          "customer": "cus_Iq278exgLyDA4Q",
          "description": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0IEM3U9e1RjUNIyY1kpxSNAZ",
          "livemode": false,
          "mandate": null,
          "metadata": {
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0IEM3N9e1RjUNIyYU87fETO6",
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Wed, 27 Jan 2021 22:00:05 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0IEM3O9e1RjUNIyYoAtaRVy9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=600&currency=usd&description=You+bought+http%3A%2F%2F127.0.0.1%3A31337%2Fl%2FV&metadata[purchase]=P5ppE6H8XIjy2JSCgUhbAw%3D%3D&transfer_group=2&confirmation_method=manual&confirm=true&off_session=true&customer=cus_Iq272W1Kfn6kdU&payment_method=pm_0IEM3O9e1RjUNIyYoAtaRVy9&statement_descriptor_suffix=Gumroad
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_0IEM3Y9e1RjUNIyYbSDnKckQ",
            "code": "processing_error",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "payment_intent": {
              "id": "pi_0IEM3Y9e1RjUNIyY6BU8NNdR",
              "object": "payment_intent",
              "amount": 600,
              "amount_capturable": 0,
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic",
              "charges": {
                "object": "list",
                "data": [
                  {
                    "id": "ch_0IEM3Y9e1RjUNIyYbSDnKckQ",
                    "object": "charge",
                    "amount": 600,
                    "amount_captured": 0,
                    "amount_refunded": 0,
                    "amount_updates": [

                    ],
                    "application": null,
                    "application_fee": null,
                    "application_fee_amount": null,
                    "balance_transaction": null,
                    "billing_details": {
                      "address": {
                        "city": null,
                        "country": null,
                        "line1": null,
                        "line2": null,
                        "postal_code": null,
                        "state": null
                      },
                      "email": null,
                      "name": null,
                      "phone": null
                    },
                    "calculated_statement_descriptor": "GUM.CO/CC* GUMROAD",
                    "captured": false,
                    "created": 1611784808,
                    "currency": "usd",
                    "customer": "cus_Iq272W1Kfn6kdU",
                    "description": "You bought http://127.0.0.1:31337/l/V",
                    "destination": null,
                    "dispute": null,
                    "disputed": false,
                    "failure_code": "processing_error",
                    "failure_message": "Your card was declined.",
                    "fraud_details": {
                    },
                    "invoice": null,
                    "livemode": false,
                    "metadata": {
                      "purchase": "P5ppE6H8XIjy2JSCgUhbAw=="
                    },
                    "on_behalf_of": null,
                    "order": null,
                    "outcome": {
                      "network_status": "declined_by_network",
                      "reason": "generic_decline",
                      "risk_level": "normal",
                      "risk_score": 57,
                      "seller_message": "The bank did not return any further details with this decline.",
                      "type": "issuer_declined"
                    },
                    "paid": false,
                    "payment_intent": "pi_0IEM3Y9e1RjUNIyY6BU8NNdR",
                    "payment_method": "pm_0IEM3O9e1RjUNIyYoAtaRVy9",
                    "payment_method_details": {
                      "card": {
                        "brand": "visa",
                        "checks": {
                          "address_line1_check": null,
                          "address_postal_code_check": null,
                          "cvc_check": "pass"
                        },
                        "country": "US",
                        "exp_month": 12,
                        "exp_year": 2021,
                        "fingerprint": "waikMtIz0irgsfaY",
                        "funding": "credit",
                        "installments": null,
                        "last4": "0341",
                        "network": "visa",
                        "three_d_secure": null,
                        "wallet": null
                      },
                      "type": "card"
                    },
                    "receipt_email": null,
                    "receipt_number": null,
                    "receipt_url": null,
                    "refunded": false,
                    "refunds": {
                      "object": "list",
                      "data": [

                      ],
                      "has_more": false,
                      "total_count": 0,
                      "url": "/v1/charges/ch_0IEM3Y9e1RjUNIyYbSDnKckQ/refunds"
                    },
                    "review": null,
                    "shipping": null,
                    "source": null,
                    "source_transfer": null,
                    "statement_descriptor": null,
                    "statement_descriptor_suffix": "Gumroad",
                    "status": "failed",
                    "transfer_data": null,
                    "transfer_group": "2"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/charges?payment_intent=pi_0IEM3Y9e1RjUNIyY6BU8NNdR"
              },
              "client_secret": "pi_0IEM3Y9e1RjUNIyY6BU8NNdR_secret_22z0AmjKQrQlUYxfPZx6COD9c",
              "confirmation_method": "manual",
              "created": 1611784808,
              "currency": "usd",
              "customer": "cus_Iq272W1Kfn6kdU",
              "description": "You bought http://127.0.0.1:31337/l/V",
              "invoice": null,
              "last_payment_error": {
                "charge": "ch_0IEM3Y9e1RjUNIyYbSDnKckQ",
                "code": "processing_error",
                "decline_code": "generic_decline",
                "doc_url": "https://stripe.com/docs/error-codes/card-declined",
                "message": "Your card was declined.",
                "payment_method": {
                  "id": "pm_0IEM3O9e1RjUNIyYoAtaRVy9",
                  "object": "payment_method",
                  "billing_details": {
                    "address": {
  [...]
