---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f2faa8dc-df08-4c97-baa8-6902beaa17ae
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f2faa8dc-df08-4c97-baa8-6902beaa17ae
      Original-Request:
      - req_SOawdTDV8rJSwO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O7Nt59e1RjUNIyYhTTkBDKx",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698781567,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 31 Oct 2023 19:46:08 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7Nt69e1RjUNIyYOZKyC7kU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O7Nt69e1RjUNIyYOZKyC7kU
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c30ee8c7-57cd-4a9c-9004-60968ae5954b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c30ee8c7-57cd-4a9c-9004-60968ae5954b
      Original-Request:
      - req_qfPB6MBlFNxH7b
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OvELSYYtRLzEHd",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698781569,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "9B5E4138",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 31 Oct 2023 19:46:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: confirm=true&payment_method_types[0]=card&usage=off_session&payment_method=pm_0O7Nt69e1RjUNIyYOZKyC7kU&customer=cus_OvELSYYtRLzEHd
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 353d0984-345e-4067-b41c-4ef6ef78a8e4
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 353d0984-345e-4067-b41c-4ef6ef78a8e4
      Original-Request:
      - req_lvKUHDNA1JHhSp
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0O7Nt89e1RjUNIyYt4Fyee9q",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0O7Nt89e1RjUNIyYt4Fyee9q_secret_OvELFhk2K7vf3hEjm963RyrgGk32VYP",
          "created": 1698781570,
          "customer": "cus_OvELSYYtRLzEHd",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0O7Nt89e1RjUNIyYRsnhkJYm",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7Nt69e1RjUNIyYOZKyC7kU",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 31 Oct 2023 19:46:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=600&currency=usd&description=You+bought+http%3A%2F%2Fedgar793d518c2536.test.gumroad.com%3A31337%2Fl%2Fn&metadata[purchase]=rjErfwEmiHve0zd-L9yhfw%3D%3D&transfer_group=1571&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OvELSYYtRLzEHd&payment_method=pm_0O7Nt69e1RjUNIyYOZKyC7kU&statement_descriptor_suffix=edgar793d518c2536
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3df9e975-0157-4075-af64-42c6102a20ed
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3df9e975-0157-4075-af64-42c6102a20ed
      Original-Request:
      - req_56L7JhJ27s9UHb
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_2O7Nt99e1RjUNIyY09jttF1U",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "payment_intent": {
              "id": "pi_2O7Nt99e1RjUNIyY0jy1tJTL",
              "object": "payment_intent",
              "amount": 600,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic",
              "client_secret": "pi_2O7Nt99e1RjUNIyY0jy1tJTL_secret_FN66n0JqZgprVHrb5ryKCMwaZ",
              "confirmation_method": "manual",
              "created": 1698781571,
              "currency": "usd",
              "customer": "cus_OvELSYYtRLzEHd",
              "description": "You bought http://edgar793d518c2536.test.gumroad.com:31337/l/n",
              "invoice": null,
              "last_payment_error": {
                "charge": "ch_2O7Nt99e1RjUNIyY09jttF1U",
                "code": "card_declined",
                "decline_code": "generic_decline",
                "doc_url": "https://stripe.com/docs/error-codes/card-declined",
                "message": "Your card was declined.",
                "payment_method": {
                  "id": "pm_0O7Nt69e1RjUNIyYOZKyC7kU",
                  "object": "payment_method",
                  "billing_details": {
                    "address": {
     [...]
