---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0002&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c7dce5cf-3ab8-4907-a318-152b21a140dd
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c7dce5cf-3ab8-4907-a318-152b21a140dd
      Original-Request:
      - req_lyJlWpXhiKukkX
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfLd9e1RjUNIyYW2NvngYf",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "oiLxi0ZM3Ud9pQDh",
            "funding": "credit",
            "generated_from": null,
            "last4": "0002",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703853573,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:39:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfLd9e1RjUNIyYW2NvngYf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500&currency=usd&description=You+bought+http%3A%2F%2Fedgar8943591898.test.gumroad.com%3A31337%2Fl%2Fs&metadata[purchase]=WO3b_OKSXbF9eiCedwG70Q%3D%3D&transfer_group=177&payment_method_types[0]=card&payment_method=pm_0OSfLd9e1RjUNIyYW2NvngYf&statement_descriptor_suffix=edgar8943591898
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b26d5a1f-fd37-4a33-b18a-5e020dd129f6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b26d5a1f-fd37-4a33-b18a-5e020dd129f6
      Original-Request:
      - req_aO5hUbsI9ZbVlB
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSfLe9e1RjUNIyY03UsHO2t",
          "object": "payment_intent",
          "amount": 500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSfLe9e1RjUNIyY03UsHO2t_secret_Qi8AW2LSKa2XaaHi7nqnZwRH4",
          "confirmation_method": "automatic",
          "created": 1703853574,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar8943591898.test.gumroad.com:31337/l/s",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchase": "WO3b_OKSXbF9eiCedwG70Q=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfLd9e1RjUNIyYW2NvngYf",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar8943591898",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "177"
        }
  recorded_at: Fri, 29 Dec 2023 12:39:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSfLe9e1RjUNIyY03UsHO2t/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - cc82a149-ddca-4c06-9ee7-91bf295edbf0
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cc82a149-ddca-4c06-9ee7-91bf295edbf0
      Original-Request:
      - req_K1SjvKJoO8CwL8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_2OSfLe9e1RjUNIyY0JeQBG2A",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "payment_intent": {
              "id": "pi_2OSfLe9e1RjUNIyY03UsHO2t",
              "object": "payment_intent",
              "amount": 500,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,[...]
