---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QVFpS2paQXFYR2NOX29VOHdoLVJLZWx2Nk5mM0lyV1ZZOUo5cnJoejFwRjdhcWl5Wmp1dFNkRzc1STZhaGQzekplMVRocGtsRnA1ak5tYW46RVBuTmR0QVc2anNVbGVIV1FtanNGTmVmMzdmMUdHV0x3dEp4M3VPMlBSZGJFTkFGeFRnVzFXQTFWODNNVll2U3JScmtIMHRYTmV2RTBDSl8=
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.5.8
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - f93419953c2bf
      X-Paypal-Token-Service:
      - IAAS
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/customer/partner-referrals/readwrite
        https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/payments/realtimepayment
        openid https://uri.paypal.com/services/payments/payment/authcapture https://uri.paypal.com/services/payments/refund
        https://uri.paypal.com/services/customer/onboarding/user https://uri.paypal.com/services/risk/raas/transaction-context
        https://uri.paypal.com/services/partners/merchant-accounts/readwrite https://uri.paypal.com/services/identity/grantdelegation
        https://api.paypal.com/v1/vault/credit-card https://api.paypal.com/v1/payments/.*
        https://uri.paypal.com/services/payments/referenced-payouts-items/readwrite
        https://uri.paypal.com/services/reporting/search/read https://uri.paypal.com/services/customer/onboarding/account
        https://uri.paypal.com/services/customer/partner https://uri.paypal.com/services/customer/onboarding/sessions
        https://uri.paypal.com/payments/payouts https://api.paypal.com/v1/vault/credit-card/.*
        https://uri.paypal.com/services/subscriptions https://uri.paypal.com/services/applications/webhooks","access_token":"A21AAENfZVAsmd7cbktH4YWCVJgQL7r5X21fgbl-ZRmoMZPNj3PIm5FkNTHN4I0mIFWhNpGv6dLwkpHXZkWEPGWEG2gxXfDSw","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":32400,"nonce":"2020-06-17T20:46:35ZgIhh4AUFyi-CoYugTAxC7ZZVQtljtcH36iKM0Ooh9x0"}'
  recorded_at: Wed, 17 Jun 2020 20:46:36 GMT
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/0T022567XC990424P
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer A21AAENfZVAsmd7cbktH4YWCVJgQL7r5X21fgbl-ZRmoMZPNj3PIm5FkNTHN4I0mIFWhNpGv6dLwkpHXZkWEPGWEG2gxXfDSw
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.5.8
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 77c1339cf602f
    body:
      encoding: UTF-8
      string: '{"id":"0T022567XC990424P","intent":"CAPTURE","purchase_units":[{"reference_id":"G_-mnBf9b1j9A7a4ub4nFQ==","amount":{"currency_code":"USD","value":"5.00","breakdown":{"item_total":{"currency_code":"USD","value":"5.00"},"shipping":{"currency_code":"USD","value":"0.00"},"tax_total":{"currency_code":"USD","value":"0.00"}}},"payee":{"email_address":"<PAYPAL_MERCHANT_EMAIL>"},"soft_descriptor":"You
        bought /l/Z","items":[{"name":"The Works of Edgar Gumstein","unit_amount":{"currency_code":"USD","value":"5.00"},"quantity":"1","sku":"Z"}],"shipping":{"name":{"full_name":"Gumbot
        Gumstein"},"address":{"address_line_1":"1 Main St","admin_area_2":"San Jose","admin_area_1":"CA","postal_code":"95131","country_code":"US"}},"payments":{"captures":[{"id":"3R951669WT495394B","status":"PARTIALLY_REFUNDED","amount":{"currency_code":"USD","value":"5.00"},"final_capture":true,"disbursement_mode":"INSTANT","seller_protection":{"status":"ELIGIBLE","dispute_categories":["ITEM_NOT_RECEIVED","UNAUTHORIZED_TRANSACTION"]},"seller_receivable_breakdown":{"gross_amount":{"currency_code":"USD","value":"5.00"},"paypal_fee":{"currency_code":"USD","value":"0.45"},"net_amount":{"currency_code":"USD","value":"4.55"}},"links":[{"href":"https://api.sandbox.paypal.com/v2/payments/captures/3R951669WT495394B","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/payments/captures/3R951669WT495394B/refund","rel":"refund","method":"POST"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/0T022567XC990424P","rel":"up","method":"GET"}],"create_time":"2020-06-17T18:25:48Z","update_time":"2020-06-17T19:04:12Z"}],"refunds":[{"id":"5BT04445N94706336","amount":{"currency_code":"USD","value":"2.00"},"seller_payable_breakdown":{"gross_amount":{"currency_code":"USD","value":"2.00"},"paypal_fee":{"currency_code":"USD","value":"0.06"},"net_amount":{"currency_code":"USD","value":"1.94"},"total_refunded_amount":{"currency_code":"USD","value":"2.00"}},"status":"COMPLETED","links":[{"href":"https://api.sandbox.paypal.com/v2/payments/refunds/5BT04445N94706336","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/payments/captures/3R951669WT495394B","rel":"up","method":"GET"}],"create_time":"2020-06-17T12:04:12-07:00","update_time":"2020-06-17T12:04:12-07:00"}]}}],"payer":{"name":{"given_name":"Gumbot","surname":"Gumstein"},"email_address":"paypal-gr-integspecs@gumroad.com","payer_id":"92SVVJSWYT72E","address":{"country_code":"US"}},"create_time":"2020-06-17T18:21:51Z","update_time":"2020-06-17T19:04:12Z","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/0T022567XC990424P","rel":"self","method":"GET"}],"status":"COMPLETED"}'
  recorded_at: Wed, 17 Jun 2020 20:46:38 GMT
recorded_with: VCR 3.0.3
