---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=AE&default_currency=aed&metadata[user_id]=3296590343572&metadata[tos_agreement_id]=9ssC7adhRklGBdA5cwrWPg%3D%3D&metadata[user_compliance_info_id]=9ssC7adhRklGBdA5cwrWPg%3D%3D&metadata[bank_account_id]=9ssC7adhRklGBdA5cwrWPg%3D%3D&tos_acceptance[date]=1427846400&tos_acceptance[ip]=54.234.242.13&business_type=company&business_profile[name]=Buy+More%2C+LLC&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Buy+More%2C+LLC&business_profile[support_phone]=0000000000&company[name]=Buy+More%2C+LLC&company[address][line1]=address_full_match&company[address][city]=Dubai&company[address][state]=Dubai&company[address][postal_code]=51133&company[address][country]=AE&company[tax_id]=000000000&company[phone]=0000000000&company[directors_provided]=true&company[executives_provided]=true&company[structure]=llc&bank_account[country]=AE&bank_account[currency]=aed&bank_account[account_number]=AE070331234567890123456&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b2d48929-164f-47b0-8c06-261cdc62ce8a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b2d48929-164f-47b0-8c06-261cdc62ce8a
      Original-Request:
      - req_eRL8xWqyfXEIKr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1Ot4FoS3hJyT5aWq",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "name": "Buy More, LLC",
            "product_description": "Buy More, LLC",
            "support_address": null,
            "support_email": null,
            "support_phone": "0000000000",
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "company",
          "capabilities": {
            "card_payments": "inactive",
            "transfers": "inactive"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "Dubai",
              "country": "AE",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "51133",
              "state": "Dubai"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": "Buy More, LLC",
            "name_kana": null,
            "name_kanji": null,
            "owners_provided": false,
            "ownership_declaration": null,
            "phone": "0000000000",
            "structure": "llc",
            "tax_id_provided": true,
            "vat_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "AE",
          "created": 1710145841,
          "default_currency": "aed",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1Ot4FoS3hJyT5aWqyHB9MnXG",
                "object": "bank_account",
                "account": "acct_1Ot4FoS3hJyT5aWq",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "AE",
                "currency": "aed",
                "default_for_currency": true,
                "fingerprint": "RU0lp0Y2BJI2OCvJ",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "3456",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1Ot4FoS3hJyT5aWq/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "metadata": {
            "bank_account_id": "9ssC7adhRklGBdA5cwrWPg==",
            "tos_agreement_id": "9ssC7adhRklGBdA5cwrWPg==",
            "user_compliance_info_id": "9ssC7adhRklGBdA5cwrWPg==",
            "user_id": "3296590343572"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "company.business_vat_id_number",
              "company.owners_provided",
              "owners.address.line1",
              "owners.address.state",
              "owners.dob.day",
              "owners.dob.month",
              "owners.dob.year",
              "owners.first_name",
              "owners.id_number",
              "owners.last_nam[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1Ot4FoS3hJyT5aWq/persons
    body:
      encoding: UTF-8
      string: first_name=Chuck&last_name=Bartowski&email=chuck%40gum.com&phone=0000000000&address[line1]=address_full_match&address[city]=Dubai&address[state]=Dubai&address[postal_code]=51133&address[country]=AE&dob[day]=1&dob[month]=1&dob[year]=1901&id_number=000000000&nationality=US&relationship[representative]=true&relationship[owner]=true&relationship[title]=CEO&relationship[percent_ownership]=100
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3de5b529-3b37-4b6d-9151-ab0ee171d76c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3de5b529-3b37-4b6d-9151-ab0ee171d76c
      Original-Request:
      - req_0izEkCLCJ9fvul
      Stripe-Account:
      - acct_1Ot4FoS3hJyT5aWq
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "person_1Ot4FrS3hJyT5aWq4ntFZi2t",
          "object": "person",
          "account": "acct_1Ot4FoS3hJyT5aWq",
          "additional_tos_acceptances": {
            "account": {
              "date": null,
              "ip": null,
              "user_agent": null
            }
          },
          "address": {
            "city": "Dubai",
            "country": "AE",
            "line1": "address_full_match",
            "line2": null,
            "postal_code": "51133",
            "state": "Dubai"
          },
          "created": 1710145844,
          "dob": {
            "day": 1,
            "month": 1,
            "year": 1901
          },
          "email": "chuck@gum.com",
          "first_name": "Chuck",
          "first_name_kana": null,
          "first_name_kanji": null,
          "future_requirements": {
            "alternatives": [],
            "currently_due": [],
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "gender": null,
          "id_number_provided": true,
          "last_name": "Bartowski",
          "last_name_kana": null,
          "last_name_kanji": null,
          "maiden_name": null,
          "metadata": {},
          "nationality": "US",
          "phone": "+10000000000",
          "relationship": {
            "director": false,
            "executive": false,
            "legal_guardian": false,
            "owner": true,
            "percent_ownership": 100.0,
            "representative": true,
            "title": "CEO"
          },
          "requirements": {
            "alternatives": [],
            "currently_due": [
              "documents.passport.files",
              "documents.visa.files",
              "verification.document"
            ],
            "errors": [],
            "eventually_due": [
              "documents.passport.files",
              "documents.visa.files",
              "verification.document"
            ],
            "past_due": [
              "documents.passport.files",
              "documents.visa.files",
              "verification.document"
            ],
            "pending_verification": []
          },
          "ssn_last_4_provided": true,
          "verification": {
            "additional_document": {
              "back": null,
              "details": null,
              "details_code": null,
              "front": null
            },
            "details": null,
            "details_code": null,
            "document": {
              "back": null,
              "details": null,
              "details_code": null,
              "front": null
            },
            "status": "unverified"
          }
        }
  recorded_at: Mon, 11 Mar 2024 08:30:45 GMT
recorded_with: VCR 6.2.0
