---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8977eec3-11eb-4876-a71d-0bce6f253e03
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8977eec3-11eb-4876-a71d-0bce6f253e03
      Original-Request:
      - req_QE3WhWKqGzPb4f
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzH8vIBOqvOFDrfxZk2MD9l",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730697,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:38:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH8vIBOqvOFDrfxZk2MD9l
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9a270eaf-3c31-46d4-9e30-ff3f27b994b3
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9a270eaf-3c31-46d4-9e30-ff3f27b994b3
      Original-Request:
      - req_EBkr4TFBpzTZr2
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TxBVE1nzO4pjNG",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1770730697,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "LWPRIN1H",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 10 Feb 2026 13:38:18 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH8vIBOqvOFDrfxZk2MD9l&customer=cus_TxBVE1nzO4pjNG&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - adfadd5a-fa7d-45e3-a9fa-95fb91a924db
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - adfadd5a-fa7d-45e3-a9fa-95fb91a924db
      Original-Request:
      - req_8nXznuUyIs8lY9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1SzH8wIBOqvOFDrfTTijqk1V",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_1SzH8wIBOqvOFDrfTTijqk1V_secret_TxBVs2aRhjwaray7GfQX0lmz14wMowm",
          "created": 1770730698,
          "customer": "cus_TxBVE1nzO4pjNG",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_1SzH8wIBOqvOFDrfDJOMCKR1",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH8vIBOqvOFDrfxZk2MD9l",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 10 Feb 2026 13:38:18 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzH8vIBOqvOFDrfxZk2MD9l
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents/seti_1SzH8xIBOqvOFDrfGtiTUGgB/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 345709bd-7006-4b51-9963-a90d4121c0d0
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents/seti_1SzH8yIBOqvOFDrfSDelmQej/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c408008e-2833-4259-ad1b-8bed1e16b96a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
