---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=SG&default_currency=sgd&metadata[user_id]=2255323375251&metadata[tos_agreement_id]=T-cxmbBINnbo9gOCUQBNCQ%3D%3D&metadata[user_compliance_info_id]=T-cxmbBINnbo9gOCUQBNCQ%3D%3D&metadata[bank_account_id]=kQRyosZPYxCzPA1Nn2Dq7Q%3D%3D&tos_acceptance[date]=1698692775&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=edgaradc402af_1295%40gumroad.com&individual[phone]=0000000000&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=California&individual[address][postal_code]=546080&individual[address][country]=SG&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[id_number]=000000000&individual[nationality]=SG&bank_account[country]=SG&bank_account[currency]=sgd&bank_account[account_number]=000123456&bank_account[routing_number]=1100-000&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 57126365-12a2-461d-94b4-2fba04e4fa4e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 57126365-12a2-461d-94b4-2fba04e4fa4e
      Original-Request:
      - req_66EpdiqruICsnq
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1O70myS4eevfdt4x",
          "object": "account",
          "business_profile": {
            "mcc": "5192",
            "name": null,
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "inactive",
            "transfers": "inactive"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "SG",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "546080",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "SG",
          "created": 1698692777,
          "default_currency": "sgd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1O70myS4eevfdt4xKH0OInkG",
                "object": "bank_account",
                "account": "acct_1O70myS4eevfdt4x",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "SG",
                "currency": "sgd",
                "default_for_currency": true,
                "fingerprint": "VDIVVTFuMKl6xYpo",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "3456",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "1100-000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1O70myS4eevfdt4x/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1O70myS4eevfdt4xxWGsciDQ",
            "object": "person",
            "account": "acct_1O70myS4eevfdt4x",
            "address": {
              "city": "San Francisco",
              "country": "SG",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "546080",
              "state": "California"
            },
            "created": 1698692777,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "edgaradc402af_1295@gumroad.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "nationality": "SG",
            "phone": "+10000000000",
            "relationship": {
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [
                "full_name_aliases"
              ],
              "errors": [],
              "eventually_due": [
                "full_name_aliases"
              ],
              "past_due": [
                "full_name_aliases"
              ],
              "pending_verification": []
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "pending"
            }
          },
          "metadata": {
            "bank_account_id": "kQRyosZPYxCzPA1Nn2Dq7Q==",
            "tos_agreement_id": "T-cxmbBINnbo9gOCUQBNCQ==",
            "user_compliance_info_id": "T-cxmbBINnbo9gOCUQBNCQ==",
            "user_id": "2255323375251"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "individual.full_name_aliases"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [],
            "eventually_due": [
              "individual.full_name_aliases"
            ],
            "past_due": [
              "individual.full_name_aliases"
            ],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {},
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "VIPUL.GUMR",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "vipul.gumroad",
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "VIPUL.GUMROAD.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 1,
                "interval": "manual"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1698692775,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Mon, 30 Oct 2023 19:06:19 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1O70myS4eevfdt4x/persons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O70myS4eevfdt4x
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "person_1O70myS4eevfdt4xxWGsciDQ",
              "object": "person",
              "account": "acct_1O70myS4eevfdt4x",
              "additional_tos_acceptances": {
                "account": {
                  "date": null,
                  "ip": null,
                  "user_agent": null
                }
              },
              "address": {
                "city": "San Francisco",
                "country": "SG",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "546080",
                "state": "California"
              },
              "created": 1698692777,
              "dob": {[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1O70myS4eevfdt4x/persons/person_1O70myS4eevfdt4xxWGsciDQ
    body:
      encoding: UTF-8
      string: full_name_aliases[0]=
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 96ebd614-5a8e-4fa8-a3de-dd6e696d1508
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
 [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: destination=acct_1O70myS4eevfdt4x&currency=usd&description=Funds+held+by+Gumroad+for+Payment+Ph9aMer11olc2LZwLf2AyQ%3D%3D.&amount=200&metadata[payment]=Ph9aMer11olc2LZwLf2AyQ%3D%3D&metadata[balances%7B0%7D]=NiYPESuGQK5FJIN99-EcMA%3D%3D%2CtQlx_2Y4WmaNQHt7wZc3Lw%3D%3D&expand[0]=balance_transaction
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - db380677-6b8d-48c0-8bbf-af7b09a9d96b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - db380677-6b8d-48c0-8bbf-af7b09a9d96b
      Original-Request:
      - req_xBcGGQQiwSwEM7
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_0O70n49e1RjUNIyYgcmSjhi6",
          "object": "transfer",
          "amount": 200,
          "amount_reversed": 0,
          "balance_transaction": {
            "id": "txn_0O70n49e1RjUNIyYrYTUr1i3",
            "object": "balance_transaction",
            "amount": -200,
            "available_on": 1698692782,
            "created": 1698692782,
            "currency": "usd",
            "description": "Funds held by Gumroad for Payment Ph9aMer11olc2LZwLf2AyQ==.",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": -200,
            "reporting_category": "transfer",
            "source": "tr_0O70n49e1RjUNIyYgcmSjhi6",
            "status": "available",
            "type": "transfer"
          },
          "created": 1698692782,
          "currency": "usd",
          "description": "Funds held by Gumroad for Payment Ph9aMer11olc2LZwLf2AyQ==.",
          "destination": "acct_1O70myS4eevfdt4x",
          "destination_payment": "py_1O70n4S4eevfdt4xPR2YFhuI",
          "livemode": false,
          "metadata": {
            "balances{0}": "NiYPESuGQK5FJIN99-EcMA==,tQlx_2Y4WmaNQHt7wZc3Lw==",
            "payment": "Ph9aMer11olc2LZwLf2AyQ=="
          },
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_0O70n49e1RjUNIyYgcmSjhi6/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Mon, 30 Oct 2023 19:06:23 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_0O70n49e1RjUNIyYgcmSjhi6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      en[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers/tr_0O70n49e1RjUNIyYgcmSjhi6/reversals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 139641cd-6645-494e-b6cb-011a99781469
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 139641cd-6645-494e-b6cb-011a99781469
      Original-Request:
      - req_lj7f52J9GqAIch
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "trr_0O70n69e1RjUNIyYjm3aUQzO",
          "object": "transfer_reversal",
          "amount": 200,
          "balance_transaction": "txn_0O70n69e1RjUNIyYqrh8L0xt",
          "created": 1698692784,
          "currency": "usd",
          "destination_payment_refund": "pyr_1O70n5S4eevfdt4xmDVgGRtl",
          "metadata": {},
          "source_refund": null,
          "transfer": "tr_0O70n49e1RjUNIyYgcmSjhi6"
        }
  recorded_at: Mon, 30 Oct 2023 19:06:24 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1O70n4S4eevfdt4xPR2YFhuI?expand%5B%5D=balance_transaction&expand%5B%5D=refunds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1O70myS4eevfdt4x
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O70myS4eevfdt4x
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1O70n4S4eevfdt4xPR2YFhuI",
          "object": "charge",
          "amount": 200,
          "amount_captured": 200,
          "amount_refunded": 200,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1O70n4S4eevfdt4xMrR6ISEn",
            "object": "balance_transaction",
            "amount": 268,
            "available_on": 1698692782,
            "created": 1698692782,
            "currency": "sgd",
            "description": null,
            "exchange_rate": 1.3389,
            "fee": 0,
            "fee_details": [],
            "net": 268,
            "reporting_category": "charge",
            "source": "py_1O70n4S4eevfdt4xPR2YFhuI",
            "status": "available",
            "type": "payment"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": null,
          "captured": true,
          "created": 1698692782,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": null,
          "paid": true,
          "payment_intent": null,
          "payment_method": null,
          "payment_method_details": {
            "stripe_account": {},
            "type": "stripe_account"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xTzcwbXlTNGVldmZkdDR4KLH9_6kGMgZVFGjqFD46LBbWL63JToxqRKmYAOzayUErEAGgrhY7JreZWH24BgUXDua6Bv--Mf1M9bgS",
          "refunded": true,
          "refunds": {
            "object": "list",
            "data": [
              {
                "id": "pyr_1O70n5S4eevfdt4xmDVgGRtl",
                "object": "refund",
                "amount": 200,
                "balance_transaction": "txn_1O70n6S4eevfdt4xzaozdgEx",
                "charge": "py_1O70n4S4eevfdt4xPR2YFhuI",
                "created": 1698692783,
                "currency": "usd",
                "metadata": {},
                "payment_intent": null,
                "reason": null,
                "receipt_number": null,
                "source_transfer_reversal": "trr_0O70n69e1RjUNIyYjm3aUQzO",
                "status": "succeeded",
                "transfer_reversal": "trr_0O70n69e1RjUNIyYjm3aUQzO"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges/py_1O70n4S4eevfdt4xPR2YFhuI/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "<STRIPE_PLATFORM_ACCOUNT_ID>",
            "object": "account",
            "application_icon": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV96QURJZllYTVhmQTEwQWswUmg3MlRpOGI00M3h6olFO",
            "application_logo": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV9WNnByazhHekswejFlUGh3a1M0dnRxZko00eY1DsvrA",
            "application_name": "Gumroad",
            "application_url": "https://gumroad.com"
          },
          "source_transfer": "tr_0O70n49e1RjUNIyYgcmSjhi6",
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 30 Oct 2023 19:06:25 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/balance_transactions/txn_1O70n6S4eevfdt4xzaozdgEx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1O70myS4eevfdt4x
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O70myS4eevfdt4x
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "txn_1O70n6S4eevfdt4xzaozdgEx",
          "object": "balance_transaction",
          "amount": -273,
          "available_on": 1698692783,
          "created": 1698692783,
          "currency": "sgd",
          "description": "REFUND FOR PAYMENT",
          "exchange_rate": 1.36622,
          "fee": 0,
          "fee_details": [],
          "net": -273,
          "reporting_category": "refund",
          "source": "pyr_1O70n5S4eevfdt4xmDVgGRtl",
          "status": "available",
          "type": "payment_refund"
        }
  recorded_at: Mon, 30 Oct 2023 19:06:25 GMT
recorded_with: VCR 6.2.0
