---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=1428298125831&metadata[tos_agreement_id]=BhOHgwVyg1_-bYvQzyjpaA%3D%3D&metadata[user_compliance_info_id]=Fv_QtG2yp2Cv-UdmS_QwLw%3D%3D&tos_acceptance[date]=1698779575&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=edgar4fee5306_2585%40gumroad.com&individual[phone]=0000000000&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=California&individual[address][postal_code]=94107&individual[address][country]=US&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[id_number]=000000000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fd942419-d3bc-4806-9901-89d3d8f4b203
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fd942419-d3bc-4806-9901-89d3d8f4b203
      Original-Request:
      - req_j9yCXJS0JKQ7Pw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1O7NMxS91ijIIJij",
          "object": "account",
          "business_profile": {
            "mcc": "5192",
            "name": null,
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "pending"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "US",
          "created": 1698779576,
          "default_currency": "usd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1O7NMxS91ijIIJij/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1712084400,
            "currently_due": [
              "external_account",
              "individual.phone"
            ],
            "disabled_reason": null,
            "errors": [
              {
                "code": "invalid_phone_number",
                "reason": "This phone number has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                "requirement": "individual.phone"
              }
            ],
            "eventually_due": [
              "external_account",
              "individual.phone"
            ],
            "past_due": [
              "external_account"
            ],
            "pending_verification": [
              "business_profile.url",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "individual": {
            "id": "person_1O7NMxS91ijIIJijxTTCCVSX",
            "object": "person",
            "account": "acct_1O7NMxS91ijIIJij",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "created": 1698779576,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "edgar4fee5306_2585@gumroad.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [
                "phone"
              ],
              "errors": [
                {
                  "code": "invalid_phone_number",
                  "reason": "This phone number has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                  "requirement": "phone"
                }
              ],
              "eventually_due": [
                "phone"
              ],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "pending"
            }
          },
          "metadata": {
            "tos_agreement_id": "BhOHgwVyg1_-bYvQzyjpaA==",
            "user_compliance_info_id": "Fv_QtG2yp2Cv-UdmS_QwLw==",
            "user_id": "1428298125831"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "external_account"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [],
            "eventually_due": [
              "external_account"
            ],
            "past_due": [
              "external_account"
            ],
            "pending_verification": [
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "settings": {
            "bacs_debit_payments": {},
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "VIPUL.GUMR",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "vipul.gumroad",
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "VIPUL.GUMROAD.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1698779575,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Tue, 31 Oct 2023 19:12:58 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1O7NMxS91ijIIJij/persons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O7NMxS91ijIIJij
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "person_1O7NMxS91ijIIJijxTTCCVSX",
              "object": "person",
              "account": "acct_1O7NMxS91ijIIJij",
              "additional_tos_acceptances": {
                "account": {
                  "date": null,
                  "ip": null,
                  "user_agent": null
                }
              },
              "address": {
                "city": "San Francisco",
                "country": "US",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "94107",
                "state": "California"
              },
              "created": 1698779576,
              "dob": {
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1O7NMxS91ijIIJij/persons/person_1O7NMxS91ijIIJijxTTCCVSX
    body:
      encoding: UTF-8
      string: verification[document][front]=file_identity_document_success
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 223c6564-ee27-41a0-b3fd-42015367b0e6
      Stripe-Version:
      - '2023-10-16'
  response:
    stat[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1O7NMxS91ijIIJij
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O7NMxS91ijIIJij
      Stripe-Ver[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers?created%5Blt%5D=1671366634&destination=acct_1LrgA6S47qdHFIIY&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "tr_2M2X5j9e1RjUNIyY1cLIZBCA",
              "object": "transfer",
              "amount": 17457,
              "amount_reversed": 17457,
              "balance_transaction": "txn_2M2X5j9e1RjUNIyY1mXs5J8u",
              "created": 1668072636,
              "currency": "usd",
              "description": null,
              "destination": "acct_1LrgA6S47qdHFIIY",
              "destination_payment": "py_1M2X5kS47qdHFIIYdJCKxD3M",
              "livemode": false,
              "metadata": {},
              "reversals": {
                "object": "list",
                "data": [
                  {
                    "id": "trr_0M2X6U9e1RjUNIyY0IMocXGz",
                    "object": "transfer_reversal",
                    "amount": 17457,
                    "balance_transaction": "txn_0M2X6V9e1RjUNIyYKWa1Ez3I",
                    "created": 1668072682,
                    "currency": "usd",
                    "destination_payment_refund": "pyr_1M2X6US47qdHFIIY0MeKZwKO",
                    "metadata": {},
                    "source_refund": "re_2M2X5j9e1RjUNIyY133SdhSv",
                    "transfer": "tr_2M2X5j9e1RjUNIyY1cLIZBCA"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/transfers/tr_2M2X5j9e1RjUNIyY1cLIZBCA/reversals"
              },
              "reversed": true,
              "source_transaction": "ch_2M2X5j9e1RjUNIyY1wAGbpFY",
              "source_type": "card",
              "transfer_group": "38"
            },
            {
              "id": "tr_2M2Wyo9e1RjUNIyY0gS8bKFn",
              "object": "transfer",
              "amount": 14542,
              "amount_reversed": 2025,
              "balance_transaction": "txn_2M2Wyo9e1RjUNIyY0ul6NCxv",
              "created": 1668072207,
              "currency": "usd",
              "description": null,
              "destination": "acct_1LrgA6S47qdHFIIY",
              "destination_payment": "py_1M2WypS47qdHFIIYGVjRyp1q",
            [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers/tr_2M2Wyo9e1RjUNIyY0gS8bKFn/reversals
    body:
      encoding: UTF-8
      string: amount=33
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5b5e408c-7d49-4155-9197-625d5de7065e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5b5e408c-7d49-4155-9197-625d5de7065e
      Original-Request:
      - req_JzOqVIUQvBa6wu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "trr_0O7NNL9e1RjUNIyYwOF81Pj5",
          "object": "transfer_reversal",
          "amount": 33,
          "balance_transaction": "txn_0O7NNL9e1RjUNIyYxdIM79eN",
          "created": 1698779599,
          "currency": "usd",
          "destination_payment_refund": "pyr_1O7NNKS47qdHFIIYcWEGFJWt",
          "metadata": {},
          "source_refund": null,
          "transfer": "tr_2M2Wyo9e1RjUNIyY0gS8bKFn"
        }
  recorded_at: Mon, 17 Apr 2023 12:30:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/pyr_1O7NNKS47qdHFIIYcWEGFJWt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1LrgA6S47qdHFIIY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1LrgA6S47qdHFIIY
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pyr_1O7NNKS47qdHFIIYcWEGFJWt",
          "object": "refund",
          "amount": 33,
          "balance_transaction": "txn_1O7NNLS47qdHFIIYhvY2z4kr",
          "charge": "py_1M2WypS47qdHFIIYGVjRyp1q",
          "created": 1698779598,
          "currency": "usd",
          "metadata": {},
          "payment_intent": null,
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": "trr_0O7NNL9e1RjUNIyYwOF81Pj5",
          "status": "succeeded",
          "transfer_reversal": "trr_0O7NNL9e1RjUNIyYwOF81Pj5"
        }
  recorded_at: Mon, 17 Apr 2023 12:30:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/balance_transactions/txn_1O7NNLS47qdHFIIYhvY2z4kr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1LrgA6S47qdHFIIY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1LrgA6S47qdHFIIY
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "txn_1O7NNLS47qdHFIIYhvY2z4kr",
          "object": "balance_transaction",
          "amount": -52,
          "available_on": 1698779598,
          "created": 1698779598,
          "currency": "aud",
          "description": "REFUND FOR PAYMENT",
          "exchange_rate": 1.57152,
          "fee": 0,
          "fee_details": [],
          "net": -52,
          "reporting_category": "refund",
          "source": "pyr_1O7NNKS47qdHFIIYcWEGFJWt",
          "status": "available",
          "type": "payment_refund"
        }
  recorded_at: Mon, 17 Apr 2023 12:30:34 GMT
recorded_with: VCR 6.2.0
