---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e3bd0711-263d-4e08-a5b8-52bd0e7d3a7f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e3bd0711-263d-4e08-a5b8-52bd0e7d3a7f
      Original-Request:
      - req_Wn27TDTnOBIlZu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OyrTK9e1RjUNIyY62esiyAe",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1711526674,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 27 Mar 2024 08:04:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OyrTK9e1RjUNIyY62esiyAe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0OyrTK9e1RjUNIyY62esiyAe
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2b31e54c-ad78-4a92-b765-081598d316b6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2b31e54c-ad78-4a92-b765-081598d316b6
      Original-Request:
      - req_RwQvdzxUrXPCkT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PoUS6vMQld7Guk",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1711526675,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "2CD010D1",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 27 Mar 2024 08:04:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method_types[0]=card&usage=off_session&customer=cus_PoUS6vMQld7Guk&payment_method=pm_0OyrTK9e1RjUNIyY62esiyAe
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 98e63e32-f218-4179-95d6-2237ca5d19c0
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 98e63e32-f218-4179-95d6-2237ca5d19c0
      Original-Request:
      - req_pGxl0jViLeQBwv
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OyrTL9e1RjUNIyYoA40t17I",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OyrTL9e1RjUNIyYoA40t17I_secret_PoUS7tiFFg73z5HSaPgjn2toTddG8mj",
          "created": 1711526675,
          "customer": "cus_PoUS6vMQld7Guk",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": null,
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OyrTK9e1RjUNIyY62esiyAe",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "requires_confirmation",
          "usage": "off_session"
        }
  recorded_at: Wed, 27 Mar 2024 08:04:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents/seti_0OyrTL9e1RjUNIyYoA40t17I/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a6a4a31e-0a58-46c0-adbd-64498de2781e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=You+bought+http%3A%2F%2Fseller.test.gumroad.com%3A31337%2Fl%2Fx&metadata[purchase]=Tevug-5ALQ0-K9allJeHjA%3D%3D&transfer_group=362&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PoUS6vMQld7Guk&payment_method=pm_0OyrTK9e1RjUNIyY62esiyAe&statement_descriptor_suffix=Seller
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9cbdb7ed-5036-491c-ad97-27cfd9a2c41f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9cbdb7ed-5036-491c-ad97-27cfd9a2c41f
      Original-Request:
      - req_VWsxOVKxwZf6Y7
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OyrTN9e1RjUNIyY1yTdxRoQ",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OyrTN9e1RjUNIyY1yTdxRoQ_secret_0XVZpAB6FwEwyfmc2ajE8fpMM",
          "confirmation_method": "automatic",
          "created": 1711526677,
          "currency": "usd",
          "customer": "cus_PoUS6vMQld7Guk",
          "description": "You bought http://seller.test.gumroad.com:31337/l/x",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OyrTN9e1RjUNIyY18L4SGZw",
          "livemode": false,
          "metadata": {
            "purchase": "Tevug-5ALQ0-K9allJeHjA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OyrTK9e1RjUNIyY62esiyAe",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "Seller",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "362"
        }
  recorded_at: Wed, 27 Mar 2024 08:04:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OyrTN9e1RjUNIyY18L4SGZw?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OyrTN9e1RjUNIyY18L4SGZw",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OyrTN9e1RjUNIyY1DiVQ2HI",
            "object": "balance_transaction",
            "amount": 1000,
            "available_on": 1711670400,
            "created": 1711526677,
            "currency": "usd",
            "description": "You bought http://seller.test.gumroad.com:31337/l/x",
            "exchange_rate": null,
            "fee": 50,
            "fee_details": [
              {
                "amount": 50,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 950,
            "reporting_category": "charge",
            "source": "ch_2OyrTN9e1RjUNIyY18L4SGZw",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* SELLER",
          "captured": true,
          "created": 1711526677,
          "currency": "usd",
          "customer": "cus_PoUS6vMQld7Guk",
          "description": "You bought http://seller.test.gumroad.com:31337/l/x",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "Tevug-5ALQ0-K9allJeHjA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 56,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OyrTN9e1RjUNIyY1yTdxRoQ",
          "payment_method": "pm_0OyrTK9e1RjUNIyY62esiyAe",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUol6aPsAYyBqm2HH89wjosFixp1mHCnZAADJwUiJiSX5F1Uzbr6usoV1f2bGbFSbbtv4zhwfywFYypdS0",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "Seller",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "362"
        }
  recorded_at: Wed, 27 Mar 2024 08:04:39 GMT
recorded_with: VCR 6.2.0
