---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6871d04e-c4c1-4596-bc2c-cdc2096652f6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6871d04e-c4c1-4596-bc2c-cdc2096652f6
      Original-Request:
      - req_rMh1t36xsp6DYB
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1TWz6aIBOqvOFDrfxYetQNLG",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 5,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1778764512,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Thu, 14 May 2026 13:15:12 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1TWz6aIBOqvOFDrfxYetQNLG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=18210&email=edgar19d4277b_83%40gumroad.com&payment_method=pm_1TWz6aIBOqvOFDrfxYetQNLG
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 59bb6251-85e7-4d45-b8c4-0814107ecced
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 59bb6251-85e7-4d45-b8c4-0814107ecced
      Original-Request:
      - req_3bQEBCmIhZTiVo
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UW18QTSPTXq1Zg",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1778764513,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": "18210",
          "discount": null,
          "email": "edgar19d4277b_83@gumroad.com",
          "invoice_prefix": "ERSIBHLX",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 14 May 2026 13:15:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=499&currency=usd&description=You+bought+http%3A%2F%2Fedgar485d8d2939.test.gumroad.com%3A31337%2Fl%2Fr%21&metadata[purchase]=Fkhx9gz2qdDFbNf5TPhoyg%3D%3D&transfer_group=13139&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_UW18QTSPTXq1Zg&payment_method=pm_1TWz6aIBOqvOFDrfxYetQNLG&statement_descriptor_suffix=edgar485d8d2939
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4c2608f8-7a6a-4e89-aefc-7e4e8e93ca1a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4c2608f8-7a6a-4e89-aefc-7e4e8e93ca1a
      Original-Request:
      - req_anDAj9wGNOFvON
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3TWz6dIBOqvOFDrf08CPjOB5",
          "object": "payment_intent",
          "amount": 499,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 499,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3TWz6dIBOqvOFDrf08CPjOB5_secret_oqVjfAri8fENAv94wrD2yqr03",
          "confirmation_method": "automatic",
          "created": 1778764515,
          "currency": "usd",
          "customer": "cus_UW18QTSPTXq1Zg",
          "customer_account": null,
          "description": "You bought http://edgar485d8d2939.test.gumroad.com:31337/l/r!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3TWz6dIBOqvOFDrf0D9njVTH",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "purchase": "Fkhx9gz2qdDFbNf5TPhoyg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1TWz6aIBOqvOFDrfxYetQNLG",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar485d8d2939",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "13139"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3TWz6dIBOqvOFDrf0D9njVTH?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3TWz6dIBOqvOFDrf0D9njVTH",
          "object": "charge",
          "amount": 499,
          "amount_captured": 499,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3TWz6dIBOqvOFDrf0mlAkYWT",
            "object": "balance_transaction",
            "amount": 499,
            "available_on": 1779321600,
            "balance_type": "payments",
            "created": 1778764515,
            "currency": "usd",
            "description": "You bought http://edgar485d8d2939.test.gumroad.com:31337/l/r!",
            "exchange_rate": null,
            "fee": 44,
            "fee_details": [
              {
                "amount": 44,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 455,
            "reporting_category": "charge",
            "source": "ch_3TWz6dIBOqvOFDrf0D9njVTH",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR485D8D293",
          "captured": true,
          "created": 1778764515,
          "currency": "usd",
          "customer": "cus_UW18QTSPTXq1Zg",
          "description": "You bought http://edgar485d8d2939.test.gumroad.com:31337/l/r!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "Fkhx9gz2qdDFbNf5TPhoyg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 20,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3TWz6dIBOqvOFDrf08CPjOB5",
          "payment_method": "pm_1TWz6aIBOqvOFDrfxYetQNLG",
          "payment_method_details": {
            "card": {
              "amount_authorized": 499,
              "authorization_code": "528532",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "ds_transaction_id": null,
              "exp_month": 5,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 499,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKOSVl9AGMgbHhEa-e8s6LBYnMvx_ekGooDfna9DxsvdPxfxrntF0_6aj1tUS-jW_-ot92EqNhZNPv4sJ",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar485d8d2939",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "13139"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
recorded_with: VCR 6.2.0
