---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - cc6df9d5-1e68-4a95-8475-bb69abe2e060
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cc6df9d5-1e68-4a95-8475-bb69abe2e060
      Original-Request:
      - req_UTqID4I3cEum70
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0R5tMw9e1RjUNIyYmeohoT4K",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1742754934,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 23 Mar 2025 18:35:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0R5tMw9e1RjUNIyYmeohoT4K
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0R5tMw9e1RjUNIyYmeohoT4K
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 192942f5-070e-499a-9d64-c1d143977f1e
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 192942f5-070e-499a-9d64-c1d143977f1e
      Original-Request:
      - req_l9oCCPpKIr9dKo
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Rzt94kfOLlzyFz",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1742754934,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "B92336CD",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 23 Mar 2025 18:35:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=600&currency=usd&description=You+bought+http%3A%2F%2Fedgar39b79d361.test.gumroad.com%3A31337%2Fl%2Fi%21&metadata[purchase]=PgPrUpGvEv_9HJRQOjuYXw%3D%3D&transfer_group=2&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_Rzt94kfOLlzyFz&payment_method=pm_0R5tMw9e1RjUNIyYmeohoT4K&statement_descriptor_suffix=edgar39b79d361
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d48853c6-152a-448f-8640-2034395375d1
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d48853c6-152a-448f-8640-2034395375d1
      Original-Request:
      - req_SBGJGVkuLPe3ly
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2R5tMx9e1RjUNIyY05SUfHkB",
          "object": "payment_intent",
          "amount": 600,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 600,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2R5tMx9e1RjUNIyY05SUfHkB_secret_SUJpKNoeBH54oNsMstuSPIAZA",
          "confirmation_method": "automatic",
          "created": 1742754935,
          "currency": "usd",
          "customer": "cus_Rzt94kfOLlzyFz",
          "description": "You bought http://edgar39b79d361.test.gumroad.com:31337/l/i!",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2R5tMx9e1RjUNIyY0UQ8ZyL6",
          "livemode": false,
          "metadata": {
            "purchase": "PgPrUpGvEv_9HJRQOjuYXw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0R5tMw9e1RjUNIyYmeohoT4K",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar39b79d361",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "2"
        }
  recorded_at: Sun, 23 Mar 2025 18:35:36 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2R5tMx9e1RjUNIyY0UQ8ZyL6?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2R5tMx9e1RjUNIyY0UQ8ZyL6",
          "object": "charge",
          "amount": 600,
          "amount_captured": 600,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2R5tMx9e1RjUNIyY0foQ2xQ9",
            "object": "balance_transaction",
            "amount": 600,
            "available_on": 1742860800,
            "created": 1742754935,
            "currency": "usd",
            "description": "You bought http://edgar39b79d361.test.gumroad.com:31337/l/i!",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 600,
            "reporting_category": "charge",
            "source": "ch_2R5tMx9e1RjUNIyY0UQ8ZyL6",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGAR39B79D36",
          "captured": true,
          "created": 1742754935,
          "currency": "usd",
          "customer": "cus_Rzt94kfOLlzyFz",
          "description": "You bought http://edgar39b79d361.test.gumroad.com:31337/l/i!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "PgPrUpGvEv_9HJRQOjuYXw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 53,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2R5tMx9e1RjUNIyY05SUfHkB",
          "payment_method": "pm_0R5tMw9e1RjUNIyYmeohoT4K",
          "payment_method_details": {
            "card": {
              "amount_authorized": 600,
              "authorization_code": null,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "875457497450891",
              "overcapture": {
                "maximum_amount_capturable": 600,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo-aiBvwYyBqEiYKqL-zosFsaXR3CJVRBgPojhMrr1v_2bIVWC56HmdTnpPPHEPSSgHGHORG9Ype2-uvE",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar39b79d361",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "2"
        }
  recorded_at: Sun, 23 Mar 2025 18:35:37 GMT
recorded_with: VCR 6.2.0
