---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 00f1204d-e049-4c34-aaca-73cbbd9c0233
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 00f1204d-e049-4c34-aaca-73cbbd9c0233
      Original-Request:
      - req_eZ0jBBOkVPuhej
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OQzy69e1RjUNIyYMmdtVCyt",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703456182,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 24 Dec 2023 22:16:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OQzy69e1RjUNIyYMmdtVCyt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=121&email=edgar98664091_243%40gumroad.com&payment_method=pm_0OQzy69e1RjUNIyYMmdtVCyt
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - db2c3bf1-3d44-4c9d-8303-12f8f94364ba
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - db2c3bf1-3d44-4c9d-8303-12f8f94364ba
      Original-Request:
      - req_RnKaQARXoUV6mH
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PFUyg3Dh5jrVL9",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703456183,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "121",
          "discount": null,
          "email": "edgar98664091_243@gumroad.com",
          "invoice_prefix": "25C265CD",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 24 Dec 2023 22:16:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=599&currency=usd&description=You+bought+http%3A%2F%2Fedgare6a47be2122.test.gumroad.com%3A31337%2Fl%2Fg&metadata[purchase]=_xnQdzRjjE0gYZejqkGY3Q%3D%3D&transfer_group=107&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PFUyg3Dh5jrVL9&payment_method=pm_0OQzy69e1RjUNIyYMmdtVCyt&statement_descriptor_suffix=edgare6a47be2122
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9a8c51bf-6803-4c8f-94b2-c1dabf6f5e22
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9a8c51bf-6803-4c8f-94b2-c1dabf6f5e22
      Original-Request:
      - req_Efkh8vLsY4jvss
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OQzy99e1RjUNIyY1IwdfPw9",
          "object": "payment_intent",
          "amount": 599,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 599,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OQzy99e1RjUNIyY1IwdfPw9_secret_njnaA5VjCxAw9lOhgf47ZgFQQ",
          "confirmation_method": "automatic",
          "created": 1703456185,
          "currency": "usd",
          "customer": "cus_PFUyg3Dh5jrVL9",
          "description": "You bought http://edgare6a47be2122.test.gumroad.com:31337/l/g",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OQzy99e1RjUNIyY1yFpCTZv",
          "livemode": false,
          "metadata": {
            "purchase": "_xnQdzRjjE0gYZejqkGY3Q=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OQzy69e1RjUNIyYMmdtVCyt",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare6a47be2122",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "107"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OQzy99e1RjUNIyY1yFpCTZv?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OQzy99e1RjUNIyY1yFpCTZv",
          "object": "charge",
          "amount": 599,
          "amount_captured": 599,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OQzy99e1RjUNIyY1sEJb23p",
            "object": "balance_transaction",
            "amount": 599,
            "available_on": 1703635200,
            "created": 1703456185,
            "currency": "usd",
            "description": "You bought http://edgare6a47be2122.test.gumroad.com:31337/l/g",
            "exchange_rate": null,
            "fee": 35,
            "fee_details": [
              {
                "amount": 35,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 564,
            "reporting_category": "charge",
            "source": "ch_2OQzy99e1RjUNIyY1yFpCTZv",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARE6A47B",
          "captured": true,
          "created": 1703456185,
          "currency": "usd",
          "customer": "cus_PFUyg3Dh5jrVL9",
          "description": "You bought http://edgare6a47be2122.test.gumroad.com:31337/l/g",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "_xnQdzRjjE0gYZejqkGY3Q=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 20,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OQzy99e1RjUNIyY1IwdfPw9",
          "payment_method": "pm_0OQzy69e1RjUNIyYMmdtVCyt",
          "payment_method_details": {
            "card": {
              "amount_authorized": 599,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 599,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUou9uirAYyBvCs3cLT6DosFpvj7D_FZRBt69APiwgqDBtmjNc-Zh0uHMBu1dC9gKp7s1leL11hf122Ztc",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare6a47be2122",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "107"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OQzyB9e1RjUNIyYXx6uFdMp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OQzyE9e1RjUNIyY0Y5E0LOZ?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_2OQzyE9e1RjUNIyY0ai5zl7L
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OQzyE9e1RjUNIyY0Y5E0LOZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OQzyH9e1RjUNIyY1zuvPgb5?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
