.rich-text {
  &,
  .ProseMirror {
    > * {
      @apply mb-4;
    }
  }

  h1 {
    @apply mb-6;
  }

  h2,
  h3 {
    @apply mt-8;

    &:first-child {
      @apply mt-0;
    }
  }

  ul:not(.inline),
  ol {
    @apply ml-4;
  }

  li:not(:last-child) {
    @apply mb-4;
  }

  hr {
    @apply my-8;
  }

  p {
    @apply mb-4;
  }

  blockquote {
    @apply pl-8;
  }

  figure:not(.tailwind-override) {
    @apply mb-6;

    img {
      @apply w-full object-contain rounded;
    }

    figcaption,
    .figcaption {
      @apply pl-1 mt-3 mb-0;
    }
  }

  pre {
    border: $border;
    @apply rounded mb-4 whitespace-pre-wrap;
    padding: 0.5rem 0.75rem;

    .copy-wrapper {
      @apply float-right hidden;
    }

    &:hover {
      .copy-wrapper {
        display: initial;
      }
    }

    .hljs {
      &-comment,
      &-quote {
        @apply text-muted;
      }

      &-variable,
      &-template-variable,
      &-attribute,
      &-name,
      &-regexp,
      &-link,
      &-selector-id,
      &-selector-class {
        color: #99568b;
      }

      &-tag,
      &-number,
      &-meta,
      &-built_in,
      &-builtin-name,
      &-literal,
      &-type,
      &-params {
        color: #667399;
      }

      &-string,
      &-symbol,
      &-bullet {
        color: #156059;
      }

      &-title,
      &-section {
        color: #78716c;
      }

      &-keyword,
      &-selector-tag {
        color: #91921f;
      }

      &-attr {
        color: var(--color);
      }

      &-emphasis {
        @apply italic;
      }

      &-strong {
        @apply font-bold;
      }
    }
  }

  .actions-menu {
    @apply absolute bottom-4 left-0 z-[1];
    @include font-size(2);

    @include breakpoint-up(lg) {
      @apply hidden top-6 bottom-auto;
      left: -(spacer(2));
      translate: -100% 0;
    }
  }

  :has(> .actions-menu) {
    @apply relative;

    &::before {
      content: "";
      @apply absolute;
      inset: 0 100% 0 #{-(spacer(7))};
    }

    &:hover:not(:has(.react-renderer:hover)) > .actions-menu,
    &.selected > .actions-menu,
    > .menu[open] {
      display: unset;
      grid-column: unset;
    }

    &.selected {
      @apply relative rounded;
      outline: $outline;
      // Fix outline clipping when items are next to each other in a list
    }

    [role="group"] {
      @apply pl-6;
    }
  }

  .react-renderer[draggable] {
    cursor: unset;
  }

  .embed {
    border: $border;
    @apply rounded;
    @include bg-color(filled);

    > .preview {
      background-color: var(--body-bg);
      @apply rounded-t relative;
      border-bottom: $border;
      grid-template-columns: 1fr;
      margin: -1rem;
      max-width: unset;
      @apply mb-2;
      aspect-ratio: 16 / 9;

      > :first-child {
        @apply top-0;

        &.placeholder {
          height: calc(100% - 2rem);
          place-content: center;
          @apply m-4;
        }
      }
    }

    .content h4 {
      @apply font-bold;
      @include max-lines(1);
      word-break: keep-all;
    }

    .content > .thumbnail {
      @apply relative mr-2;
      width: size(4);
      height: size(3);

      img {
        @apply w-full h-full object-cover rounded;
      }

      .placeholder {
        @apply absolute inset-0 p-0;
        background: $backdrop-bg;
      }

      &:hover .placeholder {
        border-color: full-color(accent);
        color: full-color(accent);
      }

      &:not(:hover) img + .placeholder {
        @apply opacity-0;
      }
    }
  }
}

.rich-text-editor-toolbar[role="toolbar"] {
  @apply sticky top-0 flex flex-wrap z-[1];
  @include bg-color(primary);
  gap: 0.25rem;
  padding-block: 0.25rem;

  &.ghost {
    @include bg-color(filled);
  }

  .toolbar-item {
    @apply rounded;
    padding: 0.25rem 0.5rem;

    &:hover {
      @apply bg-active-bg;
    }

    &[aria-pressed="true"],
    .active {
      @apply text-accent;
    }
  }

  [role="separator"] {
    @apply hidden m-2;
    border-right: solid $border-width gray(3);

    &::before {
      content: none;
    }

    @include breakpoint-up(sm) {
      @apply flex;
    }
  }

  [role="menuitemradio"] {
    &[aria-checked="true"] {
      @apply bg-active-bg;
    }
  }
}

:where(.rich-text-editor-toolbar) {
  @apply px-2;
}

.ProseMirror[contenteditable="true"] {
  white-space: break-spaces;

  &:focus-within {
    @apply outline-none;
  }

  figure {
    & > img {
      @apply cursor-pointer;
    }

    // Chrome-specific workaround to prevent highlighting the br
    br::selection {
      background: none;
    }

    img::selection {
      background: rgb(var(--color) / var(--gray-1));
    }

    &[data-has-focus] img {
      outline: $outline;
    }
  }
}

.rich-text-editor {
  @apply grid rounded;
  grid-template-rows: max-content 1fr;
  min-height: size(14);

  .rich-text-editor-toolbar[role="toolbar"] {
    border: $border;
    @apply border-b-0 rounded-t;
  }

  .textarea {
    @apply rounded-tl-none rounded-tr-none min-h-full;

    &:focus-within {
      outline: $outline;
    }
  }
}

// Placeholder plugin
.ProseMirror p.is-editor-empty:first-child::before,
.ProseMirror .node-image.is-empty .figcaption::before {
  content: attr(data-placeholder);
  @apply pointer-events-none float-left h-0 text-muted;
}
