---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0002&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 527b50a8-c60c-47c2-9a04-1bd0423c9ef2
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 527b50a8-c60c-47c2-9a04-1bd0423c9ef2
      Original-Request:
      - req_df0Tu23hZCS1kF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSf5J9e1RjUNIyYrP8gOTQV",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "oiLxi0ZM3Ud9pQDh",
            "funding": "credit",
            "generated_from": null,
            "last4": "0002",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703852561,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:22:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSf5J9e1RjUNIyYrP8gOTQV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1500&currency=usd&description=Gumroad+Charge+aPbZQHKQ8urYuNig4ZFxlg%3D%3D&metadata[3kX0l0Ymn73kzSGLMBuQ3Q%3D%3D]=%7B%3Aprice_cents%3D%3E500%2C+%3Afee_cents%3D%3E75%2C+%3Aaffiliate_credit_cents%3D%3E0%2C+%3Agumroad_tax_cents%3D%3E0%2C+%3Atotal_transaction_cents%3D%3E500%7D&metadata[0a6nL3Hbfq4MRnxk-Ifazw%3D%3D]=%7B%3Aprice_cents%3D%3E1000%2C+%3Afee_cents%3D%3E120%2C+%3Aaffiliate_credit_cents%3D%3E0%2C+%3Agumroad_tax_cents%3D%3E0%2C+%3Atotal_transaction_cents%3D%3E1000%7D&transfer_group=CH-81&payment_method_types[0]=card&off_session=false&payment_method=pm_0OSf5J9e1RjUNIyYrP8gOTQV&statement_descriptor_suffix=edgar9d4b3eca136
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - db07ed00-0f3c-4adb-87e1-7fe53619b97f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - db07ed00-0f3c-4adb-87e1-7fe53619b97f
      Original-Request:
      - req_nvpNbTFon7oIUG
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSf5K9e1RjUNIyY0Pw03KYs",
          "object": "payment_intent",
          "amount": 1500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSf5K9e1RjUNIyY0Pw03KYs_secret_DQvXGMvL3PNQ41WsptbiRSkF5",
          "confirmation_method": "automatic",
          "created": 1703852562,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge aPbZQHKQ8urYuNig4ZFxlg==",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "0a6nL3Hbfq4MRnxk-Ifazw==": "{:price_cents=>1000, :fee_cents=>120, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>1000}",
            "3kX0l0Ymn73kzSGLMBuQ3Q==": "{:price_cents=>500, :fee_cents=>75, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>500}"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSf5J9e1RjUNIyYrP8gOTQV",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar9d4b3eca136",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-81"
        }
  recorded_at: Fri, 29 Dec 2023 12:22:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSf5K9e1RjUNIyY0Pw03KYs/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 68a3ed26-e0c4-4fac-9634-148baa2e9bfd
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 68a3ed26-e0c4-4fac-9634-148baa2e9bfd
      Original-Request:
      - req_lHTdQnMxEOcgRS
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_2OSf5K9e1RjUNIyY0pgE08BZ",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "payment_intent": {
              "id": "pi_2OSf5K9e1RjUNIyY0Pw03KYs",
              "object": "payment_intent",
              "amount": 1500,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSf5P9e1RjUNIyY7bRGhpWg
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - db14db66-6171-41d7-8cd2-1fcaf9b96dab
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - db14db66-6171-41d7-8cd2-1fcaf9b96dab
      Original-Request:
      - req_nvWlFeb1NT32f5
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDWirQ8pRKUNz",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703852568,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "DF64A211",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:22:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSf5P9e1RjUNIyY7bRGhpWg&customer=cus_PHDWirQ8pRKUNz&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 590741c4-ce9f-4e56-8220-4d246d6a77d9
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 590741c4-ce9f-4e56-8220-4d246d6a77d9
      Original-Request:
      - req_KHVh477nBNYfOn
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OSf5R9e1RjUNIyYOzazqLOc",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OSf5R9e1RjUNIyYOzazqLOc_secret_PHDWPAzLeC2f6sLaztZSBiDSRy1zi1e",
          "created": 1703852569,
          "customer": "cus_PHDWirQ8pRKUNz",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0OSf5R9e1RjUNIyYrYdlsWFF",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSf5P9e1RjUNIyY7bRGhpWg",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Fri, 29 Dec 2023 12:22:49 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSf5P9e1RjUNIyY7bRGhpWg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSf5S9e1RjUNIyY1grw5CCz/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 59cf5506-188e-44df-b01b-5a8e01d28951
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSf5S9e1RjUNIyY1nlwlVyl?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OSf5S9e1RjUNIyY1nlwlVyl",
          "object": "charge",
          "amount": 1500,
          "amount_captured": 1500,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OSf5S9e1RjUNIyY1ojJ93gT",
            "object": "balance_transaction",
            "amount": 1500,
            "available_on": 1704240000,
            "created": 1703852571,
            "currency": "usd",
            "description": "Gumroad Charge 2WH4ROe7YDk57n--qDzcwA==",
            "exchange_rate": null,
            "fee": 60,
            "fee_details": [
              {
                "amount": 60,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1440,
            "reporting_category": "charge",
            "source": "ch_2OSf5S9e1RjUNIyY1nlwlVyl",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR9D4B3E",
          "captured": true,
          "created": 1703852571,
          "currency": "usd",
          "customer": "cus_PHDWirQ8pRKUNz",
          "description": "Gumroad Charge 2WH4ROe7YDk57n--qDzcwA==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "A-MBVqzuq5439f1o6i3Srw==": "{:price_cents=>1000, :fee_cents=>120, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>1000}",
            "uQQ90uzrq-D3ZgK35b_nUA==": "{:price_cents=>500, :fee_cents=>75, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>500}"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 42,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OSf5S9e1RjUNIyY1grw5CCz",
          "payment_method": "pm_0OSf5P9e1RjUNIyY7bRGhpWg",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1500,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1500,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUonfS6rAYyBuHwW1X5wzosFjXhNeMsykFYKpqV8tZYjAF3ZHXYWp9iGwzOVOyiqQh_elWbGpvHjTfAK7Y",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar9d4b3eca136",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-85"
        }
  recorded_at: Fri, 29 Dec 2023 12:22:53 GMT
recorded_with: VCR 6.2.0
