---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0002&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1f741efe-7b96-4042-8bf4-5a3110b34142
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1f741efe-7b96-4042-8bf4-5a3110b34142
      Original-Request:
      - req_HrmYWdXlHZckJe
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSf4S9e1RjUNIyYRMKZnNHs",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "oiLxi0ZM3Ud9pQDh",
            "funding": "credit",
            "generated_from": null,
            "last4": "0002",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703852508,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:21:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSf4S9e1RjUNIyYRMKZnNHs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1500&currency=usd&description=Gumroad+Charge+YcNI1bKSqgFoa_RNyKa-SQ%3D%3D&metadata[fztrFaFme_ZXVePDgfouRA%3D%3D]=%7B%3Aprice_cents%3D%3E500%2C+%3Afee_cents%3D%3E75%2C+%3Aaffiliate_credit_cents%3D%3E0%2C+%3Agumroad_tax_cents%3D%3E0%2C+%3Atotal_transaction_cents%3D%3E500%7D&metadata[qtoPtQmc9-OEabCsOqTrPQ%3D%3D]=%7B%3Aprice_cents%3D%3E1000%2C+%3Afee_cents%3D%3E120%2C+%3Aaffiliate_credit_cents%3D%3E0%2C+%3Agumroad_tax_cents%3D%3E0%2C+%3Atotal_transaction_cents%3D%3E1000%7D&transfer_group=CH-72&payment_method_types[0]=card&off_session=false&payment_method=pm_0OSf4S9e1RjUNIyYRMKZnNHs&statement_descriptor_suffix=edgar911d26a8127
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f44fba8c-2ce8-4674-97d9-324ca9d9ea5e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f44fba8c-2ce8-4674-97d9-324ca9d9ea5e
      Original-Request:
      - req_CSVsPCKC4Dc3Dk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSf4T9e1RjUNIyY1Dq9y9mV",
          "object": "payment_intent",
          "amount": 1500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSf4T9e1RjUNIyY1Dq9y9mV_secret_9t86NXT15uf0gSyeDmoaYCV52",
          "confirmation_method": "automatic",
          "created": 1703852509,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge YcNI1bKSqgFoa_RNyKa-SQ==",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "fztrFaFme_ZXVePDgfouRA==": "{:price_cents=>500, :fee_cents=>75, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>500}",
            "qtoPtQmc9-OEabCsOqTrPQ==": "{:price_cents=>1000, :fee_cents=>120, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>1000}"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSf4S9e1RjUNIyYRMKZnNHs",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar911d26a8127",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-72"
        }
  recorded_at: Fri, 29 Dec 2023 12:21:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSf4T9e1RjUNIyY1Dq9y9mV/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 761a6d94-1946-4979-bc12-563dfe28a714
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 761a6d94-1946-4979-bc12-563dfe28a714
      Original-Request:
      - req_0i7t2Vz4hlHmoQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_2OSf4T9e1RjUNIyY19LAYqln",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "payment_intent": {
              "id": "pi_2OSf4T9e1RjUNIyY1Dq9y9mV",
              "object": "payment_intent",
              "amount": 1500,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null[...]
