---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 905171aa-f742-415c-a46b-fee92ae2d7eb
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 905171aa-f742-415c-a46b-fee92ae2d7eb
      Original-Request:
      - req_KM7OzaMBRpJVra
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UGHXjIBOqvOFDrfb1nGZTTE",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 9,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1789560147,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Wed, 16 Sep 2026 12:02:27 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1UGHXjIBOqvOFDrfb1nGZTTE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=You+bought+http%3A%2F%2Fedgar04442fb810.test.gumroad.com%3A31337%2Fl%2Fe%21&metadata[purchase]=WpxYNquzKhtY9gFey_OMrw%3D%3D&transfer_group=66&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_1UGHXjIBOqvOFDrfb1nGZTTE&statement_descriptor_suffix=edgar04442fb810
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7cb7c1b4-aa1d-4a75-9d88-d60d5777628a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7cb7c1b4-aa1d-4a75-9d88-d60d5777628a
      Original-Request:
      - req_lM7UcPYK9gyEMq
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3UGHXkIBOqvOFDrf0l3upk6c",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3UGHXkIBOqvOFDrf0l3upk6c_secret_IO5MHHLlVuNYcJIUEGwzQQ0vC",
          "confirmation_method": "automatic",
          "created": 1789560148,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "You bought http://edgar04442fb810.test.gumroad.com:31337/l/e!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3UGHXkIBOqvOFDrf0xY7ZlM2",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "purchase": "WpxYNquzKhtY9gFey_OMrw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1UGHXjIBOqvOFDrfb1nGZTTE",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "payment_record": null,
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar04442fb810",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "66"
        }
  recorded_at: Wed, 16 Sep 2026 12:02:29 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3UGHXkIBOqvOFDrf0xY7ZlM2?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3UGHXkIBOqvOFDrf0xY7ZlM2",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3UGHXkIBOqvOFDrf0H5esGd5",
            "object": "balance_transaction",
            "amount": 1000,
            "available_on": 1790121600,
            "balance_type": "payments",
            "created": 1789560148,
            "currency": "usd",
            "description": "You bought http://edgar04442fb810.test.gumroad.com:31337/l/e!",
            "exchange_rate": null,
            "fee": 59,
            "fee_details": [
              {
                "amount": 59,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 941,
            "reporting_category": "charge",
            "source": "ch_3UGHXkIBOqvOFDrf0xY7ZlM2",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR04442FB81",
          "captured": true,
          "created": 1789560148,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar04442fb810.test.gumroad.com:31337/l/e!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "WpxYNquzKhtY9gFey_OMrw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 1,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3UGHXkIBOqvOFDrf0l3upk6c",
          "payment_method": "pm_1UGHXjIBOqvOFDrfb1nGZTTE",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "authorization_code": "169750",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 9,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "transaction_link_id": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKNWKqtUGMgZbCqJnM3U6LBa3LayUwQUH6P0SF9y4Do2ouCx1XWSHkOeG2e_SS-nGpUiWl6P-VZBtYPrg",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar04442fb810",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "66"
        }
  recorded_at: Wed, 16 Sep 2026 12:02:29 GMT
recorded_with: VCR 6.2.0
