---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/9UG44304FR485654R
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer A21AALnHREei9j2u1abv2Xm5wqdi4qylUQU-MXjdAynIWdL58sSFIL4zzumuLlFBCHXDqwz3PJocHWOruF8FXRvCyaNQW6V5w
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
      Paypal-Request-Id:
      - '1614091636170673'
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.7.2
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 9efda5886d9da
    body:
      encoding: UTF-8
      string: '{"id":"9UG44304FR485654R","intent":"CAPTURE","status":"COMPLETED","purchase_units":[{"reference_id":"gfdprhMocQjhVa7MLEAtIg==","amount":{"currency_code":"USD","value":"5.00","breakdown":{"item_total":{"currency_code":"USD","value":"5.00"},"shipping":{"currency_code":"USD","value":"0.00"},"handling":{"currency_code":"USD","value":"0.00"},"tax_total":{"currency_code":"USD","value":"0.00"},"insurance":{"currency_code":"USD","value":"0.00"},"shipping_discount":{"currency_code":"USD","value":"0.00"},"discount":{"currency_code":"USD","value":"0.00"}}},"payee":{"email_address":"sb-6intt2962376@business.example.com","merchant_id":"GSQ5PDPXZCWGW"},"payment_instruction":{"platform_fees":[{"amount":{"currency_code":"USD","value":"0.30"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>","merchant_id":"<PAYPAL_PARTNER_MERCHANT_ID>"}}]},"description":"Membership01","soft_descriptor":"PAYPAL
        *JOHNDOESTES SH","items":[{"name":"Membership01","unit_amount":{"currency_code":"USD","value":"5.00"},"tax":{"currency_code":"USD","value":"0.00"},"quantity":"1","sku":"jWHm"}],"shipping":{"name":{"full_name":"SHIBIN
        M"},"address":{}},"payments":{"captures":[{"id":"8FM61749P03946202","status":"COMPLETED","amount":{"currency_code":"USD","value":"5.00"},"final_capture":true,"disbursement_mode":"INSTANT","seller_protection":{"status":"ELIGIBLE","dispute_categories":["ITEM_NOT_RECEIVED","UNAUTHORIZED_TRANSACTION"]},"seller_receivable_breakdown":{"gross_amount":{"currency_code":"USD","value":"5.00"},"paypal_fee":{"currency_code":"USD","value":"0.45"},"platform_fees":[{"amount":{"currency_code":"USD","value":"0.30"},"payee":{"merchant_id":"<PAYPAL_PARTNER_MERCHANT_ID>"}}],"net_amount":{"currency_code":"USD","value":"4.25"}},"links":[{"href":"https://api.sandbox.paypal.com/v2/payments/captures/8FM61749P03946202","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/payments/captures/8FM61749P03946202/refund","rel":"refund","method":"POST"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/9UG44304FR485654R","rel":"up","method":"GET"}],"create_time":"2021-02-04T18:44:16Z","update_time":"2021-02-04T18:44:16Z"}]}}],"payer":{"name":{"given_name":"SHIBIN","surname":"M"},"email_address":"shibin+12@bigbinary.com","payer_id":"UK7HRLDYZGRA6","phone":{"phone_number":{"national_number":"9895682421"}},"address":{"country_code":"US"}},"update_time":"2021-02-04T18:44:16Z","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/9UG44304FR485654R","rel":"self","method":"GET"}]}'
  recorded_at: Tue, 23 Feb 2021 14:47:18 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/payments/captures/8FM61749P03946202/refund
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer A21AALnHREei9j2u1abv2Xm5wqdi4qylUQU-MXjdAynIWdL58sSFIL4zzumuLlFBCHXDqwz3PJocHWOruF8FXRvCyaNQW6V5w
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
      Paypal-Request-Id:
      - refund-8FM61749P03946202--1614091638140264
      Prefer:
      - return=representation
      Paypal-Auth-Assertion:
      - eyJhbGciOiJub25lIn0=.eyJwYXllcl9pZCI6IkdTUTVQRFBYWkNXR1ciLCJpc3MiOiJBYUR2TEl5RjBUVGVVQmpQQjAzcEFWR2NEUzVLQk16cWRyS3I1T1VFc3ZNZ0E2czlzM1M0d1pjVTRybVVQMjRaNzN4STZ4dGVjYjYyNWJsNiJ9.
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.7.2
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - fb971a367c42
    body:
      encoding: UTF-8
      string: '{"id":"7LT94143B0936091U","amount":{"currency_code":"USD","value":"5.00"},"seller_payable_breakdown":{"gross_amount":{"currency_code":"USD","value":"5.00"},"paypal_fee":{"currency_code":"USD","value":"0.15"},"platform_fees":[{"amount":{"currency_code":"USD","value":"0.30"}}],"net_amount":{"currency_code":"USD","value":"4.55"},"total_refunded_amount":{"currency_code":"USD","value":"5.00"}},"status":"COMPLETED","create_time":"2021-02-23T06:47:21-08:00","update_time":"2021-02-23T06:47:21-08:00","links":[{"href":"https://api.sandbox.paypal.com/v2/payments/refunds/7LT94143B0936091U","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/payments/captures/8FM61749P03946202","rel":"up","method":"GET"}]}'
  recorded_at: Tue, 23 Feb 2021 14:47:22 GMT
recorded_with: VCR 6.0.0
