---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=6059686443522&metadata[tos_agreement_id]=mN7CdHiwHaR9FlxKvF-n-g%3D%3D&metadata[user_compliance_info_id]=bEtKQ3Zu9SgNopem0-ZywA%3D%3D&metadata[bank_account_id]=mN7CdHiwHaR9FlxKvF-n-g%3D%3D&tos_acceptance[date]=1427846400&tos_acceptance[ip]=54.234.242.13&business_type=company&business_profile[name]=Buy+More%2C+LLC&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Buy+More%2C+LLC&company[name]=Buy+More%2C+LLC&company[address][line1]=address_full_match&company[address][city]=Burbank&company[address][state]=California&company[address][postal_code]=91506&company[address][country]=US&company[tax_id]=000000000&company[phone]=0000000000&company[directors_provided]=true&company[executives_provided]=true&company[structure]=sole_proprietorship&bank_account[country]=US&bank_account[currency]=usd&bank_account[account_number]=000123456789&bank_account[routing_number]=110000000&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d5dbc9a1-cce0-4fe8-80e3-66d44d51535f
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d5dbc9a1-cce0-4fe8-80e3-66d44d51535f
      Original-Request:
      - req_VUygYVAh1Hi0zJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1QQsw4S9OES9aqla",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "name": "Buy More, LLC",
            "product_description": "Buy More, LLC",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "company",
          "capabilities": {
            "card_payments": "inactive",
            "transfers": "inactive"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "Burbank",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "91506",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": "Buy More, LLC",
            "owners_provided": false,
            "phone": "0000000000",
            "structure": "sole_proprietorship",
            "tax_id_provided": true,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "US",
          "created": 1732981822,
          "default_currency": "usd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1QQsw5S9OES9aqlaiFJQ7lLe",
                "object": "bank_account",
                "account": "acct_1QQsw4S9OES9aqla",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard",
                  "instant"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "dx7dqwoGHEQDKLLK",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1QQsw4S9OES9aqla/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1717516800,
            "currently_due": [
              "representative.address.city",
              "representative.address.line1",
              "representative.address.postal_code",
              "representative.address.state",
              "representative.dob.day",
              "representative.dob.month",
              "representative.dob.year",
              "representative.email",
              "representative.first_name",
              "representative.last_name",
              "representative.phone",
              "representative.ssn_last_4"
            ],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [
              "representative.address.city",
              "representative.address.line1",
              "representative.address.postal_code",
              "representative.address.state",
              "representative.dob.day",
              "representative.dob.month",
              "representative.dob.year",
              "representative.email",
              "representative.first_name",
              "representative.id_number",
              "representative.last_name",
              "representative.phone",
              "representative.ssn_last_4"
            ],
            "past_due": [
              "representative.first_name",
              "representative.last_name"
            ],
            "pending_verification": [
              "business_profile.url",
              "company.address.city",
              "company.address.line1",
              "company.address.postal_code",
              "company.address.state",
              "company.tax_id"
            ]
          },
          "metadata": {
            "bank_account_id": "mN7CdHiwHaR9FlxKvF-n-g==",
            "tos_agreement_id": "mN7CdHiwHaR9FlxKvF-n-g==",
            "user_compliance_info_id": "bEtKQ3Zu9SgNopem0-ZywA==",
            "user_id": "6059686443522"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "representative.address.city",
              "representative.address.line1",
              "representative.address.postal_code",
              "representative.address.state",
              "representative.dob.day",
              "representative.dob.month",
              "representative.dob.year",
              "representative.email",
             [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1QQsw4S9OES9aqla/persons
    body:
      encoding: UTF-8
      string: first_name=Chuck&last_name=Bartowski&email=chuck%40gum.com&phone=0000000000&dob[day]=1&dob[month]=1&dob[year]=1901&address[line1]=address_full_match&address[city]=San+Francisco&address[state]=California&address[postal_code]=94107&address[country]=US&id_number=000000000&relationship[representative]=true&relationship[owner]=true&relationship[title]=CEO&relationship[percent_ownership]=100
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 03aa807c-4831-48cf-88e9-5aa86cc3f00d
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 03aa807c-4831-48cf-88e9-5aa86cc3f00d
      Original-Request:
      - req_INCl1P506bBjoJ
      Stripe-Account:
      - acct_1QQsw4S9OES9aqla
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "person_1QQsw8S9OES9aqlahtODYhTQ",
          "object": "person",
          "account": "acct_1QQsw4S9OES9aqla",
          "additional_tos_acceptances": {
            "account": {
              "date": null,
              "ip": null,
              "user_agent": null
            }
          },
          "address": {
            "city": "San Francisco",
            "country": "US",
            "line1": "address_full_match",
            "line2": null,
            "postal_code": "94107",
            "state": "California"
          },
          "created": 1732981825,
          "dob": {
            "day": 1,
            "month": 1,
            "year": 1901
          },
          "email": "chuck@gum.com",
          "first_name": "Chuck",
          "future_requirements": {
            "alternatives": [],
            "currently_due": [],
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "address.city",
              "address.line1",
              "address.postal_code",
              "address.state",
              "verification.document"
            ]
          },
          "id_number_provided": true,
          "last_name": "Bartowski",
          "metadata": {},
          "phone": "+10000000000",
          "relationship": {
            "authorizer": false,
            "director": false,
            "executive": false,
            "legal_guardian": false,
            "owner": true,
            "percent_ownership": 100.0,
            "representative": true,
            "title": "CEO"
          },
          "requirements": {
            "alternatives": [],
            "currently_due": [],
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "address.city",
              "address.line1",
              "address.postal_code",
              "address.state",
              "verification.document"
            ]
          },
          "ssn_last_4_provided": true,
          "verification": {
            "additional_document": {
              "back": null,
              "details": null,
              "details_code": null,
              "front": null
            },
            "details": null,
            "details_code": null,
            "document": {
              "back": null,
              "details": null,
              "details_code": null,
              "front": null
            },
            "status": "pending"
          }
        }
  recorded_at: Sat, 30 Nov 2024 15:50:27 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1QQsw4S9OES9aqla
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1QQsw[...]
