---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9709b4d6-df14-4014-a7d1-d9ce4849e623
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9709b4d6-df14-4014-a7d1-d9ce4849e623
      Original-Request:
      - req_Bn9quyEuxNoUU8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0R7I9d9e1RjUNIyYFsNF5H1w",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1743088537,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Thu, 27 Mar 2025 15:15:37 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0R7I9d9e1RjUNIyYFsNF5H1w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0R7I9d9e1RjUNIyYFsNF5H1w
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5a7696fb-7b75-4f35-990e-511c3cf5f3b4
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5a7696fb-7b75-4f35-990e-511c3cf5f3b4
      Original-Request:
      - req_cEUy4bdJ1cTXLG
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_S1KpMlI0t1u9fY",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1743088538,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "9F5B88A4",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 27 Mar 2025 15:15:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=You+bought+http%3A%2F%2Fedgar7bdc394a3.test.gumroad.com%3A31337%2Fl%2Fs%21&metadata[purchase]=Q8rB2ONyfQOcRDhKxwGhaA%3D%3D&transfer_group=4&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_S1KpMlI0t1u9fY&payment_method=pm_0R7I9d9e1RjUNIyYFsNF5H1w&statement_descriptor_suffix=edgar7bdc394a3
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8e84ca6f-ebf9-4b26-8a16-1661b6554dff
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8e84ca6f-ebf9-4b26-8a16-1661b6554dff
      Original-Request:
      - req_Ume7p4R0x5PMSI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2R7I9f9e1RjUNIyY1uLCqdeB",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2R7I9f9e1RjUNIyY1uLCqdeB_secret_iWxGvVe5mLCmPE4y7JyRCXwMl",
          "confirmation_method": "automatic",
          "created": 1743088539,
          "currency": "usd",
          "customer": "cus_S1KpMlI0t1u9fY",
          "description": "You bought http://edgar7bdc394a3.test.gumroad.com:31337/l/s!",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2R7I9f9e1RjUNIyY1vOksqgT",
          "livemode": false,
          "metadata": {
            "purchase": "Q8rB2ONyfQOcRDhKxwGhaA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0R7I9d9e1RjUNIyYFsNF5H1w",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar7bdc394a3",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "4"
        }
  recorded_at: Thu, 27 Mar 2025 15:15:39 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2R7I9f9e1RjUNIyY1vOksqgT?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2R7I9f9e1RjUNIyY1vOksqgT",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2R7I9f9e1RjUNIyY1fpRoDhm",
            "object": "balance_transaction",
            "amount": 1000,
            "available_on": 1743379200,
            "created": 1743088539,
            "currency": "usd",
            "description": "You bought http://edgar7bdc394a3.test.gumroad.com:31337/l/s!",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 1000,
            "reporting_category": "charge",
            "source": "ch_2R7I9f9e1RjUNIyY1vOksqgT",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGAR7BDC394A",
          "captured": true,
          "created": 1743088539,
          "currency": "usd",
          "customer": "cus_S1KpMlI0t1u9fY",
          "description": "You bought http://edgar7bdc394a3.test.gumroad.com:31337/l/s!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "Q8rB2ONyfQOcRDhKxwGhaA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 48,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2R7I9f9e1RjUNIyY1uLCqdeB",
          "payment_method": "pm_0R7I9d9e1RjUNIyYFsNF5H1w",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "authorization_code": null,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "875457497450891",
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUonNeVvwYyBsBMtXin8zosFjGuTkFTlPzT_IKS4cTVv4-R980Hh2Is46bhhv3K47NxA0geh0R4wuzUg7w",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar7bdc394a3",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "4"
        }
  recorded_at: Thu, 27 Mar 2025 15:15:40 GMT
recorded_with: VCR 6.2.0
