---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b6166f3a-ca72-4107-bc96-729a815a5a32
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b6166f3a-ca72-4107-bc96-729a815a5a32
      Original-Request:
      - req_t8d41bhSqCiD6T
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O7NHV9e1RjUNIyYWwHDh6oI",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698779237,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Thu, 01 Jan 2015 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7NHV9e1RjUNIyYWwHDh6oI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=22000&currency=usd&description=You+bought+http%3A%2F%2Fedgar4d28c1d6783.test.gumroad.com%3A31337%2Fl%2Fe&metadata[purchase]=_IdJ7Q6XICQHEXcFTpQmPw%3D%3D&transfer_group=678&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0O7NHV9e1RjUNIyYWwHDh6oI&statement_descriptor_suffix=edgar4d28c1d6783
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 03b72640-2921-4b6d-be43-ec9e31c50ff9
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 03b72640-2921-4b6d-be43-ec9e31c50ff9
      Original-Request:
      - req_kCuobFvp5Q8fe2
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O7NHW9e1RjUNIyY0poFW8k1",
          "object": "payment_intent",
          "amount": 22000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 22000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O7NHW9e1RjUNIyY0poFW8k1_secret_3AvGp9JSObdLBMpOxUEXHPVLL",
          "confirmation_method": "manual",
          "created": 1698779238,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar4d28c1d6783.test.gumroad.com:31337/l/e",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O7NHW9e1RjUNIyY0ptfzJJa",
          "livemode": false,
          "metadata": {
            "purchase": "_IdJ7Q6XICQHEXcFTpQmPw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7NHV9e1RjUNIyYWwHDh6oI",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar4d28c1d6783",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "678"
        }
  recorded_at: Thu, 01 Jan 2015 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7NHW9e1RjUNIyY0ptfzJJa?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O7NHW9e1RjUNIyY0ptfzJJa",
          "object": "charge",
          "amount": 22000,
          "amount_captured": 22000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O7NHW9e1RjUNIyY0miS4ksR",
            "object": "balance_transaction",
            "amount": 22000,
            "available_on": 1698883200,
            "created": 1698779238,
            "currency": "usd",
            "description": "You bought http://edgar4d28c1d6783.test.gumroad.com:31337/l/e",
            "exchange_rate": null,
            "fee": 470,
            "fee_details": [
              {
                "amount": 470,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 21530,
            "reporting_category": "charge",
            "source": "ch_2O7NHW9e1RjUNIyY0ptfzJJa",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR4D28C1",
          "captured": true,
          "created": 1698779238,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar4d28c1d6783.test.gumroad.com:31337/l/e",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "_IdJ7Q6XICQHEXcFTpQmPw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 11,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O7NHW9e1RjUNIyY0poFW8k1",
          "payment_method": "pm_0O7NHV9e1RjUNIyYWwHDh6oI",
          "payment_method_details": {
            "card": {
              "amount_authorized": 22000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 22000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo6KCFqgYyBvd7ryLb-josFil9-YlzWjegwQp3p5mxiFWjQEJ85DE1-qLuDgpoyOV6FnQNq7kQzKGyoZI",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar4d28c1d6783",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "678"
        }
  recorded_at: Thu, 01 Jan 2015 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7NHY9e1RjUNIyYc1YDFjPW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7NHa9e1RjUNIyY05kXS7D7?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7NHa9e1RjUNIyY05kXS7D7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2O7NHa9e1RjUNIyY05kXS7D7&amount=2000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 155cedf9-e204-4d90-90d6-56bac3a2049e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 155cedf9-e204-4d90-90d6-56bac3a2049e
      Original-Request:
      - req_rOlMf4FN1hJcoS
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2O7NHa9e1RjUNIyY0AUDBRoI",
          "object": "refund",
          "amount": 2000,
          "balance_transaction": "txn_2O7NHa9e1RjUNIyY0U68vDrT",
          "charge": "ch_2O7NHa9e1RjUNIyY05kXS7D7",
          "created": 1698779245,
          "currency": "usd",
          "metadata": {},
          "payment_intent": "pi_2O7NHa9e1RjUNIyY0dBbhWFQ",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Thu, 01 Jan 2015 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2O7NHa9e1RjUNIyY0AUDBRoI?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7NHa9e1RjUNIyY05kXS7D7?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7NHe9e1RjUNIyYyx2pOi1H
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7NHg9e1RjUNIyY0kId7jVg?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7NHi9e1RjUNIyYj7d4kJaX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7NHj9e1RjUNIyY1YlBnedI?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7NHl9e1RjUNIyYSigw71KA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7NHm9e1RjUNIyY1e27CrGo?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7NHp9e1RjUNIyYxtDrR6qE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7NHq9e1RjUNIyY0MaXIxJn?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-01-01.json?app_id=<OPEN_EXCHANGE_RATES_APP_ID>&base=AUD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4ab80c17fca3ac258599b7f4a5d93e4e"
      Last-Modified:
      - Thu, 01 Jan 2015 17:00:00 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "disclaimer": "Usage subject to terms: https://openexchangerates.org/terms",
          "license": "https://openexchangerates.org/license",
          "timestamp": 1420131600,
          "base": "AUD",
          "rates": {
            "AED": 2.991209,
            "AFN": 47.496162,
            "ALL": 94.515418,
            "AMD": 387.376162,
            "ANG": 1.457365,
            "AOA": 83.926514,
            "ARS": 6.939278,
            "AUD": 1,
            "AWG": 1.457756,
            "AZN": 0.6381,
            "BAM": 1.320473,
            "BBD": 1.628777,
            "BDT": 63.80063,
            "BGN": 1.317892,
            "BHD": 0.307262,
            "BIF": 1269.952222,
            "BMD": 0.814389,
            "BND": 1.082928,
            "BOB": 5.649186,
            "BRL": 2.164295,
            "BSD": 0.814389,
            "BTC": 0.002593297012,
            "BTN": 51.516127,
            "BWP": 7.7841,
            "BYR": 8949.703359,
            "BZD": 1.633973,
            "CAD": 0.948394,
            "CDF": 754.080834,
            "CHF": 0.812169,
            "CLF": 0.020075,
            "CLP": 493.525208,
            "CNY": 5.04509,
            "COP": 1942.523166,
            "CRC": 441.799308,
            "CUP": 0.817575,
            "CVE": 74.303962,
            "CZK": 18.712712,
            "DJF": 145.542746,
            "DKK": 5.027901,
            "DOP": 36.245392,
            "DZD": 71.676468,
            "EEK": 10.552379,
            "EGP": 5.828192,
            "ERN": 12.295212,
            "ETB": 16.524173,
            "EUR": 0.676066,
            "FJD": 1.618773,
            "FKP": 0.524549,
            "GBP": 0.524549,
            "GEL": 1.437803,
            "GGP": 0.524549,
            "GHS": 2.621118,
            "GIP": 0.524549,
            "GMD": 35.044771,
            "GNF": 5733.005406,
            "GTQ": 6.214086,
            "GYD": 168.831924,
            "HKD": 6.315721,
            "HNL": 17.19018,
            "HRK": 5.176837,
            "HTG": 38.059564,
            "HUF": 214.186406,
            "IDR": 10183.454716,
            "ILS": 3.188576,
            "IMP": 0.524549,
            "INR": 51.552412,
            "IQD": 949.271747,
            "IRR": 22099.792467,
            "ISK": 103.948564,
            "JEP": 0.524549,
            "JMD": 93.516245,
            "JOD": 0.577623,
            "JPY": 97.94480888,
            "KES": 73.944768,
            "KGS": 47.963988,
            "KHR": 3321.637301,
            "KMF": 331.980596,
            "KPW": 732.949756,
            "KRW": 896.507501,
            "KWD": 0.238774,
            "KYD": 0.675855,
            "KZT": 149.432168,
            "LAK": 6620.137931,
            "LBP": 1234.178805,
            "LKR": 106.910575,
            "LRD": 74.509107,
            "LSL": 9.470517,
            "LTL": 2.332484,
            "LVL": 0.474335,
            "LYD": 0.982143,
            "MAD": 7.40177,
            "MDL": 12.760883,
            "MGA": 2100.05033,
            "MKD": 41.217006,
            "MMK": 841.548465,
            "MNT": 1534.715351,
            "MOP": 6.53274,
            "MRO": 238.86018,
            "MTL": 0.556828,
            "MUR": 25.838832,
            "MVR": 12.481239,
            "MWK": 384.725327,
            "MXN": 12.030181,
            "MYR": 2.86313,
            "MZN": 27.45847,
            "NAD": 9.470517,
            "NGN": 149.734305,
            "NIO": 21.717073,
            "NOK": 6.109271,
            "NPR": 82.597949,
            "NZD": 1.050114,
            "OMR": 0.313553,
            "PAB": 0.814389,
            "PEN": 2.442539,
            "PGK": 2.117023,
            "PHP": 36.445804,
            "PKR": 82.261883,
            "PLN": 2.905015,
            "PYG": 3790.512096,
            "QAR": 2.965506,
            "RON": 3.030389,
            "RSD": 81.707016,
            "RUB": 49.199334,
            "RWF": 564.287789,
            "SAR": 3.057093,
            "SBD": 6.137103,
            "SCR": 10.774352,
            "SDG": 4.655141,
            "SEK": 6.376863,
            "SGD": 1.08132,
            "SHP": 0.524549,
            "SLL": 3436.719968,
            "SOS": 584.974705,
            "SRD": 2.677303,
            "STD": 16522.044822,
            "SVC": 7.170838,
            "SYP": 146.301359,
            "SZL": 9.470599,
            "THB": 26.839284,
            "TJS": 4.250294,
            "TMT": 2.321089,
            "TND": 1.521465,
            "TOP": 1.606489,
            "TRY": 1.908428,
            "TTD": 5.21453,
            "TWD": 25.861448,
            "TZS": 1414.891625,
            "UAH": 12.936237,
            "UGX": 2265.656282,
            "USD": 0.814389,
            "UYU": 19.749445,
            "UZS": 1977.552708,
            "VEF": 5.143373,
            "VND": 17428.730816,
            "VUV": 83.841308,
            "WST": 1.959603,
            "XAF": 443.258695,
            "XAG": 0.05186529,
            "XAU": 0.00068646,
            "XCD": 2.200022,
            "XDR": 0.563322,
            "XOF": 443.394356,
            "XPF": 80.452458,
            "YER": 175.059349,
            "ZAR": 9.469084,
            "ZMK": 4278.044698,
            "ZMW": 5.226726,
            "ZWL": 262.522248
          }
        }
  recorded_at: Tue, 31 Oct 2023 19:07:41 GMT
[...]
