---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1696a5ae-428d-482e-a1ec-4f96abe5d89d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1696a5ae-428d-482e-a1ec-4f96abe5d89d
      Original-Request:
      - req_op7m0SFsTLbBlb
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfY09e1RjUNIyYcU7xhWku",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703854340,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:52:20 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSfY09e1RjUNIyYcU7xhWku
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 55ae3bb0-a048-4b02-9423-e80e3dd4b7bf
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 55ae3bb0-a048-4b02-9423-e80e3dd4b7bf
      Original-Request:
      - req_CjGx7mCiBFd1Qf
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHE0c2Tj5QHqR4",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703854341,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "51EE3F41",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:52:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSfY09e1RjUNIyYcU7xhWku&customer=cus_PHE0c2Tj5QHqR4&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 446a41c9-1433-42a0-bd5a-5c22526bf831
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 446a41c9-1433-42a0-bd5a-5c22526bf831
      Original-Request:
      - req_UiCvMRcC77oHil
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OSfY29e1RjUNIyYsbY0sHFr",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OSfY29e1RjUNIyYsbY0sHFr_secret_PHE0zaLQCkoEj2AEeY3hYmdbJE6SnH5",
          "created": 1703854342,
          "customer": "cus_PHE0c2Tj5QHqR4",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0OSfY29e1RjUNIyYuf2w6eQU",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfY09e1RjUNIyYcU7xhWku",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Fri, 29 Dec 2023 12:52:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfY09e1RjUNIyYcU7xhWku
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500&currency=usd&description=You+bought+http%3A%2F%2Fedgar22b5f6c2331.test.gumroad.com%3A31337%2Fl%2Fk&metadata[purchase]=7lPjK1fljyMR_929BBDdrQ%3D%3D&transfer_group=394&payment_method_types[0]=card&customer=cus_PHE0c2Tj5QHqR4&payment_method=pm_0OSfY09e1RjUNIyYcU7xhWku&statement_descriptor_suffix=edgar22b5f6c2331
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f8d7c1c4-d3c4-4d61-8e73-5d41bafcafae
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f8d7c1c4-d3c4-4d61-8e73-5d41bafcafae
      Original-Request:
      - req_CIDmSg7wE0qP8W
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSfY39e1RjUNIyY0IRFcH1Q",
          "object": "payment_intent",
          "amount": 500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSfY39e1RjUNIyY0IRFcH1Q_secret_qj7TBV2GNO8qJJ7K9FgMLx0Ny",
          "confirmation_method": "automatic",
          "created": 1703854343,
          "currency": "usd",
          "customer": "cus_PHE0c2Tj5QHqR4",
          "description": "You bought http://edgar22b5f6c2331.test.gumroad.com:31337/l/k",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchase": "7lPjK1fljyMR_929BBDdrQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfY09e1RjUNIyYcU7xhWku",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar22b5f6c2331",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "394"
        }
  recorded_at: Fri, 29 Dec 2023 12:52:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSfY39e1RjUNIyY0IRFcH1Q/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 594fed01-984e-49d2-a3b3-daf9d24daf3c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSfY39e1RjUNIyY00QDPmWp?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OSfY39e1RjUNIyY00QDPmWp",
          "object": "charge",
          "amount": 500,
          "amount_captured": 500,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OSfY39e1RjUNIyY0b9Ko3gX",
            "object": "balance_transaction",
            "amount": 500,
            "available_on": 1704240000,
            "created": 1703854344,
            "currency": "usd",
            "description": "You bought http://edgar22b5f6c2331.test.gumroad.com:31337/l/k",
            "exchange_rate": null,
            "fee": 30,
            "fee_details": [
              {
                "amount": 30,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 470,
            "reporting_category": "charge",
            "source": "ch_2OSfY39e1RjUNIyY00QDPmWp",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR22B5F6",
          "captured": true,
          "created": 1703854344,
          "currency": "usd",
          "customer": "cus_PHE0c2Tj5QHqR4",
          "description": "You bought http://edgar22b5f6c2331.test.gumroad.com:31337/l/k",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "7lPjK1fljyMR_929BBDdrQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 23,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OSfY39e1RjUNIyY0IRFcH1Q",
          "payment_method": "pm_0OSfY09e1RjUNIyYcU7xhWku",
          "payment_method_details": {
            "card": {
              "amount_authorized": 500,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 500,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoioK7rAYyBqZlqosYdTosFkDNzlZ3nb-wTMEW2KZ4UVVAC8I6LJzXiJ5wb4Lpe19ho9eefBC3LFmQYaI",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar22b5f6c2331",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "394"
        }
  recorded_at: Fri, 29 Dec 2023 12:52:26 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSfY79e1RjUNIyY0VVnj0uz/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7387ab21-ed43-4da0-89a5-a84655554c03
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSfY79e1RjUNIyY0nsjQBuT?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
