---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b3dec0d1-6eb1-48a2-b343-90a9d3636345
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b3dec0d1-6eb1-48a2-b343-90a9d3636345
      Original-Request:
      - req_f3o9fsP5DtrWbD
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6xAK9e1RjUNIyYmrjc6O3K",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698678848,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 15:14:08 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xAK9e1RjUNIyYmrjc6O3K
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O6xAK9e1RjUNIyYmrjc6O3K
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a7470d13-f808-4a26-b6a8-ac66925751c0
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a7470d13-f808-4a26-b6a8-ac66925751c0
      Original-Request:
      - req_vR3YlVK9eRw4zd
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Oumjs9vDn2zhXA",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698678849,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "3701DFB4",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 15:14:10 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xAM9e1RjUNIyYa4MTQJxR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xAO9e1RjUNIyY6Lmy0XKg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=4000&currency=usd&description=You+bought+http%3A%2F%2Fedgar4e0b01b8201.test.gumroad.com%3A31337%2Fl%2Fa&metadata[purchase]=YH_Pds6Qez4hrD7xvd-GcA%3D%3D&transfer_group=124&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OumjvOSJDHpaMU&payment_method=pm_0O6xAO9e1RjUNIyY6Lmy0XKg&statement_descriptor_suffix=edgar4e0b01b8201
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5af3eb49-3efc-48b0-b6be-0493ad0fb115
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5af3eb49-3efc-48b0-b6be-0493ad0fb115
      Original-Request:
      - req_Dcm3Yry65tHegq
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6xAR9e1RjUNIyY0bPSOdlw",
          "object": "payment_intent",
          "amount": 4000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 4000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6xAR9e1RjUNIyY0bPSOdlw_secret_qgnwLXOeN2fWt6sOGn2NsznN1",
          "confirmation_method": "manual",
          "created": 1698678855,
          "currency": "usd",
          "customer": "cus_OumjvOSJDHpaMU",
          "description": "You bought http://edgar4e0b01b8201.test.gumroad.com:31337/l/a",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6xAR9e1RjUNIyY0UIDCTEf",
          "livemode": false,
          "metadata": {
            "purchase": "YH_Pds6Qez4hrD7xvd-GcA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6xAO9e1RjUNIyY6Lmy0XKg",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar4e0b01b8201",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "124"
        }
  recorded_at: Mon, 30 Oct 2023 15:14:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6xAR9e1RjUNIyY0UIDCTEf?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6xAR9e1RjUNIyY0UIDCTEf",
          "object": "charge",
          "amount": 4000,
          "amount_captured": 4000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6xAR9e1RjUNIyY0vRcC1qZ",
            "object": "balance_transaction",
            "amount": 4000,
            "available_on": 1698796800,
            "created": 1698678855,
            "currency": "usd",
            "description": "You bought http://edgar4e0b01b8201.test.gumroad.com:31337/l/a",
            "exchange_rate": null,
            "fee": 110,
            "fee_details": [
              {
                "amount": 110,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 3890,
            "reporting_category": "charge",
            "source": "ch_2O6xAR9e1RjUNIyY0UIDCTEf",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR4E0B01",
          "captured": true,
          "created": 1698678855,
          "currency": "usd",
          "customer": "cus_OumjvOSJDHpaMU",
          "description": "You bought http://edgar4e0b01b8201.test.gumroad.com:31337/l/a",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "YH_Pds6Qez4hrD7xvd-GcA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 13,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6xAR9e1RjUNIyY0bPSOdlw",
          "payment_method": "pm_0O6xAO9e1RjUNIyY6Lmy0XKg",
          "payment_method_details": {
            "card": {
              "amount_authorized": 4000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 4000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoyJD_qQYyBmnZcR17-DosFt5RCNHqohi1oTYiRNlaCx-vH7WRNMPxuqsX9E9oVBCMUS2UYqnzzwzwUZw",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar4e0b01b8201",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "124"
        }
  recorded_at: Mon, 30 Oct 2023 15:14:17 GMT
recorded_with: VCR 6.2.0
