---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/test_helpers/confirmation_tokens
    body:
      encoding: UTF-8
      string: payment_method=pm_card_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f3741ac8-e057-4c31-a99f-972c6a50009f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f3741ac8-e057-4c31-a99f-972c6a50009f
      Original-Request:
      - req_nuCmgbwi8lXono
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ctoken_1ToT4dIBOqvOFDrf6CILmcQk",
          "object": "confirmation_token",
          "created": 1782931287,
          "expires_at": 1782974487,
          "livemode": false,
          "mandate_data": null,
          "payment_intent": null,
          "payment_method_options": null,
          "payment_method_preview": {
            "allow_redisplay": "unspecified",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null,
              "tax_id": null
            },
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "unchecked"
              },
              "country": "US",
              "display_brand": "visa",
              "exp_month": 7,
              "exp_year": 2027,
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "generated_from": null,
              "last4": "4242",
              "networks": {
                "available": [
                  "visa"
                ],
                "preferred": null
              },
              "regulated_status": "unregulated",
              "three_d_secure_usage": {
                "supported": true
              },
              "wallet": null
            },
            "customer": null,
            "customer_account": null,
            "type": "card"
          },
          "return_url": null,
          "setup_future_usage": null,
          "setup_intent": null,
          "shipping": null,
          "use_stripe_sdk": true
        }
  recorded_at: Wed, 01 Jul 2026 18:41:27 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/confirmation_tokens/ctoken_1ToT4dIBOqvOFDrf6CILmcQk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an o[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=Gumroad+Charge+qp6ot3dK-4snDhgxWk2Wpw%3D%3D&metadata[purchase]=CH-qp6ot3dK-4snDhgxWk2Wpw%3D%3D&payment_method_types[0]=card&transfer_group=CH-280&statement_descriptor_suffix=edgar090fc7135
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - deferred_intent_qp6ot3dK-4snDhgxWk2Wpw==_ctoken_1ToT4dIBOqvOFDrf6CILmcQk
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - deferred_intent_qp6ot3dK-4snDhgxWk2Wpw==_ctoken_1ToT4dIBOqvOFDrf6CILmcQk
      Original-Request:
      - req_rGXL8xla1HpavU
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3ToT4dIBOqvOFDrf19r0gc7U",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3ToT4dIBOqvOFDrf19r0gc7U_secret_1PZgIkSf4FXiHN5XpbZeOVXVd",
          "confirmation_method": "automatic",
          "created": 1782931287,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "Gumroad Charge qp6ot3dK-4snDhgxWk2Wpw==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "purchase": "CH-qp6ot3dK-4snDhgxWk2Wpw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar090fc7135",
          "status": "requires_payment_method",
          "transfer_data": null,
          "transfer_group": "CH-280"
        }
  recorded_at: Wed, 01 Jul 2026 18:41:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3ToT4dIBOqvOFDrf19r0gc7U/confirm
    body:
      encoding: UTF-8
      string: payment_method=pm_card_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 74bc340b-c4c7-401f-8743-398deb78ea0e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
 [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3ToT4dIBOqvOFDrf19r0gc7U
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3ToT4dIBOqvOFDrf1WZ6uOTP?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3ToT4dIBOqvOFDrf1WZ6uOTP",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3ToT4dIBOqvOFDrf1JPbVXGE",
            "object": "balance_transaction",
            "amount": 1000,
            "available_on": 1783468800,
            "balance_type": "payments",
            "created": 1782931287,
            "currency": "usd",
            "description": "Gumroad Charge qp6ot3dK-4snDhgxWk2Wpw==",
            "exchange_rate": null,
            "fee": 59,
            "fee_details": [
              {
                "amount": 59,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 941,
            "reporting_category": "charge",
            "source": "ch_3ToT4dIBOqvOFDrf1WZ6uOTP",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR090FC7135",
          "captured": true,
          "created": 1782931287,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge qp6ot3dK-4snDhgxWk2Wpw==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "CH-qp6ot3dK-4snDhgxWk2Wpw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 12,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3ToT4dIBOqvOFDrf19r0gc7U",
          "payment_method": "pm_1ToT4dIBOqvOFDrfk1SEkufF",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "authorization_code": "067289",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "ds_transaction_id": null,
              "exp_month": 7,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "transaction_link_id": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKNi-ldIGMgbO-zUquig6LBZ6vBR9TvDHv0ZHgGqf-msYqUbGjsjQMhe-PbGaSJ7EU3aEtqvTXvZHSHER",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar090fc7135",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-280"
        }
  recorded_at: Wed, 01 Jul 2026 18:41:28 GMT
[...]
