---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0ac85b49-a789-4ea8-96ba-c2e82ecdc0ec
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0ac85b49-a789-4ea8-96ba-c2e82ecdc0ec
      Original-Request:
      - req_OVd4i3TEuG5y3v
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SOZiNIBOqvOFDrf9OYKlTHV",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 11,
            "exp_year": 2026,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1761983951,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sat, 01 Nov 2025 07:59:11 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SOZiNIBOqvOFDrf9OYKlTHV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&description=Gumroad+Charge+7NQiJ_e3GYHC5TspmgyNxQ%3D%3D&metadata[purchases%7B0%7D]=7xTCSDUkO6le8Rkn1kPX8Q%3D%3D%2CtbvtHFXy8CA57BEBWep4OA%3D%3D&transfer_group=CH-400&payment_method_types[0]=card&off_session=false&payment_method=pm_1SOZiNIBOqvOFDrf9OYKlTHV&statement_descriptor_suffix=edgara6b7150d1
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6f2e2525-fe99-4e59-af15-5d76b55697e3
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6f2e2525-fe99-4e59-af15-5d76b55697e3
      Original-Request:
      - req_FGVjvf8fhpBARs
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SOZiOIBOqvOFDrf0F820Xhp",
          "object": "payment_intent",
          "amount": 3000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SOZiOIBOqvOFDrf0F820Xhp_secret_fXqpYEZ3Lo2gMTMQS1gVU9Jku",
          "confirmation_method": "automatic",
          "created": 1761983952,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge 7NQiJ_e3GYHC5TspmgyNxQ==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "7xTCSDUkO6le8Rkn1kPX8Q==,tbvtHFXy8CA57BEBWep4OA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SOZiNIBOqvOFDrf9OYKlTHV",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgara6b7150d1",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-400"
        }
  recorded_at: Sat, 01 Nov 2025 07:59:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SOZiOIBOqvOFDrf0F820Xhp/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - dacda522-88ca-4d90-81c3-e7b60f3bdd99
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SOZiOIBOqvOFDrf0nkc6Nua?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SOZiOIBOqvOFDrf0nkc6Nua",
          "object": "charge",
          "amount": 3000,
          "amount_captured": 3000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SOZiOIBOqvOFDrf0qxj3q09",
            "object": "balance_transaction",
            "amount": 3000,
            "available_on": 1762560000,
            "balance_type": "payments",
            "created": 1761983952,
            "currency": "usd",
            "description": "Gumroad Charge 7NQiJ_e3GYHC5TspmgyNxQ==",
            "exchange_rate": null,
            "fee": 117,
            "fee_details": [
              {
                "amount": 117,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 2883,
            "reporting_category": "charge",
            "source": "ch_3SOZiOIBOqvOFDrf0nkc6Nua",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGARA6B7150D1",
          "captured": true,
          "created": 1761983952,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge 7NQiJ_e3GYHC5TspmgyNxQ==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "7xTCSDUkO6le8Rkn1kPX8Q==,tbvtHFXy8CA57BEBWep4OA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 46,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SOZiOIBOqvOFDrf0F820Xhp",
          "payment_method": "pm_1SOZiNIBOqvOFDrf9OYKlTHV",
          "payment_method_details": {
            "card": {
              "amount_authorized": 3000,
              "authorization_code": "365562",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 11,
              "exp_year": 2026,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 3000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKNH7lsgGMgab1kHzs7k6LBbc-0gMbiz1mBS8vLTShBAWOAeZd_fXU_XF8LtpdUDcRYMhCIOLex55kuMp",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgara6b7150d1",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-400"
        }
  recorded_at: Sat, 01 Nov 2025 07:59:13 GMT
recorded_with: VCR 6.2.0
