---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 47bcdd34-ea2c-4f14-a061-155a01310413
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 47bcdd34-ea2c-4f14-a061-155a01310413
      Original-Request:
      - req_oI2twLQ9RQlkhx
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SOZlzIBOqvOFDrf08IBL0rv",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 11,
            "exp_year": 2026,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1761984175,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sat, 01 Nov 2025 08:02:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_1SOZlzIBOqvOFDrf08IBL0rv
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b92d5428-383c-4a61-9a8f-859c1169e630
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b92d5428-383c-4a61-9a8f-859c1169e630
      Original-Request:
      - req_UIIqYa9CNvOJn8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TLGI6EZ6tRt7uD",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1761984176,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "8VHX6ZE1",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 01 Nov 2025 08:02:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_1SOZlzIBOqvOFDrf08IBL0rv&customer=cus_TLGI6EZ6tRt7uD&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 99474698-d521-452a-82a3-d34b245be026
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 99474698-d521-452a-82a3-d34b245be026
      Original-Request:
      - req_shBh2sJ1oDlc99
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1SOZm0IBOqvOFDrfzL6Rkze7",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_1SOZm0IBOqvOFDrfzL6Rkze7_secret_TLGIDkqA43fEZHm2zNdXUKilgfYdQKc",
          "created": 1761984176,
          "customer": "cus_TLGI6EZ6tRt7uD",
          "description": null,
          "excluded_payment_method_types": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_1SOZm0IBOqvOFDrfOK6kl3Qz",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SOZlzIBOqvOFDrf08IBL0rv",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Sat, 01 Nov 2025 08:02:57 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SOZlzIBOqvOFDrf08IBL0rv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&description=Gumroad+Charge+Lg32UWpEXfqzMsMu4tuncg%3D%3D&metadata[purchases%7B0%7D]=CWaw7wmMGqWex2Um14AydA%3D%3D%2CZLSj_GjcKlfXFlIz0aZnUQ%3D%3D&transfer_group=CH-410&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_TLGI6EZ6tRt7uD&payment_method=pm_1SOZlzIBOqvOFDrf08IBL0rv&statement_descriptor_suffix=edgar3e9dd8ec10
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 326be4b1-2cb8-461a-9479-e3c284269487
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 326be4b1-2cb8-461a-9479-e3c284269487
      Original-Request:
      - req_qcPlX1dBu9NHFU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SOZm2IBOqvOFDrf0VZrBuSB",
          "object": "payment_intent",
          "amount": 3000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 3000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SOZm2IBOqvOFDrf0VZrBuSB_secret_alOZ8YV4jdpvp8bKPRcKacd6S",
          "confirmation_method": "automatic",
          "created": 1761984178,
          "currency": "usd",
          "customer": "cus_TLGI6EZ6tRt7uD",
          "description": "Gumroad Charge Lg32UWpEXfqzMsMu4tuncg==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SOZm2IBOqvOFDrf0AjZBK8F",
          "livemode": false,
          "metadata": {
            "purchases{0}": "CWaw7wmMGqWex2Um14AydA==,ZLSj_GjcKlfXFlIz0aZnUQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SOZlzIBOqvOFDrf08IBL0rv",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar3e9dd8ec10",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-410"
        }
  recorded_at: Sat, 01 Nov 2025 08:02:59 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SOZm2IBOqvOFDrf0AjZBK8F?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SOZm2IBOqvOFDrf0AjZBK8F",
          "object": "charge",
          "amount": 3000,
          "amount_captured": 3000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SOZm2IBOqvOFDrf0NWg0lZe",
            "object": "balance_transaction",
            "amount": 3000,
            "available_on": 1762560000,
            "balance_type": "payments",
            "created": 1761984178,
            "currency": "usd",
            "description": "Gumroad Charge Lg32UWpEXfqzMsMu4tuncg==",
            "exchange_rate": null,
            "fee": 117,
            "fee_details": [
              {
                "amount": 117,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 2883,
            "reporting_category": "charge",
            "source": "ch_3SOZm2IBOqvOFDrf0AjZBK8F",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR3E9DD8EC1",
          "captured": true,
          "created": 1761984178,
          "currency": "usd",
          "customer": "cus_TLGI6EZ6tRt7uD",
          "description": "Gumroad Charge Lg32UWpEXfqzMsMu4tuncg==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "CWaw7wmMGqWex2Um14AydA==,ZLSj_GjcKlfXFlIz0aZnUQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 35,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SOZm2IBOqvOFDrf0VZrBuSB",
          "payment_method": "pm_1SOZlzIBOqvOFDrf08IBL0rv",
          "payment_method_details": {
            "card": {
              "amount_authorized": 3000,
              "authorization_code": "951582",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 11,
              "exp_year": 2026,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 3000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKLP9lsgGMgYR_RXtEiM6LBYtCRJ2ceUMEhlCdI1Y0s0E0ouvW4eisycu1N1mDEdIWIZsR7i_TIWSqE59",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar3e9dd8ec10",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-410"
        }
  recorded_at: Sat, 01 Nov 2025 08:02:59 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SOZm4IBOqvOFDrf1BAKwMHL?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SOZm6IBOqvOFDrf1VxXKTpg?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
