---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - cbdee9b3-6cbc-429a-8361-3dc0247911ad
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cbdee9b3-6cbc-429a-8361-3dc0247911ad
      Original-Request:
      - req_44piLx7mx0Ckpp
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0QAEOh9e1RjUNIyYj81j2ZEq",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1729012743,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 15 Oct 2024 17:19:04 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0QAEOh9e1RjUNIyYj81j2ZEq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0QAEOh9e1RjUNIyYj81j2ZEq
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d8ac9adc-9beb-4de5-ab56-228e7f5f67d0
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d8ac9adc-9beb-4de5-ab56-228e7f5f67d0
      Original-Request:
      - req_VqGihBhpVfnTF7
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_R2J0OeN1YzqEjv",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1729012745,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "508276B3",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 15 Oct 2024 17:19:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: customer=cus_R2J0OeN1YzqEjv&payment_method=pm_0QAEOh9e1RjUNIyYj81j2ZEq
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7959e56d-ff33-4aec-923d-93e1ce32e49c
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1QADdCGy0w4tFIUe
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7959e56d-ff33-4aec-923d-93e1ce32e49c
      Original-Request:
      - req_haXU8NaoexNY0s
      Stripe-Account:
      - acct_1QADdCGy0w4tFIUe
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&description=Gumroad+Charge+G_-mnBf9b1j9A7a4ub4nFQ%3D%3D&metadata[purchases%7B0%7D]=G_-mnBf9b1j9A7a4ub4nFQ%3D%3D%2CP5ppE6H8XIjy2JSCgUhbAw%3D%3D&transfer_group=CH-1&payment_method_types[0]=card&off_session=false&payment_method=pm_1QAEOjGy0w4tFIUeexdt2NAL&statement_descriptor_suffix=edgarb9c3d1be1&application_fee_amount=0
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fd0b1311-71f3-4976-9006-182c6d7188fb
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1QADdCGy0w4tFIUe
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fd0b1311-71f3-4976-9006-182c6d7188fb
      Original-Request:
      - req_5OLcZpOBvA8a7m
      Stripe-Account:
      - acct_1QADdCGy0w4tFIUe
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3QAEOkGy0w4tFIUe1vgkPoLT",
          "object": "payment_intent",
          "amount": 3000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee_amount": 0,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3QAEOkGy0w4tFIUe1vgkPoLT_secret_b2AKms4TRmpKKwUvyvu6GVgS8",
          "confirmation_method": "automatic",
          "created": 1729012746,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge G_-mnBf9b1j9A7a4ub4nFQ==",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "G_-mnBf9b1j9A7a4ub4nFQ==,P5ppE6H8XIjy2JSCgUhbAw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1QAEOjGy0w4tFIUeexdt2NAL",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarb9c3d1be1",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-1"
        }
  recorded_at: Tue, 15 Oct 2024 17:19:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3QAEOkGy0w4tFIUe1vgkPoLT/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a1fb2541-549f-4c5b-b677-5830f097ce74
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1QADdCGy0w4tFIUe
  response:
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3QAEOkGy0w4tFIUe14Q3f4yU?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1QADdCGy0w4tFIUe
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1QADdCGy0w4tFIUe
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3QAEOkGy0w4tFIUe14Q3f4yU",
          "object": "charge",
          "amount": 3000,
          "amount_captured": 3000,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": 0,
          "balance_transaction": {
            "id": "txn_3QAEOkGy0w4tFIUe1Cp0kaey",
            "object": "balance_transaction",
            "amount": 16638,
            "available_on": 1729555200,
            "created": 1729012747,
            "currency": "brl",
            "description": "Gumroad Charge G_-mnBf9b1j9A7a4ub4nFQ==",
            "exchange_rate": 5.546,
            "fee": 703,
            "fee_details": [
              {
                "amount": 703,
                "application": null,
                "currency": "brl",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 15935,
            "reporting_category": "charge",
            "source": "ch_3QAEOkGy0w4tFIUe14Q3f4yU",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "STRIPE-CON* EDGARB9C3D",
          "captured": true,
          "created": 1729012747,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge G_-mnBf9b1j9A7a4ub4nFQ==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "G_-mnBf9b1j9A7a4ub4nFQ==,P5ppE6H8XIjy2JSCgUhbAw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 53,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3QAEOkGy0w4tFIUe1vgkPoLT",
          "payment_method": "pm_1QAEOjGy0w4tFIUeexdt2NAL",
          "payment_method_details": {
            "card": {
              "amount_authorized": 3000,
              "authorization_code": null,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "ikzQiMcILaotxLpq",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 3000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xUUFEZENHeTB3NHRGSVVlKIzIurgGMgbd8N8wUWA6LBZP8eg5OwpapS_N9nVAFmYlKb0oAAJBlmJMKDKPFCQYKtJbfhN26SIWENR5",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarb9c3d1be1",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-1"
        }
  recorded_at: Tue, 15 Oct 2024 17:19:08 GMT
recorded_with: VCR 6.2.0
