---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b1edb22c-957e-4c0b-8353-62f8de33fb7a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b1edb22c-957e-4c0b-8353-62f8de33fb7a
      Original-Request:
      - req_EFBbY0b7HiTymP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SOZxbIBOqvOFDrfiE0KvCXj",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 11,
            "exp_year": 2026,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1761984895,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sat, 01 Nov 2025 08:14:55 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SOZxbIBOqvOFDrfiE0KvCXj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_1SOZxbIBOqvOFDrfiE0KvCXj
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1d753634-4c0c-46e7-a839-ef37f5e0758c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1d753634-4c0c-46e7-a839-ef37f5e0758c
      Original-Request:
      - req_MQOxOOYnCIPsAr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TLGUlSmdwsppQL",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1761984896,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "LHWN9MNQ",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 01 Nov 2025 08:14:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: customer=cus_TLGUlSmdwsppQL&payment_method=pm_1SOZxbIBOqvOFDrfiE0KvCXj
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 465e3ae3-110e-4212-b39f-11ae892003b3
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1SOZwzEbKUAyPzq3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 465e3ae3-110e-4212-b39f-11ae892003b3
      Original-Request:
      - req_u33kIa8d0jORNP
      Stripe-Account:
      - acct_1SOZwzEbKUAyPzq3
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&description=Gumroad+Charge+gSkt23v9wJ7vfniPKLQHBA%3D%3D&metadata[purchases%7B0%7D]=DEGs-m-tRwxDwXdFg_Vl9Q%3D%3D%2C2nyng8QrT9NKsiJNqywlHg%3D%3D&transfer_group=CH-444&payment_method_types[0]=card&off_session=false&payment_method=pm_1SOZxdEbKUAyPzq3UeMpiuI3&statement_descriptor_suffix=edgare7f774b91&application_fee_amount=0
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5e6c3697-fee9-48f2-8ff3-7abe1a7374d2
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1SOZwzEbKUAyPzq3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5e6c3697-fee9-48f2-8ff3-7abe1a7374d2
      Original-Request:
      - req_g2QarAX1v26Izw
      Stripe-Account:
      - acct_1SOZwzEbKUAyPzq3
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SOZxdEbKUAyPzq30wtDdJbw",
          "object": "payment_intent",
          "amount": 3000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": "ca_TJxFQxHlib0V0szNs1zYNZfrsNKw4X3q",
          "application_fee_amount": 0,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SOZxdEbKUAyPzq30wtDdJbw_secret_sgfc1nyby3GqPK6V0F8quIcnI",
          "confirmation_method": "automatic",
          "created": 1761984897,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge gSkt23v9wJ7vfniPKLQHBA==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "DEGs-m-tRwxDwXdFg_Vl9Q==,2nyng8QrT9NKsiJNqywlHg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SOZxdEbKUAyPzq3UeMpiuI3",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare7f774b91",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-444"
        }
  recorded_at: Sat, 01 Nov 2025 08:14:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SOZxdEbKUAyPzq30wtDdJbw/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b7ed926e-f067-47f5-980b-6116636c84dd
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1SOZwzEbKUAyPzq3
  response:
    status:
      code: 200
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SOZxdEbKUAyPzq307xpLg0C?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1SOZwzEbKUAyPzq3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1SOZwzEbKUAyPzq3
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SOZxdEbKUAyPzq307xpLg0C",
          "object": "charge",
          "amount": 3000,
          "amount_captured": 3000,
          "amount_refunded": 0,
          "application": "ca_TJxFQxHlib0V0szNs1zYNZfrsNKw4X3q",
          "application_fee": null,
          "application_fee_amount": 0,
          "balance_transaction": {
            "id": "txn_3SOZxdEbKUAyPzq30kT4cWpn",
            "object": "balance_transaction",
            "amount": 15803,
            "available_on": 1762560000,
            "balance_type": "payments",
            "created": 1761984898,
            "currency": "brl",
            "description": "Gumroad Charge gSkt23v9wJ7vfniPKLQHBA==",
            "exchange_rate": 5.26768,
            "fee": 670,
            "fee_details": [
              {
                "amount": 670,
                "application": null,
                "currency": "brl",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 15133,
            "reporting_category": "charge",
            "source": "ch_3SOZxdEbKUAyPzq307xpLg0C",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGARE7F774B91",
          "captured": true,
          "created": 1761984898,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge gSkt23v9wJ7vfniPKLQHBA==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "DEGs-m-tRwxDwXdFg_Vl9Q==,2nyng8QrT9NKsiJNqywlHg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 59,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SOZxdEbKUAyPzq30wtDdJbw",
          "payment_method": "pm_1SOZxdEbKUAyPzq3UeMpiuI3",
          "payment_method_details": {
            "card": {
              "amount_authorized": 3000,
              "authorization_code": "908882",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 11,
              "exp_year": 2026,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "511127952511047",
              "overcapture": {
                "maximum_amount_capturable": 3000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU09ad3pFYktVQXlQenEzKIODl8gGMgYX_QAekr86LBa-i4P3_HI3KBVwmheAm40CDBDPgQsKgd7v0fJdC00DZfspe7-vXS0Vh7O9",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare7f774b91",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-444"
        }
  recorded_at: Sat, 01 Nov 2025 08:14:59 GMT
recorded_with: VCR 6.2.0
