---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b067baca-6a69-4bc9-914b-a339fad168a0
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b067baca-6a69-4bc9-914b-a339fad168a0
      Original-Request:
      - req_HIjY1VKBr6V4Fx
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SOZmFIBOqvOFDrfZBr6ZjBp",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 11,
            "exp_year": 2026,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1761984191,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sat, 01 Nov 2025 08:03:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_1SOZmFIBOqvOFDrfZBr6ZjBp
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e523483f-1d25-4840-b7b5-e7b408ee883a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e523483f-1d25-4840-b7b5-e7b408ee883a
      Original-Request:
      - req_9Hw5GbPAzDC5E8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TLGIjxkPzYETcK",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1761984191,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "OULNIJIF",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 01 Nov 2025 08:03:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_1SOZmFIBOqvOFDrfZBr6ZjBp&customer=cus_TLGIjxkPzYETcK&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 79a75157-d1ed-4b03-9786-82d1aaddc73c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 79a75157-d1ed-4b03-9786-82d1aaddc73c
      Original-Request:
      - req_t4g5RwPXYdu6ky
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1SOZmGIBOqvOFDrfsV0jrWn4",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_1SOZmGIBOqvOFDrfsV0jrWn4_secret_TLGIf9nkMUNELUMMwFdVXjKAyHI6wgj",
          "created": 1761984192,
          "customer": "cus_TLGIjxkPzYETcK",
          "description": null,
          "excluded_payment_method_types": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_1SOZmGIBOqvOFDrfU0pzDIPG",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SOZmFIBOqvOFDrfZBr6ZjBp",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Sat, 01 Nov 2025 08:03:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SOZmFIBOqvOFDrfZBr6ZjBp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&description=Gumroad+Charge+3VcEgYF1gbFQ1JjEmDL1Sw%3D%3D&metadata[purchases%7B0%7D]=m0hCV0wNrARrWFXoAUsH0A%3D%3D%2CAzJ6XpjTxuPr3iQbWsh1tQ%3D%3D&transfer_group=CH-417&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_TLGIjxkPzYETcK&payment_method=pm_1SOZmFIBOqvOFDrfZBr6ZjBp&statement_descriptor_suffix=edgar27f39e4d18
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ce345499-c9b4-4688-aa42-8e9ffe2976cc
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ce345499-c9b4-4688-aa42-8e9ffe2976cc
      Original-Request:
      - req_VM2Iezw3KBBzyX
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SOZmIIBOqvOFDrf1VaSSCNT",
          "object": "payment_intent",
          "amount": 3000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 3000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SOZmIIBOqvOFDrf1VaSSCNT_secret_yHiEbKYUqeV7A0nIqz61R7NvN",
          "confirmation_method": "automatic",
          "created": 1761984194,
          "currency": "usd",
          "customer": "cus_TLGIjxkPzYETcK",
          "description": "Gumroad Charge 3VcEgYF1gbFQ1JjEmDL1Sw==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SOZmIIBOqvOFDrf1zfR40dl",
          "livemode": false,
          "metadata": {
            "purchases{0}": "m0hCV0wNrARrWFXoAUsH0A==,AzJ6XpjTxuPr3iQbWsh1tQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SOZmFIBOqvOFDrfZBr6ZjBp",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar27f39e4d18",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-417"
        }
  recorded_at: Sat, 01 Nov 2025 08:03:15 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SOZmIIBOqvOFDrf1zfR40dl?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SOZmIIBOqvOFDrf1zfR40dl",
          "object": "charge",
          "amount": 3000,
          "amount_captured": 3000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SOZmIIBOqvOFDrf1WVfCUcg",
            "object": "balance_transaction",
            "amount": 3000,
            "available_on": 1762560000,
            "balance_type": "payments",
            "created": 1761984194,
            "currency": "usd",
            "description": "Gumroad Charge 3VcEgYF1gbFQ1JjEmDL1Sw==",
            "exchange_rate": null,
            "fee": 117,
            "fee_details": [
              {
                "amount": 117,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 2883,
            "reporting_category": "charge",
            "source": "ch_3SOZmIIBOqvOFDrf1zfR40dl",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR27F39E4D1",
          "captured": true,
          "created": 1761984194,
          "currency": "usd",
          "customer": "cus_TLGIjxkPzYETcK",
          "description": "Gumroad Charge 3VcEgYF1gbFQ1JjEmDL1Sw==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "m0hCV0wNrARrWFXoAUsH0A==,AzJ6XpjTxuPr3iQbWsh1tQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 14,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SOZmIIBOqvOFDrf1VaSSCNT",
          "payment_method": "pm_1SOZmFIBOqvOFDrfZBr6ZjBp",
          "payment_method_details": {
            "card": {
              "amount_authorized": 3000,
              "authorization_code": "639496",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 11,
              "exp_year": 2026,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 3000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKMP9lsgGMgavGo2hD0w6LBY6QQEYlw0wl_VX1vVNPif1zOoCdgWLE4tSD3kNEyUsEHiOTbi9Uvd501E4",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar27f39e4d18",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-417"
        }
  recorded_at: Sat, 01 Nov 2025 08:03:15 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SOZmKIBOqvOFDrf13eBRZOX?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SOZmMIBOqvOFDrf0Q74o8e9?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
