---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0069&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7d42dcaa-230a-446f-8dc8-f58893eed20a
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7d42dcaa-230a-446f-8dc8-f58893eed20a
      Original-Request:
      - req_lW1ygStSG0QOCx
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0SDRVx9e1RjUNIyYdkbgV1lW",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "D8u699K5GBlq1Kcj",
            "funding": "credit",
            "generated_from": null,
            "last4": "0069",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1759330821,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 01 Oct 2025 15:00:21 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0SDRVx9e1RjUNIyYdkbgV1lW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1250&currency=usd&description=Gumroad+Charge+E03ACMtyL0HTcPJ12Bkv0w%3D%3D&metadata[purchases%7B0%7D]=E03ACMtyL0HTcPJ12Bkv0w%3D%3D&transfer_group=CH-1&payment_method_types[0]=card&off_session=false&payment_method=pm_0SDRVx9e1RjUNIyYdkbgV1lW&statement_descriptor_suffix=edgar25fd35c41
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6305e839-49ee-4829-914c-228024d67284
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6305e839-49ee-4829-914c-228024d67284
      Original-Request:
      - req_L8GrJzFP7KTxoL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2SDRVy9e1RjUNIyY1aqylHfP",
          "object": "payment_intent",
          "amount": 1250,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2SDRVy9e1RjUNIyY1aqylHfP_secret_65Z7kBvehLl2tytj0OKxY7C4H",
          "confirmation_method": "automatic",
          "created": 1759330822,
          "currency": "usd",
          "customer": null,
          "description": "Gumroad Charge E03ACMtyL0HTcPJ12Bkv0w==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "E03ACMtyL0HTcPJ12Bkv0w=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0SDRVx9e1RjUNIyYdkbgV1lW",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar25fd35c41",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-1"
        }
  recorded_at: Wed, 01 Oct 2025 15:00:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2SDRVy9e1RjUNIyY1aqylHfP/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 597902b6-3594-4275-92c7-5d8149598383
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 597902b6-3594-4275-92c7-5d8149598383
      Original-Request:
      - req_OzSmjd1pVgxt4y
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "advice_code": "confirm_card_data",
            "charge": "ch_2SDRVy9e1RjUNIyY1itC709S",
            "code": "expired_card",
            "decline_code": "expired_card",
            "doc_url": "https://stripe.com/docs/error-codes/expired-card",
            "message": "Your card has expired.",
            "network_advice_code": "03",
            "network_decline_code": "54",
            "param": "exp_month",
            "payment_intent": {
              "id": "pi_2SDRVy9e1RjUNIyY1aqylHfP",
              "object": "payment_intent",
              "amount": 1250,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "[...]
