---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0069&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c1cae67e-6545-4dd2-822c-38d39f738a93
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c1cae67e-6545-4dd2-822c-38d39f738a93
      Original-Request:
      - req_zv1QhIjXig263w
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OPpA69e1RjUNIyYrSoHINbv",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "D8u699K5GBlq1Kcj",
            "funding": "credit",
            "generated_from": null,
            "last4": "0069",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703176315,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Thu, 21 Dec 2023 16:31:55 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OPpA69e1RjUNIyYrSoHINbv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&description=Gumroad+Charge+P5ppE6H8XIjy2JSCgUhbAw%3D%3D&metadata[bfi_30HLgGWL8H2wo_Gzlg%3D%3D]=%7B%3Aprice_cents%3D%3E1000%2C+%3Afee_cents%3D%3E159%2C+%3Aaffiliate_credit_cents%3D%3E0%2C+%3Agumroad_tax_cents%3D%3E0%2C+%3Atotal_transaction_cents%3D%3E1000%7D&metadata[mN7CdHiwHaR9FlxKvF-n-g%3D%3D]=%7B%3Aprice_cents%3D%3E2000%2C+%3Afee_cents%3D%3E288%2C+%3Aaffiliate_credit_cents%3D%3E0%2C+%3Agumroad_tax_cents%3D%3E0%2C+%3Atotal_transaction_cents%3D%3E2000%7D&transfer_group=CH-2&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=false&payment_method=pm_0OPpA69e1RjUNIyYrSoHINbv&statement_descriptor_suffix=edgar8c7a62f82
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8587f099-107e-4ff2-9338-981880fcd698
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8587f099-107e-4ff2-9338-981880fcd698
      Original-Request:
      - req_T8bM0QS2h2GUja
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_2OPpA89e1RjUNIyY0mZ0kAbP",
            "code": "expired_card",
            "doc_url": "https://stripe.com/docs/error-codes/expired-card",
            "message": "Your card has expired.",
            "param": "exp_month",
            "payment_intent": {
              "id": "pi_2OPpA89e1RjUNIyY02lOnUGp",
              "object": "payment_intent",
              "amount": 3000,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic",
              "client_secret": "pi_2OPpA89e1RjUNIyY02lOnUGp_secret_X0ikzc50StXrxwQURhDPxY4L6",
              "confirmation_method": "manual",
              "created": 1703176316,
              "currency": "usd",
              "customer": null,
              "description": "Gumroad Charge P5ppE6H8XIjy2JSCgUhbAw==",
              "invoice": null,
              "last_payment_error": {
                "charge": "ch_2OPpA89e1RjUNIyY0mZ0kAbP",
                "code": "expired_card",
                "doc_url": "https://stripe.com/docs/error-codes/expired-card",
                "message": "Your card has expired.",
                "param": "exp_month",
                "payment_method": {
                  "id": "pm_0OPpA69e1RjUNIyYrSoHINbv",
                  "object": "payment_method",
                  "billing_details": {
                    "address": {
                      "city": null,
                      "country": null,
                      "line1": null,
                      "line2": null,
                      "postal_code": null,
                      "state": null
                    },
                    "email": null,
                    "name": null,
    [...]
