---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123&billing_details[address][postal_code]=12345
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1da0568d-78af-495f-aadf-1e9d47f0166e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1da0568d-78af-495f-aadf-1e9d47f0166e
      Original-Request:
      - req_tI6fHmD0r7FNmT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6tN29e1RjUNIyYitbuGMWy",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": "unchecked",
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698664260,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 11:11:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6tN29e1RjUNIyYitbuGMWy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O6tN29e1RjUNIyYitbuGMWy
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3b842632-ccac-4af3-959e-78fcf7c18546
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3b842632-ccac-4af3-959e-78fcf7c18546
      Original-Request:
      - req_QFhbZzwyOz07Tw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Ouiob9Zfu2XbJ9",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698664261,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "5DD4859F",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 11:11:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=11000&currency=usd&description=You+bought+http%3A%2F%2Fedgarfafca572126.test.gumroad.com%3A31337%2Fl%2Fu&metadata[purchase]=aUrX6CugyQa2i_1X9O__fQ%3D%3D&transfer_group=93&payment_method_types[0]=card&confirmation_method=manual&confirm=true&setup_future_usage=off_session&payment_method=pm_0O6tN29e1RjUNIyYitbuGMWy&customer=cus_Ouiob9Zfu2XbJ9&statement_descriptor_suffix=edgarfafca572126
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 98c53a4e-7d78-4fd8-b40e-c840a3c629b9
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 98c53a4e-7d78-4fd8-b40e-c840a3c629b9
      Original-Request:
      - req_PSicRsD3JauP7r
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6tN49e1RjUNIyY1nuq3PUs",
          "object": "payment_intent",
          "amount": 11000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 11000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6tN49e1RjUNIyY1nuq3PUs_secret_FvvF0a8fYwg3QrxoJnFRD0J1n",
          "confirmation_method": "manual",
          "created": 1698664262,
          "currency": "usd",
          "customer": "cus_Ouiob9Zfu2XbJ9",
          "description": "You bought http://edgarfafca572126.test.gumroad.com:31337/l/u",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6tN49e1RjUNIyY1ohHIj5c",
          "livemode": false,
          "metadata": {
            "purchase": "aUrX6CugyQa2i_1X9O__fQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6tN29e1RjUNIyYitbuGMWy",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarfafca572126",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "93"
        }
  recorded_at: Mon, 30 Oct 2023 11:11:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6tN49e1RjUNIyY1ohHIj5c?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6tN49e1RjUNIyY1ohHIj5c",
          "object": "charge",
          "amount": 11000,
          "amount_captured": 11000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6tN49e1RjUNIyY16taeIo4",
            "object": "balance_transaction",
            "amount": 11000,
            "available_on": 1698796800,
            "created": 1698664262,
            "currency": "usd",
            "description": "You bought http://edgarfafca572126.test.gumroad.com:31337/l/u",
            "exchange_rate": null,
            "fee": 250,
            "fee_details": [
              {
                "amount": 250,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 10750,
            "reporting_category": "charge",
            "source": "ch_2O6tN49e1RjUNIyY1ohHIj5c",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARFAFCA5",
          "captured": true,
          "created": 1698664262,
          "currency": "usd",
          "customer": "cus_Ouiob9Zfu2XbJ9",
          "description": "You bought http://edgarfafca572126.test.gumroad.com:31337/l/u",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "aUrX6CugyQa2i_1X9O__fQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 30,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6tN49e1RjUNIyY1nuq3PUs",
          "payment_method": "pm_0O6tN29e1RjUNIyYitbuGMWy",
          "payment_method_details": {
            "card": {
              "amount_authorized": 11000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": "pass",
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 11000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoyJ7-qQYyBpTiZ_0KMTosFj4iUQ1D1MJKrCdo7seF891WUdM8aZyKLu3KoyCaeoqNJqiNYGmx6UZLEKg",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarfafca572126",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "93"
        }
  recorded_at: Mon, 30 Oct 2023 11:11:04 GMT
recorded_with: VCR 6.2.0
