---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123&billing_details[address][postal_code]=12345
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e7d5b27c-e44b-4873-bf84-55e08c181e6b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e7d5b27c-e44b-4873-bf84-55e08c181e6b
      Original-Request:
      - req_s0FuJ8ftITmWPS
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6tN79e1RjUNIyYrRtmyb3c",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": "unchecked",
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698664265,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 11:11:05 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6tN79e1RjUNIyYrRtmyb3c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O6tN79e1RjUNIyYrRtmyb3c
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d5b8f871-f55a-4dd3-bc8f-b31cfa2e9331
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d5b8f871-f55a-4dd3-bc8f-b31cfa2e9331
      Original-Request:
      - req_AEHfauIqRjy9Hk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Ouio5J6TyiOYE8",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698664266,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "25DCB2C4",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 11:11:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=11000&currency=usd&description=You+bought+http%3A%2F%2Fedgar12acd34a128.test.gumroad.com%3A31337%2Fl%2Fr&metadata[purchase]=iLh8Fr2w2RkHsmp2T304ug%3D%3D&transfer_group=94&payment_method_types[0]=card&confirmation_method=manual&confirm=true&setup_future_usage=off_session&payment_method=pm_0O6tN79e1RjUNIyYrRtmyb3c&customer=cus_Ouio5J6TyiOYE8&statement_descriptor_suffix=edgar12acd34a128
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - aa262ec5-1d49-4680-a44b-118e365e5740
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - aa262ec5-1d49-4680-a44b-118e365e5740
      Original-Request:
      - req_waue95RoQPjG7B
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6tN99e1RjUNIyY1DALSJxF",
          "object": "payment_intent",
          "amount": 11000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 11000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6tN99e1RjUNIyY1DALSJxF_secret_0qABDux4kpEoeyPqErebZLdzS",
          "confirmation_method": "manual",
          "created": 1698664267,
          "currency": "usd",
          "customer": "cus_Ouio5J6TyiOYE8",
          "description": "You bought http://edgar12acd34a128.test.gumroad.com:31337/l/r",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6tN99e1RjUNIyY1sBf4dFM",
          "livemode": false,
          "metadata": {
            "purchase": "iLh8Fr2w2RkHsmp2T304ug=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6tN79e1RjUNIyYrRtmyb3c",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar12acd34a128",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "94"
        }
  recorded_at: Mon, 30 Oct 2023 11:11:08 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6tN99e1RjUNIyY1sBf4dFM?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6tN99e1RjUNIyY1sBf4dFM",
          "object": "charge",
          "amount": 11000,
          "amount_captured": 11000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6tN99e1RjUNIyY1mQ8EFzd",
            "object": "balance_transaction",
            "amount": 11000,
            "available_on": 1698796800,
            "created": 1698664267,
            "currency": "usd",
            "description": "You bought http://edgar12acd34a128.test.gumroad.com:31337/l/r",
            "exchange_rate": null,
            "fee": 250,
            "fee_details": [
              {
                "amount": 250,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 10750,
            "reporting_category": "charge",
            "source": "ch_2O6tN99e1RjUNIyY1sBf4dFM",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR12ACD3",
          "captured": true,
          "created": 1698664267,
          "currency": "usd",
          "customer": "cus_Ouio5J6TyiOYE8",
          "description": "You bought http://edgar12acd34a128.test.gumroad.com:31337/l/r",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "iLh8Fr2w2RkHsmp2T304ug=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 4,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6tN99e1RjUNIyY1DALSJxF",
          "payment_method": "pm_0O6tN79e1RjUNIyYrRtmyb3c",
          "payment_method_details": {
            "card": {
              "amount_authorized": 11000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": "pass",
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 11000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUozZ7-qQYyBs3GkqmuiDosFtq02cmP8IXM1m7j6tUbIFmI7GTHHwaCXHxCv0Fw4sHD1kGxQbnuLjr3uZU",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar12acd34a128",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "94"
        }
  recorded_at: Mon, 30 Oct 2023 11:11:09 GMT
recorded_with: VCR 6.2.0
