---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/oembed/?format=json&maxwidth=670&scheme=https&url=https://www.youtube.com/watch?v=iYgPznBrjiA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"title":"Dads Best Friend","author_name":"Rubberbandits","author_url":"https://www.youtube.com/user/Rubberbandits","type":"video","height":200,"width":356,"version":"1.0","provider_name":"YouTube","provider_url":"https://www.youtube.com/","thumbnail_height":360,"thumbnail_width":480,"thumbnail_url":"https://i.ytimg.com/vi/iYgPznBrjiA/hqdefault.jpg","html":"\u003ciframe
        width=\u0022356\u0022 height=\u0022200\u0022 src=\u0022https://www.youtube.com/embed/iYgPznBrjiA?feature=oembed\u0022
        frameborder=\u00220\u0022 allow=\u0022accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture\u0022 allowfullscreen title=\u0022Dads
        Best Friend\u0022\u003e\u003c/iframe\u003e"}'
  recorded_at: Tue, 04 Oct 2022 13:45:54 GMT
recorded_with: VCR 6.1.0
