---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa&billing_details[address][postal_code]=<STRONGBOX_GENERAL_PASSWORD>5
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 103b0095-a54e-49f7-b75b-f495b9c4805c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 103b0095-a54e-49f7-b75b-f495b9c4805c
      Original-Request:
      - req_pVMQHx4bK7YrFB
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SvH3aIBOqvOFDrfKstFqHbQ",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "<STRONGBOX_GENERAL_PASSWORD>5",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": "unchecked",
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 1,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1769777054,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 30 Jan 2026 12:44:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SvH3aIBOqvOFDrfKstFqHbQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=1863&email=sahil%40gumroad.com&payment_method=pm_1SvH3aIBOqvOFDrfKstFqHbQ
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b0007478-9601-48f3-81a4-d15fc867c892
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b0007478-9601-48f3-81a4-d15fc867c892
      Original-Request:
      - req_ZmJPPc8IaaAZrx
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Tt39OCc9VH3LMA",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1769777054,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": "1863",
          "discount": null,
          "email": "sahil@gumroad.com",
          "invoice_prefix": "BJX2BFZV",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 30 Jan 2026 12:44:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=600&currency=usd&description=You+bought+http%3A%2F%2Fedgarb4cb4a11387.test.gumroad.com%3A31337%2Fl%2Fs%21&metadata[purchase]=Z0FOWkV2XAw7pA__6-YVSA%3D%3D&transfer_group=1128&payment_method_types[0]=card&setup_future_usage=off_session&customer=cus_Tt39OCc9VH3LMA&payment_method=pm_1SvH3aIBOqvOFDrfKstFqHbQ&statement_descriptor_suffix=edgarb4cb4a11387
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1cc362a7-b79f-4e12-8705-4ddc1c3d74dd
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1cc362a7-b79f-4e12-8705-4ddc1c3d74dd
      Original-Request:
      - req_CRQWX7Sjgcq7KF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SvH3bIBOqvOFDrf1c1xOMZR",
          "object": "payment_intent",
          "amount": 600,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SvH3bIBOqvOFDrf1c1xOMZR_secret_Nho6GDbx2owmE6WgE9RVEWV1K",
          "confirmation_method": "automatic",
          "created": 1769777055,
          "currency": "usd",
          "customer": "cus_Tt39OCc9VH3LMA",
          "customer_account": null,
          "description": "You bought http://edgarb4cb4a11387.test.gumroad.com:31337/l/s!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchase": "Z0FOWkV2XAw7pA__6-YVSA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SvH3aIBOqvOFDrfKstFqHbQ",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarb4cb4a11387",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "1128"
        }
  recorded_at: Fri, 30 Jan 2026 12:44:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SvH3bIBOqvOFDrf1c1xOMZR/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a61d61c2-b924-4672-9381-8444b34559e0
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SvH3bIBOqvOFDrf1ljBRztG?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SvH3bIBOqvOFDrf1ljBRztG",
          "object": "charge",
          "amount": 600,
          "amount_captured": 600,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SvH3bIBOqvOFDrf1QPYINYm",
            "object": "balance_transaction",
            "amount": 600,
            "available_on": 1770336000,
            "balance_type": "payments",
            "created": 1769777056,
            "currency": "usd",
            "description": "You bought http://edgarb4cb4a11387.test.gumroad.com:31337/l/s!",
            "exchange_rate": null,
            "fee": 47,
            "fee_details": [
              {
                "amount": 47,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 553,
            "reporting_category": "charge",
            "source": "ch_3SvH3bIBOqvOFDrf1ljBRztG",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "<STRONGBOX_GENERAL_PASSWORD>5",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGARB4CB4A113",
          "captured": true,
          "created": 1769777056,
          "currency": "usd",
          "customer": "cus_Tt39OCc9VH3LMA",
          "description": "You bought http://edgarb4cb4a11387.test.gumroad.com:31337/l/s!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "Z0FOWkV2XAw7pA__6-YVSA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 33,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SvH3bIBOqvOFDrf1c1xOMZR",
          "payment_method": "pm_1SvH3aIBOqvOFDrfKstFqHbQ",
          "payment_method_details": {
            "card": {
              "amount_authorized": 600,
              "authorization_code": "678642",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": "pass",
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 1,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 600,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKKHP8ssGMgaTm-t_gpg6LBav_TbcHWix_w3WRv6mFZMc5qPoGMA5rc0YLyYih5kG86qMXJTt_nzcskc9",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarb4cb4a11387",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1128"
        }
  recorded_at: Fri, 30 Jan 2026 12:44:17 GMT
recorded_with: VCR 6.2.0
