---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e24e3740-f646-470b-aff8-8a4394576311
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e24e3740-f646-470b-aff8-8a4394576311
      Original-Request:
      - req_OpeWRN7uLs4wzl
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfPn9e1RjUNIyYq5Pt0T2c",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703853831,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:43:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSfPn9e1RjUNIyYq5Pt0T2c
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ba20ef16-8287-437c-8e56-345fa3f3c2fd
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ba20ef16-8287-437c-8e56-345fa3f3c2fd
      Original-Request:
      - req_sbCMDwuIqvv67f
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDrNMplyGqt4D",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703853831,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "F9DC882C",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:43:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSfPn9e1RjUNIyYq5Pt0T2c&customer=cus_PHDrNMplyGqt4D&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 65e74595-6a26-4382-a386-6800ea4d58bf
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 65e74595-6a26-4382-a386-6800ea4d58bf
      Original-Request:
      - req_H2iQF3zusc6elK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OSfPo9e1RjUNIyYkvMo0rVP",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OSfPo9e1RjUNIyYkvMo0rVP_secret_PHDraBAkNdyA3OAqyxsK2XiAHt1vN67",
          "created": 1703853832,
          "customer": "cus_PHDrNMplyGqt4D",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0OSfPo9e1RjUNIyYJFSapopX",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfPn9e1RjUNIyYq5Pt0T2c",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Fri, 29 Dec 2023 12:43:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfPn9e1RjUNIyYq5Pt0T2c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500&currency=usd&description=You+bought+http%3A%2F%2Fedgar389c3812184.test.gumroad.com%3A31337%2Fl%2Fae&metadata[purchase]=9UnCMvhTLeUoLhHslwCDWA%3D%3D&transfer_group=256&payment_method_types[0]=card&customer=cus_PHDrNMplyGqt4D&payment_method=pm_0OSfPn9e1RjUNIyYq5Pt0T2c&statement_descriptor_suffix=edgar389c3812184
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 665c1c2a-e65a-47c3-8f5d-0a26bdac2036
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 665c1c2a-e65a-47c3-8f5d-0a26bdac2036
      Original-Request:
      - req_8moNipJZmU6Dz1
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSfPp9e1RjUNIyY0GQKE5mI",
          "object": "payment_intent",
          "amount": 500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSfPp9e1RjUNIyY0GQKE5mI_secret_wVOopYuuPa3KPpQJS7OfgS5T8",
          "confirmation_method": "automatic",
          "created": 1703853833,
          "currency": "usd",
          "customer": "cus_PHDrNMplyGqt4D",
          "description": "You bought http://edgar389c3812184.test.gumroad.com:31337/l/ae",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchase": "9UnCMvhTLeUoLhHslwCDWA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfPn9e1RjUNIyYq5Pt0T2c",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar389c3812184",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "256"
        }
  recorded_at: Fri, 29 Dec 2023 12:43:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSfPp9e1RjUNIyY0GQKE5mI/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 015157c6-46b4-4fe3-9a7b-08e64edc79c6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSfPp9e1RjUNIyY0LogJOHY?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OSfPp9e1RjUNIyY0LogJOHY",
          "object": "charge",
          "amount": 500,
          "amount_captured": 500,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OSfPp9e1RjUNIyY0MhgkIUu",
            "object": "balance_transaction",
            "amount": 500,
            "available_on": 1704240000,
            "created": 1703853834,
            "currency": "usd",
            "description": "You bought http://edgar389c3812184.test.gumroad.com:31337/l/ae",
            "exchange_rate": null,
            "fee": 30,
            "fee_details": [
              {
                "amount": 30,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 470,
            "reporting_category": "charge",
            "source": "ch_2OSfPp9e1RjUNIyY0LogJOHY",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR389C38",
          "captured": true,
          "created": 1703853834,
          "currency": "usd",
          "customer": "cus_PHDrNMplyGqt4D",
          "description": "You bought http://edgar389c3812184.test.gumroad.com:31337/l/ae",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "9UnCMvhTLeUoLhHslwCDWA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 51,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OSfPp9e1RjUNIyY0GQKE5mI",
          "payment_method": "pm_0OSfPn9e1RjUNIyYq5Pt0T2c",
          "payment_method_details": {
            "card": {
              "amount_authorized": 500,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 500,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUojP66rAYyBpXVXPEvhjosFvakcHHyLWnZDWAu0zumaGQ5kMP36qtOOF4189WCYKQNszZFrAXaevN8qkE",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar389c3812184",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "256"
        }
  recorded_at: Fri, 29 Dec 2023 12:43:56 GMT
recorded_with: VCR 6.2.0
