---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic QWFEdkxJeUYwVFRlVUJqUEIwM3BBVkdjRFM1S0JNenFkcktyNU9VRXN2TWdBNnM5czNTNHdaY1U0cm1VUDI0WjczeEk2eHRlY2I2MjVibDY6RVBMQ2dJOE9CY2g2RzUyeHRTeHNBSVVDbGdobVJqZ3o2T2FvNndmT1RXMGtZN3F1UXFCa1ZsT3c0RFdqU2NlWnNQQ0x4OWczSEEyOFhUbzU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - bf66494272959
      X-Paypal-Token-Service:
      - IAAS
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/customer/partner-referrals/readwrite
        https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/payments/realtimepayment
        https://uri.paypal.com/services/payments/payment/authcapture openid https://uri.paypal.com/services/payments/refund
        https://uri.paypal.com/services/customer/onboarding/user https://uri.paypal.com/services/risk/raas/transaction-context
        https://uri.paypal.com/services/customer/consumer-referrals/create https://uri.paypal.com/services/partners/merchant-accounts/readwrite
        https://uri.paypal.com/services/identity/grantdelegation https://api.paypal.com/v1/vault/credit-card
        https://api.paypal.com/v1/payments/.* https://uri.paypal.com/services/payments/referenced-payouts-items/readwrite
        https://uri.paypal.com/services/reporting/search/read https://uri.paypal.com/services/customer/onboarding/account
        https://uri.paypal.com/services/customer/partner https://uri.paypal.com/services/customer/onboarding/sessions
        https://uri.paypal.com/payments/payouts https://api.paypal.com/v1/vault/credit-card/.*
        https://uri.paypal.com/services/customer/merchant-integrations/read https://uri.paypal.com/services/subscriptions
        https://uri.paypal.com/services/applications/webhooks","access_token":"A21AAHjfRJmmxbo4iNN0UiRwj4Qt5lCyIAVGOVZ8Uee6VhZujD0xoO-OBAGgbx5Oy2IhTjNzm2zVLqbetsF0sQk-j37waVN8A","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":32400,"nonce":"2020-06-17T17:30:22ZTUbB5Lz5BJ2rQFFMtMFNY-q_leqG8xVZlBMgQDqtA1s"}'
  recorded_at: Wed, 17 Jun 2020 17:30:23 GMT
recorded_with: VCR 3.0.3
