---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/billing-agreements/agreements
    body:
      encoding: UTF-8
      string: '{"token_id":"BA-7TR16712TA5219609"}'
    headers:
      Authorization:
      - Bearer A21AAEDl9G2o2QaCF5yJlFoyyqpFNEjVza7fkmWy0mTpAtIZCPPS0b_gUu3UDBn-t1YMS_KFdJr-fmBQfSCujRn5RsjASG0sA
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
      Paypal-Request-Id:
      - '1595755503'
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.5.8
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Paypal-Debug-Id:
      - d6326debfcda3
    body:
      encoding: UTF-8
      string: '{"id":"B-1NN687283L635633R","state":"ACTIVE","payer":{"payer_info":{"email":"paypal-gr-integspecs@gumroad.com","first_name":"Gumbot","last_name":"Gumstein","payer_id":"92SVVJSWYT72E"}},"plan":{"type":"CHANNEL_INITIATED_BILLING","merchant_preferences":{"notify_url":"https://example.com/notify","accepted_pymt_type":"INSTANT"}},"links":[{"href":"https://api.sandbox.paypal.com/v1/billing-agreements/agreements/B-1NN687283L635633R/cancel","rel":"cancel","method":"POST"},{"href":"https://api.sandbox.paypal.com/v1/billing-agreements/agreements/B-1NN687283L635633R","rel":"self","method":"GET"}],"merchant":{"payee_info":{"email":"<PAYPAL_PARTNER_MERCHANT_EMAIL>"}},"create_time":"2020-07-26T09:25:05.000Z","update_time":"2020-07-26T09:25:05.000Z"}'
  recorded_at: Sun, 26 Jul 2020 09:25:05 GMT
recorded_with: VCR 6.0.0
