---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0e8381f1-65c8-44c7-abc2-7916f579dfdb
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0e8381f1-65c8-44c7-abc2-7916f579dfdb
      Original-Request:
      - req_TzuRIuVap9LKCD
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OR04G9e1RjUNIyYkRybN2YK",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703456565,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 24 Dec 2023 22:22:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OR04G9e1RjUNIyYkRybN2YK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=31&email=edgarc95cd87c_61%40gumroad.com&payment_method=pm_0OR04G9e1RjUNIyYkRybN2YK
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 99bfeee3-48ca-4153-8f38-f5089c848a82
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 99bfeee3-48ca-4153-8f38-f5089c848a82
      Original-Request:
      - req_ddwsTYz9YAmVnL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PFV434oHsMqL16",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703456565,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "31",
          "discount": null,
          "email": "edgarc95cd87c_61@gumroad.com",
          "invoice_prefix": "56E1CE1F",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 24 Dec 2023 22:22:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=599&currency=usd&description=You+bought+http%3A%2F%2Fedgar4a66612f32.test.gumroad.com%3A31337%2Fl%2Fw&metadata[purchase]=xOT-Wgl-S6m0PIhTlK8qfg%3D%3D&transfer_group=36&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PFV434oHsMqL16&payment_method=pm_0OR04G9e1RjUNIyYkRybN2YK&statement_descriptor_suffix=edgar4a66612f32
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 75977d9b-81a3-4a37-aa16-71648650eeb4
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 75977d9b-81a3-4a37-aa16-71648650eeb4
      Original-Request:
      - req_nmkSHge92UBf4p
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OR04J9e1RjUNIyY1rchbbKL",
          "object": "payment_intent",
          "amount": 599,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 599,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OR04J9e1RjUNIyY1rchbbKL_secret_IRvWEJYgLeLmue2HUqGnrk1dn",
          "confirmation_method": "automatic",
          "created": 1703456567,
          "currency": "usd",
          "customer": "cus_PFV434oHsMqL16",
          "description": "You bought http://edgar4a66612f32.test.gumroad.com:31337/l/w",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OR04J9e1RjUNIyY1q90IviO",
          "livemode": false,
          "metadata": {
            "purchase": "xOT-Wgl-S6m0PIhTlK8qfg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OR04G9e1RjUNIyYkRybN2YK",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar4a66612f32",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "36"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OR04J9e1RjUNIyY1q90IviO?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OR04J9e1RjUNIyY1q90IviO",
          "object": "charge",
          "amount": 599,
          "amount_captured": 599,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OR04J9e1RjUNIyY1u7sYWjw",
            "object": "balance_transaction",
            "amount": 599,
            "available_on": 1703635200,
            "created": 1703456567,
            "currency": "usd",
            "description": "You bought http://edgar4a66612f32.test.gumroad.com:31337/l/w",
            "exchange_rate": null,
            "fee": 35,
            "fee_details": [
              {
                "amount": 35,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 564,
            "reporting_category": "charge",
            "source": "ch_2OR04J9e1RjUNIyY1q90IviO",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR4A6661",
          "captured": true,
          "created": 1703456567,
          "currency": "usd",
          "customer": "cus_PFV434oHsMqL16",
          "description": "You bought http://edgar4a66612f32.test.gumroad.com:31337/l/w",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "xOT-Wgl-S6m0PIhTlK8qfg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 39,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OR04J9e1RjUNIyY1rchbbKL",
          "payment_method": "pm_0OR04G9e1RjUNIyYkRybN2YK",
          "payment_method_details": {
            "card": {
              "amount_authorized": 599,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 599,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUouN6irAYyBm6yBIZ9AzosFvmVy_tCnpjxwPAh8IERvy_cQLhJulP8sAnm5nZw6lDGqFQ-ChvRKYWpEIQ",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar4a66612f32",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "36"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_2OR04J9e1RjUNIyY1rchbbKL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OR04J9e1RjUNIyY1q90IviO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OR04M9e1RjUNIyY02M9XXF4?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
