---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=7735898175669&metadata[tos_agreement_id]=RwtKZN3ru9U9In38aZSD2g%3D%3D&metadata[user_compliance_info_id]=NBKNZwwDs8H_JBX8R4qB3w%3D%3D&tos_acceptance[date]=1698685103&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=edgar8529bc8f_130%40gumroad.com&individual[phone]=0000000000&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=California&individual[address][postal_code]=94107&individual[address][country]=US&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[id_number]=000000000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7f82ab6d-15f4-4caa-8997-c74a5e7add55
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7f82ab6d-15f4-4caa-8997-c74a5e7add55
      Original-Request:
      - req_21y1hYtWCBAisB
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1O6ynE2nI5xwku2c",
          "object": "account",
          "business_profile": {
            "mcc": "5192",
            "name": null,
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "pending"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "US",
          "created": 1698685105,
          "default_currency": "usd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1O6ynE2nI5xwku2c/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1712084400,
            "currently_due": [
              "external_account",
              "individual.phone"
            ],
            "disabled_reason": null,
            "errors": [
              {
                "code": "invalid_phone_number",
                "reason": "This phone number has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                "requirement": "individual.phone"
              }
            ],
            "eventually_due": [
              "external_account",
              "individual.phone"
            ],
            "past_due": [
              "external_account"
            ],
            "pending_verification": [
              "business_profile.url",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number"
            ]
          },
          "individual": {
            "id": "person_1O6ynE2nI5xwku2coeAR9r44",
            "object": "person",
            "account": "acct_1O6ynE2nI5xwku2c",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "created": 1698685105,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "edgar8529bc8f_130@gumroad.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [
                "phone"
              ],
              "errors": [
                {
                  "code": "invalid_phone_number",
                  "reason": "This phone number has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                  "requirement": "phone"
                }
              ],
              "eventually_due": [
                "phone"
              ],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number"
              ]
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "pending"
            }
          },
          "metadata": {
            "tos_agreement_id": "RwtKZN3ru9U9In38aZSD2g==",
            "user_compliance_info_id": "NBKNZwwDs8H_JBX8R4qB3w==",
            "user_id": "7735898175669"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "external_account"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [],
            "eventually_due": [
              "external_account"
            ],
            "past_due": [
              "external_account"
            ],
            "pending_verification": [
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "settings": {
            "bacs_debit_payments": {},
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "VIPUL.GUMR",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "vipul.gumroad",
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "VIPUL.GUMROAD.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1698685103,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Mon, 30 Oct 2023 16:58:28 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1O6ynE2nI5xwku2c/persons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O6ynE2nI5xwku2c
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "person_1O6ynE2nI5xwku2coeAR9r44",
              "object": "person",
              "account": "acct_1O6ynE2nI5xwku2c",
              "additional_tos_acceptances": {
                "account": {
                  "date": null,
                  "ip": null,
                  "user_agent": null
                }
              },
              "address": {
                "city": "San Francisco",
                "country": "US",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "94107",
                "state": "California"
              },
              "created": 1698685105,
              "dob": {
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1O6ynE2nI5xwku2c/persons/person_1O6ynE2nI5xwku2coeAR9r44
    body:
      encoding: UTF-8
      string: verification[document][front]=file_identity_document_success
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1a488796-c878-46a0-b04d-97da482fece3
      Stripe-Version:
      - '2023-10-16'
  response:
    stat[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1O6ynE2nI5xwku2c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1O6ynE2nI5xwku2c
      Stripe-Ver[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/balance_transactions?created%5Bgte%5D=1649738718&created%5Blte%5D=1649738838&limit=100&type=financing_paydown
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1KbjU6S6FqYQ9lzl
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1KbjU6S6FqYQ9lzl
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "txn_1KnbblS6FqYQ9lzlSMAFjSRy",
              "object": "balance_transaction",
              "amount": -91,
              "available_on": 1649808000,
              "created": 1649738741,
              "currency": "usd",
              "description": "Withheld funds from py_1KnbbQS6FqYQ9lzl1wJiji1W to pay down flex loan flxln_1Kg7xUS6FqYQ9lzlrtY0JM8W",
              "exchange_rate": null,
              "fee": 0,
              "fee_details": [],
              "net": -91,
              "reporting_category": "financing_paydown",
              "source": "flxlnpd_1KnbblS6FqYQ9lzlwBcPJeym",
              "status": "available",
              "type": "financing_paydown"
            }
          ],
          "has_more": false,
          "url": "/v1/balance_transactions"
        }
  recorded_at: Mon, 30 Oct 2023 16:58:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2KnbbP9e1RjUNIyY1rGVEYiA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2KnbbP9e1RjUNIyY1rGVEYiA",
          "object": "charge",
          "amount": 700,
          "amount_captured": 700,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_2KnbbP9e1RjUNIyY1YJCeSmX",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUM.CO/CC* US CR",
          "captured": true,
          "created": 1649738720,
          "currency": "usd",
          "customer": null,
          "description": "You bought https://usc.gumroad.dev/l/ir",
          "destination": "acct_1KbjU6S6FqYQ9lzl",
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "retByvIkl_0-6mEprkPfWg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 17,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2KnbbP9e1RjUNIyY1tpbtH96",
          "payment_method": "pm_0KnbbM9e1RjUNIyYpTI3pQHU",
          "payment_method_details": {
            "card": {
              "amount_authorized": 700,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2041,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 700,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoyMH_qQYyBoBw3uMqiTosFpId5tQg6HGqLkDv8CgZDcO8GphywAXOOQJBcIZQaP05sU9oN8JKIwDjQRM",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "us cr",
          "status": "succeeded",
          "transfer": "tr_2KnbbP9e1RjUNIyY1L4aL6Vl",
          "transfer_data": {
            "amount": 607,
            "destination": "acct_1KbjU6S6FqYQ9lzl"
          },
          "transfer_group": "14"
        }
  recorded_at: Mon, 30 Oct 2023 16:58:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2KnbbP9e1RjUNIyY1L4aL6Vl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2KnbbP9e1RjUNIyY1L4aL6Vl",
          "object": "transfer",
          "amount": 607,
          "amount_reversed": 0,
          "balance_transaction": "txn_2KnbbP9e1RjUNIyY1dxF2Grm",
          "created": 1649738720,
          "currency": "usd",
          "description": null,
          "destination": "acct_1KbjU6S6FqYQ9lzl",
          "destination_payment": "py_1KnbbQS6FqYQ9lzl1wJiji1W",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_2KnbbP9e1RjUNIyY1L4aL6Vl/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_2KnbbP9e1RjUNIyY1rGVEYiA",
          "source_type": "card",
          "transfer_group": "14"
        }
  recorded_at: Mon, 30 Oct 2023 16:58:48 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2KnbSz9e1RjUNIyY12YKQlri
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2KnbSz9e1RjUNIyY18FtNGJP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2KnbSz9e1RjUNIyY18FtNGJP",
          "object": "transfer",
          "amount": 1062,
          "amount_reversed": 0,
          "balance_transaction": "txn_2KnbSz9e1RjUNIyY1hxEiYAZ",
          "created": 1649738198,
          "currency": "usd",
          "description": null,
          "destination": "acct_1KbjU6S6FqYQ9lzl",
          "destination_payment": "py_1KnbT0S6FqYQ9lzl3IuWMYsh",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_2KnbSz9e1RjUNIyY18FtNGJP/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_2KnbSz9e1RjUNIyY12YKQlri",
          "source_type": "card",
          "transfer_group": "13"
        }
  recorded_at: Mon, 30 Oct 2023 16:58:50 GMT
recorded_with: VCR 6.2.0
