---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bafb4ad3-c6ac-4f01-98b9-eb92db9360ef
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bafb4ad3-c6ac-4f01-98b9-eb92db9360ef
      Original-Request:
      - req_9Jdb636Cs1SYki
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SOgQXIBOqvOFDrftQy9zobR",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 11,
            "exp_year": 2026,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1762009753,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sat, 01 Nov 2025 15:09:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SOgQXIBOqvOFDrftQy9zobR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=6150&email=edgar3f5d4605_19%40gumroad.com&payment_method=pm_1SOgQXIBOqvOFDrftQy9zobR
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9f61c568-34f1-4295-9465-5180542eebba
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9f61c568-34f1-4295-9465-5180542eebba
      Original-Request:
      - req_M1yFqCqRJVGKQu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TLNA4ckKuTALig",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1762009754,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "6150",
          "discount": null,
          "email": "edgar3f5d4605_19@gumroad.com",
          "invoice_prefix": "W9DJ79LB",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 01 Nov 2025 15:09:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=599&currency=usd&description=You+bought+http%3A%2F%2Fedgar3c69fb019.test.gumroad.com%3A31337%2Fl%2Fc%21&metadata[purchase]=l3J2KgGI0NKFV8mZ1ce9TQ%3D%3D&transfer_group=4522&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_TLNA4ckKuTALig&payment_method=pm_1SOgQXIBOqvOFDrftQy9zobR&statement_descriptor_suffix=edgar3c69fb019
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 900c7588-723f-443c-9f56-f5642a59eb5f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 900c7588-723f-443c-9f56-f5642a59eb5f
      Original-Request:
      - req_CivW508KdylxPf
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SOgQZIBOqvOFDrf1MuLRz3x",
          "object": "payment_intent",
          "amount": 599,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 599,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SOgQZIBOqvOFDrf1MuLRz3x_secret_xvOX0zH09atQSV4KHUUhZGilS",
          "confirmation_method": "automatic",
          "created": 1762009755,
          "currency": "usd",
          "customer": "cus_TLNA4ckKuTALig",
          "description": "You bought http://edgar3c69fb019.test.gumroad.com:31337/l/c!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SOgQZIBOqvOFDrf1TxkrTUY",
          "livemode": false,
          "metadata": {
            "purchase": "l3J2KgGI0NKFV8mZ1ce9TQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SOgQXIBOqvOFDrftQy9zobR",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar3c69fb019",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "4522"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SOgQZIBOqvOFDrf1TxkrTUY?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SOgQZIBOqvOFDrf1TxkrTUY",
          "object": "charge",
          "amount": 599,
          "amount_captured": 599,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SOgQZIBOqvOFDrf1YGFU1Ph",
            "object": "balance_transaction",
            "amount": 599,
            "available_on": 1762560000,
            "balance_type": "payments",
            "created": 1762009755,
            "currency": "usd",
            "description": "You bought http://edgar3c69fb019.test.gumroad.com:31337/l/c!",
            "exchange_rate": null,
            "fee": 47,
            "fee_details": [
              {
                "amount": 47,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 552,
            "reporting_category": "charge",
            "source": "ch_3SOgQZIBOqvOFDrf1TxkrTUY",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR3C69FB019",
          "captured": true,
          "created": 1762009755,
          "currency": "usd",
          "customer": "cus_TLNA4ckKuTALig",
          "description": "You bought http://edgar3c69fb019.test.gumroad.com:31337/l/c!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "l3J2KgGI0NKFV8mZ1ce9TQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 22,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SOgQZIBOqvOFDrf1MuLRz3x",
          "payment_method": "pm_1SOgQXIBOqvOFDrftQy9zobR",
          "payment_method_details": {
            "card": {
              "amount_authorized": 599,
              "authorization_code": "485316",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 11,
              "exp_year": 2026,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 599,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKJzFmMgGMgZu8zqHHyc6LBak-jSQDpXRdxL4XXlO---h8QqQri_ribnKcDOiqWGMNn4Sfz8qfCW9VW21",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar3c69fb019",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "4522"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_card_indiaRecurringMandateSetupAndRenewalsSuccess
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_card_indiaRecurringMandateSetupAndRenewalsSuccess&customer=cus_TLNAu80aVvJ4vd&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1201d466-4458-4115-aab4-2755a04c4c8b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1201d466-4458-4115-aab4-2755a04c4c8b
      Original-Request:
      - req_tK8U63GF7i5k6w
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1SOgQdIBOqvOFDrf3bIBox83",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_1SOgQdIBOqvOFDrf3bIBox83_secret_TLNALQwQmXPoumvz08RnbpBJwF3iBFc",
          "created": 1762009759,
          "customer": "cus_TLNAu80aVvJ4vd",
          "description": null,
          "excluded_payment_method_types": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_1SOgQdIBOqvOFDrf2jOzD17j",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SOgQdIBOqvOFDrfDRtqXIVS",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Sat, 01 Nov 2025 15:09:20 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SOgQeIBOqvOFDrf0Ps652gJ/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - edae5f77-16ed-48cb-873d-55f3222c530d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
