---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b68166fb-0d69-48ee-af0d-5eb2c076bb62
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b68166fb-0d69-48ee-af0d-5eb2c076bb62
      Original-Request:
      - req_MCDuSiS5g7ZCEk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6urt9e1RjUNIyY7nzY6ScP",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698670017,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 12:46:58 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6urt9e1RjUNIyY7nzY6ScP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=21&email=edgar8211c49c_56%40gumroad.com&payment_method=pm_0O6urt9e1RjUNIyY7nzY6ScP
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9e0fbea5-324b-40a4-a62a-f35649357908
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9e0fbea5-324b-40a4-a62a-f35649357908
      Original-Request:
      - req_nYDnrbVJ3Hf150
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OukMFAGlYosFOk",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698670018,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "21",
          "discount": null,
          "email": "edgar8211c49c_56@gumroad.com",
          "invoice_prefix": "B9583C61",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 12:46:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgarfb1dff6022.test.gumroad.com%3A31337%2Fl%2Fv&metadata[purchase]=wfB4eP8kzEzRsxorEjWmvQ%3D%3D&transfer_group=16&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=false&setup_future_usage=off_session&payment_method=pm_0O6urt9e1RjUNIyY7nzY6ScP&customer=cus_OukMFAGlYosFOk&statement_descriptor_suffix=edgarfb1dff6022
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 77d3de64-4262-4a83-b260-9e6423da9181
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 77d3de64-4262-4a83-b260-9e6423da9181
      Original-Request:
      - req_sEdo5XvpwTOJd8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6urw9e1RjUNIyY0AXaJ0gh",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6urw9e1RjUNIyY0AXaJ0gh_secret_9vnXjfIGRjg9iMXouR1AkGi6P",
          "confirmation_method": "manual",
          "created": 1698670020,
          "currency": "usd",
          "customer": "cus_OukMFAGlYosFOk",
          "description": "You bought http://edgarfb1dff6022.test.gumroad.com:31337/l/v",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6urw9e1RjUNIyY0Xmo2oA7",
          "livemode": false,
          "metadata": {
            "purchase": "wfB4eP8kzEzRsxorEjWmvQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6urt9e1RjUNIyY7nzY6ScP",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarfb1dff6022",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "16"
        }
  recorded_at: Mon, 30 Oct 2023 12:47:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6urw9e1RjUNIyY0Xmo2oA7?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6urw9e1RjUNIyY0Xmo2oA7",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6urw9e1RjUNIyY0zXDT0Gr",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1698796800,
            "created": 1698670020,
            "currency": "usd",
            "description": "You bought http://edgarfb1dff6022.test.gumroad.com:31337/l/v",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2O6urw9e1RjUNIyY0Xmo2oA7",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARFB1DFF",
          "captured": true,
          "created": 1698670020,
          "currency": "usd",
          "customer": "cus_OukMFAGlYosFOk",
          "description": "You bought http://edgarfb1dff6022.test.gumroad.com:31337/l/v",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "wfB4eP8kzEzRsxorEjWmvQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 2,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6urw9e1RjUNIyY0AXaJ0gh",
          "payment_method": "pm_0O6urt9e1RjUNIyY7nzY6ScP",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoxcv-qQYyBneJoVaFHzosFiN5mMFx1crD33QZDB8k88ZdI8tz7jRPyLp-QwPVejkJ7-4TvwbnKe1uvJY",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarfb1dff6022",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "16"
        }
  recorded_at: Mon, 30 Oct 2023 12:47:01 GMT
recorded_with: VCR 6.2.0
