---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=6&metadata[tos_agreement_id]=-fhDVuxkKNzFQrMWfbOOqA%3D%3D&metadata[user_compliance_info_id]=9UnCMvhTLeUoLhHslwCDWA%3D%3D&metadata[bank_account_id]=fjUeSyuGe9Mc1g9Wla8aXQ%3D%3D&tos_acceptance[date]=1698781725&tos_acceptance[ip]=0.0.0.0&business_type=individual&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=barnabas+barnabastein&individual[first_name]=barnabas&individual[last_name]=barnabastein&individual[email]=seller%40example.com&individual[phone]=%2B16507423913&individual[address][line1]=123+barnabas+st&individual[address][city]=barnabasville&individual[address][state]=NY&individual[address][postal_code]=94104&individual[address][country]=US&individual[dob][day]=4&individual[dob][month]=3&individual[dob][year]=1955&individual[ssn_last_4]=6789&bank_account[country]=US&bank_account[currency]=usd&bank_account[account_number]=123123123&bank_account[routing_number]=110000000&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7623c682-e7f8-4cb0-b9b1-7323e5901135
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7623c682-e7f8-4cb0-b9b1-7323e5901135
      Original-Request:
      - req_uErkbUINYR3fCt
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "account_number_invalid",
            "doc_url": "https://stripe.com/docs/error-codes/account-number-invalid",
            "message": "You must use a test bank account number in test mode. Try 000123456789 or see more options at https://stripe.com/docs/connect/testing#account-numbers.",
            "param": "bank_account[account_number]",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_uErkbUINYR3fCt?t=1698781725",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Tue, 31 Oct 2023 19:48:46 GMT
recorded_with: VCR 6.2.0
