---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"GA","to_zip":"30301","shipping":0.0,"line_items":[{"quantity":1,"unit_price":1.0,"discount":0,"product_tax_code":"31000"}],"nexus_addresses":[{"country":"US","state":"GA"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 80e394fb-8a27-4db8-9224-5cfcff9c84c2
      X-Amz-Apigw-Id:
      - Bt5vBEFuIAMEeUA=
    body:
      encoding: UTF-8
      string: '{"tax":{"order_total_amount":1.0,"shipping":0.0,"taxable_amount":0.0,"amount_to_collect":0.0,"rate":0.0,"has_nexus":true,"freight_taxable":false,"tax_source":"destination","jurisdictions":{"country":"US","state":"GA","county":"FULTON","city":"ATLANTA"},"breakdown":{"taxable_amount":0.0,"tax_collectable":0.0,"combined_tax_rate":0.0,"state_taxable_amount":0.0,"state_tax_rate":0.0,"state_tax_collectable":0.0,"county_taxable_amount":0.0,"county_tax_rate":0.0,"county_tax_collectable":0.0,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_tax_collectable":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_tax_collectable":0.0,"line_items":[{"id":"1","taxable_amount":0.0,"tax_collectable":0.0,"combined_tax_rate":0.0,"state_taxable_amount":0.0,"state_sales_tax_rate":0.0,"state_amount":0.0,"county_taxable_amount":0.0,"county_tax_rate":0.0,"county_amount":0.0,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_amount":0.0}]}}}'
  recorded_at: Sat, 23 Nov 2024 20:36:22 GMT
recorded_with: VCR 6.2.0
