---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"AZ","to_zip":"85001","shipping":0.0,"line_items":[{"quantity":1,"unit_price":1.0,"discount":0,"product_tax_code":"31000"}],"nexus_addresses":[{"country":"US","state":"AZ"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - c2d85691-9c69-479f-8f8c-be060a0624cb
      X-Amz-Apigw-Id:
      - Bt5ujHNtIAMEDWQ=
    body:
      encoding: UTF-8
      string: '{"tax":{"order_total_amount":1.0,"shipping":0.0,"taxable_amount":1.0,"amount_to_collect":0.06,"rate":0.063,"has_nexus":true,"freight_taxable":false,"tax_source":"origin","jurisdictions":{"country":"US","state":"AZ","county":"MARICOPA"},"breakdown":{"taxable_amount":1.0,"tax_collectable":0.06,"combined_tax_rate":0.063,"state_taxable_amount":1.0,"state_tax_rate":0.056,"state_tax_collectable":0.06,"county_taxable_amount":1.0,"county_tax_rate":0.007,"county_tax_collectable":0.01,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_tax_collectable":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_tax_collectable":0.0,"line_items":[{"id":"1","taxable_amount":1.0,"tax_collectable":0.06,"combined_tax_rate":0.063,"state_taxable_amount":1.0,"state_sales_tax_rate":0.056,"state_amount":0.06,"county_taxable_amount":1.0,"county_tax_rate":0.007,"county_amount":0.01,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_amount":0.0}]}}}'
  recorded_at: Sat, 23 Nov 2024 20:36:19 GMT
recorded_with: VCR 6.2.0
