---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f2fb1e81-9f44-47f9-a55d-0bc9e817ae6c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f2fb1e81-9f44-47f9-a55d-0bc9e817ae6c
      Original-Request:
      - req_id5W0P9IpvopKc
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SsRnMIBOqvOFDrfbxwE1PQd",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 1,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1769103349,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Thu, 22 Jan 2026 17:35:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SsRnMIBOqvOFDrfbxwE1PQd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_1SsRnMIBOqvOFDrfbxwE1PQd
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 717592c4-abd3-4269-981c-fbe4d232d636
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 717592c4-abd3-4269-981c-fbe4d232d636
      Original-Request:
      - req_RMQSMjFWhjNqyN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Tq83Otq3ZG0QrD",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1769103350,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "Z3RPKCAB",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 22 Jan 2026 17:35:50 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SsRnPIBOqvOFDrfaFBFS1E0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=300&currency=usd&description=You+bought+http%3A%2F%2Fedgard9e989663.test.gumroad.com%3A31337%2Fl%2Ft%21&metadata[purchase]=iY-62vpV0Nj_fESH6VIOYg%3D%3D&transfer_group=18&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_Tq83HyhfzNp6NB&payment_method=pm_1SsRnPIBOqvOFDrfaFBFS1E0&statement_descriptor_suffix=edgard9e989663
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 53f817b9-a106-45c6-9b1f-44d2323d48ce
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 53f817b9-a106-45c6-9b1f-44d2323d48ce
      Original-Request:
      - req_dSrVunfAfXDjc0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SsRnRIBOqvOFDrf1g1Z7EJY",
          "object": "payment_intent",
          "amount": 300,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 300,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SsRnRIBOqvOFDrf1g1Z7EJY_secret_kH8sojugZRlIvsc3S19hSwZWo",
          "confirmation_method": "automatic",
          "created": 1769103353,
          "currency": "usd",
          "customer": "cus_Tq83HyhfzNp6NB",
          "customer_account": null,
          "description": "You bought http://edgard9e989663.test.gumroad.com:31337/l/t!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SsRnRIBOqvOFDrf19MNRQj0",
          "livemode": false,
          "metadata": {
            "purchase": "iY-62vpV0Nj_fESH6VIOYg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SsRnPIBOqvOFDrfaFBFS1E0",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgard9e989663",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "18"
        }
  recorded_at: Thu, 22 Jan 2026 17:35:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SsRnRIBOqvOFDrf19MNRQj0?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SsRnRIBOqvOFDrf19MNRQj0",
          "object": "charge",
          "amount": 300,
          "amount_captured": 300,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SsRnRIBOqvOFDrf1MnkHE9L",
            "object": "balance_transaction",
            "amount": 300,
            "available_on": 1769644800,
            "balance_type": "payments",
            "created": 1769103353,
            "currency": "usd",
            "description": "You bought http://edgard9e989663.test.gumroad.com:31337/l/t!",
            "exchange_rate": null,
            "fee": 39,
            "fee_details": [
              {
                "amount": 39,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 261,
            "reporting_category": "charge",
            "source": "ch_3SsRnRIBOqvOFDrf19MNRQj0",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGARD9E989663",
          "captured": true,
          "created": 1769103353,
          "currency": "usd",
          "customer": "cus_Tq83HyhfzNp6NB",
          "description": "You bought http://edgard9e989663.test.gumroad.com:31337/l/t!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "iY-62vpV0Nj_fESH6VIOYg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 28,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SsRnRIBOqvOFDrf1g1Z7EJY",
          "payment_method": "pm_1SsRnPIBOqvOFDrfaFBFS1E0",
          "payment_method_details": {
            "card": {
              "amount_authorized": 300,
              "authorization_code": "261148",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 1,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 300,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKPq_ycsGMgZYL9IwHR06LBZxmYjanPdnr1wn9Pv87srC7pysIE9-CvHxyeCq4uB4ljmuIV24XN5HWXvj",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgard9e989663",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "18"
        }
  recorded_at: Thu, 22 Jan 2026 17:35:54 GMT
recorded_with: VCR 6.2.0
