---
http_interactions:
- request:
    method: get
    uri: https://soundcloud.com/oembed?format=json&maxwidth=670&url=https://soundcloud.com/cade-turner/cade-turner-symphony-of-light
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"0a4c31c7da73b2bdf952abe49e9327e9"
    body:
      encoding: ASCII-8BIT
      string: '{"version":1.0,"type":"rich","provider_name":"SoundCloud","provider_url":"https://soundcloud.com","height":400,"width":670,"title":"Cade
        Turner - Symphony Of Light Exhibition by Cade Turner","description":"In this
        podcast, I share the inspiration behind my upcoming exhibition, Symphony of
        Light, for which I''ve produced a series of heart-felt, evanescent landscapes
        that were created completely in-camera.","thumbnail_url":"https://i1.sndcdn.com/artworks-000053047348-b62qv1-t500x500.jpg","html":"<iframe
        width=\"670\" height=\"400\" scrolling=\"no\" frameborder=\"no\" src=\"https://w.soundcloud.com/player/?visual=true&url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F101276036&show_artwork=true&maxwidth=670\"></iframe>","author_name":"Cade
        Turner","author_url":"https://soundcloud.com/cade-turner"}'
  recorded_at: Tue, 28 Oct 2025 13:52:51 GMT
recorded_with: VCR 6.2.0
