---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=9024490251996&metadata[tos_agreement_id]=fk9BEg_dBwmGMF3dbQZtfQ%3D%3D&metadata[user_compliance_info_id]=fk9BEg_dBwmGMF3dbQZtfQ%3D%3D&metadata[bank_account_id]=LDoTDXxq17lAtuY9G4QoHQ%3D%3D&tos_acceptance[date]=1744397984&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[name]=Chuck+Bartowski&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=edgar0e1080bc_29%40gumroad.com&individual[phone]=0000000000&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=California&individual[address][postal_code]=94107&individual[address][country]=US&individual[id_number]=000000000&bank_account[country]=US&bank_account[currency]=usd&bank_account[account_number]=000<STRONGBOX_GENERAL_PASSWORD>56789&bank_account[routing_number]=110000000&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7cb3cd0b-0205-4af2-a6e9-389bb1ada532
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7cb3cd0b-0205-4af2-a6e9-389bb1ada532
      Original-Request:
      - req_J9fOgABfaiLhih
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1RCmnlS5GXfuBNQY",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "minority_owned_business_designation": null,
            "name": "Chuck Bartowski",
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "pending"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "US",
          "created": 1744397987,
          "default_currency": "usd",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1RCmnlS5GXfuBNQY9CSXnjkP",
                "object": "bank_account",
                "account": "acct_1RCmnlS5GXfuBNQY",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard",
                  "instant"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "dx7dqwoGHEQDKLLK",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1RCmnlS5GXfuBNQY/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1717516800,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "business_profile.url",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "individual": {
            "id": "person_1RCmnlS5GXfuBNQYhFurn8kt",
            "object": "person",
            "account": "acct_1RCmnlS5GXfuBNQY",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "created": 1744397986,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "edgar0e1080bc_29@gumroad.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "authorizer": false,
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "pending"
            }
          },
          "metadata": {
            "bank_account_id": "LDoTDXxq17lAtuY9G4QoHQ==",
            "tos_agreement_id": "fk9BEg_dBwmGMF3dbQZtfQ==",
            "user_compliance_info_id": "fk9BEg_dBwmGMF3dbQZtfQ==",
            "user_id": "9024490251996"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": "requirements.pending_verification",
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "business_profile.url",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "risk_controls": {
            "charges": {
              "pause_requested": false
            },
            "payouts": {
              "pause_requested": false
            }
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "capital": {},
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "CHUCK BART",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Chuck Bartowski",
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null,
              "hosted_payment_method_save": "always"
            },
            "payments": {
              "statement_descriptor": "CHUCK BARTOWSKI",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 1,
                "interval": "manual"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1744397984,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Fri, 11 Apr 2025 18:59:49 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1RCmnlS5GXfuBNQY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1RCmnlS5GXfuBNQY
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1RCmnlS5GXfuBNQY",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "minority_owned_business_designation": null,
            "name": "Chuck Bartowski",
      [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1RCmnqS9KplvLpjG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1RCmn[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: destination=acct_1RCmnqS9KplvLpjG&currency=usd&amount=1001200
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 929878f1-f77d-4701-9bb6-55b21d58f09b
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 929878f1-f77d-4701-9bb6-55b21d58f09b
      Original-Request:
      - req_7uwqpEN1OUr7xw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_0RCmoR9e1RjUNIyYrNJsLYam",
          "object": "transfer",
          "amount": 1001200,
          "amount_reversed": 0,
          "balance_transaction": "txn_0RCmoR9e1RjUNIyYQAwx3mtR",
          "created": 1744398027,
          "currency": "usd",
          "description": null,
          "destination": "acct_1RCmnqS9KplvLpjG",
          "destination_payment": "py_1RCmoRS9KplvLpjG8HVHV4ln",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_0RCmoR9e1RjUNIyYrNJsLYam/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Fri, 11 Apr 2025 19:00:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: destination=acct_1RCmnlS5GXfuBNQY&currency=usd&description=Funds+held+by+Gumroad+for+Payment+mZERkVSdEkeyz_l71A4StA%3D%3D.&amount=91000&metadata[payment]=mZERkVSdEkeyz_l71A4StA%3D%3D&metadata[balances%7B0%7D]=VWpXarJRw61WfElrR2YMtw%3D%3D%2CuqStdpOZdNQCQ8ZeW3em1g%3D%3D&expand[0]=balance_transaction
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5f57c689-a6c9-4854-95da-52652c664bbd
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5f57c689-a6c9-4854-95da-52652c664bbd
      Original-Request:
      - req_QRWrlGcsDTaEHz
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_0RCmoS9e1RjUNIyYj86vhlMQ",
          "object": "transfer",
          "amount": 91000,
          "amount_reversed": 0,
          "balance_transaction": {
            "id": "txn_0RCmoS9e1RjUNIyYmtPWsf8G",
            "object": "balance_transaction",
            "amount": -91000,
            "available_on": 1744398028,
            "created": 1744398028,
            "currency": "usd",
            "description": "Funds held by Gumroad for Payment mZERkVSdEkeyz_l71A4StA==.",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": -91000,
            "reporting_category": "transfer",
            "source": "tr_0RCmoS9e1RjUNIyYj86vhlMQ",
            "status": "available",
            "type": "transfer"
          },
          "created": 1744398028,
          "currency": "usd",
          "description": "Funds held by Gumroad for Payment mZERkVSdEkeyz_l71A4StA==.",
          "destination": "acct_1RCmnlS5GXfuBNQY",
          "destination_payment": "py_1RCmoSS5GXfuBNQYhdGW4ZsV",
          "livemode": false,
          "metadata": {
            "balances{0}": "VWpXarJRw61WfElrR2YMtw==,uqStdpOZdNQCQ8ZeW3em1g==",
            "payment": "mZERkVSdEkeyz_l71A4StA=="
          },
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_0RCmoS9e1RjUNIyYj86vhlMQ/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Fri, 11 Apr 2025 19:00:28 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1RCmoSS5GXfuBNQYhdGW4ZsV?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1RCmnlS5GXfuBNQY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1RCmnlS5GXfuBNQY
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1RCmoSS5GXfuBNQYhdGW4ZsV",
          "object": "charge",
          "amount": 91000,
          "amount_captured": 91000,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1RCmoSS5GXfuBNQYONAOLBYC",
            "object": "balance_transaction",
            "amount": 91000,
            "available_on": 1744398028,
            "created": 1744398028,
            "currency": "usd",
            "description": null,
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 91000,
            "reporting_category": "charge",
            "source": "py_1RCmoSS5GXfuBNQYhdGW4ZsV",
            "status": "available",
            "type": "payment"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": null,
          "captured": true,
          "created": 1744398028,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": null,
          "paid": true,
          "payment_intent": null,
          "payment_method": null,
          "payment_method_details": {
            "stripe_account": {},
            "type": "stripe_account"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xUkNtbmxTNUdYZnVCTlFZKM3N5b8GMgaab8Z3oM86LBai_IRPnx9M3Z1Txlk97FRaxDEbZVHuvoDemIn8aJ6_BhJiofniNEfgr6Ms",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": {
            "id": "<STRIPE_PLATFORM_ACCOUNT_ID>",
            "object": "account",
            "application_icon": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV96QURJZllYTVhmQTEwQWswUmg3MlRpOGI00M3h6olFO",
            "application_logo": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV9WNnByazhHekswejFlUGh3a1M0dnRxZko00eY1DsvrA",
            "application_name": "Gumroad",
            "application_url": "https://gumroad.com"
          },
          "source_transfer": "tr_0RCmoS9e1RjUNIyYj86vhlMQ",
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Fri, 11 Apr 2025 19:00:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payouts
    body:
      encoding: UTF-8
      string: amount=88349&currency=usd&destination=ba_1RCmnlS5GXfuBNQY9CSXnjkP&statement_descriptor=Gumroad&description=mZERkVSdEkeyz_l71A4StA%3D%3D&metadata[payment]=mZERkVSdEkeyz_l71A4StA%3D%3D&metadata[bank_account]=LDoTDXxq17lAtuY9G4QoHQ%3D%3D&metadata[balances%7B0%7D]=VWpXarJRw61WfElrR2YMtw%3D%3D%2CuqStdpOZdNQCQ8ZeW3em1g%3D%3D&method=instant
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d75518c9-d475-47c1-a58a-c319aeed10d4
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1RCmnlS5GXfuBNQY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d75518c9-d475-47c1-a58a-c319aeed10d4
      Original-Request:
      - req_vUnDND5B6WZ6FS
      Stripe-Account:
      - acct_1RCmnlS5GXfuBNQY
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "po_1RCmoTS5GXfuBNQY35ruO9Z8",
          "object": "payout",
          "amount": 88349,
          "application_fee": "fee_1RCmoTS5GXfuBNQY2mf2IxLn",
          "application_fee_amount": 2650,
          "arrival_date": 1744398029,
          "automatic": false,
          "balance_transaction": "txn_1RCmoUS5GXfuBNQYm23lzDWq",
          "created": 1744398029,
          "currency": "usd",
          "description": "mZERkVSdEkeyz_l71A4StA==",
          "destination": "ba_1RCmnlS5GXfuBNQY9CSXnjkP",
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {
            "balances{0}": "VWpXarJRw61WfElrR2YMtw==,uqStdpOZdNQCQ8ZeW3em1g==",
            "bank_account": "LDoTDXxq17lAtuY9G4QoHQ==",
            "payment": "mZERkVSdEkeyz_l71A4StA=="
          },
          "method": "instant",
          "original_payout": null,
          "reconciliation_status": "not_applicable",
          "reversed_by": null,
          "source_type": "card",
          "statement_descriptor": "Gumroad",
          "status": "pending",
          "trace_id": {
            "status": "pending",
            "value": null
          },
          "type": "bank_account"
        }
  recorded_at: Fri, 11 Apr 2025 19:00:31 GMT
recorded_with: VCR 6.2.0
