---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=1436004520426&metadata[tos_agreement_id]=RwtKZN3ru9U9In38aZSD2g%3D%3D&metadata[user_compliance_info_id]=RwtKZN3ru9U9In38aZSD2g%3D%3D&metadata[bank_account_id]=bfi_30HLgGWL8H2wo_Gzlg%3D%3D&tos_acceptance[date]=1732684619&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[name]=Chuck+Bartowski&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=edgarab130882_9%40gumroad.com&individual[phone]=0000000000&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=California&individual[address][postal_code]=94107&individual[address][country]=US&individual[id_number]=000000000&bank_account[country]=US&bank_account[currency]=usd&bank_account[account_number]=000123456789&bank_account[routing_number]=110000000&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 414e900b-0a20-4492-a281-afb1c7442acf
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 414e900b-0a20-4492-a281-afb1c7442acf
      Original-Request:
      - req_51DDLl20ayPEea
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1QPdcVS0YHh6YBWw",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "name": "Chuck Bartowski",
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "pending"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "US",
          "created": 1732684621,
          "default_currency": "usd",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1QPdcWS0YHh6YBWwGblkAB7V",
                "object": "bank_account",
                "account": "acct_1QPdcVS0YHh6YBWw",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard",
                  "instant"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "dx7dqwoGHEQDKLLK",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1QPdcVS0YHh6YBWw/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1717516800,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "business_profile.url",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "individual": {
            "id": "person_1QPdcWS0YHh6YBWwQA45tsoW",
            "object": "person",
            "account": "acct_1QPdcVS0YHh6YBWw",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "created": 1732684621,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "edgarab130882_9@gumroad.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "authorizer": false,
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "pending"
            }
          },
          "metadata": {
            "bank_account_id": "bfi_30HLgGWL8H2wo_Gzlg==",
            "tos_agreement_id": "RwtKZN3ru9U9In38aZSD2g==",
            "user_compliance_info_id": "RwtKZN3ru9U9In38aZSD2g==",
            "user_id": "1436004520426"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": "requirements.pending_verification",
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "business_profile.url",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "capital": {},
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "CHUCK BART",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Chuck Bartowski",
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null
            },
            "payments": {
              "statement_descriptor": "CHUCK BARTOWSKI",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 1,
                "interval": "manual"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1732684619,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Wed, 27 Nov 2024 05:17:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1QPdcVS0YHh6YBWw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1QPdcVS0YHh6YBWw
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1QPdcVS0YHh6YBWw",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "name": "Chuck Bartowski",
            "product_description": "Chuck Bartowski",
            "[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1QPdcbS1Ucxk1mIr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1QPdc[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: destination=acct_1QPdcbS1Ucxk1mIr&currency=usd&amount=1001200
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bfd999d2-255f-4dc2-aaa2-6d3e0b4be956
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bfd999d2-255f-4dc2-aaa2-6d3e0b4be956
      Original-Request:
      - req_TdxZzXgIizybO2
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_0QPdd09e1RjUNIyYswa0oebb",
          "object": "transfer",
          "amount": 1001200,
          "amount_reversed": 0,
          "balance_transaction": "txn_0QPdd09e1RjUNIyYBTluXzlG",
          "created": 1732684650,
          "currency": "usd",
          "description": null,
          "destination": "acct_1QPdcbS1Ucxk1mIr",
          "destination_payment": "py_1QPdd0S1Ucxk1mIrfx4zLmQF",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_0QPdd09e1RjUNIyYswa0oebb/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Wed, 27 Nov 2024 05:17:31 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: destination=acct_1QPdcVS0YHh6YBWw&currency=usd&description=Funds+held+by+Gumroad+for+Payment+mN7CdHiwHaR9FlxKvF-n-g%3D%3D.&amount=1001100&metadata[payment]=mN7CdHiwHaR9FlxKvF-n-g%3D%3D&metadata[balances%7B0%7D]=NBKNZwwDs8H_JBX8R4qB3w%3D%3D%2CbEtKQ3Zu9SgNopem0-ZywA%3D%3D&expand[0]=balance_transaction
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b8704810-05cd-49a4-88f5-a861bf8802be
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b8704810-05cd-49a4-88f5-a861bf8802be
      Original-Request:
      - req_hLtRep6lWMnCvN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_0QPdd19e1RjUNIyYYuwI6yDr",
          "object": "transfer",
          "amount": 1001100,
          "amount_reversed": 0,
          "balance_transaction": {
            "id": "txn_0QPdd19e1RjUNIyYsIPchnmh",
            "object": "balance_transaction",
            "amount": -1001100,
            "available_on": 1732684651,
            "created": 1732684651,
            "currency": "usd",
            "description": "Funds held by Gumroad for Payment mN7CdHiwHaR9FlxKvF-n-g==.",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": -1001100,
            "reporting_category": "transfer",
            "source": "tr_0QPdd19e1RjUNIyYYuwI6yDr",
            "status": "available",
            "type": "transfer"
          },
          "created": 1732684651,
          "currency": "usd",
          "description": "Funds held by Gumroad for Payment mN7CdHiwHaR9FlxKvF-n-g==.",
          "destination": "acct_1QPdcVS0YHh6YBWw",
          "destination_payment": "py_1QPdd1S0YHh6YBWwwzrULJe1",
          "livemode": false,
          "metadata": {
            "balances{0}": "NBKNZwwDs8H_JBX8R4qB3w==,bEtKQ3Zu9SgNopem0-ZywA==",
            "payment": "mN7CdHiwHaR9FlxKvF-n-g=="
          },
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_0QPdd19e1RjUNIyYYuwI6yDr/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Wed, 27 Nov 2024 05:17:32 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1QPdd1S0YHh6YBWwwzrULJe1?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1QPdcVS0YHh6YBWw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1QPdcVS0YHh6YBWw
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1QPdd1S0YHh6YBWwwzrULJe1",
          "object": "charge",
          "amount": 1001100,
          "amount_captured": 1001100,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1QPdd2S0YHh6YBWwCNjEmjVT",
            "object": "balance_transaction",
            "amount": 1001100,
            "available_on": 1732684651,
            "created": 1732684651,
            "currency": "usd",
            "description": null,
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 1001100,
            "reporting_category": "charge",
            "source": "py_1QPdd1S0YHh6YBWwwzrULJe1",
            "status": "available",
            "type": "payment"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": null,
          "captured": true,
          "created": 1732684651,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": null,
          "paid": true,
          "payment_intent": null,
          "payment_method": null,
          "payment_method_details": {
            "stripe_account": {},
            "type": "stripe_account"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xUVBkY1ZTMFlIaDZZQld3KOzWmroGMgaPXVtunig6LBbvWldcNW0Ll_TajDN7Uu0DxVsTKda9niYV48fNPsVBBOnx4MiJdU0ffvbi",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": {
            "id": "<STRIPE_PLATFORM_ACCOUNT_ID>",
            "object": "account",
            "application_icon": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV96QURJZllYTVhmQTEwQWswUmg3MlRpOGI00M3h6olFO",
            "application_logo": "https://files.stripe.com/links/MDB8OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEV8ZmxfbGl2ZV9WNnByazhHekswejFlUGh3a1M0dnRxZko00eY1DsvrA",
            "application_name": "Gumroad",
            "application_url": "https://gumroad.com"
          },
          "source_transfer": "tr_0QPdd19e1RjUNIyYYuwI6yDr",
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Wed, 27 Nov 2024 05:17:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payouts
    body:
      encoding: UTF-8
      string: amount=1001100&currency=usd&destination=ba_1QPdcWS0YHh6YBWwGblkAB7V&statement_descriptor=Gumroad&description=mN7CdHiwHaR9FlxKvF-n-g%3D%3D&method=standard&metadata[payment]=mN7CdHiwHaR9FlxKvF-n-g%3D%3D&metadata[bank_account]=bfi_30HLgGWL8H2wo_Gzlg%3D%3D&metadata[balances%7B0%7D]=NBKNZwwDs8H_JBX8R4qB3w%3D%3D%2CbEtKQ3Zu9SgNopem0-ZywA%3D%3D
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d3a511c6-3122-4ba0-baa0-0b61b4341be6
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1QPdcVS0YHh6YBWw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d3a511c6-3122-4ba0-baa0-0b61b4341be6
      Original-Request:
      - req_AIUTX3Cq5iYtAK
      Stripe-Account:
      - acct_1QPdcVS0YHh6YBWw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "po_1QPdd3S0YHh6YBWw1HYUJiGS",
          "object": "payout",
          "amount": 1001100,
          "application_fee": null,
          "application_fee_amount": null,
          "arrival_date": 1732665600,
          "automatic": false,
          "balance_transaction": "txn_1QPdd3S0YHh6YBWwzhn1QJ6t",
          "created": 1732684653,
          "currency": "usd",
          "description": "mN7CdHiwHaR9FlxKvF-n-g==",
          "destination": "ba_1QPdcWS0YHh6YBWwGblkAB7V",
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {
            "balances{0}": "NBKNZwwDs8H_JBX8R4qB3w==,bEtKQ3Zu9SgNopem0-ZywA==",
            "bank_account": "bfi_30HLgGWL8H2wo_Gzlg==",
            "payment": "mN7CdHiwHaR9FlxKvF-n-g=="
          },
          "method": "standard",
          "original_payout": null,
          "reconciliation_status": "not_applicable",
          "reversed_by": null,
          "source_type": "card",
          "statement_descriptor": "Gumroad",
          "status": "pending",
          "trace_id": {
            "status": "pending",
            "value": null
          },
          "type": "bank_account"
        }
  recorded_at: Wed, 27 Nov 2024 05:17:34 GMT
recorded_with: VCR 6.2.0
