---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJwbGF5LWJpbGxpbmctYXBpQGd1bXJvYWQtbGlicmFyeS5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsImF1ZCI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL29hdXRoMi92NC90b2tlbiIsImV4cCI6MTcyMDEzNzUwNCwiaWF0IjoxNzIwMTM3Mzg0LCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvYW5kcm9pZHB1Ymxpc2hlciJ9.GyweJ1YwTonxTP2uAZH0B1LcyH_hJsxGiqNxVSOmefRR2711rcxGM9iV0eJXP1Zk1icPIzeX5KJ9dFO7i3-5vgKFE5254PUt7RP7h8Elv-c1OaXgyg8-SbzhoTfcjhS48Z31W-08Pr1BianaxxPhqchS1s3MBBVb6TzBXPk4Tbgzdz4Kmo152sikJrIej34kuxzmvrEO2-I5w23En0SWMaoIdOSn4Nu6cqp3wXDMEGEn4gp3NQS83K5h3o15g8DvBb0K-XjjuQljFHBjSEyJjvThr2jAwsGKJ3H85AbUX3K9noWYeUngWe8J6wjm0GWO5kSInmznkJlSmDz1D7R9Cw
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ya29.c.c0AY_VpZggM5ieyVFyvhaSGLLQJ2cvMnqE38Y-ssE5fxix-s4y0SV5xJVpQcmcMEI1yKsQQl_4GOK9zrabZ0zk34BQAJ_dCd48pCV28CLPnZJfJczAIA2FHvFPzLLBsb2HK7D-ho62I9lbB_xz6tgu_FJ8ERjaVVwxsbw-cT7FfcrNj0NM_pmVlprZrj7LUUZ2pRlNiIbc6b6U95dQNUIQ0bjVWT2-2UswMdflCOgHJtJn1ta2o_Tt1PYBoFyiAHYuDKEu5KLZaFjOyCDFHRnNHDwoR5cqXLgCrsPC-6796iCzjiJwwBBWzr1bR2WD2w3BNVHLqgi_ZLtUEhYgUjm0NIUAO29SpOwY9ceyRfbzvkUD1z1ZfMN1jOXLT385KgmX05q2idSvBZ64Xdcz69bkQ2WBrgS7ns8pepBJ4Rj1Z9ZM8V_Ykbp9-fimy_38UaM1Qc3nv4Vy2z12uo4o2_RomYs6aSXSIu29p7dpvYnUVs3zbUf2a77g7kMz0bhltZOF-2vZvaS6Vi1SoUrMpemu_gc5dwB8y5UtrYzah7FtIjc2mS1beQzZQJzV2cvkg44Z39X8I4ZS5yxuB_Svxhkw2IRgQrYJ0_06W7jVbwzzQQnxJpv6roj_1rh1kmOz3SOviQvwYeVF8VWiamirifBwkxkiyvnhIzzvJwtVbYMdYF6jmsUcukmZI8gBSpvznl8izwlaeR8xpeRxnSMm42l7MFnu4-onWS1XJqJ1xxFeMuuyI7_nZccbYy11O0I4MJrdtJ3fX7eRfghWUeQaI96FWyxQFg4jZY59xaXfsYcd4-QJe501lowwrIwdf0_JBSWxiryRhkgFJnZtap6fwgcVcseYjaeJdwwUfeaw4qiVQ1dz8dWshJI14t-XxxMQb1l7fkeM1tZVvO_78l0b6BVJcssxrlri4dida7f9_t3XOjW25I2--blmeff5W2byc8qlv280YSS4Mt1bMVQOfBkVJ9eYpV9thpxsn6U7FI8rg_4agQenOcitx1b","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Thu, 04 Jul 2024 23:57:24 GMT
- request:
    method: get
    uri: https://androidpublisher.googleapis.com/androidpublisher/v3/applications/com.gumroad.app/purchases/products/com.gumroad.product_2/tokens/ioaofjheincpkpjngbpeklnj.AO-J1Oz2PB6tI_SYNj1vMDgLuNffrzVMNNZwV9vpOUqFOzicks0zTDZl6xh1q3StS-gxZf0WVjyAyayhPh0-6TwAS8gkahn7FQ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.c0AY_VpZggM5ieyVFyvhaSGLLQJ2cvMnqE38Y-ssE5fxix-s4y0SV5xJVpQcmcMEI1yKsQQl_4GOK9zrabZ0zk34BQAJ_dCd48pCV28CLPnZJfJczAIA2FHvFPzLLBsb2HK7D-ho62I9lbB_xz6tgu_FJ8ERjaVVwxsbw-cT7FfcrNj0NM_pmVlprZrj7LUUZ2pRlNiIbc6b6U95dQNUIQ0bjVWT2-2UswMdflCOgHJtJn1ta2o_Tt1PYBoFyiAHYuDKEu5KLZaFjOyCDFHRnNHDwoR5cqXLgCrsPC-6796iCzjiJwwBBWzr1bR2WD2w3BNVHLqgi_ZLtUEhYgUjm0NIUAO29SpOwY9ceyRfbzvkUD1z1ZfMN1jOXLT385KgmX05q2idSvBZ64Xdcz69bkQ2WBrgS7ns8pepBJ4Rj1Z9ZM8V_Ykbp9-fimy_38UaM1Qc3nv4Vy2z12uo4o2_RomYs6aSXSIu29p7dpvYnUVs3zbUf2a77g7kMz0bhltZOF-2vZvaS6Vi1SoUrMpemu_gc5dwB8y5UtrYzah7FtIjc2mS1beQzZQJzV2cvkg44Z39X8I4ZS5yxuB_Svxhkw2IRgQrYJ0_06W7jVbwzzQQnxJpv6roj_1rh1kmOz3SOviQvwYeVF8VWiamirifBwkxkiyvnhIzzvJwtVbYMdYF6jmsUcukmZI8gBSpvznl8izwlaeR8xpeRxnSMm42l7MFnu4-onWS1XJqJ1xxFeMuuyI7_nZccbYy11O0I4MJrdtJ3fX7eRfghWUeQaI96FWyxQFg4jZY59xaXfsYcd4-QJe501lowwrIwdf0_JBSWxiryRhkgFJnZtap6fwgcVcseYjaeJdwwUfeaw4qiVQ1dz8dWshJI14t-XxxMQb1l7fkeM1tZVvO_78l0b6BVJcssxrlri4dida7f9_t3XOjW25I2--blmeff5W2byc8qlv280YSS4Mt1bMVQOfBkVJ9eYpV9thpxsn6U7FI8rg_4agQenOcitx1b
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "purchaseTimeMillis": "1720126119585",
          "purchaseState": 0,
          "consumptionState": 1,
          "developerPayload": "",
          "orderId": "GPA.3375-1247-2605-34469",
          "purchaseType": 0,
          "acknowledgementState": 1,
          "kind": "androidpublisher#productPurchase",
          "regionCode": "US"
        }
  recorded_at: Thu, 04 Jul 2024 23:57:25 GMT
[...]
- request:
    method: get
    uri: https://androidpublisher.googleapis.com/androidpublisher/v3/applications/com.gumroad.app/inappproducts/com.gumroad.product_2
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.c0AY_VpZgzqIWzUa_-H7AQMX0Kv8k8i9DfZQiygvg_h6olvRDBrpZIc0-sBl6I2yHpcG9co7vcj-jag6lsF2PMpGuO3pTR22FO7N5TmMM6mc1Sp1L0rW2X9p-TfX6trJp2drTTNIU0scYM92Xuo1Kwy9dTJXAZogSqU3q0y-rQo7eV681iBVKMAEH5TWtA9RPiDTh_6J_YfA3pvk-XLLEeypb7VqWlQLItUlIbrZd0gY6Zrtcf5OqPv44SGJXe2J8vsp555d-rHYxWVVpPWO3qly_AD4t0j8HJCH-Zp8C2YWBFLNAWg_0NSs42ZGilIOyelams6ZB-ACiu_7Z-AKBMrpHl51lUuvm0ly5Pkp5B-fPSyu9mbsE1X_QL384PSgu3tBbnlMOeJq3hUFqWm5dvW56XtZ6rodwcnuz6faYkuxmVeuZQmQ-J_bSk2tdBSxXoSobFrdzM2iXfqBvdjt1qgFh6iIe4his9f4cjo710_Mh1a6ySF9wuhmkt2mF5UfclQvoktZqwicizBh1Q3JB2BxXckIFp4yFaOw5qMnwSVnZQJmrZ75_IeIj4VwYzyIV4OojV295lBnd0eiuU9gfmF1YW8ySB9wlsm2UdSaWwX_u3QMldnXQt_f5jcqSM5QQWql3847rtm3zn9g1Qn1zsr_QqdUnX8i65YJvjS-siYp831b9gVU6QBVnvo3cxSzp20q-BtIl01w8FqeSlk4WUFqazVbFpIqaBO-M0c0zcyV0llczaW_qFmfUVZ2kWYcup9IzoXcaeZdI-BlyRl9VSOep6W9j0fSu4nzzsfr-JZ3dX9XUSnXj5ZygnjxaramgowhSI5yJgx3yJXiRMmYf8J-VVpz1ts4ojmBFVfq_J6s9IbRk4Ug8Wzs70u_XvXWUpoQbS8RqRyz9h3sz58U4kzVO4rY5XmSSMvwBOhtmR_Xe2_9ie8uMe501pBr_tjagumyvp0ynYzW65sh9pc1e8Xp8S-8XWzqs3hltje_7mYhc_ZrOVJiqOFWq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 463f267a1a4746487ce42c921603d7faf6324bee
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "packageName": "com.gumroad.app",
          "sku": "com.gumroad.product_2",
          "status": "active",
          "purchaseType": "managedUser",
          "defaultPrice": {
            "priceMicros": "2000000",
            "currency": "USD"
          },
          "prices": {
            "AE": {
              "priceMicros": "7690000",
              "currency": "AED"
            },
            "AT": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "AU": {
              "priceMicros": "3290000",
              "currency": "AUD"
            },
            "BD": {
              "priceMicros": "290000000",
              "currency": "BDT"
            },
            "BE": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "BG": {
              "priceMicros": "4290000",
              "currency": "BGN"
            },
            "BH": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "BM": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "BO": {
              "priceMicros": "13990000",
              "currency": "BOB"
            },
            "BR": {
              "priceMicros": "10990000",
              "currency": "BRL"
            },
            "CA": {
              "priceMicros": "2690000",
              "currency": "CAD"
            },
            "CH": {
              "priceMicros": "1800000",
              "currency": "CHF"
            },
            "CL": {
              "priceMicros": "2200000000",
              "currency": "CLP"
            },
            "CO": {
              "priceMicros": "8000000000",
              "currency": "COP"
            },
            "CR": {
              "priceMicros": "1100000000",
              "currency": "CRC"
            },
            "CY": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "CZ": {
              "priceMicros": "54990000",
              "currency": "CZK"
            },
            "DE": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "DK": {
              "priceMicros": "17000000",
              "currency": "DKK"
            },
            "DZ": {
              "priceMicros": "275000000",
              "currency": "DZD"
            },
            "EC": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "EE": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "EG": {
              "priceMicros": "109990000",
              "currency": "EGP"
            },
            "ES": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "FI": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "FM": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "FR": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "GB": {
              "priceMicros": "1890000",
              "currency": "GBP"
            },
            "GE": {
              "priceMicros": "7000000",
              "currency": "GEL"
            },
            "GH": {
              "priceMicros": "40000000",
              "currency": "GHS"
            },
            "GI": {
              "priceMicros": "1590000",
              "currency": "GBP"
            },
            "GR": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "HK": {
              "priceMicros": "15000000",
              "currency": "HKD"
            },
            "HR": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "HU": {
              "priceMicros": "899000000",
              "currency": "HUF"
            },
            "ID": {
              "priceMicros": "33000000000",
              "currency": "IDR"
            },
            "IE": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "IL": {
              "priceMicros": "7500000",
              "currency": "ILS"
            },
            "IN": {
              "priceMicros": "200000000",
              "currency": "INR"
            },
            "IQ": {
              "priceMicros": "2600000000",
              "currency": "IQD"
            },
            "IT": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "JO": {
              "priceMicros": "1400000",
              "currency": "JOD"
            },
            "JP": {
              "priceMicros": "320000000",
              "currency": "JPY"
            },
            "KE": {
              "priceMicros": "300000000",
              "currency": "KES"
            },
            "KH": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "KR": {
              "priceMicros": "3000000000",
              "currency": "KRW"
            },
            "KW": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "KY": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "KZ": {
              "priceMicros": "1090000000",
              "currency": "KZT"
            },
            "LI": {
              "priceMicros": "1900000",
              "currency": "CHF"
            },
            "LK": {
              "priceMicros": "600000000",
              "currency": "LKR"
            },
            "LT": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "LU": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "LV": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "MA": {
              "priceMicros": "23990000",
              "currency": "MAD"
            },
            "MC": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "MM": {
              "priceMicros": "4000000000",
              "currency": "MMK"
            },
            "MO": {
              "priceMicros": "15990000",
              "currency": "MOP"
            },
            "MX": {
              "priceMicros": "42000000",
              "currency": "MXN"
            },
            "MY": {
              "priceMicros": "9990000",
              "currency": "MYR"
            },
            "NG": {
              "priceMicros": "3280000000",
              "currency": "NGN"
            },
            "NL": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "NO": {
              "priceMicros": "26000000",
              "currency": "NOK"
            },
            "NZ": {
              "priceMicros": "3790000",
              "currency": "NZD"
            },
            "OM": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "PA": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "PE": {
              "priceMicros": "7490000",
              "currency": "PEN"
            },
            "PH": {
              "priceMicros": "119000000",
              "currency": "PHP"
            },
            "PK": {
              "priceMicros": "550000000",
              "currency": "PKR"
            },
            "PL": {
              "priceMicros": "9690000",
              "currency": "PLN"
            },
            "PT": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "PY": {
              "priceMicros": "20000000000",
              "currency": "PYG"
            },
            "QA": {
              "priceMicros": "7500000",
              "currency": "QAR"
            },
            "RO": {
              "priceMicros": "10990000",
              "currency": "RON"
            },
            "RS": {
              "priceMicros": "249000000",
              "currency": "RSD"
            },
            "RU": {
              "priceMicros": "179000000",
              "currency": "RUB"
            },
            "SA": {
              "priceMicros": "8590000",
              "currency": "SAR"
            },
            "SE": {
              "priceMicros": "26000000",
              "currency": "SEK"
            },
            "SG": {
              "priceMicros": "2980000",
              "currency": "SGD"
            },
            "SI": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "SK": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "SM": {
              "priceMicros": "1890000",
              "currency": "EUR"
            },
            "SV": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "TC": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "TH": {
              "priceMicros": "78000000",
              "currency": "THB"
            },
            "TR": {
              "priceMicros": "77990000",
              "currency": "TRY"
            },
            "TW": {
              "priceMicros": "68000000",
              "currency": "TWD"
            },
            "TZ": {
              "priceMicros": "5500000000",
              "currency": "TZS"
            },
            "UA": {
              "priceMicros": "94990000",
              "currency": "UAH"
            },
            "US": {
              "priceMicros": "2000000",
              "currency": "USD"
            },
            "VA": {
              "priceMicros": "1890000",
              "currency": "EUR"
            },
            "VG": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "VN": {
              "priceMicros": "51000000000",
              "currency": "VND"
            },
            "ZA": {
              "priceMicros": "41990000",
              "currency": "ZAR"
            }
          },
          "listings": {
            "en-US": {
              "title": "Gumroad Product",
              "description": "Gumroad Product $2"
            }
          },
          "defaultLanguage": "en-US",
          "managedProductTaxesAndComplianceSettings": {
            "eeaWithdrawalRightType": "WITHDRAWAL_RIGHT_DIGITAL_CONTENT"
          }
        }
  recorded_at: Thu, 04 Jul 2024 23:57:26 GMT
recorded_with: VCR 6.2.0
