---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"1640 17th St","city":"San Francisco","state":"CA","zip":"94107","country":"United
        States"},"verify":["delivery"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic RVpUSzJhNDk1NTQyNTdlODQ5YmRiMTc5NDI4YTc2MTZkZWY2S2x5U3lkZkIxdjd2UkpDZFpjeGtzQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d96d15b5637d4762f19e3ea90065bc0f
      Location:
      - "/api/v2/addresses/adr_9cc418746ab111ed8c39ac1f6b0a0d1e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b0d73a6a2153cfa6c6ea9c1b5e625c10"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202211222057-6fd042c9a6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_9cc418746ab111ed8c39ac1f6b0a0d1e","object":"Address","created_at":"2022-11-22T22:04:19+00:00","updated_at":"2022-11-22T22:04:19+00:00","name":null,"company":null,"street1":"1640
        17TH ST","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94107-2332","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.76493,"longitude":-122.40005,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Tue, 22 Nov 2022 22:04:19 GMT
recorded_with: VCR 6.1.0
