---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"1640 17th St","city":"San Francisco","state":"CA","zip":"94107","country":"United
        States"},"verify":["delivery"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic RVpUSzJhNDk1NTQyNTdlODQ5YmRiMTc5NDI4YTc2MTZkZWY2S2x5U3lkZkIxdjd2UkpDZFpjeGtzQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - eeb6fb0e63a51811f3af632600096fd7
      Location:
      - "/api/v2/addresses/adr_ec8f8035826c11edb329ac1f6bc7bdc6"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6d08b3ce806a7798a85d33c3e7412271"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202212221857-47a990ccf6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 29913d444b
      - intlb1wdc 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_ec8f8035826c11edb329ac1f6bc7bdc6","object":"Address","created_at":"2022-12-23T02:53:05+00:00","updated_at":"2022-12-23T02:53:05+00:00","name":null,"company":null,"street1":"1640
        17TH ST","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94107-2332","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.76493,"longitude":-122.40005,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Fri, 23 Dec 2022 02:53:05 GMT
recorded_with: VCR 6.1.0
