---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":null,"from_zip":"94107","to_country":"US","to_state":"AZ","to_zip":"85144","shipping":0.0,"line_items":[{"quantity":1,"unit_price":500.0,"discount":0,"product_tax_code":null}],"nexus_addresses":[{"country":"US","state":"AZ"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2e10451f905e4e8da6648c7f94fbfa45"
    body:
      encoding: UTF-8
      string: '{"tax":{"order_total_amount":500.0,"shipping":0.0,"taxable_amount":500.0,"amount_to_collect":33.5,"rate":0.067,"has_nexus":true,"freight_taxable":false,"tax_source":"origin","jurisdictions":{"country":"US","state":"AZ","county":"PINAL"},"breakdown":{"taxable_amount":500.0,"tax_collectable":33.5,"combined_tax_rate":0.067,"state_taxable_amount":500.0,"state_tax_rate":0.056,"state_tax_collectable":28.0,"county_taxable_amount":500.0,"county_tax_rate":0.011,"county_tax_collectable":5.5,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_tax_collectable":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_tax_collectable":0.0,"line_items":[{"id":"1","taxable_amount":500.0,"tax_collectable":33.5,"combined_tax_rate":0.067,"state_taxable_amount":500.0,"state_sales_tax_rate":0.056,"state_amount":28.0,"county_taxable_amount":500.0,"county_tax_rate":0.011,"county_amount":5.5,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_amount":0.0}]}}}'
  recorded_at: Wed, 10 Apr 2024 03:02:16 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"verify":["delivery"],"street1":"3029 W Sherman Rd","city":"San Tan
        Valley","state":"AZ","zip":"85144","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <EASYPOST_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3d9b2d9966160138e3e6a8bb00609e76
      Location:
      - "/api/v2/addresses/adr_bccdd797f6e611eeb4463cecef1b359e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb35nuq
      X-Version-Label:
      - easypost-202404092229-c1039daad7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 60566a9ec2
      - intlb4nuq 39c21b8207
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_bccdd797f6e611eeb4463cecef1b359e","object":"Address","created_at":"2024-04-10T03:02:16+00:00","updated_at":"2024-04-10T03:02:16+00:00","name":null,"company":null,"street1":"3029
        W SHERMAN RD","street2":"","city":"SAN TAN VALLEY","state":"AZ","zip":"85144-4289","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":null,"longitude":null,"time_zone":null}}}}'
  recorded_at: Wed, 10 Apr 2024 03:02:16 GMT
recorded_with: VCR 6.2.0
