---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"AZ","to_zip":"85144","shipping":4.0,"line_items":[{"quantity":1,"unit_price":16.0,"discount":0,"product_tax_code":null}],"nexus_addresses":[{"country":"US","state":"AZ"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 3ccd7c84-9ed1-4117-b1a0-2dc86aa63114
      X-Amz-Apigw-Id:
      - EhYj1GyfoAMEBqA=
    body:
      encoding: UTF-8
      string: '{"tax":{"order_total_amount":20.0,"shipping":4.0,"taxable_amount":16.0,"amount_to_collect":1.07,"rate":0.067,"has_nexus":true,"freight_taxable":false,"tax_source":"origin","jurisdictions":{"country":"US","state":"AZ","county":"PINAL"},"breakdown":{"taxable_amount":16.0,"tax_collectable":1.07,"combined_tax_rate":0.067,"state_taxable_amount":16.0,"state_tax_rate":0.056,"state_tax_collectable":0.9,"county_taxable_amount":16.0,"county_tax_rate":0.011,"county_tax_collectable":0.18,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_tax_collectable":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_tax_collectable":0.0,"line_items":[{"id":"1","taxable_amount":16.0,"tax_collectable":1.07,"combined_tax_rate":0.067,"state_taxable_amount":16.0,"state_sales_tax_rate":0.056,"state_amount":0.9,"county_taxable_amount":16.0,"county_tax_rate":0.011,"county_amount":0.18,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_amount":0.0}]}}}'
  recorded_at: Fri, 17 Jan 2025 07:33:05 GMT
recorded_with: VCR 6.2.0
