---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"1640 17th St","city":"San Francisco","state":"CA","zip":"94107","country":"United
        States"},"verify":["delivery"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic RVpUSzJhNDk1NTQyNTdlODQ5YmRiMTc5NDI4YTc2MTZkZWY2S2x5U3lkZkIxdjd2UkpDZFpjeGtzQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 8dff13be63078bd1ec9134ab0039164b
      Location:
      - "/api/v2/addresses/adr_077474fb248511eda3b5ac1f6bc7b362"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5c6239c3233cbc0ceba00b59b617c9b9"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208242214-2a3e1e3aa6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 9ce216bfac
      - intlb1nuq 6aa9972c1e
      - intlb1wdc 6aa9972c1e
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_077474fb248511eda3b5ac1f6bc7b362","object":"Address","created_at":"2022-08-25T14:48:49+00:00","updated_at":"2022-08-25T14:48:49+00:00","name":null,"company":null,"street1":"1640
        17TH ST","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94107-2332","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.76493,"longitude":-122.40005,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Thu, 25 Aug 2022 14:48:49 GMT
recorded_with: VCR 6.1.0
