---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":null,"from_zip":"94107","to_country":"US","to_state":"CA","to_zip":"94107","shipping":0.0,"line_items":[{"quantity":1,"unit_price":500.0,"discount":0}],"nexus_addresses":[{"country":"US","state":"CA"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7c7800c43ca77c8b5fb1e83a8de49d9e"
    body:
      encoding: ASCII-8BIT
      string: '{"tax":{"order_total_amount":500.0,"shipping":0.0,"taxable_amount":500.0,"amount_to_collect":43.13,"rate":0.08625,"has_nexus":true,"freight_taxable":false,"tax_source":"destination","jurisdictions":{"country":"US","state":"CA","county":"SAN
        FRANCISCO","city":"SAN FRANCISCO"},"breakdown":{"taxable_amount":500.0,"tax_collectable":43.13,"combined_tax_rate":0.08625,"state_taxable_amount":500.0,"state_tax_rate":0.0625,"state_tax_collectable":31.25,"county_taxable_amount":500.0,"county_tax_rate":0.01,"county_tax_collectable":5.0,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_tax_collectable":0.0,"special_district_taxable_amount":500.0,"special_tax_rate":0.01375,"special_district_tax_collectable":6.88,"line_items":[{"id":"1","taxable_amount":500.0,"tax_collectable":43.13,"combined_tax_rate":0.08625,"state_taxable_amount":500.0,"state_sales_tax_rate":0.0625,"state_amount":31.25,"county_taxable_amount":500.0,"county_tax_rate":0.01,"county_amount":5.0,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_amount":0.0,"special_district_taxable_amount":500.0,"special_tax_rate":0.01375,"special_district_amount":6.88}]}}}'
  recorded_at: Thu, 25 Aug 2022 14:41:57 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"1640 17th St","city":"San Francisco","state":"CA","zip":"94107","country":"United
        States"},"verify":["delivery"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic RVpUSzJhNDk1NTQyNTdlODQ5YmRiMTc5NDI4YTc2MTZkZWY2S2x5U3lkZkIxdjd2UkpDZFpjeGtzQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e5cfb7fa63078a36ec90c1cc0046d85c
      Location:
      - "/api/v2/addresses/adr_12b2db71248411edbc00ac1f6b0a0d1e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bdc0bd65c68fdfe55954f7e067f97604"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202208242214-2a3e1e3aa6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 9ce216bfac
      - intlb1nuq 6aa9972c1e
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_12b2db71248411edbc00ac1f6b0a0d1e","object":"Address","created_at":"2022-08-25T14:41:58+00:00","updated_at":"2022-08-25T14:41:58+00:00","name":null,"company":null,"street1":"1640
        17TH ST","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94107-2332","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.76493,"longitude":-122.40005,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Thu, 25 Aug 2022 14:41:58 GMT
recorded_with: VCR 6.1.0
