---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"1640 17th St","city":"San Francisco","state":"CA","zip":"94107","country":"United
        States"},"verify":["delivery"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic RVpUSzJhNDk1NTQyNTdlODQ5YmRiMTc5NDI4YTc2MTZkZWY2S2x5U3lkZkIxdjd2UkpDZFpjeGtzQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7ac7d20d630a5c4dfe79db18002a8624
      Location:
      - "/api/v2/addresses/adr_7895de5e263211ed9958ac1f6bc72124"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c6d9ae5e12160bb3a55d96d9fcc1dcec"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202208262343-f2bb9e6cae-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 9ce216bfac
      - intlb1nuq 6aa9972c1e
      - intlb2wdc 6aa9972c1e
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_7895de5e263211ed9958ac1f6bc72124","object":"Address","created_at":"2022-08-27T18:02:53+00:00","updated_at":"2022-08-27T18:02:53+00:00","name":null,"company":null,"street1":"1640
        17TH ST","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94107-2332","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.76493,"longitude":-122.40005,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Sat, 27 Aug 2022 18:02:53 GMT
recorded_with: VCR 6.1.0
