---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses?verify%5B%5D=delivery
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"255 King Street #602","city":"San Francisco","state":"CA","zip":"94107","country":"US"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic RVpUSzJhNDk1NTQyNTdlODQ5YmRiMTc5NDI4YTc2MTZkZWY2S2x5U3lkZkIxdjd2UkpDZFpjeGtzQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 20cae42260cba1c8eb7c30d9003412b1
      Location:
      - "/api/v2/addresses/adr_1148cac7f60e46cb9fd80864b3828a79"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d0beb392d565a19384d8acbd3f5b78e7"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202106161905-7b7dcd08bf-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1wdc 15c8815ace
      - intlb1wdc 15c8815ace
      - intlb2nuq 15c8815ace
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_1148cac7f60e46cb9fd80864b3828a79","object":"Address","created_at":"2021-06-17T19:26:01+00:00","updated_at":"2021-06-17T19:26:01+00:00","name":null,"company":null,"street1":"255
        KING ST APT 602","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94107-5400","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.77704,"longitude":-122.39292,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Thu, 17 Jun 2021 19:26:00 GMT
recorded_with: VCR 6.0.0
