---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses?verify%5B%5D=delivery
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"9384 Cardston Ct","city":"Burnaby","state":"BC","zip":"V3N
        4H4","country":"Canada"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic RVpUSzJhNDk1NTQyNTdlODQ5YmRiMTc5NDI4YTc2MTZkZWY2S2x5U3lkZkIxdjd2UkpDZFpjeGtzQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 20cae41d60cba631eb7c4b2b0035b206
      Location:
      - "/api/v2/addresses/adr_36fb7cbac7644aa1b32777a977fb2aa8"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"84a57f05c10ea09e2dfd43c215838449"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202106161905-7b7dcd08bf-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 15c8815ace
      - intlb1nuq 15c8815ace
      - intlb2wdc 15c8815ace
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_36fb7cbac7644aa1b32777a977fb2aa8","object":"Address","created_at":"2021-06-17T19:44:49+00:00","updated_at":"2021-06-17T19:44:49+00:00","name":null,"company":null,"street1":"9384
        CARDSTON CT","street2":"","city":"BURNABY","state":"BC","zip":"V3N 4H4","country":"CA","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":49.24794,"longitude":-122.9016,"time_zone":"America/Vancouver"}}}}'
  recorded_at: Thu, 17 Jun 2021 19:44:49 GMT
recorded_with: VCR 6.0.0
