---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"1640 17th St","city":"San Francisco","state":"CA","zip":"94107","country":"United
        States"},"verify":["delivery"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic RVpUSzJhNDk1NTQyNTdlODQ5YmRiMTc5NDI4YTc2MTZkZWY2S2x5U3lkZkIxdjd2UkpDZFpjeGtzQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69efe7cf629f6940ed7dbcda0054fff4
      Location:
      - "/api/v2/addresses/adr_4983ffbfe67311ec8636ac1f6b0a0d1e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"98a4f7716c9b1cc5363e563b2ba9667c"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202206070235-9b10761c18-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 0910011e7e
      - intlb1nuq 570dfcbc0a
      - intlb1wdc 570dfcbc0a
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_4983ffbfe67311ec8636ac1f6b0a0d1e","object":"Address","created_at":"2022-06-07T15:05:37+00:00","updated_at":"2022-06-07T15:05:37+00:00","name":null,"company":null,"street1":"1640
        17TH ST","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94107-2332","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.76493,"longitude":-122.40005,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Tue, 07 Jun 2022 15:05:37 GMT
recorded_with: VCR 6.1.0
