---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"AZ","to_zip":"85144","shipping":0.0,"line_items":[{"quantity":1,"unit_price":501.5,"discount":0,"product_tax_code":null}],"nexus_addresses":[{"country":"US","state":"AZ"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - fac4d470-a7fb-44f8-9c8a-56a70b25bdb9
      X-Amz-Apigw-Id:
      - EeOdqHkfoAMEosA=
    body:
      encoding: UTF-8
      string: '{"tax":{"order_total_amount":501.5,"shipping":0.0,"taxable_amount":501.5,"amount_to_collect":33.6,"rate":0.067,"has_nexus":true,"freight_taxable":false,"tax_source":"origin","jurisdictions":{"country":"US","state":"AZ","county":"PINAL"},"breakdown":{"taxable_amount":501.5,"tax_collectable":33.6,"combined_tax_rate":0.067,"state_taxable_amount":501.5,"state_tax_rate":0.056,"state_tax_collectable":28.08,"county_taxable_amount":501.5,"county_tax_rate":0.011,"county_tax_collectable":5.52,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_tax_collectable":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_tax_collectable":0.0,"line_items":[{"id":"1","taxable_amount":501.5,"tax_collectable":33.6,"combined_tax_rate":0.067,"state_taxable_amount":501.5,"state_sales_tax_rate":0.056,"state_amount":28.08,"county_taxable_amount":501.5,"county_tax_rate":0.011,"county_amount":5.52,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_amount":0.0}]}}}'
  recorded_at: Thu, 16 Jan 2025 08:33:27 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"verify":["delivery"],"street1":"3029 W Sherman Rd","city":"San Tan
        Valley","state":"AZ","zip":"85144","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <EASYPOST_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a8766e7f6788c457eeca94960018122a
      Location:
      - "/api/v2/addresses/adr_8f00738bd3e411efb3d1ac1f6bc539aa"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb53nuq
      X-Version-Label:
      - easypost-202501152123-fa225eeacf-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_8f00738bd3e411efb3d1ac1f6bc539aa","object":"Address","created_at":"2025-01-16T08:33:27+00:00","updated_at":"2025-01-16T08:33:27+00:00","name":null,"company":null,"street1":"3029
        W SHERMAN RD","street2":"","city":"SAN TAN VALLEY","state":"AZ","zip":"85144-4289","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":null,"longitude":null,"time_zone":null}}}}'
  recorded_at: Thu, 16 Jan 2025 08:33:27 GMT
recorded_with: VCR 6.2.0
