---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"AZ","to_zip":"85144","shipping":0.0,"line_items":[{"quantity":1,"unit_price":501.5,"discount":0,"product_tax_code":null}],"nexus_addresses":[{"country":"US","state":"AZ"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - b4037954-86cc-445b-8b28-84232d3ec370
      X-Amz-Apigw-Id:
      - RF40VGMiIAMEaEA=
    body:
      encoding: UTF-8
      string: '{"tax":{"freight_taxable":false,"tax_source":"origin","rate":0.107,"jurisdictions":{"state":"AZ","city":"KEARNY","country":"US","county":"PINAL"},"shipping":0.0,"taxable_amount":501.5,"has_nexus":true,"order_total_amount":501.5,"breakdown":{"line_items":[{"id":"1","tax_collectable":53.66,"taxable_amount":501.5,"combined_tax_rate":0.107,"state_taxable_amount":501.5,"county_taxable_amount":501.5,"city_taxable_amount":501.5,"special_district_taxable_amount":0.0,"city_tax_rate":0.04,"county_tax_rate":0.011,"special_tax_rate":0.0,"special_district_amount":0.0,"city_amount":20.06,"county_amount":5.52,"state_amount":28.08,"state_sales_tax_rate":0.056}],"tax_collectable":53.66,"taxable_amount":501.5,"combined_tax_rate":0.107,"state_taxable_amount":501.5,"state_tax_collectable":28.08,"county_taxable_amount":501.5,"county_tax_collectable":5.52,"city_taxable_amount":501.5,"city_tax_collectable":20.06,"special_district_taxable_amount":0.0,"special_district_tax_collectable":0.0,"city_tax_rate":0.04,"county_tax_rate":0.011,"special_tax_rate":0.0,"state_tax_rate":0.056},"amount_to_collect":53.66}}'
  recorded_at: Thu, 18 Sep 2025 09:46:16 GMT
recorded_with: VCR 6.2.0
