---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"AZ","to_zip":"85144","shipping":0.0,"line_items":[{"quantity":1,"unit_price":400.0,"discount":0,"product_tax_code":null}],"nexus_addresses":[{"country":"US","state":"AZ"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - a6cc9261-1a7d-4e01-9c6a-d9f01f09916a
      X-Amz-Apigw-Id:
      - RF4u4FYBoAMEe-A=
    body:
      encoding: UTF-8
      string: '{"tax":{"freight_taxable":false,"tax_source":"origin","rate":0.107,"jurisdictions":{"state":"AZ","city":"KEARNY","country":"US","county":"PINAL"},"shipping":0.0,"taxable_amount":400.0,"has_nexus":true,"order_total_amount":400.0,"breakdown":{"line_items":[{"id":"1","tax_collectable":42.8,"taxable_amount":400.0,"combined_tax_rate":0.107,"state_taxable_amount":400.0,"county_taxable_amount":400.0,"city_taxable_amount":400.0,"special_district_taxable_amount":0.0,"city_tax_rate":0.04,"county_tax_rate":0.011,"special_tax_rate":0.0,"special_district_amount":0.0,"city_amount":16.0,"county_amount":4.4,"state_amount":22.4,"state_sales_tax_rate":0.056}],"tax_collectable":42.8,"taxable_amount":400.0,"combined_tax_rate":0.107,"state_taxable_amount":400.0,"state_tax_collectable":22.4,"county_taxable_amount":400.0,"county_tax_collectable":4.4,"city_taxable_amount":400.0,"city_tax_collectable":16.0,"special_district_taxable_amount":0.0,"special_district_tax_collectable":0.0,"city_tax_rate":0.04,"county_tax_rate":0.011,"special_tax_rate":0.0,"state_tax_rate":0.056},"amount_to_collect":42.8}}'
  recorded_at: Thu, 18 Sep 2025 09:45:41 GMT
recorded_with: VCR 6.2.0
