---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"AZ","to_zip":"85144","shipping":20.0,"line_items":[{"quantity":1,"unit_price":100.0,"discount":0,"product_tax_code":"31000"}],"nexus_addresses":[{"country":"US","state":"AZ"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 8317423e-ac9e-4cc0-8a2d-2587f631c235
      X-Amz-Apigw-Id:
      - EhcsAHxNoAMELQA=
    body:
      encoding: UTF-8
      string: '{"tax":{"order_total_amount":120.0,"shipping":20.0,"taxable_amount":100.0,"amount_to_collect":6.7,"rate":0.067,"has_nexus":true,"freight_taxable":false,"tax_source":"origin","jurisdictions":{"country":"US","state":"AZ","county":"PINAL"},"breakdown":{"taxable_amount":100.0,"tax_collectable":6.7,"combined_tax_rate":0.067,"state_taxable_amount":100.0,"state_tax_rate":0.056,"state_tax_collectable":5.6,"county_taxable_amount":100.0,"county_tax_rate":0.011,"county_tax_collectable":1.1,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_tax_collectable":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_tax_collectable":0.0,"line_items":[{"id":"1","taxable_amount":100.0,"tax_collectable":6.7,"combined_tax_rate":0.067,"state_taxable_amount":100.0,"state_sales_tax_rate":0.056,"state_amount":5.6,"county_taxable_amount":100.0,"county_tax_rate":0.011,"county_amount":1.1,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_amount":0.0}]}}}'
  recorded_at: Fri, 17 Jan 2025 08:01:16 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"verify":["delivery"],"street1":"3029 W Sherman Rd","city":"San Tan
        Valley","state":"AZ","zip":"85144","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <EASYPOST_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 8a1b5b4a678a0e67e9e6e0c400135cba
      Location:
      - "/api/v2/addresses/adr_4a41ef7cd4a911ef8f86ac1f6bc539aa"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb58nuq
      X-Version-Label:
      - easypost-202501170101-53487187f6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_4a41ef7cd4a911ef8f86ac1f6bc539aa","object":"Address","created_at":"2025-01-17T08:01:43+00:00","updated_at":"2025-01-17T08:01:43+00:00","name":null,"company":null,"street1":"3029
        W SHERMAN RD","street2":"","city":"SAN TAN VALLEY","state":"AZ","zip":"85144-4289","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":null,"longitude":null,"time_zone":null}}}}'
  recorded_at: Fri, 17 Jan 2025 08:01:43 GMT
recorded_with: VCR 6.2.0
