---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - beeed1d8-20c8-401d-9261-8d1f072e2673
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - beeed1d8-20c8-401d-9261-8d1f072e2673
      Original-Request:
      - req_SypngRIJ6Uei9S
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0P5X3B9e1RjUNIyYr364eAbK",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1713116469,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 14 Apr 2024 17:41:09 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0P5X3B9e1RjUNIyYr364eAbK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fseller.test.gumroad.com%3A31337%2Fl%2Fr&metadata[purchase]=LiwbSxjgb3UcT38qWgs9lw%3D%3D&transfer_group=47&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0P5X3B9e1RjUNIyYr364eAbK&statement_descriptor_suffix=Seller
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 01bf899a-b2ce-49b2-b05f-7f5cfd02f5b1
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 01bf899a-b2ce-49b2-b05f-7f5cfd02f5b1
      Original-Request:
      - req_TttltJGVy8cN3w
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2P5X3C9e1RjUNIyY0WL16HzL",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2P5X3C9e1RjUNIyY0WL16HzL_secret_D26t4fmnhvwLcIkMisnNk7tJA",
          "confirmation_method": "automatic",
          "created": 1713116470,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://seller.test.gumroad.com:31337/l/r",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2P5X3C9e1RjUNIyY0KVzoKVn",
          "livemode": false,
          "metadata": {
            "purchase": "LiwbSxjgb3UcT38qWgs9lw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0P5X3B9e1RjUNIyYr364eAbK",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "Seller",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "47"
        }
  recorded_at: Sun, 14 Apr 2024 17:41:11 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2P5X3C9e1RjUNIyY0KVzoKVn?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2P5X3C9e1RjUNIyY0KVzoKVn",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2P5X3C9e1RjUNIyY0AReE3xA",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1713225600,
            "created": 1713116470,
            "currency": "usd",
            "description": "You bought http://seller.test.gumroad.com:31337/l/r",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2P5X3C9e1RjUNIyY0KVzoKVn",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* SELLER",
          "captured": true,
          "created": 1713116470,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://seller.test.gumroad.com:31337/l/r",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "LiwbSxjgb3UcT38qWgs9lw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 17,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2P5X3C9e1RjUNIyY0WL16HzL",
          "payment_method": "pm_0P5X3B9e1RjUNIyYr364eAbK",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUot6rwsAYyBpLquBlf9TosFoLXACaXH_Q3KNgYMgcwMEWc27A7aNA0uSYVG8LCb-dZA5uYA--auUIvAUs",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "Seller",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "47"
        }
  recorded_at: Sun, 14 Apr 2024 17:41:11 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0P5X3E9e1RjUNIyY8P851qjO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2P5X3E9e1RjUNIyY0GueO5kp?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0P5X3G9e1RjUNIyYDjbVxkDO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0P5X3G9e1RjUNIyYDjbVxkDO
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 800564e2-04f8-427f-98f7-b79c10d81677
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 800564e2-04f8-427f-98f7-b79c10d81677
      Original-Request:
      - req_1S7QYnOfXaP3JV
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PvNoiKjrWzwrhH",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1713116475,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "2F1A5F38",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 14 Apr 2024 17:41:15 GMT
- request:
    method: post
    uri: https://ec.europa.eu/taxation_customs/vies/services/checkVatService
    body:
      encoding: UTF-8
      string: |
        <soapenv:Envelope
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:urn="urn:ec.europa.eu:taxud:vies:services:checkVat:types">
        <soapenv:Header/>
        <soapenv:Body>
        <urn:checkVatApprox>
        <urn:countryCode>IE</urn:countryCode>
        <urn:vatNumber>6388047V</urn:vatNumber>

        <urn:requesterCountryCode></urn:requesterCountryCode>
        <urn:requesterVatNumber></urn:requesterVatNumber>

        </urn:checkVatApprox>
        </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Soapaction:
      - '""'
      Proxy-Connection:
      - Keep-Alive
    body:
      encoding: ASCII-8BIT
      string: <env:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header/><env:Body><ns2:checkVatApproxResponse
        xmlns:ns2="urn:ec.europa.eu:taxud:vies:services:checkVat:types"><ns2:countryCode>IE</ns2:countryCode><ns2:vatNumber>6388047V</ns2:vatNumber><ns2:requestDate>2024-04-14+02:00</ns2:requestDate><ns2:valid>true</ns2:valid><ns2:traderName>GOOGLE
        IRELAND LIMITED</ns2:traderName><ns2:traderCompanyType>---</ns2:traderCompanyType><ns2:traderAddress>3RD
        FLOOR, GORDON HOUSE, BARROW STREET, DUBLIN 4</ns2:traderAddress><ns2:requestIdentifier></ns2:requestIdentifier></ns2:checkVatApproxResponse></env:Body></env:Envelope>
  recorded_at: Sun, 14 Apr 2024 17:41:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2P5X3C9e1RjUNIyY0KVzoKVn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2P5X3C9e1RjUNIyY0KVzoKVn&amount=20
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 344bef2f-9474-481d-8c2b-dba4f072d8f3
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 344bef2f-9474-481d-8c2b-dba4f072d8f3
      Original-Request:
      - req_4FkSAjCrUVCHCR
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2P5X3C9e1RjUNIyY0L0173SZ",
          "object": "refund",
          "amount": 20,
          "balance_transaction": "txn_2P5X3C9e1RjUNIyY00nLDtYo",
          "charge": "ch_2P5X3C9e1RjUNIyY0KVzoKVn",
          "created": 1713116477,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_2P5X3C9e1RjUNIyY0WL16HzL",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Sun, 14 Apr 2024 17:41:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2P5X3C9e1RjUNIyY0L0173SZ?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2P5X3C9e1RjUNIyY0KVzoKVn?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2P5X3E9e1RjUNIyY0GueO5kp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2P5X3E9e1RjUNIyY0SYcG0Y7?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2P5X3E9e1RjUNIyY0GueO5kp?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
