---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 91fd91b6-c267-4363-a960-df1b3c346e81
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 91fd91b6-c267-4363-a960-df1b3c346e81
      Original-Request:
      - req_S2RJJJE4ErfOJw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0S94QI9e1RjUNIyYb9lVogTf",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1758288746,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 19 Sep 2025 13:32:26 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0S94QI9e1RjUNIyYb9lVogTf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar453c8ff55.test.gumroad.com%3A31337%2Fl%2Fy%21&metadata[purchase]=eRir8LHUEkUm3Sdq1HYIWQ%3D%3D&transfer_group=1932&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0S94QI9e1RjUNIyYb9lVogTf&statement_descriptor_suffix=edgar453c8ff55
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 266d740a-6325-4d13-97d2-f4af1f2449a9
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 266d740a-6325-4d13-97d2-f4af1f2449a9
      Original-Request:
      - req_Ay56sZecz6kSza
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2S94QJ9e1RjUNIyY11678vMd",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2S94QJ9e1RjUNIyY11678vMd_secret_bJLCr9ViGUJZEso60nhmtf9mp",
          "confirmation_method": "automatic",
          "created": 1758288747,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar453c8ff55.test.gumroad.com:31337/l/y!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2S94QJ9e1RjUNIyY1iqXBL8f",
          "livemode": false,
          "metadata": {
            "purchase": "eRir8LHUEkUm3Sdq1HYIWQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0S94QI9e1RjUNIyYb9lVogTf",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar453c8ff55",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1932"
        }
  recorded_at: Fri, 19 Sep 2025 13:32:28 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2S94QJ9e1RjUNIyY1iqXBL8f?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2S94QJ9e1RjUNIyY1iqXBL8f",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2S94QJ9e1RjUNIyY1mKJmf5Y",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1758585600,
            "balance_type": "payments",
            "created": 1758288747,
            "currency": "usd",
            "description": "You bought http://edgar453c8ff55.test.gumroad.com:31337/l/y!",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 100,
            "reporting_category": "charge",
            "source": "ch_2S94QJ9e1RjUNIyY1iqXBL8f",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGAR453C8FF5",
          "captured": true,
          "created": 1758288747,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar453c8ff55.test.gumroad.com:31337/l/y!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "eRir8LHUEkUm3Sdq1HYIWQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 55,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2S94QJ9e1RjUNIyY11678vMd",
          "payment_method": "pm_0S94QI9e1RjUNIyYb9lVogTf",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "authorization_code": "715643",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "875457497450891",
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo7La1xgYyBivYbBBBSzosFhAXlqJ0hoZQwtPChKcF4EULWwW_Kd0bhIOdxFkIkCz2gaVjvc3MbRjO6Dk",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar453c8ff55",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1932"
        }
  recorded_at: Fri, 19 Sep 2025 13:32:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=5186971986312&metadata[tos_agreement_id]=4hutgAi_0g_RtuLZqjM-iQ%3D%3D&metadata[user_compliance_info_id]=G2NwXanHe89dNGRrKGffVw%3D%3D&tos_acceptance[date]=1758288748&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[name[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1S94QL2BrP6tThPp/persons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1S94QL2BrP6tThPp
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "person_1S94QL2BrP6tThPp7H4UEuas",
              "object": "person",
              "account": "acct_1S94QL2BrP6tThPp",
              "additional_tos_acceptances": {
                "account": {
                  "date": null,
                  "ip": null,
                  "user_agent": null
                }
              },
              "address": {
                "city": "San Francisco",
                "country": "US",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "94107",
                "state": "California"
              },
              "created": 1758288749,
              "dob": {
                "day": 1,
                "month": 1,
                "year": 1901
              },
              "email": "edgarf69d6c35_17@gumroad.com",
              "first_name": "Chuck",
              "future_requirements": {
                "alternatives": [],
                "currently_due": [],
                "errors": [],
                "eventually_due": [],
                "past_due": [],
                "pending_verification": []
              },
              "id_number_provided": true,
              "last_name": "Bartowski",
              "metadata": {},
              "phone": "+10000000000",
              "relationship": {
                "authorizer": false,
                "director": false,
                "executive": false,
                "legal_guardian": false,
                "owner": false,
                "percent_ownership": null,
                "representative": true,
                "title": null
              },
              "requirements": {
                "alternatives": [],
                "currently_due": [],
                "errors": [],
                "eventually_due": [],
                "past_due": [],
                "pending_verification": [
                  "address.city",
                  "address.line1",
                  "address.postal_code",
                  "address.state",
                  "id_number",
                  "verification.document"
                ]
              },
              "ssn_last_4_provided": true,
              "verification": {
                "additional_document": {
                  "back": null,
                  "details": null,
                  "details_code": null,
                  "front": null
                },
                "details": null,
                "details_code": null,
                "document": {
                  "back": null,
                  "details": null,
                  "details_code": null,
                  "front": null
                },
                "status": "pending"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/accounts/acct_1S94QL2BrP6tThPp/persons"
        }
  recorded_at: Fri, 19 Sep 2025 13:32:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1S94QL2BrP6tThPp/persons/person_1S94QL2BrP6tThPp7H4UEuas
    body:
      encoding: UTF-8
      string: verification[document][front]=file_identity_document_success
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f6da70cc-ebf2-43ab-9074-b1ad8968bccc
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1S94QL2BrP6tThPp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1S94QL2BrP6tThPp
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1S94QL2BrP6tThPp",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "minority_owned_business_designation": null,
            "name": "Chuck Bartowski",
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "pending"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "US",
          "created": 1758288750,
          "default_currency": "usd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1S94QL2BrP6tThPp/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1S94QL2BrP6tThPp7H4UEuas",
            "object": "person",
            "account": "acct_1S94QL2BrP6tThPp",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "created": 1758288749,
            "dob": {
              "day": 1,
              "month": 1,
[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0S94RK9e1RjUNIyYNl2BFO1w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2S94RL9e1RjUNIyY02kixtIN?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2S94RL9e1RjUNIyY0KZRTZvf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2S94RL9e1RjUNIyY0KZRTZvf",
          "object": "transfer",
          "amount": 2097,
          "amount_reversed": 0,
          "balance_transaction": "txn_2S94RL9e1RjUNIyY0lkbH9zp",
          "created": 1758288811,
          "currency": "usd",
          "description": null,
          "destination": "acct_1S94QL2BrP6tThPp",
          "destination_payment": "py_1S94RL2BrP6tThPpjQUimrXw",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_2S94RL9e1RjUNIyY0KZRTZvf/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_2S94RL9e1RjUNIyY02kixtIN",
          "source_type": "card",
          "transfer_group": "1933"
        }
  recorded_at: Fri, 19 Sep 2025 13:33:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1S94RL2BrP6tThPpjQUimrXw?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1S94QL2BrP6tThPp
  response:
    status:
      code: 200
      message: OK
    head[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2S94RL9e1RjUNIyY02kixtIN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2S94RL9e1RjUNIyY02kixtIN&amount=1000&reverse_transfer=true&refund_application_fee=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4c59d42e-12f4-49ed-8ec0-6e81443fa4d9
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4c59d42e-12f4-49ed-8ec0-6e81443fa4d9
      Original-Request:
      - req_r9wfwLf1xC68kv
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2S94RL9e1RjUNIyY0Uld5oNm",
          "object": "refund",
          "amount": 1000,
          "balance_transaction": "txn_2S94RL9e1RjUNIyY0ATbg3fS",
          "charge": "ch_2S94RL9e1RjUNIyY02kixtIN",
          "created": 1758288815,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_2S94RL9e1RjUNIyY0tXiLRvx",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": "trr_0S94RP9e1RjUNIyYgQNI3PCv"
        }
  recorded_at: Fri, 19 Sep 2025 13:33:36 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2S94RL9e1RjUNIyY0Uld5oNm?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2S94RL9e1RjUNIyY02kixtIN?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: O[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2S94RL9e1RjUNIyY0KZRTZvf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2S94RL9e1RjUNIyY0KZRTZvf",
          "object": "transfer",
          "amount": 2097,
          "amount_reversed": 839,
          "balance_transaction": "txn_2S94RL9e1RjUNIyY0lkbH9zp",
          "created": 1758288811,
          "currency": "usd",
          "description": null,
          "destination": "acct_1S94QL2BrP6tThPp",
          "destination_payment": "py_1S94RL2BrP6tThPpjQUimrXw",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [
              {
                "id": "trr_0S94RP9e1RjUNIyYgQNI3PCv",
                "object": "transfer_reversal",
                "amount": 839,
                "balance_transaction": "txn_0S94RQ9e1RjUNIyYLA3tJy0A",
                "created": 1758288815,
                "currency": "usd",
                "destination_payment_refund": "pyr_1S94RP2BrP6tThPp0uofdZKp",
                "metadata": {},
                "source_refund": "re_2S94RL9e1RjUNIyY0Uld5oNm",
                "transfer": "tr_2S94RL9e1RjUNIyY0KZRTZvf"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/transfers/tr_2S94RL9e1RjUNIyY0KZRTZvf/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_2S94RL9e1RjUNIyY02kixtIN",
          "source_type": "card",
          "transfer_group": "1933"
        }
  recorded_at: Fri, 19 Sep 2025 13:33:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1S94RL2BrP6tThPpjQUimrXw?expand%5B%5D=application_fee.refunds&expand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1S94QL2BrP6tThPp
  response:
    [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "9e1RjUNIyYGpA9Cfh3RmQxxTzb1aakpE",
          "object": "account",
          "business_type": "corporation",
          "capabilities": {
            "affirm_payments": "active",
            "amazon_pay_payments": "active",
            "card_issuing": "active",
            "card_payments": "active",
            "cashapp_payments": "active",
            "klarna_payments": "active",
            "link_payments": "active",
            "transfers": "active",
[...]
