---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b8fc9f91-4c7e-46d5-b2eb-60d80f4fb568
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b8fc9f91-4c7e-46d5-b2eb-60d80f4fb568
      Original-Request:
      - req_bretPKjbfTXloj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OHAPF9e1RjUNIyYPIy61M3n",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1701113025,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 27 Nov 2023 19:23:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OHAPF9e1RjUNIyYPIy61M3n
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar15ef00461.test.gumroad.com%3A31337%2Fl%2Fz&metadata[purchase]=G_-mnBf9b1j9A7a4ub4nFQ%3D%3D&transfer_group=1&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0OHAPF9e1RjUNIyYPIy61M3n&statement_descriptor_suffix=edgar15ef00461
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 82ec540a-46d5-48e0-9a42-0b8dcbb7218b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 82ec540a-46d5-48e0-9a42-0b8dcbb7218b
      Original-Request:
      - req_BZx3JWAYBbJinG
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OHAPH9e1RjUNIyY1XAQlEaw",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OHAPH9e1RjUNIyY1XAQlEaw_secret_E6ggKlYmRrhEUuDtzvQADQZ40",
          "confirmation_method": "manual",
          "created": 1701113027,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar15ef00461.test.gumroad.com:31337/l/z",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OHAPH9e1RjUNIyY1BC2IFZ3",
          "livemode": false,
          "metadata": {
            "purchase": "G_-mnBf9b1j9A7a4ub4nFQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OHAPF9e1RjUNIyYPIy61M3n",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar15ef00461",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1"
        }
  recorded_at: Mon, 27 Nov 2023 19:23:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHAPH9e1RjUNIyY1BC2IFZ3?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OHAPH9e1RjUNIyY1BC2IFZ3",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OHAPH9e1RjUNIyY173LpR7s",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1701216000,
            "created": 1701113027,
            "currency": "usd",
            "description": "You bought http://edgar15ef00461.test.gumroad.com:31337/l/z",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2OHAPH9e1RjUNIyY1BC2IFZ3",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR15EF00",
          "captured": true,
          "created": 1701113027,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar15ef00461.test.gumroad.com:31337/l/z",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "G_-mnBf9b1j9A7a4ub4nFQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 49,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OHAPH9e1RjUNIyY1XAQlEaw",
          "payment_method": "pm_0OHAPF9e1RjUNIyYPIy61M3n",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoxNmTqwYyBhrvS1N7rzosFl-ojYU5KohMHvHb0OovZe3q8jtFmrH1kN58gEbENERnuXAuwnyYRNjjiP0",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar15ef00461",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1"
        }
  recorded_at: Mon, 27 Nov 2023 19:23:48 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OHAPJ9e1RjUNIyYcbxrGv4r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHAPK9e1RjUNIyY19OvcWtF?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2OHAPK9e1RjUNIyY1Fj5Fqzz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2OHAPK9e1RjUNIyY1Fj5Fqzz",
          "object": "transfer",
          "amount": 880,
          "amount_reversed": 0,
          "balance_transaction": "txn_2OHAPK9e1RjUNIyY1LnB1I1l",
          "created": 1701113031,
          "currency": "usd",
          "description": null,
          "destination": "acct_1MbQQ6S2yTRm7HHQ",
          "destination_payment": "py_1OHAPLS2yTRm7HHQarn0gP0S",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_2OHAPK9e1RjUNIyY1Fj5Fqzz/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_2OHAPK9e1RjUNIyY19OvcWtF",
          "source_type": "card",
          "transfer_group": "2"
        }
  recorded_at: Mon, 27 Nov 2023 19:23:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1OHAPLS2yTRm7HHQarn0gP0S?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MbQQ6S2yTRm7HHQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MbQQ6S2yTRm7HHQ
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1OHAPLS2yTRm7HHQarn0gP0S",
          "object": "charge",
          "amount": 880,
          "amount_captured": 880,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1OHAPLS2yTRm7HHQNc0ePlp5",
            "object": "balance_transaction",
            "amount": 1176,
            "available_on": 1701129600,
            "created": 1701113031,
            "currency": "cad",
            "description": null,
            "exchange_rate": 1.33588,
            "fee": 0,
            "fee_details": [],
            "net": 1176,
       [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHAPK9e1RjUNIyY19OvcWtF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2OHAPK9e1RjUNIyY19OvcWtF&amount=200
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f44e2854-3bae-41dc-aa42-9056572adf87
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f44e2854-3bae-41dc-aa42-9056572adf87
      Original-Request:
      - req_GnEFPCcs1PM9ca
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2OHAPK9e1RjUNIyY1g4w8EIq",
          "object": "refund",
          "amount": 200,
          "balance_transaction": "txn_2OHAPK9e1RjUNIyY1iEm65wm",
          "charge": "ch_2OHAPK9e1RjUNIyY19OvcWtF",
          "created": 1701113034,
          "currency": "usd",
          "metadata": {},
          "payment_intent": "pi_2OHAPK9e1RjUNIyY11JrbHHp",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Mon, 27 Nov 2023 19:23:55 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2OHAPK9e1RjUNIyY1g4w8EIq?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OHAPK9e1RjUNIyY19OvcWtF?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1OHAPLS2yTRm7HHQarn0gP0S?expand%5B%5D=application_fee.refunds&expand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MbQQ6S2yTRm7HHQ
  response:
    status:
      code: 200
    [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2OHAPK9e1RjUNIyY1wjJRQQ3?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2OHAPK9e1RjUNIyY1Fj5Fqzz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2OHAPK9e1RjUNIyY1Fj5Fqzz",
          "object": "transfer",
          "amount": 880,
          "amount_reversed": 367,
          "balance_transaction": "txn_2OHAPK9e1RjUNIyY1LnB1I1l",
          "created": 1701113031,
          "currency": "usd",
          "description": null,
          "destination": "acct_1MbQQ6S2yTRm7HHQ",
          "destination_payment": "py_1OHAPLS2yTRm7HHQarn0gP0S",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [
              {
                "id": "trr_0OHAPS9e1RjUNIyYwLfWQ25v",
                "object": "transfer_reversal",
                "amount": 367,
                "balance_transaction": "txn_0OHAPS9e1RjUNIyYYAg91lLf",
                "created": 1701113038,
                "currency": "usd",
                "destination_payment_refund": "pyr_1OHAPSS2yTRm7HHQKUTMTbt5",
                "metadata": {},
                "source_refund": "re_2OHAPK9e1RjUNIyY1wjJRQQ3",
                "transfer": "tr_2OHAPK9e1RjUNIyY1Fj5Fqzz"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/transfers/tr_2OHAPK9e1RjUNIyY1Fj5Fqzz/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_2OHAPK9e1RjUNIyY19OvcWtF",
          "source_type": "card",
          "transfer_group": "2"
        }
  recorded_at: Mon, 27 Nov 2023 00:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers/tr_2OHAPK9e1RjUNIyY1Fj5Fqzz/reversals
    body:
      encoding: UTF-8
      string: amount=73
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7a64d902-dd3a-4114-97c1-109f80f50d44
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7a64d902-dd3a-4114-97c1-109f80f50d44
      Original-Request:
      - req_CxmqHhkrQOuSa6
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "trr_0OHAPW9e1RjUNIyYhz4X3C5Z",
          "object": "transfer_reversal",
          "amount": 73,
          "balance_transaction": "txn_0OHAPW9e1RjUNIyYwtzTc6JV",
          "created": 1701113042,
          "currency": "usd",
          "destination_payment_refund": "pyr_1OHAPWS2yTRm7HHQN4xe5hFr",
          "metadata": {},
          "source_refund": null,
          "transfer": "tr_2OHAPK9e1RjUNIyY1Fj5Fqzz"
        }
  recorded_at: Mon, 27 Nov 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/pyr_1OHAPWS2yTRm7HHQN4xe5hFr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MbQQ6S2yTRm7HHQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MbQQ6S2yTRm7HHQ
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pyr_1OHAPWS2yTRm7HHQN4xe5hFr",
          "object": "refund",
          "amount": 73,
          "balance_transaction": "txn_1OHAPWS2yTRm7HHQNrimpTxb",
          "charge": "py_1OHAPLS2yTRm7HHQarn0gP0S",
          "created": 1701113042,
          "currency": "usd",
          "metadata": {},
          "payment_intent": null,
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": "trr_0OHAPW9e1RjUNIyYhz4X3C5Z",
          "status": "succeeded",
          "transfer_reversal": "trr_0OHAPW9e1RjUNIyYhz4X3C5Z"
        }
  recorded_at: Mon, 27 Nov 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/balance_transactions/txn_1OHAPWS2yTRm7HHQNrimpTxb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MbQQ6S2yTRm7HHQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MbQQ6S2yTRm7HHQ
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "txn_1OHAPWS2yTRm7HHQNrimpTxb",
          "object": "balance_transaction",
          "amount": -100,
          "available_on": 1701129600,
          "created": 1701113042,
          "currency": "cad",
          "description": "REFUND FOR PAYMENT",
          "exchange_rate": 1.36314,
          "fee": 0,
          "fee_details": [],
          "net": -100,
          "reporting_category": "refund",
          "source": "pyr_1OHAPWS2yTRm7HHQN4xe5hFr",
          "status": "pending",
          "type": "payment_refund"
        }
  recorded_at: Mon, 27 Nov 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers?created%5Blt%5D=1690675200&destination=acct_1MbQQ6S2yTRm7HHQ&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Versi[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers/tr_2MlrJr9e1RjUNIyY0FrWztb8/reversals
    body:
      encoding: UTF-8
      string: amount=27
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b065a5e5-c067-4414-99d2-b6bd50a27493
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b065a5e5-c067-4414-99d2-b6bd50a27493
      Original-Request:
      - req_N4zOxac9HrgEyp
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "trr_0OHAPY9e1RjUNIyYUje7dUX4",
          "object": "transfer_reversal",
          "amount": 27,
          "balance_transaction": "txn_0OHAPZ9e1RjUNIyYfTT69sQC",
          "created": 1701113044,
          "currency": "usd",
          "destination_payment_refund": "pyr_1OHAPYS2yTRm7HHQ3jeZ0Quv",
          "metadata": {},
          "source_refund": null,
          "transfer": "tr_2MlrJr9e1RjUNIyY0FrWztb8"
        }
  recorded_at: Mon, 27 Nov 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/pyr_1OHAPYS2yTRm7HHQ3jeZ0Quv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MbQQ6S2yTRm7HHQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MbQQ6S2yTRm7HHQ
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pyr_1OHAPYS2yTRm7HHQ3jeZ0Quv",
          "object": "refund",
          "amount": 27,
          "balance_transaction": "txn_1OHAPYS2yTRm7HHQRxjihb1S",
          "charge": "py_1MlrJsS2yTRm7HHQx3aXLEV9",
          "created": 1701113044,
          "currency": "usd",
          "metadata": {},
          "payment_intent": null,
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": "trr_0OHAPY9e1RjUNIyYUje7dUX4",
          "status": "succeeded",
          "transfer_reversal": "trr_0OHAPY9e1RjUNIyYUje7dUX4"
        }
  recorded_at: Mon, 27 Nov 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/balance_transactions/txn_1OHAPYS2yTRm7HHQRxjihb1S
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MbQQ6S2yTRm7HHQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MbQQ6S2yTRm7HHQ
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "txn_1OHAPYS2yTRm7HHQRxjihb1S",
          "object": "balance_transaction",
          "amount": -37,
          "available_on": 1701113044,
          "created": 1701113044,
          "currency": "cad",
          "description": "REFUND FOR PAYMENT",
          "exchange_rate": 1.36314,
          "fee": 0,
          "fee_details": [],
          "net": -37,
          "reporting_category": "refund",
          "source": "pyr_1OHAPYS2yTRm7HHQ3jeZ0Quv",
          "status": "available",
          "type": "payment_refund"
        }
  recorded_at: Mon, 27 Nov 2023 00:00:00 GMT
recorded_with: VCR 6.2.0
