---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic dGVzdC1wYXlwYWwtcGFydG5lci1jbGllbnQtaWQ6
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - f2aa6bbc14af2
      X-Paypal-Token-Service:
      - IAAS
      Http-X-Pp-Az-Locator:
      - ccg18.slc
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client","error_description":"Client Authentication
        failed"}'
  recorded_at: Wed, 22 Jul 2026 12:19:54 GMT
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v1/customer/partners/<PAYPAL_PARTNER_MERCHANT_ID>/merchant-integrations/B66YJBBNCRW6L
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ''
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 1b03c75bce616
      Http-X-Pp-Az-Locator:
      - ccg18.slc
    body:
      encoding: UTF-8
      string: '{"name":"AUTHENTICATION_FAILURE","message":"Authentication failed due
        to invalid authentication credentials or a missing Authorization header.","links":[{"href":"https://developer.paypal.com/docs/api/overview/#error","rel":"information_link"}]}'
  recorded_at: Wed, 22 Jul 2026 12:19:55 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v1/customer/partners/<PAYPAL_PARTNER_MERCHANT_ID>/merchant-integrations/B66YJBBNCRW6L
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ''
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - e1f648c16c889
      Http-X-Pp-Az-Locator:
      - ccg18.slc
    body:
      encoding: UTF-8
      string: '{"name":"AUTHENTICATION_FAILURE","message":"Authentication failed due
        to invalid authentication credentials or a missing Authorization header.","links":[{"href":"https://developer.paypal.com/docs/api/overview/#error","rel":"information_link"}]}'
  recorded_at: Wed, 22 Jul 2026 12:19:55 GMT
recorded_with: VCR 6.2.0
