---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=Gumroad+Charge+rZRIoAk5W2qtGOs_qEd9IA%3D%3D&metadata[purchase]=CH-rZRIoAk5W2qtGOs_qEd9IA%3D%3D&payment_method_types[0]=card&transfer_group=CH-4&statement_descriptor_suffix=edgarba1d1cee4
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - deferred_intent_test_bfbbab250a70cbd33d9be4f0e9bd84c1
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - deferred_intent_test_bfbbab250a70cbd33d9be4f0e9bd84c1
      Original-Request:
      - req_2i416gFuvbhbhN
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3ToUmqIBOqvOFDrf1TN2kkhX",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3ToUmqIBOqvOFDrf1TN2kkhX_secret_mU5aEMAabt1Q2TR8mUyaSEIlb",
          "confirmation_method": "automatic",
          "created": 1782937872,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "Gumroad Charge rZRIoAk5W2qtGOs_qEd9IA==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "purchase": "CH-rZRIoAk5W2qtGOs_qEd9IA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarba1d1cee4",
          "status": "requires_payment_method",
          "transfer_data": null,
          "transfer_group": "CH-4"
        }
  recorded_at: Wed, 01 Jul 2026 20:31:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3ToUmqIBOqvOFDrf1TN2kkhX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated [...]
