---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 17cfe786-e44a-409f-aae6-9396f362e2ea
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 17cfe786-e44a-409f-aae6-9396f362e2ea
      Original-Request:
      - req_4f6AjLhnLaztQs
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6xED9e1RjUNIyYZ8rReWPY",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698679090,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 15:18:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xED9e1RjUNIyYZ8rReWPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=477&email=edgar1db00be9_1018%40gumroad.com&payment_method=pm_0O6xED9e1RjUNIyYZ8rReWPY
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 67bcc03a-a1d7-40d3-b30d-d55eb2157988
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 67bcc03a-a1d7-40d3-b30d-d55eb2157988
      Original-Request:
      - req_8pCImWH16HfExA
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OumnWtor8Wfjo3",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698679090,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "477",
          "discount": null,
          "email": "edgar1db00be9_1018@gumroad.com",
          "invoice_prefix": "855D750E",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 15:18:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=599&currency=usd&description=You+bought+http%3A%2F%2Fedgar606195b9477.test.gumroad.com%3A31337%2Fl%2Fc&metadata[purchase]=6ETaFyk9o7yiPlUgftuOow%3D%3D&transfer_group=305&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OumnWtor8Wfjo3&payment_method=pm_0O6xED9e1RjUNIyYZ8rReWPY&statement_descriptor_suffix=edgar606195b9477
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 51ae3d25-8f67-445c-8f80-ae73eeae3d69
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 51ae3d25-8f67-445c-8f80-ae73eeae3d69
      Original-Request:
      - req_8LRsLLaci2ZBRi
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6xEG9e1RjUNIyY01pXCqKO",
          "object": "payment_intent",
          "amount": 599,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 599,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6xEG9e1RjUNIyY01pXCqKO_secret_ylAqy5hfUHxUxF2TrkmKjBU71",
          "confirmation_method": "manual",
          "created": 1698679092,
          "currency": "usd",
          "customer": "cus_OumnWtor8Wfjo3",
          "description": "You bought http://edgar606195b9477.test.gumroad.com:31337/l/c",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6xEG9e1RjUNIyY0ZLDSpVp",
          "livemode": false,
          "metadata": {
            "purchase": "6ETaFyk9o7yiPlUgftuOow=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6xED9e1RjUNIyYZ8rReWPY",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar606195b9477",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "305"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6xEG9e1RjUNIyY0ZLDSpVp?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6xEG9e1RjUNIyY0ZLDSpVp",
          "object": "charge",
          "amount": 599,
          "amount_captured": 599,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6xEG9e1RjUNIyY0I9H4Gtr",
            "object": "balance_transaction",
            "amount": 599,
            "available_on": 1698796800,
            "created": 1698679092,
            "currency": "usd",
            "description": "You bought http://edgar606195b9477.test.gumroad.com:31337/l/c",
            "exchange_rate": null,
            "fee": 35,
            "fee_details": [
              {
                "amount": 35,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 564,
            "reporting_category": "charge",
            "source": "ch_2O6xEG9e1RjUNIyY0ZLDSpVp",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR606195",
          "captured": true,
          "created": 1698679092,
          "currency": "usd",
          "customer": "cus_OumnWtor8Wfjo3",
          "description": "You bought http://edgar606195b9477.test.gumroad.com:31337/l/c",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "6ETaFyk9o7yiPlUgftuOow=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 36,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6xEG9e1RjUNIyY01pXCqKO",
          "payment_method": "pm_0O6xED9e1RjUNIyYZ8rReWPY",
          "payment_method_details": {
            "card": {
              "amount_authorized": 599,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 599,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUotpL_qQYyBtPY8XUlOzosFpm9kwwVO8fcmYbhkVGJzoFLewBQ7vRtiqkH98ayKv14VnLwUdrPo4I1X8s",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar606195b9477",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "305"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
recorded_with: VCR 6.2.0
