---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2MlrJr9e1RjUNIyY0s8AWM5s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2MlrJr9e1RjUNIyY0s8AWM5s",
          "object": "charge",
          "amount": 1200,
          "amount_captured": 1200,
          "amount_refunded": 700,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_2MlrJr9e1RjUNIyY0uak1GnK",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUM.CO/CC* EDGARDF7711",
          "captured": true,
          "created": 1678875152,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgardf7711082.test.gumroad.com:31337/l/l",
          "destination": "acct_1MbQQ6S2yTRm7HHQ",
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "P5ppE6H8XIjy2JSCgUhbAw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 36,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2MlrJr9e1RjUNIyY0qRbN0zU",
          "payment_method": "pm_0MlrJq9e1RjUNIyYj8dDcHcQ",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1200,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1200,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoxID-qQYyBqQV5EHaBDosFuw986mZBSADdu2c5fpdcdsWequ0Bl5qDnMODXQIqR_Ql08JXfDi7fdVxcI",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgardf7711082",
          "status": "succeeded",
          "transfer": "tr_2MlrJr9e1RjUNIyY0FrWztb8",
          "transfer_data": {
            "amount": 880,
            "destination": "acct_1MbQQ6S2yTRm7HHQ"
          },
          "transfer_group": "2"
        }
  recorded_at: Mon, 30 Oct 2023 10:07:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2MlrJr9e1RjUNIyY0FrWztb8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2MlrJr9e1RjUNIyY0FrWztb8",
          "object": "transfer",
          "amount": 880,
          "amount_reversed": 440,
          "balance_transaction": "txn_2MlrJr9e1RjUNIyY0TiJ4E3I",
          "created": 1678875152,
          "currency": "usd",
          "description": null,
          "destination": "acct_1MbQQ6S2yTRm7HHQ",
          "destination_payment": "py_1MlrJsS2yTRm7HHQx3aXLEV9",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [
              {
                "id": "trr_0MlrKB9e1RjUNIyYeJJj9xXz",
                "object": "transfer_reversal",
                "amount": 73,
                "balance_transaction": "txn_0MlrKC9e1RjUNIyY4QSoW7Xw",
                "created": 1678875171,
                "currency": "usd",
                "destination_payment_refund": "pyr_1MlrKBS2yTRm7HHQcrx7sgV0",
                "metadata": {},
                "source_refund": null,
                "transfer": "tr_2MlrJr9e1RjUNIyY0FrWztb8"
              },
              {
                "id": "trr_0MlrK49e1RjUNIyYEO8wKg8d",
                "object": "transfer_reversal",
                "amount": 367,
                "balance_transaction": "txn_0MlrK49e1RjUNIyYseqfOi0y",
                "created": 1678875164,
                "currency": "usd",
                "destination_payment_refund": "pyr_1MlrK4S2yTRm7HHQ0GAcCpfs",
                "metadata": {},
                "source_refund": "re_2MlrJr9e1RjUNIyY0dzjVFPd",
                "transfer": "tr_2MlrJr9e1RjUNIyY0FrWztb8"
              }
            ],
            "has_more": false,
            "total_count": 2,
            "url": "/v1/transfers/tr_2MlrJr9e1RjUNIyY0FrWztb8/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_2MlrJr9e1RjUNIyY0s8AWM5s",
          "source_type": "card",
          "transfer_group": "2"
        }
  recorded_at: Mon, 30 Oct 2023 10:07:00 GMT
recorded_with: VCR 6.2.0
