---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2Q7bRK9e1RjUNIyY1icyswlr?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2Q7bRK9e1RjUNIyY1icyswlr",
          "object": "refund",
          "amount": 1700,
          "balance_transaction": {
            "id": "txn_2Q7bRK9e1RjUNIyY1hpvIOPN",
            "object": "balance_transaction",
            "amount": -1700,
            "available_on": 1728432000,
            "created": 1728386832,
            "currency": "usd",
            "description": "REFUND FOR CHARGE (Gumroad Charge G_-mnBf9b1j9A7a4ub4nFQ==)",
            "exchange_rate": null,
            "fee": -64,
            "fee_details": [
              {
                "amount": -64,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fee refund",
                "type": "stripe_fee"
              }
            ],
            "net": -1636,
            "reporting_category": "refund",
            "source": "re_2Q7bRK9e1RjUNIyY1icyswlr",
            "status": "available",
            "type": "refund"
          },
          "charge": "ch_2Q7bRK9e1RjUNIyY1SMUhNqu",
          "created": 1728386832,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference": "9737533023580908",
              "reference_status": "available",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_2Q7bRK9e1RjUNIyY1J2BBTCh",
          "reason": "fraudulent",
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": "trr_0Q7bZN9e1RjUNIyYH7vxI14k"
        }
  recorded_at: Wed, 09 Oct 2024 14:09:36 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2Q7bRK9e1RjUNIyY1SMUhNqu?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2Q7bRK9e1RjUNIyY1SMUhNqu",
          "object": "charge",
          "amount": 1700,
          "amount_captured": 1700,
          "amount_refunded": 1700,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2Q7bRK9e1RjUNIyY1ElxUvrW",
            "object": "balance_transaction",
            "amount": 1700,
            "available_on": 1728432000,
            "created": 1728386335,
            "currency": "usd",
            "description": "Gumroad Charge G_-mnBf9b1j9A7a4ub4nFQ==",
            "exchange_rate": null,
            "fee": 64,
            "fee_details": [
              {
                "amount": 64,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1636,
            "reporting_category": "charge",
            "source": "ch_2Q7bRK9e1RjUNIyY1SMUhNqu",
            "status": "available",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD.CO* SUREHOWABO",
          "captured": true,
          "created": 1728386335,
          "currency": "usd",
          "customer": "cus_QzacgJrOwgsMn5",
          "description": "Gumroad Charge G_-mnBf9b1j9A7a4ub4nFQ==",
          "destination": "acct_1Q7bDYS88hpHw07j",
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "NBKNZwwDs8H_JBX8R4qB3w==,bEtKQ3Zu9SgNopem0-ZywA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 7,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2Q7bRK9e1RjUNIyY1J2BBTCh",
          "payment_method": "pm_0Q7bRF9e1RjUNIyY7lejic3c",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1700,
              "authorization_code": null,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2028,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 1700,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUooJ2auAYyBsPPzYgXLDosFhORugJQQBNSl2xJzWi2Sg9rDyVzihi9r6C_mJ3Er_ecdozBJ5y263MrAN0",
          "refunded": true,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "surehowabouttheusern",
          "status": "succeeded",
          "transfer": "tr_2Q7bRK9e1RjUNIyY1Ec54YVV",
          "transfer_data": {
            "amount": 1421,
            "destination": "acct_1Q7bDYS88hpHw07j"
          },
          "transfer_group": "CH-1"
        }
  recorded_at: Wed, 09 Oct 2024 14:09:36 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_2Q7bRK9e1RjUNIyY1Ec54YVV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_2Q7bRK9e1RjUNIyY1Ec54YVV",
          "object": "transfer",
          "amount": 1421,
          "amount_reversed": 1421,
          "balance_transaction": "txn_2Q7bRK9e1RjUNIyY1UQC6aIM",
          "created": 1728386335,
          "currency": "usd",
          "description": null,
          "destination": "acct_1Q7bDYS88hpHw07j",
          "destination_payment": "py_1Q7bRLS88hpHw07jMDkrEOLq",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [
              {
                "id": "trr_0Q7bZN9e1RjUNIyYH7vxI14k",
                "object": "transfer_reversal",
                "amount": 1421,
                "balance_transaction": "txn_0Q7bZN9e1RjUNIyYc2ldgcU7",
                "created": 1728386833,
                "currency": "usd",
                "destination_payment_refund": "pyr_1Q7bZNS88hpHw07jJoJqr11q",
                "metadata": {},
                "source_refund": "re_2Q7bRK9e1RjUNIyY1icyswlr",
                "transfer": "tr_2Q7bRK9e1RjUNIyY1Ec54YVV"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/transfers/tr_2Q7bRK9e1RjUNIyY1Ec54YVV/reversals"
          },
          "reversed": true,
          "source_transaction": "ch_2Q7bRK9e1RjUNIyY1SMUhNqu",
          "source_type": "card",
          "transfer_group": "CH-1"
        }
  recorded_at: Wed, 09 Oct 2024 14:09:36 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1Q7bRLS88hpHw07jMDkrEOLq?expand%5B%5D=application_fee.refunds&expand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1Q7bDYS88hpHw07j
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1Q7bDYS88hpHw07j
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1Q7bRLS88hpHw07jMDkrEOLq",
          "object": "charge",
          "amount": 1421,
          "amount_captured": 1421,
          "amount_refunded": 1421,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_1Q7bRLS88hpHw07jEV1L4WH5",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": null,
          "captured": true,
          "created": 1728386335,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": null,
          "paid": true,
          "payment_intent": null,
          "payment_method": null,
          "payment_method_details": {
            "stripe_account": {},
            "type": "stripe_account"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xUTdiRFlTODhocEh3MDdqKKGdmrgGMgZ-dIfU3PE6LBbWhlpdf11pHnJhXIYNsgPJEzjMUKTcnoYWLfl8wWNrkisLINeNJy9VGOVs",
          "refunded": true,
          "refunds": {
            "object": "list",
            "data": [
              {
                "id": "pyr_1Q7bZNS88hpHw07jJoJqr11q",
                "object": "refund",
                "amount": 1421,
                "balance_transaction": {
                  "id": "txn_1Q7bZNS88hpHw07j9tZJkKkE",
                  "object": "balance_transaction",
                  "amount": -1421,
                  "available_on": 1728432000,
                  "created": 1728386833,
                  "currency": "usd",
[...]
