---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&default_currency=usd&type=custom&business_type=individual&tos_acceptance[date]=1427846400&tos_acceptance[ip]=54.234.242.13&business_profile[url]=www.gumroad.com&business_profile[product_description]=Test+product&business_profile[mcc]=5734&individual[verification][document][front]=file_identity_document_success&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[phone]=0000000000&individual[id_number]=000000000&individual[email]=me%40example.com&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=CA&individual[address][postal_code]=94107&individual[address][country]=US&individual[ssn_last_4]=0000&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&external_account[object]=bank_account&external_account[country]=US&external_account[currency]=usd&external_account[routing_number]=111000000&external_account[account_number]=000<STRONGBOX_GENERAL_PASSWORD>56789
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a467b12d-1d36-400f-8c22-9ace4e655894
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a467b12d-1d36-400f-8c22-9ace4e655894
      Original-Request:
      - req_tomqM6E2Yg45t4
      Stripe-Notice:
      - '2 notices for this request: (1) We recommend building your integration using
        Accounts v2. See https://docs.stripe.com/api/v2/core/accounts (2) You are
        using an outdated API version (2023-10-16). We recommend upgrading to the
        latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades'
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1UKP2AEXQyiSDXsR",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5734",
            "minority_owned_business_designation": null,
            "name": null,
            "product_description": "Test product",
            "specified_commercial_transactions_act_url": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "www.gumroad.com"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "active"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "CA"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "US",
          "created": 1790542256,
          "default_currency": "usd",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1UKP2BEXQyiSDXsR3fqFFWes",
                "object": "bank_account",
                "account": "acct_1UKP2AEXQyiSDXsR",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "xadKCGTmvYR41F1v",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "111000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1UKP2AEXQyiSDXsR/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1UKP2BEXQyiSDXsRSG6jP8JD",
            "object": "person",
            "account": "acct_1UKP2AEXQyiSDXsR",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "CA"
            },
            "created": 1790542256,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "me@example.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "authorizer": false,
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": "file_1UKP2BIBOqvOFDrfJm5eNS9V"
              },
              "status": "pending"
            }
          },
          "metadata": {},
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": "requirements.pending_verification",
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "GUMROAD.CO",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Gumroad",
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null,
              "hosted_payment_method_save": "offer"
            },
            "payments": {
              "statement_descriptor": "GUMROAD.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1427846400,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Sun, 27 Sep 2026 20:50:58 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1UKP2AEXQyiSDXsR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1UKP2AEXQyiSDXsR
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1UKP2AEXQyiSDXsR",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
        [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_mastercard
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ffef0403-60d9-40ad-9494-4ea888cdb654
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ffef0403-60d9-40ad-9494-4ea888cdb654
      Original-Request:
      - req_6fLRzsarc79sNc
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UKP3bIBOqvOFDrfze8258OD",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "mastercard",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "mastercard",
            "exp_month": 9,
            "exp_year": 2027,
            "fingerprint": "fUoNtrDh5do2xE0H",
            "funding": "credit",
            "generated_from": null,
            "last4": "4444",
            "networks": {
              "available": [
                "mastercard"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1790542343,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Sun, 27 Sep 2026 20:52:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_1UKP3bIBOqvOFDrfze8258OD&payment_method_types[0]=card&amount=1700&currency=usd&confirm=true&transfer_data[destination]=acct_1UKP2AEXQyiSDXsR&transfer_data[amount]=1500
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e978812a-f7d0-488f-b1bf-ff70127a1c9d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e978812a-f7d0-488f-b1bf-ff70127a1c9d
      Original-Request:
      - req_IS1Ew3rjVHWnim
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3UKP3bIBOqvOFDrf0eJiCfyw",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 1700,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1700,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3UKP3bIBOqvOFDrf0eJiCfyw_secret_FHZxFPopfY5e0hHN7wT9932ki",
          "confirmation_method": "automatic",
          "created": 1790542343,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3UKP3bIBOqvOFDrf0KHC4put",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1UKP3bIBOqvOFDrfze8258OD",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "payment_record": null,
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": {
            "amount": 1500,
            "destination": "acct_1UKP2AEXQyiSDXsR"
          },
          "transfer_group": "group_pi_3UKP3bIBOqvOFDrf0eJiCfyw"
        }
  recorded_at: Sun, 27 Sep 2026 20:52:24 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3UKP3bIBOqvOFDrf0KHC4put
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3UKP3bIBOqvOFDrf0KHC4put",
          "object": "charge",
          "amount": 1700,
          "amount_captured": 1700,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3UKP3bIBOqvOFDrf0wPTOAnl",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "Stripe",
          "captured": true,
          "created": 1790542343,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": "acct_1UKP2AEXQyiSDXsR",
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 39,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3UKP3bIBOqvOFDrf0eJiCfyw",
          "payment_method": "pm_1UKP3bIBOqvOFDrfze8258OD",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1700,
              "authorization_code": "862982",
              "brand": "mastercard",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "electronic_commerce_indicator": null,
              "exp_month": 9,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "fUoNtrDh5do2xE0H",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4444",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "mastercard",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "MCCFUONTR0927",
              "overcapture": {
                "maximum_amount_capturable": 1700,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "transaction_link_id": "test123-tlid456__3UKP3",
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKImE5tUGMgbweeaaew06LBaCM1KTragDKi5gCaepyhTvqcLEze8opoRjLnsvt4hWNgzfwdXHtahvFrpZ",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer": "tr_3UKP3bIBOqvOFDrf0RuL09mj",
          "transfer_data": {
            "amount": 1500,
            "destination": "acct_1UKP2AEXQyiSDXsR"
          },
          "transfer_group": "group_pi_3UKP3bIBOqvOFDrf0eJiCfyw"
        }
  recorded_at: Sun, 27 Sep 2026 20:52:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3UKP3bIBOqvOFDrf0KHC4put&reverse_transfer=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f518819c-fbda-481f-a2c3-5b9e73816f95
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f518819c-fbda-481f-a2c3-5b9e73816f95
      Original-Request:
      - req_Rhbd0mEFzOINWn
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3UKP3bIBOqvOFDrf0h5BZrSs",
          "object": "refund",
          "amount": 1700,
          "balance_transaction": "txn_3UKP3bIBOqvOFDrf08DYh8IH",
          "charge": "ch_3UKP3bIBOqvOFDrf0KHC4put",
          "created": 1790542345,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_3UKP3bIBOqvOFDrf0eJiCfyw",
          "payment_method": "pm_1UKP3bIBOqvOFDrfze8258OD",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": "trr_1UKP3dIBOqvOFDrfItQ86OUB"
        }
  recorded_at: Sun, 27 Sep 2026 20:52:26 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_3UKP3bIBOqvOFDrf0h5BZrSs?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3UKP3bIBOqvOFDrf0h5BZrSs",
          "object": "refund",
          "amount": 1700,
          "balance_transaction": {
            "id": "txn_3UKP3bIBOqvOFDrf08DYh8IH",
            "object": "balance_transaction",
            "amount": -1700,
            "available_on": 1791072000,
            "balance_type": "payments",
            "created": 1790542345,
            "currency": "usd",
            "description": "REFUND FOR CHARGE",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": -1700,
            "reporting_category": "refund",
            "source": "re_3UKP3bIBOqvOFDrf0h5BZrSs",
            "status": "pending",
            "type": "refund"
          },
          "charge": "ch_3UKP3bIBOqvOFDrf0KHC4put",
          "created": 1790542345,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "destination_details": {
            "card": {
              "reference": "4841341951659824",
              "reference_status": "available",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_3UKP3bIBOqvOFDrf0eJiCfyw",
          "payment_method": "pm_1UKP3bIBOqvOFDrfze8258OD",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": "trr_1UKP3dIBOqvOFDrfItQ86OUB"
        }
  recorded_at: Sun, 27 Sep 2026 20:52:27 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3UKP3bIBOqvOFDrf0KHC4put?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_3UKP3bIBOqvOFDrf0RuL09mj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-08-26.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_3UKP3bIBOqvOFDrf0RuL09mj",
          "object": "transfer",
          "amount": 1500,
          "amount_reversed": 1500,
          "balance_transaction": "txn_3UKP3bIBOqvOFDrf0EyMjtKr",
          "created": 1790542344,
          "currency": "usd",
          "description": null,
          "destination": "acct_1UKP2AEXQyiSDXsR",
          "destination_payment": "py_1UKP3cEXQyiSDXsReZ3zs9QO",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [
              {
                "id": "trr_1UKP3dIBOqvOFDrfItQ86OUB",
                "object": "transfer_reversal",
                "amount": 1500,
                "balance_transaction": "txn_1UKP3dIBOqvOFDrfHOYajpDW",
                "created": 1790542345,
                "currency": "usd",
                "destination_payment_refund": "pyr_1UKP3dEXQyiSDXsRncFzAOfs",
                "metadata": {},
                "source_refund": "re_3UKP3bIBOqvOFDrf0h5BZrSs",
                "transfer": "tr_3UKP3bIBOqvOFDrf0RuL09mj"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/transfers/tr_3UKP3bIBOqvOFDrf0RuL09mj/reversals"
          },
          "reversed": true,
          "source_transaction": "ch_3UKP3bIBOqvOFDrf0KHC4put",
          "source_type": "card",
          "transfer_group": "group_pi_3UKP3bIBOqvOFDrf0eJiCfyw"
        }
  recorded_at: Sun, 27 Sep 2026 20:52:27 GMT
- request:
    method: get
[...]
