---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d7262a44-e96f-490d-b76e-58c3b583b452
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d7262a44-e96f-490d-b76e-58c3b583b452
      Original-Request:
      - req_YlDhnStG2Gwfzm
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SsRnTIBOqvOFDrfy8KXkNzY",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 1,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1769103355,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Thu, 22 Jan 2026 17:35:55 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SsRnTIBOqvOFDrfy8KXkNzY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_1SsRnTIBOqvOFDrfy8KXkNzY
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5361fd8f-0427-4ce7-8648-db4a4d5f06ee
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5361fd8f-0427-4ce7-8648-db4a4d5f06ee
      Original-Request:
      - req_gutcLOeLaLseQa
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Tq83t2Mcm91NBa",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1769103356,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "EE58KXF5",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 22 Jan 2026 17:35:56 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SsRnVIBOqvOFDrf2iF91Xwg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=200&currency=usd&description=You+bought+http%3A%2F%2Fedgar08f0cff38.test.gumroad.com%3A31337%2Fl%2Fa%21&metadata[purchase]=1ZbZVmM9fZbfGoT8zJiDJw%3D%3D&transfer_group=21&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_Tq83yPLIujRpzC&payment_method=pm_1SsRnVIBOqvOFDrf2iF91Xwg&statement_descriptor_suffix=edgar08f0cff38
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 19c06c84-775f-427f-8b5d-7ea113cd772f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 19c06c84-775f-427f-8b5d-7ea113cd772f
      Original-Request:
      - req_rJaKeeRQJZEf7D
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SsRnXIBOqvOFDrf1MhIw1Tg",
          "object": "payment_intent",
          "amount": 200,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 200,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SsRnXIBOqvOFDrf1MhIw1Tg_secret_rb8LdB1vCWmpGIAfUnAMvvJJG",
          "confirmation_method": "automatic",
          "created": 1769103359,
          "currency": "usd",
          "customer": "cus_Tq83yPLIujRpzC",
          "customer_account": null,
          "description": "You bought http://edgar08f0cff38.test.gumroad.com:31337/l/a!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SsRnXIBOqvOFDrf1EnLC7xY",
          "livemode": false,
          "metadata": {
            "purchase": "1ZbZVmM9fZbfGoT8zJiDJw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SsRnVIBOqvOFDrf2iF91Xwg",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar08f0cff38",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "21"
        }
  recorded_at: Thu, 22 Jan 2026 17:35:59 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SsRnXIBOqvOFDrf1EnLC7xY?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SsRnXIBOqvOFDrf1EnLC7xY",
          "object": "charge",
          "amount": 200,
          "amount_captured": 200,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SsRnXIBOqvOFDrf1YnbhGiE",
            "object": "balance_transaction",
            "amount": 200,
            "available_on": 1769644800,
            "balance_type": "payments",
            "created": 1769103359,
            "currency": "usd",
            "description": "You bought http://edgar08f0cff38.test.gumroad.com:31337/l/a!",
            "exchange_rate": null,
            "fee": 36,
            "fee_details": [
              {
                "amount": 36,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 164,
            "reporting_category": "charge",
            "source": "ch_3SsRnXIBOqvOFDrf1EnLC7xY",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR08F0CFF38",
          "captured": true,
          "created": 1769103359,
          "currency": "usd",
          "customer": "cus_Tq83yPLIujRpzC",
          "description": "You bought http://edgar08f0cff38.test.gumroad.com:31337/l/a!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "1ZbZVmM9fZbfGoT8zJiDJw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 24,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SsRnXIBOqvOFDrf1MhIw1Tg",
          "payment_method": "pm_1SsRnVIBOqvOFDrf2iF91Xwg",
          "payment_method_details": {
            "card": {
              "amount_authorized": 200,
              "authorization_code": "823611",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 1,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 200,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKIDAycsGMgYZt2-j_Eo6LBZpuzSyt_MEaah8gnuIQBRcAfFV8wgrxNMSYbcWDs3pfokxp92MCQz1XdUv",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar08f0cff38",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "21"
        }
  recorded_at: Thu, 22 Jan 2026 17:36:00 GMT
recorded_with: VCR 6.2.0
