---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_19paZxAQqMpdRp2I
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_19paZxAQqMpdRp2I
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_19paZxAQqMpdRp2I",
          "object": "account",
          "business_type": "sole_prop",
          "capabilities": {
            "card_payments": "inactive",
            "transfers": "inactive"
          },
          "charges_enabled": false,
          "country": "US",
          "default_currency": "usd",
          "details_submitted": true,
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": 1497570470,
            "currently_due": [
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.email",
              "individual.id_number",
              "individual.phone",
              "interv_1RWtzeAQqMpdRp2IhPb6x4q7.other_supportability_inquiry.support"
            ],
            "disabled_reason": "rejected.fraud",
            "errors": [],
            "eventually_due": [
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.email",
              "individual.id_number",
              "individual.phone",
              "interv_1RWtzeAQqMpdRp2IhPb6x4q7.other_supportability_inquiry.support"
            ],
            "past_due": [
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.email",
              "individual.id_number",
              "individual.phone",
              "interv_1RWtzeAQqMpdRp2IhPb6x4q7.other_supportability_inquiry.support"
            ],
            "pending_verification": [
              "business_profile.url"
            ]
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "capital": {},
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "statement_descriptor_prefix": null,
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Bigbinary",
              "timezone": "US/Eastern"
            },
            "invoices": {
              "default_account_tax_ids": null,
              "hosted_payment_method_save": "always"
            },
            "payments": {
              "statement_descriptor": "BIGBINARY.COM",
              "statement_descriptor_kana": "",
              "statement_descriptor_kanji": ""
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "type": "standard"
        }
  recorded_at: Sat, 01 Nov 2025 15:33:16 GMT
recorded_with: VCR 6.2.0
