---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=6920017269032&metadata[tos_agreement_id]=SUjRfoCd6BV4DRnUUyWQ9Q%3D%3D&metadata[user_compliance_info_id]=SUjRfoCd6BV4DRnUUyWQ9Q%3D%3D&metadata[bank_account_id]=dQMAHeiff1UMsaDDxJzpTQ%3D%3D&tos_acceptance[date]=1732677029&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[name]=Chuck+Bartowski&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=edgar70138fb1_209%40gumroad.com&individual[phone]=0000000000&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=California&individual[address][postal_code]=94107&individual[address][country]=US&individual[id_number]=000000000&bank_account[country]=US&bank_account[currency]=usd&bank_account[account_number]=000123456789&bank_account[routing_number]=110000000&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 056fb014-ae93-4830-9313-7fdaa9bf66fb
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 056fb014-ae93-4830-9313-7fdaa9bf66fb
      Original-Request:
      - req_EnhG9YHHC1RWV4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1QPbe5S5VrmtrGET",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "name": "Chuck Bartowski",
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "pending"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "US",
          "created": 1732677031,
          "default_currency": "usd",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1QPbe6S5VrmtrGETSVhZQHoA",
                "object": "bank_account",
                "account": "acct_1QPbe5S5VrmtrGET",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard",
                  "instant"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "dx7dqwoGHEQDKLLK",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1QPbe5S5VrmtrGET/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1717516800,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "business_profile.url",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "individual": {
            "id": "person_1QPbe6S5VrmtrGET8r6S0hOx",
            "object": "person",
            "account": "acct_1QPbe5S5VrmtrGET",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "created": 1732677030,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "edgar70138fb1_209@gumroad.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "authorizer": false,
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "pending"
            }
          },
          "metadata": {
            "bank_account_id": "dQMAHeiff1UMsaDDxJzpTQ==",
            "tos_agreement_id": "SUjRfoCd6BV4DRnUUyWQ9Q==",
            "user_compliance_info_id": "SUjRfoCd6BV4DRnUUyWQ9Q==",
            "user_id": "6920017269032"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": "requirements.pending_verification",
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "business_profile.url",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "capital": {},
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "CHUCK BART",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Chuck Bartowski",
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null
            },
            "payments": {
              "statement_descriptor": "CHUCK BARTOWSKI",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 1,
                "interval": "manual"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1732677029,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Wed, 27 Nov 2024 03:10:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1QPbe5S5VrmtrGET/persons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1QPbe5S5VrmtrGET
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "person_1QPbe6S5VrmtrGET8r6S0hOx",
              "object": "person",
              "account": "acct_1QPbe5S5VrmtrGET",
              "additional_tos_acceptances": {
                "account": {
                  "date": null,
                  "ip": null,
                  "user_agent": null
                }
              },
              "address": {
                "city": "San Francisco",
                "country": "US",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "94107",
                "state": "California"
              },
              "created": 1732677030,
              "dob": {
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1QPbe5S5VrmtrGET/persons/person_1QPbe6S5VrmtrGET8r6S0hOx
    body:
      encoding: UTF-8
      string: verification[document][front]=file_identity_document_success
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e8f43978-3ad4-4b67-9ab7-bf578330cbd6
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1QPbe5S5VrmtrGET
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1QPbe[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0077&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 17881422-0190-4e70-82c4-c02b71c304e0
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 17881422-0190-4e70-82c4-c02b71c304e0
      Original-Request:
      - req_ymADTHlmcb13xQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0QPbek9e1RjUNIyYsQnXW7gH",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "bZOtlsHP7jNsUpt3",
            "funding": "credit",
            "generated_from": null,
            "last4": "0077",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1732677070,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 27 Nov 2024 03:11:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0QPbek9e1RjUNIyYsQnXW7gH&payment_method_types[0]=card&amount=60000&currency=usd&transfer_data[destination]=acct_1QPbe5S5VrmtrGET
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bfd53386-7336-4ab6-aadd-ec3c6133bae2
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bfd53386-7336-4ab6-aadd-ec3c6133bae2
      Original-Request:
      - req_EPUVhUKRELR4Vp
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2QPbel9e1RjUNIyY0EIdbnmn",
          "object": "payment_intent",
          "amount": 60000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2QPbel9e1RjUNIyY0EIdbnmn_secret_2ooGmkDxUN02UK4UOohg6xTRq",
          "confirmation_method": "automatic",
          "created": 1732677071,
          "currency": "usd",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0QPbek9e1RjUNIyYsQnXW7gH",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": {
            "destination": "acct_1QPbe5S5VrmtrGET"
          },
          "transfer_group": null
        }
  recorded_at: Wed, 27 Nov 2024 03:11:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2QPbel9e1RjUNIyY0EIdbnmn/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - eb18f851-cf0d-45f9-bb1a-6b82fe12cf00
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    head[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2QPbel9e1RjUNIyY04e3XRiZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2QPbel9e1RjUNIyY04e3XRiZ",
          "object": "charge",
          "amount": 60000,
          "amount_captured": 60000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_2QPbel9e1RjUNIyY0NaMksWc",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD.COM/C",
          "captured": true,
          "created": 1732677071,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": "acct_1QPbe5S5VrmtrGET",
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 4,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2QPbel9e1RjUNIyY0EIdbnmn",
          "payment_method": "pm_0QPbek9e1RjUNIyYsQnXW7gH",
          "payment_method_details": {
            "card": {
              "amount_authorized": 60000,
              "authorization_code": null,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "bZOtlsHP7jNsUpt3",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "0077",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 60000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo0ZuaugYyBpOwubNySTosFg8pkdixQIyx4X_qkjLKCHLLlo3vckCXSCw7YZ02Cqhd3WByveNjpNWxp_Y",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer": "tr_2QPbel9e1RjUNIyY0Lgw8SAk",
          "transfer_data": {
            "amount": null,
            "destination": "acct_1QPbe5S5VrmtrGET"
          },
          "transfer_group": "group_pi_2QPbel9e1RjUNIyY0EIdbnmn"
        }
  recorded_at: Wed, 27 Nov 2024 03:11:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: destination=acct_1QPbe5S5VrmtrGET&currency=usd&description=Funds+held+by+Gumroad+for+Payment+dQMAHeiff1UMsaDDxJzpTQ%3D%3D.&amount=200&metadata[payment]=dQMAHeiff1UMsaDDxJzpTQ%3D%3D&metadata[balances%7B0%7D]=1_CC2m6tDw0XuB7WuXTdMQ%3D%3D%2CzyVcslyRTLm32RQ20xTNCA%3D%3D&expand[0]=balance_transaction
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0a80a777-fbc0-47b1-94c2-4ad34c9dcf0e
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0a80a777-fbc0-47b1-94c2-4ad34c9dcf0e
      Original-Request:
      - req_NE9m31ka4ETFnI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_0QPben9e1RjUNIyYUV0G7nuT",
          "object": "transfer",
          "amount": 200,
          "amount_reversed": 0,
          "balance_transaction": {
            "id": "txn_0QPben9e1RjUNIyYl1CPF1RO",
            "object": "balance_transaction",
            "amount": -200,
            "available_on": 1732677073,
            "created": 1732677073,
            "currency": "usd",
            "description": "Funds held by Gumroad for Payment dQMAHeiff1UMsaDDxJzpTQ==.",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": -200,
            "reporting_category": "transfer",
            "source": "tr_0QPben9e1RjUNIyYUV0G7nuT",
            "status": "available",
            "type": "transfer"
          },
          "created": 1732677073,
          "currency": "usd",
          "description": "Funds held by Gumroad for Payment dQMAHeiff1UMsaDDxJzpTQ==.",
          "destination": "acct_1QPbe5S5VrmtrGET",
          "destination_payment": "py_1QPbenS5VrmtrGET0tCKqTMl",
          "livemode": false,
          "metadata": {
            "balances{0}": "1_CC2m6tDw0XuB7WuXTdMQ==,zyVcslyRTLm32RQ20xTNCA==",
            "payment": "dQMAHeiff1UMsaDDxJzpTQ=="
          },
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_0QPben9e1RjUNIyYUV0G7nuT/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Wed, 27 Nov 2024 03:11:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/py_1QPbenS5VrmtrGET0tCKqTMl?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1QPbe5S5VrmtrGET
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1QPbe5S5VrmtrGET
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "py_1QPbenS5VrmtrGET0tCKqTMl",
          "object": "charge",
          "amount": 200,
          "amount_captured": 200,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_1QPbeoS5VrmtrGET8Zm6l53O",
            "object": "balance_transaction",
            "amount": 200,
            "available_on": 1732677074,
            "created": 1732677074,
            "currency": "usd",
            "description": null,
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 200,
            [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payouts
    body:
      encoding: UTF-8
      string: amount=60200&currency=usd&destination=ba_1QPbe6S5VrmtrGETSVhZQHoA&statement_descriptor=Gumroad&description=dQMAHeiff1UMsaDDxJzpTQ%3D%3D&method=standard&metadata[payment]=dQMAHeiff1UMsaDDxJzpTQ%3D%3D&metadata[bank_account]=dQMAHeiff1UMsaDDxJzpTQ%3D%3D&metadata[balances%7B0%7D]=HaAFFeRf8GiN08dndEOHRA%3D%3D%2CB46oc6FM3dKamFFQDKLJ9g%3D%3D%2CfhXfI9kDSHmVIFm3W44PDQ%3D%3D%2C1_CC2m6tDw0Xu[...]
