---
http_interactions:
  - request:
      method: post
      uri: https://api.stripe.com/v1/accounts
      body:
        encoding: UTF-8
        string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=782796985252&metadata[tos_agreement_id]=E03ACMtyL0HTcPJ12Bkv0w%3D%3D&metadata[user_compliance_info_id]=E03ACMtyL0HTcPJ12Bkv0w%3D%3D&tos_acceptance[date]=1738915047&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[name]=Chuck+Bartowski&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=edgar55d4886d_1%40gumroad.com&individual[phone]=0000000000&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=California&individual[address][postal_code]=94107&individual[address][country]=US&individual[id_number]=000000000
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Idempotency-Key:
          - c8801902-a760-4566-94ce-775b836edfee
        Stripe-Version:
          - 2023-10-16; risk_in_requirements_beta=v1
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - c8801902-a760-4566-94ce-775b836edfee
        Original-Request:
          - req_B4NX5MJZbR3Rlp
        Stripe-Should-Retry:
          - "false"
        Stripe-Version:
          - 2023-10-16; risk_in_requirements_beta=v1
        X-Wc:
          - AB
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "acct_1QpmRIS4BgMLkp9j",
            "object": "account",
            "business_profile": {
              "annual_revenue": null,
              "estimated_worker_count": null,
              "mcc": "5192",
              "name": "Chuck Bartowski",
              "product_description": "Chuck Bartowski",
              "support_address": null,
              "support_email": null,
              "support_phone": null,
              "support_url": null,
              "url": "https://vipul.gumroad.com/"
            },
            "business_type": "individual",
            "capabilities": {
              "card_payments": "pending",
              "transfers": "pending"
            },
            "charges_enabled": false,
            "company": {
              "address": {
                "city": "San Francisco",
                "country": "US",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "94107",
                "state": "California"
              },
              "directors_provided": true,
              "executives_provided": true,
              "name": null,
              "owners_provided": true,
              "phone": "+10000000000",
              "tax_id_provided": false,
              "verification": {
                "document": {
                  "back": null,
                  "details": null,
                  "details_code": null,
                  "front": null
                }
              }
            },
            "controller": {
              "fees": {
                "payer": "application_custom"
              },
              "is_controller": true,
              "losses": {
                "payments": "application"
              },
              "requirement_collection": "application",
              "stripe_dashboard": {
                "type": "none"
              },
              "type": "application"
            },
            "country": "US",
            "created": 1738915049,
            "default_currency": "usd",
            "details_submitted": false,
            "email": null,
            "external_accounts": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/accounts/acct_1QpmRIS4BgMLkp9j/external_accounts"
            },
            "future_requirements": {
              "alternatives": [],
              "current_deadline": 1717516800,
              "currently_due": [
                "external_account"
              ],
              "disabled_reason": null,
              "errors": [],
              "eventually_due": [
                "external_account"
              ],
              "past_due": [
                "external_account"
              ],
              "pending_verification": [
                "business_profile.url",
                "individual.address.city",
                "individual.address.line1",
                "individual.address.postal_code",
                "individual.address.state",
                "individual.id_number",
                "individual.verification.document"
              ]
            },
            "individual": {
              "id": "person_1QpmRJS4BgMLkp9j2m6oVS5e",
              "object": "person",
              "account": "acct_1QpmRIS4BgMLkp9j",
              "address": {
                "city": "San Francisco",
                "country": "US",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "94107",
                "state": "California"
              },
              "created": 1738915049,
              "dob": {
                "day": 1,
                "month": 1,
                "year": 1901
              },
              "email": "edgar55d4886d_1@gumroad.com",
              "first_name": "Chuck",
              "future_requirements": {
                "alternatives": [],
                "currently_due": [],
                "errors": [],
                "eventually_due": [],
                "past_due": [],
                "pending_verification": [
                  "address.city",
                  "address.line1",
                  "address.postal_code",
                  "address.state",
                  "id_number",
                  "verification.document"
                ]
              },
              "id_number_provided": true,
              "last_name": "Bartowski",
              "metadata": {},
              "phone": "+10000000000",
              "relationship": {
                "authorizer": false,
                "director": false,
                "executive": false,
                "legal_guardian": false,
                "owner": false,
                "percent_ownership": null,
                "representative": true,
                "title": null
              },
              "requirements": {
                "alternatives": [],
                "currently_due": [],
                "errors": [],
                "eventually_due": [],
                "past_due": [],
                "pending_verification": [
                  "address.city",
                  "address.line1",
                  "address.postal_code",
                  "address.state",
                  "id_number",
                  "verification.document"
                ]
              },
              "ssn_last_4_provided": true,
              "verification": {
                "additional_document": {
                  "back": null,
                  "details": null,
                  "details_code": null,
                  "front": null
                },
                "details": null,
                "details_code": null,
                "document": {
                  "back": null,
                  "details": null,
                  "details_code": null,
                  "front": null
                },
                "status": "pending"
              }
            },
            "metadata": {
              "tos_agreement_id": "E03ACMtyL0HTcPJ12Bkv0w==",
              "user_compliance_info_id": "E03ACMtyL0HTcPJ12Bkv0w==",
              "user_id": "782796985252"
            },
            "payouts_enabled": false,
            "requirements": {
              "alternatives": [],
              "current_deadline": null,
              "currently_due": [
                "external_account"
              ],
              "disabled_reason": "requirements.past_due",
              "errors": [],
              "eventually_due": [
                "external_account"
              ],
              "past_due": [
                "external_account"
              ],
              "pending_verification": [
                "business_profile.url",
                "individual.address.city",
                "individual.address.line1",
                "individual.address.postal_code",
                "individual.address.state",
                "individual.id_number",
                "individual.verification.document"
              ]
            },
            "risk_controls": {
              "charges": {
                "pause_requested": false
              },
              "payouts": {
                "pause_requested": false
              }
            },
            "settings": {
              "bacs_debit_payments": {
                "display_name": null,
                "service_user_number": null
              },
              "branding": {
                "icon": null,
                "logo": null,
                "primary_color": null,
                "secondary_color": null
              },
              "capital": {},
              "card_issuing": {
                "tos_acceptance": {
                  "date": null,
                  "ip": null
                }
              },
              "card_payments": {
                "decline_on": {
                  "avs_failure": false,
                  "cvc_failure": false
                },
                "statement_descriptor_prefix": "CHUCK BART",
                "statement_descriptor_prefix_kana": null,
                "statement_descriptor_prefix_kanji": null
              },
              "dashboard": {
                "display_name": "Chuck Bartowski",
                "timezone": "Etc/UTC"
              },
              "invoices": {
                "default_account_tax_ids": null
              },
              "payments": {
                "statement_descriptor": "CHUCK BARTOWSKI",
                "statement_descriptor_kana": null,
                "statement_descriptor_kanji": null
              },
              "payouts": {
                "debit_negative_balances": false,
                "schedule": {
                  "delay_days": 2,
                  "interval": "daily"
                },
                "statement_descriptor": null
              },
              "sepa_debit_payments": {}
            },
            "tos_acceptance": {
              "date": 1738915047,
              "ip": "54.234.242.13",
              "user_agent": null
            },
            "type": "custom"
          }
    recorded_at: Fri, 07 Feb 2025 07:57:32 GMT
  - request:
      method: get
      uri: https://api.stripe.com/v1/accounts/acct_1QpmRIS4BgMLkp9j/persons
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - 2023-10-16; risk_in_requirements_beta=v1
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Stripe-Account:
          - acct_1QpmRIS4BgMLkp9j
        Stripe-Version:
          - 2023-10-16; risk_in_requirements_beta=v1
        X-Wc:
          - AB
      body:
        encoding: UTF-8
        string: |-
          {
            "object": "list",
            "data": [
              {
                "id": "person_1QpmRJS4BgMLkp9j2m6oVS5e",
                "object": "person",
                "account": "acct_1QpmRIS4BgMLkp9j",
                "additional_tos_acceptances": {
                  "account": {
                    "date": null,
                    "ip": null,
                    "user_agent": null
                  }
                },
                "address": {
                  "city": "San Francisco",
                  "country": "US",
                  "line1": "address_full_match",
                  "line2": null,
                  "postal_code": "94107",
                  "state": "California"
                },
                "created": 17389[...]
  - request:
      method: post
      uri: https://api.stripe.com/v1/accounts/acct_1QpmRIS4BgMLkp9j/persons/person_1QpmRJS4BgMLkp9j2m6oVS5e
      body:
        encoding: UTF-8
        string: verification[document][front]=file_identity_document_success
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Idempotency-Key:
          - bb632042-bb1b-45ab-8c5a-6d277ca74e8f
        Stripe-Version:
       [...]
  - request:
      method: get
      uri: https://api.stripe.com/v1/accounts/acct_1QpmRIS4BgMLkp9j
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - 2023-10-16; risk_in_requirements_beta=v1
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - applicati[...]
[...]
