---
http_interactions:
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/suppression/bounces/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GUMROAD_TRANSACTIONS_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '598'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1684448280'
      Twilio-Request-Id:
      - RQ2Pz7pWjBcjpBcBabtm7qZZz3Nyg
    body:
      encoding: UTF-8
      string: '{"errors":[{"field":null,"message":"resource not found"}]}'
  recorded_at: Thu, 18 May 2023 22:17:19 GMT
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/suppression/spam_reports/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GUMROAD_TRANSACTIONS_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '599'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1684448280'
      Twilio-Request-Id:
      - RQ2Pz7piaDtgy1RMWy1pcv8vxn0V4
    body:
      encoding: UTF-8
      string: '{"errors":[{"field":null,"message":"resource not found"}]}'
  recorded_at: Thu, 18 May 2023 22:17:20 GMT
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/suppression/bounces/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GUMROAD_FOLLOWER_CONFIRMATION_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '598'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1684448280'
      Twilio-Request-Id:
      - RQ2Pz7pqqdxnXCCf9aH10NvvEphZI
    body:
      encoding: UTF-8
      string: '{"errors":[{"field":null,"message":"resource not found"}]}'
  recorded_at: Thu, 18 May 2023 22:17:21 GMT
[...]
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/suppression/bounces/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GR_CREATORS_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '598'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1684448280'
      Twilio-Request-Id:
      - RQ2Pz7pzbWXPzNpCl0h53pdcstTBP
    body:
      encoding: UTF-8
      string: '{"errors":[{"field":null,"message":"resource not found"}]}'
  recorded_at: Thu, 18 May 2023 22:17:22 GMT
[...]
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/suppression/bounces/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GR_CUSTOMERS_LEVEL_2_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '597'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1684448280'
      Twilio-Request-Id:
      - RQ2Pz7qGBDWdwuKFRLK8bAR5ZOJIJ
    body:
      encoding: UTF-8
      string: '{"errors":[{"field":null,"message":"resource not found"}]}'
  recorded_at: Thu, 18 May 2023 22:17:24 GMT
[...]
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/suppression/spam_reports/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GR_CUSTOMERS_LEVEL_2_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '598'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1684448280'
      Twilio-Request-Id:
      - RQ2Pz7qUoaChrVu0WX76IJUrIyn5g
    body:
      encoding: UTF-8
      string: '{"errors":[{"field":null,"message":"resource not found"}]}'
  recorded_at: Thu, 18 May 2023 22:17:26 GMT
recorded_with: VCR 6.1.0
