---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fdf3e72a-8417-4867-a489-d67929f9b424
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fdf3e72a-8417-4867-a489-d67929f9b424
      Original-Request:
      - req_CIA4GCbelCvmFm
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfZc9e1RjUNIyYKoG1ioBM",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703854440,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:54:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfZc9e1RjUNIyYKoG1ioBM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=503&email=edgare266eded_1010%40gumroad.com&payment_method=pm_0OSfZc9e1RjUNIyYKoG1ioBM
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e5ecb5db-2e4b-444b-ba0a-cf04f53487f0
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e5ecb5db-2e4b-444b-ba0a-cf04f53487f0
      Original-Request:
      - req_TbeJxeBgAI7YOi
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHE10teYi3Z4eN",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703854440,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "503",
          "discount": null,
          "email": "edgare266eded_1010@gumroad.com",
          "invoice_prefix": "EF57712B",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:54:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=599&currency=usd&description=You+bought+http%3A%2F%2Fedgar600441b3367.test.gumroad.com%3A31337%2Fl%2Fg&metadata[purchase]=cw7_aR-Ip37yNBlOI8q2ZQ%3D%3D&transfer_group=421&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PHE10teYi3Z4eN&payment_method=pm_0OSfZc9e1RjUNIyYKoG1ioBM&statement_descriptor_suffix=edgar600441b3367
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3515ad3b-a115-479a-bef0-d1ad2002c372
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3515ad3b-a115-479a-bef0-d1ad2002c372
      Original-Request:
      - req_arr6gILyWdUvyB
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSfZe9e1RjUNIyY0C3C321M",
          "object": "payment_intent",
          "amount": 599,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 599,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSfZe9e1RjUNIyY0C3C321M_secret_4fbFhYfMNqARkdetbivhQ5rjF",
          "confirmation_method": "automatic",
          "created": 1703854442,
          "currency": "usd",
          "customer": "cus_PHE10teYi3Z4eN",
          "description": "You bought http://edgar600441b3367.test.gumroad.com:31337/l/g",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OSfZe9e1RjUNIyY0WZbZVO9",
          "livemode": false,
          "metadata": {
            "purchase": "cw7_aR-Ip37yNBlOI8q2ZQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfZc9e1RjUNIyYKoG1ioBM",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar600441b3367",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "421"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSfZe9e1RjUNIyY0WZbZVO9?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OSfZe9e1RjUNIyY0WZbZVO9",
          "object": "charge",
          "amount": 599,
          "amount_captured": 599,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OSfZe9e1RjUNIyY0XBIVCz7",
            "object": "balance_transaction",
            "amount": 599,
            "available_on": 1704240000,
            "created": 1703854442,
            "currency": "usd",
            "description": "You bought http://edgar600441b3367.test.gumroad.com:31337/l/g",
            "exchange_rate": null,
            "fee": 35,
            "fee_details": [
              {
                "amount": 35,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 564,
            "reporting_category": "charge",
            "source": "ch_2OSfZe9e1RjUNIyY0WZbZVO9",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR600441",
          "captured": true,
          "created": 1703854442,
          "currency": "usd",
          "customer": "cus_PHE10teYi3Z4eN",
          "description": "You bought http://edgar600441b3367.test.gumroad.com:31337/l/g",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "cw7_aR-Ip37yNBlOI8q2ZQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 4,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OSfZe9e1RjUNIyY0C3C321M",
          "payment_method": "pm_0OSfZc9e1RjUNIyYKoG1ioBM",
          "payment_method_details": {
            "card": {
              "amount_authorized": 599,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 599,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo64K7rAYyBsdQEXwGgjosFvDhE3w7FXdeMtfOvn_1a8rZ6kQMY_OB1QRa7MKzGjPL2VItwIuBq6TWOHs",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar600441b3367",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "421"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSfZg9e1RjUNIyYL2segN44&customer=cus_PHE1fY0UTFKswZ&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 21cde6d9-abe0-4e58-a2e1-ff7ac9345c92
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 21cde6d9-abe0-4e58-a2e1-ff7ac9345c92
      Original-Request:
      - req_ITe3dDwPzPcY09
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OSfZh9e1RjUNIyYwtOe4CeH",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OSfZh9e1RjUNIyYwtOe4CeH_secret_PHE14AP9csEpSf279Q5DIqA62Dgaw6A",
          "created": 1703854445,
          "customer": "cus_PHE1fY0UTFKswZ",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0OSfZh9e1RjUNIyYtc5Q33fN",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfZg9e1RjUNIyYL2segN44",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Fri, 01 May 2020 00:00:00 GMT
recorded_with: VCR 6.2.0
