---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123&billing_details[address][postal_code]=12345
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0acf37db-acdf-4a5e-8888-50a81ba0eaf8
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0acf37db-acdf-4a5e-8888-50a81ba0eaf8
      Original-Request:
      - req_jmlffIAHfdA6CE
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6tP39e1RjUNIyYFXjtK6JO",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": "unchecked",
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698664385,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 11:13:05 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6tP39e1RjUNIyYFXjtK6JO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=400&currency=usd&description=You+bought+http%3A%2F%2Fedgard28164a2206.test.gumroad.com%3A31337%2Fl%2Fd&metadata[purchase]=uVInISCQcCNbPCmzYu5PyQ%3D%3D&transfer_group=161&payment_method_types[0]=card&confirmation_method=manual&confirm=true&payment_method=pm_0O6tP39e1RjUNIyYFXjtK6JO&statement_descriptor_suffix=edgard28164a2206
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c88ac4bc-ccc0-423a-b4e9-e65392e64a02
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c88ac4bc-ccc0-423a-b4e9-e65392e64a02
      Original-Request:
      - req_FIAGpWcnz7heZo
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6tP49e1RjUNIyY0opzRqns",
          "object": "payment_intent",
          "amount": 400,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 400,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6tP49e1RjUNIyY0opzRqns_secret_BP6e1vezbrFJU08CyNLqfVFcu",
          "confirmation_method": "manual",
          "created": 1698664386,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgard28164a2206.test.gumroad.com:31337/l/d",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6tP49e1RjUNIyY0k6nwtwd",
          "livemode": false,
          "metadata": {
            "purchase": "uVInISCQcCNbPCmzYu5PyQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6tP39e1RjUNIyYFXjtK6JO",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgard28164a2206",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "161"
        }
  recorded_at: Mon, 30 Oct 2023 11:13:07 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6tP49e1RjUNIyY0k6nwtwd?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6tP49e1RjUNIyY0k6nwtwd",
          "object": "charge",
          "amount": 400,
          "amount_captured": 400,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6tP49e1RjUNIyY0qKkm0Aa",
            "object": "balance_transaction",
            "amount": 400,
            "available_on": 1698796800,
            "created": 1698664386,
            "currency": "usd",
            "description": "You bought http://edgard28164a2206.test.gumroad.com:31337/l/d",
            "exchange_rate": null,
            "fee": 25,
            "fee_details": [
              {
                "amount": 25,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 375,
            "reporting_category": "charge",
            "source": "ch_2O6tP49e1RjUNIyY0k6nwtwd",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARD28164",
          "captured": true,
          "created": 1698664386,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgard28164a2206.test.gumroad.com:31337/l/d",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "uVInISCQcCNbPCmzYu5PyQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 22,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6tP49e1RjUNIyY0opzRqns",
          "payment_method": "pm_0O6tP39e1RjUNIyYFXjtK6JO",
          "payment_method_details": {
            "card": {
              "amount_authorized": 400,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": "pass",
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 400,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUow5_-qQYyBo20arqgGDosFgxH_2M4pr6j4T_gBgu1642UJJjJMtvNN9gYNhwkqHLSQhabRFtZfDs06OA",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgard28164a2206",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "161"
        }
  recorded_at: Mon, 30 Oct 2023 11:13:07 GMT
recorded_with: VCR 6.2.0
