---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=transfers&country=KR&default_currency=krw&metadata[user_id]=2984406012236&metadata[tos_agreement_id]=dXd6tfP3nwvh7DEerI47hg%3D%3D&metadata[user_compliance_info_id]=V4aujMVDNngIPC_6HnBnEQ%3D%3D&tos_acceptance[date]=1744403494&tos_acceptance[ip]=54.234.242.13&tos_acceptance[service_agreement]=recipient&business_type=individual&business_profile[name]=Chuck+Bartowski&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=edgar39fcd8ac_45%40gumroad.com&individual[phone]=0000000000&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=California&individual[address][postal_code]=10169&individual[address][country]=KR&individual[id_number]=000000000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1455a0b4-ea3c-459a-9605-2d3773e6e3f7
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1455a0b4-ea3c-459a-9605-2d3773e6e3f7
      Original-Request:
      - req_mAcK9fikHTOP9v
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1RCoEdS9HmIhTL5g",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "minority_owned_business_designation": null,
            "name": "Chuck Bartowski",
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "transfers": "active"
          },
          "charges_enabled": true,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "KR",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "10169",
              "state": "California"
            },
            "directors_provided": true,
            "directorship_declaration": null,
            "executives_provided": true,
            "name": null,
            "name_kana": null,
            "name_kanji": null,
            "owners_provided": true,
            "ownership_declaration": null,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "vat_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "KR",
          "created": 1744403496,
          "default_currency": "krw",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1RCoEdS9HmIhTL5g/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1RCoEdS9HmIhTL5goltz4rXD",
            "object": "person",
            "account": "acct_1RCoEdS9HmIhTL5g",
            "address": {
              "city": "San Francisco",
              "country": "KR",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "10169",
              "state": "California"
            },
            "created": 1744403495,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "edgar39fcd8ac_45@gumroad.com",
            "first_name": "Chuck",
            "first_name_kana": null,
            "first_name_kanji": null,
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "gender": null,
            "id_number_provided": true,
            "last_name": "Bartowski",
            "last_name_kana": null,
            "last_name_kanji": null,
            "maiden_name": null,
            "metadata": {},
            "nationality": null,
            "phone": "+10000000000",
            "relationship": {
              "authorizer": false,
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [
                "verification.document"
              ],
              "past_due": [],
              "pending_verification": []
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "unverified"
            }
          },
          "metadata": {
            "tos_agreement_id": "dXd6tfP3nwvh7DEerI47hg==",
            "user_compliance_info_id": "V4aujMVDNngIPC_6HnBnEQ==",
            "user_id": "2984406012236"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "external_account"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [],
            "eventually_due": [
              "external_account",
              "individual.verification.document"
            ],
            "past_due": [
              "external_account"
            ],
            "pending_verification": []
          },
          "risk_controls": {
            "charges": {
              "pause_requested": false
            },
            "payouts": {
              "pause_requested": false
            }
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "capital": {},
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "CHUCK BART",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Chuck Bartowski",
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null,
              "hosted_payment_method_save": "always"
            },
            "payments": {
              "statement_descriptor": "CHUCK BARTOWSKI",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 7,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1744403494,
            "ip": "54.234.242.13",
            "service_agreement": "recipient",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Fri, 11 Apr 2025 20:31:37 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1RCoEdS9HmIhTL5g/persons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1RCoEdS9HmIhTL5g
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "person_1RCoEdS9HmIhTL5goltz4rXD",
              "object": "person",
              "account": "acct_1RCoEdS9HmIhTL5g",
              "additional_tos_acceptances": {
                "account": {
                  "date": null,
                  "ip": null,
                  "user_agent": null
                }
              },
              "address": {
                "city": "San Francisco",
                "country": "KR",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "10169",
                "state": "California"
              },
              "created": 1744403495,
              "dob": {
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1RCoEdS9HmIhTL5g/persons/person_1RCoEdS9HmIhTL5goltz4rXD
    body:
      encoding: UTF-8
      string: verification[document][front]=file_identity_document_success
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5eb7b0a7-b3b9-440d-881a-86492f264a5b
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1RCoEdS9HmIhTL5g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1RCoE[...]
