---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0077&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - af0e3b02-6b6a-4dc7-980a-7b3d3150c450
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - af0e3b02-6b6a-4dc7-980a-7b3d3150c450
      Original-Request:
      - req_Da2y4tI9WbHZ5i
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6rkO9e1RjUNIyY8wL0fYpX",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "bZOtlsHP7jNsUpt3",
            "funding": "credit",
            "generated_from": null,
            "last4": "0077",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698658020,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 09:27:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0O6rkO9e1RjUNIyY8wL0fYpX&confirmation_method=manual&payment_method_types[0]=card&confirm=true&amount=52000000&currency=usd
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 86f697dd-5512-42f6-ae1b-d905ac4aa2ca
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 86f697dd-5512-42f6-ae1b-d905ac4aa2ca
      Original-Request:
      - req_64MI9wyBM4uMHK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6rkQ9e1RjUNIyY1nkaZOZF",
          "object": "payment_intent",
          "amount": 52000000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 52000000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6rkQ9e1RjUNIyY1nkaZOZF_secret_Uy6Qlxs1rgDxQIlE6K3zOfmnt",
          "confirmation_method": "manual",
          "created": 1698658022,
          "currency": "usd",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6rkQ9e1RjUNIyY1ivSLoiu",
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6rkO9e1RjUNIyY8wL0fYpX",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 30 Oct 2023 09:27:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6rkQ9e1RjUNIyY1ivSLoiu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6rkQ9e1RjUNIyY1ivSLoiu",
          "object": "charge",
          "amount": 52000000,
          "amount_captured": 52000000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_2O6rkQ9e1RjUNIyY1lCKiOkO",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD.COM/C",
          "captured": true,
          "created": 1698658022,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 18,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6rkQ9e1RjUNIyY1nkaZOZF",
          "payment_method": "pm_0O6rkO9e1RjUNIyY8wL0fYpX",
          "payment_method_details": {
            "card": {
              "amount_authorized": 52000000,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "bZOtlsHP7jNsUpt3",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "0077",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 52000000,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo6O39qQYyBvF-5wpSsDosFnhkCI1i5MyZJxIqJfJkK4kkLeBZQ7sxeKdAJ3RhjLtpSDIUyUHwbudDv9Y",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 30 Oct 2023 09:27:04 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6rkT9e1RjUNIyY0l8p4Oru
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/balance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "balance",
          "available": [
            {
              "amount": -30258,
              "currency": "ils",
              "source_types": {
                "card": -30258
              }
            },
            {
              "amount": -561650,
              "currency": "krw",
              "source_types": {
                "card": -561650
              }
            },
            {
              "amount": -465551,
              "currency": "php",
              "source_types": {
                "card": -465551
              }
            },
            {
              "amount": -32,
              "currency": "eur",
         [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payouts
    body:
      encoding: UTF-8
      string: amount=99959940&currency=usd&description=USD+231030+0927&statement_descriptor=USD+231030+0927
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 93dbe29e-8996-4dee-a9db-7871ad4f3859
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 93dbe29e-8996-4dee-a9db-7871ad4f3859
      Original-Request:
      - req_pBSHv1YuqmjCt2
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "po_0O6rkW9e1RjUNIyY51vqONkF",
          "object": "payout",
          "amount": 99959940,
          "arrival_date": 1698624000,
          "automatic": false,
          "balance_transaction": "txn_0O6rkW9e1RjUNIyYQt6f0rYH",
          "created": 1698658028,
          "currency": "usd",
          "description": "USD 231030 0927",
          "destination": "ba_0Mdwj49e1RjUNIyYjpaiLxGj",
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "original_payout": null,
          "reconciliation_status": "not_applicable",
          "reversed_by": null,
          "source_balance": null,
          "source_type": "card",
          "statement_descriptor": "USD 231030 0927",
          "status": "pending",
          "type": "bank_account"
        }
  recorded_at: Mon, 30 Oct 2023 09:27:09 GMT
[...]
