---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 57ab0207-558c-46e9-9ee9-e7a9652d8303
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 57ab0207-558c-46e9-9ee9-e7a9652d8303
      Original-Request:
      - req_Dx3Pbx3L86A7le
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfKP9e1RjUNIyYqNwV2X4A",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703853497,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:38:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfKP9e1RjUNIyYqNwV2X4A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar14d7bc1116.test.gumroad.com%3A31337%2Fl%2Fn&metadata[purchase]=cz-riRN1s5OXKV0XwkPSvA%3D%3D&transfer_group=38&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0OSfKP9e1RjUNIyYqNwV2X4A&statement_descriptor_suffix=edgar14d7bc1116
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 671dd813-542e-4db1-a358-87c6b1d799fa
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 671dd813-542e-4db1-a358-87c6b1d799fa
      Original-Request:
      - req_yx9odeeQxGQWj5
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSfKQ9e1RjUNIyY0oGipKgY",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSfKQ9e1RjUNIyY0oGipKgY_secret_qgh4doAigw7CStAJUZA0wJXnq",
          "confirmation_method": "automatic",
          "created": 1703853498,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar14d7bc1116.test.gumroad.com:31337/l/n",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OSfKQ9e1RjUNIyY0krXfBb7",
          "livemode": false,
          "metadata": {
            "purchase": "cz-riRN1s5OXKV0XwkPSvA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfKP9e1RjUNIyYqNwV2X4A",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar14d7bc1116",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "38"
        }
  recorded_at: Fri, 29 Dec 2023 12:38:19 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSfKQ9e1RjUNIyY0krXfBb7?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OSfKQ9e1RjUNIyY0krXfBb7",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OSfKQ9e1RjUNIyY0pWQeyIt",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1704240000,
            "created": 1703853498,
            "currency": "usd",
            "description": "You bought http://edgar14d7bc1116.test.gumroad.com:31337/l/n",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2OSfKQ9e1RjUNIyY0krXfBb7",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR14D7BC",
          "captured": true,
          "created": 1703853498,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar14d7bc1116.test.gumroad.com:31337/l/n",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "cz-riRN1s5OXKV0XwkPSvA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 22,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OSfKQ9e1RjUNIyY0oGipKgY",
          "payment_method": "pm_0OSfKP9e1RjUNIyYqNwV2X4A",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUovPu6rAYyBtb_ar51vDosFsAI_WQ6ilskeHHe5W3XaMh2LOt-9efkJykBld89NqWRbxcyGoHOAkFCvJ8",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar14d7bc1116",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "38"
        }
  recorded_at: Fri, 29 Dec 2023 12:38:20 GMT
recorded_with: VCR 6.2.0
