---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5a2908c4-060c-442f-845f-49e95f128b2c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5a2908c4-060c-442f-845f-49e95f128b2c
      Original-Request:
      - req_frBcafrFMN228T
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6y8x9e1RjUNIyYVJMqpsoF",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698682607,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 16:16:47 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6y8x9e1RjUNIyYVJMqpsoF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=1&email=edgar7c6dedd2_1%40gumroad.com&payment_method=pm_0O6y8x9e1RjUNIyYVJMqpsoF
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 79a60806-f174-4a8e-a7ea-135057da0dbd
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 79a60806-f174-4a8e-a7ea-135057da0dbd
      Original-Request:
      - req_Jee0KXVvKDt4R3
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OunkNgOV1YCU0g",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698682608,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "1",
          "discount": null,
          "email": "edgar7c6dedd2_1@gumroad.com",
          "invoice_prefix": "1877B6B4",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 16:16:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=599&currency=usd&description=You+bought+http%3A%2F%2Fedgar5f2eccdb2.test.gumroad.com%3A31337%2Fl%2Fo&metadata[purchase]=G_-mnBf9b1j9A7a4ub4nFQ%3D%3D&transfer_group=1&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OunkNgOV1YCU0g&payment_method=pm_0O6y8x9e1RjUNIyYVJMqpsoF&statement_descriptor_suffix=edgar5f2eccdb2
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fbaa0e0e-2a8f-408f-93a9-55504e1698c6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fbaa0e0e-2a8f-408f-93a9-55504e1698c6
      Original-Request:
      - req_0Bn2tqpmZKjSm9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6y919e1RjUNIyY1J8AOc7y",
          "object": "payment_intent",
          "amount": 599,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 599,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6y919e1RjUNIyY1J8AOc7y_secret_7YyJdXGmwi0eX1UfyZ0RZa89t",
          "confirmation_method": "manual",
          "created": 1698682611,
          "currency": "usd",
          "customer": "cus_OunkNgOV1YCU0g",
          "description": "You bought http://edgar5f2eccdb2.test.gumroad.com:31337/l/o",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6y919e1RjUNIyY121vMjoA",
          "livemode": false,
          "metadata": {
            "purchase": "G_-mnBf9b1j9A7a4ub4nFQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6y8x9e1RjUNIyYVJMqpsoF",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar5f2eccdb2",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6y919e1RjUNIyY121vMjoA?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6y919e1RjUNIyY121vMjoA",
          "object": "charge",
          "amount": 599,
          "amount_captured": 599,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6y919e1RjUNIyY14M7uI4G",
            "object": "balance_transaction",
            "amount": 599,
            "available_on": 1698796800,
            "created": 1698682611,
            "currency": "usd",
            "description": "You bought http://edgar5f2eccdb2.test.gumroad.com:31337/l/o",
            "exchange_rate": null,
            "fee": 35,
            "fee_details": [
              {
                "amount": 35,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 564,
            "reporting_category": "charge",
            "source": "ch_2O6y919e1RjUNIyY121vMjoA",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR5F2ECC",
          "captured": true,
          "created": 1698682611,
          "currency": "usd",
          "customer": "cus_OunkNgOV1YCU0g",
          "description": "You bought http://edgar5f2eccdb2.test.gumroad.com:31337/l/o",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "G_-mnBf9b1j9A7a4ub4nFQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 32,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6y919e1RjUNIyY1J8AOc7y",
          "payment_method": "pm_0O6y8x9e1RjUNIyYVJMqpsoF",
          "payment_method_details": {
            "card": {
              "amount_authorized": 599,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 599,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo9a3_qQYyBoD5-9cP0DosFpgo4Zf-pX1pAem47E5fmsQgVRS5qGx--F7Qe8qDNuJPVfweZHKXpDKUeso",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar5f2eccdb2",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
recorded_with: VCR 6.2.0
