---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c199d76e-7ade-496f-9a53-161fe8428e9b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c199d76e-7ade-496f-9a53-161fe8428e9b
      Original-Request:
      - req_eoI63MeljVvLzF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6sAI9e1RjUNIyYNHARwHwk",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698659626,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 09:53:46 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6sAI9e1RjUNIyYNHARwHwk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgara74df54646.test.gumroad.com%3A31337%2Fl%2Fn&metadata[purchase]=2EgRW6pQmWEHh7HCQgAbGQ%3D%3D&transfer_group=65&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0O6sAI9e1RjUNIyYNHARwHwk&statement_descriptor_suffix=edgara74df54646
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2514e565-0b88-4a08-927a-c7be6b4d172d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2514e565-0b88-4a08-927a-c7be6b4d172d
      Original-Request:
      - req_1Msm4EiOzz9o6K
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6sAJ9e1RjUNIyY1It1mtuf",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6sAJ9e1RjUNIyY1It1mtuf_secret_NjArefvPg1qs31DWyuSxnnvxk",
          "confirmation_method": "manual",
          "created": 1698659627,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgara74df54646.test.gumroad.com:31337/l/n",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6sAJ9e1RjUNIyY1AqlP5fH",
          "livemode": false,
          "metadata": {
            "purchase": "2EgRW6pQmWEHh7HCQgAbGQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6sAI9e1RjUNIyYNHARwHwk",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgara74df54646",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "65"
        }
  recorded_at: Mon, 30 Oct 2023 09:53:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6sAJ9e1RjUNIyY1AqlP5fH?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6sAJ9e1RjUNIyY1AqlP5fH",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6sAJ9e1RjUNIyY137l6o63",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1698796800,
            "created": 1698659627,
            "currency": "usd",
            "description": "You bought http://edgara74df54646.test.gumroad.com:31337/l/n",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2O6sAJ9e1RjUNIyY1AqlP5fH",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARA74DF5",
          "captured": true,
          "created": 1698659627,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgara74df54646.test.gumroad.com:31337/l/n",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "2EgRW6pQmWEHh7HCQgAbGQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 57,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6sAJ9e1RjUNIyY1It1mtuf",
          "payment_method": "pm_0O6sAI9e1RjUNIyYNHARwHwk",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUorfr9qQYyBo5CH_XxQDosFixjk_z6G4UaUPRUE1NTeluwiyDUP_eltMkN_dt9fqMLKc4_-IwFWpf5oA0",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgara74df54646",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "65"
        }
  recorded_at: Mon, 30 Oct 2023 09:53:49 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6sAL9e1RjUNIyYgBKMsM8U
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6sAM9e1RjUNIyY0cOLuOqo?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic QWFEdkxJeUYwVFRlVUJqUEIwM3BBVkdjRFM1S0JNenFkcktyNU9VRXN2TWdBNnM5czNTNHdaY1U0cm1VUDI0WjczeEk2eHRlY2I2MjVibDY6RVBMQ2dJOE9CY2g2RzUyeHRTeHNBSVVDbGdobVJqZ3o2T2FvNndmT1RXMGtZN3F1UXFCa1ZsT3c0RFdqU2NlWnNQQ0x4OWczSEEyOFhUbzU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Datadome:
      - protected
      Accept-Ch:
      - Sec-CH-UA,Sec-CH-UA-Mobile,Sec-CH-UA-Platform,Sec-CH-UA-Arch,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Model,Sec-CH-Device-Memory
      Paypal-Debug-Id:
      - a1a1286cf5708
      X-Paypal-Token-Service:
      - IAAS
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/customer/partner-referrals/readwrite
        https://uri.paypal.com/services/payments/partnerfee https://uri.paypal.com/services/invoicing
        https://uri.paypal.com/services/payments/realtimepayment https://uri.paypal.com/services/customer/onboarding/user
        https://api.paypal.com/v1/vault/credit-card https://api.paypal.com/v1/payments/.*
        https://uri.paypal.com/services/payments/referenced-payouts-items/readwrite
        https://uri.paypal.com/services/reporting/search/read https://uri.paypal.com/services/customer/partner
        https://uri.paypal.com/services/customer/merchant-integrations/read https://uri.paypal.com/services/applications/webhooks
        https://uri.paypal.com/services/disputes/update-seller https://uri.paypal.com/services/payments/payment/authcapture
        openid https://uri.paypal.com/services/disputes/read-seller https://uri.paypal.com/services/payments/refund
        https://uri.paypal.com/services/risk/raas/transaction-context https://uri.paypal.com/services/customer/consumer-referrals/create
        https://uri.paypal.com/services/partners/merchant-accounts/readwrite https://uri.paypal.com/services/identity/grantdelegation
        https://uri.paypal.com/services/customer/onboarding/account https://uri.paypal.com/payments/payouts
        https://uri.paypal.com/services/customer/onboarding/sessions https://api.paypal.com/v1/vault/credit-card/.*
        https://uri.paypal.com/services/subscriptions","access_token":"A21AALR1uemlFDirrKiVW8pyaDLJa2_uLsB4WMRnMRP5NIKBR6bew8VYbvtfqxeaYOzW2R-gIxgSHos8L-_FGCPaBBXX9PUuQ","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":32368,"nonce":"2023-10-30T09:53:21Z4VAHsFZHkGtgnuZvmYb4CBAdY7ZtYhwIvS2VkJa8nK8"}'
  recorded_at: Mon, 30 Oct 2023 09:53:53 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/checkout/orders
    body:
      encoding: UTF-8
      string: '{"intent":"CAPTURE","purchase_units":[{"amount":{"currency_code":"gbp","value":"0.8","breakdown":{"shipping":{"currency_code":"GBP","value":"0.0"},"tax_total":{"currency_code":"GBP","value":"0.14"},"item_total":{"currency_code":"GBP","value":"0.66"}}},"payee":{"merchant_id":"CJS32DZ7NDN5L"},"items":[{"name":"The
        Works of Edgar Gumstein","unit_amount":{"currency_code":"GBP","value":"0.66"},"quantity":1,"sku":"n"}],"soft_descriptor":"edgara74df54646","payment_instruction":{"platform_fees":[{"amount":{"currency_code":"GBP","value":"0.18"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>"}}]},"invoice_id":"WO7qvhIJL7ICDwmZPbgUzA=="}],"application_context":{"brand_name":"Gumroad","shipping_preference":"NO_SHIPPING"}}'
    headers:
      Authorization:
      - Bearer A21AALR1uemlFDirrKiVW8pyaDLJa2_uLsB4WMRnMRP5NIKBR6bew8VYbvtfqxeaYOzW2R-gIxgSHos8L-_FGCPaBBXX9PUuQ
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
      Paypal-Request-Id:
      - '1698659633650351'
      Prefer:
      - return=representation
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.4
      Sdk-Tech-Stack:
      - Ruby3.2.2
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Datadome:
      - protected
      Accept-Ch:
      - Sec-CH-UA,Sec-CH-UA-Mobile,Sec-CH-UA-Platform,Sec-CH-UA-Arch,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Model,Sec-CH-Device-Memory
      Application-Id:
      - APP-80W284485P519543T
      Caller-Acct-Num:
      - <PAYPAL_PARTNER_MERCHANT_ID>
      Paypal-Debug-Id:
      - '095d3d07ce31d'
    body:
      encoding: UTF-8
      string: '{"id":"1GM8547135097222B","intent":"CAPTURE","status":"CREATED","purchase_units":[{"reference_id":"default","amount":{"currency_code":"GBP","value":"0.80","breakdown":{"item_total":{"currency_code":"GBP","value":"0.66"},"shipping":{"currency_code":"GBP","value":"0.00"},"tax_total":{"currency_code":"GBP","value":"0.14"}}},"payee":{"merchant_id":"CJS32DZ7NDN5L"},"payment_instruction":{"platform_fees":[{"amount":{"currency_code":"GBP","value":"0.18"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>"}}]},"invoice_id":"WO7qvhIJL7ICDwmZPbgUzA==","soft_descriptor":"edgara74df54646","items":[{"name":"The
        Works of Edgar Gumstein","unit_amount":{"currency_code":"GBP","value":"0.66"},"quantity":"1","sku":"n"}]}],"create_time":"2023-10-30T09:53:54Z","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/1GM8547135097222B","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/checkoutnow?token=1GM8547135097222B","rel":"approve","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/1GM8547135097222B","rel":"update","method":"PATCH"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/1GM8547135097222B/capture","rel":"capture","method":"POST"}]}'
  recorded_at: Mon, 30 Oct 2023 09:53:55 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/1GM8547135097222B/capture
    body:
      encoding: UTF-8
      string: '{"payment_source":{"token":{"id":"B-8AM85704X2276171X","type":"BILLING_AGREEMENT"}}}'
    headers:
      Authorization:
      - Bearer A21AALR1uemlFDirrKiVW8pyaDLJa2_uLsB4WMRnMRP5NIKBR6bew8VYbvtfqxeaYOzW2R-gIxgSHos8L-_FGCPaBBXX9PUuQ
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
      Paypal-Request-Id:
      - capture-1GM8547135097222B
      Prefer:
      - return=representation
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.4
      Sdk-Tech-Stack:
      - Ruby3.2.2
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Datadome:
      - protected
      Accept-Ch:
      - Sec-CH-UA,Sec-CH-UA-Mobile,Sec-CH-UA-Platform,Sec-CH-UA-Arch,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Model,Sec-CH-Device-Memory
      Application-Id:
      - APP-80W284485P519543T
      Caller-Acct-Num:
      - <PAYPAL_PARTNER_MERCHANT_ID>
      Paypal-Debug-Id:
      - ecc2f6bc2079e
    body:
      encoding: UTF-8
      string: '{"id":"1GM8547135097222B","intent":"CAPTURE","status":"COMPLETED","payment_source":{"paypal":{"email_address":"paypal-gr-integspecs@gumroad.com","account_id":"92SVVJSWYT72E","account_status":"VERIFIED","name":{"given_name":"Gumbot","surname":"Gumstein"},"address":{"address_line_1":"1
        Main St","admin_area_2":"San Jose","admin_area_1":"CA","postal_code":"95131","country_code":"US"}}},"purchase_units":[{"reference_id":"default","amount":{"currency_code":"GBP","value":"0.80","breakdown":{"item_total":{"currency_code":"GBP","value":"0.66"},"shipping":{"currency_code":"GBP","value":"0.00"},"handling":{"currency_code":"GBP","value":"0.00"},"tax_total":{"currency_code":"GBP","value":"0.14"},"insurance":{"currency_code":"GBP","value":"0.00"},"shipping_discount":{"currency_code":"GBP","value":"0.00"}}},"payee":{"email_address":"sb-cuv033075110@personal.example.com","merchant_id":"CJS32DZ7NDN5L"},"payment_instruction":{"platform_fees":[{"amount":{"currency_code":"GBP","value":"0.18"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>","merchant_id":"<PAYPAL_PARTNER_MERCHANT_ID>"}}]},"description":"The
        Works of Edgar Gumstein","invoice_id":"WO7qvhIJL7ICDwmZPbgUzA==","items":[{"name":"The
        Works of Edgar Gumstein","unit_amount":{"currency_code":"GBP","value":"0.66"},"tax":{"currency_code":"GBP","value":"0.00"},"quantity":"1","sku":"n"}],"shipping":{"name":{"full_name":"Gumbot
        Gumstein"}},"payments":{"captures":[{"id":"56K80027YS190881E","status":"COMPLETED","amount":{"currency_code":"GBP","value":"0.80"},"final_capture":true,"disbursement_mode":"INSTANT","seller_protection":{"status":"ELIGIBLE","dispute_categories":["ITEM_NOT_RECEIVED","UNAUTHORIZED_TRANSACTION"]},"seller_receivable_breakdown":{"gross_amount":{"currency_code":"GBP","value":"0.80"},"paypal_fee":{"currency_code":"GBP","value":"0.23"},"platform_fees":[{"amount":{"currency_code":"GBP","value":"0.18"},"payee":{"merchant_id":"<PAYPAL_PARTNER_MERCHANT_ID>"}}],"net_amount":{"currency_code":"GBP","value":"0.39"}},"invoice_id":"WO7qvhIJL7ICDwmZPbgUzA==","links":[{"href":"https://api.sandbox.paypal.com/v2/payments/captures/56K80027YS190881E","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/payments/captures/56K80027YS190881E/refund","rel":"refund","method":"POST"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/1GM8547135097222B","rel":"up","method":"GET"}],"create_time":"2023-10-30T09:53:57Z","update_time":"2023-10-30T09:53:57Z"}]}}],"payer":{"name":{"given_name":"Gumbot","surname":"Gumstein"},"email_address":"paypal-gr-integspecs@gumroad.com","payer_id":"92SVVJSWYT72E","address":{"address_line_1":"1
        Main St","admin_area_2":"San Jose","admin_area_1":"CA","postal_code":"95131","country_code":"US"}},"create_time":"2023-10-30T09:53:54Z","update_time":"2023-10-30T09:53:57Z","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/1GM8547135097222B","rel":"self","method":"GET"}]}'
  recorded_at: Mon, 30 Oct 2023 09:53:58 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/payments/captures/56K80027YS190881E/refund
    body:
      encoding: UTF-8
      string: '{"amount":{"currency_code":"GBP","value":"0.4"}}'
    headers:
      Authorization:
      - Bearer A21AALR1uemlFDirrKiVW8pyaDLJa2_uLsB4WMRnMRP5NIKBR6bew8VYbvtfqxeaYOzW2R-gIxgSHos8L-_FGCPaBBXX9PUuQ
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
      Paypal-Request-Id:
      - refund-56K80027YS190881E-0.4-1698659638319047
      Prefer:
      - return=representation
      Paypal-Auth-Assertion:
      - eyJhbGciOiJub25lIn0=.eyJwYXllcl9pZCI6IkNKUzMyRFo3TkRONUwiLCJpc3MiOiJBYUR2TEl5RjBUVGVVQmpQQjAzcEFWR2NEUzVLQk16cWRyS3I1T1VFc3ZNZ0E2czlzM1M0d1pjVTRybVVQMjRaNzN4STZ4dGVjYjYyNWJsNiJ9.
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.4
      Sdk-Tech-Stack:
      - Ruby3.2.2
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Datadome:
      - protected
      Accept-Ch:
      - Sec-CH-UA,Sec-CH-UA-Mobile,Sec-CH-UA-Platform,Sec-CH-UA-Arch,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Model,Sec-CH-Device-Memory
      Application-Id:
      - APP-80W284485P519543T
      Caller-Acct-Num:
      - <PAYPAL_PARTNER_MERCHANT_ID>
      Paypal-Debug-Id:
      - 68a424181c996
    body:
      encoding: UTF-8
      string: '{"id":"1RA45551DH598740F","amount":{"currency_code":"GBP","value":"0.40"},"seller_payable_breakdown":{"gross_amount":{"currency_code":"GBP","value":"0.40"},"paypal_fee":{"currency_code":"GBP","value":"0.01"},"platform_fees":[{"amount":{"currency_code":"GBP","value":"0.09"}}],"net_amount":{"currency_code":"GBP","value":"0.30"},"total_refunded_amount":{"currency_code":"GBP","value":"0.40"}},"invoice_id":"WO7qvhIJL7ICDwmZPbgUzA==","status":"COMPLETED","create_time":"2023-10-30T02:54:00-07:00","update_time":"2023-10-30T02:54:00-07:00","links":[{"href":"https://api.sandbox.paypal.com/v2/payments/refunds/1RA45551DH598740F","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/payments/captures/56K80027YS190881E","rel":"up","method":"GET"}]}'
  recorded_at: Mon, 30 Oct 2023 09:54:01 GMT
[...]
