---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0002&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c6f9f4c4-90bb-4ebc-96df-a95c893b2ea0
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c6f9f4c4-90bb-4ebc-96df-a95c893b2ea0
      Original-Request:
      - req_w90QLwwbQ1f5kA
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfXw9e1RjUNIyY7pQ36mby",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "oiLxi0ZM3Ud9pQDh",
            "funding": "credit",
            "generated_from": null,
            "last4": "0002",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703854336,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:52:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfXw9e1RjUNIyY7pQ36mby
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500&currency=usd&description=You+bought+http%3A%2F%2Fedgarf5405bbd329.test.gumroad.com%3A31337%2Fl%2Fe&metadata[purchase]=F7XIPap1xzoSt0PxGxNTrQ%3D%3D&transfer_group=392&payment_method_types[0]=card&payment_method=pm_0OSfXw9e1RjUNIyY7pQ36mby&statement_descriptor_suffix=edgarf5405bbd329
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3b0d5178-f06d-4f87-a5af-2ce98915dfcd
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3b0d5178-f06d-4f87-a5af-2ce98915dfcd
      Original-Request:
      - req_qSVpN7YoC4TXfP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSfXx9e1RjUNIyY1eJ7Gp5b",
          "object": "payment_intent",
          "amount": 500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSfXx9e1RjUNIyY1eJ7Gp5b_secret_l7Nf9vn2tMI1i5SPJxltjjQ06",
          "confirmation_method": "automatic",
          "created": 1703854337,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarf5405bbd329.test.gumroad.com:31337/l/e",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchase": "F7XIPap1xzoSt0PxGxNTrQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfXw9e1RjUNIyY7pQ36mby",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarf5405bbd329",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "392"
        }
  recorded_at: Fri, 29 Dec 2023 12:52:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSfXx9e1RjUNIyY1eJ7Gp5b/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 859fd184-075c-4936-a590-5b6e12ada467
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 859fd184-075c-4936-a590-5b6e12ada467
      Original-Request:
      - req_3Ieo5fRibDiNGJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_2OSfXx9e1RjUNIyY1s4giDN9",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "payment_intent": {
              "id": "pi_2OSfXx9e1RjUNIyY1eJ7Gp5b",
              "object": "payment_intent",
              "amount": 500,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=You+bought+http%3A%2F%2Fedgar7d0a627d330.test.gumroad.com%3A31337%2Fl%2Fo&metadata[purchase]=fMpQqYDnz2wxQz9tqQtEIw%3D%3D&transfer_group=393&payment_method_types[0]=card&payment_method=pm_0OSfXw9e1RjUNIyY7pQ36mby&statement_descriptor_suffix=edgar7d0a627d330
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0b28d868-ffe2-4d97-ba5b-802a1cf84e5c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0b28d868-ffe2-4d97-ba5b-802a1cf84e5c
      Original-Request:
      - req_VjI8o5H809mivZ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "The provided PaymentMethod was previously used with a PaymentIntent without Customer attachment, shared with a connected account without Customer attachment, or was detached from a Customer. It may not be used again. To use a PaymentMethod multiple times, you must attach it to a Customer first.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_VjI8o5H809mivZ?t=1703854340",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Fri, 29 Dec 2023 12:52:20 GMT
recorded_with: VCR 6.2.0
