---
http_interactions:
- request:
    method: get
    uri: https://api.appstoreconnect.apple.com/v1/apps/916819108/inAppPurchasesV2?filter%5BproductId%5D=testConsumable
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJraWQiOiJVNUZTS0hOM1VRIiwiYWxnIjoiRVMyNTYifQ.eyJleHAiOjE3MjAwMjQ4NzgsImlzcyI6IjY5YTZkZTc5LTEzNTYtNDdlMy1lMDUzLTViOGM3YzExYTRkMSIsImF1ZCI6ImFwcHN0b3JlY29ubmVjdC12MSIsImJpZCI6ImNvbS5HUkQuR3Vtcm9hZCJ9.oWCM1yYcSwi_-DyAcdtwpo1x_aiaTOEVePU7ZJkJ__ufHx78WPKT8vjO4vgv1f8jOBNVGhzqzFUyDqmT1iATSg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      B3:
      - 3dfd0f3195c932b91aa7be0081da8a40-6fadf6f94c53d804
      X-Responding-Instance:
      - 'ac-api-iaps:ac-api-iaps-main-7959f55959-lfgc2:ac-api-iaps-main-7959f55959-lfgc2:-1::::'
      Apple-Timing-App:
      - 62 ms
      X-Rate-Limit:
      - user-hour-lim:3600;user-hour-rem:3595;
      - user-minute-lim:150;user-minute-rem:147;
      X-Apple-Jingle-Correlation-Key:
      - HX6Q6MMVZEZLSGVHXYAIDWUKIA
      X-Daiquiri-Instance:
      - daiquiri:38493001:pv50p00it-hyhk12043901:7987:24RELEASE127:daiquiri-amp-all-shared-ext-001-pv
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [ {
            "type" : "inAppPurchases",
            "id" : "6478884115",
            "attributes" : {
              "name" : "Test Consumable",
              "productId" : "testConsumable",
              "inAppPurchaseType" : "CONSUMABLE",
              "state" : "READY_TO_SUBMIT",
              "reviewNote" : "test consumable",
              "familySharable" : false,
              "contentHosting" : null
            },
            "relationships" : {
              "inAppPurchaseLocalizations" : {
                "links" : {
                  "self" : "https://api.appstoreconnect.apple.com/v2/inAppPurchases/6478884115/relationships/inAppPurchaseLocalizations",
                  "related" : "https://api.appstoreconnect.apple.com/v2/inAppPurchases/6478884115/inAppPurchaseLocalizations"
                }
              },
              "pricePoints" : {
                "links" : {
                  "self" : "https://api.appstoreconnect.apple.com/v2/inAppPurchases/6478884115/relationships/pricePoints",
                  "related" : "https://api.appstoreconnect.apple.com/v2/inAppPurchases/6478884115/pricePoints"
                }
              },
              "content" : {
                "links" : {
                  "self" : "https://api.appstoreconnect.apple.com/v2/inAppPurchases/6478884115/relationships/content",
                  "related" : "https://api.appstoreconnect.apple.com/v2/inAppPurchases/6478884115/content"
                }
              },
              "appStoreReviewScreenshot" : {
                "links" : {
                  "self" : "https://api.appstoreconnect.apple.com/v2/inAppPurchases/6478884115/relationships/appStoreReviewScreenshot",
                  "related" : "https://api.appstoreconnect.apple.com/v2/inAppPurchases/6478884115/appStoreReviewScreenshot"
                }
              },
              "promotedPurchase" : {
                "links" : {
                  "self" : "https://api.appstoreconnect.apple.com/v2/inAppPurchases/6478884115/relationships/promotedPurchase",
                  "related" : "https://api.appstoreconnect.apple.com/v2/inAppPurchases/6478884115/promotedPurchase"
                }
              },
              "iapPriceSchedule" : {
                "links" : {
                  "self" : "https://api.appstoreconnect.apple.com/v2/inAppPurchases/6478884115/relationships/iapPriceSchedule",
                  "related" : "https://api.appstoreconnect.apple.com/v2/inAppPurchases/6478884115/iapPriceSchedule"
                }
              },
              "inAppPurchaseAvailability" : {
                "links" : {
                  "self" : "https://api.appstoreconnect.apple.com/v2/inAppPurchases/6478884115/relationships/inAppPurchaseAvailability",
                  "related" : "https://api.appstoreconnect.apple.com/v2/inAppPurchases/6478884115/inAppPurchaseAvailability"
                }
              }
            },
            "links" : {
              "self" : "https://api.appstoreconnect.apple.com/v2/inAppPurchases/6478884115"
            }
          } ],
          "links" : {
            "self" : "https://api.appstoreconnect.apple.com/v1/apps/916819108/inAppPurchasesV2?filter%5BproductId%5D=testConsumable"
          },
          "meta" : {
            "paging" : {
              "total" : 1,
              "limit" : 50
            }
          }
        }
  recorded_at: Wed, 03 Jul 2024 16:21:19 GMT
- request:
    method: get
    uri: https://api.appstoreconnect.apple.com/v1/inAppPurchasePriceSchedules/6478884115/automaticPrices?fields%5BinAppPurchasePricePoints%5D=customerPrice,proceeds&include=inAppPurchasePricePoint,territory&limit=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJraWQiOiJVNUZTS0hOM1VRIiwiYWxnIjoiRVMyNTYifQ.eyJleHAiOjE3MjAwMjQ4NzksImlzcyI6IjY5YTZkZTc5LTEzNTYtNDdlMy1lMDUzLTViOGM3YzExYTRkMSIsImF1ZCI6ImFwcHN0b3JlY29ubmVjdC12MSIsImJpZCI6ImNvbS5HUkQuR3Vtcm9hZCJ9.tEC6jxVwGb2Midap2GuDaa8XVM3iJqja_x1Zg9LiEvCOMKEH_piulLBsJp5d0pMDl2zQ44GCprLIkuKY5i2xwg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      B3:
      - 19d7afa7cd79607298dc5a6a1ba45eab-f46832d754b763bd
      X-Responding-Instance:
      - 'ac-gateway-api:ac-gateway-api-main-558dc8f88f-j8qt8:ac-gateway-api-main-558dc8f88f-j8qt8:-1::::'
      Apple-Timing-App:
      - 654 ms
      X-Unicorn-Originated:
      - 'true'
      X-Apple-Jingle-Correlation-Key:
      - DHL27J6NPFQHFGG4LJVBXJC6VM
      X-Daiquiri-Instance:
      - daiquiri:38493001:pv50p00it-hyhk12043901:7987:24RELEASE127:daiquiri-amp-all-shared-ext-001-pv
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [ {
            "type" : "inAppPurchasePrices",
            "id" : "eyJzIjoiNjQ3ODg4NDExNSIsInQiOiJBRkciLCJwIjoiMTAwMTAiLCJzZCI6MC4wLCJlZCI6MC4wfQ",
            "attributes" : {
              "startDate" : null,
              "endDate" : null,
              "manual" : false
            },
            "relationships" : {
              "inAppPurchasePricePoint" : {
                "data" : {
                  "type" : "inAppPurchasePricePoints",
                  "id" : "eyJzIjoiNjQ3ODg4NDExNSIsInQiOiJBRkciLCJwIjoiMTAwMTAifQ"
                }
              },
              "territory" : {
                "data" : {
                  "type" : "territories",
                  "id" : "AFG"
                }
              }
            },
            "links" : {
              "self" : "https://api.appstoreconnect.apple.com/v1/inAppPurchasePrices/eyJzIjoiNjQ3ODg4NDExNSIsInQiOiJBRkciLCJwIjoiMTAwMTAiLCJzZCI6MC4wLCJlZCI6MC4wfQ"
            }
          }, {
            "type" : "inAppPurchasePrices",
            "id" : "eyJzIjoiNjQ3ODg4NDExNSIsInQiOiJBR08iLCJwIjoiMTAwMTAiLCJzZCI6MC4wLC[...]
- request:
    method: get
    uri: https://api.appstoreconnect.apple.com/v1/inAppPurchasePriceSchedules/6478884115/manualPrices?fields%5BinAppPurchasePricePoints%5D=customerPrice,proceeds&include=inAppPurchasePricePoint,territory&limit=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJraWQiOiJVNUZTS0hOM1VRIiwiYWxnIjoiRVMyNTYifQ.eyJleHAiOjE3MjAwMjQ4ODAsImlzcyI6IjY5YTZkZTc5LTEzNTYtNDdlMy1lMDUzLTViOGM3YzExYTRkMSIsImF1ZCI6ImFwcHN0b3JlY29ubmV[...]
