---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000003560000008&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 19cf6a87-4cfb-4d32-9760-7308f89f3110
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 19cf6a87-4cfb-4d32-9760-7308f89f3110
      Original-Request:
      - req_VC5iCseUoupY3D
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0ORHUX9e1RjUNIyYbwt6XtB1",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "IN",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "jUn3JIJlGBkf62V4",
            "funding": "credit",
            "generated_from": null,
            "last4": "0008",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703523541,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 25 Dec 2023 16:59:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_0ORHUX9e1RjUNIyYbwt6XtB1
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7145f41c-0536-4e81-9c93-e6b2edb8dd18
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7145f41c-0536-4e81-9c93-e6b2edb8dd18
      Original-Request:
      - req_VlALdrZKw1k7YI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PFn4l5Lar5H49W",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703523542,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "B59DE1F5",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 25 Dec 2023 16:59:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0ORHUX9e1RjUNIyYbwt6XtB1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method_types[0]=card&usage=off_session&customer=cus_PFn4l5Lar5H49W&payment_method=pm_0ORHUX9e1RjUNIyYbwt6XtB1&payment_method_options[card][mandate_options][reference]=Mandate-UniqueMandateID&payment_method_options[card][mandate_options][amount_type]=maximum&payment_method_options[card][mandate_options][amount]=1000&payment_method_options[card][mandate_options][currency]=usd&payment_method_options[card][mandate_options][start_date]=1703442600&payment_method_options[card][mandate_options][interval]=sporadic&payment_method_options[card][mandate_options][supported_types][0]=india&payment_method_options[card][request_three_d_secure]=any
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 282fd627-3aec-44f2-903b-0a3ce03e4531
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 282fd627-3aec-44f2-903b-0a3ce03e4531
      Original-Request:
      - req_63NmSfBahQasdG
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0ORHUa9e1RjUNIyYHAWa5dWa",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0ORHUa9e1RjUNIyYHAWa5dWa_secret_PFn43v4lK6xJVzqW1Ob51ULvnl3q5aC",
          "created": 1703523544,
          "customer": "cus_PFn4l5Lar5H49W",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": null,
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0ORHUX9e1RjUNIyYbwt6XtB1",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": {
                "amount": 1000,
                "amount_type": "maximum",
                "currency": "usd",
                "description": null,
                "end_date": null,
                "interval": "sporadic",
                "interval_count": null,
                "reference": "Mandate-UniqueMandateID",
                "start_date": 1703442600,
                "supported_types": [
                  "india"
                ]
              },
              "network": null,
              "request_three_d_secure": "any"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "requires_confirmation",
          "usage": "off_session"
        }
  recorded_at: Mon, 25 Dec 2023 16:59:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents/seti_0ORHUa9e1RjUNIyYHAWa5dWa/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f6e862dd-e590-4046-bada-2bb01b63da85
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f6e862dd-e590-4046-bada-2bb01b63da85
      Original-Request:
      - req_NtLUaKe5bQuNef
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0ORHUa9e1RjUNIyYHAWa5dWa",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0ORHUa9e1RjUNIyYHAWa5dWa_secret_PFn43v4lK6xJVzqW1Ob51ULvnl3q5aC",
          "created": 1703523544,
          "customer": "cus_PFn4l5Lar5H49W",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0ORHUb9e1RjUNIyYt1gZkXCo",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": {
            "type": "use_stripe_sdk",
            "use_stripe_sdk": {
              "source": "src_0ORHUb9e1RjUNIyYLQZYYbCx",
              "stripe_js": "https://hooks.stripe.com/redirect/authenticate/src_0ORHUb9e1RjUNIyYLQZYYbCx?client_secret=src_client_secret_yLpdvNTM9wl4pvLov1a1B1SB&source_redirect_slug=test_OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUsX1BGbjRCZTJtRWtkZHdneUhyUnhoTlNlV01vVUdSVkU0100Y712m8sZ",
              "type": "three_d_secure_redirect"
            }
          },
          "on_behalf_of": null,
          "payment_method": "pm_0ORHUX9e1RjUNIyYbwt6XtB1",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": {
                "amount": 1000,
                "amount_type": "maximum",
                "currency": "usd",
                "description": null,
                "end_date": null,
                "interval": "sporadic",
                "interval_count": null,
                "reference": "Mandate-UniqueMandateID",
                "start_date": 1703442600,
                "supported_types": [
                  "india"
                ]
              },
              "network": null,
              "request_three_d_secure": "any"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "requires_action",
          "usage": "off_session"
        }
  recorded_at: Mon, 25 Dec 2023 16:59:05 GMT
recorded_with: VCR 6.2.0
