---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"verify":["delivery"],"street1":"1640 17th St","city":"San Francisco","state":"CA","zip":"94107","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <EASYPOST_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a46ca6b0665af30ef2de21dd001f484f
      Location:
      - "/api/v2/addresses/adr_dc04e8841ffe11efad9f3cecef1b359e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb43nuq
      X-Version-Label:
      - easypost-202405312227-23ee8b3bd8-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq dd6aa19685
      - intlb4nuq 9d6131b01c
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_dc04e8841ffe11efad9f3cecef1b359e","object":"Address","created_at":"2024-06-01T10:08:14+00:00","updated_at":"2024-06-01T10:08:14+00:00","name":null,"company":null,"street1":"1640
        17TH ST","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94107-2332","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.76493,"longitude":-122.40005,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Sat, 01 Jun 2024 10:08:14 GMT
recorded_with: VCR 6.2.0
