---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"AZ","to_zip":"85144","shipping":0.0,"line_items":[{"quantity":1,"unit_price":500.0,"discount":0,"product_tax_code":null}],"nexus_addresses":[{"country":"US","state":"AZ"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 00f52a4e-fe83-49dc-81a9-b4336cc79e24
      X-Amz-Apigw-Id:
      - RF4n7HruoAMEPlw=
    body:
      encoding: UTF-8
      string: '{"tax":{"freight_taxable":false,"tax_source":"origin","rate":0.107,"jurisdictions":{"state":"AZ","city":"KEARNY","country":"US","county":"PINAL"},"shipping":0.0,"taxable_amount":500.0,"has_nexus":true,"order_total_amount":500.0,"breakdown":{"line_items":[{"id":"1","tax_collectable":53.5,"taxable_amount":500.0,"combined_tax_rate":0.107,"state_taxable_amount":500.0,"county_taxable_amount":500.0,"city_taxable_amount":500.0,"special_district_taxable_amount":0.0,"city_tax_rate":0.04,"county_tax_rate":0.011,"special_tax_rate":0.0,"special_district_amount":0.0,"city_amount":20.0,"county_amount":5.5,"state_amount":28.0,"state_sales_tax_rate":0.056}],"tax_collectable":53.5,"taxable_amount":500.0,"combined_tax_rate":0.107,"state_taxable_amount":500.0,"state_tax_collectable":28.0,"county_taxable_amount":500.0,"county_tax_collectable":5.5,"city_taxable_amount":500.0,"city_tax_collectable":20.0,"special_district_taxable_amount":0.0,"special_district_tax_collectable":0.0,"city_tax_rate":0.04,"county_tax_rate":0.011,"special_tax_rate":0.0,"state_tax_rate":0.056},"amount_to_collect":53.5}}'
  recorded_at: Thu, 18 Sep 2025 09:44:56 GMT
[...]
