---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":null,"from_zip":"94107","to_country":"US","to_state":"CA","to_zip":"94107","shipping":0.0,"line_items":[{"quantity":1,"unit_price":400.0,"discount":0}],"nexus_addresses":[{"country":"US","state":"CA"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3d814eb64a6855149518f4c3a0410fb4"
    body:
      encoding: ASCII-8BIT
      string: '{"tax":{"order_total_amount":400.0,"shipping":0.0,"taxable_amount":400.0,"amount_to_collect":34.5,"rate":0.08625,"has_nexus":true,"freight_taxable":false,"tax_source":"destination","jurisdictions":{"country":"US","state":"CA","county":"SAN
        FRANCISCO","city":"SAN FRANCISCO"},"breakdown":{"taxable_amount":400.0,"tax_collectable":34.5,"combined_tax_rate":0.08625,"state_taxable_amount":400.0,"state_tax_rate":0.0625,"state_tax_collectable":25.0,"county_taxable_amount":400.0,"county_tax_rate":0.01,"county_tax_collectable":4.0,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_tax_collectable":0.0,"special_district_taxable_amount":400.0,"special_tax_rate":0.01375,"special_district_tax_collectable":5.5,"line_items":[{"id":"1","taxable_amount":400.0,"tax_collectable":34.5,"combined_tax_rate":0.08625,"state_taxable_amount":400.0,"state_sales_tax_rate":0.0625,"state_amount":25.0,"county_taxable_amount":400.0,"county_tax_rate":0.01,"county_amount":4.0,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_amount":0.0,"special_district_taxable_amount":400.0,"special_tax_rate":0.01375,"special_district_amount":5.5}]}}}'
  recorded_at: Sun, 06 Nov 2022 19:41:45 GMT
recorded_with: VCR 6.1.0
