---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"US","to_state":"AZ","to_zip":"85144","shipping":20.0,"line_items":[{"quantity":1,"unit_price":153.24,"discount":0,"product_tax_code":null}],"nexus_addresses":[{"country":"US","state":"AZ"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 63c71085-18d6-4e92-9eee-20e5d8840ee9
      X-Amz-Apigw-Id:
      - Eha_qE6QoAMEdhQ=
    body:
      encoding: UTF-8
      string: '{"tax":{"order_total_amount":173.24,"shipping":20.0,"taxable_amount":153.24,"amount_to_collect":10.27,"rate":0.067,"has_nexus":true,"freight_taxable":false,"tax_source":"origin","jurisdictions":{"country":"US","state":"AZ","county":"PINAL"},"breakdown":{"taxable_amount":153.24,"tax_collectable":10.27,"combined_tax_rate":0.067,"state_taxable_amount":153.24,"state_tax_rate":0.056,"state_tax_collectable":8.58,"county_taxable_amount":153.24,"county_tax_rate":0.011,"county_tax_collectable":1.69,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_tax_collectable":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_tax_collectable":0.0,"line_items":[{"id":"1","taxable_amount":153.24,"tax_collectable":10.27,"combined_tax_rate":0.067,"state_taxable_amount":153.24,"state_sales_tax_rate":0.056,"state_amount":8.58,"county_taxable_amount":153.24,"county_tax_rate":0.011,"county_amount":1.69,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_amount":0.0}]}}}'
  recorded_at: Fri, 17 Jan 2025 07:49:42 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"verify":["delivery"],"street1":"3029 W Sherman Rd","city":"San Tan
        Valley","state":"AZ","zip":"85144","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <EASYPOST_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 8a1b5b4b678a0bbcf4dc276100117c0a
      Location:
      - "/api/v2/addresses/adr_b320fdffd4a711efa786ac1f6bc53342"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202501170101-53487187f6-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_b320fdffd4a711efa786ac1f6bc53342","object":"Address","created_at":"2025-01-17T07:50:20+00:00","updated_at":"2025-01-17T07:50:20+00:00","name":null,"company":null,"street1":"3029
        W SHERMAN RD","street2":"","city":"SAN TAN VALLEY","state":"AZ","zip":"85144-4289","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":null,"longitude":null,"time_zone":null}}}}'
  recorded_at: Fri, 17 Jan 2025 07:50:20 GMT
[...]
