---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QVFpS2paQXFYR2NOX29VOHdoLVJLZWx2Nk5mM0lyV1ZZOUo5cnJoejFwRjdhcWl5Wmp1dFNkRzc1STZhaGQzekplMVRocGtsRnA1ak5tYW46RVBuTmR0QVc2anNVbGVIV1FtanNGTmVmMzdmMUdHV0x3dEp4M3VPMlBSZGJFTkFGeFRnVzFXQTFWODNNVll2U3JScmtIMHRYTmV2RTBDSl8=
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.5.8
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 561008a234610
      X-Paypal-Token-Service:
      - IAAS
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/customer/partner-referrals/readwrite
        https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/payments/realtimepayment
        openid https://uri.paypal.com/services/payments/payment/authcapture https://uri.paypal.com/services/payments/refund
        https://uri.paypal.com/services/customer/onboarding/user https://uri.paypal.com/services/risk/raas/transaction-context
        https://uri.paypal.com/services/partners/merchant-accounts/readwrite https://uri.paypal.com/services/identity/grantdelegation
        https://api.paypal.com/v1/vault/credit-card https://api.paypal.com/v1/payments/.*
        https://uri.paypal.com/services/payments/referenced-payouts-items/readwrite
        https://uri.paypal.com/services/reporting/search/read https://uri.paypal.com/services/customer/onboarding/account
        https://uri.paypal.com/services/customer/partner https://uri.paypal.com/services/customer/onboarding/sessions
        https://uri.paypal.com/payments/payouts https://api.paypal.com/v1/vault/credit-card/.*
        https://uri.paypal.com/services/subscriptions https://uri.paypal.com/services/applications/webhooks","access_token":"A21AAFHSp9KtZSo8XZKKEuoNpIxySWV3ABBrZJIDbATToBQn4hd0imO9FTpwnWNj3X80iGby3kAJ6uzS7YZydCnCCI2DgoT3Q","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":31005,"nonce":"2020-06-17T19:04:08ZR2vkkd3vx7Z36WCncEDtchmNNq9mWuI6AqKbK1w8Oo0"}'
  recorded_at: Wed, 17 Jun 2020 19:27:24 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/payments/captures/invalid_capture_id/refund
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
      Authorization:
      - Bearer A21AAFHSp9KtZSo8XZKKEuoNpIxySWV3ABBrZJIDbATToBQn4hd0imO9FTpwnWNj3X80iGby3kAJ6uzS7YZydCnCCI2DgoT3Q
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.5.8
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 621498f3cd5d4
    body:
      encoding: UTF-8
      string: '{"name":"RESOURCE_NOT_FOUND","message":"The specified resource does
        not exist.","debug_id":"621498f3cd5d4","details":[{"issue":"INVALID_RESOURCE_ID","field":"capture_id","value":"invalid_capture_id","description":"Specified
        resource ID does not exist. Please check the resource ID and try again.","location":"path"}],"links":[{"href":"https://developer.paypal.com/docs/api/payments/v2/#error-INVALID_RESOURCE_ID","rel":"information_link"}]}'
  recorded_at: Wed, 17 Jun 2020 19:27:25 GMT
recorded_with: VCR 3.0.3
