---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5b8672f9-4333-4570-ab28-08442edbfb57
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5b8672f9-4333-4570-ab28-08442edbfb57
      Original-Request:
      - req_R4k051Bo8dEuOG
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0ORAM49e1RjUNIyYWISycdv8",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703496108,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 25 Dec 2023 09:21:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0ORAM49e1RjUNIyYWISycdv8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0ORAM49e1RjUNIyYWISycdv8
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9c1e2ba6-f0c8-4cb3-9a38-afc2068f217d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9c1e2ba6-f0c8-4cb3-9a38-afc2068f217d
      Original-Request:
      - req_Y7mWaysjJiJXAx
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PFfhrxywJsjgcJ",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703496109,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "A7E805EE",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 25 Dec 2023 09:21:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: customer=cus_PFfhrxywJsjgcJ&payment_method=pm_0ORAM49e1RjUNIyYWISycdv8
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a31f653f-17b1-4cde-a319-74e59dd52dd9
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a31f653f-17b1-4cde-a319-74e59dd52dd9
      Original-Request:
      - req_clJQzsIkdhGmae
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1ORAM5COxuflorGub[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=You+bought+http%3A%2F%2Fedgarf71fed509.test.gumroad.com%3A31337%2Fl%2Fu&metadata[purchase]=l5C1XQfr2TG3WXcGY7YrUg%3D%3D&transfer_group=9&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PFfh63FIiBCXgF&payment_method=pm_1ORAM5COxuflorGuboZkuoM8&statement_descriptor_suffix=edgarf71fed509&application_fee_amount=100
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d3b57a82-4e89-40b1-b23b-278900b99255
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d3b57a82-4e89-40b1-b23b-278900b99255
      Original-Request:
      - req_1H9eBHYBKXU5FH
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3ORAM6COxuflorGu08zmKeWt",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee_amount": 100,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3ORAM6COxuflorGu08zmKeWt_secret_r1Nz5xKnxjC8Tex7gxPkvvqit",
          "confirmation_method": "automatic",
          "created": 1703496110,
          "currency": "usd",
          "customer": "cus_PFfh63FIiBCXgF",
          "description": "You bought http://edgarf71fed509.test.gumroad.com:31337/l/u",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3ORAM6COxuflorGu0H98FOcS",
          "livemode": false,
          "metadata": {
            "purchase": "l5C1XQfr2TG3WXcGY7YrUg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1ORAM5COxuflorGuboZkuoM8",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarf71fed509",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "9"
        }
  recorded_at: Mon, 25 Dec 2023 09:21:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3ORAM6COxuflorGu0H98FOcS?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3ORAM6COxuflorGu0H98FOcS",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": {
            "id": "fee_1ORAM7COxuflorGu637wvFzm",
            "object": "application_fee",
            "account": "acct_1MFA1rCOxuflorGu",
            "amount": 100,
            "amount_refunded": 0,
            "application": "<STRIPE_CONNECT_CLIENT_ID>",
            "balance_transaction": {
              "id": "txn_0ORAM89e1RjUNIyYcf1BIFjl",
              "object": "balance_transaction",
              "amount": 100,
              "available_on": 1704067200,
              "created": 1703496111,
              "currency": "usd",
              "description": "Application fee from application Gumroad for acct_1MFA1rCOxuflorGu (acct_1MFA1rCOxuflorGu)",
              "exchange_rate": 1.29726,
              "fee": 0,
              "fee_details": [],
              "net": 100,
              "reporting_category": "platform_earning",
              "source": "fee_1ORAM7COxuflorGu637wvFzm",
              "status": "pending",
              "type": "application_fee"
            },
            "charge": "ch_3ORAM6COxuflorGu0H98FOcS",
            "created": 1703496111,
            "currency": "usd",
            "livemode": false,
            "originating_transaction": null,
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/application_fees/fee_1ORAM7COxuflorGu637wvFzm/refunds"
            }
          },
          "application_fee_amount": 100,
          "balance_transaction": {
            "id": "txn_3ORAM6COxuflorGu0c8hdlLr",
            "object": "balance_transaction",
            "amount": 1297,
            "available_on": 1704067200,
            "created": 1703496111,
            "currency": "sgd",
            "description": "You bought http://edgarf71fed509.test.gumroad.com:31337/l/u",
            "exch[...]
