---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=AU&default_currency=aud&metadata[user_id]=6&metadata[tos_agreement_id]=ZQPF8EjM44vgVBZrcP4J5w%3D%3D&metadata[user_compliance_info_id]=QnevDUyL0g8QsRmH_uJtCw%3D%3D&metadata[bank_account_id]=CRmle7giX5LbyxRMIf4EYQ%3D%3D&tos_acceptance[date]=1698781816&tos_acceptance[ip]=0.0.0.0&business_type=individual&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=&individual[email]=edgar79c06df1_6938%40gumroad.com&individual[address][country]=AU&bank_account[country]=AU&bank_account[currency]=aud&bank_account[account_number]=000123456&bank_account[routing_number]=110000&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - aa8c6244-eeae-4d7e-a42c-e9d970683de2
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - aa8c6244-eeae-4d7e-a42c-e9d970683de2
      Original-Request:
      - req_XbQMrtCXDCmyBm
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1O7Nx6S2JI0aw1LE",
          "object": "account",
          "business_profile": {
            "mcc": "5192",
            "name": null,
            "product_description": "",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "inactive",
            "transfers": "inactive"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": null,
              "country": "AU",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "AU",
          "created": 1698781818,
          "default_currency": "aud",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1O7Nx7S2JI0aw1LEWY5xlAq3",
                "object": "bank_account",
                "account": "acct_1O7Nx6S2JI0aw1LE",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "AU",
                "currency": "aud",
                "default_for_currency": true,
                "fingerprint": "wEIErdEDAu9UH7vC",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "3456",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "11 0000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1O7Nx6S2JI0aw1LE/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1O7Nx7S2JI0aw1LEvvVBI0Qt",
            "object": "person",
            "account": "acct_1O7Nx6S2JI0aw1LE",
            "address": {
              "city": null,
              "country": "AU",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "created": 1698781817,
            "dob": {
              "day": null,
              "month": null,
              "year": null
            },
            "email": "edgar79c06df1_6938@gumroad.com",
            "first_name": null,
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "last_name": null,
            "metadata": {},
            "relationship": {
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "last_name",
                "phone"
              ],
              "errors": [],
              "eventually_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "last_name",
                "phone"
              ],
              "past_due": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "dob.day",
                "dob.month",
                "dob.year",
                "first_name",
                "last_name",
                "phone"
              ],
              "pending_verification": []
            },
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "unverified"
            }
          },
          "metadata": {
            "bank_account_id": "CRmle7giX5LbyxRMIf4EYQ==",
            "tos_agreement_id": "ZQPF8EjM44vgVBZrcP4J5w==",
            "user_compliance_info_id": "QnevDUyL0g8QsRmH_uJtCw==",
            "user_id": "6"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.dob.day",
              "individual.dob.month",
              "individual.dob.year",
              "individual.first_name",
              "individual.last_name",
  [...]
