---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/checkout/orders
    body:
      encoding: UTF-8
      string: '{"intent":"CAPTURE","purchase_units":[{"reference_id":"G_-mnBf9b1j9A7a4ub4nFQ==","invoice_id":"G_-mnBf9b1j9A7a4ub4nFQ==","amount":{"currency_code":"usd","value":"15.0","breakdown":{"shipping":{"currency_code":"USD","value":"1.5"},"tax_total":{"currency_code":"USD","value":"0.0"},"item_total":{"currency_code":"USD","value":"13.5"}}},"payee":{"merchant_id":"MN7CSWD6RCNJ8"},"items":[{"name":"The
        Works of Edgar Gumstein","unit_amount":{"currency_code":"USD","value":"4.5"},"quantity":3,"sku":"aa"}],"soft_descriptor":"Gumroad","payment_instruction":{"platform_fees":[{"amount":{"currency_code":"USD","value":"1.0"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>"}}]}}]}'
    headers:
      Authorization:
      - Bearer A21AAKHfMjpl3Tuw5MGYoueXCmRdNR4AgIFhom_ulL9iu4_ipEMm3A82npDqnljMduqvbZ-oBEutIr69DmTiMM4VO-rH2Nwhw
      Content-Type:
      - application/json
      Paypal-Partner-Attribution-Id:
      - Gumroad_SP_PCPP
      Paypal-Request-Id:
      - create-order-G_-mnBf9b1j9A7a4ub4nFQ==
      Prefer:
      - return=representation
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.7.2
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - d67b09eff6d96
    body:
      encoding: UTF-8
      string: '{"id":"14W49201AW721203B","intent":"CAPTURE","status":"CREATED","purchase_units":[{"reference_id":"G_-mnBf9b1j9A7a4ub4nFQ==","amount":{"currency_code":"USD","value":"15.00","breakdown":{"item_total":{"currency_code":"USD","value":"13.50"},"shipping":{"currency_code":"USD","value":"1.50"},"tax_total":{"currency_code":"USD","value":"0.00"}}},"payee":{"merchant_id":"MN7CSWD6RCNJ8"},"payment_instruction":{"platform_fees":[{"amount":{"currency_code":"USD","value":"1.00"},"payee":{"email_address":"<PAYPAL_PARTNER_MERCHANT_EMAIL>"}}]},"invoice_id":"G_-mnBf9b1j9A7a4ub4nFQ==","soft_descriptor":"Gumroad","items":[{"name":"The
        Works of Edgar Gumstein","unit_amount":{"currency_code":"USD","value":"4.50"},"quantity":"3","sku":"aa"}]}],"create_time":"2021-02-26T11:46:37Z","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/14W49201AW721203B","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/checkoutnow?token=14W49201AW721203B","rel":"approve","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/14W49201AW721203B","rel":"update","method":"PATCH"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/14W49201AW721203B/capture","rel":"capture","method":"POST"}]}'
  recorded_at: Fri, 26 Feb 2021 11:46:38 GMT
recorded_with: VCR 6.0.0
