---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1SO1bwI533JwXS4r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1SO1bwI533JwXS4r
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1SO1bwI533JwXS4r",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5045",
            "minority_owned_business_designation": null,
            "name": "Test account",
            "product_description": "Test account",
            "specified_commercial_transactions_act_url": null,
            "support_address": null,
            "support_email": null,
            "support_phone": "0000000000",
            "support_url": null,
            "url": "https://accessible.stripe.com"
          },
          "business_type": "individual",
          "capabilities": {
            "affirm_payments": "active",
            "bancontact_payments": "active",
            "card_payments": "active",
            "cashapp_payments": "active",
            "eps_payments": "active",
            "giropay_payments": "inactive",
            "ideal_payments": "active",
            "klarna_payments": "active",
            "link_payments": "active",
            "transfers": "active"
          },
          "charges_enabled": true,
          "company": {
            "address": {
              "city": "Schenectady",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "<STRONGBOX_GENERAL_PASSWORD>5",
              "state": "NY"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": "match_name_relationships",
            "owners_provided": true,
            "phone": "0000000000",
            "tax_id_provided": true,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": "file_1SO1bxIBOqvOFDrfbsJ1Yjnn"
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "stripe",
            "stripe_dashboard": {
              "type": "express"
            },
            "type": "application"
          },
          "country": "US",
          "created": 1761852859,
          "default_currency": "usd",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1SO1bxI533JwXS4rbuHRTH2I",
                "object": "bank_account",
                "account": "acct_1SO1bwI533JwXS4r",
                "account_holder_name": "Jenny Rosen",
                "account_holder_type": "individual",
                "account_type": null,
                "available_payout_methods": [
                  "standard",
                  "instant"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "l0OxwqZbI4t8wVSU",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "verified"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1SO1bwI533JwXS4r/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1SO1byI533JwXS4rRWP3riCb",
            "object": "person",
            "account": "acct_1SO1bwI533JwXS4r",
            "address": {
              "city": "Schenectady",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "<STRONGBOX_GENERAL_PASSWORD>5",
              "state": "NY"
            },
            "created": 1761852858,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1902
            },
            "email": "testaccount@example.com",
            "first_name": "Test",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "id_number_provided": true,
            "last_name": "account",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "authorizer": false,
              "director": false,
              "executive": true,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": "file_1SO1bxIBOqvOFDrfm6QA6lti"
              },
              "status": "verified"
            }
          },
          "login_links": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1SO1bwI533JwXS4r/login_links"
          },
          "metadata": {},
          "payouts_enabled": true,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": null,
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Test account",
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null,
              "hosted_payment_method_save": "offer"
            },
            "payments": {
              "statement_descriptor": "ACCESSIBLE.STRIPE.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "paypay_payments": {},
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1761852844081,
            "ip": "172.0.0.0",
            "user_agent": null
          },
          "type": "none"
        }
  recorded_at: Tue, 03 Feb 2026 12:46:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/balance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1SO1bwI533JwXS4r
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1SO1bwI533JwXS4r
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "balance",
          "available": [
            {
              "amount": 200000,
              "currency": "usd",
              "source_types": {
                "card": 200000
              }
            }
          ],
          "instant_available": [
            {
              "amount": 200000,
              "currency": "usd",
              "source_types": {
                "card": 200000
              }
            }
          ],
          "livemode": false,
          "pending": [
            {
              "amount": 0,
              "currency": "usd",
              "source_types": {
                "card": 0
              }
            }
          ],
          "refund_and_dispute_prefunding": {
            "available": [
              {
                "amount": 0,
                "currency": "usd"
              }
            ],
            "pending": [
              {
                "amount": 0,
                "currency": "usd"
              }
            ]
          }
        }
  recorded_at: Tue, 03 Feb 2026 12:46:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: amount=200000&currency=usd&description=Collect+unclaimed+balance+of+inactive+account&destination=<STRIPE_PLATFORM_ACCOUNT_ID>
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 405c9993-df3b-458a-bf8d-d7afaac23a22
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1SO1bwI533JwXS4r
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 405c9993-df3b-458a-bf8d-d7afaac23a22
      Original-Request:
      - req_eKDKHxQC1mBgyU
      Stripe-Account:
      - acct_1SO1bwI533JwXS4r
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_1Swj0LI533JwXS4rrLviT8r4",
          "object": "transfer",
          "amount": 200000,
          "amount_reversed": 0,
          "balance_transaction": "txn_1Swj0LI533JwXS4rKrtVJbhc",
          "created": 1770122813,
          "currency": "usd",
          "description": "Collect unclaimed balance of inactive account",
          "destination": "<STRIPE_PLATFORM_ACCOUNT_ID>",
          "destination_payment": "py_1Swj0LIBOqvOFDrfcsdq67u7",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1Swj0LI533JwXS4rrLviT8r4/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Tue, 03 Feb 2026 12:46:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1SOZihINUYgu4sRU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1SOZihINUYgu4sRU
      Stripe-Ver[...]
[...]
