---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1SOZihINUYgu4sRU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1SOZihINUYgu4sRU
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1SOZihINUYgu4sRU",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5734",
            "minority_owned_business_designation": null,
            "name": null,
            "product_description": "Test product",
            "specified_commercial_transactions_act_url": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "www.gumroad.com"
          },
          "business_type": "individual",
          "capabilities": {
            "affirm_payments": "active",
            "bancontact_payments": "active",
            "card_payments": "active",
            "cashapp_payments": "active",
            "eps_payments": "active",
            "giropay_payments": "inactive",
            "ideal_payments": "active",
            "klarna_payments": "active",
            "link_payments": "active",
            "transfers": "active"
          },
          "charges_enabled": true,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "CA"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "US",
          "created": 1761983973,
          "default_currency": "usd",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1SOZiiINUYgu4sRUIk66p1KB",
                "object": "bank_account",
                "account": "acct_1SOZihINUYgu4sRU",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "xadKCGTmvYR41F1v",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "111000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1SOZihINUYgu4sRU/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1765915200,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_1SOZiiINUYgu4sRUdSsfNZXj",
            "object": "person",
            "account": "acct_1SOZihINUYgu4sRU",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "CA"
            },
            "created": 1761983973,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "me@example.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "authorizer": false,
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": "file_1SOZiiIBOqvOFDrfSinjjCkS"
              },
              "status": "verified"
            }
          },
          "metadata": {},
          "payouts_enabled": true,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "GUMROAD.CO",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Gumroad",
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null,
              "hosted_payment_method_save": "offer"
            },
            "payments": {
              "statement_descriptor": "GUMROAD.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "paypay_payments": {},
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1427846400,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Tue, 03 Feb 2026 12:49:46 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/balance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1SOZihINUYgu4sRU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1SOZihINUYgu4sRU
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "balance",
          "available": [
            {
              "amount": 100000,
              "currency": "usd",
              "source_types": {
                "card": 100000
              }
            }
          ],
          "instant_available": [
            {
              "amount": 100000,
              "currency": "usd",
              "source_types": {
                "card": 100000
              }
            }
          ],
          "livemode": false,
          "pending": [
            {
              "amount": 0,
              "currency": "usd",
              "source_types": {
                "card": 0
              }
            }
          ],
          "refund_and_dispute_prefunding": {
            "available": [
              {
                "amount": 0,
                "currency": "usd"
              }
            ],
            "pending": [
              {
                "amount": 0,
                "currency": "usd"
              }
            ]
          }
        }
  recorded_at: Tue, 03 Feb 2026 12:49:47 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: amount=100000&currency=usd&description=Collect+unclaimed+balance+of+inactive+account&destination=<STRIPE_PLATFORM_ACCOUNT_ID>
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5b7aa471-8bac-4648-8eb6-7e1f95928cf6
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1SOZihINUYgu4sRU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5b7aa471-8bac-4648-8eb6-7e1f95928cf6
      Original-Request:
      - req_lkzzJ7rQKJ2Dy4
      Stripe-Account:
      - acct_1SOZihINUYgu4sRU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_1Swj39INUYgu4sRUKLfEtyku",
          "object": "transfer",
          "amount": 100000,
          "amount_reversed": 0,
          "balance_transaction": "txn_1Swj39INUYgu4sRUrgyTQ4sw",
          "created": 1770122987,
          "currency": "usd",
          "description": "Collect unclaimed balance of inactive account",
          "destination": "<STRIPE_PLATFORM_ACCOUNT_ID>",
          "destination_payment": "py_1Swj39IBOqvOFDrfwkOj2dVs",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1Swj39INUYgu4sRUKLfEtyku/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Tue, 03 Feb 2026 12:49:48 GMT
recorded_with: VCR 6.2.0
