---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 60ad5017-bd41-45ac-96c7-8a18bd8128fb
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 60ad5017-bd41-45ac-96c7-8a18bd8128fb
      Original-Request:
      - req_WxMqWRynyd370u
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSf0c9e1RjUNIyYgcQW3WFx",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703852270,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:17:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSf0c9e1RjUNIyYgcQW3WFx
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 59a1db1c-3133-473f-a1fe-9bd5d4265d92
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 59a1db1c-3133-473f-a1fe-9bd5d4265d92
      Original-Request:
      - req_zU1T91xrR7o3Pf
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDRLobBnpw3hA",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703852270,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "FEB91E95",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:17:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSf0c9e1RjUNIyYgcQW3WFx&customer=cus_PHDRLobBnpw3hA&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5c84fbb7-9d0d-4d65-8b9b-7357a9dedc94
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5c84fbb7-9d0d-4d65-8b9b-7357a9dedc94
      Original-Request:
      - req_qiCWAz7rufTB0L
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OSf0d9e1RjUNIyYdJ1Zbh99",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OSf0d9e1RjUNIyYdJ1Zbh99_secret_PHDR1NKGYJHJdQ41r5ZlZwPXjfzTqas",
          "created": 1703852271,
          "customer": "cus_PHDRLobBnpw3hA",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0OSf0d9e1RjUNIyY4nPVuG35",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSf0c9e1RjUNIyYgcQW3WFx",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Fri, 29 Dec 2023 12:17:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSf0c9e1RjUNIyYgcQW3WFx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2500&currency=usd&description=Gumroad+Charge+KYvETFMsWuMr1oJPBKMQUw%3D%3D&metadata[B46oc6FM3dKamFFQDKLJ9g%3D%3D]=%7B%3Aprice_cents%3D%3E500%2C+%3Afee_cents%3D%3E75%2C+%3Aaffiliate_credit_cents%3D%3E0%2C+%3Agumroad_tax_cents%3D%3E0%2C+%3Atotal_transaction_cents%3D%3E500%7D&metadata[fhXfI9kDSHmVIFm3W44PDQ%3D%3D]=%7B%3Aprice_cents%3D%3E2000%2C+%3Afee_cents%3D%3E210%2C+[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSf0f9e1RjUNIyY1GXLPdAi/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 30b5aa20-98e7-4295-bc95-d337898cf9ca
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 30b5aa20-98e7-4295-bc95-d337898cf9ca
      Original-Request:
      - req_eHOciG2hHhBZnu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSf0f9e1RjUNIyY1GXLPdAi",
          "object": "payment_intent",
          "amount": 2500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 2500,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSf0f9e1RjUNIyY1GXLPdAi_secret_DZkDCCsibrn2zu2rYkx1KxG1s",
          "confirmation_method": "automatic",
          "created": 1703852273,
          "currency": "usd",
          "customer": "cus_PHDRLobBnpw3hA",
          "description": "Gumroad Charge KYvETFMsWuMr1oJPBKMQUw==",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2OSf0f9e1RjUNIyY1ydLuiT5",
          "livemode": false,
          "metadata": {
            "B46oc6FM3dKamFFQDKLJ9g==": "{:price_cents=>500, :fee_cents=>75, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>500}",
            "fhXfI9kDSHmVIFm3W44PDQ==": "{:price_cents=>2000, :fee_cents=>210, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>2000}"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSf0c9e1RjUNIyYgcQW3WFx",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar85a28b6955",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-34"
        }
  recorded_at: Fri, 29 Dec 2023 12:17:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSf0f9e1RjUNIyY1ydLuiT5?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OSf0f9e1RjUNIyY1ydLuiT5",
          "object": "charge",
          "amount": 2500,
          "amount_captured": 2500,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OSf0f9e1RjUNIyY1FujHy4N",
            "object": "balance_transaction",
            "amount": 2500,
            "available_on": 1704240000,
            "created": 1703852273,
            "currency": "usd",
            "description": "Gumroad Charge KYvETFMsWuMr1oJPBKMQUw==",
            "exchange_rate": null,
            "fee": 80,
            "fee_details": [
              {
                "amount": 80,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 2420,
            "reporting_category": "charge",
            "source": "ch_2OSf0f9e1RjUNIyY1ydLuiT5",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR85A28B",
          "captured": true,
          "created": 1703852273,
          "currency": "usd",
          "customer": "cus_PHDRLobBnpw3hA",
          "description": "Gumroad Charge KYvETFMsWuMr1oJPBKMQUw==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "B46oc6FM3dKamFFQDKLJ9g==": "{:price_cents=>500, :fee_cents=>75, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>500}",
            "fhXfI9kDSHmVIFm3W44PDQ==": "{:price_cents=>2000, :fee_cents=>210, :affiliate_credit_cents=>0, :gumroad_tax_cents=>0, :total_transaction_cents=>2000}"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 47,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OSf0f9e1RjUNIyY1GXLPdAi",
          "payment_method": "pm_0OSf0c9e1RjUNIyYgcQW3WFx",
          "payment_method_details": {
            "card": {
              "amount_authorized": 2500,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 2500,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo8_G6rAYyBs75xV1XoTosFmLcuMrpCWEhh3CVLxHBd_Xo2UKJM61yvkoIzzu3R7dl05aVrBNX_mwKpJw",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar85a28b6955",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-34"
        }
  recorded_at: Fri, 29 Dec 2023 12:17:55 GMT
recorded_with: VCR 6.2.0
