---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&country=US&business_type=company&capabilities[transfers][requested]=true&capabilities[card_payments][requested]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - '08d72b77-4477-4f16-b152-9814b307e5e2'
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '08d72b77-4477-4f16-b152-9814b307e5e2'
      Original-Request:
      - req_usG4ufW9QbWoqX
      Stripe-Notice:
      - '2 notices for this request: (1) You are using an outdated API version (2023-10-16).
        We recommend upgrading to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
        (2) We recommend building your integration using Accounts v2. See https://docs.stripe.com/api/v2/core/accounts'
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1TysJbEgNiXQfIrl",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": null,
            "minority_owned_business_designation": null,
            "name": null,
            "product_description": null,
            "specified_commercial_transactions_act_url": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": null
          },
          "business_type": "company",
          "capabilities": {
            "card_payments": "inactive",
            "transfers": "inactive"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "directors_provided": false,
            "executives_provided": false,
            "name": null,
            "owners_provided": false,
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "US",
          "created": 1785411596,
          "default_currency": "usd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1TysJbEgNiXQfIrl/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "metadata": {},
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [
              {
                "alternative_fields_due": [
                  "business_profile.product_description"
                ],
                "original_fields_due": [
                  "business_profile.url"
                ]
              }
            ],
            "current_deadline": null,
            "currently_due": [
              "business_profile.mcc",
              "business_profile.url",
              "company.address.city",
              "company.address.line1",
              "company.address.postal_code",
              "company.address.state",
              "company.name",
              "company.owners_provided",
              "company.phone",[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1TysJbEgNiXQfIrl/persons
    body:
      encoding: UTF-8
      string: first_name=Rep&last_name=Resentative&relationship[representative]=true&relationship[title]=CEO
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fd2a806e-63c0-451a-bce7-1bfcbc5d0806
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fd2a806e-63c0-451a-bce7-1bfcbc5d0806
      Original-Request:
      - req_UpaTKPJyByRDzi
      Stripe-Account:
      - acct_1TysJbEgNiXQfIrl
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "person_1TysJfEgNiXQfIrlHSMXDAA4",
          "object": "person",
          "account": "acct_1TysJbEgNiXQfIrl",
          "additional_tos_acceptances": {
            "account": {
              "date": null,
              "ip": null,
              "user_agent": null
            }
          },
          "address": {
            "city": null,
            "country": "US",
            "line1": null,
            "line2": null,
            "postal_code": null,
            "state": null
          },
          "created": 1785411599,
          "dob": {
            "day": null,
            "month": null,
            "year": null
          },
          "first_name": "Rep",
          "future_requirements": {
            "alternatives": [],
            "currently_due": [],
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "id_number_provided": false,
          "last_name": "Resentative",
          "metadata": {},
          "relationship": {
            "authorizer": false,
            "director": false,
            "executive": false,
            "legal_guardian": false,
            "owner": false,
            "percent_ownership": null,
            "representative": true,
            "title": "CEO"
          },
          "requirements": {
            "alternatives": [],
            "currently_due": [
              "address.city",
              "address.line1",
              "address.postal_code",
              "address.state",
              "dob.day",
              "dob.month",
              "dob.year",
              "email",
              "phone",
              "ssn_last_4"
            ],
            "errors": [],
            "eventually_due": [
              "address.city",
              "address.line1",
              "address.postal_code",
              "address.state",
              "dob.day",
              "dob.month",
              "dob.year",
              "email",
              "phone",
              "ssn_last_4"
            ],
            "past_due": [
              "address.city",
              "address.line1",
              "address.postal_code",
              "address.state",
              "dob.day",
              "dob.month",
              "dob.year",
              "email",
              "phone",
              "ssn_last_4"
            ],
            "pending_verification": []
          },
          "ssn_last_4_provided": false,
          "verification": {
            "additional_document": {
              "back": null,
              "details": null,
              "details_code": null,
              "front": null
            },
            "details": null,
            "details_code": null,
            "document": {
              "back": null,
              "details": null,
              "details_code": null,
              "front": null
            },
            "status": "unverified"
          }
        }
  recorded_at: Thu, 30 Jul 2026 11:40:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1TysJbEgNiXQfIrl/persons/person_1TysJfEgNiXQfIrlHSMXDAA4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      [...]
