---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6b38b871-eaca-439b-8469-eb3af5c691b0
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6b38b871-eaca-439b-8469-eb3af5c691b0
      Original-Request:
      - req_Dtl7EJVASaVl8b
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O7NGn9e1RjUNIyYbyNdIEGl",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698779194,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 31 Oct 2023 19:06:34 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7NGn9e1RjUNIyYbyNdIEGl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O7NGn9e1RjUNIyYbyNdIEGl
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 56dca918-729e-4a51-afbb-e13c139f212b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 56dca918-729e-4a51-afbb-e13c139f212b
      Original-Request:
      - req_uSv4lHJD8vBf3e
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OvDis6d3ReeMwk",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698779195,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "EA3C1E66",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 31 Oct 2023 19:06:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: confirm=true&payment_method_types[0]=card&usage=off_session&payment_method=pm_0O7NGn9e1RjUNIyYbyNdIEGl&customer=cus_OvDis6d3ReeMwk
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d85722b8-8170-4e23-a01d-c4b15f6366c1
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d85722b8-8170-4e23-a01d-c4b15f6366c1
      Original-Request:
      - req_BajhXmgDFd6D2W
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0O7NGq9e1RjUNIyYK19C7c7v",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0O7NGq9e1RjUNIyYK19C7c7v_secret_OvDibURLiKdKxXpfB6LJgU600sK5pxK",
          "created": 1698779196,
          "customer": "cus_OvDis6d3ReeMwk",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0O7NGq9e1RjUNIyYQ9Q8c8jz",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7NGn9e1RjUNIyYbyNdIEGl",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 31 Oct 2023 19:06:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=600&currency=usd&description=You+bought+http%3A%2F%2Fedgar8cb2749b770.test.gumroad.com%3A31337%2Fl%2Fx&metadata[purchase]=LVR1kJndKMe_z4OmUiOMNQ%3D%3D&transfer_group=668&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OvDis6d3ReeMwk&payment_method=pm_0O7NGn9e1RjUNIyYbyNdIEGl&statement_descriptor_suffix=edgar8cb2749b770
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3ff44901-2bf2-488d-847a-e99a55430ddc
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3ff44901-2bf2-488d-847a-e99a55430ddc
      Original-Request:
      - req_7wnfBgdPVe1D3p
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O7NGr9e1RjUNIyY1jc6WXDA",
          "object": "payment_intent",
          "amount": 600,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 600,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O7NGr9e1RjUNIyY1jc6WXDA_secret_zDYNUJmFUwjKt5toy6sZoDa1C",
          "confirmation_method": "manual",
          "created": 1698779197,
          "currency": "usd",
          "customer": "cus_OvDis6d3ReeMwk",
          "description": "You bought http://edgar8cb2749b770.test.gumroad.com:31337/l/x",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O7NGr9e1RjUNIyY1UkA9McC",
          "livemode": false,
          "metadata": {
            "purchase": "LVR1kJndKMe_z4OmUiOMNQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O7NGn9e1RjUNIyYbyNdIEGl",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar8cb2749b770",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "668"
        }
  recorded_at: Tue, 31 Oct 2023 19:06:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O7NGr9e1RjUNIyY1UkA9McC?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O7NGr9e1RjUNIyY1UkA9McC",
          "object": "charge",
          "amount": 600,
          "amount_captured": 600,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O7NGr9e1RjUNIyY1AlQVnKy",
            "object": "balance_transaction",
            "amount": 600,
            "available_on": 1698883200,
            "created": 1698779198,
            "currency": "usd",
            "description": "You bought http://edgar8cb2749b770.test.gumroad.com:31337/l/x",
            "exchange_rate": null,
            "fee": 35,
            "fee_details": [
              {
                "amount": 35,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 565,
            "reporting_category": "charge",
            "source": "ch_2O7NGr9e1RjUNIyY1UkA9McC",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR8CB274",
          "captured": true,
          "created": 1698779198,
          "currency": "usd",
          "customer": "cus_OvDis6d3ReeMwk",
          "description": "You bought http://edgar8cb2749b770.test.gumroad.com:31337/l/x",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "LVR1kJndKMe_z4OmUiOMNQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 3,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O7NGr9e1RjUNIyY1jc6WXDA",
          "payment_method": "pm_0O7NGn9e1RjUNIyYbyNdIEGl",
          "payment_method_details": {
            "card": {
              "amount_authorized": 600,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 600,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUov6CFqgYyBuLqVt4WTTosFvnI0F0C4B7HhNpVu9b3_HNCoaqtM4W7471uB6Jd6hrFGa76lk8Ie_XFNqQ",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar8cb2749b770",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "668"
        }
  recorded_at: Tue, 31 Oct 2023 19:06:39 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O7NGo9e1RjUNIyYozbF54kC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=600&currency=usd&description=You+bought+http%3A%2F%2Fedgar8cb2749b770.test.gumroad.com%3A31337%2Fl%2Fx&metadata[purchase]=lO6btlYSjdxvWJT8s8L2cw%3D%3D&transfer_group=670&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OvDiEv1HjFPwue&payment_method=pm_0O7NGo9e1RjUNIyYozbF54kC&statement_descriptor_suffix=edgar8cb2749b770
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fa53531e-2d63-49b4-934f-c8e246fd165d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fa53531e-2d63-49b4-934f-c8e246fd165d
      Original-Request:
      - req_2lfDia1RQnvPvY
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_2O7NGw9e1RjUNIyY1NRmjVIi",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "payment_intent": {
              "id": "pi_2O7NGw9e1RjUNIyY1an9PhjE",
              "object": "payment_intent",
              "amount": 600,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount":[...]
