---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bf48b9d7-511e-4638-bef9-811fc7b53b23
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bf48b9d7-511e-4638-bef9-811fc7b53b23
      Original-Request:
      - req_NCNhmSZET8wI9J
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6zU59e1RjUNIyYhVxp2nUO",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698687761,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 17:42:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0O6zU59e1RjUNIyYhVxp2nUO&confirmation_method=manual&payment_method_types[0]=card&confirm=true&amount=100&currency=usd
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 14876ab2-6ee6-42e7-8b95-3b8045e58bd4
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 14876ab2-6ee6-42e7-8b95-3b8045e58bd4
      Original-Request:
      - req_C5D1i5YavC3btE
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6zU59e1RjUNIyY09L5DUVd",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6zU59e1RjUNIyY09L5DUVd_secret_I74bXFLTFJl4uum8Vl2uAlX3e",
          "confirmation_method": "manual",
          "created": 1698687761,
          "currency": "usd",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6zU59e1RjUNIyY0dokAMfC",
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6zU59e1RjUNIyYhVxp2nUO",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 30 Oct 2023 17:42:42 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6zU59e1RjUNIyY0dokAMfC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6zU59e1RjUNIyY0dokAMfC",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_2O6zU59e1RjUNIyY0vhXl8Us",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD.COM/C",
          "captured": true,
          "created": 1698687762,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 1,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6zU59e1RjUNIyY09L5DUVd",
          "payment_method": "pm_0O6zU59e1RjUNIyYhVxp2nUO",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUok9b_qQYyBgr3Am43sDosFp__9q77jzGq6W3dHN1GcBjHAB9K6nkyk7NLYBtkJ7F4IwvYNgk4c5GpJ-E",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 30 Oct 2023 17:42:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2O6zU59e1RjUNIyY0dokAMfC&expand[0]=balance_transaction
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 878eeee2-c688-436c-9325-ada1746d2c02
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 878eeee2-c688-436c-9325-ada1746d2c02
      Original-Request:
      - req_oF5AvwwhgKsUol
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2O6zU59e1RjUNIyY09coukiH",
          "object": "refund",
          "amount": 100,
          "balance_transaction": {
            "id": "txn_2O6zU59e1RjUNIyY0HfC48aF",
            "object": "balance_transaction",
            "amount": -100,
            "available_on": 1698796800,
            "created": 1698687763,
            "currency": "usd",
            "description": "REFUND FOR CHARGE",
            "exchange_rate": null,
            "fee": -10,
            "fee_details": [
              {
                "amount": -10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fee refund",
                "type": "stripe_fee"
              }
            ],
            "net": -90,
            "reporting_category": "refund",
            "source": "re_2O6zU59e1RjUNIyY09coukiH",
            "status": "pending",
            "type": "refund"
          },
          "charge": "ch_2O6zU59e1RjUNIyY0dokAMfC",
          "created": 1698687763,
          "currency": "usd",
          "metadata": {},
          "payment_intent": "pi_2O6zU59e1RjUNIyY09L5DUVd",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Mon, 30 Oct 2023 17:42:44 GMT
recorded_with: VCR 6.2.0
