---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=6383015343147&metadata[tos_agreement_id]=28s8yNsK3Df760jc8MXtHg%3D%3D&metadata[user_compliance_info_id]=OV5uoOT8fYXWJlAdNIDOzw%3D%3D&metadata[bank_account_id]=IaqcESZb1S4MjtI3UAdDIw%3D%3D&tos_acceptance[date]=1427846400&tos_acceptance[ip]=54.234.242.13&business_type=company&business_profile[name]=Buy+More%2C+LLC&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Buy+More%2C+LLC&company[name]=Buy+More%2C+LLC&company[address][line1]=address_full_match&company[address][city]=Burbank&company[address][state]=California&company[address][postal_code]=91506&company[address][country]=US&company[tax_id]=000000000&company[phone]=0000000000&company[directors_provided]=true&company[executives_provided]=true&bank_account[country]=US&bank_account[currency]=usd&bank_account[account_number]=000<STRONGBOX_GENERAL_PASSWORD>56789&bank_account[routing_number]=110000000&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6ff1349b-dea6-42e3-80f9-ab02e6df3b3b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6ff1349b-dea6-42e3-80f9-ab02e6df3b3b
      Original-Request:
      - req_jkpNE5LQOfM7zg
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1TWy2KILBI3N6BIn",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": null,
            "minority_owned_business_designation": null,
            "name": "Buy More, LLC",
            "product_description": "Buy More, LLC",
            "specified_commercial_transactions_act_url": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "company",
          "capabilities": {
            "card_payments": "inactive",
            "transfers": "active"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "Burbank",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "91506",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": "Buy More, LLC",
            "owners_provided": false,
            "phone": "0000000000",
            "tax_id_provided": true,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "US",
          "created": 1778760406,
          "default_currency": "usd",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1TWy2KILBI3N6BInurnf18fW",
                "object": "bank_account",
                "account": "acct_1TWy2KILBI3N6BIn",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard",
                  "instant"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "l0OxwqZbI4t8wVSU",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1TWy2KILBI3N6BIn/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "metadata": {
            "bank_account_id": "IaqcESZb1S4MjtI3UAdDIw==",
            "tos_agreement_id": "28s8yNsK3Df760jc8MXtHg==",
            "user_compliance_info_id": "OV5uoOT8fYXWJlAdNIDOzw==",
            "user_id": "6383015343147"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "business_profile.mcc",
              "company.owners_provided",
              "owners.email",
              "owners.first_name",
              "owners.last_name",
              "representative.address.city",
              "representative.address.line1",
              "representative.address.postal_code",
              "representative.address.stat[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1TWy2KILBI3N6BIn/persons
    body:
      encoding: UTF-8
      string: first_name=Chuck&last_name=Bartowski&email=chuck%40gum.com&phone=0000000000&dob[day]=1&dob[month]=1&dob[year]=1901&address[line1]=address_full_match&address[city]=San+Francisco&address[state]=California&address[postal_code]=94107&address[country]=US&ssn_last_4=0000&relationship[representative]=true&relationship[owner]=true&relationship[title]=CEO&relationship[percent_ownership]=100
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fabfa7f5-13fc-4e32-9d34-a76ff3d90ff5
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fabfa7f5-13fc-4e32-9d34-a76ff3d90ff5
      Original-Request:
      - req_P9rlnnfwxZnVL5
      Stripe-Account:
      - acct_1TWy2KILBI3N6BIn
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "person_1TWy2QILBI3N6BIn1XiDNKE5",
          "object": "person",
          "account": "acct_1TWy2KILBI3N6BIn",
          "additional_tos_acceptances": {
            "account": {
              "date": null,
              "ip": null,
              "user_agent": null
            }
          },
          "address": {
            "city": "San Francisco",
            "country": "US",
            "line1": "address_full_match",
            "line2": null,
            "postal_code": "94107",
            "state": "California"
          },
          "created": 1778760410,
          "dob": {
            "day": 1,
            "month": 1,
            "year": 1901
          },
          "email": "chuck@gum.com",
          "first_name": "Chuck",
          "future_requirements": {
            "alternatives": [],
            "currently_due": [],
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "id_number_provided": false,
          "last_name": "Bartowski",
          "metadata": {},
          "phone": "+10000000000",
          "relationship": {
            "authorizer": false,
            "director": false,
            "executive": false,
            "legal_guardian": false,
            "owner": true,
            "percent_ownership": 100.0,
            "representative": true,
            "title": "CEO"
          },
          "requirements": {
            "alternatives": [],
            "currently_due": [],
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "address.city",
              "address.line1",
              "address.postal_code",
              "address.state",
              "id_number"
            ]
          },
          "ssn_last_4_provided": true,
          "verification": {
            "additional_document": {
              "back": null,
              "details": null,
              "details_code": null,
              "front": null
            },
            "details": null,
            "details_code": null,
            "document": {
              "back": null,
              "details": null,
              "details_code": null,
              "front": null
            },
            "status": "pending"
          }
        }
  recorded_at: Thu, 14 May 2026 12:06:51 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1TWy2KILBI3N6BIn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1TWy2KILBI3N6BIn
      Stripe-Ver[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1TWy2KILBI3N6BIn/persons?limit=1&relationship%5Brepresentative%5D=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-A[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1TWy2KILBI3N6BIn/persons/person_1TWy2QILBI3N6BIn1XiDNKE5
    body:
      encoding: UTF-8
      string: email=chuck%40gum.com&phone=0000000000&id_number=000000000&relationship[representative]=true&ssn_last_4=0000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 87c610dd-72ed-4102-bd67-17660616ef72
      Stripe-Ve[...]
