---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=7534223569534&metadata[tos_agreement_id]=Fv_QtG2yp2Cv-UdmS_QwLw%3D%3D&metadata[user_compliance_info_id]=CRmle7giX5LbyxRMIf4EYQ%3D%3D&metadata[bank_account_id]=Fv_QtG2yp2Cv-UdmS_QwLw%3D%3D&tos_acceptance[date]=1427846400&tos_acceptance[ip]=54.234.242.13&business_type=company&business_profile[name]=Buy+More%2C+LLC&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Buy+More%2C+LLC&company[name]=Buy+More%2C+LLC&company[address][line1]=address_full_match&company[address][city]=Burbank&company[address][state]=California&company[address][postal_code]=91506&company[address][country]=US&company[tax_id]=000000000&company[phone]=0000000000&company[directors_provided]=true&company[executives_provided]=true&bank_account[country]=US&bank_account[currency]=usd&bank_account[account_number]=000123456789&bank_account[routing_number]=110000000&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f8067f80-cd38-4591-9423-135cd5b9c09b
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f8067f80-cd38-4591-9423-135cd5b9c09b
      Original-Request:
      - req_xbeH9aMloee86j
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1PBcpuS6exgXb2RC",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "name": "Buy More, LLC",
            "product_description": "Buy More, LLC",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "company",
          "capabilities": {
            "card_payments": "inactive",
            "transfers": "inactive"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "Burbank",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "91506",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": "Buy More, LLC",
            "owners_provided": false,
            "phone": "0000000000",
            "tax_id_provided": true,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "US",
          "created": 1714568679,
          "default_currency": "usd",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1PBcpuS6exgXb2RCbCcUKoxD",
                "object": "bank_account",
                "account": "acct_1PBcpuS6exgXb2RC",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard",
                  "instant"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "dx7dqwoGHEQDKLLK",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1PBcpuS6exgXb2RC/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1717516800,
            "currently_due": [
              "company.owners_provided",
              "company.phone",
              "owners.email",
              "owners.first_name",
              "owners.last_name",
              "representative.address.city",
              "representative.address.line1",
              "representative.address.postal_code",
              "representative.address.state",
              "representative.dob.day",
              "representative.dob.month",
              "representative.dob.year",
              "representative.email",
              "representative.first_name",
              "representative.last_name",
              "representative.phone",
              "representative.relationship.title",
              "representative.ssn_last_4"
            ],
            "disabled_reason": null,
            "errors": [
              {
                "code": "invalid_phone_number",
                "reason": "This field must contain a valid phone number for your country, or it has too many repeating or sequential numbers. 0000000000 is not a valid phone number.",
                "requirement": "company.phone"
              }
            ],
            "eventually_due": [
              "company.owners_provided",
              "company.phone",
              "owners.address.city",
              "owners.address.line1",
              "owners.address.postal_code",
              "owners.address.state",
              "owners.dob.day",
              "owners.dob.month",
              "owners.dob.year",
              "owners.email",
              "owners.first_name",
              "owners.last_name",
              "owners.phone",
              "representative.address.city",
              "representative.address.line1",
              "representative.address.postal_code",
              "representative.address.state",
              "representative.dob.day",
              "representative.dob.month",
              "representative.dob.year",
              "representative.email",
              "representative.first_name",
              "representative.id_number",
              "representative.last_name",
              "representative.phone",
              "representative.relationship.title",
              "representative.ssn_last_4"
            ],
            "past_due": [],
            "pending_verification": [
              "business_profile.url",
              "company.address.city",
              "company.address.line1",
              "company.address.postal_code",
              "company.address.state",
              "company.tax_id"
            ]
          },
          "metadata": {
            "bank_account_id": "Fv_QtG2yp2Cv-UdmS_QwLw==",
            "tos_agreement_id": "Fv_QtG2yp2Cv-UdmS_QwLw==",
            "user_compliance_info_id": "CRmle7giX5LbyxRMIf4EYQ==",
            "user_id": "7534223569534"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [
              {
                "alternative_fields_due": [
                  "owners.verification.document"
                ],
                "original_fields_due": [
                  "owners.ssn_last_4"
                ]
              },
              {
                "alternative_fields_due": [
                  "representative.verification.document"
                ],
                "original_fields_due": [
                  "representative.ssn_last_4"
                ]
              }
            ],
            "current_deadline": null,
            "currently_due": [
              "company.owners_provided",
              "owners.email",
            [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1PBcpuS6exgXb2RC/persons
    body:
      encoding: UTF-8
      string: first_name=Chuck&last_name=Bartowski&email=chuck%40gum.com&phone=0000000000&address[line1]=address_full_match&address[city]=San+Francisco&address[state]=California&address[postal_code]=94107&address[country]=US&dob[day]=1&dob[month]=1&dob[year]=1901&ssn_last_4=0000&relationship[representative]=true&relationship[owner]=true&relationship[title]=CEO&relationship[percent_ownership]=100
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 968ad76a-b0d2-4d78-86ad-eadb540f3692
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 968ad76a-b0d2-4d78-86ad-eadb540f3692
      Original-Request:
      - req_aN9NhCPynEODJj
      Stripe-Account:
      - acct_1PBcpuS6exgXb2RC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "person_1PBcq1S6exgXb2RC1QstMxst",
          "object": "person",
          "account": "acct_1PBcpuS6exgXb2RC",
          "additional_tos_acceptances": {
            "account": {
              "date": null,
              "ip": null,
              "user_agent": null
            }
          },
          "address": {
            "city": "San Francisco",
            "country": "US",
            "line1": "address_full_match",
            "line2": null,
            "postal_code": "94107",
            "state": "California"
          },
          "created": 1714568685,
          "dob": {
            "day": 1,
            "month": 1,
            "year": 1901
          },
          "email": "chuck@gum.com",
          "first_name": "Chuck",
          "future_requirements": {
            "alternatives": [],
            "currently_due": [
              "phone"
            ],
            "errors": [
              {
                "code": "invalid_phone_number",
                "reason": "This field must contain a valid phone number for your country, or it has too many repeating or sequential numbers. +10000000000 is not a valid phone number.",
                "requirement": "phone"
              }
            ],
            "eventually_due": [
              "id_number",
              "phone"
            ],
            "past_due": [],
            "pending_verification": [
              "address.city",
              "address.line1",
              "address.postal_code",
              "address.state",
              "id_number"
            ]
          },
          "id_number_provided": false,
          "last_name": "Bartowski",
          "metadata": {},
          "phone": "+10000000000",
          "relationship": {
            "director": false,
            "executive": false,
            "legal_guardian": false,
            "owner": true,
            "percent_ownership": 100.0,
            "representative": true,
            "title": "CEO"
          },
          "requirements": {
            "alternatives": [],
            "currently_due": [],
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "address.city",
              "address.line1",
              "address.postal_code",
              "address.state",
              "id_number"
            ]
          },
          "ssn_last_4_provided": true,
          "verification": {
            "additional_document": {
              "back": null,
              "details": null,
              "details_code": null,
              "front": null
            },
            "details": null,
            "details_code": null,
            "document": {
              "back": null,
              "details": null,
              "details_code": null,
              "front": null
            },
            "status": "pending"
          }
        }
  recorded_at: Wed, 01 May 2024 13:04:47 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1PBcpuS6exgXb2RC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1PBcpuS6exgXb2RC
      Stripe-Ver[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1PBcpuS6exgXb2RC/persons/person_1PBcq1S6exgXb2RC1QstMxst
    body:
      encoding: UTF-8
      string: email=chuck%40gum.com&phone=0000000000&id_number=000000000&relationship[representative]=true&relationship[owner]=true&relationship[title]=CEO&relationship[percent_ownership]=100&ssn_last_4=0000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencode[...]
