---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJwbGF5LWJpbGxpbmctYXBpQGd1bXJvYWQtbGlicmFyeS5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsImF1ZCI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL29hdXRoMi92NC90b2tlbiIsImV4cCI6MTcyMDEzNjUwOSwiaWF0IjoxNzIwMTM2Mzg5LCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvYW5kcm9pZHB1Ymxpc2hlciJ9.gVQkGW_Z_DzFg6rETYsqKFi0bk98eEJLCINxZCZG-u0rTLMnq9QABEnHw8vkVgmlfcRUKJWbaHYJYQoNVTo2uTOwNrZmbA2hbxx3lIJhirNeov1yiKX9V8GYT5wR0S8U27DrD27wAziyYOBB9WHpCNV69irMktno9nsUO0iz-qzMwFiFBdDL4DB78DkGb-rNJaHmzMWd0MkNzdgf1TdkeSdgffDihkbqpJmfA5bzC7flOJD6-OLJlq26ZuzknlEk-Zq84DDeRy44xb5vlIVP72LTdqs6GIZK0DbvtsOjuDeCpHJKGtN74SqZKUc_8pxR81B_xhB9ei311ArtchxUEw
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ya29.c.c0AY_VpZi_sR2lMyDOQ1bkSvg1SFcf2apC3AkIAZ-o6XnuojRq5-it_ermF43oKEL6TMrtlTO_kktLoSctTRDIA5nALhiHnrkaQF4BgSNxQeFTyApmM8nzHcoc0B9HxQKl5Ik_d6uGZPaHnzYnYBHyYmYTgULOVsjti4BJ9FrB_8-xs_-RDMdTQwCZHjUBxEa4Im23ge5lSEcP3ZbOWeUPhMZhdncFxQOd_sChIIbmSUBMoo5Rh1BvqzWEZwivjVIwlQCByH0jJ2kVqVaRd7oO9PVi9rsxeWPTJCgfoNewhotgp5DQB2qw1oxiNfgqDg1kMeBvUyVg6zaNoVYfvLY8W5VvuhU6h_z8nS3Pu2yD1FZrdS5_3MR1cWC4G385DY54fxvkYpv-vfZ-6MJh7yv37-jvO7UXJxe3Bq0i84kFf9bkn20wkbovBU-t3MyMy8hiI_igjbebhF4ZSXhSFMXFMpsuzbYox3JJ7psj7uO8RZWQeoV9S1d2m3jyZ_Iv8eJ7RS-MFe0xvW8WRZr_966Fc_fbnexBtbOMnmkFMurMecJZ0jnypcgYek0qkS7YuFUFymlqdysUm-kV5nuzulM8hblqwJJqe3zYmcvOaSYY4370w34SZQplI9fp9ffQlO0oy8fJRw_1c7S88j4n1JtWYwrQXFO8bXdsg4mqrVIrhdbdF8YmuXiSUW07M1qB8ZhlFR_h5Bqh6ww5ZBkV9dSwk9vwok_0R-ehyarF3lrwi-0Fypst1nIMmS1Wso3hFW-wZ-Mv84BJfuRJd-bOX0odOzaxt6jhV6zy3WZIeOjI15gzuVrvYua1_gFhgb23IrbiX4VcQjrUMRx1f35p1RU0IOMdVslfzvp2ojdnzx8ubdmo6Ijxl6bXIdVMa8RYVXSSIbOJZ3Yu6bzqYjn7ohqjVJSnpxqt19qdddZ0qU5cqwcyhOWMt3VgrnuOQjp-dw6q5wZ3Mw0nQt_0YWVuoWk7rd5m9iJdWFFowqOYMZv1_fiv9OfxFqkRggW","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Thu, 04 Jul 2024 23:40:49 GMT
- request:
    method: get
    uri: https://androidpublisher.googleapis.com/androidpublisher/v3/applications/com.gumroad.app/inappproducts/com.gumroad.product_2
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.c0AY_VpZi_sR2lMyDOQ1bkSvg1SFcf2apC3AkIAZ-o6XnuojRq5-it_ermF43oKEL6TMrtlTO_kktLoSctTRDIA5nALhiHnrkaQF4BgSNxQeFTyApmM8nzHcoc0B9HxQKl5Ik_d6uGZPaHnzYnYBHyYmYTgULOVsjti4BJ9FrB_8-xs_-RDMdTQwCZHjUBxEa4Im23ge5lSEcP3ZbOWeUPhMZhdncFxQOd_sChIIbmSUBMoo5Rh1BvqzWEZwivjVIwlQCByH0jJ2kVqVaRd7oO9PVi9rsxeWPTJCgfoNewhotgp5DQB2qw1oxiNfgqDg1kMeBvUyVg6zaNoVYfvLY8W5VvuhU6h_z8nS3Pu2yD1FZrdS5_3MR1cWC4G385DY54fxvkYpv-vfZ-6MJh7yv37-jvO7UXJxe3Bq0i84kFf9bkn20wkbovBU-t3MyMy8hiI_igjbebhF4ZSXhSFMXFMpsuzbYox3JJ7psj7uO8RZWQeoV9S1d2m3jyZ_Iv8eJ7RS-MFe0xvW8WRZr_966Fc_fbnexBtbOMnmkFMurMecJZ0jnypcgYek0qkS7YuFUFymlqdysUm-kV5nuzulM8hblqwJJqe3zYmcvOaSYY4370w34SZQplI9fp9ffQlO0oy8fJRw_1c7S88j4n1JtWYwrQXFO8bXdsg4mqrVIrhdbdF8YmuXiSUW07M1qB8ZhlFR_h5Bqh6ww5ZBkV9dSwk9vwok_0R-ehyarF3lrwi-0Fypst1nIMmS1Wso3hFW-wZ-Mv84BJfuRJd-bOX0odOzaxt6jhV6zy3WZIeOjI15gzuVrvYua1_gFhgb23IrbiX4VcQjrUMRx1f35p1RU0IOMdVslfzvp2ojdnzx8ubdmo6Ijxl6bXIdVMa8RYVXSSIbOJZ3Yu6bzqYjn7ohqjVJSnpxqt19qdddZ0qU5cqwcyhOWMt3VgrnuOQjp-dw6q5wZ3Mw0nQt_0YWVuoWk7rd5m9iJdWFFowqOYMZv1_fiv9OfxFqkRggW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 463f267a1a4746487ce42c921603d7faf6324bee
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "packageName": "com.gumroad.app",
          "sku": "com.gumroad.product_2",
          "status": "active",
          "purchaseType": "managedUser",
          "defaultPrice": {
            "priceMicros": "2000000",
            "currency": "USD"
          },
          "prices": {
            "AE": {
              "priceMicros": "7690000",
              "currency": "AED"
            },
            "AT": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "AU": {
              "priceMicros": "3290000",
              "currency": "AUD"
            },
            "BD": {
              "priceMicros": "290000000",
              "currency": "BDT"
            },
            "BE": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "BG": {
              "priceMicros": "4290000",
              "currency": "BGN"
            },
            "BH": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "BM": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "BO": {
              "priceMicros": "13990000",
              "currency": "BOB"
            },
            "BR": {
              "priceMicros": "10990000",
              "currency": "BRL"
            },
            "CA": {
              "priceMicros": "2690000",
              "currency": "CAD"
            },
            "CH": {
              "priceMicros": "1800000",
              "currency": "CHF"
            },
            "CL": {
              "priceMicros": "2200000000",
              "currency": "CLP"
            },
            "CO": {
              "priceMicros": "8000000000",
              "currency": "COP"
            },
            "CR": {
              "priceMicros": "1100000000",
              "currency": "CRC"
            },
            "CY": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "CZ": {
              "priceMicros": "54990000",
              "currency": "CZK"
            },
            "DE": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "DK": {
              "priceMicros": "17000000",
              "currency": "DKK"
            },
            "DZ": {
              "priceMicros": "275000000",
              "currency": "DZD"
            },
            "EC": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "EE": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "EG": {
              "priceMicros": "109990000",
              "currency": "EGP"
            },
            "ES": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "FI": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "FM": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "FR": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "GB": {
              "priceMicros": "1890000",
              "currency": "GBP"
            },
            "GE": {
              "priceMicros": "7000000",
              "currency": "GEL"
            },
            "GH": {
              "priceMicros": "40000000",
              "currency": "GHS"
            },
            "GI": {
              "priceMicros": "1590000",
              "currency": "GBP"
            },
            "GR": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "HK": {
              "priceMicros": "15000000",
              "currency": "HKD"
            },
            "HR": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "HU": {
              "priceMicros": "899000000",
              "currency": "HUF"
            },
            "ID": {
              "priceMicros": "33000000000",
              "currency": "IDR"
            },
            "IE": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "IL": {
              "priceMicros": "7500000",
              "currency": "ILS"
            },
            "IN": {
              "priceMicros": "200000000",
              "currency": "INR"
            },
            "IQ": {
              "priceMicros": "2600000000",
              "currency": "IQD"
            },
            "IT": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "JO": {
              "priceMicros": "1400000",
              "currency": "JOD"
            },
            "JP": {
              "priceMicros": "320000000",
              "currency": "JPY"
            },
            "KE": {
              "priceMicros": "300000000",
              "currency": "KES"
            },
            "KH": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "KR": {
              "priceMicros": "3000000000",
              "currency": "KRW"
            },
            "KW": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "KY": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "KZ": {
              "priceMicros": "1090000000",
              "currency": "KZT"
            },
            "LI": {
              "priceMicros": "1900000",
              "currency": "CHF"
            },
            "LK": {
              "priceMicros": "600000000",
              "currency": "LKR"
            },
            "LT": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "LU": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "LV": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "MA": {
              "priceMicros": "23990000",
              "currency": "MAD"
            },
            "MC": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "MM": {
              "priceMicros": "4000000000",
              "currency": "MMK"
            },
            "MO": {
              "priceMicros": "15990000",
              "currency": "MOP"
            },
            "MX": {
              "priceMicros": "42000000",
              "currency": "MXN"
            },
            "MY": {
              "priceMicros": "9990000",
              "currency": "MYR"
            },
            "NG": {
              "priceMicros": "3280000000",
              "currency": "NGN"
            },
            "NL": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "NO": {
              "priceMicros": "26000000",
              "currency": "NOK"
            },
            "NZ": {
              "priceMicros": "3790000",
              "currency": "NZD"
            },
            "OM": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "PA": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "PE": {
              "priceMicros": "7490000",
              "currency": "PEN"
            },
            "PH": {
              "priceMicros": "119000000",
              "currency": "PHP"
            },
            "PK": {
              "priceMicros": "550000000",
              "currency": "PKR"
            },
            "PL": {
              "priceMicros": "9690000",
              "currency": "PLN"
            },
            "PT": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "PY": {
              "priceMicros": "20000000000",
              "currency": "PYG"
            },
            "QA": {
              "priceMicros": "7500000",
              "currency": "QAR"
            },
            "RO": {
              "priceMicros": "10990000",
              "currency": "RON"
            },
            "RS": {
              "priceMicros": "249000000",
              "currency": "RSD"
            },
            "RU": {
              "priceMicros": "179000000",
              "currency": "RUB"
            },
            "SA": {
              "priceMicros": "8590000",
              "currency": "SAR"
            },
            "SE": {
              "priceMicros": "26000000",
              "currency": "SEK"
            },
            "SG": {
              "priceMicros": "2980000",
              "currency": "SGD"
            },
            "SI": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "SK": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "SM": {
              "priceMicros": "1890000",
              "currency": "EUR"
            },
            "SV": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "TC": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "TH": {
              "priceMicros": "78000000",
              "currency": "THB"
            },
            "TR": {
              "priceMicros": "77990000",
              "currency": "TRY"
            },
            "TW": {
              "priceMicros": "68000000",
              "currency": "TWD"
            },
            "TZ": {
              "priceMicros": "5500000000",
              "currency": "TZS"
            },
            "UA": {
              "priceMicros": "94990000",
              "currency": "UAH"
            },
            "US": {
              "priceMicros": "2000000",
              "currency": "USD"
            },
            "VA": {
              "priceMicros": "1890000",
              "currency": "EUR"
            },
            "VG": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "VN": {
              "priceMicros": "51000000000",
              "currency": "VND"
            },
            "ZA": {
              "priceMicros": "41990000",
              "currency": "ZAR"
            }
          },
          "listings": {
            "en-US": {
              "title": "Gumroad Product",
              "description": "Gumroad Product $2"
            }
          },
          "defaultLanguage": "en-US",
          "managedProductTaxesAndComplianceSettings": {
            "eeaWithdrawalRightType": "WITHDRAWAL_RIGHT_DIGITAL_CONTENT"
          }
        }
  recorded_at: Thu, 04 Jul 2024 23:40:50 GMT
recorded_with: VCR 6.2.0
