---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d613b771-5724-40a8-9260-5b56b4e1ec6a
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d613b771-5724-40a8-9260-5b56b4e1ec6a
      Original-Request:
      - req_iGR2LcpLltr5xB
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O3KyT9e1RjUNIyYFQEm3wCY",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1697817057,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 20 Oct 2023 15:50:57 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O3KyT9e1RjUNIyYFQEm3wCY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar7fad3dad5.test.gumroad.com%3A31337%2Fl%2Fo&metadata[purchase]=bfi_30HLgGWL8H2wo_Gzlg%3D%3D&transfer_group=3&confirmation_method=manual&confirm=true&off_session=true&payment_method=pm_0O3KyT9e1RjUNIyYFQEm3wCY&statement_descriptor_suffix=edgar7fad3dad5
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5f6bc23d-d801-4b84-a050-bbc9cbc2d428
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5f6bc23d-d801-4b84-a050-bbc9cbc2d428
      Original-Request:
      - req_Mfbby3sHWn7TIf
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O3KyU9e1RjUNIyY0vXi1oho",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [
              {
                "id": "ch_2O3KyU9e1RjUNIyY0Jpml0Mt",
                "object": "charge",
                "amount": 100,
                "amount_captured": 100,
                "amount_refunded": 0,
                "amount_updates": [],
                "application": null,
                "application_fee": null,
                "application_fee_amount": null,
                "balance_transaction": "txn_2O3KyU9e1RjUNIyY0kYVu1GE",
                "billing_details": {
                  "address": {
                    "city": null,
                    "country": null,
                    "line1": null,
                    "line2": null,
                    "postal_code": null,
                    "state": null
                  },
                  "email": null,
                  "name": null,
                  "phone": null
                },
                "calculated_statement_descriptor": "GUMRD.COM* EDGAR7FAD3D",
                "captured": true,
                "created": 1697817059,
                "currency": "usd",
                "customer": null,
                "description": "You bought http://edgar7fad3dad5.test.gumroad.com:31337/l/o",
                "destination": null,
                "dispute": null,
                "disputed": false,
                "failure_balance_transaction": null,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {},
                "invoice": null,
                "livemode": false,
                "metadata": {
                  "purchase": "bfi_30HLgGWL8H2wo_Gzlg=="
                },
                "on_behalf_of": null,
                "order": null,
                "outcome": {
                  "network_status": "approved_by_network",
                  "reason": null,
                  "risk_level": "normal",
                  "risk_score": 30,
                  "seller_message": "Payment complete.",
                  "type": "authorized"
                },
                "paid": true,
                "payment_intent": "pi_2O3KyU9e1RjUNIyY0vXi1oho",
                "payment_method": "pm_0O3KyT9e1RjUNIyYFQEm3wCY",
                "payment_method_details": {
                  "card": {
                    "amount_authorized": 100,
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": "pass"
                    },
                    "country": "US",
                    "exp_month": 12,
                    "exp_year": 2023,
                    "extended_authorization": {
                      "status": "disabled"
                    },
                    "fingerprint": "W691J2Ye3VDoq6Ij",
                    "funding": "credit",
                    "incremental_authorization": {
                      "status": "unavailable"
                    },
                    "installments": null,
                    "last4": "4242",
                    "mandate": null,
                    "multicapture": {
                      "status": "unavailable"
                    },
                    "network": "visa",
                    "network_token": {
                      "used": false
                    },
                    "overcapture": {
                      "maximum_amount_capturable": 100,
                      "status": "unavailable"
                    },
                    "three_d_secure": null,
                    "wallet": null
                  },
                  "type": "card"
                },
                "receipt_email": null,
                "receipt_number": null,
                "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo48PKqQYyBh5mi_LNVzosFuQ4d4wmHYte7YLlSYMJwu2IJwFK1ErINy6WmMD63bOiBjTGKVoFH1GpKw4",
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/ch_2O3KyU9e1RjUNIyY0Jpml0Mt/refunds"
                },
                "review": null,
                "shipping": null,
                "source": null,
                "source_transfer": null,
                "statement_descriptor": null,
                "statement_descriptor_suffix": "edgar7fad3dad5",
                "status": "succeeded",
                "transfer_data": null,
                "transfer_group": "3"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges?payment_intent=pi_2O3KyU9e1RjUNIyY0vXi1oho"
          },
          "client_secret": "pi_2O3KyU9e1RjUNIyY0vXi1oho_secret_PwYjnox7XKqq7Kud8VipvFXhU",
          "confirmation_method": "manual",
          "created": 1697817058,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar7fad3dad5.test.gumroad.com:31337/l/o",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O3KyU9e1RjUNIyY0Jpml0Mt",
          "livemode": false,
          "metadata": {
            "purchase": "bfi_30HLgGWL8H2wo_Gzlg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O3KyT9e1RjUNIyYFQEm3wCY",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar7fad3dad5",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "3"
        }
  recorded_at: Fri, 20 Oct 2023 15:51:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O3KyU9e1RjUNIyY0Jpml0Mt?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O3KyU9e1RjUNIyY0Jpml0Mt",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O3KyU9e1RjUNIyY0kYVu1GE",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1698105600,
            "created": 1697817059,
            "currency": "usd",
            "description": "You bought http://edgar7fad3dad5.test.gumroad.com:31337/l/o",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2O3KyU9e1RjUNIyY0Jpml0Mt",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calcula[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O3KyU9e1RjUNIyY0Jpml0Mt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2O3KyU9e1RjUNIyY0Jpml0Mt&reason=fraudulent
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a3880bf7-ef27-4b57-89d2-21940c01df6e
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a3880bf7-ef27-4b57-89d2-21940c01df6e
      Original-Request:
      - req_6v3JhgIRtRmgrK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2O3KyU9e1RjUNIyY00gB9Clq",
          "object": "refund",
          "amount": 100,
          "balance_transaction": "txn_2O3KyU9e1RjUNIyY0j1u1vNN",
          "charge": "ch_2O3KyU9e1RjUNIyY0Jpml0Mt",
          "created": 1697817062,
          "currency": "usd",
          "metadata": {},
          "payment_intent": "pi_2O3KyU9e1RjUNIyY0vXi1oho",
          "reason": "fraudulent",
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Fri, 20 Oct 2023 15:51:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2O3KyU9e1RjUNIyY00gB9Clq?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O3KyU9e1RjUNIyY0Jpml0Mt?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
