---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/payouts/po_1MjvG6S3ZeAbEknFg2elYwet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1Mid1dS3ZeAbEknF
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1Mid1dS3ZeAbEknF
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "po_1MjvG6S3ZeAbEknFg2elYwet",
          "object": "payout",
          "amount": -10000,
          "arrival_date": 1678406400,
          "automatic": true,
          "balance_transaction": "txn_1MjvG6S3ZeAbEknFPvZRik6K",
          "created": 1678413638,
          "currency": "usd",
          "description": "STRIPE PAYOUT",
          "destination": "ba_1Mid1dS3ZeAbEknFLNPfy4rl",
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "original_payout": null,
          "reconciliation_status": "completed",
          "reversed_by": null,
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "type": "bank_account"
        }
  recorded_at: Mon, 30 Oct 2023 18:57:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payouts/po_1MjvG6S3ZeAbEknFg2elYwet?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1Mid1dS3ZeAbEknF
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1Mid1dS3ZeAbEknF
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "po_1MjvG6S3ZeAbEknFg2elYwet",
          "object": "payout",
          "amount": -10000,
          "arrival_date": 1678406400,
          "automatic": true,
          "balance_transaction": {
            "id": "txn_1MjvG6S3ZeAbEknFPvZRik6K",
            "object": "balance_transaction",
            "amount": 10000,
            "available_on": 1678413638,
            "created": 1678413638,
            "currency": "usd",
            "description": "STRIPE PAYOUT",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 10000,
            "reporting_category": "payout",
            "source": "po_1MjvG6S3ZeAbEknFg2elYwet",
            "status": "available",
            "type": "payout"
          },
          "created": 1678413638,
          "currency": "usd",
          "description": "STRIPE PAYOUT",
          "destination": "ba_1Mid1dS3ZeAbEknFLNPfy4rl",
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "original_payout": null,
          "reconciliation_status": "completed",
          "reversed_by": null,
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "type": "bank_account"
        }
  recorded_at: Mon, 30 Oct 2023 18:57:38 GMT
[...]
