---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=CH&default_currency=chf&metadata[user_id]=5319124722297&metadata[tos_agreement_id]=LiwbSxjgb3UcT38qWgs9lw%3D%3D&metadata[user_compliance_info_id]=LiwbSxjgb3UcT38qWgs9lw%3D%3D&metadata[bank_account_id]=LiwbSxjgb3UcT38qWgs9lw%3D%3D&tos_acceptance[date]=1427846400&tos_acceptance[ip]=54.234.242.13&business_type=company&business_profile[name]=Buy+More%2C+LLC&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Buy+More%2C+LLC&company[name]=Buy+More%2C+LLC&company[address][line1]=address_full_match&company[address][city]=Switzerland&company[address][postal_code]=3436&company[address][country]=CH&company[tax_id]=000000000&company[phone]=0000000000&company[directors_provided]=true&company[executives_provided]=true&bank_account[country]=CH&bank_account[currency]=chf&bank_account[account_number]=CH9300762011623852957&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - '093e1721-4bcd-46b8-8afb-33465c90a155'
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '093e1721-4bcd-46b8-8afb-33465c90a155'
      Original-Request:
      - req_1lgzAfKKQt9K2c
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1Ot4FbS3Yjyg5OGs",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "name": "Buy More, LLC",
            "product_description": "Buy More, LLC",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "company",
          "capabilities": {
            "card_payments": "inactive",
            "transfers": "inactive"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "Switzerland",
              "country": "CH",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "3436",
              "state": null
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": "Buy More, LLC",
            "owners_provided": false,
            "phone": "0000000000",
            "tax_id_provided": true,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "CH",
          "created": 1710145828,
          "default_currency": "chf",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1Ot4FbS3Yjyg5OGsOm48eZd8",
                "object": "bank_account",
                "account": "acct_1Ot4FbS3Yjyg5OGs",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "CH",
                "currency": "chf",
                "default_for_currency": true,
                "fingerprint": "JuD3G5ckRyBVvczY",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "2957",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1Ot4FbS3Yjyg5OGs/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "metadata": {
            "bank_account_id": "LiwbSxjgb3UcT38qWgs9lw==",
            "tos_agreement_id": "LiwbSxjgb3UcT38qWgs9lw==",
            "user_compliance_info_id": "LiwbSxjgb3UcT38qWgs9lw==",
            "user_id": "5319124722297"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "company.owners_provided",
              "owners.address.city",
              "owners.address.line1",
              "owners.address.postal_code",
              "owners.dob.day",
              "owners.dob.month",
              "owners.dob.year",
              "owners.email",
              "owners.first_name",
              "owners.last_name",
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1Ot4FbS3Yjyg5OGs/persons
    body:
      encoding: UTF-8
      string: first_name=Chuck&last_name=Bartowski&email=chuck%40gum.com&phone=0000000000&address[line1]=address_full_match&address[city]=Switzerland&address[postal_code]=3436&address[country]=CH&dob[day]=1&dob[month]=1&dob[year]=1901&id_number=000000000&relationship[representative]=true&relationship[owner]=true&relationship[title]=CEO&relationship[percent_ownership]=100
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 24f037d2-5c6c-4c60-86e2-6e0990eceb2a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 24f037d2-5c6c-4c60-86e2-6e0990eceb2a
      Original-Request:
      - req_gIdXqDPLaikvWr
      Stripe-Account:
      - acct_1Ot4FbS3Yjyg5OGs
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "person_1Ot4FfS3Yjyg5OGsLAFollI3",
          "object": "person",
          "account": "acct_1Ot4FbS3Yjyg5OGs",
          "additional_tos_acceptances": {
            "account": {
              "date": null,
              "ip": null,
              "user_agent": null
            }
          },
          "address": {
            "city": "Switzerland",
            "country": "CH",
            "line1": "address_full_match",
            "line2": null,
            "postal_code": "3436",
            "state": null
          },
          "created": 1710145831,
          "dob": {
            "day": 1,
            "month": 1,
            "year": 1901
          },
          "email": "chuck@gum.com",
          "first_name": "Chuck",
          "future_requirements": {
            "alternatives": [],
            "currently_due": [],
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "id_number_provided": true,
          "last_name": "Bartowski",
          "metadata": {},
          "phone": "+10000000000",
          "relationship": {
            "director": false,
            "executive": false,
            "legal_guardian": false,
            "owner": true,
            "percent_ownership": 100.0,
            "representative": true,
            "title": "CEO"
          },
          "requirements": {
            "alternatives": [],
            "currently_due": [],
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "ssn_last_4_provided": true,
          "verification": {
            "additional_document": {
              "back": null,
              "details": null,
              "details_code": null,
              "front": null
            },
            "details": null,
            "details_code": null,
            "document": {
              "back": null,
              "details": null,
              "details_code": null,
              "front": null
            },
            "status": "pending"
          }
        }
  recorded_at: Mon, 11 Mar 2024 08:30:32 GMT
recorded_with: VCR 6.2.0
