---
http_interactions:
- request:
    method: get
    uri: https://app.circle.so/api/v1/communities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token <CIRCLE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c9f064a2f2417780b20c7fc34676473"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":3512,"name":"Gumroad","slug":"gumroad","icon_url":"https://d2y5h3osumboay.cloudfront.net/o4431o822um5prcmyefm7pc9fhht","logo_url":"https://d2y5h3osumboay.cloudfront.net/jwp8ec5m46vtdw05eki9fd38ga7zJ5Hj6yK1","owner_id":200455,"is_private":false,"space_ids":[24914,24916,24918,24919,25148,25159,27096,32841,42109,42111,42112,76381,77110,97329,97374,97376,97377,97378,98660,98664,105741,105742,116356,116357,132358,132553,132554,132556,132557,132559,132560,132561,132562,132563,132565,132566,132567,132568,132569,132571,132573,132574,132575,134985,139900,140195,142769,142937],"last_visited_by_current_user":true,"default_existing_member_space_id":0,"root_url":"community.gumroad.com","display_on_switcher":true,"prefs":{"has_posts":true,"has_spaces":true,"has_topics":true,"brand_color":"#00959A","has_seen_widget":true,"has_invited_member":true,"has_completed_onboarding":true}}]'
  recorded_at: Fri, 20 Aug 2021 14:03:40 GMT
recorded_with: VCR 6.0.0
