---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ea109e85-7d92-4844-8e60-02cd2f098394
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ea109e85-7d92-4844-8e60-02cd2f098394
      Original-Request:
      - req_2ZyiOIr0oZEYyN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0RrClw9e1RjUNIyYKVrXJ0C6",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1754030936,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 01 Aug 2025 06:48:56 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0RrClw9e1RjUNIyYKVrXJ0C6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0RrClw9e1RjUNIyYKVrXJ0C6
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 86732035-1c0d-4bcd-9839-204e3d97c47a
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 86732035-1c0d-4bcd-9839-204e3d97c47a
      Original-Request:
      - req_3CHDDl2sU2rJzd
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_SmmKApa1RNjUSF",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1754030937,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "FAHGXLQ1",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 01 Aug 2025 06:48:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method_types[0]=card&usage=off_session&customer=cus_SmmKApa1RNjUSF&payment_method=pm_0RrClw9e1RjUNIyYKVrXJ0C6
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 39f36456-324c-4b03-92dd-cd7bf1fa4ade
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 39f36456-324c-4b03-92dd-cd7bf1fa4ade
      Original-Request:
      - req_fGBfwUqwkY9qU5
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0RrCly9e1RjUNIyYS97Fdrf3",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0RrCly9e1RjUNIyYS97Fdrf3_secret_SmmKL8M2KISCy4AT5wTv1Yt75LfUs1s",
          "created": 1754030938,
          "customer": "cus_SmmKApa1RNjUSF",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": null,
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0RrClw9e1RjUNIyYKVrXJ0C6",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "requires_confirmation",
          "usage": "off_session"
        }
  recorded_at: Fri, 01 Aug 2025 06:48:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents/seti_0RrCly9e1RjUNIyYS97Fdrf3/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2deee4a4-69d9-4ccd-bae9-54387f6c0a70
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    head[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=You+bought+http%3A%2F%2Fedgar5fce25a810.test.gumroad.com%3A31337%2Fl%2Fr%21&metadata[purchase]=lxkZfWGKbJ0DK08hDNPdZA%3D%3D&transfer_group=7&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_SmmKApa1RNjUSF&payment_method=pm_0RrClw9e1RjUNIyYKVrXJ0C6&statement_descriptor_suffix=edgar5fce25a810
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 149739a0-f8a8-4352-9253-2c7fc2e25725
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 149739a0-f8a8-4352-9253-2c7fc2e25725
      Original-Request:
      - req_9z4IwDS96Ta9zX
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2RrCm09e1RjUNIyY1X8upmwh",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2RrCm09e1RjUNIyY1X8upmwh_secret_vnLiXPj28gJb7Py3M51c38eJD",
          "confirmation_method": "automatic",
          "created": 1754030940,
          "currency": "usd",
          "customer": "cus_SmmKApa1RNjUSF",
          "description": "You bought http://edgar5fce25a810.test.gumroad.com:31337/l/r!",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2RrCm09e1RjUNIyY1UNVGAmE",
          "livemode": false,
          "metadata": {
            "purchase": "lxkZfWGKbJ0DK08hDNPdZA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0RrClw9e1RjUNIyYKVrXJ0C6",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar5fce25a810",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "7"
        }
  recorded_at: Fri, 01 Aug 2025 06:49:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2RrCm09e1RjUNIyY1UNVGAmE?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2RrCm09e1RjUNIyY1UNVGAmE",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2RrCm09e1RjUNIyY15lfeGcZ",
            "object": "balance_transaction",
            "amount": 1000,
            "available_on": 1754352000,
            "balance_type": "payments",
            "created": 1754030941,
            "currency": "usd",
            "description": "You bought http://edgar5fce25a810.test.gumroad.com:31337/l/r!",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 1000,
            "reporting_category": "charge",
            "source": "ch_2RrCm09e1RjUNIyY1UNVGAmE",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGAR5FCE25A8",
          "captured": true,
          "created": 1754030941,
          "currency": "usd",
          "customer": "cus_SmmKApa1RNjUSF",
          "description": "You bought http://edgar5fce25a810.test.gumroad.com:31337/l/r!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "lxkZfWGKbJ0DK08hDNPdZA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 2,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2RrCm09e1RjUNIyY1X8upmwh",
          "payment_method": "pm_0RrClw9e1RjUNIyYKVrXJ0C6",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "authorization_code": "577827",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "875457497450891",
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo3saxxAYyBkPM1hUN4zosFtiP0uiap717k-oFxbxbsK4hgcfpRlv889OUlgu2SXUbReu-5AsvfEGAHqc",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar5fce25a810",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "7"
        }
  recorded_at: Fri, 01 Aug 2025 06:49:02 GMT
recorded_with: VCR 6.2.0
