---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers?created%5Bgte%5D=1669689973&destination=acct_1MABWa2noRrbY6cK&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "tr_2Mlbxe9e1RjUNIyY1HPlW3LD",
              "object": "transfer",
              "amount": 880,
              "amount_reversed": 0,
              "balance_transaction": "txn_2Mlbxe9e1RjUNIyY1I4B32hA",
              "created": 1678816115,
              "currency": "usd",
              "description": null,
              "destination": "acct_1MABWa2noRrbY6cK",
              "destination_payment": "py_1Mlbxf2noRrbY6cKmfABkVTR",
              "livemode": false,
              "metadata": {},
              "reversals": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/transfers/tr_2Mlbxe9e1RjUNIyY1HPlW3LD/reversals"
              },
              "reversed": false,
              "source_transaction": "ch_2Mlbxe9e1RjUNIyY1Yf8TANG",
              "source_type": "card",
              "transfer_group": "3"
            }
          ],
          "has_more": false,
          "url": "/v1/transfers"
        }
  recorded_at: Mon, 30 Oct 2023 10:00:31 GMT
recorded_with: VCR 6.2.0
