---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b9059a6c-b192-4b1e-8aa3-53aede1563d6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b9059a6c-b192-4b1e-8aa3-53aede1563d6
      Original-Request:
      - req_RGkBVys8ES7XjP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0P5XFS9e1RjUNIyYvvc3TGuY",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1713117230,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 14 Apr 2024 17:53:50 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0P5XFS9e1RjUNIyYvvc3TGuY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgarf7bd45a61.test.gumroad.com%3A31337%2Fl%2Fp&metadata[purchase]=G_-mnBf9b1j9A7a4ub4nFQ%3D%3D&transfer_group=1&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0P5XFS9e1RjUNIyYvvc3TGuY&statement_descriptor_suffix=edgarf7bd45a61
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a49950d2-3ad0-4b5a-baad-0cc390df70d0
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a49950d2-3ad0-4b5a-baad-0cc390df70d0
      Original-Request:
      - req_7vl3BHYoeUCdG4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2P5XFT9e1RjUNIyY0FiJ49qr",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2P5XFT9e1RjUNIyY0FiJ49qr_secret_SjkOUrohteWRzDlNoWokcx2Cn",
          "confirmation_method": "automatic",
          "created": 1713117231,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarf7bd45a61.test.gumroad.com:31337/l/p",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2P5XFT9e1RjUNIyY0nk38zRv",
          "livemode": false,
          "metadata": {
            "purchase": "G_-mnBf9b1j9A7a4ub4nFQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0P5XFS9e1RjUNIyYvvc3TGuY",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarf7bd45a61",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1"
        }
  recorded_at: Sun, 14 Apr 2024 17:53:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2P5XFT9e1RjUNIyY0nk38zRv?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2P5XFT9e1RjUNIyY0nk38zRv",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2P5XFT9e1RjUNIyY0O55rWNy",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1713225600,
            "created": 1713117231,
            "currency": "usd",
            "description": "You bought http://edgarf7bd45a61.test.gumroad.com:31337/l/p",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2P5XFT9e1RjUNIyY0nk38zRv",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARF7BD45",
          "captured": true,
          "created": 1713117231,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgarf7bd45a61.test.gumroad.com:31337/l/p",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "G_-mnBf9b1j9A7a4ub4nFQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 10,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2P5XFT9e1RjUNIyY0FiJ49qr",
          "payment_method": "pm_0P5XFS9e1RjUNIyYvvc3TGuY",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUosbDwsAYyBjaCmkJeNjosFs9kyEQWXq_EJjj94vkaH3CjBMqpW-_by2gUtn5sp4HohnsCZLFN-CnPXhc",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarf7bd45a61",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1"
        }
  recorded_at: Sun, 14 Apr 2024 17:53:53 GMT
- request:
    method: post
    uri: https://apisandbox.iras.gov.sg/iras/sb/GSTListing/SearchGSTRegistered
    body:
      encoding: UTF-8
      string: '{"clientID":"<IRAS_API_ID>","regID":"T9100001C"}'
    headers:
      X-Ibm-Client-Id:
      - <IRAS_API_ID>
      X-Ibm-Client-Secret:
      - <IRAS_API_SECRET>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      True-Client-Ip:
      - 99.199.137.97
      X-Edgeconnect-Session-Id:
      - 69961eb8-661c1831-19b087
      X-Akamai-Config-Log-Detail:
      - 'true'
      Akamai-Origin-Hop:
      - '2'
      X-Global-Transaction-Id:
      - 5d3bc880661c183204ad7af0
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - name=default,100;
      X-Ratelimit-Remaining:
      - name=default,94;
    body:
      encoding: UTF-8
      string: '{"returnCode":"30","info":{"fieldInfoList":[],"message":"Invalid test
        user","messageCode":"850305"}}'
  recorded_at: Sun, 14 Apr 2024 17:53:54 GMT
recorded_with: VCR 6.2.0
