---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c381a572-9c20-49f1-ae66-025395ebbd9d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c381a572-9c20-49f1-ae66-025395ebbd9d
      Original-Request:
      - req_4hxRfCrFK4h35U
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0P5X259e1RjUNIyYTAsA4F4z",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1713116401,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 14 Apr 2024 17:40:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0P5X259e1RjUNIyYTAsA4F4z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgareb5353874.test.gumroad.com%3A31337%2Fl%2Ft&metadata[purchase]=HtQP9j1YxR1IrZ7nNQkRVw%3D%3D&transfer_group=15&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0P5X259e1RjUNIyYTAsA4F4z&statement_descriptor_suffix=edgareb5353874
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7fc55a29-36c9-46b8-b890-6919597f4b9e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7fc55a29-36c9-46b8-b890-6919597f4b9e
      Original-Request:
      - req_VwLqgmbhoRPKQS
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2P5X259e1RjUNIyY1HzYIRsY",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2P5X259e1RjUNIyY1HzYIRsY_secret_DvHE5acFIPgj9uBcYhnq37AUZ",
          "confirmation_method": "automatic",
          "created": 1713116401,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgareb5353874.test.gumroad.com:31337/l/t",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2P5X259e1RjUNIyY1UJRjuGn",
          "livemode": false,
          "metadata": {
            "purchase": "HtQP9j1YxR1IrZ7nNQkRVw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0P5X259e1RjUNIyYTAsA4F4z",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgareb5353874",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "15"
        }
  recorded_at: Sun, 14 Apr 2024 17:40:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2P5X259e1RjUNIyY1UJRjuGn?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2P5X259e1RjUNIyY1UJRjuGn",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2P5X259e1RjUNIyY1fwzaLwC",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1713225600,
            "created": 1713116402,
            "currency": "usd",
            "description": "You bought http://edgareb5353874.test.gumroad.com:31337/l/t",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2P5X259e1RjUNIyY1UJRjuGn",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAREB5353",
          "captured": true,
          "created": 1713116402,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgareb5353874.test.gumroad.com:31337/l/t",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "HtQP9j1YxR1IrZ7nNQkRVw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 1,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2P5X259e1RjUNIyY1HzYIRsY",
          "payment_method": "pm_0P5X259e1RjUNIyYTAsA4F4z",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo86nwsAYyBjdcmOl7_DosFtofBtJtlCjBpbT_7C1F4ZvfY1niY2bt--l9eSSeouAo-m9OXRrjPIQ0kcU",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgareb5353874",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "15"
        }
  recorded_at: Sun, 14 Apr 2024 17:40:03 GMT
- request:
    method: post
    uri: https://api.vatstack.com/v1/validations
    body:
      encoding: UTF-8
      string: type=au_gst&query=11111111111
    headers:
      X-Api-Key:
      - <VATSTACK_API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"51-qx1FBiEKI26xH0eC3b/nGTd+o+U"
    body:
      encoding: UTF-8
      string: '{"code":"INVALID_INPUT","query":"11111111111","valid":false,"valid_format":false}'
  recorded_at: Sun, 14 Apr 2024 17:40:04 GMT
recorded_with: VCR 6.2.0
