---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6eecc67b-c2e0-419b-b211-e02e6425d4ac
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6eecc67b-c2e0-419b-b211-e02e6425d4ac
      Original-Request:
      - req_s9OwKxa8kLI8si
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0P5X1z9e1RjUNIyYGkT4y8sN",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1713116395,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 14 Apr 2024 17:39:55 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0P5X1z9e1RjUNIyYGkT4y8sN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar36dc956e3.test.gumroad.com%3A31337%2Fl%2Fe&metadata[purchase]=BhOHgwVyg1_-bYvQzyjpaA%3D%3D&transfer_group=13&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0P5X1z9e1RjUNIyYGkT4y8sN&statement_descriptor_suffix=edgar36dc956e3
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f4193dc3-19d5-47ff-909e-79a8c70d2bbb
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f4193dc3-19d5-47ff-909e-79a8c70d2bbb
      Original-Request:
      - req_x72KIymv530NU8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2P5X1z9e1RjUNIyY1TUUyf2c",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2P5X1z9e1RjUNIyY1TUUyf2c_secret_qHO3kmKQYuKr8hm8QbkvMAydJ",
          "confirmation_method": "automatic",
          "created": 1713116395,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar36dc956e3.test.gumroad.com:31337/l/e",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2P5X1z9e1RjUNIyY1X2lsu9P",
          "livemode": false,
          "metadata": {
            "purchase": "BhOHgwVyg1_-bYvQzyjpaA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0P5X1z9e1RjUNIyYGkT4y8sN",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar36dc956e3",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "13"
        }
  recorded_at: Sun, 14 Apr 2024 17:39:56 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2P5X1z9e1RjUNIyY1X2lsu9P?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2P5X1z9e1RjUNIyY1X2lsu9P",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2P5X1z9e1RjUNIyY11jdd03D",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1713225600,
            "created": 1713116395,
            "currency": "usd",
            "description": "You bought http://edgar36dc956e3.test.gumroad.com:31337/l/e",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2P5X1z9e1RjUNIyY1X2lsu9P",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR36DC95",
          "captured": true,
          "created": 1713116395,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar36dc956e3.test.gumroad.com:31337/l/e",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "BhOHgwVyg1_-bYvQzyjpaA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 6,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2P5X1z9e1RjUNIyY1TUUyf2c",
          "payment_method": "pm_0P5X1z9e1RjUNIyYGkT4y8sN",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo7anwsAYyBoX65U3cDjosFg69csYFwFEyBkMUarmEyhoHLeDOzJjLdVKxNAnN-joeDRA9hHExiEIyjVg",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar36dc956e3",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "13"
        }
  recorded_at: Sun, 14 Apr 2024 17:39:57 GMT
- request:
    method: post
    uri: https://api.vatstack.com/v1/validations
    body:
      encoding: UTF-8
      string: type=au_gst&query=51824753556
    headers:
      X-Api-Key:
      - <VATSTACK_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"22b-Av2n5QoWSmSBXAzYkh43arpK45g"
    body:
      encoding: UTF-8
      string: '{"active":true,"address":{"line_1":null,"line_2":null,"line_3":null,"line_4":null,"city":null,"country_code":null,"postal_code":null,"state":null},"company_address":"NSW
        2020","company_name":"[TEST] KANGAROO AIRWAYS LIMITED","company_type":"PUB","consultation_number":null,"country_code":"AU","created":"2024-04-14T17:39:58.071Z","external_id":null,"id":"661c14eed33beb30ded40111","query":"51824753556","requested":"2024-04-14T17:39:58.051Z","type":"au_gst","updated":"2024-04-14T17:39:58.071Z","valid":true,"valid_format":true,"vat_number":"51824753556"}'
  recorded_at: Sun, 14 Apr 2024 17:39:58 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2P5X1z9e1RjUNIyY1X2lsu9P
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      enco[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_2P5X1z9e1RjUNIyY1X2lsu9P&amount=20
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d4d97ef2-d945-48b6-9869-63d148460272
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d4d97ef2-d945-48b6-9869-63d148460272
      Original-Request:
      - req_N0eIUhWo5FTItl
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_2P5X1z9e1RjUNIyY1NtcOBXG",
          "object": "refund",
          "amount": 20,
          "balance_transaction": "txn_2P5X1z9e1RjUNIyY1IeOym0L",
          "charge": "ch_2P5X1z9e1RjUNIyY1X2lsu9P",
          "created": 1713116398,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_2P5X1z9e1RjUNIyY1TUUyf2c",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Sun, 14 Apr 2024 17:39:59 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds/re_2P5X1z9e1RjUNIyY1NtcOBXG?expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2P5X1z9e1RjUNIyY1X2lsu9P?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
