---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJwbGF5LWJpbGxpbmctYXBpQGd1bXJvYWQtbGlicmFyeS5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsImF1ZCI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL29hdXRoMi92NC90b2tlbiIsImV4cCI6MTcyMDI3NzQyNywiaWF0IjoxNzIwMjc3MzA3LCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvYW5kcm9pZHB1Ymxpc2hlciJ9.kwh3wcTp0S9Q2HVOYRj0Ne-2g43BNzjwyqFl6kYYa8RGFLOHCUbOYjChCTpJZUUBzCroWNjyLBV2f_y_4v0Qbym9EzB18jr4l9bBwUmAmrO0-wLZZglhuoz94o1lP8KTLaJRE_8Xgc8OvyNMSNQ8ZUqourcY5_r9ldZKL6J38G94tdgMotgR2rJk8xZHhcDNhGQs-z7wLgQPDib6p2ibWSpI8t9DmyAOhMkd4MYM0eZPKpEKnmubLwoIZErAUe0UFkgKWNCnSEGav733u4g0vDXs3ZC-tA96XFKybrjpNJ71qZe_nZf8TsBLf4l8rmKhVrfbrWFt1cdUdrcsD111hA
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ya29.c.c0AY_VpZjlm_weWHHZJXaZKhU6FdRJuh9Fxt87YrcSppM6euDlTChytvojlrspgFZ-SJrgZGeYVqmTZgBI_5IYUvL1I3bLglhQNkMZnZPiXC8jc6Og5gqheo-dJAUJcVNYfKeTv3ndgLyVJu6GxY6yFXcDk-5B8U8hIPjWGr5ZQrZ9t76DtNQF11_17zhBw4jWg3R8ZXhpx81on4RtWUpCjY_GZ7mNYCxpmK_c0hDIcUp4ZFfC_mz1X1jyrctTI2ut3serUt6l_nMRUFYxwBv6V51MylvesmT9NEC-4hlhOJqvAO_6OlgrqGTQe814Dr__X9QYzCQ3wxWK5htRxy8cZAvUq1KdD1nWj583tzixvk3bujA244U6bQG383DnXYBoXOYnewS6yjR5FQlSWzUnjvozUkk51qqQmlhpj9_FrhISvUuywRkwWh14v5sk1Fywh2FwVWax9zeWgpvwX194uvFduS_uYIx8xBy83MWuIItOf4Rg2yMFoWS21pv5qzrdi_-fbv0Wyfo1O0mtkZnjcjluSUZ-dZa07brB-xdXR7VYxd4eQRcVqko2zrwVbYkVFw7ja6rrS6YubRlZvxzhRXOWMuxWxuQlOJ5Y_URhZsbStIWimg7sfRFJVkM1R2gSZZjOBx62xe7r104fcmv787uppYv-YpQ1qg7ZOSBkm3y6gz8wvvWMlS-pY36uQbuOs_RRBoqkyR3bcch-kIlvU6xSyUIFbO29Oh2rFu_qB8fgZohuYb3mIibpRVhsYv25ld7txUSxZSQS4YaqYghkb89a8moBsmaY6Bp-OY48jZgkbO_FXhqBhnwXhShp4WYrXzJ--RdzQMJzlcF-0eRdkhgseUnwXiqiIztyr4g_0b0mzp8Xlaor-4wq69UqskojaZUYqltnhW8kztBg2Si7l0zJw_3te-Z_ZtZiqWcajaQ6bZ04sau0l2JSJiQwOcuBstfYdUbebs7BoI8Wai51YX5kb6JtorQdqIwbRt3msMb-8lB9b6JrlaF","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Sat, 06 Jul 2024 14:49:27 GMT
- request:
    method: get
    uri: https://androidpublisher.googleapis.com/androidpublisher/v3/applications/com.gumroad.app/purchases/products/com.gumroad.product_2/tokens/ioaofjheincpkpjngbpeklnj.AO-J1Oz2PB6tI_SYNj1vMDgLuNffrzVMNNZwV9vpOUqFOzicks0zTDZl6xh1q3StS-gxZf0WVjyAyayhPh0-6TwAS8gkahn7FQ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.c0AY_VpZjlm_weWHHZJXaZKhU6FdRJuh9Fxt87YrcSppM6euDlTChytvojlrspgFZ-SJrgZGeYVqmTZgBI_5IYUvL1I3bLglhQNkMZnZPiXC8jc6Og5gqheo-dJAUJcVNYfKeTv3ndgLyVJu6GxY6yFXcDk-5B8U8hIPjWGr5ZQrZ9t76DtNQF11_17zhBw4jWg3R8ZXhpx81on4RtWUpCjY_GZ7mNYCxpmK_c0hDIcUp4ZFfC_mz1X1jyrctTI2ut3serUt6l_nMRUFYxwBv6V51MylvesmT9NEC-4hlhOJqvAO_6OlgrqGTQe814Dr__X9QYzCQ3wxWK5htRxy8cZAvUq1KdD1nWj583tzixvk3bujA244U6bQG383DnXYBoXOYnewS6yjR5FQlSWzUnjvozUkk51qqQmlhpj9_FrhISvUuywRkwWh14v5sk1Fywh2FwVWax9zeWgpvwX194uvFduS_uYIx8xBy83MWuIItOf4Rg2yMFoWS21pv5qzrdi_-fbv0Wyfo1O0mtkZnjcjluSUZ-dZa07brB-xdXR7VYxd4eQRcVqko2zrwVbYkVFw7ja6rrS6YubRlZvxzhRXOWMuxWxuQlOJ5Y_URhZsbStIWimg7sfRFJVkM1R2gSZZjOBx62xe7r104fcmv787uppYv-YpQ1qg7ZOSBkm3y6gz8wvvWMlS-pY36uQbuOs_RRBoqkyR3bcch-kIlvU6xSyUIFbO29Oh2rFu_qB8fgZohuYb3mIibpRVhsYv25ld7txUSxZSQS4YaqYghkb89a8moBsmaY6Bp-OY48jZgkbO_FXhqBhnwXhShp4WYrXzJ--RdzQMJzlcF-0eRdkhgseUnwXiqiIztyr4g_0b0mzp8Xlaor-4wq69UqskojaZUYqltnhW8kztBg2Si7l0zJw_3te-Z_ZtZiqWcajaQ6bZ04sau0l2JSJiQwOcuBstfYdUbebs7BoI8Wai51YX5kb6JtorQdqIwbRt3msMb-8lB9b6JrlaF
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "purchaseTimeMillis": "1720126119585",
          "purchaseState": 0,
          "consumptionState": 1,
          "developerPayload": "",
          "orderId": "GPA.3375-1247-2605-34469",
          "purchaseType": 0,
          "acknowledgementState": 1,
          "kind": "androidpublisher#productPurchase",
          "regionCode": "US"
        }
  recorded_at: Sat, 06 Jul 2024 14:49:27 GMT
[...]
- request:
    method: get
    uri: https://androidpublisher.googleapis.com/androidpublisher/v3/applications/com.gumroad.app/inappproducts/com.gumroad.product_2
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.c0AY_VpZh3S_5KLii4b5-0m_8LIC0pZOpEUNPWCf3RkjQcUZOOaKU55PzFlp1KBJcDm9UkcOT-yD_yQRueqZ2q6OZF1UUTMY4_kX-Yu3BohAn_wWv4MX_gl05pSd78RsXRWI_b7dqohXajIHFnHKcgZqA-Dq26FUsbiBMM3sDIQIF6FhyZJJe5k9gFsSxFpkfTY9azUrLjrrqIGPM__Y73-woYzsSkuG4-HLYEqVaiRXmqjHeHhZrAtXsc_ILmvEkaMxf7Z3YuLUhagkbXbqzY0nd4wb1i4e_YcbSrxgQKjfKBWPk60zOdqK4VRM3K9dNqP-ZHJAW7jy59yeiTKCaUMZI6ifQzvykcz8Kwdsj2yidF5UBzDTirCtgL384AtSru7MYhYmkRy9rgSf_O1g_XUuOFhpoVwu354beoIckfbZz9OkMJmbhV23ZYeBvqfcp9a-_Uh9tSZIaI7bscpQio5c5WgSBbYeqmYMlua-Iu-x-wsZqm-qlUubeWrXVbeuSvZ1h0dBzdqhjQtnSgrXU4o3caUIk-sFz_75k5smd_tY5j7ubcc0tbgl7yXekJwdcYVR84en1ZjhxfJm4pO2Vp5lj3xd0fsUx900Faw9FcVZajJSO5l551jVQpxUVmYy3_VWSFfj6U-RXRh6xn5W6xMku-okwXWzRfO141Rke14ZFtqcl9U_z01I18n1g0_XiYsQRgxgWUM2wqMxRav1wciq0vWqftw8mhjrJdYSJBcassgZbexhSy094SfuRS_t6a47Wz-Q9J1WppjQu1jYXaU0rRSt7O02B2p9i2uoUctln6WJSV1adk_auju7WhkR8y7yufQn3VOl3BWnrMShrjulVewdrsFdt7ZBlRZcuBV2eisq6I8qQ2psWau7ibgkQ4RVhYunqwcc9UeOwBeQOI3zXeqa81QgVXjiIs1-JB4-lXIyFo0B9_BteMfr5WfQ9YguWfsZ4w_uXr5yzQ29UV7nbdSpwUlxpdoqQe2zSu06mdRceMgtOhd_-
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 463f267a1a4746487ce42c921603d7faf6324bee
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "packageName": "com.gumroad.app",
          "sku": "com.gumroad.product_2",
          "status": "active",
          "purchaseType": "managedUser",
          "defaultPrice": {
            "priceMicros": "2000000",
            "currency": "USD"
          },
          "prices": {
            "AE": {
              "priceMicros": "7690000",
              "currency": "AED"
            },
            "AT": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "AU": {
              "priceMicros": "3290000",
              "currency": "AUD"
            },
            "BD": {
              "priceMicros": "290000000",
              "currency": "BDT"
            },
            "BE": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "BG": {
              "priceMicros": "4290000",
              "currency": "BGN"
            },
            "BH": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "BM": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "BO": {
              "priceMicros": "13990000",
              "currency": "BOB"
            },
            "BR": {
              "priceMicros": "10990000",
              "currency": "BRL"
            },
            "CA": {
              "priceMicros": "2690000",
              "currency": "CAD"
            },
            "CH": {
              "priceMicros": "1800000",
              "currency": "CHF"
            },
            "CL": {
              "priceMicros": "2200000000",
              "currency": "CLP"
            },
            "CO": {
              "priceMicros": "8000000000",
              "currency": "COP"
            },
            "CR": {
              "priceMicros": "1100000000",
              "currency": "CRC"
            },
            "CY": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "CZ": {
              "priceMicros": "54990000",
              "currency": "CZK"
            },
            "DE": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "DK": {
              "priceMicros": "17000000",
              "currency": "DKK"
            },
            "DZ": {
              "priceMicros": "275000000",
              "currency": "DZD"
            },
            "EC": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "EE": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "EG": {
              "priceMicros": "109990000",
              "currency": "EGP"
            },
            "ES": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "FI": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "FM": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "FR": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "GB": {
              "priceMicros": "1890000",
              "currency": "GBP"
            },
            "GE": {
              "priceMicros": "7000000",
              "currency": "GEL"
            },
            "GH": {
              "priceMicros": "40000000",
              "currency": "GHS"
            },
            "GI": {
              "priceMicros": "1590000",
              "currency": "GBP"
            },
            "GR": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "HK": {
              "priceMicros": "15000000",
              "currency": "HKD"
            },
            "HR": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "HU": {
              "priceMicros": "899000000",
              "currency": "HUF"
            },
            "ID": {
              "priceMicros": "33000000000",
              "currency": "IDR"
            },
            "IE": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "IL": {
              "priceMicros": "7500000",
              "currency": "ILS"
            },
            "IN": {
              "priceMicros": "200000000",
              "currency": "INR"
            },
            "IQ": {
              "priceMicros": "2600000000",
              "currency": "IQD"
            },
            "IT": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "JO": {
              "priceMicros": "1400000",
              "currency": "JOD"
            },
            "JP": {
              "priceMicros": "320000000",
              "currency": "JPY"
            },
            "KE": {
              "priceMicros": "300000000",
              "currency": "KES"
            },
            "KH": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "KR": {
              "priceMicros": "3000000000",
              "currency": "KRW"
            },
            "KW": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "KY": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "KZ": {
              "priceMicros": "1090000000",
              "currency": "KZT"
            },
            "LI": {
              "priceMicros": "1900000",
              "currency": "CHF"
            },
            "LK": {
              "priceMicros": "600000000",
              "currency": "LKR"
            },
            "LT": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "LU": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "LV": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "MA": {
              "priceMicros": "23990000",
              "currency": "MAD"
            },
            "MC": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "MM": {
              "priceMicros": "4000000000",
              "currency": "MMK"
            },
            "MO": {
              "priceMicros": "15990000",
              "currency": "MOP"
            },
            "MX": {
              "priceMicros": "42000000",
              "currency": "MXN"
            },
            "MY": {
              "priceMicros": "9990000",
              "currency": "MYR"
            },
            "NG": {
              "priceMicros": "3280000000",
              "currency": "NGN"
            },
            "NL": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "NO": {
              "priceMicros": "26000000",
              "currency": "NOK"
            },
            "NZ": {
              "priceMicros": "3790000",
              "currency": "NZD"
            },
            "OM": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "PA": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "PE": {
              "priceMicros": "7490000",
              "currency": "PEN"
            },
            "PH": {
              "priceMicros": "119000000",
              "currency": "PHP"
            },
            "PK": {
              "priceMicros": "550000000",
              "currency": "PKR"
            },
            "PL": {
              "priceMicros": "9690000",
              "currency": "PLN"
            },
            "PT": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "PY": {
              "priceMicros": "20000000000",
              "currency": "PYG"
            },
            "QA": {
              "priceMicros": "7500000",
              "currency": "QAR"
            },
            "RO": {
              "priceMicros": "10990000",
              "currency": "RON"
            },
            "RS": {
              "priceMicros": "249000000",
              "currency": "RSD"
            },
            "RU": {
              "priceMicros": "179000000",
              "currency": "RUB"
            },
            "SA": {
              "priceMicros": "8590000",
              "currency": "SAR"
            },
            "SE": {
              "priceMicros": "26000000",
              "currency": "SEK"
            },
            "SG": {
              "priceMicros": "2980000",
              "currency": "SGD"
            },
            "SI": {
              "priceMicros": "2290000",
              "currency": "EUR"
            },
            "SK": {
              "priceMicros": "2190000",
              "currency": "EUR"
            },
            "SM": {
              "priceMicros": "1890000",
              "currency": "EUR"
            },
            "SV": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "TC": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "TH": {
              "priceMicros": "78000000",
              "currency": "THB"
            },
            "TR": {
              "priceMicros": "77990000",
              "currency": "TRY"
            },
            "TW": {
              "priceMicros": "68000000",
              "currency": "TWD"
            },
            "TZ": {
              "priceMicros": "5500000000",
              "currency": "TZS"
            },
            "UA": {
              "priceMicros": "94990000",
              "currency": "UAH"
            },
            "US": {
              "priceMicros": "2000000",
              "currency": "USD"
            },
            "VA": {
              "priceMicros": "1890000",
              "currency": "EUR"
            },
            "VG": {
              "priceMicros": "1990000",
              "currency": "USD"
            },
            "VN": {
              "priceMicros": "51000000000",
              "currency": "VND"
            },
            "ZA": {
              "priceMicros": "41990000",
              "currency": "ZAR"
            }
          },
          "listings": {
            "en-US": {
              "title": "Gumroad Product",
              "description": "Gumroad Product $2"
            }
          },
          "defaultLanguage": "en-US",
          "managedProductTaxesAndComplianceSettings": {
            "eeaWithdrawalRightType": "WITHDRAWAL_RIGHT_DIGITAL_CONTENT"
          }
        }
  recorded_at: Sat, 06 Jul 2024 14:49:28 GMT
recorded_with: VCR 6.2.0
