---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b09b8d33-d978-4074-aa84-f7da2d80bce3
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b09b8d33-d978-4074-aa84-f7da2d80bce3
      Original-Request:
      - req_1GmTFnk3UWG7ch
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0ORALe9e1RjUNIyYXm3zMjPX",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703496082,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 25 Dec 2023 09:21:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0ORALe9e1RjUNIyYXm3zMjPX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0ORALe9e1RjUNIyYXm3zMjPX
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b9da3482-f7a7-426e-bacf-8488a459a158
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b9da3482-f7a7-426e-bacf-8488a459a158
      Original-Request:
      - req_B1Jdh6GxZPtOpy
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PFfhTxGZ3OBJEp",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703496083,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "807FF231",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 25 Dec 2023 09:21:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: customer=cus_PFfhTxGZ3OBJEp&payment_method=pm_0ORALe9e1RjUNIyYXm3zMjPX
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f5adae35-31e2-479a-a453-2e3851e85ae3
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f5adae35-31e2-479a-a453-2e3851e85ae3
      Original-Request:
      - req_Ruv23fUAGVl5Bc
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1ORALgCOxuflorGuw[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1220&currency=usd&description=You+bought+http%3A%2F%2Fedgar990a0cc64.test.gumroad.com%3A31337%2Fl%2Fp&metadata[purchase]=mN7CdHiwHaR9FlxKvF-n-g%3D%3D&transfer_group=4&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PFfhAY4eLzuTKU&payment_method=pm_1ORALgCOxuflorGuwZgAIHYd&statement_descriptor_suffix=edgar990a0cc64&application_fee_amount=320
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bbf36c44-d229-4154-b52a-40889c281492
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bbf36c44-d229-4154-b52a-40889c281492
      Original-Request:
      - req_wzDF94oCNh84UM
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3ORALhCOxuflorGu1DgqoNix",
          "object": "payment_intent",
          "amount": 1220,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1220,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee_amount": 320,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3ORALhCOxuflorGu1DgqoNix_secret_lTeQukhq45AfiKCkkKTgczYxS",
          "confirmation_method": "automatic",
          "created": 1703496085,
          "currency": "usd",
          "customer": "cus_PFfhAY4eLzuTKU",
          "description": "You bought http://edgar990a0cc64.test.gumroad.com:31337/l/p",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3ORALhCOxuflorGu1r7jr3DD",
          "livemode": false,
          "metadata": {
            "purchase": "mN7CdHiwHaR9FlxKvF-n-g=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1ORALgCOxuflorGuwZgAIHYd",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar990a0cc64",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "4"
        }
  recorded_at: Mon, 25 Dec 2023 09:21:26 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3ORALhCOxuflorGu1r7jr3DD?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3ORALhCOxuflorGu1r7jr3DD",
          "object": "charge",
          "amount": 1220,
          "amount_captured": 1220,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": {
            "id": "fee_1ORALiCOxuflorGuFkxcnLXC",
            "object": "application_fee",
            "account": "acct_1MFA1rCOxuflorGu",
            "amount": 320,
            "amount_refunded": 0,
            "application": "<STRIPE_CONNECT_CLIENT_ID>",
            "balance_transaction": {
              "id": "txn_0ORALj9e1RjUNIyYaShDevMv",
              "object": "balance_transaction",
              "amount": 320,
              "available_on": 1704067200,
              "created": 1703496086,
              "currency": "usd",
              "description": "Application fee from application Gumroad for acct_1MFA1rCOxuflorGu (acct_1MFA1rCOxuflorGu)",
              "exchange_rate": 1.29726,
              "fee": 0,
              "fee_details": [],
              "net": 320,
              "reporting_category": "platform_earning",
              "source": "fee_1ORALiCOxuflorGuFkxcnLXC",
              "status": "pending",
              "type": "application_fee"
            },
            "charge": "ch_3ORALhCOxuflorGu1r7jr3DD",
            "created": 1703496086,
            "currency": "usd",
            "livemode": false,
            "originating_transaction": null,
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/application_fees/fee_1ORALiCOxuflorGuFkxcnLXC/refunds"
            }
          },
          "application_fee_amount": 320,
          "balance_transaction": {
            "id": "txn_3ORALhCOxuflorGu1KZX1Akx",
            "object": "balance_transaction",
            "amount": 1583,
            "available_on": 1704067200,
            "created": 1703496085,
            "currency": "sgd",
            "description": "You bought http://edgar990a0cc64.test.gumroad.com:31337/l/p",
            "exch[...]
