---
http_interactions:
  - request:
      method: post
      uri: https://api.stripe.com/v1/payment_methods
      body:
        encoding: UTF-8
        string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Idempotency-Key:
          - 5c2a989d-c7f4-4151-90e0-315cda41b515
        Stripe-Version:
          - '2023-10-16'
        Harbakshs-MacBook-Air.local 20.5.0 Darwin Kernel Version 20.5.0: Sat May  8
        05:10:31 PDT 2021; root:xnu-7195.121.3~9/RELEASE_ARM64_T8101 arm64","hostname":"Harbakshs-MacBook-Air.local"}'
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - 5c2a989d-c7f4-4151-90e0-315cda41b515
        Original-Request:
          - req_zzFZQfGqtbaWim
        Stripe-Should-Retry:
          - 'false'
        Stripe-Version:
          - '2023-10-16'
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "pm_0O4jjn9e1RjUNIyYD84f6Tv9",
            "object": "payment_method",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null
            },
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "unchecked"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "generated_from": null,
              "last4": "4242",
              "networks": {
                "available": [
                  "visa"
                ],
                "preferred": null
              },
              "three_d_secure_usage": {
                "supported": true
              },
              "wallet": null
            },
            "created": 1698150575,
            "customer": null,
            "livemode": false,
            "metadata": {},
            "type": "card"
          }
    recorded_at: Tue, 24 Oct 2023 12:29:35 GMT
  - request:
      method: post
      uri: https://api.stripe.com/v1/accounts
      body:
        encoding: UTF-8
        string: country=CA&default_currency=cad&type=custom&business_type=individual&tos_acceptance[date]=1427846400&tos_acceptance[ip]=54.234.242.13&business_profile[url]=www.gumroad.com&business_profile[product_description]=Test+product&business_profile[mcc]=5734&individual[verification][document][front]=file_identity_document_success&individual[dob][day]=1&individual[dob][month]=1[...]
  - request:
      method: get
      uri: https://api.stripe.com/v1/accounts/acct_1O4jjoS1AB9aL79F
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - '2023-10-16'
        Harbakshs-MacBook-Air.local 20.5.0 Darwin Kernel Version 20.5.0: Sat May  8
        05:10:31 PDT 2021; root:xnu-7195.121.3~9/RELEASE_ARM64_T8101 arm64","hostname":"Harbakshs-MacBook-Air.local"}'
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Stripe-Account:
          - acct_1O4jjoS1AB9aL79F
        Stripe-Version:
          - '2023-10-16'
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "acct_1O4jjoS1AB9aL79F",
            "object": "account",
            "business_profile": {
              "mcc": "5734",
              "name": null,
              "product_description": "Test product",
              "support_address": null,
              "support_email": null,
              "support_phone": null,
              "support_url": null,
              "url": "www.gumroad.com"
            },
            "business_type": "individual",
            "capabilities": {
              "card_payments": "active",
              "transfers": "active"
            },
            "charges_enabled": true,
            "company": {
              "address": {
                "city": "Toronto",
                "country": "CA",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "M4C 1T2",
                "state": "ON"
              },
              "directors_provided": true,
              "executives_provided": true,
              "name": null,
              "owners_provided": true,
              "phone": "+10000000000",
              "tax_id_provided": false,
              "verification": {
                "document": {
                  "back": null,
                  "details": null,
                  "details_code": null,
                  "front": null
                }
              }
            },
            "country": "CA",
            "created": 1698150577,
            "default_currency": "cad",
            "details_submitted": true,
            "email": null,
            "external_accounts": {
              "object": "list",
              "data": [
                {
                  "id": "ba_1O4jjoS1AB9aL79F38QyxSdF",
                  "object": "bank_account",
                  "account": "acct_1O4jjoS1AB9aL79F",
                  "account_holder_name": null,
                  "account_holder_type": null,
                  "account_type": null,
                  "available_payout_methods": [
                    "standard"
                  ],
                  "bank_name": "STRIPE TEST BANK",
                  "country": "CA",
                  "currency": "cad",
                  "default_for_currency": true,
                  "fingerprint": "bHAdUgrfRKNYlJ4L",
                  "future_requirements": {
                    "currently_due": [],
                    "errors": [],
                    "past_due": [],
                    "pending_verification": []
                  },
                  "last4": "6789",
                  "metadata": {},
                  "requirements": {
                    "currently_due": [],
                    "errors": [],
                    "past_due": [],
                    "pending_verification": []
                  },
                  "routing_number": "11000-000",
                  "status": "new"
                }
              ],
              "has_more": false,
              "total_count": 1,
              "url": "/v1/accounts/acct_1O4jjoS1AB9aL79F/external_accounts"
            },
            "future_requirements": {
              "alternatives": [],
              "current_deadline": null,
              "currently_due": [],
              "disabled_reason": null,
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "individual": {
              "id": "person_1O4jjoS1AB9aL79FEXv4Y6se",
              "object": "person",
              "account": "acct_1O4jjoS1AB9aL79F",
              "address": {
                "city": "Toronto",
                "country": "CA",
                "line1": "address_full_match",
                "line2": null,
                "postal_code": "M4C 1T2",
                "state": "ON"
              },
              "created": 1698150577,
              "dob": {
                "day": 1,
                "month": 1,
                "year": 1901
              },
              "email": "me@example.com",
              "first_name": "Chuck",
              "future_requirements": {
                "alternatives": [],
                "currently_due": [],
                "errors": [],
                "eventually_due": [],
                "past_due": [],
                "pending_verification": []
              },
              "id_number_provided": true,
              "last_name": "Bartowski",
              "metadata": {},
              "phone": "+10000000000",
              "relationship": {
                "director": false,
                "executive": false,
                "legal_guardian": false,
                "owner": false,
                "percent_ownership": null,
                "representative": true,
                "title": null
              },
              "requirements": {
                "alternatives": [],
                "currently_due": [],
                "errors": [],
                "eventually_due": [],
                "past_due": [],
                "pending_verification": []
              },
              "ssn_last_4_provided": true,
              "verification": {
                "additional_document": {
                  "back": null,
                  "details": null,
                  "details_code": null,
                  "front": null
                },
                "details": null,
                "details_code": null,
                "document": {
                  "back": null,
                  "details": null,
                  "details_code": null,
                  "front": "file_0O4jjo9e1RjUNIyYOuI6kpK3"
                },
                "status": "pending"
              }
            },
            "metadata": {},
            "payouts_enabled": true,
            "requirements": {
              "alternatives": [],
              "current_deadline": null,
              "currently_due": [],
              "disabled_reason": null,
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": []
            },
            "settings": {
              "bacs_debit_payments": {},
              "branding": {
                "icon": null,
                "logo": null,
                "primary_color": null,
                "secondary_color": null
              },
              "card_issuing": {
                "tos_acceptance": {
                  "date": null,
                  "ip": null
                }
              },
              "card_payments": {
                "decline_on": {
                  "avs_failure": false,
                  "cvc_failure": false
                },
                "statement_descriptor_prefix": "GUMROAD.CO",
                "statement_descriptor_prefix_kana": null,
                "statement_descriptor_prefix_kanji": null
              },
              "dashboard": {
                "display_name": "Gumroad",
                "timezone": "Etc/UTC"
              },
              "payments": {
                "statement_descriptor": "GUMROAD.COM",
                "statement_descriptor_kana": null,
                "statement_descriptor_kanji": null
              },
              "payouts": {
                "debit_negative_balances": false,
                "schedule": {
                  "delay_days": 7,
                  "interval": "daily"
                },
                "statement_descriptor": null
              },
              "sepa_debit_payments": {}
            },
            "tos_acceptance": {
              "date": 1427846400,
              "ip": "54.234.242.13",
              "user_agent": null
            },
            "type": "custom"
          }
    recorded_at: Tue, 24 Oct 2023 12:29:39 GMT
  - request:
      method: post
      uri: https://api.stripe.com/v1/payment_intents
      body:
        encoding: UTF-8
        string: payment_method=pm_0O4jjn9e1RjUNIyYD84f6Tv9&automatic_payment_methods[enabled]=true&automatic_payment_methods[allow_redirects]=never&confirm=true&amount=1000&currency=usd&transfer_data[destination]=acct_1O4jjoS1AB9aL79F&on_behalf_of=acct_1O4jjoS1AB9aL79F&application_fee_amount=30
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Idempotency-Key:
          - 35356b65-6dea-4eb8-9907-55bc213ffce8
        Stripe-Version:
          - '2023-10-16'
        Harbakshs-MacBook-Air.local 20.5.0 Darwin Kernel Version 20.5.0: Sat May  8
        05:10:31 PDT 2021; root:xnu-7195.121.3~9/RELEASE_ARM64_T8101 arm64","hostname":"Harbakshs-MacBook-Air.local"}'
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - 35356b65-6dea-4eb8-9907-55bc213ffce8
        Original-Request:
          - req_kl6BeVQb7wqVGE
        Stripe-Should-Retry:
          - 'false'
        Stripe-Version:
          - '2023-10-16'
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "pi_2O4jjr9e1RjUNIyY1dIlmS8y",
            "object": "payment_intent",
            "amount": 1000,
            "amount_capturable": 0,
            "amount_details": {
              "tip": {}
            },
            "amount_received": 1000,
            "application": null,
            "application_fee_amount": 30,
            "automatic_payment_methods": {
              "allow_redirects": "never",
              "enabled": true
            },
            "canceled_at": null,
            "cancellation_reason": null,
            "capture_method": "automatic",
            "client_secret": "pi_2O4jjr9e1RjUNIyY1dIlmS8y_secret_oUdTL6DsPgfZB1KKgV9WGyA8e",
            "confirmation_method": "automatic",
            "created": 1698150579,
            "currency": "usd",
            "customer": null,
            "description": null,
            "invoice": null,
            "last_payment_error": null,
            "latest_charge": "ch_2O4jjr9e1RjUNIyY10cphRw6",
            "livemode": false,
            "metadata": {},
            "next_action": null,
            "on_behalf_of": "acct_1O4jjoS1AB9aL79F",
            "payment_method": "pm_0O4jjn9e1RjUNIyYD84f6Tv9",
            "payment_method_configuration_details": null,
            "payment_method_options": {
              "card": {
                "installments": null,
                "mandate_options": null,
                "network": null,
                "request_three_d_secure": "automatic"
              }
            },
            "payment_method_types": [
              "card"
            ],
            "processing": null,
            "receipt_email": null,
            "review": null,
            "setup_future_usage": null,
            "shipping": null,
            "source": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": null,
            "status": "succeeded",
            "transfer_data": {
              "destination": "acct_1O4jjoS1AB9aL79F"
            },
            "transfer_group": "group_pi_2O4jjr9e1RjUNIyY1dIlmS8y"
          }
    recorded_at: Tue, 24 Oct 2023 12:29:41 GMT
  - request:
      method: get
      uri: https://api.stripe.com/v1/charges/ch_2O4jjr9e1RjUNIyY10cphRw6
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - '2023-10-16'
        Harbakshs-MacBook-Air.local 20.5.0 Darwin Kernel Version 20.5.0: Sat May  8
        05:10:31 PDT 2021; root:xnu-7195.121.3~9/RELEASE_ARM64_T8101 arm64","hostname":"Harbakshs-MacBook-Air.local"}'
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Stripe-Version:
          - '2023-10-16'
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "ch_2O4jjr9e1RjUNIyY10cphRw6",
            "object": "charge",
            "amount": 1000,
            "amount_captured": 1000,
            "amount_refunded": 0,
            "amount_updates": [],
            "application": null,
            "application_fee": "fee_1O4jjsS1AB9aL79FoKAoMnph",
            "application_fee_amount": 30,
            "balance_transaction": "txn_2O4jjr9e1RjUNIyY1Iq0IvTF",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null
            },
            "calculated_statement_descriptor": "GUMROAD.COM",
            "captured": true,
            "created": 1698150580,
            "currency": "usd",
            "customer": null,
            "description": null,
            "destination": "acct_1O4jjoS1AB9aL79F",
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "invoice": null,
            "livemode": false,
            "metadata": {},
            "on_behalf_of": "acct_1O4jjoS1AB9aL79F",
            "order": null,
            "outcome": {
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 11,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_2O4jjr9e1RjUNIyY1dIlmS8y",
            "payment_method": "pm_0O4jjn9e1RjUNIyYD84f6Tv9",
            "payment_method_details": {
              "card": {
                "amount_authorized": 1000,
                "brand": "visa",
                "checks": {
                  "address_line1_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": "pass"
                },
                "country": "US",
                "exp_month": 12,
                "exp_year": 2023,
                "extended_authorization": {
                  "status": "disabled"
                },
                "fingerprint": "W691J2Ye3VDoq6Ij",
                "funding": "credit",
                "incremental_authorization": {
                  "status": "unavailable"
                },
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "multicapture": {
                  "status": "unavailable"
                },
                "network": "visa",
                "network_token": {
                  "used": false
                },
                "overcapture": {
                  "maximum_amount_capturable": 1000,
                  "status": "unavailable"
                },
                "three_d_secure": null,
                "wallet": null
              },
              "type": "card"
            },
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUotfHeqQYyBmb4pIyBVjosFg9tUZMZCifri_H9lWmBarqVRMk7xOZNKEtGICPdqPLPawzcdE1BFb5_T8c",
            "refunded": false,
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": null,
            "status": "succeeded",
            "transfer": "tr_2O4jjr9e1RjUNIyY1jbHX98w",
            "transfer_data": {
              "amount": null,
              "destination": "acct_1O4jjoS1AB9aL79F"
            },
            "transfer_group": "group_pi_2O4jjr9e1RjUNIyY1dIlmS8y"
          }
    recorded_at: Tue, 24 Oct 2023 12:29:41 GMT
[...]
  - request:
      method: post
      uri: https://api.stripe.com/v1/refunds
      body:
        encoding: UTF-8
        string: charge=ch_2O4jjr9e1RjUNIyY10cphRw6&amount=500&reverse_transfer=true&refund_application_fee=true
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Idempotency-Key:
          - 3b8b01b8-1ab7-44db-a34e-42995b05602a
        Stripe-Version:
          - '2023-10-16'
        Harbakshs-MacBook-Air.local 20.5.0 Darwin Kernel Version 20.5.0: Sat May  8
        05:10:31 PDT 2021; root:xnu-7195.121.3~9/RELEASE_ARM64_T8101 arm64","hostname":"Harbakshs-MacBook-Air.local"}'
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - 3b8b01b8-1ab7-44db-a34e-42995b05602a
        Original-Request:
          - req_4WR4jzIjTacjfp
        Stripe-Should-Retry:
          - 'false'
        Stripe-Version:
          - '2023-10-16'
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "re_2O4jjr9e1RjUNIyY1DfNJ6kS",
            "object": "refund",
            "amount": 500,
            "balance_transaction": "txn_2O4jjr9e1RjUNIyY1c9NFetQ",
            "charge": "ch_2O4jjr9e1RjUNIyY10cphRw6",
            "created": 1698150583,
            "currency": "usd",
            "metadata": {},
            "payment_intent": "pi_2O4jjr9e1RjUNIyY1dIlmS8y",
            "reason": null,
            "receipt_number": null,
            "source_transfer_reversal": null,
            "status": "succeeded",
            "transfer_reversal": "trr_0O4jjv9e1RjUNIyYYiSA4iqW"
          }
    recorded_at: Tue, 24 Oct 2023 12:29:45 GMT
  - request:
      method: get
      uri: https://api.stripe.com/v1/refunds/re_2O4jjr9e1RjUNIyY1DfNJ6kS?expand%5B%5D=balance_transaction
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - '2023-10-16'
        Harbakshs-MacBook-Air.local 20.5.0 Darwin Kernel Version 20.5.0: Sat May  8
        05:10:31 PDT 2021; root:xnu-7195.121.3~9/RELEASE_ARM64_T8101 arm64","hostname":"Harbakshs-MacBook-Air.local"}'
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Stripe-Version:
          - '2023-10-16'
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "re_2O4jjr9e1RjUNIyY1DfNJ6kS",
            "object": "refund",
            "amount": 500,
            "balance_transaction": {
              "id": "txn_2O4jjr9e1RjUNIyY1c9NFetQ",
              "object": "balance_transaction",
              "amount": -671,
              "available_on": 1698710400,
              "created": 1698150583,
              "currency": "cad",
              "description": "REFUND FOR CHARGE",
              "exchange_rate": 1.34207,
              "fee": -20,
              "fee_details": [
                {
                  "amount": -20,
                  "application": null,
                  "currency": "cad",
                  "description": "Stripe processing fee refund",
                  "type": "stripe_fee"
                }
              ],
              "net": -651,
              "reporting_category": "refund",
              "source": "re_2O4jjr9e1RjUNIyY1DfNJ6kS",
              "status": "pending",
              "type": "refund"
            },
            "charge": "ch_2O4jjr9e1RjUNIyY10cphRw6",
            "created": 1698150583,
            "currency": "usd",
            "metadata": {},
            "payment_intent": "pi_2O4jjr9e1RjUNIyY1dIlmS8y",
            "reason": null,
            "receipt_number": null,
            "source_transfer_reversal": null,
            "status": "succeeded",
            "transfer_reversal": "trr_0O4jjv9e1RjUNIyYYiSA4iqW"
          }
    recorded_at: Tue, 24 Oct 2023 12:29:46 GMT
  - request:
      method: get
      uri: https://api.stripe.com/v1/charges/ch_2O4jjr9e1RjUNIyY10cphRw6?expand%5B%5D=application_fee.refunds.data.balance_transaction&expand%5B%5D=balance_transaction
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - '2023-10-16'
        Harbakshs-MacBook-Air.local 20.5.0 Darwin Kernel Version 20.5.0: Sat May  8
        05:10:31 PDT 2021; root:xnu-7195.121.3~9/RELEASE_ARM64_T8101 arm64","hostname":"Harbakshs-MacBook-Air.local"}'
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Stripe-Version:
          - '2023-10-16'
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "ch_2O4jjr9e1RjUNIyY10cphRw6",
            "object": "charge",
            "amount": 1000,
            "amount_captured": 1000,
            "amount_refunded": 500,
            "amount_updates": [],
            "application": null,
            "application_fee": {
              "id": "fee_1O4jjsS1AB9aL79FoKAoMnph",
              "object": "application_fee",
              "account": "acct_1O4jjoS1AB9aL79F",
              "amount": 30,
              "amount_refunded": 15,
              "application": "<STRIPE_CONNECT_CLIENT_ID>",
              "balance_transaction": "txn_0O4jjv9e1RjUNIyYfFocRxIi",
              "charge": "py_1O4jjsS1AB9aL79F0G3pefoR",
              "created": 1698150580,
              "currency": "usd",
              "livemode": false,
              "originating_transaction": "ch_2O4jjr9e1RjUNIyY10cphRw6",
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [
                  {
                    "id": "fr_1O4jjvS1AB9aL79FccYqznod",
                    "object": "fee_refund",
                    "amount": 20,
                    "balance_transaction": {
                      "id": "txn_0O4jjw9e1RjUNIyYqtvAifQz",
                      "object": "balance_transaction",
                      "amount": -15,
                      "available_on": 1698710400,
                      "created": 16[...]
  - request:
      method: get
      uri: https://api.stripe.com/v1/transfers/tr_2O4jjr9e1RjUNIyY1jbHX98w
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - '2023-10-16'
        Harbakshs-MacBook-Air.local 20.5.0 Darwin Kernel Version 20.5.0: Sat May  8
        05:10:31 PDT 2021; root:xnu-7195.121.3~9/RELEASE_ARM64_T8101 arm64","hostname":"Harbakshs-MacBook-Air.local"}'
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Stripe-Version:
          - '2023-10-16'
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "tr_2O4jjr9e1RjUNIyY1jbHX98w",
            "object": "transfer",
            "amount": 1342,
            "amount_reversed": 671,
            "balance_transaction": "txn_2O4jjr9e1RjUNIyY1AVnOmeU",
            "created": 1698150580,
            "currency": "cad",
            "description": null,
            "destination": "acct_1O4jjoS1AB9aL79F",
            "destination_payment": "py_1O4jjsS1AB9aL79F0G3pefoR",
            "livemode": false,
            "metadata": {},
            "reversals": {
              "object": "list",
              "data": [
                {
                  "id": "trr_0O4jjv9e1RjUNIyYYiSA4iqW",
                  "object": "transfer_reversal",
                  "amount": 671,
                  "balance_transaction": "txn_0O4jjw9e1RjUNIyY0kYjGOqF",
                  "created": 1698150583,
                  "currency": "cad",
                  "destination_payment_refund": "pyr_1O4jjvS1AB9aL79FPSay5itN",
                  "metadata": {},
                  "source_refund": "re_2O4jjr9e1RjUNIyY1DfNJ6kS",
                  "transfer": "tr_2O4jjr9e1RjUNIyY1jbHX98w"
                }
              ],
              "has_more": false,
              "total_count": 1,
              "url": "/v1/transfers/tr_2O4jjr9e1RjUNIyY1jbHX98w/reversals"
            },
            "reversed": false,
            "source_transaction": "ch_2O4jjr9e1RjUNIyY10cphRw6",
            "source_type": "card",
            "transfer_group": "group_pi_2O4jjr9e1RjUNIyY1dIlmS8y"
          }
    recorded_at: Tue, 24 Oct 2023 12:29:46 GMT
  - request:
      method: get
      uri: https://api.stripe.com/v1/charges/py_1O4jjsS1AB9aL79F0G3pefoR?expand%5B%5D=application_fee.refunds&expand%5B%5D=refunds.data.balance_transaction
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - '2023-10-16'
        Harbakshs-MacBook-Air.local 20.5.0 Darwin Kernel Version[...]
[...]
  - request:
      method: get
      uri: https://api.stripe.com/v1/refunds/re_2O4jjr9e1RjUNIyY1MQibMJK?expand%5B%5D=balance_transaction
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer <STRIPE_API_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - '2023-10-16'
        Harbakshs-MacBook-Air.local 20.5.0 Darwin Kernel Version 20.5.0: Sat May  8
        05:10:31 PDT 2021; roo[...]
[...]
