---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000000000003055&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - eda202f2-58fe-4a3b-87a1-475b2f6068c9
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - eda202f2-58fe-4a3b-87a1-475b2f6068c9
      Original-Request:
      - req_KAoIAdVKEluAXG
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0PRQpy9e1RjUNIyYqqBmkxAv",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "mkERqR44ISo2dpl6",
            "funding": "credit",
            "generated_from": null,
            "last4": "3055",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1718335802,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 14 Jun 2024 03:30:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0PRQpy9e1RjUNIyYqqBmkxAv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar104ff9c12.test.gumroad.com%3A31337%2Fl%2Fi&metadata[purchase]=G_-mnBf9b1j9A7a4ub4nFQ%3D%3D&transfer_group=1&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0PRQpy9e1RjUNIyYqqBmkxAv&statement_descriptor_suffix=edgar104ff9c12
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9a231023-af4f-481b-b8b2-ac47503bab1f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9a231023-af4f-481b-b8b2-ac47503bab1f
      Original-Request:
      - req_DAD6y8ixRQiYFj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2PRQpz9e1RjUNIyY1ZH3aZcX",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2PRQpz9e1RjUNIyY1ZH3aZcX_secret_nwdyPHpa5xwwzeewHFw99SjIM",
          "confirmation_method": "automatic",
          "created": 1718335803,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar104ff9c12.test.gumroad.com:31337/l/i",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2PRQpz9e1RjUNIyY19lvQ9yG",
          "livemode": false,
          "metadata": {
            "purchase": "G_-mnBf9b1j9A7a4ub4nFQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0PRQpy9e1RjUNIyYqqBmkxAv",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar104ff9c12",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1"
        }
  recorded_at: Fri, 14 Jun 2024 03:30:04 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2PRQpz9e1RjUNIyY19lvQ9yG?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2PRQpz9e1RjUNIyY19lvQ9yG",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2PRQpz9e1RjUNIyY1X26hZNf",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1718668800,
            "created": 1718335803,
            "currency": "usd",
            "description": "You bought http://edgar104ff9c12.test.gumroad.com:31337/l/i",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2PRQpz9e1RjUNIyY19lvQ9yG",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMROAD.CO* EDGAR104FF",
          "captured": true,
          "created": 1718335803,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar104ff9c12.test.gumroad.com:31337/l/i",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "G_-mnBf9b1j9A7a4ub4nFQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 46,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2PRQpz9e1RjUNIyY1ZH3aZcX",
          "payment_method": "pm_0PRQpy9e1RjUNIyYqqBmkxAv",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "mkERqR44ISo2dpl6",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "3055",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUovPKuswYyBri2rY3sAzosFsKudw8HZXIv9cpmc0UIkMrguGZcmRmqNq1Ab1G3X-7VOUiD8RdK3ZP1SLo",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar104ff9c12",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "1"
        }
  recorded_at: Fri, 14 Jun 2024 03:30:04 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_2PRQpz9e1RjUNIyY1ZH3aZcX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
