---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Ml:
      - A
      Perf:
      - '7402827104'
      Status:
      - 403 Forbidden
      Last-Modified:
      - Wed, 02 Sep 2026 04:20:33 GMT
      X-Transaction:
      - 2ca787b7e868bd4d
      X-Transaction-Id:
      - 2ca787b7e868bd4d
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '91'
      Origin-Cf-Ray:
      - a349b909de597095-EWR
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":99,"message":"Unable to verify your credentials","label":"authenticity_token_error"}]}'
  recorded_at: Wed, 02 Sep 2026 04:20:33 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?user_id=279418691
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Perf:
      - '7402827104'
      X-Transaction-Id:
      - e359164d0b85e48f
      X-Response-Time:
      - '7'
      Origin-Cf-Ray:
      - a349b90b8985431f-EWR
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Wed, 02 Sep 2026 04:20:33 GMT
recorded_with: VCR 6.2.0
