---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5e48bd91-0886-493b-be18-7a5bd80e52f1
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5e48bd91-0886-493b-be18-7a5bd80e52f1
      Original-Request:
      - req_NwHyMT9RsexuXA
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0ORAc99e1RjUNIyYvT0l7utd",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703497105,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 25 Dec 2023 09:38:25 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0ORAc99e1RjUNIyYvT0l7utd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0ORAc99e1RjUNIyYvT0l7utd
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8f2e4b92-999d-4c4d-ac28-60f8031ffcc9
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8f2e4b92-999d-4c4d-ac28-60f8031ffcc9
      Original-Request:
      - req_r2GayE8znTZleR
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PFfyYkO5PkSZNv",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703497106,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "80C88779",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 25 Dec 2023 09:38:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: customer=cus_PFfyYkO5PkSZNv&payment_method=pm_0ORAc99e1RjUNIyYvT0l7utd
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 113da9f9-ea84-47c7-b22d-7aa811c1f60b
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 113da9f9-ea84-47c7-b22d-7aa811c1f60b
      Original-Request:
      - req_gSmBo2Gognql8q
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1ORAcBCOxuflorGuK[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgared1c21d026.test.gumroad.com%3A31337%2Fl%2Fa&metadata[purchase]=cz-riRN1s5OXKV0XwkPSvA%3D%3D&transfer_group=38&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PFfyj8WKx2LPng&payment_method=pm_1ORAcBCOxuflorGuKCBxAbHl&statement_descriptor_suffix=edgared1c21d026&application_fee_amount=13
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - '0905856a-cdfa-4657-845c-1c9bf18d8310'
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '0905856a-cdfa-4657-845c-1c9bf18d8310'
      Original-Request:
      - req_4Z3Rmc17BH0iEZ
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3ORAcCCOxuflorGu0e06YqlF",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee_amount": 13,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3ORAcCCOxuflorGu0e06YqlF_secret_uhslZWzQPukJCIEakBQIutMBV",
          "confirmation_method": "automatic",
          "created": 1703497108,
          "currency": "usd",
          "customer": "cus_PFfyj8WKx2LPng",
          "description": "You bought http://edgared1c21d026.test.gumroad.com:31337/l/a",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3ORAcCCOxuflorGu02ha9E06",
          "livemode": false,
          "metadata": {
            "purchase": "cz-riRN1s5OXKV0XwkPSvA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1ORAcBCOxuflorGuKCBxAbHl",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgared1c21d026",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "38"
        }
  recorded_at: Mon, 25 Dec 2023 09:38:29 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3ORAcCCOxuflorGu02ha9E06?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3ORAcCCOxuflorGu02ha9E06",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": {
            "id": "fee_1ORAcCCOxuflorGuLuLzI3BL",
            "object": "application_fee",
            "account": "acct_1MFA1rCOxuflorGu",
            "amount": 13,
            "amount_refunded": 0,
            "application": "<STRIPE_CONNECT_CLIENT_ID>",
            "balance_transaction": {
              "id": "txn_0ORAcD9e1RjUNIyY9EsZeWWi",
              "object": "balance_transaction",
              "amount": 13,
              "available_on": 1704067200,
              "created": 1703497108,
              "currency": "usd",
              "description": "Application fee from application Gumroad for acct_1MFA1rCOxuflorGu (acct_1MFA1rCOxuflorGu)",
              "exchange_rate": 1.29726,
              "fee": 0,
              "fee_details": [],
              "net": 13,
              "reporting_category": "platform_earning",
              "source": "fee_1ORAcCCOxuflorGuLuLzI3BL",
              "status": "pending",
              "type": "application_fee"
            },
            "charge": "ch_3ORAcCCOxuflorGu02ha9E06",
            "created": 1703497108,
            "currency": "usd",
            "livemode": false,
            "originating_transaction": null,
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/application_fees/fee_1ORAcCCOxuflorGuLuLzI3BL/refunds"
            }
          },
          "application_fee_amount": 13,
          "balance_transaction": {
            "id": "txn_3ORAcCCOxuflorGu01MmTyb6",
            "object": "balance_transaction",
            "amount": 130,
            "available_on": 1704067200,
            "created": 1703497108,
            "currency": "sgd",
            "description": "You bought http://edgared1c21d026.test.gumroad.com:31337/l/a",
            "excha[...]
