---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 911cdea9-27c7-4626-b09d-aba82bb4551a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 911cdea9-27c7-4626-b09d-aba82bb4551a
      Original-Request:
      - req_lNo8IlmZp33KZW
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0ORAby9e1RjUNIyYysVVr0hb",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703497094,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 25 Dec 2023 09:38:15 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0ORAby9e1RjUNIyYysVVr0hb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0ORAby9e1RjUNIyYysVVr0hb
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3485f3bb-a0c7-4d65-9921-7224d66a5cf6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3485f3bb-a0c7-4d65-9921-7224d66a5cf6
      Original-Request:
      - req_qYKUKcysTtoyWZ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PFfxXyiR5j1fbT",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703497095,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "07404AE8",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 25 Dec 2023 09:38:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: customer=cus_PFfxXyiR5j1fbT&payment_method=pm_0ORAby9e1RjUNIyYysVVr0hb
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 01720c38-dc4a-4ca3-92e5-bc0558fde872
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 01720c38-dc4a-4ca3-92e5-bc0558fde872
      Original-Request:
      - req_VBhOqTMN4GMTQ5
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1ORAc0COxuflorGur[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar1db18bc324.test.gumroad.com%3A31337%2Fl%2Fo&metadata[purchase]=xOT-Wgl-S6m0PIhTlK8qfg%3D%3D&transfer_group=36&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_PFfx1unjcQZqq7&payment_method=pm_1ORAc0COxuflorGurEfxLiG5&statement_descriptor_suffix=edgar1db18bc324&application_fee_amount=13
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 43b5a475-fcef-4a40-958e-6fe64f36aa7f
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 43b5a475-fcef-4a40-958e-6fe64f36aa7f
      Original-Request:
      - req_wqYdUjaEPzlQKK
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3ORAc1COxuflorGu0CBZA35J",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee_amount": 13,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3ORAc1COxuflorGu0CBZA35J_secret_hVZPUZDlTI115A8sG3ltUJQms",
          "confirmation_method": "automatic",
          "created": 1703497097,
          "currency": "usd",
          "customer": "cus_PFfx1unjcQZqq7",
          "description": "You bought http://edgar1db18bc324.test.gumroad.com:31337/l/o",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3ORAc1COxuflorGu0TZ0Vt8e",
          "livemode": false,
          "metadata": {
            "purchase": "xOT-Wgl-S6m0PIhTlK8qfg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1ORAc0COxuflorGurEfxLiG5",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar1db18bc324",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "36"
        }
  recorded_at: Mon, 25 Dec 2023 09:38:18 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3ORAc1COxuflorGu0TZ0Vt8e?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MFA1rCOxuflorGu
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3ORAc1COxuflorGu0TZ0Vt8e",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": "<STRIPE_CONNECT_CLIENT_ID>",
          "application_fee": {
            "id": "fee_1ORAc2COxuflorGuZ1P6d8Em",
            "object": "application_fee",
            "account": "acct_1MFA1rCOxuflorGu",
            "amount": 13,
            "amount_refunded": 0,
            "application": "<STRIPE_CONNECT_CLIENT_ID>",
            "balance_transaction": {
              "id": "txn_0ORAc29e1RjUNIyYwzv6MNdx",
              "object": "balance_transaction",
              "amount": 13,
              "available_on": 1704067200,
              "created": 1703497098,
              "currency": "usd",
              "description": "Application fee from application Gumroad for acct_1MFA1rCOxuflorGu (acct_1MFA1rCOxuflorGu)",
              "exchange_rate": 1.29726,
              "fee": 0,
              "fee_details": [],
              "net": 13,
              "reporting_category": "platform_earning",
              "source": "fee_1ORAc2COxuflorGuZ1P6d8Em",
              "status": "pending",
              "type": "application_fee"
            },
            "charge": "ch_3ORAc1COxuflorGu0TZ0Vt8e",
            "created": 1703497098,
            "currency": "usd",
            "livemode": false,
            "originating_transaction": null,
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/application_fees/fee_1ORAc2COxuflorGuZ1P6d8Em/refunds"
            }
          },
          "application_fee_amount": 13,
          "balance_transaction": {
            "id": "txn_3ORAc1COxuflorGu0xtI6UX1",
            "object": "balance_transaction",
            "amount": 130,
            "available_on": 1704067200,
            "created": 1703497097,
            "currency": "sgd",
            "description": "You bought http://edgar1db18bc324.test.gumroad.com:31337/l/o",
            "excha[...]
