---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d432276a-969e-41b6-9634-e8c2fcdc62b9
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d432276a-969e-41b6-9634-e8c2fcdc62b9
      Original-Request:
      - req_Wimuds3dBLf76v
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzH9EIBOqvOFDrfSjVAtuGi",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730716,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:38:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH9EIBOqvOFDrfSjVAtuGi
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 853f0a53-ee5a-4f11-966b-7aa4e592d8e6
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 853f0a53-ee5a-4f11-966b-7aa4e592d8e6
      Original-Request:
      - req_TTUfRQW15jp0kQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TxBW8T5aVUJHdy",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1770730717,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "Q1CHQJZR",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 10 Feb 2026 13:38:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH9EIBOqvOFDrfSjVAtuGi&customer=cus_TxBW8T5aVUJHdy&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 80743540-ba83-4308-9816-499e32b0b157
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 80743540-ba83-4308-9816-499e32b0b157
      Original-Request:
      - req_hMg8fWxlfecXrP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1SzH9FIBOqvOFDrfxyvhASjJ",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_1SzH9FIBOqvOFDrfxyvhASjJ_secret_TxBWRFuoW2YUUb5vjGzNx1S47zKi5Dg",
          "created": 1770730717,
          "customer": "cus_TxBW8T5aVUJHdy",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_1SzH9FIBOqvOFDrfI0m9qeZ3",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH9EIBOqvOFDrfSjVAtuGi",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 10 Feb 2026 13:38:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzH9EIBOqvOFDrfSjVAtuGi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1500&currency=usd&description=Gumroad+Charge+r0q0g3FraaoJWQ1kCIVzpQ%3D%3D&metadata[purchases%7B0%7D]=MKyqOn-Iv8BsT6a2eFvieg%3D%3D%2COIXCFPwKP8QoOZT3X9RNGw%3D%3D&transfer_group=CH-836&payment_method_types[0]=card&off_session=false&customer=cus_TxBW8T5aVUJHdy&payment_method=pm_1SzH9EIBOqvOFDrfSjVAtuGi&statement_descriptor_suffix=edgar74a2f46b131
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fa839515-45f6-410e-abc3-a0d6243fa83c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fa839515-45f6-410e-abc3-a0d6243fa83c
      Original-Request:
      - req_9ap3LrCVEbhDmw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzH9HIBOqvOFDrf1DLETM4T",
          "object": "payment_intent",
          "amount": 1500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzH9HIBOqvOFDrf1DLETM4T_secret_k5L2j16iUNd3InFy7Izu7rKBb",
          "confirmation_method": "automatic",
          "created": 1770730719,
          "currency": "usd",
          "customer": "cus_TxBW8T5aVUJHdy",
          "customer_account": null,
          "description": "Gumroad Charge r0q0g3FraaoJWQ1kCIVzpQ==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "MKyqOn-Iv8BsT6a2eFvieg==,OIXCFPwKP8QoOZT3X9RNGw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH9EIBOqvOFDrfSjVAtuGi",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar74a2f46b131",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-836"
        }
  recorded_at: Tue, 10 Feb 2026 13:38:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SzH9HIBOqvOFDrf1DLETM4T/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3d4e9d18-8445-418e-a8fb-e069af74adac
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SzH9HIBOqvOFDrf1TPGIi43?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SzH9HIBOqvOFDrf1TPGIi43",
          "object": "charge",
          "amount": 1500,
          "amount_captured": 1500,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SzH9HIBOqvOFDrf1eElcvnV",
            "object": "balance_transaction",
            "amount": 1500,
            "available_on": 1771286400,
            "balance_type": "payments",
            "created": 1770730719,
            "currency": "usd",
            "description": "Gumroad Charge r0q0g3FraaoJWQ1kCIVzpQ==",
            "exchange_rate": null,
            "fee": 74,
            "fee_details": [
              {
                "amount": 74,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1426,
            "reporting_category": "charge",
            "source": "ch_3SzH9HIBOqvOFDrf1TPGIi43",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR74A2F46B1",
          "captured": true,
          "created": 1770730719,
          "currency": "usd",
          "customer": "cus_TxBW8T5aVUJHdy",
          "description": "Gumroad Charge r0q0g3FraaoJWQ1kCIVzpQ==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "MKyqOn-Iv8BsT6a2eFvieg==,OIXCFPwKP8QoOZT3X9RNGw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 5,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SzH9HIBOqvOFDrf1DLETM4T",
          "payment_method": "pm_1SzH9EIBOqvOFDrfSjVAtuGi",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1500,
              "authorization_code": "669796",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 1500,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKODprMwGMgah0eo9_MQ6LBZRxuXkENusrfNIDc0BE9TFuOzUNUFiKhri6SmNI2D1-wCvp0o7lOIvO5D7",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar74a2f46b131",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-836"
        }
  recorded_at: Tue, 10 Feb 2026 13:38:40 GMT
recorded_with: VCR 6.2.0
