---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers&country=US&default_currency=usd&metadata[user_id]=1608826764800&metadata[tos_agreement_id]=E03ACMtyL0HTcPJ12Bkv0w%3D%3D&metadata[user_compliance_info_id]=E03ACMtyL0HTcPJ12Bkv0w%3D%3D&metadata[bank_account_id]=E03ACMtyL0HTcPJ12Bkv0w%3D%3D&tos_acceptance[date]=1738914224&tos_acceptance[ip]=54.234.242.13&business_type=individual&business_profile[name]=Chuck+Bartowski&business_profile[url]=https%3A%2F%2Fvipul.gumroad.com%2F&business_profile[product_description]=Chuck+Bartowski&individual[first_name]=Chuck&individual[last_name]=Bartowski&individual[email]=edgar1b57a6ef_1%40gumroad.com&individual[phone]=0000000000&individual[dob][day]=1&individual[dob][month]=1&individual[dob][year]=1901&individual[address][line1]=address_full_match&individual[address][city]=San+Francisco&individual[address][state]=California&individual[address][postal_code]=94107&individual[address][country]=US&individual[id_number]=000000000&bank_account[country]=US&bank_account[currency]=usd&bank_account[account_number]=000123456789&bank_account[routing_number]=110000000&settings[payouts][schedule][interval]=manual&settings[payouts][debit_negative_balances]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5e99b7e9-461c-4642-988a-facfc0be14fd
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5e99b7e9-461c-4642-988a-facfc0be14fd
      Original-Request:
      - req_Vjz28EB3WeNhsd
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1QpmE1S1bA2P7JoA",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "name": "Chuck Bartowski",
            "product_description": "Chuck Bartowski",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://vipul.gumroad.com/"
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "pending",
            "transfers": "pending"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "phone": "+10000000000",
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "application_custom"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "application",
            "stripe_dashboard": {
              "type": "none"
            },
            "type": "application"
          },
          "country": "US",
          "created": 1738914227,
          "default_currency": "usd",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1QpmE1S1bA2P7JoAuESSgtbm",
                "object": "bank_account",
                "account": "acct_1QpmE1S1bA2P7JoA",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard",
                  "instant"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "dx7dqwoGHEQDKLLK",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1QpmE1S1bA2P7JoA/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": 1717516800,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "business_profile.url",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "individual": {
            "id": "person_1QpmE2S1bA2P7JoAztLQ3RV8",
            "object": "person",
            "account": "acct_1QpmE1S1bA2P7JoA",
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "94107",
              "state": "California"
            },
            "created": 1738914226,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1901
            },
            "email": "edgar1b57a6ef_1@gumroad.com",
            "first_name": "Chuck",
            "future_requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "id_number_provided": true,
            "last_name": "Bartowski",
            "metadata": {},
            "phone": "+10000000000",
            "relationship": {
              "authorizer": false,
              "director": false,
              "executive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            },
            "requirements": {
              "alternatives": [],
              "currently_due": [],
              "errors": [],
              "eventually_due": [],
              "past_due": [],
              "pending_verification": [
                "address.city",
                "address.line1",
                "address.postal_code",
                "address.state",
                "id_number",
                "verification.document"
              ]
            },
            "ssn_last_4_provided": true,
            "verification": {
              "additional_document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "details": null,
              "details_code": null,
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              },
              "status": "pending"
            }
          },
          "metadata": {
            "bank_account_id": "E03ACMtyL0HTcPJ12Bkv0w==",
            "tos_agreement_id": "E03ACMtyL0HTcPJ12Bkv0w==",
            "user_compliance_info_id": "E03ACMtyL0HTcPJ12Bkv0w==",
            "user_id": "1608826764800"
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": "requirements.pending_verification",
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": [
              "business_profile.url",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.address.state",
              "individual.id_number",
              "individual.verification.document"
            ]
          },
          "risk_controls": {
            "charges": {
              "pause_requested": false
            },
            "payouts": {
              "pause_requested": false
            }
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "capital": {},
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": "CHUCK BART",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "Chuck Bartowski",
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null
            },
            "payments": {
              "statement_descriptor": "CHUCK BARTOWSKI",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 1,
                "interval": "manual"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": 1738914224,
            "ip": "54.234.242.13",
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Fri, 07 Feb 2025 07:43:49 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1QpmE1S1bA2P7JoA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1QpmE1S1bA2P7JoA
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1QpmE1S1bA2P7JoA",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": "5192",
            "name": "Chuck Bartowski",
            "product_description": "Chuck Bartowski",
            [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: destination=acct_1QpmE1S1bA2P7JoA&currency=usd&amount=2959900
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a1abd52d-b43b-46ad-944d-18fad9cae077
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a1abd52d-b43b-46ad-944d-18fad9cae077
      Original-Request:
      - req_hQqVuTMKFH4F1Z
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_0QpmEt9e1RjUNIyYux9cPeuh",
          "object": "transfer",
          "amount": 2959900,
          "amount_reversed": 0,
          "balance_transaction": "txn_0QpmEt9e1RjUNIyYNnvx6103",
          "created": 1738914279,
          "currency": "usd",
          "description": null,
          "destination": "acct_1QpmE1S1bA2P7JoA",
          "destination_payment": "py_1QpmEtS1bA2P7JoAj5e7ngGi",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_0QpmEt9e1RjUNIyYux9cPeuh/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Fri, 07 Feb 2025 07:44:39 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1QpmE1S1bA2P7JoA/external_accounts/ba_1QpmE1S1bA2P7JoAuESSgtbm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/balance?expand%5B%5D=instant_available.net_available
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1QpmE1S1bA2P7JoA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1QpmE1S1bA2P7JoA
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "balance",
          "available": [
            {
              "amount": 2959900,
              "currency": "usd",
              "source_types": {
                "card": 2959900
              }
            }
          ],
          "instant_available": [
            {
              "amount": 2959900,
              "currency": "usd",
              "net_available": [
                {
                  "amount": 2873689,
                  "destination": "ba_1QpmE1S1bA2P7JoAuESSgtbm",
                  "source_types": {
                    "card": 2873689
                  }
                }
              ],
              "source_types": {
                "card": 2959900
              }
            }
          ],
          "livemode": false,
          "pending": [
            {
              "amount": 0,
              "currency": "usd",
              "source_types": {
                "card": 0
              }
            }
          ]
        }
  recorded_at: Fri, 07 Feb 2025 07:44:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payouts
    body:
      encoding: UTF-8
      string: amount=970776&currency=usd&destination=ba_1QpmE1S1bA2P7JoAuESSgtbm&statement_descriptor=Gumroad&description=PgPrUpGvEv_9HJRQOjuYXw%3D%3D&metadata[payment]=PgPrUpGvEv_9HJRQOjuYXw%3D%3D&metadata[bank_account]=E03ACMtyL0HTcPJ12Bkv0w%3D%3D&metadata[balances%7B0%7D]=E03ACMtyL0HTcPJ12Bkv0w%3D%3D%2CPgPrUpGvEv_9HJRQOjuYXw%3D%3D&method=instant
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e5de45d2-c60f-4470-81fe-7115ad5789f5
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1QpmE1S1bA2P7JoA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e5de45d2-c60f-4470-81fe-7115ad5789f5
      Original-Request:
      - req_L3sYRxWjBqdNo0
      Stripe-Account:
      - acct_1QpmE1S1bA2P7JoA
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "po_1QpmEvS1bA2P7JoAsB1pn9mT",
          "object": "payout",
          "amount": 970776,
          "application_fee": "fee_1QpmEvS1bA2P7JoA5HHWy8Fm",
          "application_fee_amount": 29123,
          "arrival_date": 1738914281,
          "automatic": false,
          "balance_transaction": "txn_1QpmEvS1bA2P7JoAIefVZT7W",
          "created": 1738914281,
          "currency": "usd",
          "description": "PgPrUpGvEv_9HJRQOjuYXw==",
          "destination": "ba_1QpmE1S1bA2P7JoAuESSgtbm",
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {
            "balances{0}": "E03ACMtyL0HTcPJ12Bkv0w==,PgPrUpGvEv_9HJRQOjuYXw==",
            "bank_account": "E03ACMtyL0HTcPJ12Bkv0w==",
            "payment": "PgPrUpGvEv_9HJRQOjuYXw=="
          },
          "method": "instant",
          "original_payout": null,
          "payout_method": null,
          "reconciliation_status": "not_applicable",
          "reversed_by": null,
          "source_type": "card",
          "statement_descriptor": "Gumroad",
          "status": "pending",
          "trace_id": {
            "status": "pending",
            "value": null
          },
          "type": "bank_account"
        }
  recorded_at: Fri, 07 Feb 2025 07:44:42 GMT
[...]
