---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=Gumroad+Charge+HypNI43kvmE-ZOitENgCDw%3D%3D&metadata[purchase]=CH-HypNI43kvmE-ZOitENgCDw%3D%3D&payment_method_types[0]=card&transfer_group=CH-30&statement_descriptor_suffix=edgar1dedf7512&application_fee_amount=150
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - deferred_intent_test_58e38041fe7c87e4d8287427729f6089
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1SOb0DEwFhlcVS6d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - deferred_intent_test_58e38041fe7c87e4d8287427729f6089
      Original-Request:
      - req_wlWlPiTCRu3ssJ
      Stripe-Account:
      - acct_1SOb0DEwFhlcVS6d
      Stripe-Notice:
      - You are using an outdated API version (2023-10-16). We recommend upgrading
        to the latest API version, 2026-06-24.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3TonO7EwFhlcVS6d1XPtyDfC",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": "ca_TJxFQxHlib0V0szNs1zYNZfrsNKw4X3q",
          "application_fee_amount": 150,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3TonO7EwFhlcVS6d1XPtyDfC_secret_u8nLtRFcT5tLVUDnab5kW3fKs",
          "confirmation_method": "automatic",
          "created": 1783009375,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "Gumroad Charge HypNI43kvmE-ZOitENgCDw==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "purchase": "CH-HypNI43kvmE-ZOitENgCDw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar1dedf7512",
          "status": "requires_payment_method",
          "transfer_data": null,
          "transfer_group": "CH-30"
        }
  recorded_at: Thu, 02 Jul 2026 16:22:55 GMT
recorded_with: VCR 6.2.0
