---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d2291d37-eb0a-4abb-84dd-50770e406118
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d2291d37-eb0a-4abb-84dd-50770e406118
      Original-Request:
      - req_Dov0eTIkurAIyM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6xDn9e1RjUNIyYqAAhC9u0",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698679063,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 15:17:44 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xDn9e1RjUNIyYqAAhC9u0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0O6xDn9e1RjUNIyYqAAhC9u0
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 27931f7b-6ac9-4c53-afb0-7a7a41f9af0e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 27931f7b-6ac9-4c53-afb0-7a7a41f9af0e
      Original-Request:
      - req_cmnsquENvhfD83
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OumnioOPOZDGvN",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698679064,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "2E4CC6FC",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 15:17:45 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xDp9e1RjUNIyYqMPRSWdJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=599&currency=usd&description=You+bought+http%3A%2F%2Fedgarf50010b5357.test.gumroad.com%3A31337%2Fl%2Fa&metadata[purchase]=wKleCPnKNeKFMfDK0nBmhw%3D%3D&transfer_group=246&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OumnJfNKuAIH3h&payment_method=pm_0O6xDp9e1RjUNIyYqMPRSWdJ&statement_descriptor_suffix=edgarf50010b5357
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8bc2b6d3-afdc-454a-a47d-3326888bae18
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8bc2b6d3-afdc-454a-a47d-3326888bae18
      Original-Request:
      - req_aAtyQUyTiXT8NA
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6xDs9e1RjUNIyY0XsTg2zF",
          "object": "payment_intent",
          "amount": 599,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 599,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6xDs9e1RjUNIyY0XsTg2zF_secret_vdDkTMKNhZwtBea8trEMvM3jD",
          "confirmation_method": "manual",
          "created": 1698679068,
          "currency": "usd",
          "customer": "cus_OumnJfNKuAIH3h",
          "description": "You bought http://edgarf50010b5357.test.gumroad.com:31337/l/a",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6xDs9e1RjUNIyY0MljNG6h",
          "livemode": false,
          "metadata": {
            "purchase": "wKleCPnKNeKFMfDK0nBmhw=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6xDp9e1RjUNIyYqMPRSWdJ",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarf50010b5357",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "246"
        }
  recorded_at: Tue, 31 Oct 2023 15:17:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6xDs9e1RjUNIyY0MljNG6h?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6xDs9e1RjUNIyY0MljNG6h",
          "object": "charge",
          "amount": 599,
          "amount_captured": 599,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6xDs9e1RjUNIyY02gGQuYx",
            "object": "balance_transaction",
            "amount": 599,
            "available_on": 1698796800,
            "created": 1698679068,
            "currency": "usd",
            "description": "You bought http://edgarf50010b5357.test.gumroad.com:31337/l/a",
            "exchange_rate": null,
            "fee": 35,
            "fee_details": [
              {
                "amount": 35,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 564,
            "reporting_category": "charge",
            "source": "ch_2O6xDs9e1RjUNIyY0MljNG6h",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARF50010",
          "captured": true,
          "created": 1698679068,
          "currency": "usd",
          "customer": "cus_OumnJfNKuAIH3h",
          "description": "You bought http://edgarf50010b5357.test.gumroad.com:31337/l/a",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "wKleCPnKNeKFMfDK0nBmhw=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 0,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6xDs9e1RjUNIyY0XsTg2zF",
          "payment_method": "pm_0O6xDp9e1RjUNIyYqMPRSWdJ",
          "payment_method_details": {
            "card": {
              "amount_authorized": 599,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 599,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUonpL_qQYyBnA7BkeicjosFnJoxCMtoBwU2o8Q1-602x0SovNnVOFpSgyl20ioLDAMk0qiXlWcZSMjfUA",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarf50010b5357",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "246"
        }
  recorded_at: Tue, 31 Oct 2023 15:17:48 GMT
recorded_with: VCR 6.2.0
