---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0025+0000+3155&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8945a641-c513-49df-8abd-55d2f6f8e4af
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8945a641-c513-49df-8abd-55d2f6f8e4af
      Original-Request:
      - req_u3uZsa0zVXCRJ8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfAD9e1RjUNIyYiZMBmi7v",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "FR",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "oAfFzXbpUnAdpxWE",
            "funding": "credit",
            "generated_from": null,
            "last4": "3155",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703852865,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:27:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfAD9e1RjUNIyYiZMBmi7v
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0OSfAD9e1RjUNIyYiZMBmi7v
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 04d4a6b8-b4ed-47b4-b538-634b6051284e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 04d4a6b8-b4ed-47b4-b538-634b6051284e
      Original-Request:
      - req_u2M9eF3eziGQaz
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDbGWXnPmBaFn",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703852866,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "FE8C8865",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:27:47 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method_types[0]=card&usage=off_session&customer=cus_PHDbGWXnPmBaFn&payment_method=pm_0OSfAD9e1RjUNIyYiZMBmi7v
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a866b768-d569-47ae-83c5-5743150a13ea
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a866b768-d569-47ae-83c5-5743150a13ea
      Original-Request:
      - req_mjCSiFFznhDxUs
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OSfAF9e1RjUNIyYMVIGVf8K",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OSfAF9e1RjUNIyYMVIGVf8K_secret_PHDb7TV9VcHFWms0eZUlzeRyO4nSGaa",
          "created": 1703852867,
          "customer": "cus_PHDbGWXnPmBaFn",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": null,
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfAD9e1RjUNIyYiZMBmi7v",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "requires_confirmation",
          "usage": "off_session"
        }
  recorded_at: Fri, 29 Dec 2023 12:27:47 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents/seti_0OSfAF9e1RjUNIyYMVIGVf8K/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e45e4940-bf4f-4884-8211-5d8a747e16ca
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e45e4940-bf4f-4884-8211-5d8a747e16ca
      Original-Request:
      - req_3ytExRggqvyIJM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OSfAF9e1RjUNIyYMVIGVf8K",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OSfAF9e1RjUNIyYMVIGVf8K_secret_PHDb7TV9VcHFWms0eZUlzeRyO4nSGaa",
          "created": 1703852867,
          "customer": "cus_PHDbGWXnPmBaFn",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0OSfAF9e1RjUNIyYktSXu31W",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": {
            "type": "use_stripe_sdk",
            "use_stripe_sdk": {
              "source": "src_0OSfAF9e1RjUNIyYKHYa1Xwv",
              "stripe_js": "https://hooks.stripe.com/redirect/authenticate/src_0OSfAF9e1RjUNIyYKHYa1Xwv?client_secret=src_client_secret_DZfDm9Otj57mY9yAh0wrpENy&source_redirect_slug=test_OWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUsX1BIRGJuTGRsRXlmVUFXVUprYmZoMlVMSHZESW0xRTE01008hfaa5vU",
              "type": "three_d_secure_redirect"
            }
          },
          "on_behalf_of": null,
          "payment_method": "pm_0OSfAD9e1RjUNIyYiZMBmi7v",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "requires_action",
          "usage": "off_session"
        }
  recorded_at: Fri, 29 Dec 2023 12:27:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/setup_intents/seti_0OSfAF9e1RjUNIyYMVIGVf8K
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
