---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - eea8b918-9466-4b5b-907d-b6c0ef978802
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - eea8b918-9466-4b5b-907d-b6c0ef978802
      Original-Request:
      - req_AC0HrwYeJkXKru
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6xFy9e1RjUNIyYnK6iLtdQ",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698679198,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 15:19:59 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6xFy9e1RjUNIyYnK6iLtdQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=565&email=edgar82347729_1195%40gumroad.com&payment_method=pm_0O6xFy9e1RjUNIyYnK6iLtdQ
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 12561b55-ed3a-4fcf-b725-b9ba1ce30f6c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 12561b55-ed3a-4fcf-b725-b9ba1ce30f6c
      Original-Request:
      - req_PrAURnpXLplhwp
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OumpsrRcfwhLWN",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1698679199,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "565",
          "discount": null,
          "email": "edgar82347729_1195@gumroad.com",
          "invoice_prefix": "3D9C9FEF",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Oct 2023 15:20:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=599&currency=usd&description=You+bought+http%3A%2F%2Fedgarde8d89e3564.test.gumroad.com%3A31337%2Fl%2Fe&metadata[purchase]=vdHMiobsUzvRD5ruVAjQzA%3D%3D&transfer_group=364&payment_method_types[0]=card&confirmation_method=manual&confirm=true&off_session=true&customer=cus_OumpsrRcfwhLWN&payment_method=pm_0O6xFy9e1RjUNIyYnK6iLtdQ&statement_descriptor_suffix=edgarde8d89e3564
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e4ab2253-5177-4de6-9dd0-434f9a9af604
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e4ab2253-5177-4de6-9dd0-434f9a9af604
      Original-Request:
      - req_En9DBxIRYh31bA
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6xG19e1RjUNIyY0wC7QCKx",
          "object": "payment_intent",
          "amount": 599,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 599,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6xG19e1RjUNIyY0wC7QCKx_secret_SSLY74N27xA8idWuuEMdvymFg",
          "confirmation_method": "manual",
          "created": 1698679201,
          "currency": "usd",
          "customer": "cus_OumpsrRcfwhLWN",
          "description": "You bought http://edgarde8d89e3564.test.gumroad.com:31337/l/e",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6xG19e1RjUNIyY0BbgmI9V",
          "livemode": false,
          "metadata": {
            "purchase": "vdHMiobsUzvRD5ruVAjQzA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6xFy9e1RjUNIyYnK6iLtdQ",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarde8d89e3564",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "364"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6xG19e1RjUNIyY0BbgmI9V?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6xG19e1RjUNIyY0BbgmI9V",
          "object": "charge",
          "amount": 599,
          "amount_captured": 599,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6xG19e1RjUNIyY0PlVL2fg",
            "object": "balance_transaction",
            "amount": 599,
            "available_on": 1698796800,
            "created": 1698679201,
            "currency": "usd",
            "description": "You bought http://edgarde8d89e3564.test.gumroad.com:31337/l/e",
            "exchange_rate": null,
            "fee": 35,
            "fee_details": [
              {
                "amount": 35,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 564,
            "reporting_category": "charge",
            "source": "ch_2O6xG19e1RjUNIyY0BbgmI9V",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGARDE8D89",
          "captured": true,
          "created": 1698679201,
          "currency": "usd",
          "customer": "cus_OumpsrRcfwhLWN",
          "description": "You bought http://edgarde8d89e3564.test.gumroad.com:31337/l/e",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "vdHMiobsUzvRD5ruVAjQzA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 58,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6xG19e1RjUNIyY0wC7QCKx",
          "payment_method": "pm_0O6xFy9e1RjUNIyYnK6iLtdQ",
          "payment_method_details": {
            "card": {
              "amount_authorized": 599,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 599,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoo5P_qQYyBnOtwisfHDosFu1PexXbsqBklSriB9UbV8piWo_9quF9pXwkCj1tsU43wI07mnogFzvScbM",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarde8d89e3564",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "364"
        }
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
recorded_with: VCR 6.2.0
