---
http_interactions:
- request:
    method: get
    uri: https://api.sendgrid.com/v3/suppression/spam_reports/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GUMROAD_TRANSACTIONS_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '599'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1684448280'
      Twilio-Request-Id:
      - RQ2Pz7qYNGzBEPdiAWiHEYkmdaojO
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 18 May 2023 22:17:27 GMT
- request:
    method: get
    uri: https://api.sendgrid.com/v3/suppression/spam_reports/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GUMROAD_FOLLOWER_CONFIRMATION_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '599'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1684448280'
      Twilio-Request-Id:
      - RQ2Pz7qhQwnQfnPdKGAwRKCrqlnfq
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 18 May 2023 22:17:28 GMT
- request:
    method: get
    uri: https://api.sendgrid.com/v3/suppression/spam_reports/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GR_CREATORS_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '599'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1684448280'
      Twilio-Request-Id:
      - RQ2Pz7qeRwQjgDrgolhBoJWPLZofP
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 18 May 2023 22:17:29 GMT
- request:
    method: get
    uri: https://api.sendgrid.com/v3/suppression/spam_reports/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GR_CUSTOMERS_LEVEL_2_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '599'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1684448280'
      Twilio-Request-Id:
      - RQ2Pz7qmaDIuyZK5UEPAw54ef7RZ9
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 18 May 2023 22:17:29 GMT
- request:
    method: get
    uri: https://api.sendgrid.com/v3/suppression/spam_reports/sam@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_GR_CUSTOMERS_LEVEL_2_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '598'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Reset:
      - '1684448280'
      Twilio-Request-Id:
      - RQ2Pz7qwu5Yl8cqmYO5t0PykBq7Ij
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 18 May 2023 22:17:30 GMT
recorded_with: VCR 6.1.0
