---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123&billing_details[address][postal_code]=12345
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - dddb2020-8fa9-4662-9e48-c091be8eea5c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - dddb2020-8fa9-4662-9e48-c091be8eea5c
      Original-Request:
      - req_yv31sCGUj3DMkO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0O6tQI9e1RjUNIyY9GuJ7ojm",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": "unchecked",
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1698664462,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Oct 2023 11:14:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0O6tQI9e1RjUNIyY9GuJ7ojm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500152&currency=usd&description=You+bought+http%3A%2F%2Fedgar292837b0254.test.gumroad.com%3A31337%2Fl%2Fi&metadata[purchase]=uQQ90uzrq-D3ZgK35b_nUA%3D%3D&transfer_group=198&payment_method_types[0]=card&confirmation_method=manual&confirm=true&payment_method=pm_0O6tQI9e1RjUNIyY9GuJ7ojm&statement_descriptor_suffix=edgar292837b0254
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 19df855f-4849-4bd8-83d8-ed8d1ec8575e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 19df855f-4849-4bd8-83d8-ed8d1ec8575e
      Original-Request:
      - req_HDLZOUfV1UwpAC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2O6tQJ9e1RjUNIyY0u9OWE9C",
          "object": "payment_intent",
          "amount": 500152,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 500152,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2O6tQJ9e1RjUNIyY0u9OWE9C_secret_HPJs5g15LqpJMt9QHFMUjWavi",
          "confirmation_method": "manual",
          "created": 1698664463,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar292837b0254.test.gumroad.com:31337/l/i",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2O6tQJ9e1RjUNIyY0sW9PWdG",
          "livemode": false,
          "metadata": {
            "purchase": "uQQ90uzrq-D3ZgK35b_nUA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0O6tQI9e1RjUNIyY9GuJ7ojm",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar292837b0254",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "198"
        }
  recorded_at: Mon, 30 Oct 2023 11:14:24 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2O6tQJ9e1RjUNIyY0sW9PWdG?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2O6tQJ9e1RjUNIyY0sW9PWdG",
          "object": "charge",
          "amount": 500152,
          "amount_captured": 500152,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2O6tQJ9e1RjUNIyY0Uy6Z1p4",
            "object": "balance_transaction",
            "amount": 500152,
            "available_on": 1698796800,
            "created": 1698664463,
            "currency": "usd",
            "description": "You bought http://edgar292837b0254.test.gumroad.com:31337/l/i",
            "exchange_rate": null,
            "fee": 10033,
            "fee_details": [
              {
                "amount": 10033,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 490119,
            "reporting_category": "charge",
            "source": "ch_2O6tQJ9e1RjUNIyY0sW9PWdG",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR292837",
          "captured": true,
          "created": 1698664463,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar292837b0254.test.gumroad.com:31337/l/i",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "uQQ90uzrq-D3ZgK35b_nUA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 35,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2O6tQJ9e1RjUNIyY0u9OWE9C",
          "payment_method": "pm_0O6tQI9e1RjUNIyY9GuJ7ojm",
          "payment_method_details": {
            "card": {
              "amount_authorized": 500152,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": "pass",
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 500152,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUokaD-qQYyBtOQwap1YDosFnhhMjeK-Ys_uwc_lowGQJzP1_fZcuTQdlrQLmX3MQjw1Rp446OTtCZF7YQ",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar292837b0254",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "198"
        }
  recorded_at: Mon, 30 Oct 2023 11:14:25 GMT
recorded_with: VCR 6.2.0
