---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f6f779b4-cc4a-4622-bf8a-5629cd645ebd
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f6f779b4-cc4a-4622-bf8a-5629cd645ebd
      Original-Request:
      - req_Oe706yJleKlSOA
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0P5X3g9e1RjUNIyYbgx0DrPr",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1713116500,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 14 Apr 2024 17:41:40 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0P5X3g9e1RjUNIyYbgx0DrPr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fseller.test.gumroad.com%3A31337%2Fl%2Fl&metadata[purchase]=fjUeSyuGe9Mc1g9Wla8aXQ%3D%3D&transfer_group=53&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_0P5X3g9e1RjUNIyYbgx0DrPr&statement_descriptor_suffix=Seller
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 25d8e087-bad9-4f74-89f2-e7daf8e86866
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 25d8e087-bad9-4f74-89f2-e7daf8e86866
      Original-Request:
      - req_fScY2j13xCSJis
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2P5X3h9e1RjUNIyY0WfgFVQi",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2P5X3h9e1RjUNIyY0WfgFVQi_secret_qc3xU5Uvoe0Pg1fB6h7SHSORg",
          "confirmation_method": "automatic",
          "created": 1713116501,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://seller.test.gumroad.com:31337/l/l",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2P5X3h9e1RjUNIyY0HNpFyxY",
          "livemode": false,
          "metadata": {
            "purchase": "fjUeSyuGe9Mc1g9Wla8aXQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0P5X3g9e1RjUNIyYbgx0DrPr",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "Seller",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "53"
        }
  recorded_at: Sun, 14 Apr 2024 17:41:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2P5X3h9e1RjUNIyY0HNpFyxY?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2P5X3h9e1RjUNIyY0HNpFyxY",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2P5X3h9e1RjUNIyY01hkG2Te",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1713225600,
            "created": 1713116501,
            "currency": "usd",
            "description": "You bought http://seller.test.gumroad.com:31337/l/l",
            "exchange_rate": null,
            "fee": 10,
            "fee_details": [
              {
                "amount": 10,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 90,
            "reporting_category": "charge",
            "source": "ch_2P5X3h9e1RjUNIyY0HNpFyxY",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* SELLER",
          "captured": true,
          "created": 1713116501,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://seller.test.gumroad.com:31337/l/l",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "fjUeSyuGe9Mc1g9Wla8aXQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 39,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2P5X3h9e1RjUNIyY0WfgFVQi",
          "payment_method": "pm_0P5X3g9e1RjUNIyYbgx0DrPr",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo1qrwsAYyBlljp53bXDosFp6jV5FMtXjkVARQ5TvP78-pzIZpYZpoWxhpvk17cPiq7MQ6lywkW9C7q48",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "Seller",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "53"
        }
  recorded_at: Sun, 14 Apr 2024 17:41:42 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0P5X3i9e1RjUNIyY15G5jE2l
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2P5X3j9e1RjUNIyY0JxYbTkU?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0P5X3k9e1RjUNIyY0Km9yJ40
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0P5X3k9e1RjUNIyY0Km9yJ40
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1cdcd331-aa14-4a45-87eb-a5e1a0a4f1be
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1cdcd331-aa14-4a45-87eb-a5e1a0a4f1be
      Original-Request:
      - req_FIsnoW3LeR9HXJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PvNpd5xwx0AJiQ",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1713116505,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "F03DEDEE",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 14 Apr 2024 17:41:45 GMT
- request:
    method: post
    uri: https://apisandbox.iras.gov.sg/iras/sb/GSTListing/SearchGSTRegistered
    body:
      encoding: UTF-8
      string: '{"clientID":"<IRAS_API_ID>","regID":"T9100001C"}'
    headers:
      X-Ibm-Client-Id:
      - <IRAS_API_ID>
      X-Ibm-Client-Secret:
      - <IRAS_API_SECRET>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      True-Client-Ip:
      - 99.199.137.97
      X-Edgeconnect-Session-Id:
      - 66961eb8-661c1559-52989a5
      X-Akamai-Config-Log-Detail:
      - 'true'
      Akamai-Origin-Hop:
      - '2'
      X-Global-Transaction-Id:
      - 350421a6661c155a0215cfc3
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - name=default,100;
      X-Ratelimit-Remaining:
      - name=default,96;
    body:
      encoding: UTF-8
      string: '{"returnCode":"30","info":{"fieldInfoList":[],"message":"Invalid test
        user","messageCode":"850305"}}'
  recorded_at: Sun, 14 Apr 2024 17:41:46 GMT
recorded_with: VCR 6.2.0
