---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_threeDSecureOptional
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - cbf19eb0-085c-4c69-87d4-e99fcd86b772
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cbf19eb0-085c-4c69-87d4-e99fcd86b772
      Original-Request:
      - req_kG3ueHJ0b0uNUj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1T778aIBOqvOFDrf9NUzchve",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 3,
            "exp_year": 2027,
            "fingerprint": "qyHvmPygZ2LaTkOp",
            "funding": "credit",
            "generated_from": null,
            "last4": "3055",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1772598860,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 04 Mar 2026 04:34:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1T778aIBOqvOFDrf9NUzchve
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar1e7c8b232.test.gumroad.com%3A31337%2Fl%2Fw%21&metadata[purchase]=6I2guntkKxBKOZ5b7BCA5g%3D%3D&transfer_group=464&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_1T778aIBOqvOFDrf9NUzchve&statement_descriptor_suffix=edgar1e7c8b232
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6819ab0a-eccd-4354-be33-3ae4c2ff143f
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6819ab0a-eccd-4354-be33-3ae4c2ff143f
      Original-Request:
      - req_NP72qX07BAMNCy
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3T778bIBOqvOFDrf1xAquOIF",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3T778bIBOqvOFDrf1xAquOIF_secret_Qehud6Kg5oBoCvR3ahcZ7QiaU",
          "confirmation_method": "automatic",
          "created": 1772598861,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "You bought http://edgar1e7c8b232.test.gumroad.com:31337/l/w!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3T778bIBOqvOFDrf1UcVmdxF",
          "livemode": false,
          "metadata": {
            "purchase": "6I2guntkKxBKOZ5b7BCA5g=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1T778aIBOqvOFDrf9NUzchve",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar1e7c8b232",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "464"
        }
  recorded_at: Wed, 04 Mar 2026 04:34:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3T778bIBOqvOFDrf1UcVmdxF?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3T778bIBOqvOFDrf1UcVmdxF",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3T778bIBOqvOFDrf1lds2l9A",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1773187200,
            "balance_type": "payments",
            "created": 1772598862,
            "currency": "usd",
            "description": "You bought http://edgar1e7c8b232.test.gumroad.com:31337/l/w!",
            "exchange_rate": null,
            "fee": 33,
            "fee_details": [
              {
                "amount": 33,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 67,
            "reporting_category": "charge",
            "source": "ch_3T778bIBOqvOFDrf1UcVmdxF",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR1E7C8B232",
          "captured": true,
          "created": 1772598862,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar1e7c8b232.test.gumroad.com:31337/l/w!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "6I2guntkKxBKOZ5b7BCA5g=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 38,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3T778bIBOqvOFDrf1xAquOIF",
          "payment_method": "pm_1T778aIBOqvOFDrf9NUzchve",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "authorization_code": "158145",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 3,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "qyHvmPygZ2LaTkOp",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "3055",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "113121721181098",
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKM_sns0GMgY8o8BUk1w6LBZe1mZiXmdbJ4Vkq5XyHtRsf6oVuw75dXGUBn9pzyUE7uNZs5_OTkDmI2bJ",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar1e7c8b232",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "464"
        }
  recorded_at: Wed, 04 Mar 2026 04:34:23 GMT
recorded_with: VCR 6.2.0
