---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9e577427-3cc2-4edb-b8ab-ed5f88f95f2d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9e577427-3cc2-4edb-b8ab-ed5f88f95f2d
      Original-Request:
      - req_EubFwQu6wp3jJv
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SOdquIBOqvOFDrfVbYLmxus",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 11,
            "exp_year": 2026,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1761999856,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sat, 01 Nov 2025 12:24:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SOdquIBOqvOFDrfVbYLmxus
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_1SOdquIBOqvOFDrfVbYLmxus
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 066b2f64-fdd7-460c-b688-7078d4528293
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 066b2f64-fdd7-460c-b688-7078d4528293
      Original-Request:
      - req_PR0wfjO9BBtB2r
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TLKVAiggE90x9K",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1761999856,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "6BABS8CG",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 01 Nov 2025 12:24:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_card_indiaRecurringMandateSetupAndRenewalsSuccess
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3SOdR0IBOqvOFDrf1MBxDys4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SOdR0IBOqvOFDrf1MBxDys4",
          "object": "payment_intent",
          "amount": 500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 500,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SOdR0IBOqvOFDrf1MBxDys4_secret_aN8m565cLW83YNr2xR5gwAbI4",
          "confirmation_method": "automatic",
          "created": 1761998250,
          "currency": "usd",
          "customer": "cus_TLK5KncEpdGdIH",
          "description": "Gumroad Charge 5oLZNznP5-T3bI9r9Pzrxg==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SOdR0IBOqvOFDrf1jPbSPdX",
          "livemode": false,
          "metadata": {
            "purchases{0}": "g18Xp0kpoI_3ZnfabyG4FA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SOdQxIBOqvOFDrfANv6cZO4",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": {
                "amount": 500,
                "amount_type": "maximum",
                "description": null,
                "end_date": null,
                "interval": "month",
                "interval_count": 1,
                "reference": "Mandate-13032ff092aa2f68919ed368042e3705",
                "start_date": 1761998250,
                "supported_types": [
                  "india"
                ]
              },
              "network": null,
              "request_three_d_secure": "any"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "Gumbot",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-1273"
        }
  recorded_at: Sat, 01 Nov 2025 12:24:19 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SOdR0IBOqvOFDrf1jPbSPdX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SOdR0IBOqvOFDrf1jPbSPdX",
          "object": "charge",
          "amount": 500,
          "amount_captured": 500,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3SOdR0IBOqvOFDrf1mlXGzJU",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": "",
              "state": null
            },
            "email": "test@gumroad.com",
            "name": "Gumhead Moneybags",
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* GUMBOT",
          "captured": true,
          "created": 1761998255,
          "currency": "usd",
          "customer": "cus_TLK5KncEpdGdIH",
          "description": "Gumroad Charge 5oLZNznP5-T3bI9r9Pzrxg==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "g18Xp0kpoI_3ZnfabyG4FA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 5,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SOdR0IBOqvOFDrf1MBxDys4",
          "payment_method": "pm_1SOdQxIBOqvOFDrfANv6cZO4",
          "payment_method_details": {
            "card": {
              "amount_authorized": 500,
              "authorization_code": "518114",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "IN",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hYEJM5n23nQzebTI",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "0123",
              "mandate": "mandate_1SOdR5IBOqvOFDrfp74c1PnP",
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104896974775311",
              "overcapture": {
                "maximum_amount_capturable": 500,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": {
                "authentication_flow": "challenge",
                "electronic_commerce_indicator": "05",
                "exemption_indicator": null,
                "result": "authenticated",
                "result_reason": null,
                "transaction_id": "678f4d74-748e-4493-a99d-7c0c7133cc39",
                "version": "2.2.0"
              },
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKPP3l8gGMgarSTB_97s6LBb2tiwCIglGsDI5IKAGlAOzVYj4EtwRM2qt_2reTnhaoXISN-BF7tndGIHf",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "Gumbot",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-1273"
        }
  recorded_at: Sat, 01 Nov 2025 12:24:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500&currency=usd&description=You+bought+http%3A%2F%2Fedgarbfd0adbb3.test.gumroad.com%3A31337%2Fl%2Fs%21&metadata[purchase]=YQfHZIicZUQTyDdUi2Vj8g%3D%3D&transfer_group=4165&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_TLK5KncEpdGdIH&payment_method=pm_1SOdQxIBOqvOFDrfANv6cZO4&mandate=mandate_1SOdR5IBOqvOFDrfp74c1PnP&statement_descriptor_suff[...]
