---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000+0000+0000+0002&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c56733fa-a9b5-4ba4-8340-bb6ba4a92f14
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c56733fa-a9b5-4ba4-8340-bb6ba4a92f14
      Original-Request:
      - req_AtsMU8MiDGUJEY
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfOQ9e1RjUNIyYjLJk8sir",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "oiLxi0ZM3Ud9pQDh",
            "funding": "credit",
            "generated_from": null,
            "last4": "0002",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703853746,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:42:26 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfOQ9e1RjUNIyYjLJk8sir
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500&currency=usd&description=You+bought+http%3A%2F%2Fedgar4268b7ca144.test.gumroad.com%3A31337%2Fl%2Fl&metadata[purchase]=1o6Uqoocgb3IMKY9R6UOgQ%3D%3D&transfer_group=218&payment_method_types[0]=card&payment_method=pm_0OSfOQ9e1RjUNIyYjLJk8sir&statement_descriptor_suffix=edgar4268b7ca144
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 751b392d-8bd0-4fe9-8285-64225248bed9
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 751b392d-8bd0-4fe9-8285-64225248bed9
      Original-Request:
      - req_Vs6GAD4MZdRGKH
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSfOR9e1RjUNIyY1nbosJns",
          "object": "payment_intent",
          "amount": 500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSfOR9e1RjUNIyY1nbosJns_secret_UH8Fzt23PxrwTYeocXAS0xNyH",
          "confirmation_method": "automatic",
          "created": 1703853747,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar4268b7ca144.test.gumroad.com:31337/l/l",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchase": "1o6Uqoocgb3IMKY9R6UOgQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfOQ9e1RjUNIyYjLJk8sir",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar4268b7ca144",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "218"
        }
  recorded_at: Fri, 29 Dec 2023 12:42:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSfOR9e1RjUNIyY1nbosJns/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 94680f65-8961-411a-8075-af47f973f363
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 94680f65-8961-411a-8075-af47f973f363
      Original-Request:
      - req_jphFHMThnhTVY6
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_2OSfOR9e1RjUNIyY1mb4ymQP",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "payment_intent": {
              "id": "pi_2OSfOR9e1RjUNIyY1nbosJns",
              "object": "payment_intent",
              "amount": 500,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=You+bought+http%3A%2F%2Fedgar17a46608145.test.gumroad.com%3A31337%2Fl%2Fm&metadata[purchase]=EN5wGrkGLwiYwSQxsIh9kg%3D%3D&transfer_group=219&payment_method_types[0]=card&payment_method=pm_0OSfOQ9e1RjUNIyYjLJk8sir&statement_descriptor_suffix=edgar17a46608145
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d43f5148-ce66-410f-864a-5fda428c83eb
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d43f5148-ce66-410f-864a-5fda428c83eb
      Original-Request:
      - req_L2PCDITZ8C1oVe
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "The provided PaymentMethod was previously used with a PaymentIntent without Customer attachment, shared with a connected account without Customer attachment, or was detached from a Customer. It may not be used again. To use a PaymentMethod multiple times, you must attach it to a Customer first.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_L2PCDITZ8C1oVe?t=1703853749",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Fri, 29 Dec 2023 12:42:29 GMT
recorded_with: VCR 6.2.0
