---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa_chargeDeclined
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 799f6fd8-e00b-4a25-90eb-156f8c9e7c66
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 799f6fd8-e00b-4a25-90eb-156f8c9e7c66
      Original-Request:
      - req_RgArgzgZEJjmDz
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzH9NIBOqvOFDrfmNNcc279",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "cQWd8hUpgSG2iRvA",
            "funding": "credit",
            "generated_from": null,
            "last4": "0002",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730725,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:38:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzH9NIBOqvOFDrfmNNcc279
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1500&currency=usd&description=Gumroad+Charge+GYAV-keOL2mqpqOQEU1C-A%3D%3D&metadata[purchases%7B0%7D]=1OciP4ZOurtXVfMeF4s0GA%3D%3D%2CGKi9YVi4iFCWFEeBKgDQmQ%3D%3D&transfer_group=CH-838&payment_method_types[0]=card&off_session=false&payment_method=pm_1SzH9NIBOqvOFDrfmNNcc279&statement_descriptor_suffix=edgar2397f05e135
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c7324f92-8271-4382-b65a-850380d2eabf
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c7324f92-8271-4382-b65a-850380d2eabf
      Original-Request:
      - req_fonkN3DyB5I3tR
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzH9OIBOqvOFDrf1hQpmTri",
          "object": "payment_intent",
          "amount": 1500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzH9OIBOqvOFDrf1hQpmTri_secret_7uRscF8FqarwMGp0cTdk4yXkI",
          "confirmation_method": "automatic",
          "created": 1770730726,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "Gumroad Charge GYAV-keOL2mqpqOQEU1C-A==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "1OciP4ZOurtXVfMeF4s0GA==,GKi9YVi4iFCWFEeBKgDQmQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH9NIBOqvOFDrfmNNcc279",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar2397f05e135",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-838"
        }
  recorded_at: Tue, 10 Feb 2026 13:38:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SzH9OIBOqvOFDrf1hQpmTri/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 31697cb2-4593-4226-ae5c-46bbd4617a28
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 31697cb2-4593-4226-ae5c-46bbd4617a28
      Original-Request:
      - req_HMZEZcWmctRhct
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "advice_code": "try_again_later",
            "charge": "ch_3SzH9OIBOqvOFDrf1jF71mb1",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "network_decline_code": "01",
            "payment_intent": {
              "id": "pi_3SzH9OIBOqvOFDrf1hQpmTri",
              "object": "payment_intent",
              "amount": 1500,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "[...]
