---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 965b407d-4deb-409f-a24a-7781368c5a52
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 965b407d-4deb-409f-a24a-7781368c5a52
      Original-Request:
      - req_lUWkk03cU0chUf
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzH7lIBOqvOFDrfUBKpvTlL",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730625,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:37:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH7lIBOqvOFDrfUBKpvTlL
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5185ba6b-c2db-4744-a71b-c26afc59c9cd
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5185ba6b-c2db-4744-a71b-c26afc59c9cd
      Original-Request:
      - req_6oPmWPNSlXe4AO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TxBU0CufkahkVO",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1770730626,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "EFBHS6NM",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 10 Feb 2026 13:37:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH7lIBOqvOFDrfUBKpvTlL&customer=cus_TxBU0CufkahkVO&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 22b90adc-0684-4a38-a45f-568bb9b27333
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 22b90adc-0684-4a38-a45f-568bb9b27333
      Original-Request:
      - req_gbSwtFZuHg7cpo
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1SzH7mIBOqvOFDrfoTCPLYHK",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_1SzH7mIBOqvOFDrfoTCPLYHK_secret_TxBUk0uD8KZ33ESFwzQkBgxVmvVblGf",
          "created": 1770730626,
          "customer": "cus_TxBU0CufkahkVO",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_1SzH7nIBOqvOFDrffKNlTcVz",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH7lIBOqvOFDrfUBKpvTlL",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 10 Feb 2026 13:37:07 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzH7lIBOqvOFDrfUBKpvTlL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2000&currency=usd&description=Gumroad+Charge+4hutgAi_0g_RtuLZqjM-iQ%3D%3D&metadata[purchases%7B0%7D]=rNSQsufmRqt-Dat48piE1A%3D%3D%2C8JEmuPU4V-Rp5C2a6bbYyA%3D%3D&transfer_group=CH-809&payment_method_types[0]=card&off_session=false&customer=cus_TxBU0CufkahkVO&payment_method=pm_1SzH7lIBOqvOFDrfUBKpvTlL&statement_descriptor_suffix=edgarbc1aa18699
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e471f776-576d-40a4-b8eb-000fbf2036c0
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e471f776-576d-40a4-b8eb-000fbf2036c0
      Original-Request:
      - req_w9JXUxKYqG27JN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzH7oIBOqvOFDrf1ng4zztM",
          "object": "payment_intent",
          "amount": 2000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzH7oIBOqvOFDrf1ng4zztM_secret_hbkBXe1ZYNHR5I7L0WHuoPc9x",
          "confirmation_method": "automatic",
          "created": 1770730628,
          "currency": "usd",
          "customer": "cus_TxBU0CufkahkVO",
          "customer_account": null,
          "description": "Gumroad Charge 4hutgAi_0g_RtuLZqjM-iQ==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "rNSQsufmRqt-Dat48piE1A==,8JEmuPU4V-Rp5C2a6bbYyA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH7lIBOqvOFDrfUBKpvTlL",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarbc1aa18699",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "CH-809"
        }
  recorded_at: Tue, 10 Feb 2026 13:37:08 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SzH7oIBOqvOFDrf1ng4zztM/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 14e683bf-6b1c-4fce-b100-df017ca6beab
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SzH7oIBOqvOFDrf1o4D8fbI?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SzH7oIBOqvOFDrf1o4D8fbI",
          "object": "charge",
          "amount": 2000,
          "amount_captured": 2000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SzH7oIBOqvOFDrf1r8Ogjhg",
            "object": "balance_transaction",
            "amount": 2000,
            "available_on": 1771286400,
            "balance_type": "payments",
            "created": 1770730629,
            "currency": "usd",
            "description": "Gumroad Charge 4hutgAi_0g_RtuLZqjM-iQ==",
            "exchange_rate": null,
            "fee": 88,
            "fee_details": [
              {
                "amount": 88,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 1912,
            "reporting_category": "charge",
            "source": "ch_3SzH7oIBOqvOFDrf1o4D8fbI",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGARBC1AA1869",
          "captured": true,
          "created": 1770730629,
          "currency": "usd",
          "customer": "cus_TxBU0CufkahkVO",
          "description": "Gumroad Charge 4hutgAi_0g_RtuLZqjM-iQ==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "rNSQsufmRqt-Dat48piE1A==,8JEmuPU4V-Rp5C2a6bbYyA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 2,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SzH7oIBOqvOFDrf1ng4zztM",
          "payment_method": "pm_1SzH7lIBOqvOFDrfUBKpvTlL",
          "payment_method_details": {
            "card": {
              "amount_authorized": 2000,
              "authorization_code": "582092",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 2000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKIXprMwGMgbuaC0YIyA6LBYwl7dJLYhkkHP3EIUgQyMiwLpYaQ8Np2looghYNHgwMfFF2Y-qO5kHF1BO",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgarbc1aa18699",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-809"
        }
  recorded_at: Tue, 10 Feb 2026 13:37:10 GMT
recorded_with: VCR 6.2.0
