---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4e8ee99d-4866-4006-ace6-978519587ebf
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4e8ee99d-4866-4006-ace6-978519587ebf
      Original-Request:
      - req_wHJDq5KTmVujeS
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SzH83IBOqvOFDrfVM5sr7jo",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1770730643,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 10 Feb 2026 13:37:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH83IBOqvOFDrfVM5sr7jo
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7c9bce30-78c1-4df4-a5a0-ed5d4a44b313
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7c9bce30-78c1-4df4-a5a0-ed5d4a44b313
      Original-Request:
      - req_V4N83GBKF303M0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TxBV9ptcNcfaD1",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1770730644,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "PHHZJY04",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 10 Feb 2026 13:37:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_1SzH83IBOqvOFDrfVM5sr7jo&customer=cus_TxBV9ptcNcfaD1&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7109c58a-cca6-49f3-8861-50535184fe89
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7109c58a-cca6-49f3-8861-50535184fe89
      Original-Request:
      - req_Azz88qRZWTwYkC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1SzH84IBOqvOFDrfEtXERQbJ",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_1SzH84IBOqvOFDrfEtXERQbJ_secret_TxBVJKbZDh6Pw9XbRMH9GdpEkRD0XpI",
          "created": 1770730644,
          "customer": "cus_TxBV9ptcNcfaD1",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_1SzH84IBOqvOFDrfWK7BSODi",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH83IBOqvOFDrfVM5sr7jo",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Tue, 10 Feb 2026 13:37:25 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1SzH83IBOqvOFDrfVM5sr7jo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=Gumroad+Charge+x9UD3BRk5UpdB5IvVwAyqA%3D%3D&metadata[purchases%7B0%7D]=ghXzCJUiHR51mPdfnkTjkg%3D%3D&transfer_group=CH-813&payment_method_types[0]=card&off_session=true&confirm=true&customer=cus_TxBV9ptcNcfaD1&payment_method=pm_1SzH83IBOqvOFDrfVM5sr7jo&statement_descriptor_suffix=gumbo
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e61c7cac-99c6-4acf-8594-baa0d4511790
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e61c7cac-99c6-4acf-8594-baa0d4511790
      Original-Request:
      - req_pU3BcMFMMvvbz8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SzH86IBOqvOFDrf09zr8rrB",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SzH86IBOqvOFDrf09zr8rrB_secret_5LXnmDVkQE4ylpdZczFUTih9r",
          "confirmation_method": "automatic",
          "created": 1770730646,
          "currency": "usd",
          "customer": "cus_TxBV9ptcNcfaD1",
          "customer_account": null,
          "description": "Gumroad Charge x9UD3BRk5UpdB5IvVwAyqA==",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SzH86IBOqvOFDrf0cPF7UMZ",
          "livemode": false,
          "metadata": {
            "purchases{0}": "ghXzCJUiHR51mPdfnkTjkg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SzH83IBOqvOFDrfVM5sr7jo",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "gumbo",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-813"
        }
  recorded_at: Tue, 10 Feb 2026 13:37:27 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SzH86IBOqvOFDrf0cPF7UMZ?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SzH86IBOqvOFDrf0cPF7UMZ",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3SzH86IBOqvOFDrf0aBwnAMC",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1771286400,
            "balance_type": "payments",
            "created": 1770730646,
            "currency": "usd",
            "description": "Gumroad Charge x9UD3BRk5UpdB5IvVwAyqA==",
            "exchange_rate": null,
            "fee": 33,
            "fee_details": [
              {
                "amount": 33,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 67,
            "reporting_category": "charge",
            "source": "ch_3SzH86IBOqvOFDrf0cPF7UMZ",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* GUMBO",
          "captured": true,
          "created": 1770730646,
          "currency": "usd",
          "customer": "cus_TxBV9ptcNcfaD1",
          "description": "Gumroad Charge x9UD3BRk5UpdB5IvVwAyqA==",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchases{0}": "ghXzCJUiHR51mPdfnkTjkg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 23,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SzH86IBOqvOFDrf09zr8rrB",
          "payment_method": "pm_1SzH83IBOqvOFDrfVM5sr7jo",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "authorization_code": "782402",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKJfprMwGMgac25JrbVo6LBZeTOG15yDQgNcU4tHvTxrWlkdWu64CRfYa8K_353Sorc9bgiR9FjgZOBC4",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "gumbo",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "CH-813"
        }
  recorded_at: Tue, 10 Feb 2026 13:37:27 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SzH88IBOqvOFDrf0RNDg5aO?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
