---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":null,"from_zip":"94107","to_country":"US","to_state":"CA","to_zip":"94107","shipping":0.0,"line_items":[{"quantity":1,"unit_price":500.0,"discount":0}],"nexus_addresses":[{"country":"US","state":"CA"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7c7800c43ca77c8b5fb1e83a8de49d9e"
    body:
      encoding: ASCII-8BIT
      string: '{"tax":{"order_total_amount":500.0,"shipping":0.0,"taxable_amount":500.0,"amount_to_collect":43.13,"rate":0.08625,"has_nexus":true,"freight_taxable":false,"tax_source":"destination","jurisdictions":{"country":"US","state":"CA","county":"SAN
        FRANCISCO","city":"SAN FRANCISCO"},"breakdown":{"taxable_amount":500.0,"tax_collectable":43.13,"combined_tax_rate":0.08625,"state_taxable_amount":500.0,"state_tax_rate":0.0625,"state_tax_collectable":31.25,"county_taxable_amount":500.0,"county_tax_rate":0.01,"county_tax_collectable":5.0,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_tax_collectable":0.0,"special_district_taxable_amount":500.0,"special_tax_rate":0.01375,"special_district_tax_collectable":6.88,"line_items":[{"id":"1","taxable_amount":500.0,"tax_collectable":43.13,"combined_tax_rate":0.08625,"state_taxable_amount":500.0,"state_sales_tax_rate":0.0625,"state_amount":31.25,"county_taxable_amount":500.0,"county_tax_rate":0.01,"county_amount":5.0,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_amount":0.0,"special_district_taxable_amount":500.0,"special_tax_rate":0.01375,"special_district_amount":6.88}]}}}'
  recorded_at: Tue, 06 Dec 2022 15:56:02 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"201 Washington St","city":"Oakland","state":"CA","zip":"94607","country":"United
        States"},"verify":["delivery"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic RVpUSzJhNDk1NTQyNTdlODQ5YmRiMTc5NDI4YTc2MTZkZWY2S2x5U3lkZkIxdjd2UkpDZFpjeGtzQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 2c65df30638f6614e177b62200161c10
      Location:
      - "/api/v2/addresses/adr_7d65fa1b757e11edbbc9ac1f6bc7b362"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9259f3a4d2910a1aa65d729581803031"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202212011955-aa9a4d99eb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_7d65fa1b757e11edbbc9ac1f6bc7b362","object":"Address","created_at":"2022-12-06T15:56:04+00:00","updated_at":"2022-12-06T15:56:04+00:00","name":null,"company":null,"street1":"201
        WASHINGTON ST","street2":"","city":"OAKLAND","state":"CA","zip":"94607-3808","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.79654,"longitude":-122.2776,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Tue, 06 Dec 2022 15:56:04 GMT
recorded_with: VCR 6.1.0
