---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/transfers/tr_<STRONGBOX_GENERAL_PASSWORD>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such transfer: 'tr_<STRONGBOX_GENERAL_PASSWORD>'",
            "param": "transfer",
            "request_log_url": "https://dashboard.stripe.com/acct_1SNEgsIBOqvOFDrf/test/workbench/logs?object=req_HbRpYTyi1YUXE5",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Tue, 05 May 2026 09:09:27 GMT
recorded_with: VCR 6.2.0
