---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2023&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 805eeb3f-7b60-47a3-90d3-68f3ee436185
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 805eeb3f-7b60-47a3-90d3-68f3ee436185
      Original-Request:
      - req_yh7HeFp34mSyc9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0OSfNa9e1RjUNIyYDj01XeHn",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2023,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1703853694,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Dec 2023 12:41:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSfNa9e1RjUNIyYDj01XeHn
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6d2d1490-7f0f-41c0-b4a3-9e2e19c3c35c
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6d2d1490-7f0f-41c0-b4a3-9e2e19c3c35c
      Original-Request:
      - req_lOngwqdm2I38P6
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PHDpkRvXXpANWV",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1703853694,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "82FD8B0B",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Dec 2023 12:41:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_0OSfNa9e1RjUNIyYDj01XeHn&customer=cus_PHDpkRvXXpANWV&payment_method_types[0]=card&confirm=true&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4038da9a-80c0-441a-9889-b94be11c749a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4038da9a-80c0-441a-9889-b94be11c749a
      Original-Request:
      - req_hzCgGemRjswDDD
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_0OSfNb9e1RjUNIyYXDKhC1Iw",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_0OSfNb9e1RjUNIyYXDKhC1Iw_secret_PHDpz2ZjZfdQA4IIJJWTtMCNfz1dlBf",
          "created": 1703853695,
          "customer": "cus_PHDpkRvXXpANWV",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_0OSfNb9e1RjUNIyY22GHNB3L",
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfNa9e1RjUNIyYDj01XeHn",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Fri, 29 Dec 2023 12:41:36 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0OSfNa9e1RjUNIyYDj01XeHn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500&currency=usd&description=You+bought+http%3A%2F%2Fedgar090c02f1130.test.gumroad.com%3A31337%2Fl%2Fs&metadata[purchase]=F_dxwMqktN4_1YQ3Ok0RZg%3D%3D&transfer_group=204&payment_method_types[0]=card&customer=cus_PHDpkRvXXpANWV&payment_method=pm_0OSfNa9e1RjUNIyYDj01XeHn&statement_descriptor_suffix=edgar090c02f1130
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 679bead5-4410-43dd-bad9-3ab2faf8aabd
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 679bead5-4410-43dd-bad9-3ab2faf8aabd
      Original-Request:
      - req_JbV9ERHhakUhqL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2OSfNd9e1RjUNIyY0ULJmfm1",
          "object": "payment_intent",
          "amount": 500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2OSfNd9e1RjUNIyY0ULJmfm1_secret_67Vhv8cLK9iPY3gryTPaJKx6h",
          "confirmation_method": "automatic",
          "created": 1703853697,
          "currency": "usd",
          "customer": "cus_PHDpkRvXXpANWV",
          "description": "You bought http://edgar090c02f1130.test.gumroad.com:31337/l/s",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "purchase": "F_dxwMqktN4_1YQ3Ok0RZg=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0OSfNa9e1RjUNIyYDj01XeHn",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar090c02f1130",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "204"
        }
  recorded_at: Fri, 29 Dec 2023 12:41:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSfNd9e1RjUNIyY0ULJmfm1/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 79122e2c-7dd6-429c-87a1-099035a47c45
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSfNd9e1RjUNIyY0uVzhSOY?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2OSfNd9e1RjUNIyY0uVzhSOY",
          "object": "charge",
          "amount": 500,
          "amount_captured": 500,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2OSfNd9e1RjUNIyY01uTCvtN",
            "object": "balance_transaction",
            "amount": 500,
            "available_on": 1704240000,
            "created": 1703853697,
            "currency": "usd",
            "description": "You bought http://edgar090c02f1130.test.gumroad.com:31337/l/s",
            "exchange_rate": null,
            "fee": 30,
            "fee_details": [
              {
                "amount": 30,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 470,
            "reporting_category": "charge",
            "source": "ch_2OSfNd9e1RjUNIyY0uVzhSOY",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "GUMRD.COM* EDGAR090C02",
          "captured": true,
          "created": 1703853697,
          "currency": "usd",
          "customer": "cus_PHDpkRvXXpANWV",
          "description": "You bought http://edgar090c02f1130.test.gumroad.com:31337/l/s",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "F_dxwMqktN4_1YQ3Ok0RZg=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 49,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2OSfNd9e1RjUNIyY0ULJmfm1",
          "payment_method": "pm_0OSfNa9e1RjUNIyYDj01XeHn",
          "payment_method_details": {
            "card": {
              "amount_authorized": 500,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2023,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 500,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUog_26rAYyBtD_5ncAdzosFgVgWKLmtoDeTT0zGRgDXCcBxD6TrD7GgtQ7iRKprQ631G--HMWJuXbtXr0",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar090c02f1130",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "204"
        }
  recorded_at: Fri, 29 Dec 2023 12:41:39 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_2OSfNh9e1RjUNIyY0apuNVcw/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a6463996-3b45-47e0-962a-9ee056e3001d
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2OSfNh9e1RjUNIyY0bBQPTkG?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
